[2017-12-12 17:52] mavasani commented on #1230
This is now done.

[2017-12-12 17:52] #1230 closed

[2017-12-12 18:01] mavasani commented on #1382
Audit is done, we have an analyzer to detect missing FixAll support and https://github.com/dotnet/roslyn-analyzers/issues/1420 tracks adding unit tests.

[2017-12-12 18:01] #1382 closed

[2017-12-12 18:04] mavasani commented on #1325
@333fred Can we have different error messages for 2.6.0 release and discuss if we need to avoid flagging this error for such cases in 2.7.0?

[2017-12-12 18:51] 333fred commented on #1325
Yeah, that shouldn't be too difficult.

[2017-12-12 21:10] ArchieCoder commented on #1459
I installed the update 15.5.1 today and this warning appeared. I do not have FxCop in my project.

[2017-12-12 21:11] mavasani commented on #1459
@ArchieCoder Which warning are you talking about? Can you paste the diagnostic?

Do you have any NuGet/VSIX installed analyzers for your project?

[2017-12-12 21:16] ArchieCoder commented on #1459
@mavasani
![vsix and nugets](https://user-images.githubusercontent.com/1608424/33908874-c758ea20-df57-11e7-94a5-b45bd4a72588.png)

[2017-12-12 21:30] mavasani commented on #1459
@ArchieCoder Thanks, can you please also paste your diagnostic info and solution explorer screenshot for the `Analyzers` node (should be under `Dependencies` or `References` node for the project)?

[2017-12-12 21:35] ArchieCoder commented on #1459
@mavasani I sent you an email.

[2017-12-12 21:56] mavasani commented on #1459
I followed up offline with @ArchieCoder and the issue was resolved.

[2017-12-13 01:08] dotnetshadow commented on #1459
I too have the issue where I have Visual Studio 2017 15.5.1 and I have the Marketplace Microsoft Code Analysis 2017 (Version | 2.3.0.62003) VSIX installed.

I too get the AD1000 warning.

Am I supposed to remove the extension and just use the nuget packages? Is there a way to get the extension based on 2.6.0 beta 2?

[2017-12-13 02:07] jamesqo commented on #1389
@333fred Well, I've rebased and all so I'm pretty sure I have the latest bits. Do you know of a way to see what MSBuild is doing so I can look into the issue for myself?

[2017-12-13 02:15] jamesqo commented on #1401
@mavasani I'll grab this.

[2017-12-13 02:32] #870 closed

[2017-12-13 02:35] tmat commented on #1389
Have you tried to delete your VS extension directory (```%USERPROFILE%\AppData\Local\Microsoft\VisualStudio\15.0_*RoslynDev```) before rebuilding?

This is what I see:
![image](https://user-images.githubusercontent.com/41759/33918961-00cce44c-df6b-11e7-9281-0f8c6085bca3.png)

```build -log``` produces a binary log to ```artifacts\debug\log```

[2017-12-13 03:48] #1401 closed

[2017-12-13 08:23] onyxmaster commented on #1081
VS 15.5.1 still has this problem, even though I refreshed https://github.com/onyxmaster/repro-ca1309 to use `2.6.0-beta1` analyzers.
[code]

![image](https://user-images.githubusercontent.com/588253/33928694-df35e260-dff7-11e7-9e05-90c3502ff1eb.png)

Any other version of VS I should look into, or was this case closed prematurely? Should I mention someone explicitly to take a look at this?

[2017-12-13 18:45] 333fred commented on #1081
@onyxmaster we'll look into it.

[2017-12-13 20:53] mavasani commented on #1459
@dotnetshadow Yes, you should get the analyzers via the nuget package https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta2 for VS2017 15.5 or later.

We are currently working on publishing the VSIX for 15.5, but that is currently blocked by https://github.com/dotnet/roslyn/issues/23766

[2017-12-13 21:13] 333fred commented on #1325
@mavasani @sharwell it occurs to me, now that this warning isn't reported for internal types and is only reported on public types, that perhaps this distinction isn't necessary. If are publicly exposing a type, you should probably implement these interfaces, regardless of where the warning is coming from. Thoughts? We should definitely improve the messaging here (we should say what interface you s

[2017-12-13 22:49] dotnetshadow commented on #1459
@mavasani cheers, perhaps the Marketplace can be edited to put a note for people using 15.5 or later so that they know they can't use the extension and should use the nuget packages instead?

[2017-12-13 22:49] mavasani commented on #1459
Tagging @kuhlenh

[2017-12-13 22:51] dotnetshadow commented on #1459
@mavasani Just one thing with the nuget packages, if I have like 5 projects in one solution do I have to apply the nuget package to all projects?

[2017-12-13 22:59] mavasani commented on #1459
@dotnetshadow Yes, NuGet package is a per-project entity. You can also add a PackageReference to a common targets file that is imported by all projects in your solution.

[2017-12-13 23:59] jamesqo opened #1476 "Async005 analyzer: Avoid firing on uninitialized CancellationToken locals/parameters in scope"
#### Analyzer

PropagateCancellationTokensWhenPossible

#### Description

We need to call `SemanticModel.AnalyzeDataFlow` and use the relevant properties off the returned `DataFlowAnalysis` to determine whether the local/parameter we're examining is uninitialized. If it's uninitialized, don't offer a codefix with it as that will result in a compiler error.

Enable the test cases [here]() and [here

[2017-12-14 01:00] jamesqo opened #1477 "Implement analyzers from Unfactored/AsyncPackage"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

This is an umbrella issue I'm opening for all of the Async analyzers that need to be ported to use the new IOperation APIs, in order to link to them from the tests.

@mavasani I saw in a different issue that you're planning to rename the IDs of the Async analyzers. What will be their new IDs?

- [ ] Async001
- [ ] Async002
- [ ] Async003
- [

[2017-12-14 01:28] jamesqo opened #1478 "[Proposal] Add analyzer to warn about infinite recursion"
#### Proposal

We should consider adding an analyzer to warn when a method or property unconditionally recurses (e.g. has no exit points) and will cause a StackOverflowException at runtime. Here's an example of a plausible scenario where this analyzer could help:

[code]

I just ran into a Roslyn bug myself where this would have helped. See https://github.com/dotnet/roslyn/issues/23777

#### Poten

[2017-12-14 04:34] dotnetshadow opened #1479 "TS6053 Incorrect warning displayed"
#### Analyzer package

Using Microsoft.CodeQuality.Analyzers, version [2.6.0-beta2](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta2)

#### Analyzer

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta2](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta2)

#### Repro steps
In asp.net core 2.0 application using a taghelper

[code]

**Severity	Code

[2017-12-14 19:41] 333fred commented on #1479
@dotnetshadow, `TS6053` appears to be a typescript error, and does not come from this analyzer package. I'm not familiar with typescript programming, so I can't really point you at anything beyond web searches, but I'd guess something is wrong with your project build such that the typescript compiler cannot find the referenced file.

[2017-12-14 19:41] #1479 closed

[2017-12-14 20:13] tillig opened #1480 "2.6.0-beta2 analyzers fail under dotnet CLI build, incompatible with net45 / netstandard1.1"
Using:
- dotnet 2.0.3 (from command line)
- Visual Studio 15.5.2
- Microsoft.CodeAnalysis.Analyzers 2.6.0-beta2
- Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0-beta2
- Microsoft.Net.RoslynDiagnostics 2.6.0-beta2

I'm working with the analyzers in the context of the [Autofac](https://github.com/autofac/Autofac) project. If you want to see what I'm seeing, you can play in there.

We were using version

[2017-12-14 20:19] mavasani commented on #1480
@tillig The issue seems to be that your project is using an older compiler toolset. You do not need to add a reference to Microsoft.CodeAnalysis NuGet package to change your toolset compiler, but instead need to update your dotnet CLI/SDK to the one that includes the 2.6.0 compilers.

[2017-12-14 20:23] tillig commented on #1480
OK, updating global.json to force dotnet 2.1.2 seems to have fixed it. That would probably be a good thing to add to the docs; a specific dotnet CLI/SDK version hasn't really been a thing in the past. The 2.3.0-beta1 versions ran fine under 1.1.0.

Thanks!

[2017-12-14 20:25] mavasani commented on #1480
Sure, I will add the information to our docs so it is easy to find in future! Thanks.

[2017-12-14 21:29] 333fred commented on #1478
Definitely an application for the forthcoming dataflow analysis apis. I don't think a reasonable approximation is good enough here without it.

[2017-12-14 23:34] dotnetshadow commented on #1479
@333fred ahh thank you I might have to check into it, yeah I'm not sure why it's trying to look for an external reference

[2017-12-15 15:56] mavasani commented on #1269
@jinujoseph Do you think we need to complete this prior to releasing 2.6.0 stable NuGet/VSIX? If we want the help link to point to docs.microsoft.com, then someone needs to update each and every rule as well as documentation.

[2017-12-15 18:19] amcasey commented on #1479
@dotnetshadow, if you end up determining that the error shouldn't be reported, can you please file an issue on https://github.com/Microsoft/TypeScript/issues?

Incidentally, we've been making a lot of changes in that area recently, and you might want to try moving to the latest TS SDK: https://www.microsoft.com/en-us/download/details.aspx?id=55258

FYI @RyanCavanaugh

[2017-12-15 20:24] jinujoseph commented on #1269
docs.microsoft.com update will take time ... if we have landing wiki page for each of the rule which some information then we are good for 2.6 release

[2017-12-15 20:43] mavasani commented on #1269
Thinking a bit more, help URI should probably take users directly to docs link, as our landing page cannot give much information. Users might end up just having to navigate through 2 links to reach where they want. We should discuss this with the team and decide.

[2017-12-15 20:44] jinujoseph commented on #1269
@kuhlenh what do you think , can doc link be updated in reasonable time

[2017-12-15 20:48] mavasani commented on #1269
Also see point 5 here: https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Documenting%20your%20analyzers.md

[2017-12-15 21:42] jinujoseph commented on #1269
ok , for 2.6 .. helplinks are either pointing to msdn or our landing page. We will switch to doc links once available

[2017-12-15 22:48] mavasani commented on #1269
@jinujoseph The landing page links for our rules are of the following format: `https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs1001-missing-diagnostic-analyzer-attribute`

I think putting this as a help link prevents us from doing any of the following changes in future:
1. Moving the docs to a different location. Cur

[2017-12-15 22:52] mavasani commented on #1269
I propose doing nothing here for 2.6.0 - users can still find help either by getting to msdn page (and then being redirected to docs.microsoft.com) OR by default bing search. We don't need to block the release on this and can avoid half baked changes in 2.6.0, and address this properly in 2.7.0. Thoughts?

[2017-12-15 22:58] jinujoseph commented on #1269
alright , sounds reasonable to me . @kuhlenh @dotnet/roslyn-analysis  for any concern

[2017-12-16 00:10] jamesqo opened #1481 "[Proposal] Async005-like meta analyzer: Propagate CancellationTokens off of contexts"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

PropagateCancellationTokensOffOfContextWhenPossible (proposed name)

#### Description

Roslyn provides different contexts to an analyzer as it analyzes various things, e.g. `OperationAC`, `SymbolAC`, `SyntaxNodeAC`. Each of these contexts has a `CancellationToken` property that the developer is expected to feed to any Cancella

[2017-12-16 00:37] jamesqo opened #1482 "Should the IOperation-based Async003/004 analyzers be merged?"
/cc @333fred, @mavasani

I noticed that in the original implementation, the Async003/004 diagnostics were both handled by the same analyzer: https://github.com/dotnet/roslyn-analyzers/blob/6ff9c17d8fc05fae8b1c48b7a4d25b1e080f0b97/src/Unfactored/AsyncPackage/AsyncPackage/AsyncLambdaAnalyzer.cs. Is there any reason that for the IOperation-based analyzer skeletons, they have been separated into two d

[2017-12-16 00:56] jamesqo opened #1483 "[Discussion] Implementing Async001: AvoidAsyncVoid with IOperation APIs"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AvoidAsyncVoid

#### Description

I would like to take on the task (no pun intended) of implementing `AvoidAsyncVoid` using IOperation. The original implementation chooses not to fire when it detects a method with the signature `async void M(object sender, EventArgs e)`, which is reasonable since that typically indicates an eve

[2017-12-16 01:09] jamesqo commented on #1483
My idea: Maybe we should flag an `async void` method only when we can actually find a location it's actually invoked in source. e.g. We'd flag for the following scenarios:

[code]

We wouldn't flag for these scenarios:

[code]

**Disadvantages:** a library could expose an `async void` method that it does not call in its own code, and a method in a different assembly could call it without the analy

[2017-12-16 01:24] jamesqo opened #1484 "Revisit conditions under which Async002 is fired"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AsyncMethodNamesShouldEndInAsync

#### Description

The old `RenameAsyncAnalyzer` in `Unfactored` fires under the following conditions:

- Return type is `Task` or `Task<T>`
- Method name ends with `Async`
- Method is not `override` or `virtual`

In implementing the IOperation-based analyzer, I propose changing these to the fol

[2017-12-16 02:41] jamesqo commented on #1484
Related: We should also consider detecting when the method name is slightly off because of a typo, e.g. `ConnectAsycn`, and offer `ConnectAsync` instead of `ConnectAsycnAsync` as a code fix. @333fred has Roslyn implemented any typo correction algorithms of this sort before?

[2017-12-17 06:09] jamesqo opened #1485 "Do not run Async002 codefix when renaming will cause a conflict"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AsyncMethodsShouldEndInAsync

#### Description

The codefix should not kick in (but the analyzer should still fire) when appending `Async` to the method name will result in a conflict with an existing method. e.g.

[code]

I'm not sure what the best way to implement this is. The old analyzer simply iterated through each token i

[2017-12-17 06:42] jamesqo opened #1487 "[Proposal] Analyzer that suggests ToUpperInvariant/ToLowerInvariant in place of ToUpper/ToLower"
Something similar is already in place here, but for string comparisons: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Runtime/UseOrdinalStringComparison.cs.

[2017-12-18 03:31] jamesqo opened #1488 "[Proposal] Warn when a variable is null-checked after it is known not to be null"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotNullCheckNonNullVariable (proposed name)

#### Description

When a variable that is known to be non-null is checked for null, issue a warning at the site of the null check. e.g.

[code]

#### Things to consider

- Whether particular methods should be specially recognized when analyzing nullness. e.g. `string.IsNullOrEmpty(

[2017-12-18 18:29] 333fred commented on #1483
I think that disadvantage is a pretty strong reason to flag in all scenarios. We've talked before about ignoring certain diagnostics in test methods before. However, I'm not sure this is a place for them. xUnit tests, at least, should be `async Task`, not `async void`, or you risk race conditions.

[2017-12-18 18:48] onyxmaster opened #1489 "CA2208 does not consider lambda arguments as valid candidates"
#### Analyzer package

Microsoft.NetCore.Analyzers, version [2.6.0-beta2](https://www.nuget.org/packages/Microsoft.NetCore.Analyzers/2.6.0-beta2)

#### Analyzer

InstantiateArgumentExceptionsCorrectly

#### Repro steps
[code]

#### Expected behavior
No warnings are reported.

#### Actual behavior
CA2208 is reported on ArgumentException instantiation.

[2017-12-18 19:15] 333fred commented on #1484
I don't believe we've implemented anything like this before. Some suggestions:

1. Offer to rename if the original definition is in this assembly.
2. Public names are a bit dicey here. This could get really noisy if the user has shipped an assembly and can't change the names of their methods, but at the same time this analyzer is most useful on public methods before they're shipped. I think we mig

[2017-12-18 20:40] heejaechang commented on #1269
@jinujoseph FYI. the search goes to this by default (when uri is not specified) (http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/Utilities/BrowserHelper.cs,17)

this is specialized query that should show links specialized for devs.
if we want special behavior for certain links or query, we should contact them for such behavior.

tagging @srivatsn for contacts for th

[2017-12-18 22:43] srivatsn commented on #1269
If the issue is that these links are not stable enough you can create aka.ms links pointing to these docs and change them later as needed. If the issue is that there's not much useful content yet for these rules then yes I agree that doing nothing is probably as atleast that'll result in a bing search.

[2017-12-19 21:24] jinujoseph commented on #628
@mavasani  moving this to @333fred  as discussed.
@333fred , can you work with Manish to understand what are our option here?

[2017-12-19 23:01] CIPop commented on #1459
+1 started to get this after upgrading to dotnet SDK v2.1.3

[2017-12-19 23:09] 333fred commented on #1459
@CIPop, looking at that repo it appears you're using the 2.3.0-beta1 version of the analyzers. This is expected behavior after upgrading your SDK, please upgrade your analyzer version to 2.6.0-beta2.

[2017-12-19 23:12] CIPop commented on #1459
Is this backward compatible with the old SDK? (We have Jenkins Docker containers, Windows VMs and customers that may still use the old SDK...)

[2017-12-20 18:22] sharwell commented on #1325
@333fred I am in favor of not changing the logic at this time. The messaging could be changed if it will help users.

[2017-12-20 18:25] 333fred opened #1490 "CA1010 should analyze IDictionary as well"
Currently, CA1010 only reports on IList, ICollection, and IEnumerable implementations missing the generic version. We should also look into reporting on dictionary types as well. The original FxCop implementation disregards dictionary types "to reduce noise", http://index/?query=CollectionsShouldImplemen&rightProject=DesignRules&file=CollectionsShouldImplementGenericInterface.cs&line=24, but we sh

[2017-12-20 18:28] 333fred commented on #1459
Unfortunately, it is not. The IOperation API that these analyzers use was finalized with the 15.5 release of VS/2.1.3 release of .NET SDK. This is why previously, you had to enable the IOperation API with `<Features>IOperation</Features>` in your project file, and why the 2.3.0-beta versions of the analyzers no longer work.

[2017-12-20 22:28] davkean opened #1491 "CA1068 shouldn't fire on extensions methods of CancellationToken"
#### Analyzer package

#### Analyzer

CA1068

#### Repro steps

1. See: https://github.com/dotnet/project-system/pull/3060/files/cf65d664b047803252fba07115fcd6244db30531#diff-ecae52b00e17f99d88602b6fbfe7cb74R35

[code]

#### Expected behavior

Not to fire

#### Actual behavior

Fires

[2017-12-20 22:31] sharwell commented on #1491
👍

[2017-12-21 03:20] jamesqo commented on #1491
Seems like this will be an easy fix; I can grab this.

[2017-12-22 18:36] 333fred commented on #375
@dotnet/roslyn-analysis @sharwell @kuhlenh I'd like some input on how correct we think the fixer for this should be. For example:

[code]

In this case, if we offer to fix Baz(Foo) so it takes Baz(I1), there will be an error in the resulting code, as there's two identical Baz signatures. Personally, I think the incorrectness is ok in this scenario. For FixAll scenarios of this, there are possibili

[2017-12-22 20:49] #1325 closed

[2017-12-22 21:01] jamesqo commented on #375
I think there are cases in which this fix should not be applied, e.g. when the type encodes information about what the object represents. One example:

[code]

[2017-12-22 21:13] 333fred commented on #375
That's not something we're able to detect from the analyzer, though. If the user has a legitimate reason to not use the base class/interface, they can suppress the warning.

[2017-12-23 00:13] jamesqo commented on #375
@333fred

I don't think there should be a warning in the first place. The term slipped my mind before, but types of this kind are actually so common that they have a term for them-- "marker interfaces" (e.g. interfaces with no members). Enabling this analyzer would issue a warning every time a marker interface would passed to a method, potentially resulting in a huge number of warnings for large c

[2017-12-23 01:02] jamesqo commented on #1484
@333fred

That is a valid point. However, I think if the library maintainer already has a bunch of methods not suffixed with `Async` then to keep things consistent (s)he may not want to suffix future methods with `Async`. I think it would be best for us to liberally apply the fix, and for maintainers of such projects to just disable the analyzer project-wide.

Definitely, that's a huge thing that

[2017-12-23 01:09] jamesqo commented on #1478
@333fred What new data flow analysis APIs are being introduced?

[2017-12-23 02:49] Joe4evr opened #1494 "[Proposal] Warn/error when foreach iteration variable is explicitly typed differently from the T in the IEnumerable<T>"
This is something that's been on my mind since I found out about it last June, and I filed dotnet/roslyn#20314 for it.

Quick recap:
[code]
I expect that the `IGrouping<string, Foo>` that is being enumerated from the `GroupBy()` call isn't compatible with the type `IGrouping<int, Foo>`, but the compiler accepts this code and silently inserts a cast instead. This only happens in `foreach` loops, as

[2017-12-27 03:56] JuanZamudioGBM opened #1495 "FXCopAnalyzers throws CA1054 warnings even with an overload with Uri"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta2](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta2)

#### Analyzer

Example: URIParametersShouldNotBeStrings (CA1054)

#### Repro steps

1. Have a method like this, which generates a warning
[code]
2. Add an overload to the method
[code]

#### Expected behavior
Warning resolved
#### Actual behavio

[2017-12-27 13:53] sharwell commented on #375
This diagnostic *should* only be reported when the method only uses members that are defined in the base type. Under these rules marker interfaces would typically not trigger this.

[2017-12-27 13:55] sharwell commented on #375
We should avoid reporting a diagnostic if another overload exists that already takes the base type.

[2017-12-27 18:21] 333fred commented on #375
@sharwell yes, that was on my list of things to test.

[2017-12-27 18:29] mavasani commented on #1477
We should decide the IDs before enabling these rules.

[2017-12-27 18:35] mavasani commented on #1477
@srivatsn @jinujoseph @dotnet/roslyn-analysis I do not have any context/history on these rules - does anyone know when we designed these async rules? Are there any design notes? I just see the rule titles at https://github.com/dotnet/roslyn-analyzers/blob/master/src/Unfactored/AsyncPackage/AsyncPackage.md, but could not find any further documentationon these.
@jamesqo We need more clarity on the d

[2017-12-27 18:36] 333fred commented on #1478
@jamesqo there are no dataflow analysis APIs at all currently. We can't statically determine things like mutual recursion, multiple recursion, or even whether or not recursion conditions can actually be satisfied. We can certainly detect basic conditions like the initial example, but false-positives would be incredibly common for attempting to detect anything beyond the basic example.

[2017-12-28 15:59] jamesqo commented on #1478
What does the `AnalyzeDataFlow` API on `SemanticModel` do then?

[2017-12-28 20:50] 333fred commented on #1478
`AnalyzeDataFlow` is a relatively limited API that doesn't actually let you define the analysis being performed, it's main purpose is for definite assignment. You couldn't use it to determine if recursion conditions will be met, for example.

[2017-12-29 11:24] verysimplenick commented on #1331
@333fred, @jinujoseph  one weekend in 2017 remains.
Still waiting... :(

[2017-12-29 16:55] mavasani commented on #1331
@kuhlenh Can we publish the VSIX after the holidays? Note that on 15.5.1, https://github.com/dotnet/roslyn/issues/23766 still causes issues when both NuGet and VSIX are installed. @heejaechang @jinujoseph When are we releasing the next 15.6 preview which will contain the fix for https://github.com/dotnet/roslyn/issues/23766?

[2017-12-29 18:29] samsmithnz commented on #1313
is there another issue opened to fix the root cause (e.g. code analysis is enabled?) I agree with other posters that disabling code analysis is not a solution, it's a (hacky) workaround...

[2017-12-29 19:00] 333fred commented on #1313
@samsmithnz, I'm not sure what you're asking for here. `RunCodeAnalysis` is part of the old FXCop framework, and we won't be fixing the CA0055/CA0052 errors in that analysis framework.

[2017-12-29 19:02] #1491 closed

[2017-12-29 19:05] samsmithnz commented on #1313
Got it, I didn't understand that sorry.

It seems then that it's not possible to have Code Analysis enabled on the build in a solution with a mix of .Net Framework and .Net core assemblies?

[2017-12-29 19:28] BioTurboNick commented on #1313
Okay, so the root problem is really:
1. Code Analysis is being phased out in favor of Roslyn analyzers.
2. The UI in VS provides access to former but not the latter.
3. There's nothing to direct users away from the old model to the new model.
4. There's no discoverability/ease of use for the new model.

[2017-12-29 19:36] mavasani commented on #1313
@BioTurboNick That is the exact story that @333fred is currently investigating. Fred, do you have a tracking work item for the same?

Until the migration story is complete, please follow the below steps:
1. Add a NuGet package reference to https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers in your project. Refer to https://github.com/dotnet/roslyn-analyzers#recommended-version-of

[2017-12-29 19:42] 333fred commented on #1313
I don't have tracking item for this at the moment, I'm planning on opening one after the holidays are over and we have a more complete plan of what experience we want is.

[2017-12-29 22:21] jinujoseph commented on #1331
This fix will be part of our 15.6 preview 2  release, should be available sometime during the 2'nd/3'rd week of January.

[2017-12-30 18:34] jakubsuchybio commented on #1459
@mavasani Hey you said it was blocked by dotnet/roslyn#23766 but that is already closed. So can this be published for 15.5+? Thx

[2018-01-02 18:26] 333fred commented on #1459
That bug was fixed for future releases of VS, namely 15.6. @mavasani can confirm, but I don't believe we are backporting the fix to 15.5.

[2018-01-02 19:24] 333fred commented on #1114
I could see a limited fixer for scenarios like `1, 2, 2, 3 -> 1, 2, 3, 4`, but figuring out which one to change seems like an exercise in futility. I'm going to close this now that the analyzer implementation is checked in. FYI @jinujoseph.

[2018-01-02 19:24] #1114 closed

[2018-01-03 17:44] livarcocc opened #1499 ".net core code metrics"
_From @EncoderPtd on December 13, 2017 4:3_

As we know there's a useful function for .net projects:
Analyze -> Calculate Code Metrics
It can give out some detailed information of the project.

May i ask if it is now supported for .net core projects? I can't find it. :)
Which repository should this issue be placed in?

_Copied from original issue: dotnet/cli#8228_

[2018-01-03 17:44] livarcocc commented on #1499
Is this a Code Metric supported in VS?

@jinujoseph is this supported by analyzers?

[2018-01-03 17:44] livarcocc commented on #1499
_From @EncoderPtd on December 13, 2017 4:50_

Yeah, it's in VS, provides calculation of code lines and some code relation analysis.

[2018-01-03 17:50] mavasani commented on #1499
Code metrics is a feature implemented on legacy FXCop Introspection engine. Making CodeMetrics work for .net core projects would require the FXCop assembly resolution to work these assemblies. Unless we are planning to add special analyzers that implement similar analysis as code metrics engine (which might probably be lesser work, but still is non-trivial).

[2018-01-03 18:46] 333fred commented on #531
@jamesqo is actually working on this issue, assigning to myself to track.

[2018-01-04 02:36] yoDon commented on #1480
In case anyone else is having this issue in connection with Visual Studio 2017, I found that updating to the latest VS2017 (15.5.2 at the time I upgraded) fixed this issue for me.

[2018-01-04 18:01] jinujoseph commented on #1454
pending vsix release

[2018-01-04 18:02] jinujoseph commented on #1407
closed via https://github.com/dotnet/roslyn-analyzers/pull/1463

[2018-01-04 18:02] #1407 closed

[2018-01-04 19:00] mavasani opened #1501 "Write an analyzer rule to warn if custom tags argument is not provided to the DiagnsoticDescriptor ctor"
#### Analyzer

DiagnosticDescriptorCreationAnalyzer

#### Details

Rule should be disabled by default and turned on for our own repos (Roslyn, Roslyn-analyzers, etc.)

[2018-01-04 19:57] jamesqo commented on #1494
I think this is a good idea, but it should not kick-in for nongeneric collections that only implement `IEnumerable`.

[2018-01-04 21:16] chillryan opened #1503 "Microsoft CodeAnalysis OOM Exception"
I've reported this issue through the visual studio feedback tool [see link](https://developercommunity.visualstudio.com/content/problem/174842/visual-studio-155-crashes-when-switching-git-branc.html) but figured I'd try my chances posting here.

I'm using the Code Analysis 2017 extension for VS 2017 15.5. In looking at the stack trace, I can only assume that since the extension is running inside t

[2018-01-04 21:23] mavasani commented on #1503
Thanks @chillryan. Issue has been ported to https://github.com/dotnet/roslyn/issues/24055

[2018-01-04 21:23] #1503 closed

[2018-01-04 22:40] mavasani commented on #1459
The extension for 15.5+ has been published: https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017

Note that next Visual Studio preview release should have resolved dotnet/roslyn#23766, at which point you should be able to have both the VSIX and NuGet package installed simultaneosly.

[2018-01-04 22:40] #1459 closed

[2018-01-04 22:41] mavasani commented on #1454
The extension for 15.5+ has been published: https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017

Note that next Visual Studio preview release should have resolved dotnet/roslyn#23766, at which point you should be able to have both the VSIX and NuGet package installed simultaneosly.

[2018-01-04 22:41] #1454 closed

[2018-01-05 20:32] OmarTawfik opened #1506 "Roslyn Public API analyzer tool passes invalid configuration"
In this PR: https://github.com/dotnet/roslyn/pull/24023

A few changes were made to rename an API. Thus adding `*REMOVED*` entries in the `Unshipped.txt` file, and adding new entries for the new API. To guard against breaking compatibility, the removed APIs were added again to source.

I expected the tool to fail, as the `Unshipped.txt` file has `*REMOVED*` entries that still exists in source, but

[2018-01-05 23:46] #1318 closed

[2018-01-06 11:59] KrisVandermotten opened #1508 "CA1820 incorrectly fires in LINQ expressions"
#### Analyzer package

Microsoft Code Analysis, version 2.6.0.6241303

#### Analyzer

CA1820

#### Repro steps

Consider the following program:

    using System.Linq;

    class C
    {
        void M(IQueryable<string> strings)
        {
            var q = from s in strings
                    where s == ""
                    select s;
        }
    }

#### Expected behavior

CA1820 is not rai

[2018-01-07 22:05] jamesqo commented on #396
@333fred I can grab this. Do you know what APIs I can use to start a rename session?

[2018-01-08 14:48] KrisVandermotten opened #1509 "CA1003 false positive and bad message"
#### Analyzer package

Microsoft Code Analysis, version 2.6.0.6241303

#### Analyzer

CA1003

#### Repro steps

Create a WPF project. In there, add the following class:

    using System.Windows;

    public class Example : UIElement
    {
        public static readonly RoutedEvent ExpandedEvent = EventManager.RegisterRoutedEvent(
            "Expanded", RoutingStrategy.Bubble, typeof(RoutedEventH

[2018-01-08 15:24] KrisVandermotten opened #1510 "False positives in CA2235"
#### Analyzer package

Microsoft Code Analysis, version 2.6.0.6241303

#### Analyzer

CA2235

#### Repro steps

In a .NET 4.6.1 project, add this class:

    using System;

    [Serializable]
    class C
    {
        DateTime date;
    }

#### Expected behaviour

No CA2235 diagnostics.

#### Actual behaviour

A diagnostic is reported with message `Field date is a member of type C which is seriali

[2018-01-08 16:28] mavasani commented on #1510
What version of analyzer NuGet package are you using?

[2018-01-08 18:00] KrisVandermotten commented on #1510
No Nuget, latest vsix.

[2018-01-08 18:24] KrisVandermotten opened #1511 "CA1822 should not fire for methods used in delegate constructors"
#### Analyzer VSIX

Microsoft Code Analysis, version 2.6.0.6241303

#### Analyzer

CA1822

#### Repro steps

Consider this code:

    public sealed class MyAnalyzer : DiagnosticAnalyzer
    {
        public override void Initialize(AnalysisContext context)
        {
            context.RegisterSyntaxNodeAction(AnalyzeForEachStatement,
                ImmutableArray.Create(SyntaxKind.ForEachStateme

[2018-01-09 02:59] kentcb opened #1512 "An instance of analyzer Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer cannot be created from .../Microsoft.NetCore.Analyzers.dll"
#### Analyzer package

`Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0-beta2`

#### Analyzer

`TestForNaNCorrectlyAnalyzer`, but I'm guessing any of them.

#### Repro steps

1. Use the analyzer package.
2. Try and build on Mac (Bitrise)

#### Expected behavior

It builds.

#### Actual behavior

It fails to build:

[code]

[2018-01-09 03:27] kentcb commented on #1512
Duplicate of literally my own issue, sorry. #1453

[2018-01-09 03:27] #1512 closed

[2018-01-09 09:41] KrisVandermotten commented on #1511
Actually, the C# compiler does emit a `callvirt` instruction when calling instance methods because of the implied null check, if the method is called. In my example, there is no call site. The only calls to the method are through the delegate.

Yes, if and only if they are called through delegates.

Consider this method:

    static IEnumerable<int> Filter(IEnumerable<int> source) => source.Where(

[2018-01-09 15:35] jamesqo commented on #1511
IIRC `callvirt` doesn't necessarily mean a virtual call. I can't find where I read that, but quoting from https://blogs.msdn.microsoft.com/ericgu/2008/07/02/why-does-c-always-use-callvirt/:

If you are executing it on a very long `int[]` then you should be writing a manual for-loop?

OK, then maybe it should be moved to a different category like Maintainability.

[2018-01-09 16:29] KrisVandermotten commented on #1511
Indeed, it does not. I never said it did. But we're on a tangent. The point is that the message claims that making this method static will improve performance, were in fact it is just the opposite.

Then people will make the change because Microsoft said it's Good for Maintainability. Is it? But again, that's a tangent.

The point is that making a method static is good for performance, if the meth

[2018-01-09 16:39] KrisVandermotten commented on #1511
See also [Code generation differences compared to previous compilers](https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/CodeGen%20Differences.md) in the Roslyn documentation:

[2018-01-09 21:18] mavasani commented on #1509
Adding @sharwell @333fred as this seems to be very similar to https://github.com/dotnet/roslyn-analyzers/issues/1325 and [this comment](https://github.com/dotnet/roslyn-analyzers/issues/1325#issuecomment-345441878) from Sam clarifies our stance - `RoutedEventHandler` is not a generic event handler and hence doesn't follow recommended guidelines. You should suppress this diagnostic if you feel ther

[2018-01-09 21:37] KrisVandermotten commented on #1510
Unfortunately, `DateTime` is not the only type with this problem. [`Nullable<T>`](https://msdn.microsoft.com/en-us/library/b3h38hb0.aspx) is another one (and I'm afraid there may be more).

    [Serializable]
    class C
    {
        long? l;
    }

[2018-01-09 22:12] KrisVandermotten commented on #1509
I thought the guideline was not to create new types for event handlers, but to use `EventHandler<T>` instead of creating new types. Here however, we are not creating a new type, we are using an existing one.

That is also what makes this different from #1325. There a new type is created (that violates a guideline).

[The documentation for CA1003](https://docs.microsoft.com/nl-be/visualstudio/code-

[2018-01-09 22:27] mavasani commented on #1510
The only real way to identify all types marked as serializable in metadata is to read the metadata type attribute flags. This information is not publically exposed on ITypeSymbol: http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Symbols/Metadata/PE/PENamedTypeSymbol.cs,2043. So our best option is to identify and special case all such types which are marked as Serialized in metadata but do no

[2018-01-10 00:03] mavasani commented on #1510
Filed https://github.com/dotnet/roslyn/issues/24133 to expose `IsSerializable` API in Roslyn. Until then, we can either switch to using reflection or detect such types by adding to our special case list. @dotnet/roslyn-analysis any preferences?

Verified that following code does work fine:
[code]

[2018-01-10 00:12] mavasani commented on #1509
@KrisVandermotten You are absolutely correct, our analyzer implementation seems to be incorrect and does not match the documentation. I also double checked the legacy FxCop implementation and the analyzer only flags explicit delegate declarations, not event symbols itself. I will update the PR to fix the analyzer to match the documentation and legacy FxCop behavior

[2018-01-10 00:39] mavasani commented on #1509
I looked further at the history of this analyzer and verified this analyzer got added with https://github.com/dotnet/roslyn-analyzers/pull/830. We tried to combine CA1003 and CA1009 (which fires for incorrect signature of delegate used as an event handler), which probably led to incorrect implementation. I will clean this up, thanks @KrisVandermotten

[2018-01-10 01:22] heejaechang commented on #1510
+1 on reflection if it will be temporary until roslyn expose type attribute.

[2018-01-10 23:39] mavasani commented on #1509
@KrisVandermotten I have a PR out to fix this: https://github.com/dotnet/roslyn-analyzers/pull/1517. I verified the diagnostic is no longer reported for your repro.

[2018-01-11 01:00] mavasani opened #1520 "Revert workaround for https://github.com/dotnet/roslyn/issues/3898"
https://github.com/dotnet/roslyn-analyzers/pull/1519 introduced a temporary reflection based workaround for https://github.com/dotnet/roslyn/issues/3898. This reflection based code must be removed once the underlying Roslyn bug is fixed.

[2018-01-11 06:04] #1511 closed

[2018-01-11 06:05] #1509 closed

[2018-01-11 18:09] #1510 closed

[2018-01-11 19:17] mavasani commented on #1495
The issue here is that [ParameterTypesAreSame](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/Extensions/ISymbolExtensions.cs#L273) isn't correctly performing equality checks for type parameters.

[2018-01-12 13:17] MaxTranced opened #1524 "CA1507 triggers regardless of VS project "Language Version" setting"
#### Analyzer package

Example: Microsoft Code Analysis 2017, version [2.6.0.6241303]
(https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017)

#### Analyzer

Example: CA1507 "Use nameof in place of string literal"

#### Repro steps

Open a Visual Studio 2017 C# project that sets the advanced build setting "Language version" to C# 5. The CA1507 sugge

[2018-01-12 19:33] alrz opened #6232 "Warn if stackalloc would throw with a constant size at runtime"

[2018-01-12 20:31] #459 closed

[2018-01-12 21:21] mavasani commented on #1364
This is being caused due to Roslyn bug: https://github.com/dotnet/roslyn/issues/24212

I will add a workaround for this in the fixer.

[2018-01-12 21:23] #1495 closed

[2018-01-12 21:53] mavasani opened #1526 "Remove unused locals fixer"
We should remove the fixer for unused locals from our repo once https://github.com/dotnet/roslyn/pull/24077 is merged in.

[2018-01-13 01:18] AArnott commented on #1081
The stable 2.6.0 package still repros this.

[2018-01-13 18:30] 333fred commented on #1081
@mavasani, do you know any reason why we are analyzing binary expressions in CA1309 at all? As far as I can tell, there's nothing in the original FXCop implementation to analyze them, so I'm not sure why this was added. @srivatsn or @genlu, you're the only other authors I can track through git history (though that was just moving files around), do either of you have any context?

[2018-01-13 18:34] 333fred commented on #628
Moving this out to Unknown milestone, as the non-dfa version is in and the complete version will need dataflow.

[2018-01-16 18:11] #1526 closed

[2018-01-16 20:53] 333fred commented on #1369
Looks like MSTest doesn't have a method for this like x/NUnit, but instead has the `ExpectedException` annotation. I'll also support ignoring the last statement of a method if it has that annotation.

[2018-01-16 21:09] mavasani commented on #1081
@333fred I could not find any reason why we are analyzing binary expressions in this analyzer. I also confirmed FxCop does not complain about these cases. Let us match FxCop here and change our existing unit tests to match this behavior.

[2018-01-17 16:11] alfredmyers commented on #1459
Is the extension still in preview as stated in https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017 ?
I installed it and after I added the 2.6.0 NuGet packages for testing on Visual Studio 15.5.3 I get the error referenced at https://github.com/dotnet/roslyn/issues/23766

[2018-01-17 17:02] alfredmyers opened #1531 "Following Getting Started doesn't work"
Following the steps described in the Getting Stared section of https://github.com/dotnet/roslyn-analyzers/blob/master/README.md doesn´t work.
Namely: `msbuild RoslynAnalyzers.sln`, `cibuild.cmd`, and `msbuild BuildAndTest.proj`

The output of running `msbuild RoslynAnalyzers.sln` can be seen here: https://gist.github.com/alfredmyers/4b93a27af706a3a1a70ce2bcbe3b9456

[2018-01-17 22:28] jamesqo commented on #1465
@mavasani I would like for this issue to be resolved so my PRs that implement some Async analyzers can move forward. As a question, what is the criteria for determining whether a set analyzers get their own ID range? Also, do the ID numbers carry any significance, or do you just assign the next available range to new analyzers?

Is there anything wrong with the [existing categories](https://github

[2018-01-17 23:02] johnweeder opened #1533 "VSTS build fails after updating to 2.6.0"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers, version 2.6.0(https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

Updated nuget from 1.1.0 to 2.6.0 in a C# .NET Framework 4.6.1 class library project.

VSTS builds now fail with the following errors.

#### Repro steps

1. Create C# .NET Framework 4.6.1 assembly with Microsoft.AspNetCore.Mvc 2.0.0 nu

[2018-01-17 23:50] mavasani commented on #1465
@jamesqo We probably don't want to introduce a new `Library` category, you can use `Design` for now. Also please use IDs in the range for each category, instead of `AsyncXXX`: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/DiagnosticCategoryAndIdRanges.txt

[2018-01-18 00:17] mavasani commented on #1533
@johnweeder Which version of VS or compiler toolset are you using? Please choose the analyzer package version as per https://github.com/dotnet/roslyn-analyzers/#recommended-version-of-analyzer-packages

[2018-01-18 03:23] AbelHu opened #1534 "ScanFailureBinaryFxcopNonFatal with the error code 0x808"
We run FxCop for all projects (> 50) but FxCop returns 0x808 for one project (C#, DLL) which is loaded dynamically as a plugin by other projects. Do you have any suggestion for us? Thanks.

Log:
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="c:\xxx\.a\oacr.xxx.nh8kfsqm3j09islgd8_v-q\amd64\fxcop\14.0\Xml\FxCopReport.xsl"?>
<FxCopReport Version="14.0">
 <Localized>
  <

[2018-01-18 17:41] mavasani commented on #1533
Kindly re-activate if you are seeing this issue on 2.6.0 analyzer packages on VS 2017.5 RTW or later.

[2018-01-18 17:41] #1533 closed

[2018-01-18 18:09] johnweeder commented on #1533
This issue does **NOT** arise on my local development machine running 15.5.4.
This issue **DOES** arise on VSTS builds.

1) I do NOT have codeanalysis enabled
2) Something attempts to load this assembly anyway during the build (d:\a\1\s\packages\Microsoft.CodeAnalysis.Analyzers.2.6.0\analyzers\dotnet\cs\Microsoft.CodeAnalysis.CSharp.Analyzers.dll : Could not load file or assembly...) and
3) The bu

[2018-01-18 18:11] mavasani commented on #1533
@johnweeder Can you try to add a NuGet package reference to https://www.nuget.org/packages/Microsoft.Net.Compilers/2.6.1 to your project? This will ensure that the compiler toolset used to build your project will always be the same, regardless of what VS or VSTS build is installed.

[2018-01-18 18:12] johnweeder commented on #1533
I will try this. Please give me an hour or so. I am at lunch right now.

[2018-01-18 18:57] 333fred commented on #1531
@alfredmyers thanks for letting us know, the instructions are out of date. I'll submit a PR to update shortly, but for now just run `build.cmd` from the command line and it should build just fine.

[2018-01-18 19:30] johnweeder commented on #1533
@mavasani Adding the Microsoft.Net.Compiler 2.6.0 resolved the issue on VSTS. Thank you.

[2018-01-18 19:43] alfredmyers commented on #1531
Running `build.cmd` results in:

[code]

[2018-01-18 20:49] #1364 closed

[2018-01-18 20:53] 333fred commented on #1531
@tmat?

[2018-01-18 22:43] tmat commented on #1531
You need to run `restore` before `build`. I have updated the doc:

https://github.com/dotnet/roslyn-analyzers/pull/1536/commits/5da5d19f6a0739074d20e7bf05393e5769fbbc75

[2018-01-18 22:50] tmat commented on #1531
Actually I'm mistaken. Restore is done by ```build``` automatically.

[2018-01-18 22:55] 333fred commented on #1531
@alfredmyers can you try cleaning the repo and your nuget cache and trying again? Running `build` is working for me.

[2018-01-19 00:07] AmadeusW opened #1537 "CA1065 Triggers on ArgumentOutOfRange inside indexer, but shouldn't"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0)

#### Analyzer

DoNotRaiseExceptionsInUnexpectedLocationsAnalyzer

#### Repro steps

[code]

#### Expected behavior

CA1065 is not raised, as per [Property design guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/prop

[2018-01-19 09:18] jinujoseph commented on #1459
@alfredmyers unfortunately the fix for 23766 is not in 15.5 , it's available only from 15.6.preview3

[2018-01-20 01:03] mavasani commented on #411
This rule uses StringContent dataflow analysis and should be implementable once we merge https://github.com/dotnet/roslyn-analyzers/pull/1541

[2018-01-20 01:04] mavasani commented on #529
This rule uses StringContent dataflow analysis and should be implementable once we merge https://github.com/dotnet/roslyn-analyzers/pull/1541

[2018-01-22 02:00] jamesqo commented on #1490
I'd be glad to take on this issue.

How would we test that? Is there a reference codebase we run these analyzers on (e.g. Roslyn)

[2018-01-22 02:01] jamesqo commented on #374
I'll implement the fixer. @mavasani Could you tag me?

[2018-01-22 03:07] jamesqo commented on #374
Some thoughts I had while writing the fixer:

- Should we offer to implement `IReadOnlyList<T>` / `IReadOnlyCollection<T>` in addition to generic IList/ICollection?
- I don't think there's a good way to tell what the generic type should be. Should we put the user in a rename session for the type argument?

[code]

- How do I unit test a rename session? (I'm calling it "rename session" but I forgot

[2018-01-22 03:58] 333fred commented on #1490
We generally run the analyzers over large codebases. 2 that we use regularly are roslyn and json.net.

[2018-01-22 20:25] adraut opened #1543 "CA1801 Review Unused Parameters is raised during compilation with VB XML literals"
#### Analyzer package
Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer
ReviewUnusedParametersAnalyzer

#### Repro steps
1. Create a VB full framework project.
2. Add the analyzers packages.
3. Add a class like the below to the project
[code]
4. Close the Class C file.
5. Build.
6. Observe that the diagnostic/warni

[2018-01-22 20:32] 333fred commented on #1543
I noticed with a few other instances in the project-system repo just now, not just related to VB.

[2018-01-22 20:57] mavasani commented on #1543
@333fred Can we investigate this further and find if the root cause is IOperation bugs?

[2018-01-22 20:57] corruptmem opened #1544 "CA1822 Mark Members As Static should not trigger for methods containing only NotImplementedException"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version 2.6.1-beta1-62512-01

#### Analyzer

MarkMembersAsStatic (CA1822)

#### Repro

Method that just throws NotImplementedException. For example:

[code]

#### Expected behavior

No error.

I think it is reasonable to assume that a method that currently always throws NotImplementedException is just a stub, and once implemented will access

[2018-01-22 21:05] corruptmem opened #1545 "CA1801 Review Unused Parameters triggers on NotImplementedException methods when an argument has default value"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version 2.6.1-beta1-62512-01

#### Analyzer

ReviewUnusedParameters (CA1801)

#### Repro

Method that throws NotImplementedException and at least one of the parameters has a default value.

For example:

[code]

#### Expected behavior

No error.

There is no check triggered if the method signature is:

[code]

Setting a default parameter valu

[2018-01-22 21:33] adraut opened #1546 "CA1823 raised correctly for partial classes, but disappears once opening the file"
#### Analyzer package
Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer
AvoidUnusedPrivateFieldsAnalyzer

#### Repro steps
1. Create a C# full framework project.
2. Add the analyzers packages.
3. Add a file like the below to the project with 2 partial class declarations
[code]
4. Close the file.
5. Build.
6. Observ

[2018-01-22 22:16] 333fred commented on #1545
Very likely that this is a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/1394. All of the errors @mavasani listed in that bug have a default value.

[2018-01-22 22:22] mavasani opened #1547 "Pending issues for initial StringContent dataflow analysis"
https://github.com/dotnet/roslyn-analyzers/pull/1541

- [ ] Analyze lambda and local functions and flow the values from it's exit block to CurrentAnalysisData
- [ ] Analyze string constructor invocations for string content analysis
- [ ] Handle invocation of special string methods (Format, SubString, Replace, Concat, etc.)

[2018-01-22 22:30] 333fred commented on #1545
Yeah, this is a dupe of #1394.

[2018-01-22 22:32] 333fred commented on #1545
Actually, they have similar reasons, but not quite the same fix. The issue here is that we check to see if the body of the function is just a throw operation, but we don't account for the `IParameterInitializerOperation` if its present.

[2018-01-23 09:02] ActionJ4ckson opened #1548 "This extension is not installable on any currently installed products."
Hey folks

I am unable to install the VSIX extension on Visual Studio Community 2017 v15.4.0. Am I missing anything?

Microsoft Code Analysis 2017, version [2.6.0.6241303]
(https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017)

![untitled](https://user-images.githubusercontent.com/27288270/35266417-4cb7d8ea-0049-11e8-944c-3e9fb02584eb.png)

Error L

[2018-01-23 18:18] 333fred commented on #1548
@ActionJ4ckson, you must have 15.5 or greater for the extension to be installable.

[2018-01-23 18:18] #1548 closed

[2018-01-23 21:34] alfredmyers commented on #1531
My knowledge of NuGet is kind of limited, so I'm probably doing something wrong. But I resolved the issue downloading the nuget package manually and copying its folder contents to `%USERPROFILE%\.nuget\packages\RoslynTools.RepoToolset\1.0.0-beta-62503-02\`

[2018-01-23 21:34] #1531 closed

[2018-01-23 23:09] #1369 closed

[2018-01-23 23:09] #1545 closed

[2018-01-23 23:10] #1397 closed

[2018-01-23 23:16] 333fred commented on #1394
This is being caused by https://github.com/dotnet/roslyn/issues/15840. We call `FindImplementationForInterfaceMember` on `TestDependency` with the interface `SetProperties` method, and it returns null, so we end up thinking that `TestDependency.SetProperties` does not implement the interface method.

[2018-01-24 00:21] 333fred commented on #1378
I talked with @nguerrera earlier. For this rule, the idea is that even with the new keyword, you aren't actually hiding anything. The base method will still be visible to consumers of the class, even if you use the new keyword. I'm not sure that, given the presence of the new keyword, that's enough reason to keep CA2222 around. @mavasani and @sharwell, thoughts?

[2018-01-24 00:27] mavasani commented on #1378
I agree with you and @sharwell. CA2222 doesn't seem to provide too much of a value add over compiler diagnostics, and we can get it back in future if we get feedback.

NOTE: We would need to change the fixer to work on compiler diagnostics.

[2018-01-24 04:33] ActionJ4ckson commented on #1548
@333fred Ahh I see. Thanks buddy.

[2018-01-24 05:55] AlekseyTs commented on #1394
If this issue is caused by #15840, why are we looking at the base class from source and at the derived type from metadata?

[2018-01-24 15:52] adraut opened #1550 "CA1820 Does not trigger for string value > or < string.empty tests in VB."
#### Analyzer package
Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer
TestForEmptyStringsUsingStringLengthAnalyzer

#### Repro steps
[code]

#### Expected behavior
CA1820 diagnostic is reported.

#### Actual behavior
CA1820 diagnostic is not reported.

[2018-01-24 17:51] mavasani commented on #529
#1541 is merged.

[2018-01-24 17:51] mavasani commented on #411
#1541 is merged.

[2018-01-25 14:47] sharwell commented on #1477
:memo: [DotNetAnalyzers/AsyncUsageAnalyzers](https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers) has some initial work on the subject.

[2018-01-26 09:41] x3ntrix opened #1551 "CA1024 False-positive when class implements IXmlSerializable"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA1024: Use properties where appropriate

#### Repro steps

Create a class that implements IXmlSerializable:

    public class Example : IXmlSerializable
    {
        public XmlSchema GetSchema()
        {
            return null;
        }

[2018-01-26 18:53] 333fred commented on #1377
CA2222 is being removed, tracking with https://github.com/dotnet/roslyn-analyzers/issues/1378.

[2018-01-26 18:53] #1377 closed

[2018-01-26 18:53] 333fred commented on #1383
CA2222 is being removed, tracking with https://github.com/dotnet/roslyn-analyzers/issues/1378.

[2018-01-26 18:53] #1383 closed

[2018-01-26 19:19] conniey opened #1552 "CA1307 Incorrectly reports string.Replace(string,string) on platforms without string.Replace(string, string, StringComparison)"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0)

#### Analyzer

CA1307: Specify StringComparison

#### Repro steps

1. Create test.csproj
[code]
2. Create Program.cs
[code]
3. Execute `dotnet build`

#### Expected behavior
It builds. There is no overload for string.Replace() that takes System.

[2018-01-26 19:30] 333fred commented on #1378
@mavasani there already appears to be an ide fixer for adding the new keyword. Should we be continuing to fire about increasing accessibility, since CS0108 does not? As an example:
[code]
[code]

Namely, the fix for CA2222 doesn't seem too relevant to the original.

[2018-01-26 19:37] 333fred commented on #1552
@conniey, this warning is not incorrect. The Replace method it's telling you to use is https://docs.microsoft.com/en-us/dotnet/api/system.string.replace?view=netcore-2.0#System_String_Replace_System_String_System_String_System_StringComparison_

[2018-01-26 20:01] conniey commented on #1552
@333fred Hey,

I'm a little confused because Intellisense does not have this and the [MSDN Documentation](https://msdn.microsoft.com/en-us/library/system.string_methods(v=vs.110).aspx).

The first one is string.Replace(char, char). Is there a package I am missing?
![image](https://user-images.githubusercontent.com/10136526/35458285-99c2efe6-0290-11e8-8845-c15b2ecbd573.png)

[2018-01-26 20:06] conniey commented on #1552
Ahh, I see. My application is targeting `netcoreapp1.0` and `net461` which don't have this overload. Thanks for the clarification!

[2018-01-26 21:16] mavasani commented on #1378
In that case, we can remove our fixer as well.

[2018-01-26 23:58] 333fred commented on #1552
The applies to section applies to the string.Replace method as a whole, all overloads of it, and there is a version of Replace for 1.0 (the char/string only overloads). That being said, we shouldn't be flagging code for using this API when it doesn't exist. I'll reopen the issue and update the title.

[2018-01-29 09:07] froufrou121 commented on #1489
I have the same issue with version 2.6.0.6241303. It would be nice if that was fixed rapidly.

[2018-01-29 13:58] drauch commented on #476
What's the status on this one? : ) Since we've ported our projects to the new format we cannot use FxCop anymore - we still want to get warned when not disposing objects! Is there a workaround so that the compiler outputs a warning? Some kind of analyzer? At least a beta analyzer?

[2018-01-29 15:08] sharwell commented on #476
:memo: In the meantime, the [DotNetAnalyzers/IDisposableAnalyzers](https://github.com/DotNetAnalyzers/IDisposableAnalyzers) project by @JohanLarsson may provide the desired functionality.

[2018-01-29 16:40] sharwell commented on #1551
The general approach used in StyleCop Analyzers is to report the diagnostic only on the original definition.

* It seems obvious that methods with `override` should not ever report CA1024
* It seems reasonable that methods implementing an interface method should not report CA1024

[2018-01-29 17:09] mavasani commented on #476
@drauch We are currently working on preliminary DFA based experimental analyzer for dispose rules. We hope to have a beta package with the experimental DFA rules published in a few weeks.

[2018-01-29 18:55] #1378 closed

[2018-01-30 01:03] #1396 closed

[2018-01-30 02:35] jamesqo commented on #1489
@mavasani I have a PR implementing the fixer for this. Should I fix this bug there or do it in a separate PR?

[2018-01-30 02:40] jinujoseph commented on #1489
@jamesqo prefer separate PR so we can get the fix early and not blocked by fixer changes.

[2018-01-30 08:14] drauch commented on #476
Thanks @sharwell , this looks really nice at first sight. I'll give it a try!

[2018-01-30 18:48] 333fred commented on #375
@sharwell I think I misunderstood your commend when I originally replied. How would you suggest dealing with multiple methods that can be simplified to the same base-type in the fix-all scenario? Personally, I think that if the user has a legitimate reason to not use the base type (and probably merge this method and the conflicting implementation) then they should suppress the warning and indicate

[2018-01-30 19:27] 333fred commented on #1399
We took the approach of excluding unit tests from CA1806 in https://github.com/dotnet/roslyn-analyzers/issues/1369, we should do the same here.

[2018-01-30 20:13] #1524 closed

[2018-01-31 22:16] #1399 closed

[2018-01-31 22:42] 333fred commented on #1241
The problem here is that we explicitly flag bodies with just methods marked as conditional, but we don't then check to see if the method is excluded conditionally. I've filed https://github.com/dotnet/roslyn/issues/24569 for exposing the ability to get preprocessor info for a given syntax node, so we can check to see if the method is guarded by `#if DEBUG` flags.

[2018-02-01 02:00] sharwell commented on #1241
My understanding is you currently treat all conditional methods as not included in the compilation output. After the change, you will start to treat them as included if the conditional symbol applied to the method definition is defined at the point of the call. Is this correct?

[2018-02-01 18:03] 333fred commented on #1241
Yep, that's correct. The idea is that if the user has a method with just `Debug` calls in it, we can then tell them to wrap with `#if DEBUG`.

[2018-02-03 07:09] jinujoseph opened #1558 "CA2100 is being reported for literal strings with no parameters."
Reported by vsfeedback [here](https://developercommunity.visualstudio.com/content/problem/87060/ca2100-is-being-reported-for-literal-strings-with.html)
Code analysis is flagging two types of non-parameter SQL as violations. Ones that are plain string values, and ones that are constructed via StringBuilder but converted to string prior to being sent to the command.

[code]

[2018-02-03 17:02] StingyJack commented on #1558
@jinujoseph  - You also linked to #628, but this does not require data flow analysis. The strings are all effectively constants, no string formatting or interpolation.

[2018-02-03 17:17] mavasani commented on #1558
This is a special case, but in general flow analysis is needed for precise results. Also note that current plan for DFA is only intra-procedural analysis. V2 might have inter procedural analysis which would detect such cases.

[2018-02-05 18:23] JasonBock opened #1559 "Very Inconsistent Behavior With Rules"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA1801 (though it could be happening with others)

#### Repro steps

1. I create a new console app (tried this with both .NET Core and .NET Framework)
2. I add the Microsoft.CodeAnalysis.FxCopAnalyzers NuGet package.

#### Expected behavior
I

[2018-02-05 18:36] mavasani commented on #1559
@JasonBock Have you turned on full solution analysis https://msdn.microsoft.com/en-us/library/mt709421.aspx? Tagging @heejaechang  as well.

[2018-02-05 19:12] sharwell commented on #1559
This sounds like the issues where true build errors never make their way to the Errors window.

/cc @Pilchie

[2018-02-05 19:22] JasonBock commented on #1559
@mavasani that seems to fix things. Funny that the page says, "By default, full solution analysis is enabled for Visual Basic and disabled for Visual C#." and it was disabled for me (and I don't remember ever turning it off). As a side note, on this GitHub site, it may be good to reference this so devs know to turn this on if they're getting this weird "things aren't lighting up as expected" behav

[2018-02-05 19:31] sharwell commented on #1559
We have a few more perforamance issues to address before making a general recommendation along these lines. 😄

[2018-02-05 19:34] mavasani commented on #1559
Tagging @jinujoseph

This is the same issue as https://github.com/dotnet/roslyn/issues/11750. By default "Full solution analysis" is turned off for C# (for performance reasons), which means we analyze only open file during live analysis in IDE and **never** call the compilation end actions, which reports diagnostics for compilation analyzers. Note that the errors from build are indeed added to the

[2018-02-05 19:37] sharwell commented on #1559
This is a nasty bug, for sure

[2018-02-05 19:49] mavasani commented on #1559
Unfortunately, the IDE engine is pretty much left in a very helpless state due to the current semantics of "Full solution analysis". I don't think it is okay to leave partial live and partial build diagnostics in error list, especially as latter can get stale soon. Consider this very case that @JasonBock mentioned. If we leave the CA1801 (remove unused parameter) diagnostics from build in the erro

[2018-02-05 19:56] JasonBock commented on #1559
This all sounds interesting, but I have to admit, I'm having a hard time following all this. Is it safe to say that if I turn on full solution analaysis then things will "work as expected", which to me means I'll always see the errors/warnings in the error list? But this is a "perf issue" - just how much of an "issue" is it?

All I really want is that the errors *always* show up when I do a build.

[2018-02-05 20:04] mavasani commented on #1559
@JasonBock Enabling full solution analysis should ensure you get very consistent experience - you always get the expected diagnostics from build and intellisense. My comments were mainly about how to improve the user experience for the default behavior (full solution analysis turned off). As @sharwell  mentioned, we are still working on improving the VS performance with Full solution analysis enab

[2018-02-05 20:04] JasonBock commented on #1559
Thanks @mavasani, that helps.

[2018-02-05 20:08] sharwell commented on #1559
You may not even notice, depending on hardware, configuration, and the project you are working on. If you observe any issues related to performance, please file a performance feedback item and reach out to me.
https://github.com/dotnet/roslyn/wiki/Reporting-Visual-Studio-crashes-and-performance-issues#performance-issues

[2018-02-05 20:09] JasonBock commented on #1559
I'll keep that in mind. My hope is that the projects/solutions should be fairly small so we shouldn't really notice a hit, and it's far more important to catch the things these analysis rules as soon as possible.

[2018-02-06 11:49] nick-kompas opened #1560 "Analyzer driver ArgumentOutOfRangeException exception in Nunit test projects"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)
![analyzers](https://user-images.githubusercontent.com/22912449/35858113-35fca7e4-0b33-11e8-87f1-4d93389b4992.PNG)

#### Error

[code]

#### Repro steps

1. Add Nunit project in solution
2. Problem appears

#### Other details
It appears it was referenced 8 m

[2018-02-06 14:33] StingyJack commented on #1558
How long has this rule been crippled like this? I remember it working much better than this all the way back to CAT.NET and FxCop.

[2018-02-06 15:45] mavasani commented on #1560
Thanks, I will try to repro this today- we have been trying hard to get a repro for this stack on the latest bits.

[2018-02-07 00:16] pharring opened #1561 "CA2208 should allow property name for property setters instead of 'value'"
#### Analyzer package

Microsoft.NetCore.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.NetCore.Analyzers/2.6.0)

#### Analyzer

CA2208: Instantiate argument exceptions correctly

#### Repro steps

Analyze this code:

[code]

#### Expected behavior

No code analysis warnings.
I think the rule should be relaxed to allow one to use the name of the property here instead of "value

[2018-02-07 00:27] pharring opened #1562 "CA1001 not emitted for IDisposable fields"
#### Analyzer package

Microsoft.CodeQuality.CSharp.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.CSharp.Analyzers/2.6.0)

#### Analyzer

CA1001: Types that own disposable fields should be disposable

#### Repro steps

Analyze this:
[code]

#### Expected behavior

CA1001 should be reported on both Class1 and Class2

#### Actual behavior

CA1001 on Class1 but _not_

[2018-02-07 00:33] pharring opened #1563 "CA1823 emitted for constant referenced in constructor"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA1823: Avoid unused private fields.

#### Repro steps
Analyze this:
[code]

#### Expected behavior
No warnings because `c_DefaultValue` is referenced in the constructor.

#### Actual behavior
warning CA1823: Unused field 'c_DefaultValue'

[2018-02-07 00:45] pharring opened #1564 "CA1001 should say which fields are disposable"
#### Analyzer package

Example: Microsoft.CodeQuality.CSharp.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.CSharp.Analyzers/2.6.0)

#### Analyzer

CA1001: Types that own disposable fields should be disposable

#### Repro steps

Analyze this:
[code]

This reports CA1001 correctly, but I'm left to figure out on my own which fields are disposable. Even if I implement

[2018-02-07 05:26] sharwell commented on #1561
I would be in favor of treating the current implementation as By Design on this one.

[2018-02-07 05:28] sharwell commented on #1562
:+1:

[2018-02-07 05:29] sharwell commented on #1564
Do we have an analyzer that tracks the individual fields after the Dispose method is added? If so, it seems like the information would be provided there (ideally live in the editor).

[2018-02-07 05:30] sharwell commented on #1563
:+1:

[2018-02-07 07:59] x3ntrix opened #1565 "CA2222 creates false-positives for methods with same name but different signature"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA2222: Do not decrease inherited member visibility

#### Repro steps

Extend an existing class and create a private method that has the same name as a method with higher visibility from the base class but with different parameters.

[code]

[2018-02-07 14:48] x3ntrix opened #1566 "CA2217 creates a false-positive when an enum value is missing"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA2217: Do not mark enums with FlagsAttribute [MSDN](https://msdn.microsoft.com/en-us/library/ms182335.aspx)

#### Repro steps

Create an enumeration with the FlagsAttribute where a value is missing.

[code]

#### Expected behavior
Analyzer d

[2018-02-07 15:24] mavasani opened #1567 "Issues in preliminary DFA implementation due to lack of precise CFG"
Currently, we are not consuming compiler's CFG for 2.6.0 based Experimental DFA package. This causes following issues:
- [ ] If-else statements are processed as straight line code, instead of 2 branches with data merge at the end.
- [ ] Loop statements don't get a back edge, causing data to not flow back to the loop start

We should put a workaround for these scenarios in 2.6.0 based Experimental

[2018-02-07 15:27] mavasani opened #1568 "Handle data flow correctly for anonymous type assignments"
Placeholder issue for skipped test.

[2018-02-07 15:32] mavasani opened #1569 "Perform readonly member (field/property) dataflow analysis"
Improve data flow precision by analyzing read-only fields and properties (assigned once, value can never be changed) - we need to analyze possible initializers and all constructors.

[2018-02-07 15:53] sharwell commented on #1565
This is no longer applicable. CA2222 was removed in #1554.

[2018-02-07 15:53] #1565 closed

[2018-02-07 15:54] sharwell commented on #1566
:+1:

[2018-02-07 21:18] mavasani opened #1570 "Add support for dataflow analysis of collection types"
Preliminary implementation of flow analysis tracks locations for indexers and array accesses. We should enhance this to also track content of collection types and their methods (e.g. IEnumerable, IList, etc. and corresponding methods such as ElementAt, RemoveAt, Add, Remove, etc.).

[2018-02-08 01:44] pharring commented on #1564
Looks like [CA2213](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed) might be it.

[2018-02-08 15:06] mavasani opened #1571 "Pending operations to handle in all the dataflow analyses"
- [x] Patterns
- [x] Tuples, deconstruction
- [X] Try/catch/finally
- [x] Lambda/local function invocations
- [ ] IStaticLocalInitializationSemaphoreOperation

[2018-02-08 15:07] mavasani commented on #1571
@AlekseyTs Are we going to lower patterns, tuples, deconstruction to simpler constructs?

[2018-02-08 17:16] mavasani commented on #1560
@nick-kompas Do you have a repro solution that you can share? I am unable to repro it by creating a default nunit test project and adding FxCop analyzers nuget reference.

[2018-02-08 18:56] mavasani commented on #1559
The bad user experience with compilation analyzers when Full solution analysis is OFF is tracked by https://github.com/dotnet/roslyn/issues/11750.

[2018-02-08 18:56] #1559 closed

[2018-02-09 14:42] sharwell opened #1573 "New Roslyn meta analyzer"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

Avoid dynamic objects (new analyzer)

#### Expected behavior

This analyzer reports cases where an object of type `dynamic` is used for any operation aside from casting to `object`. This rule helps avoid performance regressions like that seen in dotnet/roslyn#24722.

[2018-02-09 16:21] hvanbakel opened #1574 "Is the testing framework something that can be packaged up"
As a general question, the code used to test the analyzers in this repo would really valuable to people writing their own analyzers as a framework to test their analyzers.

Is there a way this can be packaged up and reused? Right now there are some internal methods that are not available for use outside of this repo.

[2018-02-13 03:03] jinujoseph opened #1576 ""Avoid Async Void" Analyzer"
feedback from [link](https://developercommunity.visualstudio.com/content/problem/146858/c-async-danger.html)

If an interface has a void method, then a caller should reasonably expect any exception to be caught in a try/catch block. This is not true if the implementation of the interface specifies "async" as an exception can be unhandled on the thread pool. This can crash the hosting process. Plea

[2018-02-13 05:06] sharwell commented on #1576
:memo: This is implemented in DotNetAnalyzers/AsyncUsageAnalyzers.

[2018-02-13 15:45] mavasani opened #1577 "Improve dataflow analysis by tracking array element reference expressions with non-constant indices"
See tests `FlowAnalysis_PointsTo_ConstantArrayElement_NonConstantIndex_NoDiagnostic` and `FlowAnalysis_PointsTo_NonConstantArrayElement_NonConstantIndex_Diagnostic`

[2018-02-13 16:15] mavasani commented on #1577
Also see `ArrayElementWithDisposableAssignment_Diagnostic` and TODO in `DisposeDataFlowVisitor` for changes to make once we improve points to analysis for array element references.

[2018-02-15 03:17] lizetpena opened #1579 "Unsecure Cyphers not detected by Microsoft Security Ruleset. NuGet package Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0"
#### Analyzer package
Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0]
https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/
#### Analyzer

Example:
#### Repro steps

1. Add the NuGet package in question to a solution that you want to perform a static code analysis on.
2. Build solution
3. On the Code Analysis settings for the solution (Right click on the Solution Node on Sol

[2018-02-15 14:37] mavasani opened #1580 "Analyze exceptional code paths in CA2000 (dispose objects before losing scope)"
Initial implementation will not report diagnostics if disposable objects are not disposed on exceptional code path. We should fix this once we move to compiler's CFG.

[2018-02-15 17:57] mavasani opened #1581 "Perform path sensitive analysis for dataflow based dispose rules"
CA2000(Dispose objects before losing scope): This will help us to report cases where disposable object is disposed in some paths, but not all paths.

CA2202 (Do not dispose objects multiple times): Path sensitive analysis is required to implement this rule, otherwise we will end up with lot of false reports where there is no feasible path with multiple dispose calls, and this is likely to be the c

[2018-02-15 19:33] mavasani opened #1582 "Meta-analyzers that enforce diagnostic category and ID range are not working on RoslynAnalyzers.sln"
Repro steps:
1. Open RoslynAnalyzers.sln and change `AvoidCallingProblematicMethodsAnalyzer.RuleId` from `CA2001` to `CA9001`
2. Build

**Expected:** RS1020 (UseCategoriesFromSpecifiedRangeRuleId)
[code]

**Actual:** No RS diagnostics.

[2018-02-15 20:19] mavasani commented on #476
A PR for preliminary dataflow analysis based implementation of this rule is out for review: https://github.com/dotnet/roslyn-analyzers/pull/1583

As mentioned in the PR, following are the TODOs to bring it to parity with original FxCop implementation:
   1. Analyze exceptional code paths (#1580)
   2. Path sensitive analysis (#1581)
   3. Improve preciseness by moving to compiler CFG (#1567)

We h

[2018-02-15 20:23] mavasani commented on #1404
Re-activating this to validate the repro is fixed and a regression test added by the CA2000 implementation in https://github.com/dotnet/roslyn-analyzers/pull/1583. We should not regress this with #1580

[2018-02-15 22:46] mavasani opened #1584 "Fix CA1822 (Mark member as static) instances in RoslynAnalyzers.sln - there are 300+ instances"
Disable via our ruleset, enable once these violations are fixed.

[2018-02-15 22:49] mavasani commented on #1584
Lot of these seem to be in non-shipping projects. I am going to attempt to fix these in shipping projects.

[2018-02-15 22:50] mavasani commented on #1582
Verified that this is because we are not on the latest analyzer packages. I will attempt to move us to latest packages.

[2018-02-15 23:49] mavasani commented on #1584
Closing this out as this rule is not important to enable for non-shipping/test projects.

[2018-02-15 23:49] #1584 closed

[2018-02-15 23:57] mavasani commented on #471
I attempted to fix violations of this rule in RoslynAnalyzers.sln, and three quarters of the violations just needed adding `static` keyword to the method without any callsite fixes. The remaining ones needed simple replacement at reference sites: replacing a local/parameter reference with type name.

I think we should write this simple FAR based fixer with FixAll support for this rule, using the s

[2018-02-15 23:58] mavasani commented on #471
I will attempt to take over the original PR from @333fred and add FAR based instance reference to type name fix.

[2018-02-16 00:01] mavasani commented on #1582
https://github.com/dotnet/roslyn-analyzers/pull/1585

[2018-02-16 00:01] #1582 closed

[2018-02-16 20:43] mavasani opened #1586 "Cleanup dispose value domain merge for NotDisposable values"
See https://github.com/dotnet/roslyn-analyzers/pull/1583#discussion_r168849539

[2018-02-16 21:57] mavasani opened #1587 "Allow end-users to configure dispose ownership transfer"
See https://github.com/dotnet/roslyn-analyzers/pull/1583#discussion_r168876592. This will allow users to configure more precise dispose analysis, rather then be forced to add suppressions.

[2018-02-17 16:09] jmarolf opened #1588 "Add analyzer to warn users when they reference a Workspace API from an Analyzer"
related to https://github.com/dotnet/roslyn-sdk/issues/105

[2018-02-17 16:25] sharwell commented on #1588
I would heavily prefer refactoring dotnet/roslyn-sdk templates to place analyzers and code fixes in separate assemblies. I believe getting this analyzer correct will be time consuming for both implementation and execution time, while separating the assemblies already produces exactly correct results. If an analyzer is involved, I would want to see it restricted to simply reporting a warning if an

[2018-02-17 23:34] mavasani commented on #1588
I feel it is even more bad practice to recommend an approach to our users, which we ourselves do not follow (and will not follow in future), primarily due to **huge** performance hit associated with this design. Separation of assemblies for analyzers and fixers mean very likely going from 3 assemblies (core, C# and VB) to 6 assemblies. None of the analyzer/fixer pairs that Roslyn team owns across

[2018-02-18 05:45] sharwell commented on #1588
@mavasani I have not observed the performance issues you describe. For the time being, we've been proceeding in the direction of splitting up the analyzers/code fixes during the transition to packages that support NuGet-based distribution. You can see the initial work here:
https://github.com/dotnet/roslyn/tree/master/src/CodeStyle

I would certainly be willing to look into alternatives if the per

[2018-02-18 06:53] AArnott commented on #1588
I don't buy the argument about going from 3 to 6 assemblies being a perf hit argument. How. Many customers would hit this? They would have to have both vb and c# projects in their solution for one thing. Otherwise we're just talking about one more assembly load. Is one more assembly load to load code fixes really going to result in a user perceived perf hit?

Also note, the CLR folks consider the

[2018-02-18 16:57] mavasani commented on #1588
If resources is the primary factor, then I vote for either doing nothing here or writing this trivial analyzer (at most couple of hours of work). The design you propose needs bunch of work:
1. Split the templates to have 2 separate projects
2. Work in the NuGet area to ensure the packaging happens correctly (explained [here](https://github.com/dotnet/roslyn-sdk/issues/105#issue-298014894)
3. Split

[2018-02-18 17:19] AArnott commented on #1588
I think an analyzer is far better than the situation we're in now, and actually still applies in a split assembly world if we end up going that way, since folks who don't understand may add a workspaces reference to the analyzer assembly.
If it is as cheap as you say, that's fantastic. When can it be done?

I didn't know we expected so many analyzer assemblies. I also expected they would be loaded

[2018-02-19 01:16] jmarolf commented on #1588
This work isn't hard and is something I would be happy to do.  @mavasani I get that image loads are a real perf problem.  I want to do some analysis to figure out what the perf impact is here so we can accurately articulate it to users of the roslyn API.  I think analyzers shipped by Microsoft should always be in a single assembly, but I really feel that the templates as they exist today are not l

[2018-02-19 17:55] mavasani commented on #1588
@jmarolf - That was perfectly stated! Agree with you on all points.

@AArnott I have a PR out here: https://github.com/dotnet/roslyn-analyzers/pull/1589. Please look at the tests and confirm if this seems sufficient for the case you hit.

[2018-02-20 17:11] sharwell opened #1590 "Asynchronous operation lifetime analyzer"
#### Analyzer package

Meta-analyzers for dotnet/roslyn

#### Analyzer

Asynchronous operations should be tracked

#### Expected behavior

This new analyzer would help ensure [`IAsyncToken`](https://github.com/dotnet/roslyn/blob/467c216fa6e49b85c2bff58721115b0263f5f402/src/Features/Core/Portable/Shared/TestHooks/IAsyncToken.cs#L7) and [`IAsynchronousOperationListener`](https://github.com/dotnet/ro

[2018-02-21 03:03] IlyaGrebnov opened #1591 "CA3075 DoNotUseInsecureDTDProcessing false negative"
#### Analyzer package

I am using latest VS2017 version 15.5.7 with Microsoft.NetFramework.Analyzers, version 2.6.0

#### Analyzer

CA3075 DoNotUseInsecureDTDProcessing

#### Repro steps

        /// <summary>
        /// Parses the XML extended error.
        /// </summary>
        /// <param name="textReader">The text reader.</param>
        private static StorageExtendedErrorInformation ParseXm

[2018-02-21 14:48] mavasani commented on #1591
Also tagging @ivanbasov, who has looked at this analyzer in the past. I think we need to use flow analysis in this analyzer to get more precise results.

[2018-02-21 15:01] mavasani opened #1592 "Meta-analyzer to recommend users to configure generated code analysis and enable concurrent execution"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

I propose that the analyzer should have 2 rules:
1. Recommend explicit invocation of `AnalysisContext.ConfigureGeneratedCodeAnalysis` in the `Initialize` method. This rule should be enabled by default.
2. Recommend enabling concurrent execution with `AnalysisContext.EnableConcurrentExecution` in the `Initialize` method. This r

[2018-02-21 15:34] mavasani opened #1593 "Update docs.microsoft.com documentation for CA2213 (DisposableFieldsShouldBeDisposed)"
FxCop implementation for this rule reported CA2213 only for those fields which were assigned a locally created disposable object within the containing type methods/initializers. This reduced noise for cases where the containing type did not own the dispose responsibility for certain disposable fields. We are matching this implementation in porting this rule to the analyzer.

We need to update http

[2018-02-21 15:35] mavasani commented on #1593
@jinujoseph - can we get the docs team to do this?

[2018-02-21 15:51] mavasani opened #1594 "Improve CA2213 (DisposableFieldsShouldBeDisposed) to handle cases where fields are disposed by helper methods invoked by Dispose"
#### Analyzer package

Microsoft.CodeQuality.Analyzers.Exp

#### Analyzer

DisposableFieldsShouldBeDisposed

#### Repro steps

Original FxCop implementation and the documentation for this rule contains `The rule searches the methods called by T.Dispose, and one level lower (the methods called by the methods called by FT.Dispose).`. Our initial analyzer implementation for this rule does not analyze

[2018-02-21 16:39] mavasani commented on #695
An initial DFA based implementation for this rule is out for review: https://github.com/dotnet/roslyn-analyzers/pull/1595.

[2018-02-21 16:44] mavasani commented on #1564
We have decided to implement CA2213 - https://github.com/dotnet/roslyn-analyzers/pull/1595. We should be able to extend CA1001 to compute disposable fields in a type.

[2018-02-21 16:46] mavasani commented on #1579
@jinujoseph We probably want to redirect this to the security team to triage this issue.

[2018-02-21 16:48] mavasani commented on #1574
@hvanbakel Thank you for the feedback. This is surely something valuable, but I am not sure how early we can deliver this. If you want this delivered soon, please feel free to pick this up and submit a PR. Thanks!

[2018-02-21 17:42] mavasani commented on #1564
It seems that CA1001 already has a local set of disposable fields - we just to need to update the error message to display the field names. We should also improve the preciseness of this rule using DFA DisposeAnalysis used by other rules.

[2018-02-21 20:40] #695 closed

[2018-02-21 21:40] mavasani commented on #476
This rule has been implemented in the experimental DFA package. https://github.com/dotnet/roslyn-analyzers/pull/1583#issue-169473457 lists the TODO items, each of which are tracked with separate issues. Marking this issue as complete.

[2018-02-21 21:40] #476 closed

[2018-02-21 21:43] mavasani commented on #628
The DFA version of this rule is merged in with https://github.com/dotnet/roslyn-analyzers/pull/1572. The pending items for this rule/analysis are tracked with separate issues (https://github.com/dotnet/roslyn-analyzers/issues/1547, https://github.com/dotnet/roslyn-analyzers/issues/1567).

[2018-02-21 21:43] #628 closed

[2018-02-21 22:03] mavasani opened #1597 "NRE in Microsoft.CodeAnalysis.Operations.DataFlow.NullAnalysis.NullAnalysis.NullDataFlowOperationVisitor.VisitAssignmentOperation"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers.Exp, version [2.6.1-beta1-62621-02](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers.Exp)

#### Analyzer

DisposeObjectsBeforeLosingScope

#### Repro steps
Got the analyzer exception diagnostic AD0001 while dogfooding the experimental package:

[code]

[2018-02-21 22:08] mavasani commented on #1597
Got a repro: happens for invalid code while typing.

[code]

[2018-02-22 01:43] #1597 closed

[2018-02-22 06:26] AbelHu commented on #1534
Resolved.
Add below lines in app.config:
[code]

[2018-02-22 06:26] #1534 closed

[2018-02-22 09:13] jinujoseph commented on #1593
@BillWagner  , can you help here pls

[2018-02-22 17:25] mavasani opened #1602 "Remove workaround in AnalysisEntityFactory for a possible IOperation bug"
See unit test `MemberReferenceInQueryFromClause_Disposed_NoDiagnostic` (added with https://github.com/dotnet/roslyn-analyzers/pull/1600/commits/84627cea7805f4999f071d37fe21b73a69141ccf)

[code]

IOperation for `b` in `from a in b.C.ArrayOfA` has `OperationKind.None` with no children and null type. This seems incorrect. A workaround has been added to `AnalysisEntityFactory`.

This issue tracks:
1.

[2018-02-22 17:43] mavasani commented on #1602
Tagging @AlekseyTs - I will try to create a minimal IOperation unit test for this and file a bug in Roslyn.

[2018-02-22 19:53] gewarren commented on #1593
That is my topic so I'll update it.

BTW there is a link at the bottom of all the Visual Studio docs where you can enter GitHub issues against the docs - that would be a better place to log the issue in the future.

[2018-02-23 08:42] jinujoseph commented on #1579
@qinxgit , @tikiwanMS to follow-up here

[2018-02-25 03:12] sharwell commented on #937
I would expect the analyzer to report a warning in this case. `K, V` is normal type parameter names for a Java developer, but not a C# developer. Prior to this change, this rule provided valuable assistance for developers coming from a Java background and interested in adhering to .NET patterns. The correct solution for the above case is to rename the generic type parameters from `K, V` to `TKey,

[2018-02-25 03:17] sharwell opened #1604 "CA1715 false negative for single letter identifiers"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

CA1715 IdentifiersShouldHaveCorrectPrefix

#### Repro steps

Create a generic method with the parameter names `K, V`:

https://github.com/dotnet/roslyn-analyzers/blob/478f95b3aeb95ae4872a475ec8f165ca9477d102/src/Test/Utilities/Markup

[2018-02-25 05:42] JasonBock opened #1606 "CA1801 Reporting Incorrect Results"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0)

#### Analyzer

CA1801

#### Repro steps

1. I added the package to a project I've had around for a while, and....

#### Expected behavior

For code like this:
[code]
I would not have expected there to be an issue.

#### Actual behavior

The rule

[2018-02-25 05:44] JasonBock opened #1607 "CA1823 Reporting Incorrect Results"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0)

#### Analyzer

CA1823

#### Repro steps

1. I added the package to a project, and...

#### Expected behavior

For this code:
[code]

I wouldn't have expected an issue.

#### Actual behavior

This rule is tripped for `DefaultAssemblyName`, though

[2018-02-25 23:35] sharwell opened #1614 "Enable code coverage during testing"
Currently the test script does not run the tests with code coverage enabled. Several steps are required to enable code coverage collection:

### Ensure Windows PDBs are available for OpenCover

1. Extract embedded PDBs to portable PDBs (where applicable)
2. Convert portable PDBs to Windows PDBs
3. Delete the original portable PDBs
4. Copy the dll or exe to the directory containing symbols

The fol

[2018-02-25 23:39] sharwell commented on #1614
@tmat This is my first priority this week. At this point I have a very good understanding of how the pieces fit together (portable/embedded PDB + xunit console + OpenCover console + reporting), but very little understanding of the way roslyn-tools invokes the xunit console for testing purposes. I'm hoping you can help me incorporate each of the necessary steps above into the testing harness we use

[2018-02-25 23:42] sharwell commented on #1584
I fixed these locally but the changes depend on #1612 so I'm waiting to submit it separately.

[2018-02-26 06:39] tmat commented on #1614
Why is this needed now? If anything it would be better to invest our time in fixing OpenCover to support Portable PDBs.

[2018-02-26 07:38] sharwell commented on #1614
@tmat That could be beneficial as well. I found in the proof of concept that the PDB conversion step wasn't quite as complex as mentioned above because the built uses embedded PDB for all binaries.

[2018-02-26 17:38] mavasani opened #1617 "Design for "Dispose ownership transfer" in dispose rules"
We currently have following related dispose rules that ensure that disposable objects are disposed by the creating method and/or containing type:

1) [CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope) (Dispose objects before losing scope): A local object of a IDisposable type is created but the object is not disposed before all reference

[2018-02-26 18:12] #1355 closed

[2018-02-27 05:57] sharwell commented on #1614
@tmat fortunately, of the issues involved with getting this working, the PDBs seem like a solved problem. The toolset already included everything to make it work seamlessly. We can take a look at the couple remaining small items tomorrow. 😁

[2018-02-27 07:32] tmat commented on #1614
I don't think I'll have time this week to look into this.

[2018-02-28 05:01] lizetpena commented on #1579
@mavasani , @jinujoseph I'm part of a team  at Microsoft as well. Those cyphers are, at present, considered weak by the several security compliance institutions. Would you like me to provide more information on this thread or offline?
Thank you! :)

[2018-02-28 06:07] roji commented on #628
Note something similar implemented at the Entity Framework Core level: https://github.com/aspnet/EntityFrameworkCore/pull/11082#pullrequestreview-99901396. I think they flag any string concatenation involving a string, assuming it may be tainted with user data (i.e. no attempt to do flow analysis to know where data is coming from). It may be worth collaborating on this.

[2018-02-28 13:01] sharwell opened #1619 "Deploying to RoslynDev breaks integration tests for dotnet/roslyn"
This repository needs to deploy to an experimental instance not named `RoslynDev`, or it interferes with integration tests in dotnet/roslyn (by reporting warnings that are not otherwise reported during the editing experience).

https://github.com/dotnet/roslyn-analyzers/blob/05d3235976278fdf4861db255985d2154fff9975/Directory.Build.props#L31

[2018-02-28 17:25] lizetpena commented on #1579
@jinujoseph
Great, the information is not confidential.
This is why TripleDES is considered a weak symmetric block cipher/algorithm:
[https://csrc.nist.gov/news/2017/update-to-current-use-and-deprecation-of-tdea](url)

These are the attacks known and listed for TripleDES:
-Meet in the Middle Attacks
-Collision attacks

DES is an even weaker cipher.
[https://csrc.nist.gov/csrc/media/publications/fi

[2018-02-28 19:05] Gav-Brown opened #1621 "Ruleset files with <IncludeAll Action="Warning" /> do not include all rules"
Question: When using the original VS Code Analysis, and the Style-Cop analyser, you can add the element

`<IncludeAll Action="Warning" />`

to your .ruleset file to include all rules at level "Warning". This is useful for two reasons.

1. The .ruleset file only contains rules you have disabled, and over time you can fix them and thus remove them from this file.

2. When you upgrade the analysers a

[2018-02-28 20:09] Gav-Brown commented on #1621
Retested. It does indeed work as expected. I previously tested one specific rule but failed to activate it. Removing all rules proved "IncludeAll" works.

[2018-03-01 19:46] Gav-Brown commented on #1621
While the rules do run when I set IncludeAll in .ruleset, when I view the ruleset in the Visual Studio editor I see many rules are disabled. Indeed, for example CA1008 is not triggered if I add an enum with no 0 value. So looks like IncludeAll is running the default set not all rules?

[2018-03-01 22:33] MelbourneDeveloper commented on #1313
This is still an issue in Visual Stdio 2017 - 15.5.7 With .NET Standard 2.0

This is frustrating like you wouldn't believe. I try to make sure our team follows the highest coding standards and yet we can't even get basic code rules functionality to work.

None of our .NET Standard 2.0 projects compile properly with code rules turned on. Even when they do compile, the broken code rules are never pi

[2018-03-01 22:35] MelbourneDeveloper commented on #1313
@mavasani , are you saying that we have to build our projects at the command line to get code rules to work?

[2018-03-01 23:11] mavasani commented on #1313
@MelbourneDeveloper I am sorry to hear about your issues. Please let me know if following helps:

1. The recommended approach to run Code Analysis on .netcore/.netstandard projects is explained here: https://github.com/dotnet/roslyn-analyzers/issues/1313#issuecomment-354491017.
2. You add a NuGet package reference to FxCopAnalyzers and then the analyzers run by default in VS IDE while you type, an

[2018-03-02 17:27] mavasani commented on #1617
Putting some more thought, I think approach 3., i.e. interprocedural analysis, to track how the disposable instance moves around shouldn't be super expensive as the instance generally does not get passed around multiple times (given it is a disposable object!), and we can enhance CA2000 and CA2213 to do a lot better job at reducing false positives and also enhance CA2213 (currently it misses out s

[2018-03-02 18:06] sharwell commented on #1617
I would be interested in seeing some improvements to the heuristics involved with intra-procedural analysis.

## Single transfer

A warning should be reported if code flow results in ownership transfer of an object not owned by the current method/instance.

## Object construction

The first such rule would involve transfer of ownership via object construction. This pattern occurs when an argument

[2018-03-02 18:31] mavasani commented on #528
We are going to implement this.

[2018-03-02 18:36] mavasani commented on #1617
I am strongly opposed to adding any heuristic for dispose ownership transfer. There are multiple reasons:

1. Dispose rules are much special then any rules - lots of false positives are fine, but we should not mask _true_ leaks. These heuristic guarantees that we are masking cases where passing an object to a constructor does not lead to eventual dispose of that object.

2. Legacy FXCop implementa

[2018-03-02 18:47] mavasani commented on #1617
@sharwell I also just read your comment here: https://github.com/dotnet/roslyn/pull/25179/files#r171921736

This is not possible without inter-procedural analysis. To identify who owns or disposes an object that moves around methods needs inter-prodedural analysis. Otherwise, we are going to have false positives either at the caller or callee. Legacy FXCop implementation decided to retain the fals

[2018-03-02 18:52] heejaechang commented on #1617
don't we need some kind of annotation at the end, anyway? we don't need annotation for parity but to be better than FxCop, I think we said we need annotation before? since .net or language itself doesn't have concept (or a way to expresses explicitly) of ownership transfer ?

[2018-03-02 19:07] mavasani commented on #1617
We should surely add something here to improve over FXCop - no arguments to this. I think we want to at least prototype or design an inter-procedural approach that needs least user work and understand the performance and implementation costs. If these are indeed reasonable, then we want to try it out. Otherwise, we can always implement the annotation strategy, whose cost is already pretty well und

[2018-03-02 22:59] Gav-Brown commented on #1621
I've attached the list of rules which are enabled and disabled when IncludeAll is set.

![carules1](https://user-images.githubusercontent.com/36932614/36925969-4fe6b4a4-1e6d-11e8-8c08-04cd335a9031.PNG)
![carules2](https://user-images.githubusercontent.com/36932614/36925973-53b8f218-1e6d-11e8-8f9c-cada615dd8ff.PNG)
![carules3](https://user-images.githubusercontent.com/36932614/36925975-56506326-1e6

[2018-03-03 03:03] sharwell commented on #1617
The rule already operates on heuristics, and already produces a non-trivial number of false positives. Furthermore, it is trivial to demonstrate that some intra-procedural approaches produce more false positives than others. To demonstrate this, we simply remove the treatment of return values as a transfer of ownership. Given that we have not tried any alternatives to these rules in practice, it i

[2018-03-03 14:12] Gav-Brown opened #1624 "List of rules not yet ported from VS Code Analysis (FxCop)?"
Hi, Is there a list of the rules which have not yet been ported from Visual Studio Code Analysis to FxCopAnalyzers.2.6.0?

I've compiled this list:

Important:

CA1049: Types that own native resources should be disposable
CA2100: Review SQL queries for security vulnerabilities
CA2213: Disposable fields should be disposed
CA2218: Override GetHashCode on overriding Equals
CA2220: Finalizers should c

[2018-03-03 19:55] Gav-Brown commented on #1621
And if it helps, as a list, for each "type". It would be good if all these were enabled when IncludeAll is set, so users could disable just the ones they want.

**CodeQuality.Analyzers**

CA1008
CA1012
CA1014
CA1017
CA1024
CA1027
CA1033
CA1050
CA1060
CA1708
CA1711
CA1725
CA2217

**CodeQuality.CSharp.Analyzers**

Async001
Async002
Async003
Async004
Async005
Async006
CA1003
CA1019
CA1500
CA1726
CA20

[2018-03-05 14:47] mavasani opened #1625 "CA2100 does not fire for msdn/docs sample"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers.Exp, version [2.6.1-beta1-62702-01](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers.Exp/2.6.1-beta1-62702-01)

#### Analyzer

ReviewSqlQueriesForSecurityVulnerabilities

#### Repro steps

1. Copy the C#or VB sample from https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2100-revie

[2018-03-05 15:01] mavasani opened #1627 "Audit usages of ISymbolExtensions.IsImplementationOfInterfaceMember"
See https://github.com/dotnet/roslyn-analyzers/issues/1625, where we intended to invoke `ISymbolExtensions.IsOverrideOrImplementationOfInterfaceMember` to check if a given symbol implements an interface member or overrides an implementation of an interface member, but instead invoked `ISymbolExtensions.IsImplementationOfInterfaceMember`. We need to check if any direct or transitive calls to `ISymb

[2018-03-05 17:32] lizetpena commented on #1579
@mavasani, @jinujoseph, @qinxgit, @tikiwanMS,
Any updates?

Thank you.

[2018-03-05 17:47] mavasani commented on #1579
The fix here seems pretty simple - The [security types](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Security/Helpers/SecurityTypes.cs) validated by the analyzer needs to be updated. I will let @qinxgit @tikiwanMS confirm before working on this fix.

[2018-03-05 18:10] #1625 closed

[2018-03-05 18:40] qinxgit commented on #1579
@mavasani I think something doesn't match here. Is the Fxcop analyzers now called .NET Framework Analyzers now? I can't find Fxcop analyzer folder in source now. If so, @lizetpena, can you try Microsoft.NetFramework.Analyzers package? These ciphers are already checked somewhere here https://github.com/dotnet/roslyn-analyzers/blob/b8fbcb0a85eecfe6b3b9e926e93e4a8a6bb1c669/src/Microsoft.NetFramework.

[2018-03-06 00:00] 333fred commented on #1579
@qinxgit the original post in the issue is talking about the Microsoft.CodeAnalysis.FxCopAnalyzers nuget package, which is a metapackage that includes the .NET Core analyzers.

[2018-03-06 00:09] #1588 closed

[2018-03-06 17:38] qinxgit commented on #1579
@333fred I see. But I failed to get a repro. The repro steps suggests a misunderstanding of using Roslyn Analyzers. Step 3 & 4 is not needed at all to use these rules. Steps 3 & 4 is the way to use the old Fxcop tool.

I successfully received CA5350 warning in my VS 2017 (15.5.6).

[2018-03-06 18:31] 333fred commented on #1624
You can search the issues in this repo for the `FxCop-Port` label, https://github.com/dotnet/roslyn-analyzers/issues?page=1&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3AFxCop-Port. Those issues that are labeled `Needs-Fixer` have had the rule itself ported, but don't have a quick-fix created. Issues that are just labeled `FxCop-Port` still need to be ported in their entirety.

[2018-03-06 18:38] AArnott opened #1629 "CSharpAsAndNullCheckDiagnosticAnalyzer throws NullReferenceException"
VS 15.7 Preview 1 (27505.0.d15.7)

[code]

The error list indicates an analyzer has thrown a NullReferenceException.

The analyzer throws while analyzing [this line](https://github.com/AArnott/VSSDK-Analyzers/blob/de48b204a79a0429569de5cabbee11b3444f1ac5/src/Microsoft.VisualStudio.SDK.Analyzers/VSSDK002PackageRegistrationMatchesBaseTypeAnalyzer.cs#L68):

	Analyzer 'Microsoft.CodeAnalysis.CSharp.Us

[2018-03-06 18:40] mavasani commented on #1629
Thanks @AArnott. This is dupe of https://github.com/dotnet/roslyn/issues/25237. Closing as external.

[2018-03-06 18:40] #1629 closed

[2018-03-06 18:44] mavasani commented on #1579
@lizetpena - @qinxgit is correct. Sorry for my oversight on the repro steps. You just need to execute a build to execute the FXCop analyzers. Executing legacy FXCop ("Run Code Analysis") on a project which references FXCop analyzers nuget will only execute rules not ported to FXCop analyzers.

[2018-03-06 18:51] jinujoseph commented on #1624
yes and some reference to old documents here https://github.com/dotnet/roslyn-analyzers/tree/master/docs/FxCopPort

[2018-03-06 19:41] lizetpena commented on #1579
@mavasani, @qinxgit

I did that as well, without actually adding the nuget package in question:

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0]
https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/

to the solution.

The Visual Studio Enterprise 2017 version 15.5.7, did not detect the use of the two classes (TripleDES and MD5), when running the Microsoft Security Rules, on

[2018-03-06 19:46] mavasani commented on #1579
@lizetpena seems there is still confusion here. "Run Code Analysis" invokes _legacy_ code analysis, which we are planning to deprecate soon and hence not aiming to fix. Can you please try the following repro:

1. Open your repro project.
2. Add a nuget package reference to https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/
3. Build project and you should see CA5350 warnings (you

[2018-03-06 20:17] lizetpena commented on #1579
Hi @mavasani

How old is legacy code analysis? Let me rephrase the question, what target framework, should a project be set to compile with, so the Microsoft.CodeAnalysis.FxCopAnalyzers package can detect the use of two weak algorithms?

Could you kindly  clarify that for me?

Also, which target frameworks won't be analyzed by the IDE Run Code Analysis?

I will, for sure, try the repro steps you m

[2018-03-06 20:28] mavasani commented on #1579
@lizetpena Code analysis experience for managed projects is going to change very soon.

1. The "Run Code Analysis" menu will soon no longer be visible - today this executes a legacy tool FxCopCmd.exe which has been in support mode for ~5 years (only hangs/crashes are investigated).
2. Code analysis future is with analyzers integrated directly with the compiler/IDE. You add NuGet package reference

[2018-03-06 20:42] mavasani commented on #1579
Tagging @gewarren @billwagner - we need to create a single documentation/help link that we can point to customers to understand the current and future code analysis experience for managed projects.

[2018-03-07 10:31] Gav-Brown commented on #1624
@333fred Thanks for the description of the labels. Very useful to know.
@jinujoseph Thanks for the pointer to the docs. It would be nice to update RulesInventory.csv to show the state of each rule but agree the label search works well.
Cheers

[2018-03-07 18:55] #1624 closed

[2018-03-07 22:16] mavasani opened #1630 "Perform path sensitive analysis for CA1062 (ValidateArgumentsOfPublicMethods)"
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods

Legacy FxCop used the Phoenix's built in path sensitive null analysis to identify correct null-ness of variables. Our first implementation will be more conservative and without any predicate/path sensitive analysis. This issue tracks implementing this to improve CA1062 precision.

[2018-03-08 17:15] jinujoseph commented on #1547
**Test Cases to Validate**

CA2100 ( should not trigger warning )
string selectColumns = string.Join(',', "column1", "column2");
  string query = string.Format("SELECT {0} FROM Users WHERE Username=@username", selectColumns);

[2018-03-08 17:27] mavasani commented on #1580
@Bartolomeus-649 - Can you please state your repro steps? Did you explicit add a NuGet package reference to `Microsoft.CodeAnalysis.FxCopAnalyzers` or `Microsoft.CodeQuality.Analyzers.Exp` OR executed _"Run Code Analysis"_, i.e. legacy binary FxCop? I believe we should be handling the repro you mentioned in https://developercommunity.visualstudio.com/content/problem/210774/code-analysis-warning-ca

[2018-03-08 21:07] Bartolomeus-649 commented on #1580
I just selected to run/use "Microsoft all rules" from the project settings -> Code Analysis, and then "Run code analysis" from the "Analyze" menu in Visual Studio Pro (15.5.7).

[2018-03-08 21:09] mavasani commented on #1580
@Bartolomeus-649 - that is legacy FxCop based CodeAnalysis. Can you instead try executing the analysis by adding a NuGet package reference to https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.1-beta1-62706-01 and then doing a "Build"? Don't execute "Run Code Analysis" after adding the above NuGet package - executing the build should invoke the n

[2018-03-08 21:44] Bartolomeus-649 commented on #1580
Seem to solve the problem, but it triggers for async methods returning disposable objects.
Also it seem to be project-based, and I can't find any way to config it once for the entire solution

[2018-03-08 23:47] lizetpena commented on #1579
@mavasani, @qinxgit
I created a repro solution to test if the ciphers were detected.
https://github.com/lizetpena/StaticCryptoAnalyzers

As suggested I installed the Microsoft.NetFramework.Analyzers 2.6.0 package, individually in two projects, one using C# 4.6 with .NET Core 2.0 as the target framework and one project targeting the full framework C# 4.5.2

The use of DES and TripleDES triggered a

[2018-03-09 15:57] lizetpena commented on #1579
Should I open a new issue for the use of a weak hashing algorithm?

[2018-03-09 19:04] qinxgit commented on #1579
@lizetpena ,

I looked into your project. You are using the NetFramework.Analyzers. As we suggested, you should use Fxcop Analyzers instead of .NetFramework.Analyzers. The MD5 is not implemented in the NetFramework Analyzers by design.

[2018-03-09 19:17] lizetpena commented on #1579
Hey @qinxgit.
Thanks for the quick reply. So I shall use the FXCop analyzer 2.6.0 nuget package on both projects, and since this package has a dependency on the NetFramework.Analyzers, both nuget packages will be used on the static code analysis, thus, MD5 will be detected as a weak hashing algorithm?

Is that correct?

Kind regards,
-Lizet

PS. For cyber sec consultants that are relying on static

[2018-03-09 19:20] qinxgit commented on #1579
Yes. That's correct.

[2018-03-09 21:43] lizetpena commented on #1579
Hi @qinxgit, @mavasani, @333fred
I did get all three warnings on the Build Output, when adding the FxCop 2.6.0 nuget package in question (Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0) individually to both projects in the solution. A Rebuild of the solution, triggers the warnings.

That will make my weekend 👍

The warnings were for the use of DES, TripleDES and MD5.

One project was using .NET Core

[2018-03-09 22:36] mavasani commented on #1579
The analyzers are not platform or framework specific. They just check for presence of a type/API in your compilation (source and/or references), and if it exists, it will analyze and report diagnostics. If you see a different behavior, kindly let us know by filing separate issues. Thanks!

[2018-03-10 04:01] mavasani commented on #1579
Closing the issue as primary concern has been addressed.

[2018-03-10 04:01] #1579 closed

[2018-03-11 18:57] Gav-Brown commented on #1621
I think this may apply to all Analysers so perhaps better on the dotnet/roslyn board than here?

[2018-03-11 20:14] #1621 closed

[2018-03-13 13:48] sharwell opened #1631 "Implement a code fix for CA1003"
The fix could apply changes like this:
gitextensions/gitextensions#4628

[2018-03-14 19:44] mavasani opened #1633 "Support querying abstract dataflow values for analysis entities at specific program point (operation)"
Our current implementation exposes:
1. Values for all analysis entities at start and end of basic block.
2. Values for each operation in CFG.

This issue tracks exposing APIs to query value for an analysis entity at a specific program point (operation). See unit test `StringIsNullCheck_WithCopyAnalysis_BeforeHazardousUsages_NoDiagnostic` for an example.

[2018-03-16 16:18] JackGrinningCat commented on #291
Bump, I hit it. Jeah CA2213 seams to be noisy, but as i tried to calm the good of code analysis I was disappointed that the ? Operator is not part of the analyzer 101.

[2018-03-16 16:30] mavasani commented on #291
@JackGrinningCat How are you executing analysis? "Run code analysis" command or are you adding a NuGet reference to latest FxCop analyzers?

[2018-03-16 16:47] mavasani commented on #291
@JackGrinningCat Can you check if CA2213 implemented in [Microsoft.CodeQuality.Analyzers.Exp](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers.Exp/2.6.1-beta1-62706-01) works fine? You just need to add a NuGet package reference and build the project to trigger analysis.

[2018-03-17 09:30] JackGrinningCat commented on #291
I'll do that on Monday. Easy to check, thanks for the hint in the direction.Am 16.03.2018 5:47 nachm. schrieb Manish Vasani <notifications@github.com>:@JackGrinningCat Can you check if CA2213 implemented in Microsoft.CodeQuality.Analyzers.Exp works fine? You just need to add a NuGet package reference and build the project to trigger analysis.

—You are receiving this because you were mentioned.Rep

[2018-03-20 08:02] SebEic opened #1636 "How to create custom rules with CodeAnalysis on DotNet Core project"
Sorry, I'm not sure to be in the right place to ask...
I'm trying to find a way to do some custom rules with CodeAnalysis on DotNet Core project.

I know that we can do it on Framework 4.6. Currently, I've all of my rules on DLL and in my ruleset file:

<RuleHintPaths>
   <Path>%ProgramFiles(x86)%\eic\Visual Studio 2015\CodeAnalysis</Path>
   <Path>%ProgramFiles%\eic\Visual Studio 2015\CodeAnalysi

[2018-03-21 09:44] Therzok opened #1638 "StringBuilder usage analyzer idea"
#### Analyzer package

Could go into Microsoft.CodeQuality.Analyzers

#### Analyzer

Example: StringBuilder usage can be optimized in some API usage.

[code]

The analyzer would highlight 2 bad usages of substring as parameters to `StringBuilder.Append`, on the `text.Substring` calls.

A code fix would be to transform these:
[code]

[2018-03-21 10:24] Therzok opened #1639 "String comparison analyzer"
#### Analyzer package

Could go into Microsoft.CodeQuality.Analyzers

#### Analyzer

Example: String comparison can be optimized in some API usage

[code]

This code contains allocations when it could avoid that. The analyzer would highlight substring in this case, and offer to replace with:

[code]

The reason this is more performance than substring equality is:
* No substring allocation
* There

[2018-03-21 10:48] Therzok opened #1640 "[Discussion] Struct without IEquatable<T>"
#### Analyzer package

Could go into Microsoft.CodeQuality.Analyzers

#### Analyzer

Bringing this up for discussion, as I don't know what the best implementation would be.

`ICollection<T>` derived clases (or base BCL `collections<T>`) could have an analyzer which checks whether the T item is instantiated as a struct (for dictionary, as key). If it doesn't implement `IEquatable<T>`, it should be

[2018-03-21 13:56] mavasani commented on #529
This rule is blocked by absence of Naming service.

[2018-03-21 14:01] mavasani commented on #1488
Should be addressed with https://github.com/dotnet/roslyn-analyzers/pull/1637

[2018-03-21 18:33] yingfangdu commented on #1636
In fact, I am able to create a customized rule and make it as a nuget package, and deploy it in a target framework Net 4.5.2 project. It runs perfectly.

While now I am curious how it works as the Microsoft.codeAnalysis 2.0 and above only supports 4.6 target framework.

Note: I use VS 2017.

[2018-03-22 07:37] SebEic commented on #1636
Yes, deployed a customized rule in a target framework Net 4.5.2 works fine. But have you tried to deploy it in a target .Net Core 2.0?
On my side, I can't.
I've tried to use the fxCopCmd like this:
/f:SomeAssembly.dll /r:"C:\Rules Directory\SomeRules.dll" /o:OutputFile.xml

It works fine on target framework 4.X.X but again when I tried on target .Net Core 2.0, I get an error: unable to identify th

[2018-03-22 22:49] mavasani opened #1641 "Improve unit test coverage for DFA rules"
We probably want to do this after we move to CFG, as the implementation might change.

[2018-03-23 04:15] #404 closed

[2018-03-23 20:45] phraemer opened #1643 "No warning for undisposed stream in C# UWP code"
I originally reported this here https://github.com/MicrosoftDocs/visualstudio-docs/issues/734#issuecomment-375765639 and was asked to post it here.

#### Repro steps

Put this code in a C# UWP app

[code]

Run code analysis with all rules turned on.

#### Expected behavior

Warning `CA2000` should be emitted

https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-

[2018-03-23 21:03] mavasani commented on #1643
Thank you @phraemer. I will investigate.

[2018-03-26 21:01] yingfangdu opened #1645 "Cannot get the correct type info of ObservableCollection"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.7.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.7.0)

#### Analyzer

Example:
GetTypeInfo of ObservableCollection type

#### Expected behavior
The result shows ErrorType.

#### Actual behavior
It should show the correct type.

[2018-03-26 21:50] 333fred opened #1646 "Warn on duplicate explicit enum values"
If you have an enum with explicit values, we should warn if two of those values are identical. These can often be introduced when you're merging in work done in different branches, and can cause failures that seem impossible and are not readily apparent.

[2018-03-26 21:56] yingfangdu commented on #1645
![capture](https://user-images.githubusercontent.com/9310605/37935321-e40020b2-3105-11e8-8dbe-939c63608731.PNG)

[2018-03-27 22:14] mavasani opened #1647 "Handle flow analysis when lambda/local functions are passed as argument"
See skipped unit test `NullCheck_DeconstructionAssignment_InLambdaPassedAsArgument_NoDiagnostic`.

[2018-03-28 23:29] mavasani opened #1648 "Improve precision of PointsToAnalysis in presence of back edges"
Current implementation of PointsToAnalysis is conservative in presence of back edges. For example, consider the below code:

[code]

For source line `param = param.ContainingC;`, we know that `param` may point to an instance of `C` that is passed as a parameter to method `M` or pointed to be by property `ContainingC`. However, for the latter, this instance may vary with every iteration. To ensure

[2018-03-29 18:52] mavasani opened #1649 "Design dataflow analysis violations in multi-threaded scenarios"
Newly implemented DFA based rules flag some violations which make sense if the code was single threaded, but are false reports if the function is multi-threaded.

[code]

I am not sure if we can do much here other than improve the diagnostic message to warn about being cautious for multi-threaded scenarios. Note that changing the code as per the violation can lead to subtle race-condition bugs.

[2018-03-29 20:20] mavasani opened #1650 "Support for dataflow analysis for non-method body executable code"
Our current DFA/CFG implementation only supports flow analysis for block operations. This issue tracks adding support in non-method body executable code such as initializers.

[2018-03-30 06:39] jinujoseph opened #1651 "Public API checker does not distinguish properties from methods"
_From @gafter on June 9, 2015 23:8_

The public API checker does not distinguish between

[code]

and

[code]

even though this affects (compile-time) clients.

_Copied from original issue: dotnet/roslyn#3407_

[2018-03-30 06:39] jinujoseph commented on #1651
_From @jasonmalinowski on March 29, 2018 23:15_

@mavasani Should we move this to roslyn-analyzers somewhere?

[2018-03-30 06:39] jinujoseph commented on #1651
_From @mavasani on March 29, 2018 23:16_

Yes, we should port it to roslyn-analyzers.

[2018-03-30 16:25] mavasani opened #1652 "CA2214 (Do not call overridable methods in constructors) false positives for virtual method invocations in lambda"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

DoNotCallOverridableMethodsInConstructorsAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA2214

#### Actual behavior
[code]
-

[2018-04-01 17:46] #411 closed

[2018-04-02 14:41] mavasani opened #1654 "Enhance CA2215 (DisposeMethodsShouldCallBaseClassDispose) using flow analysis"
Our initial implementation of CA2215, tracked with https://github.com/dotnet/roslyn-analyzers/issues/535, will be a non-DFA based version. This issue tracks enhancing that implementation with DFA.

[2018-04-02 14:42] mavasani commented on #535
We have decided to implement an initial version of this rule without DFA. https://github.com/dotnet/roslyn-analyzers/issues/1654 tracks enhancing it with DFA.

[2018-04-03 11:44] PhilPJL commented on #471
The current implementation is indicating many properties of EF classes as CA1822.  An example

[code]

All properties of ResinContent are indicated incorrectly.  I have hundreds of CA1822 messages most of which are wrong.

[2018-04-03 13:22] mavasani commented on #919
Fixed with #1530

[2018-04-03 13:22] #919 closed

[2018-04-03 13:27] #1566 closed

[2018-04-03 13:36] mavasani commented on #1485
@jamesqo You should simply add a [RenameAnnotation](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs,88) to the method name identifier, so that your code fix will bring up a rename session, show the conflicts and let user handle it appropriately.

[2018-04-03 17:44] pakdev opened #1656 "CA1711 incorrectly reports type names ending with "Dictionary" that inherit from IDictionary<TKey, TValue>"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

IdentifiersShouldNotHaveIncorrectSuffixAnalyzer

#### Repro steps

1. Create a type like the following: `public class MyGenericDictionary : IDictionary<string, string>`
2. Observe CA1711 diagnostic

#### Expected behavior

No diagnostic. [CA1

[2018-04-03 18:43] mavasani commented on #1656
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1658

[2018-04-03 18:43] #1656 closed

[2018-04-05 00:10] #535 closed

[2018-04-06 13:27] PhilPJL opened #1660 "Use pattern matching IDE0019 issue"
#### Analyzer package

Microsoft Code Analysis 2017, version [2.6.0.6241393]

#### Analyzer

Example: Use pattern matching IDE0019

#### Repro steps

[code]

#### Expected behavior

Both fe and ae should be suggested to use pattern matching.

#### Actual behavior

Only fe is suggested.

However both are suggested if there's no 'else'.

[code]

[2018-04-06 14:38] PhilPJL opened #1661 "Use ordinal string comparison CA1309"
#### Analyzer package

Microsoft Code Analysis 2017, version [2.6.0.6241303]

#### Analyzer

CA1309

#### Repro steps

Use a LINQ query with '=='

e.g.
[code]

#### Expected behavior

There to be no suggestion to use string.Equals(c.Name, "A customer", StringComparison.Ordinal)

#### Actual behavior

There is one.

[2018-04-06 14:39] mavasani commented on #1660
@PhilPJL Thanks for the report. This issue has been ported to https://github.com/dotnet/roslyn/issues/25993

[2018-04-06 14:39] #1660 closed

[2018-04-06 14:49] PhilPJL commented on #1661
Same thing applies to CA1307, probably etc...

[2018-04-09 07:25] ArikRinberg commented on #1547
As of 2.6.1-beta1-62805-01 the warning is still triggered

[2018-04-11 21:00] #1537 closed

[2018-04-12 05:50] FantasyTeddy opened #1666 "CA1716: Namespace suppression in GlobalSuppressions.cs not working"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

IdentifiersShouldNotMatchKeywords

#### Behavior

Suppressing the message that a namespace which is named like an identifier does not work in the GlobalSuppressions.cs file.
The corresponding error/warning message still appears.

#### Example

[2018-04-15 00:02] dfederm opened #1667 "An instance of AvoidDuplicateElementInitialization cannot be created"
#### Analyzer package

[code]

#### Analyzer
AvoidDuplicateElementInitialization

#### Repro steps
Attempt to build in VS (15.6 or 15.7)

#### Expected behavior
No warnings or errors

#### Actual behavior
Intellisense error (not a build error, only intellisense)

Warning	CS8032
An instance of analyzer Microsoft.CodeQuality.Analyzers.QualityGuidelines.AvoidDuplicateElementInitialization cannot be c

[2018-04-17 15:31] mavasani opened #1669 "Enable DFA tests failing due to SemanticModel.GetControlFlowGraph returning null"
Placeholder issue to skip these tests.

[2018-04-17 19:13] ivanbasov opened #1670 "Create an analyzer that catches refactorings without ExportCodeRefactoringProvider attribute"
@mavasani wrote

see https://github.com/dotnet/roslyn/pull/26201 as an example of the issue

[2018-04-17 21:38] starkcolin commented on #1606
+1
Rule is always triggered on constructors that use expression bodies
Example:
`public Startup([NotNull] IConfiguration configuration) => Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));`

[2018-04-20 15:47] twsouthwick opened #1671 "CA1036 should not report on derived types where base implements IComparable"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0]

#### Analyzer

OverrideMethodsOnComparableTypesAnalyzer

#### Repro steps

[code]

#### Expected behavior

`DerivedClass<T>` should not raise CA1036 as equality is implemented in the base class

#### Actual behavior

`DerivedClass<T>` raises CA1036

[2018-04-23 19:34] JosefPihrt opened #1673 "CA1724 is reported even if namespace contains no publicly visible types"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0]
#### Analyzer

CA1724 Type names should not match namespaces

#### Repro steps

1. Create empty .NET standard library project
1. Add nuget Microsoft.CodeAnalysis.CSharp.Workspaces
1. Add public class `Extensions`

#### Expected behavior

No diagnostic.

#### Actual behavior

CA1724 The type name Extensions conflicts in whole o

[2018-04-23 23:39] mavasani opened #1674 "Enable DFA tests failing due to missing object/collection initializer operations in compiler CFG"
Placeholder issue for skipping object/collection initializer DFA tests.

[2018-04-24 16:06] j2jensen commented on #1661
Agreed. I'm pretty sure, prior to the Roslyn Analyzers, that Code Analysis ignored the `string == string` operator for this rule, since that operator already has an ordinal comparison. Switching to `string.Equals(...Ordinal)` would have no effect other than making the code a lot more verbose.

The purpose of this Code Analysis rule is to avoid mistakes with methods like `StartsWith`, which by defa

[2018-04-24 16:31] j2jensen commented on #1661
I just noticed that [this was supposedly fixed](https://github.com/dotnet/roslyn-analyzers/issues/1081) on January 16, which made it into Milestone 15.6 in February. But there hasn't been so much as a beta release since 2.6.0 was released on January 12. So are we just waiting for a new nuget package to be released?

[2018-04-24 16:34] mavasani commented on #1661
@j2jensen Yes, that is correct. I will work towards publishing latest pre-release packages on nuget.org today. Meanwhile, you can reference the package from [this](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers) myget feed.

[2018-04-24 16:35] j2jensen opened #1675 "When will the results of Milestone 15.6 be released?"
There were some important bugs fixed in Milestone 15.6, which was closed on February 20, but there hasn't been a NuGet package update (not even a beta) since January 12. Why haven't these changes made it to NuGet yet? Is there any estimate on when that might happen?

I don't mean to be impatient, but I wanted to make sure this wasn't just overlooked.

[2018-04-24 16:37] mavasani commented on #1675
Yes, hopefully today. Meanwhile, you can reference the package from [this](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers) myget feed.

[2018-04-24 16:37] #1675 closed

[2018-04-24 17:13] danrien commented on #1313
Does this imply that roslyn analyzers do not work on .Net standard? Surely code quality is still important with .net standard?

[2018-04-24 17:27] mavasani commented on #1313
@danrien I believe you misread my comment. Roslyn analyzers **do** work fine on .net standard and .net core platforms. `FxCopCmd.exe`, which is a legacy binary analysis tool does not support these platforms.

[2018-04-24 17:29] danrien commented on #1313
Ah ok, thanks, I clearly misintrepreted!

[2018-04-25 21:33] mavasani opened #1676 "Enable skipped DFA tests with local functions/lambdas operations"
These need to be skipped due to missing support in compiler CFG. This issue tracks enabling these tests, and possibly adding more, once we have added this support.

[2018-04-26 19:05] Teddy1313 opened #1678 "Method marked with “DataTestMethod” fails CA1822"
Using Visual Studio 2017 with MSTest V2 framework with Code Analysis

A method marked with “TestMethod” is apparently exempt from CA1822
 However, a method marked with “DataTestMethod” fails CA1822.

Here is the unit test for FxCop that verifies that it treats [TestMethod] specially.
https://github.com/dotnet/roslyn-analyzers/blob/d4bdb28f9f129ed78ac1383f2893d1b60f61440f/src/Microsoft.CodeQuality.

[2018-04-27 18:02] braydengramse commented on #1661
I'm building against .NET 4.6.2. I pulled down the latest (2.6.1-beta1-62824-01) from the myget feed posted above and the code below is still surfacing CA1309.
`var someString = "Hello"; var someOtherString = "World"; if (someString == someOtherString) { }`

[2018-04-27 19:29] mavasani commented on #1560
Ping @nick-kompas do you have a repro?

[2018-04-30 14:25] mavasani commented on #1661
@braydengramse I can repro it as well. I will work on a fix today.

[2018-04-30 14:34] mavasani commented on #1661
Seems like https://github.com/dotnet/roslyn-analyzers/pull/1528 remove the binary operation check from a wrong rule (CA1820 instead of CA1309).

[2018-04-30 15:03] mavasani commented on #1661
PR: https://github.com/dotnet/roslyn-analyzers/pull/1682

I hope to publish pre-release NuGet packages with this fix on NuGet.org. Thanks everyone for reporting the issue, and sorry for the delay.

[2018-04-30 15:06] mavasani commented on #1081
This issue did not get fixed from the prior PR. I have sent out a new PR to fix this issue: https://github.com/dotnet/roslyn-analyzers/pull/1682

Once merged in, I will publish new NuGet packages on NuGet.org, hopefully in a day or two.

[2018-04-30 16:32] mavasani commented on #1533
@Mattacks You cannot get best of both the worlds here. You can either configure your project to use a fixed compiler toolset or always use the compiler toolset that comes along with compiler/VS installed in the box. If you want to make sure that all the developers on the repo are always building the project with the **same** compiler toolset, you should take the former approach. If you want to alw

[2018-04-30 19:25] mavasani commented on #1081
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1682

[2018-04-30 19:25] #1081 closed

[2018-04-30 21:51] mavasani commented on #1606
This seems like a bug in the core analyzer driver - analyzer never seems to get callbacks for operations inside expression body of a constructor. I will port this issue to roslyn repo.

[2018-04-30 21:52] mavasani commented on #1607
This seems like a bug in the core analyzer driver - analyzer never seems to get callbacks for operations inside expression body of a constructor. I will port this issue to roslyn repo.

[2018-04-30 22:11] mavasani commented on #1606
Dupe of https://github.com/dotnet/roslyn/issues/26520

[2018-04-30 22:11] mavasani commented on #1607
https://github.com/dotnet/roslyn/issues/26520

[2018-04-30 22:29] #1607 closed

[2018-04-30 22:30] #1606 closed

[2018-04-30 22:32] mavasani commented on #1563
Due to Roslyn bug https://github.com/dotnet/roslyn/issues/26520. I have a PR out to fix it: https://github.com/dotnet/roslyn/pull/26522

[2018-04-30 22:32] #1563 closed

[2018-04-30 22:34] mavasani commented on #1561
I am going to close this out as By Design, and relax the implementation if we get further feedback about the noise level.

[2018-04-30 22:37] mavasani commented on #1560
Closing this out as no repro. Kindly re-open if you have a repro or hit again on latest VS2017 builds.

[2018-04-30 22:37] #1560 closed

[2018-04-30 22:43] mavasani commented on #1550
Current behavior matches legacy FXCop and we have retained it for back compatibility.

[2018-04-30 22:43] #1550 closed

[2018-04-30 22:56] mavasani commented on #1546
This is due to VS IDE not running compilation end actions when FSA is off.

See https://github.com/dotnet/roslyn-analyzers/issues/1559#issuecomment-363196049, whose root cause is https://github.com/dotnet/roslyn/issues/11750.

Tagging @heejaechang @jinujoseph @kuhlenh, we are going to keep getting these reports until https://github.com/dotnet/roslyn/issues/11750 is addressed.

[2018-04-30 22:56] mavasani commented on #1546
Closing this as external.

[2018-04-30 22:56] #1546 closed

[2018-04-30 23:35] mavasani commented on #943
@jinujoseph There have been multiple requests for this now. I will spend some time on this tomorrow to see if I can come up with a quick solution so our cibuild also generates:
1. A ruleset which disables all rules from the analyzer package
2. Classical FxCop rulesets which include the above ruleset, and then turn on the relevant rules.
3. Package the above rulesets in our analyzer NuGet packages.

[2018-05-01 01:27] #1671 closed

[2018-05-03 17:59] mavasani commented on #1607
FYI: The external issue has been fixed and should be part of 15.8 compiler/VS update.

[2018-05-11 03:06] adraut commented on #294
Looks like this already implemented.  https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Runtime/DoNotLockOnObjectsWithWeakIdentity.cs

[2018-05-11 18:07] blowdart opened #1686 "An instance of analyzer Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer cannot be created"
#### Analyzer package

Microsoft.CodeQuality.FxCopAnalyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.FxCopAnalyzers/2.6.0)

#### Analyzer

Example: TestForNaNCorrectlyAnalyzer

#### Repro steps

1. Build from command line with dotnet build
1. Watch error appear
1. Sob

#### Expected behavior

1. Command line builds work

#### Actual behavior

1. Command line builds don

[2018-05-11 18:33] blowdart commented on #1686
Which comment? The link failed :) Did you mean -

Add a NuGet package reference to https://www.nuget.org/packages/Microsoft.Net.Compilers/2.6.0 to your projects, so regardless of the Visual Studio version used for development, an explicit build (within VS or command line) will always use the 2.6.0 toolset compiler

I do have the 2.1.200 CLI installed. I went and installed 2.1.300-rc1 (15.5.0-previ

[2018-05-11 18:50] mavasani commented on #1686
Yes, can you please confirm the version of the compiler that you are running against? We have seen quite a few reports of this issue when an older compiler is used with 2.6.0 version of the analyzer package. The fact that analyzers work for you in VS also confirm that the issue is with a lower version compiler being used on command line.

[2018-05-11 19:06] blowdart commented on #1686
How do I confirm the compiler version? :)

[2018-05-11 20:57] blowdart commented on #1686
The build agent on the machine it works on is a little ahead too;

Works - 15.7.11.29948
Fails - 15.5.153.2799

But both have VS 15.7.1 and 15.8.0 dogfood on them.

[2018-05-12 15:20] svick opened #1687 ""Do not directly await a Task" should apply only to libraries, not to applications"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

DoNotDirectlyAwaitATask

#### Repro steps

1. `dotnet new console`
2. `dotnet add package Microsoft.CodeQuality.Analyzers`
3. Add `<LangVersion>7.1</LangVersion>` to the csproj.
3. Change Program.cs to:

[code]
4. `dotnet build`

#### Expecte

[2018-05-12 15:35] svick opened #1688 "AvoidUninstantiatedInternalClasses should not be reported for Program classes with async Main"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

AvoidUninstantiatedInternalClasses

#### Repro steps

1. `dotnet new console`
2. `dotnet add package Microsoft.CodeQuality.Analyzers`
3. Add `<LangVersion>7.1</LangVersion>` to the csproj.
3. Change Program.cs to:

[code]
4. `dotnet build`

#

[2018-05-12 15:52] sharwell commented on #1687
/cc @AArnott

[2018-05-12 21:47] AArnott commented on #1687
I agree that this makes sense for some applications. But for many applications, the .exe itself doesn't constitute the entire application as there may be libraries that are also app-specific that may also not need to always `.ConfigureAwait(false)`. The flipside may also be true: that folks may want to ensure they use `ConfigureAwait` even in the .exe project.

If we build it into the rule itself

[2018-05-12 21:49] sharwell commented on #1687
@mavasani I agree with the direction of leaving this to the rule set file or other project-specific configuration, and not attempt to handle this behavior within the analysis rule itself.

[2018-05-12 21:54] sharwell commented on #1666
💭 It's possible this is a dotnet/roslyn bug, but I'm not completely sure about how the design applies here.

[2018-05-12 21:57] sharwell commented on #1652
This could result in some false negatives, but I believe this is a common pattern overall for things like event handlers where it makes sense to start conservative.

[2018-05-12 22:02] sharwell commented on #1646
:memo: The resolution here is to reference the earlier member. Here is a code sample showing several edge cases along with where the warning should be reported:

[code]

[2018-05-12 22:12] svick commented on #1687
Is there some way to have it off by default for applications, with some configuration knob to override that default?

[2018-05-14 12:20] JohanLarsson opened #1689 "Analyzer for 'Reported diagnostic with ID 'XXX' is not supported by the analyzer.' does not work with property initializers"
#### Analyzer package
Microsoft.CodeAnalysis.Analyzers

#### Repro steps

Warn if the analyzer reports diagnostic for a descriptor that is not in `SupportedDiagnostics`
[code]

[2018-05-14 12:22] JohanLarsson opened #1690 "Feature request: warn if DiagnosticAnalyzerAttribute is used on a type that is not a DiagnosticAnalyzer"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Repro steps

[code]

[2018-05-14 22:45] svick opened #1691 "DoNotHideBaseClassMethods shouldn't apply to constructors"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

DoNotHideBaseClassMethods

#### Repro steps

1. `dotnet new classlib`
2. `dotnet add package Microsoft.CodeQuality.Analyzers`
3. Change Class1.cs to:

[code]
4. `dotnet build`

#### Expected behavior

No CA1061, since constructors are not inh

[2018-05-14 22:55] svick opened #1692 "DoNotHideBaseClassMethods fixer throws NotImplementedException"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

DoNotHideBaseClassMethods

#### Repro steps

1. `dotnet new classlib`
2. `dotnet add package Microsoft.CodeQuality.Analyzers`
3. Change Class1.cs to:

[code]
4. Open the project in VS.
5. Open the Class1.cs file.
6. Attempt to use the code fi

[2018-05-15 17:00] n-sidorov opened #1693 "CA1822 Mark Members As Static should not trigger for NUnit test methods"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

MarkMembersAsStatic (CA1822)

#### Repro steps

Any NUnit test method that doesn't use test fixture members.

Example:
[code]

Tested with `.Net Core 2.0` (project targeting `netcoreapp2.0`) and `NUnit 3.10.1`.

#### Expected behavior
Rule sh

[2018-05-15 17:34] 333fred commented on #1693
Appears to be a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/1399, which was fixed just after 2.6.0 was released. @mavasani, do we know when we'll be releasing new packages yet?

[2018-05-15 17:34] #1693 closed

[2018-05-15 17:36] mavasani commented on #1693
Waiting for @DustinCampbell to merge in his MSBuild workspace analyzer.

[2018-05-15 18:27] DustinCampbell commented on #1693
Sorry, I'm working on the docs now. Maybe I should create an ask.ms link to use in the analyzer's message?

[2018-05-20 18:03] jamesqo opened #1696 "Consider adding an analyzer to warn on await used in loops"
`await` used in a loop may not be taking full advantage of parallelism if the operations can be run simultaneously; `Task.WhenAll` could be used instead. ESLint has such a rule here: https://eslint.org/docs/rules/no-await-in-loop

[2018-05-22 20:26] pharring opened #1702 "CA1063 and CA1821 when finalizer is an expression-bodied method"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

Microsoft.CodeQuality.Analyzers (CA1063) Implement IDisposable correctly
Microosft.CodeQuality.CSharp.Analyzers (CA1821) Remove empty Finalizers

#### Repro steps

Compile this with the default ruleset:

[code]

#### Expected behavior
No anal

[2018-05-22 20:30] mavasani commented on #1702
This is a dupe of https://github.com/dotnet/roslyn-analyzers/issues/1607, which was dupe of Roslyn bug https://github.com/dotnet/roslyn/issues/26520, the latter just got fixed recently in Roslyn and should be part of next VS update (15.8)

[2018-05-22 20:30] #1702 closed

[2018-05-22 20:48] pharring commented on #1702
OK. Sorry for the noise.

[2018-05-22 21:07] mavasani commented on #1702
@pharring No worries at all. Always appreciate your feedback, please keep those coming!

[2018-05-23 13:18] li0nsar3c00l commented on #1687
Moreover I do get this warning on ASP.NET Core Projects, where it isn't correct according to https://stackoverflow.com/a/40220190

[2018-05-25 07:00] jinujoseph opened #1703 "Warning for [DataTestMethod]"
Affected Branch: [27705.2000.d15.8]
Affected Build: 15.8.0 Preview 1.1
Affected Product Language: C#

Steps to reproduce:

1. Create new  MSTest Test Project (.NET Core)
2. Add following data test method to test class:
[DataTestMethod]

[DataRow(0)]

public void TestMethod(int n) { }

3. Add Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0 to project

Expected: there are no warnings for TestMethod
Actu

[2018-05-25 12:21] dnperfors commented on #1574
Any advice on how this has to be done?
I was looking at the other projects, but they are analysers, so this isn't going to work for the test.utilities.

I was thinking about creating a Test.Utilities.Package project that adds the Roslyn.Test.Utilities.dll to a nuget package. But instead of adding it to the 'analysers' target directory, it should go to the 'lib' target directory.

[2018-05-25 13:59] sharwell commented on #1574
@dnperfors I would strongly encourage starting with the test framework in StyleCop Analyzers over the one here. We've made a tremendous number of bug fixes and usability improvements in it.

[2018-05-25 15:41] JohanLarsson commented on #1574
There is also [Gu.Roslyn.Asserts](https://www.nuget.org/packages/Gu.Roslyn.Asserts/)

[2018-05-25 16:26] mavasani commented on #1574
@hvanbakel @dnperfors As mentioned by others, there are multiple different analyzer projects, which are good starting point/references for such work. I personally feel such a test utilities package belongs in the Roslyn repo. Any new Microsoft.CodeAnalysis features or public APIs that get added in future will automatically get test infrastructure support when unit tests are added in Roslyn, and th

[2018-05-25 16:27] sharwell commented on #1574
@JohanLarsson your repo is in our list of references for future stabilization of a better test infrastructure. It definitely cleans up some things that we missed in StyleCop Analyzers.

[2018-05-25 16:28] sharwell commented on #1703
Duplicate of #1678

[2018-05-25 16:28] #1703 closed

[2018-05-25 16:44] curia-damiano commented on #943
+1

[2018-05-26 06:42] davkean opened #1704 "Microsoft.CodeQuality.Analyzers crashed with InvalidOperationException"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

DisposableFieldsShouldBeDisposed

#### Repro steps

I don't have a repro:

[code]

#### Expected behavior

#### Actual behavior

[2018-05-26 17:48] 333fred commented on #1704
@mavasani, looks like this is occurring during points to analysis on the managed unit tests?

[2018-05-27 01:09] mavasani commented on #1704
Yes, I will investigate.

[2018-05-27 14:51] yaireclipse opened #1705 "DTOs and CA1819 (and CA2227)"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0)

#### Analyzer

[CA1819: Properties should not return arrays](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1819-properties-should-not-return-arrays)

#### Expected behavior
In the [`When to Suppress Warnings` section](https://docs.microsoft.c

[2018-05-30 20:16] dcwuser opened #1706 "CA2225: Don't ask for cast alternates"
Write a library that defines an implicit or explicit cast, e.g.

        public static implicit operator Int128 (Int64 value) {
            // create a 128-bit integer from a 64-bit integer
        }

Run code analysis against the library. It will fire a CA2225 violation that says "Provide a method named 'ToInt128' or 'FromInt128' as an alternate for operator op_implicit."

This is, I believe, new

[2018-05-31 23:13] commonsensesoftware opened #1707 "CA1062 (ValidateArgumentsOfPublicMethods) Does Not Honor Contract Validators"
#### Analyzer package

Microsoft.CodeQuality.Analyzers.Exp, version [2.6.1-beta1-62929-01](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers.Exp/2.6.1-beta1-62929-01)

#### Analyzer

Example: ValidateArgumentsOfPublicMethods

#### Repro steps

Define a contract validator class:

[code]

Then define a class that leverages a contract validator:

[code]

###

[2018-06-01 07:21] dcwuser opened #1708 "CA1812 Shouldn't Fire for DebuggerTypeProxy"
To change how a class is displayed in the VS debugger, one defines a type proxy and then adds the DebuggerTypeProxy attribute to the original class, so that the proxy class determines what is displayed by VS instead of the original class. It is natural to make the proxy class internal, since it is not intended to be part of the API surface. (VS finds and instantiates it via reflection.) When one d

[2018-06-02 15:47] cremor opened #1709 "Link to the current rule documentation on docs.microsoft.com"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version 2.6.0

#### Analyzer

Every analyzer that has a documentation page linked.

#### Repro steps

1. Open the help page of any rule, either by clicking on "View help" in the context menu of a rule in the solution explorer or by clicking the linked rule id in the error list or quick action popup.

#### Expected behavior

It should di

[2018-06-02 18:34] 333fred commented on #1709
This was fixed in https://github.com/dotnet/roslyn-analyzers/pull/1542, and will be in the next release.

[2018-06-02 18:34] #1709 closed

[2018-06-05 19:20] mavasani opened #1711 "NRE in CSharpDiagnosticAnalyzerApiUsageAnalyzer"
See https://ci.dot.net/job/dotnet_roslyn-analyzers/job/master/job/Windows_NT_Release_prtest/5/console

[code]

[2018-06-06 09:14] fgenolini opened #1712 "false positive CA2235"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.1](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.1)

#### Analyzer

MarkAllNonSerializableFields

#### Repro steps

1. Upgrade from 2.6.0 to 2.6.1 using NuGet package manager on Visual Studio 2017 15.7.3
1. Rebuild C# .Net standard 2.0 class library that previously had 0 warnings
1. false positive for C

[2018-06-06 09:54] markashleybell opened #1713 "CA1801 warning shown on build/analysis, disappears when source file is opened"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.1](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.1)

#### Analyzer

ReviewUnusedParameters

#### Repro steps

I have several custom error types in my project, all derived from a base type:

    public class Error
    {
        public Error(string description)
            : this(description, null)

[2018-06-06 12:30] mavasani commented on #1713
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1713 and https://github.com/dotnet/roslyn-analyzers/issues/1559.

FYI @jinujoseph @heejaechang, error list behavior is due to compilation end action bug.

[2018-06-06 12:30] sharwell commented on #1713
@mavasani do we have a bug that this should have included quotes, like this?

[2018-06-06 12:31] #1713 closed

[2018-06-06 12:32] mavasani commented on #1713
@sharwell I do not believe so. I think quite a few of our diagnostic messages were created by an automated tool that ported messages from old FxCop implementation. I will file an issue to audit the messages.

[2018-06-06 12:33] mavasani opened #1714 "Audit diagnostic messages for missing quotes around symbol names"
I think quite a few of our diagnostic messages were created by an automated tool that ported messages from old FxCop implementation. For example, see https://github.com/dotnet/roslyn-analyzers/issues/1713#issuecomment-395051433.

[2018-06-06 12:37] mavasani commented on #1712
@fgenolini Can you please provide a simple repro code snippet?

[2018-06-06 12:49] mavasani commented on #1712
Never mind, I missed the part that this is for `C# .Net standard 2.0 class library` - I can repro it now.

[2018-06-06 12:52] mavasani commented on #1712
Likely due to the fact that the analyzer was written for NetFramework, and has [this](https://github.com/dotnet/roslyn-analyzers/blob/2858e1048ea2d4738bd94af33ad44855b291140f/src/Microsoft.NetFramework.Analyzers/Core/SerializationRulesDiagnosticAnalyzer.cs#L274) workaround, which iiss likely failing for NetStandard projects. We will need to move the analyzer to NetCore analyzers package, and add u

[2018-06-06 13:33] markashleybell commented on #1713
Thanks for taking a look; however, I don't think this is a duplicate.

After enabling full solution analysis (which I _think_ seems to be the suggested fix from reading through some other referenced issues), the inconsistency with the disappearing messages is gone. So that part, I would agree, is covered by the other issue.

But the real issue is that I shouldn't see the `CA1801` warning _at all_

[2018-06-06 13:37] mavasani commented on #1713
@markashleybell Sorry, my bad that I put a wrong dupe ID in https://github.com/dotnet/roslyn-analyzers/issues/1713#issuecomment-395051399. The other issue is dupe of #1606, which was recently fixed in Roslyn and should not repro in VS15.8

[2018-06-10 12:10] Echo-8-ERA commented on #1706
Somewhat related is that the alternatives it looks for don't make sense.

If I have
[code]
I would have expected it to look for `FromInt` as opposed to `FromFoo`.

[2018-06-10 17:18] sharwell commented on #1706
@dcwuser In the documentation you linked to is the following note after the long table:

[2018-06-10 17:19] sharwell commented on #1706
@Echo-8-ERA Yes. Please file a separate issue for that since it's an obvious oversight/bug.

[2018-06-10 17:54] Echo-8-ERA opened #1717 "[CA2225] Alternative name for type conversion operators is nonsensical"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.6.1

#### Diagnostic ID
[CA2225](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2225-operator-overloads-have-named-alternates)

#### Repro steps
[code]
#### Expected behavior
No violation of CA2225.

#### Actual behavior
CA2225 v

[2018-06-10 17:58] Echo-8-ERA commented on #1706
@sharwell Done (#1717)

[2018-06-11 01:58] dcwuser commented on #1706
@sharwell Granted, I missed that, and thanks for pointing it out. (Why wouldn't it be in the table?) Still I stand by my request with the remaining arguments:

1. FxCop in VS2015 didn't fire on this. So 1000s of compliant libraries have been produced and now you are demanding that they change their public surface area.

2. More importantly, unlike for the other named alternates, the BCL itself doe

[2018-06-11 02:39] paul1956 opened #6237 "VB should not return CA1819 Properties should not return arrays on WriteOnly Property"
**Version Used**:
15.7.3
**Steps to Reproduce**:
[code]
**Expected Behavior**:
No issue since nothing is being returned
**Actual Behavior**:
CA1819 Properties should not return arrays

[2018-06-12 00:09] mavasani commented on #943
I have a PR out to package classical and auxiliary rulesets along with each analyzer package: https://github.com/dotnet/roslyn-analyzers/pull/1718

Kindly, take a look at the description and screenshots in the PR to confirm this satisfies everyone's ask.

@Dresel @axelheer @alextolp @curia-damiano

[2018-06-12 08:22] #943 closed

[2018-06-12 13:31] mavasani commented on #1077
@vinimal We now package ruleset files with an entry for every analyzer rule in each analyzer NuGet package. See https://github.com/dotnet/roslyn-analyzers/pull/1718. Will that meet your requirements?

[2018-06-12 14:33] mavasani commented on #943
Package with the rulesets: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.2-beta1-63012-01

[2018-06-12 17:38] mavasani commented on #943
Published on NuGet: https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.2-beta1

[2018-06-12 17:45] mavasani commented on #943
Also tagging @gewarren. We probably want to document https://github.com/dotnet/roslyn-analyzers/pull/1718#issue-194133287 and https://github.com/dotnet/roslyn-analyzers/pull/1718#issuecomment-396423976 on docs.microsoft.com, so customers who wants to migrate from legacy FxCop to FxCop analyzers without altering their existing rule configuration can use the new rulesets that we package now with the

[2018-06-14 23:43] gewarren commented on #943
@mavasani will do, thanks.

[2018-06-18 22:15] jvandertil commented on #875
I believe this issue can now be fixed since roslyn#3898 has been shipped in VS 15.7?

[2018-06-28 15:33] mavasani opened #1727 "Write a meta-analyzer to flag analyzers that use VB/C# compiler reserved diagnostic IDs"
See https://github.com/dotnet/roslyn/issues/25748 for more details and previous attempt to put such an diagnostic in the compiler itself

[2018-06-29 21:44] elmojo opened #1729 "Warning CS8032: An instance of analyzer Microsoft.EntityFrameworkCore.RawSqlStringInjectionDiagnosticAnalyzer cannot be created"
#### Message
warning CS8032: An instance of analyzer Microsoft.EntityFrameworkCore.RawSqlStringInjectionDiagnosticAnalyzer cannot be created from C:\Users\{username}\.nuget\packages\microsoft.entityframeworkcore.analyzers\2.1.0\analyzers\dotnet\cs\Microsoft.EntityFrameworkCore.Analyzers.dll : Could not load file or assembly 'Microsoft.CodeAnalysis, Version=2.8.0.0, Culture=neutral, PublicKeyToken=

[2018-07-02 03:21] thepirat000 commented on #1729
same here

[2018-07-02 16:15] 333fred commented on #1729
@elmojo @thepirat000 this repo does not own that set of analyzers, that's at https://github.com/aspnet/EntityFrameworkCore. However, looking at the error message, it appears that those analyzers depend on a newer version of roslyn than is in 2.0, you'll likely need to update to 2.1.

[2018-07-02 16:16] 333fred commented on #1729
Feel free to comment, but I'm going to close this as we don't own that set of analyzers.

[2018-07-02 16:16] #1729 closed

[2018-07-04 06:50] magol opened #1731 "C# Core Guideline"
(This repository is probably not the right place to ask this question, but I cannot find any better place. Please refer to the correct place, if any)

For the C++ world, it is a [C++ Core Guideline](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines). For some of the guidelines it is analysis in Visual Studio, but many of the guidelines are more of a philosophical nature.

I can not find

[2018-07-04 11:38] MihailDobrev commented on #1729
Is there a fix to this, I have the same error?

[2018-07-04 13:23] wachulski commented on #1646
Looks interesting, consider me working on it.

[2018-07-05 09:13] reduckted opened #1732 "CA1018: False positive on attribute that inherits another attribute"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Diagnostic ID

[CA1018](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1018-mark-attributes-with-attributeusageattribute)

#### Repro steps

1. Create two attributes, `FooAttribute` and `BarAttribute`.
2. Make `BarAtt

[2018-07-05 12:00] sharwell commented on #1732
👍 I've observed this pattern in some simplification cases as well, and the special case seems to work well with [CA1813 (Avoid unsealed attributes)](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1813-avoid-unsealed-attributes).

[2018-07-05 16:43] 333fred commented on #1729
@MihailDobrev you likely need to update the dotnet version you're using. If that doesn't fix it, I suggest opening an issue on the repository I linked above.

[2018-07-10 17:07] zivillian commented on #943
Can you please describe how those rulesets can be used in a project? I tried adding `<CodeAnalysisRuleSet>..\rulesets\legacy\MinimumRecommendedRules.ruleset</CodeAnalysisRuleSet>` with different paths and ended with just copying the ruleset folder to my project.

[2018-07-10 17:17] mavasani commented on #943
@zivillian Relative paths will not work as the ruleset location is relative to the NuGet package root. You either need to explicitly define/reference NuGet package root and package version in your absolute path OR copy over the required ruleset files to your project directory.

[2018-07-11 13:57] canton7 opened #1734 "CA1304 should ignore a CultureInfo parameter which is 'out'"
#### Analyzer package

[System.Runtime.Analyzers](https://www.nuget.org/packages/System.Runtime.Analyzers)

#### Package Version

v1.1.0

#### Diagnostic ID

[CA1304](https://docs.microsoft.com/en-gb/visualstudio/code-quality/ca1304-specify-cultureinfo)

#### Repro steps

1. Define methods with the signatures `void Foo(string a)` and `void Foo(string a, out CultureInfo b)`
2. Write a call to `Foo(

[2018-07-12 03:22] davkean opened #1735 "DisposeObjectsBeforeLosingScope threw "System.InvalidOperationException: Operation is not valid due to the current state of the object.""
#### Analyzer package

#### Package Version

#### Diagnostic ID

DisposeObjectsBeforeLosingScope

#### Repro steps

[code]

[code]

[2018-07-15 06:37] RobinHood70 opened #1736 "CA1502 miscalculates complexity in string-based switch"
#### Analyzer package

Microsoft.Maintainability

#### Package Version

Built-in

#### Diagnostic ID

[CA1502](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca1502-avoid-excessive-complexity)

#### Repro steps

1. Add the following code to a new project.
[code]
2. Use code analysis or code metrics to determine complexity.

#### Expected behavior

Cyclomatic complexity should be 12.

#

[2018-07-17 14:23] nenadvicentic commented on #1499
Hi! Is there any update on this feature? Or alternative solution?

[2018-07-17 14:25] mavasani commented on #1499
We are currently investigating adding this support in Dev16.0 P1. I will keep this issue updated with any new information.

[2018-07-18 17:02] mavasani opened #1737 "Remove fragile logic in IOperation analyzers that rely on specific operation tree shape"

[2018-07-19 12:16] Woyken opened #1739 "Analysis crashes when project contains generic types referencing same class (Stack Overflow exception)"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Repro steps
Visual Studio 2017 v15.5.6
NuGet package Microsoft.CodeAnalysis.FxCopAnalyzers v2.6.1

[code]
Opening file containing this code (freezes UI) and
trying to build the solution causes compiler process to crash with Stack O

[2018-07-19 17:52] mavasani commented on #434
Re-opening as there have been customer requests for enabling Code metrics rules in CI.
See comments within https://developercommunity.visualstudio.com/content/problem/142328/code-metrics-powertool-missing-for-vs2017.html and https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33459643--netcore-code-metrics

[2018-07-19 17:53] mavasani commented on #436
Re-opening as there have been customer requests for enabling Code metrics rules in CI.
See comments within https://developercommunity.visualstudio.com/content/problem/142328/code-metrics-powertool-missing-for-vs2017.html and https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33459643--netcore-code-metrics

[2018-07-19 17:53] mavasani commented on #437
Re-opening as there have been customer requests for enabling Code metrics rules in CI.
See comments within https://developercommunity.visualstudio.com/content/problem/142328/code-metrics-powertool-missing-for-vs2017.html and https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33459643--netcore-code-metrics

[2018-07-19 20:52] mavasani opened #1741 "Future work items for Code Metrics"
PRs for initial [analyzer implementation](https://github.com/dotnet/roslyn-analyzers/pull/1740) and [VS side implementation](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/133019) are currently in flight.

This issue tracks the following work items:

- [x] Refactor the core code metrics computation into a separate library.
- [x] A command line tool, such as Metrics.exe, that uses the a

[2018-07-19 20:55] mavasani opened #1742 "Uncomment Code metrics related code that handles operations added in Microsoft.CodeAnalysis v2.9.0"
These are commented out as master is still on Microsoft.CodeAnalysis v2.6.1.

Search for this issue number in the repo for the commented out code:

1. `MetricsHelper.cs`
[code]

2. `ComputationalComplexityMetrics.cs`
[code]

[2018-07-20 12:49] #433 closed

[2018-07-20 12:49] #434 closed

[2018-07-20 12:49] #436 closed

[2018-07-20 12:49] #437 closed

[2018-07-20 14:10] #1544 closed

[2018-07-23 17:04] li0nsar3c00l commented on #1711
Can confirm this issue, occured in one of my asp.net core projects

[2018-07-23 18:01] li0nsar3c00l commented on #1480
Latest version of Visual Studio and .NET Core SDK and still got the problem.

[2018-07-23 18:16] 333fred commented on #1480
@li0nsar3c00l what version of the roslyn analyzers are you using?

[2018-07-23 19:46] Styxxy commented on #1313
I came across the same problem when having a solution mixed with .NET Full (non-SDK style projects) and .NET  Standard projects (SDK style projects).

I fixed it by adding following _custom_ target at the end of the project (I actually created a shared targets file which I imports in each SDK style project):

[code]

If you want code analysis, you can include the (nuget) package Microsoft.CodeAnal

[2018-07-25 00:30] bichuga opened #1745 "Microsoft.CodeAnalysis.FxCopAnalyzers.2.6.2-beta1\rulesets\AllRulesDefault.ruleset is corrupt"
When using AllRulesDefault, I get warning message:

warnings in directory e:\enlistments\bothellgito365\sources\dev\official\src\signing\signingjsonexporter
e:\enlistments\bothellgito365\sources\dev\official\src\signing\signingjsonexporter\ca0064 : warning No analysis was performed because the specified rule set could not be loaded or did not contain any managed code analysis rules.

There are two

[2018-07-25 03:45] mavasani commented on #1745
This ruleset is not meant for Managed Binary Analysis (which is legacy FxCop). Do you see diagnostics when you run FxCop analyzers? I believe there is also a bug in ruleset editor not correctly displaying enabled rules when enabled via ruleset includes (which this ruleset does). Let me try to repro that and file a separate bug.

[2018-07-25 06:06] bichuga commented on #1745
I'm not sure of the answer to your question. When I save the ruleset with everything checked from VS, it labels it as
`<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

[2018-07-25 14:48] jherby2k opened #1746 "CA1711 warning for a dictionary implementing IDictionary<TKey, TValue>"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers(https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

at least v2.6.0 and newer

#### Diagnostic ID

[CA1711](https://msdn.microsoft.com/en-us/library/ms182247.aspx)

#### Repro steps

1. Create a class that implements IDictionary<string, object> named "CustomDictionary"

#### Expected behavior

No

[2018-07-26 22:59] bichuga opened #1747 "StackOverflowException on CA1812"
#### Analyzer package
Microsoft.CodeQuality.Analyzers

#### Package Version
v2.6.2-beta1

#### Diagnostic ID
CA1812

#### Repro steps
1. Check out branch [users/lukesch/CA1812Overflow](https://o365exchange.visualstudio.com/O365%20Core/_git/bothell?path=%2Fsources%2Fdev%2FWorkflows%2Fsrc%2FWorkflowEngine%2FInfrastructure%2FServer%2FSql%2FSqlManagedObjects&version=GBusers%2Flukesch%2FCA1812Overflow)

[2018-07-27 20:11] mavasani commented on #1499
Fixed with an internal checkin. This support should be available in Dev16 Preview1.

[2018-07-27 20:11] #1499 closed

[2018-07-29 09:11] dnperfors commented on #1746
I tried to reproduce this issue using a unit test, but I was unable to create a failing test. I tried the following definition:
[code]

[2018-07-29 09:36] dnperfors commented on #1691
I was looking into fixing this, and it doesn't seem that hard to fix.
My idea would be to bail out the analysis as soon as it is a constructor, just like when it is an overload, like [here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/DoNotHideBaseClassMethods.cs#L51).

However since there is a 'Discussion' tag on this issue, I

[2018-07-31 07:49] eluchsinger commented on #1499
@mavasani so what do I need to do to use this?

[2018-08-01 13:18] jherby2k commented on #1746
Try this:

`    public class SettingDictionary : System.Collections.Generic.IDictionary<string, object>`

[2018-08-01 13:31] jherby2k commented on #1746
Actually I apologize, issue indeed seems fixed by 2.6.1. I just haven't been able to upgrade because of the CA2235 regression.

[2018-08-01 13:31] #1746 closed

[2018-08-02 05:57] JohanLarsson opened #6238 "Check static member initialization"
[code]

Resharper has a check for this, don't know if there is anything in the compiler, should be a warning at least.

Below is a sneaky edge case (Foo.Default.Text will be null):
[code]

[2018-08-02 13:58] mavasani commented on #1499
@eluchsinger You will need to wait for the first public preview of Dev16 before you can get this support in VS.

[2018-08-02 17:16] bordecal commented on #1712
I am encountering similar problems when running against .NET Standard 2.0 libraries.  To make it extra interesting, the fields in question are actually _static_ string fields, which should presumably be ignored entirely by this rule.  (The problem is present in both 2.6.1 and 2.6.2-beta1.)

[2018-08-02 20:59] sharwell opened #1750 "Delete the Microsoft.Net.RoslynDiagnostics package"
Roslyn was the only consumer, and has now switched to directly referencing other analyzer packages (see dotnet/roslyn#29020). Updates to the **Microsoft.Net.RoslynDiagnostics** package no longer need to be maintained/published.

[2018-08-03 13:44] sharwell opened #1751 "New analyzer for Roslyn code: initialize guard variables where they are declared"
This dotnet/roslyn-specific analyzer would identify fields of the following form:

[code]

And support two diagnostics:

* If the field is initialized in the constructor, it suggests initializing it at the declaration point instead. The code fix would remove the initialization from the constructor.

[code]

* If the field is *not* initialized in the constructor, it suggests initializing it at the

[2018-08-03 15:28] LordMike opened #1752 "Request: Warn when returning a Task using a disposable resource"
#### Analyzer package

N/A

#### Package Version

N/A

#### Diagnostic ID

N/A

#### Repro steps

[code]

So. In this case, we're using a disposable resource in an async method, but since our method returns a Task too, we don't get any compiler error and therefore might not notice that we should've await'ed the `SomeOtherAsyncTask`.

This particular issue has arisen twice today in our source contr

[2018-08-03 15:39] JohanLarsson commented on #1752
Until it is added you can use: https://github.com/DotNetAnalyzers/IDisposableAnalyzers/blob/master/documentation/IDISP013.md

[2018-08-03 15:45] sharwell commented on #1752
💭 I'm not sure if we're migrating towards Microsoft/vs-threading as the home for asynchronous analyzers, but if so it seems like this would fit in well there.

[2018-08-03 18:03] KevinCathcart opened #1753 "Implemented version CA1724 does not match its official description"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Diagnostic ID

[CA1724](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1724-type-names-should-not-match-namespaces)

#### Issue

The official description of this ID is:

This analyzer implements quite a bit more than

[2018-08-03 20:27] mavasani opened #1755 "Write unit tests for Metrics.csproj"
Metrics.csproj is a new console application added with https://github.com/dotnet/roslyn-analyzers/pull/1754. We need to add unit tests for this application.

[2018-08-03 20:38] mavasani opened #1756 "Shipping story for Metrics.exe"
https://github.com/dotnet/roslyn-analyzers/pull/1754 ports Metrics.exe that shipped from VS2010-VS2015 for code metrics report generation. The PR does not package or publish the exe. For now, the customers have to build the repo locally and produce the exe. If this is not sufficient and we have enough customer requests, we need to sign/package/publish this exe.

- [ ] Localization
- [ ] Unit tests

[2018-08-03 22:31] mavasani commented on #1499
@eluchsinger Alternatively, you can use our ported `Metrics.exe` command line tool to generate an xml code metrics report. See https://developercommunity.visualstudio.com/solutions/305903/view.html for details.

[2018-08-05 11:49] jvandertil opened #1757 "CA2235 false positive when targeting .NET Standard or .NET Core."
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.6.1 and v2.6.2-beta1

#### Diagnostic ID
[CA2235](https://docs.microsoft.com/nl-nl/visualstudio/code-quality/ca2235-mark-all-non-serializable-fields)

#### Repro steps
1. Create a project targeting netstandard2.0 or netcoreapp2.0
2. Create a c

[2018-08-06 14:11] mavasani commented on #1757
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/1712

[2018-08-06 14:11] #1757 closed

[2018-08-06 15:28] paulomorgado commented on #1323
This should be done.

If I have to go to every occurrence of violations of this rule to suppress the rule, it makes the rule useless.

[2018-08-06 19:11] mavasani commented on #1753
Another related issue: https://github.com/dotnet/roslyn-analyzers/issues/1673

[2018-08-06 19:15] mavasani commented on #1753
We should possibly use a different rule ID for the [non-system/default rule](https://github.com/dotnet/roslyn-analyzers/blob/2858e1048ea2d4738bd94af33ad44855b291140f/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/TypeNamesShouldNotMatchNamespaces.cs#L28) and also update the implementation to only report it for source type/namespace, and also only consider externally visible types.

[2018-08-06 19:25] mavasani commented on #1747
@bichuga Can you please provide a standalone repro project that does not require enlisting into office (and permissions required for it)? It would also help if you can provide the callstack or a dump file for the crash.

[2018-08-06 19:33] mavasani commented on #1745
@bichuga Updating my project to reference the AllRulesDefault.ruleset does have expected behavior:

![image](https://user-images.githubusercontent.com/10605811/43736964-80d5cce4-9974-11e8-9de0-31498a25f3ab.png)

Note: Managed Binary Analysis is for legacy/binary FxCop rules, which are not enabled by this ruleset. The rest of the code quality/netcore/netframework rules are enabled by this ruleset:

[2018-08-06 19:33] #1745 closed

[2018-08-06 21:58] mavasani commented on #1747
Verified this is dupe of https://github.com/dotnet/roslyn-analyzers/issues/1739, which has a smaller repro. Will send out a fix soon. Closing this one as a duplicate.

[2018-08-06 21:58] #1747 closed

[2018-08-06 21:59] mavasani commented on #1739
Crashing analyzer is CA1812

[2018-08-07 00:29] mavasani commented on #1736
@RobinHood70 I see that you filed these bugs a few weeks ago before we had ported code metrics rules from legacy/binary FxCop to FxCop analyzers in this repo. The former was based on MSIL, hence got tricked due by the compiler code-gen optimizations. The later implementation is source based analysis and should not have this issue. Can you try installing the following pre-release package https://do

[2018-08-07 00:29] #1736 closed

[2018-08-07 00:30] mavasani commented on #1736
Note that we are soon planning to publish the 2.6.2-beta2 packages for https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers on nuget.org, which should have the fix.

[2018-08-07 00:35] #1739 closed

[2018-08-07 00:40] mavasani commented on #1735
Does not repro with the latest version of this analyzer package: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.0-beta1-63118-01. Note that this analyzer package is based on the compiler CFG API, which is behind a feature flag and needs the project file to have the following property: `<Features>flow-analysis</Features>`

[2018-08-07 00:40] #1735 closed

[2018-08-07 01:46] RobinHood70 commented on #1736
I installed the package via the PM console and it appeared to go successfully. The cyclomatic complexity remains at 26/27, though.

[2018-08-07 08:52] levhaikin commented on #1705
Hi,

I have the same problem. Would be nice to at least push it into the docs as a legitimate exception.

Joining @yaireclipse - thanks for the good job - we do benefit from it a lot!
Lev.

[2018-08-07 13:17] mavasani commented on #1736
@RobinHood70 how are you computing the cyclomatic complexity? Are you still executing `Calculate Code Metrics` command in VS? If so, that command does not use source based computation in Dev15/VS2017. You will need to wait for Dev16 Preview1 to have it work as expected in Visual Studion. Until then, you can look at the solution posted [here](https://developercommunity.visualstudio.com/content/prob

[2018-08-07 14:28] mavasani commented on #1732
This diverges from the FxCop behavior, but I agree that the proposed change is reasonable.

[2018-08-07 15:15] mavasani commented on #1706
Can you please give a concrete source example? I tried the following source code, and binary FxCop does generate a CA2225:

[code]

[2018-08-07 15:18] mavasani commented on #1705
@yaireclipse @levhaikin Thanks. The recommendation sounds reasonable to me. @dotnet/roslyn-analysis, any objections? Otherwise, I will port this to a documentation bug so it can be documented on docs.microsoft.com.

[2018-08-07 15:20] mavasani commented on #1704
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1735

[2018-08-07 15:20] #1704 closed

[2018-08-07 15:36] mavasani commented on #1691
@dnperfors I verified that binary FxCop in VS2015 does not report this and also the documentation mentions the diagnostic applies to only methods. Feel free to work on a fix. Thanks.

[2018-08-07 15:53] mavasani commented on #1689
@JohanLarsson We already have [RS1005](https://github.com/dotnet/roslyn-analyzers/blob/26fe065161a871718c717da1821d82c4decbc8e9/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReportDiagnosticAnalyzer.cs#L25) in Microsoft.CodeAnalysis.Analyzers but does not seem to work for property initializers. If you replace the following:

[code]

with

[code]

RS1005 is indeed reported. I will send a

[2018-08-07 16:51] mavasani commented on #1667
Can you please try on the latest 15.8 preview of VS2015: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-preview-relnotes?

[2018-08-07 16:51] #1667 closed

[2018-08-07 16:54] mavasani commented on #1667
I verified this works fine on 15.8 Preview 5.

[2018-08-07 17:36] mavasani commented on #1666
The issues seems to be that the analyzer is reporting a diagnostic with no location, hence symbol based suppression does not work. I will fix the analyzer to report diagnostic with symbol location.

[2018-08-07 18:16] dnperfors commented on #1691
I will start on it when I’m back from holiday...

[2018-08-07 18:55] #1689 closed

[2018-08-07 18:55] #1666 closed

[2018-08-07 18:59] mavasani commented on #1731
Ported to https://github.com/dotnet/csharplang/issues/1779

[2018-08-07 18:59] #1731 closed

[2018-08-07 19:01] mavasani commented on #1686
Closing this issue as it is unrelated to analyzers package. The error is due to a lower version of compiler somehow getting invoked.

[2018-08-07 19:01] #1686 closed

[2018-08-07 20:13] #1692 closed

[2018-08-07 20:16] #1717 closed

[2018-08-07 22:01] #1734 closed

[2018-08-07 22:40] mavasani commented on #1753
Alright, so I played around a bit more with legacy FxCop implementation and see that even that implements 2 separate rules: one for system namespaces and one for namespaces in your project. We match the implementation, and we cannot change the ID used for the latter rule as that would void existing in-source suppressions for latter case.

However, I believe we should still fix https://github.com/d

[2018-08-07 22:40] #1753 closed

[2018-08-07 23:06] mavasani commented on #1753
Filed https://github.com/MicrosoftDocs/visualstudio-docs/issues/1362 to update documentation for CA1724 to include additional scenarios covered by the rule implementation.

[2018-08-07 23:26] mavasani commented on #1453
@kentcb @333fred can this be closed?

[2018-08-07 23:35] mavasani commented on #1636
@SebEic FxCopCmd is not supported on .NetCore/.NetStandard projects. You should add a NuGet package reference to https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/ and then edit your project file to add the following property to set your msbuild project file:

[code]

Executing a project build in Visual Studio or msbuild command line will invoke the analyzers along with the buil

[2018-08-07 23:35] #1636 closed

[2018-08-07 23:37] mavasani commented on #1645
This issue is not related to the analyzer packages. You can probably start by filing an issue on https://github.com/dotnet/roslyn/issues/new if you are still hitting this.

[2018-08-07 23:37] #1645 closed

[2018-08-08 04:51] #1673 closed

[2018-08-08 07:45] jinujoseph opened #1771 "Intermittent NullReferenceException in CSharpDiagnosticAnalyzerApiUsageAnalyzer"
_From @yaakov-h on August 7, 2018 3:58_

**Version Used**:
Microsoft.CodeAnalysis.Analyzers v2.6.1

**Steps to Reproduce**:

1. Clone https://github.com/WiseTechGlobal/WTG.Analyzers at commit 223095d2
2. Build from source

**Expected Behavior**:

No null reference exceptions in MS analyzers

**Actual Behavior**:

Sometimes null reference exception in MS analyzers

_Copied from original issue: dotn

[2018-08-08 07:45] jinujoseph commented on #1771
_From @sharwell on August 7, 2018 16:24_

@jinujoseph Can you move this to dotnet/roslyn-analyzers

[2018-08-08 13:41] mavasani commented on #1771
@yaakov-h I am unable to build your solution:

[code]

[2018-08-08 13:44] mavasani commented on #1771
Ah, I was missing executing https://github.com/WiseTechGlobal/WTG.Analyzers/blob/master/appveyor.yml#L23.

[2018-08-08 14:40] mavasani commented on #1705
Filed https://github.com/MicrosoftDocs/visualstudio-docs/issues/1367 to update the documentation.

[2018-08-08 14:40] #1705 closed

[2018-08-08 14:43] #1567 closed

[2018-08-08 14:43] #1669 closed

[2018-08-08 14:43] #1674 closed

[2018-08-08 18:13] #1711 closed

[2018-08-08 18:13] #1771 closed

[2018-08-08 18:15] mavasani commented on #869
Already being done now.

[2018-08-08 18:15] #869 closed

[2018-08-08 18:17] mavasani commented on #1199
This will get done as part of https://github.com/dotnet/roslyn-analyzers/issues/1750

[2018-08-08 18:17] #1199 closed

[2018-08-09 08:55] TrymBeast opened #1774 "Duplicated codes"
Hello, while reviewing the rules to use where I work I noticed that there are two duplicated codes (CA5350 and CA5351).
I would expect that rule codes are unique.

Here are the details of this rules:

#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Diagnostic ID

CA5350: Do not

[2018-08-09 11:01] SWarnberg opened #1775 "CA2235 warning on primitive data types"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version

Example: v2.6.2-beta2

#### Diagnostic ID

[CA2235](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2235-mark-all-non-serializable-fields)

#### Repro steps

1. Create a class decorated with the Serializable attribute.
2. Add an auto-property of type string.

#### Expected behavior

No warnings shown s

[2018-08-09 15:51] stuartstein777 opened #1776 "CA1801: When calling base constructor and expression body"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

assemblyref://Microsoft.CodeQuality.Analyzers

#### Package Version

v2.6.1

#### Diagnostic ID

CA1801: Review unused parameters

#### Repro steps
Take the following class with a base class:

[code]
Here `name` in the constructor of Org is being flagged as unused.

[2018-08-09 16:04] mavasani commented on #1776
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1606. Note that the issue was in the underlying compiler/analyzer API, which has been fixed in Visual Studio 15.8 release. Can you try the analyzer package against latest VS 15.8 Preview?

[2018-08-09 16:04] #1776 closed

[2018-08-09 18:58] sharwell opened #1777 "CA1012 not reported for internal types"
Currently CA1012 is not reported for `internal` types. This analyzer supports a common pattern, and the current exclusion leaves the analyzer insufficient for enforcing practices so team members are forced to fill in the gaps manually. We should consider expanding this analysis to no longer consider this exclusion.

https://github.com/dotnet/roslyn-analyzers/blob/2858e1048ea2d4738bd94af33ad44855b2

[2018-08-09 19:04] mavasani commented on #1777
Most of the rules were initially implemented without externally visible checks. However, this led to lot of customer complaints about behavioral difference and compat break from old FxCop. I think the ideal approach would be to have the default settings match FxCop but make the analyzer customizable by the end user through analyzer options. That is however a big work item, which needs generic stri

[2018-08-09 20:44] mavasani commented on #875
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1758

[2018-08-09 20:44] #875 closed

[2018-08-09 20:44] mavasani commented on #1712
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1758

[2018-08-09 20:44] #1712 closed

[2018-08-09 20:45] mavasani commented on #1712
Note that the fix will be in 2.9.XXX packages.

[2018-08-09 20:45] mavasani commented on #1775
Fixed with #1758
Note that the fix will be in 2.9.XXX packages.

[2018-08-09 21:59] RobinHood70 commented on #1736
I was basing it on the score reported in the warning message itself. I'll wait until the preview comes out and see how it goes at that time.

[2018-08-10 18:22] dotpaul opened #1779 "Standardize HelpLinkUris for rule documentation"
Hello @jinujoseph @gewarren @mavasani ,

Manish suggested I open a issue here for standardizing help links for rules (e.g. should they all be aka.ms links, or docs.microsoft.com?), and if they should be aka.ms links, who creates and owns the aka.ms short URLs?

[2018-08-10 18:52] mavasani commented on #1633
Closing this until an analyzer needs such an API.

[2018-08-10 18:52] #1633 closed

[2018-08-10 18:58] sharwell commented on #1779
Related to https://github.com/dotnet/roslyn-analyzers/issues/1269?

[2018-08-10 23:50] jinujoseph commented on #950
also reported [here](https://developercommunity.visualstudio.com/content/problem/307009/ca1717-only-flagsattribute-enums-should-have-plura.html)

[2018-08-13 14:58] adamralph opened #1783 "CA1801: False report for constuctor with expression body"
#### Analyzer package

[Microsoft.CodeQuality.Analyzers](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers)

#### Package Version

Example: v2.6.1

#### Diagnostic ID

[CA1081](https://msdn.microsoft.com/en-us/library/ms182268.aspx)

#### Repro steps

1. Clone/download this commit: https://github.com/adamralph/bullseye/tree/1.1.0-rc.2
1. Build the solution inside Visual Studio

#### E

[2018-08-13 15:00] mavasani commented on #1783
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1606. Note that the issue was in the underlying compiler/analyzer API, which has been fixed in Visual Studio 15.8 release. Can you try the analyzer package against latest VS 15.8 Preview?

[2018-08-13 15:00] #1783 closed

[2018-08-13 19:44] scottrudy opened #1784 "CS8032 in VS 2017 v15.7.6 with Microsoft.CodeAnalysis.FxCopAnalyzers v.2.6.1"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Visual Studio Version

v15.7.6

#### Diagnostic ID

Example: CS8032 An instance of analyzer Microsoft.CodeQuality.Analyzers.QualityGuidelines.[_SomeRule_] cannot be created from _MyProject_\packages\Microsoft.CodeQuality.Analyzers.

[2018-08-13 23:43] scottrudy opened #1785 "Prevent Nuget library consumers from getting references to analyzers"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Severity

4 - Minor loss of functionality with available work around

#### Problem

Downstream consumers of Nuget packages that use Microsoft.CodeAnalysis.FxCopAnalyzers will require the dependency assets by default. Able to work a

[2018-08-13 23:45] scottrudy commented on #1784
I'm closing this issue, and opening another issue #1785 that is at the root of the underlying problem. The work around in that issue has fixed this problem for me.

[2018-08-13 23:45] #1784 closed

[2018-08-14 01:05] #1652 closed

[2018-08-14 12:04] adamralph commented on #1783
Thanks @mavasani. I've confirmed the bug is fixed in 15.8 preview 5.

[2018-08-14 17:36] Pilchie opened #1786 "Build.cmd -pack fails"
#### Repro steps

`.\Build.cmd -configuration Release -pack`

#### Expected behavior

Build succeeds and packages are produced.

#### Actual behavior

[code]

[2018-08-14 18:12] mavasani commented on #1774
@dotpaul @qinxgit I see we have different implementations for these rules in NetCore.Analyzers and NetFramework.Analyzers, possibly because the same rule works on different set of APIs. Will it be possible to combine the rule implementations into NetCore.Analyzers so both NetCore/NetFramework projects get the analyzer, but the rule implementation can have parts specific to netcore and netframework

[2018-08-14 18:57] #1742 closed

[2018-08-14 18:57] mavasani commented on #1707
Fix will be in next 2.9.XXX package.

[2018-08-14 18:57] #1707 closed

[2018-08-14 20:14] 333fred commented on #1774
I'm not sure that this belongs in `CodeQuality`. It should go in `NetCore`, so that both Framework and Core get the rule (assuming I have that correct @mavasani?)

[2018-08-14 20:39] mykolav opened #1787 "Test.Utilities.CodeFixRunner.GetNewDiagnostics -- please help figure out how it detects new diagnostics"
Hello,
Could someone please give me a hand here.

I've stumbled across `Test.Utilities.CodeFixRunner.GetNewDiagnostics` and struggling to understand how the method is supposed to detect new compiler diagnostics potentially introduced by the code-fix under test.

Here is the method's code
[code]
Given the code, let's consider a case where after ordering by `SourceSpan.Start`
- `oldArray` contains d

[2018-08-14 20:47] dotpaul commented on #1774
Oh, got it.

[2018-08-14 22:46] #1650 closed

[2018-08-15 09:07] Spaze-Maurice opened #1788 "CA1063 and CA1821 produce false positives with expression bodies"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Diagnostic ID

[CA1063](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1063-implement-idisposable-correctly)
[CA1821](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1821-remove-empty-finalizers)

#### Rep

[2018-08-17 09:32] mykolav commented on #1216
Hello,

Here's such an analyzer implemented as a proof-of-concept - https://github.com/mykolav/use-named-arguments
And the same analyzer implemented in `F#` - https://github.com/mykolav/require-named-args-fs

At the moment only `C#` is supported.
Ideally, I'd like to add `VB` support and make a pull request to this repo. But given my other commitments, I'm not sure I can prioritize it to happen in

[2018-08-17 15:42] sharwell commented on #1788
:+1:

[2018-08-17 15:50] mavasani commented on #1788
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1606. Note that the issue was in the underlying compiler/analyzer API, which has been fixed in Visual Studio 15.8 release. Can you try the analyzer package against latest VS 15.8 Preview?

[2018-08-17 19:10] Spaze-Maurice commented on #1788
I noticed this issue after updating to 15.8. I just installed the latest preview but the issue still persists.

![image](https://user-images.githubusercontent.com/29551709/44284302-7566d100-a261-11e8-8471-e2e53c3adadf.png)

[2018-08-20 19:57] dotpaul opened #1790 "Make security warnings for unsafe deserialization APIs"
There should be security warnings for using potentially unsafe deserialization APIs, e.g. BinaryFormatter.

[2018-08-21 05:20] raytangRT opened #1791 "CA1000: Do not declare static members on generic types shown on operator overloading"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.1

#### Diagnostic ID

[CA1000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1000-do-not-declare-static-members-on-generic-types)

#### Repro steps

In Visual Studio 2017, CA 1000: Do not declare static members on generic t

[2018-08-25 14:46] sharwell commented on #1785
Duplicate of NuGet/Home#6279

[2018-08-25 14:46] #1785 closed

[2018-08-25 14:50] sharwell commented on #1791
👍

[2018-08-27 17:10] taori opened #1792 "Visual Studio fails to recognize any diagnostic in a custom analyzer package"
#### Analyzer package
Private one in local nuget

My analyzer cannot be scanned correctly for some reason apparently.

In an attempt to fix this i copied what is done at xunit.analyzers - Downgrade all packages in hopes of being compatible with the runtime of VS, to exclude that as source of error.

While those analyzers used to work at some point when they were references in PCL projects, they no

[2018-08-27 17:25] mavasani commented on #1792
@taori Can you please port this to https://github.com/dotnet/roslyn/issues? The issues in this repo are primarily tracking bugs in analyzers implemented within the repo itself. Thanks.

[2018-08-27 17:28] taori commented on #1792
ok. on it

[2018-08-27 17:28] #1792 closed

[2018-08-30 03:16] davkean opened #1795 ""Implement IDisposable Correctly" is still firing on types that are not externally visible"
#### Package Version

2.6.1-beta1-62702-01

#### Diagnostic ID

CA1063

#### Repro steps

As called out here: https://github.com/dotnet/roslyn-analyzers/issues/1432, "Implement IDisposable Correctly" isn't supposed to fire on externally visible types, yet if I remove suppresion for this type: https://github.com/dotnet/project-system/search?q=EditAndContinueProvider&unscoped_q=EditAndContinueProvid

[2018-08-30 03:55] davkean opened #1796 ""CA2213: Disposable fields should be disposed" doesn't understand CPS (project-system) constructs"
#### Diagnostic ID

CA2213

#### Repro steps

We turned this rule off because it fires every type that derives from OnceInitializedOnceDisposed/OnceInitializedOnceDisposedAsync which is used heavily through the project-system.

[2018-08-30 04:01] davkean commented on #1796
Here's the change where we removed the suppressions and turned off the rule: https://github.com/dotnet/project-system/pull/3926.

[2018-08-30 12:34] mavasani opened #1797 "Add more extensive unit tests for value content analysis"
See https://github.com/dotnet/roslyn-analyzers/pull/1794
1. Cover all primitive types.
2. Cover all the combination of supported binary operators for different types.

[2018-08-30 12:36] mavasani opened #1798 "Extend the value analysis to track relations and value ranges"
https://github.com/dotnet/roslyn-analyzers/pull/1794 added support to track value contents of primitive typed symbols. This issue tracks extending this to track relations and value ranges (for e.g. x > 5 or x is in the range [0, 5], etc.).

[2018-08-30 16:41] vask-msft opened #1799 "give a warning when browsing a property triggering evaluation of another marked DebuggerBrowsableState.Never"
#### Repro steps

1. Suppose a class has a delayed-evaluation property Adapter and another property IsOverheated that forwards to Adapter```
.
         // Never run CreateAdapter() in the debug browser context. Watch m_adapter instead!
        [DebuggerBrowsable(DebuggerBrowsableState.Never)]
        internal IApiAdapter Adapter
		{
			get { return m_adapter ?? (m_adapter = CreateAdapter()); }
		}

[2018-09-02 01:00] sharwell commented on #1796
My general observation with this rule is it's only used for compatibility purposes for people switching from legacy FxCop to FxCop Analyzers. Ongoing development will need a whole new rule, and so far that rule hasn't been defined.

A primary characteristic of the new rule is it should be straightforward for a developer writing *new* code to write `IDisposable` objects with all of the following me

[2018-09-02 02:01] mavasani commented on #1796
We should still fix this bug.