[2019-03-11 14:11] mavasani commented on #2188
You can use /errorlog compiler switch OR ‘ErrorLog’ msbuild property to specify a json file to which all diagnostics are logged. See https://github.com/dotnet/roslyn/blob/master/docs/compilers/Error%20Log%20Format.md

[2019-03-11 18:47] #1561 closed

[2019-03-11 19:37] amrmahdi commented on #1404
@mavasani I'm using version 2.9.0-beta1.19158.2 and I'm getting a false positive for the following code

[code]

[2019-03-11 22:00] mavasani opened #2191 "Turn on dataflow analysis based rules by default when master branch moves to Microsoft.CodeAnalysis 3.0.0"
We are going to turn off these rules by default in master (2.9.x) branch to prevent AD0001 in customer projects when they upgrade from prior 2.6.x versions to 2.9.x version and don't have `flow-analysis` feature flag supplied. We will soon move master to Microsoft.CodeAnalysis 3.0.0, and that version does not require `flow-analysis` feature flag, at which point we can turn the rules back on by def

[2019-03-11 23:03] #2180 closed

[2019-03-12 08:54] nicorac opened #2193 "CA1811: AvoidUncalledPrivateCode, not working if class contains a typeof() call"
I've seen other issues mentioning rule CA1811, so I suppose this is the right place to post this one.

The rule stops working if the source code contains a call to typeof(), either in class code or in a class attribute (like `[ToolboxBitmap]`). The argument of `typeof()` must be the class itself.

#### VisualStudio version
Microsoft Visual Studio Community 2017
Version 15.9.8

#### Repro steps

1.

[2019-03-12 15:05] SamuelEnglard opened #2194 "Status of the XmlDocumentationComments.Analyzers Package"
The XmlDocumentationComments.Analyzers package has not been updated since 2016 and I'm unable to figure out if it's been replaced by a different one or something else?

[2019-03-12 15:21] mavasani commented on #2194
This package has been deprecated and the rules within it have been moved to different package(s). Which specific rule are you looking for?

[2019-03-12 15:32] SamuelEnglard commented on #2194
Any having to do with XML documentation.

[2019-03-12 15:42] mavasani commented on #2194
Tagging @sharwell - I believe your best bet for xml documentation related syntax analyzers is [StypeCopAnalyzers](https://www.nuget.org/packages/StyleCop.Analyzers/1.1.1-rc.114)

[2019-03-12 15:47] sharwell commented on #2194
We also have [DotNetAnalyzers.DocumentationAnalyzers](https://www.nuget.org/packages/DotNetAnalyzers.DocumentationAnalyzers) with some additional rules and refactorings.

[2019-03-12 15:59] SamuelEnglard commented on #2194
I tried [StyleCop.Analyzers](https://www.nuget.org/packages/StyleCop.Analyzers/1.1.1-rc.114) but getting it down to just the documentation rules was driving me nuts. I'll need to give [DotNetAnalyzers.DocumentationAnalyzers](https://www.nuget.org/packages/DotNetAnalyzers.DocumentationAnalyzers) a look, thanks!

[2019-03-12 17:13] sharwell opened #2195 "PublicApiAnalyzer Fix All duplicate entries for partial types"
#### Analyzer package

Example: DotNetAnalyzers.PublicApiAnalyzer

#### Package Version

Example: 2.9.0-beta1.19162.2+321600d1

#### Diagnostic ID

#### Repro steps

Tested in Visual Studio 2017 version 15.9.8.

1. Create a public partial type with parts in multiple files
1. Delete the contents of the Public API files
1. Apply a Fix All operation to add all the missing APIs

#### Expected behavior

[2019-03-12 17:15] sharwell opened #2196 "Default struct constructor missing from public API"
#### Analyzer package

DotNetAnalyzers.PublicApiAnalyzer

#### Package Version

Example: 2.9.0-beta1.19162.2+321600d1

#### Diagnostic ID

#### Repro steps

1. Create a public struct with a private constructor with one or more parameters
1. Add all missing APIs to PublicAPI.Unshipped.txt

#### Expected behavior

The default constructor for the public struct appears in PublicAPI.Unshipped.txt.

###

[2019-03-12 17:25] sharwell commented on #2196
📝 This was originally fixed in https://github.com/DotNetAnalyzers/PublicApiAnalyzer/pull/24 but never ported to roslyn-analyzers.

[2019-03-12 18:06] mavasani opened #2198 "Update repo's Readme with information about new analyzer packages"
Current names:
- [x] Microsoft.CodeAnalysis.BannedApiAnalyzers
- [x] Microsoft.CodeAnalysis.PublicApiAnalyzers
- [ ] Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

[2019-03-12 19:42] gewarren commented on #1844
We have a [docs FAQ page](https://docs.microsoft.com/visualstudio/code-quality/analyzers-faq?view=vs-2017) available now.

[2019-03-12 20:46] TKharaishvili opened #2199 "Can't access the gitter chat room"
I can't access the gitter chat room mentioned in the readme.

The link is taking me to the page displaying this:
![image](https://user-images.githubusercontent.com/4363170/54234869-7460fe00-4529-11e9-8826-6737170b191f.png)

[2019-03-12 21:39] mavasani opened #2200 "Unlist/Delete/Rename Text.Analyzers"
This package does not match the naming conventions used by other packages published from this repo (prefixed with `Microsoft.`) and also has no implemented analyzers as of now. We should remove the package dependency to it from FxCop analyzers NuGet package, unlist the package from NuGet.org, and in future when we bring up rules in it, add back the dependency with a better name.

[2019-03-12 21:42] mavasani commented on #2199
Not sure if anyone in the team is active on gitter anymore :) Is that correct @jinujoseph?

@TKharaishvili Did you have any specific question we can answer?

[2019-03-12 22:58] TKharaishvili commented on #2199
@mavasani
Shouldn't the link be removed from readme in that case?

This question comes from the fixer I was implementing for another issue.
I was analyzing the following linq extension method call in both C# and VB
[code]
When getting the corresponding `IInvocationExpression` the `Arguments` array contained one element for the C# version and no elements for the VB version. I'm not really sure how

[2019-03-12 23:12] JoeRobich commented on #2200
All versions of Text.Analyzers have been unlisted from NuGet.org

[2019-03-13 16:57] drewnoakes commented on #1404
@amrmahdi can you create a new issue please?

[2019-03-13 18:49] amrmahdi opened #2201 "CA2000 False positive"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

[2.9.0-beta1.19158.2](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.0-beta1.19158.2+85a05d0e)

#### Diagnostic ID
[CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca200

[2019-03-13 18:49] amrmahdi commented on #1404
Created #2201

[2019-03-14 20:52] TKharaishvili commented on #2199
Ok, so I found the answer to my question documented in one of Roslyn issues - https://github.com/dotnet/roslyn/issues/23625

But I'll keep this issue open, 'cause I still think the gitter link should be removed from readme if it's no longer active.

[2019-03-15 02:27] #2201 closed

[2019-03-15 18:20] mavasani commented on #2152
We will apply a workaround for this in 2.9.x release, and revert the workaround once we move to a Microsoft.CodeAnalysis version that contains the fix for  dotnet/roslyn#32100

[2019-03-15 19:28] mavasani commented on #1558
**Update:** One of the cases mentioned here works now on the latest prerelease package.

1. Install https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.0-beta1.final
2. Add a file named `.editorconfig` at the root of the project directory with the following content to enable interprocedural analysis of values: `dotnet_code_quality.interprocedural_analysis_kind = ContextSensiti

[2019-03-15 19:30] mavasani commented on #1558
Just to clarify: The second scenario (BuildStatementForRemainingCount) works now with the above mentioned steps. The first scenario requires https://github.com/dotnet/roslyn-analyzers/issues/1547 (analysis to understand different well known string manipulation APIs).

[2019-03-15 19:58] mavasani commented on #1828
Verified against RoslynAnalyzers.sln and Roslyn.sln

[2019-03-15 19:58] #1828 closed

[2019-03-15 20:58] mavasani opened #2212 "CA2000 (DisposeObjectsBeforeLosingScope) false positive with async/await"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: 2.9.0-beta2.19165.1+b2ba91d7

#### Diagnostic ID

Example: [CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

[code]

[2019-03-15 21:05] mavasani commented on #2152
Workaround has been added. Reverting the workaround is blocked on compiler bug.

[2019-03-15 21:07] mavasani commented on #1568
This works now for C#, but not for VB, due to missing CFG support for `IWithOperation`. This issue tracks VB support + unskipping test.

[2019-03-15 21:32] #2182 closed

[2019-03-15 21:59] StingyJack commented on #1558
This needs to work correctly (no CA violation) without any kind of .editorconfig hack.

There are no variables being concatenated to build the statements, and no parameters being supplied while executing them.

[2019-03-15 22:02] mavasani commented on #1558
This is not a hack. This is a supported configuration mechanism to enable richer analyses. By default this analyzer only analyses single method and assumes values returned from interprocedural calls to be unknown/non-constant. The option configuration mentioned above switches the analysis to more precise, and more expensive interprocedural analysis mode. We might make that the default mode in futu

[2019-03-15 23:20] StingyJack commented on #1558
@mavasani - that seems like a lot of engineering to address the problem of a CA violation being reported when...

I don't recall having to enable anything special in CAT.net or FxCop to avoid blatant false positives. I don't get why I would have to set a special, semisecret value in an file I'm not currently using (and have never had to use before.)

That kind of statement is only remotely accepta

[2019-03-15 23:34] StingyJack commented on #1558
This is a big enough "whoops" that this issue should have a big  REGRESSION tag. I used to use CAT.net as part of GCI builds to flag improperly crafted SQL (concatenated), and the rule worked correctly (when it flagged something - CAT.net just couldn't evaluate consistently, which is why it was dropped.)

Big talk of algorithms and dataflow analysis being required to correct this is just a weak at

[2019-03-16 07:02] oreoero opened #2213 "Can Roslyn throw a warning on C# static type initializers?"
#### Analyzer package

In the following example, the print out result is the Empty guid instead of the hardcoded value. After some readings, it turns out that C# static type initializers are executed in the textual order in a class, see [C# language specification.](https://github.com/dotnet/csharplang/blob/98043cdc889303d956d540d7ab3bc4f5044a9d3b/spec/classes.md#static-field-initialization)
[code]

[2019-03-17 10:56] xmarshal opened #2215 "FxCop rule CA1062: Validate arguments of public methods, do not recognize ValidatedNotNullAttribute in NullCheck helper classes"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.0-beta1.final+321600d1

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods?view=vs-2019)

#### Repro steps

1. clone https://github.com/xmarshal/Code

[2019-03-17 13:42] xmarshal opened #2216 "Can't suppres CA1724 and CA1812 in Source or In Suppression file from UI"
#### Analyzer package

 [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.3 v2.9.0-beta1

#### Diagnostic ID

[CA1724](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1724-type-names-should-not-match-namespaces?view=vs-2019)
[CA1812](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1812

[2019-03-17 13:55] xmarshal commented on #2216
![ca1724](https://user-images.githubusercontent.com/20635560/54492202-fe78e000-48f6-11e9-9a44-f2f1cfd5b985.png)

[2019-03-17 15:07] mavasani commented on #2216
Can you switch the error list filter from “Build+Intellisense” to “Intellisense” and try right clicking from error list again? Note that Build diagnostics are not suppresible. Also note that you can suppress diagnostics by double clicking in error list and then in the editor invoke the light bulb menu with Ctrl + . Keys to see the suppression menu items.

[2019-03-17 16:04] xmarshal commented on #2216
Ctrl + . key not provide Supress CA..... =>menu items

[2019-03-17 16:09] xmarshal commented on #2216
![ca1812](https://user-images.githubusercontent.com/20635560/54494129-c202af80-4909-11e9-8a5a-fba8f2c6ee87.png)

[2019-03-17 16:17] xmarshal commented on #2216
if I use [SuppressMessage("Microsoft.Naming", "CA1724:TypeNamesShouldNotMatchNamespaces")] in code it works.

[2019-03-17 16:18] xmarshal commented on #2216
and why if I choose Suppress in Source suppressions available only with pragma

[2019-03-18 11:35] ArtyomGilevich commented on #1175
Hello! I'm currently able to reproduce this issue on VS15.9.7.

[2019-03-18 19:07] genlu opened #2219 "Public API codefix crash when attempt to add additional APi to list"
[code]

[2019-03-18 19:09] mavasani commented on #2219
I think there is a duplicate bug in Roslyn for this - most likely a crash in the code fix engine, not the code fixer itself. I will try to find the bug in Roslyn repo.

[2019-03-18 19:22] genlu commented on #2219
So it NRE after trying to get the additional file using `Solution.GetDocument`. I'm not familiar with this part but `Solution.GetAdditionalFile` returns successfully.

http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs,1067

[2019-03-18 19:26] genlu commented on #2219
Found the issue in roslyn
https://github.com/dotnet/roslyn/issues/33644

[2019-03-18 21:47] 333fred commented on #2219
That itself is a dupe of https://github.com/dotnet/roslyn/issues/33884.

[2019-03-18 21:47] 333fred commented on #2219
Workaround is to close the unshipped api txt file when attempting to use the codefix.

[2019-03-18 22:01] genlu opened #2220 "replace deprecating <licenseUrl> from nuget package"
Getting this warning when publishing nuget packages

[2019-03-18 22:09] mavasani commented on #2220
Isn't this something that @tmat was planning to address in arcade SDK itself? Or this needs a follow-up change in the repo?

[2019-03-18 22:17] genlu commented on #2220
Might be, I don't know how it's handled in the repo. Please close this if that's the case. Thanks!

[2019-03-18 22:20] mavasani commented on #2220
@genlu I am not sure how this will be fixed (in the arcade repo or needs a fix here). I'd let Tomas give us more info before closing this out.

[2019-03-18 22:24] #2212 closed

[2019-03-18 22:28] tmat commented on #2220
Just did it for Roslyn: https://github.com/dotnet/roslyn/pull/34172

[2019-03-18 22:29] tmat commented on #2220
Note these lines in the PR:
[code]

[2019-03-19 17:50] #2199 closed

[2019-03-19 17:50] genlu commented on #2199
I have removed the link

[2019-03-20 10:32] hubuk opened #2229 "CA1717 not fired on some non-english system formats (Polish, German)"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.6.3

#### Diagnostic ID

[CA1717](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1717-only-flagsattribute-enums-should-have-plural-names)

#### Repro steps

The problem might also occur with different rules. CA1717 is the one tha

[2019-03-20 16:14] SamuelEnglard commented on #2194
I'm using [DotNetAnalyzers.DocumentationAnalyzers](https://www.nuget.org/packages/DotNetAnalyzers.DocumentationAnalyzers) for now so I'm closing this.

[2019-03-20 16:14] #2194 closed

[2019-03-20 20:42] #2200 closed

[2019-03-21 00:02] #2113 closed

[2019-03-21 01:36] TKharaishvili opened #2233 "Unit tests not working correctly"
If you go to one of the fixer test classes, for example - `TestForEmptyStringsUsingStringLengthFixerTests` and change the expected output for one of the unit tests, the test will still succeed. (Giving a false positive)

I think the following line is to blame for this -
https://github.com/dotnet/roslyn-analyzers/blob/master/src/Test.Utilities/CodeFixTestBase.cs#L173

This might be a serious proble

[2019-03-21 02:01] mavasani commented on #2233
@TKharaishvili thanks for the report. This might have broken with one of my recent branch merges. Would you be up for submitting a PR to fix it? Otherwise, I can get to it tomorrow.

[2019-03-21 02:03] wizofaus commented on #2170
It's not just `.ToString()` though, it's concatenation and interpolation too, which no FxCop rule warns you about (I logged this a month or so back: https://github.com/dotnet/roslyn-analyzers/issues/2150)

[2019-03-21 02:13] TKharaishvili commented on #2233
@mavasani sure

[2019-03-21 02:19] TKharaishvili commented on #2233
@mavasani here's the PR - https://github.com/dotnet/roslyn-analyzers/pull/2234

I hope I've made the correct change.

[2019-03-21 04:38] xmarshal opened #2235 "Suppressed in code with SuppressMessageAttribute do not working"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.6.3

#### Diagnostic ID

Any

#### Repro steps

1. Compile projetc with any CA issue
2. Select Supress in Source

#### Expected behavior
diagnostic issue suppressed in code with SuppressMessageAttribute
#### Actual behavior
diagnost

[2019-03-21 04:40] xmarshal commented on #2216
what can I do next?

[2019-03-21 04:41] xmarshal commented on #2215
what with this Issue, it's important for our production

[2019-03-21 10:48] Andrew-Webb commented on #2170
It's a good point from @wizofaus .  The more ways there now are of falling foul of the basic, fundamental problem (which has plagued .NET since inception), the more important it is to catch all of these cases via code analysis _and_ have clearly worded, non-confusing titles and descriptions for the rules.  All the tools for dealing with the cultural variation problem have been in place since .NET

[2019-03-21 14:28] mavasani commented on #2215
Thanks, I agree this needs to be fixed. It will likely only be fixed in version 2.9.x. I am going out on vacation for few weeks starting today, I will get to it once I am back.

[2019-03-21 18:52] TKharaishvili opened #2237 "Unit Tests testFixAllScope related problem"
While working on this PR - https://github.com/dotnet/roslyn-analyzers/pull/2234 several problematic unit tests were revealed, 20 to be exact, all of which have for now been silenced by passing `testFixAllScope: null`.

They all need to be examined. The 2nd commit of the PR documents all those problematic unit tests.

[2019-03-21 22:20] TKharaishvili commented on #960
To whomever it might concern, here's the PR - https://github.com/dotnet/roslyn-analyzers/pull/2238

[2019-03-22 21:49] ryzngard opened #2240 "Add analyzer to find instances were null is returned instead of a task"
It would be nice to catch things like https://github.com/dotnet/roslyn/pull/34359 in an analyzer. It's easy enough to code up and it work _most_ of the time, but I don't think a null Task is ever really valid.

[2019-03-23 01:35] sharwell commented on #2194
@SamuelEnglard please feel free to file issues on that repository if you think of new rules that could be valuable.

[2019-03-25 17:47] mscham opened #2242 "Metrics.MetricsOutputWriter null reference exception on vb.net projects"
\src\Tools\MetricsOutputWriter.cs
head branch

This might be because I pointed metric.exe at a vb.net solution that's been upgraded through different versions of .net for a decade...

Several of my vb.net projects end up with weird namespaces of xxx.xxx.My.MyComputer or xxx.xxx.My.MyProject.  These pseudo? elements (no code files) get passed into MetricsOutputWriter.WriteMetricData and end up caus

[2019-03-26 20:32] slubowsky opened #2243 "FxCop Errors after updating to 2.9.0"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.0

#### Repro steps

1. Update FxCopAnalyzers from v2.6.3 to 2.9.0
1. Use entity framework core to generate migrations - dotnet ef migrations add MyMigration
1. Fails. See errors below

#### Expected behavior
Build should succeed as it did

[2019-03-27 00:31] genlu commented on #2243
@slubowsky Could you please try to add the feature flag to the project file and see if that resolves your issue?
Here's an example:
https://github.com/dotnet/roslyn-analyzers/blob/5ed057905c4e4def7f9e5abd4baccf8fc7286b4a/src/Directory.Build.props#L10

[2019-03-27 00:40] genlu commented on #2235
@xmarshal Just to clarify, are you using ErrorList in Visual Studio to suppress the diagnostics?
@heejaechang This behavior is by design, right?

[2019-03-27 00:42] genlu commented on #2242
@mscham Thanks for report this issue! Could you please explain what does this mean?

[2019-03-27 00:50] genlu commented on #2229
@hubuk Thanks for providing feedback! This behavior is by design, to be consistent with the old FxCop behavior.

https://github.com/dotnet/roslyn-analyzers/blob/3bb0de8da1b17cdd2f8e39af52510a6083f1abff/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/EnumsShouldHavePluralNames.cs#L99

[2019-03-27 02:23] xmarshal commented on #2235
@genlu I use "Microsoft.CodeAnalysis.FxCopAnalyzers", use Resharper, use VS sugession and use ErrorList, for all methods I can't supress in Source with SuppressMessageAttribute

[2019-03-27 02:26] slubowsky commented on #2243
@genfu Yes, looks the feature flag does resolve the problem. Thanks!

[2019-03-27 04:47] #2243 closed

[2019-03-27 11:27] JRBonnema opened #2244 "Analyzer (version 2.9) thows exceptions in warning AD0001 concerning Feature 'Flow-Analysis"
#### Analyzer package

After installing version 2.9.0 on one of my projects (.Net Framework 4.72) today I get many warnings AD0001 that the analyzer is throwing exceptions. In 2.6.3 there was no sign of this. I don't understand why this is happening.

CSC : warning AD0001: Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.InvalidOper

[2019-03-27 12:50] slubowsky commented on #2244
See https://github.com/dotnet/roslyn-analyzers/issues/2243

[2019-03-27 13:28] RobSiklos commented on #2167
@genlu, @mavasani - just want to draw your attention to this one, since it's crashing the analyzers, and looks like it hasn't been triaged yet.

[2019-03-27 14:09] mscham commented on #2242
For example the output of the Metrics tool shows them as below.  I
substituted 'UNKNOWN' for the File values in the Method element to work
around the issue.
But these projects don't have these classes defined - there are no code
files and text search across the projects returns no hits for these types
or any of their members.
I thought it might be something to do with Application.myapp files
gener

[2019-03-27 14:15] jherby2k opened #2245 "CA2000 false positives with out parameters"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.0

#### Diagnostic ID

[CA2000](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

1. Try to dispose a bunch of disposable objects from a concurrent queue:

[code]

-or

[2019-03-27 17:44] 333fred commented on #2243
@slubowsky are you referencing any version of the compiler nuget package in your project? You shouldn't need to enable the `flow-analysis` flag on 16.0, we removed that feature flag a long time ago.

[2019-03-27 17:45] 333fred commented on #2244
@JRBonnema what verison of VS are you using?

[2019-03-27 18:01] EricStG commented on #2243
FYI I'm getting the same error on Visual Studio 15.9.10 and FxCopAnalyzers 2.9.0

[2019-03-27 18:29] carlos-quintero commented on #2003
While that solves the problem, where is it documented?  And even if documented somewhere, I think it is a bad user experience.

[2019-03-27 19:10] carlos-quintero opened #2246 "CA1508 (Avoid Dead Conditional Code) string.Compare used twice gives false positive"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.0

#### Diagnostic ID

CA1508 Avoid Dead Conditional Code

#### Repro steps

1. Use VS 2017 15.9.10
2. Create .NET Framework Class Library C#
3. Add NuGet package Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.0
4. Create a cu

[2019-03-27 19:39] slubowsky commented on #2243
@333fred. I don't think so. I have 2 or 3 projects being built, below is the main project file (with flow-analysis flag added) if thats useful to try to pinpoint the issue:

[code]

[2019-03-27 21:40] genlu commented on #2167
@RobSiklos Thanks for the feedback! I will take a look.

[2019-03-27 21:48] genlu commented on #2242
Hmm, would you be able to provide a repro project for us to investigate?

[2019-03-27 22:35] 333fred commented on #2243
@EricStG the 2.9.0 version of the analyzers do not work on 15.9, as the flow-analysis feature is not enabled there. @genlu, is that in the documentation somewhere? If not, we should add it.

@slubowsky, are you building from VS, or from the command line? If it's from the command line, could you run a `dotnet --version` and let us know what the results are? I was unable to repro the issue with a fr

[2019-03-27 22:42] slubowsky commented on #2243
@fred33 When I build from VS, it builds successfully with no warnings or errors.
Building from command line - dotnet build D:\dev\myProject\MyProject.API\MyProject.API.csproj /verbosity:quiet /nologo
Also completes with no warnings or errors
Trying to generate migrations using entity framework core as shown in issue is where I see the problem. I don't know exactly what entity framework core is doi

[2019-03-27 23:37] GammaFour opened #2248 "FxCop is throwing strange warnings with new release v2.9.0"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers
#### Package Version

v2.9.0

#### Diagnostic ID

2>CSC : warning AD0001: Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.InvalidOperationException' with message 'Feature 'Flow-Analysis' is disabled.'.
2>CSC : warning AD0001: Analyzer 'Microsoft.NetCore.Analyzers.Runtime.

[2019-03-28 04:16] JRBonnema commented on #2244
333fred : VS 2017 : version 15.9.10

[2019-03-28 09:57] bencyoung commented on #2156
I can confirm I still get this with:

[code]

[2019-03-28 10:57] mavasani commented on #2156
Can you please provide a repro?

[2019-03-28 12:01] bencyoung commented on #2156
This one reproduces it for me.

[BuildIssue.zip](https://github.com/dotnet/roslyn-analyzers/files/3017787/BuildIssue.zip)

dotnet is 2.2.103
VS is 15.9.7

[2019-03-28 12:10] carlos-quintero opened #2250 "CA1508 (Avoid Dead Conditional Code) using statement with previous instantiation gives false positive"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.0

#### Diagnostic ID

CA1508 Avoid Dead Conditional Code

#### Repro steps

1. Use VS 2017 15.9.10
2. Create .NET Framework C# project
3. Add NuGet package Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.0
4. Create a custom ruleset with rule CA

[2019-03-28 12:21] slubowsky commented on #2248
See https://github.com/dotnet/roslyn-analyzers/issues/2243

[2019-03-28 12:35] GammaFour commented on #2243
OK.  Jamming the flow-analysis into the .csproj supresses the warning.  This is still a bug.  **You don't install a new setting without defaulting it.**  I'm not going to manually go through 20 projects and insert this property.

[2019-03-28 15:34] mscham commented on #2242
https://github.com/mscham/metrics-demo

I included the output of running the tool against the project.
Again 'UNKNOWN' in the output file would signal where Metrics would
normally error out.

The project/solution was created with vs2015, that might be important...I
don't know.

On Wed, Mar 27, 2019 at 5:48 PM Gen Lu <notifications@github.com> wrote:

[2019-03-28 16:19] mavasani commented on #2250
This analyzer has known false positives and hence is turned off by default. I would recommend you remove the ruleset entry that is turning on this rule. When the false positives are fixed, we will enable this rule by default.

[2019-03-28 16:36] genlu commented on #2243
We are planning to release a new version of the analyzers with the fix. Should be available shortly.

[2019-03-28 18:30] #2167 closed

[2019-03-28 22:05] hubuk commented on #2229
@genlu Any plans to support other cultures? Would you accept pull-request for it? I am not familiar with the code, but it is probable that removal of this condition will not introduce any regression.
This behavior is wrong for many reasons:
1. There is no message that informs the user that the rule has not been executed for the code.
1. It creates a false impression that code is OK when it isn't.

[2019-03-29 00:14] genlu commented on #2243
v2.9.1 is published to nuget.org. The required feature flag is now added in analyzer's props file, which should avoid this issue when using VS 15.9. Please give it a try. Thanks!

[2019-03-29 00:14] genlu commented on #2248
v2.9.1 is published to nuget.org. The required feature flag is now added in analyzer's props file, which should avoid this issue when using VS 15.9. Please give it a try. Thanks!

[2019-03-29 00:14] genlu commented on #2244
v2.9.1 is published to nuget.org. The required feature flag is now added in analyzer's props file, which should avoid this issue when using VS 15.9. Please give it a try. Thanks!

[2019-03-29 03:26] JRBonnema commented on #2244
genlu : I upgraded to v2.9.1 and the problem is solved now. As far as I'm concerned you can close the issue.

[2019-03-29 04:07] #2244 closed

[2019-03-29 04:07] #2248 closed

[2019-03-29 12:41] slubowsky commented on #2243
@genlu Solves it for me to on VS 16. I don't know what Entity Framework Core might be doing that makes it necessary for me.

[2019-03-29 16:35] lorenh opened #2254 "NullReferenceException with AD0001 Microsoft.NetCore.Analyzers.Security.SetViewStateUserKey"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.1

#### Diagnostic ID

AD0001	Analyzer 'Microsoft.NetCore.Analyzers.Security.SetViewStateUserKey' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an obje

[2019-03-29 16:48] mavasani commented on #2254
Tagging @dotpaul

[2019-03-29 16:49] mavasani commented on #2254
@lorenh do you have a repro project?

[2019-03-29 16:58] mavasani commented on #2254
@genlu this seems like a new security rule that was added just after 2.9.0 release. We probably need to test the 2.9.1 packages against some real world projects to identify if this AD0001 is widespread for us to need to release 2.9.2 with a fix for this issue.

[2019-03-29 17:46] genlu commented on #2243
@slubowsky VS 16 wasn't cause you this issue, I think it was [dotnet ef](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet) tool. Maybe some how it picks up a different version of the Roslyn. We will investigate. Thanks!

[2019-03-29 18:33] lorenh commented on #2254
I was afraid you'd ask for a repro project :-)  I don't have one whittled down to bare minimum at present that I can share, but I'll put it on my to-do list.  Perhaps I can isolate just the offending parts, I have a suspicion I know what portion of the source in this one project it might be.

[2019-03-29 19:47] edespong opened #2256 "PerformanceSensitive: Let clause only reported for C#"
Requested in review of https://github.com/dotnet/roslyn-analyzers/pull/2214#discussion_r269744765

In the ported ExplicitAllocationAnalyzer, which is supposed to be language agnostic, the following code is used:
`context.Operation.Syntax.IsKind(CodeAnalysis.CSharp.SyntaxKind.LetClause)`

This will obviously not report a diagnostic for VB.NET code, e.g.
[code]

If there is no better way of checking

[2019-03-29 19:52] edespong opened #2257 "PerformanceSensitive: No handling of dynamic"
Requested in review of https://github.com/dotnet/roslyn-analyzers/pull/2214#issuecomment-478118996

`dynamic ` is not handled anywhere by the current PerformanceSensitive analyzers other than possibly by accident.

For conversion analyzer for example, this case is will cause 2 boxing operations, but only one is reported.

[code]

You should obviously not use dynamic in performance sensitive code,

[2019-03-29 19:57] dotpaul opened #2258 "Re-enable temporarily disabled rules"
- CA3061
- CA5365
- CA5368

[2019-03-29 20:24] edespong opened #2259 "PerformanceSensitive: Determine IDs for diagnostics"
Follow-up issue from review of https://github.com/dotnet/roslyn-analyzers/pull/2214#issuecomment-478129830

[2019-03-29 20:31] edespong opened #2260 "PerformanceSensitive: Wrong severity for diagnostics"
Follow-up from review at https://github.com/dotnet/roslyn-analyzers/pull/2214#issuecomment-478129830

There are several diagnostics reporting Info for the PerformanceSensitive analyzers:
ArrayCreationRule (HAA0501)
ObjectCreationRule (HAA0502)
AnonymousObjectCreationRule (HAA0503)
LetCauseRule (HAA0506)
ReadonlyMethodGroupAllocationRule (HeapAnalyzerReadonlyMethodGroupAllocationRule)

[2019-03-29 20:52] mavasani commented on #2254
@lorenh if you are unable to create a small repro, can you please provide the exception call stack with following steps:

1. Open your solution in Visual Studio
2. Ensure you have turned on [full solution analysis](https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-enable-and-disable-full-solution-analysis-for-managed-code)
3. Wait for AD0001 to show up in error list (do not perform

[2019-03-29 20:55] dotpaul commented on #2254
I might have a fix with #2261.  If it's not too much trouble, it would be good to confirm if it's the same issue.

[2019-03-29 21:19] GammaFour opened #2262 "CA1720 Shouldn't trigger when you're using an @ sign."
I've got a method signature:

[code]
This is throwing a CA1720.  I've provided the '@' sign which means I understand the consequences of using an object name and have chosen to use an argument that has the same name as a type.  CA1720 should be disable when the programmer uses the '@' sign.

[2019-03-29 23:07] genlu commented on #1225
I have removed the target file above
https://github.com/dotnet/roslyn-analyzers/pull/2255

[2019-03-30 01:32] mavasani commented on #2254
@genlu @dotpaul can we point @lorenh to the myget package with the fix to verify it fixes his AD0001?

[2019-03-31 14:59] sharwell commented on #2262
Can you explain how this proposal is different from turning off rule CA1720?

[2019-03-31 16:28] edespong opened #2266 "PerformanceSensitive: How to handle cached delegates"
Follow-up from review at https://github.com/dotnet/roslyn-analyzers/pull/2214#discussion_r270446070

[2019-03-31 23:03] dotpaul commented on #2254
@lorenh if you chance, would you mind trying out https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.1-beta2.19180.1+1c0148f2 and seeing if that fixes the issue for you?

If you don't have time, no worries!

[2019-04-01 12:31] sharwell opened #2267 "MarkMembersAsStatic should not use a compilation end analyzer"
#### Analyzer package

#### Package Version

#### Diagnostic ID

CA1822

#### Repro steps

1. Write code that would flag CA1822
2. Open the code in Visual Studio

#### Expected behavior

CA1822 appears in the IDE.

#### Actual behavior

CA1822 is not reported because the analyzer relies on compilation end actions.

[2019-04-01 13:06] mavasani commented on #2267
We have an issue to convert it to SymbolStart/End analyzer.

[2019-04-01 13:59] sharwell commented on #2267
@mavasani Yes, that's my intent for this issue. I was not able to find a duplicate though.

[2019-04-01 14:11] Andrew-Webb opened #2268 "v2.9.1 is sometimes unable to suppress CA1031 in GlobalSuppressions.cs"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.1

#### Diagnostic ID

[CA1031](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1031-do-not-catch-general-exception-types?view=vs-2017)

#### Repro steps

1. Upgrade from v2.6.3 NuGet package of FxCopAnalyzers to v2.9.1
1. Reb

[2019-04-01 15:23] RalfKoban opened #2269 "FxCop rule 'CA1062:Validate arguments of public methods' should not report issues for protected methods of sealed classes"
#### Analyzer package
Microsoft.CodeQuality.Analyzers

#### Package Version
v2.9.1

#### Diagnostic ID
CA1062

#### Repro steps

1. Use following code
[code]
#### Expected behavior
CA1062 is not reported for `B.IsType` because it cannot be accessed from outside (except via reflection).

#### Actual behavior
CA1062 is reported for `B.IsType`

[2019-04-01 19:51] dotpaul commented on #2254
@lorenh and @jmosbech, thank you both!

[2019-04-02 17:11] genlu commented on #1225
Well, I spoke too soon. Ended up keeping it because we have to keep the project referencing Roslyn 2.9.0

[2019-04-02 23:37] fforjan opened #2272 "'An item with the same key has already been added' when generating metrics in command line"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.Metrics](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Metrics/)

#### Package Version

Example: v2.9.1

#### Repro steps

1. Run the program in command line :
"C:\Users\ISYS36005\TFSWorkspaces\Dev\Source\packages\SchneiderElectric.Software.CodeMetrics.2.0.0\Metrics\metrics.exe" /project:"C:\Users\ISYS36005\TFSWorkspaces\Dev\Source\Ou

[2019-04-02 23:54] fforjan commented on #2272
I tried with  legacy version, 2.9.0 and 2.6.1 beta and same result

[2019-04-03 00:21] fforjan opened #2273 "Reference of type 'Microsoft.CodeAnalysis.UnresolvedMetadataReference' is not valid for this compilation."
#### Analyzer package
Microsoft.CodeAnalysis.Metrics

#### Package Version
v2.9.1

#### Repro steps
1. Run the program in command line :
"C:\Users\ISYS36005\TFSWorkspaces\Dev\Source\packages\SchneiderElectric.Software.CodeMetrics.2.0.0\Metrics\metrics.exe" /project:"C:\Users\ISYS36005\TFSWorkspaces\Dev\Source\Ourproject\OurProject.csproj" /OUT:"C:\Users\ISYS36005\TFSWorkspaces\Dev\Source\Ourprojec

[2019-04-03 03:29] Therzok opened #2274 "[Proposal] Detect and mark inefficient ConcurrentDictionary usage"
#### Analyzer package

Either Microsoft.NetFramework.Analyzers or Microsoft.NetCore.Analyzers or both?

#### Diagnostic ID

Not sure, there's no existing one.

#### Repro steps

[code]

`value` is the final return value in both the add, add factory and the update factory. When this pattern is detected, offer a code fix to change the code to:

[code]

.NET core has another overload here:
https://so

[2019-04-03 03:30] fforjan commented on #2273
I have isolated the issue:
one of the project references is a C++ CLR project.
You can reproduce it by building the solution
[IssueGithub.zip](https://github.com/dotnet/roslyn-analyzers/files/3036754/IssueGithub.zip)

Also note that on the command line, msbuild /t:Metrics is failing, I have added it as a post build step.

We are using VS 2017

[2019-04-03 03:48] fforjan commented on #2272
I have isolated the issue.
It seems we had a merge issue at one stage when a project reference was duplicated.
Note that Visual Studio do not complain about this, where as I think it should ??

You can reproduce the issue by looking at the attached solution.

Note that I had to add a post-build step as msbuild /t:Metrics doesn't work
[IssueGithub.zip](https://github.com/dotnet/roslyn-analyzers/fil

[2019-04-03 03:52] fforjan commented on #2272
I have isolated the issue.
It seems we had a merge issue at one stage when a project reference was duplicated:
![image](https://user-images.githubusercontent.com/601810/55451764-3df72b80-5589-11e9-8cec-b7e159d34a7c.png)

Note that Visual Studio do not complain about this, where as I think it should ??

You can reproduce the issue by looking at the attached solution.
[IssueGithub.zip](https://githu

[2019-04-03 07:02] Grauenwolf opened #2275 "CA1062: False positive when unvalidated parameter is used by a function"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Package Version

2.9.1

#### Diagnostic ID

CA1062

#### Repro steps

It incorrectly flags sqlParameterName as needing a parameter check for null. In this example, null is permissible both for SqlParameterName and the Utilities.ToClrName function.

        protected ParameterMetadata(string sqlParameterName, string sqlVariableName, strin

[2019-04-03 07:04] Grauenwolf opened #2276 "CA1062: False positive when a null check and assignment guard is used"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Package Version

2.9.1

#### Diagnostic ID

CA1062

#### Repro steps

It incorrectly flags tableNames as needing a parameter check for null. In this example, null is checked for and tableNames is given a non-null value in that case.

        public TableSet(DbDataReader reader, params string[] tableNames)
        {
            if (reader

[2019-04-03 07:08] Grauenwolf opened #2277 "CA1062: False positive after a null check"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Package Version

2.9.1

#### Diagnostic ID

CA1062

#### Repro steps

It incorrectly flags filterValue as needing a parameter check for null. In this example, filterValue  is checked for null and an exception is thrown.

Interestingly, it only complains about filterValue on the second to last line. Other uses of filterValue do not report

[2019-04-03 07:18] Grauenwolf opened #2278 "CA1031: False positive when wrapping exception"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Package Version

2.9.1

#### Diagnostic ID

CA1031

#### Repro steps

It incorrectly warns about catching System.Exception. As you can see in this example, the caught exception is wrapped and rethrown.

While not explicitly called out in the documentation, this matches the spirit of the rule which is to not swallow general exceptions.

[2019-04-03 07:29] Grauenwolf opened #2279 "CA2213: Unable to suppress error"
#### Analyzer package

Microsoft.NetCore.Analyzers

#### Package Version

2.9.1

#### Diagnostic ID

CA2213

#### Repro steps

Unable to suppress errors from this rule.

In my case, I have the field `readonly DataTable m_Schema;` which can be returned from the class via a property getter and thus should not be disposed by this class. Essentially it holds, but does not 'own' the DataTable.

[2019-04-03 11:31] mavasani commented on #2275
Can you please provide a minimal compilable repro, especially the code for ToClrName function?

[2019-04-03 11:34] mavasani commented on #2276
Needs special handling in points to analysis to understand that Array.Empty returns a non-null value, not the default maybe-null value.

[2019-04-03 11:43] Tan90909090 opened #2280 "CA1062 is reported strangely when using conditional operator"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.1

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods)

#### Repro steps
[code]

#### Expected behavior
CA1062 is not reported.
"parent may refer to null" may

[2019-04-03 12:17] Tan90909090 opened #2281 "Let CA1068 not report on a method taking IProgress as the last parameter"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.1

#### Diagnostic ID

CA1068

#### Repro steps
[code]

#### Expected behavior
CA1068 is not reported.
Because some Microsoft's documentations take IProgress as the last parameter:
1. https://docs.microsoft.com/en-us/dotnet/standard/asynch

[2019-04-03 14:38] Grauenwolf commented on #2275
I don't have a minimum repro at this time.

        public static string ToClrName(string name)
        {
            if (string.IsNullOrWhiteSpace(name))
                return null;

            string result = name;
            foreach (char c in s_InvalidCharacters)
            {
                result = result.Replace(c.ToString(CultureInfo.InvariantCulture), "");
            }

            i

[2019-04-03 17:10] Neme12 commented on #2034
It would be really nice to have this now that VS 2019 is RTM.

[2019-04-03 17:20] mavasani commented on #2034
@Neme12 any reason you still using the VSIX instead of NuGet package? We are very likely not going to support this VSIX on VS2019 and recommend everyone to use the NuGet package instead.

[2019-04-03 17:30] Neme12 commented on #2034
Why? :( I don't want to (and often can't) install a nuget package to every single project I'm working on or contributing to. I find many of the suggestions helpful - like making members static, but not everyone on my team will agree or want this to show up in their editor, because these analyzers aren't hard rules and aren't enforced.

[2019-04-03 17:32] Neme12 commented on #2034
I want to make my code as pretty and consistent as possible but there are people that just don't care and don't want to be distracted. There's nothing I can do about that.

[2019-04-03 19:40] GammaFour commented on #2262
If I use **object** without the '@', _I want a warning_.  Using the '@' means I'm explicitly using something that looks like a reserved name, but isn't.  It's not in the same category as accidentally using a reserved name.

[2019-04-03 21:55] sharwell commented on #2262
@GammaFour If you use `object`, won't you get a compiler error anyway?

[2019-04-04 00:16] GammaFour commented on #2262
OK.  After reading the description, this warning isn't what I thought it was.  Sorry to waste your time.
Great product BTW.

[2019-04-04 00:16] GammaFour commented on #2262
OK. After reading the description, this warning isn't what I thought it was. Sorry to waste your time.
Great product BTW.

[2019-04-04 00:16] #2262 closed

[2019-04-04 00:50] sharwell commented on #2262
@GammaFour No problem at all. I just wanted to make sure I understood the issue you were encountering before closing it. 👍

[2019-04-04 09:14] TKharaishvili opened #2283 "CA2009 VB analyzer doesn't report static invocations"
Given this example:

[code]

The analyzer reports the first line but not the second. It however reports both for C# invocations.
Analyzer test cases need to be augmented to include the 2nd invocation for both C# and VB.
Fixer test cases need to be augmented to include the 2nd invocation for VB.

[2019-04-04 09:26] TKharaishvili commented on #2233
Since the PR was accepted I'm closing the issue.

[2019-04-04 09:26] #2233 closed

[2019-04-04 15:01] sharwell opened #2285 "SealMethodsThatSatisfyPrivateInterfacesFixer fails to insert 'End Sub'"
See disabled test `SealMethodsThatSatisfyPrivateInterfacesFixerTests.TestBasic_AbstractMethodChangedToNotAbstract`.

[2019-04-04 15:30] robsonj commented on #2244
I still see the issue with v2.9.1

[2019-04-04 17:12] sharwell opened #2286 "MarkMembersAsStatic code fix does not work with Roslyn 3.0.0"
See tests disabled in #2255.

[2019-04-04 17:46] genlu commented on #2244
@robsonj That's odd. The props file included in 2.9.1 packages should all contains the feature flag. Could you crack open the nupkg file for the package you were referencing (they are just zip file with a different suffix) and check the *.props file under build sub-directory? Do you see the the property like below at the bottom of the file?

[code]

[2019-04-04 20:54] TKharaishvili commented on #960
@mavasani the PR was merged in. This issue can probably be closed.

[2019-04-05 06:59] andreypudov opened #2289 "VS Mac build fails after adding FxCopAnalyzer package"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.1

#### Diagnostic ID

CSC : error CA9999: Version mismatch between the analyzer package '2.9.0' and Microsoft.CodeAnalysis '2.8.0.0'.
Certain analyzers in this package will not run until the version mismatch is fixed.
Re

[2019-04-05 08:25] Gerboa commented on #2034
It doesn't seem like a **new feature**, especially when it's listed in the VS Marketplace as supporting VS2017, **VS2019**.

I also want to use the VSIX version rather than the NuGet package.

[2019-04-05 08:32] Neme12 commented on #2034
What about just removing the arbitrary limitation for upper version of CoreEditor instead of creating a new VSIX?

[2019-04-05 16:25] duncancoppedge commented on #2034
It'd be great to have this on vs2019 or if not please update the [Visual Studio Marketplace page](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017#overview) to reflect that it doesn't work. (see screenshot below)
Please note it appears ~32,000 other devs enjoy having the VSIX version.  I know I do 👍

![image](https://user-images.githubuserconte

[2019-04-05 19:03] fforjan commented on #2273
@sharwell  sorry to ping you but this is a blocker for us to move away from the old code metrics.
Do you know if there is any workaround ?
if not, the next time for us to do an upgrade will be in 3 or 6 months - we are only doing 'tools' upgrade at a beginning of a quarter

[2019-04-06 18:23] sharwell opened #2292 "ImplementStandardExceptionConstructorsFixer is not deterministic"
This analyzer depends on multiple diagnostics with the same ID reported at the exact same location in source code. Microsoft.CodeAnalysis.Testing is not able to test this deterministically, and users may observe non-deterministic behavior in practice.

[2019-04-06 19:04] sharwell opened #2293 "CA2242 (Test for NaN correctly) is reported in generated code"
`TestForNaNCorrectlyAnalyzer` should explicitly configure its generated code behavior. If the current behavior is kept, no change is needed to the tests. If the behavior is changed so the warning is _not_ reported in generated code, the tests should be updated to use `CSharpCodeFixVerifier` instead of `CSharpSecurityCodeFixVerifier` (and similar for VB).

[2019-04-08 14:49] hudecekd commented on #2244
Hello I have similar problem. I have 2.9.1 version. **PropertyGroup** is in prop file. I have found out that only one project uses **Microsoft.CodeAnalysis.FxCopAnalyzers** but all other projects which referenc this "base" project automatically use Code Analysis too. Maybe it is feature?
In any case I can see this error
Warning	AD0001	Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsS

[2019-04-08 15:31] mavasani commented on #2244
You need to add the NuGet package reference with PrivateAssets ‘All’. See https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2019-04-08 21:02] #2283 closed

[2019-04-09 07:38] hudecekd commented on #2244
Thanks mavasani for that. I didn't know about it. Still it serves as a point how to simulate exception in analyzer so maybe it can help to track error in analyzer.

[2019-04-09 10:55] IngvarKofoed commented on #1771
I'm writing my own analyzer and ran into this exception in the project were I used the analyzer. After some time I finally found out that the way I references `Microsoft.CodeAnalysis.Analyzers` in the analyzer code is very important. The `PrivateAssets="all"` is important. If this is not there, then I get the NullReferenceException in the project using the analyzer.

From my analyzer csproj:
`
<Pa

[2019-04-09 13:01] PDostalek opened #2299 "[loc][Query][dotnet_roslyn_analyzers] Localizability of string: 0; "DoNotReferSelfInSerializableClass""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
Do Not Refer Self In Serializable Class

File Name:
Microsoft.NetCore.Analyzers\Core\Security\xlf\SystemSecurityCryptographyResources.xlf

Resource ID:
0; "DoNotReferSelfInSe

[2019-04-09 13:07] PDostalek opened #2300 "[loc][Query][dotnet_roslyn_analyzers] Localizability of string: 0; "DoNotDisableSchUseStrongCryptoMessage""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
{0} disables TLS 1.2 and enables SSLv3

File Name:
Microsoft.NetCore.Analyzers\Core\Security\xlf\SystemSecurityCryptographyResources.xlf

Resource ID:
0; "DoNotDisableSchUseS

[2019-04-09 13:08] PDostalek opened #2301 "[loc][Query][dotnet_roslyn_analyzers] Localizability of string: 0; "DuplicateSymbolsInPublicApiFilesMessage""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
The symbol '{0}' appears more than once in the public API files.

File Name:
Microsoft.NetCore.Analyzers\Core\Security\xlf\SystemSecurityCryptographyResources.xlf

Resource I

[2019-04-09 15:14] IlyaGrebnov commented on #2254
I encounter same issue. Is any update on the fix?

[2019-04-09 17:05] genlu commented on #2254
We will be releasing the fix very soon. Thanks!

[2019-04-09 17:07] genlu commented on #2244
@hudecekd What version of VS are you using? Also what version of compiler package are you using (if you are using the toolset compiler instead of the one in-box)?

[2019-04-09 18:41] dotpaul commented on #2299
Hrm, the source should probably be: "Do Not Refer To Self In Serializable Class"

"Self" is localiziable; it's referring to the class (that's serializable).

[2019-04-09 18:52] dotpaul commented on #2300
Usually it's "SetSwitch", the name of a method.

[2019-04-10 04:52] sharwell opened #2302 "New analyzer: compare symbols correctly"
#### Analyzer package

Possibly Microsoft.CodeAnalysis.Analyzers

#### Package Version

N/A

#### Diagnostic ID

Unknown

#### Expected behavior

This analyzer would report a diagnostic when `ISymbol` instances are compared with `==` or `!=`.

Originally I thought to file an issue covering comparison of any type known to implement `IEquatable<T>`, but for those cases it's not always sufficient to

[2019-04-10 04:57] mavasani commented on #2302
@sharwell seems identical to https://github.com/dotnet/roslyn-analyzers/issues/2084. Feel free to resolve one of them as duplicate.

[2019-04-10 05:00] sharwell commented on #2302
@mavasani Let's talk next week about whether we want to investigate a more general `IEquatable<T>` analyzer. If so we can keep this issue to track that work. If not, we close it as a duplicate of #2084.

[2019-04-10 10:45] PDostalek commented on #2300
Thanks for your reply. I´ll provide the meaning to vendor.

[2019-04-10 10:45] #2300 closed

[2019-04-10 10:48] PDostalek opened #2303 "[loc][Query][dotnet_roslyn_analyzers] Localizability of string: 0; "SymbolIsBannedMessage""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
The symbol '{0}' is banned in this project{1}

File Name:
Microsoft.CodeAnalysis.BannedApiAnalyzers\Core\xlf\BannedApiAnalyzerResources.xlf

Resource ID:
0; "SymbolIsBannedMe

[2019-04-10 10:55] PDostalek commented on #2299
Thanks

[2019-04-10 10:55] #2299 closed

[2019-04-10 21:21] sharwell commented on #1852
Reopening as there is a test that is skipped for this issue, and if unskipped it fails.

https://github.com/dotnet/roslyn-analyzers/blob/9fa03861d0b8979b0536cae0b9d0f7d60336eb09/src/Microsoft.NetCore.Analyzers/UnitTests/Security/DoNotUseInsecureDeserializerBinaryFormatterWithoutBinderTests.cs#L836-L837

[2019-04-11 08:55] hudecekd commented on #2244
VS 2017
Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.1
I have set PrivateAssets to "all" and add nuget package Microsoft.CodeAnalysis.FxCopAnalyzers to all projects and warning is gone. So I think you can reproduce it when you have projectA which references projectB and projectB uses Microsoft.CodeAnalysis.FxCopAnalyzers and PrivateAssets is not set.

[2019-04-11 09:17] appel1 opened #2306 "CA2213 False positive when Dispose is implemented in .Designer.cs file"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.1

#### Diagnostic ID

CA2213

#### Repro steps

Create a .net framework console app project.
Add FxCopAnalyzers
Add a Windows Service, for example Service1
Add a field with a disposable type to Service1.cs
Modify Dispose(bool) in Service1.

[2019-04-11 17:41] TKharaishvili commented on #394
I wasn't able to find the analyzer for this in the codebase...

[2019-04-11 18:16] sharwell opened #2310 "DoNotDirectlyAwaitATaskTests.Fixer has invalid Fix All results"
See these tests:

https://github.com/dotnet/roslyn-analyzers/blob/2f94c36db114d8ab2517939c01e4390806c95cdb/src/Microsoft.CodeQuality.Analyzers/UnitTests/ApiDesignGuidelines/DoNotDirectlyAwaitATaskTests.Fixer.cs#L260-L261

https://github.com/dotnet/roslyn-analyzers/blob/2f94c36db114d8ab2517939c01e4390806c95cdb/src/Microsoft.CodeQuality.Analyzers/UnitTests/ApiDesignGuidelines/DoNotDirectlyAwaitATask

[2019-04-11 18:18] sharwell opened #2311 "Create a `WithWarningsAsErrors` extension method for testing"
This extension method could replace all uses of this pattern in tests:

https://github.com/dotnet/roslyn-analyzers/blob/2f94c36db114d8ab2517939c01e4390806c95cdb/src/Microsoft.CodeQuality.Analyzers/UnitTests/ApiDesignGuidelines/OverrideEqualsOnOverloadingOperatorEqualsTests.Fixer.cs#L63-L71

[2019-04-11 18:29] sharwell opened #2312 "Review uses of CodeFixValidationMode.None"
Tests should not use `CodeFixValidationMode.None`. It indicates the code fix is producing a syntax tree which is not the same syntax tree the compiler would create for the same input.

[2019-04-11 19:14] appel1 opened #2319 "CA2213 has high impact on project compile time"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.1

#### Diagnostic ID

CA2213

#### Repro steps

Enable CA2213 on a fairly big project
Compile solution using msbuild from a Developer Command Prompt for VS 2019 (or 2017)

#### Expected behavior
A small increase in compile time, or at leas

[2019-04-11 19:40] #1257 closed

[2019-04-11 19:45] TKharaishvili opened #2320 "Use new tuple syntax"
Old style tuples are used in several places in the codebase. Would be nice to update them to a new style.

[2019-04-11 19:54] #1892 closed

[2019-04-11 21:41] #2320 closed

[2019-04-12 01:33] mavasani commented on #1654
The test was probably incorrectly skipped with this bug, but the core issue is not fixed - analyzer is still not based on flow analysis.

[2019-04-12 01:46] mavasani commented on #2319
Can you please provide a repro project? Also can you try disabling interprocedural analysis: https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#dataflow-analysis.

[2019-04-12 03:13] #2084 closed

[2019-04-12 05:41] Zenexer opened #2324 "CA1815, CA1066, and CA2231 on public ref struct"
#### Analyzer package

Microsoft.CodeQuality.Analyzers from [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.1

#### Diagnostic ID

* [CA1815](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1815-override-equals-and-operator-equals-on-value-types)
* [CA1066](https://github.com/dotnet/roslyn-analyze

[2019-04-12 06:47] Zenexer opened #2325 "CA1001 isn't aware of IAsyncDisposable"
#### Analyzer package

Microsoft.CodeQuality.Analyzers from [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.1

#### Diagnostic ID

[CA1001](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1001-types-that-own-disposable-fields-should-be-disposable)

#### Repro steps

[code]

#### Expected behavior

[2019-04-12 07:00] appel1 commented on #2319
With interprocedural analysis disabled it takes about the same time to build with and without CA2213.

Unfortunately I can't share the project.

[2019-04-12 07:32] mavasani commented on #2319
Great, I will tweak the default dalaflow analysis configuration to make it optimal. I will share a myget drop with you next week to verify if that resolves your issue. Thanks!

[2019-04-12 14:06] SWarnberg opened #2327 "CA1062 reports problems when accessing objects after using foreach"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.1

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods)

#### Repro steps

Consider this code:

[code]

#### Expected behavior
The code in **Initialize** shoul

[2019-04-12 16:57] sharwell commented on #396
@mavasani I propose resolving the CA1050 code fix as **Won't Fix** in light of dotnet/roslyn#34223.

[2019-04-12 21:22] #2312 closed

[2019-04-13 03:21] sharwell opened #2335 "RS1024 reported for explicit reference equals"
#### Analyzer package

[Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

#### Package Version

3.0.0-beta2.19213.1+14035759 (built from 14035759)

#### Diagnostic ID

RS1024 (Compare symbols correctly)

#### Repro steps

[code]

#### Expected behavior

Unknown

#### Actual behavior

RS1024 is reported.

[2019-04-13 03:25] sharwell opened #2336 "RS1024 reported for concrete implementations of ISymbol"
#### Analyzer package

[Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

3.0.0-beta2.19213.1+14035759 (built from 14035759)

#### Diagnostic ID

RS1024

#### Repro steps

Compare two `Symbol` instances with `==` or `!=`. `Symbol` is a concrete type that implements `ISymbol`, and also provides overridden equality operator

[2019-04-13 22:17] frankshearar commented on #1484
For tests - the user can just opt to not use the analyzer for a test project.

On a different note - having just implemented something like this analyzer for a team in Microsoft (I'm frsheara if you're an FTE) - you should also require an Async suffix for methods that return awaitable types in general. For example,

[code]

[2019-04-14 07:58] patriksvensson opened #2338 "CA1801 False positive for events"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.1

#### Diagnostic ID

Example: [CA1801](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1801-review-unused-parameters?view=vs-2019)

#### Repro steps

I subscribed to an event in XAML (UWP) that generates a event cal

[2019-04-15 01:04] frankshearar commented on #1484
Aaaand I just found out that Microsoft.VisualStudio.Threading.Analyzers does all that, and more.

[2019-04-15 01:20] sharwell commented on #1484
We should just remove this rule, since it's superseded by [VSTHRD200](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD200.md).

[2019-04-15 03:27] mavasani commented on #1484
I think I have deleted all Async00XX rules from this repo.

[2019-04-15 06:23] bexxx opened #2339 "CA1062 False positive when value is overwritten"
#### Analyzer package
Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version
Example: v2.9.1

#### Diagnostic ID
Error	CA1062	In externally visible method 'string ExceptionExtensions.AsString(Exception exception)', validate parameter 'exception' is non-null before using it. If appropriate, throw an ArgumentNullException when the argument is null or add a Code Contract precondition asserting n

[2019-04-15 11:06] cremor opened #2340 "Analyzers can't be created because assembly Microsoft.CodeAnalysis.Analyzers is not found"
#### Analyzer package
[Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

#### Package Version
1.1.0 and 2.10.0 (which doesn't exist yet). See below for explanation of why those two versions are affected.

#### Diagnostic ID
CS8032	An instance of analyzer Microsoft.CodeAnalysis.CSharp.Analyzers.MetaAnalyzers.CSharpDiagnosticDescriptorCreationAnalyze

[2019-04-15 11:44] Grasher134 commented on #2034
Any update on the issue? VS 2019 is released, but this vsix is still not supported

[2019-04-15 13:09] mavasani commented on #2340
@cremor .NETCore SDK does not add references to any analyzer packages. You are likely referencing this analyzer package either transitively (for e.g. if you are referencing Microsoft.CodeAnalysis NuGet package, it pulls in this analyzer package as a references OR if your project is referencing another project that has a reference to this analyzer package, and does not set PrivateAssets, then analy

[2019-04-15 13:12] mavasani commented on #2034
Tagging @jinujoseph @vatsalyaagrawal - I believe @Neme12's [comment](https://github.com/dotnet/roslyn-analyzers/issues/2034#issuecomment-479584963) matches the reason why VSIX based support was added in first place, and it seems sense to add support for the VSIX in VS2019, given its popularity.

[2019-04-15 13:35] mavasani commented on #2289
I believe this is by design. Your underlying compiler version is 2.8.x, but the 2.9.x FxCop analyzer package requires the compiler version to be at least 2.9.0. I would recommend either downgrading your analyzer package reference to 2.6.3 OR upgrading the compiler version to 2.9.0 or later (you can do so by referencing [this](https://www.nuget.org/packages/Microsoft.NETCore.Compilers/3.1.0-beta1-f

[2019-04-15 13:40] mavasani commented on #2278
Tagging @m-akinc. Would you be keen to fix this case?

[2019-04-15 13:42] mavasani commented on #2279
Can you please expand on this? You should be able to add a pragma warning or SuppressMessageAttribute to suppress the reported CA2213 violation

[2019-04-15 13:47] mavasani commented on #2275
Needs adding logic to PointsToAnalysis to ensure non-null location on path where `string.IsNullOrXXX` is false.

[2019-04-15 13:59] mavasani commented on #2272
I believe this is a duplicate of https://github.com/dotnet/roslyn/issues/24991. Code metrics is using MSBuild workspace to load the project/solution, and I believe you can reproduce this same exception on your provided project via a simple console application with the repro steps in https://github.com/dotnet/roslyn/issues/24991. Resolving this as a duplicate.

[2019-04-15 13:59] #2272 closed

[2019-04-15 14:02] mavasani commented on #2273
I believe this is again an issue with MSBuild workspace unable to load the project/solution, nothing specific to Code Metrics application here. @jinujoseph can we please port this issue to Roslyn repo? I will investigate why we are getting an unresolved metadata reference here..

[2019-04-15 14:10] mavasani commented on #2273
Ah, seems like you have already found the underlying reason: `one of the project references is a C++ CLR project.`. Note that Code Metrics console app is just using `MSBuildWorkspace.Create` and `MSBuildWorkspace.OpenProjectAsync` APIs to load the project [here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Tools/Program.cs#L307).

@jasonmalinowski @DustinCampbell - doesn't MSBuildWor

[2019-04-15 14:29] mavasani commented on #2216
Does this work if you downgrade CA1724 to a warning instead of an error?

[2019-04-15 15:55] jasonmalinowski commented on #2273
There's no fundamental reason it _couldn't_ work, but honestly I'm not sure we have tests so I could imagine it's been busted and nobody noticed until now.

[2019-04-15 17:57] dibarbet commented on #2219
I'm getting the same issue but with a different stack trace.
Closing the unshipped API file doesn't help in this case (it wasn't even open).

[code]

[2019-04-15 18:33] #2335 closed

[2019-04-15 18:33] #2336 closed

[2019-04-15 18:48] genlu commented on #2301
@PDostalek
Definition of public API can be found here: https://en.wikipedia.org/wiki/Open_API
And "files" in this context, are two text files on disk this feature uses.

[2019-04-15 19:40] Grauenwolf commented on #2279
When I right click on that error, I'm not given the option to add a supression.

Other errors work as expected.

I don't think I tried manually adding a supression.

[2019-04-15 20:39] genlu commented on #2303
The second placeholder will be whatever the user of the analyzer specified in their public API files. It is not for project name. There's no need (or even possible) to localize that,

See the linked below for more details
https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md

[2019-04-15 21:31] fforjan commented on #2273
@jasonmalinowski  there is an attachment with a simple project to reproduce it on my first comment

[2019-04-16 19:05] mavasani commented on #2276
This wasn't actually required (PR: https://github.com/dotnet/roslyn-analyzers/pull/2345), I made a more conservative implementation in analysis where assigning to a parameter on a path causes us to stop tracking the parameter as we cannot null ref due to incoming argument value for the parameter

[2019-04-16 19:13] mavasani commented on #2275
I have a [PR](https://github.com/dotnet/roslyn-analyzers/pull/2345/) for fixing this issue, but it did not require this change. We already had this check [here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ParameterValidationAnalysis/ParameterValidationAnalysis.ParameterValidationDataFlowOperationVisitor.cs#L265). The false positive was du

[2019-04-16 19:42] jberezanski opened #2347 "CA2000 false positive with async/await when method takes a potentially disposable parameter"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.1

#### Diagnostic ID

[CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

[code]

This is a slight variation of #2212. The inner method is async and takes a po

[2019-04-16 20:25] m-akinc commented on #2278
This has the potential to get fairly complex. Would we have to handle every way that a thrown object might contain a reference to the original, caught exception? Currently the analyzer reports a diagnostic for all of the following (in addition to the case reported by Grauenwolf):
`catch (Exception ex)
{
    throw ex; // this definitely should not report a diagnostic...
}`
`catch (Exception ex)
{

[2019-04-16 20:35] mavasani commented on #2215
This might likely be fixed by https://github.com/dotnet/roslyn-analyzers/pull/2345/. I will validate once that PR is merged to use the corresponding NuGet package for https://github.com/xmarshal/CodeAnalysisIssues

[2019-04-16 20:36] mavasani commented on #2275
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:36] #2275 closed

[2019-04-16 20:36] mavasani commented on #2276
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:36] #2276 closed

[2019-04-16 20:36] mavasani commented on #2277
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:36] #2277 closed

[2019-04-16 20:37] mavasani commented on #2280
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:37] #2280 closed

[2019-04-16 20:37] mavasani commented on #2327
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:37] #2327 closed

[2019-04-16 20:37] mavasani commented on #2339
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2345

[2019-04-16 20:37] #2339 closed

[2019-04-16 21:48] mavasani commented on #2034
I have a PR out to fix the VSIX: https://github.com/dotnet/roslyn-analyzers/pull/2349. Once it is merged, we will need to publish the VSIX and update the documentation. I'll keep using this issue to track all the work.

[2019-04-16 22:44] mavasani commented on #2278
@m-akinc I think we should be fine with the simple fix for now. We probably want to ensure that the end point of the catch clause is not reachable by invoking [AnalyzeControlFlow](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/SemanticModel.cs,662) on the catch clause and verifying that [EndPointIsReachable](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/ControlFlowAnalys

[2019-04-16 23:15] mavasani commented on #2306
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2348

[2019-04-16 23:15] #2306 closed

[2019-04-16 23:15] mavasani commented on #2245
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2348

[2019-04-16 23:15] #2245 closed

[2019-04-17 04:30] sunefred commented on #1844
This is awesome news. If I understand you correctly the built in VS-analyzer, incuding all its language specific style rules, is going to be moved to a NuGet? Is this effort aligned with FxCop or a separate project?

[2019-04-17 06:07] mavasani commented on #1844
Yes that is correct. This is a separate project driven by @sharwell. Note that there is already a preliminary code style package with just the formatting analyzer on myget. He can provide you more details if required.

[2019-04-17 08:16] cremor commented on #2340
If that's the case, why does Visual Studio show analyzer dependencies right after creating a new ASP.NET Core 2.2 Web API project?

![grafik](https://user-images.githubusercontent.com/116314/56270568-ba941900-60f6-11e9-9c34-f8ea73744458.png)

Also, I could just reproduce the analyzer error messages from this empty Web API project and have updated the repro steps above accordingly. So this is defin

[2019-04-17 11:15] PDostalek commented on #2303
Thanks for an advice.

[2019-04-17 11:15] #2303 closed

[2019-04-17 11:19] PDostalek commented on #2301
Thanks for confirmation

[2019-04-17 11:19] #2301 closed

[2019-04-17 15:23] #2242 closed

[2019-04-17 18:09] m-akinc commented on #2278
@mavasani I ran into problems using AnalyzeControlFlow. Specifically, for VB, AnalyzeControlFlow does not like being passed a `CatchBlockSyntax`. It throws an exception that 'statement is not an StatementSyntax'.

Also, it seems like that approach has its own issues -- the catch block has a `break` or `return`, wouldn't that potentially give a false negative?

I experimented with `AnalyzeDataFlow`

[2019-04-17 18:11] mavasani commented on #2278
@m-akinc Thanks for the work you put in! It seems fine to take the simplest fix for now.

[2019-04-17 21:56] mavasani commented on #2340
@cremor Ah, that is good to know - I wasn't aware that `Microsoft.NET.Sdk.Web` shipped analyzers. I think the assembly load issue that you are seeing is a duplicate of https://github.com/dotnet/roslyn/issues/32226, which was fixed in VS2019 RTW. Would you be able to check if the issue still repros for you on VS2019?

[2019-04-17 23:02] mavasani commented on #2215
Ah, I looked at your repro, and the issue seems to be that the helper method performing null checks is in a different project/compilation. Roslyn analyzers do not support interprocedural analysis across project/compilation boundary, so the invocation into a different project is not analyzed and leads to the analysis flagging this case. If I copy the code from Annotations.csproj into CodeAnalysis10

[2019-04-17 23:05] mavasani commented on #2215
Kindly file an issue on the https://github.com/dotnet/roslyn/issues if you believe cross assembly analysis support is critical for Roslyn analyzers. Closing this issue as by design.

[2019-04-17 23:05] #2215 closed

[2019-04-18 00:54] dotpaul opened #2359 "Help links for deserialization security rules"
Need to write and publish docs, and add the help links to deserialization security rules.

[2019-04-18 03:55] #2256 closed

[2019-04-18 03:56] #1225 closed

[2019-04-18 05:17] Tan90909090 opened #2361 "CA2000 should not be reported when returning object that from another method"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2
Note that this issue doesn't occur v2.9.1

#### Diagnostic ID

[CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps
[code]

#### Expected behavior
CA2000 is not

[2019-04-18 05:41] cremor commented on #2340
I don't have VS2019 installed right now. Might be a few weeks until I install it and can test.

But even if this is fixed in VS2019, does this mean that there is no plan to fix this in VS2017?

[2019-04-18 08:29] xmarshal commented on #2216
for CA1724 and CA1812 its no helps

[2019-04-18 15:27] RobSiklos opened #2365 "CA1031 False Positive"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1031](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1031-do-not-catch-general-exception-types)

#### Repro steps

[code]
#### Expected behavior
No violation, since the Exception is included as the i

[2019-04-18 18:08] RobSiklos commented on #2365
Sorry - looks like this is a dupe of issue #2278

[2019-04-18 18:08] #2365 closed

[2019-04-18 18:27] #2278 closed

[2019-04-18 19:39] #2361 closed

[2019-04-18 19:49] #2347 closed

[2019-04-18 20:21] GitTorre opened #2368 "Do not do -> Consider doing: Ex. CA2007, ConfigureAwait"
#### Diagnostic ID
CA2007: Do not directly await a Task without calling ConfigureAwait

#### Recommendation
I understand that it makes sense in the context of UI thread, with the task continuation running on any available threadpool thread versus bound to the caller’s (to prevent UI blocking…), however there are in fact legitimate cases where this rule doesn’t apply in context. Anyway, should this

[2019-04-18 20:26] RobSiklos opened #2369 "CA1062 false positive when String.IsNullOrEmpty is used for null check"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1062: Validate arguments of public methods](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods)

#### Repro steps
1. Enable CA1062
2. Analyze the following code:

[2019-04-18 22:40] sharwell opened #2371 "PerformanceSensitiveAttribute conflicts with IVTs"
#### Analyzer package

Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Package Version

Example: 3.0.0-beta2.19218.3+e96bad97

#### Diagnostic ID

n/a

#### Repro steps

1. Create a project First, which has IVT visible to Second
2. Create a project Second, with a reference to First
3. Install the analyzer package in both projects

#### Expected behavior

No warnings.

#### Actual behavi

[2019-04-18 22:42] sharwell opened #2372 "PerformanceSensitiveAttribute fails to compile without System.Threading.Tasks"
#### Analyzer package

Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Package Version

Example: 3.0.0-beta2.19218.3+e96bad97

#### Diagnostic ID

n/a

#### Repro steps

1. Create a project targeting .NET 2.0
2. Add a reference to Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Expected behavior

No warnings.

#### Actual behavior

[2019-04-18 22:44] sharwell opened #2373 "cref documentation errors in PerformanceSensitiveAttribute.vb"
#### Analyzer package

Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Package Version

Example: 3.0.0-beta2.19218.3+e96bad97

#### Diagnostic ID

n/a

#### Repro steps

1. Create a Visual Basic project
1. Install Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Expected behavior

No warnings.

#### Actual behavior

* `IEnumerable{T}` cannot be resolved
* `ValueTask{TResult}`

[2019-04-18 22:45] sharwell opened #2374 "cref errors in PerformanceSensitiveAttribute.cs"
#### Analyzer package

Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Package Version

Example: 3.0.0-beta2.19218.3+e96bad97

#### Diagnostic ID

n/a

#### Repro steps

1. Create a C# project that does not reference `ValueTask<TResult>`
1. Install Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Expected behavior

No warnings.

#### Actual behavior

* `ValueTask{TResult}` can

[2019-04-18 22:54] sharwell opened #2375 "embed error for PerformanceSensitiveAttribute"
#### Analyzer package

Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Package Version

Example: 3.0.0-beta2.19218.3+e96bad97

#### Diagnostic ID

n/a

#### Repro steps

1. Create a project that does not produce a PDB
1. Install Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

#### Expected behavior

No warnings.

#### Actual behavior

[2019-04-19 07:14] jinujoseph commented on #2368
Suggestion from @gewarren
CA2007: Consider calling ConfigureAwait on the awaited task

[2019-04-19 12:53] sharwell commented on #2368
I believe this rule should be removed in favor of the analyzers in Microsoft/vs-threading.

[2019-04-19 12:55] mavasani commented on #2368
This rule is already shipping with FxCop analyzers and has been documented on docs.microsoft.com as well. I would like to retain the rule and just adjust the wording as suggested by @gewarren.

[2019-04-19 13:01] sharwell commented on #2368
That seems roughly in line with the principle of wording based on default severity:

* 'may': info
* 'should': warning
* 'must': error

Can we think of a wording that uses 'should' for this?

[2019-04-19 15:40] colemars commented on #1440
This would be amazing

[2019-04-19 22:21] JoeRobich opened #2379 "NRE CancellationTokenParametersMustComeLastAnalyzer"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Package Version

2.6.2-beta2

#### Diagnostic ID

AD0001

[code]

Windows Desktop Release_32 - [Test Logs](https://dev.azure.com/dnceng/public/_build/results?buildId=161907&view=logs) - Attempt 1

[2019-04-20 04:18] JamesNK opened #2380 "Turning off all rules and then enabling desired rules"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.2

#### Repro steps

1. Add package reference
1. Copy contents of `AllRulesDisabled.ruleset` to local file and reference from csproj
1. Compile

#### Expected behavior

No code analysis warnings because they're all disabled

####

[2019-04-20 04:20] JamesNK commented on #2380
I just want to disable all the rules and then choose the rules I want to opt-in to.

As far as I can tell Microsoft.CodeAnalysis.FxCopAnalyzers turns on everything by default.

[2019-04-20 04:42] mavasani commented on #2380
Yes, this is expected to work as you described. I’ll check whats broken here.

[2019-04-20 05:17] mavasani commented on #2380
Alright, I was able to get this to repro on the latest 16.1 preview bits, and this seems like a bug in our VS IDE project system where live analysis is always using the older snapshot of the ruleset file for intellisense diagnostics. A simpler repro is as below:

1. Create a C# class library project with the following source code:
[code]
2. Add a NuGet package reference to https://www.nuget.org/pa

[2019-04-20 05:19] mavasani commented on #2380
Btw, James, you can workaround this bug by closing and reopening the solution.

[2019-04-20 19:57] paulomorgado opened #2381 "Primitive types identified as non serializable"
Moved from https://github.com/MicrosoftDocs/visualstudio-docs/issues/1802

-------------------

In the above example, if you decorate the `Mouse` class with `SerializableAttribute`, you'll get a violation of this rule on the fields. If you change the implementation of the properties to auto-implemented properties, you'll get a violation of this rule on the properties.

Is that intended result?

If

[2019-04-20 20:46] Gav-Brown commented on #2235
@xmarshal For Visual Studio this will be resolved by dotnet/Roslyn#17218

[2019-04-20 20:52] JamesNK opened #2382 "Turning off all rules and then enabling desired rules - Take II"
I created https://github.com/dotnet/roslyn/issues/35164, but I believe there is a separate bug.

#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Repro steps

1. Open [Class1.zip](https://github.com/dotnet/roslyn-analyzers/files/3100588/Class1.zip) (has copy of rules from `AllRul

[2019-04-21 04:04] mavasani commented on #2382
Are you sure you don’t have a stale copy of AllRulesDisabled.ruleset. I did check yesterday that the ruleset along with 2.9.2 FxCop analyzers package had a entry turning off CA2208.

[2019-04-21 04:09] JamesNK commented on #2382
I am copying it directly from the NuGet package.

![image](https://user-images.githubusercontent.com/303201/56465346-c9a8fd00-644f-11e9-89d4-55ed551a6b15.png)

[2019-04-21 14:58] mavasani commented on #2382
@JamesNK - I see that you are using the ruleset from Microsoft.CodeQuality.Analyzers NuGet package, which only has subset of FxCop rules (CA2208 is implemented in Microsoft.NetCore.Analyzers). I would recommend using the rulesets from Microsoft.CodeAnalysis.FxCopAnalyzers NuGet package, which does include entry for this rule.

[2019-04-21 20:35] JamesNK commented on #2382
Ah ok. I misunderstood the documentation at https://docs.microsoft.com/en-us/visualstudio/code-quality/analyzer-rule-sets?view=vs-2019#use-analyzer-rule-sets

I've submitted a PR to slightly expand the example - https://github.com/MicrosoftDocs/visualstudio-docs/pull/3125

[2019-04-22 00:42] mavasani commented on #2382
Thanks, resolving this as external

[2019-04-22 00:42] #2382 closed

[2019-04-22 15:59] mavasani commented on #2034
Re-opening as the VSIX is not yet published.

[2019-04-22 17:17] ashishakalra opened #2383 "NRE in ReviewCodeForInformationDisclosureVulnerabilities"
Analyzer package: Microsoft.NetCore.Analyzers

Package Version:  v2.9.2

Diagnostic ID:
AD0001	Analyzer 'Microsoft.NetCore.Analyzers.Security.ReviewCodeForInformationDisclosureVulnerabilities' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.

Stack:
Analyzer 'Microsoft.NetCore.Analyzers.Security.ReviewCodeForInformatio

[2019-04-23 00:00] asmichi opened #2386 "ThirdPartyNotices.rtf lacks the license notice for Humanizer"
#### Analyzer package

[Microsoft.CodeQuality.Analyzers](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/)

#### Package Version

v2.9.2

#### Description

[ThirdPartyNotices.rtf](https://github.com/dotnet/roslyn-analyzers/blob/master/assets/ThirdPartyNotices.rtf) lacks [the license notice for Humanizer](https://github.com/Humanizr/Humanizer/blob/master/LICENSE), specifically the pa

[2019-04-23 00:40] dotpaul commented on #2383
Hey @mavasani, not sure if this is same root cause as this issue, but here's one case that fails in ReviewCodeForInformationDisclosureVulnerabilitiesTests.cs:

[code]

[2019-04-23 22:04] shubham26S opened #2409 "Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.NullReferenceException'"
**Version Used**:
2.9.2
**Steps to Reproduce**:

0. Use .Net standard 2.0
1. Inherit IDisposable interface
2. Implement Dispose() and Dispose(Boolean) methods

**Expected Behavior**:
No error
**Actual Behavior**:
Error	AD0001	Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.NullReferenceException' with message 'Object reference not

[2019-04-24 00:14] #2372 closed

[2019-04-24 00:14] #2373 closed

[2019-04-24 00:14] #2374 closed

[2019-04-24 00:14] #2375 closed

[2019-04-24 00:15] #821 closed

[2019-04-24 14:08] CaringDev commented on #2254
This seems to be solved in latest [2.9.2](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.2), suggest to close.

[2019-04-24 15:37] mavasani commented on #2254
Yes, that is correct. Closing...

[2019-04-24 15:37] #2254 closed

[2019-04-24 22:45] scottbommarito opened #2390 "Generic causes CA0052 and CA0055 errors"
I'm working on a project (https://github.com/NuGet/NuGetGallery) and we use `Analyze -> Run Code Analysis` in Visual Studio to analyze our code.

We discovered that, after adding a new file, `Run Code Analysis` began to emit CA0052 and CA0055 errors: https://github.com/NuGet/NuGetGallery/commit/ab20a7ef5fa8612526fbe04338f3e00e240492b6

Upon further investigation, it seems like a generic on one of

[2019-04-24 22:48] mavasani commented on #2390
@scottbommarito Kindly refer to [this](https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-analyzers?view=vs-2019#if-you're-an-fxcop-user...) documentation to migrate from legacy post-build analysis executed by `Analyze -> Run Code Analysis` to FxCop analyzers, which does source based analysis during command line build and typing in VS and also offers code fixes.

[2019-04-24 22:57] scottbommarito commented on #2390
@mavasani - is `Run Code Analysis` no longer being maintained? We would prefer not to migrate to a new static analysis tool because it is a large undertaking for our project.

[2019-04-24 23:00] mavasani commented on #2390
@scottbommarito It is a much lower priority for us, given an alternate and much better analysis model is now available and is fully supported by us. By the way, did you try your original scenario on VS2019 or is it on an earlier version of VS?

[2019-04-25 15:47] scottbommarito commented on #2390
@mavasani - that's fair. We do plan on migrating eventually but we'd like to postpone doing so. The scenario failed in VS2019.

[2019-04-25 19:51] mavasani commented on #2383
@dotpaul Regarding your failing test: I believe the fix needs to go in here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAnalysis.TaintedDataOperationVisitor.cs#L77.

`HasAnyAbstractValue(data)` should be implemented as `return data.HasAnyAbstractValue;` instead of `return this.CurrentAnalysisData.HasAnyAbst

[2019-04-25 19:52] mavasani commented on #2383
@dotpaul I presume the NRE callstack above will be already avoided by your earlier PR: https://github.com/dotnet/roslyn-analyzers/pull/2384. So we probably close this bug once your failing test has been fixed?

[2019-04-25 20:02] dotpaul commented on #2383
Yep, will close if I don't run into any more issues.  Thanks for debugging that!

[2019-04-26 02:01] dotpaul commented on #2383
Hi @ashishakalra, would you mind trying the package at https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19226.1+513b9bc4, and seeing if that resolves the issue, or if you get a different error, please?

[2019-04-26 16:08] jvilimek opened #2392 "CA2000 False Positive on IDisposable return"
#### Analyzer package

Used nuget package: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

Example: [CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

1. Open attached [ConsoleAppTestCa2000.zip](https://gith

[2019-04-26 18:04] Tan90909090 opened #2393 "CA2007 False Negative when a local function is async and an outer method isn't async"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA2007](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2007-do-not-directly-await-task)

#### Repro steps
[code]

#### Expected behavior
CA2007 `Do not directly await a Task without calling ConfigureAw

[2019-04-26 20:41] mavasani commented on #2392
Likely a dupe of https://github.com/dotnet/roslyn-analyzers/issues/2361. Can you please check if the issue repros with our latest package: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19226.1+513b9bc4

[2019-04-26 21:49] ashishakalra commented on #2383
Hi @dotpaul, I am getting these errors now with this new package:

Error	IDE1003	Analyzer assembly 'C:\path\.nuget\packages\microsoft.codequality.analyzers\3.0.0-beta2.19218.6\analyzers\dotnet\cs\Microsoft.CodeQuality.Analyzers.dll' depends on 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' but it was not found. Analyzers may not run correctly unless the missing as

[2019-04-26 23:27] dotpaul commented on #2383
Hey @ashishakalra, from that path it sounds like you have version 3.0.0-beta2.19218.6.  Can you try version 2.9.3-beta1.19226.1?  You can get it from here: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19226.1+513b9bc4

[2019-04-27 00:37] ashishakalra commented on #2383
oops! my bad. Thanks @dotpaul and I can confirm that the issue I reported is fixed with this package you mentioned.
Thanks to you guys for quick turnaround on this.

[2019-04-27 00:41] dotpaul commented on #2383
Thank you @ashishakalra for reporting and testing the beta!

Fixed by #2384 and #2391.

[2019-04-27 00:41] #2383 closed

[2019-04-27 02:44] GitTorre commented on #2368
I am in favor of the wording suggested by @gewarren. "Should" implies that in most cases, it makes sense. Is this actually the case? Does it make sense in most cases?

In general, it would be nice if FxCop analyzers would link to relevant articles to increase understanding and help developers decide what to do based on this knowledge - and in their solution context. Even though, for example, the C

[2019-04-28 20:08] oahrens opened #2394 "Disable CA1305 for Boolean.ToString"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.9.2

#### Diagnostic ID
[CA1305: Specify IFormatProvider](https://docs.microsoft.com/de-de/visualstudio/code-quality/ca1305-specify-iformatprovider?view=vs-2019)

#### Repro steps
Try the following code snippet:

[code]

#### Expected behavior

[2019-04-28 20:51] oahrens opened #2395 "CA1801 reports incorrect results"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1801](https://docs.microsoft.com/de-de/visualstudio/code-quality/ca1801-review-unused-parameters?view=vs-2019)

#### Repro steps
Try the following code snippet:

[code]

#### Expected behavior
`valSTProgName` in `

[2019-04-28 21:03] oahrens opened #2396 "CA1812 fails (VB)"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1812](https://docs.microsoft.com/de-de/visualstudio/code-quality/ca1812-avoid-uninstantiated-internal-classes?view=vs-2019)

#### Repro steps
Try this code snippet:
[code]

#### Expected behavior
The rule is not v

[2019-04-29 07:24] jvilimek commented on #2392
Hi there and thanks for response. With the 2.9.3-beta1-19226 version it is OK. Any idea, when 2.9.3 will be out for public nuget? Or should we use this pre-release version?

[2019-04-29 17:47] IlyaGrebnov opened #2398 "CA2000 DisposeObjectsBeforeLosingScope: InvalidOperationException with message 'Feature 'Flow-Analysis' is disabled.'"
#### Analyzer package

CA2000 Microsoft.NetCore.Analyzers.Runtime.DisposeObjectsBeforeLosingScope

#### Package Version

v2.9.2 (upgrading from 2.6.3)

#### Diagnostic ID

CA2000 Microsoft.NetCore.Analyzers.Runtime.DisposeObjectsBeforeLosingScope

#### Repro steps

N/A

#### Expected behavior

I was able to pin point issue just to this rule. Other rules is working fine. Version of rule from 2.6.3

[2019-04-29 18:21] mavasani commented on #2398
@IlyaGrebnov Are you sure you have version 2.9.2 and not 2.9.1? We explicitly added the `flow-analysis` feature flag in the `.nuget\packages\microsoft.codeanalysis.fxcopanalyzers\2.9.2\build\Microsoft.CodeAnalysis.FxCopAnalyzers.props` file that we drop into the package, and which gets imported in the MSBuild project file. I just verified it has the following property group at the end of the file:

[2019-04-29 18:30] IlyaGrebnov commented on #2398
Yes I am sure. I also tried to add 'flow-analysis' and 'Flow-Analysis' (in case it case sensitive) directly to csprog. No luck. I also notice issue is specific to this rule. If I suppress CA2000 from rules file I see no issues.

[2019-04-29 18:32] mavasani commented on #2398
Seems like something else within your project file (or imported targets/props) is resetting the Features property. Can you perform a diagnostic build (`msbuild.exe /v:diag`) and check the value of the Features property passed to the csc command line?

[2019-04-30 11:32] dacezarina opened #2402 "Microsoft.CodeAnalysis.Metrics for MacOs"
#### Analyzer package

Example: [ Microsoft.CodeAnalysis.Metrics](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Metrics/)

#### Package Version

 v2.9.2

#### Diagnostic ID

Microsoft.CodeAnalysis.Metrics doesn't work on MacOs.

#### Repro steps

1. Add Microsoft.CodeAnalysis.Metrics library to project
2. Open dotnet cli and run command dotnet msbuild  /t:Metrics
3.  At console error is sh

[2019-05-01 13:24] uandrei commented on #2156
Just updated our product on the 2.9.2 of the FxCopAnalyzers and still have this issue

[2019-05-01 19:08] mavasani commented on #2409
@shubham26S Can you please provide repro code from your project?

[2019-05-01 21:13] #2258 closed

[2019-05-02 01:26] jherby2k opened #2412 "False CA2000"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA2000](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Steps to Reproduce

Minimum repro (referencing Microsoft.PowerShell.SDK):

[code]

**Expected Beha

[2019-05-02 01:29] jherby2k opened #2413 "False CA2213"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA2213](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed)

#### Repro steps

I'm getting false positives if an IDisposable field is not disposed, even if the obj

[2019-05-02 09:02] aelij opened #2414 "AD000 Analyzer MarkMembersAsStaticAnalyzer NullReferenceException"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.6.3

#### Error

[code]

I believe it manifested because of this code:

[code]

[2019-05-03 09:37] davkean opened #2416 "CA2000 fires on C# 8.0 using declarations"
#### Analyzer package

#### Package Version

#### Diagnostic ID

CA2000

#### Repro steps

[code]

[code]

[code]

[2019-05-03 13:45] mavasani commented on #2416
@davkean Which analyzer package version are you on? I am unable to repro this with following steps:

1. Create a C# netstandard2.0 classlib
2. Edit the project file to add `<LangVersion>preview</LangVersion>`
3. Add NuGet reference to latest stable version of FxCop analyzers: https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.2
4. Copy paste the following source code into the

[2019-05-03 13:50] mavasani commented on #2416
Kindly reopen if you have a repro on the latest FxCop analyzers package.

[2019-05-03 13:50] #2416 closed

[2019-05-03 13:52] mavasani commented on #2398
@IlyaGrebnov Any luck in trying to get a diagnostic build to figure out what is causing the Features property to get reset for you?

[2019-05-03 14:31] mavasani commented on #2392
@jvilimek Hoping to release it very soon. Just waiting to push some more bug fixes...

[2019-05-03 14:31] #2392 closed

[2019-05-03 15:44] IlyaGrebnov commented on #2398
I was not able to pin point the problem, but we migrated our build system to CBT which resolved this issue. So this is likely something to do with our setup.

[2019-05-03 16:55] mavasani commented on #2409
@shubham26S Ping for a repro...

[2019-05-03 17:01] mavasani commented on #2412
Verified repro on 2.9.2 package, but no repro on latest 2.9.3.x pre-release myget package for sources in master: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19252.1+136aefb3

Fix pending 2.9.3 release, closing.

[2019-05-03 17:01] #2412 closed

[2019-05-03 17:26] mavasani commented on #2413
@jherby2k This is actually by design, and the diagnostic fires for this case in both binary FxCop and the ported rule in FxCop analyzers. The core dispose analysis for both the implementations special cases constructor parameters of below 4 types to have a dispose ownership transfer:

1. System.IO.Stream
2. System.IO.TextReader
3. System.IO.TextWriter
4. System.Resources.IResourceReader

For major

[2019-05-03 17:26] #2413 closed

[2019-05-03 17:31] mavasani commented on #2413
I also filed doc bug https://github.com/MicrosoftDocs/visualstudio-docs/issues/3198 to document this.

[2019-05-03 17:43] mavasani commented on #2379
@JoeRobich Do we have a call stack for the crash? I don't see this failure in your linked test logs.

[2019-05-03 17:48] jherby2k commented on #2413
Okay, but why does CA2213 only fire if the constructed type already implements IDisposable? Remove that from my example and the warning disappears.

[2019-05-03 18:15] mavasani commented on #2413
@jherby2k That is the primary intent of this rule: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed?view=vs-2019#cause

[2019-05-03 18:22] jherby2k commented on #2413
No, that would be the primary intent of a rule titled "Disposable fields should be disposed, unless you don't feel like implementing IDisposable."

Does not trigger CA2213:

[code]

[2019-05-03 18:23] mavasani commented on #2413
What method(s) should be analyzed to expect dispose invocations on the field?

[2019-05-03 18:25] mavasani commented on #2413
Note CA2213 descriptions states: `A type that implements System.IDisposable declares fields that are of types that also implement IDisposable. The Dispose method of the field is not called by the Dispose method of the declaring type.`

[2019-05-03 18:28] jherby2k commented on #2413
Interesting. So this rule by checks for some things that aren't useful and doesn't check for some things that would be useful. By design. OK!

[2019-05-03 19:09] mavasani commented on #2395
@oahrens Can you please provide a _compilable_ minimal repro?

[2019-05-03 19:32] JoeRobich commented on #2379
@mavasani Sorry, I shouldn't have called out the test logs above. The failure occurred during the build itself. Looking at the build.binlog from that build it doesn't seem to provide any additional details.

[2019-05-03 19:45] mavasani commented on #2379
Thanks. I am going to have to resolve this as a no-repro until we can get at least a call stack for the crash.

[2019-05-03 19:45] #2379 closed

[2019-05-03 20:12] mavasani opened #2421 "Unexpected resource strings being passed to the security helper"
See https://github.com/dotnet/roslyn-analyzers/pull/2417#discussion_r280875749

[GetResourceString](https://github.com/dotnet/roslyn-analyzers/blob/020a095feae4881ea5a13f8ed40c56e478f6a67a/src/Microsoft.NetCore.Analyzers/Core/Security/Helpers/SecurityHelpers.cs#L79) helper method is only expecting resource strings from `MicrosoftNetCoreSecurityResources`, but rules deriving from `UseXmlReaderBase`

[2019-05-03 20:17] oahrens commented on #2395
Thanks for your question. Here is a compilable version.

1. Insert this code into a new VB console project:

[code]

2. Add nuget package Microsoft.CodeAnalysis.FxCopAnalyzers v2.9.2

3. Compile for framework 4.7.2

[2019-05-03 21:18] mavasani commented on #2156
@bencyoung @uandrei I am unable to repro the issue for the below test with version 2.9.2 of the analyzer package. CA2235 does not fire for the integer field.

[code]

![repro](https://user-images.githubusercontent.com/10605811/57166197-46bc6680-6dae-11e9-8062-b2ca53dfe1c3.png)

[2019-05-03 21:58] #2191 closed

[2019-05-03 22:13] #2368 closed

[2019-05-03 22:14] #2393 closed

[2019-05-03 22:16] #2414 closed

[2019-05-03 22:36] mavasani commented on #2381
Interesting, this only repros on netcore/netstandard. Same code in a netframework project does not repro.

[2019-05-03 23:37] mavasani commented on #2156
I believe I found a repro: https://github.com/dotnet/roslyn-analyzers/issues/2381#issuecomment-489261148. Also have a PR out to fix it...

[2019-05-05 15:16] Korporal commented on #2034
@mavasani - The only reason he needs is that VS 2019 provides this, offers this as an option - how are we to know that VS 2019 is offering us options that you intend to remove support for??

[2019-05-05 15:20] Korporal opened #2426 "Question: Can I write a roslyn analyzer with VS 2019?"
This is a plain question (not a bug or issue report hence no tech details). I was beginning to read this:

https://www.meziantou.net/2018/12/17/writing-a-roslyn-analyzer

When I discovered that (it seems) VS 2019 has no such template nor could I search for one successfully in the IDE.

Thanks

[2019-05-05 20:34] 333fred commented on #2426
@korporal I believe that the tutorial you linked is missing the crucial step of installing the .NET compiler platform sdk, which is an optional component in the installer. If you look at the image in the article, you'll see that the option to install that component is checked. That should bring in the analyzer templates and the syntax tree visualizer.

[2019-05-06 14:54] Korporal commented on #2426
@333fred - Thanks for pointing this out. However I'm having trouble (I'm no beginner by the way) with the installer. When I originally installed VS 2019 (Enterprise) I checked the box on the left "Visual Studio extension development" but did not check the ".Net Compiler Platform SDL".

Now, when I attempt to select it the checkbox gets checked and the installer summary says 0KB is required. Now in

[2019-05-06 15:55] sinand99 commented on #2034
Waiting for 2 weeks for a simple extension update :(  Is it so hard to update vsixmanifest and reupload ?

[2019-05-06 16:56] mavasani commented on #2034
@sinand99 - Sorry, working through the legal and publisher credentials aspects before pushing out the VSIX. I hope to publish it soon. Also, note that VSIX is still not our primary recommended means to get these analyzers. We strongly recommend using the FxCop analyzers NuGet package instead.

[2019-05-06 17:12] 333fred commented on #2426
@Korporal the dropdowns on the right side of the installer can be opened and closed without having to select and unselect the entire scenario. Alternatively, you could use the `Individual Components` tab, though as that has no search functionality it's painful.

As to the checkbox, I wasn't able to repro that one locally. When I select an individual component such as the SDK, the button on the mod

[2019-05-06 17:18] fforjan commented on #2273
Any update or workaround ?

[2019-05-06 17:43] Grasher134 commented on #2034
People update their VSIX packages with every VS version release. I don't see any problem with you doing the same.

Having FxCop not in Nuget packages is a huge benefit, as it allows individual developer to benefit from it and improve, without interrupting team's work process.

[2019-05-06 18:12] mavasani commented on #2409
@shubham26S I am unable to repro this after trying out different samples for a while. Kindly re-open with a more concrete repro sample if you have one. Thanks!

[2019-05-06 18:12] #2409 closed

[2019-05-06 18:17] mavasani commented on #2395
Thanks @oahrens. This seems to be due to https://github.com/dotnet/roslyn/issues/27564, lack of IOperation support for XML literals is causing the false positives in the IOperation analyzers.

[2019-05-06 18:30] oahrens commented on #2395
Ok, so the problem is known. Thanks a lot @mavasani, I will wait for a solution. Nonetheless, to me it doesn't seem to be a serious bug ;-)

[2019-05-06 19:05] mavasani commented on #2395
@oahrens Thanks. I am going to resolve this as a dupe of the external bug as the fix needs to go into Microsoft.CodeAnalysis (compiler layer), not the analyzer.

[2019-05-06 19:05] #2395 closed

[2019-05-06 22:28] mavasani commented on #2338
@patriksvensson We special case the analyzer to not flag event handler methods that have a special signature:

1. 2 parameters
2. First parameter is of type `object`
3. Second parameter is of type `EventArgs` or is a sub-type of `EventArgs`

It seems that your mentioned signature does not meet the criteria in 3. Did you mean to use [ListViewItemEventArgs](https://docs.microsoft.com/en-us/dotnet/ap

[2019-05-07 07:43] gpetrou commented on #2319
We have the same problem.
@mavasani are you planning to release a new 2.9.x version that includes this fix?

[2019-05-07 15:03] mavasani commented on #2319
@gpetrou Yes, we are planning to release a 2.9.3 build very soon. Just waiting for a bucket of security analyzers to be checked in. Meanwhile, we might push a 2.9.3-beta1 build on nuget.org as there have been quite a few fixes post 2.9.2 which have had more then one customer report.

Also, @appel1 @gpetrou would you be able to verify if the latest myget package which includes the fix for this issu

[2019-05-07 16:08] gpetrou commented on #2319
Hmm, the issue still occurs with 2.9.3-beta1.19257.1+c5bf4e0d
Unfortunately, this is a large commercial solution that I cannot share.
Is there some other information I could provide to you to help isolate the issue?

[2019-05-07 17:15] gpetrou commented on #2319
As with 2.9.2, if I disable interprocedural analysis, it works.

[2019-05-07 19:52] #2156 closed

[2019-05-07 19:52] #2381 closed

[2019-05-08 03:27] Zenexer opened #2440 "CA1707 reported for throwaway underscore identifier"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

2.9.2

#### Diagnostic ID

[CA1707](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1707-identifiers-should-not-contain-underscores?view=vs-2019)

#### Repro steps

[code]

#### Expected behavior

No warning: `_` is a throwaway ide

[2019-05-08 04:38] kinloongTong commented on #793
Should the implementation change the list of a known mutable type, rather obsolete it?

[2019-05-08 15:20] AArnott opened #2445 "CSharpSimplifyTypeNamesDiagnosticAnalyzer throws InvalidCastException"
#### Analyzer package

I think they're built into the compiler?

#### Package Version

Latest VS Int.Preview

#### Diagnostic ID

CSharpSimplifyTypeNamesDiagnosticAnalyzer

#### Repro steps

On a line where not all the symbols are resolved (in this case due to a failed design-time build and assemblies are missing), we see analyzer exceptions, including this one:

#### Actual behavior

[code]

[2019-05-08 15:23] mavasani commented on #2445
@AArnott This analyzer is implemented in the Roslyn repo. Can you please port the issue there?

[2019-05-08 15:29] AArnott commented on #2445
Sure.

[2019-05-08 15:30] AArnott commented on #2445
done. https://github.com/dotnet/roslyn/issues/35583

[2019-05-08 15:30] #2445 closed

[2019-05-09 05:11] Wraiyth commented on #1844
@mavasani I've been looking around for the formatting analyzer on MyGet, any direction for that one? I'm interested in being able to make some custom formatting rules which can be driven by a .editorconfig file and apply as you type.

[2019-05-09 05:33] mavasani commented on #1844
Tagging @sharwell @JoeRobich for questions on dotnet format and the formatting analyzer.

[2019-05-09 19:29] francisminu commented on #2426
I have the same question. I created a couple of analyzers in Visual Studio 2017 as a starter and thought I will migrate to 2019 once I have some samples ready. Now that I am done with the samples, and tried to do the same in VS 2019, I do not see an option as in VS 2017 'Analyzer with code fix' in VS 2019.

Thanks,
Minu

[2019-05-09 20:22] dotpaul commented on #2359
All caught up.  Fixed with #2296, #2427, #2446.

[2019-05-09 20:22] #2359 closed

[2019-05-10 08:22] PDostalek opened #2454 "[loc][Query][roslyn-analyzers] Localizability of "TestExportsShouldNotBeDiscoverableDescription""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Test exports should not be discoverable

File Name:
Roslyn.Diagnostics.Analyzers\Core\xlf\RoslynDiagnosticsAnalyzersResources.xlf

==========================================
Query:
Please explain the meaning of "Test expor

[2019-05-10 08:24] PDostalek opened #2455 "[loc][Query][roslyn-analyzers] Localizability of "ExportedPartsShouldHaveImportingConstructorDescription""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Exported parts should have [ImportingConstructor]

File Name:
Roslyn.Diagnostics.Analyzers\Core\xlf\RoslynDiagnosticsAnalyzersResources.xlf

==========================================
Query:
Are the elements like [Importin

[2019-05-10 12:53] yufeih opened #2456 "Question: Is there a way to disable a rule using .editorconfig"
In ruleset xml, a rule can be disabled using `<Rule Id="CA1032" Action="None" />`, but `.editorconfig` does not seem to have this functionality.

[2019-05-10 12:55] mavasani commented on #2456
This support does not exist as of today, but is coming in very soon. @jinujoseph @jasonmalinowski can provide more details on the timelines.

[2019-05-10 13:14] mavasani commented on #2456
Also tagging @agocke @jaredpar from the compiler team.

[2019-05-10 23:06] mavasani commented on #2454
Tagging @sharwell

[2019-05-10 23:06] mavasani commented on #2455
Tagging @sharwell

[2019-05-10 23:50] dotpaul opened #2457 "Predicate analysis assert on predicate analysis entity being an object and language is C#"
Add this to ReviewCodeForInformationDisclosureVulnerabilitiesTest.cs:

[code]

[2019-05-11 03:41] Tan90909090 opened #2458 "CA1801 is reported in a event-handler method that taking DependencyPropertyChangedEventArgs"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1801](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1801-review-unused-parameters)

#### Repro steps
Create a WPF project, write a following code:
[code]
[code]

#### Expected behavior
CA1801 is not

[2019-05-11 05:26] sharwell commented on #2454
MEF exports defined in test code. These are typically shim implementations of a service used by one or more tests. Since the export doesn't behave the same way as the production code part, it should only impact tests that specifically request it. MEF achieves this using Partnot discoverable attribute.

[2019-05-11 15:52] TKharaishvili commented on #1640
@Therzok @mavasani

What are the initial collections you guys think this should work on?
Array, List, HashSet, Dictionary

Anything else?

[2019-05-12 18:07] sharwell commented on #2455
No, those elements are not localizable.

[2019-05-12 23:20] Therzok commented on #1640
I suppose anything that implements `ICollection<T>` or `IDictionary<TKey, TValue>`?

[2019-05-13 13:46] TKharaishvili commented on #1640
@Therzok sounds like an idea.

[2019-05-13 19:35] JeremyMorton opened #2459 "Between 2.6.4 and 2.9.0-beta1.final, 1 of my test projects goes from a few seconds to build, to over 3 minutes."
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.0-beta1.final)

#### Package Version

v2.9.0-beta1.final

#### Repro steps

1. Reference version 2.6.0 of Microsoft.CodeAnalysis.FxCopAnalyzers
1. Rebuild my solution
1. It takes about 20 seconds
1. Reference version 2.9.0-beta1.final (or later, up to, and includi

[2019-05-13 19:42] mavasani commented on #2459
@JeremyMorton Can you please try using version 2.9.2 of the package?

[2019-05-13 19:43] mavasani commented on #2459
@JeremyMorton Can you also see if this workaround helps: https://github.com/dotnet/roslyn-analyzers/issues/2319#issuecomment-490145658

[2019-05-13 20:42] JeremyMorton commented on #2459
2.9.2 also has the problem.

[2019-05-13 20:49] JeremyMorton commented on #2459
2.9.2 with this line in my solution's `.editorconfig`:
[code]
It still took 3 minutes, 20 seconds to build.

[2019-05-13 20:51] mavasani commented on #2459
Thanks @JeremyMorton - would you be able to provide a performance trace or repro project/solution?

[2019-05-13 21:27] JeremyMorton commented on #2459
With https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19257.1+c5bf4e0d, and this line in my solution's `.editorconfig`:
[code]
VBCSCompiler.exe grew to 31.3 GB Private Bytes, and I killed it after 28 minutes

[2019-05-13 23:23] mavasani commented on #2459
@JeremyMorton If you are unable to provide a repro or a performance trace, then unfortunately, the only way I can assist you is in trying to workaround the issue by disabling the rule that is potentially causing the problem. Can you check if adding a `/nowarn: CA2213` fixes your issue?  If not, can you also try nowarn for following diagnostic IDs: `/nowarn: CA2100, CA2000, CA1303, CA1062, CA1508,

[2019-05-13 23:33] JeremyMorton commented on #2459
I can't really supply a repro; I'll try to get a performance trace. /nowarn: CA2213 on the affected project did make it build quickly again.

[2019-05-13 23:37] mavasani commented on #2459
I suspect adding `dotnet_code_quality.interprocedural_analysis_kind = None` to solution folder .editconfig did not really get respected. I am hoping you followed the steps mentioned [here](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#enabling-editorconfig-based-configuration-for-a-project). I presume you need to use the approach 2. mentioned in that secti

[2019-05-13 23:59] JeremyMorton commented on #2459
I'm trying to get a performance trace, but the vsp it created just shows this:
[code]
profiling:
[code]

Instrumenting was the only profile option that VS gave for csc.exe.

[2019-05-14 00:37] JeremyMorton commented on #2459
I was able to attach to a running csc.exe; here's the top Self CPU %:

Function Name|Total CPU [unit, %]|Self CPU [unit, %]|Module
-------------|-------------------|------------------|------
[External Call] System.Collections.Generic.Dictionary`2[System.__Canon,System.__Canon].FindEntry(System.__Canon)$##6003920|21776 (7.12%)|21415 (7.00%)|mscorlib.ni.dll
Microsoft.CodeAnalysis.FlowAnalysis.DataFl

[2019-05-14 01:04] mavasani commented on #2459
Can you try https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19264.2+53b6de0b? You don’t need any configuration for it.

[2019-05-14 12:47] thorhj commented on #2215
@mavasani
I have tried adding a helper method to a NuGet package using Args.cs.pp file transformation:

[code]

This does not work either; CA1062 is still being reported. Does your explanation above cover this scenario, or should this approach work?

[2019-05-14 13:33] mavasani commented on #2319
@gpetrou Can you try https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19264.2+53b6de0b? You don’t need any configuration for it. Thanks again!

[2019-05-14 16:55] JeremyMorton commented on #2459
That ran for over 30 minutes, VBCSCompiler.exe grew to 31.1 GB of private bytes and made the computer very unresponsive before I killed it.

[2019-05-14 17:26] mavasani commented on #2459
@JeremyMorton Would you be able to send me an email at mavasani@microsoft.com?

[2019-05-14 17:27] 333fred commented on #2426
@francisminu as mentioned, you need to install the `.NET Compiler Platform SDK` component before you will see the templates.

[2019-05-14 17:27] #2426 closed

[2019-05-14 18:24] francisminu commented on #2426
I already installed the .NET Compiler platform SDK in Visual Studio 2019 and it still doesn't show the option to create an Analyzer. But it comes up in 2017.

[2019-05-14 18:43] francisminu commented on #2426
They did not show up as such. i upgraded my VS today to th latest version and then typed Analyzer and it showed up. Not sure why it does not show up under Extensions. Thanks anyways @333fred

[2019-05-14 23:30] wizofaus opened #2465 "CA1801 shouldn't fire for generic functions with inferred-type parameters"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

Functions like the Newtonsoft "DeserializeAnonymousType" must use a generic type paramater that allows the compiler to infer anonymous types (as there's no other way of instantiating a generic function with an anonymous type).  But this parameter by design

[2019-05-14 23:46] mavasani commented on #2457
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/2464

[2019-05-14 23:46] #2457 closed

[2019-05-14 23:48] wizofaus opened #2466 "CA1801 doesn't fire for local functions"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

[code]
Used this as a workaround to the fact that you can't easily call template functions with anonymous types, but as part of doing so noticed that the CA1801 doesn't fire at all for local functions. In this case I wouldn't want it to, but in this case:

[code]

I

[2019-05-15 11:14] PDostalek commented on #2454
Thanks

[2019-05-15 11:14] #2454 closed

[2019-05-15 12:15] PDostalek commented on #2455
Thanks!

[2019-05-15 12:15] #2455 closed

[2019-05-16 10:41] HSyr opened #2486 "Null-Conditional Operator used to call Dispose() causes CA2213"
Although `Dispose `is called (using Null-Conditional Operator) on `MemoryStream` I got warning _CA2213: Disposable fields should be disposed_ after running Code Analysis.

[code]

Version: Visual Studio Community 16.0.4

[2019-05-17 17:41] gewarren opened #2473 "Names for rules show as "Unknown""
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Repro steps

1. Create a new C# .NET Core console app in VS 2019.
1. Drag and drop the MaintainabilityRulesEnabled.ruleset file from C:\Users\you\.nuget\packages\microsoft.codeanalysis.fxcopanalyzers\2.9.2\rulesets to Solution Expl

[2019-05-17 20:32] mavasani commented on #2459
@JeremyMorton We added some performance fixes in the hot code paths that showed up in your trace, as well as an internal repro. Would you be able to try out the latest analyzer package without any configuration: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3-beta1.19267.4+2ef1682b ? Thanks again!

[2019-05-18 00:27] MS-TimothyMothra commented on #1815
Got another one in the same repo.

- CA1063: Implement IDisposable correctly
- CA2213: Disposable Fields Should Be Disposed

The fix for this is to disable the Rule number in your *.ruleset file.

[2019-05-18 17:27] john-h-k opened #2475 "Consider a analyser to make taking value types by value in extension methods explicit"
( cc @CyrusNajmabadi )

Currently, writing
```public void Method(this SomeValueType value)``` does not provide a warning, but takes `SomeValueType` by value rather than reference. Changing the signature from `this` to `ref this` takes it byref. While this can often be the desired behaviour, it is also an easy source for bugs where byref behaviour is expected. I suggest an analyser which warns when

[2019-05-20 12:58] ambujs opened #2476 "AD0001 - Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.InvalidOperationException' with message 'Feature 'Flow-Analysis' is disabled.'.

#### Repro steps

1. VS v15.9

[2019-05-20 13:01] mavasani commented on #2476
@ambujs Can you do a diagnostic/detailed msbuild invocation and check the value of `features` command line argument to csc.exe? I believe your issue is similar to https://github.com/dotnet/roslyn-analyzers/issues/2398, something in your imported props or targets is overwriting the Features property.

[2019-05-20 13:10] ambujs commented on #2476
Here's the csc.exe command being executed:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Roslyn\csc.exe /noconfig /unsafe- /checked- /nowarn:1701,1702,2008 /nostdlib+ /errorreport:prompt /warn:4 /define:TRACE;DEBUG;NETCOREAPP;NETCOREAPP2_2 /errorendlocation /preferreduilang:en-US`

I can also see this in the log:
`/features:IOperation`

[2019-05-20 13:13] mavasani commented on #2476
@ambujs - so seems like something else is overwriting the MSBuild property to `<Features>IOperation</Features>`, ignoring the flow-analysis setting. Can you figure out which task/target is doing so and delete that property setting? IOperation feature is not under the feature flag in 15.9, and hence you do not need to set it.

[2019-05-20 13:15] mavasani commented on #2476
@ambujs - Actually, looking at your command line it seems `/features` is not even being passed to the command line. I would expect `/features:flow-analysis` on the csc command line for it to work properly.

[2019-05-20 13:16] mavasani commented on #2476
Also note that if you can move to VS2019 (RTW or Update1), then you don't even need the feature flag. The package will just work.

[2019-05-20 13:19] ambujs commented on #2476
@mavasani ah yes, you are right! Further down in the csproj file I had this:
`<PropertyGroup>
<CodeAnalysisRuleSet>..\main.ruleset</CodeAnalysisRuleSet>
<Features>IOperation</Features>
<NoWarn></NoWarn>
</PropertyGroup>`

After removing the following line, I can build correctly!
`<Features>IOperation</Features>`

Thanks for your help!

[2019-05-20 13:21] mavasani commented on #2476
Great, thanks!

[2019-05-20 13:21] #2476 closed

[2019-05-20 13:29] mavasani commented on #2319
@gpetrou - were you able to give the new package a try?

We are planning to release version 2.9.3 of the package, but want to make sure that the issue you have reported is fixed by default in the package (does not require any nowarn or editorconfig setting for interprocedural analysis).

Thanks again!

[2019-05-20 18:51] IlyaGrebnov commented on #2398
I have consistent repro with 2.9.2 version of package.

![image](https://user-images.githubusercontent.com/773346/58044751-6a451800-7af5-11e9-8e87-6407444b67de.png)

[2019-05-20 18:56] mavasani commented on #2398
Can you please execute a verbose (`/v:diag`) msbuild invocation and check what target is overwriting the `Features` MSBuild property to clear out the "flow-analysis" value specified in the package.

[2019-05-20 20:37] GitTorre opened #2477 "CA3075 - False Positive: Unsafe overload of 'LoadXml'"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

IDE Source: VS 2019 latest update.

#### Package Version
v2.9.2

#### Diagnostic ID
CA3075

#### Repro steps

var xdoc = new XmlDocument { XmlResolver = null };
xdoc.LoadXml(xmlString);

#### Expected behavior

var xdoc = new XmlDocument { XmlResolver = null };
xdoc

[2019-05-20 21:48] JeremyMorton commented on #2319
Yes, I just tried this, and it seems to have fixed my issue.

[2019-05-20 22:08] mavasani commented on #2319
Awesome, thank you so much @JeremyMorton!

[2019-05-20 22:08] #2319 closed

[2019-05-20 23:37] #2459 closed

[2019-05-20 23:45] gewarren commented on #662
@lgolding @mavasani This rule shows as "Fixed" but I don't see it here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md Should this be "won't fix"?

[2019-05-21 00:02] mavasani commented on #662
@gewarren - Larry added a detailed comment explaining this here: https://github.com/dotnet/roslyn-analyzers/blob/f611403633e62721711bb4c04b699f7c8c75937b/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/StaticHolderTypes.cs#L17. Seems like CA1052 and CA1053 have been combined.

[2019-05-21 04:37] gewarren commented on #539
@mavasani This one, CA2222, looks like it was ported, but I don't see it here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md

[2019-05-21 13:15] mavasani commented on #539
@gewarren - CA2222 was ported but then removed, details in: https://github.com/dotnet/roslyn-analyzers/issues/1378. We should mark it as deprecated with justification from that issue (already covered by existing compiler diagnostic(s).

I will change the label on this issue as well.

[2019-05-21 13:33] pgrawehr opened #2481 "Make CA1305 more intelligent (or fix the API)"
Rule CA1305 prevents that I can use the $-Syntax for string concatenation when I want to use the current culture. There's no `FormattableString.CurrentCulture()` method. In addition, the rule has false positives if the argument type is not language dependent (such as a string).

#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAna

[2019-05-22 12:51] PDostalek opened #2483 "[loc][Query][roslyn-analyzers] Localizability of "DoNotUseWeakKDFAlgorithm""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Do Not Use Weak Key Derivation Function Algorithm

File Name:
Microsoft.NetCore.Analyzers\Core\Security\xlf\SystemSecurityCryptographyResources.xlf

==========================================
Query:
Is it a message calling

[2019-05-22 12:52] PDostalek opened #2484 "[loc][Query][roslyn-analyzers] Localizability of "DoNotUseWeakKDFAlgorithmDescription""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Some implementations of the Rfc2898DeriveBytes class allow for a hashAlgorithm to be specified in the constructor parameter or overwritten in HashAlgorithm property. If this exists, then it should be used with SHA-256 or h

[2019-05-22 12:55] PDostalek opened #2485 "[loc][Query][roslyn-analyzers] Localizability of "DoNotUseWeakKDFAlgorithmMessage""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
{0} created with a weak hash algorithm. Use SHA256, SHA384, or SHA512 to create a strong key from a password

File Name:
Microsoft.NetCore.Analyzers\Core\Security\xlf\SystemSecurityCryptographyResources.xlf

==============

[2019-05-22 15:08] koljada commented on #1048
I have exactly the same issue with version 2.9.2. FXCopAnalyzers packages do not have `developmentDependency="true"` attribute inside `packages.config`(my target framework is `net472`).

[2019-05-22 15:50] mavasani commented on #2485
@dotpaul @LLLXXXCCC for help

[2019-05-22 15:51] mavasani commented on #2483
@dotpaul @LLLXXXCCC for help

[2019-05-22 18:43] dotpaul commented on #2477
```XmlDocument.LoadXml()``` parses DTD, and is vulnerable to XML external entity attacks or can make DOS attacks easier with entity expansion.  So this isn't a false positive, but the message should be clearer, since as @GitTorre points out there are no overloads of LoadXml.

[2019-05-22 19:21] mavasani commented on #2486
@HSyr - Can you please let us know how you are running the analysis? Are you explicitly executing "Run Code Analysis" command in VS or setting "RunCodeAnalysis" MSBuild property to true in your project file? Both of these modes invoke the legacy binary based FxCop, which is on the path to deprecation, and the issue you mention here is a known issue with that tool.

I would instead recommend you mi

[2019-05-22 20:20] dotpaul commented on #2483
The former.

[2019-05-22 20:28] dotpaul commented on #2484
"this" refers to "the constructor parameter or overwritten in HashAlgorithm property", but lemme change the string to be:

Some implementations of the Rfc2898DeriveBytes class allow for a hash algorithm to be specified in a constructor parameter or overwritten in the HashAlgorithm property. If a hash algorithm is specified, then it should be SHA-256 or higher.

[2019-05-22 20:35] dotpaul commented on #2485
{0} will be the name of a type/class, e.g. Rfc2898DeriveBytes.

[2019-05-22 20:41] dotpaul commented on #2484
Updating string in #2487

[2019-05-23 07:35] HSyr commented on #2486
Yes, I did run "Run Code Analysis" from VS. I also installed VSIX analyzers. So I use both, although the former is obsolete.

[2019-05-23 14:29] sharwell opened #2490 "MEF-related code fixes do not support InheritedExportAttribute"
Roslyn doesn't use `InheritedExportAttribute`. The some code fixes for MEF-related analyzers do not work properly with this attribute.

[2019-05-23 19:31] JeremyMorton opened #2491 "Microsoft.CodeAnalysis.CSharp.Symbol.DeriveUseSiteDiagnosticFromType throws an unhandled System.NullReferenceException, crashing dotnet.exe"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.6.3

Earlier, a similar NullReferenceException was thrown when using v2.9.2, but I'm not sure if that was in the same callstack. We had rolled back to 2.6.3 as that had worked for us in the past, but it still occasionally throws.

#### Repro s

[2019-05-23 19:33] mavasani commented on #2491
@jinujoseph Can we port this to Roslyn repo and move to Area-Compilers? The exception callstack is coming from core compiler layer.

[2019-05-24 00:22] 333fred opened #2493 "Roslyn analyzer for comparing symbols"
As part of https://github.com/dotnet/roslyn/issues/35933, symbol equality is going to change to only include things that were in the language in c# 7.3, and we're going to start requiring using explicit comparators when comparing `ITypeSymbol`s. This is going to affect a few different scenarios:

1. Straight comparisons of symbols should use a comparator so that they are explicit about what type o

[2019-05-24 00:40] mavasani commented on #2493
Tagging @sharwell

[2019-05-24 02:24] sharwell commented on #2493
@333fred I implemented RS1024 (Compare symbols correctly) to handle the original comparison rules. We can modify that to handle the new rules as well.

[2019-05-24 10:06] MrMikeJJ opened #2494 "CA1712 - Defaults to error instead of warning"
#### Analyzer package
Microsoft.CodeQuality.Analyzers included from Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version
Example: v2.9.2

#### Diagnostic ID
CA1712
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1712-do-not-prefix-enum-values-with-type-name

#### Repro steps
Choose Ruleset "Microsoft All Rules"
Make the rule fire
Can provide sample code if required

#### Expect

[2019-05-24 10:14] #2494 closed

[2019-05-24 10:24] mavasani commented on #2494
@dotnet/roslyn-analysis I accidentally committed the fix to this bug directly into master when I intended to create a new patch branch and then create a PR from GitHub website. Is there a repo setting that will prevent such accidental commits to master from the GitHub website?

Additionally, please review https://github.com/dotnet/roslyn-analyzers/commit/577e2742e7d1e119d1165a1c4e026f3f9fa37059 wh

[2019-05-24 18:27] 333fred commented on #2493
@ryzngard

[2019-05-24 23:42] jeffschwMSFT opened #2495 "Static constructor initalization order detection"
#### Analyzer package
Based on feedback from a customer (https://developercommunity.visualstudio.com/content/problem/573423/instance-constructor-sometimes-runs-before-static.html)

The following code will use an uninitialized static field due to the order of the static fields AND the circular nature of the class.

public class A
{
    public static readonly A A1 = new A("A1");
    private static r

[2019-05-27 00:31] mclayton7 opened #2496 "Analyzer Request: Property self assignment protection"
I'd like to contribute an analyzer that detects self assignment of properties in classes, where constructor arguments are probably meant to be used instead.

[code]
There's already an example implementation on Stack Overflow (and an explanation on why the compiler allows self assignment with properties): https://stackoverflow.com/questions/35632991/compile-time-detection-of-accidentally-assign-a-c

[2019-05-27 03:24] mavasani commented on #2496
@mclayton7 Thanks, that seems a reasonable analyzer to implement and contribute to this repo (probably under Microsoft.CodeQuality.Analyzers.

I took a quick look at the implementation you cited in stackoverflow, and I would recommend you instead write an IOperation analyzer instead of a syntax node analyzer, which would have better performance characteristics. You would need to register an operat

[2019-05-27 03:25] mavasani commented on #2496
Please target your PR against master branch.

[2019-05-27 07:49] matej-darebnik commented on #2369
Hi, I would just like to add that string.IsNullOrWhiteSpace() produces the same false positive.

[2019-05-27 08:53] dontpanic92 opened #2497 "CA2000 on the `using`s in a catch block"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope?view=vs-2019)

#### Repro steps

[code]

#### Expected behavior

CA2000 doesn't fire

#### Actual behavio

[2019-05-28 20:43] Gav-Brown commented on #2473
Applies to any analyser e.g. StyleCop, ErrorProne.Structs etc.
Applies to Visual Studio 2017 and 2019.
Only the old `Managed Binary Analysis` and `Microsoft.Analyzers.NativeCodeAnalysis` show the names.

[2019-05-28 20:53] Gav-Brown commented on #2473
Reported previously at DotNetAnalyzers/StyleCopAnalyzers#2340 but never fully resolved.

[2019-05-28 22:30] GitTorre commented on #2477
@dotpaul thanks for the clarification. Docs folks are fast! This is the pattern you are looking for:

using System.Xml;

public static void TestMethod(string xml)
{
    XmlDocument doc = new XmlDocument() { XmlResolver = null };
    System.IO.StringReader sreader = new System.IO.StringReader(xml);
    XmlReader reader = XmlReader.Create(sreader, new XmlReaderSettings() { XmlResolver = null });

[2019-05-28 22:35] GitTorre commented on #2477
Moral of the story: Don't use LoadXml. So, why don't we deprecate this method and suggest in the static analysis warning to consider using Load - and LINK to the doc which has the code sample to follow.

[2019-05-29 18:03] #2497 closed

[2019-05-29 19:52] gewarren commented on #2157
@mrlokeshagarwal We have a new page that tracks all the rules that have been ported to FxCop analyzers. SEe https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2019.

[2019-05-29 20:07] gewarren opened #2502 "'Microsoft.NetCore.Analyzers.Data.ReviewSqlQueriesForSecurityVulnerabilities' threw an exception of type 'System.NullReferenceException'"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA2100](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2100-review-sql-queries-for-security-vulnerabilities?view=vs-2019)

#### Repro steps

This is in a .NET Core console app.

I couldn't repro it, bu

[2019-05-29 20:07] gewarren commented on #2502
I can share the project with you if necessary.

[2019-05-29 20:10] mavasani commented on #2502
Thanks, I am going to try and repro it locally, otherwise I can add a defensive check around the code causing NRE.

[2019-05-30 10:05] curtisconner opened #2503 "Errors when using Analyzers with VS2019 for Mac"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v2.9.2
This is what i see in my directory under packages

#### Diagnostic ID

    CSC : warning CA9999: Version mismatch between the analyzer package '2.9.0' and Microsoft.CodeAnalysis '2.8.0.0'. Certain analyzers in this package will n

[2019-05-30 14:27] ggreig opened #2504 "CA1062 false positive when a generic null checker method is used"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.0, v2.9.1, v2.9.2

#### Diagnostic ID

[CA1062: Validate arguments of public methods](https://docs.microsoft.com/en-gb/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods)

#### Repro steps

1. Enable CA1602
2. Analyze th

[2019-05-30 22:15] mavasani commented on #2503
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/2289

[2019-05-30 22:15] #2503 closed

[2019-05-30 22:15] #2289 closed

[2019-05-30 22:59] mclayton7 commented on #2496
@mavasani when you get a chance, could you look at my PR and help get a number assigned to the analyzer? Thanks!

[2019-05-31 13:56] mavasani opened #2506 "NRE in Dispose dataflow operation visitor for erroneous code"
#### Analyzer package

Example: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.2

#### Diagnostic ID

Example: [CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

[code]

#### Actual behavior
`Warning AD0001: Analyzer 'Mi

[2019-05-31 17:02] mavasani commented on #2502
@gewarren Did you hit the NRE while editing code OR the code had some syntax/semantic errors? From the stack and method implementation, it seems like this can occur only for error code. I am trying to get a minimal repro...

[2019-05-31 17:34] #2506 closed

[2019-05-31 18:49] mavasani opened #2508 "Add analyzer for IDE code style analyzers in Roslyn.sln"
IDE code style analyzers have their severity controlled via code style option's notification. We have an internal helper `DiagnosticHelper.Create` in Roslyn.sln that accounts for this severity in the reported diagnostic severity. We should flag all `Diagnostic.Create` invocations in such code style analyzers that use/check code style option.
We already had 2 bugs due to this mistake. See https://g

[2019-05-31 20:33] udlose commented on #1510
Is this still a known problem?  I'm getting CA2235 false positives for string types.  I'm using Microsoft Code Analysis 2019 version 3.0.0.1925803 running in VS 2019 version 16.1.1

[2019-05-31 23:40] gewarren commented on #2502
@mavasani I'm not really sure. I did have CA1801 set to Error instead of Warning and after building, the Error List showed an error for CA1801 for the 'args' parameter of 'main'. I didn't see any other errors though.

[2019-06-05 14:24] mavasani opened #2518 "CA1031 (DoNotCatchGeneralExceptionTypes) flags all catch handlers that use exception type instead of variable"
#### Analyzer package

Latest FxCop analyzers package on myget

#### Diagnostic ID

Example: [CA1716](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1716-identifiers-should-not-match-keywords)

#### Repro steps

[code]

#### Expected behavior
No CA1031

#### Actual behavior

![image](https://user-images.githubusercontent.com/10605811/58963888-d31dc880-8762-11e9-88f3-34f2782d9da4.png)

[2019-06-05 14:24] mavasani commented on #2518
We should also fix the diagnostic to only span the catch header, not the entire catch block.

[2019-06-05 18:10] #2518 closed

[2019-06-05 18:20] mavasani commented on #1810
Won't fixing this until an actual request/scenario arises where we need this.

[2019-06-05 18:20] #1810 closed

[2019-06-05 18:21] mavasani commented on #1809
I am going to close this out, and we can revisit/tune based on any performance feedback.

[2019-06-05 18:21] #1809 closed

[2019-06-06 01:45] MisinformedDNA opened #2522 "Configuration options for CA1724"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.2

#### Diagnostic ID

[CA1724](https://docs.microsoft.com/visualstudio/code-quality/ca1724-type-names-should-not-match-namespaces)

#### Issue

This was once defined (and still is [here](https://github.com/dotnet/roslyn-analyzers/blob/mas

[2019-06-06 09:00] PDostalek commented on #2483
Thanks for confirmation

[2019-06-06 09:00] #2483 closed

[2019-06-06 09:09] PDostalek commented on #2484
Many thanks

[2019-06-06 09:09] #2484 closed

[2019-06-06 09:13] PDostalek commented on #2485
Thanks

[2019-06-06 09:13] #2485 closed

[2019-06-06 22:57] JuanZamudioGBM opened #2525 "CA1062 firing when the validation is in another method even with ValidatedNotNull attribute"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.3 (Latest)

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods?view=vs-2019)

#### Repro steps
I have a public method where I validate the parameter

[2019-06-06 22:59] mavasani commented on #2525
@JuanZamudioGBM Are you suggesting the issue does not occur on 2.9.2 release but repros on 2.9.3?

[2019-06-06 23:02] JuanZamudioGBM commented on #2525
@mavasani yes, 2.9.2 does not fire the warning, in 2.9.3 does, I edited the post to delete again because i mean that in FXCop happened, with the analyzers this is the first time that the warning fires for me.

[2019-06-06 23:32] nnpcYvIVl opened #2526 "CA1062 False Positive"
The following code sample throws CA1062 even though list is checked with a null conditional operator. Is this a false positive?

[code]

I'm using VS 16.1.2 and Microsoft Code Analysis 2019 3.0.0 VSIX.

[2019-06-07 12:49] Kir-Antipov opened #2527 "[Proposal] Compiler warnings with unobvious assignment"
`C#` is a beautiful and flexible language that will not allow a beginner to *"shoot off his leg"*... or it will?

-----------

## Issue

Let's imagine that we have the following class:

[code]

Then we want to do something like this:

[code]

What we'll see in the console's output?
Most of you're now thinking something like this:

And I have some bad news for you, cause it's `false` :D
If you're s

[2019-06-07 13:07] maxkoshevoi commented on #2527
Here is another code snippet that demonstrates this issue:

![Annotation 2019-06-07 153053](https://user-images.githubusercontent.com/6609929/59105406-84c42180-893c-11e9-8d08-c97d3ab77559.png)

Its also worth mentioning that Visual Studio aware of the difference between `first = second; first.Next = first;` and `first.Next = first = second;`. In the `TestOne` method it states that initial value in

[2019-06-07 13:57] oahrens opened #2528 "CA1062 false positive in case of ParamArray (VB.net)"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/de-de/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods?view=vs-2019)

#### Repro steps

1. Copy the following example into a new VB project:

[code]

2. Instal

[2019-06-07 14:56] robsonj opened #2529 "[Csc] CSC " + error.Message);"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3 (Latest)

#### Repro steps

Hard to pinpoint that cause. During compilation an error is logged when running under teamcity...

[Csc] CSC " + error.Message);

Thats all the info I see, and it only affects a couple of our projects. Reverti

[2019-06-07 15:01] mavasani commented on #2529
@robsonj Can you please provide more details about what is the issue and repro steps? Current information is not actionable on our end.

[2019-06-07 15:08] robsonj commented on #2529
I wish I could, this is all I see in the build log file from TC...

``
...`
[09:26:16]W:																 [Csc] Triggers\HolidayCalendarTrigger.cs(269, 30): warning CA1825: Avoid unnecessary zero-length array allocations.  Use Array.Empty<ICalendarEvent>() instead.
[09:26:16]W:																 [Csc] Triggers\HolidayCalendarTrigger.cs(261, 13): warning CA1031: Modify 'GetCurrentPublication' to catch

[2019-06-07 15:12] robsonj commented on #2529
Does that help any ?

[2019-06-07 15:47] mavasani commented on #2529
Doesn't really help unless you can provide small code snippet where the violation is flagged and we can determine it is a false positive or a real violation.

[2019-06-07 15:50] robsonj commented on #2529
Its not the violation thats the issue, its the line...

`[09:26:16]E: [Csc] CSC " + error.Message);`

There is no other info though

[2019-06-07 15:51] mavasani commented on #2529
@robsonj Ah - I get it now. I know what needs to be fixed. Thanks!

[2019-06-07 16:02] robsonj commented on #2529
Thank you, sorry I wasn't clearer, thanks for the help

[2019-06-07 16:41] slubowsky opened #2530 "FxCopAnalyzers v2.9.3 - Unable to disable rule enforcement with ruleset file"
#### Analyzer package

 [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

CA1062
CA1303

#### Repro steps

1. Update from v.2.9.2

#### Expected behavior
No errors - or if new ones found due to version update enforcing new rules, I should be able to turn off with settings in a ruleset fil

[2019-06-08 09:15] ArturDorochowicz commented on #2530
Similar thing here. My code base clearly violates both CA1062 and CA1303, but these were not reported with analyzers <=2.9.2 (using default rule settings). Version 2.9.3 reports these violations. I have not yet checked if I'm not able to disable them as the OP says.

Is it possible that 2.9.3 (at least NuGet version) inadvertently enabled these rules by default, whereas they had been disabled earl

[2019-06-08 09:40] zmanbb opened #2532 "CA2213 false positive in 2.9.3"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3 (Latest)

#### Diagnostic ID

[CA2213](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed)

#### Repro steps

I am getting false positives on fields that cannot be disposed because thei

[2019-06-08 13:41] #2529 closed

[2019-06-09 04:21] flcdrg commented on #2200
This has broken the usage of Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0-beta2 (which the the support version of analyzers for VS 2015).

Now, adding this to a 2015 project results in version 2.6.4 of Text.Analyzers being imported, which then fails as this newer version is not compatible with 2015.

[2019-06-10 15:48] JoeRobich commented on #2200
Hi @flcdrg,

Sorry for causing you trouble. I have relisted the 2.6.0-beta2 Text.Analyzers package, but it may take a little time to propagate. Please let us know if it gives you anymore problems.

-Joey

[2019-06-10 21:22] DeveloperScottW opened #2535 "Building projects with roslyn fxcop analysers nuget dependency never completes"
We modified a solution so that projects use the fxcop nuget dependency for code analysis, rather than the deprecated implementation. Local builds in VS2019 complete in seconds, but the build task in azure never finishes and instead times out after an hour.

I deploy a private agent in your local machine, check whether the project could build in the private agent, and it almost burned up my laptop.

[2019-06-10 21:50] mavasani commented on #2535
@DeveloperScottW Would you be able to try out package 2.9.3, which has bunch of performance fixes for the analyzers on top of 2.9.2. If you can still repro the issue, can you please a performance trace/repro project for investigation? Thanks!

[2019-06-11 14:17] paulomorgado opened #2537 "Broken link for CA1066"
The link for CA1066 http://go.microsoft.com/fwlink/?LinkId=734907 on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md redirects to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/docs/reference/CA1066_ImplementIEquatableOfTWhenOverridingObjectEquals.md which d

[2019-06-11 14:18] paulomorgado opened #2538 "Broken link for CA1067"
The link for CA1067 http://go.microsoft.com/fwlink/?LinkId=734909 on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md redirects to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/docs/reference/CA1067_OverrideObjectEqualsWhenImplementingIEquatableOfT.md which

[2019-06-11 14:21] paulomorgado opened #2539 "Missing link for CA1068"
The link for CA1068 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:23] paulomorgado opened #2540 "Missing link for CA1200"
The link for CA1200 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:24] sharwell commented on #2535
@DeveloperScottW if the performance problems continue, please submit a performance trace following the steps described at https://aka.ms/reportPerf.

[2019-06-11 14:26] paulomorgado opened #2541 "Self link on CA1507"
The link for CA1507 on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md and https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Microsoft.CodeQuality.Analyzers.md#maintainability is point to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.

[2019-06-11 14:32] paulomorgado opened #2542 "Missing link for CA1508"
The link for CA1508 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:34] paulomorgado opened #2543 "Missing link for CA1509"
The link for CA1509 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:36] paulomorgado opened #2544 "Missing link for CA1825"
The link for CA1825 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:37] paulomorgado opened #2545 "Missing link for CA1826"
The link for CA1826 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:39] paulomorgado opened #2546 "Missing link for CA2007"
The link for CA1200 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status points to https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2007-do-not-directly-await-task

[2019-06-11 14:41] paulomorgado opened #2547 "Missing link for CA2008"
The link for CA2008 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:41] paulomorgado opened #2548 "Missing link for CA2009"
The link for CA2009 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:44] paulomorgado opened #2549 "Missing link for CA2010"
The link for CA2010 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:45] paulomorgado opened #2550 "Missing link for CA2244"
The link for CA2244 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 14:47] paulomorgado opened #2551 "Missing link for CA3061"
The link for CA3061 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:01] dkalbertson commented on #2268
I'm seeing the same issue in 2.9.3

[2019-06-11 15:09] paulomorgado opened #2552 "Missing link for CA5358"
The link for CA5358 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:10] paulomorgado opened #2553 "Missing link for CA5359"
The link for CA5359 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:10] paulomorgado opened #2554 "Missing link for CA5360"
The link for CA5360 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:11] paulomorgado opened #2555 "Missing link for CA5361"
The link for CA5361 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:12] paulomorgado opened #2556 "Missing link for CA5362"
The link for CA5362 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:12] paulomorgado opened #2557 "Missing link for CA5363"
The link for CA5363 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:12] paulomorgado opened #2558 "Missing link for CA5364"
The link for CA5364 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:13] paulomorgado opened #2559 "Missing link for CA5365"
The link for CA5365 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:14] paulomorgado opened #2560 "Missing link for CA5366"
The link for CA5366 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:14] paulomorgado opened #2561 "Missing link for CA5367"
The link for CA5367 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:15] paulomorgado opened #2562 "Missing link for CA5368"
The link for CA5368 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:15] paulomorgado opened #2563 "Missing link for CA5369"
The link for CA5369 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:15] paulomorgado opened #2564 "Missing link for CA5370"
The link for CA5370 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:16] paulomorgado opened #2565 "Missing link for CA5371"
The link for CA5371 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:17] paulomorgado opened #2566 "Missing link for CA5372"
The link for CA5372 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:17] paulomorgado opened #2567 "Missing link for CA5373"
The link for CA5373 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:18] paulomorgado opened #2568 "Missing link for CA5374"
The link for CA5374 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:20] paulomorgado opened #2569 "Missing link for CA5375"
The link for CA5375 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:20] paulomorgado opened #2570 "Missing link for CA5376"
The link for CA5376 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:20] paulomorgado opened #2571 "Missing link for CA5377"
The link for CA5377 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:21] paulomorgado opened #2572 "Missing link for CA5378"
The link for CA5378 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:21] paulomorgado opened #2573 "Missing link for CA5379"
The link for CA5379 is missing on https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md.

The link is also missing from https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status

[2019-06-11 15:40] mavasani commented on #2268
@Andrew-Webb @dkalbertson I am unable to repro this issue with 2.9.3:

1. Create a C# .NetStandard library with following source code:
[code]
2. Add NuGet package reference: https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3
3. Build project and verify no CA1031
4. Comment out the line `throw CreateException(ex);` and verify CA1031 is raised.
5. Use the suppression code fix

[2019-06-11 15:51] dkalbertson commented on #2268
@Andrew-Webb @mavasani After digging in, it appears my issue was due to the offending method returning a ValueTuple and it was not added to the global suppression file properly (the return type was left as "~System."

[2019-06-11 15:53] mavasani commented on #2268
@dkalbertson Thanks.

I think @Andrew-Webb issue is a dupe of https://github.com/dotnet/roslyn-analyzers/issues/2278, which was fixed in 2.9.3. I am going to resolve this bug as a duplicate. Please re-open if you still see it.

[2019-06-11 15:53] #2268 closed

[2019-06-11 17:28] dkalbertson opened #2574 "CA1303 causes project build failure if the offending string literal contains new line characters"
#### Analyzer package

 [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

[CA1303](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1303-do-not-pass-literals-as-localized-parameters)

#### Repro steps

1. In a C# project, with any method that takes a string as a parameter: (i.

[2019-06-11 20:22] carlreinke commented on #1775
Using version 2.9.3, I am still able to reproduce this issue.

[code]

`Field F is a member of type C which is serializable but is of type string which is not serializable`

[2019-06-12 09:09] zplan commented on #2530
Same here.
Additionally the rule CA2000 is reported since version 2.9.3 but not with <=2.9.2

[2019-06-12 09:23] cordasfilip commented on #2526
This one also gives a positive
[code]

[2019-06-12 09:52] paulomorgado commented on #372
This would trigger on `Dictionary<string, List<string>>`, for example.

Is that really bad?

[2019-06-12 12:08] mavasani commented on #2530
Couple of things:
1. The CA rules mentioned here are newly implemented rules, so it is expected to see the violations from these rules by default in 2.9.3 package. @ArturDorochowicz @zplan Note that it is expected that every analyzer package (not just the ones from this repo) will enable new rules by default with every new package version - this is the key to improved discoverability of new analys

[2019-06-12 13:48] slubowsky commented on #2530
I was on 16.2.0 Preview 1.0 and reopening the solution after editing the ruleset file did fix the problem. Thanks!

[2019-06-12 13:48] #2530 closed

[2019-06-12 17:20] ArturDorochowicz commented on #2530
@mavasani While I appreciate that each version of an analyzer package can have different default configuration, let me suggest that in this particular case it was surprising, given the fact that it was just a _patch_ update and there's no mention of this on the release page. Please consider documenting these modifications on the release page or somewhere else.

[2019-06-12 17:24] mavasani commented on #2530
Thanks, this is good feedback. We will ensure the release page mentions new rules shipped with each release.

[2019-06-12 19:17] DeveloperScottW commented on #2535
Thank you Sam and Manish,

I upgraded the package to 2.9.3, and found that the local build pined my
cpu without going through Azure-DevOps build agent.
It appears to be the same issue.

At this point, we have uninstalled
the Microsoft.CodeAnalysis.FxCopAnalyzers, and the build succeeds without
issue.
One consideration is, that our project has 7500 warning that are flagged
and need to be addressed.

[2019-06-12 19:34] mavasani commented on #2535
cpu without going through Azure-DevOps build agent.
It appears to be the same issue.

Would you be able to provide a performance trace following the steps Sam mentioned above?

[2019-06-12 19:40] Gav-Brown commented on #2574
It looks like v2.9.3 (VS 2019) enables the old `Managed Binary Analysis` (FXCop) rules even though `RunCodeAnalysis` is `false` in the .csproj file and all the rules are disabled.

[2019-06-12 19:42] Gav-Brown commented on #2532
It looks like v2.9.3 (VS 2019) enables the old `Managed Binary Analysis` (FXCop) rules even though `RunCodeAnalysis` is `false` in the .csproj file and all the rules are disabled.

[2019-06-12 19:42] Gav-Brown commented on #2528
It looks like v2.9.3 (VS 2019) enables the old `Managed Binary Analysis` (FXCop) rules even though `RunCodeAnalysis` is `false` in the .csproj file and all the rules are disabled.

[2019-06-12 19:46] mavasani commented on #2528
@oahrens This seems like a valid bug that we will fix.
@Gav-Brown Can you please provide a repro? 2.9.3 analyzer package contains new rules (CA1062 being one of them) which are enabled by default. If you have an explicit ruleset entry disabling CA1062, the rule should not fire.

[2019-06-12 19:48] Gav-Brown commented on #2528
@mavasani Thanks. I assumed it was the old FXCop rules as the .ruleset in Visual Studio didn't show any new rules. I suspect the ruleset editor has a bug...

[2019-06-12 19:48] mavasani commented on #2574
@dkalbertson Looks like a valid bug report for a new rule added in 2.9.3 package
@Gav-Brown - I am not sure I understand your claim, kindly clarify.

[2019-06-12 19:49] mavasani commented on #2528
Ah, that is likely. Thanks for the clarification.

[2019-06-12 19:49] Gav-Brown commented on #2574
@mavasani Thanks. I assumed it was the old FXCop rules as the .ruleset in Visual Studio didn't show any new rules. I suspect the ruleset editor has a bug...

[2019-06-12 19:50] Gav-Brown commented on #2532
Ignore. I assumed it was the old FXCop rules as the .ruleset in Visual Studio didn't show any new rules. I suspect the ruleset editor has a bug...

[2019-06-12 20:50] DeveloperScottW commented on #2535
We have parked this issue for now.  If I have bandwidth I will try to
provide a performance trace.

On Wed, Jun 12, 2019 at 1:34 PM Manish Vasani <notifications@github.com>
wrote:

[2019-06-12 22:09] gradyal opened #2576 "Very slow build with Winforms project"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version

v2.9.3 (Latest)

#### Diagnostic ID

N/A

#### Repro steps

1. Setup Winforms project
2. Install Microsoft.CodeAnalysis.FxCopAnalyzers
3. Build solution

#### Expected behavior
Build should be fast

#### Actual behavior
Build is very slow

#### Additional context:
I went to the Microsoft Build conference in May and

[2019-06-12 22:11] sharwell commented on #2576
@gradyal Can you point me at a branch that contains the enabled analyzers so I can profile it?

[2019-06-12 22:11] dkalbertson commented on #2574
@mavasani I've created a pull request that contains a fix for this. The string literal now get sanitized by replacing any newline characters with a space.

[2019-06-12 22:28] gradyal commented on #2576
@sharwell Unfortunately the repository is private. Would it help for me to setup a public repo for the newer project I mentioned above?

[2019-06-12 22:32] sharwell commented on #2576
@gradyal Sorry for the confusion; I was thinking you were talking about the [dotnet/winforms](https://github.com/dotnet/winforms) project. For your case, if you could follow the steps in https://aka.ms/reportPerf it would be a big help. Then put a link to the developer community issue here and I can review it. It will probably be sufficient to send a recording of just the "after" case. If the answ

[2019-06-12 22:33] mavasani commented on #2574
@dkalbertson Thank you for your contribution! I have merged the PR.

[2019-06-12 22:33] #2574 closed

[2019-06-12 22:42] gradyal commented on #2576
@sharwell Sure, I'll give that a shot

[2019-06-12 22:59] gradyal commented on #2576
@sharwell Just submitted. Here's the link: https://developercommunity.visualstudio.com/content/problem/605246/very-slow-build-with-winforms-project-and-fxcop-an.html

[2019-06-12 23:32] mavasani opened #2577 "Package localized satellite resource assemblies in analyzer NuGet packages"
Seems like we are producing satellite resource assemblies during build, but not including them in the NuGet package.

![NonLocalizedResources](https://user-images.githubusercontent.com/10605811/59393277-bc154280-8d2f-11e9-9b59-e9b2f984c98e.png)

@tmat @genlu - is there an easy way to specify this in arcade? Or would I need to explicitly fix the build scripts in the repo?

[2019-06-12 23:33] dkalbertson commented on #2574
Great! Thank You!

[2019-06-12 23:49] tmat commented on #2577
Aren't we using custom nuspec generator for analyzer packages? That will need to be updated to include the resource assemblies.

Perhaps we should also consider removing the custom nusepc generation and build the packages using standard NuGet targets like we now do in Roslyn CodeStyle projects:
https://github.com/dotnet/roslyn/blob/master/src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CShar

[2019-06-12 23:51] tmat commented on #2577
Now that I'm looking at the Roslyn CodeStyle projects, they can also use some cleanup.

Since analyzers do not multi-target we don't need to use [`TfmSpecificPackageFile`](https://github.com/dotnet/roslyn/blob/master/src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj#L34) item group, and instead just set `<None Include="..." Pack="true"/>`

[2019-06-13 02:29] sharwell commented on #2576
@gradyal Can you try disabling CA3075 and CA1062? They are the two slowest rules and may get you close enough to move forward with the rest.

[2019-06-13 06:35] zplan commented on #2530
Thanks, I was also not expecting new rules for a minor version update/patch and no info in the release notes.

[2019-06-13 09:30] zplan opened #2578 "CA1062 False Positive with own Guard"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version

v2.9.3

#### Diagnostic ID

Example: [CA1062: Validate arguments of public methods](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods?view=vs-2019)

#### Repro steps

I have a self implemented Guard in another assembly but the rule ignores the Guard check.

[code

[2019-06-13 13:46] mavasani opened #2579 "Convert CompilationEnd analyzers to SymbolStart/SymbolEnd analyzers"
We should attempt to minimize the use of compilation end API - majority of these can be converted into SymbolStart/SymbolEnd analyzers, this new analyzer API is available on Microsoft.CodeAnalysis 3.0.0. This will enable us to convert these into build + intellisense analyzers, instead of them being build-only analyzers.

[2019-06-13 13:51] gradyal commented on #2576
@sharwell Wow! That helped quite a bit. Brought the Winforms project build time down to about 10 seconds. Thank you!

[2019-06-13 13:58] mavasani commented on #2576
I will investigate the root cause of the performance issue in CA3075 and CA1062 - it is likely due to interprocedural analysis.

[2019-06-13 14:02] sharwell commented on #2576
@mavasani Note that CA3075 is 4-5x slower than CA1062, and is *by far* the slowest rule in this repository. The second slowest item at about half the cost of CA3075 was the monitor contention for rules that aren't setting EnableConcurrentExecution.

[2019-06-13 14:06] mavasani commented on #2576
Thanks @sharwell. Tagging @dotpaul as the owner of CA3075. I believe the root cause is https://github.com/dotnet/roslyn-analyzers/issues/2103.

[2019-06-13 14:08] mavasani commented on #2103
@dotpaul - CA3075 let me know if you will be able to get to this soon. Otherwise, I can take this up to address the performance concern.

[2019-06-13 14:15] mavasani commented on #2103
Seems like CA3075 is doing extremely large number of invocations of `context.Compilation.GetSemanticModel`, `GetSymbolInfo` and `GetDeclaredOrReferencedSymbol` helper. All of these have extremely bad performance implications.

1. https://github.com/dotnet/roslyn-analyzers/blob/b5c77c05d0629e20dfe85fdf534e4196e14cb455/src/Microsoft.NetFramework.Analyzers/Core/DoNotUseInsecureDtdProcessing.cs#L280-L

[2019-06-13 16:35] josh-degraw opened #2580 "Analyzers via attributes?"
#### Analyzer package

[Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)
and/or
[Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers)

I've searched around a little but haven't seen anything addressing this so far. I've used ReSharper which has gotten me used to some

[2019-06-13 16:51] mavasani commented on #2580
The core purpose of public API analyzers is to track the entire shipping public API surface of an assembly in a single place. This enables easy code reviews when one needs to look at a single file diffs to guage the public API changes in a PR. Additionally, one can look at the history of that file to see how the public API surface has evolved over time. Use of attribute based approach doesn't real

[2019-06-13 18:50] dkalbertson commented on #2532
I looked into fixing this. However, I'm curious about the use case here. In this case, you're initializing a class level instance reference field with a static resource. You could declare it as a static readonly Image (or use the resource directly rather than caching the reference to it) to avoid the rule violation.

`public class MyObject { private static readonly Image image = Resources.time_fra

[2019-06-13 18:59] mavasani commented on #2532
Agree with @dkalbertson. Another option is to define it as an auto-property `private Image Image => Resources.time_frame_24;`. A private instance field generally indicates ownership of the instance assigned to it is with the containing type's runtime instance.

[2019-06-14 00:35] josh-degraw commented on #2580
I totally get that use case, and that makes a lot of sense. I think my main concern is that it's just a lot of manual work to set up for a large existing project, and the documentation is quite vague as to how exactly to do that (assuming I'm looking in the right place).

If an attribute-based approach is out of the question, I would think that some sort of build tool/script could be useful at lea

[2019-06-14 01:22] dkalbertson commented on #2578
@zplan this seems to be a duplicate to #2215. See @mavasani's comment. It's due to your guard being defined in another assembly and is by design. If the guard was defined in the same assembly, it would not detect a violation.

[2019-06-14 02:33] dotpaul commented on #2103
@mavasani If you have easy fixes for CA3075, go for it.  I'll try to get around to rewriting the XML rules after Json.NET rules (should have everything I want from PropertySetAnalysis by then).

[2019-06-14 03:35] drewnoakes commented on #2580
@josh-degraw the analyzer keeps the `txt` file up to date for you so you don't have to edit it manually.

Steps to get this set up are:

1. Add a package reference to `Microsoft.CodeAnalysis.PublicApiAnalyzers`
1. Create files `PublicAPI.Shipped.txt` and `PublicAPI.Unshipped.txt` in your project
1. Set those text file build actions to "C# analyzer additional file" (i.e. `<AdditionalFiles>` in `csp

[2019-06-14 04:15] petedavis commented on #1815
This might seem silly, but found one cause of this.

Someone had removed the need for dispose after removing a member variable, then resharper said that this method should be made static as it doesnt access any member variables.

Then we had the null reference exception thrown on the build server.

This was the offending code:
[code]

[2019-06-14 06:42] smaillet commented on #2525
Same here, I've reverted to 2.9.2 because of this regression in 2.9.3.

[2019-06-14 10:29] KrisVandermotten opened #2581 "False positive in CA1307 for string.IndexOf(char)"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Package Version

v2.9.3

#### Diagnostic ID

[CA1307](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1307-specify-stringcomparison): Specify StringComparison

#### Repro steps

Compile the following code against .NET Core 2.2:

    class C
    {
        int M(string s) => s.IndexOf('?');
    }

#### Expected behavior

[2019-06-14 11:02] KrisVandermotten commented on #2581
The same is true for `string.Contains(char)`.

[2019-06-14 11:29] LordBenjamin commented on #2578
This design reduces the value of `CA1062` IMHO. It is a backward step from the previous managed binary analysis implementation which could detect guard code across assemblies.

We have guard code implemented in a common assembly which is shared across many applications - is the current recommendation to duplicate this into every assembly?

Changing all our code to comply with the new `CA1062` woul

[2019-06-14 13:08] mavasani commented on #2578
This is not true. I just verified the behavior of binary FxCop with the following 2 source files across different projects:

File1.cs in Project1.csproj:
[code]

File2.cs in Project2.csproj, where Project2 has a P2P reference to Project1
[code]

Binary FxCop flags CA1062 for both the above `c.ToString()` invocations, the first one is false positive, but it does not do analysis across assemblies:
[

[2019-06-14 13:33] RobSiklos commented on #2369
@mavasani Any update on this? It's blocking us from switching from legacy FxCop to the Roslyn analyzers.

[2019-06-14 13:34] mavasani commented on #2369
I am going to look at all CA1062 false positives today.

[2019-06-14 13:36] dkalbertson commented on #2578
@mavasani I believe what he's referring to is that the old Binary FxCop special cased ValidatedNotNullAttribute and would not specify a violation in that case.

[2019-06-14 13:47] mavasani commented on #2578
@dkalbertson Ah thanks - I got confused between this issue and  #2215

I will fix both the issues - handle the special attributes that binary FxCop used to detect + allow specifying validation helper signatures via editorconfig options.

[2019-06-14 13:52] LordBenjamin commented on #2578
That sounds like a fair solution to me. Thanks!

[2019-06-14 14:11] dkalbertson commented on #2578
IMHO I'm not a huge fan of the special attribute. As I understand it, the implementation from the old binary FxCop was that it would respect any custom attribute with the name"ValidatedNotNull" in it, which makes the analysis "stringly-typed" rather than strongly typed. However, I understand the desire for backwards compatibility.

[2019-06-14 14:26] RobSiklos opened #2582 "CA1062 False Positive when null coalescing operator used with String.Empty"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

[CA1062: Validate arguments of public methods](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods)

#### Repro steps

1. Enable CA1062
2. Analyze the following code

[2019-06-14 14:52] zmanbb commented on #2532
@dkalbertson:

If you see my sample, the field is already declared as static readonly and it still generates the violation.

The reason for caching the reference is the resource is used on more than one occasion and caching it in as class level reference simplifies the possible change of the resource.

As this kind of usage is clearly not direct violation of the rule, it should be at least describ

[2019-06-14 14:58] sharwell commented on #2532
You have it declared as `readonly`, but you haven't declared it `static`. This is the problem.

[2019-06-14 15:08] zmanbb commented on #2532
Yikes, I should put my good glasses on... I totally overlooked the missing `static` modifier.

What do you propose for the final solution? I have to upgrade a larger solution and I don't want to do all the fixing twice.

[2019-06-14 15:40] josh-degraw commented on #2580
@drewnoakes Thanks a lot for that clarification! That makes a lot more sense. Haha my main concern was having to manually update the file by hand, but it looks like this should do that just fine-- it might be good to make that aspect a little more clear in the docs, perhaps, or maybe I'm just blind and misunderstood lol. I definitely like the idea of the analyzer being able to do steps 2 and 3 abo

[2019-06-14 15:40] #2580 closed

[2019-06-14 15:53] RobSiklos opened #2583 "CA2000 False Positive (regression) when method returns IDisposable result returned by another method"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

[CA2000: Dispose objects before losing scope](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope)

#### Repro steps

1. Analyze the code below:

[code]

#### Expecte

[2019-06-15 03:09] #2369 closed

[2019-06-15 03:09] #2504 closed

[2019-06-15 03:09] #2525 closed

[2019-06-15 03:09] #2528 closed

[2019-06-15 03:09] #2582 closed

[2019-06-15 10:14] drewnoakes commented on #2578
Worth noting here that the nullable reference type work specified some compiler services attributes for marking this kind of validation.

https://github.com/dotnet/csharplang/wiki/Nullable-Reference-Types-Preview#annotation-attributes

It'd be worth reusing those, or at least supporting them too.

[2019-06-15 11:15] calumsult commented on #2369
Thanks for fixing this!

[2019-06-15 18:18] jnm2 opened #2586 "CA1062 false positive when switching on (obj?.Property)"
@mavasani Is there a way to find out if https://github.com/dotnet/roslyn-analyzers/pull/2584 already fixes this?

No diagnostic should be reported in this method:

[code]

#### Analyzer package
https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/

#### Package Version

2.9.3

#### Diagnostic ID

https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-publ

[2019-06-15 19:32] jnm2 commented on #2586
I'm also getting this from `dotnet build` using SDK 3.0.100-preview3-010431 at the same source location:

Maybe this is a Roslyn bug.

[2019-06-15 19:34] jnm2 commented on #2586
Perhaps this is a manifestation of https://github.com/dotnet/roslyn/issues/35668?

[2019-06-15 20:31] mavasani commented on #2586
No this is a separate bug which manifests in presence of conditional access inside a conditional. I am trying to fix this one now.

[2019-06-16 06:39] samcragg commented on #1919
I'n getting this error too with Microsoft.CodeAnalysis.FxCopAnalyzers (version 2.9.3) against a .NET Core 2.1 console app with Visual Studio 2019 (16.1.3) - I was able to narrow it down to the following usage (note the generic parameter and the virtual method calling the base class - this seemed to be the combination that triggered it).

Here's the stack trace reported by Visual Studio:

[code]

T

[2019-06-16 12:32] Gav-Brown commented on #2473
As an aside, now the Visual Studio ruleset editor no longer shows new rules eg. update to latest [FXCop analysers v2.9.3](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers) and all the new rules do not show in the editor, so you can't enable or disable them.

[2019-06-17 17:20] MisinformedDNA opened #2589 "CA1801 in Azure Functions where attribute is needed, but parameter is not"
I'm not sure this a bug, or an odd use case, but I'm interested in workarounds if it's not.

#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3 (Latest)

#### Diagnostic ID

[CA1801](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1801-review-unused-parameters?view=vs-2019)

[2019-06-17 20:11] #2269 closed

[2019-06-17 20:11] #2578 closed

[2019-06-17 22:04] #2526 closed

[2019-06-17 22:04] #2586 closed

[2019-06-17 22:08] mavasani commented on #2491
Resolving as external. @JeremyMorton Can you please file this issue on the roslyn repo?

[2019-06-17 22:08] #2491 closed

[2019-06-17 23:03] nnpcYvIVl commented on #2526
@mavasani Thanks for the quick fix!

[2019-06-17 23:08] mavasani commented on #2526
Sure. You can verify if this is resolved in the latest NuGet: https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f

[2019-06-17 23:08] mavasani commented on #2369
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:09] mavasani commented on #2582
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:09] mavasani commented on #2528
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:09] mavasani commented on #2525
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:09] mavasani commented on #2504
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:10] mavasani commented on #2578
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix as well as editorconfig option to configure null check validation methods

[2019-06-17 23:11] mavasani commented on #2578
@drewnoakes - thanks for that information. Can you please file a separate issue for those attributes? I can handle them with a separate PR.

[2019-06-17 23:11] mavasani commented on #2269
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-17 23:11] mavasani commented on #2586
https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19317.5+45537f7f should have the fix

[2019-06-18 00:14] jnm2 commented on #2586
Thank you, I appreciate it!

[2019-06-18 00:52] #2583 closed

[2019-06-18 03:17] Tiergan opened #2593 "CA1801 is reported for event-handler method"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v2.9.3

#### Diagnostic ID

[CA1801](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1801-review-unused-parameters)

#### Repro steps

1. Create a new UWP project
2. Add button to MainPage.xaml
3. Add event handler for button click

[2019-06-18 05:49] #2502 closed

[2019-06-18 05:52] mavasani commented on #2486
Ah, in that case the false positive is coming from legacy FxCop. Can you instead use the FxCop analyzers NuGet package?

[2019-06-18 05:53] mavasani commented on #2486
Closing this issue as legacy FxCop is not going to get fixed anymore.

[2019-06-18 05:53] #2486 closed

[2019-06-18 05:55] mavasani commented on #2421
@dotpaul @LLLXXXCCC I believe this is now fixed?

[2019-06-18 05:56] mavasani commented on #2398
Closing this issue as feature flag is no longer required on VS2019.

[2019-06-18 05:56] #2398 closed

[2019-06-18 05:59] mavasani commented on #2340
@cremor Yes, it is unlikely to be backported unless it is a critical crash/perf issue. Closing the issue here. Please open an issue on Roslyn repo if it still reproduces on VS2019 for you

[2019-06-18 05:59] #2340 closed

[2019-06-18 06:02] mavasani commented on #2279
Duplicate of https://github.com/dotnet/roslyn/issues/11371

[2019-06-18 06:02] #2279 closed

[2019-06-18 15:00] RobSiklos commented on #2583
Verified this issue no longer appears with https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19318.2+bc3ca30e.

Thanks!

[2019-06-18 15:01] RobSiklos commented on #2369
Verified fixed in https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19318.2+bc3ca30e.

Thanks!

[2019-06-18 15:01] RobSiklos commented on #2582
Verified fixed in https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19318.2+bc3ca30e

Thanks!

[2019-06-18 15:11] RobSiklos commented on #2525
@mavasani I tried it with https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.4-beta1.19318.2+bc3ca30e, but am still seeing some weirdness. Please take a look at the following example:

[code]

The line `Bar(input);` still generates a CA1062. However, it shouldn't do this, for 2 reasons:
1) The `RequireNotNull` method has its param decorated with

[2019-06-18 16:03] RobSiklos commented on #2143
@mavasani Any update on this one? We're still seeing it in the latest 2.9.4 beta. Thanks!

[2019-06-18 18:37] mavasani commented on #2576
FYI: I have fixed the performance issue with CA3075 with https://github.com/dotnet/roslyn-analyzers/pull/2595. Will work on CA1062 perf tuning now.

[2019-06-18 18:48] dotpaul commented on #2421
Yep.

[2019-06-18 18:48] #2421 closed

[2019-06-18 19:11] mavasani commented on #2525
@RobSiklos - thanks, I am able to repro the latest issue. Investigating..

[2019-06-18 20:06] mavasani commented on #1918
Tagging @tmeschter as he also saw this locally.

I believe this bug is only repro-able in the now deprecated `Microsoft.CodeQuality.Analyzers.Exp.nupkg`. The latest implementation in master for top of the stack method `DataFlowOperationVisitor`2.VisitTry` is here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisi

[2019-06-18 20:06] #1918 closed

[2019-06-18 20:09] tmeschter commented on #1918
@mavasani After removing that package I no longer get _any_ of the AD0001 errors I was previously seeing.

Have all the analyzers in this package been rolled into Microsoft.CodeQuality.Analyzers?

[2019-06-18 20:11] mavasani commented on #1918
All of them have been rolled into one of the 3 packages that ship in FxCop analyzers: https://github.com/dotnet/roslyn-analyzers#the-following-are-subpackages-or-nuget-dependencies-that-are-automatically-installed-when-you-install-the-microsoftcodeanalysisfxcopanalyzers-package

[2019-06-18 20:13] mavasani commented on #1917
I believe this bug is only repro-able in the now deprecated `Microsoft.CodeQuality.Analyzers.Exp.nupkg`. The latest implementation in master for top of the stack method `DataFlowOperationVisitor`2.VisitTry` is here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs#L3229-L3232, which throws an unconditional