[2021-01-27 21:36] 333fred opened #4749 "PublicAPIAnalyzer CodeFix does not respect existing newline style"
https://github.com/dotnet/roslyn-analyzers/blob/62f71ea5c1ad04f9c4e5579c5c2b97fab16ff967/src/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs#L110

Instead of reading the line endings that already exist in the file, the public API analyzers use the default from the environment. This is a problem on Windows when autocrlf is off, or when the source is shared with a Linux partition (such as W

[2021-01-28 00:41] mavasani commented on #3946
@Evangelink We are considering this analyzer for .NET6 release, would you be interested in implementing it?

[2021-01-28 07:33] RussKie opened #4750 "error AD0001: Analyzer 'Microsoft.NetFramework.Analyzers.DoNotUseInsecureXSLTScriptExecutionAnalyzer' threw NRE"
### Analyzer

CSC : error AD0001: Analyzer 'Microsoft.NetFramework.Analyzers.DoNotUseInsecureXSLTScriptExecutionAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.

### Analyzer source

**SDK**: [6.0.100-preview.1.21077.13](https://dotnetcli.azureedge.net/dotnet/Sdk/6.0.100-preview.1.21077.13/dotnet-sdk-6.0.100-

[2021-01-28 14:55] mavasani commented on #4750
@Evangelink @dotpaul

[2021-01-28 18:15] Youssef1313 commented on #4750
I haven't tried to produce a minimal repro, but I suspect:

https://github.com/dotnet/roslyn-analyzers/blob/deade5cc78bfbc3ef0e8df3dd46efc417b91e5c0/src/NetAnalyzers/Core/Microsoft.NetFramework.Analyzers/DoNotUseInsecureXSLTScriptExecution.cs#L65

Other calls to `GetVariableInitializer` in the repo have null check, e.g.:

https://github.com/dotnet/roslyn-analyzers/blob/deade5cc78bfbc3ef0e8df3dd46e

[2021-01-28 18:44] Youssef1313 commented on #4750
As expected:

![image](https://user-images.githubusercontent.com/31348972/106183934-8f829880-61a9-11eb-8adb-edb5c9c9a9a4.png)

I'll open a PR.

[2021-01-28 19:11] Youssef1313 commented on #4699
I'm not sure whether this is related or not. I have met a problem while working with RoslynAnalyzers.sln before, where a **ton** of diagnostics appeared unexpectedly. They went away on their own.
I've just encountered the same problem now (but there is no clear repro steps)

![image](https://user-images.githubusercontent.com/31348972/106186502-0a997e00-61ad-11eb-943c-23a484647a06.png)

The diagnos

[2021-01-28 19:43] mavasani commented on #4699
This is same as https://github.com/dotnet/roslyn/issues/49718 and I have also seen this in the past. @Youssef1313 repro steps to get this reproing consistently would be great. I think it normally happens after an explicit build, but I could not get consistent repro.

[2021-01-28 22:11] reduckted commented on #4491
I'm seeing the same exceptions from all of these analyzers when using .NET SDK 5.0.102:

* `Microsoft.NetCore.Analyzers.Security.DoNotAddArchiveItemPathToTheTargetFileSystemPath`
* `Microsoft.NetCore.Analyzers.Security.DoNotHardCodeCertificate`
* `Microsoft.NetCore.Analyzers.Security.DoNotHardCodeEncryptionKey`
* `Microsoft.NetCore.Analyzers.Security.ReviewCodeForCommandExecutionVulnerabilities`
*

[2021-01-30 12:36] MaceWindu opened #4754 "CSharpDoNotUseInsecureXSLTScriptExecutionAnalyzer is slow"
### Analyzer

**Diagnostic ID**: [CA3076](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA3076): `Insecure XSLT Script Execution`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.102](https://dotnet.microsoft.com/download/dotnet/5.0)

### Descr

[2021-01-30 13:12] airbreather opened #4755 "CA1508 false positive on String.IsNullOrWhiteSpace (in 5.0.2)"
I see that #4439 recently fixed something that sounded like this, and apparently the tag lists that it's fixed in 5.0.1.  However, my `dotnet --info` reports that I'm on version 5.0.2 (`<AnalysisLevel>latest</AnalysisLevel>`), and I still seem to be able to repro a very similar CA1508 false positive.

## Steps
1. Save the three following files to a folder.
1. `dotnet build --no-incremental`

Actua

[2021-01-30 13:18] airbreather commented on #4755
WHOOPS.  User error.  Something smelled fishy, so I checked into this a bit more to see what was going on... the documentation on https://docs.microsoft.com/en-us/visualstudio/code-quality/install-net-analyzers?view=vs-2019 misled me a bit.

The documentation on https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview#latest-updates points out that `<AnalysisLevel>latest</Analys

[2021-01-30 13:18] #4755 closed

[2021-01-30 17:24] Youssef1313 commented on #4754
@Evangelink Have you rewritten this analyzer recently using IOperation? Does that fix the perf issue?

[2021-01-30 21:32] Dimension4 commented on #4469
Does this fix also propagate to the `Microsoft.CodeAnalysis.Analyzers` package? That package hasn't been updated for 2 months on nuget so it does not include this fix.

[2021-01-30 21:37] haacked commented on #4399
Hi @Evangelink, it's admittedly a slightly unusual use case.

I want to run the `CSharpSymbolIsBannedAnalyzer` against code that's created using `CSharpScript.Create` and then compiled `script.CompileCodeAsync()`.

I couldn't find a way to programmatically reference `CSharpSymbolIsBannedAnalyzer` so I just cloned the `dotnet/roslyn-analyzers` repo and added my own `Program.cs` (which I included in

[2021-01-31 12:49] Youssef1313 commented on #4096
@Evangelink @mavasani Should I close this? Nothing can be done from the analyzer side. This only requires things to be fixed on roslyn's side.

[2021-01-31 16:22] Youssef1313 commented on #4506
@skrysmanski Yes it's valid to get the analyzers via the NuGet package. See <https://docs.microsoft.com/dotnet/fundamentals/code-analysis/overview#latest-updates>.

[2021-01-31 18:05] Youssef1313 commented on #311
@mavasani This issue was tracking a disabled fixer. Consider re-opening.

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/VisualBasic/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/BasicStaticHolderTypes.Fixer.vb#L22-L28

[2021-02-01 15:51] mavasani commented on #4750
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4751. Thank you @Youssef1313!

[2021-02-01 15:51] #4750 closed

[2021-02-01 23:35] RussKie commented on #4750
Thank you!
When will this be available for consumption?

[2021-02-02 00:33] mavasani commented on #4750
This will flow into .NET 6 preview branch with https://github.com/dotnet/roslyn-analyzers/pull/4762, and will eventually flow into the .NET SDK 6.0 branch after that. The NuGet package with this fix might be available much earlier if you are interested.

[2021-02-02 02:18] RussKie commented on #4750
I'd go for a NuGet package update when it's available.

[2021-02-02 09:23] weezlemsneezle commented on #3862
I am using `net5.0` and `<AnalysisMode>AllEnabledByDefault</AnalysisMode>`.
With the following code I get a CA1003
[code]
After reading the doc this is rather unexpected, especially because I can't declare an `in` parameter with `EventHandler<>`

[2021-02-02 16:13] mavasani commented on #4750
Can you try the latest NuGet package at https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet?

[2021-02-02 17:10] mavasani commented on #4754
Yes, this is correct. Kindly try the latest NuGet package at https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet

[2021-02-02 17:10] #4754 closed

[2021-02-02 17:38] mavasani commented on #4745
We need someone to investigate the current analyzer semantics and evaluate the proposed changes.

[2021-02-02 17:39] mavasani commented on #4744
@dotpaul What do you think?

[2021-02-02 17:40] mavasani commented on #4743
Tagging @genlu - we may want to write a unit test with interprocedural analysis is enabled. Even then, I am not sure this is a critical case for the analyzer.

[2021-02-02 17:44] mavasani commented on #4763
Need to check if this still repros in master.

[2021-02-02 17:45] sharwell commented on #4745
The design guidelines for implementing `IDisposable` in public APIs (which CA1816 is part of enforcing) intentionally do not make any assumptions about the form of derived types. All derived types are considered the same in the fact that they might rely on the base class to provide the call to `GC.SuppressFinalize`.

This is not correct, because the implementation of `IDisposable.Dispose()` is not

[2021-02-02 17:46] sharwell commented on #4745
@SetTrend based on the information so far, the analyzer is behaving in accordance with the design guidelines it supports, and as such would not change behavior. If you have any other cases where you would propose a behavior change I would be happy to review those as well.

[2021-02-02 17:46] #4745 closed

[2021-02-02 17:49] mavasani commented on #4401
This could be a Roslyn issue in the underlying code fix engine.

[2021-02-02 17:53] mavasani commented on #4361
@sharwell Can you please drive this issue forward?

[2021-02-02 17:56] mavasani commented on #4330
Closing this as by design, do not seem we have a good reason for taking a breaking change here.

[2021-02-02 17:56] #4330 closed

[2021-02-02 18:00] mavasani commented on #4189
@buyaa-n feel free to close it out if you feel this is by design.

[2021-02-02 19:50] MaceWindu commented on #4754
looks good
[code]

[2021-02-02 20:22] Youssef1313 commented on #4744
Also applies to:

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/Core/Microsoft.NetFramework.Analyzers/MarkVerbHandlersWithValidateAntiforgeryTokenAnalyzer.cs#L101

https://github.com/dotnet/roslyn-analyzers/blob/60fec5c28143441c2311e14c77f032a7c21cc19b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/ReviewVisibleEv

[2021-02-02 20:43] genlu opened #4766 "RS0027 shouldn't warn if the other overload is obsolete"
### Analyzer

**Diagnostic ID**: [RS0027](https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optional%20Parameters%20in%20Public%20API.md)

### Describe the improvement

When the overload with longer parameter list is obsolete, RS0027 shouldn't be triggered.

See https://github.com/dotnet/roslyn/pull/50911#discussion_r568877953

[2021-02-03 00:44] SetTrend commented on #4745
Thank you very much for taking the time to share this information with me, @sharwell!

I did some further investigation now.

Just to make sure, would you mind confirming that so, according to MS design guidelines, **the only valid way** of implementing a class hierarchy implementing `IDisposable` both in a base class and in a derived class is like this:

[code]
[code]
[code]

Having ...
1. finali

[2021-02-03 00:50] SetTrend commented on #4745
Never mind. I found the explanation here:

https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#implement-the-dispose-pattern-for-a-derived-class

[2021-02-03 00:51] sharwell commented on #4745
@SetTrend No, there are several problems with the sample above.

1. Setting aside the general recommendation that you should _never_ write a finalizer, `DerivedClass` should not add a finalizer if `BaseClass` already adds one.
2. `DerivedClass` must inherit the implementation of `IDisposable.Dispose()` from `BaseClass`. In other words, `DerivedClass.Dispose()` needs to be deleted.
3. The implement

[2021-02-03 00:54] jeffhandley commented on #4189
I'm closing this as a known limitation and we can see if we receive more reports of this or similar scenarios.

[2021-02-03 00:54] #4189 closed

[2021-02-03 01:06] SetTrend commented on #4745
You've been faster than me. I already deleted my comments when I hit the MS docs article when your comment appeared.

I very much shy away from bothering your further, but given your explanations, what if a hypothetical derived class derived from, say `FileStream` (which implements `IDisposable`). If the derived class added unmanaged private resources to perform its duties (e.g. logging some infor

[2021-02-03 01:09] SetTrend commented on #4745
Ah .. Again I see your point only after I've been writing my question. The `Dispose(bool disposing)` is overridden, of course. So the base class finalizer will call my `Dispose(bool disposing)` method and release my unmanaged resources.

Please pardon me for bothering you :blush:

[2021-02-03 01:17] sharwell commented on #4745
@SetTrend it's no problem. This is a super complicated topic so questions tend to come up. One of the reasons why the rules are so restrictive on options is it helps users who just want to work on something else and aren't looking to understand the details. 😄 But for people that do want to learn the motivation behind the design we're happy to help out.

[2021-02-03 08:56] ohgrad commented on #4730
do you know when it will be officially released ? we cant use preview atm.

[2021-02-03 12:40] AraHaan opened #4771 "[Proposal] Warn when multiple TFMs would produce the same IL Code (When targenting multiple .NET Frameworks, Core, Standards)"
### Describe the problem you are trying to solve

I would like a warning like for example if one had the following on their csproj:
[code]

Where basically all of the .NET Framework targets (the ones where ``TargetFramework`` on each one starts with ``net4``) all produce the same IL Code (nothing conditional that changes the code at all, likewise with .NET Core until 3.0 would produce the same IL

[2021-02-03 14:30] notnotchris opened #4772 "AD0001: Analyzer 'Microsoft.NetCore.Analyzers.Security.UseAutoValidateAntiforgeryToken' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null.'"
### Analyser

AD0001: `Analyzer 'Microsoft.NetCore.Analyzers.Security.UseAutoValidateAntiforgeryToken' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null.'`

### Analyser source

**SDK**: [Built-in CA analysers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.102](https://dotnet.micro

[2021-02-03 14:58] Youssef1313 commented on #4766
@genlu Should this apply to RS0026 as well?

[2021-02-03 16:00] Youssef1313 commented on #4772
@notnotchris Thanks for the detailed repro steps. The issue happens when the filter used doesn't directly contain "OnAuthorizationAsync" method.

The problematic part of the analyzer implementation is the following:

https://github.com/dotnet/roslyn-analyzers/blob/3fb878177fb161344a57784957485450544e0f84/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Security/UseAutoValidateAntiforgeryToken.cs#

[2021-02-03 17:09] Youssef1313 commented on #4749
The same should apply to `AnnotatePublicApiFix` and `NullableEnablePublicApiFix`.

[2021-02-03 19:06] Youssef1313 opened #4775 "Comparing identifiers should be done case insensitively in VB"
Two fixers are comparing identifiers case-sensitively in VB, which can lead to wrong results. These should be fixed and tested.

https://github.com/dotnet/roslyn-analyzers/blob/33582d0369adb7657731b611f4811e981dcb2f7f/src/NetAnalyzers/VisualBasic/Microsoft.NetCore.Analyzers/Runtime/BasicPreferStreamAsyncMemoryOverloads.Fixer.vb#L30

https://github.com/dotnet/roslyn-analyzers/blob/33582d0369adb7657

[2021-02-03 21:11] endasil opened #4776 "Microsoft.CodeAnalysis.NetAnalyzers not doing anything at all for me"
So I switched from using the fxcop nuget to the new Microsoft.CodeAnalysis.NetAnalyzers NuGet and it does nothing at all. I added the following to my csproj file expecting it to apply all rules but nothing happens when i build. I uploaded an example project https://easyupload.io/iktg0k

I added the following to my csproj file
<PropertyGroup>
    <EnableNETAnalyzers>true</EnableNETAnalyzers>
    <A

[2021-02-03 22:07] AraHaan opened #4777 "[Proposal] Add IDisposableAnalyers to the .NET SDK analyzers."
Why?

Well most .NET projects will install the nuget package anyway, I think the .NET SDK should install it for us and enable it when the .NET Analyzers are also enabled.

The main reasoning behind this is that it encourages proper use and implementations on IDisposable (from https://github.com/DotNetAnalyzers/IDisposableAnalyzers) It proves to be a great asset for many .NET Developers and also he

[2021-02-03 22:34] mavasani commented on #4776
Seems to work fine for a vanilla net5 classlib project for me:

![image](https://user-images.githubusercontent.com/10605811/106818258-e286a080-662c-11eb-9915-c925f07117c4.png)

[2021-02-03 22:59] endasil commented on #4776
Right, how about with a net472 project?

[2021-02-03 23:41] dotpaul commented on #4744
CA2100 and CA3147 sound fine to me. The last two might need to be removed, so I wouldn't want to make them also analyze generated code.

[2021-02-04 03:18] yyjdelete opened #4778 "doc of CA1711 should be update to unlist `System.Enum` from Flag(s)"
### Analyzer

**Diagnostic ID**: [CA1711](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1711): `Identifiers should not have incorrect suffix`

### Describe the bug

Seems #3360 already update CA1711 to report enum with Flag or Flags suffix. But the doc is not updated, and still say it's ok to use Flag(s) with Enum.
The doc should be update to match what it actual wor

[2021-02-04 11:28] Youssef1313 commented on #4776
@endasil Usually it should work (I've tried that before, but using the SDK-style project files).

I can confirm that it doesn't work for the project you attached (it could be something related to the old csproj format?):

![image](https://user-images.githubusercontent.com/31348972/106886663-cfd3a080-66ec-11eb-8621-badd1bd686f9.png)

[2021-02-04 11:37] William-Mainwaring commented on #3615
Make sure you are running the tool from within the folder where the "sln" or "proj" files reside.

[2021-02-04 11:50] Youssef1313 commented on #4776
Hmmm, I could reproduce even with SDK-style project.

![image](https://user-images.githubusercontent.com/31348972/106888835-cac42080-66ef-11eb-8150-c7ae5d20f1d9.png)

[netanalyserfail.zip](https://github.com/dotnet/roslyn-analyzers/files/5925502/netanalyserfail.zip)

[2021-02-04 12:02] Youssef1313 commented on #4776
@enasil One problem with your repro (the zip file - not the code in issue) is that `Pages` property is **not** in the public api surface (the containing class `Program` is internal):

![image](https://user-images.githubusercontent.com/31348972/106889958-6609c580-66f1-11eb-836f-870987b6dea2.png)

After fixing that, I still don't get the diagnostic. Only after adding an editorconfig with the followi

[2021-02-04 13:10] Youssef1313 commented on #4776
@mavasani editorconfigs from package are not included in build when the csproj isn't SDK-style. Is this by-design?

[2021-02-04 13:13] mavasani commented on #4776
Yes. For legacy csproj style projects, the only option is to reference the analyzer NuGet package. We should reflect this in docs.

[2021-02-04 13:34] Youssef1313 commented on #4776
@mavasani The package is already installed:

![image](https://user-images.githubusercontent.com/31348972/106899839-7f653e80-66fe-11eb-88b3-d33ae6cd6ff6.png)

[2021-02-04 13:38] mavasani commented on #4776
There could be a different issue then, would need investigation.

[2021-02-04 13:45] Youssef1313 commented on #4776
Looking at the binlog, I can't find the editorconfigs from package. Once I switch to SDK-style, I can see them.

Here is the binary log:

[msbuild.zip](https://github.com/dotnet/roslyn-analyzers/files/5926071/msbuild.zip)

[2021-02-04 15:29] Youssef1313 commented on #4587
@Evangelink I feel it's the calls to `AppendLine`. It may be adding `Environment.NewLine` (which could be either `\r\n` or `\n`). But then it compares that with repo files (which are using `\r\n`). Hence, the comparison fails and the tool would think that files are outdated. We may consider replacing `AppendLine()` with `Append("\r\n")`.

[2021-02-04 17:13] Evangelink commented on #3862
Ping @mavasani

[2021-02-04 17:23] Evangelink commented on #4096
I'd say so.

[2021-02-04 17:27] Evangelink commented on #4766
It would makes sense IMO. @mavasani?

[2021-02-04 17:30] Youssef1313 commented on #4587
Alright, My previous comment isn't correct (I don't know why exactly :smile:)

The CI failure for Linux is caused by a multi-line fullDescription in sarif files. See diff between Windows and Linux:

![image](https://user-images.githubusercontent.com/31348972/106931114-ea267200-671e-11eb-82ba-c0877732a980.png)

[2021-02-04 17:41] #4096 closed

[2021-02-04 17:52] Evangelink commented on #4587
Ahaha I did the exact same thing in another company for comparing sarif files... I went with normalizing to `\n`.

[2021-02-04 17:54] Evangelink commented on #4469
I don't think it will, @mavasani ?

[2021-02-04 17:55] Evangelink commented on #3946
I am a bit short in time lately so I'd say "yes but I can't really commit on ETA". So if anyone else wants to pick this, fine by me.

[2021-02-04 18:13] Youssef1313 commented on #4587
@Evangelink Sounds good.

[2021-02-04 18:15] Evangelink commented on #4587
Well that's what I hacked but I don't know if that's really the good way forward.

[2021-02-04 18:27] jmarolf commented on #4587
I think normalizing on \n is the right choice here. Thanks for taking a look!

[2021-02-04 23:44] genlu commented on #4763
Looks like this is fixed in master.

[2021-02-04 23:44] #4763 closed

[2021-02-05 07:20] jiangzeng01 opened #4784 "[.NET 6] [Source Compat Failure] ffmediaelement app doesn't build with .net6 SDK"
**Application Name:**  ffmediaelement
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-preview.1.21081.5

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-preview.1.21081.5   Fail
2). Windows 10 RS5 X64 + .NET Core SDK build :  5.0.102   Pass
3). Windows 10 RS5 X64 + Retarget app to 5.0 + .NET Core SDK build :  5.0.102   Fail
4). Windows 10 RS5 X64 + Ret

[2021-02-05 11:40] Youssef1313 commented on #4586
The failing test for ReleaseTrackingAnalyzer seems like a product bug (not a critical one though).

The fix isn't using consistent line endings. The following constants are using '\r\n':

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/AnalyzerReleaseTrackingFix.cs#L28-L32

But then, `AddOrUpdat

[2021-02-05 11:44] roji commented on #4736
@mavasani @drewnoakes does the above make sense as a proposal? If so, I'd be happy to look into contributing it.

[2021-02-05 12:34] Youssef1313 commented on #3721
A guide was added in [dotnet/arcade](https://github.com/dotnet/arcade/blob/master/Documentation/Projects/M2MRenaming/Master-to-Main-renaming-guide.md) for the migration. @mavasani Should this process be started?

[2021-02-05 12:45] Youssef1313 commented on #4775
@carlossanlop Would you be able to give BasicPreferStreamAsyncMemoryOverloadsFixer a look?

[2021-02-05 17:44] mavasani commented on #4736
Yes, I think it is good to do this work in chunks:

1. Add support for existing option `excluded_symbol_names` to the analyzer
2. Add support for a new option to exclude symbols with specified attribute names, say `excluded_symbol_with_attribute_names`.
3. Iterate to see if we need more or richer options

[2021-02-05 17:45] mavasani commented on #3721
@terrajobst to make the final call when to migrate dotnet repos.

[2021-02-05 18:42] #4766 closed

[2021-02-05 20:41] mavasani commented on #4776
@Youssef1313 The logic that maps the `AnalysisMode` and `AnalysisLevel` property to correct global config file relies on some MSBuild logic that is in the SDK, so these properties will not work with legacy csproj style projects. @gewarren We should make this explicit in our documentation.

[2021-02-05 21:27] Youssef1313 commented on #4586
Interestingly, release tracking test doesn't actually fail on Linux builds. I was expecting them to fail due to my previous reasoning :confused:.

[2021-02-05 22:26] roji commented on #4736
Thanks @mavasani, I'll submit something soon.

[2021-02-06 09:38] Youssef1313 commented on #4629
@mavasani @Evangelink Do we need to introduce a base abstract diagnostic analyzer class for globalization rules to ensure the check is done for all globalization rules? and potentially introduce an analyzer that's only used internally to make sure any globalization rule derives from this class?

[2021-02-06 10:20] Youssef1313 opened #4793 "Fixer is using wrong resource as a title"
https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/OperatorOverloadsHaveNamedAlternates.Fixer.cs#L40-L41

The fixer is using the analyzer title:

https://github.com/dotnet/roslyn-analyzers/blob/60fec5c28143441c2311e14c77f032a7c21cc19b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers

[2021-02-06 10:24] Youssef1313 commented on #4793
Also caught in:

https://github.com/dotnet/roslyn-analyzers/blob/91b109f2f69496b76e7a740a4547a9d9b9a12c0b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/UriParametersShouldNotBeStrings.Fixer.cs#L34

https://github.com/dotnet/roslyn-analyzers/blob/60fec5c28143441c2311e14c77f032a7c21cc19b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersRe

[2021-02-06 10:34] roji commented on #4278
Note: if the analyzer supports C# as its representation (#3901), this would be done naturally as part of that.

[2021-02-06 19:43] Cyl18 opened #4795 "CA1508 false positive in generic nullable"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code (code analysis)`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.

[2021-02-07 01:54] jiangzeng01 commented on #4784
@genlu @mavasani  Could you or have the right person to help to take a look at this?

[2021-02-07 09:15] Evangelink commented on #4629
I think that would be easier than ensuring all globalization rules call the helper.

[2021-02-07 14:36] Youssef1313 commented on #4795
This looks a false positive, not a false negative. If so, can you update the issue title?

[2021-02-07 14:38] Youssef1313 commented on #4795
@mavasani Have your PR https://github.com/dotnet/roslyn-analyzers/pull/4554 fixed this?

[2021-02-08 01:46] RussKie commented on #4750
Tested, it worked. Thank you.

Now debating whether I want to take another explicit dependency, or not... Decisions, decisions...

[2021-02-08 04:25] #4587 closed

[2021-02-08 16:49] sharwell opened #4801 "CA1816 (Call GC.SuppressFinalize correctly) should not be reported when no finalizer is supported"
### Analyzer

**Diagnostic ID**: [CA1816](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1816)

### Describe the improvement

CA1816 should only be reported in cases where users are following a design pattern intended to support the use of finalizers for releasing unmanaged resources. When the pattern is clearly not meant to support this case, the warning should be au

[2021-02-08 17:00] Youssef1313 commented on #4801
Is this a dupe of #3925?

[2021-02-08 17:14] sharwell commented on #3925
Superseded by #4801

[2021-02-08 17:14] #3925 closed

[2021-02-08 19:27] dotpaul opened #4802 "CA5390: Should consider only byte arrays of certain lengths"
### Analyzer

**Diagnostic ID**: [CA5390](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca5390)

### Describe the improvement

Right now the rule looks at all hardcoded byte arrays. It should look for byte arrays that are key sizes for the sink algorithms. This will improve performance by avoiding unnecessary analysis.

### Describe suggestions on how to achieve the ru

[2021-02-09 14:20] Youssef1313 commented on #4629
@Evangelink I'm now facing a problem where an analyzer have two rules, only one of which has Globalization category:

https://github.com/dotnet/roslyn-analyzers/blob/f167914d442d0ae0055b28a1c92e5b9d446fdbdb/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/InteropServices/PInvokeDiagnosticAnalyzer.cs

If I made the analyzer inherits `AbstractGlobalizationDiagnosticAnalyzer`, it will bail-out for b

[2021-02-09 15:45] Youssef1313 opened #4808 "Enhance documentation files for IDs associated with multiple rules"
See #4798, which adds a new rule with an existing id.

The documentation files only have one rule as shown in diff:

![image](https://user-images.githubusercontent.com/31348972/107388395-7ad5c700-6afe-11eb-8615-e11370a0c5a4.png)

FYI @sharwell

[2021-02-09 16:17] sharwell commented on #4808
It's still the same rule. The part that changed is adding a description for why it applies in a specific situation. The documentation file was also incorrect before this change.

[2021-02-09 16:25] Youssef1313 commented on #4808
@sharwell Yeah I see now it was already incorrect. But aren't the following considered different rules (which are existing prior your PR):

https://github.com/sharwell/roslyn-analyzers/blob/14703b1a232f71b79b3a9c895b9d14747eba0173/src/Roslyn.Diagnostics.Analyzers/Core/AbstractDoNotCopyValue.cs#L50-L70

Or that's not the correct terminology?

[2021-02-09 17:44] dotpaul opened #4809 "CA5390: The call stack to the dangerous method should be part of the message"
### Analyzer

**Diagnostic ID**: [CA5360](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca5360)

### Describe the improvement

Right now, the message only includes two methods: the method called by deserialization and the dangerous method. It would be better to include the intermediate methods potentially invoked that lead from the first method to the last method.

###

[2021-02-09 18:11] mavasani commented on #4784
@jiangzeng01 This is by design. CA warnings will also be escalated to build errors by TreatWarningsAsErrors. Kindly refer to https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview#treat-warnings-as-errors if you want CA warnings not to be treated as errors.

[2021-02-09 21:06] Evangelink commented on #4629
Hum I wasn't expecting that...

I'd say we can do:
- your suggestion
- both a base class and a helper, so that caller decides what to use
- revert this base class and only use a helper method
- make a post-filtering (check at the time where we report the diagnostic)

[2021-02-09 21:06] Sergio0694 commented on #4414
I'm still seeing this error in VS 16.9 Preview 4 (just updated to it) 🤔
Should that be tracked here (possibly reopening the issue), or should I open another issue for that?

Here's what I'm seeing when compiling my source generator:

![image](https://user-images.githubusercontent.com/10199417/107428402-ddd95500-6b22-11eb-89f1-7ee5916abc6e.png)

I also have repro steps if that helps:
- Clone https:

[2021-02-09 21:18] Evangelink commented on #4414
@Sergio0694 I am doing the VS update now and will let you know if I find somehting.

[2021-02-09 21:56] Evangelink commented on #4414
Got a restore error: The local source 'C:\Src\ComputeSharp\src\ComputeSharp.Package\bin\Release' doesn't exist.

[2021-02-09 22:04] Sergio0694 commented on #4414
@Evangelink Thank you for your time and for taking a look, I appreciate it! 😄

[2021-02-09 22:07] Evangelink commented on #4414
@Sergio0694 I stop having the issue as soon as I bump the version of `Microsoft.CodeAnalysis.Analyzers` from `3.3.1` to `3.3.2`, do a clean and rebuild. Could you confirm that's also solving the issue on your side?

[2021-02-09 22:26] Sergio0694 commented on #4414
@Evangelink I can confirm that upgrading to `3.3.2` does fix those exceptions, awesome!
Sorry for having pinged you all in here then, glad there was such an easy fix that I had just missed though! 😄
Thanks again for your time!

[2021-02-09 23:09] mavasani commented on #4808
We need one of the two things:
1. Ability to pick a descriptor for documentation files
2. Proposal to show information from all descriptors

[2021-02-09 23:10] mavasani commented on #4801
@stephentoub do you have any objection to this rule?

[2021-02-09 23:13] mavasani commented on #4778
Fixed with https://github.com/dotnet/docs/pull/22649

[2021-02-09 23:13] #4778 closed

[2021-02-09 23:14] stephentoub commented on #4801
If a type or any of its base type hierarchy (that latter part isn't explicitly called out in Sam's description) doesn't define a finalizer, and the type is sealed, then it's not finalizable, so there's no need to warn about GC.SuppressFinalize in its Dispose implementation.  I'm ok with not warning in such a case.

cc: @bartonjs

[2021-02-09 23:16] mavasani commented on #4772
Tagging @dotpaul

[2021-02-09 23:18] #4179 closed

[2021-02-09 23:20] sharwell commented on #4801
@stephentoub when the _type_ is sealed, we already do not warn. I made a mistake in my original proposal: the case that today warns but I propose should not warn is a non-sealed type with a virtual (non-sealed) implementation of `IDisposable.Dispose()`. The original post above has been updated to reflect the intended change.

[2021-02-09 23:22] mavasani commented on #4147
We need documentation confirmation for MemoryStream to confirm it is fine to exclude.

[2021-02-09 23:25] sharwell commented on #4147
@stephentoub The documentation for `MemoryStream` states that it does not hold any unmanaged resources, but it does not explicitly state that _derived_ types are prohibited from adding them. How should we approach this suggested change?

[2021-02-09 23:25] mavasani commented on #4133
Need to confirm if this is a dupe.

[2021-02-09 23:27] PriyaPurkayastha commented on #4784
Thanks @mavasani
It appears that these are new CA warnings introduced in .NET 6. I found that CA warnings introduced in .NET 5 were documented e.g. https://docs.microsoft.com/en-us/dotnet/core/compatibility/code-analysis/5.0/ca1416-platform-compatibility-analyzer
Would you consider documenting these new CA warnings similarly for .NET 6?

[2021-02-09 23:31] #4111 closed

[2021-02-09 23:32] mavasani commented on #4106
@dotpaul Close this as by design?

[2021-02-09 23:49] bartonjs commented on #4801
Do we already have an analyzer that detects the non-canonical state of "you're adding a finalizer, your type hierarchy is disposable via virtual dispose instead of the basic dispose pattern, so figure out where to add GC.SuppressFinalize(this)"?  To me, that's a prerequisite.

Since we recommend the basic dispose pattern in all non-sealed cases of IDisposable I'm, personally, OK with extra warning

[2021-02-09 23:53] sharwell commented on #4801
[CA1063 (Implement IDisposable correctly)](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1063) reports a diagnostic if `Dispose()` is not sealed. In other words, the case I'm proposing to disable for CA1816 in cross-covered by another design rule.

With that said, note that CA1063 by default only looks at exposed types. That shouldn't be a problem; users intend

[2021-02-09 23:55] mavasani commented on #4784
@PriyaPurkayastha No new CA warning has yet been merged in for .NET 6. These are all new .NET 5 warnings, CA1416 was a new warning added in .NET5

[2021-02-10 00:12] gewarren commented on #4425
Sorry, I'm just seeing this now, but I've updated my inbox rules. My initial thought is that documentation for such rules don't belong in the dotnet/docs repo, as they are pretty specialized. @BillWagner Thoughts on this?

[2021-02-10 00:17] #4106 closed

[2021-02-10 00:22] PriyaPurkayastha commented on #4784
Thanks @mavasani. Interesting - I guess I misinterpreted what @jiangzeng01 said:
_"We can build successfully using .net5 SDK, to resolve the issues on .net6 SDK, we need to remove this line in project files :
<TreatWarningsAsErrors>true</TreatWarningsAsErrors>
This way projects will build with .net6SDK however there will be about 16000 warnings which is different behavior with .NET 5."_

What has

[2021-02-10 01:41] jiangzeng01 commented on #4784
@mavasani
With `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` config as default in the app.
We tried the .NET 5 latest servicing release (5.0.103, released at 2021/02/09), the app builds fine.
And also tried with latest .NET 6 Preview 1 SDK (6.0.100-preview.1.21108.2), the app builds failed with following errors (turned from warnings):
[code]
These CA1802 & CA2208 errors/warnings in the err

[2021-02-10 02:17] Youssef1313 commented on #4425
@gewarren There is a TOC node for roslyn-sdk. Can't the documentation fall in there?

[2021-02-10 02:29] gewarren commented on #4425
https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/ - yes, that would probably be the best spot in the dotnet/docs repo.

[2021-02-10 03:09] jmarolf commented on #4784
@jiangzeng01 can you build you .NET 6 and .NET 5  build with the binary log option turned on and attache the binary logs to this issue? That will be the easiest way to compare what is different between the two builds.

[2021-02-10 03:11] jmarolf commented on #4425
We can simply link internal analyzers to URLs on github imho if there is no good place for them in docs.

[2021-02-10 04:33] jiangzeng01 commented on #4784
@jmarolf We built with "dotnet msbuild /bl", and here are the binlog files for .NET 5 & .NET 6:
.NET 5 - 5.0.103:
[msbuild-NET5.zip](https://github.com/dotnet/roslyn-analyzers/files/5955838/msbuild-NET5.zip)

.NET 6 Preview 1 SDK (6.0.100-preview.1.21108.2):
[msbuild-NET6.zip](https://github.com/dotnet/roslyn-analyzers/files/5955839/msbuild-NET6.zip)

[2021-02-10 06:56] karataliu opened #4822 "Question: nullable result affected by later code"
### Analyzer

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug
null state prompted is decided by later null check. Is it by design?

### Steps To Reproduce
[code]

### Expected behavior
`if (item.V

[2021-02-10 06:57] Rand-Random commented on #4699
@Youssef1313 @buyaa-n
If I am not misunderstanding you, you are claming the Warning would be correct for .net47.
Could you explain why, I don't see why this should be the case?

Would be great to see a fix in the near future as in my real project which is way bigger than the demonstrated case those warnings block the sight of the real issues, and because they like to appear/disappear when I switch

[2021-02-10 07:14] Youssef1313 commented on #4699
If I am not misunderstanding you, you are claming the Warning would be correct for .net47.
Could you explain why, I don't see why this should be the case?

I was incorrectly saying that. Sorry for any confusion.

[2021-02-10 08:38] JarLob commented on #3929
Not worth fixing?

[2021-02-10 09:09] Youssef1313 commented on #4822
This belongs to dotnet/roslyn, not dotnet/roslyn-analyzers.
Also I believe this is by design. See https://github.com/dotnet/roslyn/issues/44834

[2021-02-10 09:42] JarLob opened #4823 "No taint warning with lambda"
### Analyzer

CA3001, but probably all taint tracking analyzers

### Analyzer source

[Master branch](https://github.com/dotnet/roslyn-analyzers/tree/cb252ae912de1a196be10dd2a46b6a8b2d02dea3)

### Describe the bug

No security warning (taint tracking issue?) when the sink is in lambda

### Steps To Reproduce

Modify the existing [DocSample1_CSharp_Violation_Diagnostic](https://github.com/dotnet/ro

[2021-02-10 11:01] jmarolf commented on #4784
@jiangzeng01 thanks! the .NET 5 project didn't build anything (likely because it had already been built previously). I would run:
`dotnet msbuild /bl /t:rebuild`

[2021-02-10 15:08] Youssef1313 commented on #962
This rule is marked CandidateForRemoval:

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Tasks/DoNotCreateTasksWithoutPassingATaskScheduler.cs#L30

@mavasani Is there a need for the fixer?

[2021-02-10 15:15] Youssef1313 commented on #961
Related to (or dupe of) https://github.com/dotnet/roslyn-analyzers/issues/1932)

[2021-02-10 15:17] Youssef1313 commented on #960
Ping @mavasani or @Evangelink for closing this already-fixed issue.

[2021-02-10 17:59] vsfeedback opened #4824 "Incorrect CA1508 when variable is captured by local function"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Incorrect-CA1508-when-variable-is-captur/1334856)._

---
[severity:It bothers me. A fix would be nice]
The code analysis reports incorrectly that a variable captured by a local function which is not called directly is always `null`.

[code]

---
### Original Comments

#### Feedback Bot

[2021-02-10 18:15] Evangelink commented on #960
Fixed by #2238 (thanks for the ping)

[2021-02-10 18:15] #960 closed

[2021-02-10 18:23] Evangelink commented on #4131
@mavasani Shall I use `Environment.NewLine` or force the `\n` line ending? I am a bit concerned that we might have some errors with non-windows environments. I guess I could probably start with the `NewLine` and wait to see results of the ubuntu pipeline.

[2021-02-10 18:34] Youssef1313 commented on #4131
@Evangelink The fixer currently appends `Environment.NewLine` (it uses StringBuilder.AppendLine):

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/AnalyzerReleaseTrackingFix.cs#L438

[2021-02-10 18:45] Evangelink commented on #4131
Thanks @Youssef1313! I wrote my comment before looking at the code and then thought it was a stupid question but felt weird to delete my comment afterward.

[2021-02-10 19:14] Youssef1313 commented on #4824
Related to https://github.com/dotnet/roslyn-analyzers/issues/4145 (not sure if it's a dupe or not).

[2021-02-10 19:18] Evangelink commented on #4131
@Youssef1313 do you recall if there was anything else than the header blank line that wasn't covered?

[2021-02-10 19:31] Youssef1313 commented on #4131
@Evangelink I don't. But we'll know when markdownlint is enabled.

[2021-02-10 21:59] Youssef1313 commented on #710
@mavasani Is a fixer applicable to [this rule](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1058)? Can you elaborate more on the expected behavior from the fixer?

[2021-02-10 22:05] buyaa-n commented on #4699
No need, I think @mavasani is looking into this issue, he might give an update when he is ready

[2021-02-10 22:38] dotpaul commented on #4772
Thanks @notnotchris and @Youssef1313! I will work on a fix.

[2021-02-11 15:26] AraHaan opened #4900 "[.NET 5 built in Analyzer] CA1069 False Positive when scanning enum values."
When analyzing the following enum it choked up saying the value is equal to itself and must not be duplicated 😂.

[code]
I usually have this enum inside of an ``NativeMethods`` class for Windows that basically then uses these flags to make a screenshot of the entire monitors (and then try to also screenshot any other monitors it finds and then combine them together).

You should notice it would ei

[2021-02-11 17:42] Evangelink commented on #4823
@dotpaul are we able to track such case with the current dataflow? In my past job we had to implement a more complex flow parsing to handle such cases.

[2021-02-11 17:47] Evangelink commented on #3929
Sorry for the inactivity on this... I think that's definitely worth it, the main question is complexity.

@mavasani @dotpaul I am ready to have a look but the dataflow part is still quite obscur to me so all I can offer is to have a look and report back if I can't make progresses on my own.

[2021-02-11 17:49] Evangelink commented on #4342
Ping @JuanMejiaVelez

[2021-02-11 18:14] dotpaul commented on #3929
@Evangelink Thanks! If you want to take a look, I think a good place to start would be seeing how TaintedDataOperationVisitor.DefaultVisit() handles the compound assignment operation, if at all.

[2021-02-11 18:23] dotpaul commented on #4823
@Evangelink DataFlowOperationVisitor has a VisitInvocation_Lambda method, but TaintedDataOperationVisitor doesn't implement it. I don't remember why not. I'll take a look later if no one else figures it out.

[2021-02-11 19:46] #958 closed

[2021-02-11 19:55] Youssef1313 opened #4833 "Remove unnecessary language-specific implementations"
💡 In might be possible to write this without needing a separate abstract base class/derived classes. If you wanted to try this (which could certainly be a follow-up pull request), you could look at `ExportedPartsShouldHaveImportingConstructorCodeFixProvider.AddImportingConstructorAttributeAsync`.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/4827#discussion_r5

[2021-02-11 21:03] dougbu commented on #3962
@sharwell @mavasani has any progress been made on this issue❔ Needing to copy around a file containing the mentioned line in a repo like dotnet/aspnetcore (where most projects have nullability enabled) is annoying.

[2021-02-11 21:04] dougbu commented on #3963
@sharwell @mavasani has any progress been made on this issue❔

[2021-02-11 22:27] sharwell commented on #3963
The error is correctly reported. `EndpointMetadataCollection.Enumerator` has a public constructor which is [not declared](https://github.com/dotnet/aspnetcore/blob/5923818afcb8ccd4dcb6397992ecace2953de5d9/src/Http/Http.Abstractions/src/PublicAPI.Shipped.txt#L75-L79).

[2021-02-11 22:27] #3963 closed

[2021-02-11 22:51] sharwell opened #4835 "Wrap text in paragraphs"
### Describe the problem you are trying to solve

Text in documentation comments will not render as paragraphs unless `<para>` elements are used.

### Describe suggestions on how to achieve the rule

We can report a diagnostic for cases where a documentation element contains a blank line separating two regions of inline text:

[code]

### Additional context

A code fix would convert the above to t

[2021-02-11 23:47] dougbu commented on #3047
Had an offline conversation w/ @halter73 about this bullet. Unfortunately, the current generated files do not mention explicitly-implemented members of an interface at all. Tracking the implemented interfaces would avoid that problem.

Somewhat separately, removing an implicitly-implemented member and making it explicit or visa versa is a _change_ (which is breaking only in the implicit to explici

[2021-02-12 00:00] dougbu commented on #3901
Would a C# representation also handle forwarded types better (#1192 and #1193)❔

[2021-02-12 00:51] safern commented on #3901
@dougbu that is a good point. I think it could handle forwarded types better indeed.

FYI, I'm driving this effort and just put out a design doc for this: https://github.com/dotnet/designs/pull/177 if you want to take a look

[2021-02-12 01:05] dougbu commented on #3963
Well then the fixer is what's broken because I could find no way to make Visual Studio add the implicit constructor to the API base4line files ☹️ IIRC it _does_ list implicit `class` constructors correctly e.g. https://github.com/dotnet/aspnetcore/blob/main/src/Antiforgery/src/AntiforgeryOptions.cs contains no explicit constructor but it's listed at https://github.com/dotnet/aspnetcore/blob/main/s

[2021-02-12 02:19] JoeRobich opened #4839 "AD0001: ApiDesignGuidelines.CSharpTypesThatOwnDisposableFieldsShouldBeDisposableAnalyzer throws NRE"
### Analyzer

**Diagnostic ID**: [CA1001](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1001): `Types that own disposable fields should be disposable`

### Analyzer source

**NuGet Package**: [Microsoft.CodeQuality.Analyzers](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers)

**Version**: 2.9.8

### Describe the bug

CloudBuild failures were encountered

[2021-02-12 03:43] reduckted opened #4840 "Many analyzers throw ArgumentNullException when compiling VB.NET code"
### Analyzer

**Diagnostic ID**:

* Microsoft.NetCore.Analyzers.Security.ReviewCodeForCommandExecutionVulnerabilities
* Microsoft.NetCore.Analyzers.Security.DoNotHardCodeCertificate
* Microsoft.NetCore.Analyzers.Security.ReviewCodeForXPathInjectionVulnerabilities
* Microsoft.NetCore.Analyzers.Security.ReviewCodeForSqlInjectionVulnerabilities
* Microsoft.NetCore.Analyzers.Security.ReviewCodeForDllI

[2021-02-12 04:02] epsitec commented on #4824
I tried adding this to the `.editorconfig` file at the root of the solution, but I did not see any change with the generated warnings:
[code]

[2021-02-12 05:16] Youssef1313 commented on #4840
The stack trace showing the exception around:

https://github.com/dotnet/roslyn-analyzers/blob/5102a0d89ef178b0ca741634ee006597bf5df2ed/src/Utilities/Compiler/Options/AggregateCategorizedAnalyzerConfigOptions.cs#L110-L122

As far as I understand, the `key` passed to `TryGetValue` (which is `tree`) happens to be `null`. But how could that be if there is a null check above. Confusing :/

[2021-02-12 05:18] Youssef1313 commented on #4835
I've seen some doing:

[code]

Should this warn as well? I'm not sure.

[2021-02-12 06:40] mavasani commented on #4840
Probably worth checking the package version, I think I fixed a similar issue recently.

[2021-02-12 06:42] mavasani commented on #4840
Can you please try latest NuGet package instead of analyzers in the 5.0 SDK?

[2021-02-12 09:51] reduckted commented on #4840
Adding a package reference to `Microsoft.CodeAnalysis.NetAnalyzers` v5.0.3 fixed it. No exceptions were thrown.

In fact, looks like it was fixed in v5.0.1. Installing 5.0.0 caused the exceptions to be thrown, but 5.0.1 worked fine.

[2021-02-12 09:51] #4840 closed

[2021-02-12 20:40] Youssef1313 opened #4842 "CA2016: Forward cancellation token codefix is incorrect"
See https://github.com/dotnet/efcore/issues/22667

cc: @carlossanlop

given a type that contains overloads like this:
[code]

and is called like this:
[code]

## Actual

today CA2016 suggests this as a codefix:
[code]

## Expected

if items at the previous call site was part of a `params` array then the codefix should wrap those elements inside a `new object[]` expression

[code]

an alternative c

[2021-02-12 21:30] jmarolf commented on #4842
We may want to change the analyzer behavior to only fire in situations where we are calling a method with a cancellation token as an optional parameter with a special list of known framework apis where the two method signatures are considered semantically equivalent.

[2021-02-12 21:40] sharwell commented on #4842
I believe the analyzer here is correct. The code fix should be updated to account for the case where the original parameter list is:

[code]

and the new parameter list is:

[code]

[2021-02-12 21:55] jmarolf commented on #4842
I see, we just want to make sure that the codefix does the right thing. I mis-read the issue

[2021-02-12 22:00] Sergio0694 opened #4845 "False positive for RS1024 when creating hash-based collections"
### Analyzer

**Diagnostic ID**: [RS1024](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/rs1024): `Compare symbols correctly`

### Packages

- `Microsoft.CodeAnalysis.CSharp` version 3.8.0
- `Microsoft.CodeAnalysis.Analyzers` version 3.3.2
- Visual Studio 16.9 Preview 4

### Describe the bug

The RS1024 warning is displayed when creating hash-based collections with an `

[2021-02-13 08:03] Youssef1313 commented on #4845
Looks a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/4568 which was fixed by @Evangelink.

@Evangelink Can you confirm please?

[2021-02-13 09:06] Youssef1313 commented on #4845
@Sergio0694 Meanwhile, can you try [3.3.3-beta1.21109.6](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.Analyzers&version=3.3.3-beta1.21109.6&protocolType=NuGet)?

[2021-02-13 12:53] Sergio0694 commented on #4845
I can confirm that using the `3.3.3-beta1.21109.6` version from the Azure feed fixes the issue, thanks! 😄
Closing this then as it was indeed already addressed by #4571.

[2021-02-13 12:53] #4845 closed

[2021-02-13 16:31] Youssef1313 commented on #4842
While this is interesting case to test and make sure it's working, the case meant for EF Core is different.

The old signature is

[code]

and the new is:

[code]

[2021-02-14 06:59] sharwell commented on #1732
@mavasani I encountered the issue above today in the 5.0.3 release. I see pull request #1764 linked to this issue, but that pull request does not address the issue reported here.

[2021-02-14 20:27] gelihu opened #5872 "Unwrap/await await suggestion on async delegagates passed to Task.Factor.StartNew"

[2021-02-14 20:27] Youssef1313 opened #4848 "Should release tracking analyzer work for `DiagnosticSuppressor`s?"
Release tracking analyzer doesn't currently work with `DiagnosticSuppressor`s. Should it?

[2021-02-15 03:50] reduckted opened #4849 "Built-in analyzers are used when EnableNETAnalyzers is true and the Microsoft.CodeAnalysis.NetAnalyzers NuGet package is installed"
### Analyzer

N/A
### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3

### Describe the bug

If you set `EnableNETAnalyzers` to true _and_ install the `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package, the build will report these warnings:

in VB.NET:
[code]

or in C#:
[code]

### St

[2021-02-15 03:56] reduckted commented on #4849
I'm not sure if this is the correct repository for this issue, but hopefully it can be transferred elsewhere if needed.

Am I correct in assuming that if you install the NuGet package, then `EnableNETAnalyzers` doesn't need to be specified? I have some projects that need to target `netstandard2.0` and others that target `net5.0` in the same solution, so I turned on `EnableNETAnalyzers` in a `Direc

[2021-02-15 09:28] Youssef1313 commented on #4849
I think when using the NuGet package, you don't need to set `EnableNETAnalyzers` at all (neither to true nor false).

The docs may be updated to be more clear about that.

Also tagging @mavasani to confirm, and @gewarren for doc update if needed.

[2021-02-16 10:15] Youssef1313 opened #4852 "New rule: Avoid possible dependency confusion in NuGet.config"
### Describe the problem you are trying to solve

See <https://www.msn.com/en-us/money/other/microsoft-warns-enterprises-of-new-dependency-confusion-attack-technique/ar-BB1dynJl>.

Also https://github.com/xamarin/xamarin-android-tools/pull/105

### Describe suggestions on how to achieve the rule

The rule should be capable of reading NuGet.config file, and analyzing it for any possible dependency

[2021-02-16 10:20] Youssef1313 commented on #4852
@dotpaul This vulnerability appears to be *very common*.

[2021-02-16 15:09] #4131 closed

[2021-02-16 15:27] mavasani commented on #4544
[code]

[2021-02-16 15:28] mavasani commented on #4544
@Youssef1313 I think it seems best to skip this test with this issue and avoid CI flakiness.

[2021-02-16 15:51] sharwell commented on #4544
@mavasani This issue should probably be prioritized. I frequently observe incorrect diagnostics in production scenarios, and as best I can tell this test is one of the ones trying to tell us a bug exists.

[2021-02-16 15:54] sharwell commented on #4544
How often is this failing?

[2021-02-16 15:56] Youssef1313 commented on #4544
@sharwell Not much frequent. I hit it 3 or 4 times at max in my PRs.

[2021-02-16 16:02] sharwell commented on #4544
I was originally against disabling this test, but now I've come all the way around the other way. We can delete this test altogether:

* It links to #1671, but this test is not related to that issue
* This test is in a class related to `IDisposable` analysis, but there is no `Dispose` method and no use of `IDisposable`

The test serves no purpose so I'll send a PR to delete it.

[2021-02-16 16:05] Youssef1313 commented on #4544
@sharwell The case should still be forwarded to the compiler team (if it's not already a dupe of dotnet/roslyn#45877)

[2021-02-16 18:54] dotpaul commented on #4852
Thanks @Youssef1313. This isn't an issue that a Roslyn analyzer can catch. Installing NuGet packages happens before compilation.

[2021-02-16 18:54] #4852 closed

[2021-02-16 19:03] #4544 closed

[2021-02-16 19:19] adraut opened #4858 "Even More CA2000 Bugs"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source
**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)
### Describe the bug

CA2000 Being raised when it shouldn't b

[2021-02-16 19:28] adraut opened #4859 "Memory Leak Persists"
![image](https://user-images.githubusercontent.com/6654075/108111248-0ea51700-705a-11eb-8ec9-afb93f86ae40.png)

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

Every build with the analyzers enabled increases memory usage by a few hundred MB.

### Steps To Reproduce

Hav

[2021-02-17 17:35] sharwell commented on #4859
To review this performance feedback, we would need it submitted through the Report a Problem tool in Visual Studio. Here is the reply I give for requesting this performance information:

[2021-02-17 17:35] #4859 closed

[2021-02-17 17:42] mavasani commented on #4848
The feature request looks fine, but we need to figure out the format of the entries in the release tracking files and whether or not we use the same file or different file.

[2021-02-17 17:43] #4839 closed

[2021-02-17 17:43] mavasani commented on #4839
Roslyn issue

[2021-02-17 17:45] mavasani commented on #4835
This rule would be under category "Documentation"

[2021-02-17 17:45] sharwell commented on #4835
@Youssef1313 Seeing that form in pull requests was the final straw that led me to create this proposal. 😅

[2021-02-17 17:47] mavasani commented on #4833
Should create a new label "Continuous-Improvement"

[2021-02-17 17:52] Youssef1313 commented on #4833
Yeah feels more appropriate than Area-Infrastructure.

[2021-02-17 17:54] mavasani commented on #4095
Tagging @jmarolf - is porting vs-threading analyzers on your radar?

[2021-02-17 17:55] jmarolf commented on #4095
There are some vs-threading analyzers that are more universal that I am on-board with porting. I'll take a look thanks @mavasani

[2021-02-17 20:39] drewnoakes opened #4865 "Detect unused RESX resource file entries"
### Describe the problem you are trying to solve

Over time, a project can accrete a large number of unused RESX resource entries (e.g. strings). If the project is localised into several languages, these strings add avoidable file size to DLLs in which they are embedded.

Today you have to perform this analysis manually, which is repetitive and error prone. It's the perfect job for an analyzer.

#

[2021-02-18 01:17] genlu commented on #4824
@epsitec adding "ContextSensitive" to editorconfig should change the diangostic from `'x is null' is always 'true'` to `'x is null' is always 'false'`. Closed as duplication.

[2021-02-18 01:17] #4824 closed

[2021-02-18 02:47] jiangzeng01 commented on #4784
Sorry for the delay, I'm just back from holidays.
Here are the bin logs run with `dotnet msbuild /bl /t:rebuild`:
[msbuild-NET5.zip](https://github.com/dotnet/roslyn-analyzers/files/5999892/msbuild-NET5.zip)
[msbuild-NET6.zip](https://github.com/dotnet/roslyn-analyzers/files/5999893/msbuild-NET6.zip)

[2021-02-18 06:20] epsitec commented on #4824
@genlu but event `'is is null' is always 'false'` would be an incorrect warning, since the code does not know what will happen (i.e. if the `Local()` function gets called or not). I feel that this issue should not have been closed.

[2021-02-18 14:24] IIARROWS opened #4869 "CA1816 (Call GC.SuppressFinalize correctly) should not be reported when called inside IAsyncDisposable.DisposeAsync()"
### Analyzer

**Diagnostic ID**: [CA1816](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1816)

### Describe the improvement

This rule shouldn't be caused when `GC.SuppressFinalize` is called inside an implementation of `IAsyncDisposable.DisposeAsync` as it's part of the pattern as described here: https://docs.microsoft.com/dotnet/standard/garbage-collection/implemen

[2021-02-18 19:17] genlu commented on #4824
@epsitec Not sure I'm following. `Test.MaybeCall (Local)` would always invoke `Local`, based on its definition, right?

[code]

[2021-02-18 20:19] Youssef1313 commented on #4869
This was supposed to be fixed with https://github.com/dotnet/roslyn-analyzers/pull/3679.

@IIARROWS Can you provide a minimal repro? and are you using the old deprecated FxCopAnalyzers, or the new NetAnalyzers package? and which version?

[2021-02-18 20:31] IIARROWS commented on #4869
I... don't know.
I'm using VS 2019 16.9.0 Preview 4, targeting .NET 5 in a Blazor WebAssembly project.
I don't have any idea how should I check what version I'm using.

[2021-02-18 22:29] jmarolf commented on #4784
all right, this is the PR that caused the change in behavior: https://github.com/dotnet/roslyn/pull/48781 moving to roslyn repo

[2021-02-19 02:27] #4413 closed

[2021-02-19 05:54] #4749 closed

[2021-02-19 19:26] DavidBoike opened #4870 "CA2016: Code fix removes generic type parameter from message"
### Analyzer

**Diagnostic ID**: [CA2016](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2016): Forward the CancellationToken parameter to methods that take one

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.103](https://dotnet.microso

[2021-02-19 23:39] masisley opened #4871 "Regular expressions should always be created with timeouts"
Developers on our team sometimes create new regular expressions without timeouts. These have caused several live site incidents where heavy cpu usage occurred.

Developers should not be able to use certain constructors of the Regex class unless they include a timeout parameter:

Bad: var r = new System.Text.RegularExpressions.Regex(".*");
var r = new System.Text.RegularExpressions.Regex(".*", Syst

[2021-02-20 05:27] MelbourneDeveloper opened #4873 "Can't Compile Because of CLSCompliant"
![image](https://user-images.githubusercontent.com/16697547/108584805-408ae600-7398-11eb-85c5-036c72ec64db.png)

### Analyzer

CA1014

### Analyzer source

Microsoft.CodeAnalysis.NetAnalyzers

**Version**: 5.0.

### Describe the bug

I can't compile.

### Steps To Reproduce

Clone this repo:
https://github.com/MelbourneDeveloper/Trezor.Net

Switch branch to : UpgradeDevice.Net

Reset to commit: 2e

[2021-02-20 07:37] Youssef1313 commented on #4873
In `CodeRules.ruleset`, you set `<Rule Id="CA1014" Action="Warning" />`, and you're treating warnings as errors. I suggest you completely delete the ruleset, and rely on either editorconfig or globalconfig

[2021-02-20 07:39] Youssef1313 commented on #4871
I think analyzers for .NET API usage should be reviewed in dotnet/runtime first.

@stephentoub @mavasani Can any of you move the issue?

[2021-02-20 10:19] Youssef1313 commented on #4869
Using the following code from the article you're referring to, I don't get a warning from CA1816:

[code]

@IIARROWS Does the code above generate a warning for you? If it doesn't, can you post a code that generates the warning?

[2021-02-20 10:22] Youssef1313 commented on #4869
@IIARROWS Ignore my above comment, I was using a preview version of the SDK which have this problem solved. You'll need to use the NuGet package instead of analyzers from the SDK until the fix flows into the SDK.

@mavasani What's the next version of SDK that will have the fix?

[2021-02-20 11:20] bjornhellander opened #4874 "Add new rule for detecting implementations of GetHashCode that uses mutable data"
### Describe the problem you are trying to solve

GetHashCode is typically implemented when having a collection of objects and the collection is implemented as a hash table. If some members of those objects can be changed and those members are used in GetHashCode(), then unpredictable things will happen if the object is modified after adding it to a collection. Informing developers of this potenti

[2021-02-20 11:24] bjornhellander commented on #4874
I am willing to help, if you think this would be good rule

[2021-02-20 18:09] Evangelink opened #4875 "CA2250: Add support for VB.NET"
### Analyzer

**Diagnostic ID**: [CA2250](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2250)

### Describe the improvement

Implement VB.NET counterpart.

[2021-02-21 03:29] drewnoakes commented on #4874
I believe this would be a useful contribution. Personally, if I'm ever using a changeable value in the computation of a hash function, I'd like to be warned about it.

[2021-02-21 09:14] Evangelink commented on #4873
As stated by @Youssef1313 the behavior is `undefined` when both `ruleset` and `.editorconfig` files are set.

@MelbourneDeveloper Could you please move to use only one and confirm the issue is fixed?

[2021-02-21 09:27] MelbourneDeveloper commented on #4873
I've deleted the ruleset file. I didn't realise it was there. It does compile, but then again, this turns out to have been an intermittent problem so it's not a confirmation that the issue was fixed.

I suggest that the code analysers should fail if both ruleset and editor config files are supplied.

[2021-02-21 21:48] stephentoub commented on #4479
Closing per discussion in [New rule] Catch that foreach will throw InvalidCastException dotnet/runtime#48529

[2021-02-22 08:18] JohanLarsson opened #4879 "DisposeObjectBeforeLosingScope slows down build"
### Analyzer

`DisposeObjectBeforeLosingScope`

### Analyzer source

[code]

### Describe the bug

![image](https://user-images.githubusercontent.com/1640096/108672809-f6fae200-74e2-11eb-8a46-be82c201d136.png)

Small project, should build in less than a second.

Repro code https://github.com/DotNetAnalyzers/IDisposableAnalyzers/tree/678da217331847a96277a2a8f7f6235ca0e85b03

[2021-02-22 12:31] eskye commented on #4870
I will like to work on this issue

[2021-02-22 19:23] #443 closed

[2021-02-22 19:31] #4772 closed

[2021-02-22 20:17] Evangelink commented on #4873
I will close this issue but feel free to reopen this or create a new issue if the problem isn't actually fixed.

Yeah, it would totally make sense. Just wondering if we can detect that the `.editorconfig` contains rule related entries to avoid reporting only when detecting the file. @mavasani Are you ok with having such analyzer? Shall it be on roslyn's side?

[2021-02-22 20:17] #4873 closed

[2021-02-22 20:58] sharwell commented on #4879
Pull request #4863 is the first big fix for this analyzer

[2021-02-22 22:25] SergeyTeplyakov opened #4883 "CA2000 should be emitted if the result of CancellationToken.Register is not disposed"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000):

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

Event though the result of `CancellationToken.Register` is a disposable struct the CA2000 rule does not emit a diagnostic in the following case:

[code]

I noticed that in #

[2021-02-22 22:56] SergeyTeplyakov opened #4885 "Should CA2000 warn about lack of dispose if the code may throw?"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000)

### Describe the improvement
This is more like a case to consider rather than an improvement per se but still, I think it may be valuable to discuss this.

So, "Dispose objects before losing the scope" analyzer is quite fancy, it uses cross-procedure analysis to make the ru

[2021-02-22 23:34] j0shuams opened #4886 "[Question] How to pass AnalyzerConfigOptions when unit testing"
When working on a component of a SourceGenerator, I was writing unit tests to check for diagnostics getting raised on the compilation context created by a source code string. We have a downstream check that [checks a compilation's AnalyzerConfigOptions](https://github.com/microsoft/CsWinRT/blob/173a21e15155e5c7778d44a45829cf14a1d7ff55/src/Authoring/WinRT.SourceGenerator/Helper.cs#L54) for a specif

[2021-02-22 23:47] jmarolf commented on #4886
I would recommend using Microsoft.CodeAnalysis.Testing from [here](https://github.com/dotnet/roslyn-sdk/blob/master/src/Microsoft.CodeAnalysis.Testing/README.md). There should be properties on the ProjectState or SolutionState to add your own custom AnalyzerConfigOptions @sharwell is that correct?

[2021-02-23 00:14] CyrusNajmabadi opened #4888 "ConfigureAwait analzyer needs to be updated for IAsyncDisposable"
Found in https://github.com/dotnet/roslyn/pull/51328

The appropriate pattern for IAsyncDisposable (with ConfigureAwait) is to do the following:

[code]

Note the *two* `.ConfigureAwait(false)` calls.  One on the Task to get the IAsyncDisposable instance, then one on the IAsyncDisposable in the `using` statement to get an appropriate configured awaiter for the `DisposeAsync()` call.

Right now, yo

[2021-02-23 11:35] Youssef1313 commented on #4886
@jmarolf Does the testing library work for source generators? I thought it didn't.

[2021-02-23 11:38] Youssef1313 commented on #4875
@Evangelink The analyzer was dropped per https://github.com/dotnet/roslyn-analyzers/pull/4868#issuecomment-782933140, so this can be closed.

[2021-02-23 14:51] sharwell commented on #4886
It wasn't correct, but I just added support in https://github.com/dotnet/roslyn-sdk/pull/734.

@Youssef1313 Yes, you can use [https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-tools&package=Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing.XUnit&protocolType=NuGet&version=1.0.1-beta1.21117.2](Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing.XUnit) (or equivalent for

[2021-02-23 20:29] sylveon opened #4891 "Suggest using "await using" when possible"
**Brief description:**

Currently, when a type that can be asynchronously disposed is synchronously disposed in an async method, no warning is emitted. A warning here would be helpful, and ReSharper already has this feature

**Languages applicable:**

C# only, as `await using` doesn't seem to be a thing in VB

**Code example that the analyzer should report:**

[code]

**Documentation requirements:

[2021-02-23 21:25] sharwell opened #4893 "WellKnownTypeProvider.TryGetOrCreateTypeByMetadataName allocates even when already cached"
`WellKnownTypeProvider.TryGetOrCreateTypeByMetadataName` creates a capturing delegate every time the method is called, even if the delegate is not used (value was already cached).

[2021-02-24 08:13] Youssef1313 commented on #746
@mavasani The linked roslyn issue is now fixed. The issue can be addressed once you move to a version containing the new API.

[2021-02-24 10:36] #4875 closed

[2021-02-24 17:01] DenisLaky commented on #4456
@chsienki Issue appears when adds the Microsoft.CodeAnalysis.NetAnalyzers package. Is this the expected behaviour?

[2021-02-24 17:31] chsienki commented on #4456
@DenisLaky Yes, it occurs with any non SDK project that references a package that requests msbuild data.

The package you mention is known to request it, so will create the file on earlier builds of roslyn that don't have the fix.

[2021-02-24 19:30] DenisLaky commented on #4456
@chsienki Thank you, Is it safe to disable autogeneration via  GenerateMSBuildEditorConfigFile parameter ?

`<GenerateMSBuildEditorConfigFile>false</GenerateMSBuildEditorConfigFile>
`

[2021-02-25 06:01] vatsalyaagrawal commented on #3133
Duplicate #3946

[2021-02-25 06:01] #3133 closed

[2021-02-25 06:02] PathogenDavid opened #4899 "Rule suggestion: Warn if a using declaration is followed immediately by a loose block"
This rule is inspired by a dumb mistake I made recently that I thought might make a good candidate for an analyzer.

### Describe the problem you are trying to solve

At a glance, the following (semi-contrived) example looks correct and sensible. The intent is that the `StreamWriter` is disposed on the line marked with `<--`.

[code]

However, the author accidentally used a [using declaration](htt

[2021-02-25 06:02] vatsalyaagrawal commented on #4898
Duplicate #3946

[2021-02-25 06:02] #4898 closed

[2021-02-25 10:17] Youssef1313 commented on #4899
I remember doing a similar mistake that wasn't in a `using` (but mine was more obvious). Does it make sense to have a more generalized approach for such analyzer (but shouldn't be *too* general)

[code]

[2021-02-25 11:19] PathogenDavid commented on #4899
@Youssef1313 That actually made me think of a situation where my original problem code might come up legitimately. It's a semi-common pattern in my own code to use a block for non-trivial initialization of an object. ([Random example of my own here](https://github.com/InfectedLibraries/Biohazrd/blob/333eb67e7302ec67ce70708d9e4cd15a47febd7e/Biohazrd/TranslatedLibraryConstantEvaluator.cs#L277-L278))

[2021-02-25 11:37] Youssef1313 commented on #4899
In these cases I think it's clearer to leave an empty line before the opening brace. This should satisfy the analyzer, keep the intentional braces as them, and also make the code more clear.

[2021-02-25 13:35] notnotchris commented on #4772
@dotpaul when will your fix be released? Is it available in the latest preview release?

[2021-02-25 16:16] #4893 closed

[2021-02-25 17:35] mavasani commented on #4891
This would be part of the threading/async/await analyzer bucket, that @jmarolf is looking at porting from vs-threading.

[2021-02-25 17:39] mavasani commented on #4883
We need to add to the set of factory methods/special methods whose return values are tracked by dispose analysis.

[2021-02-25 17:41] SergeyTeplyakov commented on #4883
Thanks a lot, @mavasani for looking into this.

[2021-02-25 17:42] mavasani commented on #4870
@eskye Feel free to pick it up. @carlossanlop can guide you if you need any help.

[2021-02-25 17:45] mavasani commented on #4869
It should be in .NET 6.0 SDK

[2021-02-25 17:49] mavasani commented on #4865
Tagging @Evangelink @Youssef1313, I recall that you guys were interested in implementing this one.

[2021-02-25 17:51] mavasani commented on #4849
This is by design. `EnableNETAnalyzers` is to enable the built-in analyzers and should not be used when installing the NuGet package. We should update the docs to clarify this. I'll port it to docs repo for @gewarren

[2021-02-25 18:03] mavasani commented on #4025
3 options here:
1. By design: User should add source suppression for each type used as generic argument to such special methods
2. Conservative: Do not report for any type used as a generic type argument anywhere. This seems to have too many false positives, so lets not do this.
3. Configuration: Add an editorconfig option to specify special methods or types whose generic type arguments are instan

[2021-02-25 18:05] mavasani commented on #4025
@genlu suggested a potential 4th option: Use a special attribute that can be applied to type/method to mark this semantics.

[2021-02-25 18:37] Thieum commented on #3860
The same pattern triggers a false positive with strings:

[code]

[2021-02-26 02:17] meziantou commented on #4025
Would it make sense to use the `DynamicallyAccessedMembers` attribute? Most methods from the framework are already annotated. For instance, `Deserialize` is annotated with `PublicProperties | PublicFields | PublicConstructors` ([source](https://github.com/dotnet/runtime/blob/c1a21a031925ce6261fadcfed26e098ab1bf46a6/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Re

[2021-02-26 05:22] Youssef1313 commented on #4865
Note: This may need to also work with #4897.
I'm not aware if there is a way to analyze source generator output.

[2021-02-26 12:10] Youssef1313 commented on #4859
@sharwell This will (most likely) be in the data flow analysis.

For example the following `GetExitBlockOutputData`:

https://github.com/dotnet/roslyn-analyzers/blob/2741c0a80528b1d022aab53643c37235371eec89/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs#L2259

I think in most cases (if not all), the method returns IDisposable, but as this is a non-constraint

[2021-02-26 12:18] sharwell commented on #4859
This is typically fine. Correctly written types will not leak in the steady state (over time) whether or not they are disposed.

The information requested above will immediately reveal the source of the retained data through parallel GC root analysis.

[2021-02-26 15:46] adraut commented on #4885
Looks related to what I reported in #4858.

[2021-02-26 16:00] eskye commented on #4870
Okay, thanks. I think I'll surely need a guide @carlossanlop

[2021-02-26 22:49] sharwell opened #4905 "Heavy allocations in AbstractCategorizedAnalyzerConfigOptions.TryGetOptionValue"
Performance trace reveals heavy allocations in `AbstractCategorizedAnalyzerConfigOptions.TryGetOptionValue`, centered around two things that occur on the fast path:

1. String concatenation for the key
2. Capturing the parameters

[2021-03-01 06:33] cfindlayvcs opened #4910 "Solution Wide Fixes Only Work Every Second Time"
### Analyzer

Any

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

### Describe the bug

The first solution wide fix often doesn't work. I usually need to apply fixes twice.

![image](https://user-images.githubusercontent.com/73087164/109459966-f13d6780-7ab3-11eb-9ac7-8f0b4e623e1a.png)

I wait to app

[2021-03-01 07:19] Youssef1313 commented on #4910
Is this a roslyn issue?

cc @CyrusNajmabadi @mavasani

[2021-03-01 07:20] Youssef1313 commented on #4910
It may be related to https://github.com/dotnet/roslyn/issues/23558#issuecomment-352963323, but not sure.

[2021-03-01 12:50] jmarolf commented on #4910
@cfindlayvcs which version of Microsoft.CodeAnalysis.NetAnalyzers are you using? Also what were you trying to run fix-all for?

[2021-03-01 14:04] eskye commented on #4870
@carlossanlop Please I need help.

[2021-03-01 17:22] sharwell commented on #4910
This is almost certainly related to the fact that code fixes _silently_ fail to apply if any other change to the workspace occurs between the time the fix is started and the the time it completes application.

[2021-03-01 18:35] vsfeedback opened #4912 "Incorrect CA1508 in using block"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Incorrect-CA1508-in-using-block/1350676)._

---
[severity:It bothers me. A fix would be nice] [regression] [worked-in:16.9.0 Preview 5.0]
Since upgrading to Visual Studio 16.9.0 Preview 5.0 I am getting warnings (CA1508) which just don't make sense to me:

! [image.png] (https://aka.ms/d

[2021-03-01 18:36] mavasani commented on #4912
Likely a duplicate

[2021-03-01 22:45] DavidBoike commented on #4870
@eskye What do you need help with exactly? I have some analyzer/fixer experience and reported the bug thinking maybe soon I'd have time to look at it myself, but of course I haven't. :wink: The fixer itself is [implemented here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/ForwardCancellationTokenToInvocations.Fixer.cs) but looks

[2021-03-02 00:27] cfindlayvcs commented on #4910
@jmarolf

5.0.3

The problem happens with all fixes. Anything from removing unused usings to use pattern matching etc.

[2021-03-02 06:44] Youssef1313 commented on #4912
This was fixed in the NuGet package but probably didn't yet ship with the SDK.

[2021-03-02 07:37] Youssef1313 commented on #4910
I don't think these come from NetAnalyzers package. These are roslyn's diagnostics (i.e IDExxxx not CAxxxx).

@sharwell Is there a tracking issue in dotnet/roslyn for this?

[2021-03-02 07:42] sharwell commented on #4910
I wasn't able to find one. It could be very old; this behavior goes back to VS 2015 and occurs just like described above.

[2021-03-02 16:32] sharwell opened #4914 "Improve performance of CA1508 (AvoidDeadConditionalCode)"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**Version**: 5.0.4-preview1.21126.5

### Describe the bug

CA1508 has been disabled in dotnet/roslyn-analyzers due to its pronounced impact on build times. The underlying performance issue(s) should be investigated and res

[2021-03-02 16:34] sharwell opened #4915 "Improve performance of CA2000 (DisposeObjectsBeforeLosingScope)"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**Version**: 5.0.4-preview1.21126.5

### Describe the bug

CA2000 has been disabled in dotnet/roslyn-analyzers due to its pronounced impact on build times. The underlying performance issue(s) should be investigated

[2021-03-02 17:22] Youssef1313 commented on #4915
This analyzer had performance performance improvements in the past.
See https://github.com/dotnet/roslyn-analyzers/issues/3738

[2021-03-02 18:53] sharwell commented on #4915
The observations that led to this issue were based on a commit from just a few days ago.

[2021-03-02 18:57] Youssef1313 commented on #4915
Yep I didn't mean this was fixed. But noting a *similar* issue just for reference.

[2021-03-02 19:35] #4823 closed

[2021-03-03 01:49] jmarolf opened #4916 "CodeAnalysisTreatWarningsAsErrors broken in .NET 6 preview 2"
**Version**: [SDK 6.0.100-preview.2.21127.3](\\vsufile\patches\sign\NET\CORE_BUILDS\6.0.X\6.0.0-preview.2\6.0.100-preview.2.21127.3\signed\shipping\assets\Sdk\6.0.100-preview.2.21127.3\dotnet-sdk-6.0.100-preview.2.21127.3-win-arm64.exe) (internal only link)

### Describe the bug

The following property is no longer respected in Visual Studio
[code]

### Steps To Reproduce

1. create a new console

[2021-03-03 07:04] SebastianSchumann opened #4918 "CA1002 (Do not expose generic lists) reported on extension method (16.9.0)"
**Version Used**: VS2019 16.9.0 (16.8.6 was working corretly)

**Steps to Reproduce**:

    public static List<T> ToList<T>(this IEnumerable<T> source, int listCapacity)
    {
        var result = new List<T>(listCapacity);
        result.AddRange(source);
        return result;
    }

**Expected Behavior**: CA1002 should not be reported because there is no exposed list. First of all that is a met

[2021-03-03 11:49] Youssef1313 commented on #4916
@jmarolf The binlog of preview 2 shows that CA2014 is correctly specified in WarningsNotAsErrors:

![image](https://user-images.githubusercontent.com/31348972/109801344-038be280-7c27-11eb-9f74-1c8129cddebf.png)

Isn't the rest of work part of roslyn?

[2021-03-03 12:43] JohanLarsson opened #4917 "CS8033: The assembly Analyzers.dll does not contain any analyzers."
Should not warn for https://github.com/GuOrg/Gu.Analyzers/tree/f25670f14ee5046b76cb2941bba4aff90cdb7257

[2021-03-03 13:14] JohanLarsson commented on #4917
Where do I find the category?

I think `[assembly: SuppressMessage("??", "CS8033", Justification = "Analyzer getting it wrong.")]` is my best bet.

Adding `dotnet_diagnostic.CS8033.severity = none` to `.editorconfig` does nothing.
`<NoWarn>$(NoWarn);CS8033</NoWarn>` causes suppressions in `.gitignore` to be ignored.

[2021-03-03 16:14] Youssef1313 commented on #4659
@Evangelink VS 2019 16.9 is released.

[2021-03-03 16:20] JohanLarsson commented on #4917
Did some digging:

No warning
[code]

Warning:
[code]

[2021-03-03 16:27] emmisberger opened #4920 "dotnet build doesn't terminate in 5.0.200, same code compiles in previous version."
**Version Used**: 5.0.200

**Steps to Reproduce**:

1.  Create an empty C# project (dotnet new console)
2.  Run ` dotnet add package Microsoft.Win32.Registry`
3.  Replace Program.cs with the following code:
[code]

**Expected Behavior**:
`dotnet build` compiles the project

**Actual Behavior**:
`dotnet build` hangs indefinitely.

[2021-03-03 16:39] jaredpar commented on #4920
This looks to be handing in the platform compatibility analyzer. Confirmed that disabling analyzers causes the build to succeed.

It's possible that there is a bug in the underlying data flow APIs that is the root here. If so please kick back to compilers.

@mavasani, @jmarolf, @sharwell

[2021-03-03 16:58] sharwell commented on #4920
What version of the compiler is included with 5.0.200? I'm not able to reproduce this in the Platform Compatibility Analyzer tests with either 3.8.0 or 3.9.0.

[2021-03-03 16:59] sharwell commented on #4920
Here's the test I wrote:

[code]

[2021-03-03 17:01] mavasani commented on #4920
Tagging @buyaa-n as well in case she is aware of this issue or a fix that was done.

[2021-03-03 17:04] emmisberger commented on #4920
@sharwell `dotnet csc.dll -v` shows me the following:
Microsoft (R) Visual C# Compiler version 3.9.0-5.21120.8 (accdcb77)

[2021-03-03 17:06] jaredpar commented on #4920
Here is the project file that I'm using + the global.json

[code]

[code]

Confirmed that this does use 5.0.200 on my machine

[code]

[2021-03-03 17:11] Youssef1313 commented on #4917
Should this be moved to roslyn? @mavasani @jaredpar

[2021-03-03 17:57] buyaa-n commented on #4920
Hm, I was not aware of this issue, i can repro with a sample console app. There is something related to `Registry.GetValue("""", """", null) != null` condition, if I use any other condition it builds just fine

[2021-03-03 18:22] mavasani commented on #4916
Interesting, no repro with 6.0.100-preview.1.21102.7. Let me try with latest

[2021-03-03 18:22] mavasani commented on #4916
Extremely likely this is a regression in the compiler...

[2021-03-03 19:24] sharwell commented on #4920
I wasn't able to reproduce this on 3.8.0, 3.9.0-5.final, or 3.9.0. I'm going to submit a regression test. I'm guessing one of the following occurred:

1. The non-termination was in a different analyzer than PlatformCompatibilityAnalyzer
1. This was fixed in the analyzers since the last time it was inserted for the .NET 5.0 SDK
1. There is a difference in the value for `build_property._SupportedPla

[2021-03-03 19:25] sharwell commented on #4920
@jaredpar Can you add a copy of the **.globalconfig** produced during your test build above?

[2021-03-03 19:27] sharwell commented on #4920
Oh, I was finally able to reproduce this by changing the **.globalconfig**.

[2021-03-04 00:23] buyaa-n commented on #4920
Thanks, @sharwell i was able to repro with a similar unit test, it is a very strange edge case, if remove the guard method it builds just fine
[code]
If remove any of the blocks inside it also builds (loop or try catch or if condition)
[code]
When debug the flow analysis result is not returning, seems flow analysis bug

[2021-03-04 00:27] buyaa-n commented on #4920
After debugging, it is happening in PlatformCompatibilityAnalyzer, doesn't seem fixed as i used the latest from master

[2021-03-04 00:37] sharwell commented on #4920
@buyaa-n Yeah that comment was outdated. Once I fixed the **.globalconfig** file I was able to reproduce this and submitted #4923 with the test.

Yes, I also commented today to @mavasani that we need analyzer callbacks for AnalyzerConfig documents in the compiler. Too many cases where lines get silently ignored due problems that could be easily detected and reported by analyzers.

[2021-03-04 00:38] sharwell commented on #4920
The test is now merged. The issue is not fixed, but writing the test is tricky so this will hopefully same someone time when they go to investigate this.

[2021-03-04 00:47] buyaa-n commented on #4920
@sharwell got it, thanks for the tests

[2021-03-04 04:22] jaredpar commented on #4920
Seen at least two instances of this bug pretty much immediately after release. This seems very likely to need to go through servicing.

[2021-03-04 05:34] Youssef1313 commented on #4920
In `DataFlowOperationVisitor` I see the test stuck at `VisitInvocation`. It's called, and finishes executing, then called again, then called again, etc.

[2021-03-04 05:51] Youssef1313 commented on #4920
And finally, here is the infinite loop:

https://github.com/dotnet/roslyn-analyzers/blob/3fb878177fb161344a57784957485450544e0f84/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowAnalysis.cs#L197

[2021-03-04 14:23] nickwhaley commented on #4920
Worth looking at duplicate dotnet/roslyn#51652 . It fails in older versions also, but with a warning instead of a lockup. In case that helps diagnosis:

`Warning AD0001 Analyzer 'Microsoft.NetCore.Analyzers.InteropServices.PlatformCompatibilityAnalyzer' threw an exception of type 'System.ArgumentException' with message 'An element with the same key but a different value already exists. Key: 'Micro

[2021-03-04 17:37] mavasani commented on #4918
The rule is behaving by design, but is disabled by default as we want to change the design of this rule. We suggest you disable this rule for now.

[2021-03-04 17:37] #4918 closed

[2021-03-04 17:40] mavasani commented on #4912
Can you please verify the fix by adding a NuGet Package reference to latest Microsoft.CodeAnalysis.NetAnalyzers NuGet package?

[2021-03-04 17:44] mavasani commented on #4899
We agree with @Youssef1313's [suggestion](https://github.com/dotnet/roslyn-analyzers/issues/4899#issuecomment-785832011) is the preferred approach. We should create a new rule in Roslyn repo for block should be preceded by a blank line.

[2021-03-04 17:44] #4899 closed

[2021-03-04 17:48] mavasani commented on #4900
Tag @Evangelink

[2021-03-04 17:53] mavasani commented on #3957
Closing this out in favor of individual issues.

[2021-03-04 17:53] #3957 closed

[2021-03-04 17:55] mavasani commented on #3947
Moving to @jmarolf as part of porting vs-threading analyzers to this repo.

[2021-03-04 18:06] Youssef1313 commented on #4899
Opened #51668 in Roslyn.

[2021-03-04 20:43] buyaa-n commented on #4015
Solved with https://github.com/dotnet/roslyn-analyzers/pull/4838

[2021-03-04 20:43] #4015 closed

[2021-03-04 21:30] jcouv commented on #3962
The current behavior is expected. You should either suppress RS0037 (indicating that you don't want to annotate the publicAPI files) or add `#nullable enable`.

It should be possible to treat the "empty file" scenario differently than later increments. Some options:
1. if the publicAPI files are empty, add `#nullable enable` in addition to the APIs
2. do (1), but only if the assembly makes any use

[2021-03-05 07:15] Youssef1313 commented on #3721
@Evangelink The repo has moved to main today. We can close this :tada:

[2021-03-05 07:19] #3721 closed

[2021-03-05 07:29] Youssef1313 commented on #4916
@mavasani Should this move to roslyn then?

[2021-03-05 09:19] Evangelink commented on #3721
Congratz to the team(s)!

[2021-03-05 10:12] mavasani commented on #4920
I have a fix for this issue: https://github.com/dotnet/roslyn-analyzers/pull/4928

@jaredpar @terrajobst @jeffhandley @vatsalyaagrawal would this be a candidate for .NET5 servicing fix?

[2021-03-05 10:56] mavasani commented on #4916
@jmarolf I was able to find a fix for the issue, but I am not sure why/how this is a reliable fix. The scenario works fine if I remove the `BeforeTargets=""CoreCompile""` from https://github.com/dotnet/roslyn-analyzers/blob/9e5f533cbafcc5579e4d758bc9bde27b7611ca54/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs#L1506-L1515

You can try this out locally by editing `C:\Program Files\dotnet\

[2021-03-05 14:54] jaredpar commented on #4920
There were two reports within the first few days of the SDK being released which speaks a bit about impact to me.

How corner case is the scenario though? It's hard to tell from the bug. If it's decently mainstream I'd vote for pushing through servicing at this point.

[2021-03-05 16:17] mavasani commented on #4920
Apparently my fix does not fix the second hang: https://github.com/dotnet/roslyn/issues/51652. I'll continue investigating.

Both cases are when there are platform guard checks inside/outside a loop with a try/catch inside a loop.

[2021-03-05 22:51] #4802 closed

[2021-03-06 22:54] mavasani commented on #4920
Latest commit https://github.com/dotnet/roslyn-analyzers/pull/4928/commits/44fb5c42eaa4e75901c15175aa2175cb5c78d9f6 for https://github.com/dotnet/roslyn-analyzers/pull/4928 fixes dotnet/roslyn#51652.

[2021-03-08 18:52] bgavrilMS opened #4932 "How to fix CA1416 for net5-windows10.0.17763.0 ?"
### Analyzer

**Diagnostic ID**:  CA1416

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 5.0.200-preview.21077.7

### Describe the bug

In my library I have
[code]
A calling app does :

[code]

### Expected behavior
no CA1416 warning in app

### Actual behavior
warning

## Additio

[2021-03-08 19:10] bgavrilMS opened #4933 "CA1416 emits warnings for internal code"
### Analyzer

**Diagnostic ID**: CA1416

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 5.0.200

### Repro

[code]
[code]

Expected: no warning since code is internal.
Actual: CA1416 warning

Note: We (MSAL.NET) does not maintain internal API surface and change it frequently.

[2021-03-08 22:03] jmarolf commented on #4916
I ran msbuild /pp on the project file and I admit I am a little confused.

There are our properties in the project file:
[code]

Then we set the `WarningsNotAsErrors` property twice

`C:\Program Files\dotnet\sdk\6.0.100-preview.2.21127.3\Sdks\Microsoft.NET.Sdk\analyzers\build\Microsoft.CodeAnalysis.NetAnalyzers.props`
[code]

`C:\Program Files\dotnet\sdk\6.0.100-preview.2.21127.3\Sdks\Microsoft.NE

[2021-03-09 00:45] twsouthwick commented on #4461
I'm still seeing this with the 5.0.200 release of the SDK

[2021-03-09 02:29] #4920 closed

[2021-03-09 07:24] eskye commented on #4870
@DavidBoike Thank you for taking the time to explain. I've checked the files you shared, but I still can't relate exactly to what I need to do. but I'll be glad if you can further walk through it with me.

[2021-03-09 08:43] RowlandShaw opened #4935 "Do not flag for CA1056 on members decorated as `[DataMember]`"
### Analyzer

**Diagnostic ID**: [CA1056](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1056)

### Describe the improvement

Do not flag for CA1056 on members decorated as `[DataMember]`

### Describe suggestions on how to achieve the rule

Some rules, including [CA2227](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2227)', will n

[2021-03-09 14:22] Crono1981 opened #4936 "False positive with CA1508 and IEnumerator<T>.Current"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe

[2021-03-09 16:23] loraderon commented on #4755
I noticed that I had to use `<AnalysisLevel>5.0.3</AnalysisLevel>` since it fails with both `<AnalysisLevel>5.0</AnalysisLevel>` and `<AnalysisLevel>latest</AnalysisLevel>`

[2021-03-09 16:29] loraderon commented on #4506
After experiencing the issue reported in #4755 I noticed that you can force a newer version using `<AnalysisLevel>5.0.3</AnalysisLevel>`.

`<AnalysisLevel>latest</AnalysisLevel>` **does not** use the latest released version.

[2021-03-09 16:34] carlossanlop commented on #4870
@eskye how familiar are you with writing Roslyn analyzers? Have you followed the [official tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix)?

This bug is in the fixer code. The fixer takes all the original symbol reported by the diagnostic, makes the necessary changes to it, and then replaces the symbol with the updated one.

The

[2021-03-09 17:48] genlu commented on #3740
Tag @Evangelink in case you are still interested

[2021-03-09 17:52] sharwell commented on #3703
`IAsyncDisposable` support was filed separately as #4888 and fixed in #4896

[2021-03-09 17:59] sharwell commented on #3688
I was not able to reproduce this error. The code fix added parentheses for me.

[2021-03-09 17:59] #3688 closed

[2021-03-10 08:43] Youssef1313 commented on #4933
@buyaa-n Can you take a look whether this is indeed a false positive or not?

[2021-03-10 16:24] billybraga commented on #4397
How can we be alerted when this is released ? It's included in roslyn-analyzers 5.0.3, but .NET SDK 5.0.201 (most recent) ships with version 5.0.2 of roslyn-analyzers.

[2021-03-10 19:24] buyaa-n commented on #4933
Not sure what you meant by internal and why you think it should not warn, JFYI: platform compatibility warning not depend on API surface level

I guess you meant the project is targeting windows 10 but supports windows 7 and above, so calling windows only `Foo()` should not warn. As you didn't show the warning message i cannot really say what was wrong with that call. But i guess `7` might not be

[2021-03-10 19:49] #4888 closed

[2021-03-10 22:18] buyaa-n commented on #4932
hm, `OperatingSystem.IsWindowsVersionAtLeast(10, 0, 17763, 0)` is evaluated to version `10.0.17763` the comparison operators of the Version type is a bit strange
[code]
as a workaround @bgavrilMS could you remove leading `0` from the attribute ([SupportedOSPlatform("windows10.0.17763")]) until it gets resolved?

[2021-03-11 05:04] jmarolf commented on #4397
this is not going to be ported to the 5.0.2xx SDKs but will appear in 5.0.3xx

[2021-03-11 12:07] svick commented on #3688
@genlu @sharwell Your label changes here, which were made at the same time, seem to conflict with each other: I don't think a closed issue should be labeled as "help wanted".

[2021-03-11 12:43] bravequickcleverfibreyarn opened #4941 "False positive of “CA1508: Avoid dead conditional code” linked to rethrow and object creation (e.g. Stream)"
### Analyzer

**Diagnostic ID**: [CA1508: Avoid dead conditional code](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**:  SDK 5.0.104

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyz

[2021-03-11 17:35] mavasani commented on #4936
Need to verify on 5.0.3 NetAnalyzers NuGet package

[2021-03-11 17:43] mavasani commented on #4935
@RowlandShaw Can you please give more details why you feel this exclusion is warranted? One could serialize a URI as a string.

[2021-03-11 17:45] sharwell commented on #4935
Specifically, even if one serialization framework doesn't understand the serialization of `Uri` objects, another would could be implemented to treat them the same way as a `string`.

[2021-03-11 17:50] mavasani commented on #3912
Writing a suppressor that reads the public API surface in any format to suppress these diagnostics would resolve this issue.

[2021-03-11 17:58] mavasani commented on #3892
Depending on when the rule gets implemented, this may be part of the CodeStyle package.

[2021-03-12 00:41] sharwell opened #4944 "Report a diagnostic for 'async void' analyzer callbacks"
### Describe the problem you are trying to solve

Analyzer callbacks cannot be asynchronous. Previously, a runtime check looked for `async void` callbacks. This check was expensive, and later removed in dotnet/roslyn#51557. While [VSTHRD100](https://github.com/microsoft/vs-threading/blob/d5d6130ddd5bffb762c1bf13bf78dc356b8993e4/doc/analyzers/VSTHRD100.md) and [VSTHRD101](https://github.com/microso

[2021-03-12 11:45] MichaCo commented on #4732
Just some more information for you, maybe this helps to fix even more issues with this.
I just upgraded to VS 2019 16.9.1 and now getting 100 new CA1802 warnings.

In my solution I only have projects targeting NETSTANDARD 2.0! (not NET4.7.2)

I did try the new package Microsoft.CodeAnalysis.NetAnalyzers, same problem
I did try to update Microsoft.CodeAnalysis.FxCopAnalyzers to 3.3.2, this removed

[2021-03-12 12:47] Youssef1313 opened #4945 "Enhance RulesMissingDocumentation generation and validation"
https://github.com/dotnet/roslyn-analyzers/blob/9e5f533cbafcc5579e4d758bc9bde27b7611ca54/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs#L604-L622

On the case of exception, we should only return false if it's a 404.

Otherwise, if it's a connection error, either return true directly, or re-try then return true if it failed again.

[2021-03-12 13:26] RowlandShaw commented on #4935
I could've sworn that the `DataContractJsonSerializer` didn't know how to handle `Uri` objects, although a few quick checks tells me it can serialise to a string. Maybe I instead need to have a chat with the Bing Maps team, and get their sample updated...

[2021-03-12 18:10] sharwell opened #4946 "Prefer 'IsKind' should handle null conditional"
### Analyzer

RS1034 (Prefer 'IsKind' for checking syntax kinds)

### Describe the improvement

Currently the following pattern is not recognized by the analyzer:

[code]

This pattern should be reported by the analyzer, and converted to this:

[code]

### Describe suggestions on how to achieve the rule

### Additional context

[2021-03-13 16:01] matkoch opened #4947 "Converting explicit interface implementation to static"
<img width="1082" alt="image" src="https://user-images.githubusercontent.com/5005566/111036073-a9a4cd00-841d-11eb-873a-4f12a7cf1ade.png">

[2021-03-14 12:37] lonelydev commented on #2250
i saw this happen for the first time ever when i tried opening and building this https://github.com/Microsoft/aspnet-api-versioning solution. I didn't even know this was something that the analyzer did.
I had to make local changes to get it to build.
![image](https://user-images.githubusercontent.com/9505396/111068669-a6631d00-84c1-11eb-9ea9-285191b73931.png)
![image](https://user-images.githubuse

[2021-03-14 20:45] MelbourneDeveloper commented on #2250
Yeah, I'm finding that nobody can build my open source repos. They see nothing but errors and give up in disgust. It's cost me a lot of PRs

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eakan ***@***.***>
Sent: Sunday, March 14, 2021 11:37:34 PM
To: dotnet/roslyn-analyzers ***@***.***>
Cc: Christian Findlay ***@***.***>; Comment ***@***.***>
Subject: Re: [

[2021-03-15 10:42] bgavrilMS commented on #4933
Got it, I did not realize that API surface level does not influence platform compat warning. I think it makes sense. Closing.

[2021-03-15 10:42] #4933 closed

[2021-03-15 10:59] MartyIX opened #4950 "CA2213 does not recognize an IAsyncDisposable implementaton as sufficient."
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug

CA2213 seemingly does not consider [DisposeAsyncCore

[2021-03-15 11:52] MartyIX commented on #4950
@Youssef1313 Would this be something worthwhile for you? 🙏

[2021-03-15 13:58] sharwell commented on #4950
@mavasani this appears to be a case where a field is not being disposed directly within `Dispose()`, but instead within a non-patterned helper method. Do you know the degree to which this interprocedural analysis is supported under the default configuration?

[2021-03-15 16:04] MartyIX commented on #4950
@sharwell But the name is standard-ish according to https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-disposeasync#disposeasync-and-disposeasynccore, isn't it?

[2021-03-16 06:46] MelbourneDeveloper opened #4953 "CA1508 - 'ReferenceEquals(firstClient, secondClient)' is always 'true'"
### Analyzer

CA1508

### Analyzer source

**NuGet Package**: Microsoft.CodeAnalysis.NetAnalyzers

**Version**: 5.0.3 (Latest)

### Describe the bug

The analyser says that the result is always true, but this test passes (when I disable the error)

![image](https://user-images.githubusercontent.com/16697547/111265545-5b8e0480-867d-11eb-8dee-7802349a9e9b.png)

### Steps To Reproduce

Clone this rep

[2021-03-16 21:17] eddynaka opened #4954 "Improve codefix for PublicApiAnalyzers when multi-targeting"
#### Analyzer package

PublicApiAnalyzers

#### Package Version

v3.0.0

#### Repro steps

I have a project that targets multiple framework versions (for example: net452, net461, netstandard2.0) just one file is updated. Right now, to use that, I must comment all frameworks and enable one by one and update using IntelliSense. Is there a better way to do that?

#### Expected behavior

When I use In

[2021-03-17 14:12] AlFasGD commented on #3124
This issue has returned(?) on VS 16.9.1 (or earlier), and is still prevalent in 16.9.2

[2021-03-17 15:24] #4946 closed

[2021-03-17 15:59] pranavkm opened #4956 "Incorrect RS1024 analysis when calling GetHashCode(ReadOnlySpan<char>, StringComparison)"
### Analyzer

RS1024

### Analyzer source

**Version**: 3.10.0-2.21166.52

### Steps To Reproduce

1. Reference the 3.10.0-2.21166.52 of Roslyn binaries in a console app
2. Code:
[code]

### Actual behavior

[code]

[2021-03-17 16:00] pranavkm commented on #4956
FYI @sharwell

[2021-03-18 11:11] ColinM9991 opened #4957 "No clear guidance on what analyzers to use for .net452"
Hi,

I have been through several Microsoft guides trying to figure out exactly which analyzers should be used for a .NET 452 project. All documents have been circular and have led to deprecated NuGet packages (FxCop) which cause warnings to appear in Visual Studio. I have also attempted to use `Microsoft.CodeAnalysis.NetAnalyzers` which causes many warnings to appear, some of which are:

I would a

[2021-03-18 16:47] genlu commented on #3634
@Evangelink Yes, please add those tests and close this issue. Thanks!

[2021-03-18 16:57] sharwell commented on #3568
This seems like it would be a very noisy rule. I believe the current unused value analysis covers the cases of more importance; if a method is long enough that an assignment to the parameter is a problem, then it's likely the method length that's a problem and not the reassignment.

[2021-03-18 17:00] #3559 closed

[2021-03-18 23:05] Youssef1313 commented on #4957
@ColinM9991 As @jmarolf stated, `Microsoft.CodeAnalysis.NetAnalyzers` is the recommended package. FxCopAnalyzers package is deprecated. It would be helpful if you can attach a project where you're having issues.

[2021-03-19 01:47] MelbourneDeveloper commented on #2109
@mavasani this seems to be a problem in the latest NuGet package Microsoft.CodeAnalysis.NetAnalyzers 5.0.3 still

[2021-03-19 04:46] #4905 closed

[2021-03-19 10:11] Youssef1313 commented on #4956
This is where the bug should be:

https://github.com/dotnet/roslyn-analyzers/blob/dc515b0412abf13d9d2b8e34543c61c9abbee87b/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/CompareSymbolsCorrectlyAnalyzer.cs#L183-L184

[2021-03-19 10:15] Youssef1313 opened #4958 "Analyzer suggestion: Don't use VerifyAnalyzerAsync(string) when there are expected diagnostics"
`VerifyAnalyzerAsync(string)` shouldn't be preferred when the input code is expected to have diagnostics. It should verify the codefix as well. If there is no codefix is expected, it should be `VerifyCodeFixAsync(code, code)`, which will make sure that no empty code action is offered.

[2021-03-19 14:42] JohanLarsson opened #4960 "AvoidDeadConditionalCode slows down build"
![image](https://user-images.githubusercontent.com/1640096/111797568-92f0f100-88c9-11eb-8f67-81c6120caa87.png)

Small project.

Repro: https://github.com/DotNetAnalyzers/WpfAnalyzers/tree/768fea89c90b27fd052d778f065852f49275bc70

[2021-03-19 16:41] Youssef1313 commented on #4960
Related: https://github.com/dotnet/roslyn-analyzers/issues/4914

[2021-03-20 03:39] MelbourneDeveloper opened #4964 "CS8600 Fails in Github Actions - Ignored Locally"
### Analyzer

CS8600

### Analyzer source

Microsoft.CodeAnalysis.NetAnalyzers

**Version**: 5.0.3 (Latest)

### Describe the bug

I can compile on my local computer, but when trying to run the Github action, CS8600 kicks in. The compiler allows this code locally

![image](https://user-images.githubusercontent.com/16697547/111857958-4a007180-8989-11eb-9be3-ef3742eb68f2.png)

### Steps To Reproduce

[2021-03-20 03:58] MelbourneDeveloper commented on #4964
I just upgrade to VS 16.9.2 and this bug has been fixed.

[2021-03-20 03:58] #4964 closed

[2021-03-21 11:00] RussKie commented on #4699
I get the same for Windows Forms

Project file
[code]

Properties\AssemblyInfo.cs
[code]

And yet I get these errors:
![image](https://user-images.githubusercontent.com/4403806/111902267-bc0fae00-8a90-11eb-8698-e8045159d9b3.png)

[2021-03-22 08:44] Alex7490 commented on #3753
Hi
Do you have a solution for this issue? I have the same problem with VS 2019.

[2021-03-22 14:40] stephentoub opened #4968 "CA1052 doesn't factor in derivation"
### Analyzer

**Diagnostic ID**: [CA1052](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1052): `Static holder types should be Static or NotInheritable`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 5.0.3 (Latest)

### Describe the bug

CA1052

[2021-03-23 03:28] RussKie commented on #4699
.NET 5.0 does not support anything below Windows 7 SP1, so I'm confused how my API can be supported below that.

[2021-03-23 04:43] buyaa-n commented on #4699
Right, but that does not really matter the for analyzer, version less platform means any version (which is Version 0.0 so it is lower than 7.0)

[2021-03-23 06:03] Youssef1313 commented on #4958
@sharwell Could this potentially be implemented in roslyn-sdk and ship with the testing package itself?

[2021-03-23 06:09] Youssef1313 commented on #4968
Related to https://github.com/dotnet/roslyn-analyzers/issues/1820

[2021-03-23 12:29] FlorianObermayer opened #4972 "Use pattern matching (ID0078) false positive when using .editorconfig"
### Analyzer

**Diagnostic ID**: [ID0078](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0078): `Use pattern matching`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.201](https://dotnet.microsoft.com/download/dotnet/5.0)

_OR_

**NuGet

[2021-03-23 13:10] Youssef1313 commented on #4972
@sharwell Please move to dotnet/roslyn

[2021-03-23 19:12] DavidBoike commented on #4870
This issue is fixed by https://github.com/dotnet/roslyn-analyzers/pull/4974 which is ready for review.

[2021-03-23 19:44] jgcjoec opened #4975 "How to implement these on a "web site project"?"
I have a "solution" that has a few "web site projects" (i.e. no csproj file, compiled using aspnet_compiler) - one is quite large. Is there any documentation showing how to implement these analyzers on "web site projects"?

If it matters, this is in Visual Studio 2019, .NET Framework 4.8

Thanks,

- Joe

[2021-03-24 02:19] carlossanlop commented on #4870
@DavidBoike thanks for sending a PR.

@eskye we have other issues you can help with if you still would like to learn. Ping me if you want to take one.

[2021-03-24 16:47] vsfeedback opened #4977 "Suppress CA1303 for exception constructor parameters by default"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Suppress-CA1303-for-exception-constructo/1378444)._

---
[severity:It bothers me. A fix would be nice]
When using an exception constructor with a string parameter, a string literal within the parameter triggers CA1303 (do not pass literals as localized parameters) in the Globalization an

[2021-03-24 19:40] stewartadam commented on #4776
I'm facing the same issue. A project targeting `netcoreapp3.1` with `Microsoft.CodeAnalysis.NetAnalyzers` added does not produce the same warnings when compiled with .NET Core 3.1 SDK vs .NET 5 SDK:

[code]

The value of `Recommended` is not documented but works since the NuGet package ships with editorconfigs for it. It doesn't matter though, setting it to the documented values of `AllEnabledByDe

[2021-03-25 14:39] bcollamore opened #4978 "Duplicate Code Detection"
We traditionally used copy-paste-detector (CPD) (https://github.com/pmd/pmd) as a post-build step to detect duplicate code.
Some limitations of CPD include:
* Feedback is not immediate in the IDE.
* As a multi-language support tool (primarily Java), changes in C# specifications can confuse the tool. One example (as of last year) was that the simplified using statement syntax introduced in C# 8 con

[2021-03-25 15:41] watfordgnf opened #4984 "False positive CA1508: '{0}' is always 'null'. Remove or refactor the condition(s) to avoid dead code."
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.10.0 Preview 1.0
[code]

**Steps to Reproduce**:
[code]

**Expected Behavior**:
I should not be warning that `exceptions` is always `null`. It is only `null` with the first exception encountered.

**Actual Behavior**:
I receive CA1508 when lazily allocating the list. Interestingly enough, I do not receive CA1508 when I co

[2021-03-26 10:56] eskye commented on #4870
@carlossanlop I'll like to pick other issues, let me know how I can go about it. thank you. @DavidBoike  Well done, I was actually struggling to understand the Roslyn analyzer code. I've not work with it before.

[2021-03-26 12:07] MartyIX opened #4981 "CA2000 does not handle "is not null""
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.201](https://dotnet.microsoft.com/download/dotnet/5.0)

[2021-03-26 12:38] MartyIX commented on #4981
I have modified a test:

[code]

but it returns

[code]

So I can't probably fix it myself.

[2021-03-27 15:06] Youssef1313 commented on #4981
@MartyIX In case you want to debug this. Your test should look like:

[code]

[2021-03-27 23:34] jmarolf opened #4982 "False positive on CA1508"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3)

**Version**: 5.0.3 (Latest)

### Describe the bug

False positive on dead code analysis

#

[2021-03-28 09:55] RussKie commented on #4699
@buyaa-n it doesn't help.

[2021-03-28 10:19] RussKie opened #4983 "Hundreds of `error CA1416: This call site is reachable on all platforms. 'Xyz' is only supported on: 'Windows' 7.0 and later.` targeting net5.0-windows"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1416): `This call site is reachable on all platforms. 'xyz' is only supported on: 'Windows' 7.0 and later.`

### Analyzer source

**SDK**: 5.0.201

### Describe the bug

Hundreds of CA1416 despite targeting `net5.0-windows` (or `net5.0-windows7.0` as suggested in https://github.co

[2021-03-28 15:56] TaffarelJr commented on #3042
I'm getting the false positives on `MemoryStream` as well as `GZipStream`.

I'm using `<EnableNETAnalyzers>true</EnableNETAnalyzers>` instead of FxCop, in a library targeting .NET Standard 2.1.

[2021-03-28 18:27] AshleighAdams commented on #3226
I wasn't happy with the complex powershell based one, and wanted a simpler and more platform agnostic one in Bash (irony anyone? thanks Git for Windows!), so I came up with this: https://github.com/AshleighAdams/Verlite/blob/master/src/Verlite.Core/mark-shipped.sh

[2021-03-29 21:34] jmarolf opened #4985 "CA2016 ignores the return type of the method overloads"
Version: 6.0.0-preview1.21054.10

In the following Code CA2016 is suggested even though the return types are completely different.
[code]

CA2016 should at least consider the return type of the method it is examining to decide if the cancellation token can be passed in.

[2021-03-30 16:38] sharwell commented on #3848
@juliusfriedman it's not clear from the original post what the problem is. Can you update the first post to include a description of the **Expected behavior** and **Actual behavior**?

[2021-03-30 16:41] sharwell commented on #3836
📝 Typically, a library would provide a diagnostic suppressor for situations like this, so users who work with the `AddSingleton` automatically have it incorporated with CA2000.

[2021-03-30 16:47] sharwell commented on #3768
Hi @Hefaistos68,

For this type of problem, we need a report submitted through the Report a Problem tool instead of through GitHub. Here is the reply I would typically make for requesting data needed to solve this particular type of problem:

Thanks!

[2021-03-30 16:47] #3768 closed

[2021-03-30 16:48] genlu commented on #3753
This is being tracked by the feedback ticket.

[2021-03-30 16:48] #3753 closed

[2021-03-30 16:55] sharwell commented on #3545
💡 This is a case where a library with hidden behaviors (e.g. calling constructors through reflection without a detectable generic constraint) would typically be expected to provide a diagnostic suppressor in order to avoid a known warning in client code.

[2021-03-30 17:00] sharwell commented on #3533
It's not possible to review general performance issues like this through GitHub. For users encountering a similar problem, there are two ways to help us get it resolved:

* For simple reproducible cases (e.g. "here is a specific source file which is slow with analyzer _name_ enabled"), a new issue with detailed steps to reproduce can be filed
* For other cases, the Report a Problem tool should be

[2021-03-30 17:01] #3533 closed

[2021-03-31 21:40] chriskuech opened #4989 "Support nullable reference types with CA1602"
### Analyzer

**Diagnostic ID**: [CA1602](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1062)

### Describe the improvement
CA1602 ensures that callers cannot pass `null` to public methods unexpectedly.  If a parameter is a nullable reference type, then this rule should not be raised because `null` is expected and will be handled safely in accordance with CA860

[2021-04-01 16:07] justcoding121 commented on #4482
I wondered after reading the answers here, will calling `GC.SuppressFinalize(this)` on base class' `public void Dispose()` suppress Finalizer on its derived class? I would assume it does, otherwise it would be meaningless. So `this` in base class will be always pointing to derived class.

[2021-04-01 16:34] mookid opened #4990 "False positive for CA1508 in generic code"
### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

source [here](https://github.com/mookid/reproductionVsBugs/tree/CA1508)

the following code reports twice CA1508, it is twice a false positive.

![image](https://user-images.githubusercontent.com/775734

[2021-04-01 16:54] mookid commented on #4990
Another funny example (same repository, the code is the same between the 2 methods):
![image](https://user-images.githubusercontent.com/7757342/113327773-a5cce200-931b-11eb-8475-96f6a9c72a52.png)

[2021-04-01 23:27] 333fred opened #4991 "PublicAPI Analyzer treats `abstract class` implicit constructors as public"
https://github.com/dotnet/roslyn/pull/51330/files#diff-9a6b818860122e38724a80cb5258e64ed6a82c7e1c81887a3440ab19b12c9758R25-R29

This change should have been flagged by the public API analyzer, as `abstract class` implicit constructors are protected, and this commit changed the accessibility of the constructor to public. However, the analyzer treats these constructors as public apis, not protected:

[2021-04-02 03:55] Youssef1313 commented on #4991
@333fred Just to make sure I understand the issue, for a class like: `abstract class C { }`, you want the public api files to explicitly containg the "protected" keyword? e.g: "protected C.C() -> void"?

If you don't want the entry completely, I don't think this would be correct behavior. `protected` members are still accessible through the base class.

[2021-04-02 05:49] 333fred commented on #4991
@Youssef1313 the main problem is that the public API changed in the commit I linked, but the public API analyzer did not consider it to be changed. Something needs to be tracking this type of change.

[2021-04-02 06:01] Youssef1313 commented on #4991
@333fred I can't think of a way this would affect API consumers. Since the class is abstract, it doesn't matter whether the ctor is public or protected.

It should be fairly easy to update the analyzer to track that. But upgrading will require a **ton** of updates in *AnalyzerRelease.\*.txt* files. So does it worth doing that? I think an analyzer for any public constructor in abstract class would

[2021-04-02 06:16] Youssef1313 commented on #4991
Actually, I think the real problem here will be any protected API *except abstract class ctor* (but that would be nice to handle).

For example:

[code]

I haven't confirmed that though.

[2021-04-02 08:54] Youssef1313 commented on #4954
Was also requested in https://github.com/dotnet/roslyn-analyzers/issues/3187

[2021-04-02 09:14] Youssef1313 commented on #3885
This is a known roslyn issue. https://github.com/dotnet/roslyn/issues/31916

[2021-04-02 09:43] Youssef1313 commented on #3047
missing class modifiers looks like a roslyn issue. The analyzer uses `SymbolDisplayMemberOptions.IncludeModifiers`, but roslyn doesn't handle it for `INamedType`.

https://github.com/dotnet/roslyn/blob/f23a18008b23d30ba7ce753ff9f562dc9b4785eb/src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs#L185

[2021-04-02 10:39] Youssef1313 commented on #1192
@jasonmalinowski I wrote a small test and got the correct result:

![image](https://user-images.githubusercontent.com/31348972/113408809-5684c100-93b0-11eb-9935-a6970e57b2a7.png)

Are you still able to reproduce this?

[2021-04-02 10:46] Youssef1313 commented on #1192
Ok figured out I should have used `IEnumerable<>` in the test instead of a specifying a type parameter.

[2021-04-02 11:32] watsonsong opened #4995 "CA1822 (Mark member as static) fires for NUnit is not fully covered."
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822)

### Describe the improvement

This issue is reslove and closed at: https://github.com/dotnet/roslyn-analyzers/issues/1399
But I met this problem in Unity3D environment:
https://forum.unity.com/threads/is-there-a-way-suppress-the-ca1822-when-using-unitytestattribute.1084388/

[2021-04-02 21:58] jnm2 opened #4997 "False positive for CA1508 when a variable is assigned in a lambda expression"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `'{0}' is always 'null'. Remove or refactor the condition(s) to avoid dead code.`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.201](https://dot

[2021-04-02 23:45] ericstj opened #4998 "CA2249 encourages folks to ifdef code for "readability""
### Analyzer

**Diagnostic ID**: [ca2249](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2249): `Consider using String.Contains instead of String.IndexOf`

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

###

[2021-04-05 16:08] ericstj commented on #4998
cc @pgovind

[2021-04-05 16:30] mavasani commented on #4998
Also tagging @sharwell and @jaredpar

This is not an issue specific to this analyzer, but is the inherent limitation of all analyzers and the compilation model of their execution. Analyzers only run in context of a single compilation at a time, and given each compilation for a project TFM can have different available APIs or different conditionally compiled code, they can always produce diagnostic

[2021-04-05 18:18] sharwell commented on #4998
The recommendation for a user in this situation would be either disabling this analyzer, or (if possible) providing a `string`-specific extension method that gets used for the net48. builds.

[2021-04-07 21:17] #4985 closed

[2021-04-08 14:03] kindermannhubert opened #5002 "CA1508 (Avoid dead conditional code) - false positive with constructor call in try block"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

False positive in following code:
[code]

'c'

[2021-04-08 14:17] kindermannhubert opened #5003 "CA1508 (Avoid dead conditional code) - not analyzing 'HasValue' of nullable value types"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

Missing diagnostic when using 'HasValue' prop

[2021-04-08 14:33] kindermannhubert commented on #5002
Following example is similar but I'm not sure if it's exactly same problem in analyzer. Here's another false positive:
[code]

[2021-04-08 15:05] kindermannhubert opened #5005 "CA1508 (Avoid dead conditional code) - very strange false positive"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

False positive in following code:
[code]

###

[2021-04-08 15:27] kindermannhubert opened #5006 "CA1508 (Avoid dead conditional code) - false positive in nested foreach"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

False positive in following code:
[code]

###

[2021-04-08 16:37] #4998 closed

[2021-04-08 16:49] mavasani commented on #4981
@MartyIX Can you please also verify whether this repros with the latest NuGet package for `Microsoft.CodeAnalysis.NetAnalyzers`?

[2021-04-08 16:51] mavasani commented on #4978
I recall similar feature request in the past, I'll try to find the tracking issue for it.

[2021-04-08 16:53] mavasani commented on #4977
This is actually by design, you should be using a localized argument here.

[2021-04-08 16:53] #4977 closed

[2021-04-08 16:58] mavasani commented on #4968
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/1820

[2021-04-08 16:58] #4968 closed

[2021-04-08 19:29] vsfeedback opened #5007 "Export Code Metrics in CSV file"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Export-Code-Metrics-in-CSV-file/1389468)._

---
Visual Studio's "Calculate Code Metrics" tool currently supports exporting only Excel spreadsheets, and only if Microsoft Excel is installed.

Supporting exporting .csv files would allow people without Excel to analyze the code metrics of t

[2021-04-08 23:08] j2jensen commented on #4145
FYI, I just encountered a similar issue when the delegate I'm calling is async, and it doesn't appear to go away when setting `dotnet_code_quality.interprocedural_analysis_kind = ContextSensitive`.

[2021-04-09 01:14] jnm2 opened #5008 "False positive for CA1508 on IsNullOrWhiteSpace when IndexOf is used afterwards"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.201](https://dotnet.microsoft.com/download/dotnet/5.0)

[code]

[code]

[2021-04-09 01:31] jnm2 commented on #4995
All my NUnit test methods are static on purpose fwiw.

[2021-04-09 07:01] MartyIX commented on #4981
This is shorter repro that one can use. I can reproduce with `Microsoft.CodeAnalysis.NetAnalyzers` if I did that correctly:

`.editorconfig`
[code]

[code]

[code]

[2021-04-09 15:07] SupinePandora43 opened #5009 "CA2101 is shown when MarshalAs is not LPStr or LPWStr"
# Example Input
[code]
# Output
![image](https://user-images.githubusercontent.com/36124472/114137835-31e79680-9926-11eb-9ba1-96d44b4977c1.png)

# Steps To Reproduce

1. define extern method with `DllImport` Attribute and `string` argument
2. specify marshalling using `[MarshalAs(UnmanagedType.LPUTF8Str)]` or `CustomMarshaler`
3. get `CA2101`

[2021-04-09 16:56] j2jensen opened #5775 "Inconsistent severity level behavior."
**Version Used**: Microsoft.CodeAnalysis.NetAnalyzers v5.0.3

**Steps to Reproduce**:

1. .csproj
[code]
2. .editorconfig
[code]
3. C# code
[code]

**Expected Behavior**:
This code should show two errors: CA5379 and CA5387

**Actual Behavior**:
CA5379 appears as an Error, but CA5387 appears as a Warning.

[2021-04-10 14:40] mbaumanns commented on #3427
Hello everybody,

in general I understand (and like) the warining. But I do not understand why I get the warning: RS1024 when creating a HashSet in the following way:

[code]

How should I store multiple ITypeSymbol objects in my rewriters? I prefer an ISet instead of an IList object because of better search capabilities.
Or should I use a List and use Linq method "Contains" to Check if the object

[2021-04-10 17:07] weltkante commented on #3427
@mbaumanns That has been confirmed above as a false-positive that has been fixed in #4568

#4845 confirms a fix has been deployed so you may want to check the version you are using? Either way its a different issue that what is discussed here.

[2021-04-11 22:09] lucastheisen opened #5011 "CA1508 false positive with is type pattern"
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`
[CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/produ

[2021-04-12 20:50] watfordgnf commented on #4997
#4984 Related? Both are in catch blocks.

[2021-04-13 11:34] watsonsong commented on #4995
Maybe skip this issue is not hardcode but provide an extensive way.

[2021-04-13 18:45] #4629 closed

[2021-04-13 18:45] #4793 closed

[2021-04-14 02:50] #4659 closed

[2021-04-15 07:52] KalleOlaviNiemitalo commented on #3347
This issue also applies to [Microsoft.CodeAnalysis.NetAnalyzers 5.0.3](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3).

(EULA.rtf still says "MICROSOFT CODE ANALYSIS 2017", but according to [README.md](https://github.com/dotnet/roslyn-analyzers/blob/86736870dfee998f055c37b82bda77e5699c8cea/README.md), this package no longer supports Visual Studio 2017 and instead require

[2021-04-15 08:19] #1192 closed

[2021-04-15 11:48] ManickaP opened #5023 "[CA1416] Allow child APIs attribute override assembly attribute in targeted builds of cross-platform assemblies"
Internally used `[SupportedOSPlatform]` will not raise any warnings due to build automatically adding assembly-wide `[SupportedOSPlatform("...")]` for the currently build platform.

Repro:
[code]

## Potential solution:
- the nested `SupportedOS` should behave as intersection --> supported are only OSes named on all levels
- the nested `UnsupportedOS` should behave as union --> unsupported are all

[2021-04-15 11:48] Youssef1313 opened #5021 "CA1065 Enhancement: Report on more operators"
### Analyzer

**Diagnostic ID**: [CA1065](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1065)

### Describe the improvement

Currently, the rule reports `==` and `!=` operators that throw exceptions. I think it makes sense to extend that to `>`, `<`, `>=`, and `<=`.

[2021-04-15 12:35] #1506 closed

[2021-04-15 12:35] #3329 closed

[2021-04-15 12:38] #4732 closed

[2021-04-15 16:33] mavasani commented on #5021
This looks to be a reasonable enhancement.

[2021-04-15 16:34] mavasani commented on #5011
I believe this is fixed in the latest NuGet package of `Microsoft.CodeAnalysis.NetAnalyzers` version `5.0.3` and also in .NET 6 branch of the analyzers

[2021-04-15 16:37] mavasani commented on #5008
I believe this is fixed in the latest NuGet package of `Microsoft.CodeAnalysis.NetAnalyzers` version `5.0.3` and also in .NET 6 branch of the analyzers

[2021-04-15 16:50] mavasani commented on #4947
Analyzer does ignore explicit interface implementations, so we would need more context on the repro or a minimal compilable repro to investigate this further.

[2021-04-15 16:54] mavasani commented on #3885
Thanks @Youssef1313!

[2021-04-15 16:54] #3885 closed

[2021-04-15 16:57] mavasani commented on #3871
@Evangelink Any ideas?

[2021-04-15 16:58] mavasani commented on #3486
I believe this should be fixed in `Microsoft.CodeAnalysis.NetAnalyzers` version `5.0.3`

[2021-04-15 16:59] #3486 closed

[2021-04-15 19:14] jgcjoec opened #5024 "OWASP Top 10"
Is Microsoft.CodeAnalysis.NetAnalyzers an appropriate set of analyzers for organizations looking for static code analysis that covers the OWASP top 10?

https://owasp.org/www-project-top-ten/

In my research, it seems that the answer to this question is "yes", but was looking for confirmation.

Thanks,

- Joe

[2021-04-16 07:37] Youssef1313 commented on #5024
You can find a list of the security rules [here](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/security-warnings). Might not include all the top 10.

[2021-04-16 07:50] Youssef1313 opened #5025 "Potential false negative in CA1047"
### Analyzer

**Diagnostic ID**: [CA1047](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1047): `CA1047: Do not declare protected members in sealed types`

### Describe the bug

https://github.com/dotnet/roslyn-analyzers/blob/a0522afd52b25ad211298e308fd5bbc7734865e0/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/DoNotDeclareProtectedMembersI

[2021-04-16 13:34] xtqqczze opened #5027 "Analyzer proposal: mark anonymous functions as static"
## Cause

An anonymous function that does not capture state from the enclosing scope is not marked as `static`.

## Rule description

Lambdas and anonymous methods can be marked with the `static` modifier, to disallow capture of locals or instance state. Adding the `static` modifier to an anonymous function does not change the meaning of the program.

By applying this code fix, it can be ensured t

[2021-04-16 19:51] Thieum commented on #5002
Same goes with the recommended solution for avoiding double dispose:

[code]

[2021-04-18 16:34] FiniteReality opened #5032 "RS2002 false-positive when using source generators"
### Analyzer

**Diagnostic ID**: [RS2002](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/ReleaseTrackingAnalyzers.Help.md): `Do not add removed analyzer diagnostic IDs to unshipped analyzer release`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

**Version**: 3.3

[2021-04-18 17:10] Youssef1313 commented on #5032
@FiniteReality Can you try moving the AnalyzerReleases files inside `AttributedModel` directory?

[2021-04-18 17:31] FiniteReality commented on #5032
...I'm an idiot. I need to drink more coffee before reading error messages, maybe I'll actually pay attention :sweat_smile:

[2021-04-18 17:31] #5032 closed

[2021-04-18 18:18] Youssef1313 commented on #5032
It took me a while to figure it out 😄

[2021-04-19 02:32] mavasani commented on #5032
Thank you @Youssef1313 for helping out here!

[2021-04-19 05:56] Bosch-Eli-Black opened #5034 "CA1062 quick fix"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1062)

### Describe the improvement

Consider this example method, which yields a CA1062 warning for `myString`:
[code]

The warning is shown on line 3:

[code]

If I place my cursor on `myString` in the method declaration (line 1), a quick fix named "Add null check" appears that

[2021-04-19 06:08] Youssef1313 commented on #5034
CA1062 doesn't actually have a codefix. The "add null check" is a code refactoring coming from dotnet/roslyn and unrelated to CA1062 (you'll still see it's offered even if CA1062 is disabled).

@mavasani @CyrusNajmabadi Is this something you want to do in dotnet/roslyn? or should we have a codefix for CA1062 in this repository?

[2021-04-19 11:55] erichiller opened #5035 "CA1710 Clearing default suffixes doesn't work"
### Analyzer

**Diagnostic ID**: [CA1710](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1710): `Identifiers should have correct suffix`
### Analyzer source

Versions:
[code]

I also tried installing the Nuget package, this did not change anything.

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Net

[2021-04-19 23:44] JuanZamudioGBM opened #5038 "Enable PerformanceSensitive analyzer per assembly"
### Analyzer
Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

**Version**: 3.3.1

**NuGet Package**: [Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers)

**Version**: 3.3.1

### Describe the bug
Is there a way to enable the analyzer for the assembly instead of adding attributes in every method?

### Steps

[2021-04-20 03:02] kuhlenh opened #5040 "[Code Suggestion] Loop inspections"
There are several things that can go awry in loops:

- counters or loop control variables may never be changed/updated inside the loop
-  infinite loops in do, while, for
-  redundancy

[2021-04-20 03:05] Neme12 opened #5041 "Analyzer suggestion: Use lambda expression"
In the spirit of analyzers that suggest the use of newer language features, I propose an analyzer that would flag anonymous methods and offer to replace them with lambda expressions. Lambda expressions are definitely not a new feature today but they once were and my guess is that if they were introduced after Roslyn, there would have been an analyzer for this already. So maybe it's not a bad idea

[2021-04-20 03:14] mavasani commented on #5041
@jmarolf Was there a reason to move this issue to analyzers repo? We generally keep style/new language feature based analyzers in Roslyn repo under Style category.

[2021-04-20 09:21] Youssef1313 commented on #5038
Related to https://github.com/dotnet/roslyn-analyzers/issues/2120:

[2021-04-20 09:22] Youssef1313 commented on #2259
@mavasani It's on NuGet now, was that done accidentally? https://www.nuget.org/packages/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

[2021-04-20 11:40] mavasani commented on #2259
Yes it should not have been published. @jmarolf do you know when it got published?

[2021-04-20 15:18] jmarolf commented on #2259
I don't know. Let me investigate

[2021-04-20 17:19] jmarolf commented on #5041
whoops, I mis-remembered. thought we had `nameof` analyzers here that did similar things.

[2021-04-20 18:38] AlexanderSher opened #5044 ""CA2214: Do not call overridable methods in constructors" is not reported for properties"
### Analyzer

**Diagnostic ID**: [CA2214](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2214): `Do not call overridable methods in constructors" is not reported for properties`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dot

[2021-04-20 19:14] craigktreasure opened #5045 "Analyzer warnings and errors are not displayed for non-clean builds"
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

I'm seeing the same behavior in both the SDK and the NuGet package.

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Ver

[2021-04-20 20:58] jmarolf commented on #5045
duplicate of https://github.com/dotnet/msbuild/issues/3046

[2021-04-20 20:58] #5045 closed

[2021-04-20 23:13] Jehoel opened #5047 "JSON appears in Error List's Code filter menu popup"
### Analyzer

Unknown

### Analyzer source

Unsure.

### Describe the bug

After using Visual Studio for more than an hour or so, hidden code analysis errors start to amass in the Error List's Code column filter popup, they appear as serialized JSON with zero occurrence counts.

![image](https://user-images.githubusercontent.com/1693078/115474692-d608f180-a1f2-11eb-932d-d279805c841d.png)

An examp

[2021-04-21 01:21] buyaa-n commented on #4932
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4943

[2021-04-21 01:21] #4932 closed

[2021-04-21 16:33] vsfeedback opened #5049 "VisualBasicAddExplicitCastCodeFixProvide"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VisualBasicAddExplicitCastCodeFixProvide/1402390)._

---
VisualBasicAddExplicitCastCodeFixProvider detected an error and was disabled. View Batch Monitor Enable Enable and Ignore More Errors .
System.NullReferenceException : The object reference was not set to an object instance.
   at M

[2021-04-21 16:39] Youssef1313 commented on #5047
@mavasani This doesn't feel related to roslyn-analyzers. Should this move to roslyn?

[2021-04-21 16:40] Youssef1313 commented on #5049
@mavasani This code fix provider belongs to dotnet/roslyn. Can you move?

[2021-04-21 18:48] Youssef1313 opened #5050 "New analyzer: Missing GeneratorAttribute"
Similar to https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/UnitTests/MetaAnalyzers/MissingDiagnosticAnalyzerAttributeRuleTests.cs, but for source generators, which require [GeneratorAttribute](https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/Portable/SourceGeneration/GeneratorAttribute.cs).

[2021-04-21 21:20] meziantou opened #5051 "CA2016 fixer removes generic parameter"
### Analyzer

**Diagnostic ID**: [CA2016](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2016): `Forward the CancellationToken parameter to methods that take one`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 6.0.100-preview.3.21202.5

### Descr

[2021-04-22 09:57] watsonsong opened #5053 "CA1822 not work with preprocessor directives"
### Analyzer

**CA1822**: [CA1822](https://docs.microsoft.com/zh-cn/dotnet/fundamentals/code-analysis/quality-rules/ca1822)

### Describe the improvement
If the member data access is warpped in some define, it will report this rule.
[code]

### Describe suggestions on how to achieve the rule
Some workaround better than just supress it.

[2021-04-22 13:06] arminatwork commented on #4842
this not working

got me error say:
**AggregateException: One or more errors occurred. (The key value at position 0 of the call to 'DbSet<TEntity>.Find' was of type 'CancellationToken', which does not match the property type of 'int'.)**

[2021-04-22 14:10] Youssef1313 commented on #5053
At the analyzer level, nothing could be done. See https://github.com/dotnet/roslyn-analyzers/issues/4998#issuecomment-813487643.

[2021-04-22 15:31] mavasani commented on #5053
Agreed with @Youssef1313. This is by design.

[2021-04-22 15:31] #5053 closed

[2021-04-22 16:05] mmitche opened #5054 "Packages should use icon, not iconUrl"
The iconUrl element in the nuspec is deprecated and eventually pushes to nuget.org will stop working. Instead, repos should use icon. This would happen automatically but it looks like roslyn-analyzers manually generates a nuspec rather than using the arcade infra, so it may be a bit more difficult to get working.

[2021-04-22 16:39] mavasani commented on #5051
Tagging @carlossanlop - I thought there was a PR already out for this?

[2021-04-22 16:41] mavasani commented on #5050
Tagging @chsienki

[2021-04-22 17:05] #5051 closed

[2021-04-22 17:47] jgcjoec commented on #5024
Yeah, it would be helpful to know "for sure" as a lot of infosec frameworks, such a SOC-2, talk about OWASP Top 10.

[2021-04-22 20:13] carlossanlop commented on #4842
I think the extra `params` keyword may be causing the problem. I thought the analyzer was smart enough to only fire when the `CancellationToken` instance was in the last position. Not sure why this is the case.

I'll take a look.

[2021-04-22 21:04] arminatwork commented on #4842
@carlossanlop
hi man

Well, it's going to make a mistake to me.
I put **CancellationToken** in the last parameter but he's going to miss it again.

so if have a params object, should **CancellationToken** put in the first parameter of method
it's going to make a error to me again

[2021-04-22 21:26] carlossanlop commented on #4842
So looking into this more deeply, I don't think this is an issue with CA2016. This is an issue with allowing value types to get automatically [boxed](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/boxing-and-unboxing) because of the `params object[]` parameter.

I cannot seem to repro the case where you are getting an error. Can you please share a code snippet?

This code w

[2021-04-22 21:41] arminatwork commented on #4842
@carlossanlop Thanks for feedback

well I do passing 2 parameter to params object[] with CancellationToken
this code:
for example User.FindAsync(new object[] { userId, roleId}, cancellationToken);

got me error say : CancellationToken is not a parameter

[2021-04-22 21:59] jmarolf commented on #4842
[code]

What is the definition of `FindAsync`? does it compile? [CS0231](https://docs.microsoft.com/dotnet/csharp/misc/cs0231) should be triggered for a method that has a params array anywhere but in the final position.

[2021-04-22 22:10] arminatwork commented on #4842
@jmarolf
well I said error in the last comment:\

in this issues is my problem [FindAsync rough edges when passing CancellationToken](https://github.com/dotnet/efcore/issues/22667)

[2021-04-23 06:07] RussKie opened #5058 "RS0017: No information on how to "remove" public API"
### Analyzer

**Diagnostic ID**: [RS0017](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md#rs0017-remove-deleted-types-and-members-from-the-declared-api)

### Describe the improvement

The docs are sorely lacking information on how to address RS0017 rule.

The suggestion to remove "_corresponding entry in PublicAPI.txt_" in mo

[2021-04-23 06:12] vsfeedback opened #5059 "Memory leak in ServiceHub.RoslynCodeAnalysisService.exe"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Memory-leak-in-ServiceHubRoslynCodeAnal/1404625)._

---

[ServiceHub.RoslynCodeAnalysisService.zip](https://aka.ms/dc/file?name=Bec2d9f42d0ed4c308b000b22a1922f1a637546325418801869_ServiceHub.RoslynCodeAnalysisService.zip&tid=ec2d9f42d0ed4c308b000b22a1922f1a637546325418801869)
[severity:I

[2021-04-23 06:14] mavasani commented on #5059
@sharwell's analysis:

I'll let @dotpaul decide how to tackle this issue, it is used by security analyzers.

[2021-04-23 07:32] Youssef1313 commented on #5058
Shouldn't the codefix do its job?

[2021-04-23 07:34] RussKie commented on #5058
I don't think there's one since it's in a text file. At least I found no way to invoke it.

[2021-04-23 07:41] Youssef1313 commented on #5058
Ah yes. The codefix works for additional files *only if* the diagnostic location is in source. RS0017 isn't supported in a codefix.

[2021-04-23 13:27] mayerj opened #5061 "AD0001 Analyzer 'Microsoft.CodeAnalysis.PublicApiAnalyzers.DeclarePublicApiAnalyzer' threw an exception of type 'System.NullReferenceException'"
### Analyzer

RS0016: Public API analyzer

### Analyzer source

**NuGet Package**: Microsoft.CodeAnalysis.PublicApiAnalyzers

**Version**: 3.3.2, and tip of main branch

### Describe the bug

Unexpected AD0001 when you have a csproj file that includes the "PublicAPI.Shipped.txt" or "PublicAPI.Unshipped.txt" explicitly via:

[code]

### Steps To Reproduce

Create a new project file using the conten

[2021-04-23 14:24] Youssef1313 commented on #5061
When fixing this, keep in mind whether this should respect `dotnet_public_api_analyzer.require_api_files` or not.

https://github.com/dotnet/roslyn-analyzers/blob/3344b723fb90e3525bc7c3a1116856127f295070/src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.cs#L35-L38

[2021-04-23 14:31] Youssef1313 commented on #3023
@Evangelink It can be null in the rare case of using `__arglist`. This is covered in the following IOperation test in roslyn.

https://github.com/dotnet/roslyn/blob/0902d19aaba441d98fe5432274e5a2554353cc8d/src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArgument.cs#L1409

[2021-04-23 14:45] Youssef1313 commented on #3023
The condition is still unreachable. The argument type will never be of `SpecialType.System_String` if it's an `__arglist`. It looks okay to  remove the check.

[2021-04-23 15:00] udlose commented on #5059
@mavasani just out of curiosity, what is "CWT"?

[2021-04-23 15:11] Youssef1313 commented on #5059
[ConditionalWeakTable](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2?view=net-5.0)

[2021-04-23 15:14] udlose commented on #5059
Will this fix be made available as a hotfix?  I'm constantly having to restart VisualStudio multiple times a day.

[2021-04-23 15:47] mavasani commented on #5059
@udlose as a workaround you can create an [EditorConfig](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files#editorconfig) file at the root of your repo and turn off the security rules by adding the following configuration entry. You can read more about it [here](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope)

[code]

[2021-04-23 21:19] xiaomi7732 commented on #4776
It is NOT working for me either when using 3.1 SDK (5.0 works). Build succeeded without warning or error.
I have a repro repository here, can someone help take a look?

<https://github.com/xiaomi7732/NetAnalyzerCore3_1Repro>

1. I have global.json to pick 3.1 SDK (again, set it 5.0 will work, I can see warnings):

[code]

2. This is a .NET Core console app, project properties like this:

[code]

[2021-04-24 06:52] Youssef1313 commented on #4776
@xiaomi7732 Your issue may be different than the original one. Can you open a new issue for investigation?

[2021-04-24 19:34] WhiteBlackGoose commented on #4133
@mavasani it is still relevant! It still works so with records.

[2021-04-24 19:34] WhiteBlackGoose commented on #4133
Have been half a year since .net5 release, still nothing changed.

[2021-04-24 19:38] WhiteBlackGoose commented on #4133
![image](https://user-images.githubusercontent.com/31178401/115970830-b99bea80-a54d-11eb-9932-c57acd85fbfb.png)

[2021-04-26 09:37] jinek commented on #3748
In general a stack can not be recovered by simple copying of the exception reference.

This is the idea of CA1031: our code should stay transparent for unexpected exceptions, thus allowing the code which "is expecting" to do the job.

For example, exceptions thrown in DoStuff will not stop the debugger anymore (no more possible to see the stack, evaluate debugging stuff etc).

Another example, is

[2021-04-26 10:12] jinek commented on #4645
That is why CA1031 exists. Why can we assume that we can recover from any exception by marshaling?

[2021-04-26 12:18] jnm2 commented on #4645
I'm asking for CA1031 to notice when the exception is marshaled in a way that is equivalent to rethrowing.

[2021-04-26 13:23] PeterHuberSg opened #5068 "Bug C# Record: Autogenerated ToString() generates stack overflow for to records linking to each other"
**Version Used**:
net5.0
**Steps to Reproduce**:
Console Application

    using System;

    namespace RecordToStringProblem {
      record Parent() {
        public Child? Child;
      }

      record Child() {
        public Parent Parent;

        public Child(Parent parent):this() {
          Parent = parent;
          parent.Child = this;
        }
      }

      class Program {
        stati

[2021-04-26 17:26] jinek commented on #4645
Sorry, I should clarify my doubts from start.

My point is exactly that marshalling is not equivalent to rethrowing.

At the moment ca1031 correctly reminds that it is impossible to recover the state if that state is not known.
Some exceptions are bound to the stack and make sense only within it.

For example, **HttpRequestException** (supposed to go to **HttpMessageHandler** upper the stack), **T

[2021-04-26 17:27] xiaomi7732 opened #5069 "NetAnalyzer shows no warning or error when uses .NET Core 3.1 SDK"
It is NOT working for me either when using 3.1 SDK (5.0 works). Build succeeded without warning or error.
I have a repro repository here, can someone help take a look?

<https://github.com/xiaomi7732/NetAnalyzerCore3_1Repro>

1. I have global.json to pick 3.1 SDK (again, set it 5.0 will work, I can see warnings):

[code]

2. This is a .NET Core console app, project properties like this:

[code]

F

[2021-04-26 17:28] xiaomi7732 commented on #4776
@Youssef1313 New issue filed: #5069

[2021-04-26 19:22] Evangelink commented on #2259
According to the tooltip on nuget, it was published on 2021/03/02 at 06:10:35Z.

[2021-04-26 20:38] buyaa-n commented on #5023
This is an expected scenario by design, [child APIs should not extend parent support](https://github.com/dotnet/runtime/issues/43971). SupportedOSPlatform illustrates that the API/assembly only reachable for that platform and it should not have any API supported on other platforms inside it. But this is happening in runtime for targeted cross platform builds which is not expected to happen in norm

[2021-04-26 20:42] jmarolf commented on #5069
Analysis levels only ship with 5.0 and newer versions of the SDK. You can build and run .NET 3.1 apps with the .NET 5 SDK. I would recommend restricting to the .NET 5 SDK in your global.json instead of .NET 3.1

[2021-04-26 22:40] xiaomi7732 commented on #5069
@jmarolf , are you saying that using .NET Analyzers with .NET Core SDK 3.1 is not supported? That doesn't agree with the documentation below:
https://docs.microsoft.com/en-us/visualstudio/code-quality/install-net-analyzers?view=vs-2019, specifically:

Could you please clarify what is the suggestion if .NET Core 3.1 SDK is preferred? Or is there some misunderstanding?

[2021-04-26 23:04] jmarolf commented on #5069
These properties are not supported on the .NET 3.1 SDK

[code]

We would have needed to ship a new 3.1 SDK with targets from the .NET 5 SDK. The workaround for those on the .NET 3.1 SDK is to reference the analyzers via a nuget package instead of pulling them in automatically with the SDK.

This means MSBuild properties cannot be used to control their behavior as they are just normal analyzers to

[2021-04-26 23:06] jmarolf commented on #5069
See [this](https://docs.microsoft.com/visualstudio/code-quality/use-roslyn-analyzers#set-rule-severity-in-an-editorconfig-file) section for documentation on how to configure these.

[2021-04-27 00:53] Pilchie opened #5072 "Don't require IFormatProvider for nullable versions of invariant types"
### Analyzer

**Diagnostic ID**: [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305)

### Describe the improvement

Should expand the special cases on where the rule doesn't need to be fired to include Nullable versions of the types in play.

### Describe suggestions on how to achieve the rule

There is a list of types at
https://github.com/dotnet/roslyn-ana

[2021-04-27 17:24] xiaomi7732 commented on #5069
Ahaa. Thanks for the clarification.

Just for future reference, 2 quick findings:
* Predefined .editorconfig files are actually shipped within the NuGet package at `%userprofile%\.nuget\packages\microsoft.codeanalysis.netanalyzers\5.0.3\editorconfig`
* Incremental build seems ignore the code analysis. I will have to disable the incremental build to make the rule work:
    `dotnet build --no-increm

[2021-04-28 20:11] dotpaul commented on #5024
There are rules that can be categorized into some of the OWASP top 10, but some of the top 10 are more about design (e.g. for A3:2017-Sensitive Data Exposure, you must define what constitutes sensitive data) and not easily detected by code-level analysis.

Using Microsoft.CodeAnalysis.NetAnalyzers can help reduce risk.

[2021-04-28 20:11] #5024 closed

[2021-04-29 16:36] mavasani commented on #5058
Yes, that sounds correct. Feel free to even add information to the diagnostic message itself.

[2021-04-29 16:42] mavasani commented on #4842
@arminatwork @jmarolf Are we good to close this issue?

[2021-04-29 16:47] arminatwork commented on #4842
Well no
I don't think the problem is solved!

[2021-04-29 16:55] jmarolf commented on #4842
I'll update the bug with a description of the issue so its clear what the issue is.

[2021-04-29 17:15] jmarolf commented on #4842
updated with a repo @arianmotamedi is my description of the problem correct?

[2021-04-29 18:10] Ankhimes opened #5077 "configure rule severity in .EditorConfig is not working for category level"
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.

[2021-04-29 18:11] Ankhimes commented on #5077
[*.cs]

dotnet_analyzer_diagnostic.category-design.severity = error

is not working

[2021-04-29 19:10] arianmotamedi commented on #4842
I think you tagged the wrong person :)

[2021-04-29 20:45] jmarolf commented on #4842
:( woops @arminatwork is my description of the problem correct?

[2021-04-29 20:57] arminatwork commented on #4842
Ok👍

[2021-04-29 20:59] arminatwork commented on #4842
What do you mean?

[2021-04-29 21:02] jmarolf commented on #4842
well I am updating a bug on others behalf I wanted to make sure the expected/actual was correct just to be safe.

[2021-04-29 21:11] udlose commented on #5059
Thanks for the quick turnaround!  Will this be released as an update to VisualStudio in the next update?

[2021-04-29 21:18] Youssef1313 commented on #5077
@Ankhimes Have you tried "Design" instead of "design"?
I think the category may be case-sensitive.

[2021-04-29 22:15] udlose commented on #5059
@mavasani , @dotpaul
I made the suggested change while waiting for a fix and still saw a leak.  I have a dump file to share - it's zipped size is just under 1GB.  Where should I upload it?

[2021-04-30 04:45] Ankhimes commented on #5077
![categoryRuleapplied](https://user-images.githubusercontent.com/73706845/116649424-d6e11680-a99c-11eb-82c1-c15236127a32.png)

As clear in the screenshot...Indiviadual rule ID rule works but Category Rule is not working

[2021-04-30 05:14] mavasani commented on #5077
@Ankhimes Your issue here is that CA1031 is disabled by default, and `dotnet_analyzer_diagnostic.category-XXX.severity` entries only apply to analyzers which are enabled by default. Please see the `Important` note section in https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope for details and how to configure this correctly.

[2021-04-30 05:20] Ankhimes commented on #5077
Thanks for updates. But I did tried that option by updating the csproj file and its not working. Is there any other setting I need to try with.

![image](https://user-images.githubusercontent.com/73706845/116651876-c41d1080-a9a1-11eb-9d5e-518e71307802.png)

[2021-04-30 05:20] Ankhimes commented on #5077
Thanks for updates. But I did tried that option by updating the csproj file and its not working. Is there any other setting I need to try with.
![image](https://user-images.githubusercontent.com/73706845/116651985-ea42b080-a9a1-11eb-80d5-5ed2971994d4.png)

[2021-04-30 05:22] mavasani commented on #5077
Can you share your project as a zip or at least the screenshot of entire project file?

[2021-04-30 05:24] Ankhimes commented on #5077
![image](https://user-images.githubusercontent.com/73706845/116652243-6dfc9d00-a9a2-11eb-87cb-af61cfb3b2b5.png)

[2021-04-30 05:45] mavasani commented on #5077
Ah, I get the core issue now. `AnalysisMode` property works by adding a [globalconfig](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files#global-analyzerconfig) to the project that explicitly sets severity for every rule by rule ID as a warning. This means that the category based bulk configuration setting has lower precedence and never works. In short, `AnalysisMode`

[2021-04-30 05:54] Youssef1313 commented on #5077
@mavasani Isn't this the same issue as https://github.com/dotnet/roslyn/issues/51225 which got fixed?

[2021-04-30 06:00] mavasani commented on #5077
@Youssef1313 This is a different issue - the compiler is working as expected, the global config from AnalysisMode has ruleID based entry which will always override all category based entries. The solution is to change the config file generation for AnalysisMode to use category based entries.

[2021-04-30 06:05] Youssef1313 commented on #5077
Got it thanks.

Switching to the globalconfig generation to category based entries can affect other analyzers if they use the same category though, will that be intended?

[2021-04-30 07:24] mavasani commented on #5077
So, I put more thought into this and I believe this scenario cannot be supported based on the current compiler and AnalsisMode design.

1. Only way to enable a disabled by default rule is with a ruleID based dotnet_diagnostic entry.
2. Even if you specify `<AnalysisMode>AllEnabledByDefault</AnalysisMode>` in the the project file, the auto-generated global config has to specify a ruleID based entry

[2021-04-30 08:17] Ankhimes commented on #5077
@mavasani Thanks for your support. Unfortunately we don't have requirement to convert all warnings as error.
We only need to configure severity based on the category

[2021-04-30 09:15] Menyus777 commented on #498
Could you put up a note why this rule was deprecated?

[2021-04-30 11:15] mavasani commented on #5077
@Ankhimes In that case you will need to do the following:

1. Use the category based entry to escalate all the enabled by default rules in categories to errors.
2. Use rule ID based entries to escalate individual disabled by default rule to error.
3. Wait for https://github.com/dotnet/roslyn/issues/47046#issuecomment-678474546 so we can use category based entries to apply on disabled by default ru

[2021-04-30 13:27] sharwell commented on #5059
@udlose You can submit it through the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool in Visual Studio.

[2021-04-30 19:37] tobias-tengler commented on #5058
Is it planned to included codefixes for removals and updates in the future?

[2021-04-30 20:33] arminatwork commented on #4842
@jmarolf
well
Has the problem been solved?

[2021-04-30 22:08] rynowak opened #5081 "Support for banned symbol + banned optional parameters"
### Analyzer

RS0030 https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.md

### Describe the improvement

I'd find it really helpful if I could special-case a banned symbol rule based on whether or not optional parameters are provided.

My use case is the family of methods like: https://docs.microsoft.com/en-

[2021-05-01 22:25] OsirisTerje commented on #2747
@mavasani I believe it may hit when the usage differs,  e.g. if I want to ban ICloneable, with T:System.ICloneable, it will not find any.

[2021-05-02 21:20] mayerj commented on #5061
This is #5070

[2021-05-02 22:55] geeknoid commented on #4025
Hi there. I'm curious why not systematically suppressing any cases where the given type is used as a generic is not the right answer? The rule is really trying to say "hey, you've got a type here that nobody is using". When it's used a generic, the type is in fact being used, so no diagnostic should be produced.

[2021-05-04 01:02] sharwell commented on #5059
@mavasani The workaround described above did not appear to have any impact on the scenario.

[2021-05-04 01:11] udlose commented on #5059
I can take a look at the dump tomorrow if you'd like.

[2021-05-04 13:23] Youssef1313 opened #5084 "CA2009 category (Reliability vs Performance)"
Current category for CA2009 is Reliability. I think it fits more into performance.

[2021-05-04 18:01] #3023 closed

[2021-05-04 18:01] #3115 closed

[2021-05-05 08:25] appel1 opened #5086 "CA2217 False positive if setting value of enum using shift operator"
### Analyzer

**Diagnostic ID**: [CA2217](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2217): `Do not mark enums with FlagsAttribute`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

False positive

### Steps To

[2021-05-05 14:22] abubakrtaha commented on #2877
any updates?

[2021-05-05 14:49] sharwell commented on #2877
@AceHack [CS0165](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0165) is a compiler error. It is required by the rules of the C# language to ignore `[DoesNotReturn]`, and since it is an error it cannot be suppressed. If you wanted a change to the behavior of that error, it would need to start in [dotnet/csharplang](https://github.com/dotnet/csharplang), e.g.

[2021-05-05 17:40] ReubenBond commented on #4095
We have seen multiple internal teams hitting this issue, especially with `List<T>.ForEach` when given an async lambda, but it occurs in other places where an async lambda is coerced into `Action` or one of its generic variants.

[2021-05-06 03:35] wsugarman opened #5088 "Cannot Fail Build due to IDE0003"
### Analyzer

**Diagnostic ID**: [IDE0003 ](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0003-ide0009): `this and Me preferences`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.202](https://dotnet.microsoft.com/download/dotnet/5.0)

_

[2021-05-06 12:38] adamralph commented on #2889
I'm [using 2.10.0](https://github.com/Particular/NServiceBus/blob/d39fa22d4894f87fe3b8c6d6e0569c55770f8946/src/NServiceBus.Core.Analyzer/NServiceBus.Core.Analyzer.csproj#L14) and I'm [still having this problem](https://github.com/Particular/NServiceBus/pull/6051/checks?check_run_id=2518127665).

[2021-05-06 12:43] adamralph commented on #2889
Sorry, it's a different error message. I guess I'll raise a new issue...

[2021-05-06 12:45] adamralph commented on #1803
In which version was this fixed?

I'm [using 2.10.0](https://github.com/Particular/NServiceBus/blob/d39fa22d4894f87fe3b8c6d6e0569c55770f8946/src/NServiceBus.Core.Analyzer/NServiceBus.Core.Analyzer.csproj#L14) and I'm [having this problem](https://github.com/Particular/NServiceBus/pull/6051/checks?check_run_id=2518127665).

[2021-05-06 12:46] adamralph commented on #2889
https://github.com/dotnet/roslyn-analyzers/issues/1803#issuecomment-833493379

[2021-05-06 12:51] adamralph commented on #1803
FWIW, I've confirmed that 2.4.0 does _not_ contain this bug, so I've reverted to that version.

FYI although 2.6.1 contains this bug, I didn't want to revert to 2.6.0 because 2.6.1 must be fixing some _other_ bugs, and 2.6.1 is [listed as the supported version](https://docs.microsoft.com/en-us/visualstudio/extensibility/roslyn-version-support?view=vs-2019) in the 2.6.x range.

I can't upgrade past

[2021-05-06 17:05] #2219 closed

[2021-05-06 17:06] mavasani commented on #2103
This is done.

[2021-05-06 17:06] #2103 closed

[2021-05-06 17:15] mavasani commented on #2970
Going to close this issue, please re-open if we feel any more work is needed here.

[2021-05-06 17:15] #2970 closed

[2021-05-06 17:19] mavasani commented on #3361
Moving this back to Roslyn repo as we do now have warning waves, and this seems a candidate for one.

[2021-05-06 17:22] mavasani commented on #2690
Closing as this is a very old issue. Kindly re-open on roslyn repo if you see it again.

[2021-05-06 17:22] #2690 closed

[2021-05-06 17:23] mavasani commented on #2626
Closing as no response from the issue author.

[2021-05-06 17:23] #2626 closed

[2021-05-06 17:27] mavasani commented on #3036
@stephentoub I believe you already implemented this analyzer, correct?

[2021-05-06 17:37] mavasani commented on #3261
Aye.

[2021-05-06 17:37] #3261 closed

[2021-05-06 17:38] #3280 closed

[2021-05-06 17:39] #3306 closed

[2021-05-06 17:40] mavasani commented on #3332
Closing this out - we can get to this if/when need arises.

[2021-05-06 17:40] #3332 closed

[2021-05-06 17:41] mavasani commented on #3339
Agreed. This is still an experimental package, so we don't need a mention in readme.

[2021-05-06 17:50] mavasani commented on #3450
This has been fixed.

[2021-05-06 17:50] #3450 closed

[2021-05-06 17:52] mavasani commented on #3421
Yes, unclear if this is really valuable, given the potential noise. Closing out, can re-open if we get more feedback.

[2021-05-06 17:52] #3421 closed

[2021-05-06 17:53] mavasani commented on #3412
@buyaa-n I believe you looked at fixing/updating a related analyzer?

[2021-05-06 18:01] mavasani commented on #5077
Closing this out as there is not much we can do here. You need to follow the suggestion above.

[2021-05-06 18:01] #5077 closed

[2021-05-06 18:04] mavasani commented on #4989
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3218

[2021-05-06 18:04] #4989 closed

[2021-05-06 18:05] mavasani commented on #4885
We do support an editorconfig option to turn on analysis on exception paths: https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#dispose-analysis-kind-for-idisposable-rules. However, note that this mode has known performance issues, which still need to be investigated.

[2021-05-06 20:24] Youssef1313 opened #5089 "New rule: Warn for unnecessary null check followed by "is type" pattern"
I'd love an analyzer for this...

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/53223#discussion_r627533550_

[2021-05-07 01:47] stephentoub commented on #3036
Yes, CA1805.

[2021-05-07 02:36] #3036 closed

[2021-05-07 02:58] mavasani commented on #5089
CA1508 covers majority of cases including flagging the null check in `obj is string s && s != null`. We should extend CA1508 to also flag the null check in `obj is string && obj != null`

[2021-05-07 03:59] Youssef1313 commented on #5089
@mavasani A small note:

The message for CA1508 says that an expression is always true/false. This is correct for `obj is string s && s != null` where `s != null` is always true, and is correct for `obj is string && obj != null` when `obj != null` is always false.

But for `obj != null && obj is string`. None of them is always true/false. However, `obj != null` is redundant because it's done impli

[2021-05-07 22:43] mjameson-se commented on #4733
I'm also seeing CA1801 in this same scenario if the method has a parameter. Super annoying as I'm trying to write a source generator which generates code to implement my partial method based on the presence of an attribute. Looks like I can suppress the warning by adding the suppression attributes to the generated code though.

[2021-05-09 23:29] Kuinox opened #5091 "CompareSymbolsCorrectlyFix InvalidCastException"
### Analyzer

**Diagnostic ID**: RS1024.

### Analyzer source

**Version**: 6.0.100-preview.4.21220.4

### Describe the bug

### Steps To Reproduce

[code]
Summon codefix on .Equals will throw:
<details><summary>stacktrace</summary>
<p>

[code]

</p>

[2021-05-10 15:26] Youssef1313 opened #5092 "CA1816 shouldn't warn for DisposeAsync"
Oh wow, great job! Yes, it still is a warning... I'm not sure when it is planned to be released. But as soon as it is made public, I can remove the suppression.

_Originally posted by @IEvangelist in https://github.com/dotnet/docs/pull/24115#issuecomment-836828451_

[2021-05-10 15:27] Youssef1313 commented on #5092
@mavasani Can you confirm if #3679 had made it into the latest SDK? Based on @IEvangelist comment, the latest SDK seems to have the bug. If it still reproduces, then my fix could have had something wrong.

[2021-05-10 16:10] mavasani commented on #5092
@IEvangelist Can you try to add NuGet package reference to the latest version from this feed: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&version=6.0.0-preview5.21256.2&protocolType=NuGet&view=versions

Please make sure you remove `EnableNETAnalyzers` property setting in your project file.

[2021-05-10 17:16] Kuinox commented on #5091
Where the analyzer is supposed to be?
In VS ? In the SDK ? In the package nuget ?
![image](https://user-images.githubusercontent.com/18743295/117698114-a0d53b00-b1c3-11eb-98b3-790fa058ff9b.png)
My dependencies looks up to date.

[2021-05-10 17:31] Youssef1313 commented on #5091
You can consume analyzers from either the SDK or from the NuGet package.
It's unclear from the screenshot what version of Microsoft.CodeAnalysis.NetAnalyzers you're using, or if you're consuming it from the SDK.

[2021-05-10 17:50] sharwell commented on #5089
Right, this proposal was based on expressions of the form `x != null && x is T`, which would not be covered by CA1508.

[2021-05-10 17:53] mavasani commented on #5089
Seems like this will be more suited to the bucket of unnecessary IDExxxx code rules in Roslyn repo: https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/unnecessary-code-rules

[2021-05-10 21:50] Kuinox commented on #5091
Ok, I updated, now there is still the warning, but no more codefix.
![image](https://user-images.githubusercontent.com/18743295/117729015-84002e00-b1ea-11eb-8dfc-b0f558a6e49b.png)

[2021-05-11 03:42] mavasani commented on #5091
`Microsoft.CodeAnalysis.NetAnalyzers` is not the package that contains `CompareSymbolsCorrectly` analyzer/fix. You should instead try to add a NuGet package reference to `Microsoft.CodeAnalysis.Analyzers` from this feed: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.Analyzers&protocolType=NuGet&version=3.3.3-beta1.21256.2&view=versions

[2021-05-11 03:54] Youssef1313 commented on #5091
Oh. Sorry for any confusion above @Kuinox

[2021-05-11 14:11] IEvangelist commented on #5092
Okay, I have been able to verify that this does in fact work correctly with the .NET 6 prelease bits. Meaning, there is no warning when the `GC.SuppressFinalize(this);` in the `DisposeAsync()`. We should be able to close this and when .NET 6 ships in November, I'll update the docs and code samples accordingly.

[2021-05-11 16:53] KSchlobohm opened #5095 "Taint tracking doesn't work for .NET Core"
### Analyzer

**Diagnostic ID**: [CA3006](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca3006): `Review code for process command injection vulnerabilities`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

*CA3006*

[2021-05-11 21:55] KSchlobohm commented on #5095
Other examples stemming from (I think) the same root cause are:
* CA3009
* CA3011
* CA3012

[2021-05-11 21:57] KSchlobohm commented on #5095
@dotpaul , what are some of the sinks where these analyzers are active? I only tried the example from the doc and wasn't sure what other samples would be valid.

[2021-05-12 15:57] philfontaine opened #5099 "[CA2213] A warning should be reported if a subclass does not dispose an owned disposable type."
### Analyzer

**Diagnostic ID**: [CA2213](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2213)

### Describe the improvement

When inheriting from a base class that implements IDisposable: If we declare owned disposable fields in the subclass BUT don't override the Dispose method, no warning is emitted.

This seems to be working as intended:

Description: "...Th

[2021-05-12 17:57] dotpaul commented on #5095
https://github.com/dotnet/roslyn-analyzers/blob/c0b0d1f02335c4b50f6e64783645562fed10f49a/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataConfig.cs#L312 is a good place to start. The SinkInfos classes referenced are in the same directory.

[2021-05-12 22:13] buyaa-n commented on #4428
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/5087

[2021-05-12 22:13] #4428 closed

[2021-05-13 03:09] #5054 closed

[2021-05-13 16:16] #5091 closed

[2021-05-13 19:01] Youssef1313 commented on #5091
@mavasani Was this closed by mistake? This is now complaining that no codefix is being offered.

[2021-05-14 10:58] daiplusplus opened #5100 "CA1508 false-positive in negated pattern-match"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.203](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

With this code...

[c

[2021-05-14 13:32] Youssef1313 commented on #5100
I doubt this is the case. It might be because of the usage of `== null` vs `is null`. Though the conclusion is the same, this indeed looks like a bug.

[2021-05-14 17:31] NewellClark commented on #5086
I've added unit tests to detect this bug and am unable to get it to repro. [Here](https://github.com/NewellClark/roslyn-analyzers/tree/%235086-false-positive-CA2217) is the branch I've been working on.

[2021-05-14 18:12] appel1 commented on #5086
It is possible that I was a bit too quick with my steps to reproduce.

You need at least 32 non-zero values.

[code]

![image](https://user-images.githubusercontent.com/973314/118311806-aba80c80-b4f0-11eb-9024-22f37410d68b.png)

[2021-05-14 18:36] NewellClark commented on #5086
@appel1 Here's what's happening: when you say `1 << 31`, you get -2147483648, because `1` is an `int` constant. The analyzer is correctly telling you that you have an invalid flags enum, because flags enumerations are supposed to have all even powers of 2.

[2021-05-14 19:15] #5035 closed

[2021-05-14 21:24] appel1 commented on #5086
@NewellClark Don't I feel silly now. Good thing NetAnalzyers caught this in our code then, it'll be interesting to find out if this was done intentionally or not. 🤔

[2021-05-15 12:15] reduckted opened #5103 "Built-in analyzers are used when EnableNETAnalyzers is true and the Microsoft.CodeAnalysis.NetAnalyzers NuGet package is installed"
### Analyzer

N/A
### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3

### Describe the bug

If you set `EnableNETAnalyzers` to true _and_ install the `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package, the build will report these warnings:

in VB.NET:
[code]

or in C#:
[code]

### St

[2021-05-15 12:16] mavasani commented on #5086
Closing as by design.

[2021-05-15 12:16] #5086 closed

[2021-05-15 13:47] daviddunson commented on #3002
There is also, no way to persist the key and IV and later use the persisted key and IV for decryption without suppressing this warning:

[code]

and then later:

[code]

or:

[code]

[2021-05-16 10:41] randomnoise commented on #5095
I gave it a shot with #5106, i hope it's in the right direction. 😏

[2021-05-17 04:40] #4956 closed

[2021-05-18 12:22] Crown0815 opened #5110 "CA1822 raises for custom TheoryAttribute"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**VisualStudio**: Built-in CA analyzers, `dotnet --version 5.0.201`
[code]

### Describe the bug

I am using a custom `Theory` attribute based on the `Theory` attribute in the `NUnit` framework. I am not inheriting from the `Th

[2021-05-18 13:53] Youssef1313 commented on #5110
Related to (or duplicate of): https://github.com/dotnet/roslyn-analyzers/issues/4995.

[2021-05-18 16:13] #5021 closed

[2021-05-18 16:15] #5025 closed

[2021-05-18 21:33] matteo-prosperi opened #5114 "New rule suggestion: require overriding Equals(Object) and GetHashCode() when implementing IEquatable"
### Describe the problem you are trying to solve

According to the documentation of [IEquatable](https://docs.microsoft.com/en-us/dotnet/api/system.iequatable-1?view=net-5.0), "If you implement IEquatable<T>, you should also override the base class implementations of Equals(Object) and GetHashCode() so that their behavior is consistent with that of the Equals(T) method"

### Describe suggestions o

[2021-05-18 21:42] matteo-prosperi opened #5115 "New rule suggestion: Implementations of Equals(T) for IEquatable<T> should be virtual for non-sealed classes"
According to the documentation of `IEquatable`, "If you implement IEquatable, you should also override the base class implementations of Equals(Object) and GetHashCode() so that their behavior is consistent with that of the Equals(T) method". In my opinion this implies that Equals(T) and Equals(Object) behaves in the same way.
Because `Equals(Object)` is a virtual method, `Equals(T)` should also b

[2021-05-19 13:53] wzchua commented on #4359
@mavasani https://github.com/dotnet/roslyn-analyzers/pull/5067 should have fixed this

[2021-05-20 07:49] Bosch-Eli-Black commented on #4530
Has the fix for this been released?

[2021-05-20 16:21] mavasani commented on #5100
Need to check against the latest preview package for drops from master: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&version=6.0.0-preview6.21270.1&protocolType=NuGet&view=versions

[2021-05-21 00:04] sharwell commented on #3983
Based on https://github.com/dotnet/roslyn-analyzers/issues/3983#issuecomment-749663385, it appears that this is likely to be an exceptionally rare edge case. I'm fine with either of the following:

* Do nothing
* Suppress CA1067 for the case where a derived type implements `IEquatable<T2>` _and_ inherits an implementation of `IEquatable<T1>` _and_ a base type has sealed `Equals(object)`

The condi

[2021-05-21 04:32] #4775 closed

[2021-05-21 04:45] #444 closed

[2021-05-21 19:06] buyaa-n commented on #5023
I have tried the approach using `SupportedOSPlatform("CrossPlatform")` attribute which worked well for the main purpose but is causing side effects in further analysis and needs more tweak to get rid of it. Even i was able to exclude all side effects it doesn't look like an efficient way of handling this, feels a bit hacky.

So i decided to use MSBuild property `<CompilerVisibleProperty Include="P

[2021-05-21 19:17] eatdrinksleepcode commented on #4425
I'm writing my first analyzer / code fix today, and I am hitting a lot of these analyzer warnings (which are failing the build since I have warnings-as-errors on by default). It's frustrating to not have any explanation or documentation anywhere for what these mean.

For example, RS1026 just says "Enable concurrent execution", with no explanation of how to do that, or why. Through web search I was

[2021-05-21 19:39] Youssef1313 commented on #4425
@eatdrinksleepcode All of these should be resolved once there is a documentation in place. To answer some of your questions:

- > For example, RS1026 just says "Enable concurrent execution", with no explanation of how to do that, why

for the "how" part: RS1026 has a codefix associated with it, so the codefix should simply show you how to do that. If the codefix didn't show for you,  please open a

[2021-05-22 14:31] danmoseley commented on #5095
Should this be closed now?

[2021-05-22 15:29] Youssef1313 opened #5123 "GetOrCreateTypeByMetadataName is called on every attribute syntax callback"
https://github.com/dotnet/roslyn-analyzers/blob/5968beca1c5c6c12d4fa81a08b7b4561a3c05d6e/src/NetAnalyzers/CSharp/Microsoft.NetCore.Analyzers/Resources/CSharpMarkAssembliesWithNeutralResourcesLanguage.cs#L20-L34

https://github.com/dotnet/roslyn-analyzers/blob/5968beca1c5c6c12d4fa81a08b7b4561a3c05d6e/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Resources/MarkAssembliesWithNeutralResourcesLangu

[2021-05-23 08:55] randomnoise commented on #5095
PR is merged to both 2.9.x and main branches. If there is no extra work for the issue, i think it can be closed.

Linking PR with the issue didn't work for non-main branch, I think that's the only reason.

[2021-05-23 10:14] Youssef1313 opened #5125 "AbstractDoNotCopyValue should perform type comparison for `NonCopyableAttribute` and bail-out in compilation start"
https://github.com/dotnet/roslyn-analyzers/blob/a0522afd52b25ad211298e308fd5bbc7734865e0/src/Roslyn.Diagnostics.Analyzers/Core/AbstractDoNotCopyValue.cs#L1728

I think the analyzer should find the attribute in compilation start, and avoid unnecessary work if the attribute doesn't exist. Then perform a type comparison in the line pointed above.

[2021-05-23 10:42] #5095 closed

[2021-05-23 21:14] Youssef1313 commented on #5125
Currently Roslyn have the attribute defined twice, with different fully-qualified name. So it might not be worth doing that without a seeing if this have a performance gain. I haven't tried to measure this, going to close for now.

[2021-05-23 21:14] #5125 closed

[2021-05-24 07:12] mavasani commented on #3983
Lets go with 1. `Do nothing` for now and wait for more feedback/customer request before doing the extra code churn for a rare scenario.

[2021-05-24 07:12] #3983 closed

[2021-05-24 07:24] Youssef1313 commented on #4697
@bartdesmet Given that this analyzer is being removed in .NET 6.0, I dropped the fix of https://github.com/dotnet/roslyn-analyzers/pull/4700.

[2021-05-24 08:03] mavasani commented on #4697
I think we can close this issue. https://github.com/dotnet/roslyn/issues/49868#issuecomment-761024176 tracks handling this case when add a code fix for IDE0060

[2021-05-24 08:03] #4697 closed

[2021-05-24 08:05] Youssef1313 opened #5126 "Two analyzers are using the same description. Consider consolidating into one?"
https://github.com/dotnet/roslyn-analyzers/blob/e8cd97afe333a9bb9aa8b30c7bd00b1ef2b43bd7/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersResources.resx#L1160-L1162

https://github.com/dotnet/roslyn-analyzers/blob/e8cd97afe333a9bb9aa8b30c7bd00b1ef2b43bd7/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersResources.resx#L1241-L1243

[2021-05-24 12:27] Youssef1313 commented on #5126
Implementation-wise, it looks like one of the analyzers is purely about "out" and the other is purely about "ref". I think the important part here is to adjust the description.

[2021-05-24 16:03] TaffarelJr opened #5128 "False positive for CA1508"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)
**Version**: [SDK 5.0.202](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGe

[2021-05-24 17:25] TaffarelJr commented on #5128
Oops - I just found #5011 and #5100, which also look to be the same issue.

[2021-05-25 00:04] louis-z commented on #5110
I can look into it, if no one else has.

[2021-05-25 02:05] mavasani commented on #5110
Yes, please do

[2021-05-25 04:32] rui-ktei commented on #3946
Google took me here. This is actually a much needed feature. In our team, we use Resharper which does underline "possible multiple enumeration" issue, but the problem is that people still ignore it sometimes, so I was searching a way to force this type of "suggestion" to be a compilation error to force devs to pay attention.

I remember there's a way to configure roslyn-analyzer (through .editconf

[2021-05-25 06:09] Lokanath-Cell commented on #2250
This error is still happening in my code, Most of the using blocks report the problem even when I am using File streams

[2021-05-25 09:32] tobias-tengler opened #5130 "Code-fix for RS0017"
### Analyzer

**Diagnostic ID**: [RS0017](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md#rs0017-remove-deleted-types-and-members-from-the-declared-api)

### Describe the improvement

Provide a code-fix for the removal of APIs (`RS0017`).

### Describe suggestions on how to achieve the rule

The code-fix would
- remove the li

[2021-05-25 12:16] Youssef1313 commented on #5130
@mavasani Wouldn't writing a codefix here just work? I know there is no IDE support for additional file codefixes, but what about from command-line?

cc @JoeRobich

[2021-05-25 14:10] VladimirReshetnikov opened #5131 "Replacing an explicit declaration with an equivalent compiler-generated should not trigger RS0017"
See, for example, a declaration of an empty protected instance constructor in the class [`Microsoft.CodeAnalysis.Location`](http://source.roslyn.io/#Microsoft.CodeAnalysis/Diagnostic/Location.cs,15):

[code]

This declaration is redundant. If you remove it from source, the compiler generates exactly the same by default. So, it does not affect a shape of public API in any way.

But when I tried to

[2021-05-25 18:48] Cosifne commented on #3946
Tag @mavasani for visibility

[2021-05-26 14:10] Truckerek commented on #5100
Similar case and proof that it is not a dead conditional code:
`[TestMethod]
[ExpectedException(typeof(ArgumentException))]
public void DoTest()
{
	DoTest(string.Empty);
}

private static void DoTest(string value)
{
	if (value == null)
	{
		throw new ArgumentNullException(nameof(value));
	}
#pragma warning disable CA1508 // Avoid dead conditional code
	if (string.IsNullOrWhiteSpace(value))
#pragma

[2021-05-26 16:44] vsfeedback opened #6243 "Visual Studio IntelliSense not recognizing unreachable code"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-IntelliSense-not-recognizi/1429310)._

---
[severity:It bothers me. A fix would be nice]
Else if branch is unreachable due to the same condition.
[code]

! [Untitled.png] (https://aka.ms/dc/image?name=B426b918dd1d74e80acd3538fb563e855637571954303566156_Untitled.png&tid=426b

[2021-05-26 17:07] Youssef1313 opened #5133 "CA1056 should ignore JSON properties"
### Analyzer

**Diagnostic ID**: [CA1056](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1056): `URI properties should not be strings`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

[code]

This possibly shouldn't trig

[2021-05-26 17:55] Youssef1313 opened #5134 "CA1812 cannot be suppressed"
![image](https://user-images.githubusercontent.com/31348972/119708142-3e836800-be5c-11eb-880d-482775e18200.png)

Quick actions doesn't show suppression options, and manually writing a suppression line doesn't suppress the diagnostic.

Notes:

- No idea if this is related to roslyn or roslyn-analyzers.
- This analyzer is compilation end.
- I'm treating warnings as errors, but it seems this failed C

[2021-05-26 18:06] Youssef1313 commented on #5134
This was a "stuck" diagnostic. Cleaning and rebuilding fixed that.

But code actions are not offered:

![image](https://user-images.githubusercontent.com/31348972/119709772-de8dc100-be5d-11eb-8963-3bdbaf873992.png)

@mavasani Should likely move to roslyn?

[2021-05-26 21:00] jmarolf opened #6244 "Warn if `?.` operator is being used on non-nullable properties"
Today we do not warn about unnecessary `?.` operators

[2021-05-27 04:39] mavasani commented on #5134
This is by design. Compilation End diagnostics do not participate in code fix computation due to performance reasons.

[2021-05-27 04:39] #5134 closed

[2021-05-27 23:47] Jehoel commented on #4900
I'm experiencing the same issue as well, using `C:\Program Files\dotnet\sdk\5.0.203\Sdks\Microsoft.NET.Sdk\targets\..\analyzers\Microsoft.CodeAnalysis.NetAnalyzers.dll`

Here's my repro case:

[code]

Screenshot proof:

![image](https://user-images.githubusercontent.com/1693078/119909934-e5bed880-bf0a-11eb-832c-5984eed40882.png)

Weirdly, when I did a clean rebuild of the project the error went aw

[2021-05-28 00:49] Jehoel commented on #1101
* What purpose does IDE0058 serve when CA1806 does the same thing?
* Is there any difference? If so, then what? And why isn't the difference documented?
* Why does the documentation for both [CA1806](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1806) and [IDE0058](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0058) completel

[2021-05-28 13:11] stephentoub opened #5135 "CA2247 should flag wrong arguments via base"
### Analyzer

**Diagnostic ID**: [CA2247](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2247): `Argument passed to TaskCompletionSource constructor should be TaskCreationOptions enum instead of TaskContinuationOptions enum`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-an

[2021-05-28 21:37] MichaelSimons opened #5136 "[ArPow] Run source-build leg in official builds"
This is required in order to publish the Microsoft.SourceBuild.Intermediate.roslyn-analyzers NuGet package so that it can be referenced by downstream dependent repos that participate in source-build.

The source-build leg was added to PR validation as part of https://github.com/dotnet/roslyn-analyzers/pull/4930 but the official CI was missed.  https://github.com/dotnet/roslyn-analyzers/blob/main/a

[2021-06-01 13:30] geeknoid opened #5138 "CA2000 doesn't recognize factory methods"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2000)

### Describe the improvement

The rule is great at finding instances of IDisposable objects that aren't being disposed in general, but it doesn't recognize factory methods as the source of IDisposable instances:

[code]

This will not trigger a warning about not dispo

[2021-06-01 13:31] geeknoid commented on #5138
PS: This suggestion came about as a result of chasing down a problem caused by undisposed objects during tests. We thought we were largely immune from such problems until we realized our objects were being created by factory methods and so the analysis we thought was protecting us, was in fact not able to.

[2021-06-01 21:20] sygmond commented on #4699
In my case I was getting the warnings because I'm using **AssemblyInfo.cs** with `<GenerateAssemblyInfo>false</GenerateAssemblyInfo>` in **Project.cspropj**. I need it this way because I'm managing app versioning via git merge commits.

To resolve the warnings, this worked for me:

In AssemblyInfo.cs add the line:

`[assembly: SupportedOSPlatform("windows7.0")]`

Note: If you add "windows" instead

[2021-06-02 05:31] buyaa-n commented on #4983
@RussKie this is not a bug, seems your repo is disabled AssemblyInfo.cs file generation (`<GenerateAssemblyInfo>false</GenerateAssemblyInfo>`) https://github.com/RussKie/gitextensions/blob/1ffc6f91f959c6e947963bc8e176f09de08375d4/Directory.Build.props#L15.

Which is the only way MSBuild could add the `SupportedOSPlatform("windows7.0")` attribute. Please read the [SDK expert's suggestion about this

[2021-06-02 06:08] RussKie commented on #4699
Thank you @sygmond, I'll give it a go.

[2021-06-02 06:16] RussKie commented on #4983
Thank you for the link and thanks to @sygmond who provided an insight in https://github.com/dotnet/roslyn-analyzers/issues/4699#issuecomment-852453573. I'll give it a go once I have a spare moment.

However I can't help but think that the current experience is far from desired, even @shanselman [stumbled on it](https://www.hanselman.com/blog/updating-floatingglucose-to-net-5-display-nightscout-or-