[2020-07-10 08:35] BrightLight opened #3845 "CA1508 AvoidDeadConditionalCode - false positive on params argument"
#### Analyzer package
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version
v3.0.0 (Latest)

#### Diagnostic ID
[CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508): Avoid dead conditional code

#### Repro steps
[code]

I get an issue reported for `controlHandlers == null` although `controlHandlers

[2020-07-10 13:48] Prateek1584990 commented on #3753
Hi @mavasani  ,

Can we have any resolution to which we are facing.

[2020-07-10 15:14] #3824 closed

[2020-07-10 15:39] jcouv commented on #3793
From discussion with @sharwell it is good that we complain about public API issues both in user code and in generated code, so that all issues with the public API surface are visible.

[2020-07-10 15:40] #3793 closed

[2020-07-10 16:14] sharwell commented on #3793
On that note, I do need to update [ResxSourceGenerator](https://github.com/dotnet/roslyn-sdk/pull/552) to add the `#nullable enable` line.

[2020-07-10 16:34] rtnlmeme-DestroyerOfDeath opened #3846 "BannedApiAnalyzers: Change warning severity case by case"
#### Analyzer package

[Microsoft.CodeAnalysis.BannedApiAnalyzer](https://www.nuget.org/packages/DotNetAnalyzers.BannedApiAnalyzer/)

#### Package Version

1.0.0-beta.5

I would like to set the diagnostic severity of my banned types case by case.
Is that possible or does anybody know a way? I don't mind using some hack.

In the [archived wiki](https://github.com/DotNetAnalyzers/BannedApiAnalyzer)

[2020-07-10 17:38] jcouv commented on #3260
@RussKie Any progress? I'm not sure we want to keep this issue opened on analyzers at this point.

[2020-07-10 20:30] Youssef1313 commented on #3835
You might find [this](https://github.com/dotnet/aspnetcore/discussions/23561) related.

[2020-07-10 23:00] juliusfriedman commented on #3835
As a FYI this is also occurring on Entity Framework properties that are marked get; set; with [NotMapped]

[2020-07-11 01:11] juliusfriedman opened #3848 "Null flow analysis"
Is broken (not working) when used in string interpolation:

[code]

See also https://github.com/dotnet/roslyn-analyzers/issues/3834#issuecomment-655695890

[2020-07-11 01:35] mavasani commented on #3848
@juliusfriedman Can you clarify what null flow analysis are you referring to? Is this the C# 8 nullable reference type warnings? If so, this issue should be ported to roslyn repo.

[2020-07-11 02:35] juliusfriedman commented on #3848
I am not using nullable references so whatever null flow analysis is built into the analyzer that says to check for null.

[2020-07-11 04:10] mavasani commented on #3848
The only nullable related analyzer in this repo is CA1062, which only validates null check is performed for argument values of public APIs before first read. You will need to provide a much more clear repro case with actual and expected behavior for making this issue actionable.

[2020-07-11 20:25] juliusfriedman commented on #3848
Should it not also flow through to Actions, Lambdas etc or static functions declared in public methods?
It seems like a logic flow to follow to me but maybe we see things differently...

[2020-07-12 07:34] gpetrou commented on #3787
If I am not wrong, the PR you linked is from 2019. The 3.0.0 version I reported the issue is from April 2020. Also, the latest 3.3.0 beta has the same problem.

[2020-07-12 16:05] mavasani commented on #3787
Can you please check if you have “Microsoft CodeAnalysis 2019” extension installed? If so, please uninstall and retry.

[2020-07-12 17:47] gpetrou commented on #3787
I don't have this extension installed. Are you not able to reproduce this?
I am still getting the weird exception I mentioned above when running the tests, so cannot run them.
I wanted to check if just changing the test in https://github.com/dotnet/roslyn-analyzers/pull/3311 from:

    var e = new RefStructDisposable();
    e.Dispose();

to

    using var e = new RefStructDisposable();

would be e

[2020-07-13 08:15] RussKie commented on #3260
I think it is done. Thank you

[2020-07-13 08:15] #3260 closed

[2020-07-13 08:47] Evangelink commented on #3835
@pranavkm We'd like to know all methods that should not be marked as `static` for a web application either because they are convention based methods or because they have some specific attribute on them. In case of the attribute, please could you share the attribute. In case of a convention method, please specify if the method has to be in a specific class (specific name, or class inherits from som

[2020-07-13 09:44] Evangelink commented on #3787
@gpetrou Thank you for this last comment, I really don't understand why I couldn't reproduce before but now I do manage to reproduce the FP.

Full unit-test:

[code]

[2020-07-13 10:03] Evangelink commented on #3787
@mavasani I have found where the code doesn't behave correctly but I am not really sure to understand why things behave differently for `ref struct` compare to `class`. On this line https://github.com/dotnet/roslyn-analyzers/blob/208c78df561ae359c8e7bff84c4d2593256c624c/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAnalysis.DisposeDataFlowOperationVisitor.cs#L127
for the

[2020-07-13 10:48] Evangelink commented on #3846
@rtnlmeme-DestroyerOfDeath You can only configure the rule severity per project, not per symbol.

@mavasani This is one more request toward having per symbol severity, I don't know how hard this would be (and I know this is on roslyn's side) but that might be interesting to investigate.

[2020-07-13 11:06] Evangelink commented on #2943
Ping @mavasani

[2020-07-13 11:36] Evangelink commented on #3199
As far as I can see there is no operation for aliases and it seems that I cannot use `RegisterSymbolAction` for `SymbolKind.Alias`. There is no recommendation on how to do so but I assume that I will need to register a syntax action and then do some symbol lookup... Any idea on how to do any better?

[2020-07-13 12:27] Evangelink commented on #3115
@mavasani I think this shall be marked as blocked until the we have the nullability annotation from roslyn. Based on the discussions it is quite likely that this cannot be null and so the only job here would be to remove the if condition.

[2020-07-13 12:27] Evangelink commented on #3023
@mavasani I think this shall be marked as blocked until the we have the nullability annotation from roslyn. Based on the discussions it is quite likely that this cannot be null and so the only job here would be to remove the if condition.

[2020-07-13 12:29] Evangelink commented on #3240
@mavasani I am not sure what could be done here except having the dataflow handling cross-procedural calls.

[2020-07-13 12:49] Evangelink commented on #3134
@kmgallahan Just to confirm I got all of your suggestions right. You'd like to have the doc website updated to also mention `System.Diagnostics.Contracts` maybe also include an example and then you'd like the message and description of the rule to be updated.

@mavasani Are you fine with these changes?

[2020-07-13 12:54] Evangelink commented on #3525
@mavasani It'd be nice if we could define the next steps for this analyzer, it seems to be pretty important.

[2020-07-13 13:33] mavasani commented on #3240
@Evangelink we already perform interprocedural analysis.

[2020-07-13 13:39] mavasani commented on #3240
@brennadev this issue is very hard to tackle for any dataflow analysis as the nullness of two separate variables have been tied and you are relying on checking nullness of one to ensure non-null for other. I think it seems best for the code to perform explicit null check for value in the public method itself before passing it to another method.

[2020-07-13 13:58] Evangelink commented on #3516
I confirm the various behavior described by @Tan90909090.

@mavasani I have tried to debug the 3 cases explained and there are 2 things I can't understand:

1. I can't find the piece of code that actually exclude the disposable value returned by a function. From the debugging, there is nothing that seems to be saying even if this isn't disposed don't report.

2. Maybe this question will be answere

[2020-07-13 13:59] Evangelink commented on #3546
Relates to #3835

[2020-07-13 14:02] Evangelink commented on #3477
@mavasani If we don't want to have a built-in "exception" for such case, would it be possible to at least create some kind of option where we could define a list of method doing some ownership transfer?

[2020-07-13 14:03] Evangelink commented on #3451
@mavasani Reading this thread I think that everything is now handled and so the ticket can be closed.

[2020-07-13 14:05] #3507 closed

[2020-07-13 14:06] mavasani commented on #3846
This is duplicate of https://github.com/dotnet/roslyn/issues/27712, which @sharwell is driving.

[2020-07-13 14:08] mavasani commented on #3846
@Evangelink We can work around by defining a new option that allows fine grained configuration, but it seems better to wait for https://github.com/dotnet/roslyn/issues/27712 and report sub-diagnostics with different sub-ID per banned type to get this functionality.

[2020-07-13 14:10] mavasani commented on #2943
Yeah, likely related to https://github.com/dotnet/roslyn-analyzers/issues/3681. Closing out until we get a repro.

[2020-07-13 14:10] #2943 closed

[2020-07-13 14:23] mavasani commented on #3199
Yeah, not sure there is a good way to do this. Also it is extremely unlikely for someone to define a type just to use it in aliases. I think a source suppression is reasonable here and we should not modify the analyzer.

[2020-07-13 14:24] pranavkm commented on #3835
* Startup types may implement the `IStartup` interface although it's not very common to see these. By convention, the type is either named `Startup` or has the `Startup*` prefix: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-3.1#startup-class-conventions.

* For middlewares, the `InvokeAsync` instance method is invoked via reflection: https://docs.microsoft

[2020-07-13 14:30] Evangelink commented on #3199
I am fine with either approach. @sharwell Any problem with having source suppression?

[2020-07-13 14:39] rtnlmeme-DestroyerOfDeath commented on #3846
I forked the repo and added support for it

scratch commit: (not build etc)
https://github.com/rtnlmeme-DestroyerOfDeath/BannedApiAnalyzer/tree/feature/seperate_warn_levels

you can now define symbols like:

symbol;message;warnLevel

check the DOCUMENTATION.md of that branch, I describe it there.

[2020-07-13 14:39] mavasani commented on #3835
Tagging @sharwell as well

No, the analyzer is designed to flag all non-static APIs that can be made static. We should not change that behavior.

Unfortunately, large bucket of analyzers will lead to false positives on any frameworks that use non-declarative technique for runtime code execution, such as reflection, MEF, etc. It is not feasible to ensure each analyzer handle/special case all scenar

[2020-07-13 14:43] mavasani commented on #3835
Seems like the suppressors can potentially go here: https://github.com/dotnet/aspnetcore/tree/master/src/Analyzers/Analyzers/src

[2020-07-13 14:54] mavasani commented on #3846
Thanks @rtnlmeme-DestroyerOfDeath. Unfortunately, analyzer specified diagnostic severity will be overridden by compiler if user configured the ID. Your solution will work for majority of cases, but it would be a much better and complete solution to support this via sub-diagnostics feature.

[2020-07-13 15:35] mavasani commented on #3525
Yeah, hoping to get to it this week...

[2020-07-13 15:38] mavasani commented on #3516
That is a primary case of dispose leaks from factory methods. We special case certain methods as known factory methods and track dispose state for them.

I will try to look at this issue this week.

[2020-07-13 15:40] mavasani commented on #3451
@Evangelink The workaround of using ValidatedNotNullAttribute works, but we need to ensure the editorconfig based configuration also works.

[2020-07-13 16:06] rtnlmeme-DestroyerOfDeath commented on #3846
Offtopic:
How would you generate those docstring ids?

I found the [doc string id class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.documentationcommentid?view=roslyn-dotnet).
But do I have to do the shennanigans of compiling my project, and getting the symbol by metaDataName?

[2020-07-13 16:14] mavasani commented on #3846
How would you generate those docstring ids?

You can enable XML doc comments for your project, add a dummy xml doc comment to the relevant symbol, if one does not exist, and then build the project. This should output an xml comments file with doc comment ID of the symbol.

[2020-07-13 16:14] #3846 closed

[2020-07-13 16:28] rtnlmeme-DestroyerOfDeath commented on #3846
You compiling with csc and the -doc option, right? Seems to work nicely, yea.
How would you achieve generating them let's say for all  the methods in the System.Linq.Enumerable class?
What I would do now is putting my own dummy class and copy the linq code in there.

Is there some generic way for that?

[2020-07-13 16:47] kmgallahan commented on #3134
@Evangelink There are 3 problems:

1. The rule states: CA1062: Validate arguments of public methods
2. The [Code Contracts](https://marketplace.visualstudio.com/items?itemName=RiSEResearchinSoftwareEngineering.CodeContractsforNET) project is dead and doesn't work with VS 2017/2019
3. `System.Diagnostics.Contracts` requires using the binary rewriter of the Code Contracts project (as mentioned [here

[2020-07-13 17:44] sharwell commented on #3199
Aliases are relatively infrequent syntax nodes. It should be easy to register a syntax node action for them that checks for use of a type as an argument to another type with a generic constraint.

[2020-07-13 17:45] mavasani commented on #3199
Yep, I believe @Evangelink did that in https://github.com/dotnet/roslyn-analyzers/pull/3849. The approach in PR sounds reasonable to me. @sharwell can you review the PR?

[2020-07-13 18:06] Cyberboss opened #3850 "Analyzer 'Microsoft.NetCore.Analyzers.Tasks.UseValueTasksCorrectlyAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null'"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

AD0001

#### Repro steps

1. Clone https://github.com/tgstation/tgstation-server
2. Checkout branch `FixSomeStuff` at commit https://github.com/tgstation/tgstation-server/commit/2938c128ea721805c1335808763d1

[2020-07-13 18:16] mavasani commented on #3850
I believe this is a dupe of https://github.com/dotnet/roslyn-analyzers/issues/3642, but I'll let @stephentoub confirm and close.

[2020-07-13 18:17] mavasani commented on #3850
@Cyberboss Can you also try latest pre-release: https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/3.3.0-beta1.final?

[2020-07-13 18:23] Cyberboss commented on #3850
That looks to have done the trick. Thanks!

[2020-07-13 18:23] #3850 closed

[2020-07-14 08:05] Evangelink commented on #3835
@mavasani Shall I start to add some more aspnet related exceptions in the analyzer or do you want to stop exclusions for now?

[2020-07-14 08:18] Evangelink commented on #3211
@mavasani Do you see any better way than having the excluded_symbol_names option supporting wildcard and being applied here?

[2020-07-14 08:25] Evangelink commented on #2970
@mavasani I don't know if that's the only issue, I am having a lot of these warnings when doing MVVM applications. When I have looked at the actual dependencies it seems to be looking recursively and I am not entirely sure if that's what we want or not. For example if on the class C you reference class A which references let's say 50 types, C is considered as referencing all of A's references + A.

[2020-07-14 08:30] Evangelink commented on #2868
@mavasani I think the error is solved and so ticket can be closed.

[2020-07-14 08:31] Evangelink commented on #3259
@mavasani This ticket can be closed it was fixed by @sharwell in #3622

[2020-07-14 08:44] Evangelink commented on #2493
@333fred So if I got things right we need to extend `RS1024 (Compare symbols correctly)` to report a diagnostic on:
- calls to `GetHashCode`,
- new instances of `Dictionary` and `HashSet` (maybe more collections?) using symbols as the implementation will use hash code

Anything else?

[2020-07-14 12:47] mavasani commented on #3211
Sounds reasonable.

[2020-07-14 12:49] #2868 closed

[2020-07-14 12:49] #3259 closed

[2020-07-14 13:30] Evangelink opened #3852 "CA1810: false positive when field is used in static ctor"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0-beta1.final (Latest pre-release)

#### Diagnostic ID

Example: [CA1810](https://docs.microsoft.com/visualstudio/code-quality/ca1810)

#### Repro steps

[code]

#### Expected behavior

No CA1810 diagnostic.

#### Actual behavior

CA1810 d

[2020-07-14 13:48] Evangelink commented on #3535
Not sure what I meant xD

I think the rule is a good idea, if the code targets C# 7.2+, the analyzer should ensure that when a `struct` is passed as first parameter of an extension method it should always have either `in` or `ref` to have a clear intent and avoid potential bugs.

@mavasani If you give us the green light I'd be happy to work on it (or let @maxkoshevoi if he wants to).

[2020-07-14 13:49] Evangelink commented on #2860
Ping @jinujoseph @vatsalyaagrawal

[2020-07-14 13:50] Evangelink commented on #3211
Hum before starting the change, is there any mechanism in place to be able to measure analyzers performance just to ensure I am not killing perfs by allowing the wildcard on the `excluded_symbol_names` option.

[2020-07-14 13:51] Evangelink commented on #2823
Any opinion here @mavasani

[2020-07-14 13:58] mavasani commented on #3211
@Evangelink I am presuming we would check the option only after we have identified there is a violation, so it should be fine to perform wildcard processing then.

[2020-07-14 13:59] mavasani commented on #2823
Lets wait for more feedback here.

[2020-07-14 14:24] Evangelink commented on #2884
I can see the same behavior when using local functions

[code]

If the action is not called we indeed don't dispose the data but I think that's quite similar to ownership transfer. Doing a few debug sessions and looking at the implementation, I have noticed that the delegate and local function are not explored. I think that there might be a missing bit here but I think my knowledge is too small on

[2020-07-14 14:31] Evangelink commented on #3211
I will give it a go and we will see if that's ok or not :)

[2020-07-14 15:00] Evangelink commented on #1254
@mavasani I was having a look at implementing this rule and to test which case was causing an exception and I have noticed that the invalid placeholder is actually covered by the rule `IDE0043`. Do we want to do something here?

![image](https://user-images.githubusercontent.com/11340282/87441499-73475180-c5f3-11ea-8bb9-28f9857d8792.png)

[2020-07-14 15:42] 333fred commented on #2493
More collections would be good. Also using the `==` operator.

[2020-07-14 15:53] Evangelink commented on #2493
`==` is already handled by the current version of the analyzer if I am not mistaken.

[2020-07-14 16:08] Evangelink commented on #3242
@mavasani When working on #3211 I have realized that since we have merged #3233 all the rules now support wildcard patterns, this is just an undocumented behavior. How do you want to proceed with that?

[2020-07-14 16:41] mavasani commented on #1254
Lets avoid adding duplicate diagnostics. We can mark this as resolved.

[2020-07-14 16:50] cg110 commented on #1254
Are the ide warnings available in msbuild based analysis?

[2020-07-14 16:55] mavasani commented on #1254
Yep, see https://github.com/dotnet/roslyn/issues/33558#issuecomment-605974524

[2020-07-14 16:56] cg110 commented on #1254
Also is the ide warning configurable for other format like functions?

[2020-07-14 17:00] mavasani commented on #1254
No, that is not supported.

[2020-07-14 18:27] cg110 commented on #1254
So does this mean there isn't a solution to use the format analysis on functions that take format strings?

Should the CA version pickup the seemingly more advanced IDE code?

[2020-07-14 18:28] mavasani commented on #1254
That sounds reasonable. @Evangelink?

[2020-07-14 22:56] mavasani opened #3857 "CA1822 should not fire for obsolete APIs"
![image](https://user-images.githubusercontent.com/10605811/87484217-7b4ec380-c5ea-11ea-8d60-969d622fc076.png)

[2020-07-14 22:56] mavasani commented on #3857
@Evangelink

[2020-07-14 23:00] mavasani commented on #3835
@Evangelink I think it might be better to instead make the analysis conservative by not analyzing public APIs by default as @pranavkm suggested. We can add an option to switch the analyzer to perform public API analysis when user explicitly requests it. This will still generate false positives for the latter case, but they are not as critical as it is not on by default.

[2020-07-14 23:18] mavasani opened #3858 "CA1822 (make static) should not fire for public properties on XAML backing types"
https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Implementation/MoveToNamespace/MoveToNamespaceDialog.xaml.cs

![image](https://user-images.githubusercontent.com/10605811/87485384-86efb980-c5ed-11ea-800c-ee7b028018f4.png)

[2020-07-14 23:18] mavasani commented on #3858
@Evangelink

[2020-07-15 02:22] mavasani commented on #3835
@pranavkm What would be the best way we can detect if a project is an asp.net core project? Say, any MSBuild property or by looking for a specific reference assembly or a well known type? If so, we can just make a more targeted fix to skip public APIs for asp.net core projects.

[2020-07-15 02:32] pranavkm commented on #3835
The presence of the `FrameworkReference` would be the most accurate way to detect it for apps targeting 3.1 or newer: https://github.com/dotnet/sdk/blob/master/src/WebSdk/Web/Sdk/Sdk.props#L35. For 2.1, the presence of a package reference to `Microsoft.AspNetCore.App` would be the way to go about it.

If evaluating ItemGroups is cumbersome, you could wing it and detect the presence of the Web.SDK:

[2020-07-15 05:55] SebastianSchumann opened #3860 "CA1508 false positive in foreach loop"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

Example: [CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508)

#### Repro steps

    Queue<Exception> exceptions = null;
    foreach (var item in disposables)
    {
        try

[2020-07-15 06:17] SebastianSchumann opened #3861 "CA1508 false positive with ref generic parameter (class or nullable struct)"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)
#### Diagnostic ID

[CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508)

#### Repro steps

    public static T GetOrCreate<T>(ref T value, object syncRoot, Func<T> factory)
        where T : class
    {

[2020-07-15 06:32] SebastianSchumann opened #3862 "CA1003: False positive for EventHandler<T> without generic constraint"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

[CA1003](https://docs.microsoft.com/visualstudio/code-quality/ca1003)

#### Repro steps

    public class Sample<T>
    {
        public event EventHandler<T> XXX;
    }

There is no contraint for `T` as the

[2020-07-15 06:34] Evangelink commented on #3857
Let me a do a PR, in the meantime, I think that the obsolete case is kinda global, what about having some global exclusion applying for more (all?) rule? Or do you prefer to have them added on the case by case?

[2020-07-15 07:36] Evangelink commented on #3862
@mavasani I am not totally sure to understand the extent of the rule. Reading the documentation, I would expect any code already defining the type `EventHandler` whatever the generic type passed to not raise a diagnostic.

BTW I confirm that the provide sample reproduce the issue.

[2020-07-15 07:38] Evangelink commented on #3860
That's interesting! @mavasani What's the current approach of the dataflow regarding loops? Do you explore it only once?

[2020-07-15 07:46] Evangelink commented on #1254
I am totally fine with doing the change but wouldn't it be better to go toward having only one rule with the right scope and feature extent?

[2020-07-15 07:53] Evangelink commented on #3858
@mavasani I really feel like properties shall be excluded from the scope of this rule. IMO that's really edge case to define static properties so I would be in favor of having some FNs rather than so many FPs.

In the exact case you are showing I don't see what would prevent the property to be static though. It doesn't prevent binding and resources are static values so the suggestion LGTM.

[2020-07-15 08:34] tripplet opened #3864 "CA1062 false positive"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

[CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062)

#### Repro steps

In the minimal example below the analyzer detects a the CA1062 warning at the `action1(0);` which is a false pos

[2020-07-15 09:27] mavasani commented on #3864
This is fixed in latest prerelease 3.3.0-beta2. Can you please try?

[2020-07-15 09:37] tripplet commented on #3864
Yes it is fixed, thanks

[2020-07-15 09:37] #3864 closed

[2020-07-15 09:49] Evangelink commented on #2834
@mavasani I think on this case the problem is not only the attribute but mainly that the property is initialized from a value coming from the ctor (not mandatory but often the case with readonly properties) so there is no way to make the property static.

Once again I suggest to have a wider change toward properties rather than trying to handle cases one by one.

[2020-07-15 12:28] SebastianSchumann opened #3865 "CA1508 false positive on null-conditional"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0

#### Diagnostic ID

[CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508)

#### Repro steps

    var foo = (Foo?)Parse() ?? default;

That's all the code that's needed. I tried this `Parse`-implementation and `Foo`

[2020-07-15 12:31] Evangelink commented on #2493
I am doing the implementation at the moment and I am wondering if it's better to have a list of known collection types or do go for a more generic approach where we actually look at all object creation of a collection (inherits from ienumerable) where there is an overload with a `IEqualityComparer` overload and that no argument or type `SymbolEqualityComparer` is passed by. Any preference?

We may

[2020-07-15 12:49] mavasani commented on #3858
I believe the rule is designed to flag all members that do not require instance access, but haven't been marked static. It indicates a design flaw as well as a performance issue to define instance members for functionality that is not tied to the instance. The member kind (field/property/event/method) is just implementation detail, and should not affect this analysis.

The core issue here is that

[2020-07-15 12:51] mavasani commented on #3858
Coming back to this issue - I think it should be possible to detect if a type is XAML control backing type and bail out completely for it for all members. Do we know what is the best check to detect this?

[2020-07-15 12:53] mavasani commented on #1254
Thanks, your stance seems correct @Evangelink.
Let me file an issue on Roslyn, bring this up for IDE design team discussion for next Monday and decide how to move forward on this.

[2020-07-15 13:09] mavasani commented on #1254
Filed https://github.com/dotnet/roslyn/issues/46001. Lets wait for resolution on it before proceeding here.

[2020-07-15 13:14] mavasani commented on #3860
Our DFA is based on standard dataflow algorithm works on a monotonic transfer function that relies on convergence with each iteration. We will iterate on CFG paths until we converge.

I believe the core issue here is coming from try/catch within a loop. CFG exposed by Roslyn does not have explicit structure for try/catch and we try to perform our best case DFA walking in such cases. I suspect the

[2020-07-15 13:27] Evangelink commented on #3858
I only partially agree, I do think that the member type actually plays a role. For example an auto-property can always be considered as can be make static while it rarely shall be. More generally, and even if I agree with the performance impact, a property, except when it returns a static/constant value is only rarely meant to be static.

You partially can. You could have your view code-behind inh

[2020-07-15 13:28] mavasani commented on #3862
Seems like a bug in implementation.

[2020-07-15 13:41] mavasani commented on #3858
I see declaring a property as an auto-property to be specifying intent of having a member backed by an instance field, tying it tht e instance and hence requiring it to be an instance member.

I am wondering if we can detect from compilation's assembly references if it contains any XAML or user controls as such and if so, avoid analyzing properties for such an compilation. If not, and this is too

[2020-07-15 13:56] Evangelink commented on #3858
Ok let me step back a bit on this rule. Regarding the issue you are mentioning on this ticket, is there any reason not to mark the property as `static` here?

Regarding auto-properties and readonly properties set in the ctor, let me check if they are correctly excluded.

[2020-07-15 13:58] mavasani commented on #3858
I thought the XAML binding would require an instance property, but let me quickly try it out and see if it works fine with static property.

[2020-07-15 15:04] mavasani commented on #3858
You are right @Evangelink. This scenario works fine even with static properties! I will close this issue :-).

[2020-07-15 15:04] #3858 closed

[2020-07-15 18:25] ryzngard commented on #2493
The list I had originally made for things where you need IEqualityComparer. This doesn't include Immutable builders, but is a good starting point. I think for now a hardcoded list is better than having to search constructors or methods that take `IEqualityComparer`

### `System.Linq.Enumerable<ISymbol>`
- Contains
- Distinct
- GroupBy
- GroupJoin
- Intersect
- Join
- SequenceEqual
- ToDictionary
-

[2020-07-15 18:44] vsfeedback opened #3870 "Visual Studio version 16.6 onwards is extremely slow and hangs too often!"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1109183/visual-studio-version-166-onwards-is-extremely-slo.html)._

---
[regression] [worked-in:16.4.2]
This feedback is very hard to pin down on one instance but I am seeing that for big solutions (~100 projects) version 16.6 and above hang too often. The IDE just freezes

[2020-07-15 18:45] mavasani commented on #3870
[code]

[2020-07-15 20:01] #3857 closed

[2020-07-15 23:57] mavasani commented on #3835
Thanks. Seems it would be reasonable to define a new property name `UsingMicrosoftNETSdkWeb` below: https://github.com/dotnet/roslyn-analyzers/blob/641b5e8b6ddf8ccf095f5ac58a346ed1de546a18/src/Utilities/Compiler/Options/MSBuildPropertyOptionNames.cs#L5-L12

and then use the below API in the analyzer to fetch this option: https://github.com/dotnet/roslyn-analyzers/blob/a7c2ef6fff162581bc3ff55059cb7

[2020-07-16 05:48] davkean opened #3871 "CA1069: Indeterministic false positive"
#### Analyzer package

?

#### Package Version

#### Diagnostic ID

Severity	Code	Description	Project	File	Line	Suppression State
Warning	CA1069	The enum member 'NIL' has the same constant value '-1' as member 'NIL'.	Microsoft.VisualStudio.ProjectSystem.Managed.VS	C:\project-system\src\Microsoft.VisualStudio.ProjectSystem.Managed.VS\ProjectSystem\VS\Interop\IVsAppId.cs	52	Active

#### Repro steps

[2020-07-16 06:45] Jozkee commented on #3810
I'm OK with it but I'm not sure if @sharwell's concern is being addressed. @sharwell could you please confirm?

[2020-07-16 11:29] cg110 opened #3873 "CA2000 FP with ? or ?? operators on a return;"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0-beta2.final

#### Diagnostic ID

CA2000: Dispose objects before losing scope

#### Repro steps

Using VS2019 16.6.4, targetting .net framework 4.7.2

CA2000 seems to firing incorrectly on usages where a ?? or ? test is made, suggesting t

[2020-07-16 11:29] cg110 commented on #3873
Note that 3.0.0 doesn't show this behaviour.

[2020-07-16 14:16] #3672 closed

[2020-07-16 14:17] jcouv commented on #3672
Fixed. Thanks for reporting this @rsking-mondo

[2020-07-16 15:06] mavasani commented on #3873
Thanks @cg110 - probably something I regressed. I'll make sure this is addressed before stable 3.3.0 release.

[2020-07-16 17:54] RamjotSingh opened #3874 "CA1508 False positive reporting"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0-beta2.final

#### Diagnostic ID

Example: [CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508)

#### Repro steps

Attaching the file below which has 3 repros with issues
[CA1508IssuesRepro.zip](https://github.com/d

[2020-07-16 19:32] mavasani commented on #3835
I have a PR out for this: https://github.com/dotnet/roslyn-analyzers/pull/3875. Verified that the issue is fixed with locally built NuGet package with this change. @Evangelink can you please review?

[2020-07-16 22:44] Evangelink commented on #3835
@mavasani How do you want to handle this comment?

[2020-07-16 23:03] Evangelink opened #3877 "Update CA1024 to not report on get method return tasks"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0-beta1.final (Latest pre-release)

#### Diagnostic ID

Example: [CA1024](https://docs.microsoft.com/visualstudio/code-quality/ca1024)

#### Repro steps

Over simplified repro:

[code]

#### Expected behavior

No diagnostic reported. The d

[2020-07-16 23:07] mavasani opened #3878 "CA1822 false positives on Entity Framework properties"
@mavasani How do you want to handle this comment?

_Originally posted by @Evangelink in https://github.com/dotnet/roslyn-analyzers/issues/3835#issuecomment-659715703_

[2020-07-16 23:07] mavasani commented on #3835
@Evangelink Filed https://github.com/dotnet/roslyn-analyzers/issues/3878

[2020-07-17 13:49] thomaslevesque commented on #1374
This seems to have been fixed almost 3 years ago, but I'm still seeing this warning with a `Type` property... Regression?
I'm using Microsoft.CodeAnalysis.FxCopAnalyzers 3.0.0.

[2020-07-17 13:51] mavasani commented on #1374
@thomaslevesque Can you check if you have "Microsoft CodeAnalysis 2019" VSIX extension installed? If so, please uninstall it and retry.

[2020-07-17 13:59] thomaslevesque commented on #1374
No, I don't. I'm not using Visual Studio, just building from the command line.

But I have some additional information: it seems to happen only in classes that inherit `System.Exception`.

[code]

[2020-07-17 14:12] thomaslevesque commented on #1374
Ah, I see what the problem is. [`System.Exception` hides `GetType`](https://github.com/dotnet/runtime/blob/b1826278d4dda34b41d438ad832ac8f267458ef4/src/libraries/System.Private.CoreLib/src/System/Exception.cs#L197):

[code]

So when the analyzer checks the method like this:
https://github.com/dotnet/roslyn-analyzers/blob/39d189ab8b48b3811978edbafdc0aef190025f53/src/NetAnalyzers/Core/Microsoft.Code

[2020-07-20 07:42] #3835 closed

[2020-07-20 08:08] Evangelink commented on #3546
Fixed by #3875

[2020-07-20 08:08] #3546 closed

[2020-07-20 08:09] Evangelink commented on #3721
Sorry for the ping @terrajobst but would you mind giving your opinion here?

[2020-07-20 08:29] Evangelink commented on #3744
Tagging @sharwell and @mavasani here.

[2020-07-20 08:57] Evangelink commented on #2396
Duplicates of #1878

[2020-07-20 08:57] #2396 closed

[2020-07-20 09:59] Evangelink commented on #3198
Ping @menaheme

[2020-07-20 11:05] Evangelink commented on #1708
I think that the `DebuggerTypeProxy` makes sense. Regarding the `FromUri` I cannot find the doc for the old api so I am not entirely sure.

It might be too strong but we could also think about considering types declared in a `typeof` invocation of an attribute to always be instantiated, WDYT?

Tagging @sharwell and @mavasani

[2020-07-20 11:21] KalleOlaviNiemitalo commented on #1708
In ASP.NET Web API, [`System.Web.Http.FromUriAttribute`](https://github.com/aspnet/AspNetWebStack/blob/39d3064baf13181f5718ec5d85ba644b47d0704b/src/System.Web.Http/FromUriAttribute.cs) inherits the `BinderType` property from [`System.Web.Http.ModelBinding.ModelBinderAttribute`](https://github.com/aspnet/AspNetWebStack/blob/39d3064baf13181f5718ec5d85ba644b47d0704b/src/System.Web.Http/ModelBinding/M

[2020-07-20 11:41] Evangelink commented on #1708
Thanks @KalleOlaviNiemitalo so it also makes sense to support this attribute.

[2020-07-20 13:32] juliusfriedman commented on #3878
Thank you

[2020-07-20 13:45] menaheme commented on #3198
Sorry,
I do not have this package ref in my csproj files.
I do not have any direct reference to analyzers

[2020-07-20 13:47] Evangelink commented on #3198
@menaheme Could you also look into your `packages.config` file?

[2020-07-20 14:55] Evangelink commented on #655
Shall we default to `AttributeTargets.All` for the `validOn` ctor argument?

[2020-07-20 15:00] Evangelink commented on #2626
@sharwell @mavasani Do you plan to do some work on this issue?

[2020-07-20 15:07] Evangelink commented on #2872
@mavasani This seems to be fixed now (16.6.4), could you make a test too?

[2020-07-20 15:10] menaheme commented on #3198
There is no package.config, its package ref project file

[2020-07-20 15:35] Evangelink commented on #3198
Ok so to sum up, you don't have the Code Analysis visual studio extension installed and you don't have the analyzer installed on your project (neither in `PackageReference` nor in `packages.config`). How do you know that the third-party is using the analyzer version `2.9.8`? As pointed out by @sharwell the manifest you have published is mentioning version 1 of the analyzer.

[2020-07-20 15:52] Evangelink opened #3883 "Extend scope of CA1822 to also detect fields"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0-beta1.final (Latest pre-release)

#### Diagnostic ID

Example: [CA1822](https://docs.microsoft.com/visualstudio/code-quality/ca1822)

#### Proposal

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/issues/385

[2020-07-20 18:04] sharwell commented on #3744
https://github.com/dotnet/csharplang/issues/287 would be a big help for this.

[2020-07-20 19:49] sharwell commented on #2626
@Digmaster if you add the following in your code, what error message is printed when you run with MSBuild 14? This will tell us the compiler version in question so we can narrow this down.

[code]

[2020-07-20 19:54] sharwell commented on #3198
@menaheme The analyzers are likely getting included via an indirect package reference. You should explicitly add the line above to force your project to use a newer version than the minimum inherited from a package, since the older version has known bugs.

[2020-07-20 21:26] #3810 closed

[2020-07-21 06:22] dm5xx opened #3885 "Microsoft.CodeAnalysis.PublicApiAnalyzers: Setting RS0017 to error, still shown as warning"
#### Analyzer package

[Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)

#### Package Version

v3.0.0 (Latest) or v3.3.0-beta1.final (Latest pre-release)

#### Diagnostic ID

Example: RS0017 C# Symbol is part of the declared API, but is either not public or could not be found

#### Repro steps

1. Add nuget package
2. Add .editor

[2020-07-21 07:19] Evangelink commented on #3744
StyleCop could still be useful for putting some styling standards in place in the codebase and could prevent some of the "Un-needed blank line" review comments :)

[2020-07-21 07:27] Evangelink commented on #3885
Probably related to #3833

[2020-07-21 08:05] Evangelink commented on #1419
@chborl I was looking at the available rules and I think that [ca2208](https://docs.microsoft.com/visualstudio/code-quality/ca2208) aleady does what you are asking for.

Also tagging @sharwell in case you were thinking of a different behavior?

[2020-07-21 08:29] Evangelink commented on #1185
@sharwell Why do you want to prevent the analyzer to be part of the regular package? Regarding the attribute there seems to have some discussion going-on.

[2020-07-21 09:20] menaheme commented on #3198
Added the line, getting a different warning now.
![15953231775653238809524488025945](https://user-images.githubusercontent.com/5694495/88036618-7a6ae400-cb4c-11ea-824c-6066d52acedf.jpg)

[2020-07-21 09:24] dm5xx commented on #3885
Setting "WarningAsErrors" in the Project file will help in this case.. So it has something to do with treating .editorconfig or "something is overwriting the .editorconfig-configuration"

[2020-07-21 14:58] sharwell commented on #1185
My focus for this feature right now is on developing the behavior described in https://github.com/dotnet/csharplang/issues/99#issuecomment-601792573

[2020-07-21 15:01] sharwell commented on #3744
IDE0055 (formatting analyzer) covers most of the configured style. For blank lines, RS0101 is implemented in the Roslyn.Diagnostics.Analyzers package and could be enabled.

[2020-07-22 07:48] Evangelink opened #3886 "Consider removing (or update linked issue) disabled rules because of open issue"
I have noticed that in https://github.com/dotnet/roslyn-analyzers/blob/master/eng/Analyzers_ShippingRules.ruleset, rule `CA2222` is disabled because of issue #1378 (which is now closed) and `RS1022` is disabled because of issue #1711 (also closed).

If it doesn't make sense to re-enable these rules, I suggest to update the related comment so that it's clear which they are disabled.

[2020-07-22 08:29] cryolithic commented on #3492
Also ran into this same suggestion.  I would prefer to err on the side of caution, and if this is found within the bounds of an IQueryable, the check should move on.

[2020-07-22 10:17] #3886 closed

[2020-07-22 14:02] Evangelink opened #3890 "Dispose dataflow exclusion is not using the right API"
Dispose dataflow is not using the right API to decide whether a symbol is excluded or not: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAnalysis.DisposeDataFlowOperationVisitor.cs#L107-L111

Instead the following API shall be used: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/Compiler/Extensio

[2020-07-22 14:03] Evangelink opened #3891 "Enable RS0046 diagnostic on the repo"
I'd do this one separately, since it's a noisy change.

_Originally posted by @sharwell in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDQ1ODgxNTMwOA==/comments/review_comment_

Following PR #3888 the diagnostic `RS0046` shall be enabled.

[2020-07-22 14:12] Evangelink opened #3892 "Consider enabling RS0100 on this repo"
Perhaps, but I like the idea of doing so as a separate PR.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/3888_

[2020-07-22 14:48] Evangelink commented on #3890
This is prevent `CA2000` excluded symbols to work as expected.

[2020-07-22 16:45] Evangelink opened #3894 "Enable RS0037 and fix related issues"
@mavasani What about _just_ keeping the RS0037 suppression, and remove it in a follow-up PR?

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/3888#issuecomment-662547329_

[2020-07-23 08:20] Evangelink opened #3895 "Extend RS0046 to also cover properties?"
Current implementation of `RS0046` only looks at variables and fields, I have seen that in the current repository there are a couple of properties also declared with the `Opt` suffix for nullability.

@sharwell If you confirm this is also beneficial for roslyn, I am happy to work on extending the scope of the rule.

[2020-07-23 09:53] Evangelink commented on #3894
As-soon-as I enable this rule and add the `#nullable enable` to the public api file, then I start having `StackOverflowException` and it's no longer possible to build the solution. Happens in both VS and command line.

[2020-07-23 10:09] Evangelink commented on #3753
@Prateek1584990 I cannot see the screenshot attached in the developercommunity website, are you running the metrics through command-line or Visual Studio? I made a test running the metrics on roslyn analyzers and I do have an error from VS but nothing from command line.

[2020-07-23 11:11] Evangelink commented on #3852
Looking at the issue, I think that there are a couple of cases/questions raised here.

## Scenario 1

[code]

In this scenario, I think that an issue shall be reported because nothing prevents you from creating a static method which returns the object initialized. For example a solution could be:

[code]

## Scenario 2

This scenario is IMO the actual problem here. As long as you have a subscripti

[2020-07-23 13:56] SebastianSchumann opened #3899 "CA1062: false positive on `is null`"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

Example: [CA1062](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062)

#### Repro steps

    public void Foo(object instance)
    {
        if (instance is { })
        {
            _ = insta

[2020-07-23 14:12] dtivel opened #6242 "No warning for null-conditional operator on non-nullable"
**Version Used**:
[code]
**Steps to Reproduce**:

1.  Compile the following code:
[code]

**Expected Behavior**:  A warning should be issued for the null-conditional operator.  The null-conditional operator conveys intent to guard against the value being `null`, which is misleading given that the value should never be `null`.

**Actual Behavior**:  No warning.

[2020-07-23 14:21] mavasani commented on #3894
I believe this was fixed recently by @jcouv. You will need to update to latest analyzer package.

[2020-07-23 14:35] Evangelink commented on #3894
Thanks for the tip, sadly it doesn't work (or I am referencing the wrong version `3.3.0-beta3.20365.3`):
![image](https://user-images.githubusercontent.com/11340282/88299208-68cb3d00-cd02-11ea-8412-251b2c9fbb5c.png)

[2020-07-23 14:46] jcouv commented on #3894
The fix was https://github.com/dotnet/roslyn-analyzers/pull/3847 (merged 7 days ago). I tried looking for 3.3.0-beta3.20365.3 to confirm whether it includes the fix, but could not find it.

@mavasani Do you know what version of the package would include the fix?

[2020-07-23 14:59] mavasani commented on #3894
You can try latest packages from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Roslyn.Diagnostics.Analyzers&protocolType=NuGet&version=3.3.0-beta3.20373.1&view=versions

[2020-07-23 15:09] Evangelink commented on #3894
Thank you both of you! I don't know why VS wasn't showing me anything more recent than the version `3.3.0-beta3.20365.3`... I have tried with the latest on your link (i.e. `3.3.0-beta3.20373.1`) and it's working correctly.

[2020-07-23 15:47] Evangelink commented on #3894
Ok so either we have a pretty big bug or I totally lack the logic to understand what I am supposed to do...

I have:
1. Removed the exclusion in the ruleset
2. Updated the version of the analyzer to avoid the `StackOverflowException`
3. Added `#nullable enable` as the first line of `PublicAPI.Unshipped.txt`
4. Fixed all `RS0036`

And now I have plenty of `RS0016` which recommends me to basically r

[2020-07-23 16:35] sharwell commented on #3895
That makes sense to me.

[2020-07-23 17:18] sbomer commented on #3823
We plan to respect `AnalysisLevel` for ILLink as well. Would you be able to share more details on the VS UI for this? I'm wondering if it's going to set `AnalysisLevel`, and whether the plan is still to remove "Warning Level" in favor of a new UI, now that the compiler implementation is reusing the `/warn` option instead of introducing a new `/warnversion`.

[2020-07-23 19:03] jmarolf commented on #3823
@sbomer as of now, the design is that `/warn` is only for controlling compiler produced diagnostics. `AnalysisLevel` is for controlling third-party tools that feed in diagnostics like analyzers (and presumably ILLink). `/warn` will still exist for compiler config (behind the advanced button in the UI) but I would expect the new `AnalysisLevel` drop down to be the main way users would configure thi

[2020-07-23 19:48] ericstj opened #3901 "Make PublicApiAnalyzers support C# files for API representation"
This is a feature request.

In thinking about how we can better represent API in dotnet/runtime while removing our custom tools and leveraging roslyn features we have found that it would be convenient to have this analyzer support C# files.

1. We already represent API in C# files and it's most convenient for reviewers to view it this way.
2. Some of our assemblies have differing assembly location

[2020-07-23 19:54] sharwell commented on #3901
I investigated this issue and found a few complexities that make it non-trivial. What it really needs is a complete design, i.e. what exact syntax would the Shipped and Unshipped files have? It would be good to review alternate approaches (I believe I've found 4 different teams using completely different solutions in this space), and ensure the proposal allows for the eventual unification of the a

[2020-07-23 19:57] ericstj commented on #3901
Exactly.

It would be nice if instead of text, it could permit one or more C# files that represent the API.  For example: https://github.com/dotnet/runtime/blob/0bed2de8ed48e7d8ccb0bb7e6c878e22d0b2fa14/src/libraries/System.Text.Json/ref/System.Text.Json.cs

References used to resolve symbols would be the same as the actual compilation.

When an API was missing from the C# file or otherwise inconsi

[2020-07-24 09:33] its-phil opened #3905 "CA1001: unexpected behavior with mixed ownership of disposable objects"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

[CA1001](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1001)

#### Repro steps

Analyze the following classes
[code]

#### Expected behavior
Code analysis finds CA1001 in `NoDisposeMethod` wit

[2020-07-24 14:50] Evangelink commented on #3709
Hello @mikegoatly,

I have added the following unit test on the latest master and I cannot reproduce the issue.

[code]

Could you check if the code is correctly reproducing your issue? It's possible that this was fixed in between but I am not sure.

[2020-07-24 15:02] mikegoatly commented on #3709
@Evangelink thanks for taking a look.

I've just installed the latest prerelease (3.3.0-beta2.final) and can confirm that it's fixed there so I'll close this issue.

As an aside, I'd not seen how the code fixes are unit tested - that's really slick!

[2020-07-24 15:02] #3709 closed

[2020-07-24 15:03] Evangelink commented on #3189
I am closing this issue as with #3893 I have understood that the 2 APIs are not meant to be called directly but through some aggregating API. Hence rules automatically support both syntaxes, this is a lack of documentation.

[2020-07-24 15:03] #3189 closed

[2020-07-24 15:05] Evangelink commented on #3709
Thank you for your prompt feedback!

[2020-07-24 15:07] Evangelink commented on #3334
Licensing issue has a low technical complexity but a quite big importance for end-users, I think this and the related issue #3347 should have a high priority. Let me know if I can help.

[2020-07-24 15:14] Evangelink commented on #372
Per @paulomorgado and @mavasani comments I think this could be closed as won't fix, don't you think?

[2020-07-24 15:33] sharwell commented on #3347
I will request verification of the license in the NuGet package. Keep in mind that these will not necessarily match the license that appears in the source code, e.g. https://github.com/dotnet/roslyn/issues/20169.

[2020-07-24 16:20] jcouv commented on #3894
@Evangelink I've checked out your PR https://github.com/dotnet/roslyn-analyzers/pull/3900 locally and did `Restore.cmd` and `Build.cmd`. I'm just seeing a handful of RS0041 (complaining about use of oblivious APIs). That seems reasonable.
I didn't see RS0016. Let me know if I used incorrect repro steps, or whether you've sorted out the issue already. Thanks

[2020-07-25 11:51] Evangelink commented on #3894
@jcouv That's interesting, I have checked and through the command line I have the same behavior as you do but when building in VS I have a totally different output:
![image](https://user-images.githubusercontent.com/11340282/88456407-ecf5ff80-ce7d-11ea-8901-76982fac4e00.png)

[2020-07-25 12:41] Evangelink commented on #3894
Also @jcouv I have spent an hour trying to fix the `RS0041` raised but I can't find the right way to do the fix. As far as I understand, I need to updat the public api file to ensure there is no reference type defined without any nullability definition (either `?` or `!`) but looking at the file it seems ok for the type reported. The only thing is the generic type on the type definition but if I s

[2020-07-25 12:55] Youssef1313 commented on #3899
@Evangelink Not familiar with DFA, do you know if the problem is relying in [this file](https://github.com/dotnet/roslyn-analyzers/blob/44e730f45726ad7ef7716aa901d66036ffd2eb2c/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ParameterValidationAnalysis/ParameterValidationAnalysis.ParameterValidationDataFlowOperationVisitor.cs)?

[2020-07-25 14:41] jcouv commented on #3894
@Evangelink I suspect that two different versions of Roslyn are involved in those two scenarios (IDE and MSBuild). I suspect that the error `RS0017` results from using the publicAPI analyzer with an older version of Roslyn (here's a [previous investigation](https://github.com/dotnet/roslyn-analyzers/issues/3260#issuecomment-592675215) on this).

Out of curiosity, could you add `#error version` (pr

[2020-07-25 14:55] jcouv commented on #3894
I can see the `RS0017` in error list too, but not when running "build.cmd". I think that's the key to figuring this out.
When I attach to that instance of VS and look at the loaded modules, I see:
- Microsoft.CodeAnalysis.PublicApiAnalyzers.dll (from C:\Users\jcouv\AppData\Local\Temp\VS\AnalyzerAssemblyLoader\3e113613cfd44265ae5a06cc67fd991c\7\Microsoft.CodeAnalysis.PublicApiAnalyzers.dll) with ve

[2020-07-25 17:38] jcouv commented on #3894
I'm trying to debug, but as far as I can tell, the publicAPI analyzer that produces those diagnostics isn't the one in the VS process.

I noticed something else: one of the diagnostics is `RS0017	Symbol '#nullable enable' is part of the declared API, but is either not public or could not be found`. This tells me that an old version of the publicAPI analyzer is getting involved, which doesn't parse

[2020-07-25 18:54] jcouv commented on #3894
Alright, I made some progress in my investigation. I have a command-line repro that let's me debug the issue.

It looks like two versions of the publicAPI code is getting run.
- version 1 (good): `Microsoft.CodeAnalysis.PublicApiAnalyzers.dll!Microsoft.CodeAnalysis.PublicApiAnalyzers.DeclarePublicApiAnalyzer.Impl.GetDeletedApiList() Line 698	C#` (note that this assembly has version `3.03.2.37301`)

[2020-07-25 19:35] Evangelink commented on #3894
Hi @jcouv, looks like you made a lot of progresses so I am not sure you do need the info but here they are:

- IDE: `error CS8304: Compiler version: '3.6.0-4.20251.5 (910223b6)'. Language version: preview.`
- Commande line: `error CS8304: Compiler version: '3.7.0-3.20269.11 (eb03bae8)'. Language version: preview.`

Also I wanted to say thank you for the investigation because now I have a good idea

[2020-07-25 19:37] Evangelink commented on #3899
@Youssef1313 I don't know, I will try to do a little debugging session to see if I can find some pointers to help on this.

[2020-07-25 19:41] Evangelink opened #3909 "Update dispose pattern rule to handle disposeasync pattern"
[code]

_Originally posted by @bartonjs in https://github.com/dotnet/roslyn-analyzers/pull/3679#discussion_r430487305_

[2020-07-25 20:34] mavasani commented on #3894
That seems to be the problem. No project in the repo should explicitly reference a lower version of this package.

[2020-07-25 20:36] jcouv commented on #3894
@Evangelink You're welcome. Glad we got to the bottom of this mystery :-)
For warning `RS0041` (use of oblivious API), the fix is to put `#nullable enable` in the source file that declares the API and annotate it's reference types (choose between `string` and `string?`).
Also, just to be clear and potentially save you time, there shouldn't be a need to edit the publicAPI text file by hand. The fix

[2020-07-25 20:37] #3891 closed

[2020-07-25 20:39] mavasani commented on #3894
@jcouv We have nullable enabled the whole repo in shared props file. Do we still need to add ‘#nullable enable’ to individual source file?

[2020-07-25 20:41] mavasani commented on #3894
Given the whole repo is already nullable enabled, I presume we should require no manual edits to any source file to resolve this issue. It should just need code fix application with FixAll in project.

[2020-07-26 07:53] paul1956 commented on #1932
This warning should not apply to VB or at least there should be a Fix to locally suppress it and I don't see what the fix would be for the OrDefault versions without the code getting much more complex.

[2020-07-26 13:01] Evangelink opened #3910 "Bug with DoNotDirectlyAwaitATaskTests.Fixer fix-all"
It's definitely a bug. It impacts both the C# and the VB fixer.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/3907#discussion_r460444929_

See test `CSharpAwaitAwaitTask`

[2020-07-26 13:10] Evangelink commented on #1932
@paul1956 Could you be a little more specific, are you talking about the rule in general? Are you referring only to `Last` and `LastOrDefault`? I am not experienced with vbnet but this does seem or for `First`, `FirstOrDefault` and `Count`. If you disagree could you add some examples to better explain your point?

[2020-07-26 13:59] Evangelink commented on #3894
I have tried forcing the `#nullable enable` on the file but I don't see any other issue showing up so I would be even more tempted to say there is a bug with the rule. All the buggy types are generic so I would also say it's probably related to generics.

[2020-07-26 14:08] jcouv commented on #3894
@Evangelink If you have a fix to remove the old `Roslyn.Diagnostics.Analyzers.dll` analyzer, can you push that into your PR? I will take a look at a couple of remaining RS0041 to advise. If the project already has `<Nullable>enable</Nullable>` then we indeed don't need `#nullable enable` in source.

[2020-07-26 14:19] Dreamescaper opened #3911 "Allow configuring CA1822 to exclude public members"
#### Analyzer package

[Microsoft.CodeQuality.Analyzers](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

CA1822: Mark members as static

#### Expected behavior

Currently CA1822 analyzes all members independently of access modifier (which is suitable in lots of cases).
Still, that's not very useful if all the public member

[2020-07-26 16:44] Evangelink commented on #3911
Looks like it is already available but the documentation website is not up-to-date. See [Analyzer Configuration.md#analyzed-api-surface](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#analyzed-api-surface)

[2020-07-26 16:53] Evangelink commented on #3911
Issue opened on doc side https://github.com/MicrosoftDocs/visualstudio-docs/issues/5629

[2020-07-26 16:58] Evangelink commented on #3911
Hum there is actually a second, implicit, point to that question. @mavasani Is it possible to somehow like rules suggesting a refactoring to the public api analyzer? The idea being that rules suggesting a signature change would not be raised for api listed in the shipped file.

[2020-07-26 18:06] mavasani commented on #3911
That seems like a completely different feature request which is applicable to all design rules that can introduce a breaking public API change. Can you please file a separate issue? The CA1822 feature requested originally in this issue  has already been implemented.

[2020-07-26 20:10] Evangelink opened #3912 "Prevent breaking design change diagnostic on public API members"
That seems like a completely different feature request which is applicable to all design rules that can introduce a breaking public API change. Can you please file a separate issue? The CA1822 feature requested originally in this issue  has already been implemented.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/issues/3911#issuecomment-664021556_

[2020-07-26 20:10] Evangelink commented on #3911
Makes sense!

[2020-07-26 20:10] #3911 closed

[2020-07-27 00:05] Dreamescaper commented on #3911
@Evangelink
So I added line
`dotnet_code_quality.CA1822.api_surface                                   = private`
to .editorconfig file, but it changed nothing - diagnostic is still triggered for public methods.
Do I miss anything?

[2020-07-27 00:28] mavasani commented on #3911
Can you please try latest package from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.CodeAnalysis.FxCopAnalyzers&protocolType=NuGet&version=3.3.0-beta3.20375.1&view=versions

[2020-07-27 01:07] paul1956 commented on #1932
@Evangelink Using the collection directly in VB is not easy and makes the code very complex and there is no CodeFix for VB. Where List is some collection:
First and maybe Count when Length is available is easy
List.First vs List(0) is a wash as is List.Count vs List.Length
VB does not have Index expressions, there is no easy way to do FirstOrDefault or LastOrDefault.
Last is one that could be deba

[2020-07-27 10:25] Dreamescaper commented on #3911
@mavasani
Yes, it seems to work fine on latest beta, thanks!

[2020-07-28 11:44] Evangelink commented on #3912
If we decide to implement this feature, I would suggest to make it configurable via a user-option and to allow different level of "adoption". One mode would prevent issues only on members declared in the `Shipped` part of the file, the other on both (i.e. `Shipped` and `Unshipped`) and the final to opt-out of the rule. This last option is IMO interesting for people who don't want the new feature b

[2020-07-28 11:46] Evangelink commented on #3912
In addition to the design rules, some naming rules could also benefit from this change. Actually I am wondering if we could find a way to have this feature global to all rules with a API breaking change impact.

[2020-07-28 12:28] mavasani commented on #1254
@Evangelink Based on the design meeting discussion on https://github.com/dotnet/roslyn/issues/46001, we will retire the IDE rule and keep CA2241, so that it is a superset of IDE0043 functionality.

[2020-07-28 15:18] Evangelink opened #3915 "Enable RS0041 and fix related issues"
@Evangelink Those complaints about oblivious APIs must be suppressed at the moment (typically via editorconfig), as roslyn-analyzers is using netstandard libraries which are all oblivious.
For instance `IEquatable` is referenced from:
[code]

_Originally posted by @jcouv in https://github.com/dotnet/roslyn-analyzers/pull/3913#issuecomment-665050810_

[2020-07-28 17:25] mavasani opened #3918 "Switch to "RegisterAdditionalFileAction" available in Microsoft.CodeAnalysis "3.8.x" to report additional file diagnostics."
❔ File an issue for this?

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/3916#discussion_r461742055_

[2020-07-28 17:59] #3525 closed

[2020-07-28 18:08] pgovind commented on #3839
So, just to be explicit about it, the code-fix is right. The semantics of string.IndexOf vs string.Contains differ. `string.IndexOf` performs a culture-aware comparison while `string.Contains` performs an `Ordinal` comparison. So `s1.Contains(s2, StringComparison.Ordinal)` is the same as `s1.Contains(s2)`. As to whether we want to include the comparison argument always, I wonder what @terrajobst a

[2020-07-28 21:37] wilhelmzapiain opened #3919 "CA2007: output_kind not inheritable through directories"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)
Visual Studio Community 16.6.5

#### Diagnostic ID

[CA2007](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2007)

#### Repro steps

I have an example made in https://github.com/wilhelmzapiain/CA2007BugDemo

1. Cre

[2020-07-28 21:48] mavasani commented on #3919
Can you please try latest 3.3.x-beta packages? They support the requested configuration. See the 2 sections at https://docs.microsoft.com/en-us/visualstudio/code-quality/configure-fxcop-analyzers?view=vs-2019#enabling-editorconfig-based-configuration

[2020-07-28 22:00] wilhelmzapiain commented on #3919
Now both projects ignore the setting and show a warning when they shouldn't.

[2020-07-29 13:24] #3894 closed

[2020-07-29 16:11] mavasani commented on #3901
NOTE: Just the fact that it is a C# file will not enable code fixes inside it. Only source files which are part of compilation as syntax tree that are part of output assembly support code fixes right now.

[2020-07-29 17:25] dougbu commented on #3901
This would be a great direction, especially because the current format does not seem to include important (compiler-consumed) information about the public API such as `[AttributeUsage]`, `[Obsolete]`, and `[StructLayout]` attributes. The analyzer can't catch attribute changes.

@jaredpar whatever the format, what are the most important attributes for the Public API analyzer to consider❔ Is there f

[2020-07-29 18:29] sharwell commented on #3912
I find that `[SuppressMessage]` is appropriate at each declaration of a public API which fails to adhere to a rule related to signatures, so I lean against trying to account for it within each analyzer.

[2020-07-29 21:53] Evangelink commented on #3912
I think I would personally go for the `SuppressMessageAttribute` but I could understand wanting the other behavior if for example you already have a relatively big project and are starting to introduce quality analyzers to the projects.

Given the number of other tickets, I would expect this one to be low priority anyways.

Feel free to close this ticket.

[2020-07-29 21:54] Evangelink commented on #1254
I'll have a look next week at merging both scopes together in this analyzer.

[2020-07-30 15:28] sharwell opened #3925 "CA1816 (Call SuppressFinalize) false positive when not using the Dispose pattern"
#### Analyzer package

Unknown

#### Package Version

3.3.0-beta1.20352.4

#### Diagnostic ID

[CA1816](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1816)

#### Repro steps

[code]

#### Expected behavior

CA1816 is not reported because `MyType` does not follow the dispose pattern.

#### Actual behavior

CA1816 is reported.

#### Additional details

I believe the specific condition

[2020-07-30 15:43] #3895 closed

[2020-07-30 17:49] eddynaka opened #3927 "[Question] PublicApiAnalyzers to multi-target project"
#### Analyzer package

PublicApiAnalyzers

#### Package Version

v3.0.0

#### Repro steps

I have a project that targets multiple framework versions (for example: net452, net461, netstandard2.0) just one file is updated. Right now, to use that, I must comment all frameworks and enable one by one and update using IntelliSense. Is there a better way to do that?

#### Expected behavior

When I use In

[2020-07-30 21:00] #3822 closed

[2020-07-30 21:00] #3823 closed

[2020-07-30 21:12] JarLob opened #3929 "Taint tracking doesn't work for += operator"
Tested on Master and 2.9.x branches.

Most probably because it is [not implemented](https://github.com/dotnet/roslyn-analyzers/blob/0a6e4b3935bbcdde79eb90d1760368e89ffff826/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs#L2500).

The following test fails, but works correctly if `str += """"` is changed to `str = str + """"`:
[code]

[2020-07-31 17:53] carlossanlop opened #3933 "build.cmd does not work in ARM64 devices"
I have a Surface Pro X, which uses Windows 10 for ARM64.
Attempting to build the roslyn-analyzers repo in this machine fails when attempting to download and install the ARM64 version of .NET Core SDK 3.1, which [does not exist for Windows](https://dotnet.microsoft.com/download/dotnet-core/3.1):

[code]

[2020-07-31 17:57] mavasani commented on #3933
@jmarolf any ideas?

[2020-07-31 18:13] carlossanlop commented on #3933
I was hoping that explicitly selecting the x86 platform would solve the issue, but it doesn't. It still tries to download the arm64 SDK:

[code]

[2020-07-31 18:20] jmarolf commented on #3933
this is an arcade issue. We should file a bug on [dotnet/arcade](https://github.com/dotnet/arcade) asking them to fall back to ARM32 if ARM64 can't be found

[2020-07-31 18:22] carlossanlop commented on #3933
The workaround I found was to hardcode this:

https://github.com/dotnet/roslyn-analyzers/blob/7bc7660d8f01dbc06fd8d1ac672e44c1d033f5dc/eng/common/tools.ps1#L223-L225

to either x86 or arm32. I did it with x86:

[code]

Another interesting thing is that the build tools use version 3.1.200, when the [latest available version is 3.1.302](https://dotnet.microsoft.com/download/dotnet-core/3.1), and I a

[2020-07-31 18:26] jmarolf commented on #3933
Any changes that you make under the `eng/common` folder we will want to merge into
[dotnet/arcade](https://github.com/dotnet/arcade) since that's where all of that folders contents come from.

I can make a change so we don't require the _exact_ version.

[2020-07-31 20:23] carlossanlop commented on #3933
@jmarolf quick update: I tried using `arm32` with my workaround, but it didn't work. I got the same error I got at the very beginning.

[2020-07-31 21:46] jmarolf commented on #3933
@carlossanlop I assume the error was:

[code]

Sounds like arcade does not work correctly on arm and we need to fixup the main arcade repo so that it downloads (if necessary) and builds with the correct version of the .NET SDK.

Out of curiosity, what does `dotnet build` do in this case? Do you get the same error?

[2020-07-31 23:08] #2622 closed

[2020-08-01 00:26] mavasani commented on #2622
https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.CodeAnalysis.PublicApiAnalyzers&protocolType=NuGet&version=3.3.0-beta3.20381.3&view=overview has the functionality as described by @drewnoakes in https://github.com/dotnet/roslyn-analyzers/issues/2622#issuecomment-505209161

[2020-08-01 23:30] jnm2 opened #3936 "CA3075 does not explain why the given member is unsafe"
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers) 3.3.0-beta2.final, [CA3075](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca3075)

No explanation is given.

Also, there are two grammar issues. The sentence doesn't have an end mark, and it uses a comma to join two independent clauses without following the comma with a conjun

[2020-08-01 23:44] jnm2 opened #3937 "CA3075 warns that XmlReader.Create(string) is unsafe even though it delegates to a call that CA3075 considers safe"
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers) 3.3.0-beta2.final, [CA3075](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca3075)

These calls both delegate to `XmlReader.Create("x", settings: null, inputContext: null)` and are exactly equivalent:

[code]

[code]

[2020-08-03 06:23] knoxi commented on #3770
@mavasani Do you have an estimation time for the (beta) releases of the fixed analyzers, so we can use them from an official feed?

[2020-08-03 07:41] lisberPontes opened #3941 "CA1063: Remove IDisposable from the list of interfaces"
### Description

CA1063: Microsoft.Design : Remove IDisposable from the list of interfaces implemented by 'XXXXX and override the base class Dispose implementation instead.

Ok, so after reading the documentation Microsoft about this rule:

"Every unsealed type that declares and implements the IDisposable interface must provide its own protected virtual void Dispose(bool) method. Dispose() should

[2020-08-03 08:32] gjaw opened #3942 "CA2000 false positive with value tuple deconstruct"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

Example: [CA2000](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000)

#### Repro steps

Easy repro with the following code:

[code]

#### Expected behavior

I expect no CA2000 on the specifie

[2020-08-03 12:20] mavasani commented on #3770
@knoxi Which fixed analyzers are you talking about? The issue here was the use of the VSIX extension.

[2020-08-03 17:47] mikadumont opened #3946 "Analyzer for multiple enumerations of Enumerables"
Direct customer ask copying here:

![image](https://user-images.githubusercontent.com/46729679/89211367-902dcf80-d576-11ea-96c2-551727b3fe6a.png)

[2020-08-03 17:49] mikadumont opened #3947 "Analyzer for non-awaited tasks"
Direct customer ask copying here:

![image](https://user-images.githubusercontent.com/46729679/89211588-f155a300-d576-11ea-9275-4dd006f7da46.png)

[2020-08-03 17:56] carlossanlop commented on #3933
@jmarolf From which folder specifically? It does not work from the root because there are no csproj files there.

[2020-08-03 17:58] jmarolf commented on #3933
there is a sln file though. so I would expect that to work

[2020-08-03 18:06] jmarolf commented on #3933
You should be able to do `dotnet build RoslynAnalyzers.sln`

[2020-08-03 18:10] carlossanlop commented on #3933
Got it.
It failed multiple times. I prefixed the error messages with a `>`. The process is stuck at the end:

[code]

[2020-08-03 18:18] jmarolf commented on #3933
can you try checking out the `features/arm-build` branch I just pushed?

[2020-08-03 18:52] carlossanlop commented on #3933
Gladly.
Build.cmd finished building successfully for x86! 🎉

Output:

[code]

It's the issue discussed above, so I used [my workaround](https://github.com/dotnet/roslyn-analyzers/issues/3933#issuecomment-667285259) to hardcode the architecture to x86.

[code]

[2020-08-03 18:56] jmarolf commented on #3933
alright, I still believe the correct thing to do is to add a x86 fallback path to scripts in the dotnet/arcade repo. Once a change is made there it will flow into this repo

[2020-08-03 19:01] carlossanlop commented on #3933
There should probably be two fallback levels: arm64 -> arm32 -> x86.

[2020-08-03 19:25] jmarolf commented on #3933
@carlossanlop can you open an issue [here](http://github.com/dotnet/arcade/issues/new)?

[2020-08-03 19:29] pavanupb opened #3943 "Points-to analysis does not contain points-to set of the callee procedure"
I am performing a points-to analysis on a sample code: https://github.com/pavanupb/SecureCodeAnalyzer/blob/master/Example-Code-3/AliasAnalysisTest/Program.cs.  There is a procedure call at https://github.com/pavanupb/SecureCodeAnalyzer/blob/6c4dffa71960b806b25b3c8081d1fb7ffdcf8d1e/Example-Code-3/AliasAnalysisTest/Program.cs#L17. The callee procedure can be found at: https://github.com/pavanupb/Sec

[2020-08-03 19:31] mavasani commented on #3943
@pavanupb Is your unit test based on TaintedDataAnalysis in the repo? Tagging @dotpaul

[2020-08-03 19:36] pavanupb commented on #3943
@mavasani It is based on the PropertySetAnalysisTests. I wrote a test similar to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities.UnitTests/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysisTests.cs

[2020-08-03 19:42] mavasani commented on #3943
Ah got it, thanks!

[2020-08-04 03:57] #3933 closed

[2020-08-04 06:26] knoxi commented on #3770
I currently use the package `Microsoft.CodeAnalysis.FxCopAnalyzers (3.3.0-beta1.20323.3)` from your feed as you mentioned in your first response. This solves my issue, but because this package is not published yet I'm waiting for the official beta or release package.

I don't noticed that another workaround is to disable the VSIX extension.

[2020-08-04 14:51] KalleOlaviNiemitalo commented on #1708
<https://github.com/dotnet/runtime/pull/39126> added `[DynamicallyAccessedMembers(DynamicallyAccessedMemberTypes.All)]` to the `Type type` and `string typeName` parameters of the `DebuggerTypeProxyAttribute` constructors. The analyzer could recognize [DynamicallyAccessedMembersAttribute](<https://docs.microsoft.com/dotnet/api/system.diagnostics.codeanalysis.dynamicallyaccessedmembersattribute?view

[2020-08-04 16:14] #3873 closed

[2020-08-04 18:11] mavasani commented on #3946
I was thinking about this analyzer over the weekend :-). I am going to give this a shot this week.

[2020-08-04 18:15] mavasani commented on #3947
Tagging @AArnott @sharwell. Is this covered in vsthreading analyzers? If so, it would be a port.

[2020-08-04 21:45] #3211 closed

[2020-08-04 22:28] drewnoakes commented on #3901
Agree that C# representation could be clearer and more expressive. It would better allow capturing the kinds of things mentioned in #3047.

[2020-08-05 03:11] AArnott commented on #3947
I think the C# compiler already does this if the calling method is `async`. In the customer's example, it is not. For this case, we have [VSTHRD110](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD110.md).

[2020-08-05 11:18] drewnoakes commented on #3927
A workaround here is to invoke the codefix on a wider scope such as "Project" or "Solution". It may be that "Document" also works.

[2020-08-05 11:20] eddynaka commented on #3927
@drewnoakes , when I do that, it will only work for the first framework that appears in TargetFrameworks tag. It won't generate all 3 files (3 frameworks that I'm targetting) at once.

[2020-08-05 11:23] drewnoakes commented on #3927
How are you adding the API files to your project? Can you show that snippet of your project file?

[2020-08-05 11:33] drewnoakes commented on #3927
Just tested this and "Solution" works as described for me.

![image](https://user-images.githubusercontent.com/350947/89408058-2aeb0180-d763-11ea-958b-177c6f0c5f84.png)

[2020-08-05 11:39] Evangelink commented on #3946
Dupe of #3133. @mavasani which one do you prefer to close?

[2020-08-05 11:42] drewnoakes commented on #3946
A challenging case for this analyzer:

[code]

How can you know that `Requires.NotNull` doesn't enumerate the object yet `Enumerable.First` does?

[2020-08-05 11:42] drewnoakes commented on #3133
A challenging case for this analyzer:

[code]

How can you know that `Requires.NotNull` doesn't enumerate the object yet `Enumerable.First` does?

[2020-08-05 11:42] Evangelink opened #3952 "RS0016 fix-all can result in multiple files being created"
Doing a fix-all of `RS0016` on #3922 has lead to a couple of `PublicAPI.Unshipped1.txt` files being created along with the `PublicAPI.Unshipped.txt` file.

[2020-08-05 11:42] eddynaka commented on #3927
@drewnoakes , thanks for the explanation. What I would suggest is that the same behavior that we have for Solution be applied for Project and Document as well.

Thanks for the help.

[2020-08-05 11:44] lioobayoyo commented on #3645
Similar issue here, here a reproducible example. Using the latest nightly build of FxCopAnalyzer

We're on .NET 4.8, but the issue persists if we use  `<TargetFramework>netcoreapp3.1</TargetFramework>`

Code
==

.csproj
[code]

code
[code]

.editorconfig
[code]
error:
[code]

Note:
==

There is a workaround by using `is` :

[code]

[2020-08-05 11:47] Evangelink commented on #3645
@mavasani It'd be nice if we could make some progress on the various `CA1508` related tickets.

[2020-08-05 15:46] MadnessSoftware commented on #1880
Getting CA3075 XML Error from generated code. VS should be creating error free auto-generated code and doesn't conflict with the analyzer.

[App.Designer.zip](https://github.com/dotnet/roslyn-analyzers/files/5029473/App.Designer.zip)

Been 2 years since this issue was detected.
Please advise.

[2020-08-05 15:57] sharwell commented on #1880
Duplicate of #1591

[2020-08-05 19:27] Jozkee opened #3954 "Change CA1836 from diagnosing all types to only the ones proven to be worthy"
Specifically types in `System.Collections.Concurrent`.

[It was proven](https://github.com/dotnet/runtime/pull/39890#discussion_r460098557) that there are .NET types (`ImmutableArray<T>`) that by using the suggested fix, would suffer a perf. regression and there are also internal types [`XmlQueryType`](https://github.com/dotnet/runtime/pull/39890#discussion_r459966637) that have an `IsEmpty` prope

[2020-08-05 19:35] mavasani commented on #3954
@Jozkee If you don't mind, can you add a [configurable option](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#supported-editorconfig-options) for this rule which will fallback to current logic and ignore this allow list? It should be very simple to add such an option, for example see this commit: https://github.com/dotnet/roslyn-analyzers/commit/6d6f99588fd

[2020-08-05 19:38] mavasani commented on #3954
@Jozkee if adding an option is leading to too much work for you, I can do the work of adding the option as follow-up PR as well. Feel free to skip that part for your original PR. Thanks!

[2020-08-05 20:16] jeffhandley commented on #3954
@mavasani / @Jozkee - we'll need to do the configurable option in a follow-up PR.  @mavasani - the libraries team won't have time to do that before the .NET 5 RC1 snap, so if you are able to do that follow-up work, that would be awesome.

[2020-08-05 21:04] #3009 closed

[2020-08-06 02:13] mavasani opened #3957 "This PR leaves the user in an odd state, giving both RS0016 and RS0037 errors when the `PublicApi.*.txt` files do not exist. Suggest the RS0016 fixer should include the required `#nullable enable` line to avoid fixing the missing files twice."
This PR leaves the user in an odd state, giving both RS0016 and RS0037 errors when the `PublicApi.*.txt` files do not exist. Suggest the RS0016 fixer should include the required `#nullable enable` line to avoid fixing the missing files twice.

_Originally posted by @dougbu in https://github.com/dotnet/roslyn-analyzers/pull/3916#issuecomment-669637958_

[2020-08-06 02:40] dougbu commented on #3957
Turns out the problem is worse: RS0037 issues **must** be fixed first or the RS0016 fixer will write out the `PublicApi.*.txt` files without the correct nullability annotations. I had to go back and remove the generated files then run the fixers in the supported order.

[2020-08-06 02:47] dougbu commented on #3957
Shoot, how would I run the RS0037 fixer before the RS0016 one❔

[2020-08-06 03:29] mavasani commented on #3957
@dougbu a better approach is just disable RS0037 for the repo through editorconfig entry “dotnet_diagnostic.RS0037.severity = none”, fix all RS0016 with a FixAll operation, then re-enable RS0037 by removing the above entry and doing a FixAll for it as a second step.

[2020-08-06 03:30] mavasani commented on #3957
https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#set-rule-severity-in-an-editorconfig-file for setting rule severity in editorconfig to disable a rule.

[2020-08-06 03:34] mavasani commented on #3957
Note RS0016 code fix cannot add nullable enable annotations by default- not everyone has nullable enabled entire projects or may not want to add nullability annotations to the public API files from scratch. RS0037 fixes should be done as a second step.

[2020-08-06 05:14] dougbu commented on #3957
1. The fixers should be able to detect what's enabled because nullability metadata appears in the assemblies in most cases.
2. It doesn't matter whether the RS0037 is enabled or not, the RS0016 fixer generates files that won't be valid for most of dotnet/aspnetcore.
    - The only fixer order that works is RS0016 ➡️ RS0037 ➡️ RS0036 and even that has bugs e.g. the RS0037 fixer adds duplicate `#nul

[2020-08-06 07:29] Evangelink opened #3958 "Update resources analyzers to flag leading and trailing spaces"
This should be fixed. We should update the analyzer to flag leading and trailing spaces for all 3 kind of strings.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/3922_

[2020-08-06 10:20] Evangelink commented on #3941
If I got things right, here is the scenario you are describing:

[code]

In this case I don't have any issue reported and it does make sense to me. But with the following code I manage to reproduce the `CA1063` and I do think the issue makes sense:

[code]

Am I missing something?

[2020-08-06 10:22] Evangelink commented on #3347
@sharwell any update on this?

[2020-08-06 10:22] Evangelink commented on #3334
Ping @mavasani

[2020-08-06 10:25] lisberPontes commented on #3941
Yes, this 'false positive' can be seen here: [Stack overflow](https://stackoverflow.com/questions/8925925/code-analysis-ca1063-fires-when-deriving-from-idisposable-and-providing-implemen):

`public class Reusable : IDisposable {

  ~Reusable() {
    Dispose(false);
  }

  public void Dispose() {
    Dispose(true);
    GC.SuppressFinalize(this);
  }

  protected virtual void Dispose(Boolean disposi

[2020-08-06 12:34] Evangelink commented on #3941
Thanks for the pointer, the issue is a little different to what I understood from your comment and what I did posted earlier.

May I ask which version of the analyzer you are currently using? I have tried with v3.0.0 and latest beta and in both cases I don't have the issue reported.

[2020-08-06 12:42] Evangelink commented on #2626
Ping @Digmaster

[2020-08-06 12:55] chriskuech commented on #3134
+1, I don't think `System.Diagnostics.Contracts` work to resolve CA1062 (I'm using VS2019), but there isn't documentation for me to know whether this is an analyzer bug or user error.  Documentation should be updated to explicitly mention if Contracts can be used, as well as if/how custom Contracts can be written.

[2020-08-06 13:52] lisberPontes commented on #3941
I'm using [legacy analysis](https://docs.microsoft.com/en-gb/visualstudio/code-quality/static-code-analysis-for-managed-code-overview?view=vs-2017) . And I've opened this same bug ([here](https://github.com/dotnet/runtime/issues/40196)). Thus, @danmosemsft told me "@lisberPontes thanks for the issue. Please can you reopen it in https://github.com/dotnet/roslyn-analyzers."

And here we are :)

[2020-08-06 13:56] Evangelink commented on #3834
@juliusfriedman I am a little lost here the last example you are providing doesn't contain any operator and rule `CA2225` does report on alternative operators so has nothing to do with this code. Regarding the comment `//Here should be a compiler error`, I do have a `CS0472` reported on this line so I am not sure what you are referring to.

Getting back to the other piece of code you have provided

[2020-08-06 13:59] Evangelink commented on #3941
Oh I see! I don't want to say something wrong but AFAIK the legacy analysis is no longer really "supported". Besides as we don't have the issue on the new analyzer I think that nothing will be done.

Tagging @mavasani for a more official answer here.

[2020-08-06 14:11] mavasani commented on #3941
@Evangelink is correct. We are no longer taking fixes to legacy binary analysis. Please add a source suppression or disable the rule for legacy analysis.

[2020-08-06 14:11] #3941 closed

[2020-08-06 14:11] Evangelink commented on #3460
@mavasani I can do the refactoring but I am not sure about the support of 2 docs.

[2020-08-06 14:15] Evangelink commented on #3669
@dotMorten Have you been able to find a way to reproduce the FP?

[2020-08-06 14:16] mavasani commented on #3460
Yes, the docs page get outdated very soon, are not specific to a particular release and are only for porting status. The md files are shipped with each package release with info about rules shipping in that package.

[2020-08-06 15:04] sharwell commented on #3347
No update yet.

[2020-08-06 15:05] mavasani commented on #3957
Analyzer/code fix do not have access to these project properties. This support was recently added to compiler in VS2019 16.8, but will take some time to be available for public API analyzer that is based of a much earlier version of compiler API. Can you file a separate issue for this feature request?

 I was able to perform the following steps of fix all RS0016, RS0037 and RS0036 violations.

1.

[2020-08-06 15:57] mavasani commented on #3957
@dougbu I wasn't to reproduce this. Can you please file a separate issue with repro steps to help reproduce this?

[2020-08-06 16:01] mavasani commented on #3957
@dougbu I can try to repro on your repo if you can let me know where to install the below SDK: https://github.com/dotnet/aspnetcore/blob/ed5034eb8ecde1e0151f70da43203affd1375c46/global.json#L3

[2020-08-06 16:15] mavasani commented on #2581
@Evangelink Let me know if you'd like to pick this up, otherwise I can take it up early next week.

[2020-08-06 17:21] dougbu commented on #3957
@mavasani run `.\restore.cmd` in the repo root to install the SDK, needed runtimes, and restore all projects before starting Visual Studio. Use the `.\startvs.cmd` with AspNetCore.sln or any `*.slnf` file to ensure VS uses the correct SDK.

[2020-08-06 17:32] dougbu opened #3962 "Public API fixers should automatically generate `#nullable enable` where applicable"
### Analyzer

**Diagnostic ID**: [RS0016](https://github.com/dotnet/roslyn-analyzers/blob/master/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md)

### Describe the improvement

Currently the RS0016 fixer creates new `PublicApi.*.txt` files without `#nullable enable`. This rather frequently leads to RS0037 warnings i.e. the RS0016 is not generating useful / valid API baseline files.

### Describe

[2020-08-06 17:51] dougbu opened #3963 "Public API analyzer does not handle implicit constructor of value types correctly"
### Describe the bug

The RS0016 analyzer reports an invalid error about the implicit constructor in `struct`s.

### Steps To Reproduce

1. `git clone --recurse-submodules git@github.com:dotnet/aspnetcore.git` # or use https://github.com/dotnet/aspnetcore.git
2. `.\restore.cmd` # to install the .NET SDK and any needed runtimes as well as restore all projects
3. `.\src\Analyzers\startvs.cmd` # open

[2020-08-06 19:01] dougbu opened #3965 "RS0037 fix-all duplicate `#nullable enable` lines if some API baselines exist"
### Describe the bug

Ran the RS0037 fixer on one of the filtered solutions in dotnet/aspnetcore, built again, and saw up to three RS0024 errors.

### Steps To Reproduce

1. `git clone --recurse-submodules git@github.com:dotnet/aspnetcore.git` # or use https://github.com/dotnet/aspnetcore.git
2. `.\restore.cmd` # to install the .NET SDK and any needed runtimes as well as restore all projects
3. `g

[2020-08-06 19:06] dougbu commented on #3957
I've filed all the issues @mavasani #3963 and #3965 include more detailed repro steps than anything above.

[2020-08-06 19:06] mavasani commented on #3965
Tag @jcouv

[2020-08-06 19:13] #3952 closed

[2020-08-06 23:58] mavasani commented on #3229
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3228

[2020-08-06 23:58] #3229 closed

[2020-08-07 05:37] negberts commented on #3533
We have the same problem, updating to the latest beta and adding the line to the .editorconfig file did not help. It appears that the build get's stuck because it tries to get the same resources while building multiple projects at once.  What was the setting to prevent projects from building simultaneously? So I want them to build in sequential order?

[2020-08-07 05:57] negberts commented on #3533
It typically hangs here:

Using shared compilation with compiler from directory: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Roslyn

[2020-08-07 10:10] Evangelink commented on #3877
@mavasani Any opinion on this?

[2020-08-07 10:14] Evangelink commented on #3477
I think it would be handy to have something a little more fine-grained that [Analyzer Configuration.md#configure-dispose-ownership-transfer-for-disposable-objects-passed-as-arguments-to-method-calls](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#configure-dispose-ownership-transfer-for-disposable-objects-passed-as-arguments-to-method-calls) and instead hav

[2020-08-07 10:27] Evangelink commented on #3460
I cannot find the script generating the file but it doesn't seem to be manually edited, @mavasani could you point me to the script? Or confirm it is manually edited.

[2020-08-07 10:41] wizofaus commented on #2970
One example I came across today, we have CA1825 turned on - avoid zero-length array allocations, with the recommendation to use Array.Empty<type>() instead.
But when I changed

```var foo = new Guid[];```

to

```var foo = Array.Empty<Guid>();```

CA1506 fired.  How does using the .NET Array.Empty( ) increase my coupling at all?

[2020-08-07 10:42] Evangelink commented on #2055
Fixed by #3234

[2020-08-07 10:42] #2055 closed

[2020-08-07 10:44] Evangelink commented on #2678
@davkean The analyzer was rewritten, could you please try the new version and see if this still raises an issue on your code? If so would you be able to create a small reproducer?

[2020-08-07 10:55] Evangelink commented on #1380
Looks like a stale issue, the fixer is a `BatchFixer`.

[2020-08-07 10:55] #1380 closed

[2020-08-07 10:57] Evangelink commented on #2475
I prefer the suggestion from @maxkoshevoi. @john-h-k, @mavasani is it ok for you?

[2020-08-07 10:59] Evangelink commented on #1737
@mavasani is it possible to get a little more info about what needs to be done for this ticket?

[2020-08-07 11:08] Evangelink commented on #2009
@mavasani I am not entirely sure but I think this is a stale issue, `GetOperations` no longer exists.

[2020-08-07 11:10] Evangelink commented on #1619
Is there still something to do here? If so can we use any name for the new instance?

Tagging @sharwell

[2020-08-07 12:26] mavasani commented on #3460
It’s auto generated here: https://github.com/dotnet/roslyn-analyzers/blob/7b0798b7a2a270cbcde86ab525d917a3a8026b71/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs#L212

Invoked post-build step here: https://github.com/dotnet/roslyn-analyzers/blob/7b0798b7a2a270cbcde86ab525d917a3a8026b71/eng/GenerateAnalyzerNuspec.targets#L25

Target enabled when running pack on the NuGet projects in the r

[2020-08-07 12:32] mavasani commented on #1619
I have not seen any concerns reported by any developers about this, so I am fine to not do anything here.

[2020-08-07 12:34] #1619 closed

[2020-08-07 12:36] #3965 closed

[2020-08-07 12:51] mavasani commented on #2970
@wizofaus I believe this has been addressed by https://github.com/dotnet/roslyn-analyzers/pull/3233, which is available in latest 3.3.0 beta package. https://github.com/dotnet/roslyn-analyzers/blob/0a6e4b3935bbcdde79eb90d1760368e89ffff826/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/Maintainability/CodeMetricsAnalyzer.cs#L151-L158

@Evangelink Can you confirm if this issue should now be c

[2020-08-07 12:57] mavasani commented on #1737
I think this is a difficult item to audit - basically needs reviewing each IOperation analyzer whose functionality relies on specific operation kinds or IOperation sub-interface for either its ancestor node or descendant node. I am fine if we close this out and tackle each customer report and rely on unit tests to guard against such breaks.

[2020-08-07 12:58] mavasani commented on #1737
Lets close this one for now..

[2020-08-07 12:58] #1737 closed

[2020-08-07 13:01] mavasani commented on #3535
I think @sharwell is more suitable to review this request, he has written similar analyzers for requiring `in` arguments.

[2020-08-07 13:02] mavasani commented on #2475
Yes, we can use https://github.com/dotnet/roslyn-analyzers/issues/3535 to track this.

[2020-08-07 13:02] #2475 closed

[2020-08-07 13:03] mavasani commented on #3877
Sounds reasonable change!

[2020-08-07 13:05] Evangelink commented on #2970
@mavasani I'll make a test but I don't think it's done, on your reference we did it for `CA1501` here it is about `CA1506`.

[2020-08-07 13:06] mavasani commented on #3477
I think we need to go with attribute annotation based solution here, similar to nullable attributes. editorconfig option might provide an alternate, but attributes are much more descriptive in source. @Evangelink would you like to come up with a proposal about set of attributes that we can use here?

[2020-08-07 13:08] mavasani commented on #2970
Ah, thanks. I will let you drive this issue forward!

[2020-08-07 13:09] Evangelink commented on #3477
I think we could have a look at this proposal: https://github.com/dotnet/runtime/issues/29631

[2020-08-07 14:29] sharwell commented on #3535
Passing by reference (even using `in`) disables certain optimizations in the JIT. I've observed cases where the cost of copying a value type is lower than the runtime cost of disabling these portions of the JIT, so it's not always valuable to write extension methods like this.

[2020-08-07 15:52] Evangelink commented on #3749
@Youssef1313 Do you know if the issues is fixed or not?

[2020-08-07 15:53] Evangelink commented on #3579
Feel free to reopen if you still experience the issue @bidolah

[2020-08-07 15:53] #3579 closed

[2020-08-07 16:19] maxkoshevoi commented on #3535
@sharwell does passing value type with `in` still passes it by reference, and not by value? It seems like it should be passed by value both when nothing or `in` is used.

[2020-08-07 16:22] sharwell commented on #3535
`in` is the same as `ref`, except you can only read from it.

[2020-08-07 17:39] #3460 closed

[2020-08-07 17:44] vsfeedback opened #3975 "CompareSymbolsCorrectly Fix crashed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1140450/comparesymbolscorrectly-fix-crashed.html)._

---
[severity:I'm frustrated, but able to complete my work]
Any comparison of symbols that causes RS1024, like below, offers a code fix that fix crashes
[code]
with the stack below
[code]

---
### Original Comments

####

[2020-08-07 17:46] 333fred opened #3976 "C# 9 Analyzer: Flag suspect pattern usages"
C# 9 is going to introduce new pattern matching syntax around `or`, `and`, and `not`. There are inevitably going to end up confusing people, and I can already see the flood of questions on the C# discord about "Why does the && not do what I told it to do here?". Some examples where this can fall down:

[code]

We should consider having a rule to flag these types of suspect cases and offer to rewri

[2020-08-07 17:49] mavasani commented on #3975
Tagging @ryzngard @Evangelink

[2020-08-07 17:51] mavasani commented on #3976
Thanks @333fred. Analyzers related to new language constructs are generally implemented in Roslyn repo as IDExxxx rules. CAxxxx rules in this repo are more for API analyzers + generic code quality suggestions. Likely need to transfer this item to Roslyn. Tagging @sharwell @CyrusNajmabadi

[2020-08-07 18:06] 333fred commented on #3976
I talked with @CyrusNajmabadi about this before filing, he suggested that it should be an analyzer, not an IDExxxx rule, so I opened here. Happy to move it over though :).

[2020-08-07 18:12] mavasani commented on #3976
Ah okay. I trust Cyrus' call here :). Cyrus, does this mean we also port a similar IDE analyzer for `!is` you authored in Roslyn to this repo: https://github.com/dotnet/roslyn/pull/44878

[2020-08-07 18:16] mavasani commented on #3976
@333fred By the way, we still cannot author refactorings in a completely reasonable fashion in this repo. Code refactorings in Roslyn rely on internal APIs, which are important for an ideal implementation. If the refactoring are just the opposite of analyzers, then it would be weird to have them in a separate repo then the analyzer. I am also wondering which analyzer package would we put such lang

[2020-08-07 18:37] Youssef1313 commented on #3749
@Evangelink I'll test and tell you shortly.

[2020-08-07 18:38] mavasani opened #3977 "Report a warning when user has a package reference to an older version of .NET SDK analyzers then built-in ones in the .NET SDK"
Follow-up to https://github.com/dotnet/roslyn-analyzers/pull/3974. That PR ensures that users can override/de-couple built-in .NET analyzers with an explicit analyzer NuGet package reference. We should build on that to warn users when they move to an SDK with newer version of analyzers then the one they have installed with the explicit NuGet package reference.

WARNING: The .NET SDK has newer anal

[2020-08-07 18:40] mavasani commented on #3977
@jmarolf I can take this up if you point out to me the MSBuild property that can be used to identify the version of analyzer assembly in the SDK. If such a property does not exist today, suggest a name that you plan to add to the SDK and I can use that here.

[2020-08-07 18:54] Youssef1313 commented on #3749
It still repro with `3.3.0-beta2.final`

[2020-08-07 18:56] Youssef1313 commented on #3749
**Note:** This doesn't repro **if** I added parenthesis after `Count`.

[2020-08-07 19:08] Youssef1313 commented on #3749
The VB version of the fixer wasn't updated with the same changes in 2404ec0. I suspect this could be the problem.

[2020-08-07 20:21] ryzngard commented on #3975
Working on a fix. Looks like it's trying to do AddParameter instead of modifying the arguments

[2020-08-07 23:02] #3954 closed

[2020-08-07 23:12] mavasani opened #3980 "Add a configurable option for CA1836 which will fallback to the prior more lenient implementation of this analyzer"
@Jozkee If you don't mind, can you add a [configurable option](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#supported-editorconfig-options) for this rule which will fallback to current logic and ignore this allow list? The option will be off by default, so the default logic is based on the allow list. It should be very simple to add such an option, for ex

[2020-08-07 23:27] #3877 closed

[2020-08-08 00:53] jmarolf commented on #3977
hmm, I propose that each of the props files (both the one that ships in the sdk and the one that ship in the nuget package) write out their build number as part of the signed build. Otherwise we would need to call .NET methods from msbuild to get the assembly version which seems un-necessarily slow. Then you can just check
1. is the version property already defined
2. is it greater then mine
3. if

[2020-08-08 01:41] mavasani commented on #3977
Great, that sounds like a good idea! I will implement this early next week.

[2020-08-08 02:47] wizofaus commented on #464
Is there any timeline yet for a version of an FxCop or other build-time analyzer that will fail the build on CA1811 violations?

[2020-08-08 02:53] mavasani commented on #464
Please see the update at https://github.com/dotnet/roslyn/issues/33558#issuecomment-605974524. We now have a CodeStyle NuGet package that can be installed to the project for built enforcement. Please follow the below steps:

1. Install the Code Style NuGet package to your project
2. Notice the IDE0051/IDE0052 suggestions for unused/unread private members respecitively.
3. Configure severity of bot

[2020-08-08 02:55] mavasani commented on #464
CLosing this issue as Won't fix as per the last comment - there is a build enforcable IDE analyzer that is the replacement for CA1811..

[2020-08-08 02:55] #464 closed

[2020-08-08 02:58] wizofaus commented on #464
But I've tried that and my build is still succeeding despite having unused private members.

These are the package version I have installed:

    <PackageReference Include="Microsoft.CodeAnalysis.CSharp" Version="3.7.0" />
    <PackageReference Include="Microsoft.CodeQuality.Analyzers" Version="3.0.0"/>
    <PackageReference Include="Microsoft.CodeAnalysis.FxCopAnalyzers" Version="3.0.0" />

[2020-08-08 03:41] mavasani commented on #464
Please try `Microsoft.CodeAnalysis.CSharp.CodeStyle` package: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.CodeAnalysis.CSharp.CodeStyle&protocolType=NuGet&version=3.7.0-3.20271.4

[2020-08-08 03:45] wizofaus commented on #464
Yep, I eventually got it working using v 3.7.0-1.20208.4, after much trial and error!

[2020-08-09 06:39] maxkoshevoi commented on #3535
@sharwell thank you for clarifying, I missed that somehow. How about this: analyzer that checks whether extension method for value type modifies that value type, and if it is, produces a warning to add `ref` to the first argument.

[2020-08-09 22:45] #3958 closed

[2020-08-10 01:58] manfred-brands opened #3983 "False positive for CA1067"
### Describe the bug

Related to #2027
Base class implements `Equals(object)` and `IEquatable<BaseClass>`.
Derived class overrides `IEquatable<BaseClass>`. It should not have to override `Equals(object)`.

### Steps To Reproduce

    public abstract class BaseClass : IEquatable<BaseClass>
    {
        public abstract bool Equals([AllowNull] BaseClass other);

        public sealed override bool E

[2020-08-10 07:35] Evangelink commented on #3983
Seems to make sense to me.

[2020-08-10 10:44] manfred-brands commented on #3983
I see if I can change this in the EquatableAnalyzer.

[2020-08-10 12:01] Evangelink commented on #3983
I think we need to be careful about the condition on which we stop reporting the rule. In your case, the design is good so `Equals(object)` calls `Equals(Base)` which is abstract (note it would be ok with `virtual` too) but if you have something a little different then you end-up with broken behavior.

Note that while writing this, I realize that we shall have another analyzer ensuring that the va

[2020-08-10 15:41] Youssef1313 opened #3984 "Extend CA1707 rule"
Interesting - I presume this is due to the fact that this rule only runs on public API surface by default? If so, we should have a follow-up PR to make this rule support [api_surface](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#analyzed-api-surface) option. Implementation would be as simple as invoking `symbol.MatchesConfiguredVisibility()` extension met

[2020-08-10 16:45] #1878 closed

[2020-08-10 20:26] Evangelink commented on #3927
@drewnoakes I guess we need to write our own fixer to be able to handle this, don't we?

[2020-08-10 20:29] AmadeusW opened #3986 "Analyzer to guard against comparing struct to null"
### Describe the problem you are trying to solve

We checked if a variable of struct type is null. The check was negative, and we took incorrect code path.
We should have checked if the variable is default. This would have resulted in positive check, and we would have taken correct code path.

I would like to guard against such with an analyzer.
Does an analyzer like this already exist?

### Descr

[2020-08-10 20:29] Evangelink commented on #3984
Already done.

[2020-08-10 20:29] #3984 closed

[2020-08-10 20:57] mavasani commented on #3986
Tagging @jmarolf @gafter @jaredpar - I believe this is one of the diagnostic planned for compiler warning wave. If not, this should certainly be a good candidate for warning level analyzer diagnostic that ships with the .NET SDK.

[2020-08-10 21:08] jmarolf commented on #3986
I believe this is exactly encompasses https://github.com/dotnet/roslyn/issues/45744 and is already checked into roslyn master

[2020-08-10 21:11] mavasani commented on #3986
Great, closing this as external!

[2020-08-10 21:11] #3986 closed

[2020-08-10 21:46] AmadeusW commented on #3986
Thanks @jmarolf! I read through the PR you linked and its linked PRs, and I'm curious how to enable this.

* Will compiler shipping with VS 16.8 allow me to use `<AnalysisLevel>5</AnalysisLevel>`?
* Is there a way to opt into seeing CS8073 on a build machine which hasn't been updated to VS 16.8? Is `<Features>strict</Features>`the way to go?
* Additionally, do I need to enable nullability to see C

[2020-08-10 22:20] dotpaul opened #3990 "TaintedDataAnalysis discussion"
Opening an issue for discussion of tainted data analysis improvements.

[2020-08-10 22:25] drewnoakes commented on #3927
@Evangelink there's already a codefix, but it applies to the current project configuration (TFM) rather than all. I'm not sure what the best approach here is though.

[2020-08-10 22:36] dotpaul commented on #3990
Since you are here. Is there a way to define a `return` from such method as a `sink`? Like when it returns a non html encoded string.

_Originally posted by @JarLob in https://github.com/dotnet/roslyn-analyzers/pull/3938#issuecomment-669850790_

---

[code]

_Originally posted by @JarLob in https://github.com/dotnet/roslyn-analyzers/pull/3938#issuecomment-670033085_

---

I forget if I answered th

[2020-08-10 22:38] #3975 closed

[2020-08-10 22:47] dotpaul commented on #3990
I have a question. Is there a way to define a validator? Like:
[code]
For the beginning I have decided to ignore the return value and define a sanitizer that outputs to the same argument like:
[code]
so this code should not warn:
[code]
Unfortunately it didn't work as expected, the `url` is still tainted.

_Originally posted by @JarLob in https://github.com/dotnet/roslyn-analyzers/pull/3951#issuec

[2020-08-11 03:50] manfred-brands commented on #3983
This rule only checks *if* there is an override, not whether it is a good one.
I think it comes down to a class always needs to override its base class `Equals`, either `Equals(object)` or `Equals(base)`.

Implemented this and added two tests, one following my example and one where the derived class does not override `Equals(Base)`

[2020-08-11 14:33] jmarolf commented on #3986
`<WarningLevel>5</WarningLevel>` is probably the way to go. I have no idea how CoreXT targets work so I am unable to speculate what other msbuild options will function correctly. `<AnalysisLevel>5</AnalysisLevel>` is an alias for this that also enable .NET platform analyzers. If all you care about is getting the new warnings from the compiler setting `WarningLevel` to 5 should do what you want.

[2020-08-11 14:54] Pyrobolser opened #3993 "CS8604 False-negative in .Net Standard project vs .Net Core"
### Describe the bug

In a .Net Standard project, trying to use a `Stream?` instead of a `Stream` raises a CS8604 warning. But not when using a `Stream?` to initialize a `StreamReader`.
In a .Net Standard project, both situations raise a CS8604 warning.

### Steps To Reproduce
Here is the short class that I am using, with `<Nullable>enable</Nullable>` in .NetStandard 2.1 project and .NetCoreApp 3.

[2020-08-11 20:23] Dreamescaper opened #4039 "ReviewUnusedParametersFixer error when no parameter name present"
**Version Used**:
VS2019 16.8 P1

**Steps to Reproduce**:

[code]

Click on the light-bulb with cursor on ↓ position.

**Expected Behavior**:
No errors present.
Probably CA1801 should not be reported at all.

**Actual Behavior**:
'ReviewUnusedParametersFixer' encountered an error and has been disabled.
Stacktrace:
[code]

[2020-08-11 20:45] jmarolf opened #3996 "Allow user to specify latest, preview, and none in AnalysisLevel"
## latest

- `EnableNETAnalyzers` is set to `true`
- `Microsoft.CodeAnalysis.NetAnalyzers.targets` sets `_GlobalAnalyzerConfigFile` to point to current analyzers `.editorconfig`
- `WarningLevel` is set to `5`

## preview

- `EnableNETAnalyzers` is set to `true`
- `Microsoft.CodeAnalysis.NetAnalyzers.targets` sets `_GlobalAnalyzerConfigFile` to point to latest analyzers `.editorconfig`
- `WarningLe

[2020-08-11 20:46] mikadumont commented on #3996
Do we still need a preview option?

[2020-08-11 20:48] jmarolf commented on #3996
The compiler has a `preview` option for opting into new features without installing a preview. The advantage is that we can get users to easily try new things we add without installing a whole new sdk.

[2020-08-11 20:50] mavasani commented on #3996
Looks good to me!

[2020-08-11 20:50] jmarolf commented on #3996
I would add. The compiler team plans to add new warning waves in-between releases of .NET. If users want to opt into these new warnings they would need some concept of `preview`.

[2020-08-11 20:51] jmarolf commented on #3996
@mavasani so I am thinking that we would generate a `.editorconfig` file per analysis level. how difficult would that be to do with the infra for this repo?

[2020-08-11 21:18] mavasani commented on #3996
@jmarolf We already generate a global editorconfig file for each AnalyzerRelease specified in https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md. For example, if you look at the latest NuGet package, we have the following in the `build\config` folder:

![image](https://user-images.githubusercontent.com/10605811/89948564-32832e00-dbdb-11ea-93a6-

[2020-08-12 15:29] JarLob commented on #3990
I have pushed the changes and three tests to https://github.com/JarLob/roslyn-analyzers/tree/sanitizers. Two of them pass and the `Redirect_IsLocalUrl` fails. The branch is the merge of the sanitizers brach with the source arguments branch, because it looks like something is wrong with "untainting" the arguments. If the taint source is a result of property or function return it works correctly.

[2020-08-12 16:24] mavasani commented on #3996
@jmarolf @mikadumont https://github.com/dotnet/roslyn-analyzers/pull/3997 adds the end-to-end support for analyzer warning waves based on `AnalysisLevel` property.

[2020-08-13 10:09] KrisVandermotten commented on #2581
Is there any progress on resolving this bug?

It' been well over a year now since it was reported. It would be great to see it fixed, if possible no later than in the .NET 5 wave.

Again, this is a bug report, not a feature request. A diagnostic message that claims that "The behavior of 'string.IndexOf(char)' could vary based on the current user's locale settings." is simply not correct.

Correct

[2020-08-13 10:46] #2834 closed

[2020-08-13 14:34] APIWT opened #4000 "CA2000 false positive"
### Describe the bug

The CA2000 rule is throwing a false positive even for very simple cases of `using var disposable = ...`. The bug is only observed inside the IDE (in my case, Rider), but it does not appear at compile time.

### Steps To Reproduce

Please see the attached repro. Use any recent version of Rider (2020.2 or 2020.1.4 will work from my testing) and check the "Errors in Solution" ta

[2020-08-13 14:35] APIWT commented on #4000
Cross reported here just in case (but I seriously doubt this is a Rider bug because it disappears if I downgrade Microsoft.CodeAnalysis.FxCopAnalyzers to 3.0.0)
https://youtrack.jetbrains.com/issue/RIDER-49103

[2020-08-13 14:41] mavasani commented on #4000
@APIWT This seems to be due to your IDE being on older Microsoft.CodeAnalysis assemblies. Verified no repro on VS 2019 16.7.1:

![image](https://user-images.githubusercontent.com/10605811/90148486-37a9bf80-dd38-11ea-80fd-2135cb3813e8.png)

[2020-08-13 14:41] #4000 closed

[2020-08-13 14:42] APIWT commented on #4000
@mavasani Thank you for the quick response! I'll link your comment in the Rider bug report. I really appreciate it.

[2020-08-13 15:44] nschuessler opened #4002 "New rule: Extra type checking / type casting"
### Describe the problem you are trying to solve

I have found that there is a lot of duplicate type checking and casting in code and wrote an analyzer and fix provider to address it. This is a common pattern:

[code]

This could be reduced in a better way to:

[code]

This is closely related to excessive casting in that the `as` operator in the above could be replaced by a cast.
This is a contriv

[2020-08-13 15:57] mavasani commented on #4002
Seems like a nice analyzer to me.
- It would be disabled by default in `Microsoft.CodeAnalysis.NetAnalyzers` as it is based on expensive DFA analysis (all DFA rules are disabled by default in this package).
- It would be enabled as a warning in `Microsoft.CodeAnalysis.FxCopAnalyzers`

[2020-08-13 21:42] avivanoff opened #4007 "CA1838 false positive on .NET Framework 4.8"
### Describe the bug

CA1838 false positive on .NET Framework 4.8

### Steps To Reproduce

1. Create .NET Framework 4.8 project.
2. Add a P/Invoke call with StringBuilder.
3. Run code analysis.

### Expected behavior
CA1838 should not fire since ArrayPool does not exist in the .NET Framework 4.8.

### Actual behavior
CA1838 fires.

### Analyzer

**Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers]

[2020-08-13 21:47] mavasani commented on #4007
@elinor-fung The analyzer needs to bail out from CompilationStartAction if well-known type `ArrayPool` is not defined in the compilation.

[2020-08-13 21:50] terrajobst opened #4008 "Platform names should be in quotes"
Since our capitalization for platform names will be off, we should put it in quotes to make it clear that's a dynamic value, rather than being part of the error message.

### Repro

[code]

### Expected

### Actual

[2020-08-13 21:53] terrajobst opened #4009 "Analyzer doesn't flag using a versioned API from an unversioned assembly"
### Repro

[code]

### Expected

### Actual

No diagnostic is produced.

[2020-08-13 21:56] terrajobst opened #4010 "Analyzer should refer to constructors by type name instead of .ctor"
### Repro

[code]

### Expected

### Actual

[2020-08-13 21:58] stephentoub commented on #3646
I thought we'd agreed not to do this. We just added these APIs and now we're saying don't use them. We shouldn't add them in the first place if we then immediately discourage anyone from using them.

[2020-08-13 22:01] terrajobst opened #4011 "Error message should be grammatically correct"
### Repro

[code]

### Expected

### Actual

[2020-08-13 22:07] terrajobst opened #4012 "Reintroducing API support should not cause a warning"
### Repo

[code]

### Expected

No diagnostics.

### Actual

[2020-08-13 22:17] dotpaul commented on #3990
@JarLob Oh hrm, I think the problem is, as it is now, every `IParameterReferenceOperation` is creating a tainted abstract value. Might have to rethink the overall approach in #3966. Maybe only want to taint parameters at the beginning of method.

[2020-08-13 22:20] terrajobst opened #4013 "Using an unsupported API should raise a diagnostic"
### Repro

[code]

### Expected

### Actual

No diagnostics are raised.

[2020-08-13 22:35] terrajobst opened #4014 "Refering to unknown platform names should result in warnings"
We use string literals for OS platform names. We should validate that the name is known. The list is the combined set from two places:

1. `OperatingSystem.Is(PlatformName)[VersionAtLeast]()`. That's the target framework's known set of platforms.
2. The project's MSBuild item group `SupportedPlatform`. This is the project's specific knowledge of known platforms. This allows class library authors t

[2020-08-13 22:36] dotpaul commented on #3990
Example:
[code]

Also, only need rethink #3966 for supporting validators. I suspect a lot of `TaintedDataOperationVisitor` would have to change to support validators.

[2020-08-13 22:39] terrajobst opened #4015 "We should validate the syntax for platform names"
This related to https://github.com/dotnet/runtime/issues/45851. We should also provide definition-site diagnostics if the syntax of the string passed to the attributes isn't of a valid platform name followed by an optional version.

**Note**: We don't need to handle the universal methods `OperatingSystem.IsPlatform()` and `OperatingSystem.IsPlatformAtLeast()` because the version is a separate argu

[2020-08-13 22:53] elinor-fung commented on #4007
Actually, the message might be a bit misleading here. It should probably be `Consider using a character buffer instead`.

The suggestion is really to switch to a buffer - does not need to be from `ArrayPool`. The doc (just merged this morning, so not published yet) points out some different ways for fixing it, only one of which involves `ArrayPool`.

@avivanoff To double check - this rule should b

[2020-08-13 23:18] avivanoff commented on #4007
@elinor-fung, yes, I enabled the rule.

[2020-08-13 23:20] dotpaul commented on #3646
In this case, isn't it too late for "We shouldn't add them in the first place"? 🙂

[2020-08-14 00:20] GrabYourPitchforks commented on #3646
@stephentoub My understanding was that we had agreed not to obsolete them. Am I misremembering?

There are some valid (mainly academic) use cases for calling these APIs. But on the whole that's an extreme minority of our developer audience, with the bulk of our audience better served by the normal APIs.

[2020-08-14 01:02] #4007 closed

[2020-08-14 01:13] jeffhandley commented on #4012
This also repros with the guard methods being used instead of the assembly attribute:

[code]

### Expected
No diagnostics.

### Actual

[2020-08-14 01:23] terrajobst opened #4017 "Platform analyzer should honor <SupportedFramework> configuration"
Note: This is currently blocked by https://github.com/dotnet/sdk/pull/12872.

We don't want to assume that a developer wants to run on all platforms all the time, which is why we [added the <SupportedFramework> MSBuild configuration](https://github.com/dotnet/designs/blob/master/accepted/2020/platform-exclusion/platform-exclusion.md#build-configuration-for-platforms). @mavasani made sure it's pass

[2020-08-14 02:47] stephentoub commented on #3646
I don't see a meaningful difference between marking an API as obsolete so that the compiler says "don't use this" and writing an analyzer that fires on that API so that the compiler says "don't use this".

The arguments against these methods were made when they were introduced, and they were still added. To my knowledge, nothing has changed.

If there are valid uses for the APIs, we shouldn't be w

[2020-08-14 04:05] GrabYourPitchforks commented on #3646
The analyzer shouldn't say "don't use this." We wouldn't have introduced the API if it had zero legitimate use cases.

Instead, the analyzer should say "I'm 99.999% confident you wanted to call _xyz_ method instead of this one. But if you really did intend to call this API, suppress the rule and party on!"

Philosophically, I see an analyzer as alerting developers to a potential trap, allowing the

[2020-08-14 07:23] StarKiller54 commented on #3533
Hello, i have the same problem and `dotnet_code_quality.interprocedural_analysis_kind = None` work for me.
I have asp.net project with framework 4.5.2, visual studio 2019 16.7.1 and nuget package fxcop analyser 3.3.0.

[2020-08-14 08:10] buyaa-n commented on #4011
[Fixed](https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/28a7cba35522a24494a41dc66f6b12e52d173512#diff-cff6af5ad11b512db597e4afcb1934adR1441), thanks!

[2020-08-14 08:11] buyaa-n commented on #4008
[Fixed](https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/28a7cba35522a24494a41dc66f6b12e52d173512#diff-cff6af5ad11b512db597e4afcb1934adR1435)

[2020-08-14 08:13] buyaa-n commented on #4009
Fixed, [the test added](https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/28a7cba35522a24494a41dc66f6b12e52d173512#diff-aa2dc7c8b8aa7394d45b1352f85abfbbR736-R759), thanks!

[2020-08-14 08:34] JarLob commented on #3990
Boomer :(

Any idea how to do it? I looked into `OperationKind.MethodBodyOperation` in debugger, but it's weird: I can see method arguments in `Syntax` property preview, but don't see how to access them from `IOperation`.

[2020-08-14 09:57] stephentoub commented on #3646
I don't see such a distinction.  How is the user experience so different between such an analyzer and adding this to the API?
[code]
and we already agreed not to do that.

On top of that, these instrinsics are hard to use.  First, you have to find yourself including and using things from the System.Runtime.Intrinsics.X86 namespace, at which point you're already in super advanced territory.  Then y

[2020-08-14 15:38] Evangelink commented on #4008
I don't know how things work so I might say something utterly stupid but based upon `[SupportedOSPlatform("windows10.0")]` I would have expected the message to be `'WindowsSpecificApi' requires 'windows10.0' version or later`.

[2020-08-14 16:06] dotpaul commented on #3990
Ah, good catch!

[2020-08-14 17:36] carlossanlop opened #4018 "Build.cmd throws error"
Yesterday I synced my enlistment to the latest bits in master, ran `git clean -fdx`, and then tried to build from the command line, but I got the error message below, which shows up with or without the `-ci` argument.

Interestingly, the build seems to work well if I do it from Visual Studio.

Any ideas? @mavasani @jmarolf

Error:
[code]

Full output:
[code]

[2020-08-14 17:37] GrabYourPitchforks commented on #3646
One problem we're encountering is that the IDE is directing people to these APIs.

![image](https://user-images.githubusercontent.com/1746272/90276988-a6127e80-de19-11ea-883e-da4eed5b8188.png)

What if we instead focused on fixing that behavior? (How?) If we can address it there, then maybe there would be no need for an analyzer.

[2020-08-14 17:38] sharwell commented on #4018
Side note: it's my understanding that this mode is allowed to change machine configuration as part of the build, on the assumption that it's executing on a temporary image in CI. I would not ever use this flag in a local build.

[2020-08-14 17:46] mavasani commented on #3646
Tagging @genlu - can we teach unimported type completion to exclude certain namespaces from its list?

[2020-08-14 17:51] mavasani commented on #3646
I agree with @stephentoub that having an analyzer that flags every usage site of certain symbol is not the right approach - with the analyzers in the box, there is no experience difference for end users between seeing a CSxxxx obsolete warning and a CAxxxx obsolete warning on all usages. Having a CA warning does not mean any less importance/critical then CS warning if they are both in the box and

[2020-08-14 18:01] jmarolf commented on #4018
This is a nuget break. VS does not use the nuget restore targets so it works. None of our images that run CI have the nuget break. If you use an older SDK I would expect this error to go away. fix for break is here: https://github.com/dotnet/sdk/pull/12897

[2020-08-14 18:04] kzu commented on #3114
So, what is the replacement for an analyzer that actually does need to access symbol info to report accurate diagnostic?

[2020-08-14 18:12] carlossanlop commented on #4018
Thanks @sharwell I won't use `-ci` from now on.
Thanks @jmarolf, I'll downgrade my SDK and confirm if that solves the issue, while they nuget problem gets fixed.

[2020-08-14 18:12] GrabYourPitchforks commented on #3646
I don't see the equivalence between an obsoletion and an analyzer. IMO they're geared toward different scenarios. Maybe I'm looking at this from too nuanced a view?

We already have analyzers that flag every usage of certain symbols. For example, CA1307 flags every usage of `string.Compare(string, string)`, `string.IndexOf(string)`, and so on. But we clearly aren't obsoleting those APIs, nor is th

[2020-08-14 18:13] mavasani commented on #3114
Diagnostic description in error list, when expanded, should give the info:
https://github.com/dotnet/roslyn-analyzers/blob/8bc7b0bf842d3fee3ee8595e783828f8c4ee448e/src/Microsoft.CodeAnalysis.Analyzers/Core/CodeAnalysisDiagnosticsResources.resx#L395

[2020-08-14 18:14] mavasani commented on #3114
In general, it is always better performance wise to switch to RegisterOperationAction for semantic analysis of executable code and RegisterSymbolAction for semantic analysis of symbols and non-executable parts of the code.

[2020-08-14 18:17] dotpaul commented on #3646
Not that I've noticed any insecure (or any at all) usages of these intrinsics APIs, but if we did see people manage to use them in a security-critical context when they ought to be using something under System.Security.Cryptography instead, then I would want to add an analyzer.

[2020-08-14 23:09] buyaa-n commented on #4012
Fixed and the [test added](https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/1eba4b85b49c296650db237a417004ed37694f66#diff-aa2dc7c8b8aa7394d45b1352f85abfbbR762-R787), Thanks!
@jeffhandley's test also [added](https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/1eba4b85b49c296650db237a417004ed37694f66#diff-143b956da2811185e4067197cdaed6fcR369-R397), but the call site need OS defi

[2020-08-14 23:10] buyaa-n commented on #4010
Fixed with latest commit, thanks!

[2020-08-14 23:27] jeffhandley opened #4020 "[Platform Compatibility Analyzer] Type-level and member-Level attributes do not override assembly-level attributes"
### Describe the bug

When a `[SupportedOSPlatform]` attribute is applied to an assembly, `[UnsupportedOSPlatform]` attributes on types and members do not override the assembly attribute.

### Steps To Reproduce

[code]
### Expected behavior

* Diagnostic when calling `CrossPlatformApis.DoesNotWorkOnBrowser();
* Diagnostic when calling `new NonBrowserApis();`

### Actual behavior

* No diagnostics

[2020-08-15 00:40] jeffhandley commented on #4020
This is not considered as a blocker for RC1 because this scenario will not exist yet within the .NET libraries themselves, but it could exist within a customer's scenario where:

1. An assembly is marked with a set of supported platform
2. Some APIs are marked as unsupported on some of those platforms

This scenario might surface when we start producing assemblies for `ios`, `tvos`, and `watchos`

[2020-08-15 01:38] jeffhandley opened #4021 "[Platform Compatibility Analyzer] Indicate why the current code violates the rule"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/visualstudio/code-quality/ca1716) Platform Compatibility Analyzer

### Describe the improvement

When a diagnostic is raised, the message includes information about the target method, such as:

But the diagnostic doesn't indicate what platform support was determined for the call site. We could guide users to resolve issues more e

[2020-08-15 05:37] terrajobst opened #4022 "[Platform Compatibility Analyzer] Nested APIs shouldn't expand the platform set"
### Repro

[code]

### Expected

[2020-08-15 23:47] buyaa-n commented on #4017
Yes, it is not added to the analyzer yet, i thought it is not needed for 5.0, is this need for 5.0 @terrajobst ?

[2020-08-16 15:27] meziantou opened #4025 "CA1812 false-positive when type is used as a generic type"
### Describe the bug

CA1812 false-positive

### Steps To Reproduce

[code]

[code]

### Expected behavior

No diagnostic

### Actual behavior

It reports a diagnostic that is not appliable in the context

### Analyzer

**Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

**Diagnostic ID**: [CA1812

[2020-08-16 15:27] meziantou opened #6561 "CA1812 false-positive when type is used as a generic type"

[2020-08-16 15:52] mavasani commented on #4025
This is same concern mentioned at https://github.com/dotnet/roslyn/issues/44330#issuecomment-630395417. As mentioned in https://github.com/dotnet/roslyn/issues/44330#issuecomment-631487553 the analyzer should not handle this but user should use a source suppression to document this.

[2020-08-16 15:54] mavasani commented on #4025
Oh actually I think @Evangelink might have already fixed this?

[2020-08-16 21:12] kzu commented on #3114
Got it. Thanks!

[2020-08-17 04:26] buyaa-n commented on #4020
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/99883854e87fce50449674b9638ece153becd082

[2020-08-17 04:27] buyaa-n commented on #4013
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/3917/commits/99883854e87fce50449674b9638ece153becd082

[2020-08-17 11:00] felixhirt opened #4027 "Rule to check for variable shadowing"
I have wondered if there is a rule to check for variable shadowing already (e.g. generate a warning for a local variable in a function which has the same name as a class member)
If there is no such rule, what is the reasoning? Is it just that no one made one yet, or is there a reason against it (e.g. because member access should be identified by "this.")?

[2020-08-17 15:24] AArnott opened #4028 "RS0041 code fix doesn't fix all issues, then doesn't show for the remainder"
### Describe the bug

Upgrading Microsoft.CodeAnalysis.PublicApiAnalyzers from 3.3.0-beta2.final to 3.3.0 in vs-threading produces many more warnings. When I use the IDE code fix to bulk fix all in the solution, only a subset are fixed. The remainder still produce warnings and no code fix is offered to address them.

See https://github.com/microsoft/vs-threading/pull/660

### Steps To Reproduce

[

[2020-08-17 16:49] cristianosuzuki77 opened #4029 "[loc][Query][dotnet_roslyn_analyzers] Localizability of strings"
### Describe the bug

**String Resource ID:**	0; "AvoidAssemblyGetFilesInSingleFile"
**Source String**:	'{0}' will throw for assemblies embedded in a single-file app.
**Filename**:	NetAnalyzers\Core\Microsoft.NetCore.Analyzers\xlf\MicrosoftNetCoreAnalyzersResources.xlf
**Question**:	What will {0} be replaced with?

### Steps To Reproduce

### Expected behavior

### Actual behavior

### Analyzer

*

[2020-08-17 16:52] #3996 closed

[2020-08-17 17:43] jcouv commented on #4028
@AArnott What builk fix do you mean?
RS0041 is "Public members should not use oblivious types". There is no FixAll for that. It must either be addressed (ie. code annotated) or suppressed.

[2020-08-17 19:40] vsfeedback opened #4032 "Analyzer reports unused constructor for MEF components."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1149523/analyzer-reports-unused-constructor-for-mef-compon.html)._

---
Create a class with an `Export` attribute and a private constructor with an `ImportingConstructor` attribute on it.  This denotes a MEF component that will invoke the private ctor instead of the default

[2020-08-17 19:42] sharwell commented on #4032
The solution used by dotnet/roslyn for this is to use the following together:

1. The `[ImportingConstructor]` constructor is declared `public`
2. The constructor also has an `[Obsolete]` attribute applied to it to prevent direct use

I believe the ideal strategy is to replace (2) with one or more analyzers dedicated to enforcing construction rules for MEF parts without the need to use specially-c

[2020-08-17 19:43] mavasani commented on #4032
@sharwell The feedback has no mention of which diagnostic ID this is for? There is no CA rule to report unused private members, and IDE0051/IDE0052 in Roslyn already handles the MEF case.

[2020-08-17 20:04] dotpaul opened #4033 "TaintedDataAnalysis: Consider parameter types in ASP.NET Controller action methods"
I was thinking, maybe we should look at which overload `Append()` is used, because we may not want, for example, integers to necessarily taint for SQL injection or anything else using the `PrimitiveTypeConverterSanitizers`...but nevermind. I think the better approach is to try to make not taint the integers in the first place.

Which makes me think that ASP.NET Core Controller action method parame

[2020-08-17 20:44] Youssef1313 commented on #4029
I think this is determined by the second argument to CreateDiagnostic call in

https://github.com/dotnet/roslyn-analyzers/blob/4016ef289ceae25ceefe581577ae0000eeb613ef/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Publish/AvoidAssemblyLocationInSingleFile.cs#L101

and

https://github.com/dotnet/roslyn-analyzers/blob/4016ef289ceae25ceefe581577ae0000eeb613ef/src/NetAnalyzers/Core/Microsoft.NetCo

[2020-08-17 21:35] cristianosuzuki77 commented on #4029
Thanks.  Is it possible to give an example at this time?

[2020-08-17 21:36] mavasani commented on #4029
@agocke for help.

[2020-08-17 21:49] Youssef1313 commented on #4029
@cristianosuzuki77 You may check the unit test for examples. The value that will be placed in place of {0} is what's passed to `WithArguments` method.

https://github.com/dotnet/roslyn-analyzers/blob/0c78e1ea111bbe72b97756898bd397f4c26587f5/src/NetAnalyzers/UnitTests/Microsoft.NetCore.Analyzers/Publish/AvoidAssemblyLocationInSingleFileTests.cs

[2020-08-17 22:00] AArnott commented on #4028
@jcouv  then we might be talking about a bunch of false positives here. It's calling out enums, among other things. I have `#nullable enable` on all my code.

[2020-08-17 22:19] Evangelink commented on #4028
@AArnott I suspect this relates to the issue we faced internally on this repo, see https://github.com/dotnet/roslyn-analyzers/issues/3915. @jcouv if that's confirmed, there might be a need to improve the analyzer to avoid the same "bad" behavior I suspect a lot of devs might see.

[2020-08-18 00:42] manfred-brands commented on #3839
The created code `s1.Contains(s2)` triggers CA1307: Specify StringComparison.

[2020-08-18 00:52] mavasani commented on #3839
CA1307 is likely due to https://github.com/dotnet/roslyn-analyzers/issues/2581

[2020-08-18 01:16] jcouv commented on #3915
@Evangelink You've filed a roslyn-analyzers issue, but the current behavior of the publicAPI analyzer seems correct (ie. it warns that oblivious APIs are involved). Can you clarify the ask and rationale?

[2020-08-18 01:34] manfred-brands commented on #2581
Would we then also need a new rule where the previous fixes for CA1307 are marked as unnecessary or more explicitly: any place for StringComparison.Ordinal is passed in when that is the default for the method.
We added StringComparison.Ordinal to string.Contains(char) because of CA1307 but as this thread say it no longer should be, can we get a rule which says to remove this?

[2020-08-18 12:46] JarLob commented on #4033
Sometimes tainting all arguments, not only the strings makes sense. It may catch such second order injections like:
[code]
The fact that `id` is user controllable may be important. Maybe this could be configurable?

Overall tainting only strings makes sense, like in the example below taint only the `filter`:
[code]

However what to do with objects like:
[code]
Recursively taint all inner string pr

[2020-08-18 16:02] terrajobst commented on #4021
Maybe. I'm concerned that they will not understand what this means.

[2020-08-18 17:37] #3827 closed

[2020-08-18 18:45] mavasani commented on #2581
@manfred-brands Feel free to file a separate feature request for it.

[2020-08-18 18:50] dougwaldron commented on #2790
FYI, still an issue on VS 16.7.2 and Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.0.

By the way, not sure if this makes a difference, but my project is on .NET Framework 4.5.2. I just noticed the OP mentioned Microsoft.NetCore.Analyzers.

[2020-08-18 22:54] KrisVandermotten commented on #2581
@mavasani, you said

Unless I'm mistaken, that is not what happened in #4035. Did you change your mind, and if so, why?

@GrabYourPitchforks

[2020-08-18 22:57] mavasani commented on #2581
@KrisVandermotten The rule is now much more conservative - for any invocations to string APIs, other then the known signatures (Compare and CompareTo), analyzer bails out if the target overload's first parameter type is not string type or has no parameters. It should handle all false positives - can you point out any specific CA1307 false positives after the fix?

[2020-08-18 23:35] mavasani commented on #2581
I don't believe that is a false positive or noise - I agree that string methods that do not take a string parameter the rule was generating some noise, but for places where we are doing string-to-string checks or comparisons, we absolutely want to recommend use of StringComparison.

[2020-08-18 23:53] mavasani commented on #2581
I am actually reading through https://docs.microsoft.com/en-us/dotnet/standard/base-types/best-practices-strings#specifying-string-comparisons-explicitly and it seems that section explicitly suggested sticking to the prior implementation of CA1307, and never rely on the default StringComparison of any string API. It confused me to find out why `string.StartsWith(string)`, `string.EndsWith(string)`

[2020-08-19 01:41] manfred-brands commented on #2581
The downside of relying on a default instead of explicitly specifying this is that there is no consistent default, it is different even for methods in the same class. As it says in your referenced article:  _It is difficult to remember which method uses which default value, and easy to confuse the overloads._

If for whatever reason the default gets changed in a future version it would break that

[2020-08-19 03:27] drewnoakes opened #4040 "Use of oblivious types when using generic type constraint 'class'"
### Describe the bug

I'm not 100% sure this is a bug, but I can't see how to improve it.

### C.cs

[code]

### PublicAPI.Unshipped.txt

[code]

### Expected behavior

No diagnostic.

### Actual behavior

Analyzer flagging `C<T>` as using some oblivious types.

The diagnostic goes away when the constraint is removed.

### Analyzer

**Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://

[2020-08-19 03:58] mavasani commented on #4040
@jcouv

[2020-08-19 06:27] Youssef1313 commented on #3805
The docs PR is merged. Closing this.

[2020-08-19 06:27] #3805 closed

[2020-08-19 06:28] Youssef1313 commented on #3361
@mavasani @Evangelink I can't find a category here that this analyzer can be in. Any help? Should it be an analyzer in dotnet/roslyn instead?

cc: @jaredpar

[2020-08-19 06:45] Youssef1313 commented on #4039
@mavasani What action you recommend here?

- Adding a null check in the fixer; or
- Updating the analyzer to not report at all.

[2020-08-19 11:38] KrisVandermotten commented on #2581
My main problem with the current rule is not what it recommends. I see value in a rule that helps people write readable code.

My main problem with this rule is that it provides incorrect information in the diagnostic message. I do think that reporting "The behavior of 'string.Contains(string)' could vary based on the current user's locale settings." is a bug, but it can be fixed in two different

[2020-08-19 16:03] broder-peters-k24 commented on #2402
For the anniversary of this issue I'll add my 5 cents. :D

Today I've stumbled across this exact issue, while trying to set up some code quality metrics for some of our services.
As they are running, build and also partially developed on Linux based systems it would be a nice enhancement to have this tool platform independent. Specifically if you think about automated ways of working like CI/CD.

[2020-08-19 16:11] jcouv commented on #4028
@AArnott Yes, there was a bug with enums ([nested enums](https://github.com/dotnet/roslyn-analyzers/pull/3425), specifically) which was fixed.
I tried the repro steps you provided, but couldn't load the solution (projects fail to load). Here's a sample of the errors, in case you have a tip for addressing the issue:
[code]

Here's what the .NET SDKs I have installed:
[code]

[2020-08-19 16:55] AArnott commented on #4028
Sorry. I left a step out of the repro steps (running init, which installs the necessary .NET Core SDK). I've updated the repro steps.

[2020-08-19 19:54] terrajobst commented on #4017
Yes, it's key for the Blazor/Browser scenario.

[2020-08-19 21:18] jmarolf commented on #4002
The idiomatic way to write this in C# 9 is
[code]

or

[code]

for C# 8 I would do

[code]

or

[code]

The fixer should check the language version and only for language versions lower than C# 8 should it create a variable to do the as cast.

[2020-08-20 00:16] #2581 closed

[2020-08-20 01:12] nschuessler commented on #4002
Cool. So how do you check what C# version is being used?

A lot of our stuff is on C# 7.X still.
And is there a way to determine .net Framework vs .net core?
Currently I am using if there is a type definition for `ReadOnlySpan<T>`

[2020-08-20 01:29] jmarolf commented on #4002
if its C# then you can cast the `SyntaxTree.Options` type to `CSharpParseOptions`. this type has a property called `LanguageVersion`. Example useage [here](https://github.com/dotnet/roslyn/blob/ab9887b0e2557664916542809cdc5962258a44f5/src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs#L43).

[2020-08-20 02:01] dotpaul commented on #4033
True.

Not that this is my preferred approach, but if looking at the parameter types of controller action methods, then I'd do something simple and only treat simple parameters (int, etc.) as untainted. The entire `User` object would be tainted, including its `id` field.

I'm leaning more towards how can `TaintedDataOperationVisitor` easily treat `IOperation`s of certain types (the ones in `Primit

[2020-08-20 02:39] davkean opened #4044 "Versions of shared dlls that are shipped in the analyzers must be incremented every update"
We upgraded our analyzers here: https://github.com/dotnet/project-system/pull/6502, which caused a bunch of analyzer crashes:

[code]

This is because Microsoft.CodeAnalysis.CSharp.CodeStyle and Microsoft.CodeAnalysis.VisualBasic.CodeStyle ship the same assembly; Microsoft.CodeAnalysis.CodeStyle with the same assembly name and version but different contents. This causes the compiler to load one ve

[2020-08-20 10:07] OldrichDlouhy opened #4046 "The CA1062 is shown for extension methods even with .editorconfig file with exclude_extension_method_this_parameter = true"
The CA1062 is shown for extension methods even with `.editorconfig` file with `dotnet_code_quality.CA1062.exclude_extension_method_this_parameter = true`

### Steps To Reproduce

Have .NET Core 3.0.1 class library project with Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.0 with following files:

`.editorconfig`
[code]

`DictionaryExtensions.cs`
[code]

### Expected behavior

No CA1062 warning is show

[2020-08-20 15:36] #4039 closed

[2020-08-20 18:53] dotpaul opened #4050 "Verify PrimitiveTypeConverterSanitizers behavior is similiar to legacy FxCop's implementation"
It was inconsistency in the code. I decided to follow the approach taken by the XSS sanitizer as it makes the merge only once. There are more inconsistencies remaining with the primitive type converters. Like someone decided they are sanitizing sql, xpath and xss, but not xml, ldap or file path injections.

_Originally posted by @JarLob in https://github.com/dotnet/roslyn-analyzers/pull/4024_

---

[2020-08-20 19:32] dotpaul opened #4051 "After PR #4024, consider making StringBuilder.Length = 0 a sanitizer"
I wonder if we could also handle `st.Length = 0` (just the hardcoded 0 case).

_Originally posted by @dotpaul in https://github.com/dotnet/roslyn-analyzers/pull/4024_

---

Should be possible, if:

- [ ] Sanitizing instance properties enumerable is added to `AddSanitizerInfo`
- [ ] Instead of just comparing the method/property name similar approach to `MethodMatcher` is implemented

Sounds like a

[2020-08-21 04:52] mavasani opened #4052 "warning AD0001: Analyzer 'Microsoft.CodeQuality.Analyzers.ApiDesignGuidelines.IdentifiersShouldNotContainTypeNames' threw an exception of type 'System.IndexOutOfRangeException'"
Thanks @mavasani

See these warnings as well 😄

[code]

_Originally posted by @davidfowl in https://github.com/dotnet/aspnetcore/issues/25077#issuecomment-678035542_

[2020-08-21 04:53] mavasani commented on #4052
@davidfowl do you have a repro to share?

[2020-08-21 04:55] davidfowl commented on #4052
- Install the latest RC1 from here https://github.com/dotnet/installer#installers-and-binaries
- Clone this https://github.com/davidfowl/CommunityStandUpNet5
- Open it in the dogfood build (Int preview)

BOOM 💥

![image](https://user-images.githubusercontent.com/95136/90853734-d2edf680-e32f-11ea-9b6e-fcbea62e2b7d.png)

[2020-08-22 04:32] buyaa-n opened #4056 "DataFlowOperationVisitor throws with Unknown pattern kind 'NegatedPattern'"
### DataFlowOperationVisitor throws with Unknown pattern kind 'NegatedPattern'
[Analyzer error log.txt](https://github.com/dotnet/roslyn-analyzers/files/5111914/Analyzer.error.log.txt)

While testing the Platform compat analyzer for runtime repo I found few warnings in System.Net.Sockets project, related to usage of windows only APIs, to resolve the warning we added `<IsWindowsSpecific Condition="

[2020-08-24 08:05] OldrichDlouhy commented on #4046
Thanks for the response.

Adding the `[*.cs]` header to the `.editorconfig` file fixed the issue and the CA1062 warning is not shown for extension method.

[2020-08-24 13:36] nschuessler commented on #3946
This is a common case we see, somewhat related:

[code]

Better to pass `IReadOnlyList<string>`  or `ICollection<string>` when passed between methods.

[2020-08-24 15:47] nschuessler commented on #4002
@jmarolf  Couple questions.
- What is generally the process / time line from Needs-Review -> approved/not approved?

- What is the test matrix for analyzers in general (.Net Framework 4.8?, .Net Core 3.1, .Net Core 5.0) vs (C# 7.0, C# 7.1, C#8, C# 9)?

[2020-08-24 22:01] buyaa-n opened #4061 "Remove Mock class, attributes used for testing Platform Compatibility Analyzer"
#### Platform Compatability Analyzer CA1416

Remove Mock class, attributes used for testing Platform Compatibility Analyzer when tests able to use .Net 5.0 RC1 or later versions.
Tests for now using 5.0 preview 1: https://github.com/dotnet/roslyn-sdk/blob/master/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs#L819

#### Describe the improvement

-

[2020-08-24 22:29] #4056 closed

[2020-08-24 22:31] JarLob commented on #3990
So I tried with latest changes and the unconditional validator (defined as sanitizer) works as expected. The only failing test from https://github.com/JarLob/roslyn-analyzers/commit/0ac982e36a667a26ea1ec9e00d370e97fe903931 is:
[code]
Do I understand correctly that it requires a lot of changes to `TaintedDataOperationVisitor` to support these conditional branches?
BTW I noticed an already existing

[2020-08-25 09:33] drewnoakes commented on #3946
@nschuessler I would expect an analyzer to fire in the `Two` method from your example. What won't be clear to the analyzer however is whether the method that receives the enumerable actually enumerates it (i.e. it may just be validating it is not null).

[2020-08-25 14:08] JarLob opened #4062 "Assert fails in CopyAbstractValue (Regression by #4060)"
The line 'Debug.Assert(kind != **CopyAbstractValueKind.KnownReferenceCopy** || analysisEntities.All(a => !a.Type.IsValueType));' in CopyAbstractValue asserts because of the following call introduced in #4060 @mavasani

'var kind = capturedEntity.Type.IsValueType ? CopyAbstractValueKind.KnownValueCopy : **CopyAbstractValueKind.KnownReferenceCopy**;
var copyValue = new CopyAbstractValue(ImmutableHas

[2020-08-25 15:02] mavasani commented on #4062
Do you have a unit test or repro with the failure?

[2020-08-25 16:04] Stiles-X opened #4063 "CA2225 alternate name is wrong if operator type is SomeType[] (read SomeTypeArray)"
### Describe the bug

Alternate method name for operator is wrong (type missing), if that type is an array such as `byte[]`.

### Steps To Reproduce

Provide the steps to reproduce the behavior:
1. Create a struct named MyStruct
2. Create an explicit operator method with signature `public static explicit operator byte[](MyStruct myStruct)`
3. Look in the warning window
4. See error `Warning	CA2225

[2020-08-25 16:44] JarLob commented on #4062
Nope, it was a real project:
[code]

The operation that is asserting is the `(bool)ViewData["somename"]`

[2020-08-25 20:02] JarLob commented on #3990
@dotpaul One more question. Let's say I need to define a sanitizer that works only if a certain value is passed to one of the arguments. The sanitizer in question is `Uri.TryCreate(inputString, UriKind.Relative, out var uri)`. The output uri can be treated as local to the server if the second argument is `UriKind.Relative` and the function succeeds. I can check for a constant value in method match

[2020-08-25 20:43] cristianosuzuki77 opened #4064 "[LOC] [Query] Assistance with translation"
### Describe the bug

Please answer the loc question below:
String Resource ID | 0; "DataSetReadXmlAutogeneratedTitle"
-- | --
Source String | Ensure autogenerated class containing DataSet.ReadXml() is not used with untrusted data
Subtenant | dotnet_roslyn_analyzers
Source Control Link |  
Filename | NetAnalyzers\Core\Microsoft.NetCore.Analyzers\xlf\MicrosoftNetCoreAnalyzersResources.xlf
Question

[2020-08-25 21:01] dotpaul commented on #4064
Yes, "DataSet.ReadXml()" is a method.

[2020-08-25 21:27] JarLob opened #4065 "Taint analysis false negative on property access"
The following sample doesn't generate a warning. Tested on Master. Since it involves tainting a member value I'm not sure if this is by design or a bug.

[code]

[2020-08-25 21:44] AArnott commented on #4028
Any update on this? I'm not sure how to finish upgrading from the prerelease analyzers to the stable analyzer with this bug active.

[2020-08-25 22:03] dotpaul commented on #3990
Yep, probably. `ParameterValidationAnalysis` might have give some ideas on how to go about implementing it if you want to try. @mavasani, do you have any pointers?

Sorry, nope. :smile: That was just testing an example solution in the docs.

ValueContentAnalysis is what you're looking. It can track the integer values of enums. https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Writing%20d

[2020-08-26 05:21] sos-dll opened #4067 "New rule: Fix invalid cast for (ancient) pre-generic collection types"
## Overview

Fix `InvalidCastException` at compile-time rather than during run-time.
This is analogous to "having C# without type-checker".
It is to do with (old) pre-generic collections such as: `MatchCollection`, `ProcessModuleCollection`, etc (there might be even more of those types, most likely).

## Suggestion

All of those (old) collection types can only be bound to their actual *backing typ

[2020-08-26 05:35] huoyaoyuan opened #4068 "CA1801 false positive on top level statements"
### Steps To Reproduce

Create any program with top level statements that doesn't use `args` of `Main`.

### Expected behavior

No diagnostic reported.

### Actual behavior

Warning CA1801: The parameter `args` of `<Main>$` is unused.

### Analyzer

**Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Lates

[2020-08-26 06:31] martincostello commented on #3820
I've updated a number of repos from .NET 5 preview 7 to preview 8, and now am getting a number of false positives for the CA2213 rule:

  * https://github.com/martincostello/sqllocaldb/pull/234/commits/8ef6ce97240f2041033c9b2c91793ba120bcb670
  * https://github.com/martincostello/alexa-london-travel-site/pull/599/commits/27d5aec6c3aaae048892e593a16dc8440f42d293

[2020-08-26 12:39] AArnott commented on #4028
I have another false positive: exactly one RS0041 and one RS0036 show up after upgrading `Microsoft.CodeAnalysis.PublicApiAnalyzers` to 3.3.0 (from 3.3.0-beta1.final) in [this repo](https://dev.azure.com/devdiv/DevDiv/_git/VS.RPC.Contracts). `Nullable=enable` is set for the entire repo, and yet it claims I'm not annotating this declaration:

[code]

Only RS0036 offers a code fix, but it 'fixes' it

[2020-08-26 14:18] svick commented on #4067
For the record, [`MatchCollection`](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.matchcollection?view=netcore-2.0) is kind of generic since .Net Core 2.0: it implements `IList<Match>`, though simple `foreach` over it still uses `object` (I think that's because of backwards compatibility).

You can make it work better in `foreach` if you add `.AsEnumerable()`:

[code]

[2020-08-26 16:00] mavasani commented on #4068
Thanks, https://github.com/dotnet/roslyn-analyzers/pull/4066 should address this.

[2020-08-26 16:18] #4052 closed

[2020-08-26 16:18] #4068 closed

[2020-08-27 05:27] jeffhandley opened #4071 "[Platform Compat Analyzer] Attributes are not respected on property getters/setters"
### Describe the bug

Calling property getters or setters that are annotated with `[SupportedOSPlatform]` or `[UnsupportedOSPlatform]` does not raise diagnostics. When the attribute is applied to the property itself, diagnostics are raised as expected.

### Steps To Reproduce

[code]
### Expected behavior

Annotations on property getters and setters should be respected and should result in diagnos

[2020-08-27 05:39] buyaa-n commented on #4017
Fixed and merged to RC1, closing

[2020-08-27 05:39] #4017 closed

[2020-08-27 05:40] buyaa-n commented on #4012
Closing by https://github.com/dotnet/roslyn-analyzers/pull/3917

[2020-08-27 05:40] #4012 closed

[2020-08-27 05:41] #4011 closed

[2020-08-27 05:41] #4013 closed

[2020-08-27 05:42] #4009 closed

[2020-08-27 05:42] #4010 closed

[2020-08-27 05:49] buyaa-n commented on #4008
Closing as the main issue is solved.

@Evangelink there is another [issue](https://github.com/dotnet/roslyn-analyzers/issues/4021) you can participate which discussing the messaging improvements

[2020-08-27 05:49] #4008 closed

[2020-08-27 05:51] jeffhandley opened #4072 "[Platform Compat Analyzer] Attributes are not respected on event add/remove methods"
### Describe the bug

Diagnostics are not raised when code registers or unregisters event handlers and the `add` or `remove` methods have `[SupportedOSPlatform]` or `[UnsupportedOSPlatform]` attributes applied.  When the attribute is applied to the `event` itself, diagnostics are raised as expected.

### Steps To Reproduce

[code]
### Expected behavior

Annotations on event `add` / `remove` method

[2020-08-27 09:57] Tragetaschen opened #4073 "CA1067: Code fix creates code that a require a couple more steps to be warning- and smudge-free"
### Describe the bug

The generated implementation for `object.Equals` after running the code fix for CA1067 has a couple of issues and immediately shows a smudge and a warning.

### Steps To Reproduce
[code]

Run the `Override object.Equals` code fix on `Test`.

### Expected behavior
[code]

### Actual behavior
[code]

Note the missing nullable annotation for the argument and the missed opportuni

[2020-08-27 17:09] terrajobst commented on #4071
Oh... I haven't seen this! Yeah, this needs to be fixed for RTM (unlike #4072). We applied a ton of attributes to just getters/setters.

[2020-08-27 17:10] terrajobst commented on #4072
This isn't as bad as #4071 (I'm not aware of a single event we attributed) but it's good hygiene. We'd expect this to "just work".

[2020-08-27 23:03] jmarolf commented on #4002
@mavasani?

The compiler is not aware if target frameworks, only type and compiler options. Since analyzers run inside the compiler these same constraints apply to them. I would generally not think of targets being part of testing. Just ensuring the the analyzer triggers if the C# language version is high enough

[2020-08-27 23:27] #4064 closed

[2020-08-27 23:28] cristianosuzuki77 opened #4075 "[LOC] [Query] Assistance with translation"
### Describe the bug

Question about the string "Unsafe DataSet or DataTable type in web deserializable object graph" in the file NetAnalyzers\Core\Microsoft.NetCore.Analyzers\xlf\MicrosoftNetCoreAnalyzersResources.xlf:

Please clarify "web" in "web deserializable object graph". Does the mean "deserializable via the Internet"?
### Steps To Reproduce

### Expected behavior

### Actual behavior

###

[2020-08-27 23:31] cristianosuzuki77 opened #4076 "[loc][query] Translation assistance"
### Describe the bug

Question about the string "Forward the 'CancellationToken' parameter to methods that take one to ensure the operation cancellation notifications gets properly propagated, or pass in 'CancellationToken.None' explicitly to indicate intentionally not propagating the token." in the file NetAnalyzers\Core\Microsoft.NetCore.Analyzers\xlf\MicrosoftNetCoreAnalyzersResources.xlf:

Cou

[2020-08-27 23:52] mavasani commented on #4075
@dotpaul

[2020-08-27 23:52] mavasani commented on #4076
@carlossanlop

[2020-08-27 23:55] mavasani commented on #4002
We generally wait for couple of folks from @dotnet/roslyn-analysis to give a thumbs up for the rule. @jmarolf if you are +1 for this rule, feel free to move it to Approved. If there is any contention, we can take it for design review.

[2020-08-27 23:56] mavasani commented on #4002
Out test projects all multi-target to net472 and netcoreapp3.1 currently, so any test you write would cover these two targets, which should generally suffice.

[2020-08-27 23:57] mavasani commented on #4002
For language version, just add a test or two if your analyzer behavior is being affected by it. Rest of the tests can target the default language version, unless they explicitly need a specific language version.

[2020-08-28 13:28] mavasani commented on #4076
@carlossanlop I think it would be better to change the rule title/message to just remove the "that take one" part - that is implicit from the rule.

[2020-08-28 13:29] mavasani commented on #4076
We should also update the titles in rule documentation: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2016?view=vs-2019

[2020-08-28 21:15] buyaa-n opened #4089 "Platform compat analyzer: handle RaiseMethod for VB"
IRaiseEventOperation and RaiseMethod  might need separate handling for the platform attributes

Note: it is VB only : http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp/Symbols/PublicModel/EventSymbol.cs,63.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/4074#discussion_r479516831_

[2020-08-28 21:30] buyaa-n opened #4090 "Platform compat analyzer: flow analysis not working for the arguments of lambda expression"
Flow analysis not working for the arguments of lambda expression
[code]
Same for the result saved in local:
[code]

_Originally posted by @eerhardt in https://github.com/dotnet/runtime/pull/41209#discussion_r476445352_

[2020-08-28 22:22] terrajobst opened #4091 "Platform compat analyzer: should be disabled when compiling for .NET Framework"
We can't mark .NET Framework projects as Windows-specific (because the attribute doesn’t ship with .NET Framework). Which means if you set `<AnalysisLevel>` to `5`, all Windows-specific APIs are now flagged. This is usually not a big thing, because most APIs are in-box and in-box APIs aren’t marked. But if someone consumes a NuGet package with internal attributes, they could get false positives.

[2020-08-28 23:31] #3977 closed

[2020-08-28 23:47] #4071 closed

[2020-08-29 00:05] buyaa-n commented on #4072
Yes we are, it was not working only for attributes applied to the `add/remove` accessors

[2020-08-29 00:05] #4072 closed

[2020-08-29 08:53] benmccallum opened #4095 "List<T>.ForEach warning if given an async action"
### Describe the problem you are trying to solve

We recently had a case of the old "an async thread hadn't completed before the request had" in an ASP.NET Core app and it turned out to be someone in our team using `List<T>`'s `ForEach` function but passing it an `Action<T>` that was an async lambda.

[code]

There may be other apis/cases too, but this one comes to mind immediately since it's the

[2020-08-29 13:30] Youssef1313 opened #4096 "CA1724 help link defaults to Bing search"
### Analyzer

**Diagnostic ID**: [CA1724](https://docs.microsoft.com/visualstudio/code-quality/ca1724): `Type names should not match namespaces`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

![image](https://user-images.githubusercontent.com/

[2020-08-30 14:29] pranavkm opened #4097 "Adjust the error message for CA1309"
Currently this shows up as

[code]

It should either use the expected API verbatim i.e.

[code]

or use plain text
[code]

I'd prefer the first.

[2020-08-30 15:23] mavasani commented on #4097
Agreed. Should be a simple change to update the below resource string and corresponding xlf files: https://github.com/dotnet/roslyn-analyzers/blob/759cbfac86bf985bed87e56651d45e22c8234391/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/MicrosoftNetCoreAnalyzersResources.resx#L210-L212

[2020-08-30 15:24] mavasani commented on #4002
@nschuessler Feel free to get started on this analyzer...

[2020-08-30 16:47] Mrnikbobjeff commented on #2812
I have an analyzer and a code fix provider implemented for this scenario. The analyzer checks for foreach statements where the last call is either AsParallel() or AsParallel() followed by either ToList or ToArray. The fix provider simply removes both of those statements. If this is available I would like to work on this

[2020-08-30 19:16] mavasani commented on #4097
Actually it seems the analyzer/fixer preserves IgnoreCase: https://github.com/dotnet/roslyn-analyzers/blob/79c2638f54b9e7ef0a3954cc838ec4c13ea63c1f/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/UseOrdinalStringComparison.Fixer.cs#L29-L30

So, we can't use the first form. I'll create a PR to use the second form.

[2020-08-31 07:02] drewnoakes opened #4099 "CA2000 with Marshal.GetIUnknownForObject should not warn"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/visualstudio/code-quality/CA2000): `Dispose objects before losing scope`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: 3.3.0

### Describe the bug

[code]

I'm assuming the lifetime of the object doesn't take the

[2020-08-31 09:55] huoyaoyuan commented on #3836
https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#configure-dispose-ownership-transfer-for-disposable-objects-passed-as-arguments-to-method-calls

That's just one of method that transfers ownership. Currently CA2000 doesn't have enough ability to be configured.

[2020-08-31 10:52] huoyaoyuan opened #4100 "Question: what's the suggested usage between NetAnalyzers and FxCopAnalyzers?"
After reading the [post](https://devblogs.microsoft.com/dotnet/automatically-find-latent-bugs-in-your-code-with-net-5/) in devblog, I've got some questions:

- Is it supported to use the two analyzer packages at the same time?
![image](https://user-images.githubusercontent.com/5644458/91712261-f7609300-ebb9-11ea-9907-863ca81bf40c.png)
After upgrading to .NET 5 Preview 8, there is a warning icon in

[2020-08-31 13:27] mavasani commented on #4100
@huoyaoyuan Thank you for reporting the issue.

1. The set of CA analyzers that ship in FxCop analyzers package and NetAnalyzers in the .NET SDK are currently identical. So you don't need both set.
2. FxCopAnalayzers NuGet package explicitly turns off built-in NetAnalyzers in the SDK and ensures no duplicate analysis. The warning icon in the package seems unrelated, I am not sure why it is showing

[2020-08-31 14:18] sharwell commented on #4095
📝 This issue is a request to port [VSTHRD101](https://github.com/microsoft/vs-threading/blob/34c6eae89e0514ca6c6e72d411629cdb4cd88d2e/doc/analyzers/VSTHRD101.md) from vs-threading to roslyn-analyzers.

[2020-08-31 14:22] sharwell commented on #4095
I am heavily in favor of this rule. The benefits offered by using `async void` never outweigh the long-term maintenance costs it introduces, including cases like event handlers.

See also https://github.com/microsoft/vs-threading/issues/469 and https://github.com/microsoft/vs-threading/issues/447

[2020-08-31 14:25] sharwell opened #4101 "RS1025 (Configure generated code analysis) false positive for empty Initialize method"
### Analyzer

**Diagnostic ID**: [RS1025](https://docs.microsoft.com/visualstudio/code-quality/rs1025): **Configure generated code analysis**

### Analyzer source

**Version**: v3.3.0 (Latest)

### Describe the bug

RS1025 should not be reported for empty `Initialize` methods, e.g.:

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/441ef9728ef0ffc529b784fbde51b5ea7be98ecf/StyleCop.Analyze

[2020-08-31 14:26] sharwell opened #4102 "RS1026 (Enable concurrent execution) false positive for empty Initialize method"
### Analyzer

**Diagnostic ID**: [RS1026](https://docs.microsoft.com/visualstudio/code-quality/rs1026): **Enable concurrent execution**

### Analyzer source

**Version**: v3.3.0 (Latest)

### Describe the bug

RS1026 should not be reported for empty `Initialize` methods, e.g.:

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/441ef9728ef0ffc529b784fbde51b5ea7be98ecf/StyleCop.Analyzers/Sty

[2020-08-31 14:50] sharwell opened #4103 "RS1005 (ReportDiagnostic invoked with an unsupported DiagnosticDescriptor) false positive for same diagnostic ID"
### Analyzer

**Diagnostic ID**: RS1005 (ReportDiagnostic invoked with an unsupported DiagnosticDescriptor)

### Analyzer source

**Version**: v3.3.0 (Latest)

### Describe the bug

When an analyzer has two or more `DiagnosticDescriptor` instances with the same diagnostic ID, RS1005 will be reported if any of them are omitted from `SupportedDiagnostics`. This is a false positive, because only one

[2020-08-31 14:53] mavasani commented on #4103
This is by design for analyzer simplicity. If you are reporting a diagnostic created with a specific descriptor, analyzer expects that descriptor to be passed to SupportedDiagnostics. Implementing the requested functionality needs de-duping descriptors based on IDs, plus checking if at least one of them is provided to SupportedDiagnostics. This is possible, but unnecessary implementation complexit

[2020-08-31 14:55] sharwell commented on #4103
I prefer to leave this one open as **help wanted**, but not necessarily implement it ourselves. If the analysis can be provided without a performance penalty, then it would reduce noise for some analyzer authors while still catching the problematic cases.

[2020-08-31 15:04] mavasani commented on #4103
That sounds reasonable Sam.

[2020-08-31 16:06] pranavkm opened #4105 "Platform compatibility analyzer does not work for property initializer syntax"
[code]

This fails with

[code]

SDK version: 5.0.100-rc.1.20431.3

[2020-08-31 17:51] mavasani commented on #4105
Let me investigate, this is expected to work.

[2020-08-31 18:01] bichuga opened #4106 "CA3075 DoNotUseInsecureDtdProcessing - false positive when using a serializer which delegates to another serializer after setting the safe properties"
### Analyzer

**Diagnostic ID**: [CA3075](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca3075?view=vs-2019): `Unsafe overload of 'Deserialize' method`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 4.72 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [net472](https://dotnet.microsoft.com/download/dotnet-framework/n

[2020-08-31 19:01] dotpaul commented on #4075
Yes, "web" means "deserializable via the Internet". Maybe I should've called it "deserializable object graph within a web API".

[2020-08-31 20:22] buyaa-n commented on #4090
This is a scenario not covered with flow analysis, @mavasani will lookup if they could add a support

[2020-09-01 00:10] #4105 closed

[2020-09-01 03:41] RussKie opened #4108 "Error AD0001: Microsoft.NetCore.Analyzers.Security.DoNotCallDangerousMethodsInDeserialization threw NRE"
### Analyzer

**Diagnostic ID**: AD0001 Microsoft.NetCore.Analyzers.Security.DoNotCallDangerousMethodsInDeserialization

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 5.0.100-preview.8.20417.9

### Describe the bug

Attempting to upgrade the SDK from 5.0.100-preview.6.20310.4 to

[2020-09-01 11:27] GeeWee commented on #3042
I still have it on 3.3.0 with the following code
[code]

[2020-09-01 12:14] mikernet opened #4110 "False-positive? CA5379: Do not use weak key derivation function algorithm"
### Analyzer

**Diagnostic ID**: [CA5379](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5379): `Do not use weak key derivation function algorithm`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

CA5379 is triggered even though ne

[2020-09-01 13:05] mavasani commented on #4110
Tagging @dotpaul

Personally, I think this is by design as security rules are generally more aggressive - fire whenever unsure that safe APIs are used. Users should add a `Debug.Assert` or a source suppression in the invoking method to explicitly annotate/document their source code that they are using a safe API.

[2020-09-01 19:03] #4097 closed

[2020-09-01 19:25] Evangelink commented on #4096
I am facing the same issue with the various rules I have tried. Looks like a bug...

Tagging @mavasani

[2020-09-01 19:32] Youssef1313 commented on #4096
We probably need a single generic test that checks help url for **all** analyzers.

[2020-09-01 19:59] Youssef1313 opened #4111 "Running Restore.cmd installs different version of SDK than the specified in global.json"
Restore.cmd installs 3.1.401
However, global.json has 3.1.200

[code]

[2020-09-01 20:28] Youssef1313 commented on #4096
The debugger shows the correct url.
Not sure how to debug the issue then 😄

![image](https://user-images.githubusercontent.com/31348972/91902637-526db500-eca2-11ea-9449-242e52084e13.png)

[2020-09-01 20:34] mavasani commented on #4096
@Youssef1313 @Evangelink Links are only valid for diagnostics from intellisense. Diagnostics from build don't currently hook up the descriptor associated with it, they are just generated from parsed build output, which don't have help links. Can you file a separate Roslyn feature request so build diagnostics can find the underlying descriptor based on diagnostic ID so hyperlinks work?

[2020-09-01 20:35] Youssef1313 commented on #4096
@mavasani That's very strange. I actually get the correct URL for other analyzers.

[2020-09-01 20:38] mavasani commented on #4096
oh okay, then maybe another issue.

[2020-09-01 20:48] Youssef1313 commented on #4096
This is an example where the URL is correct, in case it might be useful to compare the behavior with the incorrect one:

![image](https://user-images.githubusercontent.com/31348972/91904148-babd9600-eca4-11ea-857d-c8af0acc3972.png)

Some analyzers (but that's not the case with CA1724), use `new DiagnosticDescriptor(..)`, these are expected **not** to work correctly, because in that case they may b

[2020-09-01 20:50] mavasani commented on #4096
All CA analyzers should be using the helper, we also have an analyzer that enforces it.

Yeah seems like a different issue.

[2020-09-01 20:52] Youssef1313 commented on #4096
https://github.com/dotnet/roslyn-analyzers/blob/39d189ab8b48b3811978edbafdc0aef190025f53/src/Text.Analyzers/Core/IdentifiersShouldBeSpelledCorrectly.cs#L37

[2020-09-01 20:52] mavasani commented on #4096
Ah, so CA1724 is a CompilationEndAction: https://github.com/dotnet/roslyn-analyzers/blob/889acde2cf6e09530ce0d6a8315324643d4af72f/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/TypeNamesShouldNotMatchNamespaces.cs#L80

It will never run on live analysis, only on build, so it is the issue I initially thought. This will need a Roslyn feature request to ensure diagnostics f

[2020-09-01 20:54] mavasani commented on #4096
@Youssef1313 That package is not shipped and has no supported diagnostics: https://github.com/dotnet/roslyn-analyzers/blob/39d189ab8b48b3811978edbafdc0aef190025f53/src/Text.Analyzers/Core/IdentifiersShouldBeSpelledCorrectly.cs#L182-L193

[2020-09-01 20:58] Youssef1313 commented on #4096
Great. I opened an issue against dotnet/roslyn repo.

[2020-09-01 23:09] dotpaul commented on #4108
I haven't had luck getting a repro with a debugger attached, but the I don't think the root cause is in the analyzer.

To repro, I've had to run `build.cmd`, touch src\System.Windows.Forms.Primitives\src\System.Windows.Forms.Primitives.csproj, then `build.cmd` again. If I just invoke dotnet.exe exec ...\csc.dll @args.txt, no luck for me. Nor with adding another analyzer just to add a Debugger.Laun

[2020-09-01 23:36] Pilchie opened #4112 "PublicApi Analyzer not usable in Razor projects"
### Analyzer

**Diagnostic ID**: RS0016: `Symbol '{0}' is not part of the declared API.`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

Razor projects have a two phase compile, where a project is compiled once, then that is used to gen

[2020-09-01 23:43] jeffhandley commented on #4091
We would still allow the analyzer to be forced to enabled for TFM < `net5.0` though, respecting any attributes they apply to their own APIs.

[2020-09-01 23:45] mavasani commented on #4112
I believe this needs a fix in Roslyn side to ensure analyzers are not executing in Razor's pre-compile phase. I will move this to Roslyn.

[2020-09-01 23:46] jeffhandley commented on #4091
Per @mavasani:

[2020-09-01 23:48] mavasani commented on #4108
Filed https://github.com/dotnet/roslyn/issues/47351

[2020-09-01 23:48] #4108 closed

[2020-09-02 05:25] mikernet commented on #4110
What do you mean by `Debug.Assert`? This does not remove the warning so I'm guessing you mean something else:

[code]

[2020-09-02 11:28] Youssef1313 opened #4115 "Forward cancellation token codefix passes the cancellation token more than once"
GIF:

![ForwardCancellationToken](https://user-images.githubusercontent.com/31348972/91975741-285ad800-ed20-11ea-9d04-8aef143474f7.gif)

Note: the preview shows the correct behavior, but when the fix is applied it doesn't match the shown preview.

cc: @carlossanlop

[2020-09-02 14:13] mavasani commented on #4115
@Youssef1313 Which analyzer package are you using? I believe this was fixed. Can you try the latest pre-release package from https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=dotnet5?

[2020-09-02 14:15] mavasani commented on #4115
Ah, I guess this is in Roslyn.sln? Need a package upgrade in Roslyn: https://github.com/dotnet/roslyn/blob/4eca967f780e307b098e9d76d82e851983e7023f/eng/Versions.props#L31

Need to change to `5.0.0-rc2.20451.1` from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet&version=5.0.0-rc2.20451.1&view=overview

[2020-09-02 14:24] Youssef1313 commented on #4115
Yes it was Roslyn.sln.

Closing as it's external issue. Thanks!

[2020-09-02 14:24] #4115 closed

[2020-09-02 15:08] TessenR opened #4116 "'CompareSymbolsCorrectlyFix' encountered an error and has been disabled"
### Analyzer

**Diagnostic ID**: [RS1024]: `Compare symbols correctly`

### Analyzer source

**NuGet Package**: https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers/3.3.0

**Version**: v3.3.0 (Latest)

### Describe the bug

'CompareSymbolsCorrectlyFix' encountered an error and has been disabled

### Steps To Reproduce

Place the caret on the warning highlighting on the `.Equals(t2)` cal

[2020-09-02 15:34] mavasani opened #4117 "AD0001 in PlatformCompatibilityAnalyzer"
[code]

@mavasani The build showing this error after updating. Is it a roslyn-analyzers bug given that it doesn't happen before updating?

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn/pull/47375#issuecomment-685801130_

[2020-09-02 15:40] mavasani commented on #4117
@buyaa-n I will investigate with changes from my current PR and see if that resolves this issue.

[2020-09-02 15:54] rainersigwald opened #4118 "Docker msbuild fails when target is Metrics under docker"
---
**Issue moved from dotnet/msbuild#5693**
- Please respond to @SeshagiriSriram.

---

_From @SeshagiriSriram on Friday, August 28, 2020 2:22:40 PM_

### Issue Description
Calling the following
`dotnet msbuild /t:Metrics`
in a docker image based on : mcr.microsoft.com/dotnet/core/sdk:3.1
fails with following error:

![image](https://user-images.githubusercontent.com/3693855/91577397-40200e00-e96

[2020-09-02 15:54] rainersigwald commented on #4118
---
**Issue moved from dotnet/msbuild#5693**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Wednesday, September 2, 2020 3:52:55 PM_

Team Triage: It looks like that's a windows executable. Moving this where the package is defined.

[2020-09-02 16:12] mavasani commented on #4117
@buyaa-n call stack for NRE in the analyzer is below:

[code]

[2020-09-02 16:15] mavasani commented on #4117
Ah seems like the analyzer should bail out upfront if `operatingSystemType` is null after both the calls below: https://github.com/dotnet/roslyn-analyzers/blob/58c58c1064658da9e6376649138cea03253031cb/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/InteropServices/PlatformCompatabilityAnalyzer.cs#L100-L104

[2020-09-02 16:16] mavasani commented on #4117
Following should do it:
[code]

[2020-09-02 16:18] buyaa-n commented on #4117
Thank you @mavasani for looking into it

[2020-09-02 16:25] buyaa-n opened #4119 "Platform compat analyzer guard method nowt working when OSPlatform.Create(string) used"
### Analyzer CA1416 Platform compat analyzer

### Describe the bug
[code]
### Expected behavior
Not warn
### Actual behavior
Warning

I think we want to warn it in RC2

[2020-09-02 16:43] mavasani commented on #4119
NOTE: Implementing a special case where Create call is an argument would be easy to handle in the analyzer's OperationVisitor. However, implementing full fledged dataflow support for tracking `OSPlatform` values is slightly more complicated, though doable. For example:

[code]

@buyaa-n I think the fix would be pass in `DataFlowAnalysisContext.PointsToAnalysisResult` to the below call: https://git

[2020-09-02 16:46] mavasani commented on #4119
Ah, actually `OSPlatform` is a struct so we will not have this information in the `PointsToAnalysisResult`. Handling the non-trival case like above will be bit more tricky. Probably we can enhance ValueContentAnalysis for it. Let me know if the feature request here is just for the simple case you mentioned or full fledged flow analysis of `OSPlatform` values.

[2020-09-02 16:51] buyaa-n commented on #4119
I was planning to add the argument support in `OperationVisitor`, didn't think about supporting the value in local

[2020-09-02 16:52] buyaa-n commented on #4119
This is a bug reported from customer, for now just the simple case

[2020-09-02 17:36] pranavkm commented on #4119
I think making the trivial case work would suffice. It unblocks using this in libraries that cross-compile which right now would require complicated #ifdef shennanigans.

[2020-09-02 18:46] Youssef1313 opened #4120 "Undocumented rule - CA1416"
CA1416 is undocumented

<https://docs.microsoft.com/visualstudio/code-quality/ca1416> shows 404.

I don't see the rule Id existing in any RulesMissingDocumentation.md file.

[2020-09-02 19:14] Youssef1313 opened #4122 "[New rule suggestion]: Use Split(char, ....) or Split(string, ....) overloads when available"
### Describe the problem you are trying to solve

Avoid unnecessary array allocations if an array is created only to be passed to string.Split method.

### Describe suggestions on how to achieve the rule

1. If one of the string.Split overloads that takes an array is used, and the array contains only one element, and not used anywhere else, the analyzer should suggest using either Split(char, ...)

[2020-09-02 19:19] mavasani commented on #4120
@buyaa-n

[2020-09-02 21:34] dotpaul commented on #4110
I'll update the docs to note its behavior and rename the rule to "Ensure key derivation function hash algorithm is strong" or something. It's always a judgment call as to what an analyzer should do when it can't definitively determine the state. For this particular rule, I don't think Rfc2898DeriveBytes appears in code frequently (maybe once or a few times per code base), so false positives are mo

[2020-09-02 22:18] #4117 closed

[2020-09-02 23:47] #4090 closed

[2020-09-03 16:44] mavasani commented on #2812
@jeffhandley Can you please transfer this issue to dotnet/runtime repo for triage?

[2020-09-03 17:01] Mrnikbobjeff commented on #2812
They already have this rule there [in this issue](https://github.com/dotnet/runtime/issues/33769)

[2020-09-03 17:05] mavasani commented on #2812
@Mrnikbobjeff Thank you pointing that out. @jeffhandley @terrajobst are we open to contributions for .NET API analyzers targeted in future milestone?

[2020-09-03 20:15] Youssef1313 opened #4127 "Can GenerateDocumentationAndConfigFiles be replaced with source generator?"
I haven't dealt with source generators before. But if can be used, that won't require explicit run of `msbuild \t:pack` to generate the required files. Instead, they will be generated when compiling. That will keep the files up-to-date more frequently.

[2020-09-03 20:30] mavasani commented on #4127
@Youssef1313 That post build tool does not generate any source files, and generated files don't need to be part of the compilation. Source generators are primarily for generating sources.

[2020-09-03 20:36] Youssef1313 commented on #4127
@mavasani Thanks! I thought it's capable of generating any kind of files based on the source code in compilation. Thanks for clearing my misunderstanding. Closing

[2020-09-03 20:36] #4127 closed

[2020-09-03 20:44] mavasani commented on #4122
@Youssef1313 This suggestion needs to be ported to dotnet/runtime repo as it relates to .NET API usage.

[2020-09-03 20:47] Youssef1313 commented on #4122
Opened https://github.com/dotnet/runtime/issues/41826

[2020-09-03 20:47] #4122 closed

[2020-09-03 20:54] #4119 closed

[2020-09-03 20:57] mavasani commented on #4119
@pranavkm FYI the fix should even handle non-trivial cases mentioned above. You can pickup the next package that gets uploaded here: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet&version=5.0.0-rc2.20453.1&view=versions. It should take about 20-30 minutes for the new package to show up.

[2020-09-03 20:57] mavasani commented on #4119
Also tagging @jeffhandley

[2020-09-03 21:12] buyaa-n commented on #4120
i have draft PR open for VS doc https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7088, i don't think we need to keep this one

[2020-09-03 21:12] #4120 closed

[2020-09-04 10:00] JarLob opened #4128 "PooledHashSet is still used after being marked as free and allocated to the next caller"
Tested on the latest Master branch, debug build.

The bug is indicated by a failing assert on a new pooled hashset allocation in https://github.com/dotnet/roslyn-analyzers/blob/525d43d2fd640c4f8d601c1d0090bd40789be9d7/src/Utilities/Compiler/PooledObjects/PooledHashSet.cs#L81

It was narrowed down to the calling code in `SourceTriggeredTaintedDataAnalyzerBase` that frees the pooled hashset in the f

[2020-09-04 10:44] benmccallum commented on #4095
FYI @anthony-keller and @kjayalath

[2020-09-04 10:58] NinjaCross commented on #1848
What is the status of this issues ?
Does an alternative exist, which can be used in the meanwhile ?

[2020-09-04 11:59] mavasani commented on #394
Closing this as won't fix. If we need a fixer for CS0549, it should likely be contributed in Roslyn repo.

[2020-09-04 11:59] #394 closed

[2020-09-04 12:14] mavasani commented on #4128
@JarLob Thanks for the detailed repro and analysis. I agree with your analysis that the core issue is with the analyzer driver making callbacks in an unsupported manner. This happens often with cancellation during diagnostic computation, which is triggered when the active document changes in the IDE or user presses Ctrl + Dot and cancels before the light bulb actions are computed. I believe this i

[2020-09-04 13:04] JarLob commented on #4128
Glad to hear, will check!
A side question: Isn't the last `lock (rootOperationsNeedingAnalysis)` unnecessary? The `OperationBlockEndAction` is the last action to run and there can't be concurrency issues. This pattern of locking `rootOperationsNeedingAnalysis` in a final step like `CompilationEndAction` can be found in multiple places.

[2020-09-04 17:32] Youssef1313 opened #4131 "Update the code fix to respect markdown rules"
@mavasani FYI, the code that generates this need to be updated to respect markdown rules, i.e. leave blank lines around headings.

See https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md#md022---headings-should-be-surrounded-by-blank-lines

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn-analyzers/pull/4126#discussion_r483723333_

[2020-09-04 22:15] sharwell opened #4132 "CA2231: Cryptic"
From @ericwj in MicrosoftDocs/visualstudio-docs#5804:

[2020-09-05 06:31] WhiteBlackGoose opened #4133 "Circular removing-adding of record's parameter"
PublicApiAnalyzer v3.3.0.

### Description

When adding a parameter to a record, it suggests adding its Initter to the public API. After you you add the Setter, it suggests you to add a Getter **instead** of the Initter.
![image](https://user-images.githubusercontent.com/31178401/92299300-df8e6380-ef59-11ea-8ebb-be1d063056a1.png)

### Steps To Reproduce

Within a C# 9 project create an empty recor

[2020-09-05 10:18] drewnoakes opened #4134 "CA2249 codefix menu item text improvement"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.3.0

#### Diagnostic ID

[CA2249](https://docs.microsoft.com/en-ca/visualstudio/code-quality/ca2249)

#### Repro steps

![image](https://user-images.githubusercontent.com/350947/92303020-9cada980-efb4-11ea-9199-299646336379.png)

The text "C

[2020-09-07 09:32] yyjdelete opened #4135 "`CA2014: Do not use stackalloc in loops` should not be report for local function inside loop"
### Analyzer

**Diagnostic ID**: [CA2014](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2014?view=vs-2019): `CA2014: Do not use stackalloc in loops`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-preview.8](https://dotnet.microsoft.com/download/dotnet/

[2020-09-07 09:59] Evangelink commented on #4134
Any preference between:

1. Use 'string.Contains' instead of 'string.IndexOf'
2. Replace with 'string.Contains'

I would go the option 2 as it seems more in line with how the other entries are named but I am open to suggestions.

[2020-09-07 12:11] #4134 closed

[2020-09-07 12:20] mavasani commented on #4135
@Evangelink @Youssef1313 interested in picking this up? This analyzer is warning by default in the.NET5 SDK, so high priority. Please post a comment if you want to work on it, otherwise I can work on a fix tomorrow.

[2020-09-07 12:32] Youssef1313 commented on #4135
@mavasani Thanks for the ping. I opened a PR and will add a test to it now.

[2020-09-07 14:14] Evangelink commented on #4116
Hi @TessenR,

Thanks for the reproducer and the bug report. I confirm that I was able to reproduce the issue on v3.3.0 and also that this issue is already fixed in the latest (non released) version of the code. I have done a unit test and also an actual test using the latest beta (3.3.1-beta1.20454.1).

Unit test for reference:

[code]

Tagging @mavasani for an ETA for the next release.

[2020-09-07 14:14] #4116 closed

[2020-09-07 14:18] Evangelink commented on #4131
@Youssef1313 Do you want to handle the ticket?

[2020-09-07 14:39] Youssef1313 commented on #4131
@Evangelink I'm not very familiar with this area and how exactly it works. So I think someone else can get it faster than me. But if it became a stale for a while, I'll probably give it a try.

[2020-09-08 06:22] SebastianSchumann commented on #3874
After Update to 3.3.0 (from 3.0.0) the problem is not reported for the positive case:

    public static void Foo<TKey, TValue>(this IDictionary<TKey, IEnumerable<TValue>> self)
    {
        foreach (var (key, value) in self)
        {
            if (value is null)
            {
                continue;
            }

            // CA1508 reports that this condition is always true.

[2020-09-08 07:51] SebastianSchumann opened #4140 "CA1508 forces to refactor condition - but there is none"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1508?view=vs-2019): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Steps to reproduce

The following minimalized code reports CA

[2020-09-08 08:59] Evangelink commented on #4131
I'll take care of it :)

[2020-09-08 09:57] Evangelink commented on #4073
@mavasani Is it possible call upfront some other code fix from some code fix?

[2020-09-08 12:11] SebastianSchumann opened #4142 "CA2214: false positive"
### Analyzer

**Diagnostic ID**: [CA2214](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2214): `Do not call overridable methods in constructors`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

I'm using [The Asynchronous Initiali

[2020-09-08 15:10] mavasani commented on #4142
Seems like a simple fix. We should change the call from `IsInsideAnonymousFunction` to `IsWithinLambdaOrLocalFunction`:

Current: https://github.com/dotnet/roslyn-analyzers/blob/6dea9b867e32607bc02f958efe46d4b2d1220e45/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/DoNotCallOverridableMethodsInConstructors.cs#L68

Should instead call this extension: https://github.com/dotn

[2020-09-08 15:15] mavasani commented on #4073
@Evangelink Best way to do this is to refactor the composing actions into separate `CodeActionOperation` types. Multiple code actions can register/share same code action operations across code fix providers: http://sourceroslyn.io/#Microsoft.CodeAnalysis.Workspaces/CodeActions/CodeAction.cs,71

[2020-09-08 16:20] mavasani commented on #4140
@SebastianSchumann Seems like you are on an older VS/compiler toolset. I cannot repro your issue when using VS2019 16.7:

![image](https://user-images.githubusercontent.com/10605811/92502252-76565c80-f1b4-11ea-868f-c2c1c5b430e8.png)

[2020-09-08 16:31] SebastianSchumann commented on #4140
Nope. I'm using 16.7.2. That is current Version.

I'm currently at Home and can't test anything.

My Code does not contain the second null equality Check. Try the Code that I Provider.

[2020-09-08 16:32] mavasani commented on #4140
Second equality check is not required, that was added just to confirm that the analyzer is running, and is not producing the reported false positive here.

[2020-09-08 23:10] j2jensen opened #4145 "CA1508 False Positive on variable modified in closure"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/visualstudio/code-quality/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

When only closures set variable values, the code analyzer assu

[2020-09-09 02:55] #4100 closed

[2020-09-09 05:51] SebastianSchumann commented on #4140
I've new information:

* Today was an update for VS2019 available 16.7.3 - I installed it but the problem still remains.
* The problem ist not reproducable if you build an executable - a class library is required.
* There is also an `.editorconfig` needed that forces CA1508 to be an error.

I attached a project that causes this error. Please don't be distracted by the project name but I startet to

[2020-09-09 08:55] NN--- opened #4147 "CA2000 Dispose for MemoryStream"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/visualstudio/code-quality/ca2000)

### Describe the improvement

[MemoryStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream?view=netcore-3.1) doesn't hold anything that needs to be disposed.

[code]

### Describe suggestions on how to achieve the rule

The rule CA2000 should not warn on MemoryStream object.

[2020-09-09 09:34] NN--- opened #4148 "CA1031 should not warn in Main or other method called from global context"
### Analyzer

**Diagnostic ID**: [CA1031](https://docs.microsoft.com/visualstudio/code-quality/ca1031)

### Describe the improvement

This should not produce CA1031
[code]

Optionally this too:

[code]

### Describe suggestions on how to achieve the rule

### Additional context

[2020-09-09 11:16] NN--- opened #4149 "CA1051 should not be applied to structs"
### Analyzer

**Diagnostic ID**: [CA1051](https://docs.microsoft.com/visualstudio/code-quality/ca1051): `Do not declare visible instance fields

### Describe the improvement

Declaring properties in struct is not good due to defensive copy problem.
Therefore it is common to declare public fields.

[code]

### Describe suggestions on how to achieve the rule

There should be separate rule for class

[2020-09-09 11:20] alexrp opened #4150 "CA2100 crashes during build on seemingly unrelated code"
### Analyzer

**Diagnostic ID**: [CA2100](https://docs.microsoft.com/visualstudio/code-quality/ca2100): `Review SQL queries for security vulnerabilities`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

Crashes during build.

### Steps To Reprod