[2015-12-03 17:13] lgolding opened #716 "Port FxCop rule CA2104: DoNotDeclareReadOnlyMutableReferenceTypes"
**Title:** Do not declare read only mutable reference types

**Description:**

An externally visible type contains an externally visible read-only field that is a mutable reference type. A mutable type is a type whose instance data can be modified.

**Proposed analyzer:** System.Runtime

**Notes:**

[2015-12-03 17:15] lgolding opened #717 "Port FxCop rule CA2209: AssembliesShouldDeclareMinimumSecurity"
**Title:** Assemblies should declare minimum security

**Description:**

Assemblies specify security permission requests to communicate to administrators the minimum permissions that are required to execute the assembly, and to limit security vulnerabilities caused by mistakenly omitting demands at the type and member level.

**Proposed analyzer:** Desktop

**Notes:**

Deprecated rule

[2015-12-03 17:16] lgolding opened #718 "Port FxCop rule CA2221: FinalizersShouldBeProtected"
**Title:** Finalizers should be protected

**Description:**

Finalizers must use the family access modifier.

**Proposed analyzer:** System.Runtime

**Notes:**

[2015-12-03 17:16] #718 closed

[2015-12-03 17:16] lgolding opened #719 "Port FxCop rule CA2228: DoNotShipUnreleasedResourceFormats"
**Title:** Do not ship unreleased resource formats

**Description:**

Resource files that were built by using prerelease versions of the .NET Framework might not be usable by supported versions of the .NET Framework.

**Proposed analyzer:** System.Runtime

**Notes:**

[2015-12-03 17:16] #719 closed

[2015-12-03 17:19] lgolding opened #720 "Port FxCop rule CA900: AptcaAssembliesShouldBeReviewed"
**Title:** Aptca assemblies should be reviewed

**Description:**

Microsoft only allows certain assemblies to have the AllowPartiallyTrustedCallers attribute. This rule can be ignored if the assembly is not for distribution outside of Microsoft.

**Proposed analyzer:** System.Runtime

**Notes:**

[2015-12-03 17:19] #720 closed

[2015-12-03 17:19] lgolding opened #721 "Port FxCop rule CA901: AptcaTypesShouldBeReviewed"
**Title:** Aptca types should be reviewed

**Description:**

Types not on the list must either have both a LinkDemand and an InheritanceDemand, or have a LinkDemand and be sealed. This is a requirement of RTM security signoff.

**Proposed analyzer:** System.Runtime

**Notes:**

[2015-12-03 17:19] lgolding opened #722 "Port FxCop rule CA908: AvoidTypesThatRequireJitCompilationInPrecompiledAssemblies"
**Title:** Avoid types that require JIT compilation in precompiled assemblies

**Description:**

Assemblies that are precompiled (using ngen.exe) should only instantiate generic types that will not cause JIT compilation at runtime. Generic types with value type type parameters (outside of a special set of supported runtime generic types) will always cause JIT compilation, even if the encapsulating

[2015-12-03 17:19] lgolding opened #723 "Port FxCop rule CA909: UseFrameworksThatSatisfySecurityRequirements"
**Title:** #N/A

**Description:**

#N/A

**Proposed analyzer:** System.Runtime

**Notes:**

Deprecated rule checking for insecure/beta framework use

[2015-12-03 17:19] #723 closed

[2015-12-03 17:20] #590 closed

[2015-12-03 17:20] #591 closed

[2015-12-03 17:20] #592 closed

[2015-12-03 17:20] #593 closed

[2015-12-03 17:21] #594 closed

[2015-12-03 17:21] #595 closed

[2015-12-03 17:21] #596 closed

[2015-12-03 17:21] #597 closed

[2015-12-03 17:21] #598 closed

[2015-12-03 17:21] #599 closed

[2015-12-03 17:21] #600 closed

[2015-12-03 17:21] #601 closed

[2015-12-03 17:21] #602 closed

[2015-12-03 17:33] LMLB commented on #528
Thank you!

[2015-12-04 01:20] #484 closed

[2015-12-04 01:20] #490 closed

[2015-12-04 01:20] #492 closed

[2015-12-04 01:20] #498 closed

[2015-12-04 01:21] #499 closed

[2015-12-04 01:21] #502 closed

[2015-12-04 01:23] #538 closed

[2015-12-04 01:24] #555 closed

[2015-12-04 01:24] #556 closed

[2015-12-04 01:24] #557 closed

[2015-12-04 01:24] #558 closed

[2015-12-04 01:24] #559 closed

[2015-12-04 01:25] #560 closed

[2015-12-04 01:25] #561 closed

[2015-12-04 01:25] #562 closed

[2015-12-04 01:25] #563 closed

[2015-12-04 01:25] #564 closed

[2015-12-04 01:25] #565 closed

[2015-12-04 01:25] #569 closed

[2015-12-04 01:25] #570 closed

[2015-12-04 01:25] #571 closed

[2015-12-04 01:25] #572 closed

[2015-12-04 01:25] #573 closed

[2015-12-04 01:25] #576 closed

[2015-12-04 01:26] #577 closed

[2015-12-04 01:26] #578 closed

[2015-12-04 01:36] nguerrera commented on #489
We should cut this. It only fires on visible fields non-readonly fields, which would already trigger the API design rule against them in general.

[2015-12-04 01:46] nguerrera commented on #538
The VB compiler does not do this, but I still think this rule has limited value because if you follow all of the other guidelines you won't hit it. The base should have overridable Dispose(bool) and only that should ever be overridden.

[2015-12-04 14:56] lgolding commented on #489
The FileIssues tool re-opened this issue because it was closed manually but the spreadsheet wasn't updated. Updated the spreadsheet. Closing this issue again manually (the next run of the tool, if any, would have closed it).

[2015-12-04 14:56] #489 closed

[2015-12-04 19:28] rigotek opened #733 "Add Helper Links for the Package Description for CA5350 and CA5351"
Currently the help links for CA5350 and CA5351 in the blob are not showing. We need to make a minor edit to the code to make sure these show up so users have access to all links for all rules under Desktop.Analyzers

Blob Containing the Rules in Desktop.Analyzers:
https://github.com/dotnet/roslyn-analyzers/blob/master/src/Desktop.Analyzers/Desktop.Analyzers.md

Text Version of Email:
[RE Roslyn De

[2015-12-07 18:06] twsouthwick commented on #544
I'll take a look at this one

[2015-12-07 18:07] lgolding commented on #544
Assigned to me, but work will be done by @twsouthwick

[2015-12-07 18:17] mjrousos commented on #539
I can take this one (though it seems I'm not able to assign the issue to myself).

[2015-12-07 18:18] lgolding commented on #539
I will assign myself to prevent others from taking it.

[2015-12-07 18:20] lgolding commented on #539
Assigned to me but @mjrousos will do the work.

[2015-12-07 18:22] mjrousos commented on #539
Thanks, @lgolding !

[2015-12-07 18:26] srivatsn commented on #544
@twsouthwick - looks like this rule has already been [implemented](https://github.com/dotnet/roslyn-analyzers/blob/805488ca77226b7cbc360e7b5a8019635b332274/src/Microsoft.ApiDesignGuidelines.Analyzers/Core/OverloadOperatorEqualsOnOverridingValueTypeEquals.cs) and that we've created this issue by mistake. Sorry about that. There are other rules that are similar to this one that haven't been implemen

[2015-12-07 18:27] twsouthwick commented on #544
Ok - I'll find another one :)

[2015-12-07 18:32] twsouthwick commented on #533
I'll take this one

[2015-12-07 18:32] mavasani opened #737 "Enhance the meta-analyzers to catch incorrect usage/registration of Operation actions"
Write the below code in Initialize method of an analyzer:
[code]

**Got:**
[code]

**Expected:** We should fire RS1002 also for RegisterOperationAction as it doesn't register any operation kinds and hence the callback will never fire.

[2015-12-07 18:33] lgolding commented on #533
Assigned to me, but work will be done by @twsouthwick.

[2015-12-07 19:30] dpoeschl commented on #553
This is blocked due to an issue that I just spoke with @JohnHamby about.

[2015-12-07 19:36] amcasey commented on #708
This appears to be the same as CS0660.

[2015-12-07 19:36] amcasey commented on #707
This appears to be the same as CS0661.

[2015-12-07 19:45] genlu commented on #566
@qinxgit is working on this as part of #705

[2015-12-07 19:45] genlu commented on #567
@qinxgit is working on this as part of #705

[2015-12-07 19:46] genlu commented on #568
@qinxgit is working on this as part of #705

[2015-12-07 19:46] genlu commented on #574
@qinxgit is working on this as part of #705

[2015-12-07 19:46] genlu commented on #575
@qinxgit is working on this as part of #705

[2015-12-07 19:50] lgolding opened #739 "Test and product assemblies are signed with different keys"
The stub generation tool specified different keys for the product (analyzer) assemblies and the unit test assemblies. As a result, you can't debug unit tests in VS because you get a strong name key error. The workaround until this is fixed is:

1. Right-click the unit test project, and then select **Properties**.
2. Select the **Signing** tab.
3. Uncheck **Sign the assembly**.
4. Do the same for t

[2015-12-07 19:57] genlu commented on #537
This one would benefit from an `IOperation` walker type, suggest to wait until it is created

[2015-12-07 20:46] srivatsn opened #741 "The analyzers projects in the repo should use the analyzers from this repo"
Atleast the roslyn.diagnostic.analyzers and the configureawait rules are needed.

[2015-12-07 21:38] dpoeschl commented on #553
Assigning to @JohnHamby for triage / further processing.

[2015-12-08 13:36] mavasani opened #745 "Descriptors with the same id should only differ in messageformat."
FXCop seems to have many cases where it reports completely different messages with same ID (though related in some way). The stub generator seems to generate different descriptors with same ID that differ just by message format. This will cause issues when seeing the rules in the ruleset editor. We should fix the stub generator to generate a single descriptor with a placeholder messge format `"{0}

[2015-12-08 15:19] mavasani opened #746 "Fix DoNotIgnoreMethodResultsAnalyzer (CA1806 port) to handle PreserveSig methods"
`DoNotIgnoreMethodResultsAnalyzer.IsHResultOrErrorCodeReturningMethod` does not completely match the FXCop implementation [here](http://index/UsageRules/R/88335f66dce7e0ad.html) - especially for ComImport types with methods marked with PreserveSig.

We need to tune this method to match the FxCop behavior once https://github.com/dotnet/roslyn/issues/7282 is addressed. I will also add a skip test `U

[2015-12-08 18:43] amcasey commented on #707
https://github.com/dotnet/roslyn-analyzers/pull/743

[2015-12-08 18:43] amcasey commented on #708
https://github.com/dotnet/roslyn-analyzers/pull/743

[2015-12-08 19:10] nguerrera commented on #531
NOTE: Rule is ported, but fixer is still not done, so I'm this leaving open.

[2015-12-08 20:09] CyrusNajmabadi opened #748 "CodeFixers should prefer using Generator.TypeExpression over Generator.DottedName"
The former ensures that the code generation and simplification engine produces the best code that will bind to the symbol passed in.  The latter does not.  For example, the former may decide that "global::" qualification is necessary to prevent the code from binding to a symbol that shadows the actual symbol the fixer wants to reference.

[2015-12-08 22:10] amcasey opened #749 "Add more nuanced versions of CS2224 and CA2218"
CA2224: have ==, so should have Equals
CA2218: have Equals, so should have GetHashCode

Now that we offer to fix these problems, it seems like it might be nice to have versions of these diagnostics that explain that they *cannot* be fixed.  For example, if a base type shadows `object.Equals`, then there's no way to override it in a derived type.  It would be helpful if the descriptions explained w

[2015-12-09 00:59] #454 closed

[2015-12-09 01:13] amcasey commented on #708
https://github.com/dotnet/roslyn-analyzers/commit/4c237021bbed3bdc572b99c468d0045ab4943ea6

[2015-12-09 01:13] #708 closed

[2015-12-09 01:13] amcasey commented on #707
https://github.com/dotnet/roslyn-analyzers/commit/4c237021bbed3bdc572b99c468d0045ab4943ea6

[2015-12-09 01:13] #707 closed

[2015-12-09 01:16] #587 closed

[2015-12-09 02:11] mavasani commented on #746
Also extend it to handle Pure attribute - @nguerrera can you please add more context on what needs to be done?

[2015-12-09 02:14] mavasani commented on #462
Ported with https://github.com/dotnet/roslyn-analyzers/commit/57fa0965bd10d2a98eef235d7d5c01c190d2da6e

[2015-12-09 02:14] #462 closed

[2015-12-09 05:20] nguerrera commented on #746
Any method marked [Pure] indicates that it has no side effect. As such, it is always wrong to call it and not use the return value.

[2015-12-09 05:20] nguerrera commented on #746
https://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.pureattribute(v=vs.110).aspx

[2015-12-09 06:41] srivatsn commented on #544
Closing this issue since the rule's already been implemented.

[2015-12-09 06:41] #544 closed

[2015-12-09 18:40] srivatsn opened #756 "Public API analyzer doesn't remove previous signature when a new API is changed."
Ported from https://github.com/dotnet/roslyn/issues/6762
I ran into a lot of trouble on my first Roslyn change because I added a new optional argument to a constructor and the Public API Analyzer corrector added the new signature but didn't remove the old one. Since the constructor takes many arguments it was very hard to figure out what had actually happened.
1.Open Roslyn.sln
2.Open src/Compiles

[2015-12-09 18:54] genlu commented on #756
:+1: for this, merging with public API change is such a painful experience right now...

[2015-12-09 23:03] lgolding commented on #586
This rule has been merged with some other rules and already implemented as #633.

[2015-12-09 23:03] lgolding commented on #584
This rule has been merged with some more rules and already implemented as #633.

[2015-12-09 23:03] lgolding commented on #583
This rule has been merged with some more rules and already implemented as #633.

[2015-12-09 23:04] lgolding commented on #582
This rule has been merged with some more rules and already implemented as #633.

[2015-12-09 23:34] lgolding opened #758 "Port FxCop Rule CA3075: Insecure DTD Processing"
This rule is a composite of several FxCop rules. @qinxgit will supply information on exactly which rules are covered.

[2015-12-09 23:45] lgolding opened #759 "Port FxCop Rule CA3076: Insecure XSLT Script Execution"
This rule is a composite of several FxCop rules. @qinxgit will supply information on exactly which rules are covered.

[2015-12-09 23:45] lgolding opened #760 "Port FxCop Rule CA3077: Insecure Processing in API Design, XML Document and XML Text Reader"
This rule is a composite of several FxCop rules. @qinxgit will supply information on exactly which rules are covered.

[2015-12-09 23:55] lgolding commented on #575
Closing this one, because it will be done as part of PR #705.

[2015-12-09 23:55] #575 closed

[2015-12-09 23:56] lgolding commented on #574
Closing this one, because it will be done as part of PR #705.

[2015-12-09 23:56] lgolding commented on #568
Closing this one, because it will be done as part of PR #705.

[2015-12-09 23:56] #568 closed

[2015-12-09 23:57] #574 closed

[2015-12-09 23:57] lgolding commented on #567
Closing this one, because it will be done as part of PR #705.

[2015-12-09 23:57] #567 closed

[2015-12-09 23:58] lgolding commented on #566
Closing this one, because it will be done as part of PR #705.

[2015-12-09 23:58] #566 closed

[2015-12-10 04:56] #472 closed

[2015-12-10 05:55] #406 closed

[2015-12-11 21:34] srivatsn commented on #659
Need to implement a fixer for this rule.

[2015-12-11 23:00] #470 closed

[2015-12-12 02:17] lgolding commented on #556
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:18] lgolding commented on #557
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:18] lgolding commented on #558
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:19] lgolding commented on #559
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:19] lgolding commented on #560
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:20] lgolding commented on #561
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:23] lgolding commented on #562
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:23] lgolding commented on #563
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:24] lgolding commented on #565
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:27] lgolding commented on #572
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:28] lgolding commented on #573
Incorporated into [CA3075](https://github.com/dotnet/roslyn-analyzers/issues/758).

[2015-12-12 02:30] lgolding commented on #576
Incorporated into [CA3076](https://github.com/dotnet/roslyn-analyzers/issues/759)

[2015-12-12 02:32] lgolding commented on #577
Incorporated into [CA3074](https://github.com/dotnet/roslyn-analyzers/issues/760).

[2015-12-12 07:29] genlu commented on #253
This is done by the stub generator.

[2015-12-12 07:29] #253 closed

[2015-12-12 07:31] genlu commented on #300
Closed since we probably don't want to use the project.json format for roslyn-analyzers, feel free to reopen this if this is not the case. @srivatsn

[2015-12-12 07:31] #300 closed

[2015-12-12 07:39] genlu commented on #305
It seems all the async analyzers will end up in Microsoft.ApiDesignGuidelines.Analyzers, I guess we can close this issue and publish Microsoft.ApiDesignGuidelines.Analyzers whenever it is ready.

[2015-12-12 19:31] lgolding commented on #627
This is no longer necessary (and in fact, it hasn't shipped since Dev10, per @michaelcfanning), because the JITter now eliminates redundant initializations for reference and primitive value types (and sometimes but not always for user-defined value types).

[2015-12-12 19:31] #627 closed

[2015-12-14 17:59] #659 closed

[2015-12-15 00:28] srivatsn commented on #695
We decided to cut this rule because it is very hard to get it right without deeper analysis, tracking variables and possibly having annotations. The current implementation is very noisy and has a lot of false positives and the value of the rule is not worth all the noise it generates.

[2015-12-15 00:29] srivatsn commented on #291
We've decided to cut this rule. See https://github.com/dotnet/roslyn-analyzers/issues/695

[2015-12-15 00:29] #291 closed

[2015-12-15 00:31] srivatsn commented on #281
We've decided to cut rule CA2213 given it's very high noise to signal ratio (https://github.com/dotnet/roslyn-analyzers/issues/695)

[2015-12-15 00:31] #281 closed

[2015-12-15 00:31] srivatsn commented on #310
We've decided to cut CA2213 given it's very high noise to signal ratio (https://github.com/dotnet/roslyn-analyzers/issues/695)

[2015-12-15 00:31] #310 closed

[2015-12-15 22:44] dpoeschl opened #770 "F5ing *.Setup projects doesn't hit some RegisterOperationAction callbacks"
`analysisContext.RegisterOperationAction(context => { var BREAKPOINTHERE = 7; }, OperationKind.BinaryOperatorExpression);` doesn't hit the lambda body, I believe due to a semi-recent change in the OperationKind enum. I thought this was fixed, but I'm still hitting this problem.

/cc: @srivatsn @jmarolf @JohnHamby

[2015-12-22 21:11] brettfo opened #771 "Cannot build due to unresolvable dependency: Microsoft.CodeAnalysis-1.2.0-beta-20151118-02"
Building on a clean machine fails because the `1.2.0-beta-20151118-02` version of the `Microsoft.CodeAnalysis.*` packages cannot be restored and they are not listed on [NuGet.org](http://www.nuget.org/packages/Microsoft.CodeAnalysis/).

Manually copying these packages from another machine that had them enables restore/build to succeed.

[2015-12-30 00:20] srivatsn opened #773 "Diagnostics from VB Public API analyzer don't include location"
Ported from https://github.com/dotnet/roslyn/issues/7511

C#:
[code]

VB:
[code]

As a result, I can't double-click on them in the output window to go to their locations.

[2015-12-30 00:28] srivatsn opened #774 "FxCopAnalyzers, System.Runtime.Analyzers.CSharpTestForEmptyStringsUsingStringLengthAnalyzer, NullReferenceException"
Ported from https://github.com/dotnet/roslyn/issues/7475 reported by @BGrojer

With version 1.1 of the Analyzer I run into a NullRefIssues in multiple projects:

Warning	AD0001	Analyzer 'System.Runtime.Analyzers.CSharpTestForEmptyStringsUsingStringLengthAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	Platfor

[2015-12-30 00:29] srivatsn commented on #309
This has been verified and we've uploaded 1.1

[2015-12-30 00:29] #309 closed

[2016-01-04 13:15] sharwell commented on #682
:question: How is this fixed? The source for both the analyzer and code fix still appears to be a stub.

[2016-01-05 23:02] genlu commented on #250
This is already fixed.

[2016-01-05 23:02] #250 closed

[2016-01-05 23:14] genlu commented on #739
@lgolding This was inherited from the target file pre-refactoring, which seems to be intentional. Maybe @srivatsn and @tmeschter can provide more info?

https://github.com/dotnet/roslyn-analyzers/blob/master/build/Targets/Analyzers.Imports.targets#L61

[2016-01-06 04:24] #733 closed

[2016-01-06 18:35] srivatsn opened #777 "C#: infinite recursive setter should be warned at compile time"
Ported from https://github.com/dotnet/roslyn/issues/7695 - reported by @zhangtairan

---

For example:

[code]

This behavior will cause StackOverflowException, why not disable infinite recursive setter by the compiler?
Thanks!

[2016-01-06 18:49] srivatsn commented on #701
This rule in in the unfactored location. It needs to be moved to the InteropServices.Analyzers location. As part of this, implement some unit tests for this rule (#343)

[2016-01-06 18:50] srivatsn commented on #353
Part of #701

[2016-01-06 18:50] #353 closed

[2016-01-06 18:58] srivatsn commented on #615
Yes this is a good idea. However it leads to a proliferation of assemblies. Do you think a CodeAnalysisAnalyzers analyzer that detects if you are using something from workspaces would be enough here?

[2016-01-06 19:03] srivatsn commented on #618
Once the workitem to skip reporting results generated code in the compiler is implemented this wouldn't be a problem .That work is tracked by https://github.com/dotnet/roslyn/issues/6998 for the next update.

[2016-01-06 19:03] #618 closed

[2016-01-06 21:41] lgolding commented on #319
Per our discussion in triage this morning, I'll copy the text to a Markdown file in the repo, and then close this issue.

[2016-01-06 22:56] sharwell commented on #615
Assuming you are referring to things like DotNetAnalyzers/StyleCopAnalyzers#1624, this was already a problem. I think it's something we should address directly for consumers.

For contributors working on the project, the use of separate assemblies has obvious benefits. It eliminates the need to explain when/where workspace APIs can be used, and provides the strongest guarantees regarding runtime b

[2016-01-07 06:18] bricelam opened #779 "Port StyleCop Documentation Rules (but just the useful ones)"
I've always found the [StyleCop Documentation Rules](http://www.stylecop.com/docs/Documentation%20Rules.html) that check basic correctness useful. Are there any plans to port these? Here are the particular ones I would like to see.

Rule | Description
--- | ---
SA1603 | The XML is well-formed
SA1606<br />SA1607<br />SA1610<br />SA1613<br />SA1614<br />SA1616<br />SA1621<br />SA1622 | Elements and

[2016-01-07 16:55] srivatsn commented on #779
The stylecop rules are being implemented as analyzer in the https://github.com/dotnetanalyzers/stylecopanalyzers project. Most of the rules you mention above seem to have already been implemented according to [their status page](https://stylecop.pdelvo.com/). You can get these analyzers through the [StyleCop.Analyzers NuGet Package](http://www.nuget.org/packages/StyleCop.Analyzers/1.0.0-rc3)

[2016-01-07 16:55] lgolding commented on #779
Thanks for filing the issue, @bricelam. I am not sure how valuable those rules are, since it's so easy for tools or humans to generate valid but useless doc comments. We've all see this sort of thing:

[code]

But we will definitely consider these.

[2016-01-07 16:55] lgolding commented on #779
... oh. I see Sri commented as well.

[2016-01-07 17:07] #319 closed

[2016-01-07 17:44] michaelcfanning commented on #779
The compiler apparently already provides placeholders for built-in analysis for doc comments, including some of what's requested here (badly formed XML is CS1570). You must enable doc XML generation in the project build to see the results. My suggestion for this area has been that we should either build out this capability (within VS) or we should break out all the doc comment analysis into its ow

[2016-01-07 19:59] lgolding commented on #779
Since doc comments are part of the C# language, it makes sense for the well-formedness checks to be done by the compiler. Checks such as spell-checking the comments could go in Text.Analyzers. But if there are any other checks (for example, complaining about vacuous comments such as "`<param name="type">A type</param>`," then I agree we should create an XmlDocComments.Analyzers package for them. T

[2016-01-08 01:51] lgolding commented on #739
@srivatsn @tmeschter Any thoughts on this?

[2016-01-08 01:52] lgolding commented on #682
@srivatsn

[2016-01-08 01:55] srivatsn commented on #682
Yes the Roslyn Diagnostic Analyzers rules are in the unfactored location - they haven't been moved over yet to replace the stubs. I'm doing that as I get time.

[2016-01-08 15:40] sharwell commented on #779
@bricelam All of the items you mentioned have been implemented in StyleCop Analyzers. We don't report SA1603 directly, but as mentioned in DotNetAnalyzers/StyleCopAnalyzers#1291, there is no need for this warning since it is an exact duplicate of CS1570.

[2016-01-08 15:43] sharwell commented on #756
I believe if you run a Fix All operation, it will remove the old signature and add the new one. The problem we run into here is there is no way to know for certain that a signature changed, as opposed to two independent operations which added and removed a signature.

[2016-01-08 15:45] sharwell commented on #682
I created a repository dedicated to providing just the Public API functionality which was previously only available embedded in another package that contains unrelated Roslyn-specific functionality.

https://github.com/DotNetAnalyzers/PublicApiAnalyzer

This rule is included in that analyzer.

[2016-01-08 15:49] sharwell commented on #308
Related to #211. The repository referenced [does include this rule](https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/blob/master/AsyncUsageAnalyzers/AsyncUsageAnalyzers/Naming/UseAsyncSuffixAnalyzer.cs).

[2016-01-08 15:49] sharwell commented on #305
Related to #211.

[2016-01-08 15:51] sharwell commented on #741
The latter is related to #211, where the package provides a [UseConfigureAwait](https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/blob/master/AsyncUsageAnalyzers/AsyncUsageAnalyzers/Usage/UseConfigureAwaitAnalyzer.cs) rule that can be enabled in relevant projects.

[2016-01-08 16:44] tmeschter commented on #739
Roslyn has always used different keys for product and test assemblies. The product binaries need to be signed with an official MS key, and getting them fully signed is a lengthy process. Test assemblies do not need the official key, so we use a checked-in key specific to Roslyn.

The end result is that on developer boxes the test assemblies will be fully signed, but the product assemblies will be

[2016-01-08 16:52] bricelam commented on #779
Groovy, thanks. Between all the different projects, it sounds like I have what I need.

From my perspective, this issue can be closed. But there does seem to still be some unresolved discussion...

@michaelcfanning said:

@lgolding said:

[2016-01-08 17:22] michaelcfanning commented on #779
Agreed, there's still some useful discussion here. Factoring checks is an imperfect science. :) One thing I believe, though, is that where a body of analysis coheres, it's best for developers if that topic is covered in a single place. This is the rationale behind grouping the .NET design guidelines in a common place, you care about your API surface area or you don't. I think XML documentation is

[2016-01-08 18:24] sharwell commented on #779
It would be interesting to separate what is currently StyleCop Analyzers into multiple analyzer packages:

1. Spacing, layout, and layout-related readability rules
1. Remaining readability rules and maintainability rules
1. Naming rules
1. Ordering rules
1. Documentation rules

If we did this, we could still have the StyleCop.Analyzers package in NuGet, but it would be a metadata-only package with

[2016-01-08 18:33] srivatsn commented on #615
I agree with the benefits. It would be nice if we had a way of separating the dependencies from the actual analyzers in the UI. Currently we have three dlls for every package (base, C#, VB) and we have one package per contract assembly - when we split the fixers out, it'll be 6 per package and very soon the solution explorer UI will be unwieldy. There are some thoughts around reorganizing the anal

[2016-01-08 18:55] sharwell commented on #615
One thought that comes to mind is making analyzer assemblies that don't contain any analyzers only show in Solution Explorer when Show All Files is checked.

[2016-01-08 19:52] lgolding commented on #739
Thanks @tmeschter. I will try your F5 approach, and I'll also try upgrading to the latest Xunit, and then I'll close this issue with one or the other of those resolutions.

[2016-01-08 20:00] lgolding commented on #539
Hi @mjrousos, any word on this? I'll be happy to take it if you can't get to it.

[2016-01-08 20:28] mjrousos commented on #539
Hi @lgolding. Sorry for the slow progress here. I got the analyzer written fairly quickly but got pulled off onto other work before I could finish a code fix or unit tests. I should be able to get to those over the next couple weeks, though if you'd like to help out that's fine by me. I'm out of the office today, but can push my changes so far to my fork of the repo so that you can see my progress

[2016-01-08 22:04] lgolding commented on #539
Hi @mjrousos thanks for the work so far! One option is for you to push to your fork, add me as a contributor to your fork, and I can add the unit tests and the fixer. Up to you!

[2016-01-08 22:56] jinujoseph commented on #374
Analyzer is complete , pending fixer

[2016-01-09 15:52] sharwell opened #782 "Incorrect report of RS1008 (storing per-compilation data)"
I believe the following will reproduce the issue:

[code]

The warning is reported in the declaration of `SyntaxTreeAction`, on the token `Compilation`.

[2016-01-09 23:07] lgolding commented on #779
@sharwell That's a nice idea. @michaelcfanning, @srivatsn what do you think?

[2016-01-09 23:14] lgolding commented on #682
@sharwell, Are you saying that there are now two implementations of this rule, one in the "unfactored" location in dotnet/roslyn-analyzers, and one in your repository DotNetAnalyzers/PublicApiAnalyzer?

[2016-01-09 23:16] sharwell commented on #682
@lgolding Yes. Actually 3 if you count #780.

For us it doesn't work when it's embedded in the current location in this repository. It has dependencies on recent unstable Roslyn builds and comes with a bunch of unrelated rules that aren't useful to us. The code in the repository I linked to builds against Roslyn 1.0 and just works all on its own. :smile:

[2016-01-09 23:53] lgolding commented on #682
@sharwell

1. Doesn't #780 move it from one place to another, the old place to the new place, still leaving a total of two?

2. You are saying that some or all of the projects in dotnet/roslyn-analyzers build against recent Roslyn builds? If so...

@srivatsn Shouldn't dotnet/roslyn-analyzers always build against a stable Roslyn?

[2016-01-10 23:04] srivatsn commented on #682
We want to write Operation analyzers which is only possible by referencing the latest Roslyn bits.

[2016-01-11 20:29] #541 closed

[2016-01-11 21:59] srivatsn commented on #745
Having {0} would make the messages non-localizable. We can maybe write an analyzer to enforce that only messageformats can differ between descriptors when they have the same id.

[2016-01-11 22:05] srivatsn commented on #770
We've updated the roslyn packages to 1/6's build. This issue should now be fixed for you.

[2016-01-11 22:05] #770 closed

[2016-01-11 22:06] srivatsn commented on #771
We've updated to 1/6's build of Roslyn and we can build the repo again,

[2016-01-11 22:06] #771 closed

[2016-01-11 23:57] lgolding commented on #779
I'd like to close this issue, as @bricelam 's original concern ("where can I find XML doc comment analyzers?") has been addressed. We certainly can and should continue to discuss and refine our plans for factoring analyzers into coherent packages.

Specifically with regard to the StyleCop analyzers, in the near term it's up to @sharwell and his team what they want to do. As we have discussed, one

[2016-01-11 23:57] #779 closed

[2016-01-12 20:41] twsouthwick opened #785 "Unit tests are failing strong name validation for System.Reflection.Metadata"
I did a pull to get all the recent changes, and am encountering tons of test failures with the same stack trace:

[code]

When I look at the System.Reflection.Metadata version number on the assembly in the binary drop folder, it is 4.6.23629.0

[2016-01-12 22:18] mjrousos commented on #539
@lgolding, I've pushed all my changes so far [here](https://github.com/mjrousos/roslyn-analyzers). So far, I've implemented the analyzer and added a simple positive and negative test case. Work still to be done includes:
* Adding a code fix
* Adding more test cases

I should have time to finish this the week after next, but if you want to pick it up in the meantime, that would be great. I'll make

[2016-01-12 22:44] rchande commented on #387
This is done.

[2016-01-12 22:44] #387 closed

[2016-01-12 22:54] srivatsn commented on #552
Implemented by https://github.com/dotnet/roslyn-analyzers/pull/752

[2016-01-12 22:54] #552 closed

[2016-01-12 23:04] srivatsn commented on #785
I just tried this and I'm not running into this issue. The unit test is referencing the 4.6.23629 version of S.R.Metadata. Maybe you have a stale binary from a previous build? Can you clean your binaries directory and try a full rebuild?

[2016-01-13 05:38] srivatsn opened #786 "Add tests for Roslyn internal rules"
Many of the Roslyn internal rules don't have unit tests. List of rules without tests:

- [ ] RS0013 (DoNotInvokeDiagnosticDescriptor)
- [ ] RS0005 (DoNotUseGenericCodeActionCreateToCreateCodeAction)
- [ ] RS0019 (SymbolDeclaredEventMustBeGeneratedForSourceSymbols)
- [ ] RS0004 (BasicInvokeTheCorrectPropertyToEnsureCorrectUseSiteDiagnostics) - VB only analyzer.

[2016-01-14 16:14] bkoelman opened #791 "[Proposal] Generate boilerplate implementation for CA1036"
Currently, the fix for CA1036 generated only method/operator signatures with `throw new NotImplementedException()` in them.

I propose to add a second fix, that generates code whose implementation delegates to Equals/CompareTo instance methods. Alternatively, this could replace the existing fix.

This would be beneficial, as the operators are tricky to get right.

Example generated code for a clas

[2016-01-14 16:19] bkoelman commented on #791
Additionally, the next code could be generated:

[code]

[2016-01-14 17:27] bkoelman opened #792 "CA1401 reports on public method in private nested class"
CA1401 (P/Invoke method should not be visible) reports on a public method that is declared in a private nested class.

Because such a method is effectively invisible from outside the class, I believe this case should not be reported.

Repro example (v1.1.0):

[code]

[2016-01-14 17:42] bkoelman opened #793 "CA2104 reports on immutable readonly field"
The example below reports:
[code]

[code]

This seems like a bug to me, because all members of the base class are readonly, which makes the class immutable. So, `None` would be immutable also, in which case the warning does not apply.

[2016-01-14 17:48] bkoelman commented on #793
Simpler repro (v1.1.0):

[code]

Reports:
[code]

[2016-01-14 23:51] lgolding commented on #785
@twsouthwick are you still seeing this, and is it still blocking your work on #740? Sorry, I've been OOF for 2-1/2 days.

[2016-01-14 23:54] lgolding commented on #539
Thank you @mjrousos. If you think you will have time to complete the work in a couple of weeks, I would prefer that, because I have an analyzer of my own that I keep not having the time to get around to working on. :-)

[2016-01-15 01:07] mjrousos commented on #539
No problem

[2016-01-15 16:57] epsitec opened #796 "Main readme contains broken link for Microsoft.CodeAnalysis.Analyzers"
The Microsoft.CodeAnalysis.Analyzers seem to have moved. The link https://github.com/dotnet/roslyn-analyzers/blob/master/src/CodeAnalysis/Microsoft.CodeAnalysis.Analyzers.md is broken.

[2016-01-15 17:15] twsouthwick commented on #785
I tried what @srivatsn  suggested and I'm still seeing this. I did a `git clean -xfd` and reran `src\.nuget\NuGetRestore.ps1`. I alos tried clearning my nugget cache at `~\.nuget\packages`

[2016-01-15 17:23] #796 closed

[2016-01-15 17:24] srivatsn commented on #796
Thanks. Fixed the link.

[2016-01-15 20:08] lgolding commented on #785
@twsouthwick I am investigating now. @srivatsn FYI

[2016-01-15 20:57] lgolding commented on #785
@twsouthwick, the following worked for me, after the changes I just merged in #797:

* `git fetch upstream`
* `git rebase upstream/master`
* `git clean -xdf`
* From the repo root directory: `cibuild.cmd`.

`cibuild.cmd` is the "official" way to build: It restores NuGet packages, builds, and runs the unit tests. Please try this and let us know if you're fixed.

[2016-01-15 21:32] epsitec commented on #796
Thank you, but the link now seems to point to an empty page.

[2016-01-16 00:00] lgolding commented on #739
I installed the latest xunit.runner.visualstudio (2.1.0) into the project Microsoft.ApiDesignGuidelines.Analyzers.UnitTests, did Run All in the Test Explorer, and got all 1025 test failing with the "strong name signature not verified" error. So it's not fixed in latest Xunit.

Setting the unit test project as the startup project and pressing F5 works as Tom described. So I will close this issue.

[2016-01-16 00:00] #739 closed

[2016-01-19 17:21] srivatsn commented on #760
@qinxgit plans to implement this rule.

[2016-01-19 17:21] srivatsn commented on #759
@qinxgit plans to implement this rule.

[2016-01-19 17:22] srivatsn commented on #758
@qinxgit plans to implement this rule.

[2016-01-19 17:26] srivatsn commented on #532
The rule wasn't removed from FxCop and ships in VS and needs to be reimplemented.

[2016-01-19 18:57] #467 closed

[2016-01-19 22:42] basoundr commented on #461
Awaiting the issue https://github.com/dotnet/roslyn/issues/8032  to be addressed before continuing

[2016-01-20 06:03] srivatsn commented on #553
Clearing the Blocked field since we've updated to a new drop now.

[2016-01-20 06:06] srivatsn commented on #397
PR #740 plans to implement this rule. .

[2016-01-20 12:05] bkoelman commented on #554
In VS2015 Update1, a violation of this rule is reported on:

[code]

which I believe is.... well, at least unfortunate. Because `InformationalVersion` is often used for [semantic versioning](http://semver.org/).

[2016-01-20 12:06] heejaechang commented on #532
anyone knows how to verify signing? I know one way that uses win API but I guess we need other way to do it?

[2016-01-20 17:58] #368 closed

[2016-01-20 19:03] jaredpar opened #806 "Public API checker doesn't properly understand implicit constructors"
If i have public class C { } in v1 of roslyn and i change it to public class C { private C() { } } then this is not caught by the public-api checker.

It also improperly flags public class C { } to public class C { public C() { } } improperly as the addition of a public API.

Migrated from https://github.com/dotnet/roslyn/issues/7574

[2016-01-20 20:50] nguerrera commented on #396
@lgolding @srivatsn How are we tracking fixers now that we're prioritizing analyzers first. Do I leave the issues open until the fixer is implemented or will we create new issues for fixers?

[2016-01-20 21:14] lgolding commented on #396
Leave the issue open and attach the label *Needs-Fixer*. Then we can ask the question "how many analyzers do we have left to write?" by querying for "issue is open AND issue does not have the Needs-Fixer label".

[2016-01-20 21:22] lgolding commented on #554
@bkoelman  That sounds reasonable to me.

[2016-01-21 23:15] Routess opened #810 "CodeDom Analysis Bug on Form Controls"
Happens every time you want to add a vb.net theme to your project and set your project to in in 64x CPU mode.

Error code(s):
AD0001	Die Analyse 'Microsoft.CodeAnalysis.VisualBasic.CodeFixes.SimplifyTypeNames.VisualBasicSimplifyTypeNamesDiagnosticAnalyzer' hat eine Ausnahme vom Typ 'System.ArgumentNullException' mit der Meldung 'Der Wert darf nicht NULL sein.
Parametername: source' ausgelöst.	Wind

[2016-01-22 03:12] AdamSpeight2008 opened #811 "Passed by reference before it has been assigned a value"
[code]

It should also offer code-fix  `assign default value (Nothing)`

**Result:**
[code]

[2016-01-22 04:01] #407 closed

[2016-01-22 04:12] heejaechang commented on #473
@srivatsn I was thinking adding fixer for this rule and decide not to since
1. most of time the diagnostic is location-less diagnostic meaning until we implement codefix from error list, LB doesn't work.
2. in rare case where the attribute exist but has wrong argument such as "" or null, we don't know what locale to put into it. current locale? always english? and etc.

[2016-01-22 04:12] heejaechang commented on #473
should I leave it open for fixer or should I close it?

[2016-01-22 04:14] srivatsn commented on #473
Makes sense. I'll close the issue..

[2016-01-22 04:14] #473 closed

[2016-01-22 21:41] genlu opened #812 "current install scripts in generated NuGet package will not be executed in projects managed by project.json"
As documented at
https://docs.nuget.org/create/creating-and-publishing-a-package

[Roslyn](https://github.com/dotnet/roslyn) is an example. We need to add prop files similar to the following to provide a better experience in such scenario.

[code]

[2016-01-24 22:58] twsouthwick commented on #785
I have tried this multiple ways and keep coming up with it. I'll try it on another (clean) machine tomorrow if no one else has seen this issue.

[2016-01-25 17:01] lgolding commented on #785
@twsouthwick Just to be clear, this repros when you follow the exact set of steps I gave above?

[2016-01-25 18:15] lgolding commented on #553
Analyzer is done. Added Needs-Fixer label.

[2016-01-25 18:40] twsouthwick commented on #785
Yes - I tried your steps. By "multiple ways" I actually meant "multiple times". I just tried in cmd vs powershell vs developer cmd prompt just to verify those environments weren't affecting it and it failed in the same way each time.

[2016-01-25 23:26] lgolding commented on #774
Hi @BGrojer, do you have repro for this? Thanks, Larry

[2016-01-25 23:31] lgolding commented on #359
@tmeschter Hi Tom, this is assigned to me. I don't know anything about how to get the necessary privilege to update the page, or how to do it once I have the privilege. Can you point me to the necessary info? Thanks, Larry

[2016-01-25 23:34] srivatsn commented on #359
The page gets that information from the package itself and I think [this line in our targets file](https://github.com/dotnet/roslyn-analyzers/blob/master/build/Targets/Analyzers.NuGet.Settings.targets#L8) needs to change.

[2016-01-25 23:49] lgolding commented on #383
This can't have a fixer. I mean, it's easy to mark the nested type as `private`, but it's likely to break somebody that's using it.

[2016-01-25 23:50] lgolding commented on #359
Y'know, I searched the string `http://msdn.com/roslyn` in VS and got no matches. It does a poor job of searching in project files. Thanks.

[2016-01-26 20:09] srivatsn commented on #812
For projects with project.json, analyzers are picked up by convention - the tooling that understands project.json will looks for an analyzers directory and will looks for dlls under that per [this convention](https://docs.nuget.org/create/analyzers-conventions). All packages in this repo already follow the convention and therefore would work with project.json based projects.

[2016-01-26 20:09] #812 closed

[2016-01-27 00:15] srivatsn commented on #348
List of rules that are currently written as Syntax analyzers:

- System.Runtime.Analyzers
  - [ ] CA2201 : DoNotRaiseReservedExceptionTypes
  - [ ] CA1820  : TestForEmptyStringsUsingStringLength
  - [ ] CA2002 : DoNotLockOnObjectsWithWeakIdentity
  - [ ] CA1309 : UseOrdinalStringComparison

- System.Runtime.InteropServices.Analyzers
  - [ ] RS0015: AlwaysConsumeTheValueReturnedByMethodsMarkedWithP

[2016-01-27 17:57] #383 closed

[2016-01-27 18:48] amcasey opened #821 "Public API checker seems to ignore readonly properties in VB"
I added a new public readonly property to the public type `VisualBasicScript`:

[code]
1. The analyzer doesn't prompt me to add an entry to the public API file.
2. If I add it myself, I get an error:

[code]

[2016-01-27 18:48] amcasey commented on #821
FYI @mavasani

[2016-01-27 18:55] #359 closed

[2016-01-28 20:08] lgolding commented on #451
@sharwell and @bondsbw, these are good suggestions.

We are capturing suggestions for behavior changes to the ported FxCop rules in the document [Proposed FxCop rule changes in Roslyn](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/FxCopPort/Proposed%20FxCop%20rule%20changes%20in%20Roslyn.md). As that document explains, the Roslyn implementations will initially follow the FxCop implem

[2016-01-29 15:51] morrisjoe commented on #382
Code complete. Under code review.

[2016-01-29 16:41] #469 closed

[2016-01-29 23:55] #389 closed

[2016-02-02 23:23] lgolding commented on #387
It was done in PR #738.

[2016-02-03 18:50] davkean opened #829 "Public API checker crashes when there's duplicate symbols in the txt file"
[code]

[2016-02-04 23:26] morrisjoe commented on #382
Pull Request Accepted and Code Merged

[2016-02-04 23:26] #382 closed

[2016-02-05 06:53] duracellko commented on #785
Have you had any luck solving this problem? I am facing the same issue. I checked strong-name of the System.Reflection.Metadata and it said "a delay-signed or test-signed assembly". Is this supposed to be correct?

[2016-02-05 06:56] srivatsn commented on #785
I just remembered that my machine has signing verification turned off. The interim build of System.Reflection.Metadata that's currently consumed is not fully signed and so if you try running `sn -Vr *` from an admin command prompt and then run the tests, does that fix the issue for you?

[2016-02-05 16:38] duracellko commented on #785
Command `sn -Vr *` works. Thank you.

[2016-02-08 16:38] AdamSpeight2008 opened #832 "New issue Request: Make generic types with explicit layout a compiler error"
Originally posted by @leppie ([here](https://github.com/dotnet/roslyn/issues/8456))

-----
The following compiles, but results in a TypeLoadException:

[code]

Could not load type 'Union`2' ... `because generic types cannot have explicit layout.`
Given it will always fail at runtime, should this not be considered to be a compiler error instead?

-----

[2016-02-08 22:54] lgolding opened #833 "Provide NuGet packages for all analyzer projects"
Make NuGet packages for the following analyzer projects available on http://nuget.org:

* [ ] ApiReview.Analyzers
* [ ] Desktop.Analyzers
* [ ] Microsoft.ApiDesignGuidelines.Analyzers
* [ ] Microsoft.CodeAnalysis.Analyzers
* [ ] Microsoft.Composition.Analyzers
* [ ] Microsoft.Maintainability
* [ ] Microsoft.QualityGuidelines.Analyzers
* [ ] Roslyn.Diagnostics.Analyzers
* [ ] System.Collections.Imm

[2016-02-09 21:24] lgolding commented on #758
Implemented in #705.

[2016-02-09 21:24] #758 closed

[2016-02-10 01:08] JoshVarty commented on #785
Can we get a signed build of `System.Reflection.Metadata` or at least delay sign it?

Failing that, the `sn -Vr *` step should be added to the README.

[2016-02-10 14:35] StilgarISCA commented on #695
:-1: on this decision. Despite the fact that this causes a lot of false positives, I think it's worth keeping the rule for the correctly identified issues. End users always have the option of disabling rules for which they find no value.

[2016-02-10 17:41] lgolding commented on #785
@JoshVarty, I added the following to the [README](https://github.com/dotnet/roslyn-analyzers/blob/master/README.md):

**NOTE** The current build of System.Reflection.Metadata (from NuGet package System.Reflection.Metadata.1.2.0-rc2-23629) is unsigned. This causes unit tests to fail. To work around this problem until a new, signed version is available, give the command
[code]
which will cause the C

[2016-02-10 18:28] lgolding commented on #695
@StilgarISCA Thanks for the feedback, Glenn. We have a document [Proposed FxCop rule changes in Roslyn](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/FxCopPort/Proposed%20FxCop%20rule%20changes%20in%20Roslyn.md) where we are tracking community feedback on the decisions we've made on which rules to port and how to implement them. I've added your feedback to this document.

At some tim

[2016-02-10 19:34] JoshVarty commented on #785
:+1:

[2016-02-12 18:25] mavasani opened #838 "Enhance RegisterActionAnalyzer for Operation analyzers"
[RegisterActionAnalyzer](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/RegisterActionAnalyzer.cs) currently provides valuable diagnostics about incorrect invocations of `Register` methods on various analysis contexts. We should enhance this analyzer to handle Operation action registration.

[2016-02-12 19:37] basoundr commented on #460
This needs the new Roslyn bits that will have the issue https://github.com/dotnet/roslyn/issues/7293 fixed.

[2016-02-12 21:22] lgolding commented on #451
Reopening: analyzer is done; but needs fixer. Added Needs-Fixer later.

[2016-02-13 00:39] heejaechang opened #845 "make RS1008 to ignore nested struct as well"
right now, if nested class in diagnostic analyzer has roslyn symbols as field, we don't issue RS1008 but it looks like we missed struct case.

[2016-02-13 00:39] heejaechang commented on #845
once it is fixed we can remove supress on https://github.com/dotnet/roslyn-analyzers/pull/844/files

[2016-02-13 01:00] mavasani opened #846 "Use the new analyzer APIs for improved performance and reduced noise"
We have added 2 new APIs in the analyzer API post 1.0 release:

1. [EnableConcurrentExecution](http://source.roslyn.io/Microsoft.CodeAnalysis/R/2e30400939d8ea18.html) to mark analyzer for concurrent callbacks and

2. [ConfigureGeneratedCodeAnalysis](http://source.roslyn.io/Microsoft.CodeAnalysis/R/8ad6fce3f1aa14b1.html) to reduce noise on generated code.

We should go through all of our analyzers

[2016-02-13 06:07] srivatsn commented on #466
Analyzer implemented in #840. It is possible to add a fixer for the simple cases where the array is initialized with an expression. We can get to that when we do a pass to add fixer. Marking as needs fixer.

[2016-02-16 18:23] mavasani opened #847 "DiagnosticAnalyzerAttributeAnalyzer throws a NullReferenceException when DiagnosticAnalyzer is on base class and derived in separate assemblies"
Ported from https://github.com/dotnet/roslyn/issues/8601

I had the following warning show up in my VS error window:

[code]

I tracked it down to a base class having a `DiagnosticAnalyzerAttribute` as well as a derived one. Once I removed it on the base class (which wasn't necessary since it was an abstract class), the warning went away. I could only repro it, though, when the base and the derive

[2016-02-16 18:31] mavasani opened #848 "CA1802 false positive when initializer contains expression with constant"
Ported from https://github.com/dotnet/roslyn/issues/8600

Consider the following field on some class `C`:

    static readonly int F = DateTime.Now.Second == 0 ? 1 : 2;

It generates the following Code Analysis warning:

[2016-02-16 18:38] mavasani opened #849 "Analyzer 'Microsoft.ApiDesignGuidelines.Analyzers.ExceptionsShouldBePublicAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null. Parameter name: item'"
1. Clean RoslynDev hive on your machine
2. Get latest sources of roslyn and build
3. Get latest sources of roslyn-analyzers and build
4. devenv /rootsuffix RoslynDev
5. Open Roslyn.sln

Got the following AD0001 in the error list:

[code]

[2016-02-16 18:47] mavasani opened #850 "Analyzer 'System.Runtime.Analyzers.CSharpAvoidZeroLengthArrayAllocationsAnalyzer' threw an exception of type 'System.InvalidCastException' with message 'Specified cast is not valid.'."
1. Clean RoslynDev hive on your machine
2. Get latest sources of roslyn and build
3. Get latest sources of roslyn-analyzers and build
4. devenv /rootsuffix RoslynDev
5. Open Roslyn.sln

Got the following AD0001 in the error list:
[code]

[2016-02-16 22:26] heejaechang opened #851 "DeclarePublicAPIAnalyzer should support this pattern - https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optional%20Parameters%20in%20Public%20API.md"
currently even if one follows the guide line (https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optional%20Parameters%20in%20Public%20API.md), DeclarePublicAPIAnalyzer still flag it as error.

we should make the analyzer to understand this pattern so that we can add new API with optional parameters.

[2016-02-16 23:40] srivatsn commented on #252
Tracked by #388

[2016-02-16 23:40] #252 closed

[2016-02-16 23:41] srivatsn commented on #388
Implemented analyzer in #842

[2016-02-16 23:43] #547 closed

[2016-02-16 23:52] srivatsn commented on #539
PR for this rule - https://github.com/dotnet/roslyn-analyzers/pull/828

[2016-02-16 23:54] srivatsn commented on #785
Closing this issue since the readme entry has been added,

[2016-02-16 23:54] #785 closed

[2016-02-16 23:59] srivatsn commented on #461
Removing the blocked tag since @JohnHamby suggested a way of implementing this without needing IsLValue

[2016-02-17 03:44] nguerrera commented on #785
Hang on. Where did that build come from? I'm very surprised there was an unsigned version being used. cc @tmat, @ericstj.

[2016-02-17 17:41] srivatsn commented on #415
Removing community tag since @qinxgit is not going to be able to get to this.

[2016-02-17 17:41] srivatsn commented on #413
Removing community tag since @qinxgit is not going to be able to get to this.

[2016-02-17 17:42] srivatsn commented on #412
Removing community tag since @qinxgit is not going to be able to get to this.

[2016-02-17 19:04] srivatsn commented on #785
From the myget feed. We snapped to some intermediate build. If the latest binaries on MyGet are signed then this will get fixed when we update package references.

[2016-02-17 21:08] genlu commented on #412
I have an prototype for this rule here:
https://github.com/genlu/roslyn-analyzers/commit/6382e0cdb2c9dad086eddb596037fceac6e5be0c

Anyone who picks up this work, please feel free to use that code :)

[2016-02-17 21:08] genlu commented on #413
I have an prototype for this rule here:
https://github.com/genlu/roslyn-analyzers/commit/6382e0cdb2c9dad086eddb596037fceac6e5be0c

Anyone who picks up this work, please feel free to use that code :)

[2016-02-17 21:08] genlu commented on #415
I have an prototype for this rule here:
https://github.com/genlu/roslyn-analyzers/commit/6382e0cdb2c9dad086eddb596037fceac6e5be0c

Anyone who picks up this work, please feel free to use that code :)

[2016-02-17 21:16] mavasani opened #854 "Analyzer 'Desktop.Analyzers.TypesShouldNotExtendCertainBaseTypesAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null. Parameter name: item'."
1. Clean RoslynDev hive on your machine
2. Get latest sources of roslyn and build
3. Get latest sources of roslyn-analyzers and build
4. devenv /rootsuffix RoslynDev
5. Open Roslyn.sln

Got the following AD0001 in the error list:
[code]

[2016-02-17 21:18] mavasani opened #855 "Analyzer 'Desktop.Analyzers.CSharpDoNotUseInsecureDTDProcessingAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'"
1. Clean RoslynDev hive on your machine
2. Get latest sources of roslyn and build
3. Get latest sources of roslyn-analyzers and build
4. devenv /rootsuffix RoslynDev
5. Open Roslyn.sln

Got the following AD0001 in the error list:
[code]

[2016-02-17 21:19] mavasani commented on #855
Seems like NRE in AnalyzerUtilties.

[2016-02-18 00:16] basoundr commented on #456
#852 Implements the analyzer

[2016-02-19 00:27] mavasani commented on #277
This seems to be fixed in the new solution.

[2016-02-19 00:27] #277 closed

[2016-02-19 00:57] mavasani commented on #829
This seems like a dupe of https://github.com/dotnet/roslyn-analyzers/issues/312, which was fixed after we last upgraded our Roslyn diagnostics nuget dependency in Roslyn.sln. We just need to update Roslyn.sln to consume newer analyzers - this is currently in progress.

[2016-02-19 00:57] #829 closed

[2016-02-19 00:59] mavasani commented on #746
This is blocked on dotnet/roslyn#7282, moving to Unknown milestone.

[2016-02-22 15:58] srivatsn opened #863 "Make the analyzer that warns about ISymbol derivations warn about IOperation as well."
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

DoNotDerviceFromISymbol

Extend this analyzer to warn about IOperation as well.

[2016-02-22 16:27] lgolding opened #864 "Scrub diagnostic messages for all FxCop replacement analyzers"

[2016-02-22 18:52] lgolding commented on #459
Items with the Needs-Fixer label need to be left open.

[2016-02-23 00:32] nguerrera opened #865 "EquatableAnalyzer does not have help URL(s)"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

EquatableAnalyzer

#### Repro steps

Inspect source, see no help URL anywhere.

(My actual repro/discovery involved bad code in binskim prototype assuming help uri is always present. I'm sure there are VS scenarios impacted here, but I don't have the precise repro steps.)

#### Expected behavior

There should be a help

[2016-02-23 22:32] duracellko commented on #845
when it is fixed, suppress warning can be removed on https://github.com/dotnet/roslyn-analyzers/pull/866/files

[2016-02-25 18:08] srivatsn commented on #404
This rule should play nice with CodeContracts - see issue [here](https://social.msdn.microsoft.com/Forums/en-US/8016ba58-8ae1-483e-90ac-d14a4cb73a7c/ca1062-code-analysis-rule-is-broken-by-code-contracts?forum=codecontracts)

[2016-02-25 18:23] mavasani commented on #459
Removing my assignment till we get to the fixers..

[2016-02-25 18:33] mavasani opened #869 "Create a script to execute Roslyn-analyzers signed build and upload/pin the nuget packages to myget"
Feed details: https://www.myget.org/feed/Details/roslynanalyzers

[2016-02-25 18:33] mavasani commented on #869
FYI @lgolding

[2016-02-25 18:39] mavasani opened #870 "Rationalize the diagnostic IDs for rules in refactored packages"
For example, we have moved out the rules from Roslyn.Diagnostics.Analyzers package to multiple other packages. For some of them, we have chosen an arbitrary CAXXXX ID and for others we have retained the original RSXXXX IDs.

We need to take a pass over all packages, and assign specific CA ID ranges to packages so we avoid duplicates, have a proper range ID for future rules - I am assuming that in

[2016-02-25 18:49] michaelcfanning opened #871 "CSharpDoNotUseInsecureDTDProcessingAnalyzer name doesn't meet standard"
CSharpDoNotUseInsecureDTDProcessingAnalyzer should be CSharpDoNotUseInsecureDtdProcessingAnalyzer

as DTD does not conform to the .net guidelines.

[2016-02-25 22:15] mavasani opened #872 "Cleanup the namespaces for C# and VB analyzer/fixer projects"
We seem to follow different conventions for namespaces in C# and VB analyzer projects. For example, all the analyzers in `System.Runtime.CSharp.Analyzers` and `System.Runtime.VisualBasic.Analyzers` are under namespace `System.Runtime.Analyzers` which doesn't have the CSharp or VisualBasic suffix. On the other hand, the analyzers in `CSharpCodeAnalysisDiagnosticAnalyzers` and `BasicCodeAnalysisDiag

[2016-02-25 22:35] srivatsn commented on #872
Rule namespaces in the ruleset is not the source namespace of the rule. It's a namespace used to disambiguate rules in the ruleset editor. It's not used as far as I know.

That's not an argument against cleaning this up though.

[2016-02-29 22:18] lgolding opened #875 "CA2235: Remove special case code for primitive types"
#### Analyzer package

Desktop.Analyzers
#### Analyzer

MarkAllNonSerializableFields
#### Repro steps
1. Create a class
2. Mark it `[Serializable]`
3. Add a member of a serializable .NET class such as `Regex`
#### Expected behavior

CA2235 should not issue a diagnostic for the `Regex` member.
#### Actual behavior

CA2235 issues a diagnostic for the `Regex` member.
#### Explanation

CA2235 does not

[2016-02-29 22:20] #865 closed

[2016-03-01 06:00] srivatsn commented on #405
The IDE already has a fixer to implement the full IDisposable pattern. We should tweak that to implement the incomplete parts of the pattern.

[2016-03-01 06:02] srivatsn commented on #379
Analyzer implemented by https://github.com/dotnet/roslyn-analyzers/pull/837

[2016-03-01 06:16] srivatsn commented on #759
Fixed by #816

[2016-03-01 06:16] #759 closed

[2016-03-01 06:17] srivatsn commented on #760
Fixed by #817

[2016-03-01 06:17] #760 closed

[2016-03-01 21:07] #539 closed

[2016-03-01 21:14] lgolding commented on #539
I added the Needs-Fixer label because I thought I remembered there was still work to do on that. But I looked back at the comments in the PR #828, and what it actually says is that if, in future, we modify the analyzer to fire on the property in the case where the accessors do not explicitly specify a visibility, then we should modify the fixer to highlight the property instead of the accessors. A

[2016-03-02 22:22] lgolding opened #881 "Allow unit tests to modify the Project created by the Verify methods"
**Motivation**: I'm writing analyzer CA1812, AvoidUninstantiatedInternalClasses. The idea is if you have an internal class, and nobody in the assembly it lives in ever instantiates it, then it's useless, because nobody outside of the assembly can see it to instantiate it.

There are certain exceptions; for example, we don't report a diagnostic if the class contains the program entry point:

[code]

[2016-03-10 06:04] #379 closed

[2016-03-10 17:30] basoundr commented on #457
StyleCop has a [PR](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2015) submitted for this

[2016-03-11 18:34] srivatsn commented on #869
Let's track this as part of #278

[2016-03-11 19:40] lgolding commented on #447
I don't see the string "IdentifiersShouldNotHaveIncorrectSuffix" in the DotNetAnalyzers/StyleCopAnalyzers repo. I'll check with @sharwell.

[2016-03-11 22:05] lgolding commented on #446
Per @sharwell, StyleCopAnalyzers has _not_ implemented this rule.

[2016-03-11 22:05] lgolding commented on #447
Per @sharwell, StyleCopAnalyzers has _not_ implemented this rule.

[2016-03-12 23:22] lgolding opened #883 "Analyzers project is misnamed"
The project file src\System.Security.Cryptography.Hashing.Algorithms.Analyzers\CSharp\System.Security.Cryptography.Hashing.CSharp.Algorithms.csproj is misnamed. It should be named System.Security.Cryptography.Hashing.Algorithms.CSharp.Analyzers.csproj to match the assembly it builds.

The misnamed project file does build the correct assembly. The corresponding VisualBasic project file is correctly

[2016-03-14 15:03] msmolka commented on #291
I'm not using FxCopAnalyzers and have this issue. How can I solve it, it cannot be suppressed? I'm using pure Visual Studio 2015.

[2016-03-14 15:17] lgolding commented on #291
@msmolka Is it an option for you to change the code

[code]

to this:

[code]

?

[2016-03-14 16:01] msmolka commented on #291
Yes, this is not causing analyzers issue, but don't allow use new null propagation. So what is a purpose of won't fix? The solution on bug in analyzers is not to use new C# features?

[2016-03-14 16:11] lgolding commented on #291
@msmolka The rationale for not fixing this is that it was a very noisy rule, and our opinion was that it wasn't valuable enough to do the work necessary to reduce the noise. See #695 for discussion. Not everybody agrees with the decision to cut this rule, and we're tracking the issue for future consideration in the document [Proposed FxCop rule changes in Roslyn](https://github.com/dotnet/roslyn-a

[2016-03-14 16:14] srivatsn commented on #291
Given the noise level of this rule, I would suggest turning off the rule from the ruleset editor to avoid this issue.

[2016-03-14 16:55] msmolka commented on #291
Thank you for your answer. Basically I like this warning, because it keeps code clean. I also like null propagation, so I would like to have both this features.

[2016-03-14 17:12] srivatsn commented on #291
Thanks for the feedback. We'll re-consider this decision once we're done with the first round of implementing the rules that have been identified as high-value (based on low noise and high usage).

[2016-03-16 20:41] lgolding commented on #472
No need to assign me, this is done.

[2016-03-16 20:43] lgolding commented on #472
I've looked at the unit tests and they look good and they pass. Verified.

[2016-03-18 11:48] alrz opened #884 "Request: Add named arguments analyzer"
Named arguments are a great feature to write self-documented code, but if the original author didn't write them you should write every argument by hand which is kinda cumbersome. Also, when you write named arguments you might write them in a random order that makes the compiler to introduce locals to preserve side-effects in order. It would be nice to (1) have an analyzer add all named arguments f

[2016-03-18 19:11] lgolding commented on #628
This analyzer would require dataflow analysis (for example, to verify that information provided by a user contributed to the construction of a SQL command). At present, Roslyn does not support dataflow analysis.

For this reason, we have decided not to port CA2100 from FxCop to Roslyn analyzers. If in future Roslyn supports dataflow analysis, we will revisit this check.

[2016-03-18 19:13] lgolding commented on #282
Closing this, as we have decided not to port CA2100 to Roslyn. See #628 for explanation.

[2016-03-18 19:13] #282 closed

[2016-03-18 23:34] alrz commented on #884
I wanted to open a PR for this but I don't know where exactly this should be.

[2016-03-20 11:19] #884 closed

[2016-03-22 20:46] DarkBond commented on #459
I don't know what the status of this is, but I have the latest StyleCop on 3/22/2016 and I'm getting a CA1801 violation on an interface implementation.  As we have no choice when implementing an interface and it's parameters, CA1801 on an interface method appears to be less than  useless.

[2016-03-22 23:27] lgolding commented on #459
Hi @DarkBond, could you please attach a source code sample that shows this problem. Also, could you please tell us exactly how/where you got the analyzer package you are running. Did you get it from NuGet.org, or MyGet? What is its name and version number? The Roslyn analyzer for rule CA1801 is implemented in a NuGet package named Microsoft.Maintainability.Analyzers.

Thanks,
Larry

@mavasani @sri

[2016-03-23 11:57] DarkBond commented on #459
Larry,

                I thought I was up to rev. on StyleCop.Analyzers, but last night when I went to repro, I found some new updates available.  I pulled down the new package and a batch of new violations popped out (e.g. warning SA1625).  I'll let you know if it’s still an issue after I’ve cleaned out the new warnings.  I wasn’t able to repro on a fresh version of the interface, so it likely h

[2016-03-23 13:14] lgolding commented on #459
Dan, I think there is some confusion. The StyleCop  analyzers don't come from the roslyn-analyzers repo. They come from the repo https://github.com/DotNetAnalyzers/StyleCopAnalyzers, which is produced by @sharwell and his team.

The StyleCop analyzers use rule ids starting with "SA". The roslyn-analyzers use rules starting with "CA". So I'm about confused what you mean by saying that the StyleCop

[2016-03-23 13:19] lgolding commented on #459
I looked at the current [implementation](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.Maintainability.Analyzers/Core/ReviewUnusedParameters.cs) of our rule CA1801, and it correctly handles interfaces (see [Line 75](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.Maintainability.Analyzers/Core/ReviewUnusedParameters.cs#L75)). There is a [unit test](https

[2016-03-23 15:55] DarkBond commented on #459
Larry,

                I’m terribly sorry, but it was my mistake.  I had a method that was almost identical to the one in the interface.  I was so blind with fatigue I couldn’t see the extra letters.

                Please remove the item as non-reproducable.  Sorry to have wasted your time chasing this.

Regards,

Don Airey

From: Larry Golding [mailto:notifications@github.com]
Sent: Wednesday,

[2016-03-23 15:59] lgolding commented on #459
Don, that's quite alright!

Just to remove my remaining confusion, are you in fact using the Microsoft Roslyn analyzers from the NuGet package Microsoft.MaintainabilityGuidelines.Analyzers? And are you _also_ using the StyleCop analyzers from https://github.com/DotNetAnalyzers/StyleCopAnalyzers? And did that cause you confusion about which package the diagnostic "CA1801" came from?

Larry

[2016-03-23 18:38] DarkBond commented on #459
I'm using the integrated Code Analysis in Visual Studio 2015 (formerly known as FxCop, I believe) and the 'Microsoft All Rules' setting.  I am using the StyleCop analyzer from https://github.com/DotNetAnalyzers/StyleCopAnalyzers, so 'yes' to the second question.  The reason for the confusion was that I googled 'CA1801' and it brought me to this page so I mistakenly thought it was a StyleCop issue

[2016-03-23 19:09] lgolding commented on #459
That's ok, we all have days like that :-) Glad I could help!

[2016-03-24 20:25] dotMorten opened #887 "Add an analyzer that ensures all sections of code summaries are present"
#### Analyzer package

XmlDocumentationComments.Analyzers

#### Analyzer

EnsureAllCodeSummaryParametersArePresent.cs (suggested)

#### Repro steps

The moment you add a `<summary/>`, the default missing doc warnings goes away. However if a `<returns/>` or` <param/>` tag is missing no warning is generated.

#### Expected behavior

A warning is generated if a `<returns />` or `<param />`section is

[2016-03-24 21:38] lgolding opened #888 "Hide language-dependent code behind an interface"
In PR #885, I introduced language-dependent utility assemblies to hold methods such as `IsAssignableTo`, which are not exposed by Roslyn's language-agnostic APIs.

@mavasani suggests that we define an interface `ISemanticFactsService` with methods such as `IsAssignableTo` in the core utilities assembly. He [wrote](https://github.com/dotnet/roslyn-analyzers/pull/885/files/849300414b81e3dabe90698141

[2016-03-24 21:41] srivatsn commented on #888
How will this work in the compilers where there's no MEF?

[2016-03-24 21:42] lgolding commented on #888
I didn't know the compilers didn't have MEF. Does that kill this idea?

[2016-03-24 21:42] srivatsn commented on #888
I think so. There's no form of dependency injection in the compilers.

[2016-03-24 21:43] srivatsn commented on #888
@mavasani - am I missing something?

[2016-03-24 21:43] lgolding commented on #888
OK, closing. @mavasani FYI.

[2016-03-24 21:43] #888 closed

[2016-03-24 21:44] mavasani commented on #888
Probably some day compiler will support MEF :)

[2016-03-24 21:48] srivatsn commented on #888
:) We tried the last release and gave up.

[2016-03-24 23:57] mavasani commented on #416
Re-opening for fixer implementation, the analyzer has been implemented.

[2016-03-25 18:34] basoundr commented on #460
issue https://github.com/dotnet/roslyn/issues/7293 has been fixed. This is no longer blocked

[2016-03-28 16:20] mavasani commented on #380
Re-opening for the fixer implementation.

[2016-03-28 21:48] mavasani opened #895 "CA1815 (OverrideEqualsAndOperatorEqualsOnValueTypesAnalyzer) should not fire on internal types"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

OverrideEqualsAndOperatorEqualsOnValueTypesAnalyzer

#### Repro steps

This rule was implemented as RS0009 in Roslyn diagnostic analyzers and no issues of this rule were reported on Roslyn.sln. On attempting to move Roslyn.sln to the new analyzer packages, I am seeing large number of reports of CA1815, almost all of the

[2016-03-28 22:05] mavasani commented on #850
This is showing up when trying to move Roslyn.sln to new analyzer packages. Need to re-enable this rule on Roslyn.sln once this issue is fixed and Roslyn moves to newer analyzer packages.

[2016-03-29 00:13] #895 closed

[2016-03-29 18:30] #850 closed

[2016-03-29 19:06] mavasani opened #899 "CA1815 doesn't match FxCop implementation"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

OverrideEqualsAndOperatorEqualsOnValueTypesAnalyzer

#### Repro steps

Ensure that this analyzer matches the [FxCop implementation](http://index/#PerformanceRules/OverrideEqualsAndOperatorEqualsOnValueTypes.cs,efc044ee49e4baf8). We are seeing lot of false reports for this rule on Roslyn.sln, hence I am disabling it till

[2016-03-30 05:42] mavasani opened #903 "error CS0009: Metadata file 'D:\j\workspace\windows_debug---c729d7ab\Binaries\Debug\Microsoft.CodeAnalysis.CSharp.dll' could not be opened"
See http://dotnet-ci.cloudapp.net/job/dotnet_roslyn-analyzers/job/master/job/windows_debug_prtest/46/

[code]

[2016-03-30 15:00] srivatsn commented on #444
Analyzer has been implemented. Marking it as "Needs-Fixer"

[2016-03-31 16:40] srivatsn commented on #537
Analyzer implemented by #907. There's no good fix that we can offer here. Just removing the throw is probably not correct and instead the error needs to be handled differently.

[2016-03-31 16:40] #537 closed

[2016-03-31 16:41] srivatsn commented on #446
Analyzer implemented by #901. Needs fixer.

[2016-03-31 16:55] mavasani commented on #278
We already have a myget feed now, the only part remaining is #869

[2016-03-31 17:04] mavasani commented on #854
This was fixed by 3af1625c

[2016-03-31 17:04] #854 closed

[2016-03-31 17:08] basoundr commented on #460
#906 implements the analyzers. Adding Needs-Fixer

[2016-03-31 17:20] basoundr commented on #461
#894 implements the analyzer. Adding the Needs-Fixer label

[2016-03-31 19:28] #398 closed

[2016-03-31 19:28] #399 closed

[2016-03-31 19:28] #400 closed

[2016-03-31 23:47] mavasani commented on #838
Tracking this as part of https://github.com/dotnet/roslyn-analyzers/issues/737

[2016-03-31 23:47] #838 closed

[2016-04-01 18:00] basoundr commented on #412
#910 implements the analyzer. Adding the needs-Fixer label

[2016-04-01 22:54] #737 closed

[2016-04-01 23:28] kuhlenh opened #4898 "Code Quality: Give warning if have multiple enumerations of an IEnumerable"
Filed on behalf of a customer from interviews.

Note: he especially wanted this for EF cases

[2016-04-03 16:14] Dresel commented on #833
+1

[2016-04-03 18:03] mavasani commented on #833
We now have a public myget feed for analyzers: https://www.myget.org/F/roslynanalyzers/api/v3/index.json

This feed has 1.2.0-beta1 build, which has IOperation based analyzers. Consumers must add IOperation feature flag to their projects to use these analyzers.

We should create the nuget feed when we are ready to release 1.2.0 build.

[2016-04-03 18:05] mavasani commented on #833
Also note that you need VS2015 Update2 to see intellisense diagnostics from IOperation analyzers.

[2016-04-03 18:36] Dresel commented on #833
Great, thanks for letting us know.

[2016-04-04 07:37] bitbonk commented on #305
So why is **Microsoft.ApiDesignGuidelines** and some others still not on Nuget? [The lesser scotts demoed them at Build 2016](https://channel9.msdn.com/Events/Build/2016/B891) and now everyone wants to use them :)

[2016-04-04 18:32] srivatsn commented on #305
There are analyzers in those package that use a new API (`IOperation`) that's only in roslyn 1.2 which just got uploaded to NuGet. We'll upgrade to that version and release the analyzer packages on NuGet. It'll be a preview because IOperation support is still experimental.

[2016-04-05 02:31] natidea commented on #375
MSDN: https://msdn.microsoft.com/en-us/library/3hk32yyz.aspx

[2016-04-05 20:19] #542 closed

[2016-04-06 21:44] srivatsn commented on #532
We’ve updated the guidance on [msdn](https://msdn.microsoft.com/en-us/library/wd40t7ad(v=vs.110).aspx) to say strong naming only gives you unique identity and that one shouldn't rely on strong names for security. Given that this rule is far less useful now. It's also historically something that's had very high noise since it fires on delay-signed assemblies as well. So there's not much point in re

[2016-04-06 21:44] #532 closed

[2016-04-06 23:25] srivatsn commented on #848
Presumably this was reported on the Fxcop rule - we need to ensure that the analyzer doesnt have this problem.

[2016-04-06 23:38] srivatsn commented on #793
FxCop's implementation of CA2104 basically had a list of type that were known to have immutable semantics and it considered anything else mutable. It didnt really check for immutability of a type which requires complicated analysis. We've decided to not reimplement CA2104 as an analyzer (see https://github.com/dotnet/roslyn-analyzers/issues/716) since in it's current form it is very noisy.

[2016-04-06 23:38] #793 closed

[2016-04-06 23:40] srivatsn commented on #810
Seems like a dupe of https://github.com/dotnet/roslyn/issues/6682

[2016-04-06 23:40] #810 closed

[2016-04-07 00:02] bkoelman commented on #793
Ah, I did not know about the hard-coded list. Thanks for the update.

[2016-04-07 21:04] natidea commented on #849
Well, this is quite odd. The [offending line](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/Core/ExceptionsShouldBePublic.cs#L68) is:

[code]
Somehow symbol.BaseType is null. Is this some kind of multi threading issue?

[2016-04-07 21:08] mavasani commented on #849
@natidea were you able to repro it locally? The repro call stack was collected a while back and it is likely the source file has changed since. I know @nguerrera fixed a bunch of NREs when doing his testing, this might be one of them?

[2016-04-07 21:08] mavasani commented on #849
Can you check the source file history?

[2016-04-07 21:23] nguerrera commented on #849
Yes. I fixed a few places where the assumption of BaseType != null was wrong. That looks like one of them: https://github.com/dotnet/roslyn-analyzers/commit/3af1625c2bf4efb66c0e35a89e7347c4476a26e0

[2016-04-07 21:24] nguerrera commented on #849
Perhaps that fixed this?

[2016-04-07 21:25] natidea commented on #849
Yes, I think it likely has been fixed. I'll confirm it does not repro locally and close this bug.

[2016-04-07 21:28] mavasani commented on #849
You can probably close it outwithout attempting to repro if the fix was explicitly adding a null check. I plan to re-run the repro with all analyzers enabled pretty soon.

[2016-04-07 22:54] bartonjs opened #916 "System.Security.Cryptography.Hashing.Algorithms.Analyzers has misleading name"
System.Security.Cryptography.Hashing.Algorithms was merged into System.Security.Cryptography.Algorithms back in the beta 7 timeframe.

We finally delisted the old package today, and noticed https://www.nuget.org/packages/System.Security.Cryptography.Hashing.Algorithms.Analyzers/, which uses the old name in both its title and description.

[2016-04-11 18:34] srivatsn commented on #916
Assigning to @lgolding since #883 is related as well.

[2016-04-12 05:12] basoundr commented on #413
#912 implements this rule

[2016-04-12 05:13] basoundr commented on #415
#915 implements this rule

[2016-04-12 05:16] mavasani commented on #415
Don't we need fixer for this rule?

[2016-04-12 05:18] basoundr commented on #415
Yes, we do and thats why I have added the Needs-Fixer label

[2016-04-12 05:19] mavasani commented on #415
We should keep the issue open right?

[2016-04-12 05:28] basoundr commented on #415
Yes, we do. My mistake, I issued 'Comment & Close' instead of just 'Comment'

[2016-04-12 05:29] basoundr commented on #413
Closed it by mistake. Reopening

[2016-04-12 17:01] #457 closed

[2016-04-14 05:43] srivatsn commented on #833
This is now done.

[2016-04-14 05:43] #833 closed

[2016-04-14 05:52] srivatsn commented on #476
Blocked on dataflow analysis

[2016-04-14 17:25] srivatsn opened #919 "CA1051 is missing a few cases that FxCop used to cover"
#### Analyzer package

Example: Microsoft.ApiDesignGuidelines.Analyzers
#### Analyzer

Example: DoNotDeclareVisibleInstanceFields

See https://github.com/dotnet/roslyn-analyzers/pull/740#discussion_r58753591 for more details

[2016-04-14 17:27] #397 closed

[2016-04-14 17:27] #533 closed

[2016-04-14 17:30] srivatsn commented on #533
The right fix is to convert the field to a property and invoking the lightbulb on a field will bring up the "Encapsulate field" refactoring. So no fixer has been implemented for this rule and the stubs have been deleted.

[2016-04-14 17:30] srivatsn commented on #397
The right fix is to convert the field to a property and invoking the lightbulb on a field will bring up the "Encapsulate field" refactoring. So no fixer has been implemented for this rule and the stubs have been deleted.

[2016-04-14 17:37] #388 closed

[2016-04-14 18:04] srivatsn commented on #279
Verified that this is fixed.

[2016-04-14 18:04] #279 closed

[2016-04-14 19:14] mavasani commented on #774
This analyzer has been rewritten as an IOperation analyzer - closing this out as the original code doesn't exist anymore. Kindly reopen if you hit an exception in the newly written analyzer.

[2016-04-14 19:14] #774 closed

[2016-04-14 19:23] mattwar opened #920 "Enable VB Fixer for CA2119 when SyntaxGenerator is updated"
The SyntaxGenerator does not correctly convert VB statement form declarations into block form declarations when you add statements to them.  This is keeping the language agnostic fixer for CA2119 from working, so it has been disabled.  When the SyntaxGenerator is fixed, enable VB for this fixer.

[2016-04-14 19:25] mattwar commented on #920
Added issue #920 to enable VB fixer when Roslyn VB SyntaxGenerator is fixed.

[2016-04-14 21:48] #306 closed

[2016-04-14 23:20] srivatsn commented on #848
Verified that the analyzer implementation doesn't report an issue in this scenario.

[2016-04-14 23:20] #848 closed

[2016-04-14 23:23] #792 closed

[2016-04-14 23:30] srivatsn commented on #358
This rule has been rewritten as an IOperation analyzer and I've verified that for the given repro there's no NRE anymore.

[2016-04-14 23:30] #358 closed

[2016-04-15 00:04] lgolding opened #924 "[Test Failure] Compile Error in Windows Debug on PR #885"
PR: [#885](https://github.com/dotnet/roslyn-analyzers/pull/885) *Fix #447, Fix #303: Port CA1711, IdentifiersShouldNotHaveIncorrectSuffix* by @lgolding
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn-analyzers/job/master/job/windows_debug_prtest/110/

**Issue 1: Compile Error**
error CS0009: Metadata file 'D:\j\workspace\windows_debug---c729d7ab\Binaries\Debug\Microsoft.CodeAnalysis.CShar

[2016-04-15 00:06] lgolding opened #925 "[Test Failure] Compile Error in Windows Debug on PR #885"
PR: [#885](https://github.com/dotnet/roslyn-analyzers/pull/885) *Fix #447, Fix #303: Port CA1711, IdentifiersShouldNotHaveIncorrectSuffix* by @lgolding
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn-analyzers/job/master/job/windows_debug_prtest/110/

**Issue 1: Compile Error**
error CS0009: Metadata file 'D:\j\workspace\windows_debug---c729d7ab\Binaries\Debug\Microsoft.CodeAnalysis.CShar

[2016-04-15 00:07] lgolding commented on #924
Accidentally filed this twice. See #925

[2016-04-15 00:07] #924 closed

[2016-04-15 00:15] srivatsn commented on #925
Dupe of #903.

[2016-04-15 00:15] #925 closed

[2016-04-15 03:33] #274 closed

[2016-04-15 19:39] srivatsn commented on #497
Implemented by #757

[2016-04-15 19:39] #497 closed

[2016-04-15 21:34] #303 closed

[2016-04-15 22:27] basoundr commented on #554
#930 implements the analyzer

[2016-04-15 22:56] lgolding commented on #477
Wrong issue got closed.

[2016-04-15 22:59] srivatsn commented on #447
Reopening the issue to track the fixer implementation for this rule

[2016-04-15 23:35] mavasani opened #932 "Installing MS.CA.FxCopAnalyzers 1.2.0-beta1 shows low of duplicate AnalyzerUtilities nodes in solution explorer"
Not sure if this is a VS bug or the FXCop analyzer package needs to be modified to handled this case.

![installedanalyzers](https://cloud.githubusercontent.com/assets/10605811/14577379/0131d1c0-0328-11e6-9d0f-3b7c0e45f1fe.png)

[2016-04-15 23:44] srivatsn commented on #932
I think this is a VS bug. I mentioned this to @davkean yesterday. When we implement the analyzers node in CPS, we should fix this. We should probably fix it in the current implementation as well. Can you open the bug in roslyn?

[2016-04-15 23:44] #932 closed

[2016-04-15 23:45] srivatsn commented on #468
Analyzer implemented by #929.

[2016-04-15 23:46] mavasani opened #933 "AvoidUnusedPrivateFieldsAnalyzer CA1823 false report for const field used in collection initializer"
#### Microsoft.Maintainability.Analyzers
#### AvoidUnusedPrivateFieldsAnalyzer
#### Repro steps
1. Open Analyzers.sln
2. Change Dependencies\CodeAnalysis\project.json to include: `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta1"`
3. Restore NuGet packages for solution
4. Open BasicInvokeTheCorrectPropertyToEnsureCorrectUseSiteDiagnostics.vb

![falsereportca1823](https://cloud.githubuserconte

[2016-04-15 23:55] mavasani opened #935 "BasicRemoveUnusedLocalsAnalyzer CA1804 false report for local used in linq expression"
#### Microsoft.Maintainability.Analyzers
#### BasicRemoveUnusedLocalsAnalyzer
#### Repro steps
1. Open Analyzers.sln
2. Change Dependencies\CodeAnalysis\project.json to include: `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta1"`
3. Restore NuGet packages for solution
4. Open Desktop.Analyzers\VisualBasic\Helpers\SyntaxNodeHelper.vb, line 212

![falsereportca1804](https://cloud.githubusercont

[2016-04-16 00:05] mavasani opened #936 "CA1802 has extremely large diagnostic span"
#### Microsoft.QualityGuidelines.Analyzers

#### UseLiteralsWhereAppropriateAnalyzer

#### Repro steps

1. Open Analyzers.sln
2. Change Dependencies\CodeAnalysis\project.json to include: `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta1"`
3. Restore NuGet packages for solution
4. Open Microsoft.CodeAnalysis.Analyzers\Test\FixAnalyzers\FixerWithFixAllAnalyzerTests.cs, line 250

![ca1802largedi

[2016-04-16 06:13] JohnHamby commented on #933
It's either an straightforward IOperation bug or a more subtle issue. If the compiler is replacing uses of a named constant with its value in the bound trees, then we will have to get clever to retain the knowledge that the constant came from a symbol.

This is almost certainly not fixed.

[2016-04-16 06:17] JohnHamby commented on #935
This is an IOperation bug. Linq expression are presently not property represented. The local reference is not seen by the analyzer. In the days before we used the IOperation walker to find all operations, the reference would have been reported, but we now depend on a correct representation in order to find child nodes. (That the Linq expression is not represented now causes the operands to the Lin

[2016-04-16 16:34] basoundr commented on #935
@mavasani yes, I wrote that rule

[2016-04-18 15:28] mavasani opened #937 "CA1715 (IdentifiersShouldHaveCorrectPrefix) should not fire for single letter type parameter names"
#### Microsoft.ApiDesignGuidelines.Analyzers

#### IdentifiersShouldHaveCorrectPrefixAnalyzer

#### Repro steps

Create a method with type param names with single letter, example `Foo<K, V>`

#### Expected behavior
No CA1715 fired.
I think it is extremely common practice to have type parameter names with a single letter. We should avoid firing CA1715 for such cases.

#### Actual behavior
[code]

[2016-04-18 15:41] mavasani opened #938 "CA1720 (IdentifiersShouldNotContainTypeNames) should not fire on Equals(object obj) override"
#### Microsoft.ApiDesignGuidelines.Analyzers

#### IdentifiersShouldNotContainTypeNames

#### Repro steps

Override Equals method on any class: `public override bool Equals(object obj)`

#### Expected behavior
No CA1720 fired, especially given the method signature and parameter names are auto-generated by the IDE.

#### Actual behavior
[code]

[2016-04-18 15:45] mavasani commented on #938
Please remove all the suppressions for this warning ID in Analyzers.sln (not yet checked in) once this is fixed.

[2016-04-18 15:45] mavasani commented on #937
Please remove all the suppressions for this warning ID in Analyzers.sln (not yet checked in) once this is fixed.

[2016-04-18 15:46] mavasani commented on #935
Please remove all the suppressions for this warning ID in Analyzers.sln (not yet checked in) once this is fixed.

[2016-04-18 15:47] mavasani commented on #933
Thankhs John, I'll port this bug to Roslyn repo.

[2016-04-18 15:47] mavasani commented on #933
NOTE to the person resolving this issue: Please remove all the suppressions for this warning ID in Analyzers.sln (not yet checked in) once this issue is fixed.

[2016-04-18 17:46] mavasani opened #939 "AD0001: NRE in Analyzer 'Desktop.Analyzers.DoNotUseInsecureDTDProcessingAnalyzer'"
#### Desktop.Analyzers

#### DoNotUseInsecureDTDProcessingAnalyzer

#### Repro steps
I saw the following AD0001 diagnostics in error list while dogfooding 1.2.0-beta1 package of Microsoft.CodeAnalysis.FxCopAnalyzer in Analyzers.sln in roslyn-analyzers repo

[code]

[2016-04-18 18:15] mavasani opened #940 "CA2222 (DoNotDecreaseInheritedMemberVisibility) fires on members with resultant accessiblity private/internal"
#### Microsoft.ApiDesignGuidelines.Analyzers

#### DoNotDecreaseInheritedMemberVisibility

#### Repro steps

1. Open Analyzers.sln
2. Change Dependencies\CodeAnalysis\project.json to include: `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta1"`
3. Restore NuGet packages for solution
4. Remove CA2222 suppression added to build\Rulesets\Analyzers.ruleset (if any)
5. Open Analyzer.Utilities\Exten

[2016-04-18 18:33] mavasani commented on #940
Additionally, this rule fires on all of the designer generated files - so I am suppressing this for Analyzers.sln until we disable generated code analysis for all of our analyzers.

[2016-04-23 10:13] Dresel opened #943 "[Question] Easiest way to configure Microsoft.CodeAnalysis.FxCopAnalyzers to apply classical rulesets"
For the classical static code analysis you could use predefined Microsoft rule sets like [Managed Recommended Rules](https://msdn.microsoft.com/en-us/library/dd264893.aspx).

Is there an easy way to configure FxCopAnalyzers to only apply rules that are within a certain rule set? The workflow we are currently using is the following:
- Disable all FxCopAnalyzers rules (there might be rules enabled b

[2016-04-27 07:24] Tiliavir commented on #785
System.Reflection.Metadata 1.2.0 seems to be signed again, so the comment in Getting Started can be removed I guess ...

[2016-04-28 23:47] jmarolf opened #944 "CA2235 complains that List is not serializeable."
#### Analyzer package: Microsoft.AnalyzerPowerPack.Common

#### Analyzer: CA2235

#### Repro steps

Consider the code below:

[code]

#### Expected behavior
No errors as List<string> is serialize-able
.
#### Actual behavior
Severity | Code | Description |
------------ | ------------- | -------------
Warning	| CA2235 |	Field OutputLines is a member of type ProcessOutput which is serializable but is

[2016-04-29 12:59] alaforte commented on #476
I would be grateful if you will port this rule. Thank you

[2016-05-05 00:43] bkoelman opened #946 "Package restore fails with "input file does not exist""
Following instructions on https://github.com/dotnet/roslyn-analyzers#getting-started to build master branch. Package restore fails with:

[code]

Then building in VS 2015 Update2 fails with lots of errors. First error:
[code]

Alternatively, tried to install NuGet package from https://www.nuget.org/packages/Microsoft.ApiDesignGuidelines.Analyzers/1.2.0-beta1

After rebuild, it shows lots of failur

[2016-05-05 09:49] bkoelman opened #947 "IdentifiersShouldNotContainUnderscores (CA1707) reports on operators"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer
CA1707: IdentifiersShouldNotContainUnderscores

#### Repro steps

Underscore usage is reported on operators below. Probably because in IL they are named `op_Equality` / `op_Inequality`.

[code]
#### Expected behavior
No report of CA1707.

#### Actual behavior
CA1707 is reported on both operators.

[2016-05-05 09:52] bkoelman commented on #946
I fixed the NuGet issue by putting `<Features>IOperation</Features>` in .csproj files.

Still looking for a way to build from source.

[2016-05-05 10:20] bkoelman opened #948 "CollectionPropertiesShouldBeReadOnly (CA2227) reports on DataMembers"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer
CA2227: CollectionPropertiesShouldBeReadOnly

#### Repro steps
CA2227 is reported on the `Gates` property in the next class.

[code]

#### Expected behavior
In this case, the serialization framework requires a public setter. It would be nice to special-case methods that are decorated with `DataMemberAttribute` or similar

[2016-05-05 10:27] bkoelman commented on #940
Another repro for this bug:

[code]

Reports CA2222 on `ParameterDefinition` constructor.

[2016-05-05 10:39] bkoelman opened #949 "TypeNamesShouldNotMatchNamespaces (CA1724) reports on WinForms designer-generated code"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer
CA1724: TypeNamesShouldNotMatchNamespaces

#### Repro steps
1. Create a WinForms application
2. Open Project properties > Resources and add a string resource
3. `install-package Microsoft.ApiDesignGuidelines.Analyzers -pre`
4. CA1724 reported on generated code in `Resources.Designer.cs`:

[code]

#### Expected behavior
No

[2016-05-05 10:51] bkoelman opened #950 "EnumsShouldHavePluralNames (CA1717) reports on singular names"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers
#### Analyzer

CA1717: EnumsShouldHavePluralNames
#### Repro steps

[code]
#### Expected behavior

No report on the names above, as they are singular form.
#### Actual behavior

Both enums are reported by CA1717.

Looking at the source, pluralization is determined by:

[code]

which seems too simplistic. Perhaps a library as suggested

[2016-05-05 11:10] bkoelman opened #951 "SpecifyCultureInfo (CA1304) reports on WinForms designer-generated code"
#### Analyzer package
System.Runtime.Analyzers

#### Analyzer
CA1304: SpecifyCultureInfo

#### Repro steps
1. Create a new WinForms application
2. Add a custom icon to the default Form
3. CA1304 is reported on designer-generated file Form1.Designer.cs:

[code]

Generated code looks like:
[code]

Another case that generates CA1304 on a Form.Designer.cs file:
[code]
#### Expected behavior
No report,

[2016-05-05 12:31] bkoelman commented on #855
I'm also getting this. 8 times without a stack trace, then twice with a stacktrace that's different from @mavasani:

[code]

Source code referenced in exception:
https://github.com/bkoelman/DogAgilityCompetitionManagement/blob/master/src/Controller/UI/Forms/LogForm.cs#L75

[2016-05-05 12:48] bkoelman opened #952 "DoNotUseInsecureDTDProcessing (CA3075) disappears on the wrong fix"
#### Analyzer package
Desktop.Analyzers

#### Analyzer
CA3075: DoNotUseInsecureDTDProcessing

#### Repro steps
Next code fragment reports CA3075, which seems appropriate.

[code]

But when extracting local variable, it is no longer reported. This contradicts the description at https://msdn.microsoft.com/en-us/library/mt661872.aspx, where locals are used in some examples.

[code]

Fixing the origin

[2016-05-05 12:57] bkoelman opened #953 "MSBuild: The rule 'Microsoft.Design#CA1824' / 'Microsoft.Usage#CA1058' could not be found."
After installing prerelease versions of analyzers, build output in VS2015 Update2 keeps showing the next lines after Rebuild:

[code]

Contents of packages.config:

[code]

Contents of .ruleset file:

[code]

[2016-05-05 17:06] davkean opened #954 "The code for DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer no longer exists"
The code for DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer and PartsExportedWithMEFv2MustBeMarkedAsShared no longer exists in Roslyn-Analyzers.

We should bring it back.

[2016-05-05 17:08] davkean opened #955 "DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer fires when a metadata attribute is marked from both versions of MEF"
In CPS the AppliesToAttribute is marked with MetadataAttributeAttribute from MEF1 and MEF2, the rule is confused by this and fires on it.

We hit this in http://github.com/dotnet/roslyn-project-system.

When this is fixed, please remove the associated suppressions from that repro.

[2016-05-05 17:21] mavasani commented on #954
Other rules which also seem to have been affected by this:

1. AvoidUsingCrefTagsWithAPrefixAnalyzer
2. DoNotCallToImmutableArrayOnAnImmutableArrayValueAnalyzer
3. DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCollectionDirectlyAnalyzer
4. DoNotCreateTasksWithoutPassingATaskSchedulerAnalyzer

[2016-05-05 17:22] mavasani commented on #954
This blocks https://github.com/dotnet/roslyn/pull/10312

[2016-05-05 21:20] mavasani commented on #954
Unfortunately quite a few of these rules did not have any tests (even before their code got lost). I'll try to add a few unit tests.

[2016-05-06 17:26] mavasani opened #957 "Write code fix for DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer"
#### Analyzer package

Microsoft.Composition.Analyzers

#### Analyzer

DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:27] mavasani opened #958 "Write code fix for PartsExportedWithMEFv2MustBeMarkedAsShared"
#### Analyzer package

Microsoft.Composition.Analyzers
#### Analyzer

PartsExportedWithMEFv2MustBeMarkedAsShared

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:28] mavasani opened #959 "Write code fix for AvoidUsingCrefTagsWithAPrefixAnalyzer"
#### Analyzer package

XmlDocumentationComments.Analyzers

#### Analyzer

AvoidUsingCrefTagsWithAPrefixAnalyzer

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:29] mavasani opened #960 "Write code fix for DoNotCallToImmutableArrayOnAnImmutableArrayValueAnalyzer"
#### Analyzer package

System.Collections.Immutable.Analyzers
#### Analyzer

DoNotCallToImmutableArrayOnAnImmutableArrayValueAnalyzer

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:30] mavasani opened #961 "Write code fix for DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCollectionDirectlyAnalyzer"
#### Analyzer package

System.Runtime.Analyzers
#### Analyzer

DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCollectionDirectlyAnalyzer

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:31] mavasani opened #962 "Write code fix for DoNotCreateTasksWithoutPassingATaskSchedulerAnalyzer"
#### Analyzer package

System.Threading.Tasks.Analyzers

#### Analyzer

DoNotCreateTasksWithoutPassingATaskSchedulerAnalyzer

https://github.com/dotnet/roslyn-analyzers/pull/956 adds the analyzer, Fixer is NYI

[2016-05-06 17:31] #954 closed

[2016-05-06 17:32] mavasani commented on #954
@davkean This has now been fixed - you can now fix the issue you were seeing in the Project system solution.

[2016-05-07 03:05] jmarolf opened #963 "CA1707 does not consider operators"
CA1707 will fire for all operator methods in a class because they will have underscores in their names.

[2016-05-09 15:15] bkoelman commented on #946
Meanwhile, I got the code to build a bit more, by first running (from Developer Command Prompt):

[code]

Now build fails on project DiagnosticsTestUtilities, which cannot access the output assemblies from "Dependencies\CodeAnalysis (Portable)" project. Where should these DLLs come from? The CodeAnalysis project references ProducesNoOutput.Imports.targets so I'm lost here.

[2016-05-09 15:17] bkoelman commented on #946
@mavasani @srivatsn @basoundr Any thoughts on how I can solve this?

[2016-05-09 18:11] mavasani opened #965 "Fix 300+ violations of CA1305 in Analyzers.sln and remove the suppression for this rule"
I am going to disable CA1305 for the entire solution in https://github.com/dotnet/roslyn-analyzers/blob/master/build/Rulesets/Analyzers.ruleset

We should remove this suppression once we have fixed all violations of CA1305 in Analyzers.sln

[2016-05-09 18:41] mavasani commented on #951
Should get fixed with https://github.com/dotnet/roslyn-analyzers/pull/964

[2016-05-09 18:41] mavasani commented on #949
Should get fixed with https://github.com/dotnet/roslyn-analyzers/pull/964

[2016-05-09 18:43] mavasani commented on #943
This is one of the primary tasks that we need to do prior to releasing 1.2.0 bits of this package. Currently, there is no non-trivial way to do this.

[2016-05-09 18:46] mavasani commented on #943
FYI @srivatsn

[2016-05-09 18:49] mavasani commented on #946
@bkoelman Can you run `cibuild` at the root of the repo?

` <Features>IOperation</Features> ` has already been added to all projects via the imported targets file: https://github.com/dotnet/roslyn-analyzers/blob/master/build/Targets/Analyzers.Imports.targets#L61. Are you somehow not using latest sources to build?

[2016-05-09 18:51] mavasani commented on #946
Even references to `\src\.nuget\packages.config` have been removed, so seems like you have some stale source files around.

[2016-05-09 18:53] mavasani commented on #846
This should get fixed with https://github.com/dotnet/roslyn-analyzers/issues/846

[2016-05-09 21:07] #951 closed

[2016-05-09 22:03] #846 closed

[2016-05-09 22:06] bkoelman commented on #963
Duplicate of #947.

[2016-05-09 22:09] #963 closed

[2016-05-09 22:37] bkoelman commented on #946
@mavasani Thanks for helping. I've synced to latest sources.

Still getting error in package restore. I guess it comes from here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/.nuget/NuGetRestore.ps1#L4.

Running cibuild helps. It succeeds but also populates my NuGet cache correctly.
`msbuild src\Analyzers.sln` still fails, but I'm getting a bit further now. First error:

[code]

The

[2016-05-09 22:42] bkoelman commented on #949
This still repros. It reports on source location: `E:\Bart\Documents\Visual Studio 2015\Projects\WindowsFormsApplication1\WindowsFormsApplication1\Properties\Resources.Designer.cs`

Stepping through the analyzer, I see https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/Core/TypeNamesShouldNotMatchNamespaces.cs#L54 get hit, which should suppress repor

[2016-05-09 22:49] bkoelman commented on #951
Confirmed this is now working correctly.

[2016-05-09 22:54] srivatsn commented on #950
What does the FxCop implementation do for these cases?

[2016-05-09 23:14] jinujoseph commented on #950
The plural check is definitely not enough and that's the reason I was looking at pluralizationservice (https://msdn.microsoft.com/en-us/library/system.data.entity.design.pluralizationservices.pluralizationservice(v=vs.110).aspx ) but since it's a portal lib , can't use the same. So currently doing exactly how Fxcop implemented.
http://index/#NamingRules/FlagsEnumsShouldHavePluralNames.cs

[2016-05-09 23:16] mavasani commented on #946
@bkoelman you are correct, I missed fixing NuGetRestore.ps1 - will do so now.

The extension cache issue can be worked around by just deleting your RoslynDev hive (`c:\Users\<%USER_NAME%>\AppData\Local\Microsoft\VisualStudio\14.0RoslynDev`) and rebuilding Analyzers.sln.

[2016-05-09 23:19] #940 closed

[2016-05-09 23:19] #949 closed

[2016-05-09 23:25] mavasani commented on #949
Thanks @bkoelman. Should be fixed with #967

[2016-05-09 23:52] bkoelman commented on #940
Confirmed that this fixes my scenario, thanks!

[2016-05-09 23:53] mavasani commented on #948
@bkoelman Once again thanks for the contribution. For future, it would be helpful if you can also add a comment on issue that you are working on, so it can avoid possible duplicate work (especially if it already has an assignee). Thanks!

[2016-05-09 23:58] mavasani commented on #944
Doesn't repro on latest analyzer packages - https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/1.2.0-beta1

[2016-05-09 23:58] #944 closed

[2016-05-10 00:16] bkoelman commented on #946
Thanks, #969 makes the restore error go away plus makes running cibuild first no longer needed.

The .cache access denied errors remain, even after clearing hives and NuGet cache. But if I understand correctly, a specific fix in the repo is needed to work around that (see https://github.com/dotnet/roslyn/issues/10407#issuecomment-215205628).

[2016-05-10 01:46] bkoelman commented on #948
Good to know, I will do that next time.
Op 10 mei 2016 1:53 a.m. schreef "Manish Vasani" <notifications@github.com>:

[2016-05-10 06:14] mavasani commented on #947
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/970

[2016-05-10 06:14] #947 closed

[2016-05-10 15:58] #946 closed

[2016-05-10 16:29] bkoelman commented on #946
Did you intend to close this? I'm asking because multicore build still
fails.

[2016-05-10 16:29] mavasani commented on #946
Can you open a separate issue for that? Thanks

[2016-05-10 16:43] srivatsn opened #971 "Improve error message of warning RS0007: Avoid unnecessary zero-length array allocations."
Ported from https://github.com/dotnet/roslyn/issues/10647 filed by @tmat
-------------------------------

Currently the warning message uses C# syntax even for VB:
[code]

It would also be useful to display the actual type instead of generic T.
Currently the warning message uses C# syntax even for VB:
[code]

It would also be useful to display the actual type instead of generic T.

[2016-05-10 16:50] srivatsn opened #972 "[CallerMustBeUnsafe] type attribute"
Ported from https://github.com/dotnet/roslyn/issues/8663

---

From https://github.com/dotnet/coreclr/issues/3143

To mark a function to be only be able to be called in an unsafe block.

It came up as an issue with having an `IntPtr` based api for `Vector.Copy` be equally could apply to something like a .ctor where you are passing an internal buffer to use (e.g. https://github.com/dotnet/coreclr/i

[2016-05-10 23:54] bkoelman opened #973 "Build fails with "Access to the path '...\extensionSdks.en-US.cache' is denied.""
#### Repro steps

1. Follow steps at https://github.com/dotnet/roslyn-analyzers#getting-started on VS 2015 Update2
2. First error output for `msbuild src\Analyzers.sln`:

[code]

The roslyn repository had [a similar failure](https://github.com/dotnet/roslyn/issues/10407); that fix can possibly be applied here too.

[2016-05-10 23:55] bkoelman commented on #946
Created #973.

[2016-05-11 01:00] bkoelman commented on #938
I've started work on a fix.

[2016-05-11 01:21] bkoelman commented on #937
I'll start work on a fix.

[2016-05-11 02:14] bkoelman commented on #863
An analyzer with that name does not exist. The closest I could find is https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Core/InternalImplementationOnlyAnalyzer.cs.

I have tried to add a test next to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Test/InternalImplementationOnlyTests.cs#L177, but it fails becaus

[2016-05-11 12:33] #938 closed

[2016-05-11 13:25] bkoelman commented on #845
Perhaps we should add detection for storing fields of type `IOperation`, next to the existing `Compilation` and `ISymbol` warnings.

[2016-05-11 13:48] ig-sinicyn opened #976 "[Request for help] using DeclarePublicAPIAnalyzer in third-party code?"
Copied from Roslyn's [#11167](https://github.com/dotnet/roslyn/issues/11167)

Hi! I've noted that [this page](https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optional%20Parameters%20in%20Public%20API.md) mentions analyser that uses PublicAPI.Shipped.txt and PublicAPI.Unshipped.txt to detect breaking public API changes. As far I can see it's a DeclarePublicAPIAnalyzer.

We have a project

[2016-05-11 14:04] bkoelman commented on #554
I believe this can be closed, now that the analyzer has been implemented.

[2016-05-11 14:06] bkoelman commented on #554
Oh wait, it is tagged with `Needs-Fixer`.

What should a fixer do here?

[2016-05-11 14:57] #937 closed

[2016-05-11 15:42] srivatsn commented on #845
Makes sense.

[2016-05-11 15:45] srivatsn commented on #554
Ya I don't know what fix we could offer - @basoundr did you have any specific fix in mind? If not, we should delete the fixer stubs and close the issue.

[2016-05-11 15:53] srivatsn commented on #973
It'll be good to switch over to using the VS SDK NuGet packages to remove dependency on VS for building as well. If it fixes this bug that's an added bonus.

[2016-05-11 15:55] basoundr commented on #554
We can close this. I did not have anything specific in my mind. I mistakenly added `Needs-Fixer` by habit

[2016-05-11 15:58] srivatsn commented on #554
Can you send out a PR to delete the stubs and then close it out?

[2016-05-11 15:58] basoundr commented on #554
I will

[2016-05-11 18:50] #748 closed

[2016-05-11 20:01] #847 closed

[2016-05-11 20:01] #939 closed

[2016-05-11 20:39] #948 closed

[2016-05-11 21:04] bkoelman opened #983 "Revert workaround for skipping generated code in CompilationEndAction"
We should revert the workaround from https://github.com/dotnet/roslyn-analyzers/commit/550eaa6634186a0a97e54733beeb0e3977b4bae3 once https://github.com/dotnet/roslyn/pull/11225 becomes available.

[2016-05-11 21:57] mavasani commented on #773
I have fix available for this (preparing a PR)

[2016-05-11 22:28] mavasani commented on #821
This seems to be due to the fact that VB compiler marks the accessors of readonly/writeonly properties with no body as ImplicitlyDeclared symbols, unlike the C# compiler which marks the getter for ArrowExpression property as not implicitly declared. Analyzer driver skips callbacks for all implicitly declared symbols, and the analyzer never gets a callback for these accessors.

I'll file a bug on c

[2016-05-12 20:08] #773 closed

[2016-05-12 20:08] #806 closed

[2016-05-12 22:01] bkoelman opened #992 "TODO depends on closed bug"
https://github.com/dotnet/roslyn-analyzers/blob/master/src/System.Runtime.Analyzers/Core/ProvideCorrectArgumentsToFormattingMethods.cs#L70 contains:

[code]

The mentioned bug https://github.com/dotnet/roslyn/issues/7346 is closed, though, without having a fix, I think.

What is needed to move forward?

[2016-05-13 14:09] mavasani commented on #992
We should replace TODO with just a comment that this is not supported

[2016-05-13 19:11] mavasani commented on #855
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/981

[2016-05-13 19:11] #855 closed

[2016-05-13 19:12] mavasani commented on #869
I am re-opening this bug and closing #278 as the part that is really left is just this script.

[2016-05-13 19:13] #278 closed

[2016-05-13 19:23] #756 closed

[2016-05-13 20:32] bkoelman commented on #855
I've run `cibuild` on latest sources, then installed `Prepelease\Desktop.Analyzers.1.2.0-beta2.nupkg` into my project. I am still getting errors with the same stacktrace:

[code]

Looking at the fix, I do not see changes in the `AnalyzeAssignment` method. Can you please check again?

[2016-05-13 20:35] bkoelman commented on #863
Please reopen this issue. We should add the unittest above, once the roslyn bits are available.

[2016-05-13 20:45] mavasani commented on #855
That seems like a different issue from NRE in DerivesFrom. Can you file a separate issue?

[2016-05-13 20:52] bkoelman opened #998 "NRE in Desktop.Analyzers.CSharpDoNotUseInsecureDTDProcessingAnalyzer"
See https://github.com/dotnet/roslyn-analyzers/issues/855#issuecomment-217141251

[2016-05-13 21:16] bkoelman commented on #863
@nguerrera can you please reopen?

[2016-05-13 21:18] nguerrera commented on #863
I don't understand how I closed it.

[2016-05-13 21:19] bkoelman commented on #863
Me neither :)

[2016-05-13 21:22] nguerrera commented on #863
Lol. It seems pushing a commit to any repo in GitHub with 'fix org/repo#NNN' will close the issue in another repo. I expect this will get closed a lot as folks take dotnet/roslyn@701404c in to their forks. :(

[2016-05-13 21:27] mavasani commented on #863
We should probably just file another issue to track this :)

[2016-05-13 21:27] bkoelman opened #999 "Add unittest for IOperation"
Once https://github.com/dotnet/roslyn/pull/11246 is available, we should add a unittest next to https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Test/InternalImplementationOnlyTests.cs#L177 to verify that `InternalImplementationOnlyAnalyzer` works correctly for `IOperation`:

[code]

[2016-05-13 21:28] bkoelman commented on #863
I was thinking the same, just created https://github.com/dotnet/roslyn-analyzers/issues/999.

[2016-05-14 00:23] #992 closed

[2016-05-16 17:00] mavasani commented on #976
@ig-sinicyn You can follow the below steps to get this analyzer working for you:

1. Add Nuget package reference to https://www.nuget.org/packages/Roslyn.Diagnostics.Analyzers/1.2.0-beta1 to your project(s), which will enable the declare public API analyzer (and the [supported rules](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Roslyn.Diagnostics.Analyzers/Core/DeclarePublicAPIAnalyz

[2016-05-16 17:01] ig-sinicyn commented on #976
@mavasani
Wow, thanks!

[2016-05-16 18:25] mavasani commented on #851
Analyzer rules implemented with #1002
Still need fixer for updating the public API files when this fires..

[2016-05-17 02:26] #899 closed

[2016-05-17 02:26] #936 closed

[2016-05-17 18:00] bkoelman opened #1007 "One of the unittests for fixer of CA1019 suggest to generate broken code"
See test https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/DefineAccessorsForAttributeArgumentsTests.Fixer.cs#L54

The outcome after the fix is applied does not compile:

[code]

I'm not sure if this is intended behavior, or that the test + fixer are broken.

(Note that a semicolon is also missing in the setters, but that's easily fixed)

[2016-05-17 18:04] ig-sinicyn commented on #976
@mavasani
Thanks, it works.
One question though: does it detect changes on shipped API (e.g. method renaming/removal)? If yes - how can it be enabled? :confused:

[2016-05-17 18:32] mavasani commented on #976
No, the idea is you should never change your shipped public API. If you are forced to, then the only way is to leave the original public API entry for shipped API and add its cloned entry with a [Remove Prefix](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Roslyn.Diagnostics.Analyzers/Core/DeclarePublicAPIAnalyzer.cs#L23). Basically you should never delete any existing entries from sh

[2016-05-17 18:33] #976 closed

[2016-05-17 18:38] ig-sinicyn commented on #976
@mavasani

Yes, agreed. But what about accidental changes made by mistake?
E.g, if someone from team accidentally added a new arg or change return type of the method.

I'd thought that DeclarePublicAPIAnalyzer should warn about lines in shipped/unshipped.txt that have no matches in the code.

[2016-05-17 18:41] mavasani commented on #976
Yes, it will. Basically shipped API file should stay unchanged, except for releases. All in flight public API changes between releases must happen in unshipped public API file.

[2016-05-17 19:01] ig-sinicyn commented on #976
@mavasani

Well, it looks like I'm doing something wrong.

[Here's](https://github.com/dotnet/roslyn-analyzers/files/268929/ConsoleApplication1.zip)
a sample project with two public methods, `TestMethod1` and `TestMethod2`, both included in Shipped.txt.

No compiler warnings emitted after TestMethod2 removal. What I've missed?

[2016-05-18 00:08] srivatsn commented on #863
Closing this issue since the remaining work is tracked by #999

[2016-05-18 00:08] #863 closed

[2016-05-18 10:15] bkoelman opened #1008 "CA1033 test contains broken code"
The next test contains code that does not compile:

https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/InterfaceMethodsShouldBeCallableByChildTypesTests.cs#L214

To repro, copy/paste the code in a new console project, replace `""` with `"` (to unescape strings) and see the next build errors:

[code]

How to fix the test is not obvious to me

[2016-05-18 10:17] bkoelman commented on #1008
@srivatsn As the author of these tests, do you recall what this should look like?

[2016-05-18 10:26] bkoelman commented on #1007
The line that causes the build error is https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/DefineAccessorsForAttributeArgumentsTests.Fixer.cs#L90.

Perhaps a solution would be to make the fixer generate:

[code]

instead of:
[code]

[2016-05-19 01:05] srivatsn commented on #1008
@mavasani seems to have written these tests (https://github.com/dotnet/roslyn/pull/2590) and might have context.

[2016-05-19 07:22] bkoelman commented on #1008
Oh, yes, sorry.

[2016-05-19 08:53] bkoelman opened #1011 "CA1063: Tests fail after correcting broken code"
About 20 tests in https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/ImplementIDisposableCorrectlyTests.cs contain testcode like:

[code]

Note the `bool` return value in this signature is missing.

This is probably a copy/paste error, because the test names do not indicate anything about handling broken code. But when I correct the signatu

[2016-05-19 09:21] bkoelman opened #1012 "CA1716: Namespace tests occasionally report duplicate diagnostic"
https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/IdentifiersShouldNotMatchKeywordsNamespaceRuleTests.cs#L131 occasionally fails on my system while debugging.

The namespace warning is reported twice, but the test expects only one warning.

I believe this was introduced by me in https://github.com/dotnet/roslyn-analyzers/pull/991. The fail

[2016-05-19 09:21] bkoelman commented on #1012
I'm working on a fix.

[2016-05-19 12:09] bkoelman commented on #554
@basoundr Can you close this now?

[2016-05-19 15:10] basoundr commented on #554
@bkoelman Thanks for reminding!

[2016-05-19 15:10] #554 closed

[2016-05-19 18:09] #1012 closed

[2016-05-20 00:28] bkoelman opened #1016 "Broken tests (and possibly analyzer) for CA2200"
#### Analyzer package
Microsoft.QualityGuidelines.Analyzers

#### Analyzer
CA2200: RethrowToPreserveStackDetailsAnalyzer

The code in test https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.QualityGuidelines.Analyzers/UnitTests/RethrowToPreserveStackDetailsTests.cs#L69 contains several compile errors:

[code]

* line 17: CS1514 { expected
* line 24: CS0103 The name 'e' does not e

[2016-05-24 18:33] mavasani opened #1026 "Add analyzer to catch value type comparison with null"

[2016-05-24 21:22] bkoelman opened #1027 "CA1720 (IdentifiersShouldNotContainTypeNames) should not fire on GetHashCode(object obj) override"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer
CA1720 (IdentifiersShouldNotContainTypeNames)

#### Repro steps
Implement `GetHashCode` method from interface `System.Collections.Generic.IEqualityComparer<T>` on any class/struct: `public int GetHashCode(SomeType obj)`

#### Expected behavior
No CA1720 fired, especially given the method signature and parameter names are

[2016-05-25 10:34] Dresel opened #1028 "Analyzers fail on .NET Core projects"
#### Analyzer package

Text.Analyzers
#### Analyzer

CSharpIdentifiersShouldBeSpelledCorrectlyAnalyzer
#### Repro steps
1. Create a new .NET Core class library project
2. Add "Text.Analyzers": "1.2.0-beta2" into dependencies in project.json
3. Build
#### Expected behavior

Successful build.
#### Actual behavior

Compilation error:

[code]

The `Text.Analyzers` is just one example, other analyzers

[2016-05-25 20:58] dpaoliello opened #1029 "CA1801 doesn't recognize if a parameter is used in an interpolated string"
#### Analyzer package

Microsoft.Maintainability.Analyzers

#### Analyzer

ReviewUnusedParameters

#### Repro steps

Compile the following code with the Maintainability analyzer enabled:

[code]
#### Expected behavior
No errors

#### Actual behavior
`warning CA1801: Parameter someData of method Transform is never used. Remove the parameter or use it in the method body.`

[2016-05-25 22:28] sonnemaf opened #1030 "'Show Suggestions' messagebox"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers version="1.2.0-beta2" targetFramework="net46"

#### Analyzer
CA1717	Only FlagsAttribute enums should have plural names

#### Repro steps

1. Create Console app in Visual Studio 2015, Update 2
2. Add the Microsoft.ApiDesignGuidelines.Analyzers analyzer to the project using NuGet
3. Add Enum to the Program.cs file
    enum MyColors {

[2016-05-26 09:46] mikes-gh commented on #1028
+1 I also have this issue.
If I add
`"Microsoft.ApiDesignGuidelines.Analyzers": "1.2.0-beta2"  `
I don't have build errors but it doesn't work ie no compiler messages and it prevents StyleCop.Analysers from running.
I also tried adding analyserOptions to my project json.but that didn't seem to affect the issue.

[2016-05-26 15:14] mavasani commented on #1028
The above error indicates that the compiler toolset on your machine is lower version than 1.2.0 or has missing binding redirect. Can you check the version of compiler toolset?

[2016-05-26 16:25] mikes-gh commented on #1028
@mavasani How do I find out my compiler toolset?

[2016-05-26 16:31] mavasani commented on #1028
@mikes-gh - I was referring to the initial comment from @Dresel. If you are seeing analyzer diagnostics from intellisense but not from build then the compiler toolset at `%PROGRAM_FILES%\MSBuild\14.0\Bin` might be out of date. You can check the file version of vbcscompiler.exe/csc.exe/vbc.exe at that location. Also verify the binding redirects in `*.exe.config` files in that folder.

@mikes-gh - Y

[2016-05-26 16:47] mikes-gh commented on #1028
@mavasani I am not getting intellisense to work and I get the same error as @Dresel  for Text.Analysers

The Other Analyser I tried was
` "Microsoft.ApiDesignGuidelines.Analyzers": "1.2.0-beta2" `
Even though there were no build errors it doesn't work (no warnings) and it actually causes the StyleCop.Analyzers (that are working by themselves) to stop working.

The only thing that works is the pack

[2016-05-26 16:50] mavasani commented on #1028
@mikes-gh Few questions:

1. Do you have VS2015 Update2 installed? That is required for 1.2.0-beta2 analyzers.
2. Did you add `<Features>IOperation</Features>` property to your msbuild project file? 1.2.0-beta2 analyzers include IOperation based analyzers which use an unshipped API from Microsoft.CodeAnalysis and hence you need to add the above feature flag to your project file.
3. What does build

[2016-05-26 17:00] mavasani commented on #1028
Tagging @agocke as he is the expert on .NET core side of things and added analyzer support for .NET core projects.

[2016-05-26 17:15] mikes-gh commented on #1028
@mavasani

Yes I have update 2

Its xproj in dotnet core no csproj/msbuild

Nothing for some analyzers.  As if it isn't running.
For Text.Analysers see @Dresel example.  Mine is the same except for some minor user path differences

its dotnet build BTW in netcore (but apparently that is changing to msbuild xplat for RTM).

[2016-05-26 17:17] mavasani commented on #1028
@mikes-gh Thanks for the info - sorry I did not read the title before my responses. I'll sync up with @agocke to get more info here.

[2016-05-29 15:43] bkoelman opened #1032 "CA1008: Compile error with DevDiv WorkItem reference"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers.UnitTests

#### Analyzer
CA1008

#### Repro steps
[A test](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/EnumsShouldHaveZeroValueTests.cs#L24) contains the following code:
[code]
The line with comment results in:
[code]

This test is decorated with DevDiv WorkItem ID 836193.

[2016-05-29 15:55] bkoelman commented on #1008
@mavasani Can you take a look at this?

[2016-05-29 16:03] bkoelman commented on #1011
@duracellko Looking at commit history, you seem to know about this. Would you please take a look?

Some background: I'm working on adding a flag to the `VerifyXXX` methods that by default fail in case the test code does not compile. It's not clear to me how to resolve these.

[2016-05-29 19:32] duracellko commented on #1011
Hi @bkoelman, sorry for the broken tests.
Actually the return type of Dispose method should be void, not bool. Then the tests should be ok.
See https://github.com/duracellko/roslyn-analyzers/blob/ImplementIDisposableCorrectly/src/Microsoft.ApiDesignGuidelines.Analyzers/UnitTests/ImplementIDisposableCorrectlyTests.cs

Shall I create a pull request for this? Or will you simply include it in your upd

[2016-05-29 19:35] bkoelman commented on #1011
I tried that, but then some tests fail. It would be great if you can create
a PR to fix them.

[2016-05-29 22:32] bkoelman commented on #1011
@duracellko Sorry I was too quick with my thumbs up. After I merged in your PR, I still get some errors:

[code]

[2016-05-29 22:59] bkoelman opened #1035 "CA1802: Broken tests"
#### Analyzer package
Microsoft.QualityGuidelines.Analyzers

#### Analyzer
CA1802: UseLiteralsWhereAppropriateAnalyzer

#### Repro steps
There are two unit tests ([here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.QualityGuidelines.Analyzers/UnitTests/UseLiteralsWhereAppropriateTests.cs#L53) and [here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.Qu

[2016-05-29 23:01] bkoelman commented on #1016
@srivatsn I'm having difficulties tracking the author of these tests. Do you know?

[2016-05-31 03:34] bkoelman commented on #791
@basoundr I've started to work on this.

[2016-05-31 16:08] srivatsn commented on #1016
@jmarolf did you originally write this rule?

[2016-05-31 16:38] mavasani commented on #1032
DEVDIV 836193 has the following repro steps, which seems unrelated to the compiler error, which doesn't seem intentional error:

[code]

[2016-05-31 17:11] basoundr commented on #1035
@bkoelman, these are not intentional compiler errors. It should be fixed. You can replace the erroneous test code with

[code]
and
[code]

[2016-05-31 17:54] bkoelman commented on #1035
Great, thanks a lot!

I have created #1037 to resolve this.

[2016-05-31 19:38] jmarolf commented on #1016
- line 24: CS0103 The name 'e' does not exist in the current context
- line 17: CS0160 A previous catch clause already catches all exceptions of this or of a super type ('ArithmeticException')

Well the missing `{` is an error and should be fixed up.  If you fix the other two errors you should get a warning because then you are throwing a caught exception instead of just doing `throw;` to preserve

[2016-05-31 19:55] #1011 closed

[2016-05-31 22:01] AmadeusW commented on #973
*this issue is a top search result, so FYI:*
the solution to this problem is to clear `%localappdata%\Microsoft\VisualStudio\14.0Roslyn` directory and rebuild your analyzer.

[2016-05-31 22:20] basoundr commented on #1035
Thanks again for your contribution @bkoelman

[2016-05-31 22:25] #1035 closed

[2016-05-31 22:43] bkoelman commented on #1032
@mavasani Thanks for looking this up. All three issues from the DevDiv item do no longer apply (see fixer unittest). Please consider closing the DevDiv item also once this fix is merged.

[2016-05-31 23:14] bkoelman opened #1039 "Missing reference to System.Resources.ResourceManager"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers
#### Analyzer

RS1007: UseLocalizableStringsInDescriptor
#### Repro steps

The code in [this test](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Test/MetaAnalyzers/UseLocalizableStringsInDescriptorTests.cs#L75) and [this test](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.Co

[2016-05-31 23:51] bkoelman commented on #973
@AmadeusW That does not work for me. Please note that this issue is very specific to the https://github.com/dotnet/roslyn-analyzers repo, not for custom analyzer projects in general.

Building from `msbuild src\Analyzers.sln` causes these errors, while running `cibuild.cmd` does not.

[2016-06-01 01:03] AmadeusW commented on #973
I'm sorry. Thanks for letting us know!

[2016-06-01 19:39] mikes-gh commented on #1028
@mavasani any update on this.  Seems like something that will need to be working for aspnetcore RTM.
At the moment I have no working code analysis in my vs15 enterprise subscription for netcore projects without paying for third party tools.

[2016-06-02 02:52] bkoelman opened #1042 "CodeFixes do not appear anymore in VS2015 Update2"
#### Analyzer package
Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer
CA1036: OverrideMethodsOnComparableTypesAnalyzer

#### Repro steps

1. Open [Analyzers.sln](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Analyzers.sln) in VS2015 Update2
2. Set `Microsoft.ApiDesignGuidelines.Analyzers.Setup` as startup project, press F5
3. In the second instance (RoslynDev hive), create a ne

[2016-06-02 20:55] davkean commented on #1042
tag @srivatsn @heejaechang

[2016-06-02 20:57] davkean opened #1043 "CSharpSymbolDeclaredEventAnalyzer and BasicSymbolDeclaredEventAnalyzer crashes in recent VS "15" builds"
In recent VS "15" builds, opening the project system solution causes both CSharpSymbolDeclaredEventAnalyzer and BasicSymbolDeclaredEventAnalyzer to crash:

[code]

[code]

I have no idea what these analyzers do, so I don't know what the code it's choking on - but it appears to be failing for nearly all projects.

[2016-06-03 00:04] bkoelman commented on #1042
Today I tried VS15 Preview2. Same issue.

As a side note, to get the rep building I had to replace the included
NuGet.exe with 3.4, which supports MSBuild 15. Then rename the projects
under Dependencies, because the new NuGet considered them circular (xUnit
depends on xUnit depends on xUnit etc..)

[2016-06-03 01:01] bkoelman commented on #451
@lgolding What would we expect a fixer to do here?

[2016-06-03 16:08] michaelcfanning commented on #451
seems like the fixer should present the standard 'Rename...' facility in its UI (invoked by CTRL-R CTRL-R) on the appropriate symbol. this response would be required for several other checks as well (spelling errors, once we get to that, items w/incorrect suffix, etc.)

[2016-06-03 17:56] bkoelman commented on #883
This is fixed in PR #1041.

[2016-06-03 17:58] agocke commented on #1028
@mikes-gh Sorry, I didn't see this as I was out on vacation. Lemme take a look.

[2016-06-03 18:07] bkoelman commented on #872
I would be happy to submit a PR for this. Along with namespace alignment, I believe we should also rename the projects in folder `Microsoft.CodeAnalysis.Analyzers`, which are missing dots in their name (for example: `CodeAnalysisDiagnosticAnalyzers.csproj`).

However I recently submitted some PRs (#1040 and #1041) that will cause conflicts, so I'll hold this off until those have been merged.

[2016-06-03 18:08] agocke commented on #1028
@mikes-gh Looks like the analyzer requires the Roslyn Workspaces layer and MEF (System.Composition). Neither of those are available in .NET Core. Technically, they're not available to analyzers on desktop either but they probably just happen to be there and you're getting lucky :)

[2016-06-03 18:14] mikes-gh commented on #1028
@agocke Im not using desktop only targeting core.  Whats the plan for analysers on .NET core.
Can they be made core friendly?

[2016-06-03 18:16] agocke commented on #1028
@mikes-gh Yup, they should be by default -- analyzers should only reference Microsoft.CodeAnalysis.CSharp or Microsoft.CodeAnalysis.VisualBasic and other things in the NetStandard.Library.

[2016-06-03 18:19] agocke commented on #1028
If you use target framework Portable, .net4.5+Windows8 and only reference those two CodeAnalysis NuGet packages, that should guarantee that your code will work on both desktop and .NET Core.

[2016-06-03 18:31] mikes-gh commented on #1028
My target framework is netcoreapp1.0 should I add imports?
I am still not clear on all this.
Could you post a sample project.json that would clear it all up.
I know there are others with similar confusion.

[2016-06-03 18:34] agocke commented on #1028
Sure, I'll try to publish a doc on that.

However, the question is, is your *target* project (the one you're installing the analyzer into) netcoreapp1.0, or is the *analyzer project* (the project that build the Text.Analyzers NuGet package) netcoreapp1.0.

Your target project is fine -- nothing wrong there. The problem is with the analyzer itself -- it referenced the Microsoft.CodeAnalysis.Workspa

[2016-06-03 19:49] bkoelman commented on #883
Can we close this? PR has been merged.

[2016-06-03 19:49] #883 closed

[2016-06-03 19:50] srivatsn commented on #883
Sure. Thanks

[2016-06-04 11:10] mikes-gh commented on #1028
After all this discussion I am still not clear.  Are analysers supposed to work with dotnet core.  I see the analysers all have a core directory in their source.
If they are supposed to work could someone post the smallest working sample core project with working analysers to a repo.  It would only take 5 mins TIA

[2016-06-05 17:12] roji commented on #1028
I have the same issue. My project (Npgsql) has a dual build system - both csproj and xproj/project.json. When building with csproj the analyzers properly emits warnings, when building with dotnet cli there's nothing.

[2016-06-06 16:56] agocke commented on #1028
@mikes-gh `cli` has a test project that uses the System.Runtime.Analyzers project as a test case: https://github.com/dotnet/cli/tree/rel/1.0.0/TestAssets/TestProjects/TestLibraryWithAnalyzer

Looking at Microsoft.ApiDesignGuidelines.Analyzers, it specifies dependencies via csproj, so you would have to look at the P2P references as well. One list of references: https://github.com/dotnet/roslyn-anal

[2016-06-06 18:14] srivatsn commented on #1042
@bkoelman - I'll take a look at this later today and get back to you.

[2016-06-06 18:56] bkoelman commented on #1042
Nice, thanks!

[2016-06-07 06:16] flcdrg opened #1048 "Mark NuGet packages with developmentDependency"
NuSpec supports the [developmentDependency element](http://docs.nuget.org/create/nuspec-reference).

It seems to me that Analyzer NuGet packages should have this element set in their nuspec files as analyzers are a development dependency eg. not required by the target assembly to execute.

[2016-06-07 11:30] mattwhitfield commented on #695
I second @StilgarISCA - This rule does have value, and personally I have never found the false positive rate to be that bad. But as a team lead trying to coerce people into focusing on quality, I don't want to have to say 'oh yes you can ignore that rule' because it gets people into bad habits.

[2016-06-07 20:10] mavasani commented on #881
You can just define these types in source for your tests - just like the tests in the above file that failed when you made the change

[2016-06-07 21:08] #871 closed

[2016-06-07 21:28] lgolding commented on #881
Yes, @srivatsn suggested that too. I'm making that change now.

[2016-06-08 13:50] mikes-gh commented on #1028
@agocke I can get the System.Runtime.Analyzers to work by simply adding a reference.
re Microsoft.ApiDesignGuidelines.Analyzers I don't have a clue where to start.
I don't really understand the link in the above post.
Sorry for my lack of understanding.

[2016-06-09 16:28] #1032 closed

[2016-06-09 16:29] mavasani commented on #1039
We should probably define this type in source for unit tests for this analyzer (just like other unit tests).

[2016-06-09 22:01] bkoelman commented on #1027
@mavasani Having the fix merged in, I believe we should close this now.

[2016-06-09 22:02] #1027 closed

[2016-06-09 23:20] bkoelman commented on #1039
I tried adding this in the test-source:

[code]

It does not make the error go away. Probably because the dependency is in an external assembly, not in the test-source itself.

What I think is going on here:
`DiagnosticDescriptor` has two constructors: one with all strings, the other with Title and Description as `LocalizableString`. This test passes a `LocalizableString` for title parameter, but

[2016-06-10 22:00] mavasani commented on #1043
This analyzer is primarily meant for C# and VB compiler projects in Roslyn.sln - it checks that source symbol implementations of `ISymbol` generated Symbol declared event, which in turn ensures the analyzer driver invokes analyzer symbol actions for these symbols.

The analyzer is [disabled by default](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Roslyn.Diagnostics.Analyzers/Core/Sym

[2016-06-10 22:00] #1043 closed

[2016-06-10 22:06] mavasani commented on #1043
Tagging @srivatsn - I don't see any ruleset in project system repo that seems to be turning this rule on. Given that Dave mentions this repros only in Dev15, is it likely that we are executing even disabled analyzers on Dev15? Can you quickly check on latest Dev15 builds by writing a simple analyzer that is turned off by default and installed for a managed project?

[2016-06-10 22:11] mavasani opened #1050 "Analyzer 'System.Runtime.Analyzers.CallGCSuppressFinalizeCorrectlyAnalyzer' threw an exception of type 'System.NullReferenceException'"
#### Analyzer package

System.Runtime.Analyzers

#### Analyzer

CallGCSuppressFinalizeCorrectlyAnalyzer

#### Repro steps

I see the following AD0001 in IDE when opening Roslyn.sln:

[code]

[2016-06-10 22:37] mavasani opened #1051 "Need to fix message for CA1036"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

OverrideMethodsOnComparableTypesAnalyzer

#### Repro steps

Install Microsoft.ApiDesignGuidelines.Analyzers 1.2.0-beta2 for a C# project with following code:

[code]

#### Actual behavior
Get error with unsubstitued argument '{0}' in the message:
[code]

[2016-06-10 22:44] mavasani commented on #1042
I am unable to repro this on my box with Update2 + InstallDogfood of latest Roslyn development VSIX. I just tried to install the Microsoft.ApiDesignGuidelines.Analyzers 1.2.0-beta2 NuGet package from NuGet.org (not the steps mentioned by @bkoelman), and it seems to work fine. I'll try the VSIX approach and post an update.

![codefix_ca1036](https://cloud.githubusercontent.com/assets/10605811/15980

[2016-06-10 22:48] mavasani commented on #1030
@sonnemaf - looking at your error list, it seems you need to enable feature IOperation on your project, i.e. add `<Features>IOperation</Features>` property to the first property group in your project file.

[2016-06-10 22:48] #1030 closed

[2016-06-10 22:51] mavasani commented on #1029
This is dupe of https://github.com/dotnet/roslyn/issues/8884#issuecomment-217131239

[2016-06-10 22:51] #1029 closed

[2016-06-10 22:53] mavasani commented on #1026
From: Neal Gafter
Sent: Tuesday, May 24, 2016 7:50 PM
To: Mark Zhou <Mark.Zhou@microsoft.com>; Manish Vasani <mavasani@microsoft.com>; Jared Parsons <jaredpar@microsoft.com>; Roslyn Discussion <rosdisc@microsoft.com>
Cc: Neal Gafter <Neal.Gafter@microsoft.com>; Neal Gafter <Neal.Gafter@microsoft.com>
Subject: RE: Equality with value types and null

I believe the compiler will report this when you

[2016-06-10 22:53] #1026 closed

[2016-06-10 23:11] srivatsn commented on #1043
The project system repo has a problem with the way analyzers are being configured. The targets are pulling in analyzers if they happen to exist in the packages directory even though they are not included in the dependencies explicitly. I'm looking at fixing that.

[2016-06-10 23:22] mavasani commented on #1042
Problem seems to be in our [VSIX source manifest](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/Setup/source.extension.vsixmanifest#L15). We need to specify the analyzer assemblies as Analyzer asset as well as MefComponent asset. The former will suffice for diagnostics and also for fixes when assembly is installed as NuGet package. The later is

[2016-06-10 23:25] mavasani commented on #1042
I have a fix for this, so taking this up from @srivatsn

[2016-06-10 23:50] #1042 closed

[2016-06-10 23:50] #1050 closed

[2016-06-10 23:50] #1051 closed

[2016-06-10 23:50] #1048 closed

[2016-06-11 10:01] sonnemaf commented on #1030
It doesn't seem to work. I added it to the csproj file. It seams that 'Features' are not recognized. I still get the messagebox which doesn't go away.

![screenshot](https://cloud.githubusercontent.com/assets/9335559/15984461/0e96f1a8-2fcc-11e6-9842-2fcf2493ee18.png)

`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/dev

[2016-06-13 01:17] #1016 closed

[2016-06-13 17:07] davkean commented on #1043
It's by design that these crash? I don't understand that.

[2016-06-13 17:09] mavasani commented on #1043
Analyzer is written to be run only for C# and VB compiler projects - it is disabled by default, so they should never be turned on for any other project

[2016-06-13 18:06] bkoelman commented on #1042
Thanks for the fix, this works for me now.

[2016-06-13 20:43] srivatsn commented on #1028
I'll try to summarize this thread - Analyzers are supposed to work with .NET Core projects. The CLI tooling passes analyzers on to the compiler and it looks like System.Runtime.Analyzers works for @mikes-gh.

Given that its interesting that Microsoft.ApiDesignGuidelines is causing problems since their authoring is pretty much the same. @mavasani or @agocke - can one of you try reproing this with R

[2016-06-13 23:16] mikes-gh commented on #1028
In fact most of the Analysers don't work.

[2016-06-14 00:20] heejaechang commented on #1050
what do you expect it to show?

[2016-06-14 00:22] mavasani commented on #1050
Line numbers for the call stack? I remember we used to see them before

[2016-06-14 01:19] heejaechang commented on #1050
I just checked, this code just show diagnostic reported by compiler. so this should be exactly same as v1.

so, if line number is not there, then, there is no line number before.

[2016-06-14 01:21] heejaechang commented on #1050
oops comment in wrong issue.

[2016-06-15 21:27] #465 closed

[2016-06-16 16:01] mikes-gh commented on #1028
https://github.com/dotnet/core/issues/91

[2016-06-17 18:52] #1007 closed

[2016-06-19 02:13] AdamSpeight2008 opened #1056 "DeclarePublicAPIAnalyzer doesn't recognise VB autoproperties"
The `PublicAPI` analyser should consider the following examples as being equivelent
[code]
this auto-implemented properties
[code]

but the analyser does consider them the same.

[2016-06-19 20:52] qmfrederik opened #1057 "CA1806 DoNotIgnoreMethodResults should generate warning for IDisposable return values"
#### Analyzer package

`Microsoft.Maintainability.Analyzers`
#### Analyzer

CA1806: `DoNotIgnoreMethodResults`
#### Repro steps

Consider the following line:

[code]

where [`CancellationToken.Register`](https://msdn.microsoft.com/nl-be/library/dd321635%28v=vs.110%29.aspx) returns a `CancellationTokenRegistration`, which implements `IDisposable`.
#### Expected behavior

CA1806 does not generate a

[2016-06-20 01:21] #872 closed

[2016-06-21 19:29] arthurward commented on #695
I agree with @StilgarISCA. With VS2015's ability to ignore existing issues, false positives are not such a problem any more. There is still a benefit to flagging new instances of undisposed disposables.

[2016-06-21 23:13] mavasani commented on #1028
Sorry for the delay in posting an update here. I was able to repro the issues you mentioned with help from @mattscheffer and following is the investigation summary:

1. Text.Analyzers is a bogus analyzer package that doesn't contain any implemented rules - it was mistakenly published, so you should avoid trying to use it.
2. Rest of the FxCop analyzer packages, such as [Microsoft.ApiDesignGuidelin

[2016-06-29 01:18] bkoelman commented on #973
Closing this issue, because it does not occur in VS2015 Update3.

[2016-06-29 01:18] #973 closed

[2016-06-29 15:11] cston opened #1061 "CA1801 ignores uses in interpolated strings"
[code]
[code]

[2016-06-29 15:33] cston opened #1062 "CA1801 ignores uses in LINQ expressions"
[code]
[code]

[2016-06-29 15:40] cston opened #1063 "CA1801 ignores uses in pointer expressions"
[code]
[code]

[2016-06-29 15:47] mavasani commented on #1061
I think this is dupe on existing IOperation bug - let me find it

[2016-06-29 15:48] mavasani commented on #1062
Same here - this is known IOperation bug.

[2016-06-29 15:49] mavasani commented on #1063
This case is unknown but very likely IOperation bug, I'll add this case to that bug.

[2016-06-29 16:17] mavasani commented on #1062
IOperation bug - https://github.com/dotnet/roslyn/issues/8884#issuecomment-185982523

[2016-06-29 16:17] #1062 closed

[2016-06-29 16:18] mavasani commented on #1061
IOPeration bug - https://github.com/dotnet/roslyn/issues/8884#issuecomment-217131239

[2016-06-29 16:18] #1061 closed

[2016-06-29 16:20] mavasani commented on #1063
Added comment to the underlying IOperation bug: https://github.com/dotnet/roslyn/issues/8884#issuecomment-229408989

[2016-06-29 16:20] #1063 closed

[2016-06-29 16:23] mavasani commented on #1056
This is due to underlying compiler bug: https://github.com/dotnet/roslyn/issues/11258

[2016-06-29 16:27] #1056 closed

[2016-06-29 16:27] mavasani commented on #1057
This will be a compat break, but seems a reasonable thing to complain about.

[2016-06-29 16:31] mavasani commented on #983
We have decided that until we need a new API from future Microsoft.CodeAnalysis packages, we will compile the analyzers repo against 1.2 package. This enables us to keep executing our analyzers on Update2. This bug is blocked till we upgrade to newer Microsoft.CodeAnalysis packages.

[2016-06-29 16:31] mavasani commented on #999
We have decided that until we need a new API from future Microsoft.CodeAnalysis packages, we will compile the analyzers repo against 1.2 package. This enables us to run our analyzers on Update2.

[2016-06-30 00:03] bkoelman commented on #999
@mavasani Thanks for the update.

[2016-06-30 01:56] #553 closed

[2016-06-30 16:15] axelheer commented on #1028
Any ETA for a working `Microsoft.CodeAnalysis.FxCopAnalyzers` .NET Core release?

[2016-06-30 17:51] mavasani commented on #791
@bkoelman I looked at your PR. Wouldn't a better implementation be:

[code]

[2016-06-30 21:00] bkoelman commented on #791
Yes, that looks even better. Thanks for the suggestion.

[2016-07-01 23:50] bkoelman commented on #791
On hindsight, the updated `operator==` implementation is incorrect. See the next snippet:
[code]

This is because in the original version, the reference comparison for `left` and `right` meant: both null or same instance. By eliminating that line, we silently missed the "both null" case.

The implementation should be changed to:
[code]

I've pushed a new commit to the existing PR to fix this.

[2016-07-01 23:52] mavasani commented on #791
@bkoelman I have already merged the PR yesterday. Can you please create a new PR?

[2016-07-02 00:07] bkoelman commented on #791
@mavasani Sure, see #1064.

[2016-07-05 17:12] #998 closed

[2016-07-06 15:09] #971 closed

[2016-07-06 16:32] hvanbakel opened #1068 "CA2222 fires on default constructor"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers
#### Analyzer

DoNotDecreaseInheritedMemberVisibility
#### Repro steps

`
public class SomeClass
{
  internal SomeClass() { }
}
`
#### Expected behavior

Should not fire, because
1. the class does not inherit anything
2. this is the default constructor that should be allowed to be made less visible compared to the outer type.
#### Actu

[2016-07-07 17:14] srivatsn commented on #1039
Is this addressed already? @bkoelman's PR that catches compiler errors in tests would cause this test to fail otherwise right?

[2016-07-07 17:16] srivatsn commented on #1028
Since the fixes that are needed to get the analyzer working are in the CLR and the compiler, they will only show up in .NET Core 1.1 which according to the [roadmap here](https://github.com/dotnet/core/blob/master/roadmap.md) is in the fall of this year.

[2016-07-07 17:17] srivatsn commented on #1028
Keeping this issue active to track testing the analyzer with .NETCore 1.1

[2016-07-07 17:21] bkoelman commented on #1039
These tests are currently disabled. Fix is needed.

[2016-07-14 11:49] jeroen-mostert commented on #695
Another vote for keeping it. Forgetting to dispose disposables is a common error in our code bases, and even with false positives, this rule does a good job at weeding them out. I'll gladly take the false positives and disable them if it means detecting the common case of someone adding a disposable field but forgetting to dispose it (very easy to do if you don't realize it actually is a disposabl

[2016-07-25 16:26] mavasani opened #1071 "Meta-analyzer to flag analyzers reporting duplicate descriptors that differ only by severity"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers
#### Analyzer

ReportDiagnosticAnalyzer
#### Details

See https://github.com/dotnet/roslyn/issues/12714 for an issue that should have been flagged.

[2016-07-27 12:06] flcdrg opened #1072 "CA1305 is invalid for Enum.ToString()"
#### Analyzer package

System.Runtime.Analyzers
#### Analyzer

SpecifyIFormatProvider
#### Repro steps

[code]

the statement above raises CA1305.
#### Expected behavior

No warning raised
#### Actual behavior

If you try to fix the problem like this:

[code]

Then CS0618 is raised "Enum.ToString(IFormatProvider)' is obsolete: 'The provider argument is not used. Please use ToString()."

That is co

[2016-08-04 21:27] AdamSpeight2008 opened #1073 "[VB] Convert Return to Exit Sub, when used in Sub"
Convert the following usage of `Return` within a `Sub` to `Exit Sub`.

[code]

to

[code]

[2016-08-15 16:23] mavasani commented on #212
This is now flagged by the analyzer driver itself.

[2016-08-15 16:23] #212 closed

[2016-08-19 00:47] srivatsn commented on #464
FxCop implementation has a bug when a type has methods involving 'dynamic' as reported by an user:

The CA1811 code analysis rule seems to not work with classes that use dynamic types.

 This class:

 internal static class Class1
 {
 private static void Method1() { }

 private static int Method2(dynamic value) => value;

 private static void Method3() { }
 }

 should have these code analysis warni

[2016-08-19 01:13] srivatsn opened #1074 "CA2214 complains about InitializeComponent methods in components"
#### Analyzer package

Example: Microsoft.QualityGuidelines.Analyzers
#### Analyzer

Example: DoNotCallOverridableMethodsInConstructorsAnalyzer
#### Repro steps

Create a class that derives from System.Configuration.Install.Installer

If the constructor calls InitializeComponent which the VS designer would, then CA2214 fires. The rule currently special cases winforms controls but it should likely

[2016-08-24 10:42] axelheer commented on #1028
FYI, as a workaround it's possible to run the "old analyzers" (namely *FxCop*) using the project.json's *postcompile* event.

See my [post on stack overflow](http://stackoverflow.com/a/39120945/2347790).

[2016-08-25 21:27] mavasani opened #1075 "Convert DoNotUseInsecureCryptographicAlgorithmsAnalyzer to an IOperation analyzer"
This analyzer currently invokes GetSymbolInfo on every single invocation in the compilation, which seems to very costly. We should just convert it to an IOperation analyzer as it just cares about the containing type of every bound invocation.

[2016-09-07 08:13] RehanSaeed commented on #1028
Is there support for .ruleset files? If so, how are these set using project.json? Thus far, I've been using the buildOptions.nowarn array to turn off rules.

[2016-09-07 16:35] srivatsn commented on #1028
No I don't think there's support for ruleset files in project.json. With the .NET Core tooling moving to csproj, this ability will be back.

[2016-09-16 13:15] wpostma commented on #1028
I have read on Stackoverflow posts that there is a workaround that some people are using to get StyleCop.Analyzers to look at .net core target dlls, whether it's in the IDE or on commandline I'm not clear on.  This issue would be a good place to link to any workarounds. Anyone got that?

[2016-09-16 13:54] RehanSaeed commented on #1028
This is what StyleCop.Analyzers is doing: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/DotNetCli.md

[2016-09-17 20:07] johndog opened #5844 "Static String.Equals() should never be allowed to silently revert to Object.Equals()"
**Version Used**: 4.5.2

**Steps to Reproduce**:

Evaluate this expression: `string.Equals(1, "1")`

**Expected Behavior**:
This expression should either fail to compile, or return true.

**Actual Behavior**:
It currently returns false.  Even though string.Equals() is expressed, indicating a specific interest in a  string-based comparison, object.Equals() is actually invoked, which merely does a r

[2016-09-27 10:19] vinimal opened #1077 "List of analysers and rules for roslyn-analyzers"
#### Analyser package

*.Analyzers
#### Feature/documentation request

List of the names of the analysers and the available rules per analyser. The list can be fixed or generated.

@mavasani

[2016-10-04 23:49] mavasani commented on #821
Compiler bug was resolved by design - we need to fix the analyzer.

[2016-10-13 11:18] vengi83644 opened #1079 "Can I configure a report to be generated after build with list of violations?"
Similar to what we could do in the FxCop desktop application.

FxCopCmd /f:SomeAssembly.dll /r:"C:\Rules Directory\SomeRules.dll" /o:OutputFile.xml

I want to get this output to use in the CI for my projects.

[2016-10-21 06:58] srivatsn opened #1081 "CA1309 violation is observed when using == between strings with .NET 4.5.1"
Ported from https://github.com/dotnet/roslyn/issues/14355 reported by @wargamer
Version Used: 1.1.0

Steps to Reproduce:

Create a Console Application
Write code like string a = "a"; string b = "b"; if(a == b) { }
Observe a CA1309 violation
Expected Behavior:
I expect a CA1309 violation when I compare strings with something other than StringComparison.Ordinal
Actual Behavior:
A CA1309 violation po

[2016-11-01 00:34] Pilchie opened #1082 "DeclarePublicAPI doesn't handle VB autoproperties"
#### Analyzer package

Roslyn.Diagnostics.Analyzers

#### Analyzer

Example: DeclarePublicAPIAnalyzer

#### Repro steps

[code]
#### Expected behavior
Should report this as public API

#### Actual behavior
It does not

#### NOTES
This happens because we only look at methods, and the analyzer engine doesn't pass us accessors that are `IsImplicitlyDeclared`.

[2016-11-01 00:36] mavasani commented on #1082
I am sure there is a dupe of this already, can't find it now

[2016-11-03 23:43] heejaechang commented on #318
@srivatsn probably want to delete this code?

[2016-11-12 01:30] RaulPerez1 opened #1083 "NullReference exception running"
#### Analyzer package

Microsoft.Composition.Analyzers

#### Analyzer

DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer

#### Repro steps

I couldn't get a simplified repro here and mine is a bit convoluted (see below for the debug info though)

1. Open solution from https://github.com/dotnet/roslyn-project-system
2. Add a reference to Microsoft.VisualStudio.ProjectSystem.VS.Implementation
3.

[2016-11-16 04:22] flcdrg opened #1084 "CA1801 ignores use in deep collection initializer"
#### Analyzer package

Microsoft.Maintainability.Analyzers

#### Analyzer

ReviewUnusedParameters

#### Repro steps

The following code triggers CA1801 on the count parameter of the `TheMethod` method:

    using System.Collections.Generic;

    namespace ClassLibrary4
    {
        public class Class1
        {
            public void TheMethod(int count)
            {
                var testPar

[2016-11-16 04:50] mavasani commented on #1084
I think there is an existing IOperation bug for this.

[2016-11-23 23:26] mavasani commented on #1028
Analyzers should work with .NetCore projects in VS2017 RC.

[2016-11-23 23:26] #1028 closed

[2016-12-02 16:53] gortok commented on #1079
Same. Similar question: How do I get this program working with a CI Build tool?

[2016-12-02 17:44] mavasani commented on #1079
Yes, you can specify command line switch errorlog to generate json output of diagnostics.

[2016-12-02 18:14] pakdev opened #1085 "CA2222 reports less visible constructors"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

DoNotDecreaseInheritedMemberVisibility

#### Repro steps

[code]

#### Expected behavior

Should not fire because derived types should be allowed to define less visible constructors

#### Actual behavior

Fires

[2016-12-06 18:24] pakdev opened #1086 "CA2119 does not check the declaring type's accessibility or constructor accessibility"
#### Analyzer package

Microsoft.QualityGuidelines.Analyzers

#### Analyzer

SealMethodsThatSatisfyPrivateInterfaces

#### Repro steps

[code]

#### Expected behavior

Should not fire when the declaring type's accessibility is ```internal``` or the declaring type's constructors aren't ```public```. This matches [FxCop's recommendations](https://msdn.microsoft.com/en-us/library/ms182313.aspx) on ho

[2016-12-08 20:20] pakdev opened #1087 "CA1003 reports non-generic events in Microsoft's code"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

UseGenericEventHandlerInstances

#### Repro steps

[code]

#### Expected behavior

Should not fire because PropertyChangedEventHandler is defined by Microsoft. Until Microsoft follows this rule themselves, there will be a bunch of false positives

#### Actual behavior

Fires

[2016-12-12 20:29] pakdev opened #1088 "CA1721 does not consider method/property accessibility"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

PropertyNamesShouldNotMatchGetMethods

#### Repro steps

[code]

#### Expected behavior

Neither scenario above should cause CA1721 to fire because the rule states "The name of a **public** or **protected** member starts with 'Get' and otherwise matches the name of a **public** or **protected** property."

#### Actual b

[2016-12-26 04:42] RobinHood70 commented on #303
Unless I'm missing something somewhere, this issue still occurs, both in VS 2015/C# 6 and VS 2017/C# 7.

[2016-12-28 20:29] srivatsn opened #1089 "Code analysis CA2101 Message Cannot be Removed"
Reported through [VSFeedback](https://developercommunity.visualstudio.com/content/problem/5600/code-analysis-ca2101-message-cannot-be-removed.html)

During code analysis, I am given several CA2101 messages that tell me to use CharSet.Unicode on a struct I've defined. After adding that property to the StructLayout attribute and recompiling, the same messages come back. The attached file will reprod

[2016-12-28 21:28] srivatsn opened #1090 "Warning about calling overridable auto-property when using generics Debugging & Diagnostics"
Reported through VS Feedback:

Code Analysis appears to report false positives regarding CA2214 when using generics; see https://stackoverflow.com/questions/41323614/warning-about-calling-overridable-auto-property-when-using-generics for details.

[2017-01-04 13:20] DerekSMorin commented on #291
I was also annoyed by the null conditional operator not working.

[2017-01-04 22:30] automagic commented on #1028
@mavasani what does that mean?  And what about .NetCore projects built without VS2017 RC (e.g. on linux).

[2017-01-05 20:14] ZaHgO commented on #1074
I have the same problem with DevExpress.XtraReports they are Components but not WinForms Controls.

[2017-01-09 06:32] davkean opened #1092 "Analyzer packages list "frameworkAssemblies" despite having no API"
The following analyzer packages have "System" listed as a framework assembly, despite them providing zero API and not actually needing this reference:

[code]

This causes an build warning inside VS in projects that reference System.dll and use project.json due to the way the NuGet build tasks "removes" duplicate framework assemblies.

[2017-01-11 23:38] pakdev commented on #1085
Does this project have a way to indicate that we're going to work on an issue? I wouldn't want to duplicate work, and it would be nice to vet approaches prior to issuing a PR.

[2017-01-13 13:33] rajkgoel commented on #471
Not sure if this is a right place to ask any questions, please suggest the alternative.

What would be the life-span of these static members, specially the "private static methods"? Are they cleaned up once all the instances of same class are disposed, or they stay in memory for the lifetime of application?

[2017-01-16 21:07] pakdev opened #1094 "CA1720 should only report violating parameter names on the base class/interface declaration"
#### Analyzer package

Microsoft.ApiDesignGuidelines.Analyzers

#### Analyzer

IdentifiersShouldNotContainTypeNames

#### Repro steps

[code]

#### Expected behavior

Should not fire because we may not have control over how a base class/interface's method parameters are named. If we do, then this rule should only report the parameters declared in the base class/interface method

#### Actual behavi

[2017-01-17 23:08] tmat opened #6757 "Bogus RS0026: Do not add multiple public overloads with optional parameters"
The Roslyn analyzer reports bogus errors RS0026.

For example for completely sound public APIs:

[code]

We already have 10 suppressions of this in the code base. Seems like the analyzer should be fixed to not flag valid overloads.

[2017-01-18 22:47] mayeager22 commented on #1028
@mavasani It should also be noted that .NET Core projects must be migrated to 1.1 in order to be opened in VS2017 RC (not as straight forward as just opening the project in VS 2017).

[2017-01-18 23:56] mayeager22 commented on #1028
@axelheer I am trying to implement your workaround to use the "old" FxCop but my compile fails.  Would mind sharing the frameworks section of your project.json (or is what you have in your stackoverflow the entire section)?

[2017-01-20 15:31] axelheer commented on #1028
@mayeager22 the posted section should be sufficient. Since some update or the like (I have no idea actually) I need to rebuild twice to get the analysis results instead of some "introspection engine errors".

Maybe that's it or you post more detailed error messages.

[2017-01-20 16:36] TheloniousFonk commented on #1048
Hi,
I just installed FxCopAnalyzers on a project and when I generate a nuget package with that project FXCopAnalyzers is not flagged as a developmentDependency in the nuspec file. Any idea?

Steps to repro:
- create a dummy project in VS2015.
- Add nuget package FXCopAnalyzers
- nuget spec / nuget pack "myproject.csproj"
- resulting myproject.nuspec contains :
<package id="Microsoft.CodeAnalysis.F

[2017-01-24 00:52] dpaoliello opened #1099 "RS1013 claims that RegisterCompilationStartAction + RegisterCompilationEndAction == RegisterCompilationAction, this is incorrect."
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

StartActionWithOnlyEndAction
Start action has no registered non-end actions.

#### Repro steps

[code]

#### Expected behavior
No error.

Per https://github.com/dotnet/roslyn/blob/master/docs/analyzers/Analyzer%20Actions%20Semantics.md the compilation start and end action are guaranteed to be the very first and last actions (r

[2017-01-25 13:37] tomekjanicki opened #1101 "Add new analyzer to validate that return value from function is used"
Try to do something similar to ReturnValueUsageAnalyzer in https://richiban.uk/2016/03/17/roslyn-analyzers/

I created the issue in https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2274 but was advised to move here.

It is a CA1806, but it is not working as expected i.e. it can't raise warning or error during

        public string GetData()
        {
            return "Something impor

[2017-02-02 20:24] heejaechang opened #1103 "CA1801 should consider parameter being used in if statement"
I have this error

Warning	CA1801	Parameter symbol of method IsImplementationOfAnyExplicitInterfaceMember is never used. Remove the parameter or use it in the method body.

for this code

[code]

[2017-02-03 13:41] saxenark opened #1105 "CA1305 fxcop for String Interpolation on .NET 4.5"
VS2015

$"Enabled Check for {feature.ToString()}"

This code shows the following warning on Code Analysis

Warning	CA1305	Because the behavior of 'string.Format(string, object)' could vary based on the current user's locale settings, replace this call in 'FeatureController.IsFeatureEnabled(FeatureEnum, Dictionary<string, string>)' with a call to 'string.Format(IFormatProvider, string, params objec

[2017-02-03 13:43] saxenark opened #1106 "CA1031 on using ExceptionDispatchInfo"
VS2015

Compile the code snippet below (partial code)

        catch (Exception e)
        {
           // some processing
            exceptionDispatchInfo = ExceptionDispatchInfo.Capture(e);
        }

        // some more processing
        exceptionDispatchInfo?.Throw();
This code compiles but Code Analysis throws up CA1031
Warning	CA1031	Modify 'FeatureController.Initialize()' to catch a more

[2017-02-06 10:30] wpanja opened #1107 ""Supress Results from Generated code (Managed Only)" does not work as expected with FXCopAnalyzer"
#### Analyzer package

https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/1.2.0-beta2.

#### Analyzer

Example: GeneratedCodeAttribute Attribute

#### Repro steps

1. VS 2017 RC3, Analyzer version 1.2.0 Beta2
2. \\elements\share\FxCopAnalyzerTests is location of Sample
3. As a consumer of analyzers the above shows a sample where FxCopAnalyzers are being used which contains two ty

[2017-02-08 18:19] mavasani commented on #1107
The issue here is with [SerializationRulesDiagnosticAnalyzer](https://github.com/dotnet/roslyn-analyzers/blob/569bd373a4831d3035597197e02980b57602a7f2/src/Desktop.Analyzers/Core/SerializationDiagnosticAnalyzer.cs) - it should register separate actions for field symbols, not directly operate on fields of named types, as named type might have partial definitions, and the fields defined on a generate

[2017-02-09 00:05] javierdlg commented on #976
@ig-sinicyn The files you linked are no longer available. Is this still an issue? If so I recommend opening a new issue.

[2017-02-09 06:24] ig-sinicyn commented on #976
@javierdlg  the files [are available](https://github.com/dotnet/roslyn-analyzers/files/268929/ConsoleApplication1.zip) still but the issue is closed and unactual as we've implemented same analyser by ourselves :)

Thanks for asking!

[2017-02-14 17:33] OmarTawfik opened #1108 "DeclarePublicAPIAnalyzer fails with NRE when files are not found"
Due to a local error, the following file didn't exist on disk:
`roslyn\src\Compilers\CSharp\Portable\PublicAPI.Unshipped.txt`

`DeclarePublicAPIAnalyzer.TryGetApiData()` would execute `unshippedText.GetText()`, which would then return null, and diagnostics with the following error:

`error CS2001: Source file 'roslyn\src\Compilers\CSharp\Portable\PublicAPI.Unshipped.txt' could not be found.`

Inst

[2017-02-16 15:08] BenniBuer commented on #476
Would be great to have this rule. Is there an update on the status of this?

[2017-02-22 00:20] flcdrg opened #1109 "CA2241 Treats repeated use of same placeholder as distinct"
#### Analyzer package

System.Runtime.Analyzers

#### Analyzer

ProvideCorrectArgumentsToFormattingMethods

#### Repro steps

[code]
#### Expected behavior

No warning

#### Actual behavior
CA2241 warning generated

[2017-03-07 20:32] AArnott opened #1112 "DeclarePublicAPIAnalyzer won't bulk add new API"
#### Analyzer package

Roslyn.Diagnostics.Analyzers

#### Analyzer

RS0016: DeclarePublicAPIAnalyzer

#### Repro steps

[code]

Be sure "Enable Full Solution Analysis" is active.
Open source files from the `Windows.Core` project.

#### Expected behavior

All `RS0016` warnings to appear in the error list.

#### Actual behavior

Only RS0016 warnings for the open files appear.
When I set the caret on

[2017-03-07 20:35] AArnott opened #1113 "DeclarePublicAPIAnalyzer should be multi-targeting aware"
#### Analyzer package

Roslyn.Diagnostics.Analyzers

#### Analyzer

RS0016: DeclarePublicAPIAnalyzer

#### Problem statement

I have a .NET SDK style multi-targeting project. Each target may get a different set of public API exposed based on the capabilities of the target platform.

How can I get this analyzer to allow me to specify a different PublicAPI.Shipped.txt file for each target framework?

[2017-03-07 20:57] mavasani commented on #1112
@heejaechang this looks to be FSA not reporting all closed file diagnostics.

[2017-03-07 21:40] heejaechang commented on #1112
@mavasani debugged or from description?

[2017-03-07 21:43] mavasani commented on #1112
@heejaechang Based on the description, given that closed file warnings don't show up with FSA enabled.

[2017-03-07 23:54] AArnott commented on #1112
Please note there are two issues here (should I split them up?). There's the FSA issue, and then the fact that bulk fix doesn't work.

[2017-03-07 23:55] mavasani commented on #1112
Yes please split them out, unless HeeJae feels they are likely due to the same issue. Also, this belongs to roslyn repo as I am not sure the analyzer is at fault here.

[2017-03-07 23:58] AArnott commented on #1112
Done.

[2017-03-08 14:57] evildour opened #1114 "Add an analyzer to prevent duplicate element initializations"
#### Analyzer package

Microsoft.QualityGuidelines.Analyzers

#### Analyzer

AvoidDuplicateElementInitialization (suggested)

#### Repro steps

When doing something like this (perhaps as a copy/paste bug)

[code]

the 2nd element will be overwritten with the 3rd.

#### Expected behavior

A warning should be generated if the same constant parameter(s) are used to initialize the same index of an obj

[2017-03-09 04:10] davkean opened #1115 "DoNotMixAttributesFromDifferentVersionsOfMEFAnalyzer threw an exception of type 'System.ArgumentException' with message 'Reported diagnostic 'RS0006' has a source location in file"
Not sure who's bug this is (Roslyn, Project System or the analyzer), starting here.

After I added a [Export] attribute to this component the following occurred:
[code]

[2017-03-09 04:36] mavasani commented on #1115
Looks like analyzer bug

[2017-03-09 23:44] 333fred commented on #471
@rajkgoel, I'd suggest reading the MSDN article on static classes and members: https://msdn.microsoft.com/en-us/library/79b3xss3.aspx

[2017-03-10 20:55] JimF42 commented on #695
I was hoping that this would have been fixed in VS 2017, but alas. Maybe this could still be reconsidered???

[2017-03-11 22:32] flcdrg commented on #833
Where did the myget feed go? Would be nice to have it for builds off of trunk.

[2017-03-15 16:03] ChristophB125 opened #1117 "Microsoft.CodeAnalysis.FxCopAnalyzers gives Compiler warnings in VisualStudio 2017"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  (latest stable release 1.1.0)

#### Repro steps

1.  Install latest Nuget package [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  (version 1.1.0) in a .Net Core project (e.g. library)
2.) Build the pro

[2017-03-15 16:45] ChristophB125 opened #1118 "[Question] Can Microsoft.CodeAnalysis.FxCopAnalyzers be configured for .Net Core?"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  (latest stable release 1.1.0)

#### Question

How can one configure the warnings?
Visual Studio 2017 provides no functionality to either run or configure Code Analysis at all and I can only get CA warnings when I build via command line due to #1117 . If there is no

[2017-03-15 17:24] mavasani commented on #1118
@ChristophB125 - FXCop analyzer can be added and configured for .NET core projects.

1. Install analyzers: You can add a nuget package reference to the analyzer package, and they should light up for your project.
2. Configure rules: You can manually add a `CodeAnalysisRuleSet` property to the project file and specify a ruleset that configures FXCop rules. You can also explicitly specify `/warnaser

[2017-03-15 22:35] ChristophB125 commented on #1118
Thanks for the info.
I managed to get CA working, manually specify the ruleset in the csproj and also suppress some warnings either in code or ruleset file.
However, on .Net Core some CA warnings do not get triggered (e.g. CA1012)  and some CA warnings cannot be suppressed (e.g. CA1001). I will write down the details in an issue tomorrow.

[2017-03-17 14:11] ChristophB125 opened #1121 "CA1012 does not get triggered"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) (latest stable release 1.1.0 and 1.2.-beta2)

#### Analyzer

[CA1021](https://msdn.microsoft.com/en-us/library/ms182126.aspx) : AbstractTypesShouldNotHaveConstructors

#### Repro steps

Create a .Net Core project and build it using dotnet clean; dotnet restore; dotn

[2017-03-17 14:20] mavasani commented on #1121
Does this reproduce with desktop projects?

[2017-03-17 14:21] mavasani commented on #1121
Can you also try latest prerelease package: 1.2.0-beta2?

[2017-03-17 14:26] ChristophB125 commented on #1121
Not sure what you mean by 'desktop projects'? In .Net 4.5.2 it gets triggered. Using 1.2.-beta2 it does not get triggered as well.

[2017-03-17 14:29] mavasani commented on #1121
Ok, thanks that is sufficient context!

[2017-03-17 14:30] ChristophB125 opened #1122 "CA2213 triggered incorrectly when only CA1001 should get triggered"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  (latest stable release 1.1.0)

#### Analyzer

[CA1001 ](https://msdn.microsoft.com/en-us/library/ms182172.aspx) : TypesThatOwnDisposableFieldsShouldBeDisposable
[CA2213 ](https://msdn.microsoft.com/en-us/library/ms182328.aspx) : DisposableFieldsShouldBeDisposed

##

[2017-03-17 14:36] #1118 closed

[2017-03-17 14:39] mavasani commented on #1122
Did you try prerelease package?

[2017-03-17 14:49] ChristophB125 commented on #1122
Yes, and in the beta2 package2 this behaviour did not occur, therefore the bug was raised for 1.1.0 only.
Note that the beta2 package produces tons more warnings, therefore I would never use beta2.

[2017-03-17 15:01] mavasani commented on #1122
We rewrote large number of rules from 1.1.0 to 1.2.0-beta2 and also added lot of new ones. So anything that doesn't repro on latest prerelease is going to be resolved as Not Repro. If you are seeing unexpected diagnostics with prerelease package, please file bugs on them.

[2017-03-22 17:58] evildour commented on #1114
ping?

[2017-03-30 07:14] sonnemaf opened #1125 "When to expect a new NuGet Packages release"
When can we expect new NuGet Packages released? There are a lot of bug fixes on the 1.2.0-beta2 version which is almost 1 year old. I would love to have a new version which solves the 'Gathering suggestions' messagebox problem. I expected a new release with the new VS2017.

[2017-04-03 23:34] pakdev opened #1127 "How to consume locally built analyzers?"
Is there some trick to build/consume locally built analyzers, @mavasani or @sharwell? I recently made a change to one of the System.Runtime.Analyzers and rebuilt the NuGets with `msbuild src\Packaging\Packaging.proj /p:Configuration=Release`. When I try to analyze my project with this new package, though, I get:

error CS8033: The assembly C:\...\System.Runtime.Analyzers.dll does not contain any a

[2017-04-04 16:05] pakdev commented on #1127
I did some debugging with fuslogvw, and it appears that msbuild 14 always loads Microsoft.CodeAnalysis.dll 1.3.1. I think this is conflicting with the version 2.0.0 that I'm loading next to my analyzer, since [CS8033 can fire when](https://github.com/dotnet/roslyn/issues/2683) "there is a mismatch between assembly version of Microsoft.CodeAnalysis.dll referenced by the analyzer vs used by the anal

[2017-04-04 16:26] mavasani commented on #1127
@pakdev We recently move the repo forward to Microsoft.CodeAnalysis 2.0.0 packages, and we rely on the unshipped IOperation APIs, which have changed between 1.3.1 and 2.0.0, so yes you will need to move to VS2017 for development on this repo.

However, for non-IOperation analyzers, we should be able to run analyzers built against higher version of MS.CA packages (2.0.0) on lower versions of VS (De

[2017-04-04 16:32] svick opened #1128 "CSharpImmutableObjectMethodAnalyzer does not work when MS.CA.Workspaces is not installed"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

CSharpImmutableObjectMethodAnalyzer

#### Repro steps

1. Create a new C# project.
2. Install the package `Microsoft.CodeAnalysis.CSharp`, but not `Microsoft.CodeAnalysis.CSharp.Workspaces`
3. Write code that doesn't use the returned value from a method on an immutable object:

[code]

#### Expected behavior

The last line rep

[2017-04-04 16:37] pakdev commented on #1127
Just to be clear: I have no problem building these analyzers with VS2017, but I want to run them in a VS2015 environment.

So you're saying the non-IOperation analyzers with MS.CA 2.0.0 should run in Dev14, but the IOperation analyzers won't?

[2017-04-04 16:43] mavasani commented on #1127
Yes, IOperation is still not shipped as a public API and has had breaking changes since 1.3.1 and we expect more to come post 2.0.0. You should use version 1.2.0-beta2 of analyzer packages for VS2015. 1.2.0-beta3 (not published yet) will work only against VS2017. We will need to change the analyzer package version to reflect the VS version that it is tied with. We need to have VS version specific

[2017-04-04 16:45] tmeschter commented on #1127
@mavasani When we implemented analyzer support in VS2015 there was no way to know what, if any, breaking changes would occur with Roslyn 2.0.0. So While VS2015 Update 3 redirects versions of Microsoft.CodeAnalysis.* lower than 1.3.1, it does not do that for higher versions. So nothing built against 2.0.0 will work with VS2015.

In general analyzers should target the lowest version of the Microsoft

[2017-04-05 12:58] #1127 closed

[2017-04-06 19:18] alejandro5042 commented on #933
This issue also manifests with this (uncommitted) test in `src\Microsoft.Maintainability.Analyzers\UnitTests\AvoidUnusedPrivateFieldsTests.cs`:

[code]

Do you want me to submit a pull request that documents this issue in code?

Do we have any progress on this issue? I could not find a relevant issue in the main Roslyn repository, @mavasani.

It is not immediately clear to me how we would fix this

[2017-04-06 19:37] alejandro5042 commented on #933
Another fail case is interpolated strings. There is a related issue here: https://github.com/dotnet/roslyn/issues/17307

I've updated the pull request to document collection initializers and interpolated strings.

[2017-04-06 19:54] #1085 closed

[2017-04-06 19:54] mavasani commented on #1068
Should be fixed with https://github.com/dotnet/roslyn-analyzers/pull/1102

[2017-04-06 19:54] #1068 closed

[2017-04-06 20:02] mavasani commented on #933
Ported this issue to https://github.com/dotnet/roslyn/issues/18509

[2017-04-06 20:03] mavasani commented on #933
@alejandro5042 We hope to fix this in Roslyn soon

[2017-04-06 21:59] alejandro5042 commented on #1087
I have a proposed fix to this issue in: https://github.com/dotnet/roslyn-analyzers/pull/1131

[2017-04-07 16:39] pakdev opened #1135 "Support VS2015"
As discovered in [this issue](https://github.com/dotnet/roslyn-analyzers/issues/1127), the latest version of master produces analyzers that do not work in VS2015. Now teams that have not yet switched to VS2017 must revert commits c457f57, 872974d, 9528f66, da63c31, and 5760a48 and manage potential future merge conflicts that depend on them. There needs to be a way to build this project with either

[2017-04-07 19:21] alejandro5042 commented on #1086
I have a proposed fix to this issue here: https://github.com/dotnet/roslyn-analyzers/pull/1136

[2017-04-07 21:49] AmadeusW opened #1137 "roslyn-analyzers does not build out of the box using provided instructions"
#### Repro steps

1. Clone the repository
2. Install NuGet packages: `powershell -executionpolicy bypass src\.nuget\NuGetRestore.ps1`
3. Build: `msbuild src\Analyzers.sln`

#### Expected behavior

Solution builds

#### Actual behavior

Every project gets  `error MSB4066: The attribute "Sdk" in element <Import> is unrecognized`

#### Suspected issue

Perhaps MSBuild 14 is to blame. Running the rest

[2017-04-08 21:08] srivatsn commented on #1137
Are you using a VS2017 command prompt to invoke msbuild? It does look like msbuild 14 is the one in path - try `where msbuild` to confirm. MSBuild 15 will be inside your ProgramFiles\Microsoft VisualStudio\2017\Enterprise\MSBuild

[2017-04-09 05:32] AmadeusW commented on #1137
Yes, this happens in command line. I'll switch to MSBuild 15 and post an update

[2017-04-10 16:30] jskeet commented on #1114
cc @DustinCampbell - Dustin, is this something you've seen in any other analyzer?

[2017-04-10 16:37] DustinCampbell commented on #1114
Nope -- not something I've seen before. Good idea!

[2017-04-10 18:08] mavasani commented on #1087
Fix was merged. Thanks @alejandro5042!

[2017-04-10 18:08] #1087 closed

[2017-04-10 18:11] mavasani commented on #1103
This is due to Roslyn bug https://github.com/dotnet/roslyn/issues/8884

https://github.com/dotnet/roslyn-analyzers/pull/1134/ disables this rule for our repo, until the Roslyn bug is fixed.

[2017-04-10 19:58] haakoo commented on #1105
I'm also seeing this warning for code where I don't understand why. The following code results in this warning when compiled for .Net Framework 4.6.1

[code]

Why get a warning when you embed a string? Is this a bug in the analyser, or am I missing something?

Working minimal example over at [haakoo/WarningCA1305Bug](https://github.com/haakoo/WarningCA1305Bug).

[2017-04-13 15:55] jinujoseph commented on #1137
@AmadeusW, you can also run 'msbuild /t:restore src\Analyzers.sln' to restore.
I have updated the instruction as well.

Please reopen the issue if the issue still persists.

[2017-04-13 15:55] #1137 closed

[2017-04-13 18:43] mavasani opened #1147 "IdentifiersShouldNotContainTypeNames analyzer implementation doesn't conform to the CA1720 documentation"
Documentation: https://msdn.microsoft.com/en-us/library/bb531486.aspx

See https://github.com/dotnet/roslyn-analyzers/pull/1095#pullrequestreview-32708572 for issues.

[2017-04-13 23:24] mavasani commented on #1125
We expect to release new NuGet packages very soon. Note that these packages will be based on Microsoft.CodeAnalysis 2.0.0 API, and hence will only work on VS2017.

Tagging @jinujoseph

[2017-04-13 23:25] mavasani commented on #1122
Closing this issue as it does not repro on 1.2.0-beta2. Please file separate bugs on other issues you are seeing on the beta2.

[2017-04-13 23:25] #1122 closed

[2017-04-13 23:37] mavasani commented on #1121
I was able to repro this and the reason is that CA1012 is disabled by default in the FXCop analyzers package. You can follow the below steps to enable this rule and the analyzer will fire the expected diagnostic:

1. Create the following ruleset file:

[code]

2. Edit your .csproj and add the following property:
[code]

[2017-04-13 23:41] #1121 closed

[2017-04-13 23:42] mavasani commented on #1117
Can you please try 1.2.0-beta2 packages?

[2017-04-14 00:22] AmadeusW commented on #1137
Thank you. It worked for me when I invoked it from the VS2017 developer command prompt

[2017-04-14 20:10] mavasani commented on #1117
Please re-activate if this reproes with latest packages.

[2017-04-14 20:10] #1117 closed

[2017-04-14 20:12] mavasani commented on #1112
There is no issue with the analyzer here - fix all and diagnostic engine issues are tracked in Roslyn repo.

[2017-04-14 20:12] #1112 closed

[2017-04-14 20:22] mavasani commented on #1106
Unfortunately, we cannot identify this without dataflow analysis. I would recommend just adding a source suppression.

[2017-04-14 20:22] #1106 closed

[2017-04-15 00:01] mavasani commented on #1105
This is a dupe of https://github.com/dotnet/roslyn/issues/8884#issuecomment-217131239

[2017-04-15 00:01] #1105 closed

[2017-04-15 00:04] mavasani commented on #1099
The analyzer fires this diagnostic **only** when you register just a CompilationEndAction on a CompilationStartAction. Given that you have no intermediate registered actions, there is not stateful analysis done by the Start-End action pair. Hence the analyzer correctly tells you to move all the analysis into a single time independent CompilationAction.

[2017-04-15 00:04] #1099 closed

[2017-04-15 00:07] mavasani commented on #1092
This has been fixed - we have moved to the .NET SDK based projects and only have NetStandard package reference.

[2017-04-15 00:07] #1092 closed

[2017-04-15 00:08] mavasani commented on #1086
The fix has been merged. Thanks @alejandro5042

[2017-04-15 00:08] #1086 closed

[2017-04-15 00:09] mavasani commented on #1084
Dupe of https://github.com/dotnet/roslyn/issues/8884#issuecomment-217131239

[2017-04-15 00:09] #1084 closed

[2017-04-15 00:11] mavasani commented on #1115
This is the same underlying issue as https://github.com/dotnet/roslyn-analyzers/issues/1083 - the analyzer is trying to report a diagnostic with location of attribute applicable to a type, which could be inherited from a base type in metadata reference. I'll add a note to https://github.com/dotnet/roslyn-analyzers/issues/1083 and track both issues with that bug.

[2017-04-15 00:11] #1115 closed

[2017-04-15 00:12] mavasani commented on #1083
This also leads to an AD0001 where the attribute might be applied on a base type in other project in the solution: https://github.com/dotnet/roslyn-analyzers/issues/1115#issue-212930597

[2017-04-15 00:13] mavasani commented on #1082
The underlying compiler bug was resolved as by design: https://github.com/dotnet/roslyn/issues/11258

We need to identify a way to workaround this in the analyzer.

[2017-04-15 00:14] mavasani commented on #1079
Closing this assuming the `/errorlog` switch resolved your question.

[2017-04-15 00:14] #1079 closed

[2017-04-15 00:15] mavasani commented on #1077
@vinimal Do we still need this list?

[2017-04-15 00:18] mavasani commented on #714
This is already implemented by CA1720

[2017-04-15 00:18] #714 closed

[2017-04-15 00:20] mavasani commented on #701
Not sure if this needs to stay in 15.3 or can be moved out. Marking as 15.3 for now - @jinujoseph

[2017-04-15 16:51] vengi83644 commented on #1079
@mavasani  Can you mention a sample here ?

[2017-04-15 16:56] mavasani commented on #1079
See https://github.com/dotnet/roslyn/blob/master/docs/compilers/Error%20Log%20Format.md

[2017-04-17 18:40] dpaoliello commented on #1099
@mavasani - I'm sorry, but I disagree with this assessment: the analyzer will flag a Start-End pair where all of the analysis is being done in the CompilationEndAction (i.e. the CompilationStartAction only registers the CompilationEndAction).
It will then tell the user to move their analysis code from CompilationEndAction into CompilationAction - this is incorrect as CompilationEndAction and Compi

[2017-04-17 18:42] mavasani commented on #1081
Verify if this repoes on latest bits..

[2017-04-17 18:48] mavasani commented on #1072
This doesn't repro anymore.

[2017-04-17 18:48] #1072 closed

[2017-04-17 20:04] mavasani commented on #953
This has been fixed

[2017-04-17 20:04] #953 closed

[2017-04-17 20:12] mavasani commented on #903
Doesn't repro anymore in CI builds

[2017-04-17 20:12] #903 closed

[2017-04-17 20:13] mavasani commented on #870
@jinujoseph you want to take this up?

[2017-04-17 20:15] mavasani commented on #849
I am closing this out - if we run into this again, I will re-open the bug.

[2017-04-17 20:15] #849 closed

[2017-04-17 22:17] mavasani commented on #403
I don't this a fixer can be added here, so closing this out.

[2017-04-17 22:17] #403 closed

[2017-04-18 12:06] JarLob opened #1150 "False positives in DoNotUseInsecureDtdProcessing"
#### Analyzer package

Microsoft.NetFramework.Analyzers

#### Analyzer

DoNotUseInsecureDtdProcessing

#### Repro steps

a) var xmlDoc = new XmlDocument();
b) xmlDoc.Load (PathToXmlFile);
c) var reader = new XmlTextReader (PathToXmlFile);

Build with .NET 4.5.2 and higher

#### Expected behavior

No warnings

#### Actual behavior

Warnings like:
a) Warning	CA3075	An XmlDocument instance is created

[2017-04-18 12:36] lflender commented on #695
Still waiting for this rule to be fixed! So many false positives...

[2017-04-18 12:40] lflender commented on #291
Any news on this?

[2017-04-18 16:26] vinimal commented on #1077
@mavasani Yes, this would be needed for the integration in Oacr. Many thanks!

[2017-04-20 23:35] #1088 closed

[2017-04-21 08:51] ChristophB125 commented on #1117
Using 1.2.0-beta2 there are even more problems because the package itself throws (see below), therefore I will activate a new issue
Severity	Code	Description	Project	File	Line	Suppression State
Warning	AD0001	Analyzer 'System.Runtime.Analyzers.CSharpAvoidZeroLengthArrayAllocationsAnalyzer' threw an exception of type 'System.InvalidOperationException' with message 'Feature 'IOperation' is disabled.

[2017-04-21 08:57] ChristophB125 opened #1151 "Microsoft.CodeAnalysis.FxCopAnalyzers not working in Visual Studio 2017 for .Net Core projects"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  (latest pre-release 1.2.0-beta2 or the latest release 1.1.0)

#### Repro steps

1.  Install Nuget package [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)  in a .Net Core project (e.g. library). The vers

[2017-04-21 09:13] ChristophB125 commented on #1121
I did not know that some rules are disabled by default. Where is the documentation for this? The GitHub page described the CA warnings and there is no mentioning of this. I also see that the some links on the main page and the one for this specific bug are broken like this one  [here](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.ApiDesignGuidelines.Analyzers/Microsoft.ApiDe

[2017-04-21 09:17] ChristophB125 opened #1152 "Microsoft.CodeAnalysis.FxCopAnalyzers: Missing documentation about warnings that are disabled by default"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/)

#### Analyzer

[CA1021](https://msdn.microsoft.com/en-us/library/ms182126.aspx) : AbstractTypesShouldNotHaveConstructors

#### Repro steps

This is a follow up from #1121 which was closed because  CA1012 warning is apparently disabled by default. There is no docume

[2017-04-21 11:13] mavasani commented on #1151
You need to enable IOperation for your project using the following property: '<Features>IOperation</Features>'. These Analyzers are based on IOperation API which are still under development.

[2017-04-21 11:13] #1151 closed

[2017-04-21 11:33] ChristophB125 commented on #1151
@mavasani  Can you please provide documentation on how to do that?

[2017-04-21 22:21] mavasani opened #1154 "False report of CA1812 (AvoidUninstantiatedInternalClasses)"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AvoidUninstantiatedInternalClassesAnalyzer

#### Repro steps

[code]

#### Expected behavior

No CA1812

#### Actual behavior

`
Warning	CA1812	X.ComparisonComparer<T> is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, m

[2017-04-22 21:15] bkoelman opened #1155 "VB tests are missing for EquatableFixer"
#### Analyzer package
Microsoft.CodeQuality.Analyzers (Microsoft.ApiDesignGuidelines.Analyzers)

#### Analyzer
EquatableFixer

VB tests are missing for this fixer.
https://github.com/dotnet/roslyn-analyzers/pull/1065#discussion_r111835939

[2017-04-23 17:19] dfederm opened #1156 "CA1801 has false positives when using dictionary initializers"
#### Analyzer package
Microsoft.Maintainability.Analyzers

#### Analyzer
ReviewUnusedParametersAnalyzer

#### Repro steps

The follow code causes a false positive of 1801 to appear
![image](https://cloud.githubusercontent.com/assets/6445614/25315667/ce2291dc-280d-11e7-8b49-7460f42139fb.png)

While this code does not
![image](https://cloud.githubusercontent.com/assets/6445614/25315669/de0271da-280d

[2017-04-25 09:08] BGrojer commented on #1125
Is that still based on this repo or another one?

[2017-04-25 10:50] mavasani commented on #1125
This is still based on this repo - we are currently validating the NuGet packages built out of the repo and hope to finish it this week and then publish.

[2017-04-25 13:37] sharwell opened #1158 "CA1812 (Avoid uninstantiated internal classes) should not be reported for types passed to a 'new' constraint"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1812: Avoid uninstantiated internal classes

#### Repro steps

1. Declare an `internal` class
1. Use the class as the argument for a generic type parameter with the `new` constraint

[code]

#### Expected behavior

CA1812 should not be reported.

#### Actual behavior

Unknown; there is no test currently covering this

[2017-04-25 13:42] sharwell opened #1159 "CA1812 should be reported for abstract types, unless instantiated"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1812: Avoid uninstantiated internal classes

#### Repro steps

1. Declare an internal class with the `abstract` modifier
1. Do not derive any types from the base class

[code]

#### Expected behavior

CA1812 should be reported.

#### Actual behavior

CA1812 is not reported.

:memo: If the abstract type has one or mor

[2017-04-25 13:46] sharwell opened #1160 "CA1812 (Avoid uninstantiated internal classes) should be aware of indirect instantiation"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1812: Avoid uninstantiated internal classes

#### Repro steps

1. Declare an internal type
1. Use Json.NET to directly or indirectly deserialize an instance of the type

#### Expected behavior

CA1812 is not reported.

#### Actual behavior

CA1812 is reported if the only instantiations of the type occur through Json.

[2017-04-25 13:58] sharwell opened #1161 "CA1018 (Mark attributes with AttributeUsageAttribute) should ignore abstract attributes"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1018 (Mark attributes with AttributeUsageAttribute)

#### Repro steps

1. Declare a class which extends `Attribute` and is marked `abstract`

[code]

#### Expected behavior

CA1018 should not be reported.

#### Actual behavior

Unknown; the special case is not covered by the current tests for this analyzer.

[2017-04-25 14:09] sharwell opened #1162 "CA1052 (Static holder types) should ignore static constructors"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1052 (Static holder types)

#### Repro steps

1. Declare a non-static class with only a static constructor

[code]

#### Expected behavior

CA1052 should not be reported.

#### Actual behavior

CA1052 is reported.

For all practical purposes, C16 is an empty non-static class, which currently does not report a diagnos

[2017-04-25 14:15] sharwell opened #1163 "CA1052 (Static holder types) should not special-case empty interfaces"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1052 (Static holder types)

#### Repro steps

1. Declare a non-static type which contains a static method and implements an empty interface

[code]

#### Expected behavior

CA1052 should not be reported.

#### Actual behavior

CA1052 is reported.

➡️ If marker interfaces are a bad practice, that should be implemented

[2017-04-25 14:22] sharwell opened #1164 "CA1806 (Do not ignore method results) could benefit from [PureAttribute]"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1806 (Do not ignore method results)

#### Repro steps

1. Declare a method which is marked with `[Pure]` and returns a value
1. Call the method, ignoring the return value

[code]

#### Expected behavior

CA1806 could be reported.

#### Actual behavior

CA1806 is not reported.

:memo: The potential increase in false p

[2017-04-25 14:29] sharwell commented on #652
@lgolding this indicates fixed, but I don't see a PR where it was fixed and it isn't linked here.

[2017-04-25 17:35] gafter commented on #476
CA2000 was implemented in the C# compiler as a proof of concept some time ago. We removed it from the compiler as the intent is to expand the scope of what analyzers can do to cover these kinds of use cases:

- https://github.com/dotnet/roslyn/commit/8474c254666eee18c633601a789f8d41b685b51c
- https://github.com/dotnet/roslyn/commit/76911d6f85c03f3d068a5ea45530638ab2ce368a

I believe our intent is

[2017-04-25 18:54] jinujoseph opened #1165 "TODO's for release of VSIX"
- [x] Look into Signing issue
- [x] Enable the selected set of analyzers by default
- [x] Version check
- [x] Sync with new Roslyn Bits ( https://github.com/dotnet/roslyn/issues/18689 need to be completed)
- [x] Push the vsix to gallery
- [x] A/B gold bar
- [x] Important Bugs
- [x] Testing
 - [x] Functional test