[2021-06-02 14:21] dsplaisted commented on #4983
@jeffhandley @mikadumont It does seem like we should do something better here.  Some ideas:

- If an assembly has no `SupportedOSPlatform` attributes, don't generate error messages for each call site.  Generate one (suppressible) message saying the assembly can't be analyzed for platform compatibility
- If `GenerateAssemblyInfo` is false and the platform compatibility analyzer is enabled, generate

[2021-06-02 15:54] jmarolf commented on #4983
In addition, we could provide a codefix to just add this assembly attribute in response to the new diagnostic

[2021-06-02 16:44] buyaa-n commented on #4983
I will add this scenario in the analyzers doc

An assembly does not have to have an attribute, unattributed API/assembly is accounted as cross-platform, we should warn when cross-platform assembly accessing platform-specific API

Probably it is better to be done by SDK analyzer because setting GenerateAssemblyInfo to false could also restrict other useful assembly attribute generation. But not sur

[2021-06-02 18:28] udlose commented on #5059
is there any update on this?

[2021-06-02 21:19] jmarolf commented on #4983
Yes but the scenario (as I understand it) is this:

[code]

The analyzers will now not operation correctly. The assembly _should_ be platform specific but it does not indicate that this is the case. We should have a separate analyzer that examines the TFM and emits a warning if the project targets a platform-specific TFM but does not have attributes that mark it as platform specific.

[2021-06-02 21:42] RussKie commented on #4983
IIRC `<TargetFramework>net6.0-windows</TargetFramework>` implies `'Windows' 7.0 and later`.

[2021-06-02 21:45] RussKie commented on #4983
![image](https://user-images.githubusercontent.com/4403806/120556278-a0853400-c43f-11eb-89a1-4f59a09a7b77.png)

[2021-06-04 11:17] Hottemax opened #5139 "CA1002: Do not expose generic lists: Sealed classes"
### Analyzer

**Diagnostic ID**: [CA1002](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1002)

### Describe the improvement

I don't see why suggestion is raised for classes that are declared as _public sealed_
They can not be inherited from, so why is this rule relevant?

[2021-06-05 12:53] RussKie commented on #4699
@sygmond thank you, your suggestion worked!

[2021-06-05 14:31] sygmond commented on #4699
Glad that it worked. 99% of the work was done by people that commented above and 1% my insight. Its great when we put our heads together and get good results.

[2021-06-05 21:30] bkoelman commented on #2985
I'm still getting this false positive today (VS 2019 16.10 in .NET5 project with `AnalysisMode:AllEnabledByDefault`) when no variable is assigned:

[code]

[2021-06-05 23:55] bkoelman opened #5140 "CA1508: False positive in cast"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### De

[2021-06-06 16:17] Uzivatel919 opened #5142 "CA1508 False Positive On Switch Expression with when keyword"
### Analyzer

**Diagnostic ID**: [CA1508: Avoid dead conditional code](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis),

**Version**: [SDK 5.0.300](https://dotnet.microsoft.com/download/dotnet/5.0)

**AND**

[2021-06-07 21:48] #5023 closed

[2021-06-08 21:09] MichaelSimons commented on #5136
@jmarolf - This is blocking the ArPow work, can this get fixed before .NET Preview 6 release branch snap and build which starts on 15-Jun?

[2021-06-08 21:12] NGloreous opened #5143 "Support loading banned APIs from multiple additional files"
### Analyzer

**Diagnostic ID**: [RS0030](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.md)

### Describe the improvement

Support loading banned API rules from multiple files.

### Describe suggestions on how to achieve the rule

Consider updating [ReadBannedApis](https://github.com/dotnet/roslyn-analyz

[2021-06-08 21:57] anreton opened #5144 "Add suffixes for list and set"
### Analyzer

**Diagnostic ID**: [CA1711](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1711)

### Describe the improvement

Add:
- Suffix `List` : Base type/Interface - `IList<T>`, `IReadOnlyList<T>
- Suffix `Set` : Base type/Interface - `ISet<T>`, `IReadOnlyList<T>

### Describe suggestions on how to achieve the rule

### Additional context

[2021-06-08 22:17] anreton opened #5145 "CA1710: Add suffixes for list and set and readonly collection interfaces"
### Analyzer

**Diagnostic ID**: [CA1710](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1710)

### Describe the improvement

Add:
- Suffix - `List`. Base type/Interface - `IList<T>`, `IReadOnlyList<T>`
- Suffix - `Set`. Base type/Interface - `ISet<T>`, `IReadOnlyList<T>`
- Suffix - `Collection`. Base type/Interface - `IReadOnlyCollection<T>`

### Describe suggestions

[2021-06-09 20:39] buyaa-n commented on #4983
@jmarolf I am not opposing having such analyzer, my point is that analyzer should be on the SDK/MsBuild side. The CA1416 initially was evaluating TFM instead of relying on MsBuild, then because of limitation in roslyn-analyzers (i did not participate in the discussion about that, so do not remember clearly what was the limitation, @terrajobst might share more details), we decided to move that logi

[2021-06-09 22:34] sharwell commented on #5059
This is fixed by #5071, but @mavasani would need to provide information about which release first contains the fix.

[2021-06-09 22:35] #5059 closed

[2021-06-10 16:45] jmarolf commented on #5128
closing as duplicate of #5011

[2021-06-10 16:45] #5128 closed

[2021-06-10 16:49] jmarolf commented on #5133
Json serializer can deserialize an Uri. Would need an explanation of why the heuristic should ignore these.

[2021-06-10 16:51] jmarolf commented on #5135
@jeffhandley can someone take a look here?

[2021-06-10 16:59] Youssef1313 commented on #5133
@jmarolf I haven't tried, but I don't see it mentioned in docs [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-supported-collection-types?pivots=dotnet-5-0).

[2021-06-10 17:00] jmarolf commented on #5139
@mavasani does this make sense as a configuration option

[2021-06-10 17:03] jmarolf commented on #5133
Please file a bug on the runtime team to document this. Looking at the runtime tests [here](https://github.com/dotnet/runtime/blob/e98d043d7d293c88a346b632d8fc12564a8ef0ce/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs#L38) I assume that Uris are fully supported

[2021-06-10 17:11] #5133 closed

[2021-06-11 10:53] bdquig opened #5148 "CA1820: NullReferenceException when using dynamic"
Sample code:

public async Task InitAsync(string connectionString, string sqlStatement, CancellationToken cancellationToken, dynamic parameters = null, int? commandTimeout = null, CommandType commandType = CommandType.StoredProcedure)
		{
			if(RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
				await InitKerberosAsync(cancellationToken).ConfigureAwait(false);

			Connection = new SqlConnection

[2021-06-11 10:59] bdquig opened #5149 "CA1014: Cannot be silenced"
I have CA1014 silenced in my .editorconfig, but they keep showing up in my warning list.

I have the following line in my .editorconfig at the root of my source folder:
dotnet_diagnostic.CA1014.severity = silent

[2021-06-12 01:38] jeffhandley commented on #5135
@buyaa-n / @carlossanlop - Can you triage this to determine if it's an easy fix?

[2021-06-12 09:14] Youssef1313 commented on #5149
@bdquig Does your project have any code files in it?

This issue can happen when you have only a `csproj` without any `.cs` files.

See https://github.com/dotnet/roslyn/issues/51868

[2021-06-14 01:31] stephentoub commented on #5135
There is:
https://github.com/dotnet/roslyn-analyzers/pull/5150

[2021-06-14 03:59] AdrianoAE opened #5151 "AD0001 - Interpolated string with range operator"
**Version Used**:
.Net 5
Visual Studio 16.10.1

**Steps to Reproduce**:
[code]
or
[code]

**Expected Behavior**:
No errors

**Actual Behavior**:
The problem seems to be with the range operator in interpolated strings, even after removing those lines the error won't go away without a restart and it was very difficult to understand where the problem was because most of the time it only shows this er

[2021-06-14 15:05] udlose commented on #5059
@mavasani could you please let me know what release of VS this fix will be included in?

[2021-06-15 00:40] bdquig commented on #5149
I have a solution with over 30 projects.  only 1 has no .cs files.  all projects are showing the warning

[2021-06-15 07:11] mano-cz opened #5152 "CS1591: Redundant comments are required in all partial method definitions"
### Analyzer

**Diagnostic ID**: [CS1591](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591): `Missing XML comment for publicly visible type or member`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.c

[2021-06-15 11:54] Youssef1313 commented on #5149
Does adding any dummy `.cs` file to this project fixes the warning?

- If it fixes it, then the issue could be closed as duplicate of dotnet/roslyn#51868 (you may want to add a comment there that the issue affects all projects.
- If it doesn't fix it, then it may be easier to investigate if you can share a repro.

[2021-06-16 16:46] poke commented on #3210
I disagree. Generic type arguments are very often used in serialization settings but serializers will usually *not* use any type constraints mostly because they won’t rely on the generic typing to create the object.

For example, the following examples all cause the CA1812 warning:

[code]

I personally hit this with the third use case, since I was declaring an internal type that would only be use

[2021-06-17 00:39] brian-reichle opened #5154 "CA1508 seems to assume that `is var` will return false for null values."
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3)

**Version**: 5.0.3 (Latest)

### Describe the bug

In the following code, CA1508 will comp

[2021-06-17 12:02] rbeurskens commented on #1639
Note that this might be considered 'micro-optimization' unless it is executed many times, considering .NET the compiler and the runtime/GC are designed to take that job out off your hands so you can focus on functionality. (if you want to you can still write unsafe blocks, invoke native C++ APIs etc..) But sure, its good to be aware to know what happens 'under the hood', but **maybe not a job for

[2021-06-17 22:17] #5136 closed

[2021-06-18 07:36] RussKie commented on #5058
As a workaround you can resue the work of @tmat from https://github.com/dotnet/roslyn/blob/main/scripts/PublicApi/ to ease the pain of shipping API each release.

[2021-06-19 06:30] teo-tsirpanis commented on #5007
I am the one who had opened the ticket, glad to see that the code metrics calculator is already open-sourced.

[2021-06-19 14:49] Bond-009 opened #5158 "CA1034: ref struct enumerators are not exempt"
### Analyzer

**Diagnostic ID**: [CA1034](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1034): `Nested types should not be visible`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

[2021-06-20 09:11] Youssef1313 opened #5159 "Review `BuildWarningCandidate`s and promote suitable rules to `BuildWarning`"
There are few rules with `RuleLevel.BuildWarningCandidate`. It may be beneficial for .NET 6 release to promote some of those candidates to BuildWarning.

For each rule:

1. If it has some known false positives that may be fixed, keep as BuildWarningCandidate for later evaluation after fixing false positives.
2. If it has some known false positives that are unlikely to be fixed, degrade it to IdeSu

[2021-06-21 12:29] innix opened #5160 "CA1508: false positive inside catch block nested in for loop"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.301](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe

[2021-06-21 13:27] innix opened #5161 "CA1508: false positive when when combining null-coalesce with using statement"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.301](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe

[2021-06-21 16:24] sharwell commented on #5059
@udlose This fix ships with an analyzer package and/or the .NET SDK, as opposed to shipping as part of Visual Studio. @mavasani or @jmarolf may be able to associate the pull request above with specific packages/versions.

[2021-06-22 13:42] #5135 closed

[2021-06-23 18:38] jmarolf commented on #5059
@udlose this is in the latest .NET SDK preview and will be in the .NET 6 SDK (you can use newer SDKs to build older projects)

[2021-06-23 20:25] udlose commented on #5059
@jmarolf we are nowhere close to being ready to move from .NET 5 to .NET 6 (even once it is formally released).  Can't this be backported to .NET 5?

[2021-06-23 20:39] Youssef1313 commented on #5059
@udlose I think you could use the analyzers from NuGet instead of from the SDK.

[2021-06-23 20:40] jmarolf commented on #5059
as @Youssef1313 says, you can reference these nuget packages directly instead of letting them come implicitly from the SDK if you cannot wait

[2021-06-24 01:46] dlech opened #5168 "partial method incorrectly triggers CA1822"
**Version Used**: .NET 6 preview 5

**Steps to Reproduce**:

1. Install .NET 6 preview 5 + VS Code + `ms-dotnettools.csharp` extension.
2. `git clone https://github.com/dlech/CA1822`
3. `code CA1822`
4. Open [Class1.cs](https://github.com/dlech/CA1822/blob/master/Class1.cs) in the project.
5. Look for squiggles.

**Expected Behavior**:

The code should not trigger any code analyzers.

**Actual Beh

[2021-06-24 03:07] udlose commented on #5059
Is there a preview available for the nuget?  The latest version I see is 5.0.3 from January 2021 - https://github.com/dotnet/roslyn-analyzers/releases/tag/5.0.3

[2021-06-24 03:22] Youssef1313 commented on #5059
@udlose Preleases are [here](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&version=6.0.0-rc1.21320.2&protocolType=NuGet)

[2021-06-24 16:36] mavasani commented on #5139
This rule is candidate for deprecation, we are not doing any further work on this.

[2021-06-24 16:36] #5139 closed

[2021-06-24 16:40] mavasani commented on #5145
Can this be achieved with the existing editorconfig option?

[2021-06-24 16:42] mavasani commented on #5148
Can you please add more information about the issue?

[2021-06-24 16:47] mavasani commented on #5158
This rule is a candidate for removal: https://github.com/dotnet/roslyn-analyzers/blob/a0522afd52b25ad211298e308fd5bbc7734865e0/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/NestedTypesShouldNotBeVisible.cs#L31

Please suppress the violation.

[2021-06-24 16:47] #5158 closed

[2021-06-24 18:35] tobias-tengler commented on #5130
@jmarolf could you elaborate on why you tagged this as "Blocked"?

[2021-06-24 18:37] Youssef1313 commented on #5130
@tobias-tengler It's blocked since it depends on a feature request on roslyn side.

[2021-06-24 18:39] jmarolf commented on #5130
@Youssef1313 is right. We cannot write codefixes against additional files today. Until dotnet/roslyn adds this capability this issue is blocked

[2021-06-24 18:55] tobias-tengler commented on #5130
Ah, I see. Thanks for the quick update guys!
I also assume that the new [Package Validation](https://devblogs.microsoft.com/dotnet/package-validation/) will make the API analyzer largely redundant!?

[2021-06-24 21:58] anreton commented on #5145
@mavasani, yes, via
`dotnet_code_quality.CA1710.additional_required_suffixes = T:System.Collections.Generic.IReadOnlyList`1->List|T:System.Collections.Generic.IList`1->List|T:System.Collections.Generic.IReadOnlySet`1->Set|T:System.Collections.Generic.ISet`1->Set|T:System.Collections.Generic.IReadOnlyCollection`1->Collection`

The original suggestion was that it might make sense to add the mentione

[2021-06-25 13:27] Evangelink opened #5169 "Any reason not to have DiagnosticDescriptor readonly"
Hi there,

I was browsing the code base and realized that the `DiagnosticDescriptor` declared are `internal static` but not `readonly` while they are not expected to change. Is there a technical (perf?) reason to do so?

[2021-06-25 14:01] Evangelink commented on #4900
@mavasani I did quite a lot of tests and I can NEVER reproduce the issue during unit tests but I have managed to reproduce the error in some projects. Looking at the code implementation, I am guessing this is linked to some concurrent execution causing one field to be returned multiple time, which would result in the same field being added twice as value (in the dictionary) for the same key (the f

[2021-06-25 14:33] Youssef1313 commented on #5169
@Evangelink The repo isn't consistent on this matter, but the majority are not `readonly`. So I don't think there is a reason.

[2021-06-25 14:59] Evangelink commented on #5169
If there are no technical consideration, it might be worth to fix it (and add an analyzer).

[2021-06-25 15:05] Youssef1313 commented on #5169
There is already IDE0044 for that.

[2021-06-25 16:52] dlech commented on #5168
Duplicate of #4733?

[2021-06-25 16:56] Youssef1313 commented on #5168
@dlech I'm not sure. The other issue was opened specific to attributes. I think both should be kept open until this is investigated.

[2021-06-25 17:27] Youssef1313 opened #5171 "CA1822 (Mark members as static) codefix doesn't add static to partial definitions"

[2021-06-26 15:00] Evangelink commented on #5169
I forgot about it. That's weird because the issue is turned on but not raised on my VS (is it on yours?), it's caught by a different analyzer.

[2021-06-26 17:03] bluekms opened #5173 "dotnet build --no-resotre CSC : error CS8034"
### Analyzer

**Diagnostic ID**: [CS8034]

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)
**Version**: [SDK 5.0.x](https://dotnet.microsoft.com/download/dotnet/5.0)
**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)
**Ver

[2021-06-26 19:05] Youssef1313 commented on #5173
@bluekms Can you upload a zipped repro?

[2021-06-27 10:37] Evangelink commented on #5123
Impact should be relatively moderated (method call + dict lookup) but the PR is still totally worth it.

[2021-06-27 10:40] Evangelink commented on #3095
Is the goal to simply detect field or property named `password` (and maybe some variants) assigned to a literal value?

[2021-06-27 10:51] AraHaan commented on #3095
I think it should do a case insensitive search for any symbol named password and flag it if it sets a value to it (no mater if it's an ``string`` local variable or a property on another object being set in any way possible.

[2021-06-27 11:02] Evangelink commented on #5173
I have just tested your repro steps and I don't have any issue. As suggested by @Youssef1313 could you post a zipped repro?

[2021-06-27 13:45] NickCraver commented on #3187
A fun example of this in latest is fighting analyzers, for example:
![image](https://user-images.githubusercontent.com/454813/123546816-402a9f00-d72c-11eb-8a6c-036e499be831.png)
![image](https://user-images.githubusercontent.com/454813/123546818-428cf900-d72c-11eb-9d98-7feb115d157d.png)

The net5.0 analyzers are largely compatible with previous frameworks, but some analyzers on what's needed, what

[2021-06-27 16:34] NickCraver opened #5174 "Suggestion: IDE0079 (Remove unnecessary suppression) allow .editorconfig to support prefixes"
### Analyzer

**Diagnostic ID**: [IDE0079](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0079)

### Describe the improvement

Today in configuring this rule, `.editorconfig` allows `all`, `none`, or a comma-delimited list of analyzer IDs. In the comma list, it also supports `category:` for all things in a specific category. I propose we add support for `prefix:`

[2021-06-27 19:54] Evangelink commented on #5174
I would suggest to not add the `prefix:` part but instead to use the wildcard symbol (i.e. `RCS*`), this would be similar to the other abilities we have added.

Side note, I think that `IDE0079` is directly on `roslyn` not on this repo. Tagging @mavasani

[2021-06-28 08:48] Evangelink commented on #5126
Are you suggesting to merge the 2 analyzers into one or simply to merge/consolidate the 2 descriptions?

[2021-06-28 08:48] #4733 closed

[2021-06-28 08:48] #5168 closed

[2021-06-28 09:14] Evangelink commented on #3232
Ping @mavasani @dotpaul

[2021-06-28 09:16] Youssef1313 commented on #5126
@Evangelink Either that, or distinguishing the descriptions.

[2021-06-28 09:29] Evangelink commented on #5044
I think that's a valuable addition.

[2021-06-28 09:30] Evangelink commented on #3347
@mavasani @sharwell The issue is open for quite some time, would it be possible to somehow increase the priority of discussion in the matter?

[2021-06-28 09:32] Evangelink commented on #4975
@jgcjoec Would you mind providing a simple repro and the steps to "compile" the project?

[2021-06-28 09:40] #4995 closed

[2021-06-28 09:40] #5110 closed

[2021-06-28 11:02] bdquig commented on #5148
We have a class library that is targeting .Net Core 3.1.  We have 2 functions that use dynamic to pass in an array of values that will be used as the parameters to any SQL database stored procedure.  We check this parameter for null because we could be calling a proc that has no parameters.

This null check is causing the following warning:

Severity | Code | Description | Project | File | Line |

[2021-06-28 11:07] Youssef1313 commented on #5148
@bdquig Which version are you using?

The stack trace contains `CSharpTestForEmptyStringsUsingStringLengthAnalyzer`, which was removed 5 years ago in https://github.com/dotnet/roslyn-analyzers/pull/823.

[2021-06-28 11:10] Youssef1313 commented on #5148
Also duplicate of https://github.com/dotnet/roslyn-analyzers/issues/774 (which was closed after the analyzer was rewritten).

[2021-06-28 13:27] kentyman23 commented on #4184
The title of this is wrong, as it should be mentioning 18**_1_**2 as shown in the description.

[2021-06-28 13:28] kentyman23 commented on #4052
This was closed even though **_1812_** was never fixed.

[2021-06-29 09:40] MaceWindu opened #5182 "Allow access to banned type members for instances of derived class"
### Analyzer

**Diagnostic ID**: [RS0030](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs)

### Describe the improvement

I have following scenario:
- there is an attribute that is not allowed to use directly (attribute type banned by rule)
- instead of this attribute we have new attribute type, derived from banned o

[2021-06-29 15:27] kemats opened #5183 "CA1704 needs to be able to turn off unmeaningful identifier diagnostic for single letter symbol name"
### Analyzer

**Diagnostic ID**: [CA1704](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1704)

### Describe the improvement

CA1704 in Text.Analyzers always reports unmeaningful identifier for single letter symbol name even when the single letter is on custom dictionary as a recognized word. This can cause producing many CA1704 because there are commonly used single letter symbol na

[2021-06-30 09:42] adamralph opened #5184 "false positive for CA1801 for "args" in top level statements"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1801): `Review unused parameters`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

Note: I was [in

[2021-06-30 17:57] sharwell commented on #3347
I finally heard back on this. Sounds like the conclusion is we should remove the EULA.rtf file and allow the license metadata to be the single link to a consistent license.

[2021-06-30 22:15] ZacharyPatten opened #5185 "new compiler message on unnecessary `inheritdoc`s"
### Example 1

The `<inheritdoc />` on `B` is unnecessary because all the XML from `A` is overriden.

[code]

### Example 2

The duplicate `<inheritdoc />`s on `B` could be a single `<inheritdoc />`.

[code]

### Example 3

The duplicate `<inheritdoc cref="A"/>`s on `B` could be a single `<inheritdoc cref="A"/>`.

[code]

### Example 4

The XML nodes `<inheritdoc cref="A"/>` and `<inheritdoc cref=

[2021-06-30 22:16] ZacharyPatten opened #5186 "new compiler message on unnecessary `cref` in an `inheritdoc`"
### Example 1

The `<inheritdoc cref="A"/>` below could be `<inheritdoc/>`.

[code]

### Example 2

The `<inheritdoc cref="A"/>` below could be `<inheritdoc/>`.

[code]

### Example 3

The `<inheritdoc cref="A"/>` and `<inheritdoc cref="B"/>` below could be replaced with a single `<inheritdoc/>`.

[code]

[2021-06-30 22:18] ZacharyPatten opened #5187 "new compiler message on duplicate XML docs instead of `<inheritdoc/>`"
`B` contains copy-pasted `<summary>hello world</summary>` when `<inheritdoc/>` would prevent duplication.

[code]

[2021-07-01 02:34] wzchua opened #5188 "Analyzer Configuration for CA1051,CA1826 not available in .NET5.0"
### Analyzer

**Diagnostic ID**: CA1051,CA1826, maybe some others

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.301](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug
Analyzer Configuration is not taken into account

### Steps To Reproduce

1. crea

[2021-07-01 02:39] yifanbian-msft opened #5189 "Configure severity of security related rules by category"
Hi, we would like to enable all security related rules in our projects, but I found that `dotnet_analyzer_diagnostic.category-Security.severity = error` doesn't work. After digging into .NET Analyzer source code, I found that [`RuleLevel.Disabled` documentation states that these rules can't be enabled using the category based bulk configuration](https://github.com/dotnet/roslyn-analyzers/blob/main

[2021-07-01 05:52] #4584 closed

[2021-07-01 06:51] Youssef1313 commented on #5189
Related to: https://github.com/dotnet/roslyn/issues/47046

[2021-07-01 08:34] DrGriff opened #5191 "New rule for private field names requiring an underscore"
### Describe the problem you are trying to solve
From [C# Coding Style](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/coding-style.md) it states that:

I'm not seeing a rule that requires private fields to be prefixed with an underscore.

### Describe suggestions on how to achieve the rule
So the rule should find all private/internal fields that don't start with an underscore

[2021-07-01 08:48] Youssef1313 commented on #5191
I think this can be done with [naming rules](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules).

See for example:

https://github.com/dotnet/runtime/blob/184a5b103ca9fec1e7e7e0d3a411a6d15f1bb867/.editorconfig#L65-L82

[2021-07-01 09:27] DrGriff commented on #5191
Worked like a dream - thank you so much!

[2021-07-01 09:27] #5191 closed

[2021-07-01 09:42] DrGriff commented on #5191
FYI - also had to add

dotnet_diagnostic.IDE1006.severity = none

It was showing as `Disabled` but still coming as a Warning (which I promote to Error).

[2021-07-01 18:25] vsfeedback opened #5192 "EditorConfig UI shows localized analyzer rule titles in english VS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/EditorConfig-UI-shows-localized-analyzer/1446606)._

---
[severity:It's more difficult to complete my work]
The new EditorConfig UI that was added in Visual Studio version 16.10 shows some analyzer rule titles in a localized language (German for me - maybe because my Windows is in German

[2021-07-01 18:25] vsfeedback opened #5193 "New .editorconfig designer does not save changes"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/New-editorconfig-designer-does-not-save/1421082)._

---
[code]

In Solution Explorer, expand the `test` folder and open `.editorconfig`.
In the designer, make a change (check a box, or in my case set `SA1611` to `Disabled`
Save the document and close.

**Expected**

Git Changes shows the

[2021-07-01 18:29] vsfeedback opened #5194 ""configure code analysis" leads to deprecated property page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/configure-code-analysis-leads-to-depre/1352258)._

---
[severity:I'm unable to use this version]
This is _not_ a duplicate of https://developercommunity.visualstudio.com/t/code-analysis-settings-doesnt-load/317861

When selecting "Analyze > Configure Code Analysis > For Solution" it open

[2021-07-01 20:24] bdquig commented on #5148
I did have references to a couple of old analyzers.  Removing them fixed this issue.

It would be nice if the old analyzers were marked as deprecated, so people would know to remove them

[2021-07-02 01:26] allisonchou opened #5197 "CA1840 error link broken"
CA1840 links to [this webpage](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1840), which is broken, so I cannot find more information out about the diagnostic. The screenshot below is from working in the [aspnetcore-tooling](https://github.com/dotnet/aspnetcore-tooling) repository in VS2022.

![image](https://user-images.githubusercontent.com/16968319/12420696

[2021-07-02 03:03] mavasani commented on #5197
@stephentoub @carlossanlop @buyaa-n

[2021-07-02 09:29] Youssef1313 commented on #5197
Tracked by https://github.com/dotnet/docs/issues/23900.

[2021-07-02 17:27] JuanZamudioGBM opened #5198 "NetAnalyzers does not show errors in Visual studio 16.10.3 during build"
### Analyzer
Microsoft.CodeAnalysis.NetAnalyzers,

**SDK**: 5.0.301

**Version**: 5.0.3 (Latest)

### Describe the bug

I moved away from FxCopAnalyzers to NetAnalyzers, and some errors are not showing in Visual Studio while doing a rebuild, I have to run `dotnet build` to see the errors, after seeing the errors in the CLI if I open the class VS now shows the errors.

### Steps To Reproduce
I have

[2021-07-02 18:19] Youssef1313 commented on #4744
Closing as fixed.

[2021-07-02 18:19] #4744 closed

[2021-07-02 18:51] roywill opened #5199 "Analyzer complaining about not disposing object (False positives)"
<PackageReference Include="Microsoft.CodeAnalysis.NetAnalyzers" Version="5.0.3">
          <PrivateAssets>all</PrivateAssets>
          <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
        </PackageReference>

### Describe the bug

var item = new ItemData(scannedFileName: filePath);
return parseChannel.Writer.WriteAsync(item);

The class ItemData

[2021-07-02 19:54] JuanZamudioGBM opened #5200 "Are .analyzerconfig supported targeting .netstandard 2.1?"
### Analyzer
Microsoft.CodeAnalysis.NetAnalyzers

SDK: 3.1.410

Version: 5.0.3 (Latest)

### Describe the bug
We have a library that supports .net5 and .netstandard2.1, "dotnet build" with the SDK 5.0.301 runs correctly, but using the SDK  3.1.410 the rules in analyzerconfig are ignored

### Expected behavior
configuration in analyzerconfig is respected
### Actual behavior
configuration in analyze

[2021-07-03 10:21] xtqqczze opened #5202 "Code fix for CA1820 could be improved for `string.Equals`"
### Analyzer

**Diagnostic ID**: [CA1820](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1820)

### Describe the improvement

In the case of an empty string using `str.Equals(string.Empty)`, it can be assumed that `str` is not null, as this would have resulted in a `NullReferenceException` in the first instance.

#### Current code fix

[code]

#### Expected code fix

[2021-07-04 06:21] yaakov-h opened #5205 "CA1416 does not recognise built-in guards for macOS-specific types"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 6.0.100-preview.5.21302.13 (included in VS2022 Preview 1)

###

[2021-07-05 20:09] xtqqczze opened #5209 "CA2208 should not report a violation when thrown from a property"
### Analyzer

**Diagnostic ID**: [CA2208](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2208)

### Describe the improvement

Specifying `value` as a `paramName` for `ArgumentException` in a property does not add any value over what the stack trace provides, therefore a violation should not be reported.

### Example

#### Existing violation

[code]

Creates the messag

[2021-07-06 06:40] Youssef1313 commented on #5209
I recall this is something that @bartonjs pointed to in the design discussion of this analyzer. Not sure why the implementation didn't match this decision?

@bartonjs The analyzer currently allows both the implicit `value` parameter and the property name.  Can you please confirm if the analyzer should be completely relaxed in properties (i.e, don't analyze properties completely)?

[2021-07-08 07:59] Youssef1313 opened #5219 "🐛 Asterisk should be escaped in generated markdown files"
🐛 This is a bug in markdown generation. The asterisks should be escaped. I'll file a follow-up issue on that.

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn-analyzers/pull/5210#r665961235_

[2021-07-08 20:23] rsullivan00 commented on #2175
@PBuchmann did you find a workaround for this case?

We're running into the same issue currently--we'd like to use a custom CSRF-verification implementation, but also want code analysis to verify that CSRF-protection is added to new endpoints.

[2021-07-08 20:38] PBuchmann commented on #2175
No, I had given up on this. But honestly I wouldn't call me a major expert on this topic. I just stumbled over it.
If I remember correclty, I was forced to suppress the messages on each occurance.
Maybe the problem can be that a custom forgery attribute could pretend security to be existent where it actually isn't. So the analyzer would have to validate the security of the custom attribute. But th

[2021-07-08 23:18] jeffhandley commented on #4983
The behavior of the Platform Compatibility Analyzer is documented to capture this scenario now.
https://docs.microsoft.com/en-us/dotnet/standard/analyzers/platform-compat-analyzer#how-the-analyzer-recognizes-tfm-target-platforms

Turning off `<GenerateAssemblyInfo>` bypasses other features from the SDK as well. I wonder if we should treat this as more of an SDK/MSBuild issue, such that when that p

[2021-07-08 23:55] terrajobst commented on #4983
@dsplaisted

That's not correct. Having no `SupportedOSPlatform` makes your project universally portable. You would get warnings when calling OS specific APIs without guarding them. That's the scenario for typical class libraries.

I don't think that's a good idea because it means people wouldn't be able to disable assembly info generation and use the analyzer, which they can today. The fix is to

[2021-07-08 23:59] RussKie commented on #4983
👍
The analyzer's error message needs to point to that doc.

[2021-07-09 00:08] terrajobst commented on #4983
It does. Click on the diagnostic ID. If you're thinking that this URL isn't discoverable, then [I think you're correct](https://github.com/dotnet/roslyn/issues/47310).

[2021-07-09 14:44] alrz opened #5223 "Compiler code generator should add public APIs"
The current experience is too slow and it's likely to cause merge conflicts - it seems like 'Add public API' code action adds public APIs in an arbitrary order.

I suggest we modify public API files as part of compiler code generation.

[2021-07-09 14:45] maxkoshevoi opened #5224 "[New rule] Notify that foreach may throw InvalidCastException"
### Describe the problem you are trying to solve

As described [here](https://www.jetbrains.com/help/rider/PossibleInvalidCastExceptionInForeachLoop.html), [here](https://rules.sonarsource.com/csharp/RSPEC-3217), and [here](https://stackoverflow.com/a/949835/4312132) `foreach` can throw `InvalidCastException` at runtime because of hidden explicit cast that is does under the hood.

This is very dan

[2021-07-09 14:47] Korporal opened #5225 "Support a way for attributes derived from a common base to be enforced as mutually exclusive."
## Background and Motivation

When creating attribute classes it is sometimes the case that we will create a base attribute class and then specialize that by creating several derived attribute classes. When we do this we can specify an attribute usage for the base class and set `Inherited = true`, this propagates that attribute usage to each derived class, but does not propagate the `AllowMultiple

[2021-07-09 15:09] mavasani commented on #5224
This is now being proposed as a potential code style rule, moving back to Roslyn.

[2021-07-09 15:13] vsfeedback opened #5226 "Version 16.11.0 Preview 2.0 - InvalidOperationException Unexpected false"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Version-16110-Preview-20---InvalidOpe/1470050)._

---
Highlighting the "1" in the following code throws a yellow bar error with a type of InvalidOperation 'Unexpected false'.

[code]

[code]

---
### Original Comments

#### Feedback Bot on 7/7/2021, 11:49 PM:

<p>We have directed your fe

[2021-07-09 17:34] pgovind opened #5227 "Fix TODOs in DetectPreviewAnalyzer.cs"
Fix the TODOs in the code and the action items called out in https://github.com/dotnet/roslyn-analyzers/pull/5155's PR description

[2021-07-10 02:12] #4870 closed

[2021-07-10 02:42] MarkKharitonov commented on #3427
I have just got this warning, but I do not understand why - I do not compare any symbols:
[code]
Here is the snapshot:
![image](https://user-images.githubusercontent.com/489792/125149408-e2705c80-e106-11eb-9ab9-13ac4200598d.png)

What exactly is the problem?

[2021-07-10 07:42] raffaeler commented on #3427
In order to work, the GroupBy operator uses Equatable.Default which look for the IEquatable<T> interface ending up to an Equals method call for the comparison

[2021-07-10 09:50] KrisVandermotten commented on #3427
@raffaeler

The code shown by @MarkKharitonov  is not comparing symbols, it is comparing strings.

[2021-07-10 11:51] raffaeler commented on #3427
@KrisVandermotten Agree, but my guess is that the Analyzer is not that smart to get the right type.
I guesss it just finds a groupby with the roslyn symbol in the descendants syntax tree.

[2021-07-10 12:55] MarkKharitonov commented on #3427
@raffaeler - then would you not agree it is a bug in the analyzer? Should I open another github issue for it?

[2021-07-10 12:57] Naine commented on #5009
I'm finding this is raised even if MarshalAs is LPStr.

[code]

The only way to satisfy the analyzer seems to be to marshal the string as unicode/utf16, which is not possible if the native API doesn't support that.

[2021-07-10 13:43] raffaeler commented on #3427
I believe it is and this is the right place.
I would like to know from @sharwell if the fix (maybe the correct word is improve) is already ongoing.

[2021-07-10 18:10] stephentoub opened #5231 "CA1419 is too restrictive on the ctor required"
### Analyzer

**Diagnostic ID**: [CA1419](https://github.com/dotnet/roslyn-analyzers/pull/5043): `Provide a public parameterless constructor for concrete types derived from 'System.Runtime.InteropServices.SafeHandle`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug

CA1419

[2021-07-10 18:17] jkoritzinsky commented on #5231
The only improvement we could do here is in the internal or `private protected` case. If the type is nested-protected, nested-private, or nested-protected-or-internal, we need to make the constructor public so it's visible in the enclosing type.

And since a public constructor in an internal or nested-protected-and-internal (`private protected`) type has the same effective visibility as an interna

[2021-07-10 18:18] Youssef1313 commented on #5205
cc @buyaa-n

[2021-07-10 18:18] stephentoub commented on #5231
Because otherwise the rule is firing false positives, calling out things that it claims are bugs and that then require the user to either make a stylistic change in order to shut up the warning or take the time and effort and real estate to suppress the warning.

We should fix this.

[2021-07-10 18:26] Youssef1313 commented on #5188
@wzchua I cannot reproduce the issue. The warning goes away with `dotnet_code_quality.exclude_structs = true` (also this is unit tested). It could be you're on a version that doesn't include the fix from https://github.com/dotnet/roslyn-analyzers/pull/4162.

[2021-07-10 18:31] Youssef1313 commented on #5184
@adamralph Can you try the latest prelease from [dotnet6 feed](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet)?

[2021-07-10 18:37] stephentoub opened #5232 "CA1419 is firing for cases that aren't related to P/Invokes"
### Analyzer

**Diagnostic ID**: [CA1419](https://github.com/dotnet/roslyn-analyzers/pull/5043): `Provide a public parameterless constructor for concrete types derived from 'System.Runtime.InteropServices.SafeHandle`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug

The pur

[2021-07-10 19:20] adamralph commented on #5184
@Youssef1313 sure, I'll give it a try. That doesn't explicitly answer my question but given the version you linked to is `6.0.0-rc1.21356.1` I assume this will be included in SDK 6.

[2021-07-10 19:22] ryzngard commented on #3427
In general if you find a new issue with an analyzer a new bug would be better than adding onto an existing issue.

In this case, the latest code seems to have fixed this. The analyzer now checks for known generic constraints `TKey` instead of checking all constraints for `ISymbol`

Here's the test code I used in `CompareSymbolsCorrectly.cs` to verify

[code]

[2021-07-10 19:33] Youssef1313 commented on #5184
@adamralph The compiler was using `$Main` at first for the synthesized entry point, which at a later point was changed to `<Main>$`. The PR you're mentioning doesn't handle the newer name, which was handled in https://github.com/dotnet/roslyn-analyzers/pull/4256.

The reason I suggested using the prerelease is that they're more frequent, and it mostly will indicate if the bug still exists or not.

[2021-07-10 20:01] MarkKharitonov commented on #3427
The fixed code has not been released yet, correct?

[2021-07-11 01:26] stephentoub opened #5233 "CA1419 shouldn't fire for abstract SafeHandle-derived types"
### Analyzer

**Diagnostic ID**: [CA1419](https://github.com/dotnet/roslyn-analyzers/pull/5043): `Provide a public parameterless constructor for concrete types derived from 'System.Runtime.InteropServices.SafeHandle`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug

The ana

[2021-07-11 01:28] #5233 closed

[2021-07-11 02:27] ryzngard commented on #3427
@MarkKharitonov I believe if you're getting them from the SDK it is in .NET 6 previews, or preview releases of the analyzers.

[2021-07-11 02:49] wzchua commented on #5188
You're correct.
I did a test with a github action .NET 5.0.x
.editorconfig
[code]
and only 2 warnings, not 0 or 3 show up
[code]

How do I get the newer analyzer?

[2021-07-11 06:11] Youssef1313 opened #5234 "Update Wiki for several issues"
https://github.com/dotnet/roslyn-analyzers/wiki

- Install Instructions

    - Shouldn't mention VS Extension.
    - Should mention the SDK, and possibly link to https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview#code-quality-analysis

- Apply a Code Fix for a Rule

    - There is a dead image link due to the movement from `master` to `main`. This link should be fixed.

[2021-07-11 09:51] alrz commented on #5223
After reading that, I wonder if a source generator do this instead?

[2021-07-11 18:35] jaredpar commented on #5223
That is what I am thinking at this point. Essentially today we use an analyzer for this but maybe a better design is to use a source generator.

[2021-07-11 18:39] alrz commented on #5223
Even more so that this analyzer is broken for generated files (https://github.com/dotnet/roslyn/issues/50357)

[2021-07-11 18:39] alrz commented on #5223
Even more so that this analyzer is broken for generated files (https://github.com/dotnet/roslyn/issues/50357)

[2021-07-12 16:51] jkoritzinsky commented on #5232
I disagree with limiting this to scenarios where a SafeHandle would have an inaccessible constructor instead of no constructor because a lack of a constructor doesn't stop a SafeHandle-derived type from being used in interop scenarios. The parameterless constructor is only required in return-value or by-ref scenarios. As a result, types derived from SafeHandle can be safely used in P/Invokes today

[2021-07-12 16:52] jkoritzinsky commented on #5231
That's reasonable. Fixing this for the `internal` and `private protected` cases makes sense.

[2021-07-12 16:59] stephentoub commented on #5232
I don't understand how this is relevant to this issue.  If a parameterless constructor isn't needed, then we shouldn't be warning about one being needed.

Exactly.  The only reason we created this was to avoid the reflection when using source generators.  If it wasn't for that, we wouldn't have changed any of the SafeHandle ctor visibility in the core libraries and we wouldn't have added this rule

[2021-07-12 17:20] jkoritzinsky commented on #5232
The problem I have is that we don't have a good way to detect if one is needed. We can't use "if it isn't there today then it isn't needed" because that doesn't help new developers to create SafeHandle-derived types that follow the best practices guidance. That also doesn't help a scenario where a SafeHandle-derived type is initially used in a scenario where the constructor is not required and lat

[2021-07-12 21:13] stephentoub commented on #5232
That's not what this analyzer is for.  If you need a SafeHandle for use with P/Invokes that need to instantiate one, and you don't have an appropriate constructor, you'll find out right quick when you crash with a very explicit exception that says exactly what the problem is.  The purpose of this analyzer was to address the case of you having a working constructor but that required reflection to a

[2021-07-12 21:33] jkoritzinsky commented on #5232
When we proposed this analyzer, I viewed that part of its job was to move the SafeHandle requirements for P/Invokes to compile time instead of at runtime to make it easier to diagnose failures in interop code and make writing interop code more understandable, though I'm not sure how the rest of the interop team viewed it. Since the source generated interop supports back-compat with non-accessible

[2021-07-13 16:45] adamralph commented on #5184
@Youssef1313 I tried testing Microsoft.CodeAnalysis.NetAnalyzers 6.0.0-rc1.21362.2 from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet but I'm afraid I didn't get very far. I can't get the package to report _any_ diagnostics at all, so I think I'm doing something wrong.

If you know how to do it, then please fee

[2021-07-13 16:49] Youssef1313 commented on #5184
@adamralph You don't seem to be using this version currently in the repo (your last commit is 17 days ago actually). Did you make changes locally but forgot to push them?

[2021-07-13 17:02] adamralph commented on #5184
@Youssef1313 I didn't push anything because I didn't know if I was on the right track. There are a few things I'm unsure about, e.g.:

- How do I ensure that the analyzers in the installed package are used instead of those built into the SDK?
- Do I have to remove the [`AnalysisMode` attribute](https://github.com/adamralph/dotnet-roslyn-analyzers-4066/blob/a24f0dc60fd11ea31414c9d77f230fefbc01e2f5/

[2021-07-13 17:10] adamralph commented on #5184
FWIW I've confirmed that [the problem still exists](https://github.com/adamralph/dotnet-roslyn-analyzers-4066/runs/3059177109?check_suite_focus=true#step:5:11) in [SDK 5.0.302](https://github.com/adamralph/dotnet-roslyn-analyzers-4066/runs/3059177109?check_suite_focus=true#step:4:7).

[2021-07-13 17:18] Youssef1313 commented on #5184
@adamralph Can you check with https://github.com/adamralph/dotnet-roslyn-analyzers-4066/pull/1?

[2021-07-13 18:18] Youssef1313 commented on #5184
@jmarolf Can you help here which .NET 5 SDK version contains or will contain #4256 (the rule was deleted in .NET 6 - so the ask is specifically for .NET 5).

[2021-07-13 18:20] adamralph commented on #5184
As per https://github.com/adamralph/dotnet-roslyn-analyzers-4066/pull/1#issuecomment-879301319, we figured out that this issue is irrelevant for .NET 6 since CA1801 has been removed from that version.

This is still a problem for .NET 5, but TBH I'm not really too bothered, since I know that .NET 6 will not have the problem.

[2021-07-15 10:21] nicro950 opened #5245 "CA1508 object?.Content == null is always 'false', when checking two different objects from same async function."
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.0-preview.6.21353.1](https://dotnet.microsoft.com/download/dot

[2021-07-15 21:54] AArnott opened #5246 "False positive from RS1024 (Compare symbols correctly) when initializing a HashSet<ITypeSymbol>"
### Analyzer

**Diagnostic ID**: RS1024: `Compare symbols correctly`

### Analyzer source

Package: Microsoft.CodeAnalysis.CSharp.Workspaces
**Version**: 3.10.0

### Describe the bug

This line produces the RS1024 diagnostic, even though we *do* specify to use the `SymbolEqualityComparer`:

[code]

[2021-07-16 17:55] #3871 closed

[2021-07-16 18:41] udlose commented on #5059
@jmarolf , @sharwell , @mavasani
So this problem is still not fixed in the latest `Microsoft.CodeAnalysis.NetAnalyzers` v6.0.0-rc1.21362.2 (built 7/12/21).  I have a 2.7 GB memory dump of `ServiceHub.RoslynCodeAnalysisService.exe`.  Where should I upload this memory dump since this issue has been moved to GitHub from the VS Feedback Forum.  The zipped memory dump is 571 MB and too big to post here

[2021-07-16 19:32] Youssef1313 commented on #4900
Fixed in #5243

[2021-07-16 19:52] Youssef1313 commented on #5246
This was fixed in https://github.com/dotnet/roslyn-analyzers/pull/4571. I'm not sure which version (if any) has the fix.

[2021-07-17 05:36] Nexus452 commented on #5068
First time I run into this surprising issue, I googled it and ended up here.

See my example :

    public record FxPair(string QuotedCurrency, string BaseCurrency)
    {
        public FxPair Inverted => new FxPair(BaseCurrency, QuotedCurrency);
        public string Symbol => $"{QuotedCurrency}{Inverted}";

        public override string ToString() => Symbol;
    };

I have seen many memes about

[2021-07-17 10:37] svick commented on #5068
What if the generated `ToString()` called `RuntimeHelpers.EnsureSufficientExecutionStack()`? This would turn the `StackOverflowException` into `InsufficientExecutionStackException`, which should be much easier to diagnose.

[2021-07-17 15:12] Youssef1313 opened #5251 "Unreachable null check after call to GetSpecialType"
https://github.com/dotnet/roslyn-analyzers/blob/cab4a924d6e23560508eabdd802455d0eae18752/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/SpecifyStringComparison.cs#L61

It looks like `stringType` can never be null here. It can be an error type.

[2021-07-17 19:15] RikkiGibson commented on #5209
Perhaps if the code is moved from an accessor to a method then it makes it easier to see that it needs to be changed.

That justification seems a little flimsier, though, assuming that this analyzer is running and will report a warning in that scenario.

[2021-07-18 15:18] myblindy opened #5254 "False positive CA1508, condition is always true"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `'encodedBytes is null' is always 'true'. Remove or refactor the condition(s) to avoid dead code.`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 6.0.100-previ

[2021-07-19 06:57] Bosch-Eli-Black commented on #4530
@mavasani, Do you know what release this was fixed in?

[2021-07-19 07:10] mavasani commented on #4530
Can you try latest package from this feed: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&version=6.0.0-rc1.21366.3&protocolType=NuGet&view=versions?

[2021-07-19 07:41] RussKie commented on #4539
Ran into this today.

[2021-07-19 15:28] poke commented on #5161
I have a similar example that also produces a false CA1508 in a using statement:

[code]

If you comment out the `stream == null` check, the suggestion disappears because `stream` now could be `null` of course. But the using statement shouldn’t be affected by this in the first place.

[2021-07-19 21:11] RikkiGibson commented on #5254
It feels like this is also a limitation of the built-in flow analysis. The trouble is we don't know "when" a lambda was invoked. [SharpLab](https://sharplab.io/#v2:CYLg1APgxAdgrgGwQQwEYIKYAIMzZgWAChiABABi1IEYBWAbmLIGYqAmLAYSwG9isBVVqQAsWALIAKAJS9+ghTXIB+LAA8sAXiwAiZDsZEFigGwA6AEpwYkmVoB86rVnhJph44LVmAKgHsAZQAXACcASxgAcxkPQQBfYgSiIA===)

[code]

We could pessimistically assume that it might have be

[2021-07-19 21:19] myblindy commented on #5254
I feel like that is much preferable to a warning who's (manual) fix is to delete the code, thus breaking your code. If you don't know, you don't know, everyone knows [computing science has hard limits on static analysis](https://en.wikipedia.org/wiki/Halting_problem), but don't assume the code is broken and highlight it for deletion.

That said, I would point out that the code in question is not a

[2021-07-19 21:22] myblindy commented on #5254
Also your first code example doesn't await the task, so it won't crash with an NRE. Perhaps a different warning would be better there, but definitely not CA1508.

[2021-07-19 21:45] vsfeedback opened #5259 "Quick Actions on non-CLS-compliant classes, methods or properties should suggest setting [CLSCompliant(false)]"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Quick-Actions-on-non-CLS-compliant-class/1466823)._

---
I've recently encountered Warning `BC40026`: "Type is not CLS-compliant because it derives from base type that is not CLS-compliant" as well as `BC40028`: "Type of parameter is not CLS-compliant". There isn't much I could do about

[2021-07-19 21:50] vsfeedback opened #5260 "Build Optimization Analyzer for long build times"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Build-Optimization-Analyzer-for-long-bui/1470136)._

---
Our solution is fairly complex, and in building it we often find Visual Studio 2019 just seems to hit one csproj at random that it slows to a crawl to build.
Possibly we're doing something sub-optimal, or have a dodgy build.props s

[2021-07-19 21:50] vsfeedback opened #5261 "Anaylzers constantly showing in warning state"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Anaylzers-constantly-showing-in-warning-/1396870)._

---
I'd like to submit a ticket regarding code analysis.
It's a wonderful feature when it works but the stability of it is very questionable.
More often than naught, when I open my solution, all the analyzers attempt to pull from a loc

[2021-07-19 21:52] vsfeedback opened #5262 "Stop jagged arrays promotion. Increase complexity max."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Stop-jagged-arrays-promotion--Increase-/1409294)._

---
[regression] [worked-in:15.1]
Stop jagged arrays promotion. My projects are more than 10 years old, The jagged array promotion gives me too many warnings Perhaps suppression of CA1815 & CA1813 &

---
### Original Comments

#### null

[2021-07-19 21:58] jmarolf commented on #5254
imho this falls into the "threading rules" bucket and I am ok not changing the analysis rules here. The unfortunate thing is that the analyzer for CA1508 probably needs to take a different tactic than the compiler does is flow analysis due to the UX of how it reports things.

If a user writes this code and it null-refs then I think its reasonable to say "Nullable analysis doesn't handle value assi

[2021-07-19 22:07] RikkiGibson commented on #5254
It looks like the analyzer actually works by reading a control flow graph. I would have to look more closely to see where the fix actually belongs (in the compiler or over here). But it might still be interesting to see if an analogous fix is applicable for region analysis and nullable.

[2021-07-20 03:04] jmarolf commented on #5254
@RikkiGibson I believe it is using the dataflow APIs which are from [here](https://github.com/dotnet/roslyn-analyzers/tree/8ca2a798f047e45600e98ed8e52a1b686f7c3ab8/src/Utilities/FlowAnalysis/FlowAnalysis) and work differently from the compiler

[2021-07-20 05:45] Youssef1313 commented on #5262
This rule is CandidateForRemoval:

https://github.com/dotnet/roslyn-analyzers/blob/a0522afd52b25ad211298e308fd5bbc7734865e0/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/PreferJaggedArraysOverMultidimensional.cs#L31

[2021-07-20 09:12] sonarjo opened #5264 "Roslyn analyzer on Azure Devops?"
I am considering to write a Roslyn analyzer to squeeze out bad practices I encountered in our application.
Afaik there are two options to distribute Roslyn analyzers:
- via Nuget - which requires consuming projects to be updated
- via VSIX - which requires developers to install the option
I.e. both variants require developers to do something.
What I am missing is how to install analyzers onto Azur

[2021-07-20 16:16] xtqqczze commented on #4407
Unfortunately, there seems to be no way to suppress this violation of this kind, other than at the project level.

[2021-07-20 20:58] Evangelink commented on #5264
Hi @sonarjo,

There is no "no development" solution.

Regarding the VSIX, it helps you to have analyzers run in VS but that also means that you won't have any feedback in CLI nor in any "CI" tool (such as ADO).

The NuGet is probably the easiest solution to have something that works in the various contexts. Note that if you have a limited of "users" and don't want to go through the creation of NuG

[2021-07-20 21:00] Evangelink commented on #5262
Besides of the rule status, I think that if the user is "bothered" by the number of issues or doesn't believe in the rule proposition, it can be easily disabled.

[2021-07-20 21:06] Evangelink commented on #5260
As far as I understand the suggested analyzer is not really a "source code" analyzer so I don't think there will be anything done in this repo.

cc @mavasani

[2021-07-20 21:11] Evangelink commented on #5185
Thank you for the detailed suggestion @ZacharyPatten!

I am wondering if such analyzer belongs here or into the code-style analyzers. There is [ca1200](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1200) available in this repo, so it might be good to do so in here.

[2021-07-20 21:12] Evangelink commented on #4975
Ping @jgcjoec

[2021-07-20 21:13] Evangelink commented on #5173
Ping @bluekms

[2021-07-21 00:24] buyaa-n commented on #4983
Sounds like we can close this issue as the doc is updated and we are not adding/updating the analyzer as suggested

[2021-07-21 00:24] #4983 closed

[2021-07-21 10:47] sonarjo commented on #5264
Thanks for the clarification. Two more questions:

- is there a project template to create a nuget package? maybe in some installation option I missed? if not, what about adding one to VS, and then also the the template project for Roslyn analyzers?
- is there a means to add a project to the same solution that references the analyzer in order to avoid to need two IDEs or two distinct solutions?

T

[2021-07-21 15:36] #4900 closed

[2021-07-21 15:37] Evangelink commented on #5126
@mavasani Any preference here?

[2021-07-21 15:40] sonarjo opened #5269 "BannedApiAnalyzer does not ban subclassing. And what about errors?"
### Describe the problem you are trying to solve
I want to ban some classes including subclassing. Let´s supposed I want to prevent using XmlUrlResolver as that can cause XEE. If I use BannedApiAnalyzer and just ban the class, subclassing is still possible and I may miss instances of XmlUrlResolver therefore.

Actually I want such classes to show up as errors and break the build.

### Describe sug

[2021-07-21 15:41] #5061 closed

[2021-07-21 16:36] Youssef1313 commented on #5264
@sonarjo I believe the analyzer and codefix template creates a NuGet package. If you haven't done already, you'll need to install the .NET Compiler Platform SDK via the Visual Studio Installer to see the template.

[2021-07-21 19:42] cston opened #5272 "Report warning using struct type with parameterless constructor on unsupported frameworks"
### Describe the problem you are trying to solve

Parameterless `struct` constructors may be ignored on some frameworks.

For instance, in a generic method with `where T : new()` or `where T : struct`, calls to `new T()` are rewritten as `Activator.CreateInstance<T>()`, and for `struct` types `Activator.CreateInstance<T>()` may ignore the parameterless constructor on .NET Framework.

### Describe

[2021-07-22 08:09] Evangelink commented on #4361
Ping @sharwell

[2021-07-22 08:41] bravequickcleverfibreyarn opened #5276 "CA 1508 false positive – object assignation inside of task not detected"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

[2021-07-22 13:04] Evangelink commented on #4628
Ping @stephentoub

[2021-07-22 13:05] Evangelink commented on #3389
Ping @sharwell @mavasani

[2021-07-22 14:30] stephentoub commented on #4628
Sorry, I missed being tagged back in January.

@bartonjs, do we have framework guidelines on this you can share?

[2021-07-22 19:22] billybraga commented on #4397
I'm still having this issue in 5.0.203

[2021-07-22 19:54] sharwell commented on #4361
We are looking at https://github.com/dotnet/roslyn/issues/52893 as the next action item related to nullable reference types.

[2021-07-22 23:47] ryzngard commented on #5161
I couldn't repro this in a test with latest SDK. Any idea if this still repros in SDK 6?

[2021-07-23 02:30] groogiam opened #5280 "Bug 4845 does not appear to be fixed in any publicly released nuget package."
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

Microsoft.CodeAnalysis.Analyzers version 3.3.2

### Describe the bug

### Steps To Reproduce

Please see the https://github.com/dotnet/roslyn-analyzers/issues/4845

This bug was closed referencing that it w

[2021-07-23 06:42] Evangelink commented on #4361
Do you think there is a need to keep this ticket open or shall it be somehow merged into the other one? Or maybe moved to roslyn side?

[2021-07-23 08:12] Youssef1313 commented on #5280
@mavasani @jmarolf When will 3.3.3 be released on NuGet?

[2021-07-23 08:16] Youssef1313 opened #5282 "Ban DiagnosticAnalyzer in language-specific layers"
Related to https://github.com/dotnet/roslyn-analyzers/pull/5244#discussion_r675273011

cc @mavasani

[2021-07-23 08:16] Youssef1313 commented on #5282
Blocked on https://github.com/dotnet/roslyn-analyzers/issues/5269.

[2021-07-23 16:59] pgovind opened #5284 "Use cases for the DetectPreviewFeatures analyzer"
### Analyzer

**Diagnostic ID**: [CA2252](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): DetectPreviewFeaturesAnalyzer

This issue captures interesting test cases for the analyzer in a single issue so we can track them better.

[code]

[code]

[code]

[code]

[code]

[code]

[code]
On top of all that, the user experience of special-casing empty interfaces is in

[2021-07-23 22:25] RikkiGibson opened #5286 "False positive for "CA2214: Do not call overridable methods in constructors""
### Analyzer

**Diagnostic ID**: [CA2214](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2214): Do not call overridable methods in constructors

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0-preview1.21054.10

### Describe the bug

When the rec

[2021-07-24 17:43] innix commented on #5161
@ryzngard I can confirm the bug is gone with latest SDK 6 version (`6.0.100-preview.6.21355.2`).

[2021-07-24 21:29] ZacharyPatten commented on #5185
Some of the examples I mentioned are more style related, and some of them are validating code. So yeah I could see some of them implemented elsewhere if desired, but several of them belong here in my opinion (if they are not just lumped into one).

In my opinion, `inheritdoc` in particular is rather hard to use at the moment due to multiple bugs and lack of analyzer support to guide users to use i

[2021-07-25 15:36] Uzivatel919 opened #5288 "`MaybeNullWhenAttribute` – shouldn’´t be inspected if contract is really satisfied?"
### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Des

[2021-07-25 15:48] Uzivatel919 commented on #5288
`MaybeNullWhenAttribute` works only with `out` parameters.

[2021-07-25 15:59] #5288 closed

[2021-07-25 16:24] Uzivatel919 opened #5289 "`NotNullAttribute` should not be allowed for `in` parameters"
### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)
### Desc

[2021-07-25 18:04] Uzivatel919 opened #5290 "`MaybeNullWhenAttribute` has no sense for `in` `parameter`"
### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Des

[2021-07-25 18:13] Uzivatel919 opened #5291 "`NotNullIfNotNullAttribute` for `in` `parameter` is just fallacious"
### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)
### Desc

[2021-07-26 03:57] lonix1 commented on #3451
Hi @mavasani

I read [the docs](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1062#null-check-validation-methods).

The workaround above won't work when the validator is in a non-static class. A more sophisticated approach to validation would not use one mega static class, so you'd have something similar to:
[code]

Used like this:
[code]

This design allows fo

[2021-07-26 15:01] stap123 opened #5299 "CA1829 Incorrectly Showing on EF Core 5.0 query"
### Analyzer

**Diagnostic ID**: [CA1829](https://docs.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/quality-rules/ca1829): `Use Length/Count property instead of Enumerable.Count method`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.400-preview.21328.4](https://

[2021-07-26 16:43] vsfeedback opened #5300 "CSharpPopulateSwtichStatementCodeFixProvider threw unhandled exception when trying to populate switch statements via Visual Studio light bulb"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CSharpPopulateSwtichStatementCodeFixProv/1484973)._

---
[severity:It bothers me. A fix would be nice]
When trying to use Visual Studio light bulb to populate switch statements (specifically, pattern matching by type), the error "CSharpPopulateSwtichStatementCodeFixProvider encountered a

[2021-07-26 18:18] Youssef1313 opened #5301 "Update `DiagnosticDescriptorCreationAnalyzer` for `RuleLevel.BuildError`"
`DiagnosticDescriptorCreationAnalyzer` may need to get updated to handle this new RuleLevel.

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn-analyzers/pull/5155#discussion_r660990502_

[2021-07-26 18:23] pgovind commented on #5284
I think the following code cannot be handled in an IOperation based analyzer:

[code]

The problem is that `nameof(IFoo)` is a `INameOfOperation`. It has a property called `Argument` that returns a base `IOperation`. In the debugger I see that `Argument` is returning a `NoneOperation`. `NoneOperation` is internal, so I can't use it from the analyzer, so we seem to be stuck here.

[2021-07-26 19:11] #5161 closed

[2021-07-26 20:17] andez2000 commented on #3451
I thought the ValidatedNotNull attribute had to be applied to public parameters to methods.

This attribute works well with [ArgGuards](https://github.com/ardalis/GuardClauses).

I did go the chain route based on the above library.  Perhaps try:

[code]

I think the IntValidator extending the Validator<T> is a wrong abstraction as int's are your primitive value types so NotNull does not fit here (

[2021-07-26 20:37] bartonjs commented on #4628
We don't.  The only thing for ctors is to have the three public ones (`(), `(string)`, `(string, Exception)`), and the one private one (`(SerializationInfo, StreamingContext)`, since all `Exception`s should be `[Serializable]`).

I think that I, on net, agree with `(local required stuff, string?=null, Exception?=null)` (but probably in overloads vs defaults for consistency), because that makes the

[2021-07-27 03:19] lonix1 commented on #3451
@andez2000 Thanks that for that nice idea! :-) Unfortunately it doesn't work:

[code]

Regarding the int validator stuff, it was just an example (it doesn't do null checks, it has validations notgt, gt, gte, etc.)

TLDR: We need a robust approach for case where null checking is not part of a mega static class.

[2021-07-27 16:23] DmitryKondratenko1986 opened #5305 "CA 1508 false positive when you check for null and then check for an empty string through the string.IsNullOrWhiteSpace method"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/ru-ru/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

[2021-07-27 19:44] jkoritzinsky commented on #5232
After discussing this issue offline, here's what we've decided to do:

1. Make the CA1419 only trigger when a parameterless constructor already exists.
2. Have the marshalling infrastructure in source-generated interop emit a diagnostic when a parameterless constructor is not present.

[2021-07-28 09:54] Youssef1313 opened #5310 "RS1032 doesn't handle punctuation correctly"
That's funny, I recall having handle various punctuation in the initial implementation. I would recommend to create a ticket to fix the implementation and link it in the code, WDYT?

_Originally posted by @Evangelink in https://github.com/dotnet/roslyn-analyzers/pull/4325#discussion_r678136181_

[2021-07-28 11:45] Evangelink commented on #3821
@mavasani @jmarolf Could you let us know your view?

[2021-07-28 11:49] Evangelink commented on #5310
Checking the implementation https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer.cs#L608 we seem to allow any punctuation only for the description and enforce period for the message.

Fix is easy but let's wait for an approval.

[2021-07-28 13:26] Evangelink commented on #5262
I think that @sharwell was in favor of also removing this rule (don't want to say something stupid but I think the performance diff is no longer relevant).

Shall we try to move the suppression further or at least don't report based on target dotnet?

[2021-07-28 14:15] sonarjo opened #5311 "Analyzer for solution?"
Is it possible to analyze information of a solution that is not part of a compilation unit? E.g. project dependencies and also suggest a fix? Is there an API to do that?
Thanks, Joachim

[2021-07-28 15:05] Evangelink opened #5313 "DoNotUseInsecureDtdProcessingAnalyzer is using one bar OR"
I have noticed that there are a couple of places in `DoNotUseInsecureDtdProcessing` where we use the one bar or `|` (not sure what's the official name). Which forces the evaluation of both sides, I am wondering if there is any specific thing forcing this behavior?

Here are the examples:
- https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/Microsoft.NetFramework.Analyzers/D

[2021-07-28 18:08] dotpaul commented on #5313
Hrm, I don't think there's any reason for using only one `|`. Feel free to change to `||`.

[2021-07-28 18:48] maryamariyan opened #7241 "Logging Analyzer: Add code fixer for CA1727 and CA1848"
We shipped logging analyzer diagnostics in 6.0, approved in issue https://github.com/dotnet/runtime/issues/36064.

This issue tracks adding fixer for two of them:

- `CA1727`: easy fixer, would involve uppercasing the named placeholder so it becomes pascal case.

- `CA1848`: this diagnostic encourages using LoggerMessage delegates. The fixer could involve making use of the logging source generator

[2021-07-28 20:42] jmarolf commented on #3821
@carlreinke and @Evangelink what is the proposed mechanism for configuring this? just a boolean `ignore_underscores_between_digits`? I think this is a reasonable option to have but I need to think about what other options folks may want in addition to this.

[2021-07-28 20:48] Evangelink commented on #3821
Here are the various options I can think of:

- we could use the [`excluded_symbol_names`](https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#excluded-symbols) pattern for this.

- we could have some option to ignore in case of version detection (e.g., `version` or `v` before some digits separated by underscores).

[2021-07-28 21:43] xtqqczze opened #5320 "Fix for CA1822 introduces violation of CA1000"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**SDK**: 6.0.100-preview.6.21355.2

### Describe the bug

 [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static` introduces violation of [CA1000](https://docs.micr

[2021-07-28 21:52] xtqqczze opened #5321 "Fix for CA1822 does not respect preferred modifier order"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**SDK**: 6.0.100-preview.6.21355.2

### Describe the bug

The code fix for [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static` changes the existing modifier orde

[2021-07-28 22:18] xtqqczze opened #5323 "CA1822 for Dispose method is not reported in the error list"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**SDK**: 6.0.100-preview.6.21355.2

### Describe the bug

A violation of CA1822 is reported at build time but not for live analysis.

### Steps To Reproduce

[code]

### Expected behavior

A diagnostic reported in the error lis

[2021-07-28 22:19] xtqqczze commented on #5323
It seems questionable whether this diagnostic should be reported for a Dispose method at all.

[2021-07-28 22:57] JuanZamudioGBM opened #5324 "PerformanceSensitive Attribute is enabled recursively?"
Analyzer
Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

NuGet Package: Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers

Version: 3.3.1

Describe the bug
Its not a bug but a question since i cant find the documentation for the analyzer, if I have a method A, that calls method B and C, If I add the attribute to A the analyzer will found issues in B and C? or do I have to add the attribut

[2021-07-28 23:56] xtqqczze commented on #5323
Possibly related: https://github.com/dotnet/roslyn/issues/23588

[2021-07-29 01:31] xtqqczze opened #5325 "CA1822 should not report a violation when a compilation symbol is not defined"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**SDK**: 6.0.100-preview.6.21355.2

### Describe the bug

CA1822 reports a violation when a `ConditionalAttribute` is present and the compilation symbol is not defined.

### Steps To Reproduce

[code]

### Expected behavior

No

[2021-07-29 02:20] xtqqczze commented on #5325
This issue can be worked around by removing the redundant `#if DEBUG` since the `ConditionalAttribute` ensures the method is not compiled.

[2021-07-29 05:03] carlreinke commented on #3821
A boolean option or `excluded_symbol_names` would be fine.

Hard-coding a "version" pattern into the rule would not be satisfactory as there are other situations where you need a separator (ex. something like `Measure3_3VoltCurrent`).

Another option would be to *not have* an option and instead always allow underscores between digits, given that there isn't really a better alternative when using P

[2021-07-29 06:45] Evangelink commented on #3821
@carlreinke Although I like the simplicity of only ignoring underscore between digits by default in the rule, that would be a breaking change of behavior and I could see some people complaining they can't get the old behavior. Note that if we feel that it's better to have this new behavior by default, it's fine but we should at least give the opportunity to people to fallback to the "strict" mode.

[2021-07-29 07:12] Bosch-Eli-Black commented on #4530
@mavasani Haven't had a chance to try this yet, but looks like this is scheduled to be included in the .NET 6 release, which is good enough for me 🙂

[2021-07-29 10:24] lonix1 opened #5329 "False positive warning for CA1508 ("Avoid dead conditional code")"
**Version Used**:
dotnet 5.0.301
vscode

**Steps to Reproduce**:

I receive an input that is allowed to be null, but is not allowed to be empty nor whitespace.

[code]

Warning:

**Expected Behavior**:
If it is known that the string is not null, then the "empty or whitespace" behavior of `IsNullOrWhiteSpace` still applies. The warning should not occur.

[2021-07-29 21:14] DmitryKondratenko1986 commented on #5329
I opened the same issue two days before [https://github.com/dotnet/roslyn-analyzers/issues/5305]()

[2021-07-30 05:50] CodeBlanch opened #5330 "CA2000: Not firing when using interfaces"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

The [IMemoryCache.CreateEntry](https:

[2021-07-30 07:47] Evangelink commented on #5320
Hi @xtqqczze,

Thanks for the feedback! That's an interesting case.

I am wondering if we should just not report or add some user option to control this case because that's still a valuable finding IMO.

For example, in your case, assuming that's as simple, you could do the following:

[code]

See this PR #5296 proposal (got rejected because the "problem" is limited to max 2 instances in the case

[2021-07-30 08:51] Evangelink opened #5331 "Update CA1822 to analyze local functions"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822)

### Describe the improvement

Extend the rule to analyze local functions and report a diagnostic on the ones that can be made `static`.

[2021-07-30 10:50] msschl opened #5332 "Enrich analyzers with additional context"
As I understood from the [ConfigureAwait FAQ](https://devblogs.microsoft.com/dotnet/configureawait-faq/) written by @stephentoub it is unnecessary to call `.ConfigureAwait(false)` in ASP Net Core App code.

For people building projects with all analyzers enabled like we do as follow:
[code]
[Overview of .NET source code analysis](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/o

[2021-07-30 16:30] bartonjs commented on #5332
Happy to be quoted, but that wasn't me :smile:.  That is the voice of @GrabYourPitchforks.

[2021-07-30 18:13] msschl commented on #5332
I‘m sorry 😂 Yes, you’re right

[2021-07-30 18:16] sharwell commented on #5332
This literally means All Enabled By Default. It includes all analyzers, regardless of whether they are applicable to the current project type or are recommended for general use (e.g. some analyzers are candidates for removal, but still exist and are enabled by this flag).

Use of this option requires the project maintainer manually review all rules for applicability in the context of their current

[2021-07-30 21:52] msschl commented on #5332
From [dotnet/runtime#44194](https://github.com/dotnet/runtime/issues/44194):

So when `AllEnabledByDefault` already doesn’t include all analyzers why not disable certain analyzers that are not applicable to certain project types or scenarios.
Or maybe introducing a new `AnalysisMode` could do the trick?

[2021-07-30 22:18] sharwell commented on #5332
💭 Interesting. I wasn't aware of those exclusions.

[2021-07-31 18:54] Youssef1313 commented on #5332
The web SDK sets `UsingMicrosoftNETSdkWeb` MSBuild property to true, so this information is already available to analyzers:

https://github.com/dotnet/roslyn-analyzers/blob/87c20b98866d61c1bbc574ec95da07babc1eb15a/src/Utilities/Compiler/Extensions/CompilationExtensions.cs#L27-L49

The only analyzer that currently accounts for web projects is CA1822, other analyzers could account for that when appr

[2021-08-01 12:41] msschl commented on #5332
@Youssef1313 that sounds good. 👍🏽

However, I would like to point out that I am not only referring to enriching analyzers in context of web projects, but also in context of other type of applications such as desktop applications (WinForms, WPF), blazor applications, or libraries. The analyzer mentioned above `CA2007` was only used as an example and to start a disscussion. 😄

[2021-08-01 12:50] Youssef1313 commented on #5332
I think the idea is the same. WPF sets `UseWPF` property to true and WinForms sets `UseWindowsForms` to true.

[2021-08-01 13:05] msschl commented on #5332
Yes, I think so.

Well off the top of my head, for ASP.NET Core probably `CA1056`, `CA2234`, as for example in `Mvc` the `url` parameters and properties are all string based. See for example [ControllerBase.cs#L356](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/ControllerBase.cs#L356) in `Mvc`

[2021-08-01 21:22] jeffhandley commented on #4404
We've not seen many hits of this; I'm tempted to close it out. @buyaa-n -- any objections?

[2021-08-02 00:13] KirillOsenkov opened #5335 "Attempt to load abstract code fix results in an exception"
roslyn-analyzers has an exported abstract CodeFix class with a derived concrete class:
https://github.com/dotnet/roslyn-analyzers/commit/cb17df3f04d2d9a444665ad85bae293a8850ddb8

The logic to load code fix types doesn't check whether the type is abstract:
https://github.com/dotnet/roslyn/blob/159cb67bb1e38f12662b22681e412c9746e7bcfb/src/Features/Core/Portable/Common/AbstractProjectExtensionProvide

[2021-08-02 13:25] jods4 commented on #3427
After an SDK upgrade (I suppose...) I am getting new warnings.

It's now triggered by dictionaries, such as `new Dictionary<ITypeSymbol, string>`.
Fair enough, I added an explicit comparer:
[code]

But the warning remains and I don't know what to do.
Same on `HashSet`.

I note that the message is more clear now as it points out that `string` and `string?` may be compared equal vs different. 👍

It

[2021-08-02 14:57] MeikTranel commented on #5335
Yep I'll get that asap when I'm home.

[2021-08-02 14:59] jnm2 opened #5336 "Warning for partial ComImport types with members in more than one type part"
The same reasoning applies as the reasoning for why partial enums wouldn't make sense. The meaning of a member in a ComImport type changes based on its order within the type.

There is currently no warning for a pair of source files like this, but there should be:

[code]

[code]

There should be no warning for a case like this:

[code]

[code]

### Why not warn for partial ComImport interfaces in

[2021-08-02 15:10] stap123 opened #5337 "New rule for "is not null" similar to IDE0041"
Are there plans to have a similar code style rule/analyser for the not null version of the syntax with pattern matching?

This would essentially be the same as the `is null` rule with IDE0041 but for `is not null`.

[2021-08-02 15:58] jnm2 opened #5338 "Analyzer to enable warning when `default` or `new()` is used instead of a more specific literal"
I would like a code style setting so that `default` and `new()` are suggested to be replaced with `null` or `false`/`0`/`'\0` when applicable. This makes it a bit clearer to the reader what is going on, and it keeps you from overlooking an assumption if a distant refactoring causes the type to become nullable, for example.

There is an RSxxxx rule similar to this in Microsoft.CodeAnalysis.Analyzer

[2021-08-02 16:20] MeikTranel commented on #5335
@sharwell want me to target main or any of the release branches?

[2021-08-02 16:37] KrisVandermotten commented on #3427
@jods4 That looks like #4568 again.

[2021-08-02 18:12] jods4 commented on #3427
@KrisVandermotten yes, thanks. That's exactly it.
Looks like it's been closed since Dec 2020 and I am running VS 16.10.1; is it expected that I still get the error?

[2021-08-02 22:35] jnm2 opened #5341 "RS1022 false positive when accessing a constant"
### Analyzer

**Diagnostic ID**: RS1022 Change diagnostic analyzer type 'SomeAnalyzer' to remove all direct and/or indirect accesses to type(s) 'SomeCodeFixProvider', which access type(s) '[...]'

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

**Version**: 3.0.0

### Describe the bug

I declare public constant strings for dia

[2021-08-02 23:09] #4842 closed

[2021-08-03 08:44] Youssef1313 commented on #5337
@jinujoseph or @mavasani to move to dotnet/roslyn

[2021-08-03 17:35] buyaa-n commented on #4404
Not sure if we should close it, probably haven't seen many hits because it is an edge case, but I think it is a valid case that need to be covered, maybe move to 7.0?

Tagging @terrajobst for his opinion

[2021-08-04 23:50] pgovind opened #5346 "Custom Attributes marked with RequiresPreviewFeatures"
Current CA2252: APIs marked with RequiresPreviewFeaturesAttribute doesn't handle custom attributes. For ex (taken from the TestCustomAttribute unit test):

[code]

I think the intent here is that usage of `[My]` should be marked with a diagnostic, but nothing else i.e. `A` is not a preview type, only `[My]` is. I see a couple of issues here:
1. Is there an easy way to mark `[|[My]|]` above the cla

[2021-08-05 19:17] jeffhandley commented on #5346
I _think_ we'd need to analyze everything that can have attributes on it, use `GetAttributes`, and then check the attribute types. That would be incredibly expensive with low value.  It could be optimized by keeping a list of preview attribute types, checking what their targets are, and only evaluating targets that could possibly be in scope.  But I think we can wait for a preview attribute scenar

[2021-08-06 03:23] lonix1 opened #5350 "CA1062 ignores null-forgiving operator used on argument of type Type"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1062): `Validate arguments of public methods`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.301](https://dotnet.microsoft.com/download/dotnet/5.0)

###

[2021-08-06 18:16] Youssef1313 commented on #5350
Why do you expect `type` to be non-null? It's a public method so it can indeed be null.

[2021-08-06 20:51] Evangelink commented on #5246
@AArnott could you confirm the issue is fixed?

[2021-08-06 20:57] Evangelink commented on #5225
The only problem I see so far is that no decision was taken toward the question of providing extra attributes to help the analyzer (which would be a pre-requisite for this rule).

@mavasani I don't know if you had the opportunity to discuss this either informally or during one of your team meeting?

Note that we could also make the rule somehow generic by allowing the user to specify the name (or

[2021-08-06 21:13] Evangelink commented on #3946
I would be careful with this analyzer because I have seen a couple of codebases with a lot of "false-positives" where basically most methods were taking `IEnumerable<T>` but a `List<T>` (or something else) was _ALWAYS_ passed so although the issue is theoretically correct there was actually no real performance benefit.

Also, one of the suggested fixes by Resharper was often used blindly by dev:

[2021-08-06 21:54] drewnoakes commented on #3946
My experience using ReSharper is that this analysis found many performance issues over the years. Methods that assume enumeration is"free" may be safe today, but are prone to introduce non obvious performance or correctness issues later.

I would not suggest adding a codefix. There is no straightforward way to fix multiple enumeration automatically.

If a codebase uses materialised enumerables ext

[2021-08-06 22:20] pgovind opened #5353 "Improve CA2017 to detect bool[]"
https://github.com/dotnet/roslyn-analyzers/pull/5242/files implements CA2017 to tag calls to `Buffer.BlockCopy` with a warning about the last `count` parameter. Currently the analyzer excludes `Buffer.BlockCopy` calls that pass in `byte[]` or `sbyte[]` as the source and destination parameters because `count` makes sense for these calls. Source and destination parameters of type `bool[]` must also

[2021-08-07 01:02] alexrp opened #5354 "`CA1066` triggers incorrectly on `struct System.IntPtr : IEquatable<nint>`"
### Analyzer

**Diagnostic ID**: [CA1066](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1066): `Implement IEquatable when overriding Equals`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: `6.0.100-preview.6.21355.2`

### Describe the bug

`CA1066` t

[2021-08-07 01:04] alexrp commented on #5354
The same happens for `UIntPtr`/`nuint`.

[2021-08-07 02:33] lonix1 commented on #5350
If I use that exact code with a different type, and I use the null-forgiving operator `!` then the analyzer doesn't complain.

But with type `Type` is does complain.

[2021-08-07 20:12] AArnott commented on #5246
It still repros with 4.0.0-2.final (the latest on nuget.org.

[2021-08-07 20:14] Evangelink commented on #5246
I have managed to see the same issue on roslyn-analyzer itself that's why I was asking this question.

[2021-08-08 20:13] sharwell opened #5358 "MEF best practices analyzers"
This is a tracking issue for analyzers for MEF best practices.

* Analyzers related to instance construction
  * Do not directly construct a MEF-exported value (supersedes the `[Obsolete]` and `[ImportingConstructor]` rules we have today for Roslyn)
  * Do not apply `[Shared]` to a type/member that is not exported
  * Verify exported types implement the interface declared in the export
* Analyzers

[2021-08-09 10:30] MartyIX commented on #3703
.NET 6.0 (the latest released preview) shows me CA2007 warnings for lines like:

[code]

How can I actually fix it? Or is it an analyzer bug?

Hopefully, it's relevant here.

[2021-08-09 10:39] jnm2 commented on #3703
These are our two options currently, and I've been doing the first one.

[code]

[code]

[2021-08-09 11:10] MartyIX commented on #3703
@jnm2 Thanks!

[2021-08-09 11:17] MartyIX commented on #3703
Hm, using the first approach, I get CA2000 instead. 😞

[2021-08-09 13:29] jnm2 commented on #3703
I turn off CA2000 because there are too many false positives for me in solid situations that are just hard for the analyzer to follow.

[2021-08-09 13:49] MartyIX commented on #3703
(I like CA2000 even though it would be great to have some attributes specifying owners of objects or something. It helps me find bugs from time to time.)

[2021-08-10 07:56] ViktorHofer opened #5360 "Global analyzer config files in Microsoft.CodeAnalysis.NetAnalyzers aren't applied on Unix because of caps issue"
The global analyzer config files aren't added to the `EditorConfigFiles` msbuild item because the file name doesn't exist on Unix platforms. That's because [this line](https://github.com/dotnet/roslyn-analyzers/blob/d0663cca11722045b9aeabb5d0d5335042084e13/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs#L1390) adds the mode without a `ToLowerInvariant` operation: `$(_GlobalAnalyzerConfigA

[2021-08-10 10:57] Youssef1313 commented on #5360
The parallel file in dotnet/roslyn https://github.com/dotnet/roslyn/blob/main/src/CodeStyle/Tools/Program.cs should also be checked in case it has a similar issue.

[2021-08-10 11:00] ViktorHofer commented on #5360
Yes, it has the exact same issue: https://github.com/dotnet/roslyn/blob/06495a2bf3813e13cff59d2cdf30c24c99966d8e/src/CodeStyle/Tools/Program.cs#L237

[2021-08-10 13:50] ViktorHofer commented on #5360
cc @sharwell as this is a pretty bad bug. I.e. in dotnet/runtime only on Windows these via the nuget package delivered editorconfig files get applied.

[2021-08-10 17:26] pranavkm opened #5362 "LoggerMessageDefineAnalyzer throws OutOfRangeException when parameter is empty"
### Analyzer

LoggerMessageDefineAnalyzer

### Analyzer source

**SDK**:  6.0.100-rc.1.21410.3

### Describe the bug

Reproed on:https://github.com/dotnet/aspnetcore/blob/3ce1231d5c3900b7629c283d47c124dafb26903e/src/Components/Server/src/Circuits/ServerComponentDeserializer.cs#L229

[code]

Stack trace:

[code]

Fixing the parameter resolved the issue.

[2021-08-10 17:26] pranavkm commented on #5362
FYI @maryamariyan

[2021-08-10 19:21] jhudsoncedaron opened #5363 "Regreession causing false positive in CA1416"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): Xyz is only available on Windows

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.302](https://dotnet.microsoft.com/download/dotnet/5.0)

### Descr

[2021-08-10 20:31] pgovind commented on #5346
Will be fixed with https://github.com/dotnet/roslyn-analyzers/pull/5340

[2021-08-10 20:31] #5346 closed

[2021-08-11 01:18] meziantou opened #5366 "CA2252 false positive"
### Analyzer

**Diagnostic ID**: CA2252: `'A' implements a preview interface. See https://aka.ms/dotnet-warnings/preview-features for more information.`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 6.0.100-preview.7.21379.14

### Steps To Reproduce

[code]

[code]

### Expe

[2021-08-11 02:55] groogiam commented on #5280
@Youssef1313 @mavasani @jmarolf Any update on when this will be released. Thanks.

[2021-08-11 17:43] jmarolf commented on #5280
Thanks for the ping. I'll see if we can get the 3.3.3 packages out

[2021-08-11 22:11] billti opened #5368 "Latest VS 2019 doesn't contain old Analyzer fixes"
Raising this in case there is something amiss with the shipping/packaging of the Analyzers with the .NET SDK/VS.

I just spend a while troubleshooting why a project was getting CA2227 on a property with `{get; init;}` even though https://github.com/dotnet/roslyn-analyzers/pull/4463 should have fixed this last year. I'm running VS 2019 16.10.4 with the .NET SDK 5.0.302 installed with it.

If I mana

[2021-08-12 10:03] p-bojkowski opened #5369 "Code analysis running for 34 min. after upgrade to Visual Studio 2022 17.0.0 Preview 3.0 and SDK 6.0.100-preview.7.21379.14"
Hi!

after I upgrading from Visual Studio 17.0.0 Preview 2 and SDK 6.0.100-preview.6 to
Visual Studio 2022 17.0.0 Preview 3.0 and SDK 6.0.100-preview.7.21379.14 -
the code analysis running now on my solution for 34 min.!

Before the upgrade it takes only 45 sec.
How to check what is going on?
How to enable logging to see which analyzer now take so much more time?

[2021-08-12 11:14] Joe4evr opened #5370 "Suggestion: Don't write into parameter array of an unsealed type"
### Describe the problem you are trying to solve

Array covariance has been a thing since .NET 1.0, and [removing it is not an option](https://github.com/dotnet/csharplang/discussions/5010#discussioncomment-1161043), but it does leave a nasty hole in the type system. Newcomers can easily be thrown for a loop because of it.

### Describe suggestions on how to achieve the rule

In the following exam

[2021-08-12 11:47] svick commented on #5370
I disagree. Setting a `Turtle` as an item in an `Animal[]` is not the problematic operation (even if it's the operation that throws), it's assigning `Giraffe[]` into a variable of type `Animal[]` that should be flagged. Otherwise, I think this analyzer would have too many false positives.

[2021-08-12 13:55] Youssef1313 commented on #5369
Can you check [these instructions](https://github.com/dotnet/roslyn/blob/main/docs/analyzers/Report%20Analyzer%20Format.md)?

[2021-08-12 14:18] manfred-brands commented on #3703
@genlu Still looking for help to implement this?

[2021-08-12 16:09] maryamariyan commented on #5362
ok looking

[2021-08-12 20:07] genlu commented on #3703
@manfred-brands Absolutely, any contribute is welcomed!

[2021-08-12 21:35] mahdiva opened #5371 "CA2018: Handle Arrays passed in using Array.CreateInstance"
### Analyzer

**Diagnostic ID**: [CA2018](https://github.com/dotnet/roslyn-analyzers/pull/5242): `'Buffer.BlockCopy' expects the number of bytes to be copied for the 'count' argument`

### Describe the bug

CA2018 currently does not check to throw a diagnostic for arrays created using `Array.CreateInstance`. The Roslyn API doesn't seem to provide the array element type in order to check if the arr

[2021-08-13 00:47] RikkiGibson commented on #5366
Should the analyzer check that the interface was declared in an assembly with a particular name or simple name?

[2021-08-13 07:53] MartyIX opened #5372 "How to suppress CA1305 warnings for a specific type?"
### Analyzer

**Diagnostic ID**: [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305): `Specify IFormatProvider`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.400](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the

[2021-08-14 04:23] lonix1 commented on #5329
I found a workaround, which is better than the code above:

[code]

However the false positive for `IsNullOrWhiteSpace()` still exists.

[2021-08-14 14:21] Youssef1313 commented on #5372
I think it's not supported in CA1305. In case you want to contribute a fix, I think this may be a simple `IsConfiguredToSkipAnalysis` call to support that in the following condition:

https://github.com/dotnet/roslyn-analyzers/blob/d0663cca11722045b9aeabb5d0d5335042084e13/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/SpecifyIFormatProvider.cs#L146-L153

Example:

https://github.com/dot

[2021-08-14 15:38] kevinoid commented on #4975
I'm also curious.  If I understand @jgcjoec's question correctly, an example reproduction might be:

1. Clone https://github.com/kevinoid/MyWebSiteProject
2. Open `MyWebSiteProject.sln` in VS2019 16.11.0.
3. Run `Install-Package Microsoft.CodeAnalysis.NetAnalyzers` in the Package Manager Console.
4. Add a file named `.editorconfig` with the following content:
[code]
5. Build Solution (Ctrl+Shift+B

[2021-08-14 17:50] AArnott opened #5378 "CA1508 dead code: false positive when checking an expression a second time"
[This code](
https://github.com/aarnott/pclcommandbase/blob/91f346e07eb627a75f7f4f188afd4eb11721261b/test/PCLCommandBase.Tests/CommandBaseTests.cs#L154-L154) produces CA1508 (dead code) when not suppressed.

**Version Used**: VS 16.11 Preview 4 (31605.320.d16.11)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warnings

**Actual Behavior**:

I haven't been able to reproduce it in a si

[2021-08-14 20:43] Evangelink commented on #5372
Youssef is right, that's currently not supported but the fix is easy to implement. In case you want to take care of this improvement, please make sure to add a test.

That's something I wanted to tackle when I had a bit more time/availability (see #3267). Back then I had some idea on how to do so but I haven't documented it and it slipped out of my mind so I will have to look it up.

[2021-08-16 20:28] mikadumont opened #5380 "DateTime.UtcNow Analyzer"
Analyzer that suggests DateTime.**UtcNow** whenever DateTime.**Now** is used.

[2021-08-16 21:33] qidydl commented on #5069
Still fighting with this issue, not looking forward to having to add 500 lines to .editorconfig to get this working.

This is actually incorrect. If you try to target ASP.NET Core 3.1 using the .NET 5 SDK, for example from Microsoft's own Docker image `mcr.microsoft.com/dotnet/sdk:5.0`, you will get an error:

[code]

[2021-08-16 22:04] jkoritzinsky opened #5381 "CI is broken on release/6.0.1xx branch"
The roslyn-analyzers-perf pipeline is broken on the `release/6.0.1xx` branch and has been so since https://github.com/dotnet/roslyn-analyzers/pull/5326

See the failing build from that PR here: https://dev.azure.com/dnceng/public/_build/results?buildId=1286538&view=results

This PR was merged on red and is causing all builds on the branch to fail.

cc: @jmarolf

[2021-08-16 23:10] jcouv commented on #5068
The call to `EnsureSufficientExecutionStack` was added in https://github.com/dotnet/roslyn/pull/54967
This can probably be closed.

[2021-08-16 23:13] RikkiGibson commented on #5068
This issue tracks introducing an analyzer to report warnings on some cases where records with synthesized members have cycles. I think there is still merit in such an analyzer.

[2021-08-18 14:31] DavidZidar opened #5388 "AnalysisMode flag is not being honored when using the Microsoft.CodeAnalysis.NetAnalyzers NuGet package"
### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the bug

The conditions in the `Microsoft.CodeAnalysis.NetAnalyzers.targets` file will only set the relevant properties if the `Design` properties are already prepopulated.

Take the first condition for the targ

[2021-08-18 17:12] #5381 closed

[2021-08-18 17:15] jmarolf commented on #5388
yep this is by design. The intent was never that these worked in non SDK-style projects.

[2021-08-18 17:15] #5388 closed

[2021-08-18 19:12] DavidZidar commented on #5388
@jmarolf That is extremely surprising. The FxCopAnalyzers package is deprecated and [the documentation](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview) makes no mention of this not being supported on non SDK-style projects. In fact, the documentation even says that it is supposed to work.

[2021-08-18 21:38] ChaseFlorell opened #5390 "AD0001: Could not resolve type with token 01000094 from typeref (expected class 'Microsoft.CodeAnalysis.CSharp.Syntax.BaseParameterSyntax"
### Analyzer

**Diagnostic ID**: CSC : warning AD0001: Analyzer 'Pep.Analyzers.Analyzers.DateTimeNowAnalyzer' threw an exception of type 'System.TypeLoadException' with message 'Could not resolve type with token 01000094 from typeref (expected class 'Microsoft.CodeAnalysis.CSharp.Syntax.BaseParameterSyntax' in assembly 'Microsoft.CodeAnalysis.CSharp, Version=3.11.0.0, Culture=neutral, PublicKeyTok

[2021-08-18 21:42] ChaseFlorell commented on #5390
Moved to https://github.com/dotnet/roslyn/issues/55708 as I think this is likely the wrong repo for this issue.

[2021-08-18 21:42] #5390 closed

[2021-08-18 22:51] maryamariyan commented on #5362
fixed via #5384

[2021-08-18 22:55] #5362 closed

[2021-08-19 16:22] McNerdius commented on #5366
I'm seeing this on 6.0.100-rc.1.21410.68:

`dotnet new classlib`, no changes to the `.csproj`

Class1.cs:

[code]

If i add a property to `foo` the warning goes away.

[2021-08-19 16:27] Sharparam commented on #4397
Having this issue on 5.0.400, which is strange considering it was going to be included in 5.0.3xx?

[2021-08-19 18:02] eatdrinksleepcode commented on #5189
Same issue for e.g. CA2000 in Reliability.

[2021-08-21 11:11] lonix1 opened #5398 "[Bug] False positive of CA1508 triggered in static classes"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug

False positive for CA1508.

Only triggered in static classes.

### S

[2021-08-23 20:45] pgovind commented on #5284
Closing this issue. All of the examples from the issue description are fixed now. The `nameof` issue still exists, but it's not high priority.

[2021-08-23 20:45] #5284 closed

[2021-08-24 14:18] maxkoshevoi opened #5401 "Determine whether class marked as `partial`"
Is there a way to find out whether class is `partial` inside Roslyn analyzer?
There is a `PartialImplementationPart` in `IMethodSymbol`, but nothing similar for `INamedTypeSymbol`.

I'm writing a Source Generator, and I want to generate second part of the class only if it's possible (if first part is `partial`).

[2021-08-24 17:37] maxkoshevoi commented on #5401
Got answer on SO: https://stackoverflow.com/questions/68906372/roslyn-analyzer-is-class-marked-as-partial

[2021-08-24 17:37] #5401 closed

[2021-08-24 21:11] carlossanlop commented on #5337
Thanks for your suggestion, @stap123. Please share your thoughts on this in the [dotnet/runtime issue](https://github.com/dotnet/runtime/issues/57961). We propose new analyzers there.

[2021-08-24 21:11] carlossanlop commented on #5337
Duplicate of https://github.com/dotnet/runtime/issues/57961

[2021-08-24 21:11] #5337 closed

[2021-08-25 08:26] Bouke opened #5403 "CA1416 doesn't support `Debug.Assert(bool, string? message)`"
I have the following platform guarded code:

[code]

**Expected behaviour:**
No diagnostic.

**Actual behaviour:**
Diagnostic CA1416: "`Run` is only supported on 'windows'"

**Workaround:**
Remove the message argument:

[code]

However this yields SA1405: "Debug.Assert should provide message text."

**Context:**
Solution targeting `net5.0`, sdk is at version 5.0.400.

**Analysis:**
I believe the f

[2021-08-26 12:12] stuartstein777 opened #5407 "How to use a custom ruleset ?"
I have added the nuget `Microsoft.CodeAnalysis.NetAnalyzers` to a .NET5 project.

I want to now use a custom ruleset, as its not running some rules that I would like it to run.

I have an existing `.ruleset` file from the old FxCop analyzers from a .NETFramework project.

Is their anyway to tell it to run the rules enabled in this file, if not, how do I specify which rules I would like it to run.

[2021-08-26 12:53] #5407 closed, assigned to nobody

[2021-08-26 19:51] Youssef1313 opened #5410 "Investigate CA1822 fixer performance"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Mark members as static`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

I'm applying CA1822 fix all on solution with 900+ violations. 30 minutes

[2021-08-27 06:43] Youssef1313 opened #5412 "CA1805 fixer messes up the leading trivia"
### Analyzer

**Diagnostic ID**: [CA1805](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1805): `Do not initialize unnecessarily`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Steps To Reproduce

[code]

### Expected behavior

`#if MY_

[2021-08-27 14:59] vsfeedback opened #5413 "CA1822 FixAll application is slow"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CA1822-FixAll-application-is-slow/1515318)._

---
[severity:It bothers me. A fix would be nice]
It has been stuck for around 30 minutes now. I'm not sure if it's doing its work in the background or completely stuck.

---
### Original Comments

#### youssefvictor00 on 8/26/2021, 00:41 PM:

[2021-08-27 15:04] #5410 closed, assigned to nobody

[2021-08-27 23:36] DamianEdwards opened #5415 "CA2254 Should not apply when log message template references constant values"
The following code block receives info messages from CA2254 despite the interpolated values (the `nameof()` expression) being constant:
[code]
![image](https://user-images.githubusercontent.com/249088/131198173-292d36cf-36a8-454c-83f4-433da9d86e78.png)

[2021-08-27 23:38] pranavkm commented on #5415
/cc @maryamariyan

[2021-08-27 23:41] maryamariyan commented on #5415
looking

[2021-08-28 04:55] mahdiva opened #5416 "CA1849: Do not report a diagnostic if there is a check for task is resolved"
### Analyzer

**Diagnostic ID**: [CA1849](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1849): Call async methods when in an async method

### Describe the bug

Currently CA1849 does not check whether there is an if condition checking if Task is resolved, when using a sync method/property, such as `Task<T>.Result`.

This includes checks using `Task.IsCompleted`, `Tas

[2021-08-28 08:07] Youssef1313 commented on #5415
I'm curious if the compiler version (not language version) you're using supports constant interpolated strings?

[2021-08-28 12:05] Youssef1313 opened #5417 "Have the analyzers handle `IncludeContentInPack`"
I think we could treat internal symbols where `IncludeContentInPack` is set to true as public. Since package consumers will be able to access these. For example:

CA1812 reports an internal class that's not instantiated. It's indeed not instantiated in the current compilation, but it will be instantiated in another compilation referencing the package. So it's effectively public,

[2021-08-29 19:27] DamianEdwards commented on #5415
I'm using whatever compiler version is in latest internal VS2022 Preview 4.0 builds, so pretty much as new as it gets.

[2021-08-29 19:40] Youssef1313 commented on #5415
Thanks for confirming @DamianEdwards

@maryamariyan Small observations given a very quick look here:

https://github.com/dotnet/roslyn-analyzers/blob/7123df44e4503f5426290030d8187a3edb92bed7/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/LoggerMessageDefineAnalyzer.cs#L250-L251

1. Why we're looking the Value if HasValue is false? I don't really get this part.
2. We should look at const

[2021-08-30 08:01] ViktorHofer commented on #5360
cc @sharwell @jaredpar as it looks like the bug still exists in the product.

[2021-08-30 15:05] IgorMilavec opened #5418 "Warn against using Uri as a key"
### Describe the problem you are trying to solve

I just got burned by using System.Uri as a key in a Dictionary containing *pre-authenticated* protocol clients. Turns out System.Uri doesn't include user information when comparing objects (as dully documented [here](https://docs.microsoft.com/en-us/dotnet/api/system.uri.equals?view=net-5.0#remarks)). Meaning I just got back protocol clients for wr

[2021-08-30 16:37] jaredpar commented on #5415
@DamianEdwards Can you give us two bits of info:

1. What does `#error version` print when you add it to the code?
2. Are you using `net6.0`?

Presumably yes to (2) but want to check

[2021-08-30 16:55] DamianEdwards commented on #5415
@jaredpar
`Error	CS8304	Compiler version: '4.0.0-4.21426.10 (6898d692)'. Language version: preview.`
Yes I'm using `net6.0`

[2021-08-30 17:23] jaredpar commented on #5415
That version should support const interpolated strings so that shoudn't be an issue here

[2021-08-30 18:50] TimHannMSFT opened #5419 "Add analyzers for Microsoft.IdentityModel.Tokens (Wilson) Security Issues"
### Describe the problem you are trying to solve

An open source MSFT produced library (Microsoft.IdentityModel.Tokens (Wilson)) has some best practices we'd like to enforce with analyzers. I've been working with @dotpaul, and he suggested adding it to the roslyn-analyzers repo directly (specifically 2.9.x)

### Describe suggestions on how to achieve the rule

Add analyzers for Microsoft.IdentityM

[2021-08-30 20:37] dotpaul commented on #5419
FWIW, sounds good to me

[2021-08-30 22:29] twsouthwick commented on #3187
I'm hitting this with a project that has 40k public APIs, with 5 different TFMs. There is a delta of only about 5 APIs difference between the TFMs, so this ends up adding about 20mb to my project for all the TFMS.

Could the analyzer be updated to handle multiple `PublicAPI.*.txt` documents? I've only looked as far as how it's parsed in and see it's only reading a single file; if we were to add a

[2021-08-31 18:55] pgovind opened #5428 "DetectPreviewFeatureAnalyzer doesn't handle nested generic preview types"
With https://github.com/dotnet/roslyn-analyzers/pull/5425/files, DetectPreviewFeatureAnalyzer improves the diagnostic location for generic types. However, it still doesn't handle nested generic preview types such as

1. Field/Event definitions: `public AGenericPreviewClass<AGenericPreviewType> [|_aPreviewField|]`. The diagnostic should instead be around the field's type: [|AGenericPreviewClass<AGe

[2021-09-01 07:13] #5058 closed

[2021-09-01 08:17] Youssef1313 opened #5431 "Analyzer suggestion: Equivalence keys must be constant strings"
It's a good practice for equivalence keys to be compile-time non-null constants. The problems this rule would solve are:

- If null equivalence key is used: FixAll might not work correctly/as expected.
- If value used is not a run-time constant or a compile-time constant (e.g, `GetEquivalenceKey()` where `string GetEquivalenceKey() => new Random().Next().ToString():`: FixAll might not work correct

[2021-09-01 22:40] #5360 closed

[2021-09-02 18:11] Youssef1313 opened #5442 "Adjust `DiagnosticDescriptorCreationAnalyzer` for the new diagnostic creation pattern"
⚠️ We have an [analyzer](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer.cs) that does some validations over the titles and descriptions and it may be relying on this pattern. We should confirm the analyzer is still working with the new pattern before merging (I won't expect it to work with this chang

[2021-09-02 18:13] Youssef1313 commented on #5442
I haven't confirmed that #5406 breaks the analyzer for the solution, but it's most likely will be the case.

(not much important): Should keep an eye on the resources when reviewing PRs until this is fixed.

[2021-09-03 15:46] huoyaoyuan commented on #5366
Also observing this when implementing an empty interface.

[2021-09-04 13:07] Youssef1313 commented on #5442
One possible quick fix is to embed the analyzer checks in the sarif generation and fail the build.

[2021-09-05 13:14] stap123 opened #5449 "CA1829:Use Length/Count property instead of Count() when available false positive"
**Diagnostic ID**: [CA1829](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1829)

This rule shows as a warning when `Count()` is used inside an EF Core queries `.Select` block. But if you apply the fix and use the `Count` property the query then breaks.

Is there some way to stop this happening because currently this rule suggesting that I break my app?

[2021-09-06 16:21] marek-safar opened #5450 "DetectPreviewFeatureAnalyzer crashes with System.ArgumentNullException"
### Analyzer

**Diagnostic ID**: CA2252

### Describe the bug

[code]

### Steps To Reproduce

The error is extracted from Arcade update in https://github.com/mono/linker/pull/2261

### Expected behavior

No crash

### Actual behavior

Analyzer crashes with NRE when analyzing https://github.com/mono/linker/blob/a5b54deffe2508be392ed5d5d2fbeb20bae3c0ee/src/tlens/TLens/AssemlyReferenceResolver.cs fi

[2021-09-07 09:32] PieterIddink opened #5451 "Support switch/case AndPattern"
Please add support for switch/case AndPattern.

The following simple C# 8 code example will generate a `System.NotSupportedException` because the use of the AndPattern when performing a sonar analysis:

[code]
Analyzer ouput:

[code]

[2021-09-07 09:59] #5451 closed

[2021-09-07 10:00] PieterIddink commented on #5451
sorry, wrong project

[2021-09-07 11:02] jol64 opened #5452 "CA2329 broken?"
### Analyzer

https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2329#pseudo-code-examples

### Analyzer source

Nuget.org, Microsoft.CodeAnalysis.NetAnalyzers, 5.0.3

### Describe the bug

Message CA2329 does not show up.

### Steps To Reproduce

create a new solution/project
add references to NewtonSoft.Json (13.0.1) and Microsoft.CodeAnalysis.NetAnalyzers (5.0.3)

[2021-09-07 17:26] #5372 closed

[2021-09-08 08:24] MartyIX opened #5455 "Add documentation for suppressions of CA1305"
https://github.com/dotnet/roslyn-analyzers/pull/5374 added the possiblity to add suppressions for [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305) (`Specify IFormatProvider` analyzer).

Documentation similar to https://docs.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/quality-rules/ca1304#exclude-specific-symbols should be added for CA1305 too.

[2021-09-08 11:22] nohwnd commented on #3187
I've ran into the same in vstest and your suggestion @twsouthwick would be awesome to have.

I would love this to work in a way that simply concatenates all the PublicAPI.Shipped*.txt files that are listed in the proj file (and same for the Unshipped of course).

This would hopefully allow hierarchy like this to work:
![image](https://user-images.githubusercontent.com/5735905/132499834-52b18a40-eb

[2021-09-08 21:03] jmarolf opened #5458 "How to handle supported version of Roslyn, Visual Studio, and the .NET SDK"
If the user sets `<EnforceCodeStyleInBuild>true</EnforceCodeStyleInBuild>` then they will load in the Roslyn code style assemblies.

The CodeStyle layer references the latest version of the roslyn compiler. This has worked great for now. .NET SDK 5.0.300 is only compatible with Visual Studio 16.11 so the compiler versions match in both the SDK and Visual Studio.

The question is: what should happe

[2021-09-08 21:10] waltdestler opened #5459 "WarningLevel is no longer respected in .NET 5.0"
It appears that in .NET 5.0, the `<WarningLevel>` project property is no longer respected, and the project is always compiled at warning level 5 even if it is changed to something else. Changing back to .NET Core 3.1 fixes the issue.

Steps to reproduce:

1. Create a new .NET 5.0 project. (My Visual Studio doesn't seem to yet have an option to create a .NET 5 project, so I created a .NET Core 3.1

[2021-09-08 22:28] #5219 closed

[2021-09-09 06:21] Youssef1313 commented on #5455
@gewarren Should this be tracked under dotnet/docs?

[2021-09-09 15:00] pgovind opened #5465 "Assert throwing while building dotnet/runtime"
I built https://github.com/dotnet/roslyn-analyzers/pull/5425 locally in debug and replaced the 2 dlls under `....nuget\packages\microsoft.codeanalysis.netanalyzers\7.0.0-preview1.21452.7\analyzers\dotnet\cs` with the locally built ones. I kicked off a dotnet/runtime build using a local branch (https://github.com/pgovind/runtime/tree/turn_on_preview) with `build clr+libs -rc Release` and saw these

[2021-09-09 15:22] JelleLaurijssen commented on #4593
Since it isn't clear when this issue will be tackled, is there perhaps a workaround for this for the time being?

[2021-09-09 16:47] gewarren commented on #5455
Yes, is anyone able to transfer this issue to dotnet/docs?

[2021-09-13 02:44] mavasani commented on #5380
This is an API suggestion analyzer, which needs to be triaged and approved by dotnet/runtime first.

[2021-09-13 02:46] mavasani commented on #5223
@sharwell Do we retain new source generator proposals in this repo or dotnet/roslyn? Do we already have a special package for source generators that ship with the .NET SDK?

[2021-09-13 02:47] mavasani commented on #5459
@jmarolf Doesn't this need a fix in dotnet/sdk?

[2021-09-13 02:53] mavasani commented on #5169
IDE0044 only works for private fields, not internal ones.

[2021-09-13 02:54] mavasani commented on #5169
@Evangelink These should be converted to `private static readonly` fields

[2021-09-13 03:01] mavasani commented on #5183
Probably an editorconfig option similar to this one: https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#single-letter-type-parameters

[2021-09-13 03:03] mavasani commented on #5184
Closing based on last comment

[2021-09-13 03:03] #5184 closed

[2021-09-13 03:06] mavasani commented on #5185
Tagging @jmarolf @mikadumont - we seem to have bunch of new documentation comment/inheritdoc analyzer suggestions: #5185, #5186 and #5187

They seem to be candidates for CA documentation rules: https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/documentation-warnings

Can these be added to your triage list?

[2021-09-13 03:07] mavasani commented on #5186
See https://github.com/dotnet/roslyn-analyzers/issues/5185#issuecomment-917799131

[2021-09-13 03:08] mavasani commented on #5187
See https://github.com/dotnet/roslyn-analyzers/issues/5185#issuecomment-917799131

[2021-09-13 03:17] mavasani commented on #5189
You should be able to do this via the new category specific bulk configuration MSBuild property in .NET6, documentation being added in https://github.com/dotnet/docs/pull/25562

[code]

[2021-09-13 03:21] mavasani commented on #5198
Can you please confirm if the issue still persists on the latest preview builds of VS2022: https://docs.microsoft.com/visualstudio/releases/2022/release-notes-preview?

[2021-09-13 03:24] mavasani commented on #5200
Can you please more details? Which rules are you talking about? Did you mean .editorconfig instead of .analyzerconfig? A repro project would be helpful

[2021-09-13 03:25] mavasani commented on #5202
Sounds reasonable!

[2021-09-13 03:29] mavasani commented on #5231
Fixed in 6.0.1xx branch.

[2021-09-13 03:29] #5231 closed

[2021-09-13 03:30] mavasani commented on #5232
Fixed in `release/6.0.1xx`

[2021-09-13 03:30] #5232 closed

[2021-09-13 03:36] mavasani commented on #5254
This is just a bug somewhere in the DFA framework in this repo. The analysis needs to pessimistically bail out for this case.

[2021-09-13 03:38] mavasani commented on #5259
This seems like a potential code fix suggestion for a compiler warning, which belongs to the Roslyn repo.

[2021-09-13 03:39] mavasani commented on #5260
@Evangelink Agreed.

[2021-09-13 03:42] mavasani commented on #5262
Closing this issue as the rule is already a candidate for removal and can be easily disabled.

[2021-09-13 03:42] #5262 closed

[2021-09-13 03:44] mavasani commented on #5336
Needs to be triaged/approved by dotnet/runtime.

[2021-09-13 04:35] buyaa-n commented on #5363
@jhudsoncedaron not sure why you were not getting a warning in 5.0 but the warning is expected because `RequireSomeInfoRegistry` is using windows only API you should annotate the method with `SupportedOSPlatform("windows")` attribute then there will be no warning

[code]

[2021-09-13 04:58] buyaa-n commented on #5209
I recall that the decision was to use `value`  for properties, not sure what decision are you talking about according to that discussion https://github.com/dotnet/runtime/issues/36517#issuecomment-654411745 this is an expected scenario and it is not a bug

[2021-09-13 05:30] Youssef1313 commented on #5209
@buyaa-n Yeah I see my comment is a bit misleading (specifically the last sentence). However, the analyzer shouldn't allow `nameof(PropertyName)`. So this would be a false negative.

https://github.com/dotnet/runtime/issues/33763#issuecomment-623760581

[2021-09-13 05:34] Youssef1313 commented on #5169
@mavasani Probably this is no longer relevant with changes from #5406 (we no longer have these fields)?

[2021-09-13 08:18] mavasani commented on #5305
This is likely fixed in the latest NuGet package/.NET 6 SDK

[2021-09-13 08:20] mavasani commented on #5310
Sounds good.

[2021-09-13 08:21] mavasani commented on #5311
No, this is not supported and is unlikely to be added anytime soon. Feel free to raise a request on Roslyn repo if you have a valid scenario requiring this analysis.

[2021-09-13 08:21] #5311 closed

[2021-09-13 08:29] mavasani commented on #5325
This is by design - the analyzer only sees the final source in the compilation after all preprocessor symbols have been resolved.

[2021-09-13 08:29] #5325 closed

[2021-09-13 08:30] mavasani commented on #5329
Dupe of #5329

[2021-09-13 08:30] #5329 closed

[2021-09-13 09:55] mavasani commented on #5335
Fixed in release branch.

[2021-09-13 09:55] #5335 closed

[2021-09-13 09:57] mavasani commented on #5338
@jmarolf

[2021-09-13 10:00] mavasani commented on #5341
We can specially handle this false positive, but I believe the common pattern is to have such constants defined in the analyzer and then have the code fix type reference them.

[2021-09-13 10:01] mavasani commented on #5350
@Youssef1313 is correct, this is by design.

[2021-09-13 10:02] #5350 closed

[2021-09-13 11:06] mavasani commented on #5368
Yes, unfortunately this is just a version gotcha with the NuGet package. The fix should be in the .NET6 SDK.

[2021-09-13 11:07] mavasani commented on #5369
Ping @p-bojkowski - are you able to identify the slow analyzer with the above instructions? Can you please share a repro project or a performance trace?

[2021-09-13 14:01] jhudsoncedaron commented on #5363
What a poor reflection on the analyzer.

[2021-09-13 15:25] mavasani commented on #5419
This was merged into 2.9.x

[2021-09-13 15:25] #5419 closed

[2021-09-13 15:29] mavasani commented on #5449
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5299

[2021-09-13 15:29] #5449 closed

[2021-09-13 15:47] sharwell commented on #5324
In the current design, the attribute does not apply transitively.

[2021-09-13 15:51] sharwell commented on #5223
I'd treat this as a feature request for the Public API feature and not as part of some higher-level source generator story.

For this case, if the change was made I'm thinking it would just be part of the Public API analyzer package.

[2021-09-13 16:05] mavasani commented on #5452
@dotpaul?

[2021-09-13 16:07] mavasani commented on #5465
Thanks for the analysis @sharwell @pgovind - I will investigate.

[2021-09-13 16:59] dotpaul commented on #5452
I haven't been able to repro:
[code]

[2021-09-13 17:04] pgovind commented on #5366
Yea we were still finalizing the implementation in P7 (and late into RC1) :) At that point, there was some thought that empty interfaces should trigger a preview diagnostic. With the latest changes in the release/6.0.1xx branch, both examples don't reproduce and work as expected. Closing the issue. Thanks for reports everyone!! Much appreciated!

[2021-09-13 17:04] #5366 closed

[2021-09-13 17:41] jol64 commented on #5452
@dotpaul
which version of the analyzers and also of visual studio are you using?
Thanks, Joachim

[2021-09-13 17:45] pgovind commented on #5450
This is the line that is crashing the analyzer:
[code]

I'll put up a fix soon

[2021-09-13 17:49] dotpaul commented on #5452
I was using Microsoft.CodeAnalysis.NetAnalyzers 5.0.3 and MSBuild from Visual Studio 16.11.2.

Were you looking in the IDE? Try doing a full rebuild, or...@mavasani is there still a setting for performing full code analysis that includes DFA?

[2021-09-13 18:02] jol64 commented on #5452
Full rebuild or MSBuild does work in fact - but imho it should do without as well. I assume most of our developers rely on the UI rather than the command line.

[2021-09-13 19:12] Evangelink commented on #5169
You are right @Youssef1313. I am closing the ticket.

[2021-09-13 19:12] #5169 closed

[2021-09-13 21:00] nguyenphuphi33 commented on #2216
I would be nice to have an example of how to suppress this manually in the GlobalSuppressions.cs file?

[2021-09-13 21:21] ryzngard commented on #5246
@mavasani is it just that we haven't released this fix yet?

[2021-09-13 23:20] xtqqczze commented on #5202
@hrkeni Are you interested in taking this to follow-up #4622?

[2021-09-14 03:31] mavasani opened #5472 "Analyzer ensuring the AnalyzerReleases.*.md files are in sync with the analyzer implementation is busted in our CI"
So, I see that the rule was already added to shipped file with Info severity here: https://github.com/dotnet/roslyn-analyzers/blob/release/6.0.1xx/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md

This change should have caused a build break as now the rule implementation has a different severity than the AnalyzerReleases file - the fact that did not happen indicates the analyzer ensuring the Ana

[2021-09-14 05:15] buyaa-n commented on #5205
@yaakov-h thank you for reporting the bug, we will fix it, meanwhile please use `RuntimeInformation.IsOSPlatform(OSPlatform.Create("macos"))` as a workaround

[2021-09-14 09:06] FreeAndNil opened #5473 "Separate CA1704 for single letter identifiers"
### Analyzer

**Diagnostic ID**: [CA1704](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1704)

### Describe the improvement

The current implementation of #443 (#1111) also checks for single-letter identifiers.
This check should be separated in an own diagnostic ID so that people can decide whether the want warnings for those cases or not.

### Describe suggestions on how to achieve

[2021-09-14 14:10] myblindy commented on #5254
Exactly, that's what I've been saying as well!

[2021-09-14 14:38] hrkeni commented on #5202
@xtqqczze Yeah, happily!

[2021-09-14 17:20] Youssef1313 commented on #5472
Unless I'm missing something, I don't think this was ever validated before. The current analyzer implementation for checking invalid entries looks much more simple:

https://github.com/dotnet/roslyn-analyzers/blob/1595b90e6f3c387d684c04b3a570f87bce4e7580/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReleaseTrackingHelper.cs#L249-L271

[2021-09-14 17:50] dlouwers commented on #4397
Also having this on records with default parameters

[2021-09-14 18:03] dlouwers commented on #4397
Workaround:
```public record MyRecord(string P1 = null, string P2 = null);```

to

[code]
Very verbose and hope this false positive will be fixed so think it is better to suppress for now.

[2021-09-14 19:38] Evangelink commented on #5331
As suggested by @Youssef1313 this is not a performance related improvement so it should not be part of `CA1822`.

[2021-09-14 19:38] #5331 closed

[2021-09-14 20:57] EdDore opened #5477 "Microsoft.CodeAnalysis.Metrics.targets needs to wrap arguments to metrics.exe in quotation chars"
**NuGet Package**: [Microsoft.CodeAnalysis.Metrics](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Metrics)
**Version**: 3.3.0 (Latest)

### Describe the bug

The Microsoft.CodeAnalysis.Metrics.targets file fails to wrap the arguments it passes to the Metrics.exe in quotation marks, causing the Metrics.exe to fail with an error similar to:

"C:\Users\<user>\Source\Repos\Calculator Solution\

[2021-09-14 22:46] AArnott opened #5479 "CA2101 false positive"
### Analyzer

**Diagnostic ID**: [CA2101](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2101): *Specify marshaling for P/Invoke string arguments*

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3

### Describe the bug

This code produces a CA2101

[2021-09-14 22:49] jmarolf commented on #5415
@jaredpar I assume IOperation will not tell us about constant interpolated strings until @333fred checks in the api correct?

[2021-09-14 22:53] 333fred commented on #5415
There is no special API for constant interpolated strings. You just have an `IInterpolatedStringOperation` with a non-null `ConstantValue`.

[2021-09-14 22:54] jmarolf commented on #5415
@maryamariyan can you post what you are seeing? My understanding is that we are never getting a non-null `ConstantValue` in the case above

[2021-09-15 00:15] RussKie opened #5481 "error RS2007: Analyzer release file 'AnalyzerReleases.Shipped.as a missing or invalid release header"
### Analyzer

[RS2007](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs2007-invalid-entry-in-analyzer-release-file): Invalid entry in analyzer release file

### Analyzer source

**SDK**: 6.0.100-rc.1.21416.15

### Describe the bug

Observed while publishing analyzer info in dotnet/winforms release/6.0 branch.

[code]

[2021-09-15 01:39] ryanbuening opened #5482 "Code AD0001 - Analyzer CA2252 - Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DetectPreviewFeatureAnalyzer' threw an exception of type 'System.ArgumentNullException'"
After updating to .NET 6 RC1 I'm receiving the following error (I have `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` in my csproj) in multiple places in my Blazor app:

[code]

@pgovind

[2021-09-15 02:23] mavasani commented on #5481
Analyzer currently expects the release header to be in a format `## Release <%Version%>`: https://github.com/dotnet/roslyn-analyzers/blob/32658a620ba89e963ea2bcc39554bec06b1d654b/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReleaseTrackingHelper.cs#L58-L73

It seems possible to enhance the analyzer to expect other formats, that would be a new feature request.

[2021-09-15 03:05] #3634 closed

[2021-09-15 03:25] hrkeni commented on #5202
@xtqqczze @mavasani @Evangelink
Would the preferred code fix for `!str.Equals(string.Empty)` be `str.Length != 0` in this case? That would mean modifying the diagnostic to also start considering the unary negation operator as part of the fix to enable that. I'm not sure if that can have some unintended consequences or not.

Alternatively, `!str.Equals(string.Empty)` can be easily fixed `!(str.Leng

[2021-09-15 05:08] #5477 closed

[2021-09-15 13:30] xtqqczze commented on #5202
Yes, this is preferred; I've updated the issue description to cover the negated case.

[2021-09-15 15:05] Aniobodo opened #5494 "ErrorProne.NET says that "readonly ref structs" are "Non-readonly""
What is going on here?
ErrorProne.NET says that System.ReadOnlySpan<T>, System.Span<T> and  any  other "readonly ref structs" are "Non-readonly".
Does anyone know the reason behind this?

[2021-09-15 15:20] xtqqczze commented on #5202
I've also added the negated case with parenthesis to the description.

[2021-09-15 15:29] xtqqczze commented on #5202
I'm surprised there is no code style rule that covers `!(i == 0)` ➜  `i != 0`.

[2021-09-15 16:13] #5494 closed

[2021-09-15 17:28] #3347 closed

[2021-09-16 13:37] kindermannhubert opened #5497 "EquatableAnalyzer (CA1067) - false positive, when Equals is sealed"
### Analyzer

**Diagnostic ID**: [CA1067](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1067): `Override Equals when implementing IEquatable`

### Analyzer source

**SDK**: dotnet\sdk\6.0.100-rc.1.21458.32\Sdks\Microsoft.NET.Sdk

**Version**: 6.0.100-rc.1.21458.32

### Describe the bug

[code]

### Expected behavior
Do not report when Equals(object?) is sealed.

[2021-09-16 21:16] buyaa-n commented on #5205
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/5495

[2021-09-16 21:16] #5205 closed

[2021-09-17 10:40] MrDavidTurner opened #5501 "CA2213 Raised for C++ CLI Object as Field on C# Class Despite Disposal"
### Analyzer

Warning	CA2213	'Road' contains field '_concrete' that is of IDisposable type 'Concrete', but it is never disposed. Change the Dispose method on 'Road' to call Close or Dispose on this field.

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3 (Latest)

### Describe the b

[2021-09-18 21:21] Kuinox opened #5503 "CA2208 Message could indicate that there is another constructor on ArgumentNullException."
### Analyzer

**Diagnostic ID**: [CA2208]

### Describe the improvement

I initially thought that ArgumentNullException behaved like other exceptions: the parameter is a message.
CA2208 rightfully enforce that `paramName` is an existing parameter name.
But to pass a message, you have to know that you must use the other constructor of `ArgumentNullException(string paramName, string message)`

Simpl

[2021-09-19 13:19] sgf commented on #5059
I hava same problem ,its will take 3-4gb memory when im usb 2-3hours.and when im use 2days. my pc will Downtime.vs take my 95% memory.
I must reboot my PC to solve.

[2021-09-21 12:04] vsfeedback opened #5511 "Visual Studio Code Metrics Calculation Error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-Code-Metrics-Calculation-E/1516468)._

---
[severity:It bothers me. A fix would be nice]
I have a C# project where i declare a delegate*. For example:

private static readonly delegate*<ReadOnlySpan<char>, ReadOnlySpan<char>, bool> _pIsValidRow = &IsValidRow;

Project will

[2021-09-21 15:47] sharwell commented on #5059
@udlose You can create a new VS feedback via Report a Problem and attach the heap dump to that. Feel free to mention me and/or link to this issue.

[2021-09-22 15:47] DavidArno commented on #5482
@mavasani, something strange is happening here. It says you added this to the .NET 6.x milestone 8 days ago, but the milestone on the right says .NET 7.0 and the link for .NET 6.x takes me to the .NET 7 milestone. 😕

[2021-09-22 16:42] pgovind commented on #5482
I missed this notification in my emails. Can you post a sample that reproduces the bug please? I recently fixed a crash related to getters that had the same call stack, so this might be fixed already.

[2021-09-22 16:45] SteveDunn opened #5516 "Code Analysis does not respect <AnalysisMode>AllEnabledByDefault</AnalysisMode>"
https://github.com/SteveDunn/ca-bug

Above is a repo to demonstrate what I think is a bug in the latest 6.0 SDKs with Code Analysis. The project targets net5.0 and has the 'opt-out' setting for code analysis (<AnalysisMode>AllEnabledByDefault</AnalysisMode>)

If built with a 6.0 SDK, there are no code analysis errors produced with dotnet build

BUT... If locked to a 5.0 SDK with a global.json, the

[2021-09-22 19:17] ryanbuening commented on #5482
@pgovind sample [here](https://github.com/ryanbuening/ca2252-error).

[2021-09-22 20:42] maryamariyan commented on #5415
we merged a fix for this on the release/6.0.1xx branch

[2021-09-22 21:01] jmarolf commented on #5415
closed with https://github.com/dotnet/roslyn-analyzers/pull/5480

[2021-09-22 21:01] #5415 closed

[2021-09-22 21:17] pgovind commented on #5482
Thanks for the sample @ryanbuening. I fixed that bug last week with https://github.com/dotnet/roslyn-analyzers/pull/5470. If you get a chance to use the latest daily bits, you should see it fixed! I'm going to optimistically close this issue, but if the crash still occurs on your machine, please do re-open it!

[2021-09-22 21:17] #5482 closed

[2021-09-22 23:56] jmarolf commented on #5516
@mavasani it appears we are not generating the correct editorconfig files for all the different analysis levels. I do not really understanding how all of this is intended to work [here](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs). I do no think we have any tests for this but I may be missing something?

[2021-09-23 08:02] mavasani commented on #5516
@jmarolf Thanks, I'll investigate.

[2021-09-23 08:07] mavasani commented on #5482
.NET 6.0 is in lockdown mode now, so I renamed the .NET 6.0 milestone to .NET 7.0 to bulk move existing issues to the next major release. I'll create a new .NET 6.x milestone for any high priority servicing bugs.

[2021-09-23 08:45] mavasani commented on #5516
@jmarolf I just build `Microsoft.CodeAnalysis.NetAnalyzers.nupkg` locally from `release/6.0.1xx` branch and that seems to work fine and all AnalysisModes are respected. I believe [this](https://github.com/dotnet/roslyn-analyzers/commit/951dc4657155b7bce63738117727ea8161917fb3#diff-bbd965856c65adbd362b6c714d543a9dbdd1aa0939f6a00a85ca32dca27dfab6) change ensure we generate `AnalysisLevel_6_*.editorc

[2021-09-23 08:48] mavasani commented on #5516
Ah, I just checked that your change that adds the new .NET 6 release rules table to `AnalyzerReleases.Shipped.md` is **not present** in [release/6.0.1xx-rc1](https://github.com/dotnet/roslyn-analyzers/blob/release/6.0.1xx-rc1/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md), but **is present** in [release/6.0.1xx-rc2](https://github.com/dotnet/roslyn-analyzers/blob/release/6.0.1xx-rc2/src/NetAna

[2021-09-23 10:13] bitbonk opened #5521 "RS0041 cannot be solved for Resources.Designer.cs"
### Analyzer

**Diagnostic ID**: RS0041 (https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/RS0041): `Symbol uses some oblivious reference types`

### Analyzer source

**NuGet Package**:  [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)

**Version**: 3.3.2 (Latest)

### Problem

I get a lot of warnings sim

[2021-09-23 10:17] bitbonk commented on #3793
It is still not clear how this problem can be solved at all. So I created https://github.com/dotnet/roslyn-analyzers/issues/5521

[2021-09-23 10:25] Youssef1313 commented on #5521
You may want to suppress the diagnostic only for this specific generated file. In editorconfig you can do that like this:

[code]

[2021-09-23 10:34] bitbonk commented on #5521
Is there also a way make the generated code be nullable aware? I saw that Arcade has a [Source Generator](https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/src/GenerateResxSource.cs) that probably does this. Is it available in a Nuget package?

[2021-09-23 20:49] Youssef1313 commented on #4508
There is another feedback on this rule dotnet/docs#26241

[2021-09-25 01:09] #5516 closed

[2021-09-25 14:38] DavidZidar opened #5529 "AnalysisMode and AnalysisLevel are not properly respected in .NET 6 RC 1"
### Analyzer source

**SDK**: Built in analyzers in .NET 6 RC 1 SDK.

**Version**: 6.0.100-rc.1.21463.6

### Describe the bug

Even though I set both the following properties...

[code]

... nearly all rules are still disabled.

This is because all of the conditions in `Microsoft.CodeAnalysis.NetAnalyzers.targets` depend on additional properties, for example either `AnalysisLevelDesign` or `Analys

[2021-09-25 16:07] MartyIX opened #5530 "New `CA2007` behavior does not interact well with `CA2000`"
### Analyzer

**Diagnostic ID**: [CA2007](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2007): `Do not directly await a Task`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 RC-1 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.0-rc.1.21451.13](https://github.com/dotnet/runtime/relea

[2021-09-26 11:42] Uzivatel919 commented on #4869
Also [rule documentation](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1816) should be upgraded . Is there some schedule on this?

[2021-09-27 03:52] #5286 closed

[2021-09-27 14:02] MihailsKuzmins commented on #3427
get the error even when `IPropertySymbol` is a value in the dictionary
![image](https://user-images.githubusercontent.com/47413092/134922459-d6fd2d2c-aacd-4de4-b57b-3733f2dfdec0.png)

[2021-09-27 18:33] #5143 closed

[2021-09-27 21:16] silkfire commented on #3427
@ryzngard Does the .NET 6 SDK include the reworded error message as well?

[2021-09-27 22:27] manfred-brands opened #5534 "Detect static fields/readonly properties being used before defined."
### Describe the problem you are trying to solve

Given the following code:

[code]

This has a IDE0032 message to convert the first field into an Auto Property with a code-fix resulting in:

[code]

Although this compiles fine, it no longer does what the user expects.
The value of `Separators` will be an array with a NUL character as the `Separator` property is not initialized yet.
Static initial

[2021-09-28 00:16] ryzngard commented on #3427
@MihailsKuzmins this looks like it should be fixed already. What version of analyzers are you using?

@silkfire let me check scheduling. I haven't made changes to the text as it hasn't been high on my priority list, but if there's still time to make a change here I will. Otherwise it will go into .NET 7 SDK

[2021-09-28 06:18] ranma42 commented on #5330
IIUC CA2000 currently considers:
 - explicit creation via constructor
 - creation via two special cases https://github.com/dotnet/roslyn-analyzers/blob/086d1cc888ca0d8c96b94444935f488fcaf3fe98/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAnalysis.DisposeDataFlowOperationVisitor.cs#L259-L262

Would it be ok to consider as "disposable creation" all methods (both static and

[2021-09-28 06:23] ranma42 commented on #5330
fun fact: because of the interaction between the special case and extension methods, some (instance-based) patterns are already detected:

[code]

[2021-09-28 11:33] MihailsKuzmins commented on #3427
@ryzngard
version of Microsoft.CodeAnalysis.Analyzers is 3.3.2 which was released a long time ago (on 4 December 2020). Have also checked prerelease NuGets - there are none for the package.

Is it possible to get a package version with the fix?
![image](https://user-images.githubusercontent.com/47413092/135079074-7a3e070b-6a29-495a-b4f0-b178a4b14c6f.png)

[2021-09-28 16:26] CodeBlanch commented on #5330
@ranma42

I don't think that totally explains this (or at least I'm not understanding):

[code]

The only difference between the two (that I can tell) is in the first snippet `CreateEntry` is invoked on a concrete type (`MemoryCache `) and in the second `CreateEntry` is invoked on an interface (`IMemoryCache`).

[2021-09-28 17:57] mrange commented on #2150
Adding more cases to this:

[code]

Results in a warning (Great)!

This doesn't:

[code]

Both have the same issue of depending on the current culture which can produce wanted or as often is the case unwanted difference in behavior.

IMHO if the first one produces as warning the second one should to and a suitable fix should be suggested.

Now I have to search through my code-base manually for uns

[2021-09-28 18:19] ranma42 commented on #5330
@CodeBlanch IIUC the difference you observe comes from the `new` in `MemoryCache.CreateEntry` (the analyzer is doing an interprocedural analysis)

[2021-09-28 19:33] CodeBlanch commented on #5330
@ranma42 Got it. So you are saying it will actually look at the `MemoryCache.CreateEntry` implementation and sees the `new` in the body.

In that case...

This would possibly increase the false positives, but I guess returning a disposable object is commonly associated to transferring its ownership (for example in factories), so it would also possibly decrease the false negatives.

I'm far from an

[2021-09-28 21:20] Youssef1313 commented on #3427
@ryzngard I believe this is not released with the SDK at all.

[2021-09-28 21:21] Youssef1313 commented on #3427
@MihailsKuzmins A pre-release is available [here](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.Analyzers&version=3.3.3-beta1.21474.1&protocolType=NuGet).

I think a stable version should be pushed to NuGet. cc @jmarolf

[2021-09-28 21:24] ryzngard commented on #3427
Yea, I always forget metadata analyzers aren't in the SDK. Also means that my string fix might be in the wrong branch? Happy to retarget depending on where we release our NuGet from

[2021-09-28 22:44] QuantifEye opened #5539 "CA1508 false positive"
I was trying to see what effect manually dereferencing pointers would have on performance in the following code.

When I converted my code using a 2d array to perform manual pointer arithmetic, I got the following false positive.

The warning relates to the line `if (corr0 < -1d || corr0 > 1d || corr0 != corr1)`, and the message is  `'corr0 != corr1' is always 'false'. Remove or refactor the condi

[2021-09-29 08:21] MihailsKuzmins commented on #3427
@Youssef1313, great thank you 🙏

[2021-09-29 21:56] owns commented on #3451
using the full documentation comment ID worked for me: `M:****.GuardAgainst.Null``1(``0,System.String)`
1. Find the dll and corresponding xml documentation.  Mine was a nuget package, so I just drug around my nuget cache (e.g. ~/.nuget/package/MyPackage/MyVersion/lib/MyTargetFramework/MyDll.xml)
The implementation:
[code]

[2021-09-30 17:39] jmarolf commented on #5459
yep this needs to be fixed in the sdk targets

[2021-09-30 19:20] sharwell opened #5563 "Implement automation rule "Auto-approve maestro PRs""
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/1408396/135517259-144a3f00-e85c-4c40-9822-a914f74d86b6.png)

This automation rule should also approve OneLoc PRs (covered by #5556).

[2021-09-30 19:22] sharwell opened #5564 "Implement automation rule "Require PR approval before merging SDK change""
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/1408396/135517564-5be971c1-1d8b-48a7-a50b-54da3e47599d.png)

[2021-09-30 19:23] sharwell opened #5565 "Implement automation rule "Label community pull requests""
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/1408396/135517746-56ca3a6d-4df9-4dcc-a711-03880984f0b5.png)

[2021-09-30 19:24] AraHaan commented on #5564
I feel like the PR title to be checked should be ``Update sdk.version.``

[2021-09-30 22:42] sharwell commented on #5565
@Evangelink this rule should now be working. Can you submit a new PR to this repository as a test?

[2021-10-01 02:05] jmarolf commented on #5563
This automation should also approve branch merge PR such as https://github.com/dotnet/roslyn-analyzers/pull/5569

[2021-10-01 20:35] jmarolf commented on #5450
fixed with https://github.com/dotnet/roslyn-analyzers/pull/5470

[2021-10-01 20:35] #5450 closed

[2021-10-02 08:49] tom-englert opened #5583 "Extend analyzer testing framework to support DiagnosticSuppressor tests"
With the current testing framework it's not possible to write tests for `DiagnosticSuppressor` analyzers.

Suggestion:
Extend `DiagnosticResult` with a property `IsSuppressed` that can be used by the diagnostic verifier to assert the state of the diagnostic.

In the test:
[code]
In the verifier:
[code]

[2021-10-02 09:23] tom-englert commented on #5583
Sorry, wrong repo.

[2021-10-02 09:23] #5583 closed

[2021-10-02 11:34] NewellClark opened #5607 "Analyzer to report arrays that can be converted to ImmutableArray<T>"
**Brief description:**

Find array fields who's contents are never mutated and suggest using an `ImmutableArray<T>` when possible. Intended for internal use in dotnet/roslyn.

**Languages applicable:**

Both C# and Visual Basic.

**Code example that the analyzer should report:**

https://github.com/dotnet/roslyn/blob/b88948f10a1085980df7080f0b765b1a8c614436/src/Workspaces/Core/Portable/PatternMatc

[2021-10-02 12:20] Youssef1313 commented on #5565
@sharwell It's working 🎉

https://github.com/dotnet/roslyn-analyzers/pull/5584

[2021-10-03 10:51] SamPruden opened #5587 "Suggestion: Warnings about unintuitive "broken" behaviour when combining default interface methods, generics, and value types"
### Describe the problem you are trying to solve
Combining default interface methods, generics, and value types results in an unintuitive boxed copy that interferes with expected reference semantics.

[code]
[SharpLab](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUHgNwEMwACAMwHtLSBeUqAUwHdSAxagCgEoBuPAOKMmYAJYBjIgBspATwCSUcWEYBbYcE4ryFanzypMATk5VKAOgBCJPqQD0d0gDlKwUqKUr1UYIzh4DABZSIREJaTlFZ

[2021-10-04 00:03] jmarolf opened #5589 "TestCodeFixToEnableAnalyzerReleaseTrackingAsync is flaky"
Error Message

[code]

Stack Trace:
[code]

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1399768)

[2021-10-04 01:11] jmarolf commented on #5563
I assume we will be using the [submitPullRequestReview](https://docs.github.com/en/graphql/reference/mutations?query=review#submitpullrequestreview) api to do this.

[2021-10-04 11:11] Youssef1313 commented on #5589
@jmarolf I recall this is a roslyn bug that @sharwell has fixed in past. But we're using lots of old MS.CA packages.

[2021-10-04 11:14] Youssef1313 commented on #5589
https://github.com/dotnet/roslyn-analyzers/pull/4853#issuecomment-779956198

[2021-10-04 14:20] sharwell commented on #5589
@jmarolf this should be fixed in Roslyn 3.10. Can you verify which version of Roslyn was running for this test?

[2021-10-04 14:30] jmarolf commented on #5589
We previously hard-locked to the 3.9 version of the compilers. I recently updated this in main: https://github.com/dotnet/roslyn-analyzers/commit/fc5d24276245cc06c445442bfde660af98ba45a4

[2021-10-04 14:40] sharwell commented on #5589
That's the version of the compiler we use to build the code, but not the version of the compiler we use for executing the tests. We still execute the tests with 3.3.1:

https://github.com/dotnet/roslyn-analyzers/blob/d7403510f2aac1a0c9059ab7208e68b0b27e1849/eng/Versions.props#L45

[2021-10-04 15:00] sharwell commented on #5589
All 7 failures of this test in the past 14 days have occurred on Ubuntu test runs. The viable options to fix appear to be:

* Update this test leg to use a newer version of Roslyn (to match others we've already updated)
* Exclude this test on Ubuntu
* Implement retry logic within this test, where if it fails the first time it automatically runs a second time to see if it passes

[2021-10-04 15:21] jmarolf commented on #5589
I assume we can use a newer version of the compiler in the test runs without updating the supported minimum version of the compiler?

[2021-10-04 15:34] sharwell commented on #5589
Yes, but we lose test coverage for older versions.

[2021-10-04 17:52] Jozkee opened #5597 "RethrowToPreserveStackDetailsFixer fails with switch expressions"
### Analyzer

**Diagnostic ID**: [CA2200](https://docs.microsoft.com/en-us/dotnet/core/compatibility/code-analysis/5.0/ca2200-rethrow-to-preserve-stack-details): `Rethrow to preserve stack details`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 6.0 preview RC1

### Steps To Repro

[2021-10-04 21:22] jmarolf commented on #5597
Can reproduce this. The Codefix does not handle switch expressions.

[2021-10-04 23:25] #5565 closed

[2021-10-05 11:33] NewellClark commented on #5497
Can you describe what lead you to implement `IEquatable` on a derived class and not on its base class? It seems to me that if you are implementing `IEquatable<T>` on a derived class whos base class has sealed `object.Equals(object?)`, then you could easily end up with multiple `Equals` overloads that have different behavior, which would be surprising to developers.

[2021-10-05 12:07] kindermannhubert commented on #5497
@NewellClark you may want to have something like this:
[code]

[2021-10-05 12:26] NewellClark commented on #5442
I would like to be assigned to this, please.

[2021-10-05 15:16] uweigand commented on #5360
Looks like this is still not correct, and in particular is causing this problem: https://github.com/dotnet/source-build/issues/2483

Apparently the file name that is being accessed is now *completely* lowercased, e.g. `analysislevel_6_default.editorconfig` (that's what I see with strace), but the file on disk is called `AnalysisLevel_6_default.editorconfig`.   This causes the file to be not found

[2021-10-05 17:55] SamPruden commented on #5587
Tagging in @CyrusNajmabadi because he agreed in the CSharpLang discussion that an analyzer might be a good idea, and might have some good thoughts on what the user experience should be.

[2021-10-08 18:12] jmarolf opened #5613 "CancellationTokenParametersMustComeLastAnalyzer has poor performance"
In the roslyn build this analyzer accounts for half of all execution time in analyzers from `Microsoft.CodeAnalysis.NetAnalyzers`

- 22.794 s   Microsoft.CodeAnalysis.NetAnalyzers, Version=6.0.4.36602, Culture=neutral, PublicKeyToken=31bf3856ad364e35
  - Microsoft.CodeQuality.Analyzers.ApiDesignGuidelines.CancellationTokenParametersMustComeLastAnalyzer (CA1068) = 9.621 s
  - Microsoft.NetCore.Anal

[2021-10-08 22:14] #5613 closed, assigned to nobody

[2021-10-09 13:27] kaylumah opened #5616 "Banned Symbol Analyzers reports duplicate violations"
### Analyzer

Diagnostic ID: [RS0030](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs)

Microsoft.CodeAnalysis.BannedApiAnalyzers 3.3.2

### Describe the bug

Banned symbols are reported twice.

### Steps To Reproduce
I have the following BannedSymbols.txt

[code]

The following code

[code]

### Expected behavior

O

[2021-10-10 08:45] AmirSasson commented on #4461
we are using dotnet version 5.0.401 and still getting false positives on CA2227.
why was this issue closed? @mavasani
[code]
results CA2227

[2021-10-11 21:59] dagood opened #5619 "Add Microsoft.CodeAnalysis.BannedApiAnalyzers to source-build for 6.0"
https://github.com/dotnet/roslyn-analyzers/blob/d35bd7903755aa504b2ebd6341d8fe0a2fba0797/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Directory.Build.props#L4

I believe this package should be part of source-build: it satisfies a dependency in dotnet/msbuild.

Based on the diff (and diff only, I'm not sure about the context of this PR), this PR removed more projects than it should have: https://g

[2021-10-12 12:19] thomaslevesque commented on #1705
IMO there should also be an exception for `byte[]` properties. `byte[]` is the standard type to represent binary data, and using any other type for this would be confusing. I think CA1819 shouldn't be triggered for `byte[]`.

[2021-10-12 20:25] #5529 closed

[2021-10-12 21:58] Kuinox opened #5622 "RS0030 BannedApiAnalyzer does not report symbols from multiples files."
### Analyzer

**Diagnostic ID**: [RS0030]

### Analyzer source

**NuGet Package**: https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers/

**Version**: 3.3.2

### Describe the bug

When specifying the API to ban in 2 files:
`BannedSymbols.txt` and `BannedSymbols.Common.txt`, only the symbols in `BannedSymbols.txt` are banned.

### Steps To Reproduce
https://github.com/Kuinox/Rep

[2021-10-12 23:23] dagood commented on #5619
It looks like the way 5.0 source-build got around that is by deleting the line that pins to 2.9.0--so, the analyzer is broken in that branch currently. https://github.com/dotnet/source-build/blob/85b2cbf13bda47f7957752840baf068e6e53e779/patches/roslyn-analyzers/0004-Update-to-netstandard2.0.patch#L111-L120

[2021-10-13 09:54] ghost opened #5626 "CA2254 Should not apply when log message template is a resource string."
**Diagnostic ID**: [CA2254]

The code analyzer info message "The logging message template should not vary between calls to 'LoggerExtensions.LogDebug(ILogger, string?, params object?[])' appears when using a message template that is defined in a resource file.

Examples:
`logger.LogDebug(MyResources.MyMessageTemplate, param1, param2,...);`
`logger.LogDebug(localizer["MyMessageTemplate"], param1, p

[2021-10-13 16:08] martincostello opened #5628 "CA1812 should not warn for top-level Program classes"
### Analyzer

**Diagnostic ID**: [CA1812](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1812)

### Describe the improvement

An application that uses top-level programs and uses an analysis rule set that includes CA1812 will generate a warning from the compiler-generated `Program` class in even a trivial application.

[code]

[code]

This then requires the developer

[2021-10-13 16:16] Youssef1313 commented on #5628
@martincostello Can you try with https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet7&package=Microsoft.CodeAnalysis.NetAnalyzers&version=7.0.0-preview1.21513.1&protocolType=NuGet ?

[2021-10-14 11:03] runehalfdan opened #5633 "CA2000 not triggered for undisposed IEnumerator"
This little snippet, doing the opposite of Any(), did not trigger a CA2000
[code]

(I suspect this is related  to some ownership transfer rules I'm not familiar with, but if someone could point out those rules it would be helpful)

[2021-10-14 17:34] jeffhandley opened #5636 "CA2252 Preview Feature Analyzer not reporting diagnostics as error by default"
### Analyzer

**Diagnostic ID**: [CA2252](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2252): `This API requires opting into preview features`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 6.0.100-rtm.21514.17

### Describe the bug

Consuming prev

[2021-10-14 17:43] terrajobst commented on #5636
For sure. I'd consider this a ship stopper.

[2021-10-14 17:46] mavasani commented on #5636
Confirmed this is due to the wrong entry in the above shipped releases file, which generates the following entry in `C:\Program Files\dotnet\sdk\6.0.100-rc.2.21505.57\Sdks\Microsoft.NET.Sdk\analyzers\build\config\AnalysisLevel_6_default.editorconfig`

[code]

[2021-10-14 17:52] mavasani commented on #5636
@jeffhandley You may also want to quickly check default severity of all entries for new .NET6 analyzers here matches your expectations: https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md#release-60

[2021-10-14 17:59] jeffhandley commented on #5636
Good idea. @buyaa-n Can you do that please?

[2021-10-14 18:23] jmarolf opened #5639 "Add Tests for GenerateDocumentationAndConfigFiles"
The `GenerateDocumentationAndConfigFiles` commandline program is critical for analyzers to ship correctly but we have not validation or tests for this step in our build process.

[2021-10-14 18:48] buyaa-n commented on #5636
For a few analyzers no info of expected severity or not discussed in the API review (though I have no issue with current severity).

I don't see the CA1849, `UseAsyncMethodInAsyncContext` analyzer in the 6.0 shipped list (we are merged into 6.0), it is still in the unshipped list, not sure if that is an issue or it will be shipped later CC @jmarolf

Other than that the list looks good to me

[2021-10-14 22:31] jmarolf commented on #5530
This is what I can reproduce using the public API surface area of `Nito.AsyncEx`

Project File:
[code]

editorconfig
[code]

code
[code]

[2021-10-14 22:51] jmarolf commented on #5530
I am seeing a diagnostic for this case:

[code]

But I do not get a warning if I change the code to be this:

[code]

which appears correct. if you are doing `await using` on a disposable without first calling `ConfigureAwait` you are violating CA2007.

I would expect this to work:

[code]

calling ConfigureAwait changes the return type to `ConfiguredAsyncDisposable` (see [here](https://github.com

[2021-10-15 06:42] MartyIX commented on #5530
@jmarolf Thank you. I see I failed to describe the issue well. Your elaboration is very useful. So let me show you my actual issue by modifying your code.

Project file (the same as yours):

[code]

`.editorconfig` (essentially same as yours; I find it better to report warnings rather than errors by analyzers because of compilation errors)
[code]

The code is long but it just demonstrates differen

[2021-10-15 17:58] carlreinke opened #5645 "Suggestion: Extension method cannot be invoked with extension syntax"
### Describe the problem you are trying to solve

Extension methods are not considered for overload resolution if there is an applicable instance method.  It is possible to create extension methods that cannot be invoked using the extension method syntax.

Consider [this `Append` extension method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.primitives.extensions.append) for `S

[2021-10-15 19:44] buyaa-n opened #5646 "Implement VB version of GetConstraintSyntaxNodeForTypeConstrainedByPreviewTypes in PreviewFeatureAnalyzer"
Related to https://github.com/dotnet/roslyn-analyzers/issues/5227
**Diagnostic ID**: [CA2252](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA2252)

### Describe the improvement

For implementing VB version of `GetConstraintSyntaxNodeForTypeConstrainedByPreviewTypes` abstract method of `PreviewFeatureAnalyzer` ~~we need an API in `ClassStatementSyntax` that return the

[2021-10-16 06:00] #5636 closed, assigned to nobody

[2021-10-18 05:27] timheuer opened #5652 "CA1845: Adds unnecessary using statement when implicit usings exist"
**Version Used**:
Microsoft Visual Studio Enterprise 2022 Int Preview (64-bit)
Version 17.0.0 Preview 5.0 [31808.319.d17.0]

**Steps to Reproduce**:

1. Create a new console app in .NET6 - default implicit usings
2. Add some code that triggers CA1845
3. Executing the code fix

**Expected Behavior**:
`using System;` is not added

**Actual Behavior**:
It is added

Not sure if this is expected with t

[2021-10-18 21:00] jaredpar opened #5653 "Microsoft.CodeAnalysis.Metrics has wrong license on NuGet.org"
The LICENSE for this repository is listed as MIT yet the listed license for Microsoft.CodeAnalysis.Metrics on nuget.org is Apache. Possible this is a hold over from before the switch but seems like an item to correct.

![image](https://user-images.githubusercontent.com/146967/137805995-66a7deee-819a-481b-aeb7-3daacf0d48c5.png)

[2021-10-19 04:12] geeknoid commented on #3210
On a related note, we're also getting warnings from something like this:

[code]

The warning claims that the internal type `StringValueTypeConverter<T>` is unused. Clearly it is.

[2021-10-20 07:48] JohanLarsson opened #5658 "CA1812 should not warn when type is used in attribute"
### Analyzer

# CA1812: Avoid uninstantiated internal classes

[code]

[2021-10-20 17:43] timheuer opened #5660 "CA1845: Analyzer not being offered when scenario is hit"
**Version Used**:
Microsoft Visual Studio Enterprise 2022 Int Preview (64-bit)
Version 17.0.0 Preview 5.0 [31808.319.d17.0]

**Steps to Reproduce**:

1. Create some code that should trigger CA1845 that does a `Substring` and appends a string literal "..."

**Expected Behavior**:
CA1845 is triggered

**Actual Behavior**:
It is not until I add another concat statement then it appears to wake up.

Pe

[2021-10-20 22:01] arthuredgarov opened #5661 "CA2254 appears when using a string from *.resx file"
### Analyzer

**Diagnostic ID**: [CA2254](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2254): `Template should be a static expression`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100-rc.2.21505.57](https://dotnet.microsoft.com/download/

[2021-10-21 03:53] weifenluo opened #5663 "How to fix RS2008 warning?"
In Roslyn 3.8.0, there is RS2008 warning (Enable analyzer release tracking for the analyzer project containing rule 'EO0001') for the following code:

[code]

Press `CTRL-.` to quick fix by adding the following two files:

`AnalyzerReleases.Shipped.md`:
[code]

`AnalyzerReleases.Unshipped.md`:
[code]

However the RS2008 warning is still there.

What am I missing?

[2021-10-21 07:12] #5663 closed, assigned to nobody

[2021-10-21 10:31] shuebner opened #5664 "CA1822 should have api_surface configuration"
### Analyzer

**Diagnostic ID**: [CA1822 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822 )

### Describe the improvement

CA1822 should be configurable to exclude public and internal members.

### Describe suggestions on how to achieve the rule

Offer configuration of the API surface via `api_surface`.

[2021-10-21 10:44] shuebner commented on #5664
It is not documented on the rule (see linke in the description) and also setting `dotnet_diagnostic.CA1822.api_surce = private` has no effect on warning reports.

[2021-10-21 10:50] shuebner opened #5666 "IDE0058 should offer excluded_symbol_names configuration"
### Analyzer

**Diagnostic ID**: [IDE0058](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/ide0058)

### Describe the improvement

I would like to set severity on IDE0058 to warning.
However, this would lead to a lot of useless warnings on any kind of builder, e. g. StringBuilder().
Fluent APIs are affected as well (think e. g. FluentAssertions).
I would thus like to exlud

[2021-10-21 10:59] mavasani commented on #5664
@shuebner However, you raise a good point, which @gewarren, @Youssef1313 and @Evangelink have also raised in the past. We should probably support both `dotnet_diagnostic.` prefix and `dotnet_code_quality.` prefix for specifying editorconfig options for CA rules (latter for backwards compatibility). Many customers have got confused due to different prefix for CA rule options. It's likely a very sim

[2021-10-21 11:01] #5666 closed

[2021-10-21 11:57] shuebner commented on #5664
@mavasani
Wow, classic RTFM. How could I not have seen the documentation...?
Sorry for stealing your time.

[2021-10-21 12:23] mikenunan opened #5673 "Warn about use of conditional null operator with an extension method that accepts null reference"
Example code in project targeting `net5.0`:

[code]

As written, this will output a blank line to the console because the call to the `SumIntegers` extension method is bypassed by the conditional null operator on the line with the comment. If that `?.` is replaced by a regular `.` then `SumIntegers` is called and the value of 42 is returned and output. If an extension method accepts a null and pot

[2021-10-21 22:10] chsienki opened #5669 "Flag source generator I/O"
### Describe the problem you are trying to solve

We know that potentially bad-things™ happen when generators perform I/O, so we should flag any generators that do so.

### Describe suggestions on how to achieve the rule

We'll look for obvious uses of `File.Write` etc. from within any class marked with `[Generator]`.

### Additional context

We won't be able to get all instances, but it should be

[2021-10-22 00:11] JoeRobich opened #5671 "Publishing is failing in Official Builds"
See Pipeline - https://dev.azure.com/dnceng/internal/_build?definitionId=830&_a=summary (microsoft only)

Latest Build - https://dev.azure.com/dnceng/internal/_build/results?buildId=1433878&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a (microsoft only)

[code]

[2021-10-22 01:04] ZacharyPatten opened #5672 "warning on foreach conversions"
There should be a compiler warning when a `foreach` loop compiles and adds an `explicit` cast operation. Here is an example that would apply:
[code]

Another example:
[code]

From my experience, this behavior often results in bugs in code. I honeslty prefer this code not compile, but if there was at least a warning then I can just increase the severity of that warning to be an error and thus break

[2021-10-22 03:54] mavasani commented on #5672
Duplicate of https://github.com/dotnet/runtime/issues/48529, which was not approved by .NET runtime team due to concern over far too many false positives.

[2021-10-22 04:56] RikkiGibson commented on #5672
I think it's worth investigating whether there's some heuristics which could reduce "noise" warnings here to an acceptable level. For example, if the type of `Current` on the enumerator is `object`, then let's not give a diagnostic on the implicit cast. This would rule out usability issues around non-generic collections and likely a lot of other scenarios where people really do need to downcast vi

[2021-10-23 10:40] KitCarson03 opened #5675 "no code actions available using VSCODE"
I'm using vscode with new .net 6 rc1 version but the same issue is present also with .net 5 officiale release.
VSCode doesn't display any available fixes also for simple errors like a missing semicolon at the end of a single line of code like removing it from the default console template project.

here it is the Omnisharp Log:
https://pastebin.com/Bk90SKpG

[2021-10-25 16:05] Youssef1313 opened #5678 "Enhancement for "CA1852: Seal internal/private types""
If it doesn't have any public, protected, or protected internal constructors, then we could also factor it in.

_Originally posted by @stephentoub in https://github.com/dotnet/runtime/issues/49944#issuecomment-951069332_

[2021-10-26 16:11] #5673 closed, assigned to nobody

[2021-10-26 16:33] sfoslund opened #5679 ".Net SDK 6.0 RC2 has incorrect editor config files for AnalysisLevel 5"
---
**Issue moved from dotnet/sdk#22276**
- Please respond to @ArturDorochowicz.

---

_From @ArturDorochowicz on Friday, October 22, 2021 5:36:15 PM_

### Describe the bug
I think that SDK 6.0 RC2 ships incorrect editorconfig files for AnalysisLevel 5. They are basically the same as for level 6, with just changes in comments from string '5.0' to '6.0'.

I'll use Docker image `mcr.microsoft.com/do

[2021-10-27 13:45] stephentoub opened #5682 "CA1850 (ComputeHash) code fix removes namespace erroneously"
### Analyzer

**Diagnostic ID**: [CA1850](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1850): 'Prefer HashData over ComputeHash`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 7.0.0-preview1.21523.2

### Describe the bug

CA1850 removes the namespace fro

[2021-10-27 13:49] stephentoub opened #5683 "CA1850 (ComputeHash) code fix eats starting ifdef"
### Analyzer

**Diagnostic ID**: [CA1850](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1850): 'Prefer HashData over ComputeHash`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 7.0.0-preview1.21523.2

### Describe the bug

If there's a `#if ` before the c

[2021-10-27 16:58] #5679 closed, assigned to mavasani

[2021-10-28 07:42] Ilchert opened #5685 "Missing warning on pure collection initializer methods"
Missing warning when Add method with PureAttiribute used for collection initializer.

Rise warning when C# collection initializer method is marked as Pure.

[code]

This warning can help with immutable collections (marking as pure methods like [this](https://github.com/dotnet/runtime/blob/3c1de2762e18d67ee31395d63f409e92b7232742/src/libraries/System.Collections.Immutable/src/System/Collections/Imm

[2021-10-28 09:32] tom-englert opened #5684 "CA1508 false positive"
### Analyzer

CA1508 // Avoid dead conditional code

### Describe the bug

A false positive of CA1508 is reported

### Steps To Reproduce

Project file:
[code]

Source code:
[code]

### Expected behavior

No CA1508 in line 25

### Actual behavior

CA1508 in line 25

[2021-10-31 18:21] NN--- commented on #5479
Also in .NET 6

csproj:
[code]

Program.cs

[code]

`dotnet build` result:

[code]

[2021-10-31 18:22] NN--- commented on #5479
#2886
#5009

[2021-10-31 19:18] vsfeedback opened #5688 "VS2022 TreatWarningsAsErrors resolved analyzer IDE0059"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-TreatWarningsAsErrors-resolved-an/1566545)._

---
I changed the CSPROJ to treat warnings as errors. Afterward Visual Studio updated and the warnings shown in the Errors window disappeared as-if they were resolved

---
### Original Comments

#### Feedback Bot on 10/28/2021, 08:06 P

[2021-11-01 03:56] beauvankirk opened #5689 ".rtf license files in nuget packages flagged as security risk"
Per request from @jmarolf, I'm posting a linked issue here as well as [the original](https://github.com/dotnet/roslyn/issues/57385) on [dotnet/roslyn](https://github.com/dotnet/roslyn).

Original post:

_Based on a security bulletin issued by Microsoft, the enterprise context I work in adopted the (overly?) conservative strategy of blocking all .rtf files (and compressed files that contain them).

[2021-11-01 10:20] manfred-brands commented on #2213
Related to #5534
I was happy to contribute the analyzer to roslyn, if they would accept it. For now I have added it to my own.

[2021-11-01 19:08] RikkiGibson commented on #5672
Closing as a duplicate of dotnet/roslyn#54712.

[2021-11-01 19:08] #5672 closed

[2021-11-01 19:43] jmarolf commented on #5689
@mavasani do you have any objection to converting these files to be *.txt?

[2021-11-01 20:15] mavasani commented on #5689
@jmarolf Sounds good.

[2021-11-01 20:46] buyaa-n commented on #5683
I believe that is better

[2021-11-02 03:40] vsfeedback opened #5690 "Code Metrics Fail When Using C# 9 Function Pointers"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-Metrics-Fail-When-Using-C-9-Functi/1567736)._

---
Create a C# project using .NET 5 or later
Add a unmanaged function pointer to the code
Running code metrics at this point will fail
Commenting out the unmanaged function pointer causes code metrics to work again.

In my recorded ste

[2021-11-02 13:55] DangerRoss commented on #5690
When I raised this on VS feedback I couldn't find a duplicate. However I just found this bug is already reported in this repo https://github.com/dotnet/roslyn-analyzers/issues/5511

[2021-11-02 13:56] mavasani commented on #5690
Thanks @DangerRoss, closing this as a duplicate of #5511

[2021-11-02 13:56] #5690 closed

[2021-11-02 20:08] #3187 closed

[2021-11-03 00:38] stephentoub opened #5693 "CA2014 triggered erroneously for stackalloc'd collection"
### Analyzer

**Diagnostic ID**: [CA2014](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2014): `Do not use stackalloc in loops`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Descr

[2021-11-03 10:16] Bouke commented on #5368
How is this a gotcha with the NuGet package? Commit https://github.com/dotnet/roslyn-analyzers/commit/1c5c1b2b7b2a1bf14a5a09cd5cc040acbf18ec4a is included in the tag `5.0.1`, so shouldn't it be part of SDK 5.0.1? And why is NuGet relevant in that situatioN?

[2021-11-03 16:23] kartheekp-ms opened #5695 "Use better title for CA5399"
### Analyzer

**Diagnostic ID**: [CA5399](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca5399#how-to-fix-violations): `Definitely disable HttpClient certificate revocation list check`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100]

[2021-11-03 17:13] twsouthwick opened #5696 "Codefixers to move banned API usage to recommended APIs"
### Describe the problem you are trying to solve

I have been working on identifying strategies of how to move customers away from types available in .NET Framework that are not available as they move to .NET Core. The driving scenario of this is `HttpContext` and members off of that (although the type itself exists in ASP.NET Core, it is not the same by any means).  However, it is a general purpo

[2021-11-03 17:31] twsouthwick opened #5697 "Official builds failing with OneBuildLoc"
The official builds have been failing since Saturday with a `DirectoryNotFoundException`: https://dev.azure.com/dnceng/internal/_build/results?buildId=1452438&view=logs&j=6aa31087-d1b8-5ee1-af29-f0fe63353381&t=f5f0ecb8-e09a-5b29-99cb-311e048f2c1c

It appears that the tool `OneBuildLoc` is not creating a subdirectory it's expecting to be there.

[2021-11-03 17:32] twsouthwick commented on #5697
/cc @jmarolf

[2021-11-03 17:59] jmarolf commented on #5696
The internal setup PR has been merged and will be available in VS 2022 17.1 Preview 2

[2021-11-03 18:07] jonfortescue commented on #5697
This was an error caused by a long path issue that OneLocBuild has now hotfixed. Future runs should now succeed.

[2021-11-03 18:12] twsouthwick commented on #5696
@jmarolf I'm not certain what the internal setup PR has to do with this issue...

[2021-11-03 18:15] jmarolf commented on #5696
sorry, pasted and closed into the wrong issue

[2021-11-04 10:08] wzchua commented on #5683
It introduces newlines in the resulting codefix for code without comments and such

[2021-11-04 12:20] #5693 closed

[2021-11-04 17:31] vsfeedback opened #5704 "Text for "Make Static" should read "Make Shared" in VB"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Text-for-Make-Static-should-read-Make/1565221)._

---
It looks like VB has the new feature of "Make static" which is very cool.

However, Static is not the right word here. It means something different in VB, so we need to update this text in VB to

"Make Shared"

The S being capped is i

[2021-11-04 20:31] twsouthwick commented on #5697
Things are working #5702

[2021-11-04 20:31] #5697 closed

[2021-11-05 10:36] Youssef1313 commented on #5688
@jmarolf Shouldn't this be in dotnet/roslyn?

[2021-11-05 13:18] marian-craciunescu opened #5707 "How to use roslyn-analyzers from CLI"
I want to run roslyn-analyzers from CLI using MSBUILD.exe
But I get only
[code]

I've tried using the bellow command
[code]

Any help is much appreciated.

[2021-11-06 17:02] lucastheisen opened #5709 "CA2000 false positive when using fluent API's"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.401](https://dotnet.microsoft.com/download/dotnet/5.0)

[2021-11-08 09:42] adamralph commented on #5628
This still occurs in the latest RC (6.0.100-rc.2.21505.57), see https://github.com/adamralph/minver/runs/4132244037?check_suite_focus=true

Weirdly, it's only a problem on Windows and MacOS, but not Linux.

Is the intention to fix this before RTM?

[2021-11-08 09:44] Youssef1313 commented on #5628
It looks like the milestone for https://github.com/dotnet/roslyn-analyzers/pull/5351 was set to .NET 7.

@mavasani @jmarolf Can this get in .NET 6?

[2021-11-08 09:45] martincostello commented on #5628
Yeah I've seen this not fixed in 6.0.0/6.0.100 either, but that's already been built and ships today so would need backporting to 6.0.1.

[2021-11-08 09:53] adamralph commented on #5628
@martincostello I realise RTM is tomorrow, but all I see at https://dotnet.microsoft.com/download/dotnet/6.0 is 6.0.100-rc.2.21505.57.

[2021-11-08 09:57] martincostello commented on #5628
I _believe_ it's shipping today ahead of .NET Conf tomorrow - the 6.0.0 packages are all in NuGet.org now (I woke up this morning to various dependabot updates), and the `6.0.100` SDK has been present at the URL it lives at for CI scripts for a week or so. They just haven't updated the [`releases.json`](https://github.com/dotnet/core/blob/main/release-notes/6.0/releases.json) file (which powers th

[2021-11-08 11:38] lonix1 opened #5710 "Consider abstract method definition for CA1062"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1062)
"Validate arguments of public methods"

### Describe the improvement

Base class:
[code]

Subclass:
[code]

### Describe suggestions on how to achieve the rule

So we need to set `[SuppressMessage]` on the overridden method. If that abstract class is subclassed many times, i

[2021-11-08 19:45] jmarolf commented on #5628
sadly, no by the time the fix was merged final builds of .NET 6 were already spinning for today. Considering CA1812 is off by default I don't think this makes the bar to port as a day 0 fix. but I will pursue it for the 6.0.200 SDK release

[2021-11-08 23:39] daviddunson commented on #3042
Just upgraded to VS 2022 and opened an existing project and got this warning on SQLiteConnection:

`                await using var command = this.Connection.CreateCommand();
`

It wants me to add ConfigureAwait() on a method that doesn't return a Task.

[2021-11-08 23:45] daviddunson commented on #5530
I just upgraded to VS 2022 and opened an existing project and got CA2007 warning wanting me to add ConfigureAwait to SQLiteConnection.CreateCommand() which obviously is impossible.

` await using var command = this.Connection.CreateCommand();`

[2021-11-09 00:24] sharwell commented on #5530
@daviddunson Assuming `CreateCommand()` returns a type implementing `IAsyncDisposable`, the analyzer is expecting a call to [`TaskAsyncEnumerableExtensions.ConfigureAwait`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskasyncenumerableextensions.configureawait?view=net-5.0#System_Threading_Tasks_TaskAsyncEnumerableExtensions_ConfigureAwait_System_IAsyncDisposable_System_Boo

[2021-11-09 08:44] MartyIX commented on #5530
Personally, it's a bit sad that there is no way to fix the warnings gradually. Either one disables the analyzers or fixes everything. Most of the times, the former will be true, I guess.

[2021-11-09 17:47] TimLovellSmith commented on #4147
@sharwell How about approaching this change by not warning for MemoryStream when you know it *cannot* be a derived type because the MemoryStream is instantiated in the local scope and not mutated? I think that would cover about 80% or 90% of the false positives which are bugging me.

[2021-11-09 20:29] avivanoff opened #5711 "CA2101 false positive"
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2101): `Specify marshaling for P/Invoke string arguments`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

CA2101 fires for the Win

[2021-11-10 10:24] MarkLFT commented on #5415
I am using VS2022 17.1.0 Preview 1.  And I am still getting this warning.  I am simply catching a thrown exception and trying to log it.

`catch (Exception error)
        {
            _logger.LogError(error, error.Message);
        }`

If I try the _logger.LogError(error);  I received a CS1503, and if I use the error.Message as a string, I receive a CA2254 warning.  I have never received this war

[2021-11-10 13:14] DaRosenberg opened #5712 "New CA2007 fails on 'await using' of an IAsyncDisposable"
### Analyzer

**Diagnostic ID**: [CA2007](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2007): `Consider calling ConfigureAwait on the awaited task`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/d

[2021-11-10 15:52] DaRosenberg commented on #5712
Researching this a bit more I can see that the analyser warning it self seems to be very much by design: #4888

But still, the code fix should not introduce compiler errors. The fix should produce the recommended code pattern instead:

[code]

Updating issue accordingly.

[2021-11-10 17:25] mdro opened #5714 "CA1062 False positive with cast to Nullable"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/visualstudio/code-quality/ca1062): `Validate arguments of public methods`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

When casting an `object` parameter to a `Nullable<T>` a fa

[2021-11-11 01:31] KenBrannigan commented on #5530
Can someone confirm that when using say the MemoryStream this is the recommended approach to remove the CA2007 and suppress CA2000:

[code]

Is there any better approach that doesn't require CA2000 to be suppressed? Is there any chance CA2000 will be adjusted so that it recognizes the fact that the objects are being disposed of in the next line?

Not that I like it but if the following approach is

[2021-11-11 05:39] TimLovellSmith commented on #4147
@sharwell So had a quick look and that actually looks harder than I expected, I think it would need extra work to describe and differentiate known to be the exact (but unsealed) type versus possibly a subtype, in the absence of general type system support for this concept.

How about again we just solve for the most useful case. Never generate this warning for MemoryStream *and its subclasses*, as

[2021-11-11 06:08] craigktreasure opened #5715 "False positive for RS1024 when using ToDictionary(...)"
### Analyzer

Diagnostic ID: [RS1024](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/rs1024): `Compare symbols correctly`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/dotnet/6.0)

_AND_

**NuGet Pac

[2021-11-11 06:27] TimLovellSmith commented on #5530
@KenBrannigan Howzat. https://github.com/dotnet/roslyn-analyzers/pull/5716

[2021-11-11 07:20] svick commented on #5715
You can, if you take advantage of contravariance of `IEqualityComparer`:

[code]

Though it's probably better to take advantage of C# 10 and instead explicitly specify the return type of the first lambda:

[code]

[2021-11-11 07:56] Youssef1313 commented on #5715
This one seems like a bug to me. A custom equality comparer shouldn't violate RS1024.

[2021-11-11 09:58] zlepper opened #5717 "String interpolation creates false positive RS1032"
### Analyzer

**Diagnostic ID**: [RS1032](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs1032-define-diagnostic-message-correctly): `Define diagnostic message correctly`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analys

[2021-11-11 18:41] craigktreasure commented on #5715
@svick Thanks! I didn't think to cast the silly comparer. That seems to be the only solution for extensions like `.Distinct(...)` and `.Union(...)`. I just updated to .NET 6, so I can use the C# 10 trick you suggested for `.ToDictionary(...)`.

As @Youssef1313 said, I still think it's reasonable to be able to use a custom comparer.

[2021-11-12 09:17] mikegoatly opened #5718 "False positive for CA1841 in Entity Framework queries"
### Analyzer

[CA1841](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1841) `Prefer Dictionary Contains methods`

### Analyzer source

[Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

6.0.0 (Latest)

### Describe the bug

Entity Framework queries can make use of lists when building queries, e.g.:

[code]

[2021-11-12 18:44] lucastheisen opened #5720 "False positive when using inline `as` operator"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.401](https://dotnet.microsoft.com/download/dotnet/5.0)

### De

[2021-11-14 11:55] xPaw commented on #5416
This diagnostic is also triggered when tasks are awaited with `Task.WhenAll`, and after `task.Status == TaskStatus.RanToCompletion` checks.

[2021-11-14 22:55] AraHaan commented on #5669
Ok, what if they Process.Start a program (like git) to retrieve information (where git does I/O to look at stuff like commit information)? Would that be considered I/O for an analyzer/source generator?

[2021-11-15 03:15] #4147 closed

[2021-11-15 20:25] #5412 closed

[2021-11-15 20:28] #5682 closed

[2021-11-16 06:26] buyaa-n opened #5722 "CA2252 PreviewFeatureAnalyzer analyzer should account GenerateRequiresPreviewFeaturesAttribute property"
### Analyzer

**Diagnostic ID**: [CA2252 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA2252 ): `Opt in to preview features before using them`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)
**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/dotnet/

[2021-11-16 09:19] vsfeedback opened #5723 "CA2255 help page does not exist"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CA2255-help-page-does-not-exist/1580101)._

---
[severity:It bothers me. A fix would be nice]
Clicking from Error list in VS2022 returns 404:
https://docs.microsoft.com/sl-si/dotnet/fundamentals/code-analysis/quality-rules/ca2255

---
### Original Comments

#### Feedback Bot on 11/12/202

[2021-11-16 09:20] mavasani commented on #5723
@jeffhandley @buyaa-n

[2021-11-16 13:32] SteveDesmond-ca commented on #5661
Duplicate of #5626 ?

[2021-11-16 14:20] arthuredgarov commented on #5661
@SteveDesmond-ca Yes, thanks.

[2021-11-16 14:20] #5661 closed