[2017-04-25 18:55] jinujoseph commented on #1165
@dotnet/analyzer-ioperation @dotnet/roslyn-analysis @kuhlenh

[2017-04-25 19:57] sharwell commented on #1161
One more case to add for testing

[code]

:memo: Since `AttributeUsageAttribute` itself is inherited, CA1018 should not be reported in this case.

[2017-04-25 20:59] jinujoseph commented on #710
analyzer checked in via https://github.com/dotnet/roslyn-analyzers/pull/751

[2017-04-25 21:45] jinujoseph commented on #1109
Thanks for your contribution, Closed via #1110

[2017-04-25 21:45] #1109 closed

[2017-04-25 23:27] #1161 closed

[2017-04-26 01:17] 333fred commented on #1160
@sharwell I'm really not a fan of this, for a couple of reasons. First, we don't have a Json.NET dependency at the moment, and in order to determine if a Json.NET class is using a class, we'll have to take a dependency. Second, I'm _really_ against special casing only Json.NET. There are many other libraries out there that will instantiate classes without us being able to obviously detect it, such

[2017-04-26 01:30] heejaechang commented on #1160
agree on @333fred

I don't believe that is author's job. user should either just suppress that rule or turn that rule off.

[2017-04-26 02:53] sharwell commented on #1160
I changed this to a feature request. I am anticipating the community will end up requesting this type of functionality, with Json.NET being the most widely/heavily used instance of this. Maybe we don't have to do anything right now, but I foresee an eventual need to handle this situation in a flexible manner that adapts to common libraries over time if we want to make this a generally useful and a

[2017-04-26 03:06] jinujoseph commented on #1160
I am going to close this out in favor of @333fred's assessment. We can reconsider this if we see a compiling reason from community.

[2017-04-26 03:16] 333fred commented on #1160
@jinujoseph I'm going to reopen this so we have a place to talk about how we could approach this feature. I do think it's a good idea, we just make it generally applicable.

[2017-04-26 03:25] heejaechang commented on #1160
more generic fix will be not reporting diagnostic if it is ever referenced anywhere then.

[2017-04-26 04:14] sharwell commented on #1160
@heejaechang Having worked in two industries where indirect instantiation through a widely used library that isn't currently considered by this analyzer was a regular occurrence, I can confidently say that users will find the current approach "frustratingly limited". If this diagnostic is important enough to be valuable to users who don't use indirect instantiation, then it's also important enough

[2017-04-26 17:28] 333fred commented on #1160
One option here would be to create some kind of `IndirectInstantiation` attribute that library authors could apply to methods that indirectly instantiate type parameters. We'd want this to be fairly flexible, able to handle multiple type parameters, passing the `Type` as a regular parameter, etc. We'd probably want this attribute to exist in the BCL as well, so everyone doesn't have to take a depe

[2017-04-26 17:31] #1162 closed

[2017-04-26 17:42] nguerrera commented on #1160
This is the same problem that is faced by .NET Native's linker. Libraries can provide rd.xml files that indicate how composing with them impacts reachability. https://msdn.microsoft.com/en-us/library/dn600639(v=vs.110).aspx

It would be interesting if the analyzer could consume the same runtime directive data to help eliminate false positives.

[2017-04-26 17:52] mavasani commented on #1160
Yes, that seems like another good approach. Additional files/options is generally a good approach for such configuration of the analyzers. One other common request is to allow the end user to customize the accessibility of symbols being analyzed by FxCop analyzers. We should probably design this in a generic fashion for all our analyzers - similar to StyleCop's json configuration file.

[2017-04-26 18:29] heejaechang commented on #1160
hmmm.. if it is to give a way for author to remove diagnostic (or not report - whatever we call it, at the end, so that users don't get the diagnostic), what is the configure-ability buy users here?

do we expect users to change the configuration? if so, how about we just let users to use suppression?

I am saying this since ,if end result is same (diagnostic not shown to users), I would prefer th

[2017-04-26 18:34] 333fred commented on #1160
@heejaechang I think the idea here is to make this analyzer "just work", and not provide false positives to the user. While users can certainly suppress the rule (and likely will have to in some cases, since there will be scenarios where a user depends on an older version of a library that wouldn't have the proposed attribute/xml), anything we can do to make our analyzers less noisy will improve t

[2017-04-26 18:38] heejaechang commented on #1160
@333fred yep. I understand.

what I am saying is
we either NOT do that (no builtin knowledge on specific libs) or do what Sam said (built in knowledge)

rather than inventing new thing to not show diagnostics to users.

[2017-04-26 18:43] 333fred commented on #1160
My point, though, is that built-in knowledge is untenable. We can't possibly go through all the major libraries for things that indirectly instantiate parameters via reflection, that's way too fragile for us and would require a _lot_ of work. In order to do this feature correctly, we need to move the work of informing the compiler of indirect instantiation to library maintainers. I, for one, don't

[2017-04-26 18:46] heejaechang commented on #1160
@333fred so we shift responsibility to the library author and it is okay for them to take the responsibility of maintaining those for all different rules?

[2017-04-26 20:10] jinujoseph commented on #1094
closed via https://github.com/dotnet/roslyn-analyzers/pull/1095

[2017-04-26 20:10] #1094 closed

[2017-04-26 20:12] 333fred commented on #1160
I think so, yeah. I don't think there's any other viable option. We can write an analyzer to suggest that library authors do this to help people realize they should.

[2017-04-26 22:22] #460 closed

[2017-04-26 22:41] #999 closed

[2017-04-26 23:50] bkoelman opened #1170 "Build from source starts VS Migration wizard"
#### Repro steps

1. git clean -xdf
1. msbuild /t:restore RoslynAnalyzers.sln
1. Open RoslynAnalyzers.sln in VS2017 Community v15.1 (26403.7)

#### Expected behavior
Solution loads without popup.

#### Actual behavior
Migration Wizard starts, which applies changes in project Microsoft.NetCore.VisualBasic.Analyzers.
[code]
And the .sln version header is updated:
[code]

Then the solution builds wit

[2017-04-26 23:52] mavasani commented on #1170
Tagging @srivatsn - I presume this is due to missing VB templates for the new SDK based projects. This is fixed in latest internal builds, but is there a public workaround?

[2017-04-27 05:46] srivatsn commented on #1170
You should just change your sln file and put in the CPS guid to bypass the selector. See https://github.com/dotnet/project-system/pull/1900 for a similar change to the project system repo.

[2017-04-28 20:26] jasonmalinowski opened #1175 "CA1802 (use const instead of static readonly) incorrectly fires if it's an interpolated string"
#### Analyzer

Example: UseLiteralsWhereAppropriate

#### Repro steps

1. Write a field with static readonly Blah = @"{DateTime.Now}"

#### Expected behavior

CA1802 doesn't fire.

#### Actual behavior

It does.

[2017-04-28 20:42] jasonmalinowski opened #1176 "CA1821: remove empty finalizers fires on non-empty finalizers"
Running this on Roslyn, it's flagging this as non-empty:

https://github.com/dotnet/roslyn/blob/dac379741525f359062f8d3133412deedc7e9c1e/src/Interactive/Features/Interactive/Core/InteractiveHost.cs#L227-L230

It's definitely not non-empty.

[2017-05-01 16:49] cristianmad opened #1178 "Question: Current version as nuget"
Hi,

We are currently using Visual Studio 2017 and v 1.2.0-beta 2 of the analyzers for our projects. I do not believe that a newer version has been released since then (1+ year ago).

Is there a nuget feed where you guys store nuget packages of the current analyzers? (following maybe nightly builds).
I understand that they would not be officially released. I would still like to test them (if avail

[2017-05-01 16:50] mavasani commented on #1178
@cristianmad We are planning to upload the 2.0.0-beta1 packages in a day or two to NuGet. We are doing the final testing of the NuGet packages.

Tagging @jinujoseph

[2017-05-01 16:51] cristianmad commented on #1178
Sounds great,

Thanks!

Cristian

[2017-05-02 00:04] #1170 closed

[2017-05-02 01:11] 333fred commented on #1163
This behavior was explicitly introduced in #280. @srivatsn or @genlu, any comments on this?

[2017-05-02 01:17] srivatsn commented on #1163
What does FxCop do? It sounds like #280 basically added the check to match FxCop behavior? We tried to keep breaking changes to a minimum - however in this case the break would be in the opposite direction - FxCop would complains and we wouldn't in which case it might be reasonable.

[2017-05-02 01:25] 333fred commented on #1159
Similar to #1163, this behavior is an explicit match with FxCop behavior, and unlike #1163, this would introduce a new warning where previously none existed. @dotnet/roslyn-analysis, thoughts on what we should do here? While I agree with the change in behavior, do we want to risk breaking people by reporting new warnings

[2017-05-02 01:26] 333fred commented on #1163
Yeah, FxCop reports here. @dotnet/roslyn-analysis, any thoughts? I agree with this change, and I'm fine with adding it, since we aren't adding new warning locations.

[2017-05-02 01:31] 333fred commented on #1158
Currently, an error is reported here. Same question as #1163 as to whether we should fix this. /cc @dotnet/roslyn-analysis

[2017-05-02 05:01] sharwell commented on #1163
💭 I felt that this change has the potential to avoid a small number of false positives in the wild without negatively impacting the primary purpose of this analyzer. Given that one of the primary target audiences is users who *didn't* use FXCop previously, the attention to false positives will be a boost to overall adoption rates and retention.

[2017-05-02 07:09] jinujoseph commented on #1163
Sounds reasonable to me.

[2017-05-02 13:37] cristianmad commented on #1160
Another use case would be the usage of Prism's PubSub events. We have a few applications with a relative large number of PubSub events and this rules triggers for each of them (even if they are actually being instantiated behind the scenes by the event aggregator).

I agree with the rule, but it would be nice to have an elegant way of avoiding these false positives without actually disabling the r

[2017-05-02 16:57] mavasani commented on #1178
https://github.com/dotnet/roslyn-analyzers/releases/tag/v2.0.0-beta1 has been published on NuGet.

[2017-05-02 16:57] #1178 closed

[2017-05-02 16:57] mavasani commented on #1178
http://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.0.0-beta1

[2017-05-02 17:29] jinujoseph commented on #1176
@333fred once this is fixed ...this needs to be reenabled [here](https://github.com/dotnet/roslyn/pull/19062/files)

[2017-05-02 17:30] jinujoseph commented on #1175
https://github.com/dotnet/roslyn/pull/19062/files re-enable the analyzer

[2017-05-02 23:31] #1154 closed

[2017-05-02 23:34] 333fred commented on #1175
Waiting on IOp support for interpolated strings.

[2017-05-03 16:49] mavasani opened #1181 "Change the namespaces of our analyzers to match the analyzer package name"
We are still using the old namespace names (such as Microsoft.ApiDesignGuidelines.Analyzers.XXX) for analyzers and their unit tests even after the refactoring. We should change these to reflect the current analyzer package name.

Note that we haven't still merged the resource files from original packages. We should also merge all the resource strings within a project to also lie under same namespa

[2017-05-03 16:50] mavasani commented on #1181
Tagging @333fred and @jinujoseph - I think we should do this for our 15.3 VSIX as otherwise configuration in the ruleset editor (which lists rules by the namespace) is going to be confusing.

[2017-05-03 16:52] jinujoseph commented on #1181
ya i agree, we saw this yesterday it was very confusing

[2017-05-03 17:50] 333fred commented on #1181
👍 Trying to figure out where the analyzers were defined was seriously annoying.

[2017-05-03 18:07] 333fred commented on #477
This analyzer also should be moved to the Microsoft.CodeQuality.Analyzers package, currently it's in Microsoft.CodeQuality.CSharp.Analyzers. /cc @mavasani.

[2017-05-03 23:48] jinujoseph commented on #1125
Release: https://github.com/dotnet/roslyn-analyzers/releases/tag/v2.0.0-beta1
Nuget Package: http://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.0.0-beta1

[2017-05-03 23:48] #1125 closed

[2017-05-04 07:19] lachbaer opened #1185 "Analyzer that forbids the use of struct default c'tors"
I'm referring to https://github.com/dotnet/csharplang/issues/99#issuecomment-298840503. @CyrusNajmabadi sent me here.

To be (mostly) sure that a `struct` is initialized correctly, independently from https://github.com/dotnet/csharplang/issues/99, it would be good to ensure that `default(S)` or `new S()` is not used in (i.a. ones own) user code. Instead a custom parametered c'tor of the `struct` s

[2017-05-04 17:02] #1163 closed

[2017-05-04 17:02] #1181 closed

[2017-05-04 17:09] #1164 closed

[2017-05-04 18:33] #983 closed

[2017-05-04 19:57] #1074 closed

[2017-05-05 23:17] 333fred commented on #916
@jinujoseph, is the issue here just that the project needed to be renamed? If so, we just need to clean up the docs folder and this should be good.

[2017-05-08 16:55] mavasani commented on #916
@333fred we merged this analyzer package into NetFramework analyzers package. Can you confirm if the namespace name for the analyzers in this package is as expected and close it out?

[2017-05-08 17:34] 333fred commented on #916
It appears correct. We just need to update the README file on the analyzers in the NetCore package, as it still has the old namespace.

[2017-05-09 20:49] sharwell commented on #1185
What about the following cases?

1. The value returned from `IDictionary.TryGetValue` when a key is not found
2. Using the struct as the argument for a generic parameter with the `new()` constraint
3. Using the struct as the argument for a generic parameter, where the implementation uses `default(T)` to obtain a default instance of the type argument
4. Creating arrays

I agree that `new S()` shoul

[2017-05-09 20:55] sharwell commented on #1185
💭 It would be possible to create an analyzer for this provided it had the following additional characteristics:

1. The analyzer _only_ looks at types with a particular attribute, e.g. `[ConstructorMandatory]`.
2. The analyzer reports a warning for instances of `default(S)` and `new S()`.
3. The analyzer reports a warning for any attempted use of `S` as a generic type parameter (users must instead

[2017-05-09 20:56] lachbaer commented on #1185
Of course an analyzer should be configurable. The intend to forbid non-generic `default(S)` also is that the user is forced to use a parametered constructor and thus nearly never can produce an invalid, uninitialized value instance.

[2017-05-10 16:43] RoySalisbury commented on #291
I just add a SuppressMessage attribute with a justification..

`[System.Diagnostics.CodeAnalysis.SuppressMessage("Microsoft.Usage", "CA2213:DisposableFieldsShouldBeDisposed", MessageId = "_cancellationTokenSource", Justification = "Null-conditional confuses the code analysis.")]`

Roy

[2017-05-11 20:08] 333fred opened #1191 "CA1823 triggered for field only used in attribute"
Given this class:

[code]
CA1823 (Unused field) is reported for `PackageGuid`. This has a similar root cause to https://github.com/dotnet/roslyn-analyzers/issues/933, because IOperation doesn't expose an API for attributes currently. Related design issue is https://github.com/dotnet/roslyn/issues/18198.

[2017-05-11 20:28] jasonmalinowski opened #1192 "PublicAPI analyzer doesn't handle type forwards of generic types correctly"
If you type forward a generic type, the public API entry will say something like `Foo<>` instead of `Foo<T>` and then not list members. I suspect there's a trivial bug where it's not handling the open generic type correctly.

[2017-05-11 20:32] jasonmalinowski opened #1193 "PublicAPI analyzer double-lists accessors of forwarded types"
If a type is forwarded, we're listing both the properties and accessors twice:

[code]

We don't do this for non-forwarded types.

[2017-05-12 05:46] jinujoseph commented on #1158
I think we should fix this.

[2017-05-12 08:45] nvankesteren commented on #1114
I've seen the [PVS-Studio analyzer](https://www.viva64.com/en/pvs-studio/) doing [this kind of stuff](https://www.viva64.com/en/t/0068/). Very cool.

[2017-05-12 17:19] #916 closed

[2017-05-12 23:31] 333fred commented on #1176
I have been unable to repro this locally. I'm going to close this out and submit a PR to re-enable the rule, we'll reopen if we see any further issues.

[2017-05-14 19:12] dfederm opened #1198 "MissingMethodException when using VS2017 Preview"
I'm tried using VS2017 Preview and without any changes to my project I am now getting build errors.

Csproj:
[code]

Errors:
[code]

[2017-05-14 19:25] dfederm commented on #1198
If I try upgrading to 2.0.0-beta2 I get:
[code]

[2017-05-15 06:55] jinujoseph opened #1199 "Get rid of Props file in Microsoft.Net.RoslynDiagnostics package in-order to support packageref"
As reported by @srivatsn

Today if this package is referenced from .net core projects, it causes following issues
- Since the props imported the analyzers but also because the package pulls in the other analyzer packages and they include it as well, now there are two copies of the analyzer being pulled in.
-  The props file uses a property called RoslyndiagnosticsVersion which is not defined in th

[2017-05-15 15:49] mavasani commented on #1198
@dfederm 2.0.0-betaX versions are designed to only work against Dev15 RTW. There were breaking IOperation API changes that went into Dev15.3 Preview1, and we are currently working on 2.3.0-betaX analyzer packages built against 2.3.0-betaX Microsoft.CodeAnalysis packages, which should work on Dev15.3 Preview1. We are hoping to release these packages very soon.

Tagging @333fred @jinujoseph @genlu

[2017-05-15 16:19] mavasani commented on #1089
Requested the customer to provide a repro and verify on 2.0.0-beta2 analyzer package.

[2017-05-15 16:38] mavasani commented on #955
Tagging @jasonmalinowski as he originally wrote this analyzer. The analyzer is causing false reports on project system repo on any type has the CPS AppliesToAttribute.

For example, see [this](http://index/?query=AppliesToAttribute&rightProject=RoslynProjectSystem(Repo)&file=src%5CMicrosoft.VisualStudio.ProjectSystem.CSharp.VS%5CProjectSystem%5CVS%5CImaging%5CCSharpProjectImageProvider.cs&line=14)

[2017-05-15 16:42] mavasani commented on #955
I am going to special case this Attribute to unblock the project system repo.

[2017-05-16 05:21] axelheer commented on #943
Do we have rulset support in version 2.0?

[2017-05-16 16:47] mavasani commented on #1107
Actually, this doesn't repro on the latest VS bits with our latest analyzer bits. Closing this as no repro...

[2017-05-16 16:47] #1107 closed

[2017-05-16 16:48] mavasani commented on #1103
I am assigning this to @333fred - this should be fixed with the latest Roslyn bits. We need to make sure we revert #1134 once we move to 2.3.0 bits.

[2017-05-16 18:39] #955 closed

[2017-05-16 18:40] mavasani commented on #935
Assigning this to @333fred as well. This should be fixed with 2.3.0 Roslyn bits, and the work here is removing all the in-source suppressions for CA1804 once we move to newer packages.

[2017-05-16 18:42] mavasani commented on #933
@333fred Another issue that should be fixed with Roslyn 2.3.0 bits. Please remove the suppressions for this rule in our repo when we move to newer Roslyn bits.

[2017-05-17 18:09] 333fred commented on #1176
The root cause of this is that when running in OOP or CLI contexts, the IOperation being passed is actually a `BoundSequencePointWithSpan`, which is a result of https://github.com/dotnet/roslyn/issues/17861. Changing c# to use highest breaks a bunch of other analyzers, so I'm going to convert this analyzer to a syntax analyzer for now.

[2017-05-18 22:36] pakdev commented on #393
Doesn't [CS0628](https://docs.microsoft.com/en-us/dotnet/articles/csharp/misc/cs0628) cover this?

[2017-05-18 22:37] pakdev commented on #394
Covered by [CS0549](https://msdn.microsoft.com/en-us/library/exaxze9s(vs.71).aspx)

[2017-05-18 22:38] mavasani commented on #393
Yes, hence the note in the description above: `If VB compiler doesn't warn, implement VB analyzer. 2. In any case, implement fixer.`

[2017-05-18 22:38] mavasani commented on #394
Yep, this just needs the fixer.

[2017-05-18 22:58] pakdev commented on #393
True, but it's pretty easy to miss that this rule doesn't need to be implemented

[2017-05-22 20:39] jinujoseph opened #1202 "Rewrite : CA3075 : DoNotUseInsecureDtdProcessingAnalyzer With Ioperation correct API's"
Current [implementation](https://github.com/dotnet/roslyn-analyzers/blob/ce77e9a81de80385aae9e635f9084bc22672e561/src/Microsoft.NetFramework.Analyzers/Core/DoNotUseInsecureDtdProcessing.cs)

Disabled currently as it creates more diagnostics than the unit tests were expecting.
Disabling this to get the Vsix created and unblock the current sceanrio.
Some one will need to look into it, and clean the

[2017-05-22 21:45] jinujoseph opened #1204 "Fix and remove analyzer suppressions"
https://github.com/dotnet/roslyn-analyzers/pull/1203/files#diff-7a195416e0a0278d055006cfccd37705R74

[2017-05-22 21:46] mavasani commented on #1204
@333fred can you investigate when you are back? I remember you fixed this specific issue.

[2017-05-23 19:37] svick commented on #1151
To enable `IOperation`, add `<Features>IOperation</Features>` to your csproj.

[2017-05-24 20:30] mavasani opened #1209 "CA1825 reported on compiler generated param array"
When attempting to move the analyzers repo to consume our latest analyzers, CA1825 was reported on every single DiagnosticDescriptor object creation that doesn't pass an explicit argument for the param array.

[2017-05-24 22:40] #1209 closed

[2017-05-24 23:50] mattscheffer opened #1211 "Analyzer exception in error list when attempting to fix CA1821: Remove empty finalizers"
#### Analyzer package

Ruleset provided for testpass, along with Microsoft.CodeAnalysis.FxCopAnalyzers.Setup.vsix from 20170522.2

####

CA:1821: Remove Empty Finalizers

#### Repro steps

1. Create a VB Console App and add the ruleset.
2. Make sure CA1821 is enabled
3. Add an new class file and add the following finalizer:
[code]
4. Make sure the warning pops up.
5. Start adding code inside the f

[2017-05-24 23:51] mattscheffer commented on #1211
@mavasani @jinujoseph

This is for the VSIX test work.

[2017-05-25 00:14] jinujoseph commented on #1211
@mattscheffer , does it work for C# ?

[2017-05-25 00:14] jinujoseph commented on #1211
@333fred , can you take a look

[2017-05-25 00:16] mattscheffer commented on #1211
@jinujoseph That's correct. No crash in C#.

[2017-05-25 01:28] jinujoseph commented on #1152
Several of the msdn pages don’t have a vb code conversion showing the warning for example : https://msdn.microsoft.com/en-us/library/ms182159.aspx

[2017-05-25 16:57] #1211 closed

[2017-05-25 23:22] mavasani commented on #1176
Is this bug still open just to track converting it back to an operation analyzer?

[2017-05-25 23:25] mavasani commented on #1175
This should be fixed both in Roslyn master (IOperationWithChildren) and features/ioperation (IInterpolatedStringExpression).

[2017-05-25 23:48] jinujoseph opened #1214 "Rewrite the Analyzer Implementation to use IOpertion API"
- [ ] [CA1821](https://github.com/dotnet/roslyn-analyzers/issues/1176#issuecomment-304150350) : blocked by dotnet/roslyn#17861

[2017-05-25 23:49] jinujoseph commented on #1176
I think we can close this ...opened another issue to track all the analyzers which will need to be converted to operation

[2017-05-25 23:49] #1176 closed

[2017-05-26 16:03] jinujoseph commented on #1198
@dfederm , we released the 2.3.0 beta package [link](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.3.0-beta1) yesterday.

Pls give it a try and will appreciate any feedback.
With that I am closing this issue, Feel free to reopen or file new if you find any issue.

[2017-05-26 16:03] #1198 closed

[2017-05-26 16:07] jinujoseph commented on #1081
@mattscheffer re verified and confirmed it to be No-repro

[2017-05-30 14:44] cristianmad opened #1215 "Could not load file or assembly 'Microsoft.CodeAnalysis, Version=2.3.0.0,..."
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers Version="2.3.0-beta1"

#### Analyzer

All the analyzers in the FxCop package.

#### Repro steps

1. Create a new standard .NET library project using Visual Studio 2017 (fully updated)
2. Add the Microsoft.CodeAnalysis.FxCopAnalyzers Version="2.3.0-beta1" set of analyzers
3. Build the solution/project. - optionally force a code analysis
4

[2017-05-30 15:47] mavasani commented on #1215
Error is about incorrect compiler version. 2.3.0-beta1 version of the analyzer needs 2.3.0 compiler. Have you installed Dev15.3 Preview1 bits? Can you confirm the version of your csc.exe?

[2017-05-30 16:28] cristianmad commented on #1215
Thank you for the quick reply.

On the system where I was experiencing the issue I do not have VS 15.3 preview 1 installed. The csc.exe version on that system is 4.7.2046.0

Since you mentioned the VS preview, I have tried the same on a system where I do have it installed side by side with the released version. There, the csc.exe version is 4.6.1586.0. On that system, when using VS 2017 I do encou

[2017-05-30 16:31] mavasani commented on #1215
@cristianmad Thanks for confirming - the behavior you described is by design. You will need to use the 2.0.0-beta2 version of the analyzer packages on VS2017 RTW. @jinujoseph for the 15.3 release date.

[2017-05-30 16:56] cristianmad commented on #1215
Sounds good,

Thanks again!

[2017-05-30 17:08] jinujoseph commented on #1215
Official release dates for 15.3 has not been announced yet, You can download the preview  and watch out for the next releases at [link](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes)

[2017-05-30 17:09] #1215 closed

[2017-05-30 17:10] cristianmad commented on #1215
Thank you to both of you.

[2017-05-30 18:21] tannergooding opened #1216 "Provide an analyzer to check if an argument name matches the name of another parameter in the method"
For example, imagine you have

[code]

Then, you create a new Color `var color = new Color(red, green, blue, alpha)`. In this case, everything is good, the names of our arguments match up with the name of the parameter.

Now, imagine that instead you have:

[code]

Then, you create a new Color `var color = new Color(red, green, blue, alpha)`. Such an analyzer would then warn you that you passed an

[2017-05-30 18:23] tannergooding commented on #1216
This would also be useful to catch cases like `new ArgumentException()` where parameters are ordered `(string message, string paramName)`, which differs from things like `ArgumentNullException` and `ArgumentOutOfRangeException`, whose parameters are ordered `(string paramName, string message)`.

[2017-05-30 18:31] mavasani commented on #1216
I think a better analyzer here would enforce used of named arguments when you have successive parameters of the same type (or convertible to same type with implicit conversions).

[2017-05-30 18:32] mavasani commented on #1216
Tagging @Pilchie @sharwell @CyrusNajmabadi - I think this is a good candidate for an IDE Code style analyzer. Thoughts?

[2017-05-30 18:36] tannergooding commented on #1216
I think both would be useful. There are definitely users who would want both, especially if we take this relaxation on named arguments: https://github.com/dotnet/csharplang/issues/518

[2017-05-30 19:17] 333fred commented on #1216
@mavasani definitely think both would be a good idea. What if I have a function that takes a couple of `int`s as the first two parameters, and then a couple of unrelated parameters? I'd hate to be forced to use named parameters for all of them.

[2017-05-30 20:10] CyrusNajmabadi commented on #1216
This is not really code style.  I think it would be fine as a general analyzer produced by the roslyn-analyzers package.

[2017-05-31 03:46] dfederm commented on #1198
@jinujoseph I can confirm now that the combination of VS2017 Preview 15.3, .NET Core 2.0 Preview 1, and Microsoft.CodeAnalysis.FxCopAnalyzers 2.3.0-beta1 works. Thanks!

[2017-05-31 06:16] jinujoseph commented on #1198
@dfederm  thanks much for trying and confirming.

[2017-05-31 17:06] mavasani opened #1217 "Remove unused field (CA1823) reported for MEF exported fields"
[code]

This reports CA1823, which is a false positive.

[2017-05-31 17:11] mavasani opened #1218 "False CA1801 reports (remove unused parameter) for methods used as event handlers"
We have lot of false reports of CA1801 on Roslyn.sln for cases where a method is used as an event handler and hence defines certain unused parameter for matching the signature of the handler. We should not fire CA1823 for such methods. For example, see [OnReferenceLocationsChanged](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/InlineRename/Dashboard/DashboardViewMod

[2017-05-31 17:46] #1158 closed

[2017-05-31 20:14] 333fred commented on #1218
Also firing on methods marked with `Obsolete`

[2017-05-31 20:16] mavasani commented on #1218
And also firing on implicitly declared parameter symbols. For example, we fire the following diagnostic on [this](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/CompilationOptions.cs,244) setter: `Warning	CA1801	Parameter value of method set_Features is never used. Remove the parameter or use it in the method body.`

[2017-05-31 20:16] mavasani commented on #1218
Probably we should ignore methods that just throw a NotImplementedException?

[2017-05-31 20:19] mavasani opened #1219 "Remove unused field (CA1823) reported for fields marked with FieldOffsetAttribute"
[code]

We should not fire for fields with this attribute.

[2017-05-31 20:36] sharwell commented on #1219
💭 Actually for structs with fields using this attribute, it should be fine. The place where I'd be more concerned is when the struct uses `LayoutKind.Sequential`, since removing an "unused" field could produce breaking runtime changes.

[2017-05-31 23:08] 333fred commented on #1218
@mavasani I'm going to open a separate issue for the `NotImplementedException`, as it's currently blocked in `IOperation`.

[2017-05-31 23:11] 333fred opened #1220 "CA1801 should ignore unimplemented methods"
Given the following code:

[code]

We shouldn't warn about `unused` being unused, as the method isn't implemented.

[2017-05-31 23:12] 333fred commented on #1220
This is blocked on https://github.com/dotnet/roslyn/issues/8919#issuecomment-305343559.

[2017-06-01 00:07] 333fred commented on #1218
Fixed in #1221.

[2017-06-01 00:07] #1218 closed

[2017-06-01 00:09] 333fred commented on #1220
I've done the implementation for this, we just need to get VB working correctly.

[2017-06-01 01:20] srivatsn opened #1222 "CA1823: Fields used in attributes are being incorrectly identified as unused"
#### Analyzer

CA1823: Unused fields - 2.3.0-beta1

#### Repro steps

[code]

#### Expected behavior
No warnings

#### Actual behavior
DebugPropertyClassId and DebugPropertyClassInfo are identified as unused.

[2017-06-01 01:23] srivatsn opened #1223 "CA1801: Unused parameters rule firing on event handlers"
#### Analyzer package

2.3.0-beta1

#### Analyzer

CA1810: Review unused parameters

#### Repro steps

[code]

#### Expected behavior
No warnings because this is an event handler and needs to have this shape.

#### Actual behavior
Warning that'll need to be suppressed.

[2017-06-01 01:26] srivatsn opened #1224 "CA1801: Parameters used inside local functions are incorrectly flagged as unused"
#### Analyzer package

2.3.0-beta1

#### Analyzer

CA1801: Review unused parameters

#### Repro steps

[code]

#### Expected behavior
No warnings since toEscape here is being used in a local function
#### Actual behavior
toEscape is flagged as an unused param.

[2017-06-01 01:31] mavasani commented on #1222
I think Fred already has a tracking bug for this.

[2017-06-01 01:32] mavasani commented on #1223
@333fred just fixed this bug today

[2017-06-01 01:33] mavasani commented on #1224
I have a Roslyn PR out to fix this.

[2017-06-01 06:36] 333fred commented on #1222
Yep, https://github.com/dotnet/roslyn-analyzers/issues/1191.

[2017-06-01 06:36] #1222 closed

[2017-06-01 06:37] 333fred commented on #1223
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1218, should be fixed with the same pr that closed that.

[2017-06-01 06:37] #1223 closed

[2017-06-01 06:59] jinujoseph commented on #1224
This is tracked here https://github.com/dotnet/roslyn/issues/19902

[2017-06-01 06:59] #1224 closed

[2017-06-08 19:20] tmat opened #1225 "Remove dependency on Microsoft.CodeAnalysis internal types from test utilities"
Analyzer Test.Utilities project depends on having access to internal types of Microsoft.CodeAnalysis. That's very fragile since these Roslyn types can change any time.

[2017-06-08 19:56] mavasani commented on #1225
Yes, I tried to do this effort a while ago but it needed quite a few cascaded changes, so I gave up. We should do this soon.

[2017-06-12 22:57] mavasani commented on #655
This needs a fixer.

[2017-06-12 23:00] mavasani commented on #692
This needs a fixer.

[2017-06-12 23:41] jinujoseph opened #1230 "Analyzers : Localization support"
Blocked on https://github.com/dotnet/xliff-tasks/issues/18

[2017-06-13 12:33] jabbera opened #1231 "IEquatable in class hierarchies"
Sorry if this isn't the right venue for this. I didn't see anything on the README section for general questions. I'll be happy to repost somewhere else if it's proper. I've been debating with the sonarqube csharp maintainers about when to use IEquatable<T>. They are of the opinion if you implement Equals(object) there is no reason **NOT** to implement IEquatable<T> as well.  See:  https://sonarclo

[2017-06-13 12:41] sharwell commented on #1231
I typically only implement `IEquatable<T>` on value types.

* It provides a notable win over `Equals(object)` by avoiding boxing
* Inheritance issues don't come into play

If I want to make it obvious that something is equatable, I may implement this on reference types but typically only in a sealed type hierarchy.

[2017-06-13 12:49] jabbera commented on #1231
@sharwell thanks!

[2017-06-13 12:49] #1231 closed

[2017-06-13 16:12] cristian-gavril commented on #1215
I encounter the same issue on VS 2015 Enterprise (14.0.25431.01 Update 3)
Warning	CS8032	An instance of analyzer Microsoft.CodeQuality.Analyzers.ApiDesignGuidelines.NestedTypesShouldNotBeVisibleAnalyzer cannot be created from C:\Projects\Git\Research\packages\Microsoft.CodeQuality.Analyzers.2.3.0-beta1\analyzers\dotnet\cs\Microsoft.CodeQuality.Analyzers.dll: Could not load file or assembly 'Micros

[2017-06-15 05:08] livarcocc opened #1236 "dotnet build and analyzers"
_From @livarcocc on June 15, 2017 5:8_

_From @ppekrol on June 13, 2017 13:36_

Hi,

## Steps to reproduce

I have following project with analyzers that target netstandard1.3
https://github.com/ravendb/raven.codeanalysis

The issue I have is that when using `dotnet build` I'm getting warning as follows:

[code]

 but from VS2017 everything is working as expected.

I've created a sample project tha

[2017-06-15 05:08] livarcocc commented on #1236
@tmat can you take a look here?

[2017-06-15 05:08] livarcocc commented on #1236
_From @tmat on June 13, 2017 23:45_

@mavasani ?

[2017-06-15 05:09] livarcocc commented on #1236
Let me know if this is the wrong repo for this or if this is a CLI/SDK issue, in which case, please, move this back to the CLI.

[2017-06-15 16:57] 333fred commented on #1198
@roji, the name of that package has changed since the 1.2.0-beta. It's now part of the Microsoft.CodeQuality.Analyzers package, along ApiReview, Documentation, Maintainability, and QualityGuidelines. You can find the package here: https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/.

[2017-06-15 23:05] Pilchie commented on #1236
@livarcocc general problems with analyzer infrastructure tend to go right in dotnet/roslyn.

[2017-06-16 14:15] tahir-hassan commented on #1215
I have found a semi-solution:

http://tahirhassan.blogspot.co.uk/2017/06/getting-code-analysis-2017-to-work.html

[2017-06-16 14:46] sharwell commented on #1215
@tahir-hassan The team went to great lengths to make sure those files don't end up in the GAC. I have a suspicion that your proposed solution will cause long-term problems but I'll let someone else follow up with details. I have relatively limited knowledge of the implications of GAC because I've followed a policy for many years of no-GAC, no-exceptions.

[2017-06-18 12:47] omariom opened #1237 "Find all unused refs/types/members."
I'd like to be able to find all the unused references, types and members in a project or a solution and have them in separate list (so I can work through all of them).
It don't have to be very fast, I am ok to have a cup of covfefe while VS searches for them.

[2017-06-19 08:40] tahir-hassan commented on #1215
@sharwell I understand that, but the solution seems to be as simple as 1. ensure that the DLL's end up in the right folder, or 2. GAC them.

I am not sure why others are recommending an earlier version of the Analyzers because it just has to do with DLLs not being there/or not visible.

Best,
Tahir

[2017-06-19 10:34] sharwell commented on #1215
@tahir-hassan Even if the assemblies are found, the analyzers aren't going to be functional in such a situation. Instead, you'll just end up with the build-time overhead of loading a bunch of extra assemblies that don't end up used for anything.

The ideal solution would be creating the `<Analyzer Include="[analyzer assembly]" />` lines in such a way that the build won't even attempt to load the a

[2017-06-19 11:36] tahir-hassan commented on #1215
@sharwell  The analyzers, at least the VB.NET one seemed to work -- I am working on a legacy VB.Net application, and there are a lot of `try`...`catch` blocks where in the `try` it is closing a connection, and in the `catch` block is it closing the same connection.

The analyser is reporting this as a problem because the connection could be closed twice.  My solution is to move the closing of the

[2017-06-19 13:17] sharwell commented on #1215
@tahir-hassan For any specific analyzer/scenario combination, I would expect one of the following:

1. The analyzers work, and the GAC is not needed
2. The analyzers don't work, even if the GAC is used

For example, if CSharpMarkBooleanPInvokeArgumentsWithMarshalAsAnalyzer is reporting a warning about inability to load version 2.3.0.0 (first post in this topic), then placing the assemblies in the

[2017-06-19 13:29] tahir-hassan commented on #1215
@sharwell I am not sure about that.  The error above, as I have also experienced the same error, to me reads that `Microsoft.NetCore.CSharp.Analyzers.dll`, which is already loaded, has a dependency on `Microsoft.CodeAnalysis` DLL, which cannot be found.

I am sure that the helpful suggestions VS gave me about not closing the same connection twice in VB.Net is the result of the Analyzer -- so it ca

[2017-06-19 14:55] sharwell commented on #1215
@tahir-hassan I think we're talking about different analyzers. The VB.Net warning you mention wasn't reported by CSharpMarkBooleanPInvokeArgumentsWithMarshalAsAnalyzer. I'm starting to think the message you saw for the VB.Net analyzer actually wasn't the one reported in this issue, but instead a failure to load **Microsoft.CodeAnalysis.<em>Workspaces</em>**, which would be a very different issue l

[2017-06-19 20:24] mavasani commented on #1236
This seems to be an issue that the analyzer package is built against version 2.2.0 of MS.CA, but the analyzer is being run against a different version (most likely lower version) of Microsoft.CodeAnalysis.dll. Which version of Microsoft.CodeAnalysis.dll is being used by your compiler toolset?

[2017-06-19 20:26] mavasani commented on #1236
I took a quick look at the analyzer source code: https://github.com/ravendb/raven.codeanalysis/blob/master/Raven.CodeAnalysis/ExceptionBlock/TodoCommentOnExceptionHandlerAnalyzer.cs

There seem to be no requirement to be build the analyzer against version 2.2.0 of MS.CA. I would change the analyzer to build with MS.CA version 1.0.0, so that it runs fine against all compiler toolsets.

[2017-06-19 20:28] mavasani commented on #1236
I am closing this bug as by design, please let us know if changing the MS.CA reference in analyzer to 1.0.0 or running the existing analyzer against compiler toolset >= 2.2.0 doesn't fix your issue.

[2017-06-19 20:28] #1236 closed

[2017-06-19 20:32] sharwell commented on #1236
@mavasani Is CS8032 only reported for a mismatch in the MS.CA assembly version, or for any failure to load the target assembly?

[2017-06-19 20:37] mavasani commented on #1236
@sharwell - This is a generic diagnostic for analyzer load failure, we include the underlying exception message in the diagnostic message. See http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/AnalyzerFileReference.cs,e99e1eb9b3f1fa5f,references.

[2017-06-19 20:54] sharwell commented on #1236
@mavasani Thanks, that is a problem. I filed dotnet/roslyn#20316 to get that fixed.

[2017-06-19 20:55] sharwell commented on #1215
I filed dotnet/roslyn#20316 to fix the originally-reported issue above.

[2017-06-19 21:33] ppekrol commented on #1236
@mavasani Not sure what version compiler toolset is using. How can I check that? How can I force it to use different one?

I've switched to 1.0.0 and it works fine. Commit for reference https://github.com/ravendb/raven.codeanalysis/commit/c5e404ce3370c48d21823a4ae5af11181586f1fd

[2017-06-19 21:39] mavasani commented on #1236
You can find Microsoft.CodeAnalysis.dll next to your csc.exe in compiler toolset. When you run a build, you should see csc.exe or VBCSCompiler.exe execute in the task manager, and you can open its file location.

You can force your project to use a specific compiler toolset by adding a NuGet package reference to a specific version of https://www.nuget.org/packages/Microsoft.Net.Compilers. However,

[2017-06-19 21:44] agocke commented on #1236
@mavasani The compiler doesn't care what project you're targeting, but the Microsoft.NET.Compilers package only works with the Desktop .NET framework, so it only runs on Windows using MSBuild, not `dotnet build`.

[2017-06-19 22:26] ppekrol commented on #1236
@mavasani I do not see any `csc.exe` or `VBCSCompiler.exe` during `dotnet build` only `dotnet.exe`
but in
`C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.5`
and
`C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.1.2`
there are `Microsoft.CodeAnalysis` DLLs with version `1.3.0.60613`, so I assume that this is the max that custom analyzers can use?

[2017-06-19 22:28] mavasani commented on #1236
Yes, that is correct. Unless you move to a toolset that contains a higher version of Microsoft.CodeAnalysis.dll. I'd stick with your current PR of building against lower version MS.CA.

[2017-06-19 22:34] ppekrol commented on #1236
Yes, it works fine now. Thanks for help!

BTW, the version for `Microsoft.CodeAnalysis`  in `C:\Program Files\dotnet\sdk\1.0.4` is `2.0.0-rc5-61427-04`.  Not sure which one compiler is using... Maybe this is the limit... Anyway thanks for help :)

[2017-06-19 22:41] agocke commented on #1236
@ppekrol The one in the SDK should be the one used during `build`. The others are for when you build applications to target a shared framework, like when you target NETCoreApp1.1.

[2017-06-19 22:41] thomaslevesque opened #1238 "[VSIX] Analyzers fail to load with warning AD1000"
#### Analyzer package

All (Microsoft Code Analysis 2017 extension)

#### Analyzer

All

#### Repro steps

1. Install the extension
1. Open a solution

#### Expected behavior

Analyzers should load successfully and report warnings, if any

#### Actual behavior

All analyzers fail to load. I have 176 AD1000 warnings like this:

[2017-06-19 22:43] ppekrol commented on #1236
@agocke Thanks for explanation.

[2017-06-19 22:43] mavasani commented on #1238
@thomaslevesque Which version of VS do you have? This extension is only supposed to work against VS version 15.3.0 and higher (Microsoft.CodeAnalysis version 2.3.0 and higher).

[2017-06-19 22:45] thomaslevesque commented on #1238
(@mavasani wow, you're fast... I had accidentally submitted the issue before I was done. I fixed it now.)

Ah, I see. I have VS 15.2. Shouldn't this prevent me from installing the extension?

[2017-06-19 23:04] mavasani commented on #1238
We had initially marked the minimum VS version for the extension to be 15.3. However, if you haven't updated your vsinstaller.exe (the VSIX extension installer) and it is an earlier version, but have latest VS update, then it was blocking the install of the extension on 15.3. We did add a CA9999 diagnostic to the extension, that will fire detecting a version mismatch between extension and underlyi

[2017-06-19 23:05] mavasani commented on #1238
Tagging @kuhlenh @jinujoseph for visibility. I am going to close this issue as by design. Please let us know if you face issues with the extension. Thanks for dogfooding it!

[2017-06-19 23:05] #1238 closed

[2017-06-19 23:07] thomaslevesque commented on #1238
Thanks for the quick reply @mavasani.

[2017-06-19 23:26] jinujoseph commented on #1238
@thomaslevesque thanks for trying the vsix as well as nuget package , if you are curious about which rules are ported you can refer [here ](http://roslynanalyzersstatus.azurewebsites.net/) . Feel free to reach out if you have any questions

[2017-06-21 08:31] gh3x78E commented on #1081
Milestone 15.3 relates to which version of the nuget package? I have Microsoft.CodeAnalysis.FxCopAnalyzers 1.1.0 and I'm getting the warning with .Net 4.5.1 and 4.6.1.

[2017-06-21 08:37] jinujoseph commented on #1081
No 15.3 maps to our VS release milestone.
We were not able to repro this with our latest nuget [here](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.3.0-beta1) .

Feel free to re-open the issue if you can repro this with the latest nuget.

[2017-06-21 11:15] skostic9242 opened #1239 "Roslyn custom analyzer unit test problem"
Hey,

I wrote custom analyzer which this Initialize method:

[code]

and analyzer working as expected when i test it manually, but when i try to write unit test for it, i get:
"Assert.IsTrue failed. Mismatch between number of diagnostics returned, expected "1" actual "0"
The problem is on line var diags = compilationWithAnalyzers.GetAnalyzerDiagnosticsAsync().Result;
where diags is empty in this c

[2017-06-21 12:18] skostic9242 commented on #1239
update: Its recognized here in compilationWithAnalyzers.GetAllDiagnosticsAsync().Result
but GetAnalyzerDiagnosticsAsync().Result is empty...

[2017-06-21 18:11] 333fred commented on #1239
@skostic9242, rather hard to help you troubleshoot without more context. Any chance you can point us at your code?

[2017-06-23 15:56] evildour opened #1240 "Add an analyzer to require optional parameters be specified for internal invocations"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

InternalOptionalParametersRequired

#### Repro steps

Consider the following code:

[code]

Obviously, the first overload of `DoSomething` should have passed `options` to the 2nd overload when it called it. To catch this kind of issue, there should be an analyzer available which will warn when invocations to other members defin

[2017-06-23 17:43] mavasani opened #1241 "False report CA1821 (Remove empty Finalizers)"
See https://github.com/dotnet/roslyn/pull/19806/files#diff-4fddad076e8fb11cecceca523ee2aeb5R120

[2017-06-23 18:18] mavasani commented on #685
We need to add a fixer for this rule.

[2017-06-23 18:30] mavasani commented on #1241
@nguerrera Thanks, you are right that the analyzer is reporting a valid issue on release build. However, there is still an issue in the analyzer - it shouldn't fire if the enclosing method is also conditionally excluded. For example, the following still fires the diagnostic in both release and debug builds.

#if DEBUG
        ~InvisibleEditor()
        {
            Debug.Assert(Environment.HasShu

[2017-06-23 22:33] sharwell commented on #1240
My general preference is to not allow parameters to be omitted when best practice is to include them. For example, I oppose allowing a `CancellationToken` to be omitted from an asynchronous method (through overloads or optional parameters) in all cases, all the time.

I would prefer to see one of the following more specific rules instead:

1. Allow this rule to be more specific to a particular typ

[2017-06-24 12:02] rikimaru0345 commented on #1215
I'm affected by this as well, so what are my options now?
Revert to the non preview versions?

[2017-06-24 14:09] sharwell commented on #1215
@rikimaru0345 You should reference a version no greater than the minimum version of the build tools you would like to support. For example, StyleCop Analyzers 1.0.0 references Roslyn 1.0.0, which means Visual Studio 2015 (original release) and newer can use it. StyleCop Analyzers 1.1.0 references Roslyn 1.2.0, which means Visual Studio 2015 Update 2 and newer can use it.

[2017-06-27 00:51] jinujoseph commented on #459
Address https://github.com/dotnet/roslyn/issues/20405 once fixer is available

[2017-06-27 21:52] heejaechang opened #1244 "remove IsInvalid extension method once https://github.com/dotnet/roslyn/pull/20436 checked in"
we should remove our own implementation of IsInvalid once https://github.com/dotnet/roslyn/pull/20436 is checked in.

[2017-06-28 21:25] agocke opened #1246 "Using public API codefix doesn't save adds to the file unless the API.txt file is open"
Repro:

1. Open Roslyn.sln or Compilers.sln.
2. Add a public API, like a member to Optional.cs in CodeAnalysis.
3. Use the codefix analyzer to add the member to the Unshipped public API.
4. Hit Save All.

Expected:

Changes to the public API text file will be saved.

Actual:

Changes are not saved. If the file is opened in VS you can see the edits and then save the file, but otherwise the changes

[2017-06-28 21:26] amcasey commented on #1246
As a consequence, VS (which knows about the change) and msbuild (which doesn't) produce different errors.

[2017-06-28 22:34] mavasani commented on #1246
Both has changed in this analyzer for quite a while. Most likely a Roslyn regression for any changes to additional files.

[2017-06-29 19:14] evildour commented on #1240
Thanks @sharwell. For public library APIs, I think keeping the parameters optional makes for the best user experience. And while I think a rule specific to `CancellationToken`s would be good, it wouldn't make sense to have individual rules for each kind of options/setting object, or any other parameter that should be passed along.

I really like your suggestion to restrict the rule to where someth

[2017-07-03 07:20] davkean opened #1247 "Analyzer driver threw an exception of type 'System.ArgumentOutOfRangeException' with message 'Specified argument was out of the range of valid values."
#### Repro steps

1. Open Project System.sln at this commit: https://github.com/dotnet/project-system/commit/1e03b3e1de78e1f1ebc37f622c04c2b73747a4e8.
2. Turn on Full Solution Analysis

#### Expected behavior

#### Actual behavior

[code]

[2017-07-03 07:58] mavasani commented on #1247
@genlu - did you fix this recently? Do you have the issue number?

[2017-07-03 07:59] mavasani commented on #1247
Found it - dupe of https://github.com/dotnet/roslyn/issues/20330

[2017-07-03 07:59] #1247 closed

[2017-07-03 14:15] jskeet commented on #1236
@agocke wrote:

Is this being tracked in another issue? I really want to be able to start using analyzers in my Travis build if possible...

[2017-07-03 17:34] agocke commented on #1236
@jskeet I'm using this issue to track https://github.com/dotnet/roslyn/issues/16717

I'd like to know what's blocking you, though. Is pulling down a zip of a newer CLI prohibitive? I've also set our build to upload nightlies of the mentioned `Microsoft.NETCore.Compilers` package on our MyGet feed, but that's obviously pre-release level. Is it just that you want an official release build?

[2017-07-03 21:05] 333fred commented on #1191
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/933.

[2017-07-03 21:40] #1103 closed

[2017-07-03 21:41] 333fred commented on #1204
Fixed with #1248.

[2017-07-03 21:41] #1204 closed

[2017-07-03 21:41] 333fred commented on #933
Fixed with #1248.

[2017-07-03 21:41] 333fred commented on #935
Fixed with #1248.

[2017-07-03 21:41] #935 closed

[2017-07-04 05:49] jskeet commented on #1236
@agocke: Thanks for the bug link.

In terms of downloading nightlies etc: I have a few problems with that:

- Using a whole CLI is a bigger system change than just adding a reference to a package. If I'm testing a non-GA C# compiler, I want to be really, really sure that doesn't affect anything other than the project I'm installing it in.
- I may be trying to use released C# compiler bits (e.g. Ro

[2017-07-05 22:50] agocke commented on #1236
@jskeet Very helpful, thanks. Regarding your analyzers, were they actually using APIs that were only added in 2.0+?

I ask because I'm worried that some people are needlessly upgrading analyzer references because there are "newer" CodeAnalysis binaries, even though analyzers always run on the "user" compiler. That is, the authors don't realize that analyzers will always run on the compiler the use

[2017-07-06 06:58] jskeet commented on #1236
@agocke: No, the analyzers were written against Roslyn 1.x, but we want to be able to run them on Travis on Linux, so we need the portable versions. As I understand it, Roslyn 1.x only targets the desktop framework.

[2017-07-06 12:16] sharwell commented on #1236
@jskeet StyleCop Analyzers targets Roslyn 1.x and is being used in Linux builds: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2351#issuecomment-305529327

[2017-07-06 12:25] jskeet commented on #1236
@sharwell: Hmm... I'm now confused as to why I thought it wouldn't work before. Looks like we could indeed have stuck with 1.3.2.

I'd still like to be able to use different compiler versions from dotnet build without installing a new SDK, mind you :)

[2017-07-06 17:58] tannergooding opened #1250 "Upload a 2.6.0-beta version of Microsoft.Net.RoslynDiagnostics to MyGet"
Project System currently depends on the 2.3.0-beta1 version of this package and is trying to move forward to Roslyn 2.6.0-beta. However, this results in the following failure:
[code]

As such, a new version of the package that has a matching semantic version to the current master branch in Roslyn should be provided.

[2017-07-06 17:58] tannergooding commented on #1250
FYI. @jinujoseph, @mavasani

[2017-07-06 17:59] tannergooding commented on #1250
FYI. @jasonmalinowski, in case this has impact on the 2.6.0->2.5.0 change

[2017-07-06 18:28] mavasani commented on #1250
@jinujoseph Needs to move the analyzers repo to latest Roslyn package and bump up our version and then release a new NuGet package.

[2017-07-06 22:01] jmarolf opened #1253 "FxCop extension authored incorrectly"
the extension available [here](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017) is not authored correctly.

The VSIX manifest is allows this extension to be installed on any version of VS that is 2017 RTW or newer.
[code]

following the [docs](https://docs.microsoft.com/en-us/visualstudio/extensibility/vsix-extension-schema-2-0-reference) this

[2017-07-07 15:50] tannergooding commented on #1250
Looks like the repo was moved to the latest version yesterday: https://github.com/dotnet/roslyn-analyzers/pull/1251 and https://github.com/dotnet/roslyn-analyzers/pull/1252

So I think we just need packages now (looks like existing ones have been going to 'roslyn-tools' feed). @heejaechang, let me know if you need upload permissions.

[2017-07-07 17:54] heejaechang commented on #1250
it is already there.

https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.Net.RoslynDiagnostics

[2017-07-07 18:33] kamenlitchev commented on #695
I'd really also like to see this rule not being dropped, but at least having the most common (for me) use fixed when safe-navigation operator is used in Dispose() override:

`object?.Dispose()`

[2017-07-07 20:02] #1250 closed

[2017-07-07 20:02] tannergooding commented on #1250
Thanks, I didn't realize we had a separate feed for roslyn-analyzers.

[2017-07-08 09:05] jskeet commented on #1236
Hmm... have just tried using `dotnet build` with a Roslyn 3.0 prelease version of `Microsoft.Net.Compilers` and it seems to work fine (in terms of picking up C# 7.1 features). So it looks like it works for *some* aspects, but not necessarily all.

[2017-07-10 19:24] GaTechThomas opened #1254 "CA2241 Does not fire on skipped placeholder sequence ({0} {1} {3})."
#### Analyzer package

System.Runtime.Analyzers

#### Analyzer

ProvideCorrectArgumentsToFormattingMethods

#### Repro steps

`string.Format(CultureInfo.InvariantCulture, "Abce '{0}' efg '{1}' hij'{3}'.", p0, p1, p2));`

#### Expected behavior

Warning

#### Actual behavior

No Warning

[2017-07-12 09:30] kierenj opened #1256 "Multiple analysers throwing MissingMethodException (Microsoft.CodeAnalysis.Semantics.IHasArgumentsExpression.get_ArgumentsInParameterOrder())"
#### Analyzer package

Unknown - how do I tell?  My projects don't reference any directly.

#### Analyzer

`SpecifyIFormatProviderAnalyzer`
`ProviderCorrectArgumentsToFormattingMethodsAnalyzer`
`NormalizeStringsToUppercaseAnalyzer`
`InstantiateArgumentExceptionsCorrectlyAnalyzer`
`DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCorrectDirectlyAnalyzer`
`CSharpAvoidZeroLengthArrayAlloca

[2017-07-12 18:01] 333fred commented on #1256
Can you share a bit more about your build environment? Specifically VS version and Analyzers version. It sounds like you're using an older version of the analyzers (perhaps 1.2.0?) and a new compiler.

[2017-07-12 18:01] 333fred commented on #1256
Also see https://github.com/dotnet/roslyn-analyzers/issues/1198.

[2017-07-12 18:14] 333fred commented on #1256
As for how to tell, at least one of your projects should be referencing one of our nuget packages. At the version I'm guessing you have, we had the analyzers split by assembly names. So you should see references to things like `System.Runtime.Analyzers`, or other similar namespaces.

[2017-07-12 18:36] kierenj commented on #1256
I've done a find-in-files and can't find any references within any project files themselves, although analyzers do show under "references" in VS.  The various nuspec/project.assets.json files have loads of references in however, so maybe it's a referenced package which in turn references them?

http://imgur.com/a/6czwM

One random find-in-files result is this - could this package be the cause?

[c

[2017-07-12 19:52] 333fred commented on #1256
Yeah, that's the issue. The package appears to be incorrectly exposing the analyzer packages transitively. I opened https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/495 for that issue.

[2017-07-12 19:55] 333fred commented on #1256
@kierenj, looks like the 1.0.2 version of that package fixed the issue, see https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/272.

[2017-07-12 20:04] kierenj commented on #1256
Thanks very much for the help in tracking it down @333fred.   Should we meet I owe you a beer :beer:

[2017-07-12 20:26] #1256 closed

[2017-07-14 23:31] tmat opened #1257 "Address suppressed xunit warnings"
The RepoToolset v21 uses the latest xunit that comes with an analyzer that currently reports quite a few warnings. For now these are going to be suppressed.

[2017-07-19 14:32] mchaloupka opened #1264 "CA1801: Is not able to correctly detect used parameter if it is used only to pass it to base constructor."
#### Analyzer package

Example: Microsoft.CodeAnalysis.FxCopAnalyzers

#### Repro steps

Try the following code:
[code]

#### Expected behavior
The static analysis should go without error.

#### Actual behavior
The following error is returned:
CA1801: Parameter timeOut of method .ctor is never used. Remove the parameter or use it in the method body.

[2017-07-19 14:36] mavasani commented on #1264
This is likely an IOperation bug. I will investigate later today

[2017-07-19 16:28] 333fred commented on #1264
@mchaloupka, what version of the analyzers are you using? We've fixed a number of bugs in later versions, this is probably https://github.com/dotnet/roslyn-analyzers/issues/1061.

[2017-07-20 08:20] mchaloupka commented on #1264
The used version is 2.0.0-beta2. I will try to update it to a newer version and check whether it is fixed or not.

[2017-07-20 16:57] 333fred commented on #1264
@mchaloupka, yeah, that's probably the cause then. We're still actively working on the API the beta versions of the analyzers use, and the 2.0.0-beta1 version wasn't able to look at most C# 7.0 features, so the interpolated string is skipped. You should be able to use the newer analyzers if you also upgrade your compiler, https://www.nuget.org/packages/Microsoft.Net.Compilers/.

[2017-07-20 18:24] #1165 closed

[2017-07-20 18:33] jinujoseph commented on #1230
Loc support added via https://github.com/dotnet/roslyn-analyzers/pull/1258
@nguerrera , whats the next step here to send the files to loc team for translation ?

[2017-07-20 18:50] jinujoseph commented on #1089
Have not heard back from customer, re-open if the issue still persist

[2017-07-20 18:50] #1089 closed

[2017-07-21 06:20] mavasani opened #1265 "Fix the casing in Microsoft.Net.RoslynDiagnostics.props"
See https://github.com/dotnet/roslyn-analyzers/blob/master/nuget/Microsoft.Net.RoslynDiagnostics/Microsoft.Net.RoslynDiagnostics.props

The paths should have lower case letters for package name folder for the props file to work for case sensitive path names in non-Windows OSes.

[2017-07-21 06:39] #1265 closed

[2017-07-22 22:30] sharwell opened #1269 "helpLinkUri should be specified for every analyzer"
The `helpLinkUri` value is used to show information when a warning appears in the error list. Every analyzer should have a `helpLinkUri` specified which points to a help page that does not change over time.

[2017-07-22 22:34] sharwell opened #1270 "New analyzer: DiagnosticDescriptor should specify helpLinkUri"
Most analyzers in [dotnet/roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers) and [dotnet/roslyn](https://github.com/dotnet/roslyn) are missing critical user documentation in the form of a `helpLinkUri` passed to the `DiagnosticDescriptor`. A new analyzer should be created as part of the meta analyzers package which reports a diagnostic when users fail to provide this information.

:link

[2017-07-24 16:00] michalkovy opened #1271 "Visual Studio crashes when C# project depends on F# which depends on C# project with FxCop analyzers"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers  2.3.0-beta1

#### Repro steps

Open solution in Visual Studio 2017 Update 3 Preview 4 : [CrashProblemSimpleSolution.zip](https://github.com/dotnet/roslyn-analyzers/files/1170383/CrashProblemSimpleSolution.zip)

Or:
In Visual Studio 2017 Update 3 Preview 4
 1) Create .NET Core C# project, add FxCop nuget and Feature IOperation
 2) Create

[2017-07-24 16:04] mavasani commented on #1271
@michalkovy Thank you for reporting the issue. The exception seems to be happening in the Roslyn assemblies, hence I have ported this bug to https://github.com/dotnet/roslyn/issues/21061.

[2017-07-24 16:04] #1271 closed

[2017-07-25 14:23] mchaloupka commented on #1264
@333fred I have tried to add dependency on `Microsoft.Net.Compilers` version `2.3.1` and upgrade `Microsoft.CodeAnalzsis.FxCopAnalyzers` to version `2.3.0-beta1` but I was not able to get them even working. I have got the following warning:

And many other. I have found this warning and it sounded to me like a known issue which will be fixed in VS 2017.3 with some workaround (like putting the asse

[2017-07-25 19:44] 333fred commented on #1264
Alright then. If you still have this issue after 2017.3 comes out, feel free to open up a new issue.

[2017-07-25 19:44] #1264 closed

[2017-07-29 18:05] jinujoseph opened #1272 "Remove IsInvalid check from RS0012 and RS0018 analyzers"
IsInvalid API has perf issues as stated [here](https://github.com/dotnet/roslyn/issues/20760)

We could remove that check from this analyzers as they don't seem to be adding much value add here.
Instead we could just say don't call me if the method body has error  or  invocation target is null

once this is resolved , we need to enable this analyzers in roslyn
roslyn https://github.com/dotnet/rosl

[2017-07-29 21:22] jnm2 opened #1273 "Ability to provide diagnostics and code fixes for project files"
Has this been considered?

One use case I have is a NuGet MSBuild task which adds `<KnownUnreferencedAssembly Include="OutputFilename.dll" Keep="true|false" />` metadata to the project and trims the build output. I'd like to provide a diagnostic that takes you to the lines in the .csproj with a quick fix to add required elements and remove or correct invalid elements.

Another use case is to fail

[2017-07-30 03:32] sharwell commented on #1273
:bulb: This is closely related to dotnet/roslyn#11097. Several additional issues are linked to the first comment there.

[2017-07-30 21:18] sergey-rybalkin opened #1274 "CA2235: Throws InvalidOperationException on fields of generic type"
#### Analyzer package

Microsoft.NetFramework.Analyzers

#### Analyzer

MarkAllNonSerializableFields

#### Repro steps

1. Create a generic class with [Serializable] attribute, e.g. `public class MyContainer<T>`.
1. Add a field of generic type, e.g. `private T _myField;`.
1. Diagnostic message appears. Hovering mouse over "Add Serializable attribute" throws InvalidOperationException.

#### Expecte

[2017-07-31 17:52] HuanhuanSunMSFT opened #1275 "Could not load file or assembly 'System.Runtime.Analyzers, Version=1.0.0.0'. Strong name validation failed"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers version 1.1.0

#### Repro steps

1. Install the package to a .NET core library project
2. Build

#### Expected behavior
No warnings or errors as long as there is no code breaking rules

#### Actual behavior
[code]

[2017-07-31 23:59] sharwell commented on #1253
Are we sure the ~~gallery~~ marketplace will work in this scenario?

:bulb: The `Microsoft.VisualStudio.Pro` line is unnecessary unless you are planning to target Visual Studio 2013 (or earlier) scenarios.

[2017-08-01 00:11] jmarolf commented on #1253
@sharwell good point. `Microsoft.VisualStudio.Pro` is unnecessary.

Is your question whether the VS marketplace restricts VSIX downloads?  It does not.  You can filter to just show you things for VS 2017 but it does not get any more specific than that.

Correctly authoring the extension will warn users when they try to install the extension though, which is what you want instead of VS simply faili

[2017-08-01 00:29] sharwell commented on #1253
No, I was more concerned with a case where it thinks Visual Studio 2017 is "15.0" and doesn't show it at all for 15.3.

[2017-08-01 00:32] jmarolf commented on #1253
@sharwell  that is not how the Visual Studio Marketplace filtering works.  Visual  Studio 2017 is 15.*

I do not believe any work was done on the marketplace side to account for individual 15.x releases

[2017-08-01 17:37] 333fred commented on #1274
@jinujoseph can you assign this to someone?

[2017-08-01 18:23] jinujoseph commented on #1274
@mavasani  , can you investigate this pls

[2017-08-08 01:37] #1272 closed

[2017-08-08 17:48] MrClyfar opened #1280 "Seeing "An instance of analyzer Microsoft.NetFramework.CSharp.Analyzers.CSharpImplementSerializationMethodsCorrectlyAnalyzer cannot be created""
**Environment**
Microsoft Visual Studio Professional 2017
Version 15.2 (26430.16) Release
VisualStudio.15.Release/15.2.0+26430.16
Microsoft .NET Framework
Version 4.7.02046

Microsoft Code Analysis 2017
Version 2.3.0.62003

**Symptom**
When building any solution/project, the "Error List" shows the following exception for many of the  "AD1000" warning rows

[code]

There are some warnings which app

[2017-08-08 19:22] 333fred commented on #1280
Are you running our Analyzer extension or using our 2.3.0 analyzer packages? If so, it's not supported on VS 15.2, it's only supported on Update 3 or later, which is currently in preview.

[2017-08-08 20:49] MrClyfar commented on #1280
Yeah I'm running

Looking at NuGet, I can see things like

[code]

I don't see anything v2.3.0 installed.

[2017-08-08 21:23] 333fred commented on #1280
Yes, that's correct. I'm going to close the issue, please feel free to ask any other questions or open a new issue if you see more problems after update 3.

[2017-08-08 21:23] #1280 closed

[2017-08-16 01:13] jamesqo opened #1284 "Proposal: Generalize RS0012 for different immutable collection types"
#### Analyzer package

Microsoft.NetCore.Analyzers

#### Analyzer

DoNotCallToImmutableArrayOnAnImmutableArrayValue

####  Proposal

`ToImmutableX` on an `ImmutableX` should also trigger a warning, not just when `X = Array`.

[2017-08-16 08:52] LordMike opened #1285 "The Microsoft.CodeQuality.Analyzers "more info" link is 404"
The More info link on the Readme for `Microsoft.CodeQuality.Analyzers` leads to a 404 page on Github.

#### Analyzer package
N/A

#### Analyzer
N/A

#### Repro steps
N/A

#### Expected behavior
N/A

#### Actual behavior
N/A

[2017-08-18 23:09] tillig opened #1286 "Desktop.Analyzers 1.0.0 not listed, NuGet error causes build to fail in VS 15.3"
-Microsoft.CodeAnalysis.FxCopAnalyzers 1.1.0
-System.Runtime.Analyzers 1.2.0-beta2
-System.Runtime.InteropServices.Analyzers 1.2.0-beta2

The project I'm working on - [Autofac](https://github.com/autofac/Autofac) - has been using this set of analyzers for a while and it's worked fine.

However, with the recent update to VS 15.3 it seems NuGet starts throwing `NU1603` based on Microsoft.CodeAnalysi

[2017-08-20 18:45] AvishagCs commented on #944
Hi.
I'm having the same serialization issue as described here.
I downloaded the package you said (Microsoft.CodeAnalysis.FxCopAnalyzers 1.2.0-beta1), but now I can't compile my project and I receive error like:
CSC : error AD0001: Analyzer 'System.Runtime.Analyzers.SpecifyCultureInfoAnalyzer' threw an exception of type 'System.InvalidOperationException' with message 'Feature 'IOperation' is disabl

[2017-08-21 16:49] 333fred commented on #944
@AvishagCs, the error you're getting is because you're trying to run an IOperation analyzer, but IOperation isn't enabled. You need to add <Features>IOperation</Features> to a PropertyGroup in your project file.

[2017-08-21 18:29] tillig commented on #1286
Possibly related, analyzers also display rather oddly in VS 15.3.1. (This is from a different project I'm on that also uses the analyzers and has the same errors I reported above. In this screenshot you'll notice StyleCop is also here. Removing StyleCop does not fix the issue.)

![Analyzers in VS 15.3.1](https://user-images.githubusercontent.com/1156571/29532815-d6d7d5e4-8663-11e7-9678-eeffbb1ae1b

[2017-08-21 18:42] mavasani commented on #1286
Looks like an issue with the project system, I will port the bug.

[2017-08-21 18:46] mavasani commented on #1286
There seem to be 2 issues here:

1) 1.1.0 analyzers not working on VS 15.3. This is expected - you should move to 2.3.0-beta1 package of FxCop analyzers.

2. Resources and duplicate Analyzer Utilities node in the solution explorer: Tracked with https://github.com/dotnet/project-system/issues/2724

[2017-08-21 18:46] #1286 closed

[2017-08-21 19:23] tillig commented on #1286
I've lost probably a good day and a half fighting through this. The 1.1.0 analyzers not working on VS 15.3 sounds like something valuable to document on the wiki on this site; in the README.md; and possibly get something posted to [aspnet/Announcements](https://github.com/aspnet/Announcements) - it's really not "obvious stuff" by any means if you're not following the goings-on here on a daily basi

[2017-08-21 19:36] tillig commented on #1286
OK, the magic combination, for folks who might get here in the future:

- Use `dotnet` CLI/SDK 1.1.0 or better.
- _Remove_ the references to `System.Runtime.Analyzers` and `System.Runtime.InteropServices.Analyzers`, if you have them.
- Set your references like this:

[code]

The rest of the analyzers get brought in via transitive dependencies.

Note [there's another project bug in 15.3.1](https://

[2017-08-21 19:38] mavasani commented on #1286
Thanks @tillig - I was going to propose something similar. Let me add some documentation on the analyzers repo about the old 1.X.X packages on latest VS bits.

[2017-08-21 20:38] mavasani commented on #1286
I have added https://github.com/dotnet/roslyn-analyzers/blob/master/README.md#recommended-version-of-analyzer-packages

[2017-08-21 20:46] tillig commented on #1286
Typo: Version 15.3 corresponds to VS 2017, not VS 2015.

[2017-08-21 20:59] mavasani commented on #1286
Thanks, for some reason I always mess up the year due to internal code names.

[2017-08-22 00:15] dpaoliello opened #1287 "CA1000 should not fire for conversion operators on static classes"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotDeclareStaticMembersOnGenericTypes

#### Repro steps

[code]

#### Expected behavior

CA1000 is not raised - there is no way to write this conversion that would permit type inference.

#### Actual behavior

CA1000 is raised

[2017-08-22 00:19] dpaoliello opened #1288 "CA1707 should not be raised for conversion operators"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

IdentifiersShouldNotContainUnderscores

#### Repro steps

[code]

#### Expected behavior

CA1707 is not raised (this is a generated name)

#### Actual behavior

`warning CA1707: Remove the underscores from member name Class1.implicit operator Class1(int)`

[2017-08-22 00:24] dpaoliello commented on #1288
Looks like the fix is to extend #970 by also checking for `MethodKind.Conversion`

[2017-08-24 02:20] jamesqo opened #1289 "[CI Failure] SocketException thrown while downloading vswhere"
I'm opening this after repeated CI failures during my PR at #1283. Here's the output CI generates if I put `Write-Host "Downloading vswhere..."` just before the `Invoke-WebRequest` to download it in `Build.ps1`:

[code]

[failure 1](https://ci.dot.net/job/dotnet_roslyn-analyzers/job/master/job/windows_debug_prtest/254/console), [failure 2](https://ci.dot.net/job/dotnet_roslyn-analyzers/job/master/

[2017-08-24 17:17] 333fred commented on #1289
Appears to have resolved itself, this was a github issue.

[2017-08-24 17:17] #1289 closed

[2017-08-30 01:28] jmarolf opened #1290 "SerializationRulesDiagnosticAnalyzer crashing in Project System"
Analyzer 'Microsoft.NetFramework.Analyzers.SerializationRulesDiagnosticAnalyzer' threw an exception of type `System.ArgumentException` with message "Reported diagnostic with ID `CA2235` is not supported by the analyzer."

Exception occurred with following context:
**Compilation:** Microsoft.VisualStudio.AppDesigner
**ISymbol:** MultipleValuesStore (NamedType)

[code]

[2017-09-08 09:39] TheBeardedLlama commented on #1156
I can confirm this is still a bug.
I have a similar issue when the parameter is used in a Func body. Using `pragma disable` for now.

I'm running latest beta of FxCop with a core project in VS2017.

Please let me know if you require more information and what that would be

[2017-09-08 09:42] TheBeardedLlama commented on #1156
@dfederm may I suggest that you edit the title to something more generic? Something along the lines of false positives when a parameter is used in an initialisation body... not sure what
It would make it more generic and indicate to the guys that this a wider issue that applies to more cases.

[2017-09-08 12:31] sharwell commented on #1156
Do you have an example of this that can be included as a unit test to make sure it doesn't reappear after it's fixed?

[2017-09-08 12:41] TheBeardedLlama commented on #1156
Of course; here's an actual block of code throwing the warning with some objects anonymised to protect the innocent ;)

        public static async Task<XUser> GetXUser(this IMemoryCache memoryCache, string adUsername, HttpClient httpClient, XOptions xOptions)
        {
            if (!string.IsNullOrWhiteSpace(adUsername))
            {
                var adUsernameWithoutDomain = adUsername;

[2017-09-11 12:35] cornillemichiel commented on #695
Is there any update on this being picked up again?

[2017-09-14 19:19] jinujoseph commented on #1244
@heejaechang this was taken care right ?

[2017-09-14 19:23] heejaechang commented on #1244
@jinujoseph I think it is still there

[2017-09-14 19:25] heejaechang commented on #1244
@jinujoseph actually, looks like @333fred removed it.

https://github.com/dotnet/roslyn-analyzers/commit/c3374d19836d3f989ac891992b9f12a1d1549cc2

[2017-09-14 19:25] #1244 closed

[2017-09-16 11:55] thomaslevesque commented on #1238
I'm no longer seeing AD0001 errors with the extension, but it's still not reporting any warning...
Using the NuGet package, I'm getting tons of exceptions during build. Is there any version of the extension or package that is supposed to work?

[2017-09-16 11:55] thomaslevesque commented on #1275
I'm seeing this too.

[2017-09-16 12:10] thomaslevesque commented on #1238
Ah, I just realized I had to enable IOperation. This should probably be documented somewhere, as it's far from obvious...

[2017-09-16 13:08] thomaslevesque opened #1292 "CA1052: StaticHolderTypesShouldBeSealed, but the type *is* sealed"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, v2.3.0-beta1

#### Analyzer

StaticHolderTypesShouldBeSealed

#### Repro steps

1. Write this class:

[code]

(note: this is a nested class, in case it matters)

#### Expected behavior

No warning should be reported, since the type is sealed.

#### Actual behavior

CA1052 is reported with this message:

(not sure why `NotInheritable` in

[2017-09-16 13:24] thomaslevesque opened #1293 "CA1707: IdentifiersShouldNotContainUnderscores incorrectly reported for implicit operator"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, v2.3.0-beta1

#### Analyzer

IdentifiersShouldNotContainUnderscores

#### Repro steps

1. Write the following implicit conversion operator
[code]

#### Expected behavior

No warning should be reported.

#### Actual behavior

CA1707 is reported with the following message:

I suspect this is because the metadata name of the operator is `o

[2017-09-16 13:40] thomaslevesque opened #1294 "CA1801: ReviewUnusedParameters is reported but all parameters are used"
#### Analyzer package

Example: Microsoft.CodeAnalysis.FxCopAnalyzers, v2.3.0-beta1

#### Analyzer

ReviewUnusedParameters

#### Repro steps

1. Write [this method](https://github.com/FakeItEasy/FakeItEasy/blob/b4083dbf31bec7d99b10f15198be4c71064cc79b/src/FakeItEasy.Analyzer/ArgumentConstraintNullabilityMismatchAnalyzer.cs#L81-L133):
[code]
#### Expected behavior

No warning should be reported

##

[2017-09-19 19:28] onyxmaster commented on #1294
Same here, I've got a much smaller repro (CA1801 for **q**):
[code]

[2017-09-19 19:50] twsouthwick opened #1298 "CA1825 AvoidZeroLengthARrayAllocationsFixer throws NullReferenceException"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers (2.3.0-beta1)

#### Analyzer

AvoidZeroLengthArrayALlocationsFixer

#### Repro steps

[code]

#### Expected behavior

Replace with `Array.Empty<ApiDefinition>()`

#### Actual behavior

[code]

[2017-09-20 11:16] onyxmaster commented on #1081
Please take a look at https://github.com/onyxmaster/repro-ca1309. The problem still persists even with the `2.3.0-beta1`.

[2017-09-21 15:35] mavasani opened #1299 "Re-enable skipped tests for UseLiteralsWhereAppropriateTests"
Skipped tests: `CA1802_Diagnostics_CSharp` and `CA1802_Diagnostics_VisualBasic`

Blocked by https://github.com/dotnet/roslyn/issues/21293, which should ensure we return the initializer value instead of EqualsValueClause as the operation block root node.

[2017-09-21 15:41] mavasani opened #1300 "Fix back compat issue for CA1802 (UseLiteralsWhereAppropriate)"
Due to https://github.com/dotnet/roslyn/issues/22252, and our desire to delete IFieldInitializer (https://github.com/dotnet/roslyn/issues/21293), we cannot retain the FxCop compat for UseLiteralsWhereAppropriate analyzer where for field declarations with multiple fields sharing same initializer, we reported diagnostic on the last field unless https://github.com/dotnet/roslyn/issues/22252 is fixed.

[2017-09-26 20:27] mavasani opened #1303 "Re-enable DoNotDirectlyAwaitATaskAnalyzer CA2007"
We have to disable it as it uses IAwaitExpression which is not available in latest signed drop out of Roslyn master. Once we move to a newer Roslyn drop, we can re-enable this analyzers and associated unit tests.

[2017-09-26 20:32] mavasani opened #1304 "Re-enable DoNotCatchCorruptedStateExceptionsAnalyzer CA2153"
We have to disable it as it uses ITryStatement/ICatchClause which is not available in latest signed drop out of Roslyn master. Once we move to a newer Roslyn drop, we can re-enable this analyzers and associated unit tests.

[2017-09-26 20:58] mavasani opened #1305 "Re-enable DoNotRaiseExceptionsInExceptionClausesAnalyzer CA2219"
We have to disable it as it uses ITryStatement/ICatchClause which is not available in latest signed drop out of Roslyn master. Once we move to a newer Roslyn drop, we can re-enable this analyzers and associated unit tests.

[2017-09-26 21:02] mavasani opened #1306 "Re-enable DoNotRaiseExceptionsInUnexpectedLocationsAnalyzer CA1065"
We have to disable it as it uses ITryStatement/ICatchClause which is not available in latest signed drop out of Roslyn master. Once we move to a newer Roslyn drop, we can re-enable this analyzers and associated unit tests.

[2017-09-26 21:24] mavasani commented on #1306
Actually, this analyzer was just using IThrowStatement, and we can fix it right away to use IThrowExpression. I will make this change, this issue is no longer needed.

[2017-09-26 21:24] #1306 closed

[2017-09-26 22:41] mavasani opened #1307 "Delete or fix MetaCompilation analyzer unit tests"
These were written by interns, and they are currently broken. We need to fix the analyzer/tests or delete them from the tree if not maintaining them.

[2017-10-05 00:04] jinujoseph opened #1310 "Write on-boarding document for Roslyn-Analyzer Package"
https://github.com/dotnet/sdk/issues/1086

mention
https://stackoverflow.com/questions/45678861/whats-the-latest-version-of-roslyn-my-analyzer-can-target-if-i-support-vs2015/45680699#45680699

[2017-10-06 12:48] jtemperv opened #1311 "CA1822 falsely triggered on members that use dynamic objects."
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers (v2.3.0-beta1)

#### Analyzer

MarkMembersAsStatic

#### Repro steps

See attached repro project: [RoslynAnalyzers.CA1822.ExpressionBodiedMembers.zip](https://github.com/dotnet/roslyn-analyzers/files/1362712/RoslynAnalyzers.CA1822.ExpressionBodiedMembers.zip)

#### Expected behavior
No CA1822 violation.

#### Actual behavior
A CA1822 vio

[2017-10-06 23:08] mavasani opened #1312 "Getting strange Analyzer errors in VS2017: string property 'not serializable'"
Ported from https://developercommunity.visualstudio.com/content/problem/105817/getting-strange-analyzer-errors-in-vs2017-string-p.html

----------------

Severity Code Description Project File Line Suppression State
Error AD0001 Analyzer 'Microsoft.NetFramework.Analyzers.SerializationRulesDiagnosticAnalyzer' threw an exception of type 'System.ArgumentException' with message 'Reported diagnostic wi

[2017-10-09 17:53] Petermarcu opened #1313 "Getting CA0055 and CA0052 errors with .NET Core 2.0 Projects"
@dvm-2k1 reported this here: https://github.com/dotnet/core/issues/758#issuecomment-335075221

Please let me know Is this CA0055 and CA0052 issues got resolved for .Net Core 2.0 (netcoreapp2.0) projects?

Asking this because I'm still getting these errors when enabled our .Net Core 2.0 projects to use code analysis ruleset which are defined for our projects and trying to build from Visual Studio 2

[2017-10-10 06:16] dvm-2k1 commented on #1313
Thanks @Petermarcu for posting this issue to right forums...

[2017-10-10 09:29] dvm-2k1 commented on #1313
This issue can marked as resolved as these issues got fixed in our .Net Core 2.0 projects.

**Cause of the errors:**
_Note: This was written based on my investigation and understandings of MSBuild execution behavior of .Net Core projects to standard .Net Framework projects._

These issues were coming as "RunCodeAnalysis" flag was set to true which was coming from our Build props file, if csproj fi

[2017-10-11 14:54] k-vekos opened #1315 "Using Microsoft Code Analysis 2017 VSIX on TFS 2015 Build Agent?"
If my team is using the Microsoft Code Analysis 2017 VSIX extension solution for code analysis (for our ASP .NET Core v2.0 project) how can we execute the code analysis and report findings when the solution is built from TFS 2015?

We are using an MSBuild build step for compilation as the Visual Studio Build step will not recognize VS2017 which is required for our solution.

[2017-10-11 16:57] #1303 closed

[2017-10-11 16:57] #1304 closed

[2017-10-11 16:57] #1305 closed

[2017-10-12 18:43] daviddunson commented on #1313
I rely on CA2000 and this rule is mandatory on all of my builds. I cannot upgrade to **Microsoft.CodeAnalysis.FxCopAnalyzers** due to an [exiting bug](https://github.com/dotnet/roslyn-analyzers/issues/476) preventing this rule from being implemented. Because of this, I cannot run Code Analysis on any .NET Core application, or .NET Standard libraries 1.5 or greater.

If someone has a solution that

[2017-10-14 12:15] shaggygi opened #1316 "[Question] Clean up milestones"
Is it possible to close out older milestones now they are released?  For example, [15.3](https://github.com/dotnet/roslyn-analyzers/milestone/5) and [15.4](https://github.com/dotnet/roslyn-analyzers/milestone/8).

[2017-10-17 17:27] tmat opened #1318 "Test DoNotCallToImmutableArrayOnAnImmutableArrayValueTests.DiagnosticCases is missing facade references"
The test creates a compilation with a reference to System.Reflection.ImmutableCollections but is missing references to its dependencies (facades). Since the test also references implementation assemblies, not contract assemblies, it may behave differently when running on different versions of .NET Framework (e.g. it fails on 4.7.1).

Disabling the test until this is fixed.

[2017-10-17 17:27] tmat commented on #1318
@mavasani @jinujoseph FYI

[2017-10-18 00:17] kentcb opened #1319 "False positive on custom operator"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1707

#### Repro steps

Include a custom operator in the code such as:

[code]

#### Expected behavior

No warning about underscores in identifier name.

#### Actual behavior

[code]

[2017-10-18 00:51] kentcb opened #1320 "CA1052 false positive"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1052

#### Repro steps

[code]

#### Expected behavior

No violation (because the type is sealed).

#### Actual behavior

[code]

[2017-10-18 03:05] kentcb opened #1321 "CA1823 false positive"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1823

#### Repro steps

[code]

#### Expected behavior

No violation reported.

#### Actual behavior

Violation reported:
[code]

[2017-10-18 05:41] kentcb opened #1322 "RS0014 false positive"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

RS0014

#### Repro steps

[code]

#### Expected behavior

No warning, or make the alternative clear. The only recourse I can think of is to implement my own `FirstOrDefault` extension against `IList<T>` (or `IImmutableList<T>`), but is that the intention?

#### Actual behavior
[code]

[2017-10-18 06:00] kentcb opened #1323 "CA1717 false positives for "status""
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1717

#### Repro steps

Add a non-flags enumeration with a suffix of "Status", such as `ViewStatus`

#### Expected behavior

No violation, since "status" is not generally accepted as a pluralization.

#### Actual behavior
[code]

[2017-10-18 06:18] kentcb opened #1324 "CA1801 false positive"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1801

#### Repro steps

[code]

#### Expected behavior

No violation because the method conforms to a delegate.

#### Actual behavior
[code]

[2017-10-18 22:25] kentcb opened #1325 "CA1010 false positive"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1010

#### Repro steps

[code]

#### Expected behavior

No violation, since it is not my code violating the rule.

#### Actual behavior

[code]

[2017-10-20 10:05] zvirja opened #1326 "CA1801 - false positive for pattern matching"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers

#### Analyzer

CA1801:Review unused parameters

#### Repro steps

[code]

#### Expected behavior
No warning that `arg` is not used

#### Actual behavior
Analyzer highlights that `arg` parameter is not used.

[2017-10-20 10:07] zvirja commented on #1326
Closing as a duplicate of #1294

[2017-10-20 10:07] #1326 closed

[2017-10-20 10:08] zvirja commented on #1294
@ivanbasov Could you please review this one? It's quite annoying issue preventing from painless usage of new C# features 😕

[2017-10-21 01:01] jinujoseph commented on #1294
cc @mavasani

[2017-10-21 11:46] shaggygi opened #1328 "[Question] Clean up milestones"
Would it be possible to close out 15.3 and 15.4 milestones.  Seems like they are now complete?  Thx

[2017-10-21 11:47] shaggygi commented on #1328
Oops.  Already added one.  Duplicate (#1316)

[2017-10-21 11:47] #1328 closed

[2017-10-21 12:15] jamesqo commented on #1298
I'll grab this issue.

[2017-10-23 23:54] ivanbasov commented on #1294
Thank you for reporting the issue!
The issue has been recently fixed in IOperation. I have verified the fix with Microsoft.CodeAnalysis.FxCopAnalyzers, 2.6.0-beta1-62212-01

[2017-10-23 23:54] #1294 closed

[2017-10-24 01:27] ivanbasov commented on #1322
@kentcb, thank you for the request!  Could you please provide a complete code sample and version of code analyzers you use?

 I tried to play around  `someList.FirstOrDefault()` with the latest version of code analyzers (2.6.0-beta1-62212-01). Everything works fine.

[2017-10-24 01:29] ivanbasov commented on #1323
Thank you, @kentcb! Reproduced and confirmed

[2017-10-24 01:41] ivanbasov commented on #1323
In accordance with https://msdn.microsoft.com/en-us/library/bb264486.aspx:

It is safe to suppress a violation if the name is a plural word but does not end in 's'. For example, if the multiple-day enumeration that was described previously were named 'DaysOfTheWeek', this would violate the logic of the rule but not its intent. Such violations should be suppressd.

As far as I know, there are no pl

[2017-10-24 02:59] kentcb commented on #1322
@ivanbasov I've attached the simplest possible repro.

I'm a bit confused about the version you've mentioned. AFAICT, `2.3.0-beta1` is the latest version of `Microsoft.CodeAnalysis.FxCopAnalyzers` and that's where I'm hitting the problem.

[RS0014_Repro.zip](https://github.com/dotnet/roslyn-analyzers/files/1409393/RS0014_Repro.zip)

[2017-10-24 03:02] kentcb commented on #1323
Here's me thinking the heuristic would be more sophisticated than an `EndsWith("s")` 😆

[2017-10-24 07:53] zvirja commented on #1294
@ivanbasov Thanks for the fix!

Do you also have any approx ETA when this package is published to Nuget?

[2017-10-24 15:59] 333fred commented on #1323
We recently started using Humanizer for plurality naming suggestions in the IDE. @rchande, do you think it would be possible to use that for this application as well?

[2017-10-24 16:03] rchande commented on #1323
@333fred Definitely! They have pretty comprehensive heuristics for checking if a word is plural.

[2017-10-24 20:34] ivanbasov commented on #1294
Thank you, @zvirja! We are going to ship new analyzers after shipping the new version of IOperation which is targeted for the end of 2017.

[2017-10-24 22:07] ivanbasov commented on #1322
Thank you very much for the code sample, @kentcb!

I have verified that the code works fine with the current analyzer code 2.6.0-beta1-62212-01. This is an internal version of analyzers that can be built using current roslyn + current roslyn-analyzers repos. Nuget packages for roslyn-analyzers are expected to be updated after release of new version of IOperation which is targeted by the end of 201

[2017-10-24 22:07] #1322 closed

[2017-10-24 22:17] kentcb commented on #1322
Out of interest, why is that? Isn't it still the case that `FirstOrDefault` is valid in that context?

[2017-10-24 22:36] ivanbasov commented on #1322
[FirstOrDefault](https://github.com/Microsoft/referencesource/blob/master/System.Core/System/Linq/Enumerable.cs#L1056) is an universal method applicable for IEnumerable but it is not optimized for performance purposes. So, when you have an indexer like for IReadOnlyList, it would be much faster to call it directly rather than use the universal approach.

[2017-10-24 22:52] ivanbasov commented on #1324
Thank you for reporting this!
The issue was fixed with [#1221](https://github.com/dotnet/roslyn-analyzers/pull/1221/)
It was not included in the currently shipped 2.3.0 beta. It is included in 2.6 which will be shipped after the IOperation update which is targeted by the end of 2017.

I have verified that the issue is gone with the analyzers code and the following sample:

[code]

[2017-10-24 22:52] #1324 closed

[2017-10-24 23:45] kentcb commented on #1322
Understood. So the reason it triggers against `IReadOnlyList<T>` and not `IList<T>` is because `FirstOrDefault` is special-cased for `IList<T>`? In that case, it will still trigger for `IImmutableList<T>`, which was my original use-case. Hence, I am back to my original query about what the recourse should be. I think the analyzer should provide more info in this respect. For example, I could just

[2017-10-25 00:02] mavasani commented on #459
This needs a fixer.

[2017-10-26 04:16] dfederm opened #1330 "AvoidZeroLengthArrayAllocationsFixer throws an exception"
#### Analyzer package
Microsoft.NetCore.Analyzers

#### Analyzer
AvoidZeroLengthArrayAllocations

#### Repro steps
I had the following code snippet:
[code]

A red squiggle appears under the `new int[0]`, so try quick fixing it.

#### Expected behavior
The code is fixed.

#### Actual behavior
![image](https://user-images.githubusercontent.com/6445614/32034737-3e9608a2-b9c9-11e7-8985-525e379f975f.pn

[2017-10-26 04:20] dfederm commented on #1330
It looks like it works if I extract it to a local.

[code]

So there seems to be something wrong specificalyl when using an object initializer.

[2017-10-28 15:01] #1316 closed

[2017-10-30 11:26] verysimplenick opened #1331 "Loading Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer"
#### Analyzer package

Microsoft.NetCore.Analyzers

#### Analyzer

Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer

#### Repro steps

1. Create any netcore proj
1. See error list

#### Expected behavior

Worked analyzers

#### Actual behavior

Warning in error list:

[code]

VS 2017 latest preview.

[2017-10-30 21:27] mavasani opened #1333 "Re-enable skipped tests failing due VB IOperation block analyzer issues"
Due to the issue highlighted in https://github.com/dotnet/roslyn/pull/22914, we have few analyzer failures when trying to move to latest Roslyn bits. We are going to disable the failing tests for now, and track re-enabling these once we have newer Roslyn bits with the fix.

[2017-11-01 22:19] mavasani opened #1335 "Null reference exception in Microsoft.NetFramework.Analyzers.SerializationRulesDiagnosticAnalyzer"
**Version Used**: Install latest d15rel drop 27031.1.d15rel

**Steps to Reproduce**:

1. git clone https://github.com/JamesNK/Newtonsoft.Json
2. add myget package feed for roslyn-analyzers: https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json
3. install latest preview of Microsoft.CodeAnalysis.FxCopAnalyzers version 2.6.0-beta1-62231-02 to all projects in solution
4. enable FSA for C#

Go

[2017-11-01 22:19] mavasani commented on #1335
@jinujoseph - needs fixing for 15.5

[2017-11-02 00:12] ivanbasov commented on #1322
Thank you, @kentcb! Yes, IList is a special case. Your understanding is correct. It matches with the [comment ](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Runtime/DoNotUseEnumerableMethodsOnIndexableCollectionsInsteadUseTheCollectionDirectly.cs#L91) to the analyzer. And, yes, we can consider to extend it as mentioned in the comment.

[2017-11-03 23:33] dfederm commented on #1331
Here's a stack trace:

[code]

[2017-11-03 23:43] dfederm commented on #1331
Looks like it's caused by dotnet/roslyn#21407 and fixed by #1308. We just need a new version of the Microsoft.CodeAnalysis.FxCopAnalyzers Nuget I think.

[2017-11-05 16:35] jamesqo commented on #1298
I did a little bit of investigating: part of the reason why it's not working is [this Roslyn issue](https://github.com/dotnet/roslyn/issues/23017). However, this issue isn't blocked, because the approach the fixer takes appears to be wrong in the first place. With

[code]

it currently tries to look at the type of the variable declaration, `IReadOnlyCollection<ApiDefinition>`, gets the element typ

[2017-11-05 17:40] jamesqo opened #1337 "CA1825 AvoidZeroLengthArrayAllocationsFixer should not attempt to look for a variable declaration"
#### Analyzer package

Microsoft.NetCore.Analyzers

#### Analyzer

AvoidZeroLengthArrayAllocationsFixer

#### Description

Cause of https://github.com/dotnet/roslyn-analyzers/issues/1298

The fixer should not assume that the `new int[0]` expression is being assigned in a variable declaration of some sort. e.g. It could be passed as an argument to a method call, be passed into an attribute, or used

[2017-11-06 19:21] #1319 closed

[2017-11-06 21:30] 333fred commented on #1337
@jamesqo we don't need a separate issue for the cause of another issue, just putting the comment there and fixing is fine.

[2017-11-06 21:30] #1337 closed

[2017-11-07 13:40] zvirja commented on #1321
@jinujoseph @mavasani Could you please prioritize this one? It prevents us from usage of new C# features making the code base polluted by suppression.

[2017-11-07 15:55] mavasani commented on #1321
Sure will investigate today

[2017-11-07 19:05] jamesqo commented on #1298
**From #1337:**

Cause of https://github.com/dotnet/roslyn-analyzers/issues/1298

The fixer should not assume that the `new int[0]` expression is being assigned in a variable declaration of some sort. e.g. It could be passed as an argument to a method call, be passed into an attribute, or used in an assignment that's not a declaration. The element type of the array should also be inferred from the

[2017-11-07 22:09] jamesqo opened #1338 "AvoidZeroLengthArrayAllocations formats while fixing code"
#### Analyzer package

Example: Microsoft.NetCore.Analyzers

#### Analyzer

Example: AvoidZeroLengthArrayAllocations

#### Repro steps

[code]

#### Expected behavior

[code]

#### Actual behavior

[code]

I haven't verified this empirically yet, only on unit test failures from introducing new tests. I can't figure out what the cause is; the current code calls `.WithLeadingTrivia(nodeToFix.Leading

[2017-11-07 22:50] mavasani commented on #1331
Yes, @dfederm pointed out, this issue should be fixed with latest FXCop analyzers preview package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62231-02 on latest VS2017 15.5 preview bits.

[2017-11-07 22:50] #1331 closed

[2017-11-07 22:54] mavasani commented on #1315
@k-vekos Microsoft Code Analysis 2017 VSIX extension is only meant for live analysis while typing in VS on VS2017.3. To enable execution of FxCopAnalyzers rules that are in this extension during a command line build you should use the FxCopAnalyzers nuget package. See https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages for further details on recommended package vers

[2017-11-07 22:54] #1315 closed

[2017-11-07 23:39] mavasani commented on #1321
Verified this works fine with latest FxCopAnalyzers preview package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62231-02 on latest VS internal drop. @jinujoseph Do we know what is that version for the latest VS2017.5 preview?

[2017-11-07 23:42] mavasani commented on #1321
Trying out this package with latest preview: https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes

[2017-11-07 23:50] mavasani commented on #1321
Confirmed issue no longer repros with https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62231-02 on Visual Studio version 15.5 Preview 3 https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes

[2017-11-07 23:50] #1321 closed

[2017-11-07 23:52] zvirja commented on #1321
@mavasani Thank you a lot for the verification and confirmation! :star2:

Meaning, that we should simply wait for the NuGet release, which is expected in the nearby month and there issue will be no longer present..

Likely, we can close the issue (it's still better to rename it) as no actions are required.

Thank you again for your help!

[2017-11-08 07:07] verysimplenick commented on #1331
@mavasani what about [plugin](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017)?

[2017-11-08 07:24] jinujoseph commented on #1331
vsix plugin has not been updated to the latest yet.
We will release an updated plugin in next two weeks.

[2017-11-08 15:33] shibaev opened #1340 "'System.InvalidOperationException' with message 'Feature 'IOperation' is disabled.'"
1. Build attached project in Visual Studio 2017 Community Edition 15.4.2
[AnalyzeMultiTarget.zip](https://github.com/dotnet/roslyn-analyzers/files/1454404/AnalyzeMultiTarget.zip)
2. Build log includes a lot of warnings unrelated to the code:
[code]

This issue does not happen in another (real) project.
VS Extension for Code Analysis is not installed.

[2017-11-08 15:39] mavasani commented on #1340
You need to add the following property to your project file:

[code]

If you are on latest VS2017.5 Preview 3 (https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes) and using the latest analyzers package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62231-02, then you do not need this feature flag.

[2017-11-08 15:39] #1340 closed

[2017-11-08 15:42] shibaev opened #1341 "Ability to disable Code Analysis for some platform or TargetFramework"
Use attached multi-framework project:
[AnalyzeMultiTarget.zip](https://github.com/dotnet/roslyn-analyzers/files/1454449/AnalyzeMultiTarget.zip)

I want to run Code Analysis only for .NET 4.0 and in Release configuration. I tried different approaches:
1. Apply Condition for TargetFramework or Configuration to PackageReference in csproj. E.g.:
[code]
2. Apply Condition to CodeAnalysisRuleSet
3. Use

[2017-11-08 15:46] shibaev opened #1342 "Ability treat Code Analysis warnings as errors"
Microsoft.CodeAnalysis.FxCopAnalyzers - do we have ability to treat Code Analysis warnings as errors?
With old version of Code Analysis it was possible via <CodeAnalysisTreatWarningsAsErrors> option in csproj.

You can use attached project - Code Analysis warning does not fail build process.
[AnalyzeMultiTarget.zip](https://github.com/dotnet/roslyn-analyzers/files/1454475/AnalyzeMultiTarget.zip)

[2017-11-08 15:48] mavasani commented on #1342
Yes, you can do this by either specifying explicit severity for each ID in a ruleset OR use /warnaserror on compiler command line so all compiler and analyzer diagnostics are errors.

[2017-11-08 15:48] #1342 closed

[2017-11-08 15:50] mavasani commented on #1342
You can also specify the MSBuild property `WarningsAsErrors` in project file, see https://msdn.microsoft.com/en-us/library/bb629394.aspx

[2017-11-08 15:53] shibaev commented on #1342
Thanks, sorry for bothering you with that issue. Forgot to set WarningsAsErrors option in demo project.

[2017-11-08 15:55] mavasani commented on #1341
Adding @tmeschter for guidance on whether this can be accomplished with the new project system.

[2017-11-08 15:55] shibaev commented on #1340
Thank you! Let me know if there is some kind of documentation, describing that and probably other tricks.

[2017-11-08 15:55] mavasani commented on #1340
@jinujoseph Do we have a wiki for IOperation feature flag.

[2017-11-09 15:03] shibaev commented on #1341
Found one workaround (rather a hack) that partially works:
1. Use dummy ruleset to suppress all warnings by default. Provide real ruleset for Release and .NET 4.0. Like that:
[code]

2. Unfortunately, empty (all rules disabled) DisableAllRules.ruleset is ignored now. We need to explicitly list all rules to suppress. E.g. for demo application attached here:
[code]

With such trick CA errors are onl

[2017-11-09 21:06] tmeschter commented on #1341
@shibaev Different `<CodeAnalysisRuleSet>` properties for different targets/platforms/configurations is how I would suggest you approach this.

I think the reason `DisableAllRules.ruleset` isn't disabling the rules is that you also have

[code]

So `DisableAllRules.ruleset` might turn everything off, and then `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` basically turns them back on as it

[2017-11-09 22:02] mavasani commented on #1341
Yes, that is correct. Thanks Tom!

[2017-11-10 00:28] mavasani opened #1345 "InterfaceMethodsShouldBeCallableByChildTypesAnalyzer should handle expression bodied members"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

InterfaceMethodsShouldBeCallableByChildTypesAnalyzer

#### Issue

This analyzer seems to analyze only operation blocks whose root operation is `OperationKind.Block`. They should also handle expression bodied members.

[2017-11-10 16:41] mavasani commented on #1345
@333fred Correctly pointed out that current implementation works fine for expression bodied members. Closing this issue.

[2017-11-10 16:41] #1345 closed

[2017-11-10 17:05] mavasani commented on #1341
@shibaev Is this issue good to close now?

[2017-11-10 17:07] mavasani commented on #1330
Dupe of https://github.com/dotnet/roslyn-analyzers/issues/1298

[2017-11-10 17:07] #1330 closed

[2017-11-10 17:09] mavasani commented on #1325
This should be fixed in 15.5

[2017-11-10 17:14] mavasani commented on #1313
Closing this issue as per https://github.com/dotnet/roslyn-analyzers/issues/1313#issuecomment-335415808

@daviddunson Please open another issue if you are still having trouble

[2017-11-10 17:14] #1313 closed

[2017-11-10 17:20] mavasani commented on #1320
Verified this is not reported by legacy FxCop (see internal implementation [here](http://index/?query=StaticHolderTypesShouldBeSealed&rightProject=FxCopSdk&file=InternalUtilities.cs&line=919) and is likely a common coding style. This should be fixed in 15.5

[2017-11-10 17:22] mavasani commented on #1293
@ivanbasov This was addressed by your fix, correct? If so, can you please close it out?

[2017-11-10 17:23] mavasani commented on #1311
Likely fixed in latest bits, validate and close.

[2017-11-10 17:28] mavasani commented on #1290
We already report CA2235 as a supported diagnostic: https://github.com/dotnet/roslyn-analyzers/blob/4e298f6afd156d5e958d21be8afe2c3cc99fdea3/src/Microsoft.NetFramework.Analyzers/Core/SerializationDiagnosticAnalyzer.cs#L89. This should not repro anymore, please re-activate if you can repro.

[2017-11-10 17:28] #1290 closed

[2017-11-10 17:36] mavasani commented on #1292
This should be fixed, it is not reported by FxCop.

[2017-11-10 17:37] mavasani commented on #1292
@kuhlenh as you found out in your study, this is leading to false positives for CA1052. Tagging @jinujoseph  as well.

[2017-11-10 17:38] mavasani commented on #1288
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1329

[2017-11-10 17:38] #1288 closed

[2017-11-10 17:39] mavasani commented on #1287
@ivanbasov Can you take this up? Looks similar to your fix https://github.com/dotnet/roslyn-analyzers/pull/1329 but for CA1000

[2017-11-10 17:40] mavasani commented on #1285
We should fix this @jinujoseph

[2017-11-10 17:40] mavasani commented on #1285
Also check for links on other analyzer packages.

[2017-11-10 17:44] mavasani commented on #1275
This was fixed in subsequent versions of this package. Can you please try later versions as per https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages?

[2017-11-10 17:44] #1275 closed

[2017-11-10 17:45] mavasani commented on #1273
Closing as dupe of dotnet/roslyn#11097. Kindly follow/comment on that issue.

[2017-11-10 17:45] #1273 closed

[2017-11-10 17:46] mavasani commented on #1270
This is a useful analyzer diagnostic that can go into Microsoft.CodeAnalysis.Analyzers package.

[2017-11-10 17:46] mavasani commented on #1269
We need to fix this for 15.5

[2017-11-10 17:56] mavasani commented on #1254
Current implementation matches legacy FxCop, but I agree we should fix this case. @jinujoseph

[2017-11-10 17:57] mavasani commented on #1253
Issue specific to our setup projects for VSIX

[2017-11-10 17:58] mavasani commented on #1246
Does not repro anymore

[2017-11-10 17:58] #1246 closed

[2017-11-10 18:07] mavasani commented on #1239
@skostic9242 This issue is not related to analyzers in this repo. If you are still having trouble, kindly open a separate issue on https://github.com/dotnet/roslyn/issues.

[2017-11-10 18:07] #1239 closed

[2017-11-10 18:08] mavasani commented on #1237
This is not related to analyzers or analyzer in this repo. This is a VS feature, so kindly report it on https://github.com/dotnet/roslyn/issues.

[2017-11-10 18:08] #1237 closed

[2017-11-10 18:08] shibaev commented on #1341
I will check on our real project and let you know if it works.

Anyway, that cannot be a fundamental solution. Currently, I must put the following to DisableAllRules.ruleset:
[code]
At some point you will add some new rule and that fragile project configuration will break - Code Analysis begin to run in all configuration.

That is strange why do you perform analysis when ruleset is empty:
[code]

[2017-11-10 18:10] mavasani commented on #1225
@tmat  Is this still valid? I thought we ported the required internal utilities to our utilities project...

[2017-11-10 18:11] mavasani commented on #1341
@shibaev Kindly file a separate feature request on https://github.com/dotnet/roslyn/issues. This issue is not related to analyzers in this repo.

[2017-11-10 18:11] #1341 closed

[2017-11-10 18:41] tmat commented on #1225
There is still this: https://github.com/dotnet/roslyn-analyzers/blob/af8c297b65db728debfda84555a515298a3ee9ab/src/Test.Utilities/Directory.Build.targets#L3

[2017-11-10 20:13] mavasani commented on #1214
This is now not blocked, we can move it to use IOperation.

[2017-11-10 20:25] mavasani commented on #1175
Verified no repro on latest VS1017.5 preview build with latest analyzer package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.Net.RoslynDiagnostics/2.6.0-beta1-62231-02

[2017-11-10 20:25] #1175 closed

[2017-11-10 20:28] mavasani commented on #1220
@333fred This is no longer blocked, removing the blocked tag.

[2017-11-10 20:29] mavasani commented on #1230
@jinujoseph What needs to happen here?

[2017-11-10 20:31] #1333 closed

[2017-11-10 20:37] jinujoseph commented on #1230
@nguerrera , just followed up on this and should just get done in couple of weeks , moving this to 15.6 to keep a track of.

[2017-11-10 21:56] mavasani commented on #1292
Seems similar to https://github.com/dotnet/roslyn-analyzers/issues/1320 but the test case seems to be different (public ctor and static fields).

[2017-11-10 22:15] mavasani opened #1347 "CA1034 (Nested types should not be visible) reported for delegate declaration"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

NestedTypesShouldNotBeVisibleAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA1034

#### Actual behavior
`warning CA1034: Do not nest type B. Alternatively, change its accessibility so that it is not externally visible.
`

[2017-11-10 22:17] mavasani opened #1348 "CA2229 (Implement serialization constructors) reported for delegate declaration"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

SerializationRulesDiagnosticAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA2229

#### Actual behavior
`warning CA2229: Add a constructor to B with the following signature: 'protected B(SerializationInfo info, StreamingContext context)'.`

[2017-11-10 22:17] mavasani commented on #1348
Legacy FxCop skips delegate and interface types for serialization rules.

[2017-11-10 23:55] mavasani commented on #1300
This is no longer relevant as https://github.com/dotnet/roslyn/issues/21293 was Won't fixed.

[2017-11-10 23:55] #1300 closed

[2017-11-10 23:59] mavasani commented on #1299
Tests are unskipped.

[2017-11-10 23:59] #1299 closed

[2017-11-11 00:08] ivanbasov commented on #1293
Thank you, @mavasani! Yes, this is fixed with https://github.com/dotnet/roslyn-analyzers/pull/1329/

[2017-11-11 00:08] #1293 closed

[2017-11-11 04:21] shibaev commented on #1341
Ok, thank you for pointing me out.

[2017-11-12 02:01] BioTurboNick commented on #1313
I don't think this should be closed. The issue is that Code Analysis is failing. Disabling code analysis as per the noted comment appears to be a workaround, not a solution.

[2017-11-12 20:04] #1335 closed

[2017-11-12 20:04] #1348 closed

[2017-11-12 20:04] #1347 closed

[2017-11-13 22:59] sharwell commented on #1220
@333fred Why? I understand this if the method implements an interface method, but I don't understand in general why we'd want to avoid the warning. Unless there is another diagnostic which reports unimplemented methods separately?

[2017-11-13 23:03] 333fred commented on #1220
The issue is we don't want to have the ide generate code that is immediately flagged with warnings.

[2017-11-14 00:48] 333fred opened #1354 "CA1707 (Identifiers should not contain underscores) Should not trigger on methods annotated as tests"
We should probably support at least the frameworks that live unit testing supports here. In the roslyn-analyzers repo, we hit 928 instances of this being flagged.

[2017-11-14 00:56] 333fred commented on #933
Reproing in FxCopAnalyzersPackage.cs.

[2017-11-14 00:57] 333fred commented on #933
Whoops, misread this. This is a different scenario.

[2017-11-14 00:57] #933 closed

[2017-11-14 00:57] 333fred commented on #1191
This is not a dupe of #933.

[2017-11-14 00:58] 333fred commented on #1191
@mavasani, did we ever implement getting IOperations for code in attributes?

[2017-11-14 01:28] 333fred opened #1355 "Review unused cancellation tokens in non-shipping projects"
We have a 70+ instances of unused cancellation tokens. We need to review these and make sure they're being used. Reenabled CA1801 in the ruleset to view all.

[2017-11-14 02:25] sharwell commented on #1220
@333Fred I'm not sure I agree it's a problem. Also, since the most prominent cases are implementing an interface, it seems like a small issue. It applies to generating a new method from a call site, but the generated method is a single method that still does need to be implemented.

[2017-11-14 19:37] mavasani commented on #1354
In past the recommendation has always been to turn this off for test projects, but your suggestion seems like a good alternative to reduce noise.

[2017-11-14 19:49] mavasani commented on #1191
GetOperation should work for syntax nodes in attributes, but I presume we do not return an operation block for attribute for operation block analyzers. For now, we might need to add a workaround in the analyzer to detect this.

[2017-11-14 23:18] 333fred commented on #1220
@mavasani and I talked offline, and we can't come up with any other reasons for this. So I'm going to close this as won't fix and close the pr.

[2017-11-14 23:38] mavasani opened #1357 "CA1801 (unused parameter) fired for obsolete property setter with stub implementation"
This rule files for http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/CompilationOptions.cs,245

[code]

[code]

Should we avoid flagging this case?

[2017-11-15 00:08] mavasani opened #1359 "Do not fire CA1801 on lone parameter of struct constructor"
[code]

Removing unused parameter `ignored` causes C# compiler error that structs cannot contain explicit parameter-less constructors.

[2017-11-15 00:08] 333fred commented on #1320
Note that the reason that a diagnostic is not reported here is _not_ because the type is sealed. The original FxCop implementation did not report an error because of the private constructor. A note from the original implementation:
[code]

[2017-11-15 01:14] 333fred commented on #1311
Confirmed, this no longer repros.

[2017-11-15 01:14] #1311 closed

[2017-11-15 15:16] mavasani commented on #1285
Verified other hyperlinks are fine, just this one is broken.

[2017-11-15 18:11] #1292 closed

[2017-11-15 18:11] #1320 closed

[2017-11-15 18:56] #1217 closed

[2017-11-15 18:56] #1219 closed

[2017-11-15 18:57] #1274 closed

[2017-11-15 19:19] 333fred commented on #1357
I think we should. @sharwell, any opinion?

[2017-11-15 19:41] sharwell commented on #1357
I think it makes sense to avoid reporting a warning for methods that always throw `NotImplementedException` or `NotSupportedException`.

[2017-11-15 19:43] sharwell commented on #1357
💭 It might make sense to do a full pass and consider which warning never really make sense in `Obsolete` methods.

[2017-11-15 21:57] 333fred commented on #1357
Talked with @sharwell offline. He misread the intent of https://github.com/dotnet/roslyn-analyzers/issues/1220, so I'll resurrect that PR, which will fix this bug. Separately, we should look at other warnings on methods annotated with `Obsolete`.

[2017-11-15 22:31] chborl opened #1364 "Test infrastructure says it's using C# 7 but "nameof" is not defined"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

Example: UseNameofInPlaceOfString

#### Repro steps
1. Get unit test file here: \roslyn-analyzers\src\Microsoft.CodeQuality.Analyzers\Core\Maintainability\UseNameofInPlaceOfString.Fixer.cs
2. Remove these parameters `allowNewCompilerDiagnostics: true, validationMode: TestValidationMode.AllowCompileErrors` from the VerifyCSharpF

[2017-11-15 22:46] sharwell commented on #1220
:memo: When I originally read this, I was thinking the warning was reporting that `Unimplemented` (the method) was unused.

[2017-11-15 23:10] #1270 closed

[2017-11-15 23:14] #1285 closed

[2017-11-15 23:39] mavasani commented on #1269
@jinujoseph @333fred @sharwell We have over 100 violations of this rule in the Roslyn analyzers repo, mostly for our custom implemented rules. How do we want to handle these? Create a landing help page for the repo and point there?

[2017-11-16 00:02] #1220 closed

[2017-11-16 00:02] #1357 closed

[2017-11-16 00:17] 333fred commented on #1325
This is actually a break from FxCop behavior, but we agree that this should be changed.

[2017-11-16 06:30] scott-lin commented on #413
Is this done? I see #912 implements this rule and it is merged into master.

[2017-11-16 12:51] msbasanth commented on #1081
I am using Microsoft FxCop Analyzers v2.3.0-beta1 in my code base. I am seeing violations from CA1309 when using '==' for comparison.
Any idea which version of FxCop Analyzer we have this fix?

[2017-11-16 13:39] sharwell commented on #1325
I'm not sure I agree with the change. For example, would this change cause a warning to no longer be reported on a type that extends [`ArrayList`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.arraylist)?

[2017-11-16 14:38] mavasani commented on #1081
Can you try 2.6.0-beta1? Details here: https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages

[2017-11-16 14:53] mavasani commented on #413
@scott-lin This is due to a bug in the underlying Microsoft.CodeAnalysis package in 2.3 bits. Can you try the latest 2.6.0-beta1 bits on VS 2017.5: https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages

[2017-11-16 14:54] mavasani commented on #413
The analyzer for this is done - fixer is still needed.

[2017-11-16 15:01] mavasani commented on #1312
We seem to be already handling this case: https://github.com/dotnet/roslyn-analyzers/blob/5d1759cee1cd38990cbf222b97ba46efbcf058e8/src/Microsoft.NetFramework.Analyzers/Core/SerializationRulesDiagnosticAnalyzer.cs#L268

Please try with the latest analyzer package on latest VS release: https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages

[2017-11-16 15:01] #1312 closed

[2017-11-16 17:01] sharwell commented on #1269
@mavasani StyleCop Analyzers keeps the documentation in the repository, and links there. We could at least do that for the ones that don't have pages yet on docs.microsoft.com.

[2017-11-16 17:12] sharwell commented on #1359
💭 The code fix could convert the constructor to a method with the following content:

[code]

[2017-11-16 17:37] qinxgit commented on #413
Just curious, now the Desktop Analyzers are renamed to “FxCop Analyzers”?

From: Manish Vasani [mailto:notifications@github.com]
Sent: Thursday, November 16, 2017 6:54 AM
To: dotnet/roslyn-analyzers <roslyn-analyzers@noreply.github.com>
Cc: Rick Qing Xu <qinx@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn-analyzers] Port FxCop rule CA1305: SpecifyIFormatProvider (

[2017-11-16 17:44] mavasani commented on #413
@qinxgit No, we have NetFramework and NetCore analyzers. See https://github.com/dotnet/roslyn-analyzers/blob/master/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.Package.csproj#L15

[2017-11-16 17:50] mavasani commented on #1150
@ivanbasov Can you please check if this repros after https://github.com/dotnet/roslyn-analyzers/pull/1327?

[2017-11-16 17:50] mavasani commented on #952
@ivanbasov Can you please check if this repros after https://github.com/dotnet/roslyn-analyzers/pull/1327?

[2017-11-16 17:55] mavasani commented on #1310
@jinujoseph @kuhlenh Who should take this up?

[2017-11-16 18:41] jinujoseph commented on #1269
I agree, lets create a wiki link that we land people , it will be easy to manage and tweet .. we can think of moving this later to docs.microsoft.com cc @kuhlenh , @AnthonyDGreen

[2017-11-16 18:50] mavasani commented on #1269
We already have documentation files per-analyzer package, for example https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Microsoft.CodeQuality.Analyzers.md. Each of these files list the implemented rule with basic description, category, default severity and hyperlink to official documentation (msdn links currently, which can be separately updated to docs.mic

[2017-11-16 21:07] mavasani opened #1369 "CA1806 (Do not ignore method results) reports in tests verifiying exceptions"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotIgnoreMethodResultsAnalyzer: https://msdn.microsoft.com/en-us/library/ms182273.aspx

#### Repro steps

1. git clone https://github.com/JamesNK/Newtonsoft.Json
2. Install latest FxCopAnalyzers package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62315-01 to t

[2017-11-16 21:08] mavasani commented on #1369
@333fred @sharwell @jinujoseph @kuhlenh Thoughts?

This is one of the rules that we turned on by default in our VSIX.

[2017-11-16 21:12] #1202 closed

[2017-11-16 21:32] mavasani opened #1370 "CA1812 (Avoid uninstantiated internal classes) doesn't account for subtypes being instantiated"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AvoidUninstantiatedInternalClassesAnalyzer

#### Repro steps

[code]

#### Expected behavior

No CA1812 on any of the types

#### Actual behavior

CA1812 is reported for `A` and `C`

[2017-11-16 21:32] mavasani commented on #1370
This diagnostic is enabled by default in VSIX and leading to quite a few false reports on real world solutions.

[2017-11-16 21:34] mavasani commented on #1370
We should probably just skip any type which has a subtype in the compilation to reduce noise.

[2017-11-16 21:36] mavasani commented on #1370
Fact that diagnostic is reported on `A` and analyzer is registering for all object creation expressions likely indicates an IOperation bug that we are not making callbacks for executable code in ctor initializers, which needs a corresponding bug to be filed in Roslyn.

[2017-11-16 22:29] mavasani opened #1372 "False reports for CA1816 (Dispose methods should call SuppressFinalize)"
#### Analyzer package

 Microsoft.NetCore.Analyzers

#### Analyzer

CallGCSuppressFinalizeCorrectlyAnalyzer

#### Repro steps

1. git clone https://github.com/JamesNK/Newtonsoft.Json
2. Install latest FxCopAnalyzers package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62315-01 to the solution
3. Filter down to CA1816 diagnostics, su

[2017-11-16 23:14] mavasani opened #1373 "CA1720 (Identifiers should not contain type names) noise for enum fields"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

IdentifiersShouldNotContainTypeNames

#### Repro steps

1. git clone https://github.com/JamesNK/Newtonsoft.Json
2. Install latest FxCopAnalyzers package https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62315-01 to the solution
3. Filter down to CA1720 diagnostics, su

[2017-11-16 23:15] mavasani commented on #1373
Note there are around 480 violations for this rule in Newtonsoft.json repo and all of them are for enum field names.

[2017-11-16 23:24] mavasani opened #1374 "CA1721 (Property names should not match get methods) fires on every type that has a property named Type"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

PropertyNamesShouldNotMatchGetMethodsAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA1721. FxCop does not fire for this case.

#### Actual behavior
`warning CA1721: The property name 'Type' is confusing given the existence of method 'GetType'. Rename or remove one of these members.`

We should ignore `Object.Get

[2017-11-16 23:34] mavasani opened #1375 "CA1801 (Review unused parameters) needs an option to ignore effectively public methods"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ReviewUnusedParametersAnalyzer

#### Suggestion

We need some way to configure the analyzer to ignore effectively public methods - lot of clients would not want their shipped public API surface to change/be flagged (for example, Roslyn itself). This is not going to be trivial until we implement analyzer options API. So, meanwhi

[2017-11-16 23:41] mavasani opened #1376 "CA1801 (Review unused parameters) in presence of preprocessor directives"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ReviewUnusedParametersAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA1801

#### Actual behavior
[code]

[2017-11-17 00:20] mavasani commented on #1376
This is causing extremely large number of false reports in code written for multi-targeting projects which have lot of preprocessor directives to conditionally compile code for specific frameworks.

[2017-11-17 00:21] mavasani commented on #1376
This issue also affects remove unused local rule and we may want to update both rules simultaneously to handle these cases.

[2017-11-17 04:23] msbasanth commented on #1081
I am working with Visual Studio 2017 v15.4.4 and tried to import 2.6.0-beta1 analyzers using,

Install-Package Microsoft.CodeAnalysis.FxCopAnalyzers -Version 2.6.0-beta1-62231-02 -Source https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json

It looks like analyzer is unable to load properly, I am seeing an info sign in the Analyzers section in References.

![image](https://user-images.gith

[2017-11-17 14:54] sharwell commented on #1369
I see two potential options:

1. Add `_ =` (a discard)
2. Suppress the warning for the last statement of a lambda passed to `ExceptionAssert.Throws` (NUnit), `Assert.Throws` (xUnit), or whatever MSTest offers for this

[2017-11-17 16:18] mavasani opened #1377 "False report for CA2222 (Do not decrease inherited member visibility)"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotDecreaseInheritedMemberVisibilityAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA2222

#### Actual behavior
[code]

[2017-11-17 16:19] mavasani commented on #1377
Causes quite a few false reports on Newtonsoft.json

[2017-11-17 16:24] mavasani opened #1378 "CA2222 false report for static methods (Do not decrease inherited member visibility)"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotDecreaseInheritedMemberVisibilityAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA2222

#### Actual behavior
[code]

[2017-11-17 16:29] sharwell commented on #1378
In its current form, this seems like a duplicate of #1377.

❓ Why do we have CA2222? Is there any case where it will be reported but CS0114 (Member hides inherited member; missing override keyword) is not reported?

[2017-11-17 16:35] sharwell commented on #1373
I'm currently :-1: on this change. The warning is based on the assumption that something like `Object` is referring to System.Object. In Json.NET, it's actually referring to a domain-specific type from the JSON specification. This is a case where suppression makes sense, because each of these identifiers is referencing something that is not actually a .NET type. There is no way to know from lookin

[2017-11-17 16:38] sharwell commented on #1374
I'm undecided here. Clearly the situation falls into the category this rule was intended to detect. The possibly-redeeming factor is enough people have seen `GetType` to not get it confused.

[2017-11-17 16:41] sharwell commented on #1376
I would like to get a better understanding of the situation before proceeding with this change.

[2017-11-17 16:44] sharwell commented on #1354
I think I prefer the approach of @mavasani here.

[2017-11-17 16:49] mavasani commented on #1378
It seems majority of cases where CA2222 is reported will have compiler error/warning, but the example listed at https://msdn.microsoft.com/en-us/library/ms182332.aspx has no compiler diagnostic. We should probably revisit whether we need this diagnostic at all.

[2017-11-17 16:52] mavasani commented on #1378
More notes:

1. Even VB seems to have compiler diagnostics for shadowing base members (we need to verify the overlap for VB diagnostic with CA2222)
2. Regardless of whether we keep or retire CA2222, the fixer should be retained.

[2017-11-17 16:53] sharwell commented on #1378
@mavasani In the example, the use of the `new` keyword is equivalent to an intentional suppression IMO. Unless we can find a case, I believe we should retire CA2222.

[2017-11-17 16:55] sharwell commented on #1241
How does the diagnostic fire in this case for release builds?

[2017-11-17 16:57] sharwell commented on #1216
I would leverage the rules for inferring tuple names here - if the effective name of an argument value matches a different parameter name, report a diagnostic.

[2017-11-17 17:24] mavasani commented on #1376
@jinujoseph @kuhlenh We should probably setup a meeting sometime next week to discuss few of these contentious issues (probably more will come up as I run our analyzers on more code bases).

[2017-11-17 17:25] mavasani commented on #1376
@sharwell You can see the amount of false positives by turning on this rule on Newtonsoft.json - majority of violations are in this category and something that cannot be fixed.

[2017-11-17 22:14] mavasani commented on #1378
@sharwell Another case where CA2222 is reported but there is no compiler warning:

1. Hiding method (private non-static): https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/UnitTests/ApiDesignGuidelines/DoNotDirectlyAwaitATaskTests.cs#L274
2. Inherited method (protected static): : https://github.com/dotnet/roslyn-analyzers/blob/master/src/Test.Utilities/Diag

[2017-11-17 22:17] mavasani commented on #1378
Marking this for discussion and tagging @jinujoseph @kuhlenh

[2017-11-17 22:42] mavasani commented on #1355
@333fred All violations here seem to be in non-shipping MetaCompilation.Analyzers project. I will send a PR to move the suppression to non-shipping ruleset.

[2017-11-17 23:09] mavasani commented on #1378
@sharwell Pointed out that our CA2222 implementation is buggy and should not fire for https://github.com/dotnet/roslyn-analyzers/issues/1378#issuecomment-345380212. I verified FXCop does not fire for this case and also verified that the [implementation](http://index/?query=DoNotDecreaseInheritedMemberVisibility&rightProject=UsageRules&file=DoNotDecreaseInheritedMemberVisibility.cs&line=31) checks

[2017-11-17 23:21] 333fred commented on #1325
@sharwell we can probably update the change to flag anything that directly inherits from a type in `System.Collections`. However, I'm still of the opinion that we shouldn't be flagging all descendants of these things, as that's a good way to create a lot of noise, especially in scenarios like the original one here that are out of a user's control.

[2017-11-17 23:21] mavasani opened #1380 "Fixer for CA1309 does not support FixAll"
#### Analyzer package

Microsoft.NetCore.Analyzers

#### Analyzer

UseOrdinalStringComparison.Fixer

#### Repro steps

![image](https://user-images.githubusercontent.com/10605811/32973167-ed60f16a-cbaa-11e7-88fe-0184a877b017.png)

[2017-11-17 23:27] mavasani opened #1381 "Fixer for CA2231 has no FixAll support"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

OverloadOperatorEqualsOnOverridingValueTypeEquals.Fixer.cs

[2017-11-17 23:29] mavasani opened #1382 "Audit all fixers in repo for missing FixAll support and add unit tests"
I found 2 cases where we have a code fix, but no FixAll support: https://github.com/dotnet/roslyn-analyzers/issues/1380 and https://github.com/dotnet/roslyn-analyzers/issues/1381. Additionally there are no FixAll unit tests in our repo. @ivanbasov is planning to add some FixAll test infrastructure support, and we should use that to ensure that we have FixAll tests for every single code fix that we

[2017-11-17 23:29] mavasani commented on #1382
Tagging @jinujoseph @kuhlenh

[2017-11-17 23:35] 333fred commented on #1081
Yes, although it's Preview 4 now. 2.6.0-beta1 will not run on 15.3.

[2017-11-17 23:44] mavasani opened #1383 "Fix message for CA2222 to match FxCop"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DoNotDecreaseInheritedMemberVisibilityAnalyzer
#### Repro steps

This needs to be fixed: https://github.com/dotnet/roslyn-analyzers/blob/af8c297b65db728debfda84555a515298a3ee9ab/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/MicrosoftApiDesignGuidelinesAnalyzersResources.resx#L372

#### Expected behavior
Diagnosti

[2017-11-17 23:44] mavasani commented on #1383
Depends on our decision for https://github.com/dotnet/roslyn-analyzers/issues/1378

[2017-11-17 23:47] mavasani commented on #1378
Tagging @nguerrera if he recalls any specific reason/scenario for having [CA2222](https://msdn.microsoft.com/en-us/library/ms182332.aspx) in FXCop other than the fact that FXCop was MSIL based and did not have duplication with compiler diagnostics.

[2017-11-18 00:23] sharwell commented on #1382
StyleCop Analyzers runs a Fix All test automatically for every code fix test.

[2017-11-18 00:24] mavasani commented on #1382
We should do that too..

[2017-11-18 00:25] sharwell commented on #1325
@333fred I wouldn't say it's out of the user's control. It's pretty easy to add an `IEnumerable<T>` implementation if you already have an `IEnumerable` implementation on the object.

[2017-11-18 00:39] 333fred commented on #1325
I would argue that in this scenario, there's no point to them adding that implementation. Likely the user is creating this object to extend an existing framework, which won't take advantage of the `IEnumerable<T>` implementation, and they quite possibly won't use it themselves. Additionally, this change ensures that this warning doesn't proliferate through a type hierarchy that a user has defined,

[2017-11-18 01:25] 333fred commented on #1374
Having a property named `Type` is pretty common. Roslyn uses it extensively, for example. I'm in favor.

[2017-11-18 13:19] sharwell commented on #1325
@333fred the exception appears to be a deviation from the primary intent of the rule. It's alerting the user that an implementation appears to be out-of-date with respect to current practices, and to verify that the code is correct. In the original example, updating `MyClass` to extend `UpdatedThirdPartyType` instead of a legacy type `ThirdPartyType` might fix the issue. For the rare case where th

[2017-11-19 02:16] jamesqo opened #1387 "Implement Async005: PropogateCancellationTokensWhenPossible"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

PropogateCancellationTokensWhenPossible

[2017-11-19 02:17] jamesqo commented on #1387
I am opening this issue since I would like to be the one to implement this. @333fred / @mavasani, can you please assign me?

[2017-11-19 08:48] msbasanth commented on #1081
In our environment, we are using VS2017 but not strict about which version. If we roll out  FxCop Analyzers we have to make sure everybody use the same version of Visual Studio 2017.

Any idea when IOperation API will be shipped so that we will have an analyzer package which won't be tightly tied to a Visual Studio 2017 Version.

[2017-11-19 09:02] jinujoseph commented on #1081
Ioperation API are shipped as part of Preview 4 and tentative plan is to go RTW by end of the year.

[2017-11-19 19:37] jamesqo opened #1389 "PDB files are not loaded when debugging VSIX"
After merging the latest changes to `master`, I noticed that it's now possible to debug the VSIX that gets outputted. However, Visual Studio still isn't loading the appropriate debugging symbols, so none of the breakpoints I set are hit:

<img width="960" alt="no_symbols" src="https://user-images.githubusercontent.com/9159214/32994561-1a32ac00-cd37-11e7-8104-1d9e39c7564a.PNG">

[2017-11-20 16:02] mavasani commented on #1389
/cc @tmat @333fred

[2017-11-20 17:37] tmat commented on #1389
Are the PDBs are included in the VSIX?

[2017-11-20 17:39] tmat commented on #1389
Actually, with the very latest master the PDBs should be embedded again.

[2017-11-20 19:33] tmat commented on #1389
@jamesqo Could you try again with the latest master? I made some changes that should address this.

[2017-11-20 22:47] #1008 closed

[2017-11-21 01:25] 333fred commented on #1325
@sharwell we agree on what the intent of the rule, but it feels to me like the noise-signal ratio will be much improved with this change. @mavasani, did you get any metrics on scenarios like this when you were running code on popular repositories? Is this an issue that will affect more than a couple of users?

[2017-11-21 02:01] #1374 closed

[2017-11-21 15:31] benaadams opened #6231 "Warnings for `in`/`readonly ref`"
Primitive value-types that will be passed by register (`byte`, `short`, `int`, etc) should generate a warning when passed as `in` as passing by readonly reference in the common case is likely a deoptimization error (dereference vs register)

Reference-types should generate a warning when passed as `in` as passing by readonly reference in the common case is likely a deoptimization error (double der

[2017-11-21 16:42] mavasani commented on #1325
Newtonsoft did have couple of reports for types inheriting from ArrayList. I hope to execute on other repos soon.

[2017-11-21 16:48] mavasani commented on #1325
I think we should either implement Fred’s suggestion of reducing the noise OR give a different error message for an indirect violation, something that recommends inheriting from a variant of the type if possible or suppress if required. I just got an internal customer raise a similar request: they are deriving from JObject and get this report and are not sure if it is okay to suppress or not.

[2017-11-21 19:28] mavasani commented on #1389
Closing this as per Tomas' comments above. @jamesqo kindly let us know if you are still facing this issue.

[2017-11-21 19:28] #1389 closed

[2017-11-21 20:45] ivanbasov opened #1391 "Develop an infrastructure for FixAll tests"
FixAll tests for certain scenarios can be involve more than 1 file and even more than 1 project. Need to provide an infrastructure to cover these scenarios.

[2017-11-21 21:25] 333fred commented on #1372
That extension was short-circuiting by checking to see if the method was named "Dispose". When explicitly implementing, the name is actually `System.IDisposable.Dispose`.

[2017-11-22 08:29] #1372 closed

[2017-11-22 18:36] mavasani opened #1393 "CA1801 false reports for importing constructors"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ReviewUnusedParameters

#### Repro steps

Project system repo has numerous importing constructors which have parameters just to ensure the corresponding objects get loaded. For example, see https://github.com/dotnet/project-system/blob/7257a618f673c798b214955d9baff11d5c2bcbb3/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/

[2017-11-22 18:36] mavasani commented on #1393
@jinujoseph @sharwell @333fred Thoughts?

[2017-11-22 18:38] jinujoseph commented on #1393
i agree

[2017-11-22 18:40] sharwell commented on #1393
I currently disagree. When I look at that method, the conclusion I arrive at is "this type is obviously more expensive than necessary for composition; removing the parameter will improve performance with no negative side effect since it isn't used."

[2017-11-22 18:41] mavasani commented on #1393
Adding @davkean for his view - I see this pattern very commonly used across CPS and project system code base.

[2017-11-22 18:43] sharwell commented on #1393
Outside of whatever CPS is doing, this is a case where CA1801's value goes beyond simply usage and actually can help users maintain a lean code base. I would expect CPS to need suppressions and documentation to explain these uses, since it's otherwise unclear to a reader.

[2017-11-22 18:45] mavasani commented on #1393
@davkean Does this seem reasonable to you?

[2017-11-22 18:46] jinujoseph commented on #1393
i worry about the noise , and hence getting suppressed for all scenario.

[2017-11-22 18:49] mavasani commented on #1393
I personally feel presence of `[ImportingConstructor]` attribute is essentially conveying that I am importing this for a specific reason (one of which is for force loading the parameter objects), and forcing user to add suppression unnecessarily clutters the code.

[2017-11-22 19:16] mavasani opened #1394 "CA1801 false report for implicit interface implementation"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ReviewUnusedParameters

#### Repro steps

Open

#### Expected behavior
No CA1801 for https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS.UnitTests/ProjectSystem/VS/Tree/Dependencies/Snapshot/TestDependency.cs#L42 as it implicitly implements the interface method on IDependency

[2017-11-22 20:51] sharwell commented on #1393
I would propose deferring this issue and see if it hits other projects. It (leaving it enabled with the current behavior) may prove to not be an issue after all.

[2017-11-22 21:03] mavasani opened #1395 "Missing FixAll support for CA1036"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

OverrideMethodsOnComparableTypesFixer

#### Repro steps

We have a code fix but no FixAll support: https://github.com/dotnet/roslyn-analyzers/blob/4e298f6afd156d5e958d21be8afe2c3cc99fdea3/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/OverrideMethodsOnComparableTypes.Fixer.cs#L18

[2017-11-22 21:04] mavasani commented on #1382
Found one more: https://github.com/dotnet/roslyn-analyzers/issues/1395

At this point, I am going to write an analyzer to warn when a CodeFixer does not override GetFixAllProvider.

[2017-11-22 21:17] mavasani opened #1396 "CA1036 needs separate messages for overriding Equals and Operator methods"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

OverrideMethodsOnComparableTypesAnalyzer

#### Repro steps

See diagnostic messages in https://github.com/dotnet/project-system/issues/2979. The diagnostic incorrectly states that the type should override Equals, when it already does so. The reason is that we give the same diagnostic message `// CA1036: {0} should override Equa

[2017-11-22 21:26] mavasani commented on #1369
Executed this on https://github.com/dotnet/project-system and almost all instances of this rule are for tests validating exceptions.

We either need to call this rule out as a non-test project rule (so disable via ruleset for test projects) OR avoid such false reports. I do not think it is acceptable to add in source suppressions for each of these violations, as they are just too many.

[2017-11-22 21:32] sharwell commented on #1369
@mavasani My option 2 would be an automatic suppression in the analyzer, no user action required.

[2017-11-22 21:34] mavasani commented on #1369
Ah, I misread it as requiring user suppression. I agree with option 2.

[2017-11-22 21:35] sharwell commented on #1382
@mavasani Consider an exception in the analyzer has [`NoCodeFixAttribute`](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers/NoCodeFixAttribute.cs) applied to it.

[2017-11-22 21:37] mavasani commented on #1382
@sharwell I was planning to write an operation analyzer that fires if the fixer invokes RegisterCodeFix (or related) method, but does not override GetFixAllProvider.

[2017-11-22 21:56] mavasani opened #1397 "CA1033 message need to be more specific"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

InterfaceMethodsShouldBeCallableByChildTypesAnalyzer

#### Repro steps

See https://github.com/dotnet/roslyn-analyzers/blob/af8c297b65db728debfda84555a515298a3ee9ab/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/MicrosoftApiDesignGuidelinesAnalyzersResources.resx#L304

#### Expected behavior
Message contains speci

[2017-11-22 22:09] sharwell commented on #1382
@mavasani 👍 That would even handle cases like this: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/90b322ac8b0ed6f4067c7a99e80cc834134ad54e/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/DocumentationRules/SA1649CodeFixProvider.cs#L27-L32

[2017-11-22 22:26] mavasani opened #1398 "False reports for CA1019 (DefineAccessorsForAttributeArgumentsAnalyzer) in presence of multiple constructors"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

DefineAccessorsForAttributeArgumentsAnalyzer

#### Repro Steps

Open https://github.com/dotnet/project-system/blob/master/ProjectSystem.sln and enable CA1019 as a Warning here: https://github.com/dotnet/project-system/blob/master/build/Default.ruleset

Open file:
https://github.com/dotnet/project-system/blob/master/src/Microsof

[2017-11-22 22:28] mavasani commented on #1398
We also seem to have a false report for second parameter `file` over here: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Properties/InterceptedProjectProperties/ExportInterceptingPropertyValueProviderAttribute.cs#L20. It is used only to compute some value that is passed to the constructor initializer.

[2017-11-22 22:31] sharwell commented on #1398
Ran out of time for today, but this is *interesting*!! Have to look next week.

[2017-11-22 22:32] mavasani commented on #1398
And one more here: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/ExportProjectNodeComServiceAttribute.cs#L16

I think we should only flag this for parameters that are directly assigned to fields in the constructor, without any other explicit operations on the parameter reference.

[2017-11-22 22:51] #461 closed

[2017-11-22 23:40] mavasani opened #1399 "CA1822 (Mark member as static) fires for almost every unit test"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

MarkMembersAsStaticAnalyzer

#### Repro steps

Open an unit test project which has unit test methods with [Fact] attribute.

#### Expected behavior
No CA1822.

#### Actual behavior
CA1822 for every single unit test

[2017-11-22 23:41] mavasani commented on #1399
This is causing extremely large number of false reports (80%+ of all CA diagnostics on project-system repo).

[2017-11-22 23:42] mavasani commented on #1399
We can consider calling this non-test project rule, but there are actual real violations in helper methods in test projects that this rule is able to report. I would prefer us taking a shot at reducing noise here.

[2017-11-22 23:47] mavasani commented on #870
FYI @chborl for nameof rule

[2017-11-22 23:56] mavasani opened #1400 "Write an operation analyzer that fires if the fixer invokes RegisterCodeFix (or related) method, but does not override GetFixAllProvider"
#### Analyzer package

Microsoft.CodeAnalysis.Analyzers

#### Analyzer

N/A

[2017-11-23 00:04] mavasani opened #1401 "CA2227 (Collection properties should be read only) needs a better message"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

Example: IdentifiersShouldNotMatchKeywords

#### Repro steps

See https://github.com/dotnet/roslyn-analyzers/blob/af8c297b65db728debfda84555a515298a3ee9ab/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/MicrosoftApiDesignGuidelinesAnalyzersResources.resx#L409

The message seems to match the title. We should fix it

[2017-11-23 00:37] mavasani opened #1402 "CA1725 FixAll is not helpful"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ParameterNamesShouldMatchBaseDeclarationFixer

#### Repro steps

[code]

#### Expected Behavior
FixAll for CA1725 fixes all CA1725 instances

#### Actual Behavior
FixAll only fixes instances where parameter name matches the instance on which FixAll was triggered. This means one has to manually fix almost all the violations.

[T

[2017-11-24 12:05] emre-aki commented on #1313
I am facing the same exact issue. When I configure the ruleset to my project as the default provided by Sonarqube, named 'The Sonar way', the build succeeds perfectly. However when I set the project ruleset to be a custom one, I get CA0055 and CA0052 and the build fails midway through the MSBuild 15.0 task.

I tried the workaround suggested by @dvm-2k1 but had no luck there.

[2017-11-24 12:26] daviddunson commented on #1313
The workaround that I am currently using until the FxCopAnalyzers is completed is to set <targetframeworks> to include at least one .NET Framework target (i.e. net40), and enable Code Analysis only on that target framework.

[code]

The disadvantage to this is that it will not catch any code that is not .NET Framework compliant (i.e. #if !NET40).

Do not enable Code Analysis on multiple target fra

[2017-11-24 18:00] MrMikeJJ opened #1404 "CA2000 - False positives"
#### Analyzer package
Microsoft.CodeQuality.Analyzers

#### Analyzer
CA2000: Dispose Objects Before Losing Scope

#### Repro steps

1. Follow https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope for example good code
2a) Allow IDE0017 to be applied - Object initialization can be simplified - on the temporary object
or
2b) Add a catch statement
or
2c

[2017-11-24 18:49] emre-aki commented on #1313
Our project is actually implemented using dotnet core 2.0.0, not .NET Framework. So you are saying, by using this workaround, I won't be able to get SonarQube Scanner to run an analysis on my code?

[2017-11-27 16:43] mavasani commented on #1404
@MrMikeJJ Can you please tell us the version of the analyzer package and VS version you are using?

[2017-11-27 16:56] MrMikeJJ commented on #1404
Hi Mavasani,
Certainly :)
I am using Visual Studio Professional 2017 - Version 15.4.4
This is found using the analyzer built into Visual Studio, under "Run Code Analysis on Solution".
According to the output window, this is C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Team Tools\Static Analysis Tools\FxCop\FxCopCmd.exe
That program reports itself as
Microsoft (R) FxCop Command-

[2017-11-27 16:58] mavasani commented on #1404
@MrMikeJJ That is the legacy version of FxCop tool which performs binary analysis, not the FxCopAnalyzers package. CA2000 has not yet been implemented, see [this issue](https://github.com/dotnet/roslyn-analyzers/issues/476) and current [stub implementation](https://github.com/dotnet/roslyn-analyzers/blob/6ff9c17d8fc05fae8b1c48b7a4d25b1e080f0b97/src/Microsoft.CodeQuality.Analyzers/Core/QualityGuide

[2017-11-27 17:00] mavasani commented on #476
Need to ensure that issues mentioned in https://github.com/dotnet/roslyn-analyzers/issues/1404 are addressed when this is implemented.

[2017-11-27 17:10] mavasani commented on #1191
This should be fixed with the latest Roslyn fix that went into 15.5: Issue https://github.com/dotnet/roslyn/issues/23309, fixed with https://github.com/dotnet/roslyn/pull/23318. I will try to move the repo to newer Roslyn bits and verify the same.

[2017-11-27 18:18] #1284 closed

[2017-11-27 18:28] #1191 closed

[2017-11-27 18:39] jinujoseph commented on #950
pending humanizer approval

[2017-11-27 19:01] jinujoseph opened #1406 "Audit all the title , message , description for all the rules"

[2017-11-27 19:07] jinujoseph commented on #1338
fix available https://github.com/dotnet/roslyn-analyzers/pull/1339

[2017-11-27 19:08] jinujoseph commented on #1338
verify if this is same as https://github.com/dotnet/roslyn-analyzers/issues/1298

[2017-11-27 19:15] jinujoseph commented on #952
@ivanbasov , pls reverify this

[2017-11-27 19:46] mavasani opened #1407 "Consider turning on CA1063 (Implement IDisposable Correctly) by default in both nuget and VSIX"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta1-62322-01](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers/2.6.0-beta1-62322-01)

#### Analyzer

ImplementIDisposableCorrectlyAnalyzer

#### Suggestion

I think the rule is very useful and @333fred has recently fixed bunch of issues in the implementation.

[2017-11-27 22:37] mattscheffer opened #1408 "CA1801 false positives which disappears as you navigate to it via error list"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

ReviewUnusedParamaters

#### Repro steps

1. Open https://github.com/shadowsocks/shadowsocks-windows
2. Install analyzer package and enable CA1801. Build the project
3. Change the error list settings to only show CA1801 (there are 400+ warning otherwise). Pick one of the 3-4 and navigate to it.  A good example would be ConfigFo

[2017-11-27 22:49] mattscheffer opened #1409 "CA1810 noise at static constructor where it triggers twice"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

Initialize reference type static fields inline

#### Repro steps

1. Open https://github.com/shadowsocks/shadowsocks-windows and
2. Install analyzer package and enable CA1810. Build the project.
3. Open the error list and navigate to the CA1810 warnings inside PrivoxyRunner.cs. The new warnings navigate to lines 24 & 25 which a

[2017-11-27 23:02] mattscheffer opened #1410 "CA1823 warning disappears after navigation"
#### Analyzer package

Example: Microsoft.CodeQuality.Analyzers

#### Analyzer

Avoid unused private fields

#### Repro steps

1. Open https://github.com/shadowsocks/shadowsocks-windows
2. Install analyzer package and enable CA1823. Build the project
3. Navigate the only CA1823 warning to line 106 in UnitTest.cs:
 private static object locker = new object();
The warning is valid as a FAR doesn't p

[2017-11-27 23:04] mavasani commented on #1410
@mattscheffer Thanks for filing the issues. Any issue where diagnostic disappears or is flaky in error list/editor is likely an underlying Roslyn bug. Kindly port them over to https://github.com/dotnet/roslyn/issues/

[2017-11-27 23:06] mattscheffer commented on #1410
@mavasani Gotcha, I'll port this and #1408 over there.

[2017-11-27 23:19] #1408 closed

[2017-11-27 23:21] #1410 closed

[2017-11-28 11:37] alaforte commented on #476
Sorry, I didn't got the point

Thank you

2017-11-27 18:00 GMT+01:00 Manish Vasani <notifications@github.com>:

[2017-11-28 14:34] #1400 closed

[2017-11-28 15:35] jamesqo commented on #1338
@jinujoseph This is a different issue. #1298 is about the analyzer throwing an exception; this is about it unnecessarily formatting code.

[2017-11-28 17:50] mavasani opened #1413 "False reports for RS1011"
#### Analyzer package

Example: Microsoft.CodeAnalysis.Analyzers, version [2.6.0-beta1-62328-01](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.Analyzers/2.6.0-beta1-62328-01)

#### Analyzer

FixerWithFixAllAnalyzer

#### Repro steps

[code]
This repros all across the entire analyzer repo after moving to latest analyzers and changing DocumentChangeAction to ove

[2017-11-28 23:39] #1370 closed

[2017-11-29 17:27] mavasani commented on #1413
This still repros for cases where the base CodeAction is defined in a different project/compilation then the subtype.

[2017-11-29 22:06] mavasani opened #1416 "Add test infrastructure support for unit tests with multiple projects"
We currently only support writing unit tests for analyzing/fixing a single document.

[2017-11-29 22:28] mavasani commented on #1409
@mattscheffer, I am unable to repro this. I get the following 3 distinct warnings in different files:

[code]

Please re-activate if you can still repro.

[2017-11-29 22:28] #1409 closed

[2017-11-29 22:40] mavasani commented on #1253
Blocked on knowing the 15.5 version

[2017-11-29 23:22] #1413 closed

[2017-11-29 23:26] m93a opened #6253 "Warn when checking whether unsigned is greater that negative number."
**Version Used**: N/A

**Steps to Reproduce**:

[code]

**Expected Behavior**: Show a warning that unsigned is always greater than a negative number.

**Actual Behavior**: No warning appears.

[2017-11-30 00:36] chborl opened #1419 "Update nameof analyzer to warn when passing a string that does not match any parameters in scope"
#### Analyzer package
Microsoft.CodeQuality.Analyzers

#### Analyzer
UseNameofInPlaceOfString

#### Suggestion
Currently, the nameof analyzer is only triggered when the string literal that is passed to the `ParamName` parameter matches a parameter in scope.  In this case we can apply a fix because we know what the intended parameter is.

For `ArgumentNullException` and `ArgumentException` methods,

[2017-11-30 17:59] mavasani opened #1420 "Enable FixAll testing by default for all code fix unit tests"

[2017-11-30 18:03] mavasani commented on #1420
@ivanbasov As you mentioned a couple of days ago, we are unable to execute well known batch fixer in our unit tests. Underlying reason is captured here: https://github.com/dotnet/roslyn/pull/23492.

[2017-11-30 18:35] chborl opened #1421 "Consider expanding nameof to any string literal that matches a parameter or property in scope"
#### Analyzer package
Microsoft.CodeQuality.Analyzers

#### Analyzer
Usenameofinplaceofstring

#### Suggestion
Consider expanding nameof to trigger on any parameter that is a single word string literal and matches a parameter or property in scope.

[2017-12-01 15:58] mavasani opened #1423 "NuGet package generated for Microsoft.Net.RoslynDiagnostics is corrupt"
#### Analyzer package

Microsoft.Net.RoslynDiagnostics

#### Repro steps

1. Install a latest version of pre-release package for `Microsoft.Net.RoslynDiagnostics` from https://dotnet.myget.org/gallery/roslyn-analyzers to any C#/VB project

#### Actual behavior
Install succeeds but the following exception occurs every time:
[code]

[2017-12-01 15:59] mavasani commented on #1423
Note: This package does not have any analyzers, just NuGet dependencies to other analyzer packages, so we should not try to install/find analyzers in it.

[2017-12-01 16:03] mavasani commented on #1423
@jinujoseph Do you think it is probably fine to publish this NuGet package on nuget.org, as the install is still succeeding?

[2017-12-01 16:59] mavasani commented on #1423
Also, this package is specific to our Roslyn repos only, it is not for public consumption.

[2017-12-01 19:35] jherby2k opened #1425 "Missing dependency on Microsoft.CodeAnalysis when upgrading Microsoft.CodeAnalysis.FxCopAnalyzers to v2.6.0-beta1"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers , version [2.6.0-beta1]

#### Repro steps

Upgrade .NET Core 2.0 project from 2.3.0-beta1 to 2.6.0-beta1.

#### Expected behavior

Success

#### Actual behavior

Hundreds of warnings complaining about missing Microsoft.CodeAnalysis, Version=2.6.0.0. This package isn't identified as a dependency, wasn't used by 2.3.0-beta1 and AFAICT it d

[2017-12-01 19:45] mavasani commented on #1425
@jherby2k Thanks for the report. Which version of Visual Studio are you currently on? See the https://github.com/dotnet/roslyn-analyzers/blob/master/README.md#recommended-version-of-analyzer-packages for some guidance.

[2017-12-01 19:45] jherby2k commented on #1425
This is because I'm on an Visual Studio 2017 15.4.5 isn't it? I just read that advice. you can close it.

[2017-12-01 19:45] mavasani commented on #1425
Thanks!

[2017-12-01 19:45] #1425 closed

[2017-12-01 20:00] mavasani opened #1426 "Issue with nameof analyzer (CA1507) for parameters with CallerMemberName attribute"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta1](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta1)

#### Analyzer

UseNameofInPlaceOfStringAnalyzer

#### Repro steps

[code]

#### Expected behavior
No CA1507

#### Actual behavior
[code]
Offered code fix introduces semantic errors:
![image](https://user-images.githubusercontent.com/10605811/335

[2017-12-01 20:02] mavasani commented on #1426
We should bail out if `argument.ArgumentKind != ArgumentKind.Explicit` over [here](https://github.com/dotnet/roslyn-analyzers/blob/6f3a65166a9e8c18efa122c5843ecf749a7f263a/src/Microsoft.CodeQuality.Analyzers/Core/Maintainability/UseNameofInPlaceOfString.cs#L51)

[2017-12-01 20:06] mavasani commented on #1426
Simpler example:

[code]

[2017-12-01 23:39] mavasani commented on #1426
Fixed.

[2017-12-01 23:39] #1426 closed

[2017-12-02 00:01] mavasani opened #1430 "False report for RS0012 (Do not call ToImmutableDictionary on an ImmutableDictionary value)"
#### Analyzer package

Microsoft.NetCore.Analyzers [2.6.0-beta1](https://www.nuget.org/packages/Microsoft.NetCore.Analyzers/2.6.0-beta1)

#### Analyzer

DoNotCallToImmutableCollectionOnAnImmutableCollectionValueAnalyzer

#### Repro steps

[code]

#### Expected behavior
No RS0012 as we are producing a dictionary of different key/value types.

#### Actual behavior
[code]

[2017-12-03 02:32] alexreg opened #1431 "Substitute for old MSBuild properties?"
Formerly when doing code analysis using MSBuild/Visual Studio, one could set the `RunCodeAnalysis` and `CodeAnalysisTreatWarningsAsErrors` MSBuild properties, among others. It seems that these are no longer respected when running Roslyn analyzers. Is there any new way to achieve similar behaviour?

[2017-12-04 07:00] verysimplenick commented on #1331
@jinujoseph 26 days went, update for plugin not released.
Any news?

[2017-12-04 16:10] mavasani opened #1432 "Audit all FxCop ported analyzers to ensure FxCop compat with the analyzed API surface (private/protected/public)"
#### Analyzer

OverrideMethodsOnComparableTypes, ImplementIDisposableCorrectly

#### Expected behavior
Only fires on public API surface to match FxCop

#### Actual behavior
Fires even on internal types.

Given that lot of people have different opinions on whether FxCop behavior was correct or not, we should come up with list of rules that violate FxCop compat and discuss if they need to be fixed o

[2017-12-04 16:10] mavasani commented on #1432
Tagging @dotnet/roslyn-analysis

[2017-12-04 17:11] mavasani commented on #1432
Design rules to audit:

AbstractTypesShouldNotHaveConstructors
AssembliesShouldHaveValidStrongNames
AvoidEmptyInterfaces
AvoidExcessiveParametersOnGenericTypes
AvoidNamespacesWithFewTypes
AvoidOutParameters
CollectionsShouldImplementGenericInterface
ConsiderPassingBaseTypesAsParameters
DeclareEventHandlersCorrectly
DeclareTypesInNamespaces
DefaultParametersShouldNotBeUsed
DefineAccessorsForAttribu

[2017-12-04 18:50] mavasani commented on #1432
@jinujoseph Seems like we have large number of ported analyzers not matching FxCop behavior (I have just analyzed design rules for now).

[2017-12-04 18:50] mavasani commented on #1432
I will file a separate issue for each case.

[2017-12-04 19:53] heejaechang commented on #1432
"ImplementIDisposableCorrectly should run on entire API surface by default"

wouldn't that be annoying? how about putting them as different rule? I use Dispose as RAII many time and don't want to make it complex for no reason.

[2017-12-04 19:58] mavasani commented on #1432
@heejaechang Agreed, and @davkean had the same request as yours. For now, I am going to switch it to match default FxCop behavior and open a separate issue to discuss if that needs to be changed.

We should also consider prioritizing AnalyzerOptions work so end users can configure this based on their preference.

[2017-12-05 00:26] 333fred commented on #1331
@verysimplenick we're planning on releasing an update to both the nuget and VSIX packages before the end of the year. Thanks for the interest!

[2017-12-05 00:33] 333fred commented on #1431
You can control the severity of individual rules via a ruleset file (see an example in this repo [here](https://github.com/dotnet/roslyn-analyzers/blob/master/build/Analyzers_ShippingRules.ruleset)). You can use the MSBuild switch `/warnaserror` to treat all warnings as errors. According to the [documentation](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties)

[2017-12-05 00:46] alexreg commented on #1431
Well, I'm using Cake for my builds, and I'd like to run MSBuild with different parameters depending on what's being done. For example, I may just want to build the binaries, and not care about linting, but alternatively I may want to do linting (i.e. run all Roslyn analysers). I don't believe Roslyn analyzers can be run without building, but I was hoping the inverse would be possible.

(Indeed, `/

[2017-12-05 01:04] 333fred commented on #1431
Tagging @mavasani for input on selectively running analyzers. I know that you can conditionally include the analyzers package depending on build input:
[code]
[code]

However, @mavasani might know a better way to do this without having to run a restore.

[2017-12-05 01:14] alexreg commented on #1431
@333fred Oh, that's a good idea, thanks. But yes, it will be interesting to hear if there's a more canonical way of achieving this.

[2017-12-05 01:23] mavasani commented on #1431
@333fred Yes, that should work. There have been feature requests to add special flags to turn off analyzers completely and have a separate `/warnaserror` option for analyzers, but we haven't got to implementing any of those.

[2017-12-05 01:28] alexreg commented on #1431
@mavasani Anywhere where I can track these feature requests?

[2017-12-05 03:07] davkean commented on #1432
Adding code to a product that is never used or called, just for the purpose of satisfying an FxCop rule wastes everyone's time.

[2017-12-05 15:33] jherby2k opened #1435 "CA1801: Review unused parameters triggering on extern methods"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0-beta1]

#### Analyzer

CA1801: Review unused parameters

#### Repro steps

1. Create a "static extern" method for p/invoke

#### Expected behavior

According to https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1801-review-unused-parameters extern methods should be ignored.

#### Actual behavior

CA1801 warning

[2017-12-05 15:39] jherby2k opened #1436 "Justification for RS0023: <class> is exported with MEFv2 and hence must be marked as Shared"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0-beta1]

#### Analyzer

RS0023: <class> is exported with MEFv2 and hence must be marked as Shared

#### Repro steps

1. Create a class using MEFv2, export it but don't add the [Shared] attribute

#### Expected behavior

I don't want to create shared parts, I want per-instance parts.

#### Actual behavior

Works as expected

[2017-12-05 15:43] bencyoung opened #1437 "Can't have a project that works on a mix of compilers (CI and Dev)"
So I've recently upgraded Visual Studio from 15.3 to 15.5. This started giving errors on some projects that use Microsoft.CodeAnalysis.FxCopAnalyzers [2.3.0-beta1]

[code]

I can fix this by upgrading to Microsoft.CodeAnalysis.FxCopAnalyzers [2.6.0-beta1]. However this then causes errors on our CI environment:

[code]

Is there any way I can perform an upgrade that doesn't break CI as we have a "a

[2017-12-05 16:15] sharwell opened #1438 "New Roslyn performance analyzer: avoid captures"
An analyzer should be added so code marked with `[PerformanceSensitive]` reports a warning if it captures variables. See dotnet/roslyn#23554 for an example of the kind of code this analyzer aim to protect.

[2017-12-05 16:18] sharwell opened #1439 "New Roslyn performance analyzer: Use value type enumerators"
Code marked with `[PerformanceSensitive]` should be analyzed, and warnings reported for the following cases:

* A type implementing `IEnumerable<T>` that has a value type enumerator is passed as a generic `IEnumerable<T>`
* A `foreach` statement is used on a type not known to have a value type enumerator, or otherwise falls under a special case such as arrays

[2017-12-05 16:19] sharwell opened #1440 "New Roslyn performance analyzer: Avoid boxing value types"
Code marked with `[PerformanceSensitive]` should report a warning when value type boxing occurs.

[2017-12-05 16:31] mavasani commented on #1436
Seems like the analyzer was originally written for Roslyn.sln by @jasonmalinowski and then moved to [Microsoft.NetCore.Analyzers](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Composition/PartsExportedWithMEFv2MustBeMarkedAsShared.cs). [DoNotMixAttributesFromDifferentVersionsOfMEF](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.Ne

[2017-12-05 16:32] sharwell opened #1441 "New Roslyn performance analyzer: Avoid Task allocations"
Asynchronous methods marked with `[PerformanceSensitive]` which normally complete synchronously should avoid `Task` allocations on the fast path, by one of the following strategies:

* Using `ValueTask<T>`
* Returning a default value for type `T` in `Task<T>`
* Using a type like `Task<bool>` where the asynchronous state machine infrastructure caches the values for completed results

[2017-12-05 16:33] mavasani commented on #1436
@jherby2k Thanks for the report. For now, you can suppress these rules to avoid noise in your project.

[2017-12-05 16:38] mavasani commented on #1437
@bencyoung Your CI machine seems to be using an older version of compiler toolset, not the one that ships with VS2017.5. I would recommend that you add a reference to the required version of compiler toolset package [Microsoft.Net.Compilers 2.6.0-beta3](https://www.nuget.org/packages/Microsoft.Net.Compilers/2.6.0-beta3) to your project. Referencing this package will cause the project to be built u

[2017-12-05 16:40] mavasani commented on #1437
@jasonmalinowski Are we releasing the release version for `2.6.0` Microsoft.CodeAnalysis and Microsoft.Net.Compilers packages soon? If so, @bencyoung you may want to use those packages.

[2017-12-05 16:44] mavasani commented on #1431
I found https://github.com/dotnet/roslyn/issues/16535 for `have a separate /warnaserror option for analyzers`. I cannot find the other issue that recommends adding a switch to guard analyzer execution. Can you please file one at https://github.com/dotnet/roslyn/issues?

[2017-12-05 17:26] mavasani commented on #1435
The issue here seems to be that now are making Operation callbacks for attributes, so static extern methods with DLL import attribute are now seen by operation block analyzers, earlier we never made callbacks for these.
This is also causing following case exception:
[code]

We need to solidify that all of our operation block analyzers to handle non-IBlockOperation operation blocks.

[2017-12-05 18:30] jasonmalinowski commented on #1436
Correct, this was very specific to Roslyn. Ditto for DoNotMixAttributesFromDifferentVersionsOfMEF.

[2017-12-05 18:30] jasonmalinowski commented on #1436
@mavasani Is there a project that is once again Roslyn-specific?

[2017-12-05 18:33] mavasani commented on #1436
@jasonmalinowski Yes, we [Roslyn.Diagnostics.Analyzers](https://github.com/dotnet/roslyn-analyzers/tree/master/src/Roslyn.Diagnostics.Analyzers/Core), which are not included in FxCopAnalyzers package.

[2017-12-05 18:36] jasonmalinowski commented on #1437
@mavasani Yep.

[2017-12-05 18:38] mavasani commented on #1436
I will move these analyzer back to Roslyn.Diagnostics.Analyzers project.

[2017-12-05 19:09] alexreg commented on #1431
Sure.

[2017-12-05 19:56] thebothead commented on #1310
This ticket has not moved in a while.  Any updates here?

[2017-12-05 20:02] thebothead commented on #1310
For anyone waiting for this I found this article as well:
https://carlos.mendible.com/2017/08/24/net-core-code-analysis-and-stylecop/

[2017-12-05 20:07] mavasani commented on #1310
@thebothead If you are looking for specific version of analyzer package to install for given VS version, please see https://github.com/dotnet/roslyn-analyzers/#recommended-version-of-analyzer-packages.

[2017-12-05 20:20] jinujoseph commented on #1310
cc @kuhlenh

[2017-12-05 20:33] glennawatson opened #1442 "CA1507 triggers on ref parameter values incorrectly"
#### Analyzer package
Microsoft.CodeQuality.FxCopAnalyzers, version [2.6.0-beta1]
(https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1)
Microsoft.CodeQuality.Analyzers

#### Analyzer

CA1507: Use nameof to express symbol names

#### Repro
Use the following code, it will produce CA1507 on the RaiseAndSetIfChanged line and want to change it to `set { nameof(RaiseAndSetIf

[2017-12-05 20:36] mavasani commented on #1442
Thanks for the report @glennawatson. This is a dupe of https://github.com/dotnet/roslyn-analyzers/issues/1426, which was fixed by @chborl post the 2.6.0-beta1 release. We hope to release 2.6.0-beta2 packages with this fix today.

[2017-12-05 20:36] #1442 closed

[2017-12-05 20:37] glennawatson commented on #1442
Thanks very much @mavasani

[2017-12-05 20:38] mavasani commented on #1442
Meanwhile, https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta2-62401-02 has this fix.

[2017-12-05 21:32] kuhlenh commented on #1310
@mavasani do you have the final list of analyzers that we're having on-by-default?

[2017-12-05 22:09] mavasani commented on #1310
NuGet or VSIX? We are not changing the defaults for NuGet (unless we get feedback about noise), but we should surely enable more in VSIX.

[2017-12-05 23:07] #1435 closed

[2017-12-05 23:24] mavasani commented on #1432
Usage rules to audit:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|
AttributeStringLiteralsShouldParseCorrectly | All | |
CallBaseClassMethodsOnISerializableTypes | All | |
CallGCSuppressFinalizeCorrectly | All | |
CollectionPropertiesShouldBeReadOnly | Public| |
DisposableFieldsShouldBeDisposed | All | |
DisposableTypesShouldDeclareFina

[2017-12-05 23:30] #881 closed

[2017-12-05 23:42] mavasani commented on #695
We will evaluate a prototype analyzer to implement this rule without DFA support in 15.6 (2.7 release of the analyzer package).

[2017-12-06 00:43] mavasani opened #1444 "Add VB tests for OperatorsShouldHaveSymmetricalOverloadsTests"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta1-62322-01](https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeQuality.Analyzers/2.6.0-beta1-62322-01)

#### Analyzer

OperatorsShouldHaveSymmetricalOverloadsAnalyzer

Analyzer only has C# unit tests.

[2017-12-06 01:16] mattscheffer opened #1446 "NullReferenceException with CA1825"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0-beta2]

#### Analyzer

CA1825 Avoid zero-length array allocaitons

#### Repro steps
1. Clone the ScreenToGif repository from https://github.com/NickeManarin/ScreenToGif
2. Open, restore packages and install the above nuget analyzer package.
3. Enable full solution analysis and run it.
4. Navigate to the only instance of C

[2017-12-06 01:16] mattscheffer commented on #1446
@mavasani

[2017-12-06 01:28] 333fred commented on #1446
This is likely a dupe of https://github.com/dotnet/roslyn-analyzers/issues/1298.

[2017-12-06 01:42] ADWILS-MSFT opened #1447 "InvalidCastException in AvoidUninstantiatedInternalClassesAnalyzer"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta1](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta1)

#### Analyzer

AvoidUninstantiatedInternalClassesAnalyzer

#### Repro steps

Add an Uninstantiated Internal class.

#### Expected behavior

Produces warning/error.

#### Actual behavior

15>CSC : error AD0001: Analyzer 'Microsoft.CodeQuality.Ana

[2017-12-06 05:04] #1298 closed

[2017-12-06 05:05] mavasani commented on #1446
I have merged the PR fixing that issue. @mattscheffer Kindly validate once we have a new myget package on https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers

[2017-12-06 05:15] mavasani commented on #1432
Performance rules to audit:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|
AvoidExcessiveLocals | All | |
AvoidUncalledPrivateCode | Non-Externally Visible | |
AvoidUninstantiatedInternalClasses | Non-Externally Visible | |
AvoidUnsealedAttributes | All | |
AvoidUnusedPrivateFields | Non-Externally Visible | |
DoNotCastUnnecessarily | All

[2017-12-06 08:21] mavasani commented on #1432
Maintainability rules to audit:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|

AvoidExcessiveClassCoupling | All | Not Ported |
AvoidExcessiveComplexity | All | Not Ported |
AvoidExcessiveInheritance | All | Not Ported |
AvoidUnmaintainableCode | All | Not Ported |
ReviewMisleadingFieldNames | All | Not Ported |
VariableNamesShouldNotMat

[2017-12-06 08:25] bencyoung commented on #1437
That get's me closer (the .NET Standard 2.0 projects all compile ok on TC), but for my .NET Full projects that reference a .NET Standard projects now get:

[code]

I used to get something like this in beta SDKs, but I thought it was resolved. Note I only get these errors on the CI machine, not my dev box with the latest VS

[2017-12-06 08:26] mavasani commented on #1432
**Globalization Rules:** All FxCop rules and analyzers operate on executable code, hence are not relevant for this audit.

[2017-12-06 08:29] bencyoung commented on #1437
We used to need to add a reference to NETStandard.Library.NETFramework, but that was removed in the full 2.0.0 release. Does using the beta compiler mean I need to add this back in?

[2017-12-06 08:42] mavasani commented on #1432
**Security rules**:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|
AptcaMethodsShouldOnlyCallAptcaMethods | All | Not Ported |
AptcaTypesShouldOnlyExtendAptcaBaseTypes | Externally Visible | Not Ported |
ArrayFieldsShouldNotBeReadOnly | Externally Visible | Not Ported |
CallGCKeepAliveWhenUsingNativeResources | All | Not Ported |
CatchNon

[2017-12-06 08:59] mavasani commented on #1432
**Interoperability rules**:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|
AutoLayoutTypesShouldNotBeComVisible | Externally Visible | Not Ported |
AvoidInt64ArgumentsForVB6Clients | Externally Visible | Not Ported |
AvoidNonPublicFieldsInComVisibleValueTypes | Externally Visible | Not Ported |
AvoidOverloadsInComVisibleInterfaces | Exter

[2017-12-06 09:03] mavasani commented on #1437
Tagging @agocke @jaredpar for help on consuming the compiler toolset NuGet package.
@bencyoung Can you please file a separate issue on https://github.com/dotnet/roslyn/issues for this?

[2017-12-06 09:03] bencyoung commented on #1437
Will do, thanks

[2017-12-06 09:15] mavasani commented on #1432
**Naming rules**:

Rule Name |     FxCop |  Analyzer | Notes         |
-------------|-----------|-----------|--------------|
BaseCompoundWordRule | All |  |
CompoundWordsShouldBeCasedCorrectly | Externally Visible |  |
DoNotNameEnumValuesReserved | Externally Visible |  |
DoNotPrefixEnumValuesWithTypeName | Externally Visible |  |
EventsShouldNotHaveBeforeOrAfterPrefix | Externally Visible |  |
Fl

[2017-12-06 11:36] mavasani commented on #1437
Closing in favor of https://github.com/dotnet/roslyn/issues/23613

[2017-12-06 11:36] #1437 closed

[2017-12-06 11:37] mavasani commented on #1431
Closing this issue as you have a workaround and couple of Roslyn feature requests...

[2017-12-06 11:37] #1431 closed

[2017-12-06 13:33] TheBeardedLlama commented on #1156
@mavasani why is this noise?
This is a genuine bug and it's *still* present

[2017-12-06 15:49] mletterle commented on #1447
Also getting this for `Microsoft.CodeQuality.Analyzers.Maintainability.ReviewUnusedParametersAnalyzer`

[2017-12-06 16:19] alexreg commented on #1431
Yep, sounds fair, sorry I forgot to.

[2017-12-06 17:19] mavasani commented on #1156
@TheBeardedLlama

1. This issue does not repro anymore. Can you please try https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1 on [VS15.5 RTW](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes)?
2. `Noise` label indicates issues where analyzer is giving false reports and creating noise for the users, who are forced to suppress it in source. It is sti

[2017-12-06 17:24] TheBeardedLlama commented on #1156
Oh I see, thank you for the clarification @mavasani!
Perception is king!
I did see there was a new beta, but I haven't tried yet.
I will try it and then post an update here.

[2017-12-06 17:26] JimF42 commented on #695
@mavasani-Sounds great, thanks. But for us lesser informed... What does "without DFA support" mean?

[2017-12-06 17:30] mavasani commented on #695
DFA - Data flow analysis. Idea is to first implement a simpler analyzer as explained in detail in https://github.com/dotnet/roslyn-analyzers/issues/695#issuecomment-232643339. This analyzer will not analyze control flow and might generate lot of noise, but should flag all real bugs. Users have more work in separating noise from real issues and suppressing the former. In future, if we are able to p

[2017-12-06 17:35] mavasani commented on #1432
All the FxCop rules and corresponding analyzers have now been audited and the last PR to fix the naming analyzers is https://github.com/dotnet/roslyn-analyzers/pull/1448.

[2017-12-06 17:38] JimF42 commented on #695
Thanks for the quick reply. Ah, I think I understand. You see a disposable field and see if somewhere in the method/scope a Dispose() variant is called without analyzing if the _code flow_ guarantees it gets there.

I'm not sure if I understand how that will generate more noise, if what you mean by that are false positive messages. Seems like it would be the opposite, no message when the code flow

[2017-12-06 17:44] mavasani commented on #695
@JimF42 Yes, sorry I was thinking in terms of https://github.com/dotnet/roslyn-analyzers/issues/628 (which we also recently re-opened to have a non-DFA based analyzer). For that scenario, we will generate noise.

[2017-12-06 18:07] #1447 closed

[2017-12-06 18:17] TheBeardedLlama commented on #1156
@mavasani yes I can confirm that this is no longer an issue.

Many thanks for fixing team! :smile:

[2017-12-06 18:20] #1156 closed

[2017-12-06 20:35] JimF42 commented on #695
@mavasani-OK, last stupid question for a while. When reading the 695 thread, I noticed the statement

I, perhaps naïvely, didn't realize there was more than one analyzer. Is this issue specifically about the Roslyn suggestions that are in the left margin and not changes to FxCop?

I came to this thread was FxCop was having issues with `object?.Dispose();` and never assumed it was for something els

[2017-12-06 20:37] mavasani commented on #695
@JimF42 This repo and all issues are regarding Roslyn based source analyzers, a majority of them being ports of corresponding FXCop rules. Please see https://github.com/dotnet/roslyn-analyzers/blob/master/docs/FxCopPort/Porting%20FxCop%20Rules%20to%20Roslyn.md for further details.

[2017-12-06 22:47] #1436 closed

[2017-12-06 23:16] #1430 closed

[2017-12-07 00:46] kentcb opened #1452 "CA1507 has faulty heuristic"
**Version Used**:

2.6.0-beta1 running in VS 15.5.

**Steps to Reproduce**:

This code:
[code]

Triggers this warning:
[code]

Applying the faulty fix results in this (invalid) code:

[code]

It seems to stem from the fact that `RaiseAndSetIfChanged` leverages the `[CallerMemberName]` attribute to gain access to the caller's name.

**Expected Behavior**:

No warning triggered.

**Actual Behavior**

[2017-12-07 00:47] kentcb opened #1453 "Cannot build on Mac"
**Version Used**:

2.6.0-beta1

**Steps to Reproduce**:

1. Consume the 2.6.0-beta1 analyzers from a netstandard library
2. Try to build the library on Mac

**Expected Behavior**:

It builds.

**Actual Behavior**:

[code]

[2017-12-07 00:48] mavasani commented on #1453
Which version of compiler toolset are you using? https://github.com/dotnet/roslyn-analyzers/#recommended-version-of-analyzer-packages

[2017-12-07 00:55] kentcb commented on #1453
I am using VS 15.5 on Windows (works fine) and latest Xamarin tooling on Mac (fails with the stated error).

Here's the Mac version info:

[code]

[2017-12-07 00:56] kentcb commented on #1453
PS. I should point out that `2.3.0-beta1` was working fine in both Windows and Mac until 15.5, wherein I ran into a separate issue that _forced_ me to upgrade to `2.6.0-beta1`. Whilst this fixed the problem on Windows, it broke Mac :(

[2017-12-07 02:02] ivanbasov commented on #952
Verified that after #1327, the correct fix works. This code does not provide any warning:
[code]

However, the incorrect fix still does not provide a warning:
[code]
**Expected:**
Warning
**Actual:**
None

MSDN example:
[code]
also provides no warnings

[2017-12-07 12:59] KrisVandermotten opened #1454 "AD0001 in SerializationRulesDiagnosticAnalyzer"
#### Analyzer package

Microsoft Code Analysis 2017 Version 2.3.0.62003

#### Analyzer

SerializationRulesDiagnosticAnalyzer

#### Actual behavior

[code]

[2017-12-07 18:31] 333fred commented on #1452
@kentcb is this method you're referring to? https://github.com/reactiveui/ReactiveUI/blob/74b25861184ce59f2e1e890efa0faf2324991d45/src/ReactiveUI/IReactiveObject.cs#L88-L118.

[2017-12-07 18:34] 333fred commented on #1452
@chborl, looks like we need to exclude parameters with that attribute on them.

[2017-12-07 18:43] mavasani commented on #1452
Seems like a dupe of https://github.com/dotnet/roslyn-analyzers/issues/1426. Can you please try the latest nuget package: https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta2?

[2017-12-07 18:56] jherby2k opened #1456 "2.6.0-beta2 issue: CS8032 - Cannot create an abstract class warning"
#### Analyzer package

Microsoft.CodeAnalysis.FxCopAnalyzers, version [2.6.0-beta2]

#### Analyzer

CS8032	An instance of analyzer Microsoft.CodeQuality.Analyzers.ApiDesignGuidelines.AvoidEmptyInterfacesAnalyzer cannot be created from <package_path>\microsoft.codequality.analyzers\2.6.0-beta2\analyzers\dotnet\cs\Microsoft.CodeQuality.Analyzers.dll: Cannot create an abstract class.

#### Repro step

[2017-12-07 19:16] mavasani commented on #1456
@jherby2k [AvoidEmtyInterfacesAnalyzer](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Core/ApiDesignGuidelines/AvoidEmptyInterfaces.cs#L16) is a sealed class, but was an [abstract class](https://github.com/dotnet/roslyn-analyzers/commit/560f1793a787883d426d03a05ea4219e3f0e7b95#diff-3893d9c18e1287d72e8b053f9f036200) in 2.6.0-beta1. Seems like you have so

[2017-12-07 19:34] jherby2k commented on #1456
That was not a smooth upgrade, but yes – after removing all my bin and obj folders and clearing the nuget cache for good measure, then restarting VS… issues resolved. You can close this. Thanks.

Sent from Mail for Windows 10

From: Manish Vasani
Sent: Thursday, December 7, 2017 2:16 PM
To: dotnet/roslyn-analyzers
Cc: Jeremy Herbison; Mention
Subject: Re: [dotnet/roslyn-analyzers] 2.6.0-beta2 issu

[2017-12-07 19:35] mavasani commented on #1456
@jherby2k Thank you!

[2017-12-07 19:35] #1456 closed

[2017-12-07 20:59] 333fred commented on #1453
Unfortunately, VS for Mac is currently out of cycle with Windows VS. We're working on getting them in sync, but for the moment the 2.6.0 analyzers will not work on VS for Mac. They should work on a command line build if you have the 2.6.0 version of Microsoft.Net.Compilers installed (the final version should be coming out soon, but until then beta3 should work).

[2017-12-08 22:26] jamesqo commented on #1454
@KrisVandermotten Can you provide a minimal repro, please?

[2017-12-08 22:36] mavasani commented on #1454
I think I know the issue here. @KrisVandermotten were you using the Microsoft CodeAnalysis VSIX for analysis?

[2017-12-08 22:37] mavasani commented on #1454
Ah, I see that from your repro steps: Microsoft Code Analysis 2017 Version 2.3.0.62003

I will submit a fix soon..

[2017-12-09 00:48] ivanbasov opened #1458 "Define possible actions when fixers cannot be safely applied"
For example, here we should trigger a warning:
[code]

However, trying to apply it, we found that the caller executes invokes a method  as a parameter to M. Therefore, we cannot remove the caller method. How should we respond to UI? The current idea is to just not apply the fix could also confuse users.

[2017-12-09 01:31] jinujoseph opened #1459 "VS2017 - AD1000 An instance of analyzer Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer cannot be created from Microsoft.NetCore.Analyzers.dll"
Severity Code Description Project File Line Suppression State Detail Description
Warning AD1000 An instance of analyzer Microsoft.NetCore.Analyzers.Runtime.TestForNaNCorrectlyAnalyzer cannot be created from C:\USERS\USER\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_3E26AB4A\EXTENSIONS\1FHMJXO3.2K0\Microsoft.NetCore.Analyzers.dll: Exception has been thrown by the target of an invocation.. 1 Active Sys

[2017-12-09 01:32] jinujoseph commented on #1459
you are running an older analyzer package of FxCop, which is not compatible with your VS version. Can you please try the version as per https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages?

[2017-12-10 01:26] jamesqo commented on #1389
@tmat I'm still facing this problem after re-cloning the repo and doing a fresh build, unfortunately.

[2017-12-10 03:03] jamesqo opened #1460 "Write unit tests for new implementation of Async analyzers / port old tests"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AsyncXXX analyzers

#### Description

I've been implementing the Async005 analyzer in my spare time over the last couple of weeks. I noticed it's a bit brain-consuming to interleave between writing the analyzer / adding unit tests for it. I think that it'll be easier for me to write the tests for each analyzer first in order to

[2017-12-10 06:04] Jesdisciple commented on #1459
Visual Studio 15.5.1.

I ran FxCop 2.3.0 and got CA1012 (message) and then this AD1000 (warning). I resolved the first one and didn't get any others. Then I upgraded to FxCop 2.6.0 and got CA1052 (warning) and then AD1000 (warning) again, and then CA1052 (message) for the same issue as before. I thought it was weird to see the same message with different levels.

[2017-12-10 13:07] mavasani commented on #1459
@Jesdisciple Can you please share a repro project or paste the diagnostics that you get for your project?

[2017-12-10 14:05] mavasani commented on #1432
This is now done.

[2017-12-10 14:05] #1432 closed

[2017-12-10 15:40] Jesdisciple commented on #1459
When I started VS this morning, I found the AD1000 had left, presumably fixed by the restart. Here's the project anyway.

[Orbit.zip](https://github.com/dotnet/roslyn-analyzers/files/1545755/Orbit.zip)

[2017-12-10 15:49] Jesdisciple commented on #1459
And I had restarted after switching versions of FxCop. I guess it just needed two restarts.

[2017-12-11 19:31] 333fred commented on #1389
@tmat? @jamesqo are you sure you're up to date? I know Tomas did fix a bug here, I've been able to debug since then.

[2017-12-11 22:37] #1287 closed

[2017-12-11 23:37] mavasani opened #1465 "Assign CA range IDs and category to Async analyzers"
#### Analyzer package

Microsoft.CodeQuality.Analyzers, version [2.6.0-beta2](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/2.6.0-beta2)

#### Analyzer

Bunch of them with RuleID = "Async00X". We need to assign them a proper category and range ID when they are implemented.

[2017-12-11 23:38] mavasani commented on #1465
Also remove the source suppressions added to the repo of the following form (these will be added in a soon to be sent PR):

[code]

[2017-12-12 00:12] ivanbasov commented on #1458
Discussed this on a design meeting. Decided to make the fix even if it can bring side effects.
FYI: @mavasani, @jinujoseph, @kuhlenh

[2017-12-12 00:12] #1458 closed

[2017-12-12 00:19] ivanbasov opened #1466 "CA1801: ReviewUnusedParameters should not trigger on properties"
**Example 1.** Empty setter:
`int Property1 { get { return 0;} set { }}`
Expected:
No warning
Acutal:
CA1801 for 'value'

**Example 2.** Unused indexer
[code]
Expected:
No warning
Acutal:
CA1801 for 'i'

**Example 3.** There is another rule suggesting to avoid multiple indexers. Need to check that CA1801 is not triggered.

Currently, we have to skip fixing those cases because they lead to complete

[2017-12-12 00:31] mavasani opened #1468 "Inconsistency between using resource strings and constant strings for rules "Category""
We seem to be using resource strings for FxCop categories but string constants for MS.CA rules and Roslyn specific rules. I am not sure if this is intentional or by design. We need to make this consistent or document the reason for the inconsistency.

[2017-12-12 00:51] 333fred commented on #1466
Arguably, we should trigger a different warning here. Something like: you're not using the backing store/indexer property, consider using them for something. If the user actually doesn't want to use them, they can suppress it.

[2017-12-12 01:05] 333fred commented on #1325
@sharwell, any more comments here? We'd like to do something to reduce the noise.

[2017-12-12 15:14] toredk commented on #1459
I am having a bit of a catch 22 here.

I cannot move 100+ developers from 15.4.5 to 15.5.x at the same time, but it seems that the 2.3 analysers cannot work with 15.5.x and when trying to get the 2.6 analysers to work it seems that it will force me to convert our portable project to .Net Standard because Microsoft.CodeAnalysis.dll is not delivered in a portable version.

After installing VS 15.5 (

[2017-12-12 15:34] mavasani commented on #1459
@toredk One of the ways to workaround this problem would be:

1. Add a NuGet package reference to https://www.nuget.org/packages/Microsoft.Net.Compilers/2.6.0 to your projects, so regardless of the Visual Studio version used for development, an explicit build (within VS or command line) will always use the 2.6.0 toolset compiler.
2. Upgrade all your analyzer packages to latest version (2.6.0-beta2

[2017-12-12 17:09] evildour opened #1469 "Determine if AvoidDuplicateElementInitiailization should apply to VB"
#### Analyzer package

Microsoft.CodeQuality.Analyzers

#### Analyzer

AvoidDuplicateElementInitiailization

Currently it only applies to C#. Determine whether it should be used with VB as well. It really depends on whether object initializers support setting indexed properties in VB (this is an open question from https://github.com/dotnet/roslyn-analyzers/pull/1142).

[2017-12-12 17:36] mavasani commented on #1454
This should work once we release a new VSIX for VS2017.5. Keeping this open until the VSIX is published in the gallery.

[2017-12-12 17:39] mavasani commented on #1446
@mattscheffer Please re-open if it repros on beta2 package.

[2017-12-12 17:39] #1446 closed

[2017-12-12 17:41] mavasani commented on #1407
I have a PR out for this: https://github.com/dotnet/roslyn-analyzers/pull/1463