[2020-09-09 11:31] SebastianSchumann commented on #4145
I'm not sure that this should _not_ show a warning. Due to deferred exectution it is hard to decide whether or not  the instance is assigned.

If a warning appears every developer can decide to suppress it if he's sure about a correct assignment.

IMHO: The most common case might be that this is a mistake and the warning is correct.

[2020-09-09 13:37] #4135 closed

[2020-09-09 14:06] Youssef1313 commented on #4148
I don't see a reason why Main should be treated in a different way?
Catching general exception types isn't preferred whether in Main or not.
For specific cases where it does make sense for the developer to catch a general exception type, the developer should just suppress the warning.

[2020-09-09 14:28] NN--- commented on #4148
If it is not expects in Main, then how should I log exceptions in my program?

[2020-09-09 14:39] NN--- commented on #4147
Added MemoryStream to exclusions.

[2020-09-09 15:13] mavasani commented on #4148
Agree with @Youssef1313. The rule is a generic code quality suggestion. Large number of applications either don't expect exceptions from the within, or catch very specific exception types at appropriate code boundaries. Even those that have such catch all handlers, might have it at a deeper code boundary, not at the topmost level in Main method. If you are more comfortable having a catch all handl

[2020-09-09 15:13] #4148 closed

[2020-09-09 17:04] Evangelink commented on #4150
I cannot reproduce the error with your snipped and v3.3.0 of the analyzer.

@Youssef1313 I see that you have done a PR with a test which doesn't fail, have you been able to reproduce the error?

[2020-09-09 17:06] Youssef1313 commented on #4150
@Evangelink I haven't tried locally. Only added a test which doesn't fail.

[2020-09-09 17:08] mavasani commented on #4150
I too verified this and it doesn't repro locally for me. @alexrp Can you please try to do a build with `msbuild /v:diag`, which should dump the full exception stack trace in the build output?

[2020-09-09 18:07] alexrp commented on #4150
@mavasani well... I would love to give you a stack trace, but I just went to compile the (unaltered) repro and it no longer happens. There's been absolutely no change in my .NET environment since yesterday. I actually can't explain that.

@Youssef1313 the project file is:

[code]

Not sure what to make of this situation. 😕

[2020-09-09 18:44] mavasani commented on #4150
It could very well be a race condition. However, we will need a dump, exception stack trace or a repro project to investigate further. Feel free to reopen the issue if you can get any of these in future. Thanks!

[2020-09-09 18:44] #4150 closed

[2020-09-09 18:57] Youssef1313 commented on #4111
Looks like this is incorrect, the correct version seem to be installed in a `.dotnet` directory, which `--list-sdks` option just doesn't look at. But I'm still unsure how to force the dotnet sdk and Visual Studio to use the version from .dotnet directory.
I just had to install it manually.

[2020-09-09 19:33] mavasani commented on #4145
@j2jensen The analyzer is reporting `'o == null' is always 'false'`, i.e. it is _always assigned_ to a non-null value on non-exception code paths.

[2020-09-09 19:37] mavasani commented on #4145
Also note, following code generates no warning:

[code]

[2020-09-09 21:08] cristianosuzuki77 opened #4152 "[loc][query] Assistance with translation"
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/visualstudio/code-quality/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-preview.8](https://dotnet.microsoft.com/download/dotnet/5.0)

_OR_

**

[2020-09-09 21:14] mavasani commented on #4152
Does the below help?

![image](https://user-images.githubusercontent.com/10605811/92655725-b39b1700-f2a6-11ea-9e38-a89674a5edf3.png)

[2020-09-09 21:27] buyaa-n commented on #4091
Questions around TFM edge cases:
- What if there is no TFM specified? Could I assume we should disable the analzyer to avoid false positives?
- What if multiple TFMs provided (separated by `;`). Could i assume analyzer should be enabled if at least one of them is net5.0 or above?

CC @terrajobst @jeffhandley

[2020-09-09 21:30] mavasani commented on #4091
Each compilation should only have a single TFM, even if project file has multiple TFMs. I am not suggesting we should run the analyzer if subset of TFMs are supported and subset are not supported, Immo/Jeff should make a call on that.

[2020-09-09 21:31] mavasani commented on #4091
Actually, I am not sure if analyzer will have access to `TargetFrameworks` property, as each compilation is done using individual `TargetFramework` from the list of frameworks in that property. You may have to try it out...

[2020-09-09 21:38] #4152 closed

[2020-09-09 21:40] buyaa-n commented on #4091
That makes sense, most likely that is true

Guess only option is manual testing, will give it try

[2020-09-09 23:21] j2jensen commented on #4145
I apologize: I was in a bit of a hurry when trying to get a minimal repro. I've updated the repro steps above to make the `Do` method non-private, in order to more closely reproduce the exact issue I was seeing. Now it reports:

![image](https://user-images.githubusercontent.com/453495/92663418-79d60a80-f2be-11ea-829f-b4e4d6509442.png)

@SebastianSchumann I can certainly understand the argument th

[2020-09-09 23:34] mavasani commented on #4145
Thanks. Seems like the fact that interprocedural analysis is disabled by default leads to this false positive. It works correctly if you specify the below in your .editorconfig

[code]

Seems like we need to pessimistically clear state for all captured and assigned variables for calls that are not interprocedurally analyzed.

[2020-09-10 00:25] terrajobst commented on #4091
What @mavasani said. Not having a TFM would be a major issue. I don't think we want to crash in this case, but I personally don't care whether the analyzer is enabled or disabled in that case.

What @mavasani said. Should never happen.

[2020-09-10 17:02] #4132 closed

[2020-09-10 21:49] #4091 closed

[2020-09-15 13:31] Evangelink commented on #4149
I don't know if it makes sense to _ALWAYS_ suppress this rule for `struct`s. IMO we should not report for `class` and `struct` if they are marked with `StructLayoutAttribute` as the description is pretty clear that you _HAVE TO_ use fields (not possible to use properties even the auto ones).

[2020-09-15 13:40] Evangelink commented on #4099
I am not really familiar with this API but I guess we should not only prevent the analyzer for reporting here but also prevent the disposing of the object, don't we?

[2020-09-15 14:23] NN--- commented on #4149
Good idea.

[2020-09-15 14:26] mavasani commented on #4149
@Evangelink I think we can do couple of things:

1. Change default behavior as per your suggestion https://github.com/dotnet/roslyn-analyzers/issues/4149#issuecomment-692716461
2. Add a new analyzer option to allow turning off this rule for structs. I have seen large number of code bases that allow or prefer visible instance fields on structs, but not other named types. Roslyn repo is a good examp

[2020-09-15 16:13] mavasani commented on #4101
@Evangelink @sharwell I am not sure this is an issue that should be fixed. An analyzer should ideally never have stub implementation that returns non-empty descriptors, but has an empty Initialize method.  For the above cited analyzer, a better approach seems to be just delete the analyzer completely - why are we adding a stub analyzer that adds performance overhead with no user value add.

[2020-09-15 16:17] mavasani commented on #4102
This is by design as per https://github.com/dotnet/roslyn-analyzers/issues/4101#issuecomment-692820153. SA1603 adds unnecessary performance overhead with no user value add, it must be removed from the analyzer package.

[2020-09-15 22:19] stephentoub commented on #3646
I'm looking at it from a consumer point of view.  I build my project and I get this:
[code]
Did that come from an analyzer or an obsoletion attribute?  It could have come from either.

[2020-09-15 22:37] buyaa-n commented on #4021
The final messaging updated by @jeffhandley's [suggestion ](https://github.com/dotnet/roslyn-analyzers/pull/3917#issuecomment-674370508)
Existing Message | Suggested Message
-- | --
'API' requires 'windows' | 'API' is supported in 'windows'
'API' requires 'windows' 10.0 or later | 'API' is supported in 'windows' 10.0 and later
'API' has been deprecated since 'windows' 0.0 | 'API' is deprecated in

[2020-09-15 23:16] GrabYourPitchforks commented on #3646
Ok, so how do we make progress with this, then? The ultimate goal is to discourage people from using these APIs. I see two possible ways to accomplish this.

The first mechanism is to prevent the APIs from even showing up in Intellisense (see [my earlier comment above](https://github.com/dotnet/roslyn-analyzers/issues/3646#issuecomment-674185369)). I don't know if this is viable given the current

[2020-09-15 23:21] mavasani commented on #3646
If we decide to go this route, @genlu would most likely be the one driving this work.

[2020-09-15 23:55] genlu commented on #3646
For completion, can we mark the type as `[EditorBrowsable(EditorBrowsableState.Never)]`? I believe it should serve your purpose well.
In terms of the "add import" feature shown in your screenshot above, I don't think it currently checks this attribute, but it might make sense to do so. @CyrusNajmabadi what do you think?

[2020-09-16 04:33] sassy224 opened #4165 "Enable EnableNETAnalyzers for .Net Framework not working"
### Analyzer

N/A

### Analyzer source

N/A

### Describe the bug

Trying to enable EnableNETAnalyzers for .Net Framework projects but they are not working/having effects.

### Steps To Reproduce for .Net Framework projects
1. Create .Net Framework with below sample code
[code]
2. Edit csproj file, add 2 properties
[code]
3. Build project

### Expected behavior
Warning CA1829 should be shown.

###

[2020-09-16 04:56] mavasani commented on #4165
@sassy224 : CA1829 is an IDE suggestion by default, not a warning. See default severities and enabled by default values for all CA rules shipping in .NET5 release over here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md. You may want to refer to https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis#enable-additional-rul

[2020-09-16 05:17] sassy224 commented on #4165
@mavasani my point is I was expecting that, for **.Net Framework projects**, I only need to set EnableNETAnalyzers = true to be able to use the Roslyn analyzers with its default rules which is good enough for me. Even if I add .editorconfig file, and modify severity, it will have no effect at all.
With .Net 5 project, you can edit .editorconfig file, modify severities and it will work out of the b

[2020-09-16 05:30] mavasani commented on #4165
@sassy224 just to confirm- you are on the .NET5 Preview8 or later SDK correct? That is the first SDK version with built in analyzers. You can target .NetFramework and get all the analyzers, but you need to be on the .Net5 SDK

[2020-09-16 05:32] mavasani commented on #4165
Also can you check if you open your project in VS2019 16.8 Preview3, do you see an IDE suggestion diagnostic for CA1829 with a code fix?

[2020-09-16 06:12] sassy224 commented on #4165
I see, I was using the old .Net Framework project, not the new SDK-style one.

To confirm, will there be any differences if I build my library using below approaches?
- Use old .Net Framework csproj.
- Use new SDK csproj that target net452.

Currently my projects are using old .Net Framework csproj, I'm very hesitant about converting them to new SDK csproj.

[2020-09-16 13:35] Prateek1584990 commented on #3753
@Evangelink We got error when we tried to run the metrics through command-line.

[2020-09-16 19:10] DasOhmoff opened #4166 "Adding analyzer to analyze its own project in which it is created?"
Hello, thank you for your help.

Imagine the following scenario: I create a project called "AnalyzerProject" in which a analyzer gets defined.
Is it possible to use this very same analyzer to analyze the very same project?
So that this analyzer that gets build analyzes the project "AnalyzerProject"?

If so, how can I make this happen?
I have three projects in my solution, a analyzer project (net s

[2020-09-16 21:00] davidwengier opened #4167 "Consider ordering of CA1801"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/visualstudio/code-quality/ca1801)

### Describe the improvement

I like CA1801 but it is frustrating that it is offered at the top of the list in the light bulb. Whenever I add a parameter to something the most likely thing I want to do is to use it, in my case I mostly use the Create Field or Create Property fixers. It seems cou

[2020-09-16 22:20] mavasani commented on #4167
Thanks @davidwengier. Note that the analyzer itself does not have control on the light bulb action ordering. We have talked in past about possible ways we can allow end users to control the order.

The Code fix/refactoring service orders this in the following order:

1. High priority fixes, like Add using and Rename refactoring are always on the top
2. Code fixes to error/warning diagnostics are n

[2020-09-16 22:48] mavasani commented on #4165
I would like to say no, but I am probably not the best or most authoritative person to state that. Likely post a question on dotnet/project-system repo?

One other alternative for you is to directly reference the NuGet package linked at https://github.com/dotnet/roslyn-analyzers#microsoftcodeanalysisnetanalyzers. Then you don't need to change to SDK style project file. We do plan to release a 5.0.

[2020-09-17 00:42] GrabYourPitchforks commented on #3646
@stephentoub Think using `EditorBrowsable.Never` on these types would work? I know historically we've shied away from using them except for APIs that were truly meant to be called by compilers (e.g., `GetPinnableReference`). It solves the problem of hiding the APIs from Intellisense while not producing a warning for consumers who know of their existence and are intending to use them. It does mean

[2020-09-17 00:47] stephentoub commented on #3646
I'm ok with it.

[2020-09-17 01:40] sassy224 commented on #4165
Thanks, I posted issue there

Thanks for the suggestion, I will consider it as last resort after I get confirmation about the assembly differences.

[2020-09-17 02:40] sassy224 commented on #4165
Got the answer I need so close the issue for now.

[2020-09-17 02:40] #4165 closed

[2020-09-17 07:06] Joe4evr commented on #4149
Untrue. [You can use the `field` attribute specifier to set field offsets on auto-properties.](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEA3GUCWAZgJ4A+AAgAwAE5AjAHQBKArgHYb4C2MDAkhzwQADgGU82fGBgBnANwBYAFDKA2qIxQWYDABkAhsQgsMACgNGTAaXxsAJgwCiCYQBsp+DAEoAusvIAzNQymtoY1KLKAN7K1HHUqoT4MK52INQAYsmpAPKEhDIwZpS+sfGB1LbhAILUUdQA5kVywc3UAL7K7UA)

[2020-09-17 20:28] CyrusNajmabadi commented on #3646
We're directing because it's an exact match.  If you want to push people away, i would recommend naming things accordingly.  i.e. AesAdvanced, or AesSpecialized, or AesIntrinsics.  That will help advise users that this is really not the mainline case they should be using.  Naming the types the same actively makes it seem as if they're effectively the same and should be interchangeable.

[2020-09-17 20:32] CyrusNajmabadi commented on #3646
Discussed this offline.  In general we would not go do this.  Add-Import is explicitly designed so that if you name your thing properly you can use it to add the import for it.  i.e. users may have editorbrowsable stuff already that they can still add imports for themselves.

In general, the major factor here is the 'Browsable' portoin of 'EditorBrowsable'.  i.e. we don't show it in UIs that are i

[2020-09-17 21:17] stephentoub commented on #3646
That's in the namespace; it'd be duplicative to also include it in the type name.

[2020-09-17 21:57] CyrusNajmabadi commented on #3646
name duplication isn't really something that bothers me between namespaces and types.  Roslyn follows that pattern heavily for many of our types.  However, if it's not your `Cup<T>` that's ok :)   I'd just go with EB(never) then.

[2020-09-17 23:37] jeffhandley opened #4168 "Platform Compat Analyzer should recognize supported platforms in the inconsistent list scenario"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/visualstudio/code-quality/ca1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 5.0.100-rc.2.20467.7 ([daily build](https://github.com/dotnet/installer))

### Describe the bug

[2020-09-18 07:30] Evangelink commented on #4149
@Joe4evr You are right for the `Explicit` case but as far as I have seen that's not right for `Sequential` where there is no guarantee for the order of the auto-generated fields.

[2020-09-18 07:31] Evangelink commented on #4102
@mavasani Any reason to keep the tickets open?

[2020-09-18 07:31] Evangelink commented on #4101
@mavasani Same comment here, any reason to keep the ticket open?

[2020-09-18 07:34] Evangelink commented on #4075
@dotpaul Are you taking care of updating the resources?

[2020-09-18 07:36] Evangelink commented on #4076
@carlossanlop Are you taking care of this one?

[2020-09-18 10:49] #4149 closed

[2020-09-18 10:54] mavasani commented on #4102
Waiting for Sam’s confirmation on it.

[2020-09-18 11:12] themightyzek commented on #782
This warning is also reported on nested types that that contain a variable of type INamedTypeSymbol.
I believe that this code resembles correct usage, but the warning is thrown nonetheless.
Moving the struct out of the class stops the warning from triggering.

[code]

[2020-09-18 11:14] themightyzek commented on #782
Also, the warning no longer triggers when I change the `IMethodSymbol` in the code to a `ISymbol` type. Is this intended behaviour?

[2020-09-18 13:05] Evangelink commented on #3834
@juliusfriedman Sorry for the late ping but as mentioned in my previous comment, I don't manage to reproduce the issue you are facing. Would you mind posting a sample app reproducing the error?

[2020-09-18 13:06] Evangelink commented on #4063
Shall we have a distinct suffix for arrays, multi-dimensional arrays and jagged arrays?

Tagging @mavasani for your point of view.

[2020-09-18 13:40] Evangelink commented on #4046
@mavasani As far as I can see there is nothing to do for this ticket, except if you do want to handle entries without the language specified?

[2020-09-18 13:42] Evangelink commented on #4018
@carlossanlop Could you confirm everything is now alright? I don't have the issue on the latest code.

[2020-09-18 14:19] mavasani commented on #4046
Yes, thanks. Closing out.

[2020-09-18 14:19] #4046 closed

[2020-09-18 14:41] Evangelink commented on #3839
@mavasani It seems that there is nothing left to do here too, could you confirm?

[2020-09-18 14:51] #372 closed

[2020-09-18 14:57] Evangelink commented on #3821
@mavasani What do you think of this?

[2020-09-18 15:07] mavasani commented on #3839
Agreed.

[2020-09-18 15:07] #3839 closed

[2020-09-18 16:26] #4029 closed

[2020-09-18 19:12] #4063 closed

[2020-09-18 20:06] jmarolf opened #4173 "CodeAnalysisTreatWarningsAsErrors does not work in Visual Studio"
**Version Used**:
- **VS:** 16.8.0 Preview 4.0 [30518.80.main]
- **.NET SDK:** 5.0.100-rc.2.20468.8

**Steps to Reproduce**:

Create a project with .NET 5 RC2 with the following project file and code file:

[code]

[code]

**Expected Behavior**:

CA2014 is treated as a warning everywhere.

**Actual Behavior**:

It is treated as an error _only_ in visual studio
![image](https://user-images.githubus

[2020-09-19 02:26] mavasani commented on #4173
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4174 in RC2 branch.

[2020-09-19 02:26] #4173 closed

[2020-09-20 06:31] roji opened #4178 "Consider moving the generic analyzer docs out of Visual Studio"
The repo [README](https://github.com/dotnet/roslyn-analyzers/blob/master/README.md) points to [this page](https://docs.microsoft.com/visualstudio/code-quality/roslyn-analyzers-overview) as the docs on code analysis - this section is under the Visual Studio product docs. However, most of the docs are general C#/.NET docs, which seem like they should reside in a more generic place (e.g. [the C# docs

[2020-09-20 06:41] roji opened #4179 "Consider mentioning the default rule severity in the rule reference"
The [.NET Code Analysis Rules section](https://docs.microsoft.com/visualstudio/code-quality/code-analysis-for-managed-code-warnings) lists information about each rule, but its default severity isn't left out (as specified in in the predefined ruleset/editorconfig files).

[2020-09-20 08:38] mavasani commented on #4178
The rules are not specific to C# or VB, but we should potentially move all generic analyzer related docs to dotnet docs, and we do plan to move all CA rule docs to dotnet docs repo soon. The core issue though is lot of these existing docs need to show how users can easily accomplish things using tooling in VS. Ripping these into two separate docs that cross reference across repos would be signific

[2020-09-20 08:50] mavasani commented on #4178
There are couple of big issues related to specifying default severity for each CA rule in its docs page:
1. There are multiple ship vehicles for these CA rules, each with potentially different severity/enabled by default value:
  1. Microsoft.CodeAnalysis.FxCopAnalyzers package
  2. Binary FxCop, which is still supported for older VS versions.
  3. .NET SDK
2. The values of these default severity/

[2020-09-20 08:53] mavasani commented on #4178
That is a good point, which should be kept in mind if/when moving this section to dotnet docs repo.

[2020-09-20 12:27] roji commented on #4178
Thanks for all the details, I mainly wanted to highlight some experience issues I had as a Linux user starting to use these for the first time.

As a suggestion, maybe the reference docs should at least be split out as they don't seem to be connected to the VS parts - they simply describe the rules etc. I can see that the rest may be tricky, but hopefully some way can be found to explain this to n

[2020-09-20 16:23] jnyrup opened #4180 "CA2248 triggers for generic enums that may be of same type"
### Analyzer

**Diagnostic ID**: [CA2248](https://docs.microsoft.com/visualstudio/code-quality/ca2248)

### Describe the improvement

When two generic enums `T1` and `T2` _may_ be of same type CA2248 is reported as if they are _definitely_ of different types.

### Describe suggestions on how to achieve the rule

[code]

### Additional context

Greatly simplified example of how the `AllEnums` class

[2020-09-20 16:24] mavasani commented on #4180
@Evangelink

[2020-09-20 16:27] jnyrup opened #4181 "CA2248 reports missing flags for generic enums"
### Analyzer

**Diagnostic ID**: [CA2248](https://docs.microsoft.com/visualstudio/code-quality/CA2248)

### Describe the improvement

When using `HasFlag` for a generic enum type it cannot (<-- my assumption) know if the concrete enum is decorated with the `[Flags]` attribute.

### Describe suggestions on how to achieve the rule

[code]

### Additional context

Greatly simplified example of how `S

[2020-09-20 18:26] meziantou opened #4182 "PlatformCompatibilityAnalyzer seems to prevent compilation from completing"
### Analyzer

**Diagnostic ID**: I think this is the PlatformCompatibilityAnalyzer but I'm not sure as the build never complete

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: 5.0.100-rc.1.20452.10

### Describe the bug

The build never completes. It uses lots of CPU and the memor

[2020-09-20 19:09] mavasani commented on #4182
Thanks, I will investigate.

[2020-09-20 21:37] Evangelink commented on #4180
I didn't considered this case at all... I will take care to submit a PR (the analyzer is currently looking that both types are the same from a `ITypeSymbol` point of view).

[2020-09-21 13:50] JasonBock opened #4184 "CA1801 and CA1802 Incorrectly Flag C# Program Using Top-Level Statements"
### Analyzer
CA1801 and CA1802

### Analyzer source
**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug
I'm getting these issues with a type that is synthesized by the compiler and I have no control over. Top-level statements in C#9 creates a `<Program>$` class with a `<

[2020-09-21 13:55] mavasani commented on #4184
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/4068 and https://github.com/dotnet/roslyn-analyzers/issues/4052

[2020-09-21 13:55] #4184 closed

[2020-09-21 15:39] jmarolf commented on #4018
I believe this is fixed

[2020-09-21 15:39] #4018 closed

[2020-09-21 16:18] Evangelink commented on #4178
I think there is already a similar problem with rule docs. When we change the default behavior of a rule or introduce a new user option the doc doesn't state at which point it became available. We could add this info or we could also have some kind of drop down to select the version and display the "right" doc page.

[2020-09-21 16:19] Evangelink commented on #4179
I think this issue shall be moved to the vs-docs repo, could you confirm @mavasani ?

[2020-09-21 16:23] mavasani commented on #4179
@gewarren soon plans to move all the ported CA analyzer docs to dotnet docs repo. I think we need to first decide if we feel the default severity and enabled by default value needs to be added to the CA rule docs or not. If we decide to add + maintain this info, then it makes sense to port it to one of the docs repo.

[2020-09-21 16:31] Evangelink commented on #4180
I have looked at the code and the only thing I can easily do is to say that if one of the type is generic then I bail-out. There is another in-between solution which is to compare the constraints of the enum but that seems harder...

@mavasani What would you recommend?

[2020-09-21 16:44] mavasani commented on #4180
Yes, lets do the more simpler, restrictive fix.

[2020-09-21 16:59] pranavkm opened #4189 "PlatformCompatibliityAnalyzer does not like OSPlatform declared as a member"
### Analyzer

CA1416	'Unsupported' is unsupported on 'windows'

### Analyzer source

**SDK**: 5.0.100-rc.2.20466.16

### Describe the bug

The platform compatibility analyzer allows using `OSPlatform` as a variable, but not as class level member.

### Steps To Reproduce

[code]

### Expected behavior

The analyzer shouldn't warn since the two checks are equivalent.

### Actual behavior

The check

[2020-09-21 17:07] mavasani commented on #4189
I think this was one of the cases we had decided does not need to be handled in the original flow analysis implementation.

@buyaa-n @terrajobst @jeffhandley - I believe this can be handled, but one can certainly come up with more cases where it needs richer flow analysis across symbols to complete flow data values.

[2020-09-21 17:21] pranavkm opened #4190 "PlatformCompatibilityAnalyzer: Assertions should work the same way as nullable"
Consider:

[code]

[code]

[2020-09-21 17:29] mavasani commented on #4182
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4185 in RC2 branch.

[2020-09-21 17:29] #4182 closed

[2020-09-21 17:33] mavasani commented on #4190
@buyaa-n I thought we did have tests for this case? If not, can we add a regression test that fails? Also you may want to pull in the latest bits from RC2 branch to confirm it still repros.

[2020-09-21 17:34] buyaa-n commented on #4189
Yeah, I would assume flow analysis for this would be much more expensive, especially for big/fat classes

[2020-09-21 17:36] buyaa-n commented on #4190
We have a test for one or two cases, don't have for all guard methods. Will check this out, thanks

[2020-09-21 17:48] #3905 closed

[2020-09-21 18:41] Youssef1313 opened #4193 "CA1708 may be extended for record's Clone"
Defining a member named `Clone` in a record is disallowed by the compiler. However, the compiler allows defining `Clone` in any other casing.
CA1708 can be extended to warn if `Clone` is defined in other casing.

[2020-09-21 18:49] buyaa-n commented on #4190
@mavasani it works for checking the `Supported` platform  `Debug.Assert(OperatingSystem.IsWindows());`, but not working when using `!` operator for checking `Unsupported` platform. Flow analysis not returning any result in case we assert with not `Debug.Assert(!OperatingSystem.IsWindows());`. Is that by design, could we fix it?

[2020-09-21 18:56] buyaa-n commented on #4190
Sample test
[code]

[2020-09-21 19:04] mavasani commented on #4190
@buyaa-n `Debug.Assert(!OperatingSystem.IsWindows());` only tells us that current platform is not Windows, but can be anything else. Unless we have a way to mark an API as Supported on Windows and Unsupported on every other platform, I am not sure if assert really helps add any guard. In short, do we have a real world scenario affected by this case that we are trying to fix? Otherwise, I would rat

[2020-09-21 19:07] mavasani commented on #4190
@pranavkm Which version of the analyzer assembly/package are you using? If you are hitting this on the latest version, it might very well be in context of other code in the same method. Would you be able to provide us a standalone repro where you hit this? If not, based on @buyaa-n's comment we will not be able to make further progress.

@buyaa-n we should still create a test-only PR to add the ab

[2020-09-21 19:20] buyaa-n commented on #4190
@mavasani when and API has `[UnsupportedOSPlatform(""platform"")]` attribute it means the attribute only not supported on that `platform` but supported on all others. The only way for guarding an unsupported API call is to use to call corresponding OperatingSystem check methid with `!` operator.  It is working well with `if` conditional check

`[UnsupportedOSPlatform("Windows")]` might be not that

[2020-09-21 20:21] mavasani commented on #4190
Interesting, then I am wondering why it doesn't work for assert case as both should go down the same code path. Let me check...

[2020-09-21 22:16] #4180 closed

[2020-09-21 22:16] #4181 closed

[2020-09-21 23:27] mavasani commented on #4190
Thanks @buyaa-n - I have opened https://github.com/dotnet/roslyn-analyzers/pull/4196 to fix the issue you cited.

@pranavkm I am still unable to reproduce the original issue that you reported.

[2020-09-21 23:33] #4142 closed

[2020-09-21 23:37] pranavkm commented on #4190
* git clone https://github.com/pranavkm/repro.git
* git checkout platformcompatanalyzer
* dotnet build

I'm using SDK v5.0.100-rc.2.20471.7.

[2020-09-21 23:57] mavasani commented on #4190
@pranavkm Seems like the warning is by design as you asserting you are on Windows code path and then invoking an API marked as unsupported on Windows?

![image](https://user-images.githubusercontent.com/10605811/93832713-65cdc980-fc2b-11ea-9d0a-e39bd4a8944e.png)

 Did you mean to have `Debug.Assert(!OperatingSystem.IsWindows());`, which does generate a false positive, as noted by @buyaa-n  and fix

[2020-09-22 00:03] buyaa-n commented on #4190
Yeah, i thought @pranavkm forgot to add the `!` operator, otherwise it will suppress warning only for `[SupportedOSPlatform(""Windows"")]` which is working as expected

[2020-09-22 00:10] pranavkm commented on #4190
Fixing the bug doesn't help:

![image](https://user-images.githubusercontent.com/174281/93833357-3c15a200-fc2d-11ea-9ae8-b72c9315d4e4.png)

[2020-09-22 00:13] mavasani commented on #4190
@pranavkm You will need to wait for https://github.com/dotnet/roslyn-analyzers/pull/4196 for the fix to the negation within Debug.Assert scenario.

[2020-09-22 01:51] mavasani commented on #4190
Fixed in release/dotnet5-rc2 with https://github.com/dotnet/roslyn-analyzers/pull/4196

[2020-09-22 01:51] #4190 closed

[2020-09-22 02:56] jeffhandley commented on #4021
I like where this is going.  I suggest a couple of tweaks.  We changed "in 'windows'" to "on 'windows'" previously, which I've reflected here too.

List | Existing Message | Suggested Message
-- | -- | --
Allow list | 'API' is supported on 'windows' | 'API' is only supported on: 'windows'
Allow list | 'API' is supported on 'windows' 10.0 and later | 'API' is only supported on: 'windows' 10.0 and l

[2020-09-22 08:06] Evangelink commented on #3885
I confirm that I can reproduce the issue. Whatever the severity set, the issue is always raised as a warning.

[2020-09-22 08:18] Evangelink commented on #3198
@menaheme Have you managed to solve your issue? Have you tried explicitly adding the reference?

[2020-09-22 08:26] Evangelink commented on #3919
@wilhelmzapiain I have managed to reproduce and solve your issue. In your `.editorconfig` file you need to add `[*.cs]` before the analyzer configuration and make sure to be on at least v3.3.0

[2020-09-22 08:26] #3919 closed

[2020-09-22 09:04] Evangelink commented on #3883
I am actually not so sure what to do here because to have a field being a candidate for being marked as static that would mean it is only set from static contexts but it's not possible to do so without having the field marked as static.

@mavasani Let me know if you can think about some cases otherwise I will close the ticket.

[2020-09-22 09:25] Evangelink commented on #4025
@mavasani I can reproduce the issue but I am not entirely sure how to fix it. The first thing that comes to my mind is to say that if a type is used as a generic type then we don't report on it but that's killing too many valid cases. The other option would be to have a list of methods (maybe configurable) that are considered as creating instance of types.

[2020-09-22 09:32] Evangelink commented on #4040
@jcouv Do you need some help moving forward with this ticket? Honestly, I am a little lost with the idea of this rule but if you do a little briefing of the current scope of the rule and what needs to be changed I would be happy to help you.

[2020-09-22 09:33] Evangelink commented on #4051
@dotpaul Are you taking take of doing the change?

[2020-09-22 09:35] Evangelink commented on #4027
@mavasani I think the rule is a good idea, let me know if you agree too.

[2020-09-22 09:40] Evangelink commented on #4095
At some point we were closing issues here to port them to the vs-threading repo and now it seems we are moving back some rules from the other repo. What's the idea? Shall we move all "generic" purpose rules from vs-threading back to this repo?

[2020-09-22 09:47] Evangelink commented on #3841
@mavasani Any opinion on this suggestion? I am not a big fan of the rule anyways because:

1/ Most collections have a similar problem (multi-threading + write-access)

2/ Having a getter doing a clone or collection copy is IMO a wrong practice. I expect a property getter/setter to be a fast access but doing a collection copy can lead to a slow (to very slow) access.

[2020-09-22 09:49] #3585 closed

[2020-09-22 09:49] Evangelink commented on #3572
@mavasani Could you confirm you are fine with this rule?

[2020-09-22 09:50] Evangelink commented on #3569
@mavasani Could you confirm you are fine with this rule?

[2020-09-22 09:50] Evangelink commented on #3570
@mavasani Could you confirm you are fine with this rule?

[2020-09-22 09:51] Evangelink commented on #3527
@mavasani Could you confirm you are fine with this rule?

[2020-09-22 09:51] Evangelink commented on #3524
@mavasani Could you confirm you are fine with this rule?

[2020-09-22 11:42] menaheme commented on #3198
I installed the latest Microsoft.CodeAnalysis.Analyzers (3.3.0) in all projects in the solution - and the issue is resolved.
Thank you all.

[2020-09-22 11:42] #3198 closed

[2020-09-22 12:11] Evangelink commented on #2970
@wizofaus Debugging the rule, I can see that the main difference between `Guid[0]` and `Array.Empty<Guid>()` is that in the first case the array part is ignored. I don't think it shall. @mavasani Are you ok to count `[]` as a reference to `System.Array`?

[2020-09-22 12:37] Evangelink commented on #2970
Other question, do we want to count 2 coupling for `double` and `double?` or only 1?

[2020-09-22 12:49] drewnoakes commented on #3524
@Evangelink what would the benefit be of such a rule? Tidiness?

From a performance standpoint there's no gain: https://sharplab.io/#v2:EYLgdgpgLgZgHgGiiATgVzAHwAICYCMAsAFB4DMABAN4kV0UDGA9mAM5QXb4AMFAyvgoBeCgCIAlmCgQUkACaiA3LXrM2HLrz65hYydNkQFy4vU74AbOa2UREqTPlKVdLlZQQAhnJYAbAJ7W/AAsuvYGTiZmLpy4OjSmZvRcAJwAFABKEDAyEGAMEACiAI5onr6saQII/LgAlHVRSa746Vk5HvlFpeWV1fxkDU3NqZnZuV0lZRVV+DV8wUMxZqPtEwVTvbM1

[2020-09-22 13:05] benmccallum commented on #4095
We've added the vs-threading analyzer package to our mono repo so I personally don't have any immediate need for this anymore and can close this if so desired. That being said, I do think something could be done to make vs-threading more visible as I had no idea it existed and it's pretty much essential for any modern project I would think. How is a bigger discussion that probably doesn't belong h

[2020-09-22 13:12] Evangelink commented on #3524
@drewnoakes I am pretty sure that I read an article a couple of years ago that was stating that not all strings were interned and so it was better to use `const` or `static readonly` but maybe this is wrong.

[2020-09-22 13:27] Evangelink commented on #3524
I cannot find it back so maybe I got confused and read it for another tech stack or I don't know...

[2020-09-22 13:27] #3524 closed

[2020-09-22 14:17] #655 closed

[2020-09-22 14:34] mavasani commented on #3570
This seems to fit more as an IDE code style rule, porting to Roslyn.

[2020-09-22 14:46] Evangelink commented on #3870
@dotpaul Can we consider this ticket as fixed and wait for a new report if there is still some performance issues going-on?

[2020-09-22 14:54] mavasani commented on #3870
Yes, this is fixed and verified internally by the team that reported it.

[2020-09-22 14:54] #3870 closed

[2020-09-22 14:57] mavasani commented on #3527
@Evangelink Can you please provide the concrete formulae/algorithm you plan to use here? Note that just like other code complexity rules, the rule would be disabled by default and the primary use case is when used from Metrics.exe.

[2020-09-22 15:03] Evangelink commented on #3878
@mavasani The rule is `CA1822` not `CA1812` (I don't have the title change rights).

[2020-09-22 15:04] mavasani commented on #4027
Seems like a good fit for an IDE style/naming rule. I also thought there was a similar rule proposal in Roslyn, though I cannot find it right now. Porting this to Roslyn.

[2020-09-22 15:09] mavasani commented on #3841
Yes, I am unsure about this one too, this is likely to be an extremely noisy rule.

[2020-09-22 15:09] #2095 closed

[2020-09-22 15:10] Evangelink commented on #3878
Regarding the actual issue itself:

- With another PR we have already fixed the analyzer to prevent reporting an issue on auto-properties marked with attributes so `[MethodImpl(MethodImplOptions.AggressiveInlining)] get;` no longer reports an issue.

- For the `[NotMapped]` I am not sure we shall actually do something. If you have this attribute on a auto-property then you will not have an issue (

[2020-09-22 15:13] mavasani commented on #3572
@Evangelink This seems more in line with the IDE rules in Roslyn to remove unnecessary code. For example, @Youssef1313 recently added rule to fade and recommend removing unnecessary `ByVal` modifier for VB.

[2020-09-22 15:15] mavasani commented on #3878
Agreed. Let us re-open if required.

[2020-09-22 15:15] #3878 closed

[2020-09-22 15:30] Evangelink commented on #3527
I am doing an extract of some parts of the paper to explain the point of the metric and also it's calculation process but I would recommend to read the full paper anyways.

## Illustration of the problem

The two following methods have equal Cyclomatic Complexity, but are strikingly different in terms of understandability. The mathematical model underlying Cyclomatic Complexity gives these two met

[2020-09-22 16:58] dotpaul commented on #4051
Nope, this issue is up for grabs.

[2020-09-22 17:01] jcouv commented on #4040
Thanks for the ping. I'll look at it this week.

[2020-09-22 17:01] dotpaul commented on #4075
Nope.

[2020-09-22 17:32] dotpaul commented on #4075
If anyone has better ideas for the wording, please suggest. 😀

[2020-09-22 17:36] #3936 closed

[2020-09-22 17:43] dotpaul commented on #4106
Thanks for the report @bichuga. Unfortunately, an analyzer can't always examine the implementation of an overridden / explicitly hidden method (e.g. if the implementation lives in a different assembly than the calling code).

As a work around for the example in the repro, you could have a SafeDeserialize() method that does what you want, at least for callers that know they're using a SafeXmlSerial

[2020-09-22 21:52] Mrnikbobjeff opened #4200 "Analyzer suggestion: Track allocations in implicit conversion operators"
The guidelines for implicit conversion operators state that a user defined implicit conversion operator should not allocate on the heap. An analyzer could be used to detect cases where the conversion operator returns a reference type, suggesting the change to explicit to not conflict with the guideline.

[2020-09-22 21:56] mavasani commented on #4200
@genlu @sharwell seems related to performance sensitive analyzers?

[2020-09-22 23:13] wizofaus commented on #2970
Why is referring to `double` a coupling at all? It's part of the language?  And System.Array is part of the core .NET API (System.Runtime.dll), again I wouldn't expect it to count as a coupling at all.

[2020-09-23 06:50] goyzhang commented on #3841
Could it just be a warning with some restrictions to the return type?  @mavasani talking about solving this issue, for example, if you return an IEnumerable then it's a safe design and no warning pops up. Of course this also applies to a return type that is a defensive copy, a valuetype or ImmutableCollection (records in C#9?), etc. But yea... I can see the definition of the warning triggers might

[2020-09-23 09:44] Evangelink commented on #2970
@wizofaus Just checked the code and primitive types don't count but `DateTime` or `TimeSpan` do.

Getting back to my question, do we agree that in the following example the coupling shall be 1?

[code]

Regarding the array, I am a bit in 2 state of mind. Somehow I think array should not count but then why do we count `List<T>` or `ImmutableArray<T>`...?

[2020-09-23 11:14] Evangelink commented on #3820
@martincostello That's interesting... Looking at the files this is clearly a FP but I am having some trouble to understand what's going wrong. Could you confirm that the following snippet doesn't raise the issue:

[code]

[2020-09-23 11:36] martincostello commented on #3820
I forgot to come back to this issue and update it, but these false positives resolved themselves after updating to 5.0 RC1.

[2020-09-23 11:50] Evangelink commented on #3820
I will close this issue then as there is no feedback on the original issue.

[2020-09-23 11:50] #3820 closed

[2020-09-23 12:16] Evangelink commented on #1419
I made some test and I confirm the rule is doing what was suggested.

[2020-09-23 12:16] #1419 closed

[2020-09-23 12:34] Evangelink commented on #4075
For info, the correct rule ID is `CA2356`. Reading the title and the message I actually think that's clear enough as-is and would suggest to close this. If there is still an issue I am pretty sure that some user will complain.

[2020-09-23 12:34] #4075 closed

[2020-09-23 14:26] #3242 closed

[2020-09-23 16:43] Mikejo5000 commented on #4178
@roji @mavasani Current plan is to move the IDE-agnostic docs (like the overview you referenced) to the .NET docs.

[2020-09-23 21:17] #3749 closed

[2020-09-23 21:47] pranavkm opened #4209 "PlatformCompatibilityAnalyzer returns spurious errors in AspNetCore sources"
* Clone the AspNetCore repo
* Run `restore.cmd`
* cd src/SignalR
* startvs.cmd
* Open `WebSocketsTransport.cs`
* Remove the suppression: https://github.com/dotnet/aspnetcore/blob/master/src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs#L145
* Notice that the analyzer complains about unsupported OS platform.

[2020-09-24 04:30] buyaa-n commented on #4209
Thank you @pranavkm for reporting the bug, i was able to narrow down with simple repro.
Invoking a functor breaking flow analysis: cc @mavasani

[code]

[2020-09-24 09:23] Evangelink commented on #2812
Ping @jeffhandley @terrajobst and @mavasani

[2020-09-24 12:26] Evangelink commented on #589
@lgolding @mavasani There is no content nor any doc for this rule/ticket. Could you either close the ticket or add some content so that we can handle it.

[2020-09-24 12:27] Evangelink commented on #588
@lgolding @mavasani There is no content nor any doc for this rule/ticket. Could you either close the ticket or add some content so that we can handle it.

[2020-09-24 12:29] Evangelink commented on #685
Rule was replaced with `CA2009` and there is already the codefix.

[2020-09-24 12:29] #685 closed

[2020-09-24 12:35] Evangelink commented on #1240
@evildour Sorry for the late ping, would you still be willing to port the rule here?

[2020-09-24 14:29] Evangelink commented on #336
Although I like rules helping you to use an API correctly, I think these use cases are rare.

[2020-09-24 14:36] Evangelink commented on #375
We shall be careful with how we implement this rule. I have seen quite a lot of wrong behaviors from people following this rule from ReSharper (especially around `IEnumerable<T>`).

Also when implementing this rule by myself, I have noticed that when implementing analyzers most of the time I was creating private methods taking a specific node type in parameter and the rule was suggesting to use `S

[2020-09-24 15:04] mavasani commented on #1240
I think we should write a very simple analyzer `Avoid optional parameters`, with an implementation very similar to existing rules [CA1021: Avoid out parameters](https://docs.microsoft.com/visualstudio/code-quality/ca1021?view=vs-2019) and [CA1045: Do not pass types by reference](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1045?view=vs-2019), but the added rule should default to `a

[2020-09-24 15:06] mavasani commented on #1240
Also, let us avoid hardcoding any special types such as CancellationToken or such - we want to absolutely avoid opinionated suggestions by hand picking certain types. Instead, we should provide generic API design improvement suggestions in CA rules.

[2020-09-24 15:13] mavasani commented on #1240
A code fix (with FixAll) here would be super handy - it would just do a Find all references for the containing method/property symbol, and replace the call sites that use the implicit optional argument with use of an explicit default argument that was used in the original optional parameter definition.

[code]

[2020-09-24 17:06] TobiasSekan opened #4216 "[CS0652] Add range check for "Math.Clamp""
Hello,

**Brief description:**

I would be nice when Roslyn can check min and max range of a value when it is used in `Math.Clamp` and report **CS0652**

**Languages applicable:**
C# 9.0, .NET 3.1

**Code example that the analyzer should report:**
[code]

**Additional information:**
The analyzer currently report **CS0652** when compare direct
[code]

Any more additional information you would like

[2020-09-24 18:46] #3890 closed

[2020-09-24 20:09] #1817 closed

[2020-09-24 21:28] Evangelink commented on #4216
@TobiasSekan I was curious to see which overload was resolved and it appears to be the `long` one so your clamp code is actually valid but the conversion is not. I still think the analyzer is a good idea but no issue shall be reporting for the case you mention.

[2020-09-24 22:02] mavasani commented on #4216
Thanks @333fred. This is a .NET API related analyzer suggestion, which should actually be tracked in the dotnet/runtime repo. @jeffhandley can you please port this to runtime repo for triage?

[2020-09-25 00:34] #2698 closed

[2020-09-25 00:37] mavasani commented on #4209
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4218#pullrequestreview-496015898

[2020-09-25 00:37] #4209 closed

[2020-09-25 09:47] Evangelink commented on #2198
@mavasani Are you planning to do some work on this? If not it's probably better to close it.

[2020-09-25 12:11] mavasani commented on #2198
We should add this information in the repo readme

[2020-09-25 12:43] Evangelink opened #4224 "SyntaxTree.DiagnosticOptions has actually been deprecated in future Roslyn versions and always returns empty options. I need to fix up the logic here."
SyntaxTree.DiagnosticOptions has actually been deprecated in future Roslyn versions and always returns empty options. I need to fix up the logic here.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/4222#discussion_r494944018_

[2020-09-25 13:11] Evangelink commented on #1254
@mavasani The parsing algo are quite different between CA2241 and IDE0043, assuming they are functionally equivalent, do you have a recommendation between regex and manual loop parsing?

[2020-09-25 13:38] mavasani commented on #1254
Tagging @jmarolf, who I believe originally authored IDE0043. He should have more context here to drive this forward.

[2020-09-25 17:52] jmarolf commented on #1254
@Evangelink please use the IDE0043 implemetnation. The custom string parsing copied from mscorlib is not necessary.

[2020-09-25 18:49] buyaa-n commented on #4168
Fixed by https://github.com/dotnet/roslyn-analyzers/pull/4208

[2020-09-25 18:49] #4168 closed

[2020-09-25 20:34] Evangelink commented on #1254
Ok! I will update the PR tomorrow.

[2020-09-26 04:33] npbenjohnson opened #4227 "CA1068 Should ignore reserved attributes from System.Runtime.CompilerServices"
### Analyzer
CA1068 - CA1068:CancellationToken parameters must come last

### Describe the improvement

Compiler populated parameters as defined [here](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/attributes/caller-information) (i.e.  `System.Runtime.CompilerServices.CallerFilePathAttribute`) are not explicitly passed, so putting the cancellation token after them would necessi

[2020-09-26 18:20] Evangelink commented on #4227
I cannot reproduce the issue on the latest master:

[code]

Let me know if you have been doing something differently.

[2020-09-26 18:29] Evangelink commented on #3901
I wasn't particularly in favor of this but you are right that this might be the easiest way to capture all the required info. The only concern would be that if you have a vbnet codebase you will "have to" support a c# based syntax for your public API (that kinda sucks).

[2020-09-26 20:10] Youssef1313 commented on #2053
This was fixed in #3223.
I think it can be closed now.

@sharwell @mavasani

[2020-09-26 22:13] sungam3r opened #4230 "NRT support for CA1062"
[code]

Actually this warning **may** be treated as false positive. I know that this method can still be called with `null`, for example just `CheckType(null!)`, but I think that it is worth to modify CA1062 analyzer to take NRT into consideration.

[2020-09-26 22:27] mavasani commented on #4230
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3218

[2020-09-26 22:27] #4230 closed

[2020-09-27 01:36] #2053 closed

[2020-09-27 18:29] marek-safar opened #4231 "Methods with PlatformNotSupportedException body should be decorated with UnsupportedOSPlatformAttribute"
### Describe the problem you are trying to solve

In .NET5 new attributes were introduced to support CA1416 analyzer rule to detect when unsupported APIs are called. To make the analyzer more effective existing libraries need to annotate their code with `UnsupportedOSPlatformAttribute` or `SupportedOSPlatformAttribute` for the analyzer to be able to work.

### Describe suggestions on how to achiev

[2020-09-27 22:35] Youssef1313 commented on #2066
What makes it not thread-safe currently (i.e. why not simply just enable concurrent execution)?

[2020-09-28 14:41] stephentoub opened #4235 "Improve code fixer heuristic employed by CA1835"
### Analyzer

**Diagnostic ID**: [CA1835](https://docs.microsoft.com/visualstudio/code-quality/ca1835)

### Describe the improvement

The analyzer currently suggests changing a call like:
[code]
to instead be:
[code]

While correct, for the common case of a 0 offset and a length equal to the buffer's length, it is more complex than needed (with a bit more overhead, and could instead be just:
[code

[2020-09-28 15:28] Evangelink commented on #2198
As far as I can tell PublicApiAnalzyers is already listed here (https://github.com/dotnet/roslyn-analyzers/blob/master/README.md#microsoftcodeanalysispublicapianalyzers) and PerformanceSensitiveAnalyzers is not yet available publicly so I don't see much to do.

[2020-09-28 15:42] mavasani commented on #2198
Sounds good, thanks for checking.

[2020-09-28 15:42] #2198 closed

[2020-09-28 16:33] Evangelink commented on #1254
@jmarolf Just wanted to confirm with you that's ok to get rid of the [FormatCallWorksAtRuntime method](https://github.com/dotnet/roslyn/blob/master/src/Analyzers/Core/Analyzers/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs#L314). It seems really weird for me to have an analyzer relying on an exception being thrown and swallowed while we know this is an expensive behavior.

[2020-09-28 16:54] jmarolf commented on #1254
well we have two options:

1. Try and replicate the parsing logic in `string.Format` as I originally did in `CA2241`
2. Simply call `string.Format` and see if it parses.

I do not believe that option number 2 has had any performance degradation in practice. An exception being thrown in this case is rare and will not show up in a perf trace (if it can be proven catching an exception is the slowest

[2020-09-28 16:59] Evangelink commented on #1254
@jmarolf The [implementation of the IDE analyzer](https://github.com/dotnet/roslyn/blob/master/src/Analyzers/Core/Analyzers/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs#L314) actually checks first that an issue is raised then use a regex to find the items and finally report on the location of the invalid items so it's a bit of an hybrid approach.

[2020-09-28 17:22] Youssef1313 opened #4236 "Improve test coverage for RethrowToPreserveStackDetailsAnalyzer"
You could do so in a separate PR but it'd be nice to also have a test (if they are not already present) for action, func and local func.

_Originally posted by @Evangelink in https://github.com/dotnet/roslyn-analyzers/pull/4232#r496092997_

[2020-09-28 18:07] ericstj commented on #3901
Hopefully multiple languages could be supported, and there's always text as available today.  I would say we should try to extend to C# while making it easy to also support VB, F#.  Not sure how hard it would be to support all.  I would hope Roslyn has the right level of abstraction that we could just transform them all to some common model for compatibility checks.

[2020-09-28 21:27] Evangelink opened #4237 "New analyzer: Do not mark ref/out parameter with OptionalAttribute"
Marking a `ref` or `out` parameter with `OptionalAttribute` is confusing and will lead to compilation failure if called without the argument.

This analyzer is pretty unlikely to catch issues as `OptionalAttribute` seems to be mainly used on vbnet.

[code]

[2020-09-29 03:28] carlossanlop commented on #4235
Thanks @stephentoub, this is a good improvement to consider.

It would apply for both `ReadAsync` and `WriteAsync`, since in both cases, it would make sense to use `0` as the `offset` parameter, and `buffer.Length` as the `count` parameter.

Question - How smart do we want this to be? For example, if the user saves the `buffer.Length` into a variable, and passes this variable as the `count` parame

[2020-09-29 07:54] Evangelink commented on #421
@lgolding @mavasani Would it be possible to give some more details about the rule (maybe the test cases) so that anyone from the community could implement it?

[2020-09-29 07:56] Evangelink commented on #682
Not sure to understand what's left to do for this ticket?!

[2020-09-29 08:21] Evangelink commented on #811
I can see that this is a compiler warning for C#, could it also be a compiler warning for vbnet?

[2020-09-29 09:59] andrei-epure-sonarsource opened #4239 "Are the FlowAnalysis.Utilities / AnalyzerUtilities APIs ready to be consumed by 3rd party analyzers?"
Analyzer package
[Microsoft.CodeAnalysis.FlowAnalysis.Utilities](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FlowAnalysis.Utilities/) / [Microsoft.CodeAnalysis.AnalyzerUtilities](https://www.nuget.org/packages/Microsoft.CodeAnalysis.AnalyzerUtilities/)

We are considering the option to use the data flow analysis engine from `Microsoft.CodeAnalysis.FlowAnalysis.Utilities`/ `Microsoft.Code

[2020-09-29 10:50] Evangelink commented on #4239
Tagging @mavasani

[2020-09-29 11:29] stephentoub commented on #4235
I don't think that's necessary or worth additional complexity (at least not until we get evidence that it would meaningfully help). The common case, at least for ReadAsync, is to just do `buffer, 0, buffer.Length`.

[2020-09-29 14:16] mavasani commented on #682
This work is now complete with Microsoft.CodeAnalysis.PublicApiAnalyzer package.

[2020-09-29 14:16] #682 closed

[2020-09-29 14:18] mavasani commented on #811
Code fixes for compiler warnings are not implemented in this repo, they are done in Roslyn.

[2020-09-29 14:42] #4236 closed

[2020-09-29 14:57] Youssef1313 opened #4240 "Re-write RethrowToPreserveStackDetailsAnalyzer"
This analyzer can be rewritten as a very simple IOperation analyzer, which will drastically simplify the implementation, make it language agnostic and improve the overall performance. We will also not need these very specific syntax checks. We just walk up the operation tree until we reach a catch operation, or a lambda/local function operation.

_Originally posted by @mavasani in https://github.c

[2020-09-29 15:06] Evangelink opened #4242 "CA1812: False positive with 'FromUri'"
In ASP.NET Web API, [`System.Web.Http.FromUriAttribute`](https://github.com/aspnet/AspNetWebStack/blob/39d3064baf13181f5718ec5d85ba644b47d0704b/src/System.Web.Http/FromUriAttribute.cs) inherits the `BinderType` property from [`System.Web.Http.ModelBinding.ModelBinderAttribute`](https://github.com/aspnet/AspNetWebStack/blob/39d3064baf13181f5718ec5d85ba644b47d0704b/src/System.Web.Http/ModelBinding/M

[2020-09-29 15:08] Evangelink opened #4243 "CA1812: Handle DynamicallyAccessedMembers"
<https://github.com/dotnet/runtime/pull/39126> added `[DynamicallyAccessedMembers(DynamicallyAccessedMemberTypes.All)]` to the `Type type` and `string typeName` parameters of the `DebuggerTypeProxyAttribute` constructors. The analyzer could recognize [DynamicallyAccessedMembersAttribute](<https://docs.microsoft.com/dotnet/api/system.diagnostics.codeanalysis.dynamicallyaccessedmembersattribute?view

[2020-09-29 15:10] Evangelink commented on #1708
@KalleOlaviNiemitalo I have moved your 2 suggestions as different thread so that this one can move forward.

[2020-09-29 19:11] #845 closed

[2020-09-30 08:53] skrysmanski opened #4248 "CA1062 should check .NET [NotNull] attribute"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/visualstudio/code-quality/CA1062)

### Describe the improvement

The rule CA1062 currently checks for attributes named `ValidatedNotNullAttribute` on guard/validate methods to determine if a parameter has been checked for `null` - like so:

[code]

The class `ValidatedNotNullAttribute` is not part of .NET itself. Instead it has t

[2020-09-30 09:44] skrysmanski opened #4250 "How to share rule settings?"
I have multiple git repositories and I'd like to share my CA rule settings among them. At the moment I have my rules configured via `.editorconfig` and on every configuration change, I manually copy the .editorconfig to all my repositories - but this is not actually ideal.

So, I was wondering if the Roslyn Analyzers have any means (or recommendations) on how to share rule settings across reposito

[2020-09-30 10:21] mavasani commented on #4250
I think you want to use global analyzer config: https://github.com/dotnet/roslyn/issues/47707

[2020-09-30 11:36] Evangelink commented on #3833
@mavasani I'd like to be able to move forward with this bug but I am a little lost understanding how we actually pass this information to the analyzer (if it's something on our side).

[2020-09-30 11:50] Evangelink commented on #2790
@stesee I am having some trouble reproducing the issue with the project you have pointed to. Whether or not I enable the `CA1303` rule I can't see any difference. What are you doing to be able to reproduce the issue?

[2020-09-30 12:05] Evangelink commented on #3899
Looks like the bug was fixed in between, I have added some tests.

[2020-09-30 12:05] #3899 closed

[2020-09-30 12:36] Evangelink commented on #3862
I am just reviewing this issue and I confirm that I can reproduce the issue being raised. Yet I am not sure that the issue is wrong, I mean the message clearly needs to be tweaked and also maybe the doc.

At first, and reading the doc, I was expecting the rule to only report on where the type is a delegate which isn't `EventHandler<T>` but looking at some of the [tests](https://github.com/dotnet/r

[2020-09-30 14:42] Evangelink commented on #4243
This one makes sense to me. @mavasani do you +1?

[2020-09-30 14:55] Youssef1313 opened #4253 "Review IsTopLevelStatementsEntryPointMethod implementation"
This was implemented in https://github.com/dotnet/roslyn-analyzers/pull/4066/files#diff-b16e801c575072ba829f30b96c9d2362R692-R694

The current implementation:

[code]

The generated entry point for top-level is `"<Main>$"` which isn't covered by the method.

## Actions needed

- [x] Investigate how the tests passed when the method name is `"<Main>$"` which is not covered.
- [ ] Use the public API

[2020-09-30 16:32] Youssef1313 commented on #4253
@mavasani I debugged this. It seems like the name we get is `$Main`, without any `<>`.
Any idea where the angle brackets have gone? :smile:

[2020-09-30 16:48] #4248 closed

[2020-09-30 16:55] #4227 closed

[2020-09-30 17:57] Youssef1313 opened #4257 "Find a better name for MicrosoftCodeAnalysisForShippedApisVersion"
If you need new bits only for test you can bump up the below: https://github.com/dotnet/roslyn-analyzers/blob/193a3b623223f6c4a015d9faafb874fd739dff61/eng/Versions.props#L28

We should probably rename that property name to suggest that is for tests.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/4256#r497693691_

[2020-09-30 18:01] #4240 closed

[2020-09-30 18:19] Youssef1313 commented on #4257
Something like `MicrosoftCodeAnalysisForShippedApisVersionUsedForUnitTesting` seems super long.

[2020-09-30 18:39] mavasani commented on #4257
`MicrosoftCodeAnalysisForTests`?

[2020-09-30 18:43] Youssef1313 commented on #4257
Sounds good. Even shorter than the original name.

[2020-09-30 19:18] Evangelink opened #4258 "Setup markdown linter for CI"
@mavasani @Evangelink Do you want a linter workflow for PRs?
dotnet/docs is using one, it should be copy/paste to set the workflow for this repo.

https://github.com/dotnet/docs/blob/master/.github/workflows/markdownlint.yml
https://github.com/dotnet/docs/blob/master/.github/workflows/markdownlint-problem-matcher.json

We can temporarily exclude `AnalyzerReleases.*.md`.

_Originally posted by @You

[2020-09-30 19:19] Evangelink commented on #4258
@Youssef1313 Yes I think that would be valuable. Is it based upon these [rules](https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md)?

[2020-09-30 19:26] Youssef1313 commented on #4258
Yes it's based on them. You can also have a json configuration file like [this](https://github.com/dotnet/docs/blob/master/.markdownlint.json) -- (It's not only used to enable/disable specific rules, most rules have other configuration settings)

[2020-09-30 19:37] Evangelink commented on #4258
Could you create a PR for it?

[2020-09-30 23:48] Youssef1313 commented on #4257
Fixed in #4260

[2020-09-30 23:48] #4257 closed

[2020-09-30 23:48] mavasani opened #4261 "Make a separate build job for codecov"
@mavasani can we make it a separate build job (e.g. what dotnet/roslyn#47249 is doing)? That would allow two things:

1. We could make it a GitHub check that is not required
2. We could retry _just the upload_ without forcing a new build

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/4255#issuecomment-701622134_

[2020-10-01 13:37] andrei-epure-sonarsource commented on #4239
Thank you, @mavasani . I have some additional questions, mainly from the context of backwards compatibility. To give some context, our analyzers are currently compatible with VS 2015 Update 3 and higher, and historically we have tried to keep backwards compatibility with what VS versions are still supported by Microsoft.

By checking the sources we have noticed that `Microsoft.CodeAnalysis.FlowAna

[2020-10-01 13:47] Evangelink commented on #3568
If I read correctly in between the line, I would say that you are not so much interested in this rule. Shall I close it?

[2020-10-01 13:56] Evangelink commented on #3685
If you have some time to point me in a direction for this, I'd be happy to be able to improve the DFA.

[2020-10-01 14:01] Evangelink commented on #3445
@ashmind I have updated to v3.3.0 and the issue is gone.

[2020-10-01 14:01] #3445 closed

[2020-10-01 14:04] Evangelink commented on #3331
@mavasani Is it something you could discuss at some meeting?

[2020-10-01 14:05] Evangelink commented on #3025
@sharwell ping

[2020-10-01 14:15] Evangelink commented on #3265
I have been able to reproduce the issue with v2.9.8 and can confirm the issue is fixed in v3.3.0 so I am going to close this issue.

[2020-10-01 14:15] #3265 closed

[2020-10-01 14:20] Evangelink commented on #2508
@mavasani if there is something that needs to be done, could you give its scope?

[2020-10-01 14:23] Evangelink commented on #2170
It seems that this rule was kinda split into multiple other tickets, do we want to keep this open? If so what's the scope of what we want to do here?

[2020-10-01 14:33] Evangelink commented on #2706
As far as I can see this is handled. I'll let @mavasani or @dotpaul confirm and close the ticket.

[2020-10-01 14:34] mavasani commented on #2508
I think it might be better to change the `DiagnosticHelper.Create` overloads to explicitly accept an `IOption` input rather then `ReportDiagnostic`, so analyzers know that the intent is to use these helpers only if they support a code style option. I am not sure how easy it is to make such a change though...

[2020-10-01 14:42] sharwell commented on #2170
I changed the title to better reflect the request. I think someone will have to make a specific proposal before this can move forward.

[2020-10-01 14:45] Evangelink commented on #2402
@mavasani Is there anything preventing us to have a multi-target for the `Metrics` project?

[2020-10-01 14:48] Youssef1313 opened #4265 "RS1014: DoNotIgnoreReturnValueOnImmutableObjectMethodInvocation false positive"
### Analyzer

**Diagnostic ID**: RS1014: `Do not ignore return value on immutable object method invocation`

### Describe the bug

When the method invocation is inside initializer, a false positive warning is produced.

### Steps To Reproduce

I don't have minimal repro, but something like the following should reproduce:

![image](https://user-images.githubusercontent.com/31348972/94824828-b604130

[2020-10-01 14:50] Evangelink commented on #4265
@Youssef1313 I think the issue comes from the fact you have a semicolon at the end of the creation of your list.

[2020-10-01 14:53] Youssef1313 commented on #4265
@Evangelink Yeah just noticed this and was going to close. :smile:

[2020-10-01 14:53] #4265 closed

[2020-10-01 14:55] Evangelink commented on #3937
Disclaimer: I am no expert on the subject.

Looking at the rule documentation, I can see

so if the 2 overloads are equivalent, that means this is called with null (i.e. no instance at all) so I think it's ok to have an issue raised.

[2020-10-01 15:09] sharwell commented on #3025
Like all rules in Roslyn.Diagnostics.Analyzers, this analyzer is not intended for use outside of dotnet/roslyn. I would be in favor of creating a new set of MEF rules for a broader audience as part of the more widely used API analysis package(s), but I don't see a need to change a dotnet/roslyn rule so it works in a case it was never intended.

[2020-10-01 15:10] #3025 closed

[2020-10-01 15:12] sharwell commented on #4237
@jmarolf I thought the meeting conclusion was to see if the compiler wanted this in a warning wave, and move it if they said no. Have we verified that it's not going to be in the compiler?

[2020-10-01 15:13] #3495 closed

[2020-10-01 16:59] Youssef1313 opened #4266 "Manually changing generated files doesn't cause build failure"
@Youssef1313 I marked this as a draft. For generated files, you have two options:

1. Exclude the files from analysis, revert the changes made to them, and file bug(s) to fix the generation process
2. Fix the generation process here and generation the files using the updated tool

If you notice any case where a generated file was changed but did not result in a build failure (i.e. you had to learn

[2020-10-01 20:07] Evangelink commented on #4265
I don't know if that's something that does happen a lot but maybe we could write an analyzer for this kind of mistake (i.e. a code block right after a collection creation).

cc @mavasani

[2020-10-01 20:24] Youssef1313 opened #4268 "Never use the two-argument form of `WithLocation`."
As an aside, never use the two-argument form of `WithLocation`. Either use `WithLocation(int)` or use `WithSpan` to specify full spans.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn-analyzers/pull/4267#discussion_r498492605_

[2020-10-01 20:34] jmarolf commented on #4237
@sharwell you are correct I mis-interpreted my notes. Moving back to roslyn

[2020-10-01 20:42] jnm2 commented on #3937
I think these four things are all interchangeable in meaning and runtime behavior, yet the first has a warning and the rest (properly IMO) do not. They all result in a secure XmlReaderSettings instance being used on both .NET Core and .NET Framework.

- `XmlReader.Create("x")`
- `XmlReader.Create("x", new XmlReaderSettings())`
- `XmlReader.Create("x", settings: null")`,
- `XmlReader.Create("x", se

[2020-10-01 21:45] dotpaul commented on #2706
Thanks @Evangelink for the ping. Still need to figure out what the behavior should be and implement that, if needed.

[2020-10-01 21:55] Evangelink commented on #2706
Except if I am missing something here but the ticket and the comment are talking about the `excluded_symbol_names` options which are handled here https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Security/DoNotUseInsecureDeserializerJsonNetWithoutBinder.cs#L132-L141

[2020-10-01 22:03] dotpaul commented on #2706
It's currently handled by skipping dataflow analysis when both rules disable a symbol. This issue was opened to figure out what to do if one rule disables the symbol for dataflow analysis, and the other rule leaves the symbol enabled for dataflow analysis.

I suppose I can say no one's complained so far, so the current implementation is good enough. :smile:

[2020-10-01 22:08] #4231 closed

[2020-10-01 22:11] Evangelink commented on #2706
Ohhh got it! I saw the TODO in the code but I thought this was one TODO missing an associated work item. My bad!

[2020-10-01 23:10] NickCraver opened #4271 "CA2012 Bug: Triggers when ValueTask direct return includes a property"
### Analyzer

**Diagnostic ID**: [CA2012](https://docs.microsoft.com/visualstudio/code-quality/ca2012): `Use ValueTasks correctly`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.1.20452.10](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

T

[2020-10-02 05:02] carlossanlop opened #4276 "Rule proposal: Simplify VisualBasic TryCast calls"
### Describe the problem you are trying to solve

It's very common in this repo to have language-specific code to handle Syntax nodes.

In C#, it's pretty easy to cast an object inside a condition:

[code]

But in VB, the casting is a bit more elaborated:

[code]

In the VB example, the left part of the definition of `myCastedInstance` does not need to have the data type of the variable specified.

[2020-10-02 05:53] skrysmanski commented on #4250
@mavasani Yes, this sounds exactly like what I want. So, I'm closing this issue in favor of the other one.

[2020-10-02 05:53] #4250 closed

[2020-10-02 07:29] Evangelink commented on #4276
IMO this needs to be moved to roslyn repo and be handled as part of the useless code.

[2020-10-02 07:34] Evangelink commented on #3937
@dotpaul Shall we go in the direction of removing the warning for all these cases or the opposite and start raising for the following 3 cases:

- `XmlReader.Create("x", new XmlReaderSettings())`
- `XmlReader.Create("x", settings: null)`
- `XmlReader.Create("x", settings: null, inputContext: null)`

[2020-10-02 10:12] roji commented on #3187
Another point here... In projects which multi-target, the actual API divergence is typically quite small, but the current method of handling multi-targeting is to duplicate the entire shipped/unshipped files. For a project targeting 4 TFMs, that means that most public API changes need to be manually duplicated 4 times.

Ideally, the analyzer would allow having one shipped/unshipped fileset at the

[2020-10-02 10:25] roji commented on #1108
Have also just encountered this in a multi-targeting scenario, when one of the TFM directories is missing.

[2020-10-02 10:30] roji opened #4278 "Comment format for PublicApiAnalzer PublicAPI format"
When documenting public API changes in PublicAPI.Unshipped.txt, it can be useful to document exactly what happened via comments, to better keep track of the reasoning behind changes.

[2020-10-02 10:32] Evangelink commented on #3427
ping @sharwell

[2020-10-02 11:23] Youssef1313 commented on #4271
For some reason GitHub didn't auto-close the issue when #4274 is merged.

[2020-10-02 11:24] #4271 closed

[2020-10-02 11:25] stephentoub commented on #4271
Thanks

[2020-10-02 12:33] stesee commented on #2790
@Evangelink :
Microsoft.CodeAnalysis.FxCopAnalyzers was disabled after hanging issues in https://github.com/Codeuctivity/Open-Xml-PowerTools/blob/master/OpenXmlPowerTools/OpenXmlPowerTools.csproj

See https://github.com/Codeuctivity/Open-Xml-PowerTools/blob/f95d72c216ac0bd8bec46a46e8737f6f44eab45a/OpenXmlPowerTools/OpenXmlPowerTools.csproj#L51

I validated that the issue is still there with
"Micro

[2020-10-02 15:23] Evangelink commented on #2790
Thanks, I didn't see that this project was excluding the analyzer.

I have done various run and I cannot reproduce the build hanging but I confirm that by enabling the fxcop analyzers on `OpenXmlPowerTools` project we move from around 40s of build time to 2m40s but the build does finish properly. For the record there is nearly 4500 issues.

I have also tried to re-enable the nullable option and th

[2020-10-02 15:32] jnm2 commented on #3937
Oh, I finally found what I meant to link above, where we had reported that `new XmlReaderSettings()` was incorrectly flagged even though DTD processing was already prohibited: https://github.com/dotnet/roslyn-analyzers/issues/1591#issuecomment-422036084
Fix: https://github.com/dotnet/roslyn-analyzers/pull/1916 I think this last case was overlooked.

[2020-10-02 18:33] buyaa-n opened #4280 "CA2200: Rethrow to preserve stack details - should not warn when throwing different exception"
### Analyzer

**Diagnostic ID**: [CA2200](https://docs.microsoft.com/visualstudio/code-quality/ca2200): `Rethrow to preserve stack details`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-preview.8](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the b

[2020-10-02 23:00] buyaa-n opened #4282 "Guarded lambda expressions still warning"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/visualstudio/code-quality/ca1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.0-RC2](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug
We did

[2020-10-02 23:07] dotpaul commented on #3937
I'll try to test these cases next week.

[2020-10-02 23:07] mavasani commented on #4282
I would like to propose that these be considered as by-design. Passing a lambda as delegate means whenever it gets invoked by the callee, we do not know for sure if the state at the time of lambda creation still holds. For above example, consider the delegate is saved by the callee onto some field and then invoked from a non-Windows path. I think the correct resolution here is for the user to add

[2020-10-02 23:40] buyaa-n commented on #4282
Yeah, i am doing that for now. It just needs more asserts, like some cases the lambda itself is platform-dependent and need to add the Assert before lambda and inside lambda, which not look good 😄.

Hm, should i close this issue then? Could the design changed/improved to support this? Then i might keep it for future improvement

[2020-10-02 23:54] Youssef1313 opened #4283 "DoNotDirectlyAwaitATask: Don't report when using JoinableTaskFactory"
Yes, it would cover `JoinableTaskFactory.Run` and `JoinableTaskFactory.RunAsync`, plus it would cover cases where the `await` comes after one of these:

[code]

[code]

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/48263#discussion_r499091723_

[2020-10-02 23:55] Youssef1313 opened #4284 "DoNotDirectlyAwaitATask: Don't report when using JoinableTaskFactory"
Yes, it would cover `JoinableTaskFactory.Run` and `JoinableTaskFactory.RunAsync`, plus it would cover cases where the `await` comes after one of these:

[code]

[code]

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/48263#discussion_r499091723_

[2020-10-02 23:56] sharwell commented on #4284
Duplicate of #4283

[2020-10-02 23:56] #4284 closed

[2020-10-03 00:04] Youssef1313 commented on #4280
A similar case is being tested:

https://github.com/dotnet/roslyn-analyzers/blob/76374e785b11c2fab3515cf35f89f5f2c4c0eeeb/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/RethrowToPreserveStackDetailsTests.cs#L56

@Evangelink Was this fixed in your re-write of the analyzer? or it should have been working from before the rewrite?

[2020-10-03 00:10] mavasani commented on #4280
@buyaa-n Can you test with the latest package from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&protocolType=NuGet&version=6.0.0-preview1.20501.5&view=overview? I suspect @Evangelink's recent fix in master would have fixed this. We should consider backporting the change to release/dotnet5-rc2 branch if that is the case.

[2020-10-03 00:16] buyaa-n commented on #4280
Yep, it is the same case, looks already fixed

Yep i used RC2 branch, not master, agree we should port it to RC2

[2020-10-03 00:40] buyaa-n commented on #4280
Hm, i still see the warning with the that version

[2020-10-03 00:46] Youssef1313 commented on #4280
@buyaa-n  Interesting! Let me add a test and debug it.

[2020-10-03 02:14] #4235 closed

[2020-10-03 04:50] skrysmanski commented on #3675
Problem still exists in 3.3.

Also, in the meantime there's now an official guidance on how to implement `IAsyncDisposable` (which contains a call to `GC.SuppressFinalize()`): <https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-disposeasync>

[2020-10-03 06:32] stesee commented on #2790
You are right. The build is not hanging, it is just unexpected slow. My slow pet project dev machine went from 4:34 to 22:59 build time after enabling Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.0. I also took a second look at Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.8 and killed the build after 60+ minutes.

@nnpcYvIVl  can you upgrade Microsoft.CodeAnalysis.FxCopAnalyzers and prove that your buil

[2020-10-03 08:52] Evangelink commented on #2790
I agree that the build becomes really slow but when looking at the number of issues found I don't really know if that's so bad (@sharwell any opinion?).

@stesee I would personally disable most of the rules that are reporting a lot of issues and slowly enable them (i.e. do a PR enabling rule X and fixing or skipping the issues found by rule X then repeat with rule Y). Because when you are seeing a

[2020-10-03 08:52] Evangelink commented on #3675
@skrysmanski Yes you are right but there is an open PR fixing the issue, it is just waiting for approval and merge :)

[2020-10-03 08:57] Evangelink commented on #4280
I didn't consider this case, honestly that's the first time I am seeing this pattern :)

@Youssef1313 already has filed a PR

[2020-10-03 09:07] Evangelink commented on #4282
@mavasani Would it be possible to store extra information in the DFA to say for example that this lambda contains windows-only operation and so that if it is called in an unknown or non-windows context we raise a warning?

[2020-10-03 11:01] stesee commented on #2790
Yes, that code needs a big portion of love. I am not sure if I have that much love (time) to spare. Great that 3.3.0 produces any output at least I could work on.

[2020-10-03 15:28] mavasani commented on #2790
I will investigate this issue, this is likely due to the fact that this rule runs with inter procedural data flow analysis.

[2020-10-03 15:34] mavasani commented on #4282
This issue is not about adding more functionality, but due to limitations that state at delegate creation can not be guaranteed to be the same as state at delegate invocation - the repro case explicitly assumes that, but it is very easy to create a reverse case where a false positive will be reported with such an assumption. No amount of data flow analysis can help here.

[2020-10-03 15:47] Evangelink commented on #4282
I am not suggesting to report on the delegate creation but rather to have something like this:

[code]

[2020-10-03 16:00] mavasani commented on #4282
@Evangelink that scenario already works. The scenario that doesn’t work is when delegate is passed to another method that is not analyzed interprocedurally. We explicitly assume that state at start of such a context free flow analysis is unknown, not the state when lambda was created.

[2020-10-03 16:38] Youssef1313 opened #4286 "Update help uri to point to docs.microsoft.com/dotnet"
The documentation for CA rules has moved to .NET docs instead of Visual Studio docs. The help uri for them should point to the new location.

[2020-10-03 16:59] mavasani commented on #4286
Yep 👍

[2020-10-03 17:34] #4280 closed

[2020-10-05 07:28] Evangelink commented on #2706
Would it be possible to say that we store the result of the `IsConfiguredToSkipAnalysis` option in a variable and at the time where we report we do a match?

[code]

WDYT?

[2020-10-05 08:49] Evangelink commented on #3768
@Hefaistos68 Sorry for the really late action/ping, could you confirm you are still experiencing the issue with v3.3.0? If so would you be able to create some reproducer? How many issues are raised in your project/solution?

[2020-10-05 08:58] Evangelink commented on #3487
As far as I can tell the rule is now disabled by default so there is not much to do for this ticket.
Tagging @mavasani

I would still be interested to know why we want to get rid of this rule.

[2020-10-05 09:39] huoyaoyuan commented on #4243
This should be a good candidate for programmatic suppressions.
Any indirect usage pattern can take a analyzer for suppression.

[2020-10-05 10:52] KalleOlaviNiemitalo commented on #4243
@huoyaoyuan, do you mean AvoidUninstantiatedInternalClassesAnalyzer should not recognize DynamicallyAccessedMembersAttribute, and instead a separate analyzer should recognize it and use the <https://github.com/dotnet/roslyn/issues/30172> DiagnosticSuppressor API to suppress the CA1812 warnings? If so, would this split make the analyzers easier to maintain or what would be the benefit?

[2020-10-05 11:13] Evangelink commented on #4243
My understanding is that programmatic suppression is a way for a library to provide some specific knowledge (e.g. `Application_Start` cannot be marked `static`) to the analyzer. In this case, if the attribute doesn't exist yes IMO that's a good way to provide this knowledge. But since we are now talking about a built-in attribute I think that the analyzer should handle it rather than expecting all

[2020-10-05 11:44] huoyaoyuan commented on #4243
It should. I can tell several patterns now: ioc constructors for MEF and Extensions.DI, json constructors, data validation method referenced by name.
They are independent with each other, and some of them lives in layer above.

[2020-10-05 11:57] KalleOlaviNiemitalo commented on #4243
@huoyaoyuan, do you think the DynamicallyAccessedMembersAttribute CA1812 suppressor analyzer should ship in the same Microsoft.CodeQuality.Analyzers package as AvoidUninstantiatedInternalClassesAnalyzer itself?

[2020-10-05 12:04] huoyaoyuan commented on #4243
I think it should be in NetAnalyzers, the one implicit installed with .NET 5 SDK; and maybe NetCoreAnalyzers.
Suppressor should be associated with the target api package. For `DynamicallyAccessedMembers`, it's a .NET Core 5+ concept, so it should be in the package handles the platform.

[2020-10-05 12:19] KalleOlaviNiemitalo commented on #4243
A project could target both .NET 5 and lower versions, and conditionally define DynamicallyAccessedMembersAttribute and DynamicallyAccessedMemberTypes as internal types. Such a project might benefit from having the analyzer recognize those types even when they are not in the targeted API. I don't know whether any projects actually do so.

[2020-10-05 13:24] Evangelink commented on #3531
I have just made a test and can confirm this issue is still present. I did some debugging to try to understand what's going-on and I am having some problem to understand the flow of actions, from a theoretical point of view we should have something like this:

`var l1 = items?.Length;`
=> 1 path where `items` has `NotNull` constraint and 1 path where `items` has `Null` constraint.

`var l2 = items

[2020-10-05 14:08] #3475 closed

[2020-10-05 14:39] sharwell opened #4290 "Report ValueTask returned by lambda passed to Task.Run"
### Analyzer

**Diagnostic ID**: [CA2012](https://docs.microsoft.com/visualstudio/code-quality/ca2012): `Use ValueTasks correctly`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers?](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: 5.0.0-rc2.20453.1

### Describe the bug

CA2012 should be reported for `ValueTask<T>` returned from a d

[2020-10-05 15:26] stephentoub commented on #4290
That's a good find; we should improve this.  Ideally we'd add Task.Run overloads that take `Func<ValueTask>` as well in addition to the existing `Func<Task>`-based overloads, but it'd be a pretty big breaking change.

[2020-10-05 16:36] stephentoub commented on #4290
Technically, it'd be fine if someone did:
[code]
or
[code]
etc.  I'd say that's such an outlier as to not be worth catching, except such a situation is exactly why the `Task.Run(Func<Task>)` overload exists, to do that unwrapping for you.  And `await await Task.Run(() => MethodAsync());` is likely more efficient than `await Task.Run(async () => MethodAsync());`, so if such a case were hit, it's no

[2020-10-05 16:59] sharwell commented on #4290
I found this case because we had:

[code]

And we changed `MethodAsync` from returning `Task<int>` to `ValueTask<int>`.

[2020-10-05 17:03] stephentoub commented on #4290
Yup.  My suggested heuristic wouldn't work on your case, either, but it's also possible in your case someone could have done:
[code]
which is technically fine.  Hence the conundrum.  It's possible we say "this is in the weeds and warning is ok", because it'll be right more often than it's not... though I did try to make false positives here super, super rare, erring in general to have false negati

[2020-10-05 17:13] buyaa-n commented on #4282
Thank you @mavasani for the explanation, i have added tests for future reference https://github.com/dotnet/roslyn-analyzers/pull/4281/files#diff-87f9d456dd43ada6755d14e49e58265fR3570. I am gonna close this issue as we have a workaround: enable the interprocedural analysis https://github.com/dotnet/roslyn-analyzers/pull/4281/files#diff-87f9d456dd43ada6755d14e49e58265fR3633

[2020-10-05 17:51] stephentoub commented on #4290
Thinking about this more...

I think I'm ok with flagging `Task.Run(() => returns ValueTask)`, regardless of what happens with the returned Task... but it should be its own diagnostic ID (and probably makes sense in its own analyzer, but that's an implementation detail).  This is really about the lack of a `Task.Run(Func<ValueTask>)` overload more than it is about consuming ValueTasks in a particu

[2020-10-05 17:53] jberezanski-mdg commented on #2691
Regarding issues with full signatures, my testing (VS 16.7.2, FxCopAnalyzers 3.3.0) resulted in two findings:
1) the symbol resolver is sensitive to formatting (spaces):
[code]
2) symbol resolution does not work across assemblies (I'd guess that the mechanism used internally to resolve the validation methods works only in the context of the current compilation).

Proper formatting of signatures ca

[2020-10-05 20:00] Youssef1313 commented on #4286
@mavasani GitHub doesn't seem to auto-close the issues when the PR doesn't target the default branch. Manually closing as fixed in #4291.

[2020-10-05 20:00] #4286 closed

[2020-10-05 20:05] #4040 closed

[2020-10-06 11:07] stephentoub commented on #4290
And in that light, really this would just be an analyzer that warns when it sees an invocation of `Task.Run<ValueTask>`, regardless of whether it's a lambda or anonymous function or method group or delegate instance or whatever passed to it.

[2020-10-06 15:02] Evangelink commented on #3901
I have just noticed that https://github.com/reactiveui/ReactiveUI (see https://github.com/reactiveui/ReactiveUI/blob/main/src/ReactiveUI.Tests/Utilities/ApiApprovalBase.cs) is doing something similar using https://github.com/PublicApiGenerator/PublicApiGenerator. Although this is using a different technique I think it'd be nice to do something along these lines.

[2020-10-06 21:44] Youssef1313 commented on #4266
@sharwell @mavasani If I wrote a console app that returns 0 on valid state, and other number (or throw exception) on invalid state, will it be suitable that the CI runs it and fail the build if 0 isn't returned?

I'm not familiar with those infrastructure things, so I'm not sure if what I'm saying is possible or not. Or if possible, is it the preferred approach or not.

Can you provide some guidel

[2020-10-06 21:45] sharwell commented on #4266
@Youssef1313 Yes that would be fine. We use that approach in dotnet/roslyn (e.g. BuildBoss).

[2020-10-07 07:12] john-larson opened #4297 "Including Microsoft.VisualStudio.Threading.Analyzers"
Since threading and async/await is an integral part of the C# language, shouldn't the Microsoft.VisualStudio.Threading.Analyzers package also be included in Microsoft.CodeAnalysis.FxCopAnalyzers? Because it is only by chance that someone could notice this separate analyzer.

[2020-10-07 09:04] Evangelink commented on #4297
Hi @john-larson, this is something that is being discussed at the moment at Microsoft. It was suggested/discussed in a couple of thread/issues on this repo. I'll let @mavasani decide whether to keep this ticket open.

[2020-10-07 18:04] genlu commented on #2371
This should be resolved by setting `PerformanceSensitiveAttribute` to true only at the root of IVT tree.

See https://github.com/dotnet/roslyn/blob/master/eng/targets/Settings.props#L139
[code]

[2020-10-07 18:04] #2371 closed

[2020-10-07 18:45] Youssef1313 commented on #2767
@stephentoub @sharwell Should the analyzer trigger for the following?

[code]

Or only for something like:

[code]

[2020-10-07 19:08] jcouv commented on #4028
Likely fixed by https://github.com/dotnet/roslyn-analyzers/pull/4246. Will try to verify

[2020-10-07 19:09] stephentoub commented on #2767
Makes sense to me.  That is very unlikely to create false negatives for common cases.

Assuming there's no field or property named `y`, I'd expect it to only fire for the second case.

[2020-10-07 19:14] Youssef1313 commented on #2767
I'll give a try to implement this soon.

[2020-10-08 05:31] nahk-ivanov commented on #291
I understand why people want to have such rule, but to be honest - I've never seen it working to the point where it is actually useful. The amount of false-positives is always outweighs any potential benefits.
The common pattern to dispose an owned disposable field is:
[code]
**proper** one liner for that is
[code]
and it still triggers the rule.

¯\\\_(ツ)_/¯

[2020-10-08 11:43] joemey commented on #4110
Another problem with `Rfc2898DeriveBytes` is that the constructor overloads which accepts a `HashAlgorithmName` have been added with `.Net Standard 2.1` and `.NET 4.7.2` and are not available on prior versions.

CA5379 will be generated when compiling for a version where it is not possible to specifiy the `HashAlgorithmName`

[2020-10-08 12:00] joemey opened #4299 "CA1062: False positive when validating in a base method"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/visualstudio/code-quality/ca1062): `Validate arguments of public methods`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

Validating an input parameter in a base method is ign

[2020-10-08 14:35] mavasani commented on #4299
This is by design. We do not perform interprocedural analysis for virtual method calls as it needs runtime vtable resolution to identify candidate method(s). You should instead decorate the parameter with `ValidatedNotNullAttribute` to indicate that the parameter is not null when the method returns from non-exceptional code paths.

[2020-10-08 14:35] #4299 closed

[2020-10-09 12:15] WhiteBlackGoose commented on #4133
Is this issue irrelevant? I don't get any answers so far... 😞

[2020-10-09 20:09] #2196 closed

[2020-10-09 20:23] mavasani opened #4301 "I think we should make different ID for the checks. Even if messaging remains the same, it will help correlate the rule being triggered."
I think we should make different ID for the checks. Even if messaging remains the same, it will help correlate the rule being triggered.

_Originally posted by @ryzngard in https://github.com/dotnet/roslyn-analyzers/pull/3867#discussion_r485310565_

[2020-10-09 20:23] #2493 closed

[2020-10-09 20:27] #3852 closed

[2020-10-09 21:08] buyaa-n commented on #4021
Yep, copied from old messaging, thanks

Sounds good

[2020-10-09 21:44] sfoslund opened #4303 "Audit TargetFramework usage for .NET 5 TFM change"
With .NET 5 we are changing target framework from the netcoreappX.X style to netX.X. With this change, it appears this repo has code that could possibly break. Please check out https://github.com/dotnet/roslyn-analyzers/blob/master/src/Directory.Build.targets#L67 to ensure that this logic works as intended for .NET 5 TFMs, noting that $(TargetFramework.StartsWith('netcoreapp')) will no longer be t

[2020-10-09 22:45] mavasani commented on #4303
Thanks @sfoslund!

Tagging @sharwell @jmarolf if they have context. Seems this is being done for tests: https://github.com/dotnet/roslyn-analyzers/blob/3916933c6691dbd9af67d06f8a49939a8cfdc46a/src/Directory.Build.targets#L56-L68

[2020-10-10 02:41] jmarolf commented on #4303
I think we just want to update the TFMs for the tests. Shouldn't be much of an issue

[2020-10-10 19:05] AlfredoMS opened #4305 "Rule precedence isn't clear with style rules."
### Analyzer

any rule starting with IDE, but will use IDE0008 as a concrete example.

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

VS2019 Version 16.7.5

### Describe the bug

Precedence rules are not well documented, and actual results are unexpected.
According

[2020-10-10 19:15] AlfredoMS opened #4306 "Methods with Tuple on their signatures won't work when added to GlobalSuppressions.cs"
### Analyzer

Any

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

If there is an error flag and I want to add it to the GlobalSupressions file, it won't work when tuples are present in the signature, either the return value or a parameter.

###

[2020-10-10 19:17] mavasani commented on #4305
Duplicate of https://github.com/dotnet/roslyn/issues/44201. Specifying severity as part of code style options will soon be deprecated.

[2020-10-10 19:19] #4305 closed

[2020-10-12 09:18] Evangelink commented on #4021
It feels weird not to have the versions also quoted: `'windows' 10.0 and later` -> `'windows 10.0 and later'` (or maybe simply adding quotes around versions).

Besides, I think that having the list of what is currently recognized, as suggested on the first comment, would be helpful for debugging/understanding the problem.

[2020-10-12 15:24] Evangelink commented on #2066
I think the the [following `HashSet` and `Dictionary` fields](https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/Microsoft.NetFramework.Analyzers/DoNotUseInsecureDtdProcessing.cs#L186-L189) must be changed to thread-safe collections. I have some doubt on whether the various boolean properties would need some synchronization (e.g. https://github.com/dotnet/roslyn-analyzers

[2020-10-12 15:32] mavasani commented on #2066
Tagging @dotpaul

[2020-10-12 16:11] Evangelink opened #4308 "RS1008: False positive with nested struct"
This warning is also reported on nested types that that contain a variable of type INamedTypeSymbol.
I believe that this code resembles correct usage, but the warning is thrown nonetheless.
Moving the struct out of the class stops the warning from triggering.

[code]

_Originally posted by @themightyzek in https://github.com/dotnet/roslyn-analyzers/issues/782#issuecomment-694807642_

[2020-10-12 16:13] Evangelink commented on #4308
Relates to #845

[2020-10-12 16:13] #4308 closed

[2020-10-12 16:38] buyaa-n commented on #4021
We cannot make `'windows 10.0 and later'` as `and later` need to be localized, quoting it separately `'windows' '10.0' and later` looks kind of ugly 😛 to me, quoting only platform and version `'windows 10.0' and later` might also have localization issue, also i guess version not quoted because it is counted as a number

Are you referring to the suggestion in the original description about includin

[2020-10-12 17:50] dtivel opened #4310 "Nullable reference: no CS8619 when using `new ValueType<T>()`"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.9.0 Preview 1.0 [30609.169.main]
VisualStudio.16.IntPreview/16.9.0-pre.1.0+30609.169.main
Microsoft .NET Framework
Version 4.8.04084

C# Tools   3.9.0-1.20507.6+4ed928935ce0e5db4327c168dfdad1c820a6a490

**Steps to Reproduce**:

1.  Create a C# .NET Core project.
2.  Add the following code to a new C# file:
[code]

**E

[2020-10-12 18:55] stephentoub commented on #4310
How is this different from any other similar case with structs?
[code]

[2020-10-12 19:03] sharwell commented on #4310
@stephentoub It's not different. It's just outside the scope of the compiler feature and an API-aware analyzer would be able to provide users with actionable inforamtion.

[2020-10-12 19:04] stephentoub commented on #4310
But specific to `ValueTask<T>`?  Why?

[2020-10-12 19:08] sharwell commented on #4310
I have no objection to expanding the set of supported types, provided `ValueTask<T>` works. For example, it would be sufficient to treat `ValueTask<T>` as a non-defaultable value type, which forces the use of `new ValueTask<T>(T)`.

[2020-10-12 19:09] stephentoub commented on #4310
I just don't see what's special about `ValueTask<T>` here.  Structs containing references and arrays are simply two known holes in nullable reference types; I don't know why we'd start adding analyzers on a type-by-type basis to try to patch those.

[2020-10-12 19:18] sharwell commented on #4310
@dtivel Another option you could employ is an analyzer like [SA1129: Do not use default value type constructor](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1129.md), which is a targeted subset of feature request #1185.

[2020-10-12 19:38] dtivel commented on #4310
@sharwell, thanks, I'll look at that.

@stephentoub, that "[s]tructs containing references and arrays are simply two known holes in nullable reference types" wasn't known to me.  Does nullable reference types documentation detail these known holes?  I don't recall reading anything about them (like [here](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references)).

[2020-10-12 19:50] stephentoub commented on #4310
I don't know. @BillWagner?

To be clear, what I'm referring to are things like:
[code]
and
[code]

The system is not infallible.  You can get both false positives and false negatives.  The goal of the compiler is to help point out places where you could be dereferencing nulls, but by design it both a) misses some cases and b) warns in some cases it needn't.

[2020-10-12 20:27] Youssef1313 commented on #4310
Reading quickly through the [documentation](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references), it doesn't seem to point to this.

This issue is somewhat similar to https://github.com/dotnet/roslyn/issues/47346

[2020-10-12 22:18] #3403 closed

[2020-10-12 22:20] #1083 closed

[2020-10-12 22:57] buyaa-n commented on #4021
@gewarren do you have any suggestions for the below messages?

1. 'API' is supported on 'windows' 10.1.2.3 and later; this code is reachable with 'windows' 10.0
2. 'API' is supported on 'windows' 10.1.2.3 and later; this code is reachable without 'windows'
3. 'API' is unsupported on 'browser'; this code is reachable with 'browser'

- 1st one trying to express that the invoked API is supported on

[2020-10-12 23:56] #3675 closed

[2020-10-12 23:57] #1708 closed

[2020-10-13 00:04] Youssef1313 opened #4317 "Some places still have the old visualstudio documentation link"
For example: https://github.com/dotnet/roslyn-analyzers/blob/8bada5442ce7d25d564404b1f6e7cd91206610f2/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md

I believe this should be a bug in the release tracking analyzer, it should report a diagnostic when the documentation link (or anything in the entry) is outdated.

[2020-10-13 00:12] mavasani commented on #4317
It will be difficult to flag such invalid doc links inside an analyzer as analyzers are designed to work offline and have no dependency on network connectivity. I think instead we can narrow this issue to just our repo and add such a validation in our post-build tooling that runs on pack and generates rules missing documentation link.

[2020-10-13 00:16] Youssef1313 commented on #4317
@mavasani That's not about validating that the link actually work. But to validate the link is identical to what is tied to the analyzer.

Isn't the analyzer already getting the link *offline* when it's being added for the first time?

[2020-10-13 00:20] mavasani commented on #4317
Ah correct, that seems reasonable to flag and can be done in the analyzer.

[2020-10-13 03:46] mavasani commented on #4310
I am moving this back to Roslyn repo - this concerns a false positive with a C# compiler nullable warning. There has been a conscious decision to not add diagnostic suppressors for such nullable warnings, and a regular analyzer cannot affect compiler output. Adding an API analyzer that suggests not using first class compiler features does not seem to be a good approach. Regardless, I believe the R

[2020-10-13 08:50] Evangelink commented on #3744
I'd like to revive this subject with a [new example](https://github.com/dotnet/roslyn-analyzers/commit/90791cb7639fbd667f01cf96e05b363a510a73ee#r43187030). Although I totally agree with @sharwell when saying that styling/formatting comments should not block a merge if there is no analyzer enforcing its application, I think that there is some implicit consensus around the fact that it's nice to hav

[2020-10-13 12:40] Evangelink commented on #3639
I am wondering if we could actually implement 2 analyzers out of these use-cases:

1. The one described (i.e. warn about default value change). Maybe this analyzer shall be moved to roslyn and be part of the following issue https://github.com/dotnet/roslyn/issues/47937

2. A different analyzer that would warn on a virtual method defining an optional argument. This would discourage this pattern.

@

[2020-10-13 12:45] Evangelink commented on #3656
Jumping back on this issue, my understanding is that we would like to create a new analyzer supporting a user-option to specify a list of methods, for which we would report if the same argument is passed twice or is both on the left and right side of the method call. Is that it?

[2020-10-13 12:46] #3288 closed

[2020-10-13 13:08] TobiasKnauss commented on #3656
Yes, that sounds like what I like to have.
The methods that this analyzer checks would be identified by a certain attribute.

[2020-10-13 13:30] Youssef1313 opened #4323 "Ban language-specific symbols in language-agnostic layers"

[2020-10-13 13:31] Evangelink commented on #3656
The attribute won't happen right now but I do have created a separate ticket (more global) to take advantage of the attributes to help the analyzers.

[2020-10-13 13:38] Evangelink commented on #3689
I have made various tests with the command line and through Visual Studio and I cannot reproduce. On the Developer Community, the user was asked to provide a reproducer but didn't reply so I am closing the ticket.

[2020-10-13 13:38] #3689 closed

[2020-10-13 13:59] Evangelink commented on #3608
@fowl2 Do you want to give it a go and we will give some feedback or do you want me to take care of this one?

[2020-10-13 14:18] Youssef1313 commented on #4317
While writing a new analyzer, I found that the codefix tries to add the documentation link from visualstudio docs.

![image](https://user-images.githubusercontent.com/31348972/95872854-95c24580-0d6f-11eb-9af3-c86637fc336b.png)

So, this issue now turns to figure out why the codefix is using visualstudio link.

[2020-10-13 14:20] Youssef1313 commented on #4317
The link was updated in:

https://github.com/dotnet/roslyn-analyzers/blob/f71ee3c7517d39cce1fde6560ddea63a9a56973f/src/Utilities/Compiler/DiagnosticDescriptorHelper.cs#L36

but not in:

https://github.com/dotnet/roslyn-analyzers/blob/6dea9b867e32607bc02f958efe46d4b2d1220e45/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer_ReleaseTracking.cs#L369

That's

[2020-10-13 14:22] mavasani commented on #4317
@Youssef1313 Thanks for finding the root cause :-)

[2020-10-13 14:34] Youssef1313 opened #4324 "Analyzer to flag a resource string argument to DiagnosticDescriptor ctor"
It works for strings (users don't care about localization) and for LocalizableResourceString (users care about localization). What you fixed here seems to be a bug where the code use a resource string as the argument, which is not the correct way to pass an argument to descriptor ctor. I think we can create a separate diagnostic to flag resource string passed to descriptor ctor and offer a code fi

[2020-10-13 17:17] #3635 closed

[2020-10-13 18:55] huoyaoyuan opened #4327 "CA1508 false positive in IAsyncEnumerable.ConfigureAwait"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc2](https://dotnet.microsoft.com/download/dotnet/5.0)

### Desc

[2020-10-13 20:35] terrajobst commented on #3635
@mavasani we should also consider special casing types derived from `Attribute` as they can't use the `Uri` type due to metadata constraints.

[2020-10-14 01:17] fowl2 commented on #3608
I'll give it a go! Created draft PR #4328 to gather feedback.

[2020-10-14 05:34] jeffhandley commented on #4021
I'm coming up blank trying to think of a good way to communicate a scenario such as this:

* API called is annotated with multiple platforms
* The call site supports several platforms (even the default set)
* There's a mismatch in the support

We could ostensibly want to produce a message like this:

I presume we wouldn't want messages _that_ long.  But it's hard to express all of the data in a su

[2020-10-14 07:24] huoyaoyuan opened #4329 "CA5399 should check member presence"
### Analyzer

**Diagnostic ID**: [CA5399](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca5399): `Definitely disable HttpClient certificate revocation list check`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microso

[2020-10-14 08:55] Evangelink opened #4330 "Is CA2009 (Do not call ToImmutableCollection) a reliability rule?"
Looking at the [Reliability rules documentation](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/reliability-warnings) we can see that it states:

But `CA2009` looks more like a [Usage rule](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/usage-warnings) to me.

[2020-10-14 08:57] Evangelink commented on #4329
@dotpaul Could you confirm that we do want to disable the rule for this case and not only suggest a different fix?

[2020-10-14 20:38] Youssef1313 commented on #3389
@sharwell @mavasani This is already fixed in https://github.com/dotnet/roslyn-analyzers/pull/3979

[2020-10-14 21:17] Eilon commented on #2891
BTW you can definitely suppress this code analysis warning for just the 1 affected line, but VS doesn't offer that for the reasons mentioned in https://github.com/dotnet/roslyn-analyzers/issues/3210#issuecomment-647540527.

Here's what I do:

[code]

[2020-10-14 21:45] Youssef1313 opened #4334 "Help link for RS1023 redirects to a generic documentation page"
https://github.com/dotnet/roslyn-analyzers/blob/e625a92338a16ed1a64f18ffe102e4b7c4df57be/src/Microsoft.CodeAnalysis.Analyzers/Core/UpgradeMSBuildWorkspaceAnalyzer.cs#L30

The link <https://go.microsoft.com/fwlink/?linkid=874285> redirects to <https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/>, which is unrelated to RS1023.

[2020-10-14 22:32] #4266 closed

[2020-10-15 00:08] aaronmcdavid opened #4336 "CA2100 - False Positive - Rule flagged even when procedure name is explicitly checked."
### Analyzer

**Diagnostic ID**: [CA2100](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2100): `Review SQL queries for security vulnerabilities`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

CA2100 is inco

[2020-10-15 00:32] Youssef1313 opened #4337 "Use symbols correctly: code fix bug with null-conditional access operator"
Caught this while applying the code fix to:

https://github.com/dotnet/roslyn-analyzers/blob/91b109f2f69496b76e7a740a4547a9d9b9a12c0b/src/Utilities/Compiler/Extensions/ISymbolExtensions.cs#L296

It was transformed into:

[code]

[2020-10-15 06:20] MelbourneDeveloper opened #4338 "Records should not have members with mutable types"
### Describe the problem you are trying to solve

C# 9 introduces records. This is good, but it is easy to make a mistake and add members that have types that are mutable.

Check this code out. It runs on .NET Core 3.1 with LangVersion 9.0. For programmers who want actual immutability, this is a problem.

[code]

### Describe suggestions on how to achieve the rule

Recursively check all types of m

[2020-10-15 07:13] Evangelink commented on #4338
I like the idea but I am wondering how far we want to go with this new analyzer in term of detecting mutation. In your example that's pretty easy there is a public setter but for example do you consider any of these to be mutable:

[code]

[2020-10-15 07:20] MelbourneDeveloper commented on #4338
@Evangelink I think both would be considered mutable.

I might be worth adding two levels.

One level would allow potentially mutable types - i.e. Types that don't have public setters to change properties

The stronger level would enforce that all other types must be record types. You would probably need to check that each field is read-only for that.

[2020-10-15 07:53] Youssef1313 commented on #4338
When using records, you should never assume it's immutable. I think it's okay to use them even if they are mutable.

If this rule is going to be implemented, I think it should be disabled by default.

[2020-10-15 07:56] MelbourneDeveloper commented on #4338
@Youssef1313 the whole point of records is immutability.

I'm not sure what you mean by enabling/disabling by default though...

[2020-10-15 08:07] Youssef1313 commented on #4338
It's not really the whole point. The whole point of records is value equality semantics.

[2020-10-15 08:10] MelbourneDeveloper commented on #4338
@Youssef1313 which is dependent on immutability

[2020-10-15 09:07] Youssef1313 commented on #4338
I don't think so. There is another language proposal for immutability. See https://github.com/dotnet/csharplang/issues/3885.

However, I won't be very opposed if this is implemented. But should be disabled by default IMO (i.e. user should manually enable it through editorconfig)

[2020-10-15 09:25] Evangelink commented on #4338
Quoting the record types documentation page:

You are somehow both rights. I mean this is meant to be an easy way to implement immutable types with semantic equality BUT you are not forced to use it purely as immutable object.

Yes, of course. @MelbourneDeveloper "disabled by default" means that when using the analyzer package, this specific rule is not active (ON/enabled) by default and that you

[2020-10-15 09:29] Youssef1313 commented on #4338
@Evangelink There is an existing issue in dotnet/docs to update the paragraph you quoted. While records may make it easier to implement immutable types, it's not its main goal. And again, I'm not opposed to the rule proposal, but just noting a common misunderstanding about records.

[2020-10-15 09:35] MelbourneDeveloper commented on #4338
@Evangelink there must be something I'm missing. I've used FxCop with . ruleset files and recently I've switched to editor config files. Both are opt in. I don't understand how this would be any different.

[2020-10-15 09:38] MelbourneDeveloper commented on #4338
@Youssef1313 @Evangelink

Just incidentally, it's unfortunate that C# records are not compatible with F# records. If you use dnSpy to convert the IL back to C# record types are different between C# and F#.

For my two cents, I think having strong rules that you can opt in to are important for record types. If we want to get serious about functional programming with C#, the analyzers need to pick u

[2020-10-15 20:50] stephentoub commented on #4021
That doesn't seem prohibitively long to me:
"'Foo' is supported only on 'windows', 'macos', 'ios', 'ipados', 'watchos', and 'android', but this call site is reachable on 'unix', 'linux', and 'browser'."

[2020-10-15 22:33] Youssef1313 commented on #4337
The analyzer itself is reporting on wrong span `a?.[|Equals(b)|]`
It should report on the whole expression `[|a?.Equals(b)|]`

Not sure if the codefix will behave correctly after updating the analyzer or not.
I'll look into it.

[2020-10-15 23:46] Youssef1313 commented on #4337
I found it easier to keep the diagnostic span as-is and update the fixer. Otherwise, this will require updating both the analyzer and the fixer.

[2020-10-16 22:06] buyaa-n commented on #4021
So the example above will look like:

- 'API' is only supported on 'windows' 10.1.2.3 and later, but this call site is reachable on 'windows' 10.0
- 'API' is only supported on 'windows' 10.1.2.3 and later, but this call site is unreachable on 'windows'
- 'API' is unsupported on 'browser', but this call site is reachable with 'browser'

Sounds good to me 👍

For many os support/unsupport case platfo

[2020-10-17 13:40] adamralph commented on #3901
I currently use https://github.com/PublicApiGenerator/PublicApiGenerator but I would like to switch to PublicApiAnalyzers, but right now the text representation (vs the C# representation using PublicApiGenerator) is the main drawback.

[2020-10-18 14:16] louis-z commented on #3530
@Evangelink, @mavasani,

I'd like to look into this, if that's ok. Any pointers would be appreciated.

[2020-10-18 15:21] mavasani commented on #3530
Tagging @Jozkee and @jeffhandley. I think this issue should be moved to dotnet/runtime repo for triage/approval. Can one of you please transfer the issue?

[2020-10-19 03:45] JuanMejiaVelez opened #4342 "CA1801 False positive on event handlers set in XAML for UWP apps"
### Analyzer
Microsoft.CodeAnalysis.FxCopAnalyzers

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source
**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Descr

[2020-10-19 04:29] GustavoAmerico commented on #4118
I have same problem.
The Microsoft.CodeAnalysis.Metrics.csproj is  with target framework definited for net472 and output type .exe it's should be cause of problem.

It's can change to dotnet tool?

[2020-10-19 13:46] thunderbird55 commented on #3340
Hi, are there any news on this?
We would like to use the fluent syntax, but this is not possible until this is solved because we have a zero-warning policy.
Best regards

[2020-10-19 19:38] sharwell commented on #3340
It seems like the fluent syntax and CA1062 were meant for two non-overlapping sets of users. My recommendation would be for users to disable CA1062 and implement a new set of analyzers specific to their validation scenarios, which in addition to recognizing the fluent syntax could warn for use of _non_-fluent syntax.

[2020-10-19 22:27] sharwell commented on #4330
I believe it's a performance rule

[2020-10-20 08:58] ike86 opened #4344 "warning CA9999: Version mismatch between the analyzer package '3.3.1' and Microsoft.CodeAnalysis '3.3.0.0'"
### Analyzer

**Diagnostic ID**: CA9999 Analyzer version mismatch

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

During build server builds I see the warning below:

### Steps To Reproduce

I cannot provide reproduction steps, as I cannot repr

[2020-10-20 09:01] ike86 commented on #4344
Please note, that the help link in the warning says

Visual Studio version | FxCop analyzer package version
-- | --
Visual Studio 2019 (all versions) | latest

which we satisfy, but still get the warning.

[2020-10-20 10:14] NN--- opened #4345 "Do not issue CA1835 when overriding Stream methods"
### Analyzer

**Diagnostic ID**: [CA1835](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1835)

### Describe the improvement

The diagnostic warning CA1835 appears when you implement your own Stream.

[code]

[2020-10-20 12:28] neolution-ch commented on #3845
This is clearly a bug and should be fixed: `params` can be `null`, so there is no dead conditional code here.

[2020-10-20 15:13] davkean opened #4348 "[C# 9.0] CSharpCreateTestAccessor crashes with records"
**Version Used**:

Unsure if this is Roslyn, or the owner of this code fix.

**Steps to Reproduce**:

1. CTRL+. and navigate to "Create test accessor"
[code]

[code]

[2020-10-20 15:14] sharwell commented on #4348
📝 This analyzer is only active in the dotnet/roslyn repository, so other teams are not affected.

[2020-10-20 16:07] mavasani commented on #4348
@sharwell It is also used in project-system and Roslyn-analyzers repo.

[2020-10-20 16:08] mavasani commented on #4348
Moving to Roslyn as this is an exception in GetSymbolInfo.

[2020-10-20 21:40] jeffhandley commented on #2812
Adding @carlossanlop and @buyaa-n for their visibility on this as well.  Yes, we are open to new analyzers for the future milestone and we're starting to take a look at the proposals that have come in.

[2020-10-21 01:35] jeffhandley commented on #4021
That's looking good to me.  Under what condition would we hit "but this call site is multitargeted"?  Depending on that answer, I think we might want to pick a different word instead of "multitargeted."

Instead of "this call site" do folks think "this code" would be OK?

[2020-10-21 04:04] buyaa-n commented on #4021
It means the call site has no any `OSPlatform` attribute. An unattributed API is considered to work on all OS platforms. When the call site will have no any attribute? - when the code has no target platform, that is why i said it multi-targeted

For me, call site sounds more meaningful, but i am OK if we decide to go with "code"

[2020-10-21 05:02] jeffhandley commented on #4021
Thanks. Multi-targeting usually makes me think of having multiple target frameworks in the project file.  https://devblogs.microsoft.com/dotnet/the-future-of-net-standard/ doesn't really define a term for `net5.0` where no platform is specified, other than "portable," but I think that term is too loaded (from history).

@terrajobst @stephentoub do you have a suggestion for what word we should use

[2020-10-21 07:25] EnricoMassone opened #4349 "Compiler warning CA1001 is not raised when disposable field is initialized in a private method"
Environment details:

- operating system: **windows 10 professional build 19041.572**
- analyzers nuget package: **Microsoft.CodeAnalysis.FxCopAnalyzers version 3.3.0**
- **.NET core 3.1 console application**
- code editor: **Microsoft Visual Studio Professional version 16.7.6**

Here is the csproj file:

[code]

This class raises the CA1001 compiler warning as expected:

[code]

This class, inste

[2020-10-21 14:16] stephentoub commented on #4021
"on all platforms"?

[2020-10-21 16:05] mavasani opened #4350 "Remove the pragma suppression added to 'SymbolNamesWithValueOption'"
Remove the pragma suppression added to `SymbolNamesWithValueOption` to unblock https://github.com/dotnet/roslyn-analyzers/pull/4347

[2020-10-21 16:07] mavasani commented on #4350
Revert https://github.com/dotnet/roslyn-analyzers/pull/4347/commits/2e6b79b402e2b7ee21831fb3693ee5b3b7ebe471 and fix the warning.

[2020-10-21 16:08] mavasani commented on #4350
@Evangelink

[2020-10-21 16:26] Youssef1313 commented on #4350
@mavasani The warning looks like a compiler bug to me?
`TValue` has a notnull constraint (`where TValue : notnull`). Can't see why the warning is reasonable.

[2020-10-21 16:29] mavasani commented on #4350
@Youssef1313 Would you be able to create a minimal repro and file an issue on Roslyn?

[2020-10-21 16:35] Youssef1313 commented on #4350
Got it while creating a repro. The reason for the warning is the default value of the optional parameter, which is null for reference types.

[2020-10-21 16:55] mtaylorfsmb opened #4351 "Default Analyers do not appear to run with 5.0 RC 2 SDK"
### Analyzer

All of them.

### Analyzer source

**SDK**:  5.0.100-rc.2.20479.15

**Version**:  5.0.100-rc.2.20479.15

**Version**: 5.0.0-rc.2.20475.17

### Describe the bug

I might be missing something here but following the documentation on having the built in NET Analyzers run on my code isn't working and I have a NET 5.0 ASP.NET app that I'm testing with. It is similar to the issue that was r

[2020-10-21 17:05] mavasani commented on #4351
This is by design.

Please read about default enabled rules in the SDK here: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview#enabled-rules

Please read about enabling additional rules here: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview#enable-additional-rules

[2020-10-21 17:05] #4351 closed

[2020-10-21 17:22] mtaylorfsmb commented on #4351
I'm sorry but this is a mess and the documentation is insufficient here. In the paragraph you linked to it says the default enabled rules and in the very next block it indicates that RC2 ships with all the rules. Nobody outside the people who wrote these analyzers would understand this. This needs to be far better documented.

At a minimum, given that most people either don't care or are currently

[2020-10-21 17:34] mavasani commented on #4351
Please file a doc issue.

Shipping a rule does not mean it is enabled by default. I think the documentation is pretty clear, but if you disagree please raise a doc feedback request on that page.

That is absolutely not true - as per telemetry, less then 2% of VS .NET users are using or aware about FxCop analyzers.

Remove package reference to FxCop analyzers NuGet package and switch to Aggressive/

[2020-10-21 21:58] carlossanlop commented on #4345
THanks for opening an issue, @NN--- . Do you mean it shows up above a method signature instead of an invocation?

[2020-10-22 04:53] NN--- commented on #4345
Yes.

[2020-10-22 17:18] mavasani commented on #4344
It seems like the issue is that the compiler toolset in the MSBuild/VS version on your build server is older then the version required by the analyzer package. Please upgrade your build server to a newer MSBuild/VS toolset to fix this issue.

[2020-10-22 17:30] mavasani commented on #4342
Tagging @Evangelink - I thought this was handled in https://github.com/dotnet/roslyn-analyzers/pull/3155

[2020-10-22 17:32] mavasani commented on #4336
This is a known limitation of dataflow analysis rules. Please add a source suppression for this case.

[2020-10-22 17:32] #4336 closed

[2020-10-22 17:50] mavasani commented on #4342
Also related to https://github.com/dotnet/roslyn/issues/38192 - underlying issue is with XAML tooling not correctly auto-updating the code behind file, and they have closed it as won't fix.

[2020-10-22 21:15] dotpaul commented on #4329
Sorry, I started looking at this but it fell off my radar.

Seems like in .NET 4.6.1, the default is **not** checking whether the server TLS certificate is revoked. So the analyzer is working by design.

I'll have to ponder what the docs should say in the case of older version of .NET Framework (just upgrade, or is there an alternative).

[2020-10-22 23:19] #4344 closed

[2020-10-23 04:06] 333fred opened #4359 "PublicAPI Analyzer fixer does not behave well with records"
### Analyzer

**Diagnostic ID**: RS0016

### Analyzer source

**NuGet Package**: 3.3.0

### Describe the bug

When adding a new public api defined in a record, I see removals of the get/init methods from the record's primary constructor:
![image](https://user-images.githubusercontent.com/2371880/96955324-2b657f80-14aa-11eb-8314-f96e9a79fd67.png)

### Steps To Reproduce

1. Create a new record.
2.

[2020-10-23 15:17] iSazonov opened #4361 "Helper tool for nullable annotations"
In PowerShell repository we started the nullable annotation process but stopped because of huge complicity - hundreds of cross-referenced classes.

To continue this process, we need to create and arrange the list of classes into groups so that at the beginning there are the simplest classes, in the next group the classes that use them, etc.
|Group 0||||
|-|-|-|-|
||type name|namespace|file path|

[2020-10-23 18:31] buyaa-n opened #4362 "Platform compatibility analyzer not warning for platform specific type parameter"
Platform compatibility analyzer not warning for platform-specific type parameter, seems we could warn for any type parameter usage of platform-specific API. Related to [PR review comment](https://github.com/dotnet/runtime/pull/43363#discussion_r510934435) :

My understanding of the intention here:

1. The whole class/type is marked as `[UnsupportedOSPlatform("browser")]`, meaning that "this class

[2020-10-23 18:58] mavasani commented on #4362
@buyaa-n Seems like a valid bug. However, note that fixing this means now violations can be raised outside of executable code (i.e. in symbol signatures, base list, etc.). These usages cannot be scanned from operation callbacks, which are only for executable code. You will need to add symbol (or syntax?) analyzer actions to the analyzer to identify these. I'd recommend starting with a symbol actio

[2020-10-23 19:27] buyaa-n commented on #4362
Thanks, for now i think only diagnosing within the operation block will be enough, no need to diagnose `outside of executable code (i.e. in symbol signatures, base list, etc.)`, but will see how it goes

[2020-10-23 19:34] mavasani commented on #4362
I thought that was one one of the request from @eerhardt? If you have a type marked as unsupported on a platform, then using that type as a type parameter inside the base list or method signatures within another type supports that platform should be flagged. Isn't that the scenario?

[code]

[2020-10-23 20:19] eerhardt commented on #4362
@mavasani - that is one example scenario, yes.

The other example scenario is using the type in a generic method call directly:

[code]

If we can fix this scenario, I think that is a good start. But yes, to completely fix this I think we would need to fix the scenario you wrote as well.

[2020-10-23 20:52] carlossanlop commented on #4330
@mavasani @sharwell is it a breaking change to move a rule to a different category?

[2020-10-23 20:55] carlossanlop commented on #4283
For clarity: this is a suggested improvement for the existing rule CA2007, correct?

[2020-10-23 21:01] mavasani commented on #4330
It has bunch of additional things to consider:

1. We have sequential ID ranges allocated to each category, and changing category for an existing rule ID would mean adding holes in the range: https://github.com/dotnet/roslyn-analyzers/blob/41b4ee4eda3d416a9531081885d6c75840609533/src/Utilities/Compiler/DiagnosticCategoryAndIdRanges.txt#L5-L22
2. You will need to edit the rule doc page and also mov

[2020-10-23 21:06] buyaa-n commented on #4362
cc @jeffhandley

[2020-10-23 21:23] sharwell opened #4366 "Analyzer CSharpRestrictedInternalsVisibleToAnalyzer threw an exception of type NullReferenceException"
Occurred in build for dotnet/roslyn#48883

[code]

[2020-10-25 12:26] Youssef1313 commented on #4283
Yes

[2020-10-25 22:40] aolszowka opened #4367 "Operations Which Have a Default StringComparer Should Strongly Suggest Explicitly Specifying the StringComparer"
**Brief description:**
Background on the issue here: https://github.com/dotnet/runtime/issues/43802

This is a real gotcha in my mind for anyone new to the ecosystem.

Historically I have used this excellent Roslyn Analyzer https://github.com/meziantou/Meziantou.Analyzer to catch similar issues, however I feel this is important enough to be something that should be out of the box. I have filed a r

[2020-10-26 09:59] ike86 commented on #4344
Thank you for your help.

[2020-10-26 10:59] curia-damiano opened #4369 "Event handler unhook properly"
### Describe the problem you are trying to solve
The idea of this rule has been born after doing code reviews to code with memory leaks; some of them were caused by missed unhook of event handlers, and with my surprise I've found that there are currently no OOTB rules for this purpose.
So the idea would be to check the biggest issue with event handlers.

### Describe suggestions on how to achieve

[2020-10-27 00:44] kharada7 opened #4371 "FxCopAnalyzer 3.0.0 or later with VS2017 shows many warnings of 'CS8032'"
### Diagnostic ID

Example: CS8032 An instance of analyzer Microsoft.CodeQuality.Analyzers.QualityGuidelines.[SomeRule] cannot be created from MyProject\packages\Microsoft.CodeQuality.Analyzers.3.0.0\analyzers\dotnet\cs\Microsoft.CodeQuality.Analyzers.dll : Could not load file or assembly 'Microsoft.CodeAnalysis, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its depe

[2020-10-27 01:05] sharwell commented on #4371
The 3.0 release requires Roslyn 3.0, which first shipped in Visual Studio 2019.

[2020-10-27 02:22] kharada7 commented on #4371
@sharwell I understand. Thank you.

[2020-10-27 02:22] #4371 closed

[2020-10-27 06:29] iSazonov commented on #4361
@mavasani @Evangelink @Youssef1313 Guys, sorry for direct ping but maybe some of you will be interested in this?

[2020-10-27 10:59] davidkarlsson opened #4372 "PlatformCompatibilityAnalyzer throws System.ArgumentException"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/CA1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [5.0.100-rc.2.20479.15](https://dotnet.microsoft.com/download/dotne

[2020-10-27 15:40] mavasani commented on #4372
Thanks, I will investigate.

[2020-10-27 15:43] mavasani commented on #4372
The fix should be just changing the below `Add` call to a dictionary write, i.e. `_globalValuesMapBuilder[operation] = GlobalState;` https://github.com/dotnet/roslyn-analyzers/blob/a235f3f23323cd0508d08d7702e3b92faef3cf55/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/GlobalFlowStateAnalysis/GlobalFlowStateDataFlowOperationVisitor.cs#L208

Tag @buyaa-n as well.

[2020-10-28 19:44] carlossanlop commented on #1487
@mavasani should this go through API review in the runtime repo, or is this just an improvement to an existing analyzer?

[2020-10-28 19:48] carlossanlop commented on #4014
@buyaa-n @terrajobst Was this already approved in the runtime repo in the API proposal meeting? If yes, can you please link the issue number? It can be confusing to have proposals open in this repo and in runtime at the same time. I think we should keep all proposals in the runtime repo.

[2020-10-28 19:49] carlossanlop commented on #4015
@buyaa-n @terrajobst was this approved in an API proposal in the runtime repo? If yes, can you please link the issue number?

[2020-10-28 19:50] carlossanlop commented on #3657
@mavasani should we create an `up-for-grabs` label in this repo? This issue looks like a good candidate to ask for help from the community.

[2020-10-28 20:13] carlossanlop commented on #4022
Talked with @buyaa-n and since this proposal would require a new ruleID, we think it should go through API review, so I'm moving it to the runtime repo.

[2020-10-28 20:20] carlossanlop commented on #3144
Can you please add a more detailed description?

We need usage examples of the APIs that would be affected by this rule.

[2020-10-28 20:22] carlossanlop commented on #3000
Let's move it to the runtime repo and prepare it for API review.

[2020-10-28 20:32] carlossanlop commented on #2937
Since this issue got approved directly here back in Dec 2019 before we defined that roslyn analyzer proposals should go through API proposal in the runtime repo, and it already has a PR, I'll set it as approved.

[2020-10-28 20:34] carlossanlop commented on #1821
@mavasani is the `Microsoft.NetCore.Analyzers` area the most appropriate for this particular proposals? If yes, then I can move it to the runtime repo so it goes through API review.

[2020-10-28 20:36] mavasani commented on #1821
@carlossanlop Yes, this needs a clear design and approval from the runtime team before it can be implemented.

[2020-10-28 20:39] carlossanlop commented on #959
@mavasani Since this is a 2016 issue and the analyzer has already been merged, it probably does not need to go through API review in the runtime repo. It just needs to be marked as `help wanted` in case anyone wants to help implement the fixer.

[2020-10-28 20:39] mavasani commented on #1487
Yes, I agree we need a proposal/triage in runtime repo before taking this forward.

[2020-10-28 20:41] carlossanlop commented on #887
@mavasani @sharwell is `Area-Microsoft.NetCore.Analyzers` the correct label? If yes, let me know, so I can transfer it to the runtime repo so it goes through API review.

[2020-10-28 20:43] mavasani commented on #887
This one does not seem to be API related, let me change the label.

[2020-10-28 23:35] buyaa-n commented on #4362
@mavasani i think the question/scenario you mentioned is the same as should we flag all reference of platform-specific type? I would say no, as you mentioned, with the existing design we only flag them when they are used/invoked, and i don't think we need to flag on type declaration. let's see a similar/simpler example:
[code]
Why we should not warn for the type/method declaration or other cases y

[2020-10-29 03:54] Tan90909090 commented on #3845
Minimum reproducible example:
[code]

[2020-10-29 05:05] Tan90909090 opened #4382 "CA1508 should not occur in a using statement's expression"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug
I don't expect CA1508 on using stat

[2020-10-29 06:06] #4366 closed

[2020-10-29 08:30] sobolev88 commented on #1313
I don't know why, but if I add `<GenerateDocumentationFile>true</GenerateDocumentationFile>` msbuild runs code analysis and the build fails with IDE0005. It seems a solution for me

P.S.
I configured IDE0005 as an error in editorconfig, installed Microsoft.CodeAnalysis.CSharp.CodeStyle and I want to get errors from msbuild

[2020-10-29 09:57] SebastianSchumann opened #4383 "CA1508: False Positive in 3.3.1. Older Version 3.3.0 is working."
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug / Steps To Reproduce

The following

[2020-10-29 10:26] SebastianSchumann commented on #4140
It seams that the problem is fixed in 3.3.1 using VS 16.7.7.

[2020-10-29 10:27] #4140 closed

[2020-10-29 13:30] RobSiklos commented on #4383
Another repro:

[code]

[2020-10-29 15:23] mavasani commented on #4369
Looks good to me. @sharwell @jmarolf any concerns? Otherwise, I can mark the rule as up-for-grabs.

[2020-10-29 15:26] curia-damiano opened #4385 "CA1004: allow to disable the rule for each field"
### Analyzer

**Diagnostic ID**: [CA1716](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1716)

### Describe the improvement
The rule CA1004 reports classes that contain fields are that are IDisposable and are not properly disposed.
In case of suppression of the rule, it gets suppressed for the full class.
It would be nice if:
- it could keep the current behavior, whe

[2020-10-29 15:39] mavasani commented on #4385
This can potentially be implemented by adding support for the existing editorconfig option https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#excluded-symbol-names for this rule. Tagging @Evangelink in case you are interested in picking this up.

[2020-10-29 15:52] meziantou opened #4386 "CA1508 False positive"
### Analyzer

**Diagnostic ID**: CA1508

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Steps To Reproduce

[code]

### Expected behavior

No diagnostic because the result is not always false. For instance `Repro("   ")` would return true.

### Actual behavior

[2020-10-29 16:14] meziantou opened #4387 "CA1508 False positive with char equality"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Steps To Reproduce

[code]

### Expected behavior

No diag

[2020-10-29 17:04] jmarolf commented on #4369
Looks good to me!

[2020-10-29 17:14] mavasani commented on #4369
Tagging @Youssef1313 @Evangelink if you are keen on picking this up. This can be implemented as a SymbolStart/SymbolEnd based IOperation analyzer. To start with, we probably want to implement only the simple case of detecting `+=` with missing `-=` and vice versa.

[2020-10-29 17:40] RobSiklos opened #4389 "CA1812 incorrect message about static class not being instantiated"
This is a regression - the problem didn't happen in v3.3.0.

### Analyzer

**Diagnostic ID**: [CA1812](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1812): `Avoid uninstantiated internal classes`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3

[2020-10-29 17:41] mavasani commented on #4389
Tagging @Evangelink

[2020-10-29 23:34] xtqqczze commented on #1631
[Roslynator](https://github.com/JosefPihrt/Roslynator) has a code fix for this in [RCS1159](https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1159.md).

[2020-10-30 13:21] corentinaltepe commented on #3130
@Evangelink Please correct me if I'm wrong. Here's an example:

[code]

In such use case, in the last line I could not replace the argument `"/items"` with a `Uri` unless I rebuild the whole Uri (base address + `"/items"`). However, that last line gets flagged by CA2234. I too, have to consider it a false negative.

[2020-10-30 18:22] buyaa-n commented on #4362
@eerhardt the scenario from your below example will be covered with the fix, but we are not gonna flag it on the type/API declarations please let me know if you are OK with that
[code]

[2020-10-30 18:29] eerhardt commented on #4362
Yes, I am OK with moving forward with just the method calls being flagged for now.

[2020-10-30 21:36] sungam3r commented on #3468
My case for false positive:
[code]

[2020-10-30 22:33] mavasani commented on #4372
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4393

[2020-10-30 22:33] #4372 closed

[2020-10-30 22:34] MelbourneDeveloper commented on #4338
@Evangelink where is this configured?

I use the editor config these days and I have to opt in to the rules I want. What have I missed?

[2020-10-31 15:30] Evangelink commented on #4338
Some rules (e.g. CA1831) are enabled by default which means that when you install the nuget package, without any manual modification (ruleset or editorconfig) the rule will analyze your code. For others, you will have to manually enable the rule (ruleset or editorconfig). Hope this is clearer.

[2020-10-31 15:52] Evangelink commented on #3130
@corentinaltepe I am no expert with web client so there might be something I am missing. Can't you simply replace the last line with `var result = await client.PostAsync(new Uri("/items", UriKind.Relative), content);`?

[2020-10-31 16:00] Evangelink commented on #4389
Indeed, there is even a test for this case. I see two ways to fix this case:

1. We want to be strict about the instantiation, in which case we stop reporting for this case.

2. We want the rule to be more around "use", in which case we could create another descriptor with a different message (i.e. `Foo is an internal class that is apparently never used. If so, remove the code from the assembly.`)

[2020-10-31 16:23] corentinaltepe commented on #3130
Hi @Evangelink . Thank you for pointing `new Uri("/items", UriKind.Relative)`! It did solve the issue. False alarm then. Sorry about that.

[2020-10-31 16:47] Youssef1313 commented on #4389
@Evangelink The suggestion second option would be better as a separate rule IMO.

I think the analyzer should just exclude static types. It seems that the value returned from the `IsStaticHolderType` call below is false:

https://github.com/dotnet/roslyn-analyzers/blob/c26b04af4f237e17fc50053339d6641c9df67b29/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/Maintainability/AvoidUninstantiated

[2020-10-31 17:02] Youssef1313 opened #4396 "CA1812: Avoid uninstantiated internal classes should account for DynamicDependencyAttribute"
### Analyzer

**Diagnostic ID**: [CA1812](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1812)

### Describe the improvement

From the docs:

If the constructor is referenced in DynamicDependencyAttribute, the rule shouldn't report a diagnostic for it.

### Additional context

This is related to the suggested enhancement for IDE0051 (https://github.com/dotnet/roslyn/i

[2020-11-01 09:34] skrysmanski commented on #3833
Not sure whether I should open a separate bug for this but I've been experiencing a similar problem with CA1303 since I've updated the roslyn-analyzers to 3.3.1. My project has `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` and when compiling in Visual Studio the compiler reports a CA1303 issue as error (as expected) - but Visual Studio only shows the warning squiggles (I'd expect the error

[2020-11-01 09:49] #3130 closed

[2020-11-01 09:51] Evangelink commented on #4389
@Youssef1313 I am not sure what is supposed to be the exact scope of this rule so I'd rather wait for @mavasani feedback before going for a fix in one direction or another.

[2020-11-01 11:10] JSkimming commented on #4327
I get the same when using `WithCancellation()` I suspect the current fix will suffice, but you may want to add an additional test case.

[2020-11-01 13:44] Evangelink commented on #4385
@curia-damiano are you referring to [CA2213](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2213)? I could not find `CA1004`. If that's the case, what is preventing to use the following syntax:

[code]

[2020-11-01 14:00] huoyaoyuan opened #4397 "CA1801 false positive on record with property-targeting attribute on parameter"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1801): `Review unused parameters`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotnet/5.0)

### Descri

[2020-11-01 14:01] Evangelink commented on #3833
@skrysmanski it's ok to have it here, I expect the fix to be global (i.e. fix the issue for all rules).

@mavasani I think the issue comes from Roslyn but somehow I don't understand why only some rules are impacted... Would you have any guidance so that I can debug further?

[2020-11-01 14:06] Bouke opened #4398 "Upgrading from 3.0.0 to 3.3.1 changes severity to error (even for other analyzers)"
### Analyzer

Microsoft.CodeQuality.Analyzers

### Analyzer source

**NuGet Package**: https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers/3.3.1
**Version**: v3.3.1 (Latest)
**Visual Studio**: 2019 Version 16.7.6

### Describe the bug

After upgrading my solution to use the new v3.3.1 analyzers, the severity from various analyzers is incorrect. Restoring version 3.0.0 restores the sever

[2020-11-01 18:35] haacked opened #4399 "Potential bug with CSharpSymbolIsBannedAnalyzer when analyzing CSharpScript compilation"
### Analyzer

**Diagnostic ID**:  RS0030: The symbol '{0}' is banned in this project

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

Attempting to ban a type doesn't catch usage of the type for CSharpScript compilations when calling a v

[2020-11-02 09:46] huoyaoyuan opened #4400 "CA1014 can't be turned off in editorconfig"
### Analyzer

**Diagnostic ID**: [CA1014](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1014): `Mark assemblies with CLSCompliantAttribute`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotne

[2020-11-02 10:45] curia-damiano commented on #4385
Hi,
Sorry, the warning is about rule CA1001 - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1001.

When I compile, I get a message of this type:
  "Type 'MyType' owns disposable field(s) 'Field1, Field2' but is not disposable"

The point is that if I try to suppress, this rule, it is suppressed at class level:

#pragma warning disable CA1001 // Types that own d

[2020-11-02 11:04] bencyoung opened #4401 "PublicApiAnalyzer fixes don't work"
Hi

Something about my deployment means that the fixes aren't applying and I can't get a useful error message. In VS the code fix shows but then disappears if I click on it:

![image](https://user-images.githubusercontent.com/12084524/97860653-6d888f80-1cfa-11eb-8f78-c6e8c1c6f6d9.png)

In VS Code I get a slightly more informative message but I'm not sure it's the same:

![image](https://user-image

[2020-11-02 13:18] bencyoung commented on #4401
This appeared to only happen with

`dotnet_public_api_analyzer.require_api_files = true`

If I comment this out then the fixes appear

[2020-11-02 13:36] bencyoung commented on #4401
Or possibly due to multiple targets, but only files for one target

[2020-11-02 14:34] mavasani commented on #4400
`CA1014` is a diagnostic with no source file location, hence cannot be configured in editorconfig, but needs to be configured via global config: https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files. We had a workaround in the analyzer itself to workaround this and appropriately respect setting in editorconfig, but this relied on Roslyn internal APIs and is broken as of

[2020-11-02 15:06] AArnott commented on #4028
@jcouv I just tried 3.3.1 and the bug remains. I see dozens of RS0041 errors for oblivious types in code that compiles with `Nullable=true` in the repo given in the repro steps.

[2020-11-02 15:10] ShenValleyLewis commented on #4398
This is happening for me as well, with Visual Studio Professional 2019, version 16.7.3.  I don't have the problem with the analyzer version 3.3.0 but I do have it with 3.3.1.

[2020-11-02 15:14] mavasani commented on #4398
@Bouke @ShenValleyLewis Can you try your scenarios without SonarLint package? Code quality analyzer package can only affect severity of CA diagnostics, so I am not sure how this could happen...

[2020-11-02 15:22] ShenValleyLewis commented on #4398
My projects are not using SonarLint, however they are using SonarAnalyzer.CSharp and StyleCop.Analyzers.  I uninstalled both of these other analyzers, but it doesn't affect the issue with Roslyn Analyzers.

[2020-11-02 15:23] mavasani commented on #4398
Just tried the below repro steps and I am unable to repro this:

1. Create a C# .NETFramework class library with below code:

[code]

2. Install Microsoft.CodeQualityAnalyzers version `3.0.0`

3. Confirm CA and CS intellisense warnings in error list:
[code]

4. Upgrade to Microsoft.CodeQualityAnalyzers version `3.3.1`

5. Confirm exactly same set of warnings - no errors.

[2020-11-02 15:23] mavasani commented on #4398
Can you please provide exact repro steps for your issue?

[2020-11-02 15:25] ShenValleyLewis commented on #4398
I don't know what additional information I can give, apart from what I have already stated.  If you need specific details about my Visual Studio version, Windows version, etc. just let me know.

[2020-11-02 15:27] mavasani commented on #4398
@ShenValleyLewis Can you please provide repro steps similar to the one mentioned in https://github.com/dotnet/roslyn-analyzers/issues/4398#issuecomment-720538539?

[2020-11-02 17:33] ShenValleyLewis commented on #4398
I created a new project with the following code:
`
namespace ClassLibrary1
{
    public class Class1
    {
        void Test()
        {
            int x = 0;
        }
    }
}
`

and the following NuGet packages:
Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.0
SonarAnalyzer.CSharp 8.14.0.22654
StyleCop.Analyzers 1.1.118

I get the following warnings:
Warning	SA1633	The file header is missing or not

[2020-11-02 17:38] JacobT14 commented on #4398
Can confirm this also happened to me.  I thought I was going crazy, but downgrading back to 3.3.0 puts all the warnings at the right severity.

[2020-11-02 17:55] mavasani commented on #4398
I am still unable to repro this:
![image](https://user-images.githubusercontent.com/10605811/97901695-5d1fe700-1cf1-11eb-9810-47d6cbf2c880.png)

Any chance you have an editorconfig entry `dotnet_analyzer_diagnostic.severity = error` somewhere in your repo that is bumping the default severity of all analyzer diagnostics?

[2020-11-02 18:08] ShenValleyLewis commented on #4398
My sample code was not created in any repository.  It was a brand new vanilla project/solution.  In any case, if that were the explanation, I would expect it to have the same effect whether using 3.3.0 or 3.3.1.

I can send you my complete project files, if that would help.  Also any global Visual Studio settings files, if you tell me what to look for.

[2020-11-02 18:33] mavasani commented on #4398
@ShenValleyLewis That would be very helpful, thanks! Can you please also confirm the VS version you are using?

[2020-11-02 18:33] mavasani commented on #4398
One more piece of input - do you see these diagnostics as errors even on command line OR just while typing (intellisense)?

[2020-11-02 18:36] ShenValleyLewis commented on #4398
They appear as errors in the Error List window and also in the IDE (the red wiggly lines appear under the code).

[2020-11-02 18:38] ShenValleyLewis commented on #4398
I was originally using 16.7.3 as stated in my original post.  I just upgraded to 16.7.7 but it hasn't made any difference.

[ClassLibrary1.zip](https://github.com/dotnet/roslyn-analyzers/files/5477250/ClassLibrary1.zip)

[2020-11-02 18:40] mavasani commented on #4398
Can you confirm the behavior if you build the project, either from command line or inside Visual Studio (for the latter look at the contents in the Output Window)?

[2020-11-02 18:42] ShenValleyLewis commented on #4398
Here are the contents of the Output Window:

1>------ Build started: Project: ClassLibrary1, Configuration: Debug Any CPU ------
1>C:\code\swift-git\ClassLibrary1\ClassLibrary1\Class1.cs(8,17,8,18): warning CS0219: The variable 'x' is assigned but its value is never used
1>C:\code\swift-git\ClassLibrary1\ClassLibrary1\Class1.cs(1,1,1,1): warning SA1633: The file header is missing or not located at

[2020-11-02 18:48] mavasani commented on #4398
Thanks, I can repro it now - and this behavior seems to be specific to legacy csproj style .NET projects, it does not repro on SDK-style projects. I'll investigate.

[2020-11-02 18:58] mavasani commented on #4398
@Bouke @ShenValleyLewis So, I was able to repro the issue on 16.7.x builds, but this does not repro on following:

1. 16.8 Preview6 build: https://docs.microsoft.com/visualstudio/releases/2019/release-notes-preview
2. Internal 16.9 dogfood builds

So, it seems like there was some Roslyn/VS bug in 16.7 that seems to be causing it, which has been fixed in upcoming release.

[2020-11-02 19:01] ShenValleyLewis commented on #4398
Good to know!

[2020-11-02 19:03] #4398 closed

[2020-11-02 19:16] Bouke commented on #4398
Thanks. We'll hold off upgrading the analyzers until the team has upgraded to 16.8. Maybe this warrants a note in the documentation somewhere?

[2020-11-02 19:23] mavasani commented on #4397
They are available in CLI. Please see https://docs.microsoft.com/dotnet/fundamentals/code-analysis/overview#code-style-analysis

[2020-11-02 23:17] mavasani commented on #4400
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4402

[2020-11-02 23:17] #4400 closed

[2020-11-02 23:18] mavasani commented on #4224
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4402

[2020-11-02 23:18] #4224 closed

[2020-11-03 00:17] buyaa-n opened #4404 "Consider flag platform specific constructor called implicitly in derived types"
Platform attributes not derived by design, this means when `A` has platform-specific attribute and `B` derived from `A` is not counted as platform-specific. But if B's constructor is implicitly calling the base default constructor then it might need to flag that, especially when the base constructor does any platform-specific operation. As shown below example if derived type calls any platform-spe

[2020-11-03 06:36] terrajobst commented on #4404
We should also consider warning on the inverse, i.e. when someone adds platform-specific annotations on derived types because one could argue that polymorphism breaks the analysis.

For example, if I derive from a non-platform specific type (or interface) and add platform-specific functionality callers might not get any warnings when they consume the type through the base. Same applies to override

[2020-11-03 07:50] JohanLarsson opened #4405 "CompareSymbolsCorrectlyFix encountered an error"
[code]

When invoked on `source.Symbol.Equals(backing.Symbol)`

[2020-11-03 09:11] jskeet opened #4406 "CA2119 not triggered when extended interface is implemented"
### Analyzer

**Diagnostic ID**: [CA2119](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2119): `Seal methods that satisfy private interfaces`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

When there are two inte

[2020-11-03 12:21] huoyaoyuan commented on #4400
@mavasani Tried to use globalconfig, and I'm getting the following diagnostics:
Since I've set `<AnalysisMode>AllEnabledByDefault</AnalysisMode>`, it complains about duplicated severity items in `.globalconfig` and SDK provided `AnalysisLevel_5_AllEnabledByDefault.editorconfig`. This doesn't happen with `.editorconfig`, where local defined value gets preferred.

[2020-11-03 18:51] buyaa-n commented on #4404
Good point

I think if we suggest to mark constructor instead of the overridden method it would be the same as marking the entire type platform-specific, which would bad if the type has other APIs not platform-specific. Isn't it better to suggest to mark the base type method instead of suggesting to mark constructor?

[code]

[2020-11-03 21:25] terrajobst commented on #4404
In principal yes, but that's not always actionable because I may not own the type. For example, let's say I need to a framework provided abstraction like `IComparable<T>`.

[2020-11-03 21:58] Evangelink commented on #4385
Ok makes sense now! I will try to handle this as suggested by @mavasani

[2020-11-03 22:58] buyaa-n commented on #4404
Makes sense, if we decide to suggest to move the attribute to the constructor that could be covered with the [other analyzer](https://github.com/dotnet/runtime/issues/43971) for platform attributes consistency

[2020-11-04 08:01] curia-damiano commented on #4385
Thank you @Evangelink

[2020-11-04 08:18] msbasanth opened #4407 "CA2213 - Creates a finding when tried to assign a base class protected field (IDisposable) from a derived class"
### Analyzer

**Diagnostic ID**: [CA2213](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2213): `Disposable fields should be disposed`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.0.0

### Describe the bug

Provide the steps to reproduce the behav

[2020-11-04 09:32] Youssef1313 commented on #4405
Looks like this is already fixed?
https://github.com/dotnet/roslyn-analyzers/issues/4116

[2020-11-04 09:56] JohanLarsson commented on #4405
Ok, closing this, can always create a new.

[2020-11-04 09:56] #4405 closed

[2020-11-04 17:46] gewarren opened #4408 "False positive for CA1508"
---
**Issue moved from dotnet/docs#21331**
- Please respond to @maxkoshevoi.

---

_From @maxkoshevoi on Tuesday, November 3, 2020 9:24:30 PM_

[code]
Where `TeachersToHide` and `EventTypesToHide` are both `List<long>`

![image](https://user-images.githubusercontent.com/6609929/98042060-90669100-1e2b-11eb-93c9-af4613bb9313.png)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-11-04 17:46] gewarren commented on #4408
---
**Issue moved from dotnet/docs#21331**
- Please respond to @Youssef1313.

---

_From @Youssef1313 on Wednesday, November 4, 2020 10:37:47 AM_

This needs to be moved to dotnet/roslyn-analyzers repository.

[2020-11-05 12:01] JohanLarsson opened #4409 "CA1810 should not warn when not assigning any fields"
[code]

[2020-11-05 16:42] KrisVandermotten commented on #3427
I understand that for some `ISymbol` instances, there are now two notions of equality, because of NRT. Specifically, I understand that to be the case for `ITypeSymbol` and derived interfaces.

But what about symbols that are statically known not to be types?

For example, consider this code:

[code]

This code currently reports the diagnostic. But should it? Do assemblies exist in both a nullable

[2020-11-05 16:47] sharwell commented on #3427
@KrisVandermotten this issue concerns the messaging for the diagnostic. Your scenario sounds like a new case to handle; can you file a separate issue for it?

[2020-11-05 17:03] KrisVandermotten opened #4410 "False positives for RS1024 (Compare symbols correctly)"
Comparing instances of `ITypeSymbol` using their `IEquatable<ISymbol>` interface could be a bug, because of NRT. RS1024 was introduced to discover those possible bugs early, and force the author to be explicit about the symbol equality comparer to be used. Obviously, the rule should apply when comparing `ITypeSymbol` instances, but also when comparing `ISymbol` instances, since those just might be

[2020-11-05 17:05] KrisVandermotten commented on #3427
@sharwell See issue #4410

[2020-11-05 17:09] sharwell commented on #4410
@333fred @mavasani Do you know which symbols can never have nullability information?

[2020-11-05 17:10] sharwell commented on #3427
@mavasani What's the plan for documentation pages for Microsoft.CodeAnalysis.Analyzers? I would expect the description of the RS1024 scenarios to eventually live there.

[2020-11-05 17:33] KrisVandermotten commented on #4410
I would suggest to turn that question around: which symbols can have nullability information?
The best way to avoid false positives is to be explicit about the symbol types that can have diagnostics, and to ignore all other types.

It's clear that calling the `Equals<ISymbol>` method on expressions of the following types is problematic:
- ISymbol (and ISymbol?)
- ITypeSymbol (and ITypeSymbol?)
- I

[2020-11-05 17:44] sharwell commented on #4410
It looks this applies to all member symbols (`IFieldSymbol`, `IEventSymbol`, `IMethodSymbol`, `IParameterSymbol`, etc.). This narrows down the potential false positives to:

* IAssemblySymbol
* IModuleSymbol
* INamespaceSymbol

[2020-11-05 21:08] JohanLarsson opened #4411 "CA1508 should not warn on as expression"
[code]

![image](https://user-images.githubusercontent.com/1640096/98296556-60e29080-1fb3-11eb-811a-720761d9fc27.png)

[2020-11-06 09:16] KrisVandermotten commented on #4410
What about `IParameterSymbol` ?

[2020-11-06 14:24] langdonx commented on #3492
You guys find the most creative way around this?

I'm thinking GlobalSupression.cs to just skip CA1307 altogether until it can be resolved in a better way.

[2020-11-06 14:35] matkoch opened #4412 "False report for RS1024 when SymbolEqualityComparer is used"
### Analyzer

**Diagnostic ID**: RS1024

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

Analyzer doesn't take passed `equalityComparer` into account.

### Steps To Reproduce

[code]

### Ex

[2020-11-06 14:49] KrisVandermotten opened #4413 "False positive for RS1024 (Compare symbols correctly) when not comparing symbols"
It seems that in some cases, when a method has an overload that takes an `IEqualityComparer<T>`, and one of the generic arguments to that method is `ISymbol` or a type that derives from `ISymbol`, the analyzer assumes that the symbols are being compared. That is not necessarily true.

### Steps To Reproduce

Consider this method:

[code]

### Expected behavior

No symbols are being compared, so no

[2020-11-06 15:01] KrisVandermotten opened #4414 "CompareSymbolsCorrectlyAnalyzer threw an exception of type NullReferenceException"
Consider the following code:

[code]

Compiling this results in:

[code]

[2020-11-06 18:05] langdonx opened #4415 "CA1508 False positive on Nullable DateTime"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

It's reporting a false positive ch

[2020-11-06 18:31] mavasani commented on #4387
Seems like the new IOperation for range/index needs to be handled in flow analysis.

[2020-11-06 18:33] mavasani commented on #4408
This needs a much more clear repro. @maxkoshevoi can you please provide a standalone repro that shows the false positive against 3.3.1 NuGet package?

[2020-11-06 18:34] mavasani commented on #4386
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3685

[2020-11-06 18:34] #4386 closed

[2020-11-06 20:42] Ergamon opened #4416 "Version 3.3.1 and non-sdk style projects messed up in Visual Studio error list"
**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

The latest NuGet package messes up with the inbuild error list of Visual Studio.

The build process is not affected.

1. Open VS2019 - Create a new Console App (.NET Framework)

The default template will create a new p

[2020-11-06 20:44] mavasani commented on #4416
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/4398#issuecomment-720662606

[2020-11-06 20:44] #4416 closed

[2020-11-06 21:08] DiskCrasher commented on #3094
Seeing the same issue in 16.7.7 and I have no extra statements (besides comments) in the Dispose method:

[code]

[2020-11-06 21:18] langdonx commented on #3645
17 of 'em now. ;)

[2020-11-06 21:24] Ergamon commented on #4398
Sorry for the duplicate. Seems I did not use the correct search terms ;)

[2020-11-06 21:39] buyaa-n commented on #3608
The API Proposal https://github.com/dotnet/runtime/issues/33770 ready for review

[2020-11-07 00:47] mavasani commented on #3865
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/4415, which should be fixed when https://github.com/dotnet/roslyn-analyzers/pull/4358 is merged.

[2020-11-07 00:47] #3865 closed

[2020-11-07 11:07] raffaeler commented on #3427
@sharwell what is wrong with this? (still getting RS1024 from the analyzer)
[code]

[2020-11-07 16:53] sharwell commented on #3427
@raffaeler That looks like #4412

[2020-11-07 18:22] raffaeler commented on #3427
@sharwell yes, exactly

[2020-11-07 23:54] maxkoshevoi commented on #4408
Here is a line of code where false positive occurs: https://github.com/maxkoshevoi/NureTimetable/blob/master/NureTimetable/NureTimetable/UI/ViewModels/Lessons/LessonSettings/LessonSettingsViewModel.cs#L141

This project hasFxCopAnalyzers 3.3.1 installed.

[2020-11-08 14:58] Evangelink commented on #4389
Ping @mavasani

[2020-11-08 15:04] #4327 closed

[2020-11-08 15:04] #4382 closed

[2020-11-08 15:04] #4383 closed

[2020-11-08 15:04] #4387 closed

[2020-11-08 15:04] #4411 closed

[2020-11-08 15:04] #4415 closed

[2020-11-08 15:15] mavasani commented on #4389
[Rule description](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1812#rule-description) of this rule explicitly mentions it is not reported for non-static types. I think its probably best to report unused static types with a completely different rule ID. IMO it will be easier to report it in the same analyzer as `CA1812` by just adding a new descriptor to the analyze

[2020-11-08 15:23] Youssef1313 commented on #4389
@mavasani I'm not sure which part of the rule description mentions it's not reported for non-static types?
The rule makes sense for non-static types.

The rule description states that "Types that cannot be instantiated" are not examined by the rule (i.e. not reported).

[2020-11-08 15:24] mavasani commented on #4389
@Youssef1313 sorry I had a typo in my comment - fixed it now. I meant let's restrict `CA1812` to non-static types.

[2020-11-08 15:30] Youssef1313 commented on #4389
@mavasani I attempted to do that in my PR, but that will cause the issue #1878 to be back. Should I use `IsStaticHolderType` only for VB?

[2020-11-08 15:32] mavasani commented on #4389
That sounds reasonable to me. @Evangelink your thoughts?

[2020-11-08 15:34] Youssef1313 commented on #4389
Note: that will require doc update on the following sentence:

It will need to be updated to:

[2020-11-08 15:38] #4385 closed

[2020-11-08 15:49] mavasani commented on #4389
@Youssef1313 - I think there is still some confusion here:

1. `CA1812` should stick to the current documentation, i.e. do not report any `CA1812` diagnostics for both C# and VB static types that only define static methods. Additionally, do not regress https://github.com/dotnet/roslyn-analyzers/issues/1878 by skipping VB non-static types that define a private constructor (static holder type).
2. I

[2020-11-08 16:28] Youssef1313 commented on #4389
What I understand from the documentation is that the rule doesn't report any diagnostic for types that only define static methods (whether the types themselves are declared static or not).

So I think #4395 matches the current documentation.

[2020-11-09 08:52] huoyaoyuan commented on #4396
Should be effectively a duplicate of #4243

[2020-11-09 09:11] Youssef1313 commented on #4396
yep, closing.

[2020-11-09 09:11] #4396 closed

[2020-11-09 15:41] #4389 closed

[2020-11-09 21:45] #4362 closed

[2020-11-10 17:39] alrz opened #4420 "Code Style option to prevent repeated property patterns"
From https://github.com/dotnet/csharplang/issues/4120; currently this is accepted:
[code]
It would be nice to have an analyzer to flag those cases and suggest to use `and` patterns instead.

We need to turn it off by default (maybe only as a hint?) for back compat but I expect some would prefer not to allow it in their codebase.

[2020-11-10 18:14] mavasani commented on #4420
I am wondering if this should be a compiler warning as part of compiler warning wave - this is flagging incorrect use of new language construct, which seems to fall in same bucket as https://github.com/dotnet/roslyn/issues/46637. Tagging @jmarolf @sharwell @333fred

[2020-11-10 18:39] alrz commented on #4420
See dotnet/csharplang#4120 for discussion on the warning wave. tldr: there's no incorrect behavior so we should continue to accept it. therefore my suggestion for an analyzer+codefix so we can opt-in for a warning/error.

[2020-11-10 18:52] carlossanlop commented on #3608
The API proposal has been approved, @fowl2

[2020-11-10 19:42] mavasani commented on #4420
@alrz Are you suggesting this is a pure code style suggestion? We use the following classification based on analysis kind:

1. Correctness issue w.r.t usage of language constructs - compiler warning wave
2. Correctness issue w.r.t usage of .NET APIs or generic API agnostic code quality improvement suggestion - CA analyzer implemented in this repo
3. Code style suggestion w.r.t usage of new languag

[2020-11-10 20:58] michsco commented on #4414
Seeing the exact same error.

[2020-11-11 11:49] yfital commented on #4412
Another one for the bunch on .netcore5 final 5.0.100

            ImplementedInterfaces = typeSymbol.AllInterfaces
                .Distinct<INamedTypeSymbol>(SymbolEqualityComparer.Default)
                .ToList();

[2020-11-11 12:53] JasonBock commented on #4414
Seeing the same with `HashSet<ITypeSymbol>`. The only way to get around this is to suppress the issue in code for now. :(

[2020-11-11 12:58] JasonBock opened #4425 "Add Proper Documentation For Analyzers (Or At Least Fix the Links)"
### Analyzer

RS1024 (but probably applies to others)

### Describe the improvement

If an analyzer is tripped and I go to the Error List in VS, and I click on the link for the rule number, it does a Bing search. This is *not* a good experience. If there are links set up for the analyzer in question, please change the analyzer such that the help URL actually goes to that link. If there isn't a hel

[2020-11-11 16:46] Evangelink commented on #4425
Possible dup of #4096

[2020-11-11 16:57] mavasani commented on #4425
@Evangelink This is a different issue. We do not have any documentation for RSxxxx diagnostics in this repo and all analyzers provide a null helpLink in their descriptors, which leads to bing search as the default navigation behavior. The work here is to write documentation for these analyzers and then hook it up with the analyzers.

[2020-11-11 21:19] neoscie opened #4426 "CA1508 FP when using an extension method that returns IDisposable"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)
**Version**: v3.3.1

### Describe the bug

Another one to the CA1508 FP's pile... I've set up

[2020-11-13 22:28] buyaa-n opened #4428 "CA1416: Consider supporting guard clauses like IsThreadStartSupported"
Consider supporting guard clauses like IsThreadStartSupported in Platform compatibility analyzer

I'd have hoped the analyzer would be able to understand the guard clauses like IsThreadStartSupported just as the linker can.  Is that not possible?

_Originally posted by @stephentoub in https://github.com/dotnet/runtime/pull/43363#discussion_r520598687_

[2020-11-14 12:18] maxkoshevoi commented on #4408
@mavasani are you able to reproduce the issue with provided repository?

[2020-11-14 14:23] JarLob commented on #4128
I'm still able to reproduce the issue in 16.8.1.

[2020-11-15 11:29] RehanSaeed opened #4429 "Improve dotnet_analyzer_diagnostic.category Documentation"
The official documentation does not mention `dotnet_analyzer_diagnostic.category-CodeQuality.severity` but it exists in Roslyn Analyzers here: https://github.com/dotnet/roslyn-analyzers/blob/master/.editorconfig#L185-L239.

[This documentation](https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#set-rule-severity-of-multiple-analyzer-rules-at-once-in-an-edi

[2020-11-16 16:06] mavasani commented on #4408
@maxkoshevoi I haven't been able to get to it yet. Will try sometime later this week to get to CA1508 issues.

[2020-11-16 16:06] mavasani commented on #4128
Thanks @JarLob I will try to get to investigating it sometime later this week

[2020-11-17 19:32] AArnott opened #4432 "CA2248 has incorrect and undocumented diagnostic"
### Analyzer

**Diagnostic ID**: [CA2248](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2248): `Provide correct enum argument to Enum.HasFlag`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

The CA2248 diagn

[2020-11-17 19:33] AArnott commented on #4432
What's more, the [docs](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2248) for this analyzer doesn't even talk about this message. It only talks about passing in a different enum value that doesn't match the type that is receiving the call.

[2020-11-17 20:16] mavasani commented on #4432
Tagging @Evangelink

[2020-11-17 22:33] #4110 closed

[2020-11-18 09:20] NN--- opened #4433 "False positive CA1508 with 'using'"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Do not use ReferenceEquals with value types`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

editorconfig
[code]

[co

[2020-11-18 12:10] Youssef1313 commented on #4432
Does this suggest to completely remove the NotFlagsRule?

https://github.com/dotnet/roslyn-analyzers/blob/25f1e288fb3c6ebcb6adb3543a5efd6d41ad6b95/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Usage/ProvideCorrectArgumentToEnumHasFlag.cs#L32

[2020-11-18 20:42] AArnott commented on #4432
@Youssef1313, perhaps yes. If it stays, at least the message should be changed to "you might be treating this enum like a flags enum inappropriately" instead of falsely claiming that a false will always be the result.
Even better would be to not display the message if the enum values appear to be bit flags (e.g. incrementing in multiples of 2). Of course the enums that are intended as flags should

[2020-11-19 21:03] omajid opened #4441 "Fix disabled warnings in GenerateAnalyzerNuspec"
https://github.com/dotnet/roslyn-analyzers/pull/4436 disables a bunch of warnings in GenerateAnalyzerNuspec:

[code]

We should enable these warnings and fix the code.

[2020-11-19 23:11] mavasani commented on #4433
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4358.

[2020-11-19 23:11] #4433 closed

[2020-11-19 23:13] mavasani commented on #4426
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/4358

[2020-11-19 23:13] #4426 closed

[2020-11-19 23:18] mavasani commented on #4408
@maxkoshevoi I was able to reproduce the issue, thanks.

[2020-11-19 23:40] mavasani commented on #3468
@tamlin-mike Only remaining issue from your original post is a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3685, for which I have an open PR. I'll close this issue.

@sungam3r Your case seems to same as https://github.com/dotnet/roslyn-analyzers/issues/3845

[2020-11-19 23:40] #3468 closed

[2020-11-20 00:34] mavasani commented on #2528
@oahrens Seems this was an incorrect bug, which has led to https://github.com/dotnet/roslyn-analyzers/issues/3845. Following code throws a null reference exception:

[code]

I am going to revert this change.

[2020-11-20 01:44] mavasani commented on #3645
Verified none of the repros mentioned in this issue repro anymore, closing out.

[2020-11-20 01:44] #3645 closed

[2020-11-20 11:56] Flynn1179 opened #4446 "[CA1801] False positive on top-level code in .NET 5/C#9"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1801): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotn

[2020-11-20 11:57] Youssef1313 commented on #4446
This was fixed in #4066.

[2020-11-20 12:17] Flynn1179 commented on #4446
Fair enough... forgot to check closed issues as well. Oops!

[2020-11-20 12:17] #4446 closed

[2020-11-20 14:41] xtqqczze opened #4447 "Prefer string.Equals to Compare"
### Code with Diagnostic

`string.Compare(x, y, StringComparison.CurrentCulture) == 0`

### Code with Fix

`string.Equals(x, y, StringComparison.CurrentCulture)`

### Additional context

See [RCS1235](https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1235.md)

[2020-11-20 20:11] gewarren opened #4450 "LinkGenerator doesn't match this rule"
---
**Issue moved from dotnet/docs#21672**
- Please respond to @AleAntonellis.

---

_From @AleAntonellis on Friday, November 20, 2020 10:56:28 AM_

This rule is very useful but I have some methods that wrap LinkGenerator's methods. These methods don't match the rule.

For example:
- LinkGenerator.GetUriByName, that return a string

---
#### Document details

⚠ *Do not edit this section. It is req

[2020-11-20 20:27] #3845 closed

[2020-11-20 21:14] #3685 closed

[2020-11-21 04:05] lambdageek opened #4452 "False Positive CA2016 for EnumeratorCancellationAttribute parameter"
### Analyzer

**Diagnostic ID**: [CA2016](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Forward the CancellationToken parameter to methods that take one`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.c

[2020-11-21 04:46] lambdageek commented on #4452
hm. not sure this is a false positive after all.

[2020-11-21 04:46] #4452 closed

[2020-11-22 14:22] cezarypiatek opened #4453 "CA2000 not reported for types implementing IDisposable. It's reported only for IAsyncDisposable"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA2000): `Dispose objects before losing scope`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.1 (Latest)

### Describe the bug

CA2000 is correctly reported for

[2020-11-23 16:08] #4441 closed

[2020-11-23 16:12] mavasani opened #4455 "proposal to change "tainted" warning message format"
Unfortunately I don't have time for this PR. The actual change is three lines of code, but the collateral changes are all over the unit tests. I have a strong feeling this should be done by some MSFT employee ;)
Feel free to convert this into an issue and schedule according your priorities if you see the value in the change.

_Originally posted by @JarLob in https://github.com/dotnet/roslyn-analyz

[2020-11-24 01:21] vsfeedback opened #4480 "Warning when comparing 2 doubles or floats"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1209518/warning-when-comparing-2-doubles-or-floats.html)._

---
When comparing 2 doubles or 2 floats using ==, the IDE should give a warning and suggest that an epsilon should be used

---
### Original Comments

#### Feedback Bot on 10/8/2020, 11:32 PM:

Thank you for taking t

[2020-11-24 07:20] JuanMejiaVelez opened #4456 "New version 3.3.1 is adding a *.GeneratedMSBuildEditorConfig.editorconfig to each project."
### Analyzer

**Diagnostic ID**: [CA2013](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2013): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotn

[2020-11-24 07:30] JuanMejiaVelez commented on #4456
Related bug on Roslyn
[https://github.com/dotnet/roslyn/issues/48430](https://github.com/dotnet/roslyn/issues/48430)

[2020-11-24 22:56] MisinformedDNA commented on #4413
Here's another scenario:

[code]

[2020-11-24 23:47] chsienki commented on #4456
This will be fixed in an upcoming version via https://github.com/dotnet/roslyn/pull/48781

[2020-11-24 23:47] #4456 closed

[2020-11-25 11:23] NN--- opened #4457 "CA2000 with SafeHandle"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000)

### Describe the improvement

Validating SafeHandle before `using` should not issue CA2000.

[code]

### Describe suggestions on how to achieve the rule

### Additional context

[2020-11-26 09:16] Evangelink commented on #3347
Hey @sharwell sorry again for the ping, I know and understand that's not your only task but the ticket is now quite old. I feel like the priority should be raised to either make the change or close as won't fix with some explanation.

[2020-11-26 09:44] Evangelink commented on #4428
@buyaa-n could you please give a little more detail about the issue? As far as I understand the idea is to fix a false positive with the rule CA1416, is it more global? If not, maybe the title should state the rule and the label might be `False-Positive` instead of `Enhancement`.

[2020-11-26 10:34] Evangelink commented on #4432
@AArnott Sorry about that! I actually faced an error in a client codebase that I interpreted as `HasFlag` was always returning false for non-flag enums hence this part of the analyzer. In this case, the enum wasn't designed as a flag (power of 2) so it's different from your case.

I have been giving some thoughts about what could be a good experience and I see 2 options:

1. The option you describ

[2020-11-26 10:45] Evangelink opened #4460 "Cannot restore nuget packages (master)"
Cannot restore nuget package on master branch with latest VS 2019 Preview.

[code]

[2020-11-26 10:48] Evangelink commented on #4460
Looks like this was a temporary issue.

[2020-11-26 10:48] #4460 closed

[2020-11-26 11:18] Evangelink commented on #4453
I can confirm the behavior is still present on master.

I will need to have a deeper look but from what I have seen the `CreateDisposable` and `CreateOwnDisposable` have no associated location while `CreateAsyncDisposable` and `File.Open` do. See the location returned here:
https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/Dispo

[2020-11-26 13:42] thomaslevesque opened #4461 "CA2227 false positive on record type"
### Analyzer

**Diagnostic ID**: [CA2227](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2227): `Collection properties should be read only`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

[2020-11-26 15:01] thomaslevesque opened #4462 "CA1801 false positive on record parameter if any parameter has a default value"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1801): `Review unused parameters`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotnet/5.0)

### Descri

[2020-11-26 16:22] Evangelink commented on #4461
I confirm the issue.

Currently the version of Roslyn we target doesn't provide the `IsInitOnly` property on `IMethodSymbol` so we will need to rely on the LightUp.

[2020-11-26 16:35] thomaslevesque commented on #4461
I don't know what that means, but if you do, it's all that matters :wink:

[2020-11-26 16:48] Evangelink commented on #4461
Ahaha sorry talking about implementation details. Basically we cannot follow the latest version of roslyn when it is released because it would force users to always be on the latest version. As we are not on the right version of roslyn we can't see some new elements (in this case that it is a init only property). Because of that we need to rely on some kind of a wrapper which will either return th

[2020-11-26 16:52] Evangelink commented on #4462
I confirm that I can reproduce the issue.

Regarding how to fix the issue, I am not sure what to do. I think there is a bug (or at least something missing) on roslyn because the property `IsImplicitlyDeclared` returns false while IMO it should return true.

@mavasani let me know if I am missing something.

[2020-11-26 17:12] thomaslevesque commented on #4461
Yes, that's what I guessed by looking at the PR ;)
Thanks for the explanation, and for the quick response!

[2020-11-26 18:31] surfmuggle commented on #1729
In my case the *.csproj file contained a reference to a version that was not installed.

I changed
[code]
to this

[code]

This did the trick

[2020-11-26 18:51] Evangelink commented on #4432
@mavasani feel free to assign me on this ticket.

[2020-11-27 00:37] jnm2 commented on #2581
https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1310 is very pleasant to use. Thanks very much, everyone!

[2020-11-27 03:39] AArnott commented on #4432
We should keep in mind as well that some enums are flags, but also define values that serve as masks, so not every enum member will be a power of two higher than the previous one.

What if we just remove the new diagnostic? Even in the intended case for the diagnostic of using `HasFlag` on a non-flags enum, it seems the risk isn't that `false` will be returned, but rather that `true` will be retur

[2020-11-27 08:19] Youssef1313 commented on #4462
@Evangelink See similar discussion in https://github.com/dotnet/roslyn/issues/48193

[2020-11-27 10:23] Evangelink commented on #4409
I think the example has been cut too much, it seems that `mousePreviousPosition` and `elementPosition` are missing, are they fields? local variable?

Also which version of the analyzer are you using?

[2020-11-27 10:37] Evangelink commented on #3833
Ping @mavasani

[2020-11-27 10:41] sharwell commented on #3833
I think this was fixed in the 3.8.0 release of Roslyn.

[2020-11-27 10:41] Evangelink commented on #4361
So the idea is to provide a tool that would list all types (enum, class, interface, record, struct) with their namespace and their containing file. Could you confirm I got things right?

[2020-11-27 10:42] Evangelink commented on #3833
Ok so it should be transitively fixed when #4449 get merged, right?

[2020-11-27 10:42] KalleOlaviNiemitalo commented on #2718
<https://github.com/dotnet/roslyn-analyzers/pull/2117> added _License notice for Roslyn Clr Heap Allocation Analyzer_ to  THIRD-PARTY-NOTICES.txt but not to assets/ThirdPartyNotices.rtf, which is included in the NuGet package. Based on the precedent in #2386, I guess the license notice should be added there too, before the package is published to nuget.org. Or replace assets/ThirdPartyNotices.rtf

[2020-11-27 10:43] sharwell commented on #3833
No, this is unrelated to #4449. The downstream project (e.g. the "small console app" from the repro steps) would need to update to the 3.8.0 release to have the correct behavior.

[2020-11-27 10:50] Youssef1313 commented on #4361
@Evangelink What I understood is the tool would need to group classes into levels from the easiest to annotate, to the harder ones.

The level of easiness or hardness will depend on the dependency tree between classes.

[2020-11-27 10:51] sharwell commented on #4361
I'm not sure this is the best way to implement this tool. It tends to lead to frequent cases where annotations are initially incorrect, but then later need to be corrected based on new information. The approach would be less likely to experience this if it went in the other direction:

* Start by annotating files that do not define any signatures that are referenced by other files
* Then annotate

[2020-11-27 11:10] Evangelink commented on #3833
Oh ok I didn't get the issue was at this level. I confirm that for my console app, using VS2019 Preview 1.0 solves the issue.

@skrysmanski Could you make a similar test?

[2020-11-27 13:13] Evangelink commented on #4406
@jskeet Do you expect to have `IInternal2` implementing `IInternal1`?

[2020-11-27 13:26] jskeet commented on #4406
@Evangelink: Whoops, yes, I did! I'll double check that I tested it correctly, although I believe I did. I'll add a comment when I've retested, although it might not be today. Huge apologies for messing that up, and thanks for pointing it out.

[2020-11-27 13:42] Evangelink commented on #4406
I will make a test on master and will post the results here.

[2020-11-27 14:54] Evangelink commented on #4409
@JohanLarsson Shall I assume it was using fields?

[2020-11-27 15:07] cafenroy opened #4465 "IDE0004: Cast is redundant not true when removing nullable for returning a value."
### Analyzer

**Diagnostic ID**: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0004:
`Remove unnecessary cast`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

[2020-11-27 15:33] JohanLarsson commented on #4409
It should not warn if using fields in callback like that but you were right the code is too trimmed.

[2020-11-27 16:06] Evangelink commented on #4409
I think you are right that it should not report, we have been doing a few changes to support this so I will keep your ticket open and check if it is still reporting on master.

[2020-11-27 16:12] JohanLarsson commented on #4409
I found a place I had disabled the warning via pragma and there was no warning so looks like things have changed for the better. I'll provide better repro code if I see there warning where it should not warn again.

[2020-11-27 16:40] iSazonov commented on #4361
Oh, I didn't expect you to show interest in my request :-), although I suppose many developers would be happy to find such a tool in .Net SDK.

Sorry for the bad description! I meant that on top there should be declared types without dependencies on other types declared in the project. The next group contains declared types, which depend only on the types from the previous group. You seem to be ta

[2020-11-27 17:09] dominikjeske opened #4484 "Missing or invalid release header"
I have created my source generator with diagnostic info and some analyzer messages. Acording to instruction https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/ReleaseTrackingAnalyzers.Help.md I created this file:

https://github.com/dominikjeske/HomeCenter/blob/MotionService/HomeCenter.SourceGenerators/AnalyzerReleases.Unshipped.md

but unfortunatelly I hav

[2020-11-27 17:34] jskeet commented on #4406
Right, now retested - and yes, it's still a valid bug report :) I've edited the first comment.

[2020-11-27 17:50] Evangelink commented on #4406
I fixed the issue in between ;)

[2020-11-27 19:18] sshanzel opened #4466 "Check Web APIs returning ActionResult with status code 2xx"
### Describe the problem you are trying to solve
`ActionResult` accepts a generic parameter but doesn't enforce strict-typing (related [issue](https://github.com/dotnet/aspnetcore/issues/28198)).
But as what we have discussed [here](https://github.com/dotnet/aspnetcore/issues/28198#issuecomment-734861517), it is ideal to improve the Analyzers instead of making the changes with the `ControllerBase`

[2020-11-27 21:05] sshanzel commented on #4466
I'm not really sure yet how can I infer the type from `OkObjectResult` returned value, being unable to have the correct type checking at:
https://github.com/sshanzel/RoslynAnalyzer-Proposal/blob/a9b45300a504e7878b644cc5a08d33eddd1b6e40/ProducesResponseTypeAnalyzer/ProducesResponseTypeAnalyzer/ProducesResponseTypeAnalyzerAnalyzer.cs#L71

[2020-11-28 08:05] sharwell commented on #4361
This is much smaller than dotnet/roslyn. My experience there suggests the order of annotations doesn't really matter. You could map out the types based on dependencies, or you could just work in a random order. Both approaches seem to take the same amount of time and yield the same final result.

[2020-11-28 08:24] skrysmanski commented on #3833
@Evangelink The problem seems to have gone away. I've since updated my projects to .NET 5 and Visual Studio to 16.8 - that's probably the reason why everything now works as expected.

[2020-11-28 15:15] Evangelink commented on #3833
From Sam's comment I would say this is only linked to the version of VS, not .net 5.

I will close the ticket as it seems we both no longer see the issue.

[2020-11-28 15:15] #3833 closed

[2020-11-28 15:47] iSazonov commented on #4361
Why then did .Net team create this https://github.com/dotnet/runtime/issues/2339
and now also https://github.com/dotnet/runtime/issues/41720?
Why can't other projects do the same? I wouldn't be surprised if Stephan did it from his memory, but most likely he used some document or tool. And mainly to attract help from the community.

In any case, as PowerShell maintainer, I would rather offer contri

[2020-11-28 15:52] KrisVandermotten commented on #4369
I don't understand what this rule is supposed to detect. The premisse that hooking an event without unhooking it results in a memory leak is simply not correct.

Take the example of a Winforms application, with a Form with a Button on it. The From has a reference to the Button (through its Controls property), and the Button has a reference to the Form (in its Parent property). Often, the Button's