[2021-11-16 17:36] jeffhandley commented on #5723
Thanks, @mavasani. Coincidentally, I just created #27096 yesterday to add these docs. :wink:

[2021-11-16 21:12] RealDotNetDave opened #5724 "Code Analysis Link to Help Not Working"
I'm working on a solution with a mix of .NET Framework and a few .NET Code projects. One of these projects is .NET Framework 4.7.2, with the Active Rule set to Microsoft All Rules. I have found at least a few links to help in the Error window do not work. I get this error when VS tries to open the page:

`Sorry, we don't have specifics on this C# error`

A few of these code violations are:

- CS83

[2021-11-16 21:40] Evangelink commented on #5724
Hey @RealDotNetDave, thanks for the comments!

This repository mainly targets CAXXX rules (https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/#index-of-rules), the CSXXX rules are compiler related so this message should be moved to roslyn repository.

Tagging @mavasani

[2021-11-16 23:47] #5683 closed

[2021-11-17 09:35] vsfeedback opened #5725 "After Installing VS2022, hundreds of AD0001 "Passing .editorconfig files as additional..." in VS 2019"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/After-Installing-VS2022-hundreds-of-AD0/1582535)._

---
I installed the GA bits of Visual Studio 2022.  To my horror, our team's .sln in VS2019 (and also VS2022) now emits _hundreds_ of AD001 errors of the flavor

and

I've rebooted the machine, done a Clean / Rebuild, cloned the git rep

[2021-11-17 09:42] mavasani commented on #5725
Tagging @Youssef1313 @gewarren

Also pointing out we have an open issue to document this breaking change: https://github.com/dotnet/docs/issues/24894

Norm, you don't necessarily need to convert your editorconfig files to globalconfigs, unless these config files are outside the root of your project cone. If not, you will need to convert. I think it would be good to publish a tool/script somewhere

[2021-11-17 15:12] wzchua commented on #5188
I considered this not an issue anymore as i can move to .NET6

[2021-11-17 15:12] #5188 closed

[2021-11-17 15:23] lonix1 opened #5726 "CA1062 reporting for protected and internal methods"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1062)

CA1062
"Validate method parameter is non-null before using it"

### Describe the improvement

CA1062 is reported here:
[code]

It is not reported here:
[code]

This doesn't seem right. The internal method can be accessed by any caller in the assembly, and the analyzer would

[2021-11-17 16:08] svick commented on #5726
I think the distinction here is that for an `internal` method, you can see all callers and they are also under your control. But a `protected` method can be called from another assembly, and there is no guarantee you can see or control all such assemblies, which means you should check for `null`.

[2021-11-17 17:05] lonix1 commented on #5726
I think you are right. But in that case why not trigger the analyser for both cases?

Within an assembly, an internal method is as good as public. So surely is should also trigger the analyser?

[2021-11-17 17:20] svick commented on #5726
@lonix1 Basically, the expectation is that code within an assembly works closely together. You're not going to call the method with `null`, because you can see that the implementation does not allow it. And even if you do call it with `null`, it's not going to be hard for you to diagnose the error.

But code outside the assembly may not see the implementation. And if you pass in `null`, you want t

[2021-11-17 19:35] Youssef1313 commented on #5725
@mavasani It looks like there are two separate reports here.

and

which is a known breaking change if `AdditionalFiles` is used unnecessarily.

[2021-11-18 00:45] manfred-brands commented on #5712
Unfortunately, moving to a two part statement raises CA2000.

![image](https://user-images.githubusercontent.com/8655218/142322233-a46dbe80-0277-4aaa-b201-1866e84248b5.png)

[2021-11-18 02:56] lonix1 commented on #5726
I suppose you're right.

But, I tend to test args for internal as well. I think the boundary is not the assembly, but rather the developer who's using it. In a team when multiple people work on the same assembly, one guy blows up the other guy's code. So I always test internal args as well.

I guess we can close this as "by design"?

[2021-11-18 06:31] Bosch-Eli-Black opened #5727 "Quickfix for CA1727: Use PascalCase for named placeholders in the logging message template"
### Analyzer

**Diagnostic ID**: [CA1727](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1727) (Note, the documentation for this analyzer doesn't appear to exist).

### Describe the improvement

CA1727 is triggered for code such as this:
[code]

It'd be great if there were a quickfix (Ctrl+.) available to fix CA1727.

### Describe suggestions on how to achieve t

[2021-11-18 08:25] laurentkempe opened #5728 "CA1416: Validate platform compatibility failure from .NET SDK 5.0.402 to .NET SDK 5.0.403"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK 5.0.403](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.403](https://dotnet.microsoft.com/download/dotnet/5.0)

**Version

[2021-11-18 12:05] ArturDorochowicz opened #5753 "Analysis mode for code style analyzers does not work in .Net SDK 6"
### Describe the bug

According to documentation at https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props we should be able to set analysis mode (e.g. Recommended) for __code style__ analyzers. This does not seem to work at all.

When talking about `AnalysisLevel` property, the docs say:

Later it talks about `AnalysisLevelStyle` property:

Then later when talking about `AnalysisM

[2021-11-18 18:05] Evangelink commented on #5710
Hey @lonix1, I believe you should be able to do what you want using [CA1062#exclude-specific-symbols](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/CA1062#exclude-specific-symbols) in combination with the wildcard pattern.

[2021-11-18 18:05] buyaa-n commented on #5728
Thank you for reporting it @laurentkempe it is known bug and we have fixed it, i will check where the fix went for .Net 5.0

Meanwhile, a quick workaround for you will be adding trailing `0` to the attribute into your AssemblyInfo.cs file: `[assembly: SupportedOSPlatform("windows10.0.19041.0")]`

[2021-11-18 18:28] Evangelink commented on #5710
Just made some test and although it can work, there is no way to have a specific configuration that would allow to have all override of only this specific method to be excluded.

In normal condition, I would wonder if it could be useful to have some kind of mix between `excluded_type_names_with_derived_types` and `excluded_symbol_names` but I believe that with the nullability notation this might n

[2021-11-18 18:49] laurentkempe commented on #5728
Great! Thanks for letting me know @buyaa-n

[2021-11-18 19:08] buyaa-n commented on #5728
It was fixed in .Net 5.0.3XX release, came back in SDK 5.0.403, not reproducible in versions above SDK 5.0.403 (6 or above) therefore it must be an SDK issue, maybe we should close it as @laurentkempe already reported it in SDK repo.

@jmarolf is there anything changed from our side 5.0.403?

[2021-11-18 19:57] SteveDesmond-ca opened #5731 "Auto-fixing `void` to `async Task` drops task's return value"
### Describe the problem you are trying to solve

I just got burned by this:

[code]

Run the auto-fixer to convert `void Main()` into an `async` method. The resulting code is:

[code]

The code compiles and runs, but I would expect the exit code to be 1. Instead it's 0, because the auto-fixer that turns `void Main()` into `async Task` doesn't include the return type of what's being `await`ed.

I

[2021-11-18 20:50] terrajobst commented on #5722
The intention of the design was that if `<GenerateRequiresPreviewFeaturesAttribute>` is to false, then no assembly level attribute is generated. In this case, the preview analyzer does flag every use of a preview API because the expectation is that instead of using a single assembly-level attribute, the project is opting into preview features area-by-area, by selectively applying the `[RequiresPre

[2021-11-18 22:17] buyaa-n commented on #5722
Thanks, apparently, I misunderstood, the `<EnablePreviewFeatures>True</EnablePreviewFeatures>` property is not only for adding assembly-level attribute

[2021-11-18 22:17] #5722 closed

[2021-11-18 22:33] jeffhandley opened #5732 "Update wording of CA2255 description"
In https://github.com/dotnet/docs/pull/27096#discussion_r750339641, feedback was received for the wording of the CA2255 description. We should apply that feedback to the analyzer's defined description as well.

[2021-11-19 07:25] laurentkempe commented on #5728
Yes @buyaa-n I confirm that 6 does not have that issue!

[2021-11-19 10:32] Youssef1313 commented on #5731
I think this belongs to dotnet/roslyn.

[2021-11-19 10:35] Youssef1313 commented on #5169
@Evangelink Sorry I was wrong :smile:

#5406 eliminated the LocalizableString fields, not the DiagnosticDescriptor fields. Found this while creating https://github.com/dotnet/roslyn-analyzers/pull/5734

[2021-11-19 11:44] LukasGelke commented on #5099
@mavasani (?)

I took a shot at fixing this, since it would be very useful for us.
At first glance it seems simple, just to check `BaseType`s.

But this causes `DisposableAllocation_FieldDisposedInOverriddenHelper_NoDiagnosticAsync` to Report `_a` as not disposed.
In the analyzer, the field `{C._a}` is also never flagged as `disposed=true` (in `void AddOrUpdateFieldDisposedValue` / `var fieldDispo

[2021-11-19 15:36] nickwhaley commented on #4920
This problem has reappeared in SDK 5.0.403.

Problem does not exist however in SDK 6.0.100.

[2021-11-19 18:09] buyaa-n commented on #4920
There is something wrong with the latest `SDK 5.0.403`, [another bug also reported](https://github.com/dotnet/roslyn-analyzers/issues/5728) @jmarolf @mavasani PTAL

[2021-11-19 19:53] jmarolf commented on #5728
- 5.0.402 contains this commit: https://github.com/dotnet/roslyn-analyzers/commit/294f95cd91a33365aa80117421aed139d8fe5a75
- 5.0.403 contains this commit: https://github.com/dotnet/roslyn-analyzers/commit/88a0baea71dd1acaad5201db6e93268987e6e0e5

Here is a diff of the two SHAs: https://github.com/dotnet/roslyn-analyzers/compare/294f95c...88a0baea

Here is the list of PRs in 5.0.403 that are not in

[2021-11-19 20:12] buyaa-n commented on #5728
Yes, it is reproduced on 5.0.403 and not 5.0.402

[2021-11-19 21:25] jmarolf commented on #5728
@mmitche after taking a look 5.0.403 appears to be shipping older binaries than 5.0.402. How do we do about fixing this?

[2021-11-19 21:33] Evangelink commented on #5695
I will work on this but I'd like to make a few comments first:

1/ I am not sure to understand why 2 rule ID were given when only the certainty changes between both. It seems this pattern was used a lot for recent rules but it's not the case for older rules.

2/ I think that the titles of the 2 rules do not express the certainty difference:
- CA5399 = Definitely and title is `CA5399: Enable HttpCl

[2021-11-19 21:54] DaRosenberg commented on #5712
@manfred-brands Yes, neither is ideal. CA2000 gives a false positive in this situation IMO, it should probably be extended to detect that this code actually does dispose of the object. Another warning is better than broken code, though...

[2021-11-19 22:35] AArnott commented on #5720
Here is another repro case where `(a as b)?.c` generates a false positive:

[code]

[Full context](https://github.com/microsoft/vs-threading/pull/962/commits/9075367c3a1c0fb5e8e2232cade32b28ddd9f0fd#diff-383ce70bb6cac0027ef6a6d3c330b11e07cb9e61ef6e4e93d1a3294f6e32255f)

This was with .NET SDK 6.0.100.

[2021-11-19 22:39] AArnott opened #5737 "CA1508 mis-fires under belief that second subexpression is unreachable"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/dotnet/6.0)

### Describe

[2021-11-19 23:06] wjrogers opened #5738 "Logging analyzer CA2017 does not work when a single argument is passed after the template string"
### Description

When exactly one parameter is supplied, the new logging analyzer CA2017 (added in dotnet/runtime#36064) does not detect mismatches between the number of parameters supplied and the number of placeholders in the template string.

### Reproduction Steps

[code]

### Expected behavior

The analyzer should detect parameter-placeholder count mismatches when one parameter is supplied. T

[2021-11-19 23:35] AArnott commented on #4028
I just tried 3.3.3 and this still repros. :(

[2021-11-20 00:37] AArnott opened #5740 "RS1034 code fix produces incorrect code with null conditional"
### Analyzer

**Diagnostic ID**: [RS1034](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs1034-prefer-iskind-for-checking-syntax-kinds): `Prefer 'IsKind' for checking syntax kinds`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers

[2021-11-20 00:38] AArnott commented on #5740
@Youssef1313 @sharwell as you worked together on this original feature for null conditional handling for #4946.

[2021-11-20 01:09] sharwell commented on #5740
I lean towards this as the expected behavior:

[code]

[2021-11-20 12:57] Evangelink opened #5742 "Support both `dotnet_diagnostic.` and `dotnet_code_quality.` prefixes"
@shuebner However, you raise a good point, which @gewarren, @Youssef1313 and @Evangelink have also raised in the past. We should probably support both `dotnet_diagnostic.` prefix and `dotnet_code_quality.` prefix for specifying editorconfig options for CA rules (latter for backwards compatibility). Many customers have got confused due to different prefix for CA rule options. It's likely a very sim

[2021-11-20 12:59] Evangelink commented on #5664
@shuebner I have created a different issue to track supporting both prefixes.

I am closing this one, feel free to ping if there was still something unsolved.

[2021-11-20 12:59] #5664 closed

[2021-11-20 13:28] Evangelink commented on #5742
@mavasani It appears that this method is unused.

[2021-11-20 13:38] Evangelink commented on #5658
That's really strange, I did a fix for this issue: #4241

Could you let us know the version of the analyzers you are using?

[2021-11-20 13:39] Evangelink commented on #5675
@KitCarson03 Are you still experiencing the issue?

[2021-11-20 13:56] Evangelink commented on #5653
@jaredpar It seems that this was fixed.

![image](https://user-images.githubusercontent.com/11340282/142728898-0095fee8-9b34-499a-9e29-ca16baf56c88.png)

[2021-11-20 14:28] Evangelink commented on #5363
@buyaa-n Is there any work you want us to do here?

[2021-11-20 14:33] Evangelink commented on #5353
@pgovind Could you confirm this issue was fixed by the related PR? (trying to confirm that the ticket can be closed).

[2021-11-20 14:35] Evangelink commented on #2302
@sharwell I believe this analyzer is implemented and that the ticket can be closed, could you confirm?

[2021-11-20 14:41] AArnott commented on #5740
Sure. Any syntax that the code fixer can be expected to correctly do -- it doesn't have to be what I ended up manually changing it to.

[2021-11-20 14:52] JohanLarsson commented on #5658
Everything should be latest at the time of posting

[2021-11-20 17:11] Evangelink commented on #5658
I have just tested and all unit tests are working as expected + creating a new console app (ensuring the rule `CA1812` is enabled) and pasting your code doesn't produce any issue.

[2021-11-20 18:18] #5658 closed

[2021-11-20 18:36] Evangelink commented on #5658
@JohanLarsson Is it good for you too?

[2021-11-20 21:08] #5689 closed

[2021-11-20 22:48] buyaa-n commented on #5353
Yes this is fixed with https://github.com/dotnet/roslyn-analyzers/pull/5373

[2021-11-20 22:48] #5353 closed

[2021-11-20 23:29] buyaa-n commented on #5363
`RequireSomeInfoRegistry()` should be annotated `SupportedOSPlatform("windows")` so that callers of this API was aware of it is windows only, it will be very expensive for the analyzer to try to check all callers of the method, annotating the method is forwarding the requirements to the callers and it is the most efficient way of handling this

No, thanks, it is by design

[2021-11-20 23:29] #5363 closed

[2021-11-20 23:48] JohanLarsson commented on #5658
Think there is a bug but if the code in the issue does not repro the issue is not good.
All my versions of Visual Studio are currently broken so can't create a repro.

[2021-11-21 00:12] SteveDesmond-ca opened #5744 "Flag as suggestion when `await Task<T>` is silently converted to `async Task`"
### Describe the problem you are trying to solve

Consider the case:
[code]

While yes, `Task<T>` does inherit from `Task`, which makes this valid (aka it will compile) code, it does not do what's expected as it will not actually return the exit code from `Fail()`.

### Describe suggestions on how to achieve the rule

If introducing this suggestion globally seems like too much, this may be a speci

[2021-11-21 00:32] svick commented on #5744
I think this does exactly what it's supposed to and it's not even really about `async`, since the following code also works fine and does not warn:

[code]

So what you're saying is you want a warning when a return value from a function is ignored. That is something some languages care about (like F#), but I don't think it would be a good idea to introduce it in C# at this point, since it would ha

[2021-11-21 08:45] Evangelink commented on #5658
Feel free to let us know if you still hit the issue.

[2021-11-21 11:37] JohanLarsson commented on #5658
Yep, I'll try to produce a proper repro, assumed that code would repro based on what I saw. Thanks for investigating it, sorry about the poor issue.

[2021-11-22 05:59] #5251 closed

[2021-11-22 13:09] Evangelink commented on #5744
I might be wrong about the intent there, but it somehow feels like an extent of [CA1806](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1806), where the problem is that the returned "object" is ignored.

[2021-11-22 15:07] Youssef1313 commented on #5744
@Evangelink The thing is that CA1806 is special cased for specific scenarios. I don't see how the reported scenario can fit into a non-general scenario. If CA1806 is generalized for every unused return value from a method, there will be MANY false positives.

[2021-11-22 16:02] SteveDesmond-ca commented on #5744
I think this is also exacerbated by the ambiguity of the expression body.

Using @svick's example:
[code]

Regardless of what the compiler actually does, what is my *intention* for `Main()`?
[code]
vs
[code]
The expression body syntax kind of conflates the two, which is how I hit this in the first place. I'd go so far as to say this is more about expression body ambiguity than return types or asyn

[2021-11-22 16:13] jaredpar commented on #5653
@mavasani ?

[2021-11-22 16:19] mavasani commented on #5742
Tagging @jaredpar @chsienki, we need to first get the views + approval for the compiler team here, let me provide some context.

Our .NET SDK analyzers (CAxxxx rules) support a bunch of editorconfig options, which are documented [here](https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#editorconfig-format). Currently, all of these option keys require `dotnet_code

[2021-11-22 16:22] mavasani commented on #5742
@Evangelink Thanks. It seems we introduced an equivalent method below for the above unused method, which would need to be adjusted if we implement this feature support: https://github.com/dotnet/roslyn-analyzers/blob/186404d87db29c9a9cff55708289ae94ab5acaae/src/Utilities/Compiler/Options/AbstractCategorizedAnalyzerConfigOptions.cs#L39-L45

[2021-11-22 16:25] mavasani commented on #5653
Yes, should be good to close this issue.

[2021-11-22 16:25] #5653 closed

[2021-11-22 16:31] Evangelink commented on #5744
Obviously I am not suggesting to have it generic, otherwise I would recommend to move to F# where it's by design. As you said, CA1806 is specific for a list of cases where the return type **should not** be ignored. It seems to me that, putting aside the fact the returned value is ignored because of a cast, this is just another case that could be added to the rule.

I am also thinking about a more

[2021-11-22 16:37] mavasani commented on #5744
FYI: We do have [IDE0058](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0058): `Remove unnecessary expression value`, which is hidden diagnostic/refactoring by default.

[code]

[2021-11-22 16:51] Evangelink commented on #5718
There is a helper method to check whether the target is `IEnumerable<T>` or `IQueryable<T>` so I think we could be on the safe side by disabling the rule for the latter.

@mavasani WDYT?

[2021-11-23 02:35] #5718 closed

[2021-11-23 06:08] yaakov-h opened #5747 "CA1508 false positive in simple nullable code"
### Analyzer

**Diagnostic ID**: CA1508: Avoid Dead Conditional Code

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

See code example below, CA1508 fires when a nullable local is checked to see if it is null or not.

The VS IDE correctly infers that

[2021-11-23 06:12] Youssef1313 commented on #5747
@mavasani The number of FP reports on CA1508 is increasing. IMO this really worth a look.

[2021-11-23 12:31] Evangelink commented on #545
@mavasani Is it worth moving/opening a ticket un dotnet/runtime regarding all the CA rules that are still awaiting for port? Some might no longer be relevant or context/recommendation might have changed sightly.

[2021-11-23 12:34] Evangelink commented on #3834
@juliusfriedman Could you provide more information?

[2021-11-23 12:39] mavasani commented on #545
@Evangelink That seems reasonable to do for all .NET API related rules.

[2021-11-23 12:45] Evangelink commented on #701
@mavasani Is it still worth to implement this rule as such? It feels like there is an important overlap with CA1806 (there is a special case for HRESULT).

[2021-11-23 12:55] Evangelink commented on #545
Are you considering guidelines related ones (like implement serializable correctly, do this when doing a serialization method....) to also be part of the .NET API?

[2021-11-23 13:01] mavasani commented on #545
Yes

[2021-11-23 13:48] Evangelink commented on #5747
It seems that the new pattern is implemented in the dataflow but the engine is learning the wrong information. In the case mentioned above `fieldIdentifier` can be `null` and so the check is needed but replacing the line with ` if (Accept(MyVisitor.Instance) is {} fieldIdentifier && fieldIdentifier != null)` results in no diagnostic while in this case the check for non-null is redundant.

[2021-11-23 13:55] Evangelink commented on #5684
@mavasani Do you know if the DFA is considering lambdas as "interprocedural" calls?

[2021-11-23 14:05] mavasani commented on #5684
yes

[2021-11-23 16:35] sokunna opened #5748 "After upgrade to v6.0.0, getting error 'Passing '.editorconfig' files as additional files is no longer needed."
After upgrading to Microsoft.CodeAnalysis.NetAnalyzers from 5.0.3 to 6.0.0, building the solution generates a ton of errors similar to this:

Analyzer 'Microsoft.CodeQuality.Analyzers.ApiDesignGuidelines.DoNotDirectlyAwaitATaskAnalyzer' threw an exception of type 'System.InvalidOperationException' with message 'Passing '.editorconfig' files as additional files is no longer needed. It will be impli

[2021-11-23 16:42] Youssef1313 commented on #5748
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5725

[2021-11-23 16:45] Youssef1313 commented on #5748
@sokunna Can you try removing any `AdditionalFiles` references that includes `.editorconfig`?

[2021-11-23 16:48] sokunna commented on #5748
There is no AdditionalFiles reference in the project file.

[2021-11-23 16:49] Youssef1313 commented on #5748
@sokunna That sounds weird.

This is where the exception is thrown:

https://github.com/dotnet/roslyn-analyzers/blob/aeb0792dd2a2e7f804ec29bcf4907abc70a9bca9/src/Utilities/Compiler/Options/AnalyzerOptionsExtensions.cs#L582-L585

That really suggests there is an `AdditionalFiles` including `.editorconfig` somewhere. It doesn't have to be the project file. It could be `Directory.Build.props` for exa

[2021-11-23 16:51] sokunna commented on #5748
@Youssef1313  I could not find reference to AdditionalFiles anywhere in the solution. The error is definitely weird and also doesn't explain why it's fixed after the third attempt of building the project.

[2021-11-23 16:56] Youssef1313 commented on #5748
@sokunna Do you have a repro project?

[2021-11-23 17:16] Youssef1313 commented on #5748
@sokunna The reason why the success case doesn't produce errors is:

Regarding the failed one, I see `additionalfile` is being passed. But no clue where it's coming from in your case.

The error may be removed in a future version, but wanted to help until that happens

[2021-11-23 17:57] sokunna commented on #5748
@Youssef1313  thanks for you help. I found the culprit. It turned out the editorconfig property was set to C# Additional Analyzer file even though the file was not added to the csproj itself. Changing it to None fixed it. Thanks again.

[2021-11-23 18:02] Youssef1313 commented on #5748
Happy to hear the problem is fixed!

@mavasani Should we simply drop throwing an exception? ie, remove these lines?

https://github.com/dotnet/roslyn-analyzers/blob/aeb0792dd2a2e7f804ec29bcf4907abc70a9bca9/src/Utilities/Compiler/Options/AnalyzerOptionsExtensions.cs#L582-L585

[2021-11-23 18:59] chsienki commented on #5742
@mavasani Seems fine to me. Just to confirm that we're happy with the prefix being the same, but the parts after it varying: `.RuleId.Severity` vs `.RuleId.OptionName` would presumably have no affect if applied to wrong kind of rule?

[2021-11-24 02:12] mavasani commented on #5742
Yes, that is correct. @Evangelink Feel free to take this up if you are still interested.

[2021-11-24 02:17] mavasani commented on #5748
I think that might be our only option given @sharwell's use case. Only concern is now there will be a silent breaking change where options in these editorconfig additional files will stop being respected and customer will have to investigate themselves to figure out the root cause, I don't know if anything could be done to help the customer here.

I am fine with removing the above exception.

[2021-11-24 02:18] mavasani commented on #5748
Tagging @gewarren for her opinion

[2021-11-24 09:57] kindermannhubert opened #5750 "False positive CA1805 when using parameterless value type ctor (C# 10)"
### Analyzer

**Diagnostic ID**: [CA1805](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1805): `Do not initialize unnecessarily.`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

False positive when using parameterless

[2021-11-24 21:47] Evangelink commented on #5742
I was starting to work on this when I just clicked and now, I am wondering if it wouldn't be better to implement an analyzer to validate configurations. I guess that my still be worth to implement as I suspect the analyzer to work only in a limited context.

I will still provide the PR for that but thought it might be worth discussing/pointing this out.

[2021-11-24 22:56] Evangelink commented on #5742
FYI, it's taking me some time to create the PR because I am doing a refactoring on some of the `InlineData` to replace them with generators `MemberData` so that we can easily reuse testing the various cases (we currently do manual copy-paste).

[2021-11-25 03:34] jmarolf commented on #5744
I would be ok with a new rule that is essentially a special-cased version of [ca1806](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1806) that is explicitly about awaited values being ignored.

if you do this:
[code]

You should get a warning. At the very least invoking the async state-machine and not observing the result is a very odd and potentially dangerous

[2021-11-25 14:38] Evangelink commented on #5750
Thanks for the report @kindermannhubert. I totally missed this change of behavior and was about to tell you you were wrong but as far as I can see from https://docs.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-10.0/parameterless-struct-constructors#new the behavior has indeed changed.

@mavasani I am trying to add a reproducing test and it seems that even when setting the `Langu

[2021-11-25 14:44] Evangelink commented on #5748
@mavasani Could we replace throwing by reporting a different diagnostic? Alternatively, I think we may want to be even more explicit on the exception message (for example by explaining how to check it's not passed as additional file) because that's not a common action for most users.

[2021-11-25 17:34] Youssef1313 commented on #5748
@Evangelink We want to completely avoid the breaking change. So reporting a diagnostic isn't a solution too here. @sharwell has pointed out that there are valid use cases for passing `.editorconfig` to `AdditionalFiles` (e.g https://github.com/dotnet/roslyn/issues/19055)

[2021-11-26 06:21] Bosch-Eli-Black commented on #4627
With `NetAnalyzers` v6.0.0, the original example:

[code]

now produces two warnings:

- [CA1309](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1309): Use ordinal StringComparison
- [CA1307](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1307): Specify StringComparison for clarity

IMHO, this is fine, and we can close this 🙂

[2021-11-26 06:46] Youssef1313 commented on #4627
@Bosch-Eli-Black It looks like both CA1307 and CA1309 have some overlap, which is something I personally don't like.

@Evangelink @mavasani Can these two be consolidated, or do they have different designs that they should remain?

[2021-11-26 10:17] Evangelink commented on #4627
They are a little different in the sense that `CA1309` would also report if the `StringComparison` was set to something other than `Ordinal` or `OrdinalIgnoreCase`. But I agree that having both reporting at the same time is not great... I would vote for keeping `CA1309` in this specific case (whether we go for suppression or merging the two classes together) because if we only report `CA1307` we m

[2021-11-26 10:40] Bosch-Eli-Black commented on #4627
The only thing strange about only reporting CA1309 in this case is that the message ("Use ordinal StringComparision") feels a bit strange, because [String.Equals() already uses ordinal comparison](https://docs.microsoft.com/en-us/dotnet/api/system.string.equals?view=net-6.0#System_String_Equals_System_String_).

Could/should CA1309 be renamed to "Specify ordinal StringComparison for clarity"?

[2021-11-26 14:05] nielstanghe commented on #5626
Having the same issue since updating to Visual Studio 2022

[2021-11-27 06:58] tbalakpm commented on #5626
For me same issue since updated to .net 6.0

[2021-11-28 10:20] Youssef1313 commented on #5750
@Evangelink You might want to update `MicrosoftCodeAnalysisVersionForTests`

[2021-11-29 00:47] jmihalich commented on #5626
Same issue here, but i get it with a direct inline string with .net 6.0:

logger.LogDebug($"my message with {myparam}");

[2021-11-30 15:37] zivarah commented on #5246
I would appreciate confirmation on whether this has been fixed/released yet and, if so, what version contains the fix.

[2021-11-30 20:16] carlossanlop commented on #375
FYI - the proposal has been approved: https://github.com/dotnet/runtime/issues/61916#issuecomment-982973839

[2021-11-30 21:08] gewarren commented on #5748
I'm not sure I'm qualified to answer this, but I don't like the idea of silently ignoring editorconfig options that have been set. If we do remove the exception, could we add a message to the build output saying that the file is being ignored?

[2021-11-30 21:58] sharwell commented on #5748
The problem here is it assumes that **.editorconfig** files were only added to **AdditionalFiles** for use by dotnet/roslyn-analyzers. If another project implements standalone diagnostic analyzers for **.editorconfig** files, those files might be ignored by dotnet/roslyn-analyzers even though they are used by another analyzer in the same build.

[2021-12-01 18:00] vsfeedback opened #5752 "Wrong wordin an error message"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Wrong-wordin-an-error-message/1599340)._

---
When using Visual Basic, the bolded word should be "Shared"

Member '<Some Member>' does not access instance data and can be marked as **static**

---
### Original Comments

#### Feedback Bot on 11/30/2021, 10:13 PM:

<p>We have directed your

[2021-12-01 18:03] bitbonk commented on #5521
What would be the official way to make the code generated by resx Generators nullable aware and types in it non oblivious reference types. This is important to us because it uses the `PublicResXFileCodeGenerator` which is done for two reasons:

1. The resources should be usable directly in XAML and therefore must be public.
2. The resources  should be usable by our customers and therefore need to

[2021-12-01 19:59] Youssef1313 commented on #5752
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5704.

[2021-12-02 09:09] mavasani commented on #5753
@jmarolf The issue here is we need to insert `AnalysisLevelStyle*.editorconfig` files from CodeStyle NuGet packages into the `build/config/` folder in the SDK, similar to what we do for NetAnalyzers package.

I am moving this back to dotnet/sdk repo, the fix should go in that repo.

[2021-12-02 17:20] bitbonk commented on #3226
It would be very helpful if moving APIs from unshipped to shipped would be part of the "tooling experience" for the public API tracking feature of Microsoft.CodeAnalysis.PublicApiAnalyzers. Of course I can copy and use the above script to our repos but it is doomed to break in the future as new versions Microsoft.CodeAnalysis.PublicApiAnalyzers are released.

How about offering a global tool toget

[2021-12-02 18:50] sungam3r opened #5758 "Add compiler warning when void delagate returns Task"
**Brief description:**

I would like to see some warning when code returns `Task`/`ValueTask` (or other awaitable object) from `Action`-like delegate. There is existing `CS4014` warning about not awaited call. New warning is not about async code at all (generally) but about not used _return result_ from `void` method. See [example](https://dotnetfiddle.net/tY0jUI). I ran into a hardly understandab

[2021-12-03 10:31] MykolaBalakin commented on #5539
What is the package version you are using? I tried to reproduce the issue with the latest one with no success.

[2021-12-06 13:44] vsfeedback opened #5755 "Code Analysis tooling issues with editorconfig"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-Analysis-tooling-issues-with-editor/1604888)._

---
With the new way of implementing Code Analysis for .NET 5 and 6, as described in https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview, there are few regressions from the tooling point of view:
- it's not poss

[2021-12-06 16:14] QuantifEye commented on #5539
to reproduce:

[code]

[code]

[2021-12-06 17:38] Sour-Codes commented on #5626
![image](https://user-images.githubusercontent.com/62261400/144894319-2f9c51d9-2006-4f46-a2eb-d6df4eae1b88.png)
I am targeting net7.0 and net6.0.  Builds just fine minus the warning.

[2021-12-07 01:54] masonwheeler opened #5756 "Rule CA2255 is conceptually broken and needs to be removed."
### Analyzer

**Diagnostic ID**: [CA2255](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2255)

### Describe the improvement

The diagnostic describes the `ModuleInitializer` attribute as being only for application initialization and "advanced code generator scenarios."  But the most obvious use case for this feature is nothing of the sort: this was practically tailor

[2021-12-07 01:59] CyrusNajmabadi commented on #5756
Closing out.  This was due to decision here https://github.com/dotnet/runtime/issues/43328, from convo here: https://github.com/dotnet/runtime/pull/43268

@jeffhandley As to if we want to open this back up.  But, AFAICT, this is expected and intentional.  Code needs to be explicitly opt in and suppress this, making the statement that it knows what it is doing and can accept the downsides laid out

[2021-12-07 01:59] #5756 closed

[2021-12-07 02:01] sharwell commented on #5756
@masonwheeler My recommendation is to add a .props file to the NuGet package which adds a module initializer, and disable CA2255 there.

[2021-12-07 02:15] masonwheeler commented on #5756
Please reopen.  That decision does not appear to have even *considered* plugins as a possible use case.  It's easy to come to the wrong conclusion when starting from a bad premise.

[2021-12-07 02:22] CyrusNajmabadi commented on #5756
Unless it causes a problem.  If so, this analyzer notifies you of that.  If you do, however, think your use case is appropriate and a non-issue, then suppression of the analyzer is the appropriate way to go.  This fits with all analyzers that attempt to prevent mistakes, but which may catch use cases that are totally appropriate.

[2021-12-07 02:25] sharwell commented on #5756
I would suggest creating a new issue in dotnet/runtime with this request (that repository is where the analyzer in question was designed and any changes would need to be approved there before being implemented in this repository), and update the text of the proposal to include the new consideration of the issues linked in the discussion above.

[2021-12-07 02:27] masonwheeler commented on #5756
Not when you have the legitimate use case in dozens of places and there doesn't appear to be any way to disable this misbegotten analyzer globally.  You're telling me I need to do this on every usage *and every future usage!*  I'm saying that's crazy.  It's not my fault that the people who created this didn't understand the use cases.

Again, please reopen.

[2021-12-07 02:28] CyrusNajmabadi commented on #5756
@masonwheeler Please see https://github.com/dotnet/roslyn-analyzers/issues/5756#issuecomment-987508958

[2021-12-07 02:30] CyrusNajmabadi commented on #5756
Could you clarify why the solutions provided offline are not sufficient here? Can you not put the appropriate suppression in your editorconfig or global analyzer config files?

[2021-12-07 02:48] masonwheeler commented on #5756
@sharwell [Done.](https://github.com/dotnet/runtime/issues/62472)

[2021-12-07 07:36] 333fred commented on #5246
@mavasani I'm still seeing this. Have we released a version this this fix?

[2021-12-07 10:11] Youssef1313 commented on #5246
@333fred Are you using Microsoft.CodeAnalysis.Analyzers 3.3.3?

[2021-12-07 10:18] Youssef1313 commented on #5246
@AArnott The analyzer comes from `Microsoft.CodeAnalysis.Analyzers` and the latest version is 3.3.3.

The Workspaces package you're referring to has the Analyzers package as a dependency, and it unfortunately doesn't reference the latest. So you have to explicitly install `Microsoft.CodeAnalysis.Analyzers` 3.3.3.

I opened https://github.com/dotnet/roslyn/pull/58154 on roslyn side to reference the

[2021-12-07 16:10] 333fred commented on #5246
I was not explicitly referencing the package, so I was using whatever version the O# roslyn dependency version pulls in (I think 3.3.2?).

[2021-12-07 16:21] Youssef1313 commented on #5246
@333fred If it was pulled from one of the other `Microsoft.CodeAnalysis.*` packages, then yes it would be 3.3.2. dotnet/roslyn#58154 should fix that.

[2021-12-07 16:23] Youssef1313 commented on #5246
@333fred I've also updating PostReleaseActivity.md in https://github.com/dotnet/roslyn-analyzers/pull/5757 to note that new versions should be used by dotnet/roslyn to avoid this kind of issues. I assume @JoeRobich and @mavasani follow these instructions when releasing a new version?

[2021-12-08 12:59] BrightLight commented on #5044
I'm pretty certain that earlier implementations of CA2214 (might be the old FxCop) did report on properties as well, because we have a `[SuppressMessage]` for that diagnostic on some of our constructors exactly because of that (which, funny enough, are now flagged by [IDE0079](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0079))

[2021-12-09 00:40] sharwell commented on #5758
It is reported, or it is a bug?

[2021-12-09 07:53] sungam3r commented on #5758
I did not see any VSTHRD warning.

[2021-12-09 13:53] michha commented on #5628
@jmarolf
Will this be fixed in 6.0.200 SDK? Is there a rough timeline for its release?

[2021-12-09 15:30] sharwell commented on #5758
It looks like this was already filed as https://github.com/microsoft/vs-threading/issues/630

[2021-12-09 16:03] jhudsoncedaron opened #5759 "Handle the dual sync/async pattern"
### Analyzer

**Diagnostic ID**: [CA2012]

### Describe the improvement

Consider the following code:

[code]

This is a somewhat common pattern avoiding duplicating the entire code for both synchronous and asynchronous operations. It is improved significantly by ValueTask because the sync side doesn't pay any Task allocations for tasks that never run because it never actually makes any async call

[2021-12-09 17:17] Youssef1313 commented on #5246
I believe this can be closed.

[2021-12-09 20:16] vsfeedback opened #5760 "Improvements to Memory Pressure analyzer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Improvements-to-Memory-Pressure-analyzer/1563017)._

---
1. Rename the "Managed Heap may be experiencing memory pressure" to "Managed Heap Summary"
2. Mark this as Info unless fragmentation is considered problematic and then make it Warning.
3. Link objects to Quick Watch.

---
### Origi

[2021-12-09 20:33] vsfeedback opened #5761 "Refactoring suggestion for redundant braces ({ ... })"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Refactoring-suggestion-for-redundant-bra/1523072)._

---
You already have a refactoring suggestion for “remove redundant parentheses” which is very useful.

It would be nice to have a similar one for redundant braces in cases. This would _not only_ cover single-statement blocks such as t

[2021-12-09 21:44] stephentoub commented on #5685
If CA1806 is already special-casing Pure and it's just buggy in how it's doing so / missing some cases, I'm ok if we want to fix those inconsistencies.

[2021-12-10 01:58] mavasani commented on #5761
This is CodeStyle, moving to Roslyn.

[2021-12-10 02:01] mavasani commented on #5760
Can you please share additional information about which analyzer (diagnosic ID) is this regarding?

[2021-12-10 02:05] #5246 closed

[2021-12-10 17:57] stephentoub commented on #5197
The link is now working.

[2021-12-10 17:57] #5197 closed

[2021-12-11 13:56] Evangelink commented on #5044
I would add that according to the [specs](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/override), the `override` keyword could be applied to method, property, indexer, or event so IMO all these cases must be handled.

[2021-12-13 20:32] stuartleal commented on #5725
Hi everyone. I'm asking for help in both sides, since I'm not sure which is the right place. As you see above, I referenced this issue above. I'll copy paste my comment here:

----

I'm wondering about this check. I've upgraded from VS 2019 to VS 2022, and a project in my team now has a bunch of AD00001 warnings related to this.

At first, I saw this issue, and thought the issue was having both VS

[2021-12-14 00:31] systemidx commented on #5626
I also get this on a basic global exception handler middleware for MVC.

`public class GlobalExceptionMiddleware
    {
        private readonly RequestDelegate _next;
        private readonly ILogger<GlobalExceptionMiddleware> _logger;

        public GlobalExceptionMiddleware(RequestDelegate next, ILogger<GlobalExceptionMiddleware> logger)
        {
            _next = next;
            _logger =

[2021-12-14 10:19] arthuredgarov commented on #5626
@systemidx, the `ex.Message` is not a static string, so the warning you are getting is not a false positive.

[2021-12-14 14:35] systemidx commented on #5626
@arthuredgarov You're right, it's not. It's not a 100% analogue to the OP's issue of providing a static string from a resource file, but I still get CA2254 for some reason when pushing `ex` and `ex.Message` to ILogger.LogError. This didn't happen before the last VS2022 update on my end.

[2021-12-14 14:50] arthuredgarov commented on #5626
@systemidx, well, yes, that's what this analyzer rule stands for. You are providing a non-static string as the `message` parameter and getting the corresponding warning. The `message` parameter is intended to be a format string, you can check that in the method summary. By the way, if you are using the default implementation of the ILogger interface - you should not pass the `ex.Message` since the

[2021-12-14 15:00] arthuredgarov commented on #5626
@Sour-Codes, the same for you. Please check my comment above.

[2021-12-15 14:58] bitbonk opened #5768 "No RS0016/RS0017 warnings when a public member was made protected"
### Analyzer

**Diagnostic ID**: [RS0016](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md): `Add public types and members to the declared API` and/or  [RS0017](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md)  `Remove deleted types and members from the d

[2021-12-15 16:00] Youssef1313 commented on #5768
https://github.com/dotnet/roslyn-analyzers/pull/4992 should be fixing this. I'll try to get it completed and merged soon.

[2021-12-16 02:37] halter73 opened #5769 "Disable CA1050 for `partial class Program` declarations with top level statements"
### Analyzer

**Diagnostic ID**: [CA1050](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1050)

### Describe the improvement

We recommend adding `public partial class Program { }` declaration outside of a namespace to make the generated normally-internal Program class visible to test projects in situations where `InternalsVisibleTo` isn't suitable. In this case, sugg

[2021-12-16 12:26] samtrion commented on #2748
This is certainly also very helpful in the area of performance optimizations.

In various projects we fight for every `ns` in the code execution, but here are often standard implementations, which make our lives much more difficult, such as `System.Linq`.
Often this namespace is used without regard to the performance penalty associated with it. However, in a truly performance critical project, it

[2021-12-17 06:22] TheBigNeo opened #5771 "Wrong CA1416 warning for If when use == or is"
**What is the expected result?**
No `CA1416` warning for `if` when use `== true` or `is true` or `== false` or `is false`

**What steps will reproduce the issue?**
[code]

**What happens instead?**
Rider shows a warning
![image](https://user-images.githubusercontent.com/24251966/146498739-d5d12f70-450f-4f55-9a3f-a737f81b035c.png)

**Attachments:**
Sample project: [SampleProjectOperatingSystem.IsWi

[2021-12-17 20:47] Youssef1313 commented on #5769
Fix should be very simple, add `&& !type.IsTopLevelStatementsEntryPointType()` to this:

https://github.com/dotnet/roslyn-analyzers/blob/e101c379c6e3c7011562ee3af3e3de066da0048f/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/DeclareTypesInNamespaces.cs#L45-L47

[2021-12-20 21:26] richshadman opened #5774 "CA1727 does not fire for interpolated strings."
### Analyzer

**Diagnostic ID**: [CA1727](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1727): `Use PascalCase for named placeholders in the logging message template.`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.micro

[2021-12-21 08:50] Bosch-Eli-Black commented on #4530
Confirmed that this has been fixed 🙂

[2021-12-21 20:27] maryamariyan commented on #5774
That's expected. We don't support interpolated strings as message templates.

[2021-12-21 21:37] richshadman commented on #5774
It works - I am using it in the scenario mentioned above. Because of the above miss on the analysis rule on {{request}}, I debugged into it and stepped into the execution - the processed string with a value of "[start] typename {Request}" is passed and converted to "[start] typename {0}" for the format string.

It may not have been the intended use, but it is certainly a valid case with generics.

[2021-12-25 05:25] Rabadash8820 opened #5777 "CA1008: Allow other names for 0-value member of [Flags] enums"
### Analyzer

**Diagnostic ID**: [CA1008](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1008)

### Describe the improvement

In addition to `None`, the 0-value member of `[Flags]` `enum`s should be allowed to have one of these names:

- `Never`
- `Nothing`

### Describe suggestions on how to achieve the rule

Sorry, I'm not sure what this is asking...

### Additional

[2021-12-25 05:53] Rabadash8820 commented on #3862
Just ran into this issue myself. Declaring an event with `EventHandler<T>` where `T` is is not derived from `EventArgs` gets flagged for CA1003. Before I turned on the .NET5 analyzers, I had no reason to question declarations like this since they compiled just fine. I get that the whole point of analyzer rules is to catch these corner cases where the code _compiles_ but isn't necessarily following

[2021-12-25 07:12] Rabadash8820 opened #5778 "Maybe CA1043 should be deleted"
### Analyzer

**Diagnostic ID**: [CA1043 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1043): Use integral or string argument for indexers

I'm starting to question whether CA1043 should exist at all, on the following grounds:
1. Indexers that accept an `object` are apparently okay. That means literally _anything_ can be passed to such an indexer (value types will

[2021-12-25 07:12] Rabadash8820 opened #6592 "Maybe CA1043 should be deleted"
### Analyzer

**Diagnostic ID**: [CA1043 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1043): Use integral or string argument for indexers

I'm starting to question whether CA1043 should exist at all, on the following grounds:
1. Indexers that accept an `object` are apparently okay. That means literally _anything_ can be passed to such an indexer (value types will

[2021-12-25 11:18] SebastianSchumann commented on #3862
@Rabadash8820 Not even that the original authors did not add a Contraint to `EventHandler<T>` - they actively removed that constraint:
.Net 4.0 having such constraint:
https://docs.microsoft.com/en-us/dotnet/api/system.eventhandler-1?view=netframework-4.0
whereas in .Net 4.5+ it is removed:
https://docs.microsoft.com/en-us/dotnet/api/system.eventhandler-1?view=netframework-4.5

For me that's the m

[2021-12-26 15:54] simkin2004 commented on #5626
@arthuredgarov : In a strict sense of the definition "static", you are correct.

Pragmatically, the point of this analyzer is to determine whether the code is building a string to use in the logger.  A string defined in a Resource file is a static string in the sense that its value -for a given Culture- cannot change at run-time.

Providing log entries for the developer/ops person in the appropria

[2021-12-27 18:59] Youssef1313 commented on #5778
The rule is actually marked as `CandidateForRemoval` in source:

https://github.com/dotnet/roslyn-analyzers/blob/e101c379c6e3c7011562ee3af3e3de066da0048f/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/UseIntegralOrStringArgumentForIndexers.cs#L20-L30

[2021-12-27 20:51] Rabadash8820 commented on #5778
Interesting. Sounds like Microsoft has already had these thoughts. 😛 What is the process to go from `CandidateForRemoval` to actually removed?

[2021-12-27 20:52] Youssef1313 commented on #5778
@mavasani Would you be able to answer this?

[2022-01-03 16:27] nschuessler opened #5779 "RS1024 when creating symbol collections"
**Version Used**:

Roslyn 3.11
**Steps to Reproduce**:

1. Create some code that keeps symbol as a key to a `HashSet` or a `Dictionary`,
2. Try to build with Roslyn rules turned on (RS1024)
3.

**Expected Behavior**:

No error

**Actual Behavior**:

You get RS1024 for
[code]

[2022-01-03 16:58] sharwell commented on #5779
Duplicate of #5246

[2022-01-03 16:58] #5779 closed

[2022-01-05 05:46] mavasani opened #5780 "Adjust reflection based optimization for SyntaxTreeCategorizedAnalyzerConfigOptions"
See https://github.com/dotnet/roslyn-analyzers/blob/086d1cc888ca0d8c96b94444935f488fcaf3fe98/src/Utilities/Compiler/Options/SyntaxTreeCategorizedAnalyzerConfigOptions.cs#L49-L57

https://github.com/dotnet/roslyn/pull/58579 renames the backing dictionary field

[2022-01-05 05:58] mavasani commented on #5305
Yep, confirmed this is fixed in .NET6 SDK

[2022-01-05 05:58] #5305 closed

[2022-01-05 06:02] mavasani commented on #3218
Re-opening for triage based on https://github.com/dotnet/runtime/pull/62494#issuecomment-1005216167

[2022-01-06 19:02] tmat opened #5782 "Public API Code Fix should support updating shipped API signature"
When a shipped API signature is updated the Public API Analyzer should insert `*REMOVED*` marker to `PublicAPI.Unshipped.txt` file with the previous signature in addition to the new signature.

[2022-01-06 22:56] RikkiGibson opened #5783 "Enforce that enum values are monotonically increasing"
### Describe the problem you are trying to solve

In Roslyn, we often add new entries to ErrorCode in feature branches. When the feature branches merge, there are issues with duplicates, which are caught already by [CA1069](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1069).

Even when there aren't duplicates, though, we can have issues with misordering of the

[2022-01-07 01:08] tmat commented on #5782
Actually, let's just remove this analyzer and code fixes and replace it with a code generator with output files checked in.

[2022-01-07 09:40] elachlan opened #5784 "false-positive for CA1810"
### Analyzer

**Diagnostic ID**: [CA1810](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1810): `Initialize reference type static fields inline`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/dotnet

[2022-01-07 11:26] mavasani opened #5785 "VS 2022 Preview 4.0 Code Analysis Does Not Work"
Manually ported from https://developercommunity.visualstudio.com/t/VS-2022-Preview-40-Code-Analysis-Does-N/1631628

See the attached screenshot. Both of the SuppressMessage attributes are greyed-out with IDE0079: Remove unneccesary suppression. If I remove those attributes, no code-analysis warnings are displayed.

If I open the same project in VS 2019, the SuppressMessage attributes are required

[2022-01-07 11:27] mavasani commented on #5785
We need to investigate if the lack of CA1815 and CA1062 in latest package versions is a regression or an actual fix in the analyzer which means the suppression is no longer required. If latter, the bug should be closed as by design.

[2022-01-07 19:23] tmat commented on #5780
Do we need https://github.com/dotnet/roslyn/issues/41840 to remove the reflection?

[2022-01-07 19:32] AaronRobinsonMSFT commented on #431
Interop team doesn't think this is useful. This can be closed.

[2022-01-07 19:33] AaronRobinsonMSFT commented on #479
Interop team doesn't think this is useful. This can be closed.

[2022-01-07 19:35] AaronRobinsonMSFT commented on #480
Interop team doesn't think this is useful. This can be closed.

[2022-01-07 20:36] Evangelink commented on #418
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:36] #418 closed

[2022-01-07 20:36] Evangelink commented on #419
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:36] #419 closed

[2022-01-07 20:36] Evangelink commented on #423
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:36] #423 closed

[2022-01-07 20:36] Evangelink commented on #424
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:36] #424 closed

[2022-01-07 20:36] Evangelink commented on #426
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:36] #426 closed

[2022-01-07 20:37] Evangelink commented on #427
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:37] #427 closed

[2022-01-07 20:37] Evangelink commented on #480
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:37] #480 closed

[2022-01-07 20:38] Evangelink commented on #431
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:38] #431 closed

[2022-01-07 20:38] Evangelink commented on #479
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:38] #479 closed

[2022-01-07 20:38] Evangelink commented on #429
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-07 20:38] #429 closed

[2022-01-07 20:42] Evangelink commented on #421
@AaronRobinsonMSFT Could you please provide the details about this rule to help people being able to pick this up (description, maybe use cases etc).

[2022-01-08 03:17] mavasani commented on #5780
Yes, that will likely help.

[2022-01-09 15:51] AaronRobinsonMSFT commented on #421
The rules here are related to vtable layout and order. Additionally, the built-in COM interop imposes other non-obvious constraints. This results in two rules:

1) The declared order of methods/properties must remain the same as in the IDL/header file for the COM type.

Example:
[code]

Should be declared as:
[code]

2) Inheriting from types requires redeclaring the types in the subclassed/sub-imp

[2022-01-09 15:58] AaronRobinsonMSFT commented on #395
The biggest issue with this rule is how/when to detect the case where it applies. The result is typically a good/bad list of APIs that allocate "native" resources but that is very fragile. The end result is typically slightly noisy and not terribly obvious how best to address the problem via `IDisposable`. In fact, the best guidance here would be to instead derive from `SafeHandle` and use that, b

[2022-01-09 16:02] AaronRobinsonMSFT commented on #530
The interop team's logic for closing this is the good/bad list for support. It requires creating a complex mapping between Win32 APIs and .NET APIs. I'd argue the focus of .NET is now far more cross-platform and that means special casing/hard coding Win32 APIs for analysis is burdensome and less interesting with the strong public presence on dotnet/runtime. This rule seems to be far more interesti

[2022-01-10 08:48] Bouke commented on #3208
This is still happening with the .NET 6 SDK (NETAnalyzers).

[2022-01-10 21:21] tmat opened #5787 "Revisit public API analyzer design"

[2022-01-10 21:21] tmat commented on #5782
Issue tracking redesign: https://github.com/dotnet/roslyn-analyzers/issues/5787

[2022-01-10 23:09] jmarolf commented on #5787
@mikadumont my opinion is that this is a general feature that all .NET developers could benefit from. Unclear at this point if this would be a .NET SDK only feature or if we should have some additional UI in visual studio for it but I would like to start the conversation.

[2022-01-10 23:15] jasonmalinowski commented on #5782
In the design meeting there was general agreement that we need to rethink this whole design, so @tmat filed #5787 to do so. In the meantime, this bug is tracking the original proposal, which is if you're updating a shipped API to also add the REMOVED tag to the unshipped file.

[2022-01-11 06:01] mavasani commented on #5787
Agree with @jmarolf. A prescribed way to track public API surface of libraries should be something that all .NET developers need to do and a design with collaboration with the.NET libraries/runtime team would be beneficial. It should also likely ship inside the .NET SDK. We may also want to consider if there is benefit allowing including some notion of versioning in the shipped API file so shipped

[2022-01-11 13:20] vsfeedback opened #5789 "CA1508 reported incorrectly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CA1508-reported-incorrectly/1618815)._

---
[severity:It's more difficult to complete my work]
I have the following piece of code:

[code]

When passing Customer to a function and testing for both first name and last name being empty, I get CA1508 explaining that the length of the last n

[2022-01-11 13:22] mavasani commented on #5789
NOTE: The issue repros only when the `Customer` type is defined in a separate project.

[2022-01-12 03:03] mavasani commented on #5787
Also tagging @333fred for his views, given his experience driving Roslyn public API reviews.

[2022-01-12 07:07] epsitec commented on #5789
Thank you @mavasani for reopening this topic and moving it to the `roslyn-analyzers` issues.

[2022-01-13 17:04] ericstj commented on #5787
cc @safern @terrajobst We shipped a solution in 6.0 that addresses this scenario.  https://devblogs.microsoft.com/dotnet/package-validation/

It leverages the previously shipped assemblies and roslyn object model as the source for API.

Because we wished to also compare across active TargetFrameworks, and we wanted the flexibility to run binary-to-binary tool, we opted to make it post-package vali

[2022-01-14 01:02] buyaa-n opened #5790 "Performance test failures on PRs"
Performance tests failing with a message: `Could not execute because the application was not found or a compatible .NET SDK is not installed.` at `Validate Performance` step. Same faulure on many other PRs.

[More log](https://dev.azure.com/dnceng/public/_build/results?buildId=1509691&view=logs&j=c437ad79-412a-5788-29af-826e207aa5e5&t=00fb1cd8-4a81-585a-5987-c8ebcb2e642d):
[code]

[2022-01-14 01:03] #5403 closed

[2022-01-14 15:55] Evangelink commented on #395
Closing this issue as won't be ported as per https://github.com/dotnet/runtime/issues/61964#issuecomment-1007687223.

[2022-01-15 00:37] jmarolf commented on #5787
Got some nice people at nuget to get me a list of all public repos that depend on this package.

- .NET Repos
  - https://github.com/dotnet/format
  - https://github.com/dotnet/msbuild
  - https://github.com/dotnet/roslyn-analyzers
  - https://github.com/dotnet/Silk.NET
  - https://github.com/dotnet/templating
  - https://github.com/dotnet/winforms

- Microsoft Repos
  - https://github.com/microso

[2022-01-15 01:28] jmarolf commented on #5787
As @ericstj I think we should try and find a path forward to use package validation for API enforcement. If there are gaps here and Roslyn can't adopt it for some reason, we should go make the changes in the [code](https://github.com/dotnet/sdk/tree/main/src/Compatibility/Microsoft.DotNet.ApiCompatibility) to handle these situations

A few gaps that we should ask ourselves if we care about:
- pack

[2022-01-15 03:50] safern commented on #5787
I completely agree about these gaps and this is something that we are planning to invest on .NET 7. The reason why we went with dotnet pack first was because it felt easier to adopt by a regular library/customer and we tried to think out of the box rather than just what our repositories need. Also the package validation we run after `dotnet pack` not only checks `API Compatibility` it also checks

[2022-01-15 20:52] jnm2 commented on #3761
Updated because of https://github.com/dotnet/roslyn/pull/58288: now only instance method groups are per-call allocations.

[2022-01-15 20:53] jnm2 commented on #3761
Oh, and then there's still no avoiding the allocation by using a lambda, so this issue is obsolete.

[2022-01-15 20:53] #3761 closed

[2022-01-16 08:41] Youssef1313 opened #5793 "AnalysisMode.All doesn't really enable all rules"
It enables rules with `EnabledRuleInAggressiveMode` tag. For example, CA1005 isn't enabled.

If this is by design, then a doc change may be needed

[2022-01-16 08:41] Youssef1313 commented on #5793
@mavasani Can you confirm what's the correct behavior?

[2022-01-16 08:54] mavasani commented on #5793
@Youssef1313 only a very handful rules which are either marked for deprecating or extremely noisy are not enabled, rest all are enabled.

[2022-01-16 09:01] Youssef1313 commented on #5793
Yeah I see there are very few rules that are passing false for `isEnabledByDefaultInAggressiveMode`.
Do we need to document this or it's not important?

[2022-01-16 10:07] mavasani commented on #5793
I think it is fine to not document given these are completely low priority rules. If customers complain about certain missing rules, we should probably have to consider enabling them with this flag rather than documenting it.

[2022-01-16 10:17] Youssef1313 commented on #5793
@mavasani I should probably have added the original customer report on Discord when I opened this issue. It was mainly a confusion of `Minimum` and `Recommended`, and if they have anything to do with `EnabledRuleInAggressiveMode`:

![image](https://user-images.githubusercontent.com/31348972/149655653-7540fb07-1aee-40f6-a611-84dbd0d41795.png)

I sent the following as a response to the question, whi

[2022-01-16 12:57] mavasani commented on #5793
Yes, sounds good to me to close the issue.

[2022-01-16 12:58] #5793 closed

[2022-01-17 02:49] #5299 closed

[2022-01-17 04:19] #5775 closed

[2022-01-17 05:31] LeeGrissom opened #5794 "CA2000 not triggered for HttpResponseMessage"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.101](https://dotnet.microsoft.com/en-us/download/dotnet/6.0)

#

[2022-01-17 10:29] MaceWindu opened #5795 "CA1826 refactoring looses `!` operator"
### Analyzer

**Diagnostic ID**: [CA1826](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1826): `Use property instead of Linq Enumerable method`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6.0.1 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.101](https://dotnet.microsoft.com/download/do

[2022-01-17 18:25] Evangelink commented on #5787
This request https://github.com/dotnet/roslyn-analyzers/issues/3901 was suggesting to have a C# syntax (could potentially also be vb for those who prefer). Maybe we could get some inspiration from F# (or other languages) signature files.

[2022-01-17 20:59] Youssef1313 opened #5797 "RS1001: Missing DiagnosticAnalyzer attribute codefix doesn't add import annotations"
![image](https://user-images.githubusercontent.com/31348972/149836262-320e55cf-b70d-4136-bbd6-03121a49ba68.png)

[2022-01-17 22:58] Youssef1313 opened #5801 "RS1024 (Compare symbols correctly): SupportedDiagnostics doesn't include all descriptors"
https://github.com/dotnet/roslyn-analyzers/blob/c3145214555afda60a74da31f9096a788348e4fc/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/CompareSymbolsCorrectlyAnalyzer.cs#L28-L58

[2022-01-17 23:01] Youssef1313 commented on #5801
I think diagnostics from other descriptors are still being reported even though they're not added in `SupportedDiagnostics`.

Is that because they'll have the same ID? If so, why `SupportedDiagnostics` is not simply an `ImmutableArray<string>`?

[2022-01-18 01:59] #5769 closed

[2022-01-18 14:53] stephentoub opened #5802 "CSharpDetectPreviewFeatureAnalyzer hitting NullReferenceException when run on Corelib"
### Analyzer

**Diagnostic ID**: [CA2252](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2252): `Opt in to preview features`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.3 (Latest)

### Describe the bug

e.g. AD0001 fired with the exception fro

[2022-01-18 15:18] daviddunson commented on #5712
After upgrading an existing project from VS 2019 & .NET 5 to VS 2022 and .NET 6, I get a lot of false positives on CA2007.

[code]

I'm using System.Data.SQLite.SQLiteConnection.

[2022-01-18 16:20] jmarolf commented on #5787
@333fred and I talked in person about this (weird I know!) and I think the general consensus from everyone is that we want a C#-like syntax.

By basic sketch for this is:
- You have a source generator run and compute the public api for a compilation (same rules that we use for the Public API Analyzer today)
- The source generator then creates a file (let's call it `Public.Apis.csi` for now) an tha

[2022-01-18 16:30] jmarolf commented on #5787
@safern This was the right decision for all the reasons you lay out: design-time feedback is likely niche compared to package validation in general. Would be curious to understand more specifically what scenarios a compilation-based approach would not catch vs. a binary approach. Today we have the api-compatibility analyzers and I would imagine a similar approach would have worked for package vali

[2022-01-19 15:25] rainersigwald commented on #3448
One option is, at ship time (in Powershell):

1. `Get-ChildItem -r PublicAPI.*.txt | Clear-Content`
2. Open MSBuild.sln in Visual Studio, let it settle
3. Find a green squiggle for the analyzer and fix all in solution
4. `Get-ChildItem -r PublicAPI.Unshipped.txt | % { Move-Item -Force -Path $_ (Join-Path $_.Directory.FullName "PublicAPI.Shipped.txt") && New-Item $_ }`

This is IMO harder than it s

[2022-01-19 16:36] Evangelink commented on #5787
That's awesome :)

We need to be careful about the member ordering (I would expect the signature/api file to remain the same whatever the order in the src file) and maybe also about xml doc comments (some extensions are changing line breaks position for example).

I think that's a good decision. I think breaking change criteria are too specific. For example, if you really want to be strict adding

[2022-01-19 16:59] Evangelink commented on #5044
@mavasani @jmarolf What's your opinion?

[2022-01-19 23:10] jmarolf commented on #5044
Well considering the rule is "Do not call overridable _methods_ in constructors" I can understand why properties were not considered when porting this over. I do agree that the same risk remains when calling an overridable property as when calling a method, but I would expect the risk to be much lower.

Considering CA2214 is disabled by default today I am ok changing it behavior to include propert

[2022-01-20 04:50] RussKie commented on #3448
We adopted a @tmat's script, see https://github.com/dotnet/winforms/pull/4837.

[2022-01-20 13:37] huoyaoyuan opened #5804 "False positive RS1024 when creating HashSet with `SymbolEqualityComparer`"
### Analyzer

**Diagnostic ID**: RS1024: `Compare symbols correctly`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysisAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

**Version**: 3.3.2 (Carried by Roslyn 4.0.1)

### Describe the bug

Duplicate of #4568

### Steps To Reproduce

[code]
Reproduces in minimal project.

### Expected behavior

No warning.

###

[2022-01-20 15:10] Youssef1313 commented on #5804
This is fixed in 3.3.3

[2022-01-20 21:32] gundermanc opened #5805 "False positive for CA1416 in net6 library"
### Analyzer

**Diagnostic ID**: [CA1416 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1416 ): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.101](https://dotnet.microsoft.com/download/dotnet/6.0)

### De

[2022-01-20 21:41] gundermanc commented on #5805
Perhaps this is project configuration specific, it doesn't seem to repro in a one-off project, though it does in the linked PR.

[2022-01-20 22:11] SoftCircuits commented on #5626
I get the same warning with the following.

[code]

What's strange is that I get the exact same warning this.

[code]

But I don't get the warning with this.

[code]

The error message makes no sense to me. I can't make heads or tails of this.

[2022-01-20 23:04] kcaswick commented on #5626
The warning wants you to change to this:
[code]
That's harder to read though.. my preference would be the compiler turns string interpolation into a format string and parameters when passed to a function like this, or with some extra character.

[2022-01-21 00:26] SoftCircuits commented on #5626
@kcaswick Thanks for an explanation of this warning. The wording doesn't seem to say what you said. They should have you write the warning. ;-)

Yeah, in this case the parameter has absolutely nothing to do with anything I want to be part of logging. I'm just trying to use string interpellation to build a string. The compiler is being too smart here.

[2022-01-21 07:36] Trolldemorted commented on #5626
Any idea why the latter would be better? It is not as readable as the former and they should be equally fast.

[2022-01-21 12:51] huoyaoyuan commented on #5804
OK. The latest preview version (4.1.0-1.final) hasn't been updated yet. I'll close this when I verify in published version.

[2022-01-21 16:55] kcaswick commented on #5626
Probably this: (longer explanation at https://stackoverflow.com/a/49434820/20068)

Also it is a problem if you use structured rather than plain text logging: https://habr.com/en/post/591171/

[2022-01-21 18:39] AlbertoMonteiro commented on #4397
@dlouwers I think that using that way is much simplier

[code]

[2022-01-22 03:41] jeffhandley commented on #548
This rule will not be ported since we are on a path toward having BinaryFormatter fully deprecated and removed from .NET.
See also: [BinaryFormatter Obsoletion Strategy](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md)

[2022-01-22 03:41] #548 closed

[2022-01-22 03:41] jeffhandley commented on #549
This rule will not be ported since we are on a path toward having BinaryFormatter fully deprecated and removed from .NET.
See also: [BinaryFormatter Obsoletion Strategy](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md)

[2022-01-22 03:41] #549 closed

[2022-01-22 03:42] jeffhandley commented on #550
This rule will not be ported since we are on a path toward having BinaryFormatter fully deprecated and removed from .NET.
See also: [BinaryFormatter Obsoletion Strategy](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md)

[2022-01-22 03:42] #550 closed

[2022-01-22 03:42] jeffhandley commented on #551
This rule will not be ported since we are on a path toward having BinaryFormatter fully deprecated and removed from .NET.
See also: [BinaryFormatter Obsoletion Strategy](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md)

[2022-01-22 03:42] #551 closed

[2022-01-22 22:35] Evangelink commented on #5801
Yes that's the case! That got me fooled a couple of times.

I don't know, I guess it's to ease future changes (having more complex scenarios where not only the ID would be used). @sharwell  might know more.

[2022-01-23 01:38] Youssef1313 commented on #5801
Makes sense. Thanks. Closing

[2022-01-23 01:38] #5801 closed

[2022-01-23 14:12] daviddunson commented on #5530
I have the same problem here when trying to download a file:

[code]

Trying to determine the proper syntax is confusing and difficult to keep the code simplified. If I fall back to replacing the using with a try/finally, I can eliminate the CA2007; however, now I get a CA1508 false positive on target stream inside the finally block.

[code]

It's nice having these language helpers to simplify cod

[2022-01-23 20:06] Flash0ver commented on #5804
@Youssef1313, the fix you've described only accounts for `SymbolEqualityComparer.Default`, but not for custom `EqualityComparer<ISymbol>` implementations, does it?

[2022-01-23 20:09] Youssef1313 commented on #5804
@Flash0ver Not sure, but probably. This would be tracked by https://github.com/dotnet/roslyn-analyzers/issues/5715.

[2022-01-23 20:11] Flash0ver commented on #5804
@Youssef1313, thanks for your magnificently fast feedback - as I'm encountering that issue right now.

[2022-01-23 20:12] Youssef1313 commented on #5804
@Flash0ver I'll see if I can work on a fix soon.

[2022-01-23 20:21] Flash0ver commented on #5715
I believe my issue is related: I'm facing a `RS1024` when passing a custom `IEqualityComparer<ISymbol>` to ``HashSet`1``.

[code]

[code]

[code]

See https://github.com/Flash0ver/F0.Analyzers/blob/b8dc14657185c893d81dafb1eec5c871b88f21c9/source/production/F0.Analyzers/CodeAnalysis/CodeRefactorings/ObjectInitializer.cs#L104

[2022-01-23 21:42] Youssef1313 commented on #5715
@Flash0ver https://github.com/dotnet/roslyn-analyzers/pull/5807 should fix it.

[2022-01-23 22:47] Flash0ver commented on #5715
@Youssef1313 oh, wow - super quick, thank you.
Is there perhaps a pre-release package I may try? If so, I'm afraid I'm unaware of the feed.

[2022-01-24 07:11] Youssef1313 commented on #5715
Links for pre-releases are in the README.

https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet7&package=Microsoft.CodeAnalysis.Analyzers&version=3.3.4-beta1.22068.2&protocolType=NuGet

You can try witg the next prerelease after the PR gets merged.

[2022-01-24 10:34] Youssef1313 commented on #5802
Here is a test case that will be failing

[code]

[2022-01-24 17:32] Evangelink commented on #5777
@mavasani I think the easiest would be to add a user configuration to provide a list of alternate names.

It would still be worth reviewing the suggestions to see if we want to "hardcode" some of them.

[2022-01-24 17:36] #5752 closed

[2022-01-24 17:45] Youssef1313 commented on #5607
@stephentoub Can you move to dotnet/runtime? Thanks

[2022-01-24 17:45] Evangelink commented on #5671
@JoeRobich Is this issue still relevant? Everything looks green to me.

[2022-01-24 17:47] stephentoub commented on #5607
The original post states "Intended for internal use in dotnet/roslyn."  If this is destined to be an "RS" analyzer only for us in Roslyn, it doesn't need triaging in dotnet/runtime.

[2022-01-24 17:51] JoeRobich commented on #5671
@Evangelink Thanks. Closing it out.

[2022-01-24 17:51] #5671 closed, assigned to nobody

[2022-01-24 17:53] Evangelink commented on #5707
@marian-craciunescu Have you installed the analyzer nuget package to your project(s)?

[2022-01-24 17:57] Evangelink commented on #5704
@mavasani I am happy to provide a quick fix for this ticket but I was wondering more generally what's the guideline for our code-fixes:
1/ Use general word to not be tied to a language specific word
2/ Try to customize the message to be language specific (in which case we may want to create a ticket to review all of our messages).
3/ Use C# and that's it.

[2022-01-24 18:09] Evangelink commented on #5044
@jmarolf You can assign me on this task. I am just waiting for your input as to whether I simply extend current rule or add a new one AND whether I target main or something else.

[2022-01-24 20:27] RobSiklos opened #5814 "CA1416 False positive when returning after failed inverted platform guard"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/en-ca/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate platform compatibility`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

The analyzer says that the call sit

[2022-01-24 20:27] Evangelink commented on #5750
Thanks @Youssef1313!

[2022-01-24 23:44] Loophole62ndFF opened #5815 "CA2213 is incorrectly raised for a field that is initialised to null."
### Analyzer

**Diagnostic ID**: [CA2213](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2213)

### Describe the bug

If you have a class with a local field of an IDisposable type (e.g. a reference to a Windows Form), and that field is assigned from outside of the class (e.g. via a Property of the class), rule CA2213 is triggered if the field is initialised to n

[2022-01-25 03:01] mavasani commented on #5777
Sounds good to me, its worth adding an option here.

If we get more feedback to include more hardcoded names by default, we can do so later.

[2022-01-25 03:07] mavasani commented on #5704
@mikadumont for guidance on error message wording.

[2022-01-25 05:58] sharwell commented on #5784
I'm not certain this is a false positive. Even though the types are defined in a different class, they can still be initialized at a declaration site instead of in this static constructor.

[2022-01-25 14:55] Youssef1313 opened #5816 "Use Roslyn components multi-targeting"
We're using an old version of Roslyn to allow consumption in old VS versions. But this comes with some issues where a given Roslyn API had a bug that was fixed in a later version, and updating to new version of Roslyn is blocked.

As of https://github.com/dotnet/sdk/pull/20793, there is now a support for targeting multiple versions of Roslyn, where the highest version that can work will be picked.

[2022-01-25 15:00] Youssef1313 commented on #5816
https://github.com/YairHalberstadt/stronginject/commit/40c27214a3405a3e8f3a2cbd83aed27566cbc797 for an example where this was done.

[2022-01-25 23:58] ericstj commented on #5728
@mmitche @marcpopMSFT -- this seems to be a coherency issue with 5.0.  Would that be controlled here https://github.com/dotnet/sdk/blob/9e3321e8828dd1ad8f4cbb3b277780aa5982a4f4/eng/Versions.props#L81 or somewhere in the installer repo?

[2022-01-26 01:37] reduckted opened #5818 "RS1016 is raised on abstract class instead of on inheritors"
### Analyzer

**Diagnostic ID**: [RS1016](https://github.com/dotnet/roslyn-analyzers/blob/ffd024eb265e97e639a2879d869cf82b5b958992/src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.cs): `Code fix providers should provide FixAll support`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Anal

[2022-01-26 08:48] Youssef1313 opened #5819 "Analyzer for reporting placeholders in titles/descriptions"
It's a common mistake that analyzer authors use `{0}`, `{1}`, .... in titles and descriptions. It should be used only in messages.

[2022-01-26 10:25] Youssef1313 commented on #5818
https://github.com/dotnet/roslyn-analyzers/blob/f471d3381584f10f9908432e0b2b2b8ef07a0aa6/src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.cs#L243

We may rely on `ExportCodeFixProvider` for this condition instead of comparing the base type with `CodeFixProvider`

[2022-01-26 11:55] CyrusNajmabadi commented on #5819
@Youssef1313 if you have a fix for the regex issue, I'll happily take it :-)

[2022-01-26 12:20] Youssef1313 commented on #5819
@CyrusNajmabadi Sure. Opened https://github.com/dotnet/roslyn/pull/59077

[2022-01-26 19:02] mmitche commented on #5728
/cc @jmarolf

I seem to remember looking at this before. I think the issue was that roslyn-analyzers was doing incremental servicing but not turning off builds of the various packages. That combined with branching times in the SDK screwed some things up. For instance,  you can see here that the version number changed to 5.0.2 14 months ago but the sha revved 9 months ago:

https://github.com/dotne

[2022-01-26 20:56] declard opened #5820 "CA1063 warning inconsistent between expression bodied and block bodied methods"
**Version Used**: Visual Studio 2022 17.0.5
csc 4.0.1-1.21568.1 (6ab66011)

**Steps to Reproduce**:
[code]

**Expected Behavior**:
CA1063 is consistent across both `OuterExpr` and `OuterBlock` (probably shouldn't fire in both cases as there is a call to `Dispose(bool)`)

**Actual Behavior**:
CA1063 reported for `Outer.Dispose()`, and not for `OuterBlock.Dispose()`

[2022-01-26 21:18] CyrusNajmabadi commented on #5820
I got it :)

[2022-01-27 17:13] AnthonyMastrean commented on #4670
Would this be done in a way that extends to method overloads, as well?

[2022-01-27 19:38] #5802 closed

[2022-01-27 19:46] buyaa-n commented on #5805
Looks not analyzer issue, more like annotation issue moving to runtime so that area owners validate the windows unsupport

[2022-01-27 23:56] buyaa-n commented on #5790
cc @jmarolf

[2022-01-28 03:53] Bosch-Eli-Black commented on #2150
Would still love to see this implemented. Some people on my team recently "fixed" a bunch of CA1305 warnings by converting code to use interpolated strings 🙂

They converted this:

[code]

to this:

[code]

And then all of the warnings disappeared.

BTW, it'd be nice if this analyzer (when implemented), guided the user to consider using [FormattableString.Invariant()](https://docs.microsoft.com/en

[2022-01-28 04:02] Bosch-Eli-Black opened #5823 "CA1806 should warn if the method result is assigned to _"
### Analyzer

**Diagnostic ID**: [CA1806](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1806)

### Describe the improvement

This code warns:

[code]

This code doesn't warn:

[code]

IMO, assigning the result of `TryParse()` to `_` is the same as ignoring it, so the second case should also warn.

### Additional context

I discovered this by watching people con

[2022-01-28 07:18] #5795 closed

[2022-01-28 08:41] Youssef1313 commented on #5823
I think this is by design. By using the discard you say "I intentionally don't want the method return value"

[2022-01-28 09:07] mavasani commented on #5823
Agreed. The discard is equivalent to an intentional suppression in source of an unused value.

[2022-01-28 09:07] #5823 closed

[2022-01-28 09:11] Youssef1313 commented on #5816
This may help reduce the amount of reflection we do, ie, in `Lightup` we'll need to only use reflection if the API we need isn't available. That seems like a good addition. @mavasani What do you think?

[2022-01-28 12:53] lonix1 opened #5825 "CA1065 warning in implicit operator"
### Analyzer

**Diagnostic ID**: [CA1065](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1065): `Do not raise exceptions in unexpected locations`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotne

[2022-01-28 14:30] bash opened #5826 "Public API analyzer ignores compiler-generated methods"
### Analyzer

**Diagnostic ID**: [RS0016](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md)

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers/3.3.3)

**Version**: 3.3.3 (Latest)

### Describe the bug
Methods generated by the compiler for

[2022-01-28 15:59] lonix1 commented on #5825
Interesting point!

But it just doesn't feel exactly right. I think the client code, especially in a nullable reference environment, and especially in a DDD codebase that expects "always valid" instances, that would be surprising. On the other hand, you could say it's the client code that sent in the null, so its the client's fault.

This is definitely an edge case, there is no obvious "best" appr

[2022-01-28 21:26] Evangelink commented on #5825
Agreed.

This one is tricky because it doesn't prevent a null to be passed, it just somehow assume that if all your code is setup correctly you should not have null. But I tend to agree that in nullable context `CA1062` should probably not trigger. cc @mavasani

If you are using recent enough version of C#, you could use parameter null checking `!!` to workaround the issue as `CA1065` doesn't reco

[2022-01-28 21:31] Youssef1313 commented on #5825
@Evangelink The API in example is public, so really nothing prevents a null. I think CA1062 should still be reported in nullable-enabled context. This is similar to https://github.com/dotnet/roslyn-analyzers/issues/5350

[2022-01-28 23:23] buyaa-n commented on #5814
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5771

[2022-01-28 23:23] #5814 closed

[2022-01-29 00:20] elachlan commented on #5784
I am closing the issue, because I think the analyzer pointing this out helps highlight code that can be better optimized. Which is the point of the Analyzer.

[2022-01-29 00:20] #5784 closed

[2022-01-29 04:11] manfred-brands commented on #4981
@mavasani Version 6.0.0 of the analyzer still gives the same error, regardless of SDK (5.0.404 or 6.0.101)

[code]

Debugging this, it actually throws an exception in `DataFlowOperationVisitor.TryInferConversion`.
The method deals with `IConstantPatternOperation`, but doesn't know about `NegatedPatternOperation`.
Changing the test to `!(ms is null)` causes the test to pass.

I tried to change the

[2022-01-29 06:05] Youssef1313 commented on #4981
#5816 can help much with that I think.

[2022-01-29 09:33] Youssef1313 commented on #4981
@manfred-brands I think you can also add the operation kind in:

https://github.com/dotnet/roslyn-analyzers/blob/main/src/Utilities/Compiler/Lightup/OperationKindEx.cs

[code]

[2022-01-30 21:14] Trolldemorted commented on #5626
Thanks! Could we get the gist of that into the warning? I think I am not the only one who reacted with "but why though" at first.

[2022-01-31 01:25] manfred-brands commented on #4981
@Youssef1313 I resorted to adding a class in the Lightup directory instead as I needed access to its `Pattern` property.

[2022-01-31 03:02] sharwell opened #5828 "Release tracking analyzer doesn't recognize target-typed new"
### Analyzer

**Diagnostic ID**: RS2003

### Analyzer source

**SDK**: 6.0.100

**Version**: [SDK 6.0.100](https://dotnet.microsoft.com/download/dotnet/6.0)

### Describe the bug

The following change breaks release tracking analyzer recognition of a diagnostic:

[code]

### Steps To Reproduce

Revert https://github.com/Sergio0694/ComputeSharp/pull/207 and build ComputeSharp.SourceGenerators.

###

[2022-01-31 09:11] #5715 closed

[2022-01-31 12:35] Youssef1313 commented on #5816
Actually we might completely get rid of `Lightup` with this.

[2022-02-01 13:03] cremor opened #5834 "CA1001 is not shown for target-typed new expressions"
### Analyzer

**Diagnostic ID**: [CA1001](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1001): `Types that own disposable fields should be disposable`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.101](https://dotnet.microsoft.com/do

[2022-02-01 13:11] Youssef1313 commented on #5834
@sharwell This *could* be related to the `IOperation` behavior you recently noticed (https://github.com/dotnet/roslyn-analyzers/pull/5831).

[2022-02-01 13:15] Youssef1313 commented on #5834
Took a quick look now, it's not `IOperation`-related.

https://github.com/dotnet/roslyn-analyzers/blob/7c544ae66c44f1705ef583b112def4db52c0179a/src/NetAnalyzers/CSharp/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/CSharpTypesThatOwnDisposableFieldsShouldBeDisposable.cs#L43

https://github.com/dotnet/roslyn-analyzers/blob/7c544ae66c44f1705ef583b112def4db52c0179a/src/NetAnalyzers/CSharp/Micros

[2022-02-01 14:17] cremor commented on #5834
@Youssef1313 Thanks!

So it seems like it would be a good idea to not only fix this analyzer but also check all other usages of `ObjectCreationExpressionSyntax` if they maybe need to be changed.
https://github.com/dotnet/roslyn-analyzers/search?q=ObjectCreationExpressionSyntax

[2022-02-01 15:30] Youssef1313 commented on #3918
This can be conditionally done with https://github.com/dotnet/roslyn-analyzers/issues/5816

[2022-02-01 17:33] Youssef1313 commented on #5834
@cremor Other usages of `ObjectCreationExpressionSyntax` needs to be carefully examined to determine whether it's a bug or not, and those changes should be supported by unit tests. If you want to contribute a fix here (either for CA1001 only or reviewing all usages), I can help you getting a PR ready.

[2022-02-01 18:06] sharwell commented on #5816
There are two big problems with Roslyn component versioning today:

1. All projects prior to SDK 6.0.100 do not understand component versions, and will include all versions of the assembly in the build
2. Only SDK-style projects define `SupportsRoslynComponentVersioning`, so build logic relying on this property to work around (1) will force new projects to use older analyzers if they aren't SDK-st

[2022-02-01 18:13] Youssef1313 commented on #5816
@sharwell I thought the SDK version requirement would be for roslyn-analyzers repository, not consumers. But looks like my assumption was wrong?

[2022-02-01 18:58] sharwell commented on #5816
Component versioning is a consumer/client feature implemented by NuGet and/or the SDK.

[2022-02-01 19:00] Youssef1313 commented on #5816
@sharwell Is it expected that it can (at some point in future) be a good fit to use? If it's not a good fit, we can probably close this issue?

[2022-02-01 19:05] sharwell commented on #5816
I guess it depends on what versions of the compiler need to be supported over time. There are some partial workarounds available to handle cases where the feature is/is not supported.

[2022-02-01 21:56] buyaa-n commented on #376
The rule makes sense to us, moving to runtime for further discussion.

CC @carlossanlop

[2022-02-02 12:47] RobSwDev opened #5838 "Microsoft.DotNet.Analyzers.Compatibility.Deprecated analyzer pushes build time from 10s to 2 minutes"
Apologies if this is the wrong forum for this issue.

One of the projects in my solution takes over 2 minutes to compile when it targets netstandard2.0, but just 10 seconds when it targets net472.
I started looking into this, and according to the logs (screenshot below), nearly all this time is spent in the analyzer Microsoft.DotNet.Analyzers.Compatibility.

Specifying `<RunAnalyzersDuringBuild>fa

[2022-02-02 13:26] Youssef1313 commented on #5838
@RobSwDev Are you referencing the package `Microsoft.DotNet.Analyzers.Compatibility`? I think you can remove this reference. It doesn't appear to be maintained anymore. The [repository](https://github.com/dotnet/platform-compat) is archived.

[2022-02-02 13:50] RobSwDev commented on #5838
Yes - that's the analyzer.
On further investigation, it seems we've accidentally included a reference to it in Directory.Build.targets. Will remove.
Apologies - did not realise the package was obsolete.

[2022-02-02 13:50] #5838 closed

[2022-02-02 16:02] Weiman74 opened #5839 "CA1304 fires for ResourceManager.GetString()"
### Analyzer

**Diagnostic ID**: [CA1304](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1304)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

CA1304 fires fo

[2022-02-03 02:08] Therzok commented on #5838
@terrajobst @jmarolf sorry for the ping, but is there a way we could deprecate the package on nuget.org?

https://docs.microsoft.com/en-us/nuget/nuget-org/deprecate-packages

[2022-02-03 05:20] jmarolf commented on #5838
I believe @terrajobst has the permissions but is on vacation. I'll ping him when he is back.

[2022-02-03 11:00] RobSwDev commented on #5838
Is there a replacement in Net5 then for the "Deprecated" DE000x analyzers from Microsoft.DotNet.Analyzers.Compatibility?
E.g. if I reference `ArrayList` with the obsolete analyzer, I get a warning. But without this analyzer, there's no warning - even when targeting Net5 or Net6.

[2022-02-04 01:39] terrajobst commented on #5838
I've marked the packaged as deprecated. It'll probably take a while for the NuGet index to reflect tht.

[2022-02-04 12:03] RobSwDev opened #5841 "enable_platform_analyzer_on_pre_net5_target does not appear to work"
I want to use the inbuilt analyzers on code targeting NetStandard2.0. I thought this was possible by setting `enable_platform_analyzer_on_pre_net5_target`  to `true` in the editorconfig.
I have the following code:
[code]
I thought `UTF7Encoding`, `ArrayList`, `WindowWidth` (possibly) and `Console.Beep` should all produce warnings, but no warnings are shown when I build targeting NetStandard 2.0.
I

[2022-02-04 12:13] RobSwDev commented on #5841
[NewAnalyzers.zip](https://github.com/dotnet/roslyn-analyzers/files/8002850/NewAnalyzers.zip)
Attached a project showing this issue (for VS2022)

[2022-02-04 13:45] Joe4evr opened #5843 "[False negative] No diagnostic reported on method calls with unspecified optional `IFormatProvider`"
### Analyzer

**Diagnostic ID**: [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305): `Specify IFormatProvider` (possibly also [CA1304](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1304): `Specify CultureInfo`)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/funda

[2022-02-04 21:51] vsfeedback opened #5845 "Every time I open the .editorconfig it adds things to the file I don't want"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Every-time-I-open-the-editorconfig-it-a/1651970)._

---
[severity:I'm unable to use this version]
So I'm working on switching our project from using Rulesets to using .editorconfig.  Right now every time I the .editorconfig it adds a whole bunch of options to them such as dictating line

[2022-02-04 22:46] iCodeSometime opened #5847 "Diagnostic Analyzer Runner crashes when encountering invalid generic parameterless constructor pattern"
## Nuget Package

Microsoft.CodeAnalysis.CSharp

## Reproduction Steps
Enter the following (invalid) code:
[code]

## Expected behavior
An error of some kind should indicate this is not a valid construct.

## Actual behavior
Analysis crashes (see stack trace)

<details>
  <summary>Stack Trace</summary>

[code]
</details>

[2022-02-05 15:53] Youssef1313 commented on #5845
@jmarolf Did you meant to move it to dotnet/roslyn? This looks unrelated to roslyn-analyzers

[2022-02-06 17:18] Youssef1313 opened #5850 "Questionable behavior of DetectPreviewFeatures analyzers"
https://github.com/dotnet/roslyn-analyzers/blob/60eb13c44c366205e5a4dec195404477009c41de/src/NetAnalyzers/UnitTests/Microsoft.NetCore.Analyzers/Runtime/DetectPreviewFeatureTests.Generics.cs#L13-L45

Diagnostic span for this test is very inconsistent with it everywhere else.

@jeffhandley Can you confirm if this behavior is correct?

[2022-02-06 17:18] Youssef1313 commented on #5850
Also I'm wondering if this should use `UsesPreviewTypeParameterRuleWithCustomMessage` rule instead of `GeneralPreviewFeatureAttributeRuleWithCustomMessage`.

[2022-02-06 19:25] jeffhandley commented on #4404
Since this is a rare corner case that we haven't seen more hits of, I don't expect we'll make time for it in .NET 7. I'm going to go ahead and close it out. If folks stumble upon this behavior in the future, please file a new issue presenting the scenario in which you encountered it, and we can reconsider.

[2022-02-06 19:25] #4404 closed

[2022-02-07 07:33] Youssef1313 opened #5852 "CA1200 is not suppressed by category"
er the documentation, this scenario is supposed to work as far as I understand:

https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options#scope

The documentation rule we have is CA1200 and it's enabled by default:

https://github.com/dotnet/roslyn-analyzers/blob/60eb13c44c366205e5a4dec195404477009c41de/src/NetAnalyzers/Microsoft.CodeAnalysis.NetAnalyzers.sarif#L60

[2022-02-07 09:52] Youssef1313 commented on #5789
@mavasani I can reproduce with the latest .NET 7 pre-release, but cannot reproduce in a unit test.

[CA1508.zip](https://github.com/dotnet/roslyn-analyzers/files/8014116/CA1508.zip)

Following is the test I wrote, which passes, meaning there are no produced diagnostics:

[code]

Any idea what I could have done wrong?

[2022-02-07 09:56] MaceWindu opened #5853 "CA1021 Try* exception not applied to explicit interface implementation"
### Analyzer

**Diagnostic ID**: [CA1021](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1021): `Avoid out parameters`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers 6.0.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/6.0.0)

### Describe the bug

Rule supports [exception for Try pattern methods](https://docs.micros

[2022-02-07 10:31] mavasani commented on #5852
@Youssef1313 This is a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5077#issuecomment-829898574. Unfortunately, not much we can do here - `AnalysisMode`/`AnalysisLevel` and category based editorconfig severity configuration do not work together nicely. A better approach would be to not use category based editorconfig configuration, but instead use `AnalysisMode<%Category%>`: http

[2022-02-07 10:48] Youssef1313 commented on #5852
@mavasani Thanks. Can the docs be updated to reflect this?

cc @gewarren

[2022-02-07 10:57] MaceWindu opened #5854 "CA1021 triggered for overrides"
### Analyzer

**Diagnostic ID**: [CA1021](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1021): `Avoid out parameters`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers 6.0.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/6.0.0)

### Describe the bug

Rule reported for implementation/override of base class method with `

[2022-02-07 11:49] Youssef1313 commented on #5737
Related: https://github.com/dotnet/roslyn-analyzers/issues/5789

[2022-02-07 12:15] Youssef1313 commented on #5398
This doesn't reproduce for me if the `Create` method's return type is null-annotated. But reproduces in null-oblivious contexts, which is intended:

https://github.com/dotnet/roslyn-analyzers/blob/60eb13c44c366205e5a4dec195404477009c41de/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PointsToAnalysis/PointsToAnalysis.PointsToDataFlowOperationVisitor.cs#L936

[2022-02-07 16:16] Evangelink commented on #4520
It could have been fixed but I don't recall it.

Could you try that ^^^^ please?

[2022-02-07 21:08] buyaa-n commented on #5841
The analyzer would work with that configuration though it is not warning on those APIs because they are not annotated with OSPlatformAttributes in netstandard, and there is no way to get warnings unless they annotated in netstandard as needed

Tagging @terrajobst @jeffhandley for their opinions/suggestions about your questions

[2022-02-07 23:44] gewarren commented on #5852
I am seeing another issue related to categories. The defaults for the Globalization rules are:

![image](https://user-images.githubusercontent.com/24882762/152890471-08a3963b-c46c-423d-9d60-fbaa99e6595f.png)

If you set the Globalization category severity to error in .editorconfig (`dotnet_analyzer_diagnostic.category-Globalization.severity = error`), not all of the rules are affected. In fact, th

[2022-02-08 01:33] buyaa-n opened #5861 "Flow analysis assertion failure in debug mode"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: latest version

### Describe the bug

When build the repo code in debug m

[2022-02-08 04:56] terrajobst commented on #5841
@buyaa-n is correct. `Microsoft.DotNet.Analyzers.Compatibility` was a proof-of-concept, which is why it was in preview. It worked by carrying a database of APIs. We have changed this by adding attributes to the platform (see this [design for details](https://github.com/dotnet/designs/blob/main/accepted/2020/platform-exclusion/platform-exclusion.md)). We knew that this meant losing .NET Standard 2.

[2022-02-08 04:56] #5841 closed

[2022-02-08 05:46] #5747 closed

[2022-02-08 05:46] #5154 closed

[2022-02-08 06:21] mavasani commented on #5852
@gewarren It seems the default severities for all the rules (your first screenshot) seem to be wrong. The correct defaults are in: https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md

![image](https://user-images.githubusercontent.com/10605811/152929593-450df57f-0ddb-4d5f-b5be-b16f6395deab.png)

Based on these defaults, the set of unaffected rules

[2022-02-08 06:23] mavasani commented on #5852
@gewarren Are you able to create a repro for the issue in your first screenshot (wrong default severities) and file a bug in Roslyn repo? You want to tag @jmarolf as this seems to be an issue with editorconfig UX.

[2022-02-08 06:25] Youssef1313 commented on #5852
@mavasani I believe I have an open issue for EditorConfig UI already

[2022-02-08 06:31] Youssef1313 commented on #5852
https://github.com/dotnet/roslyn/issues/54495 It was claimed to be fixed, but I'm not sure it's indeed fixed. @jmarolf can you take a look and re-open https://github.com/dotnet/roslyn/issues/54495 if necessary?

[2022-02-08 11:03] Youssef1313 commented on #5148
It's marked as deprecated now https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers

I think this can be closed as it's fixed.

[2022-02-08 11:06] Youssef1313 commented on #4730
@lakeman Can you confirm if you're still seeing the error?

[2022-02-08 11:21] lakeman commented on #4730
Since I found a workaround, I didn't commit any code sample that I can retry.
If my above reduced test case works, then it's probably fine.

[2022-02-08 11:23] mavasani commented on #4730
Thanks @lakeman @Youssef1313. I am going to close this issue, please re-open if you hit this again.

[2022-02-08 11:23] #4730 closed

[2022-02-08 16:51] gewarren commented on #5852
I logged https://github.com/dotnet/roslyn/issues/59371.

[2022-02-08 18:09] hannah-pate-relativity opened #5866 "Incorrect Documentation for Release Tracking Analyzers"
### Analyzer

**Diagnostic ID**: [RS2007](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs2007-invalid-entry-in-analyzer-release-file): Invalid entry in analyzer release file

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

**V

[2022-02-08 21:51] ByteDecoder commented on #2402
Any new on this issue? I am having the same issue in mac and linux

[2022-02-09 01:35] maryamariyan commented on #5626
As with `LogError`, `LogDebug`, `LogInformation`, etc. the best practice is to move away from using interpolated strings as input string. So precisely the way explained in https://github.com/dotnet/roslyn-analyzers/issues/5626#issuecomment-1018003922,

[code]

needs to change to

[code]

The purpose of `CA2254` is diagnostics is to not have mutable strings logged. So an input like:

[code]

needs

[2022-02-09 02:06] SoftCircuits commented on #5626
@maryamariyan I understand the intent. But not every string I log needs splitting up into different fields. Sometimes I'm just trying to log a string from different sources. There is absolutely no benefit that I can see from treating the application description any differently than the rest of the string.

[2022-02-09 02:38] maryamariyan commented on #5626
Thanks for the feedback. If it feels onerous to do changes on the developer side in some cases then maybe the diagnostics needs to be revisited. e.g. perhaps we could consider to change the diagnostic severity from warning to information. Your case or the others represented above are not really false positives. The analyzer was supposed to catch them intentionally.

[2022-02-09 08:01] naughtyGitCat commented on #5626
that feels make c# logging code verbose like java, I think it makes code hard to read, willing to rollback

[2022-02-09 11:33] roji opened #5867 "Spurious RS2003 error on latest 7.0 SDK"
When building EF Core with SDK 7.0.100-preview.2.22108.9, I get:

Contents of AnalyzerReleases.Shipped.md:

[code]

No changes were done since EF Core 3.0, and the EF1001 diagnostic is very much alive.

To repro, clone https://github.com/dotnet/efcore, go into src/EFCore.Analyzers and try to build.

[2022-02-10 01:30] arthuredgarov commented on #5626
@maryamariyan,

OP report as well? I mean, in case I have the following code I will get CA2254 too:

[code]

[2022-02-10 08:00] Youssef1313 commented on #5867
@roji Are you using target-typed new? If yes, then this is a known issue. For now you'll have to revert target-typed new changes.

[2022-02-10 08:13] Youssef1313 commented on #5867
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5828

[2022-02-10 08:47] roji commented on #5867
Thanks @Youssef1313 - yeah, we're using target-typed new exactly as described in #5828. Closing as dup.

[2022-02-10 08:47] #5867 closed

[2022-02-10 14:33] Evangelink opened #5869 "Relax CA2219 in case of a rethrow"
### Analyzer

**Diagnostic ID**: [CA2219](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2219)

### Describe the improvement

I'd like to suggest to relax the rule to not report in case of a rethrow inside a try/catch within the finally clause.

[code]

[2022-02-10 14:36] rauhs opened #5870 "ImmutableHashSetExtensions.AddRange could probably be faster"
Hi all,

on my dev PC I'm noticing a very busy (CPU) 'Roslyn.Worker` (Resharper). Our code base is relatively big. 28k files.

I've just ran a very quick 20s PerfView and noticed the following:

[code]

Note: This method is about 66% of all my CPU time.

which lead me to:

https://github.com/dotnet/roslyn-analyzers/blob/main/src/Utilities/Compiler/Extensions/ImmutableHashSetExtensions.cs#L10-L35

[2022-02-10 17:17] #5646 closed

[2022-02-10 21:12] CyrusNajmabadi opened #5871 "'Make static' qualifies callers but doesn't simplify them."
I've noticed this recently and it's driving me nuts.  I use make-static a lot and i always end up with stuff like this:

![image](https://user-images.githubusercontent.com/4564579/153497158-d52c00ad-9a79-4808-90bf-334f070f1941.png)

Where i then have to fixup the callers to not statically reference the instance method anymore.

[2022-02-10 21:12] CyrusNajmabadi commented on #5871
@mavasani can you fix?

[2022-02-11 08:17] rauhs commented on #5870
Thanks for the quick reply and instructions.

Result:

[code]

I reported it to SonarSource.

Though, I'm not sure at this point if this should be fixed by both or neither :)

FWIW, some more PerfView traces:

[code]

[2022-02-11 08:51] rauhs commented on #5870
Another side note: Is there an easier way to investigate what assembly (or file) is the issue? I'm personally a big fan of ETW events. Has roslyn analzyer thought about adding ETW event? For instance `Analyzing{Assembly,Namespace,File}{Start,Stop}` events.

Getting the our project to finish compiling with the analyzers on was very challenging. I had to take a smaller part and run the compilation o

[2022-02-11 09:02] mavasani commented on #5871
Investigating further, it the issue only repros for multi-targeting projects. Same code on a project with a single TargetFramework simplifies the reference correctly.

[2022-02-11 09:48] mavasani commented on #5871
So, this might likely be an underlying bug in the simplifier for multi-targeted projects, the fixer seems to be doing the right thing: https://github.com/dotnet/roslyn-analyzers/blob/65680a5750b0778ab869b02a70cc5e675410201e/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStatic.Fixer.cs#L179-L199

[2022-02-11 10:56] rauhs commented on #5870
Sam,

just a quick note before the weekend: I removed all the SonarSource analyzers completely. Still seeing a lot of time in the PointsToAbstractValueDomain.Merge function. So I think still a good idea to potentially improve something in there.

I wish I could help more but I have no clue how I would try out any source code changes in this repo :/

[2022-02-11 11:01] CyrusNajmabadi commented on #5871
so the experience is super painful.  can we detect up front if we need to qualify in this fashion?  Specifically, for methods that are invoked off of 'this' (implicitly or explicitly) we shouldn't have to add this.  So it would be great to just not do any mutation.

This is the common case for me.  Private methods taht don't access state and can become static.

Thanks!

[2022-02-11 15:51] Evangelink commented on #5784
@sharwell Let me know when you are done with your investigation.

[2022-02-11 20:05] buyaa-n commented on #5850
Good catch, that behavior is not correct, I guess that is a leftover from the [work updating diagnostic locations](https://github.com/dotnet/roslyn-analyzers/pull/5402), the span should be around type parameter

Yes, when the diagnostic span moved to the type parameter `UsesPreviewTypeParameterRuleWithCustomMessage` rule should be used

[2022-02-11 20:10] Youssef1313 commented on #5850
@buyaa-n Thanks for confirming. I'm currently working on a re-write for the analyzer. Once I finish it, I'll need to make sure there is no performance regression, then I'll tag you and @jeffhandley for review.

[2022-02-12 13:09] Evangelink commented on #3763
@mavasani Would it make sense to update the message instead?

[2022-02-12 13:59] Evangelink commented on #5839
@mavasani It seems that the analyzer is implementing none of the suggested exclusions. Is it a documentation error or some missing cases?

[2022-02-12 15:50] #5675 closed

[2022-02-12 17:41] Evangelink commented on #5726
@mavasani It's pretty easy to add support for [api_ surface](https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#analyzed-api-surface) configuration for this rule instead of the `IsExternallyVisible`. I don't really see any downside here, WDYT?

[2022-02-12 21:31] Youssef1313 commented on #2302
Yeah I think it can be closed too. @sharwell @mavasani

[2022-02-12 21:41] Youssef1313 opened #5875 "`IsOperationNoneRoot` can break when `IAttributeOperation` is introduced"
Nothing yet needs to be done. But when https://github.com/dotnet/roslyn/issues/53618 is fixed, workarounds relying on `OperationKind.None` for attributes will break.

https://github.com/dotnet/roslyn-analyzers/blob/3a60fe76b0d65ea18000084588bc33e81e6494b1/src/Utilities/Compiler/Extensions/IOperationExtensions.cs#L189-L197

NOTE: We'll have to also keep `OperationKind.None` workaround (ie, check bo

[2022-02-13 20:25] Evangelink commented on #5704
Sorry for the ping @mikadumont but would you have some time to give us some advice here?

[2022-02-13 20:29] Youssef1313 commented on #5854
This may apply to CA1045 as well.

[2022-02-13 21:53] Youssef1313 commented on #5853
I'm not able to reproduce this in main branch (NOT including the **currently not-yet-merged** PR: https://github.com/dotnet/roslyn-analyzers/pull/5876).

[2022-02-14 02:33] #5854 closed

[2022-02-14 03:07] mavasani commented on #3763
That sounds reasonable as well

[2022-02-14 03:09] mavasani commented on #5726
@Evangelink Either way is fine with me. If you add the support for the option, please open a doc issue to update the documentation.

[2022-02-14 08:43] rauhs commented on #4914
Related: #5870.

Maybe this helps: I narrowed this down to a function like this:

[code]

The code doesn't make sense (I removed our custom functions and replaced them with some reflection API calls).

But the compilation of the above takes forever.

The PerfView looks very similar to what I posted in #5870.

HTH

[2022-02-14 09:08] MaceWindu commented on #5853
[ConsoleApp9.zip](https://github.com/dotnet/roslyn-analyzers/files/8059356/ConsoleApp9.zip)
also contains repro for #5854

[2022-02-14 10:11] Youssef1313 opened #5878 "`IsImplementationOfAnyImplicitInterfaceMember` implementation looks incorrect."
The name and documentation mentions "implicit interface implementation", but implementation checks for both implicit and explicit implementation. The method calls into `IsImplementationOfInterfaceMember`, which in turn calls into Roslyn's `FindImplementationForInterfaceMember` for which the documentation states:

I noticed this behavior while debugging through https://github.com/dotnet/roslyn-anal

[2022-02-14 10:48] Youssef1313 commented on #5790
@buyaa-n I think this is now fixed and can be closed.

[2022-02-14 11:10] Youssef1313 commented on #2878
I think you're referring to `CA1062`.

@mavasani  This was already fixed and can be closed

[2022-02-14 11:17] Youssef1313 commented on #5804
@huoyaoyuan Can you please verify with `4.1.0-3.final`?

[2022-02-14 11:26] #5853 closed

[2022-02-14 11:27] Youssef1313 commented on #5417
I think there is no way for an analyzer to know if a source file comes from a NuGet package. So I'm closing this out.

[2022-02-14 11:27] #5417 closed

[2022-02-14 12:52] Youssef1313 commented on #5413
@sharwell Is the fix here is to implement a custom FixAllProvider?

[2022-02-14 16:08] huoyaoyuan commented on #5804
Yes it's fixed.

[2022-02-14 16:08] #5804 closed

[2022-02-14 16:24] mavasani commented on #5413
I don't think the issue here is with the batch fixer. The core issue is that the code fix here invokes FindReferencesAsync and then fixes each reference site, these are inherently slow operations, and invoking them for large number of documents/projects/solution is going to be slow.
https://github.com/dotnet/roslyn-analyzers/blob/1a67cebace254e009a3b93ed402caf497a7f3b48/src/NetAnalyzers/Core/Micro

[2022-02-14 21:26] Flash0ver commented on #5804
Sorry for my late response - and thank you for the super quick fix. I appreciate it!

[2022-02-14 21:32] Flash0ver commented on #5715
Thanks - fixed my issue.

[2022-02-15 13:31] #5726 closed

[2022-02-16 17:05] maryamariyan commented on #5626
The reason we don't recommend using interpolated strings with logging APIs is the message templates are meant to help with producing structured log messages. This doc https://messagetemplates.org/ goes over message templates.

---

We're open to revisiting this and would like to better understand developer expectations before proceeding with next actions here. To do this, let's go through another

[2022-02-17 22:09] AshleighAdams opened #5887 "Required initializer is marked as not required by CA1805"
### Analyzer

**Diagnostic ID**: [CA1805 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1805)

### Describe the improvement

As it stands with the new maintenance release of .NET 6, if you use a `record struct` with default initializers on auto properties, all fields must be assigned to in the default constructor. This leads to an issue where the ctor forces the def

[2022-02-18 01:01] mavasani commented on #5887
@stephentoub

[2022-02-18 01:19] JuanZamudioGBM opened #5888 "IDE0055 errors after upgrading to SDK 6.0.200 (VS 17.1.0)"
### Analyzer

**Diagnostic ID**: [IDE0055](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules): `Fix formatting`

### Analyzer source

**SDK**: [SDK 6.0.200](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.200](https://dotnet.microsoft.com/download/dotnet/6.0)

### Describe the bug
After upgrading VS to

[2022-02-18 08:33] Youssef1313 commented on #5887
Is it really specific to `record struct`s? or `struct`s in general?

[2022-02-18 08:34] Youssef1313 commented on #5887
Feels like a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5750 which is being fixed in https://github.com/dotnet/roslyn-analyzers/pull/5813

[2022-02-18 09:23] AshleighAdams commented on #5887
@Youssef1313, That looks right, my bad. I'll leave it to you if you want to close as a duplicate, or keep it open to track and ensure the fix works for both.

[2022-02-18 13:54] daviddunson commented on #3042
Please re-open this bug. I'm using VS 17.0.6 and experiencing the same problem with this code:

[code]

"new FileStream" triggers CA2000.

[2022-02-18 14:32] stephentoub commented on #5887
It's structs in general, but I don't think it's a duplicate.  https://github.com/dotnet/roslyn-analyzers/issues/5750 is about a case like this:
[code]
where `new S()` and `default(S)` are not the same because `S` has a user-defined parameterless ctor, and that makes it a functional change to replace `static S s_value = new S()` with `static S s_value`.

This is instead about this:
[code]
where S's

[2022-02-18 22:41] Therzok commented on #5870
There is a section in the [README](https://github.com/dotnet/roslyn-analyzers#getting-started) about setting up the environment, although it's a bit hidden between other sections.

[2022-02-19 08:47] vpenades opened #5889 "Using PublicAPI analyzer in unit tests"
Right now, the PublicAPI analyzer is integrated into the project that is going to be monitored by the analyzer.

I have a library for which I would like to "freeze" the API and I would create a unit test project that tests whether the monitored
project has breaking changes relative to the baseline API.

I would like to know if it's possible to consume the PublicAPI analyzer as an actual reference

[2022-02-19 12:56] atifaziz opened #5890 "RS2002 reported after updating to .NET SDK 6.0.200"
### Analyzer

**Diagnostic ID**: RS2002 (Rule '…' is part of the next unshipped analyzer release, but is not a supported diagnostic for any analyzer)

### Describe the bug

After updating to .NET SDK 6.0.200, my project with a C# source generator is producing RS2002 errors. The same project builds when compiled with .NET SDK 6.0.102 so there seems to be some sort of regression.

### Steps To Repro

[2022-02-19 15:31] Youssef1313 commented on #5890
@atifaziz This is a known issue currently. You'll have to avoid target-typed new for the `DiagnosticDescriptor` to get this fixed.

[2022-02-23 07:03] Cosifne opened #5893 "PointToAnalysis doesn't support infer new C# pattern"
I get this error when running IEnumerable Analyzer over Roslyn solution.
See this error message:
![image](https://user-images.githubusercontent.com/24360909/155273622-2b396bb0-c5a4-474b-a54c-7c6615c898e2.png)

I think it is complaining about not be able to find the type for https://github.com/dotnet/roslyn/blob/03016afce9f0980b4a740268650edec83b79fc84/src/Compilers/CSharp/Portable/CommandLine/CSha

[2022-02-23 07:04] Cosifne commented on #5893
@mavasani

[2022-02-23 14:17] SupinePandora43 opened #5896 "Implicit operator conflicting with `&staticFunction`"
### Analyzer

**Diagnostic ID**: [IDE0004](https://docs.microsoft.com/en-en/dotnet/fundamentals/code-analysis/style-rules/ide0004): `cast is reduant`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.101](https://dotnet.microsoft.com/download/dotnet/6.0)

### Describe the b

[2022-02-24 00:05] Siphonophora commented on #5171
From looking at the linked PRs I think this won't surprise you, but I'm running into this in a .net 6 project.

[code]

I can ctrl+. and use 'Make static' to convert to the code below, but that results in a CS0763 build error.

[code]

I'm not sure if #5172 should be in the analyzers i'm using, but it seems like there is still a false positive. Even if the code fix could normally update the partia

[2022-02-24 18:46] JasonBock opened #5898 "CA1001 Doesn't Fire When `new(...)` Syntax Is Used"
### Analyzer

**Diagnostic ID**: [CA1001](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1001): `Types that own disposable fields should be disposable`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.102](https://dotnet.microsoft.com/download

[2022-02-24 18:52] JasonBock commented on #5898
Oops, just saw this was [reported before](https://github.com/dotnet/roslyn-analyzers/issues/5834).

[2022-02-24 18:52] #5898 closed

[2022-02-24 22:50] MisinformedDNA commented on #5626
The analyzer rule is useful IMO, but there should be a code fix and improved [documentation](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2254). This is way too little information:

![image](https://user-images.githubusercontent.com/1784452/155620672-d61c2ee5-22e6-4512-88bd-11f0849dc99c.png)

[2022-02-25 12:33] mavasani commented on #5626
@gewarren for documentation improvement

[2022-03-01 17:02] vsfeedback opened #5899 "wrong "Remove unnecessary suppression" warning"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/wrong-Remove-unnecessary-suppression-w/1678275)._

---
VS 2022 shows 2 contradicting warnings.

First, VS wants me to convert an if statement into a conditional expression.

I don't want to do that, because I feel the if statement is better readable. So I added "#pragma warning disable I

[2022-03-01 17:03] sharwell commented on #5899
This is very similar to #49660, and needs a fix similar to #52303.

[2022-03-04 02:23] Hectorem1 opened #5901 "Hh"

[2022-03-04 02:44] #5901 closed

[2022-03-04 09:02] Evangelink opened #5902 "Combining nullable and public api"
On vstest repository, I have enabled the nullable feature (in a similar fashion as done on roslyn, enabled by default and with the suppression pragma for all existing files).

When working on trying to convert some of the files from the disable to the enable state, I have started to get some diagnostics about the fact that our public api file is missing the `#nullable enable` notation. My problem

[2022-03-06 21:42] srikrishnag opened #5906 "At compile type, foreach is not validating strongly type of the elements"

[2022-03-07 00:14] HugoRoss opened #5905 "CA2208: Allow the parameter name to be a parameter name or a parameter's property name (recursive)"
### Analyzer

**Diagnostic ID**: [CA2208](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2208)

### Describe the improvement

Currently, only parameter names are allowed, otherwise the CA2208 raises its warning. I suggest that in future also properties and fields of arguments are allowed (recursively).

### Describe suggestions on how to achieve the rule

[code]

###

[2022-03-07 00:58] mavasani commented on #5905
I don’t think we should make the proposed changes here. ArgumentNullException should only be thrown when the argument itself is null. For argument’s field/property being null when non-null is expected, the code should throw an ArgumentException, with the message for the exception stating which field/property is null when expected to be non-null.

[2022-03-07 17:52] Evangelink commented on #5905
I even believe it should throw `InvalidOperationException` because that's a state exception and not something related to the argument.

[2022-03-07 17:54] Evangelink commented on #5906
Relates to #1494, I think it should be the same rule covering both cases.

[2022-03-07 17:55] Evangelink commented on #5902
cc @mavasani and @sharwell, I'd be curious how you did/do on roslyn?!

[2022-03-07 21:26] StevenQuickGS1 commented on #5626
It warns for string templates that are defined as readonly static which doesn't seem useful

[code]

[2022-03-08 00:34] simkin2004 commented on #5626
Multiple developers have provided reasons why the functionality that changed from one version of Visual Studio to another has flaws that cause this rule to be less usable.

I would argue that the Principle of Least Astonishment should be followed with future BREAKING changes like this.

If you want to make a change like this, create a new rule and let developers decide which one makes the most sen

[2022-03-08 18:50] Evangelink commented on #5887
Just or me to be 100% sure what I am supposed to end up doing:

[code]

[2022-03-08 18:58] Evangelink commented on #5044
@jmarolf Have you had time to dig into the old FxCop?

[2022-03-09 02:06] stephentoub commented on #5887
My suggestion was that CA1805 wouldn't fire for any of your examples.  It shouldn't apply to any instance members on any struct.  SomeBool in all of these cases is an instance member on a struct. (And I believe your first example won't even compile anymore because C# now requires an explicit ctor exist in order to use field initializers on structs).

[2022-03-10 14:59] marek-safar opened #5911 "Incorrect CA1822 for members that implement an interface"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822): `Member does not access instance data and can be marked as static`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.c

[2022-03-11 01:24] gfs opened #5912 "Analyzer to recommend ThreadSafe collections in parallel context."
### Describe the problem you are trying to solve

A common pattern is to run parallel processing and to produce a set of data. The default collection types like List and HashSet are not threadsafe and you may get unexpected behavior (like nulls being added to the collection) if you modify them from multiple threads at the same time.

### Describe suggestions on how to achieve the rule

I think the

[2022-03-11 08:04] DoctorKrolic opened #5914 "Analyzer suggestion: avoid incremental string concatenation in loops"
**Languages applicable:**
Both C# and VB

**Code example that the analyzer should report:**
[code]

**Message**: avoid incremental string concatenation in loops

**Additional information:**
I am not sure, if "incremental concatenation" is the right term. So a bit of clarification: by "incremental concatenation" I mean situation, when appending to an existing string, like `str += anotherStr` or `st

[2022-03-11 13:48] codec-abc opened #5915 "BannedApiAnalyser is not showing warning for implicit operator"
### Analyzer

**Diagnostic ID**: [BannedApiAnalyser](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md)

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers)

**Version**: 3.3.3 (Latest)

### Describe the bug

Warning a

[2022-03-13 14:01] credfeto opened #5917 "AD0001: 'ILLink.RoslynAnalyzer.RequiresAssemblyFilesAnalyzer' during publish"
### Analyzer

AD0001 crash in ``ILLink.RoslynAnalyzer.RequiresAssemblyFilesAnalyzer`` in 6.0.200 / 6.0.201
[code]

### Analyzer source

**SDK**: Built-in CA analyzers in .NET 6 SDK or later(https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: SDK 6.0.201, 6.0.200

Note issue doesn't appear in 6.0.102, 6.0.103...

Also happens when  the Microsoft.CodeAnalysis.Net

[2022-03-13 18:12] mavasani commented on #5917
@agocke

[2022-03-14 12:15] codec-abc commented on #5915
@[sharwell](https://github.com/sharwell) gave me the correct syntax for the implicit operator so I am closing this. One can argue the documentation could be a bit more rounded to ease on-boarding for new users. For instance, [on this page](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md) giving a example using real world

[2022-03-14 12:15] #5915 closed

[2022-03-15 11:10] Sti2nd opened #5919 "CA1806 should not warn on TryParse where out parameter is used"
### Analyzer

**Diagnostic ID**: [CA1806](https://docs.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/quality-rules/ca1806)

### Describe the improvement

For the [TryParse](https://docs.microsoft.com/en-us/dotnet/api/system.boolean.tryparse?view=netcore-3.1) methods that have an out parameter CA1806 should not warn if the out parameter is used.

### Describe suggestions on how to achieve t

[2022-03-15 15:03] chibanemourad commented on #4397
I have the same problem (CA1801 false positive) with sdk version 5.0.402 :
[code]
[code]

![image](https://user-images.githubusercontent.com/1395401/158407274-afd96053-fe31-455b-a1ae-cd3ee6ef3149.png)

[2022-03-16 15:39] nxrighthere commented on #2748
We would like to have such a feature to ban any types contained in namespaces such as `System.Threading` in cases where user code is submitted to a server, compiled, and executed from there remotely.

[2022-03-17 01:11] drewnoakes opened #5922 "CA1062 (validate non null) when using new !! syntax"
### Analyzer

**Diagnostic ID**: CA1062

### Analyzer source

[code]

### Describe the bug

When using `<LangVersion>preview</LangVersion>`, VS suggests using `!!` to validate arguments as not null.

After applying this code fix, CA1062 appears. It doesn't seem to understand the `!!` syntax.

### Steps To Reproduce

[code]

Invoke codefix for IDE0190 (simplify null check), producing:

[code]

###

[2022-03-17 17:22] vsfeedback opened #5923 "dotnet_style_require_accessibility_modifiers missing from C# Code Style settings UI"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/dotnet_style_require_accessibility_modif/1684055)._

---
"Text Editor -> C# -> Code Style -> General" is missing "dotnet_style_require_accessibility_modifiers" under "Modifier preferences", causing IDE0040 errors in the code file.

https://docs.microsoft.com/en-us/dotnet/fundamentals/cod

[2022-03-18 03:48] Youssef1313 commented on #5922
Not sure about the fix since DFA is a bit complex, but probably it's to tweak the `maybeNull` argument here:

https://github.com/dotnet/roslyn-analyzers/blob/086d1cc888ca0d8c96b94444935f488fcaf3fe98/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PointsToAnalysis/PointsToAnalysis.PointsToDataFlowOperationVisitor.cs#L277

Very likely it's needed to add an extension method to find `ExclamationExcla

[2022-03-19 20:18] alrz opened #5924 "Suggest to use extension method where applicable"
Considering an extension method like:

[code]

Suggest to use it where the code matches the method body.

[code]
->
[code]

[2022-03-21 09:34] amramz commented on #5712
Any updates / ETA on this one?
Thanks

[2022-03-21 11:53] mike1880 commented on #5626
It seems to me that trying to force everyone down the structured logging path, whether or not they need it or want it, is the wrong decision. By all means document how structured logging can be facilitated by doing things a particular way, but don't ram it down our throats if we don't want it. I don't need it and I dislike having to set up a global suppression file just because I don't happen to n

[2022-03-21 17:15] vsfeedback opened #5925 "Incorrect CA1508 in finally block"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Incorrect-CA1508-in-finally-block/1692593)._

---
Code analysis has a false positive for an object that can be null in a finally block. In the code below, there is a CA1508 warning about serlizedPayloadReader never being null even though `client. GetStreamAsync(sasUri)` (where client is

[2022-03-21 18:57] rjpowers10 commented on #1848
Just commenting to say that I am interested in `TryParse` being included in the analyzer coverage. `decimal.TryParse` was my motivation for enabling CA1305 so I was surprised that `decimal.Parse` was included but `decimal.TryParse` was not.

[2022-03-22 13:53] drk-mtr opened #5926 "Is there a way to view release notes for these libraries?"
This isn't a bug, it's a suggestion / a request for help.

If I want to view release notes for a library, is there a way to do this?

Let's say I want to understand what has changed between Microsoft.CodeAnalysis.Analyzers v3.0.0 and v3.3.3 - is this possible without reviewing commit messages?

If release notes are not currently available, is it worth considering whether these should be produced i

[2022-03-22 18:44] Youssef1313 commented on #5926
For new analyzers, you can see that in https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Core/AnalyzerReleases.Shipped.md

But for bug fixes, I don't think there are release notes including them.

cc @jmarolf @mavasani

[2022-03-23 14:33] bitbonk commented on #5787
For many years I have been involved in the maintenance of lot of libraries and frameworks are consumed in-house as well as by external customers, mainly via nuget packages. Here is my take on the essential user stories a good API tracking solution should cover:

1. As a library maintainer I want to be warned as early as possible (right in the IDE of my choice) when I have made a breaking change in

[2022-03-23 14:43] bitbonk commented on #5787
@jmarolf

It is important that it still will be possible mark APIs as shipped at some point and that there is a way to make a build **not** fail, if I have only made changes to APIs that have not yet been shipped to customers. Will that still work?

[2022-03-24 05:50] epsitec commented on #5789
I had this warning fire only if the code is not in the same as the class itself.

[2022-03-24 14:43] nxrighthere commented on #2748
@genlu Could you please consider implementing this feature?

[2022-03-24 18:38] conteabhp commented on #5059
I also have this problem and it is really killing productivity. Actually thought it was a Windows11 thing, because i haven't seen it in windows10, but now I have it every day :-\

[2022-03-24 18:41] Youssef1313 commented on #5059
@conteabhp Can you follow the suggestion in https://github.com/dotnet/roslyn-analyzers/issues/5059#issuecomment-924117919 ?

[2022-03-24 19:09] conteabhp commented on #5059
I have tried adding a .editorconfig and get this error
![image](https://user-images.githubusercontent.com/77158658/159992257-7245e587-25e6-4296-8c40-f57070f28dd8.png)

[2022-03-24 19:22] Youssef1313 commented on #5059
@conteabhp That seems a completely different issue. For this one, I think you can open an issue in dotnet/roslyn

[2022-03-24 21:27] conteabhp commented on #5059
@Youssef1313 I am not sure what you want me to do. If I press the link to the answer you are refering i get this:

@udlose You can create a new VS feedback via Report a Problem and attach the heap dump to that. Feel free to mention me and/or link to this issue.

@sgf We would need a separate heap dump from your scenario to start the investigation. It can be filed as a separate feedback from all th

[2022-03-24 21:34] Youssef1313 commented on #5059
@conteabhp Yes exactly. You need to report the issue using "Send feedback" in Visual Studio.

[2022-03-24 21:37] conteabhp commented on #5059
@Youssef1313  allready done that

[2022-03-25 11:52] davidegiacometti commented on #5679
Any news on this? Still impacting VS 17.1.2 and .NET SDK 6.0.201.

[2022-03-25 14:16] Blackbaud-ScottFreeman opened #5929 "CA1508 False positive for string.IsNullOrWhitespace in pattern matching"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

### Describe the bug
False positive for dead code with the code shown below.

### Steps To

[2022-03-25 20:29] ScottyMac52 commented on #5626
Technically what you are doing is the same. The Warning will go away if the message is a string literal. Somebody made a VERY wrong decision to enforce something like this.

[2022-03-25 20:54] dss539 commented on #2886
This actually is not a false positive, but the warning explanation and the proposed fix of switching to Unicode are profoundly unhelpful.  You can't just arbitrarily decide to change the string marshalling like the fix proposes.

ANSI marshalling is a security issue because the "best fit mapping" string conversion is insecure.
There are 2 ways to work around this:
1. In the best scenario, you woul

[2022-03-25 20:55] dss539 commented on #5479
https://github.com/dotnet/roslyn-analyzers/issues/2886#issuecomment-1079426722

[2022-03-29 18:44] kjpgit opened #5934 "Add warning if ! (d*mn it) operator is used."
I would like to set an option in my .csproj to warn if the '!' operator is used to assume something is not null without runtime checks.   If there are certain sections of code where I need it (for performance?) I would put pragmas around that section to silence the warning.

The ! operator appears to be intended to be low friction for existing codebases, which is understandable, but it is not desi

[2022-03-30 00:28] dlebee commented on #5738
We have the same issue in our projects, we want to treat CA2017 as an error so a fix for this would be really appreciated! 👍

[2022-03-30 00:53] kjpgit commented on #5934
In case anyone searches this
https://github.com/tom-englert/Nullable.Extended#roslyn-analyzer
https://stackoverflow.com/questions/70406775/prevent-null-forgiving-operator-usage

[2022-03-30 02:19] mavasani commented on #5934
Agree with @sharwell. Such an analyzer wouldn’t be part of any analyzer package shipped out of this repo. Feel free to author your own analyzer package for such an analyzer. We should close this issue as Won’t Fix.

[2022-03-30 03:27] buyaa-n opened #5936 "Platform compatibility analyzer crushes for some platform attributes combinations"
### Platform compatibility analyzer crushes for some platform attributes combinations

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate Platform compatibility`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**:

[2022-03-30 03:44] kjpgit commented on #5934
Neither of you have given an actual reason why this shouldn't be fixed.  Isn't the goal to warn on unsafe usage?

Regardless, let's talk about this analyzer you suggest I write.  Where are docs on how to write an analyzer using .net cli on linux, and have it work with 'dotnet build'?  How do I verify what analyzers being run by dotnet build?  I have tried and it is utterly frustrating.  I do not u

[2022-03-30 04:22] mavasani commented on #5934
@kjpgit Sorry if the context wasn’t clear. Sam did mention why this request would not qualify for an analyzer that ships inside VS/.NET SDK:

_ This is a request to outright ban the use of a language feature, which is not something the compiler team (who implemented said feature) is interested in doing._

[2022-03-30 04:36] kjpgit commented on #5934
I made absolutely no such request to ban a feature.  I requested an optional warning (off by default), which could still be suppressed by pragmas around code blocks.

[2022-03-30 04:40] buyaa-n commented on #5936
CC @jeffhandley

[2022-03-30 04:47] kjpgit commented on #5934
Anyway, I tried using this analyzer https://www.nuget.org/packages/Nullable.Extended.Analyzer/ which has 7000 downloads (so I'm NOT the only person running into this safety issue), but I can't get it to work in dotnet build.  I find zero documentation on creating or using analyzers with CLI / dotnet build, as mentioned above.

[2022-03-30 04:53] buyaa-n opened #5938 "False positives in flow analysis found in Platform compatibility analyzer"
### False positives in flow analysis found in Platform compatibility analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): Validate Platform compatibility`

### False positives in flow analysis found in Platform compatibility analyzer

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundam

[2022-03-30 06:52] ChrisBertrandIndus opened #5939 "GenerateAssemblyInfo set to false disables EnablePreviewFeatures, then CA2252"
### Analyzer

CA2252

### Analyzer source

- Visual Studio 17.1.2
- C#   4.1.0-5.22165.10+e555772db77ca828b02b4bd547c318387f11d01f

.NET SDKs installed:
  5.0.405
  6.0.200
  6.0.201

Also tried (with same error) NuGet package :
Microsoft.CodeAnalysis.NetAnalyzers Version=6.0.0

### Describe the bug

Setting both `EnablePreviewFeatures` to True and `GenerateAssemblyInfo` to False in the csproj fil

[2022-03-30 14:33] kjpgit commented on #5934
I got the above analyzer working after adding a .editorconfig to change it from info to warning for `dotnet build`, per a stackoverflow person who helped me.  Don't really like relying on a random nuget package, but happy to have a solution finally.

[2022-03-30 16:34] #5936 closed

[2022-03-30 17:51] buyaa-n commented on #5939
This is by design, Assembly generation should be enabled in order to MSBuild could add the `[assembly: System.Runtime.Versioning.RequiresPreviewFeaturesAttribute()]` attribute into the assembly, which would tell the analyzer that the assembly is opted in to Preview feature, if you disabled `AssemblyInfo.cs` file generation with `<GenerateAssemblyInfo>False</GenerateAssemblyInfo>` you need to add t

[2022-03-30 18:06] #5934 closed

[2022-03-30 18:10] sharwell commented on #5934
This feature has been considered in the past, and we believe it would be _interpreted_ as saying the `!` feature is not intended for use, even if the rule is optional or can be disabled. We therefore opted to not implement the feature as part of the built-in analyzer package, but it can of course be implemented separately (or obtained from a separate analyzer package).

[2022-03-30 18:13] jmarolf opened #5942 "Re-Write GenerateDocumentationAndConfigFiles"
There are several issues with the design of GenerateDocumentationAndConfigFiles that needs to be addressed:

1. It does too much and each of its tasks should be separated into separate build tasks or stages. It is hard to diagnose when several things are done at once and the task fails
2. The design of the `RulesMissingDocumentation.md` validation is in opposition to the concept of deterministic b

[2022-03-30 21:21] Youssef1313 commented on #5942
This shouldn't be the case. Why do you think it's the case @jmarolf ?

[2022-03-31 06:31] ChrisBertrandIndus commented on #5939
@buyaa-n

When I add `[assembly: System.Runtime.Versioning.RequiresPreviewFeaturesAttribute()]` to AssemblyInfo.cs, compilation fails with the error CS8703 (translation: _The abstract modifier is invalid for that item in C# 10.0. Use the preview version of the language or a later version_).

I ensured the AssemblyInfo.cs is taken into account (using AssemblyVersion), so RequiresPreviewFeaturesAttr

[2022-03-31 17:09] buyaa-n commented on #5939
Yes, as you are using a preview feature of the language you are also need to use preview version of the language, if you don't know how to do that you can just use the fixer of that CS8703 error, click on `Show potential fixes` => `Upgrade this project to C# language version 'preview'`
![image](https://user-images.githubusercontent.com/45579687/161110955-16231080-0b61-41ca-82cf-7aba77a7ce07.png)

[2022-04-01 06:10] ChrisBertrandIndus commented on #5939
Thank you for this detailed explanation.

I suggest to add a rule that makes a warning when both EnablePreviewFeatures is true and GenerateAssemblyInfo is false.

[2022-04-01 09:15] cremor opened #5945 "CA1727 is not reported if the placeholder starts with a symbol"
### Analyzer

**Diagnostic ID**: [CA1727](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1727): `Use PascalCase for named placeholders`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.201](https://dotnet.microsoft.com/en-us/download/dot

[2022-04-01 15:21] Youssef1313 opened #5947 "Remove RS0005"
As far as I understand, the value of RS0005 was to not use CodeAction.Create for telemetry reasons. This is no longer required with https://github.com/dotnet/roslyn/pull/60480, so this rule can/should be removed.

@mavasani for confirmation

[2022-04-01 19:58] RealDotNetDave opened #5948 "JsonSerializable Attribute Causing CS1591 Error"
After applying the JsonSerializable attribute to a class, the build failed with this error:

CS1591: Missing XML comment for publicly visible type or member 'PersonProperJsonSerializerContext.DateTimeOffset'

I have tried using the SupressMessage attribute to get it to build, but that does not work.

I am using .NET 6 and Visual Studio 17.1.2.

[2022-04-01 21:08] buyaa-n commented on #5939
That is probably should be MSBuild analyzer not a roslyn analyzer

[2022-04-01 21:19] #3946 closed

[2022-04-02 12:58] #5947 closed

[2022-04-04 07:27] ChrisBertrandIndus commented on #5939
@buyaa-n

I opened a ticket at msbuild as suggested:
[https://github.com/dotnet/msbuild/issues/7515](https://github.com/dotnet/msbuild/issues/7515)

[2022-04-04 17:17] buyaa-n commented on #5939
Thanks @ChrisBertrandIndus, closing this issue as by design

[2022-04-04 17:17] #5939 closed

[2022-04-06 15:53] SupinePandora43 opened #5955 "Ref structs with `Dispose()` method must be disposed"
### Describe the problem you are trying to solve

[code]

### Describe suggestions on how to achieve the rule

### Additional context

[2022-04-06 17:53] battarro commented on #5626
Structured logging is a much better approach to logging than just writing a string out.

The workaround of simply ignoring or downgrading the severity of the issue on your visual studio seems like a good compromise that can accomplish both goals.

I disagree that it was a bad decision to warn us about this, warning us is fine, then we can do what the warning as we wish.

[2022-04-08 00:07] ErikWe opened #5957 "RS2000 ignores target-typed new expressions and creation outside of immediate field-initialization"
### Analyzer

**Diagnostic ID**: [RS2000](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md#rs2000-add-analyzer-diagnostic-ids-to-analyzer-release): `Add analyzer diagnostic IDs to analyzer release`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/

[2022-04-09 11:48] Youssef1313 commented on #5957
Also https://github.com/dotnet/roslyn-analyzers/issues/5890

[2022-04-09 16:18] AraHaan commented on #5126
I think I prefer the top one for both cases and just use the top (remove the bottom one).

[2022-04-09 16:39] AraHaan opened #5958 "Microsoft.CodeAnalysis.ResxSourceGenerator does not use .g.cs suffix on generated code."
### Analyzer

Microsoft.CodeAnalysis.ResxSourceGenerator

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.ResxSourceGenerator](https://www.nuget.org/packages/Microsoft.CodeAnalysis.ResxSourceGenerator)

**Version**: *-* (absolute latest) Yes I wildcarded it.

### Describe the bug

This bug, which is that the generator does not use the more common .g.cs suffix for source generators

[2022-04-09 16:45] AraHaan commented on #5958
https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator/AbstractResxGenerator.cs#L226-L231

[2022-04-10 05:04] Youssef1313 opened #5960 "Add `CodeRefactoringProvider` to add a symbol to banned api file"
If lightbulb is invoked on a declaration and the compilation has an additional file `BannedSymbols.txt`, offer a refactoring to add the symbol to `BannedSymbol.txt`.

[2022-04-11 11:24] bitbonk commented on #5826
Alternatively (preferably?) `PublicAPI.(Un)shipped.txt` should denote that `Person` is a record.

[2022-04-11 18:53] buyaa-n opened #5962 "False positives found in Platform Compatibility Analyzer"
### False positives found in platform relations of CA1416

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): Validate Platform compatibility

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download

[2022-04-11 19:57] alexrp opened #5964 "CA2256 false positive (?) on nested interface"
### Analyzer

**Diagnostic ID**: [CA2256](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2256): `All members declared in parent interfaces must have an implementation in a DynamicInterfaceCastableImplementation-attributed interface`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity

[2022-04-12 00:48] #5962 closed

[2022-04-12 08:32] siegfriedpammer opened #5965 "`__arglist` parameter causes CA2016 to crash"
### Analyzer

**Diagnostic ID**: [CA2016](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2016): `Forward the CancellationToken parameter to methods that take one`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.100](https://dotnet.microsoft.c

[2022-04-12 09:44] Youssef1313 commented on #5965
https://github.com/dotnet/roslyn-analyzers/blob/e898a9d806d66adf687e2e3eb3d0180ca8a2167a/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/ForwardCancellationTokenToInvocations.Analyzer.cs#L138

I think it's `a.Parameter` that's null:

https://github.com/dotnet/roslyn/blob/b0cd71f82fbada617a7cb5354f52bbc478c1ff1d/src/Compilers/Core/Portable/Operations/OperationInterfaces.xml#L2069-L2073

[2022-04-12 10:13] Youssef1313 commented on #5964
https://github.com/dotnet/roslyn-analyzers/blob/e898a9d806d66adf687e2e3eb3d0180ca8a2167a/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/InteropServices/DynamicInterfaceCastableImplementation.cs#L102

I think this should be `if (!member.IsStatic && member.Kind != SymbolKind.NamedType`

@alexrp Would you like to open a PR and fix this?

[2022-04-12 10:20] Youssef1313 commented on #5964
Is `member.IsStatic` check is actually correct given the abstract statics in interfaces feature?

cc @jkoritzinsky

[2022-04-12 11:16] #5965 closed

[2022-04-12 14:52] jkoritzinsky commented on #5964
Yeah we should probably remove the IsStatic check now that statics can be missing implementations in the base interface.

[2022-04-12 14:57] Youssef1313 commented on #5964
Probably it should be replaced with `member.IsVirtual || member.IsAbstract`. That's probably better than `SymbolKind.NamedType` check I suggested earlier.

[2022-04-12 17:35] jkoritzinsky commented on #5964
We could have the code-fix not provide a fix for this scenario since there’s no way to provide an implementation.

static abstracts and IDIC don’t mix well. One requires static type system info and the other is exclusively dynamically used.

[2022-04-13 15:31] chrissmiller opened #5968 "CA1508 False Positive in nested catch block"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `CA1508: Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.406](https://dotnet.microsoft.com/download/dotnet/5.0)

###

[2022-04-14 05:23] mwwaters commented on #2886
With .NET 6, I am still getting CA2101 with BestFitMapping = false and ThrowOnUnmappableChar = true. This is a legacy DLL and the code would be broken by going calling with UTF-16 bytes.

[2022-04-14 11:42] JohnGalt1717 opened #5969 "CA1829: Use the "Count" property instead of Enumerable.Count() suggested when using LongCount() which has no "LongCount" property equivalent."
**Brief description:**

Currently, the code analyser makes a suggestion to replace LongCount() with Count and the suggestion says "Use the "Count" property instead of Enumerable.Count().  Except this suggestion would result in an overflow of the enumerable is larger than Int32 AND there is no LongCount property.  Thus this suggestion is invalid in this case (but should be preserved in the actual c

[2022-04-15 10:08] svick commented on #5969
Is there any case where applying this suggestion actually makes the code worse?

Most collections can't have more than `int.MaxValue` items, so switching from `LongCount()` to `Count` won't hurt there.

If a collection can have more than `int.MaxValue` items, then you probably don't want to wait several seconds to enumerate all of them. And in that case, hopefully, its `Count` returns a `long`, in

[2022-04-15 17:05] Grauenwolf commented on #5628
It is fixed in 7.0.0-preview1.22168.1.

[code]

[2022-04-15 17:11] Youssef1313 commented on #5628
@jmarolf @mavasani This one is already fixed, but for 7.x.

The request here for this issue is backporting to 6.x. I don't know if it meets the bar for backporting. If not, can we close?

[2022-04-17 22:08] qsdfplkj commented on #5626
You should use structured message logging and not string interpolation:

    logger.Log($"The value: {value}");

Should be

    logger.Log("The value: {anyname}", value);

But if you insist on using string interpolation put everything in the arguments.

    logger.Log("{0}",  $"The value: {value}")

Note that the template should be a *constant*  not a readonly static

You could also use the more p

[2022-04-18 13:20] Evangelink commented on #5750
Looks like your example is actually not a False Positive according to @stephentoub [answer here](https://github.com/dotnet/roslyn-analyzers/pull/5813/files#r833097672) but there is indeed a False Positive with instance members of structs.

[2022-04-18 15:25] #5834 closed

[2022-04-18 18:48] buyaa-n opened #5971 "Add an option to opt in for generated code analysis"
CA1416 is [turned off](https://github.com/dotnet/roslyn-analyzers/pull/4846) for generated code, we have been discussing to add an option for opting in for generated code analysis but that haven't been implemented.

This is causing https://github.com/dotnet/aspnetcore/issues/41205, we need an option to enable it in razor pages (blazor projects)

[2022-04-18 20:21] buyaa-n commented on #5971
I do not recall how we were planning to handle this, I am thinking of few options:

1. Enable source analysis for a project having `<SupportedPlatform>browser</SupportedPlatform>` property (without having an option for opting in for generated code analysis, only for fixing the blazor issue)
2. Add option for opting in:
   - Add editor config option, I think this will require each blazor projects o

[2022-04-21 11:45] stephentoub opened #5973 "Add configuration option for rules aware of InternalsVisibleTo"
From @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/5972#issuecomment-1104677735

[2022-04-21 21:27] gewarren opened #5974 "Remove rule CA2109"
Because [code access security is dead](https://docs.microsoft.com/dotnet/fundamentals/syslib-diagnostics/syslib0003), we should no longer ship rule CA2109, because it doesn't have any meaning. See https://github.com/dotnet/docs/pull/25046#issuecomment-1097268401.

[2022-04-22 12:02] Tragetaschen opened #7475 "CA1822 "Make static" code fix does not respect csharp_preferred_modifier_order"
**Version Used**:
17.2.0 Preview 3.0

**Steps to Reproduce**:
1. An `.editorconfig` with `csharp_preferred_modifier_order=public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion`
2.
[code]
3. Run the "Make static" code fix on `Clear`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]
which triggers IDE0036 "Modifiers a

[2022-04-23 00:54] terrajobst opened #5975 "Platform compatibility analyzer doesn't consider attributes on local functions"
### Analyzer

**Diagnostic ID**: CA1416

### Analyzer source

**SDK**: Version: 7.0.0-preview.3.22175.4

### Describe the bug

It looks like the platform compat analyzer doesn't consider platform attributes
on local functions.

### Steps To Reproduce

The following code doesn't produce any diagnostics:

[code]

However, making `Test` a regular method will produce a diagnostic:

[code]

### Expecte

[2022-04-26 04:47] GitSahib commented on #1817
Use indexer like it says. The indexers are supposed to be faster than linqing.
.FirstOrDefault() => [0]

[2022-04-26 04:49] buyaa-n commented on #5971
As per offline discussion the suggested solution is same as one in https://github.com/dotnet/roslyn/issues/39758#issuecomment-552641591 `the analyzer
should opt in for generated code analysis, but have a quick check in the analyzer itself to see if the current file is the expected generated code and return without performing the analysis if it's not a generated Razor file`

[2022-04-26 14:50] AlFasGD opened #5977 "[QoL] Display a warning when assigning/returning an `int` division expression into a floating-point type"

[2022-04-26 21:05] reduckted commented on #1817
@GitSahib `.FirstOrDefault()` and `[0]` are _not_ equivalent.

[2022-04-26 21:43] GitSahib commented on #1817
I agree with you and I didn’t say they are equal but that warning suggests
use indexer instead linqing.

On Tue, Apr 26, 2022 at 5:05 PM Dave ***@***.***> wrote:

--
Best Regards,

Sahib Zar Khan
Cell Phone: 641-451-9852
LinkedIn: www.linkedin.com/in/sahib-khan
Email: ***@***.***

[2022-04-27 11:09] vsfeedback opened #5978 "Cyclomatic Complexity doesn't work in Visual Studio 2022 (v 17.1.5)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Cyclomatic-Complexity-doesnt-work-in-Vi/10021669)._

---
Hello. I'm trying to enable avoid excessive complexity notification but to no avail. I have a complexity of 46 but no error/warning or notification is visible.  As it can be seen in image below
![test_1.png](https://aka.ms/dc/image

[2022-04-27 16:56] nschuessler opened #5979 "Analyzer / Refactoring provider shared code design help"
I've been writing analyzers, fix providers for a while and also have written a suppressor.
Running into a design issue.

I have analyzers -> suppressor -> code fixes all configured.  The problem is that because the suppressor is in place to avoid spamming the error output window (to prioritize), it has a side effect of not making the code fixes available.

So to solve this problem, I'm thinking I

[2022-04-27 18:34] sharwell commented on #5958
The RESX features intentionally use **.Designer.cs** as the suffix for their generated code, as that produce less changes relative to the standard RESX designer feature.

[2022-04-27 18:35] #5958 closed

[2022-04-27 22:35] AraHaan commented on #5958
The issue with that is that coverlet will expect source to be available for ``.Designer.cs`` files because winforms programs include them as a must and so they special case for those and include them to produce diagnostics on.

[2022-04-28 03:10] tannergooding opened #5980 "AD0001 Fails when compiling TerraFX.Interop.Windows"
Repro:
1. Clone https://github.com/terrafx/terrafx.interop.windows
2. Edit `Directory.Build.targets` and remove `AD0001` from the `NoWarn` property group
3. Run `dotnet build` (requires .NET 7 Preview 3 or later)

Observe that many failures are spewed:
[code]

[2022-04-28 05:33] mavasani commented on #5980
@agocke

[2022-04-28 16:28] sharwell commented on #5958
The generated sources are embedded in the PDB. Coverlet should obtain sources from the PDB when present, and only fall back to looking for files on disk in cases where the sources are not embedded.

[2022-04-29 06:42] heathbm opened #5981 "Passing an async lamba and passing a reference to its Func<Task> do not behave the same"
### Describe the problem you are trying to solve

## Issue 1: Code appears correct, however actual outcome can be unexpected:

An async lambda `async () => ...` will resolve to be a `Func<Task>`.
When this is provided to a method that only expects an `Action`, the method will treat it as an `Action` with no visible warnings. This can cause unexpected behavior from the perspective of a developer /

[2022-04-30 02:08] martinkoslof opened #5984 ".editorconfig and code quality CAxxx analyzers"
Hello, I have spent more then a day trying to figure this out, I feel the more online documentation I read, the less I understand. My goal is to migrate our solutions code analysis to roslyn and we want to use Roslynator and also the built-in analyzers which come with modern versions of the .Net ecosystem. What I am trying to accomplish is a **single** .editorconfig file which can set all severiti

[2022-04-30 23:46] Youssef1313 commented on #5984
Can you upload a sample "Hello world" project where you can reproduce this?

[2022-04-30 23:47] Youssef1313 commented on #5984
As a guess:

- You could be missing `<EnableNETAnalyzers>true</EnableNETAnalyzers>` in csproj (if you don't want to use the NuGet package)
- Or you could just add the NuGet package.

[2022-05-01 06:34] philipborg opened #5987 "CA2254 Is non-functional with Microsoft.Azure.WebJobs"
### Analyzer

**Diagnostic ID**: [CA2254](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2254): `Template should be a static expression`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.202](https://dotnet.microsoft.com/download/dotnet/6.0)

_

[2022-05-02 11:05] bfren opened #5988 "Disable CA1305 for Guid.Parse"
### Analyzer

**Diagnostic ID**: [CA1305](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1305): `Specify IFormatProvider`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 6 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.202](https://dotnet.microsoft.com/download/dotnet/6.0)

### Descri

[2022-05-03 01:26] #5732 closed

[2022-05-03 14:27] nschuessler opened #5990 "Help: Interprocedural flow analysis and parameter tracking -- how does it work"
I have implemented a flow analysis to detect duplicate dictionary accesses.  Interprocedural analysis is enabled. On the following code, it is flagging this as a duplicate analysis even though it is plainly not:

[code]

In debugging through the operation visitor implementation, it seems that it is evaluting it as if it was written like this:

[code]

which would trigger the rule.

The bulk of our

[2022-05-03 14:57] nschuessler commented on #5990
@mavasani Maybe the person who knows the answer to this.

[2022-05-03 19:59] martinkoslof commented on #5984
Hi Youssef, I wound up doing the following:

1) Keeping all formating and style semantics in my root level . editorconfig

2) Moved ALL code style and code quality rules (IDE, CS, CA, etc) to a root level .globalconfig

This has resolved a bunch of inconsistencies for us. Honestly, the documentation is very confusing and if .globalconfig is supposed to be the recommended "replacement" for old rule

[2022-05-03 19:59] #5984 closed

[2022-05-04 16:27] bronumski commented on #5626
As someone who bangs the drum about not using `string.format` and string interpolation in log messages because you are preventing the framework from doing its job I can now start to relent on the use of string interpolation. With the use of the `InterpolatedStringHandlerAttribute` this is now possible and we can not only defer the rendering of the string and check if the log level is enabled but w

[2022-05-04 21:13] vsfeedback opened #5991 "IDE0060 Attribute Suppression is causing IDE0079"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IDE0060-Attribute-Suppression-is-causing/10027813)._

---
I have the following code

[code]

Which is resulting in:

Severity	Code	Description	Project	File	Line	Suppression State	Priority
Message	IDE0079	Remove unnecessary suppression

If I remove it the IDE0060 comes back.

---
### Orig

[2022-05-04 22:22] Youssef1313 commented on #5991
@mavasani Can you move to dotnet/roslyn. This is also a duplicate of https://github.com/dotnet/roslyn/issues/49669 which was closed as "not reproducible".

[2022-05-05 06:22] robertodalmonte opened #5996 "Partial methods generated (CommunityToolkit.Mvvm.ComponentModel)"
Using the CommunityToolkit.Mvvm.ComponentModel Version="8.0.0-preview3"
you can declare a partial method when a property changes:

[ObservableProperty]
private string _name;

then you can write a method like this:
partial void OnNameChanged(string value)
{
}
and you must declare with the same parameter, use it or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-05-05 13:54] N-Olbert opened #5992 "Do not raise CA1416 for enumeration types"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416)

### Describe the improvement

Enums are stupid sets of named constants. They cannot be "platform specific" by itself. Therefore raising a CA1416 seems wrong for such types.

For example, we have used the System.Diagnostics.EventLogEntryType-enum all around in our code base

[2022-05-06 01:09] buyaa-n commented on #5992
I believe there is an Enums used specifically for platform specific operations., therefore we could not exclude them all.

Is the [System.Diagnostics.EventLog](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.EventLog/Directory.Build.props#L4) is windows only, if an assembly has an `OSPlatform` attribute by design it applies to all members within the assembly, so there

[2022-05-07 20:33] Joe4evr commented on #5843
@sharwell @Evangelink @jmarolf Apologies for pinging, but it's been more than 3 months and I really want some eyeballs on this.

[2022-05-08 12:32] Evangelink commented on #5843
Hey @Joe4evr! Sorry about that, we are all busy.

What you describe makes perfect sense to me. I will give it a go today.

[2022-05-09 07:10] N-Olbert commented on #5992
Ok, I agree due to simplified separation.

In fact, it affected quite a few enums for us, but I bypassed the warning by creating a copy of the original enum in one of our assemblies. Then I applied a global using to redirect the original enum type to our custom enum type.

`global using EventLogEntryType = Namespace.EventLogEntryType;`

[2022-05-09 07:10] #5992 closed

[2022-05-10 19:00] DustinCampbell commented on #5626
For a personal project, I ended up creating a more efficient set of "Log*" extension methods that use an interpolated string handler. This should be much more efficient and avoid allocating a `StringBuilder` for each log method. Sharing here for anyone interested.

[code]

[2022-05-10 19:05] vsfeedback opened #6027 "VB.NET .NET 6 Throws "cannot create boxed byref-like values" exception when using AsSpan instead of Substring in an interpolated string"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VBNET-NET-6-Throws-cannot-create-boxe/10029287)._

---
VS 2022 v 17.1.6 VB .NET 6 windows console app

Using AsSpan (stack-structure) in an interpolated string (instead of SubString which is a heap-structure) throws "cannot create boxed byref-like values" exception.

Note: "CA1846: Prefe

[2022-05-12 21:01] znakeeye opened #5994 "SuppressMessageAttribute has negative effect on Code Metrics"
Create a console app, target `.NET 6` and paste this in `Program.cs`:

[code]

[2022-05-12 23:47] jkoritzinsky opened #5995 "Detect delegate types with non-blittable signatures used in interop scenarios when DisableRuntimeMarshalling is applied to the defining assembly"
### Analyzer

**Diagnostic ID**: [CA1420](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1420)

### Describe the improvement

Today we only fire the diagnostic for delegate types with the `[UnmanagedFunctionPointer]` attribute. However, many delegate types used in interop don't have this attribute as the default calling convention rules for interop are sufficien

[2022-05-12 23:47] jkoritzinsky commented on #5995
cc: @dotnet/interop-contrib

[2022-05-13 12:56] Youssef1313 commented on #5922
null-parameter checking (`!!`) feature was cancelled. The issue can be closed.

[2022-05-13 13:40] Neme12 opened #5997 "Warn when `InterpolatedStringHandlerArgumentAttribute` would have no effect"

[2022-05-13 22:03] #5922 closed

[2022-05-13 22:18] CyrusNajmabadi commented on #5997
Transferring to roslyn-analyzers.

[2022-05-14 02:37] mavasani commented on #5997
.NET API usage analyzer suggestions are triaged by the runtime team, transferring.

[2022-05-14 16:31] bgrainger opened #5999 "Spurious CA1305 for Guid.Parse with latest-recommended analysis level in net7.0"
### Description

After updating the `TargetFramework` for an existing program that uses `<AnalysisLevel>latest-recommended</AnalysisLevel>` to `net7.0`, analysis starts generating spurious CA1305 warnings for `Guid.Parse`, because it now has an overload that takes `IFormatProvider` (but completely ignores it) https://github.com/dotnet/runtime/blob/af2a48ddaec9a3e27002b0d3b80c07431c2e38c1/src/libra

[2022-05-14 16:34] bgrainger commented on #5988
That's not strictly true; this overload was added in .NET 7. However, it simply delegates to `Guid.Parse(string)`: https://github.com/dotnet/runtime/blob/af2a48ddaec9a3e27002b0d3b80c07431c2e38c1/src/libraries/System.Private.CoreLib/src/System/Guid.cs#L1490

The warning is still spurious because the existing code is correct and the suggested change is unnecessary. Changing code to use the `IFormatP

[2022-05-14 18:56] bgrainger commented on #5999
Don't know if it changes your opinion, but it looks like the analyser _does_ currently maintain a list of types that implement an invariant `ToString`, and counts `Guid` among those types:
https://github.com/dotnet/roslyn-analyzers/blob/d2ef898a6283858c1224c0114cd87fa27b6cb091/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/SpecifyIFormatProvider.cs#L90-L95

[2022-05-14 19:07] stephentoub commented on #5999
If it already has one, then yes, it should use it :-)

[2022-05-14 20:44] svick commented on #5988
I think this should be closed as a duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5999 (since that one has more details about the issue).

[2022-05-14 21:25] bfren commented on #5988
Agreed - glad someone has picked this up.

[2022-05-14 21:25] #5988 closed

[2022-05-16 15:17] alexrp opened #6001 "CA1065 should probably be made to ignore `System.Diagnostics.UnreachableException`"
### Analyzer

**Diagnostic ID**: [CA1065](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1065)

### Describe the improvement

See:

* https://github.com/dotnet/runtime/issues/35324
* https://github.com/dotnet/runtime/pull/63922

Throwing this exception is an assertion that a code path should never be hit if the program is operating correctly. It seems to me then that

[2022-05-16 19:15] vsfeedback opened #6002 "Incorrect code analysis: IDE0059 Unnecessary assignment of a vlue to 'variable'"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Incorrect-code-analysis:-IDE0059-Unneces/10041850)._

---
[severity:Other]
Visual Studio is telling me that a variable assignment is unnecessary, and applying the suggested fix results in a compilation error. This C# code reproduces the issue:
[code]

The suggested change is to remove `

[2022-05-17 06:06] carlreinke opened #6003 "PublicApiAnalyzers doesn't track delegate parameter types or return type"
### Analyzer

**Diagnostic ID**: [RS0016](https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md): `Add public types and members to the declared API`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers/)

**Version**: 3.3.3 (Lat

[2022-05-17 08:25] YohDeadfall opened #6004 "Warn about ArrayPool.Return without clearArray specified when T is not a value type or has references"
### Describe the problem you are trying to solve

A new rule checking that `clearArray` is specified on `ArrayPool.Return` would solve the problem with unintentional return of an array which contains references and prevent these object being garbage collected. Currently there's a problem with that method the mentioned parameter is optional and can be easily be forgotten especially by new developer

[2022-05-19 09:47] Bosch-Eli-Black commented on #4627
Following up on this 🙂

[2022-05-22 17:37] glen-84 opened #6005 "CA1056: Make it possible to ignore certain symbols by name or pattern"
### Analyzer

**Diagnostic ID**: [CA1056](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1056)

(and related: CA1054, CA1055, ...)

### Describe the improvement

Make it possible to ignore certain symbols by name or pattern.

[code]

### Describe suggestions on how to achieve the rule

?

### Additional context

We use names like `UrlSafeName` in our entities for "slu

[2022-05-22 22:21] voroninp opened #6006 "I am getting flaky error when testing analyzers."
Analyzer tests pass in CI/CD, but locally I have (not always) this error:

Test project is targeting `.net6.0`
Folder contains `Microsoft.NETCore.App.Ref.3.1.0.nupkg` file, and package itself has `Microsoft.NETCore.App.Ref.nuspec` file.

If I remove the folder, on the next test run it is recreated with all the files:
![image](https://user-images.githubusercontent.com/9202028/169708748-b3e8f7b5-3a2

[2022-05-23 18:02] hilari0n opened #6007 "Shouldn't there be a tag or a branch for Microsoft.CodeAnalysis.NetAnalyzers version 6.0.0?"
NuGet.org for the Microsoft.CodeAnalysis.NetAnalyzers package leads to this repository as source.
I'm interested into looking at what source went into that NuGet package version 6.0.0 (the current newest stable version).
The releases page (https://github.com/dotnet/roslyn-analyzers/releases) lists the 5.0.3 as the latest released version.
I can't find any tags or branches which would match the 6.0

[2022-05-24 01:30] mavasani commented on #6007
@jmarolf

[2022-05-24 10:15] hilari0n commented on #6007
For me, that's enough info and thank you very much for bringing the nuget.info to my attention - I was unaware of that tool.
For others it might be beneficial to have the 6.0.0 on the list of releases, with the release notes, etc.

[2022-05-24 10:35] Youssef1313 commented on #6007
I definitely agree. In fact, the [post release documentation](https://github.com/dotnet/roslyn-analyzers/blob/main/PostReleaseActivities.md) mentions it:

[2022-05-24 10:45] mavasani commented on #6007
Tagging @JoeRobich @jmarolf - something we may want to include in our steps to be done post publishing of Microsoft.CodeAnalysis.NetAnalyzers package on nuget.org.

[2022-05-24 22:21] JoeRobich commented on #6007
I added a release and branch for the NetAnalyzers 6.0.0 release. https://github.com/dotnet/roslyn-analyzers/releases/tag/6.0.0

[2022-05-25 13:21] hilari0n commented on #6007
That seems to address everything.

[2022-05-25 13:21] #6007 closed

[2022-05-25 14:19] Neme12 opened #6017 "Document the best practice for getting text from a syntax in source generators"

[2022-05-26 01:06] stephentoub opened #6012 "CA2241 should respect new StringSyntaxAttribute.CompositeFormat"
### Analyzer

**Diagnostic ID**: [CA2241](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2241)

### Describe the improvement

"CA2241: Provide correct arguments to formatting methods" has a hardcoded list of methods that accept a composite format string.  But in .NET 7, the new StringSyntaxAttribute exists and includes a StringSyntaxAttribute.CompositeFormat, which ha

[2022-05-26 19:34] j2jensen commented on #4145
I just verified that this error still occurs with the code I posted [here](https://github.com/dotnet/roslyn-analyzers/issues/4145#issuecomment-689874570), even with `dotnet_code_quality.interprocedural_analysis_kind = ContextSensitive` in `.editorconfig`.

I still feel like this is clearly a bug. If a variable is changed in a closure, even if the code can't guarantee the closure is ever executed,

[2022-05-27 05:48] #5995 closed

[2022-06-02 02:37] crozone commented on #5626
I'm very surprised the `ILogger` methods don't do this by default. Sure, interpolated strings aren't as good for structured logging, but I would have assumed that this would have been done as an optimization for late/lazy evaluation of the interpolated string.

[2022-06-02 04:15] vsfeedback opened #6015 "Compiling .net 6 project with PlatformCompatibilityAnalyzer enabled never completes"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Compiling-net-6-project-with-analysis-e/10035003)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:2019]
If i enable the Code Analysis on build the process never completes, VBCSCompiler process consumes an enormous amount of memory (I've seen 25+ gig) and

[2022-06-04 22:50] leoniDEV opened #6018 "Rules enable using AnalysisMode.All don't respect severity from dotnet_analyzer_diagnostic"
**Version Used**:
VisualStudio.17.Preview/17.3.0-pre.1.1+32519.111
.net 7.0.100-preview.4.22252.9

**Steps to Reproduce**:

1. create a C# project
2. add the property `<AnalysisMode>all</AnalysisMode>` to the .csproj file
3. add a `.globalconfig` file with `dotnet_analyzer_diagnostic.severity = error`

(A [sharplab](https://sharplab.io/) repro is ideal for compiler/language issues whenever possibl

[2022-06-05 00:23] mavasani commented on #6018
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/5077

[2022-06-05 00:23] #6018 closed

[2022-06-06 10:09] vpenades opened #6019 "Support more disposable patterns"
### Analyzer

**Diagnostic ID**: [CA2213](https://docs.microsoft.com/es-es/dotnet/fundamentals/code-analysis/quality-rules/ca2213)

### Describe the improvement

Right now, the analyzer reports this as a false positive:

[code]

### Describe suggestions on how to achieve the rule

This disposing pattern should not trigger a false positive.

### Additional context

This way of disposing an object i

[2022-06-07 11:22] CollinAlpert opened #6021 "Analyzer suggestion: Report improvability of the async/await pattern"
### Describe the problem you are trying to solve

What I see often in code written by developers who are not completely familiar with how async/await works is the following pattern:
[code]
or
[code]
These methods can be optimized to return the `Task`s directly without a need for awaiting them:
[code]
and
[code]
respectively. This prevents the compiler from creating an unnecessary state machine and

[2022-06-07 17:03] Youssef1313 commented on #6021
FYI @stephentoub

[2022-06-08 18:52] buyaa-n opened #6022 "CA1854 Improve suggested variable name and/or type of the fixer"
### Analyzer

**Diagnostic ID**: CA1854 Prefer the 'IDictionary.TryGetValue(TKey, out TValue)' method

### Describe the improvement

The fixer now suggests to use `TryGetValue(key, out var value)`, some repos prefer concrete type over var, it would be great to add some improvements to resolve this. Also the variable name value might already defined within the scope, it could suggest a bit modified

[2022-06-09 12:54] Youssef1313 commented on #6022
I think Roslyn will apply `CSharpVarReducer` after running a codefix. This reducer converts explicit types with `var` if the user prefers that. So the codefix should use explicit type, and the result could be magically turned into `var` by `CSharpVarReducer`. For this reducer to work, I think the node should have a simplifier annotation.

[2022-06-09 18:17] buyaa-n commented on #6022
Interesting, if that is the case suggesting only explicit type sounds good to me

Did not understood this part, when the reducer would convert to var?

[2022-06-09 19:22] Youssef1313 commented on #6022
@buyaa-n I got a PR ready. https://github.com/dotnet/roslyn-analyzers/pull/6023

[2022-06-10 23:30] carlreinke opened #6024 "CA1704 should distinguish between public and non-public identifiers"
### Analyzer

**Diagnostic ID**: [CA1704](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1704)

### Describe the improvement

It would be useful if CA1704 could allow some words in non-public identifiers but still disallow those words in public identifiers.

For example, `_tcs` is a reasonable identifier for a private `TaskCancellationSource` field, but I wouldn't use that abbreviati

[2022-06-13 07:53] InbalZim opened #6025 "CA2235 Unexpected Behavior When Serializable Class Has Property of Type Generic Collection of Non-Serializable Class"
### Analyzer

[CA2235](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2235): `Mark all non-serializable fields`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 6.0.5](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

[2022-06-13 16:14] f2bo opened #6026 "CA1823 incorrectly reported for constant used in fixed-size buffer declaration"
### Analyzer

**Diagnostic ID**: [CA1823](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1823): `Avoid unused private fields`

### Analyzer source

**Version**: [SDK 6.0.300](https://dotnet.microsoft.com/download/dotnet/6.0)

(also reproduced with NuGet: `Microsoft.CodeAnalysis.NetAnalyzers: 7.0.0-preview1.22217.1`)

### Describe the bug

The following code inco

[2022-06-20 14:52] Grauenwolf opened #6028 "DisposeNotRequiredAttribute: Add way to mark IDisposable classes as not needing to be disposed"
### Analyzer

**Diagnostic ID**: [CS2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000)

### Describe the improvement

Many classes implement `IDisposable` for legacy reasons, but don't actually need to be disposed. This could be because they inherit from `Component` or because of a design flaw that cannot be corrected.

### Describe suggestions on how to achie

[2022-06-21 18:42] CollinAlpert commented on #6021
I found some false positives in the last few days and fixed them. I'd love to get some feedback and ideally contribute this towards the .NET 7 release. Since I already have the implementation ready, I could open a PR fairly quickly. Here is a more detailed overview of what the Analyzer does and does not report:

### What it does report:
1. Async methods with a single `await` or `return await` expr

[2022-06-21 18:52] mavasani commented on #6021
Tagging @jmarolf who has investigated adding/porting async/threading related analyzer rules from MS.VS.Threading analyzers

[2022-06-22 06:33] RickyLin commented on #5626
I'm okay with `_logger.LogError(ex, "");` , it makes sense and does remove the CA2254.
But I'm curious why the following code don't remove the CA2554?

[code]

[2022-06-22 06:43] qsdfplkj commented on #5626
Null and String.empty is are not a constant. Where you might thing the null could be ambiguous but what if it is a variable that is null.

[2022-06-22 17:58] 333fred commented on #6028
This alone is enough of a red flag to me, as it violates the liskov substitution principle. You don't know if you have an instance of the base type or the derived type.

[2022-06-22 18:49] Grauenwolf commented on #6028
If in doubt, the code can still call `Dispose` or employ a `using` block. This is just to stop the analyzer from giving out false warnings.

There is no perfect solution here. But there are so many false warnings that many people would rather just disable this rule entirely, which is worse than the occasional false negative.

[2022-06-23 07:18] Youssef1313 commented on #6026
Duplicate of https://github.com/dotnet/roslyn/issues/37593

[2022-06-23 16:43] Donaut opened #6030 "Install analyzers as a VSIX extension?"
Hello,

Sharing these analyzers as a nuget packages is a problem for me. I would like to use them on my workplace but the problem is if they didn't like the idea i cannot just push a new nuget reference into the project, so evryone uses these analyzers or no one. Is it possible to install the analyzer only on my machine?

[2022-06-24 11:39] skrysmanski opened #6031 "CA1024: False positive for extern methods"
### Analyzer

**Diagnostic ID**: [CA1024](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1024): `Use properties where appropriate`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 6.0.0 (Latest)

### Describe the bug

`extern` methods (P/Invoke) should not t

[2022-06-24 13:11] Evangelink commented on #6031
@buyaa-n I can reproduce the issue. Adding an exception for `DllImport` looks easy but I am wondering if we want to be a bit more global and exclude more cases (e.g. all properties marked with some attribute).

[2022-06-24 13:19] Evangelink commented on #6030
Hi @Donaut, vsix package for the analyzers were retired a couple of years ago. I don't think there is any easy/out-of-the-box way for you to achieve that.

Maybe @buyaa-n, @Youssef1313 or @mavasani would have some idea?

[2022-06-24 13:23] Evangelink commented on #6028
I am not sure to fully understand why you want to avoid calling Dispose. I mean, I understand that the `Dispose` is forced by some base class/interface but assuming some good design that means there is a point to dispose them so anything you create that inherits this base component needs to be disposed too.

[2022-06-24 13:33] #6026 closed

[2022-06-24 13:37] Youssef1313 commented on #6030
If the problem is that you don't want to have an explicit package reference from NuGet, you can still consume these analyzers from the .NET SDK.

[2022-06-24 13:41] Evangelink commented on #6030
I think the problem is more to not "impose" the rules on other devs of his team. Only option I see would be to use the analyzers from SDK, disable all rules by default and use a local (ignored from source control) .editorconfig/ruleset to enable the rules locally.

[2022-06-24 13:45] Youssef1313 commented on #6030
@Evangelink Another thought: Clone roslyn-analyzers locally, build it in Release mode, there should be a vsix produced in `artifacts\VSSetup\Release`. To get updates, there will be no way other than pulling latest changes and building the repository again.

[2022-06-24 13:50] Evangelink commented on #6012
@stephentoub I have a couple of questions:
- Is it possible to have more than 1 parameter with this attribute on a method call?
- If defined on an interface/abstract, is user forced to redefined it or is it "inherited"?

[2022-06-24 13:56] stephentoub commented on #6012
Yes, though that would be extremely rare. We have hundreds of parameters attributed now in .NET 7 and I don't believe we have any such cases.

From a reflection standpoint, it's not inherited.

[2022-06-24 14:04] skrysmanski commented on #6031
Not sure whether you can use `extern` without `[DllImport]` (or the other way around), but I doubt it.

Under this assumption and if both solution are equally easy to implement, I personally would check for `extern` rather than `[DllImport]`.

[2022-06-24 14:38] Grauenwolf commented on #6028
Classes such as DataTable and SqlCommand  do not normally have subclasses. And even when they do, there would be no reason for them to own managed resources. So for them, the existence of a Dispose method is just noise.

[2022-06-24 15:28] Evangelink commented on #6031
Yep. But attributes are always tricky so maybe we would prefer to have higher False Negatives than False Positives. This being said, my PR with the extern fix is ready.

[2022-06-24 15:41] Evangelink commented on #6025
Hi @InbalZim, I have been investigating the issue and it turns out that we are bailing out on .netcore because the serializable info is no longer available for runtime types. See this line of code https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/SerializationRulesDiagnosticAnalyzer.cs#L228-L233 and this comment: https://github.com/dotne

[2022-06-24 16:06] carlreinke commented on #6024
Having both a non-public dictionary and an `api_surface` switch would also be an option.

[2022-06-24 17:40] buyaa-n commented on #6031
Yes, excluding `extern` methods sounds good to me

[2022-06-24 21:53] buyaa-n commented on #6024
- +1 for option 3 (`api_surface` switch)
- could allow abbreviation of the Type name instead of adding user dictionary

[2022-06-25 05:40] #6015 closed

[2022-06-25 09:36] Donaut commented on #6030
Awesome, thank you.

[2022-06-26 05:12] lonix1 opened #6034 "CA1031: Should not fire if other exceptions already caught"
### Analyzer

**Diagnostic ID**: [CA1031](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1031)
"CA1031: Do not catch general exception types"

### Describe the improvement
[code]

### Describe suggestions on how to achieve the rule
If one or more exceptions are already caught before the the catch-all block, the rule should not fire.

### Additional context
- .net6, vs

[2022-06-26 06:06] #6030 closed

[2022-06-26 10:12] manfred-brands opened #6035 "DiagnosticDescriptorCreationAnalyzer throws ArgumentException"
### Analyzer

`CSC : error AD0001: Analyzer 'Microsoft.CodeAnalysis.Analyzers.MetaAnalyzers.DiagnosticDescriptorCreationAnalyzer' threw an exception of type 'System.ArgumentException' with message 'Syntax node is not within syntax tree'. [D:\3rd\NUnit\n
unit.analyzers\src\nunit.analyzers\nunit.analyzers.csproj]`

### Analyzer source

SDK 6.0.301
Microsoft.CodeAnalysis.Analyzers version 3.3.3

**Nu

[2022-06-27 15:28] AArnott opened #6037 "RS0034 misfires on MEF importing constructor's attribute, claiming we need one"
### Analyzer

**Diagnostic ID**: RS0034:

### Analyzer source

**NuGet Package**: [Roslyn.Diagnostics.Analyzers](https://www.nuget.org/packages/Roslyn.Diagnostics.Analyzers)

**Version**: 3.3.3 (Latest)

### Describe the bug

A false positive:

Exported parts should be marked with 'ImportingConstructorAttribute'.

Ironically it highlights the very attribute it claims we should add:
![image](https:

[2022-06-27 18:04] MisinformedDNA commented on #5626
`null` is a constant.

[code]

[2022-06-28 13:27] vsfeedback opened #6039 "AnalysisLevel property in csproj is broken when choose any localized item in Analysis Level combobox on Code Analysis prop page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/AnalysisLevel-property-in-csproj-is-brok/1365408)._

---

**Environment**
Visual Studio 2019 version 16.9.1
Language: Japanese

**Steps to reproduce the issue**
(1) Create a new .NET project.

(2) Open “Code Analysis” property page.

(3) Enable .NET Analyzer and choose analysis level “プレ

[2022-06-28 14:36] Evangelink commented on #6034
Do you mind giving a little more context as to why you think the rule should not trigger in this case?

IMO (with no extra context) the rule is doing its job in reporting a catch "all" case.

[2022-06-28 14:37] #6025 closed

[2022-06-28 15:13] Evangelink commented on #5974
@buyaa-n I don't think `SYSLIBXXXX` rules are coming from this repository. Could you move the issue to the right repo?

cc @mavasani

[2022-06-28 15:17] Evangelink commented on #5974
@buyaa-n I would suggest not to remove the rule in case some people in .NET Framework are still relying on it. Instead I would update the documentation to say this is no longer relevant on .NET/.NET Core.

We could also tweak the rule to never report on .NET/.NET Core but as it's disabled by default I wouldn't do so.

[2022-06-28 15:22] gewarren commented on #5974
cc @GrabYourPitchforks

I believe the rule isn't relevant, even on .NET Framework.

[2022-06-28 15:23] Evangelink commented on #5924
That's an interesting suggestion but I don't think this is something possible with the current way of working as we would need 2 passes (first to load extension methods tree and second to compare/raise/replace).

cc @mavasani @buyaa-n

[2022-06-28 15:27] Evangelink commented on #5974
Ah right maybe I misunderstood the comment. Let's wait for relevant reply :)

[2022-06-28 15:35] Evangelink commented on #5905
@mavasani Do you want to keep this ticket open?

[2022-06-28 20:57] Youssef1313 commented on #6037
It looks like there is a requirement by the analyzer that the constructor should be public:

https://github.com/dotnet/roslyn-analyzers/blob/7e77cc9f8eef068e3125041fbc280681d3d8cf51/src/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructor.cs#L124-L131

The message should be updated to reflect that.