[2020-11-28 18:57] Youssef1313 commented on #4361
Probably the runtime team did the annotation based on what types/assemblies they think are used a lot by developers.
Types that aren't frequently used or legacy were given a much lower priority to annotate. But that's just a guess of what may have happened.

(Note that the runtime provide public APIs that're used by other developers, so annotating makes a different to consumers, so priority based

[2020-11-28 19:06] davidfowl commented on #4466
It would go here btw https://github.com/dotnet/aspnetcore/tree/master/src/Analyzers/Analyzers/src

[2020-11-28 22:03] jnm2 opened #4467 "Cancellation tokens passed to constructors"
**Diagnostic ID**: [CA1068](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1068)

Would it make sense for this rule to ignore constructors on the premise that constructors are more likely to be assigning the cancellation token to a field than using it?

[2020-11-28 22:39] sharwell commented on #4369
I generally agree with @KrisVandermotten here. While I understand the thought process that leads to a rule proposal like this, I don't believe that adherence to the rule addresses the original problem with enough specificity to overcome the maintenance complexity. I have no objection to the creation of the rule provided it is disabled by default and does not get enabled in projects where I'm a mai

[2020-11-29 03:05] sshanzel commented on #4466
Thanks a lot for letting me know, I'd be sure to check this one out!

[2020-11-29 04:28] buyaa-n commented on #4428
It is not a fix for a false positive, it would be an enhancement for the analyzer to support this scenario. Yes, it is related to CA1416 only, updated the title, thanks!

[2020-11-29 12:27] iSazonov commented on #4361
From https://github.com/dotnet/runtime/issues/2339

[2020-11-30 17:28] meziantou opened #4469 "RS1024 False-positive for Enumerable.Contains method"
### Analyzer

**Diagnostic ID**: RS1024 `Compare symbols correctly`

### Analyzer source

[code]

### Describe the bug

[code]

### Steps to reproduce

You can check the code from my project

1. Clone https://github.com/meziantou/Meziantou.Analyzer/
2. Checkout f93959b7efc062118db672f4acab177bf1deb846
3. Open the solution in Visual Studio

### Expected behavior

No diagnostic is reported as I use

[2020-11-30 18:04] meziantou opened #4470 "NullReferenceException in RS1024"
### Analyzer

**Diagnostic ID**: RS1024

### Analyzer source

[code]

### Describe the bug

[code]

### Steps To Reproduce

1. Clone https://github.com/meziantou/Meziantou.Analyzer/
2. Checkout f93959b7efc062118db672f4acab177bf1deb846 (currently, the latest commit on this PR https://github.com/meziantou/Meziantou.Analyzer/pull/208)
3. Open the solution in Visual Studio

### Expected behavior

RS10

[2020-11-30 18:23] fjallemark commented on #4462
Is this same issue? I get CA1801 on parameter *AssignedRoute* i.e. when "subclassing" record and add properties on the sub-record.

[code]

[2020-11-30 22:20] carlossanlop commented on #2811
@mavasani I noticed this proposal was marked as approved in this repo. I'll remove the label since we want it to go through API review via https://github.com/dotnet/runtime/issues/33773.

[2020-11-30 23:32] #4461 closed

[2020-11-30 23:34] #4406 closed

[2020-12-01 00:43] Kuinox opened #4473 "RS0030 Symbol not reported: Task.Delay(System.Int32, System.Threading.CancellationToken)"
### Analyzer

**Diagnostic ID**: [RS0030]
### Analyzer source

[code]

### Describe the bug
With the following configuration:
[code]

I got this:
[code]

### Steps To Reproduce

https://github.com/Kuinox/BannedApiAnalyzerRepro

### Expected behavior

Both Task.Delay calls should emit a warning.

### Actual behavior

Only Task.Delay(int) emit a warning.

## Additional context

[2020-12-01 10:24] Evangelink commented on #2851
@mavasani Could you add a `Breaking Change` label and flag this ticket.

The rule used to report for private members but after this change it will stop reporting. I think this is an acceptable change but it would be nice to explicitly call out these changes in the release notes. I think that's even more important that this repo is not really following the semantic versioning so from a user point o

[2020-12-01 10:36] Evangelink commented on #4467
Out of curiosity, could you give some examples of such construction? It seems a little weird to have the token in the ctor instead of on all long running methods.

Putting aside my previous comment and given that a constructor is not supposed to be a long running, cancellable, action, I would say yes it makes sense. Besides, the documentations states:

In this case, the cancellation token is actua

[2020-12-01 11:41] Evangelink commented on #4473
Took me ages to figure out the issue...

Replace `M:System.Threading.Tasks.Task.Delay(System.Int32, System.Threading.CancellationToken); Use the time handling interfaces instead.` with `M:System.Threading.Tasks.Task.Delay(System.Int32,System.Threading.CancellationToken); Use the time handling interfaces instead.` (no space between the parameters) and you'll get your issues :)

@mavasani I think I

[2020-12-01 11:41] #4473 closed

[2020-12-01 12:40] Kuinox commented on #4473
Trimming the input would be great, no?
This is a config, and a stupid user like me will add space because I replicated code style that I use in my code.

[2020-12-01 12:46] Evangelink commented on #4469
I can confirm the behavior. I don't know if there is a regression in Roslyn or if that was just a case we missed.

[2020-12-01 12:57] Evangelink commented on #4473
@Kuinox We should definitely improve the user experience around user configuration but we need to think about some global solution.

The specific trim you are talking about could be one of the solution but I'd like to get some validation from core team on the fact we can remove all whitespaces or if we need some more clever parsing.

Tagging @mavasani

[2020-12-01 13:01] Kuinox commented on #4473
Ok!
Anyway, thanks for figuring out my issue, have a good day.

[2020-12-01 13:07] Evangelink commented on #4473
You too :)

[2020-12-01 13:13] Evangelink commented on #4412
I can reproduce the error, this issue also relates to #4469

[2020-12-01 13:16] Evangelink commented on #4369
I don't have the exact scenario in mind but I remember I faced a big issue with events on a WPF custom control that was actually bound to the fact I wasn't unsubscribing correctly causing the control to be shown on the UI when it wasn't supposed to be.

[2020-12-01 13:52] Evangelink commented on #4465
I can reproduce the issue.

Note that if you use the following syntax:
[code]

You achieve the same result and you don't have FP.

[2020-12-01 14:39] #4469 closed

[2020-12-01 14:39] #4412 closed

[2020-12-01 14:48] mavasani commented on #4467
I think we likely want to retain existing default behavior for the analyzer, but can potentially offer an option to configure not flagging constructors as @Evangelink mentioned. Note that lot of code bases would still likely prefer token to be ctor's last parameter as a style preference, so changing the default behavior would be a subtle behavior change.

[2020-12-01 15:18] mavasani commented on #4369
@KrisVandermotten The rule is supposed to encourage consistent coding patterns, with use of source suppressions as documentation at sites where user is sure that unhooking is not required (similar to the example you shared). The analyzer will need to special case and not flag scenarios (like the Winforms case you mentioned) to remove noise for scenarios we know for sure that unhooking is not requi

[2020-12-01 15:26] Evangelink commented on #4470
I have found the line where it fails but I am not sure how to repro the case.

[2020-12-01 15:32] mavasani commented on #4473
Yes, that would be a good addition.

It might be good to even open a Roslyn compiler feature request to enhance the following public APIs on `DocumentationCommentId` to ignore redundant whitespaces:
1. [DocumentationCommentId.GetSymbolsForDeclarationId](https://github.com/dotnet/roslyn/blob/d66c12164c0da3841f86b165872ea1b55942c575/src/Compilers/Core/Portable/DocumentationCommentId.cs#L82-L85)
2. [

[2020-12-01 15:42] mavasani commented on #4470
@Evangelink possibly can be repro'ed by opening https://github.com/meziantou/Meziantou.Analyzer?

[2020-12-01 15:44] mavasani commented on #4470
File to open in that repo: `MakeMethodStaticAnalyzer.cs`
NOTE: You will need to attach the debugger to the RoslynCodeAnalysis ServiceHub process, not devenv.exe as analyzers now run in this separate process while typing in the IDE.

[2020-12-01 15:51] jnm2 commented on #4467
Here's my only example:

[code]

[2020-12-01 16:02] #2851 closed

[2020-12-01 18:38] sharwell commented on #4369
This is the heart of the problem. In my mind, the majority of diagnostics reported by this analyzer are false positives because it is exceedingly rare for an event to need to be unhooked for correct application behavior.

[2020-12-01 18:51] maxkoshevoi opened #4479 "[New rule] Catch that foreach will throw InvalidCastException"
### Describe the problem you are trying to solve

As described [here](https://rules.sonarsource.com/csharp/RSPEC-3217) and [here](https://stackoverflow.com/a/949835/4312132) `foreach` can throw `InvalidCastException` at runtime because of hidden explicit cast that is does under the hood.

This is very dangerous behavior for statically typed language to have since programmers don't expect successfu

[2020-12-01 18:59] mavasani commented on #4369
Would that still be true if the analyzer is primarily a _performance_ recommendation?

[2020-12-01 19:01] #4470 closed

[2020-12-01 19:04] mavasani commented on #4479
Probably falls in similar invalid cast exception analyzer bucket as #4328 created by @fowl2

[2020-12-01 19:13] Denis535 commented on #1099
@dpaoliello how do you view console output?

[2020-12-01 19:26] maxkoshevoi commented on #4479
@mavasani but there is no explicit call of `IEnumerable.Cast<T>/OfType`. I don't think that `foreach` even uses `IEnumerable` interface (even non-generic one) since it can be used by collections that don't implement it.

[2020-12-01 19:33] mavasani commented on #4479
@maxkoshevoi My comment was meant to indicate we have similar requests to detect possible runtime cast exceptions in code with static analysis. Your suggestion falls in the same bucket and we should likely prioritize this bucket of analyzers given the large number of similar requests.

[2020-12-01 19:45] vsfeedback opened #4481 "Unhandled exception warning"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/823314/unhandled-exception-warning-1.html)._

---
It would be immensely helpful if the compiler would analyze the code and flag methods that can throw exceptions which are unhandled anywhere up to the entry point. (I realize this is very likely extremely complicated. It would

[2020-12-01 19:46] sharwell commented on #4481
This is an analyzer feature request, related to https://github.com/dotnet/roslyn/issues/15573

[2020-12-01 19:49] mavasani commented on #4480
@jinujoseph I don't think this should an analyzer. If at all, this should be a compiler warning within a warning wave. Can we please move this back to Roslyn under compilers area path?

[2020-12-02 01:30] gewarren opened #4482 "Useless enforcement of CG.SuppressFinalize"
---
**Issue moved from dotnet/docs#21734**
- Please respond to @ericbl.

---

_From @ericbl on Thursday, November 26, 2020 2:52:59 PM_

The rules CA1816 and CA1063 are annoying me for a small detail for over 10 years: why is the CA1816 and CA1063 still forcing a call to the CG.SuppressFinalize method when the class do NOT have any finalizer?
As stated  in the IDispose snippet in VS, by Stephen Cle

[2020-12-02 01:30] gewarren commented on #4482
---
**Issue moved from dotnet/docs#21734**
- Please respond to @Evangelink.

---

_From @Evangelink on Thursday, November 26, 2020 4:34:03 PM_

I am wondering if there are cases where it brings something.

@mavasani if this ticket moves forward the analyzer should be updated.

[2020-12-02 05:30] #4061 closed

[2020-12-02 10:52] Evangelink commented on #4466
Does it mean this ticket should be moved across to aspnetcore repo? If not I can have a look at the implementation but with my poor web experience I'd be happy to have someone providing "test" cases of when to report and when not to.

[2020-12-02 11:04] Evangelink commented on #4447
@mavasani not sure who could confirm there is indeed a performance issue.

[2020-12-02 11:32] xtqqczze commented on #4447
Perhaps this a more of a code style issue?

[2020-12-02 13:04] curia-damiano commented on #4369
Hi Manish,
Our Microsoft guidelines recommend to unhook event handlers that are hooked manually, full stop.
Even if a memory leak is not guaranteed, it is still possible, and so the reason of my proposal for this rule.
Thank you for your support in pushing it.

[2020-12-02 16:49] KrisVandermotten commented on #4369
@mavasani

I respectfully disagree. In my experience, unhooking is not required in the vast majority of cases. And when I say "not required", I mean that with or without unhooking, the same objects will become eligible for garbage collection at the same time, in other words, there is zero benefit to unhooking.

It would be great if we could have an analyzer that finds the rare true problems, scena

[2020-12-02 16:51] Youssef1313 commented on #4484
@mavasani While I missed this, I think there is still a problem with the BOM character:

![image](https://user-images.githubusercontent.com/31348972/100904018-3a8b1480-34cf-11eb-86e2-bdd2e904c61f.png)

https://github.com/dotnet/roslyn-analyzers/blob/6dea9b867e32607bc02f958efe46d4b2d1220e45/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReleaseTrackingHelper.cs#L52

[2020-12-02 16:55] KrisVandermotten commented on #4369
@curia-damiano

That's an interesting phrase. What exactly do you mean when you say "manually"? How would the analyzer be able to tell the difference between an event handler that was hooked manually and one that was hooked in some other way?

I many cases where an event is hooked, a memory leak is not possible. In fact, in many cases it can be guaranteed (by understanding the program design) that

[2020-12-02 16:55] mavasani opened #4486 "Analyzer for usage of Nullable.GetValueOrDefault API on conditional access"
@mavasani FYI as this seems like it may be a good candidate for a performance analyzer + fixer. Not sure if it's on your radar.

_Originally posted by @jaredpar in https://github.com/dotnet/roslyn/issues/49674#issuecomment-736976805_

[2020-12-02 20:31] skarllot opened #4487 "Null checking fails when using MemberNotNullWhen and property patterns"
### Analyzer

**Diagnostic ID**: CS8600 and CS8603

### Describe the bug

The analyzer fails to check nullability using `MemberNotNullWhenAttribute` and property patterns.

### Steps To Reproduce

The following code triggers the analyzer warning.

[code]

### Expected behavior

Follows the attributes and check correctly.

## Additional context

The code above does not trigger the analyzer warning.

[2020-12-02 20:47] dominikjeske commented on #4484
@Youssef1313 Thanks for help but after merge and rebuild I still have this message on VS 16.8.2

@mavasani I don't need release but when I ommit it I have other warning "Warning	RS2007	Analyzer release file 'AnalyzerReleases.Unshipped.md' has a missing or invalid release header 'Rule ID |      Category      | Severity | Notes'.
".

I just want to get rid of warnings - without those files I have wa

[2020-12-02 21:21] mavasani commented on #4484
@dominikjeske You can please try with the following unshipped releases file?

[code]

[2020-12-02 21:22] mavasani commented on #4484
Also, this file should be automatically generated via the code fix. You shouldn't be manually changing the formatting of this file.

[2020-12-02 21:34] dominikjeske commented on #4484
The file is created by codefix but file is empty so there is no clear rules how to do it right - it is only text file with no editor support. When changing to your proposal I have those errors in each DiagnosticDescriptor (and there is no previous version)

Warning	RS2001	Rule 'SG0001' has a changed 'Category' or 'Severity' from the last release. Either revert the update(s) in source or add a new

[2020-12-02 21:48] mavasani commented on #4484
@dominikjeske The code fixes are actually offered in source files at the location you new up DiagnosticDescriptor. We have been using the release tracking analyzer in this repo for many months and haven't seen a need to make any manual edits to it.

[2020-12-02 22:07] dominikjeske commented on #4484
I’m not sure we are on same page so I will describe whole developer experience – for me it is far from ideal.

1.	I’m creating new DiagnosticDescriptor

`private readonly DiagnosticDescriptor _errorRuleWithLog = new DiagnosticDescriptor("SG0001", "SG0001: Error in source generator", "Error in source generator<{0}>: '{1}'. Log file details: '{2}'", "SourceGenerator", DiagnosticSeverity.Error, isEna

[2020-12-03 05:14] mavasani commented on #4484
This is by design. These files should automatically be added as additional files, so step 2 should not be necessary.

You don't need to do this manually. `RS2000` has a code fix which should automatically add the required entry. Feel free to hand edit the Notes column as appropriate. Please do not make any other modifications by hand.

[2020-12-03 13:28] KrisVandermotten commented on #4482
Because, unless the type is a struct or a sealed class, someone might derive from it and add a finalizer in the derived class.

That being said, there is no need to call CG.SuppressFinalize in a sealed class without a finalizer.

[2020-12-03 15:53] mavasani opened #4491 "ArgumentNullException in SourceTriggeredTaintedDataAnalyzerBase for VB assembly attributes"
## Unit test for ReviewCodeForSqlInjectionVulnerabilitiesTests
[code]

## Exception call stack

[code]

[2020-12-03 15:53] mavasani commented on #4491
I am testing a fix and will send PRs to 2.9.x and release/5.0.2xx branches soon. FYI @dotpaul

[2020-12-03 16:23] Therzok commented on #4447
[Compare](https://source.dot.net/#System.Private.CoreLib/String.Comparison.cs,0be9474bc8e160b6) and [Equals](https://source.dot.net/#System.Private.CoreLib/String.Comparison.cs,31b307b02a3bd6b9)

From the looks of it, between the two, Equals fast-paths on a `.Length` check, `Compare` does a full string comparison.

[2020-12-03 16:29] mavasani commented on #4447
This is a .NET API usage analyzer suggestion. @jeffhandley @carlossanlop @buyaa-n can this please be ported to dotnet/runtime repo and triaged?

[2020-12-03 19:38] Pilchard123 opened #4493 "Indicate which sections of a method do not return, if possible"
### Analyzer

**Diagnostic ID**: [CS0161](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0161)

### Describe the improvement

It may be useful if the message for CS0161 could show which branches in a method do not return. In some cases it is not immediately obvious why the method does not return, either because the method has convoluted branching or because the writer has misunderstood or m

[2020-12-03 19:56] mavasani commented on #4493
I believe this is already covered by https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0035. When you open a source with unreachable code blocks in Visual studio, you should see an IDE0035 for each such section and the section is also faded out. Additionally, there is a code fix to remove unreachable block.

[2020-12-03 20:19] Pilchard123 commented on #4493
Not quite - this is for code that exists and can be reached, but that will never return. Consider the toy function `Bar`, as above:

[code]

We already have something similar in CS8509. If you have something like

[code]

then you will get "The switch expression does not handle all possible values of its input type (it is not exhaustive). For example, the pattern '(false, false)' is not covered."

[2020-12-03 21:33] dominikjeske commented on #4484
@mavasani Thanks for assist - You partially have right :) I tried couple times but additional files are not created. Also sometimes analyzers are not working instatly so sometimes clean/rebuild will work but best option is to restart VS. After replay the process, add additional files manually I could use RS2000. **Those things are simple when you know how they should work**.

[2020-12-03 21:33] #4484 closed

[2020-12-03 21:47] JeremyCaney opened #4495 "Multiple IndexOutOfRangeExceptions with public Controller properties"
### Analyzers

**Diagnostic IDs**:
-  [CA3001](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca3001): "Review code for SQL injection vulnerabilities"
-  [CA3003](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca3003): "Review code for file path injection vulnerabilities"
-  [CA3006](https://docs.microsoft.com/dotnet/fundamentals/code-analysi

[2020-12-03 22:17] JeremyCaney opened #4496 "CA1062: False positive with C# 9.0 "or" pattern combinator"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1062): "Validate arguments of public methods"

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

###

[2020-12-03 22:21] mavasani commented on #4495
Seems like the issue is below, we cannot assume a parameter always has non-zero declaring references: https://github.com/dotnet/roslyn-analyzers/blob/41ea03c619f7c1f247d71d8809d1a3e2b260e08b/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAnalysis.TaintedDataOperationVisitor.cs#L122

[2020-12-03 22:25] #4491 closed

[2020-12-04 10:02] Evangelink opened #4498 "Decide which analyzer to keep: CA1801 vs IDE0060"
### Analyzer

**Diagnostic ID**: [CA1801](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1801)

### Describe the improvement

Currently 2 rules compete and they have both different implementation and "scope" (findings and issues), rather than "wasting" time maintaining both I would suggest that a clear cut is made and only one is kept. When the choice is made, we shou

[2020-12-04 13:03] Evangelink commented on #4462
@fjallemark For me the issues look the same.

[2020-12-04 13:25] Evangelink commented on #4495
I confirm that the reproducer triggers the issue on branch `2.9.X`

@dotpaul Could you confirm that the fix we want to apply is to say that when we are in a property setter and the parameter symbol is `value` we should pass the following arguments: `parameter, this.OwningSymbol.DeclaringSyntaxReferences[0].GetSyntax(), this.OwningSymbol`. Which means that we consider the setter method as the taint

[2020-12-04 13:25] Youssef1313 commented on #4498
IDExxxx rules are more about coding style, I don't think this rule is a stylistic-related choice. So my opinion would be to keep it as CA1801.

[2020-12-04 15:38] Evangelink commented on #4480
ping @jinujoseph

[2020-12-04 15:45] sharwell commented on #4480
@mavasani Let's keep it here for now but ask compiler team if they would consider it under a warning wave. If they say no (which I would expect and encourage since this problem is not specific to any one language), then this is the repository seems like the right place for it.

[2020-12-04 16:36] mavasani commented on #4498
@Youssef1313 That is a true statement for almost all cases, but we have a grey area when it comes to unnecessary code rules. Many customers see it at a style enforcement where they prefer seeing faded code in IDE for unnecessary things such as unnecessary usings, code blocks, assignments, etc. I would primarily vote for keeping IDE0060 and deprecating CA1801 for following reasons:
1. We have large

[2020-12-04 16:53] jaredpar commented on #4480
Zero chance we would consider this is a warning wave. Comparing `double` and `float` has a well defined specification, has been in the language since 1.0 and is supported across many other .NET languages. There is nothing incorrect or even dangerous about using `==` with floating point types as compared to other operations with floating point types. Yes floating point types have some odd corner ca

[2020-12-04 17:23] mavasani commented on #4480
Closing as Won't fix based on Jared's comment.

[2020-12-04 17:23] #4480 closed

[2020-12-04 20:13] dotpaul commented on #4495
Thank you for the detailed report, @JeremyCaney! And thank you @mavasani and @Evangelink for finding the root cause and confirming.

I like @Evangelink's suggestion to improve robustness, and also I don't think the property setter parameter (`value`) should be tainted data in the first place, so I'll also exclude them.

[2020-12-04 21:04] Crono1981 opened #4502 "CA1508 rule wrongfully warns that a params argument can't ever be null"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### De

[2020-12-04 21:08] mavasani commented on #4502
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/3845

[2020-12-04 21:08] #4502 closed

[2020-12-05 06:15] skrysmanski opened #4506 "Add documentation on how to update to newer versions"
Version 5.0.1 has just shipped and I can't figure out how to get this version into my projects.

I've tried updating `<AnalysisLevel>` property in my project file - however I can't verify that the newer version is actually being used. Visual Studio still shows "5.0". In fact, even if I set the property to the non-existing version of "5.0.8" in my project file everything still builds fine - I don't

[2020-12-05 08:33] Youssef1313 commented on #4506
AFAIK, you only need to update the .NET SDK to 5.0.1, and you'll get the analyzers updated with it.
To ensure that every developer has the specified SDK version, you can use a `global.json`, see https://github.com/dotnet/roslyn-analyzers/blob/master/global.json as an example, and see https://docs.microsoft.com/dotnet/core/tools/global-json for documentation on global.json.

For the part of Analysi

[2020-12-05 10:44] skrysmanski commented on #4506
@Youssef1313

I guess this will happen automatically with a future update of Visual Studio (on Windows)?

[2020-12-05 11:45] mavasani commented on #4506
Version 5.0.1 of NetAnalyzers was only released to match the FxCopAnalyzers package 3.3.2 for seamless transition from the latter to former. .NET SDK analyzer version will eventually catch up, but cadence of updates to NuGet released on NuGet.org will be faster then cadence of updates of analyzer assemblies shipping inside the .NET SDK.

[2020-12-05 18:43] jnm2 opened #4507 "IDE0059 "Remove unnecessary value assignment" is not reported in methods that contain unrelated lambdas"
### Analyzer

**Diagnostic ID**: [IDE0059](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0059`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

IDE0059 bails a

[2020-12-06 07:03] skrysmanski opened #4508 "CA1002: Return part: only for virtual members - or better description"
### Analyzer

**Diagnostic ID**: [CA1002](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1002)

### Describe the improvement

The description of CA1002 describes three situations where the rule is checked:

1. A type contains an externally visible member that is a System.Collections.Generic.List<T> type,
1. returns a List<T> type,
1. or whose signature includes a List

[2020-12-06 07:20] skrysmanski opened #4509 "CA1508: False-positive for generic"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: v5.0.1 (Latest)

### Describe the bug

CA1508 `'this.m_myValue' is never 'null'` is

[2020-12-06 15:10] Youssef1313 commented on #4496
Sounds like a good opportunity to explore the data flow area :smile:

[2020-12-06 15:32] Youssef1313 commented on #4496
Related to https://github.com/dotnet/roslyn-analyzers/pull/4060

@mavasani, Since https://github.com/dotnet/roslyn/issues/47068 won't be implemented, we would need to handle binary operations here. It sounds more complex than I initially thought. Any guidance?

[2020-12-06 16:13] Youssef1313 opened #4510 "CA1000 enhancement: Don't report for static local functions"
### Analyzer

**Diagnostic ID**: [CA1000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca10000)

### Describe the improvement

Don't report a diagnostic for local functions.

The goal of this rule is to avoid specifying the generic type when calling a static method. The example from the documentation discourages things such as:

[code]

However, this doesn't apply to

[2020-12-06 16:16] Youssef1313 commented on #4510
I caught this case by chance when I came across the following suppressions:

https://github.com/dotnet/roslyn-analyzers/blob/204889dc30c3a1b5f321419fe9950660fbfd659d/src/Utilities/Compiler/BoundedCache.cs#L3

[2020-12-06 16:28] Youssef1313 commented on #4510
The above suppression is unnecessary. The rule is working as expected.

[2020-12-06 16:28] #4510 closed

[2020-12-07 07:27] Youssef1313 opened #4513 "CA1710 enhancement: Allow more suffixes for ICollection"
### Analyzer

**Diagnostic ID**: [CA1710](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1710)

### Describe the improvement

From the documentation, implementing for example `System.Collections.ICollection` requires having "Collection" suffix. I think it's reasonable to allow other suffixes as well (`Dictionary`, `Set`, etc).

The rule also doesn't enforce a suffix f

[2020-12-07 07:28] Youssef1313 commented on #4513
This needs a design review.

[2020-12-07 08:45] Evangelink commented on #4513
It seems to be already available when looking at the code and doc:

![image](https://user-images.githubusercontent.com/11340282/101328912-f0a88280-3870-11eb-97b2-49ad76d395bc.png)

[2020-12-07 08:50] Youssef1313 commented on #4513
I haven't looked at the code, but the doc says it allows only "Collection" suffix for ICollection interface.
The doc also doesn't mention ISet interface nor IReadOnlyCollection

[2020-12-07 10:09] Evangelink commented on #4480
@jaredpar For the sake of my curiosity, I am not sure I totally understand your comment. Are you saying that there is no problem of direct comparison with equality on floating points or are you saying that this imprecision error is something people are used to (and so have tuned the code around) and so problem exists but is not something we want to warn about?

I think the origin of this suggestio

[2020-12-07 12:18] Youssef1313 opened #4516 "Properly escape special characters in Analyzer Configuration.md"
Parts of this markdown file doesn't currently render correctly.

e.g.:

![image](https://user-images.githubusercontent.com/31348972/101350051-016bef00-3897-11eb-9007-ac5483649f9c.png)

![image](https://user-images.githubusercontent.com/31348972/101350073-0af55700-3897-11eb-9778-be5ce3f8a18e.png)

[2020-12-07 13:24] Evangelink commented on #4498
How to move forward from here @mavasani?

[2020-12-07 13:32] Evangelink commented on #4508
That's an interesting feedback! Reading your comment I would also be tempted to restrict the scope of the analysis. I am not sure what to do about properties though.

[2020-12-07 13:50] jnm2 opened #4518 "CA1305 doesn't catch implicit ToString calls, e.g. StringBuilder.Append(object)"
### Analyzer

**Diagnostic ID**: [CA1305](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1305`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

There should be

[2020-12-07 13:51] skrysmanski commented on #4508
@Evangelink Why would you treat static/non-virtual properties differently?

[2020-12-07 14:25] AArnott commented on #4028
I just tried 3.3. and the bug remains. This is a blocking bug as there seems to be no way to satisfy the analyzer. Please fix.

[2020-12-07 14:53] Evangelink commented on #4508
I would say but they might be personal and unrelated to the scope of this rule:

1. It might be a more global "rule" but I don't like exposing mutable collections.

2. I have seen quite a lot of propagation problems where people store a `List` internally and expose it through the property and something else acts on this property and expose the result in a different property... Going for some kind

[2020-12-07 15:09] Evangelink commented on #4513
I am fine with tweaking the rule to add:

1. `ISet` gives suffix `Set`
2. `IReadOnlyCollection` gives suffix `Collection`

but if go forward it means that the users will potentially have more issues raised so it should be considered as part of a major feature.

[2020-12-07 15:10] Evangelink commented on #3513
@mavasani I think it'd be nice to take a decision on this ticket which is now quite old.

[2020-12-07 16:38] mavasani opened #4519 "CA1508 false positive"
TODO should be fixed/handled.

_Originally posted by @Evangelink in https://github.com/dotnet/roslyn-analyzers/pull/4503#r536902906_

[2020-12-07 16:41] mavasani opened #4520 "CA1508 false positive after a switch statement"
TODO

_Originally posted by @Evangelink in https://github.com/dotnet/roslyn-analyzers/pull/4503#r536903494_

[2020-12-07 17:09] #4397 closed

[2020-12-07 17:09] #4462 closed

[2020-12-07 17:20] kevinoid opened #4521 "Document Microsoft.CodeQuality.Analyzers et al. usage on .NET 5"
### Analyzer

**Diagnostic ID**: [CA1010](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1010): `Type '{0}' directly or indirectly inherits 'IEnumerable' without implementing 'IEnumerable<T>'.`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.

[2020-12-07 17:24] mavasani commented on #4498
@Evangelink Let's do couple of things:

1. Update the docs for CA1801 to mention it is deprecated in favor of https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0060. For example, see the note added to this deprecated rule: https://docs.microsoft.com/visualstudio/code-quality/ca1009?view=vs-2019#cause. You probably also want the note to mention how users can enforce

[2020-12-07 17:29] mavasani commented on #4521
Thanks @kevinoid - Those three packages included as part of FxCopAnalyzers package are also deprecated. Let me update the repo docs + also ensure the NuGet packages are marked deprecated as well. All the first-part .NET CA analyzers are now part of a single package `Microsoft.CodeAnalysis.NetAnalyzers`

[2020-12-07 17:32] Evangelink commented on #3492
Let me try to see if I can find how to fix this behavior.

[2020-12-07 17:32] kevinoid commented on #4521
Thanks @mavasani!  Can you confirm that it is still necessary to install `Microsoft.CodeAnalysis.NetAnalyzers` when building with .NET 5 SDK to check rules like CA1010 and whether I should file a separate issue to note that in [Enable or install first-party .NET analyzers](https://docs.microsoft.com/en-us/visualstudio/code-quality/install-net-analyzers)?

[2020-12-07 17:32] mavasani commented on #4521
Regarding your example repro, you need to do either of the following steps in addition to the steps you mentioned:
- Move to .NET 5.0 SDK (if you haven't alread) + set MSBuild property `EnableNETAnalyzers` to `true` in your project or props file OR
- Install the NuGet package `Microsoft.CodeAnalysis.NetAnalyzers`

[2020-12-07 17:33] mavasani commented on #4521
@kevinoid Analyzers are enabled by default in .NET 5.0 SDK only for projects targeting `net5` or later. For other platforms you have to explicitly enable the analyzers by doing one of the things mentioned in my prior comment.

[2020-12-07 17:48] kevinoid commented on #4521
Thanks again @mavasani!  Sorry for the confusion.  You are quite right.  I was jumping to the wrong conclusion.  Sounds great about the docs/deprecation!

[2020-12-07 18:01] mavasani commented on #4513
Agreed with @Evangelink. Seems reasonable to add the new features, but please target the PR to https://github.com/dotnet/roslyn-analyzers/tree/release/6.0.1xx-preview1 as it is essentially adding new diagnostics.

[2020-12-07 18:27] Youssef1313 commented on #4513
@mavasani Should the changes be limited to the two cases @Evangelink mentioned, but not only ICollection to end with for example "Dictionary" (or other collection types)

[2020-12-07 18:31] mavasani commented on #4513
@Youssef1313 - sorry I didn't quite get your question. Can you give a specific example?

[2020-12-07 18:35] Youssef1313 commented on #4513
For something like the following, the rule requires the class to end with "Collection" but doesn't allow it to end with "Dictionary", "Set", "List", "Stack", "Queue", etc.

[code]

A similar case in this repo is:

https://github.com/dotnet/roslyn-analyzers/blob/525d43d2fd640c4f8d601c1d0090bd40789be9d7/src/Utilities/Compiler/PooledObjects/PooledConcurrentSet.cs#L16-L19

[2020-12-07 18:41] mavasani commented on #4513
@Youssef1313 - Ah, yes. That seems like a reasonable change to me.

[2020-12-07 20:34] Evangelink commented on #4513
I don't know for the second part. This `PooledConcurrentSet` should instead implement `ISet`. If we still want to go in this direction then it should be uniform (i.e. allow all suffixes for `ICollection`, `ICollection<T>`, `IEnumerable`, `IEnumerable<T>` and `IReadOnlyCollection<T>`).

[2020-12-07 21:36] julealgon opened #4526 "CA1508 False positive on declaration using statement"
### Analyzer

**Diagnostic ID**: [CA1508 ](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1508): `Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describ

[2020-12-07 21:38] mavasani commented on #4526
@julealgon Can you try https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.1? I believe this was recently fixed, but not yet shipped with .NET SDK yet.

[2020-12-07 21:55] #4467 closed

[2020-12-08 00:35] mikadumont opened #4529 "Roslyn Analyzer Template"
When creating an analyzer it says “standard” in the template, but this seems to be a .NET framework target project:

![image](https://user-images.githubusercontent.com/46729679/101421719-d8a12500-38a9-11eb-9ca3-a864dae95247.png)

[2020-12-08 00:46] mavasani commented on #4521
Repo README is now updated.

[2020-12-08 00:46] #4521 closed

[2020-12-08 05:40] Youssef1313 commented on #4529
I think this relates to dotnet/roslyn-sdk repository.

[2020-12-08 06:19] Bosch-Eli-Black opened #4530 "<AnalysisMode>AllEnabledByDefault</AnalysisMode> doesn't enable all rules"
Our project is a .NET Standard 2.0 project that has the `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package installed. In our .csproj file, we have the following settings:

[code]

[The documentation](https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#analysismode) says that setting `AnalysisMode` to `AllEnabledByDefault` means this:

However, despite setting `AnalysisMode` to

[2020-12-08 12:30] weltkante commented on #3427
Just came across this and wanted to mention that _no code fix is provided_ and the error message is still very confusing. Had to understand this whole discussion before I knew what the error was complaining about.

[2020-12-08 14:10] julealgon commented on #4526
Thanks @mavasani . Yes, I can confirm that referencing the newer package fixes the problem for me. Closing.

What exactly is the recommendation here from Microsoft? Is it preferred to manually reference `Microsoft.CodeAnalysis.NetAnalyzers` or is it better to rely on the SDK version?

If SDK updates are not frequent enough, I wonder if manually referencing is the better option. If so, I'd probably

[2020-12-08 14:10] #4526 closed

[2020-12-08 15:23] Evangelink commented on #3752
`CA1801` is deprecated and will be replaced by `IDE0060`, I have just tested your code and `IDE0060` doesn't have the false-positive so I am going to close your ticket.

Thank you for the report!

[2020-12-08 15:23] #3752 closed

[2020-12-08 15:25] Evangelink commented on #4342
@JuanMejiaVelez Would you mind testing if you have the same issue with `IDE0060`? `CA1801` is deprecated in favor of the other rule and I don't have UWP on my machine so I can't really check if the false-positive also exists in the other rule.

[2020-12-08 15:35] skrysmanski commented on #4508
@Evangelink

Me neither - at least not where it matters. However:

* if my method creates a fresh list from scratch anyways, I don't see the point of artificially limiting the receiver of the list by making it immutable (if they want to mutate their copy afterwards that's totally fine IMO)
* this rule still allows for various (potentially) mutable collections like `IList` or `ICollection`. So, tec

[2020-12-08 15:36] damieng commented on #3492
A lot of these analyzers should probably be disabled for `Expression<Func<T...>` while enabled for `Func<T...>` as Roslyn can't possibly know enough about what the LINQ provider is going to do with the expression tree in the former.

(Title on this bug should probably be just changed to LINQ as it's a provider-independent problem and indeed the error message indicates that Entity Framework's LINQ

[2020-12-08 16:00] skrysmanski commented on #4506
So, it's still a valid way to get the .NET analyzers via NuGet (instead of using the ones bundled with the .NET SDK) like before, right? If so, I think this should be made more clear.

[2020-12-08 16:02] Dave-EMIS opened #4536 "CA1508: False Positive when using Equals(null) on classes with overridden equality"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `CA1508: Avoid dead conditional code`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

[2020-12-08 16:04] Dave-EMIS commented on #4536
Not sure if a separate issue or not, but I am also seeing it on:

[code]

Which is a common pattern in Fluent Assertions

[2020-12-08 16:43] sharwell commented on #3427
A code fix should be provided. Can you file a separate specific bug for the case you observed?

[2020-12-08 18:47] xtqqczze opened #4537 "CA1820 does not suggest code fix for string.Equals"
### Analyzer

**Diagnostic ID**: [CA1820](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1820): `Test for empty strings using string lengths`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.

[2020-12-08 20:08] timheuer opened #4538 "Feature: Allow formatted content in description window"
It would be nice to allow some light formatting (bold/italic/underline) in description areas:
![image](https://user-images.githubusercontent.com/4821/101535810-08a20400-394e-11eb-8edd-137afff1a9a5.png)

[2020-12-08 20:47] Evangelink commented on #4538
That's a BIG yes for me.

@mavasani What's the right repo for such kind of feature request/enhancement?

[2020-12-08 21:27] weltkante opened #4539 "RS1024 has no code fix"
### Analyzer

**Diagnostic ID**: RS1024: `Compare symbols correctly`

### Analyzer source

[code]

Using current public VS 2019 preview if it matters. The project is a .NET Standard 2.0 project, as this was suggested for code generators I assumed it would also be a good choice for porting analyzers.

### Describe the bug

Was porting code from an older analyzer and got strange warnings I did not u

[2020-12-09 05:58] Youssef1313 commented on #4536
IIRC, this one was recently fixed.

[2020-12-09 06:02] Youssef1313 commented on #4538
Add to that the ability to hyperlinking. Some rules have a description with links put directly, it would be very nice if hyperlinking is allowed by the same syntax of markdown, e.g. `[Link test](https://.......)`. That would make the appearance more neat.

[2020-12-09 08:04] huoyaoyuan opened #4540 "BannedApiAnalyzers breaks configuration of AnalysisMode for built-in NetAnalyzer"
### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.101](https://dotnet.microsoft.com/download/dotnet/5.0)

_AND_

**NuGet Package**: [Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 3.3.1

### Descri

[2020-12-09 09:56] Youssef1313 commented on #4530
I think this is related to https://github.com/dotnet/roslyn-analyzers/issues/4540.

[2020-12-09 10:07] Bosch-Eli-Black commented on #4530
@Youssef1313  Interesting 🙂  Indeed, we have several different analyzer NuGet packages installed, so it sounds like this could be related.

[2020-12-09 10:57] Evangelink commented on #4537
Currently the code-fix is only offered for `==` and `!=`, we could improve the code-fix to also handle `.Equals`.

[2020-12-09 11:01] Evangelink commented on #4495
I am going to close this issue (don't know why the PR didn't auto-closed it).

[2020-12-09 11:01] #4495 closed

[2020-12-09 11:10] xtqqczze commented on #4537
We would use a different code fix: `s.Length == 0` as we can assume `s` is not null.

[2020-12-09 15:09] Evangelink commented on #4076
Ping @carlossanlop

[2020-12-09 15:17] Evangelink commented on #4350
There are 2 questions opened here:

- I think the compiler should not allow the use of `default` for a generic type with only the `notnull` constraint as it does not prevent the use of a reference type for which `default` is `null`. Where can I create this ticket? `dotnet/runtime`? `dotnet/roslyn`? other?

- Get rid of the optional value and force the caller to pass a value.

[2020-12-09 15:27] Evangelink commented on #4425
@mavasani Do we plan to have these docs available on the main doc website or only as local markdown files (as it is done in [StyleCop Analyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1005.md))?

[2020-12-09 15:29] Evangelink commented on #2274
@mavasani Does it need to be moved to the `runtime` for evaluation?

[2020-12-09 15:31] Evangelink commented on #2872
Not reproduced in latest version of the `IDE0069`

[2020-12-09 15:31] #2872 closed

[2020-12-09 15:32] Youssef1313 commented on #4350
It should be dotnet/roslyn. But as this change can be breaking, it might be introduced as a compiler warning in a warning wave.

[2020-12-09 15:43] Evangelink commented on #2522
@MisinformedDNA Could you make a new test with the latest version of the analyzer? I don't know if something changed or if my repro is invalid but I don't manage to see the issue.

[2020-12-09 15:46] Evangelink commented on #4329
Ping @dotpaul

[2020-12-09 15:50] Evangelink commented on #3178
@mavasani Is it something we should work on? If so it seems more a code style rule to me so should be under the IDEXXX scope, isn't it?

[2020-12-09 15:53] mavasani commented on #4536
@Youssef1313 is correct. Verified no repro with https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.1

[2020-12-09 15:53] #4536 closed

[2020-12-09 15:56] mavasani commented on #4540
Thanks. I believe this was fixed with latest stable versions of both packages. Can you please upgrade and try again?

[2020-12-09 15:58] mavasani commented on #4540
You will need to install the 5.0.1 NuGet package for Microsoft.CodeAnalysis.NetAnalyzers as the latest .NET SDK still is on 5.0.0 of the package.

[2020-12-09 15:59] huoyaoyuan commented on #4540
I can confirm it's fixed in BannedApiAnalyzers 3.3.2.

[2020-12-09 15:59] #4540 closed

[2020-12-09 16:00] Evangelink commented on #3340
@mavasani Could we close this ticket and suggest that the fluent validation frameworks provide a suppressor for this rule instead?

I have been looking at a few solutions and I can't find any elegant generic way in which we could handle this. The best solution I could came up with is something along the lines of "method signature with brackets around the argument doing the capture" + "->" + "null

[2020-12-09 16:04] mavasani commented on #4530
This is a different issue has been fixed in the .NET SDK, but version with the fix has not released yet. Meanwhile, to workaround can you set MSBuild property AnalysisLevel to latest in your project file?

[2020-12-09 16:05] mavasani commented on #4530
See https://github.com/dotnet/roslyn-analyzers#microsoftcodeanalysisnetanalyzers for AnalysisLevel

[2020-12-09 16:21] mavasani commented on #4498
I see that doc PR was also completed. Closing this issue (note it was not auto-closed by github as the removal PR did not target master branch).

[2020-12-09 16:21] #4498 closed

[2020-12-09 16:36] kevinoid opened #4542 "CA5359: Apply to HttpClientHandler.ServerCertificateCustomValidationCallback"
### Analyzer

**Diagnostic ID**: [CA5359](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca5359)

### Describe the improvement

Apply the same check to [`HttpClientHandler.ServerCertificateCustomValidationCallback`](https://docs.microsoft.com/dotnet/api/system.net.http.httpclienthandler.servercertificatecustomvalidationcallback) as is currently applied to [`HttpWebReque

[2020-12-09 16:37] mavasani commented on #4537
Please target https://github.com/dotnet/roslyn-analyzers/tree/release/6.0.1xx-preview1 branch as this would be a new feature.

[2020-12-09 16:53] mavasani commented on #4425
Tagging @gewarren - I am not sure if this would be something that goes into dotnet/docs repo or not. For some context, `RSxxxx` rules are analyzers for flagging incorrect usage of Roslyn APIs in analyzers/code fixes themselves or any tools built on top of Roslyn (i.e. `Microsoft.CodeAnalysis` NuGet package). The analyzers ship in [Microsoft.CodeAnalysis.Analyzers](https://github.com/dotnet/roslyn-

[2020-12-09 16:56] mavasani commented on #2274
Yes, tagging @buyaa-n @carlossanlop. Can this be ported to dotnet/runtime and triaged?

[2020-12-09 17:01] mavasani commented on #4350
@Evangelink are you able to address the second part in your above comment and make the changes to this repo to remove the suppression?

@Youssef1313 can you point out the Roslyn issue?

[2020-12-09 17:02] xtqqczze commented on #4537
@mavasani Just to be completely clear, `s.Equals(string.Empty)` is already identified as a `CA1820` violation but no code fix is offered.

[2020-12-09 17:12] mavasani commented on #3178
@Evangelink This seems related to [CA1051](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1051): `Do not declare visible instance fields`. This analyzer also allows users to exclude structs from analysis via an editorconfig option `dotnet_code_quality.CA1051.exclude_structs = true`, see https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Confi

[2020-12-09 17:14] Youssef1313 commented on #4350
@mavasani https://github.com/dotnet/roslyn/issues/49866

The conclusion from it was:

[2020-12-09 17:16] mavasani commented on #3340
That seems reasonable to me. @sharwell, if you agree, we can close this issue as by design.

[2020-12-09 17:19] #4516 closed

[2020-12-09 17:24] mavasani commented on #4537
@xtqqczze Ah, thanks. So, this is just a bug fix to an existing code fix? If so, targeting master should also be fine.

[2020-12-09 17:31] Evangelink commented on #3178
Doc PR filled.

[2020-12-09 17:35] mavasani opened #4544 "Flaky unit test DisposeMethodsShouldCallBaseClassDisposeTests.ErrorCase_NoDiagnostic"
This test is occasionally failing in our signed/CI builds. Seems like compiler is sometimes reporting an extra CS error. We may want to consider updating/removing this test from this repo to workaround this (while also trying to identify a repro case for compiler issue).

**Failing test**: https://github.com/dotnet/roslyn-analyzers/blob/a23fde8d03fcec0c8e5beb6b1f3882048ab8435b/src/NetAnalyzers/Uni

[2020-12-09 17:36] mavasani commented on #3178
Thanks @Evangelink - closing this issue.

[2020-12-09 17:36] #3178 closed

[2020-12-09 17:36] xtqqczze commented on #4537
@mavasani I think it is a bad experience to report the violation without offering a fix, especially considering this fix is unambiguous. I am not familiar with repository policy, so would you consider this a bug fix, or not ?

[2020-12-09 17:38] mavasani commented on #4537
@xtqqczze Yes, it would be fine to be considered as a bug fix that targets the master branch. Please feel free to work on it and submit a PR.

[2020-12-09 17:39] Evangelink commented on #1108
@mavasani I was looking at the code and I think it is now fixed, if the file is null we no longer call the `GetText` method.

[2020-12-09 17:43] #1108 closed

[2020-12-09 17:43] Evangelink commented on #1638
@mavasani does it also need to get through the `runtime` team?

[2020-12-09 17:48] Evangelink commented on #3053
@mavasani issue needs review or to be transferred to the right project.

[2020-12-09 17:48] sharwell commented on #3340
That seems reasonable to me

[2020-12-09 17:51] Evangelink commented on #2678
@davkean Sorry for the ping, would you mind having a quick look if the issue is still happening on your side? If so, would you mind pointing me to some source or providing a simple repro case so that I can investigate?

[2020-12-09 17:54] #3340 closed

[2020-12-09 18:03] Evangelink commented on #3389
@sharwell could you confirm that's ok?

[2020-12-09 18:07] Evangelink commented on #3744
ping @mavasani @sharwell

[2020-12-09 18:09] Evangelink commented on #3487
Ping @mavasani

[2020-12-09 18:10] mavasani commented on #3744
I will let @sharwell drive this. I have no pushback on this, but I believe Sam received some pushback in past on similar work on Roslyn repo.

[2020-12-09 18:10] Evangelink commented on #3937
@dotpaul Is there anything left to do here?

[2020-12-09 18:13] xtqqczze commented on #4537
I have not worked on code analyzer development before, so I cannot commit to submitting a PR, at least in the short term.

[2020-12-09 18:18] mavasani commented on #3487
@sharwell, I don't see the reason for marking this as a candidate rule for removal in our triage meeting notes. Do you happen to recall the reason?

[2020-12-09 18:19] mavasani commented on #3937
I believe github did not auto-close the issue as the PR was not targeting master branch. We should be able to close this one.

[2020-12-09 18:19] #3937 closed

[2020-12-09 18:29] Evangelink commented on #4537
It might not be the simplest to start with but if you want to give it a try, I am happy to support you.

[2020-12-09 18:38] buyaa-n commented on #4021
Fixed with #4438

[2020-12-09 18:38] #4021 closed

[2020-12-09 18:55] buyaa-n commented on #4014
@carlossanlop when discussed offline i told you this will be covered with dotnet/runtime#43971, as they could/would be one analyzer, but this issue description has more context about the proposed new analyzer, so i am transferring this one into runtime and prepare it for API review

[2020-12-09 19:08] buyaa-n commented on #4015
@terrajobst sorry, i am not sure what is this issue adding the proposal in dotnet/runtime#45851, i must be missing something. It seems to me this is covered by dotnet/runtime#45851

[2020-12-09 19:53] buyaa-n opened #4545 "CA1416 should Ignore diagnostics on throw statements"
### Describe the improvement

When supported attributes added by SDK for the targeted platform we are seeing warnings in the statements just throwing PNSE, the warnings for the resource string used for the exception message which we couldn't separate for specific build.

Related to https://github.com/dotnet/runtime/issues/44231.

### Describe suggestions on how to achieve the rule

We could ignore

[2020-12-09 19:58] mavasani commented on #4545
@buyaa-n FYI: We already have a helper to detect this, which is used by many existing analyzers: https://github.com/dotnet/roslyn-analyzers/blob/690be1702a6ae8f915da3bf6cc1b935e3ff264dd/src/Utilities/Compiler/Extensions/OperationBlockAnalysisContextExtension.cs#L14

Hopefully, this should be a one line fix.

[2020-12-09 19:59] buyaa-n commented on #4545
Great, thanks!

[2020-12-09 19:59] mavasani commented on #4545
Actually, you might have to extend that helper to detect the platform not supported exception type: https://github.com/dotnet/roslyn-analyzers/blob/690be1702a6ae8f915da3bf6cc1b935e3ff264dd/src/Utilities/Compiler/Extensions/OperationBlockAnalysisContextExtension.cs#L56-L60

So maybe a 2 line fix :-)

[2020-12-09 20:07] buyaa-n commented on #4545
I was actually thinking to ignore for any type of exceptions, anyway for now it is fine to ignore for only those exceptions

[2020-12-09 21:02] dotpaul commented on #4542
Thanks for detailed issue, @kevinoid ! Sounds fine to me.

[2020-12-09 21:06] dotpaul commented on #4329
I'll update the CA5399 docs to mention the need to upgrade the target framework if `CheckCertificateRevocationList` isn't available.

[2020-12-09 21:06] #4329 closed

[2020-12-09 22:22] AArnott opened #4552 "CA1508 mis-fires, alleges dead code incorrectly"
**Version Used**: VS 16.9 (30809.25.main)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warnings.

**Actual Behavior**:

CA1508 mis-fires, claiming:

But of course this is wrong, since `this.value as string` will be `null` if (for example) `this.value` is set to `5` (boxed).

![image](https://user-images.githubusercontent.com/3548/101695631-234da900-3a32-11eb-96b6-3767d317ff7d.png)

[2020-12-09 22:34] Evangelink commented on #2302
@sharwell @mavasani What's the status of this ticket?

[2020-12-09 22:38] Evangelink commented on #3339
@mavasani Is there a plan to share `AnalyzerUtilities`? If not then I am not sure what this readme mention would bring.

[2020-12-09 23:07] Evangelink commented on #3549
@mavasani All docs you were mentioning have been handled.

[2020-12-09 23:07] #3549 closed

[2020-12-09 23:19] Evangelink commented on #3813
Ping @sharwell

[2020-12-09 23:23] Evangelink commented on #4102
@sharwell Could you confirm this can be closed?

[2020-12-09 23:23] Evangelink commented on #4101
@sharwell Could you confirm this can be closed?

[2020-12-09 23:27] Evangelink commented on #3721
Ping @terrajobst and @mavasani

[2020-12-09 23:32] Evangelink commented on #3533
@mavasani I think this ticket can be closed. If there is still some issue people will probable get back and open new ticket. WDYT?

[2020-12-09 23:34] Evangelink commented on #3334
Ping @mavasani

[2020-12-09 23:35] #3883 closed

[2020-12-09 23:36] Evangelink commented on #2994
Ping @mavasani

[2020-12-09 23:46] terrajobst commented on #3721
Our goal is to move away from master from all .NET repos. We're currently waiting for GitHub to improve the support so that less stuff breaks; we were told they will have something ready by EOY.

[2020-12-09 23:48] buyaa-n commented on #4545
The helper seems for throw only methods without any other statements, and it covers the issue mentioned, but i think we don't need to flag for exceptions thrown with some other statements too, probably add check for string message as constructor argument, what do you think @jeffhandley @terrajobst? I can add another extension method if we want to handle exception throwing differently.
[code]

[2020-12-09 23:52] buyaa-n commented on #4545
Thanks @mavasani, I am little worried that adding another exception the condition might break/malfunction other analyzers using that method. Run all tests in the repo no any failures though, maybe its OK.

[2020-12-10 00:08] mavasani commented on #4545
@buyaa-n - you can add a flag to the existing extension method to decide if it should flag only throw with specific exception types (not implemented and not supported) or all exception types.

[2020-12-10 00:17] JeremyCaney opened #4546 "CA1508 false positive in while condition with String.IsNullOrEmpty() and initially empty string"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): Avoid dead conditional code

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe t

[2020-12-10 00:19] sharwell commented on #4101
This seems like a low priority but reasonable change to make. It's certainly a false positive, but unlikely to apply to most code. I'd leave it open in case someone decides to eventually fix it.

[2020-12-10 00:21] JeremyCaney commented on #4546
Aside, there is a minor bug with the label of this warning which might confuse this issue. In the following similar code, we _expect_ the CA1508 to be thrown:

[code]

And, indeed, it is. But the warning incorrectly states:

Obviously, it should say "is always 'true'". That's a separate issue—and one I'm happy to create a bug report for!—but I wanted to point it out here since it might otherwise o

[2020-12-10 00:27] sharwell commented on #3487
If a multi-dimensional array is appropriate for the problem set, then it's appropriate for the problem set. This rule is unlikely to make meaningful progress against a performance issue related to sparse arrays. As a rule with no clear merits or driving need, there is no current path forward where we would suggest any user enable it.

[2020-12-10 00:37] sharwell commented on #2994
It appears that CA1065 is implemented to explicitly allow `System.ArgumentException` within an implementation of `IEqualityComparer<T>.GetHashCode`:

https://github.com/dotnet/roslyn-analyzers/blob/690be1702a6ae8f915da3bf6cc1b935e3ff264dd/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/DoNotRaiseExceptionsInUnexpectedLocations.cs#L185-L187

However, there may be a bug in

[2020-12-10 00:41] buyaa-n commented on #4545
Sure, i can do that or create separate extension method, just meant about updating the existing method, will update depending on how we want to disable warnings

[2020-12-10 01:20] JeremyCaney commented on #4546
Also, this is probably obvious, but as a downstream consequence of this, any other `&&` conditions that are paired with it will also throw a CA1508:
[code]
In this case, the `myObject is null` would normally be fine if it weren't paired with the `String.IsNullOrEmpty(myString)` condition. Since the analyzer is seeing `myString` as always being false, however, it's evaluating it the same as:
[code]

[2020-12-10 01:37] meziantou opened #4548 "CA1508 False positive for Activator.CreateInstance"
### Analyzer

**Diagnostic ID**: CA1508

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.101](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

`Activator.CreateInstance` can return `null` when used with a `Nullable<T>` type.

[code]

In the previous

[2020-12-10 02:47] meziantou opened #4549 "CA1508 False positive on string.IsNullOrEmpty"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.101](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

[code]

If you change

[2020-12-10 09:17] Evangelink commented on #3487
That's interesting, I think it'd be nice to share this info in some .net news because I think a lot of people have been taught not to use multi-dim for performance consideration.

To back your point it seems that some benchmarks actually show the multi-dim array being faster than jagged array on .net core.

@mavasani I would suggest to deprecate the rule in the doc, close all associated tickets as

[2020-12-10 09:20] Evangelink commented on #4101
It seems like a few minutes tweak to the rule so I will do a PR today.

[2020-12-10 09:29] Evangelink commented on #3662
I was giving a fresh look at this ticket and now I can easily reproduce using:

[code]

but looking at the implementation I am actually wondering if the fix should be done around the `nint` or whether we should simply exclude some types that can't be constant (in this case `IntPtr`). WDYT?

[2020-12-10 10:57] Evangelink commented on #4432
Sorry for the delay, I forgot about this ticket.

I would like to suggest that I reuse the checks from the other rule that checks an enum claiming to be `FlagsAttribute` is correctly defined in case of a call to `HasFlag` on an enum without the `FlagsAttribute` and if it is too complex then I simply get rid of this second part.

I will try to push a PR today/tomorrow and will ping you for review i

[2020-12-10 15:43] Evangelink commented on #4549
Are you sure this code snippet does reproduce the issue? If so then it appears to be fixed on master :)

[2020-12-10 16:13] Evangelink commented on #4546
As far as I understand the current DFA doesn't really handle loops.

Tagging @mavasani

[2020-12-10 16:36] mavasani commented on #4546
Verified that all repro cases are fixed in master. We have a released `Microsoft.CodeAnalysis.NetAnalyzers` [NuGet package 5.0.1](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.1) which has the fix. However, the fixed analyzer has not been inserted into .NET SDK, hence you will continue seeing this issue for some more time if you are consuming the analyzers directly from th

[2020-12-10 16:45] mavasani commented on #4552
Verified that the issue repros on analyzers from .NET 5.0 SDK as well as `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package `5.0.0`. However, the issue is fixed in master and `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package `5.0.1`. The newer package has not been inserted into .NET 5 SDK, but should be available in [daily builds](https://github.com/dotnet/installer#installers-and-binaries) of

[2020-12-10 16:45] #4552 closed

[2020-12-10 16:47] mavasani commented on #4549
Verified that the issue repros on analyzers from .NET 5.0 SDK as well as `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package `5.0.0`. However, the issue is fixed in master and `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package `5.0.1`. The newer package has not been inserted into .NET 5 SDK, but should be available in [daily builds](https://github.com/dotnet/installer#installers-and-binaries) of

[2020-12-10 16:47] #4549 closed

[2020-12-10 16:48] meziantou commented on #4549
Yes, I do see the warning when building my project. This is great if it's already fixed :) But just to be sure here's the full repro

[code]

[code]

Right now, I cannot see the warning in VS (it did yesterday), but when building the project using `dotnet build` I get the warning

![image](https://user-images.githubusercontent.com/509220/101802405-631d9a80-3add-11eb-8fcd-6052e1ada429.png)

I'm usi

[2020-12-10 16:52] meziantou commented on #4549
Using the package `Microsoft.CodeAnalysis.NetAnalyzers` 5.0.1 works! There is no warning with the code from my previous comment 😊

[code]

[2020-12-10 16:52] Evangelink commented on #4546
@mavasani I am reopening because I think you did the same error I did when reading this. It's more a false-negative than false-positive, no diagnostic is reported when it should be reported.

[2020-12-10 16:56] mavasani commented on #4549
Thanks @meziantou - note that because .NET 5 SDK itself has a much higher bug bar, all fixes to analyzers which are off by default (like CA1508) which were made _after the release_ of initial .NET 5.0 SDK would only be available in .NET 6 SDK or the NuGet package releases of `Microsoft.CodeAnalysis.NetAnalyzers` on nuget.org.

[2020-12-10 16:58] mavasani commented on #4546
@Evangelink The original issue comment says the Expected behavior is no warning, but actual behavior is warning. I verified that it is indeed not generating any warning. If there are any false negative cases also mentioned in intermediate comments, please open a separate issue with an appropriate title and only the relevant repro case.

[2020-12-10 16:59] mavasani commented on #4552
Note that because .NET 5 SDK itself has a much higher bug bar, all fixes to analyzers which are off by default (like CA1508) which were made _after the release_ of initial .NET 5.0 SDK would only be available in .NET 6 SDK or the NuGet package releases of `Microsoft.CodeAnalysis.NetAnalyzers` on nuget.org.

[2020-12-10 17:01] #4546 closed

[2020-12-10 17:03] mavasani commented on #3487
Tagging @jmarolf - I think we should bring up deprecation of old CA rules in one of the netanalyzers v-team design meetings before deciding to deprecate it.

[2020-12-10 17:03] meziantou commented on #4549
I wasn't aware of that. So, I will reference the NuGet explicitly in my projects to get bug fixes for these useful analyzers!

[2020-12-10 17:06] mavasani commented on #4101
As mentioned in https://github.com/dotnet/roslyn-analyzers/issues/4101#issuecomment-692820153 this is actually by design and helps avoid stub analyzers which return non-zero descriptors but have an empty Initialize method. This incurs an unnecessary performance cost of instantiating a no-op analyzer. Please fix the analyzer package or add a source suppression.

[2020-12-10 17:06] #4101 closed

[2020-12-10 17:07] mavasani commented on #4102
As mentioned in https://github.com/dotnet/roslyn-analyzers/issues/4101#issuecomment-692820153 this is actually by design and helps avoid stub analyzers which return non-zero descriptors but have an empty Initialize method. This incurs an unnecessary performance cost of instantiating a no-op analyzer. Please fix the analyzer package or add a source suppression.

[2020-12-10 17:07] #4102 closed

[2020-12-10 17:11] sharwell commented on #4102
@mavasani if we need a rule to avoid stub analyzers, we should have a rule to avoid stub analyzers. The messaging provided by RS1026 is not useful to analyzer authors in this context.

[2020-12-10 17:18] Evangelink commented on #4102
I agree with @sharwell here. Having the issue while you are building is annoying and if it is a problem to have empty initialize then it could be another rule (besides it could be a non-analyzer specific rule that prevents empty block).

[2020-12-10 17:21] mavasani commented on #4102
@sharwell Over a decade of analyzer support, only StyleCop analyzers ships stub analyzers with no implementation. Why are we hurting the simplicity of analyzers (enabled analyzers must be configured) by adding special case for an analyzer package which took a decision to go against design guidelines for analyzers and ship stub no-op analyzers.

[2020-12-10 17:24] mavasani commented on #4102
Yes, so analyzer author should add a source suppression that acts as a documentation that I am explicitly choosing to not configure my analyzer because of xyz special case. I don't believe adjusting analyzers for every single un-common and not recommended use case is the way to go forward. If we strongly feel about this, feel free to reopen the issue and bring it to design meeting. I would ideally

[2020-12-10 17:27] mavasani commented on #4102
I have also not been given a valid reason that justifies shipping a stub analyzer that incurs performance cost on users but is basically a no-op analyzer. Using this mechanism for deprecated analyzers is discouraged, instead the docs for deprecated analyzer rules should be published so when users search for it online, they find out that it has been deprecated.

[2020-12-10 17:43] mavasani commented on #4548
Verified that this still repros on master

[2020-12-10 20:24] JeremyCaney commented on #4546
@mavasani: I've installed the 5.0.1 version of the NuGet package and confirmed that the CA1508 false positive is resolved. I apologize for missing the resolution; in the future, I'll be sure to test against the latest NuGet package, instead of relying on the lagging SDK version. Thank you for all of your work on these!

[2020-12-10 21:15] MisinformedDNA commented on #2522
I can't find it right now. I'll reopen if it turns up again.

[2020-12-10 21:31] jmarolf commented on #3487
I think this is a good thing to discuss.

[2020-12-11 04:01] abbotware opened #4558 "CA9998 warning when no reference to FxCopAnalyzers"
### Analyzer

**Diagnostic ID**: [CA9998 ] warning CA9998: FxCopAnalyzers package has been deprecated in favor of 'Microsoft.CodeAnalysis.NetAnalyzers

### Analyzer source

**SDK**: [SDK 3.1.404]

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

I just updated to the newe

[2020-12-11 04:02] abbotware commented on #4558
here is a screen shot
![image](https://user-images.githubusercontent.com/2100564/101860424-c9390a80-3b3b-11eb-8045-da039e0fb817.png)

[2020-12-11 04:36] mavasani commented on #4558
@abbotware You are directly referencing the constituent packages of FxCopAnalyzers package, which are also deprecated now: https://github.com/dotnet/roslyn-analyzers/blob/master/README.md#the-following-are-subpackages-or-nuget-dependencies-that-are-automatically-installed-when-you-install-the-microsoftcodeanalysisfxcopanalyzers-package

[2020-12-11 05:11] abbotware commented on #4558
OK! - I did read that page, but somehow missed the line:

"Starting version 3.3.2, Microsoft.CodeQuality.Analyzers, Microsoft.NetCore.Analyzers and Microsoft.NetFramework.Analyzers have also been deprecated in favor of Microsoft.CodeAnalysis.NetAnalyzers"

Perhaps the should also be marked deprecated?

[2020-12-11 05:25] mavasani commented on #4558
They should already be marked deprecated.

[2020-12-11 05:28] abbotware commented on #4558
@mavasani  - you are right!

[2020-12-11 05:28] #4558 closed

[2020-12-11 09:53] Evangelink commented on #4508
Giving some more thoughts I think you are right. My dream is probably to design another rule around reducing use of mutable collections everywhere in codebase (most of the time there is no need for the mutability).

@mavasani could you give us the greenlight?

[2020-12-11 10:33] Evangelink commented on #4323
@Youssef1313 Could you provide some example and/or more description please.

[2020-12-11 10:43] Youssef1313 commented on #4323
@Evangelink https://github.com/dotnet/roslyn-analyzers/tree/master/src/NetAnalyzers/Core

The above folder is for implementations shared between both C# and VB. Any type specific to one language shouldn't be used there. This should be guaranteed by either banning or by somehow make these types inaccessible from this layer.

If I remember correctly, in dotnet/roslyn, they're completely inaccessible

[2020-12-11 11:01] Evangelink commented on #4323
Thank you.

The project is currently referencing `Microsoft.CodeAnalysis` version `3.3.1` which links to both C# and VB workspace packages. I think that's where the error is, it should be only a reference to the common part.

[2020-12-11 11:05] MaStr11 commented on #3640
Duplicate of #1911

[2020-12-11 12:40] ConnerOrth commented on #4508
Was just about to raise an issue because I got the CA1002 warning on a List<SomeClass> property within a sealed class.
In this case I don't see how the give inheritors the flexibility argument for this rule still applies.
For specific cases it seems like this, in a general sense is clearly a good rule to go by, but might be non-applicable to the actual code.

[2020-12-11 13:44] kevinoid commented on #3640
I agree.  Good catch @MaStr11!  Closing in favor of #1911.

[2020-12-11 13:44] #3640 closed

[2020-12-11 14:07] Evangelink commented on #4539
I can reproduce the issue with this version of the analyzer and a project targeting `netstandard2.0`. If I start using `Include="Microsoft.CodeAnalysis.NetAnalyzers" Version="5.0.1"` then I do have the code-fix so I am wondering if it is just something that was introduced in between.

[2020-12-11 14:09] Evangelink commented on #4539
Yep it works when using the pre-release `3.3.1-beta1.20505.3`.

[2020-12-11 15:28] Evangelink commented on #4481
@sharwell As far as I know the DFA is not doing interprocedural analysis, especially not cross-compilation unit so I have some hard time to see how we could track all unhandled exceptions up to the entry point.

Regarding the feature request on roslyn, it does seem possible but it would most likely be implemented on roslyn side.

All in all I would say we can close this ticket.

Tagging @mavasani

[2020-12-11 15:29] Evangelink commented on #4466
Ping @mavasani and @davidfowl

[2020-12-11 15:31] Evangelink commented on #887
@mavasani does it need to get through the `runtime` repo or is it ok to start working on this? Shall we also implement the other related rules that are available in StyleCop Analyzers regarding API XML doc?

[2020-12-11 15:45] sharwell commented on #887
I would not recommend implementing this rule in its current form. It is agonizingly tedious to adhere to in its current form, and leads to useless comments like:

[code]

[2020-12-11 16:02] #4350 closed

[2020-12-11 16:21] weltkante commented on #4539
@Evangelink erm, why close if this regressed? I don't want to downgrade from stable to an unlisted prerelease.

Sounds like it worked in an earlier version and broke for `3.3.2` ?

Is this a replacement package or what is its role? Everyone seems to be still referring to `Microsoft.CodeAnalysis.Analyzers` including some [sample](https://github.com/dotnet/roslyn-sdk/blob/master/samples/CSharp/Sourc

[2020-12-11 16:40] mavasani commented on #887
@Evangelink I will let @sharwell drive this space, he is an expert in this area and would be the best person to decide which rules, if any, should be implemented here.

[2020-12-11 16:42] Evangelink commented on #4539
@weltkante I am not saying there was no regression, only that between the last released version and the code on master (included in this pre-release) the bug was fixed. The only remaining work is to publish a new version of the package.

Regarding the package, it just depends on what rules you are looking for (see the readme). The package you are referencing is still valid (as far as I know).

@ma

[2020-12-11 16:50] mavasani commented on #4539
Couple of points to note:

1. `Microsoft.CodeAnalysis.NetAnalyzers` is unrelated to this issue. It is primarily for CAxxxx rules, and has no effect on any RSxxxx rules or their code fixes
2. For `Microsoft.CodeAnalysis.Analyzers`, we recently released version 3.3.2, which should have fixes from 3.3.1. @Evangelink your comment https://github.com/dotnet/roslyn-analyzers/issues/4539#issuecomment-7432

[2020-12-11 17:09] weltkante commented on #4539
If this is fixed in master I'm fine leaving this closed, and its not urgent to push the fix to nuget either, just isn't clear from the comments since they cited a preview version which is earlier than the one I'm using.

[2020-12-11 17:43] Evangelink commented on #4539
@weltkante Hey sorry, I just fucked up the versions in my head! I think I should just give up coding for today...

So I confirm that the code-fix was offered in `3.3.1` but is no longer offered in `3.3.2`. The pre-release link in the readme doesn't provide any `3.3.3 preview`, did it changed location?

@mavasani I was mentioning `<PackageReference Include="Microsoft.CodeAnalysis.NetAnalyzers" Vers

[2020-12-11 17:44] mavasani commented on #4508
I think this is by design, and there seems to be need for an improved documentation.

The virtual/inheritance aspects mentioned in the rule doc is in regards to the `List<T>` type itself, not with respect to the containing type of the flagged method/field/property itself. The doc is trying to state that `List<T>` is an implementation type not suitable for a public API signature because `List<T>` d

[2020-12-11 18:09] mavasani commented on #4539
@Evangelink I believe the RS rules are coming to your project indirectly from `Microsoft.CodeAnalysis`, which in turn has a build-time dependency on `Microsoft.CodeAnalysis.Analyzers.` `Microsoft.CodeAnalysis.NetAnalyzers` itself has no relation to RS analyzers or code fixes.

[2020-12-11 18:44] #4509 closed

[2020-12-11 18:44] #4548 closed

[2020-12-11 18:57] jeffhandley commented on #4545
It's OK with me to ignore throws of `PlatformNotSupportedException` and `NotImplementedException`, also ignoring the arguments passed in.  Other exception types, especially custom application exceptions, might accept or grab device-specific data though, so we'd want the analyzer to still flag unsupported exceptions/arguments generally.

[2020-12-12 04:28] avivanoff opened #4566 "CA2119 false positive"
### Analyzer

**Diagnostic ID**: [https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2119): `Seal methods that satisfy private interfaces`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

See attached project.

### Ste

[2020-12-12 06:39] skrysmanski commented on #4508
What makes you say this? Is this (just) an opinion or are there actual reasons for this? I've written my fair share of APIs and never found any problems with using `List` for return values (except that it's mutable - but that's not what this rule is about). But maybe I'm missing something here. :)

If this is just an opinion, then this is fine (every one and every company can have them and there's

[2020-12-12 06:54] avivanoff opened #4567 "CA1714 and CA1717 rules are missing"
### Analyzer

**Diagnostic ID**: [CA1714](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1714): `Flags enums should have plural names`
**Diagnostic ID**: [CA1717](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1717): `Only FlagsAttribute enums should have plural names`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAn

[2020-12-12 08:34] Youssef1313 commented on #4566
Have you tried to make the Form `sealed` or `internal`?

[2020-12-12 08:43] Youssef1313 commented on #4567
@mavasani Should Microsoft.CodeAnalysis.NetAnalyzers reference Text.Analyzers?

[2020-12-12 15:05] Leemyy opened #4568 "Constructing a `HashSet<ISymbol>` with `SymbolEqualityComparer` should not generate any warnings"
### Analyzer

**Diagnostic ID**: RS1024: `Compare symbols correctly`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers)

**Version**: 3.3.2 (Latest)

### Describe the bug

When constructing a `HashSet<ISymbol>` or a `Dictionary<ISymbol, _>` with the constructor override accepting an `IEqualityComparer`, passi

[2020-12-12 16:09] avivanoff commented on #4566
Yes, making the form sealed or internal fixes the error, but I am building an extendable form library, so this is not an option.

[2020-12-12 16:35] mavasani commented on #4567
@avivanoff @Youssef1313 This is by design. These two spell check rules have been moved to Text.Analyzers (package might be renamed later when ready for release). We are likely to add more spell check rules in this package and release it in future.

[2020-12-12 16:35] #4567 closed

[2020-12-12 16:50] avivanoff opened #4569 "Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.2 vs. Microsoft.CodeAnalysis.NetAnalyzers 5.0.1"
Is it possible to use Microsoft.CodeAnalysis.NetAnalyzers 5.0.1 package with the projects that target earlier versions of .NET (.NET Standard, .NET Framework, .NET Core), or do I have to use Microsoft.CodeAnalysis.FxCopAnalyzers 3.3.2?

[2020-12-12 16:55] Youssef1313 commented on #4567
@mavasani Should the documentation reflect that?

[2020-12-12 18:03] mavasani commented on #4569
Please see the Note in the top section at https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview

The .NET Analyzers are platform agnostic.

[2020-12-12 18:12] mavasani commented on #4567
@Youssef1313 Which documentation? CA rules doc pages are now package/tool agnostic - they have no mention of which package they belong to, so I think we are fine.

[2020-12-12 18:32] avivanoff commented on #4567
You may be fine, but how do we supposed to know this? I am migrating to NET Analyzers, and all of a sudden some rules are gone. Isn’t it at least supposed to be mentioned in migration docs?

[2020-12-12 18:39] avivanoff commented on #4569
https://github.com/dotnet/roslyn-analyzers#recommended-version-of-analyzer-packages says that for 5.0.1 “Required .NET SDK Version: .NET 5.0 SDK or later”.

[2020-12-12 20:54] mavasani commented on #4569
It reqruires the underlying compiler that ships with .NET5 SDK and also with VS2019 16.8.

[2020-12-12 21:07] ArturDorochowicz commented on #4530
I'm experiencing the same issue and can confirm that the workaround works, i.e. explicitly setting AnalysisLevel to latest causes AnalysisMode to be respected.

BTW, is there any way to get default analyzer configuration from FxCopAnalyzers back (other than configure each individual rule)? We now have a rather binary choice between all enabled (which is an overkill IMO) or all disabled (and the de

[2020-12-12 21:08] avivanoff commented on #4569
I am still confused.
So, my original question: can Microsoft.CodeAnalysis.NetAnalyzers 5.0.1 package be used with the projects that target earlier versions of .NET (.NET Standard, .NET Framework, .NET Core)?

[2020-12-12 21:10] ArturDorochowicz commented on #4569
Is it so? I have installed it via the package into netcoreapp3.1 project built with 3.1.404 SDK and it builds. What kind of issues should I be expecting if it's really not compatible?

[2020-12-14 10:14] Evangelink commented on #4508
What I understand in this sentence is more:

1. Do not create a collection type that inherits from `List<T>`
2. If your method is changeable (i.e. `virtual`, `abstract` or onto some interface, do not take parameters or return type of type `List<T>`)

So the various comments on `sealed` and `static` members seems to make sense to me.

[2020-12-14 10:36] Bosch-Eli-Black commented on #4530
Thanks, @mavasani; that fixed it for me :)

[2020-12-14 10:36] Bosch-Eli-Black commented on #4530
@ArturDorochowicz, I think you might want to open a new issue :)

[2020-12-14 10:57] ericbl commented on #4482
I got that too, but then, IMHO, the derivated class with a finalizer should care about CG.SuppressFinalize, not the parent class (without finalizer)!

[2020-12-14 11:01] Evangelink commented on #4566
@avivanoff I don't have any access to DevExpress so I can't compile your code, could you please give us some more info about the issue?

[2020-12-14 13:46] KrisVandermotten commented on #4482
Unfortunately, the Dispose method that is supposed to call CG.SuppressFinalize is typically not `virtual`, so derived classes have no way to override it.

[2020-12-14 13:56] mavasani commented on #4530
This is tracked by https://github.com/dotnet/roslyn/issues/49250#issuecomment-731455224 - the `Recommended` mode in there would enable whole bunch more rules and be much closer to FxCop package. I just merged a PR yesterday which will provide this functionality in the built-in SDK analyzers starting .NET 6 SDK. We will likely also release a NuGet package `Microsoft.CodeAnalysis.NetAnalyzers` lot e

[2020-12-14 13:58] mavasani commented on #4530
I'll close this issue as the original issue reported by @Bosch-Eli-Black has been fixed and is just pending release. There is also a workaround for it meanwhile.

[2020-12-14 13:58] #4530 closed

[2020-12-14 14:19] mavasani commented on #4569
Yes, installing the NuGet package enables the analyzers on all .NET platforms.

The analyzers themselves are built on top of compiler APIs that shipped with VS2019 16.3, and also shipped in prior .NET SDKs, so this does not seem surprising.

Analyzers themselves would likely work on prior versions of compiler/VS/.NET SDK. However, there are bunch of new analyzer configuration features added recent

[2020-12-14 17:40] Evangelink commented on #4569
To complement @mavasani answer, the target framework of your project doesn't matter, what matters is the building tool (msbuild, visual studio, or dotnet) you use. This tool needs to be up to a certain version to have all features otherwise some recent configurations might not work (if all you are using is `ruleset` file then you should not have any problem).

[2020-12-14 18:08] oahrens commented on #2528
After a temporary solution - same again in Microsoft.CodeAnalysis.NetAnalyzers version 5.0.1

[2020-12-14 18:16] mavasani commented on #2528
@oahrens Can you please clarify your comment? As I mentioned in my last comment, your original report was incorrectas param arrays can be null/Nothing, so CA1062 is expected on the original code that you provided.

[2020-12-14 18:34] buyaa-n commented on #4545
I was thinking ignore any string argument passed for any exceptions, but i am OK to restrict to only PNSE and NIE as they are the main scenario

[2020-12-14 19:31] avivanoff commented on #4566
@Evangelink, is there a way to privately send you the project, that does not require access to DevExpress NuGet feed?

[2020-12-14 19:36] avivanoff commented on #4569
@mavasani, @Evangelink, It would be nice if documentation was updated with these details.

[2020-12-14 19:43] mavasani commented on #4569
@avivanoff We did add a NOTE in the migration page: https://docs.microsoft.com/visualstudio/code-quality/migrate-from-fxcop-analyzers-to-net-analyzers

![image](https://user-images.githubusercontent.com/10605811/102127648-9d4eab00-3e01-11eb-9634-0e8673db755b.png)

[2020-12-14 19:59] Evangelink commented on #4566
Yes sure you can send me an email but do note that I am NOT working at Microsoft, only helping on my free time. I honestly won't do anything with your app but I'd rather have you informed beforehand.

[2020-12-14 20:08] avivanoff opened #4572 "CA1062 false positive with params arguments"
### Analyzer

**Diagnostic ID**: [CA1062](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1062): `Validate arguments of public methods`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

CA1062 false positive with params ar

[2020-12-14 20:11] avivanoff commented on #4566
@Evangelink, I might be missing something, but where do I find your email?

[2020-12-14 20:18] ArturDorochowicz commented on #4569
If I were nitpicky, I could point out that a sentence before that note says "**If you don't want to move to the .NET 5+ SDK** or if you prefer a NuGet package-based model, **the analyzers are also available in the Microsoft.CodeAnalysis.NetAnalyzers NuGet package**", which to me suggests that it works with .net sdk <5 and doesn't indicate any caveats.

[2020-12-14 20:26] Evangelink commented on #4566
amaury[dot]leve[at]gmail[dot]com

[2020-12-14 21:01] mavasani commented on #4572
This is by-design. Please see https://github.com/dotnet/roslyn-analyzers/issues/4502 for context.

[2020-12-14 21:01] #4572 closed

[2020-12-14 21:03] mavasani commented on #4569
IMO, current wording is clear, but tagging our doc experts @Mikejo5000 @gewarren for doc feedback.

[2020-12-15 02:39] avivanoff commented on #4566
@Evangelink, email sent.

[2020-12-15 11:59] Evangelink commented on #4566
Thank you @avivanoff! I was able to track down the issue and I confirm there is a false positive with current implementation.

I will provide a fix soon, in the meantime feel free to ignore this issue.

Minimal repro:

[code]

The issue is due to the fact we loop through all interfaces instead of looking only at direct interfaces.

[2020-12-15 12:24] Evangelink commented on #4566
Woops looks like I did introduce this issue when fixing #4406, I am now scanning ALL interfaces instead of current interfaces and all their interfaces.

[2020-12-15 15:51] Evangelink commented on #4432
I am still quite late but I had time to actually try a couple of implementations and sadly none is working as I would expect. My main is problem is when the enum is declared in another assembly (no syntax reference) because from the symbol point of view I can access a value but in the event of a non power of two value, I cannot tell whether this value is being declared directly or as a reference t

[2020-12-15 15:53] #4566 closed

[2020-12-15 15:54] mavasani commented on #4432
Agreed, that sounds reasonable to me.

[2020-12-15 19:56] oahrens commented on #2528
There is nothing to clarify other than that **you are completely right**. Sorry, I havn't read your comment before leaving mine!

[2020-12-16 14:34] AArnott opened #4579 "CA1508 mis-fires in GetHashCode of generic class"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Do not use ReferenceEquals with value types`

### Analyzer source

VS version: 16.9 Preview 3 (30815.8.main)
**SDK**: .NET SDK 5.0.100 via global.json

Other relevant versions:

[code]

[code]

### Describe the bug

The VS error list and msbuild.exe report that this line:

[2020-12-16 14:35] AArnott commented on #4579
See also #4552. Per the advice in that bug, I updated the analyzer and compiler packages already to see if this was a dupe, but the warning remains.

[2020-12-16 16:07] #4432 closed

[2020-12-16 16:50] Evangelink commented on #4579
I confirm that I can reproduce the issue with `5.0.1` but it seems to be fixed on `master` branch. What's weird is that the issue is still present on the pre-release `6.0.0-preview1.20609.1` and also on branch `release/6.0.1xx-preview1`.

@mavasani I don't know if there are some missing merge or if some were incorrect.

[2020-12-16 16:57] Evangelink commented on #615
@sharwell @mavasani I just wanted to give a little ping on this subject to see if there was some change. In case there isn't, I would suggest to close the ticket as `Won't Fix` based on the current inputs.

[2020-12-16 16:57] Evangelink commented on #3389
Ping @sharwell

[2020-12-16 16:58] mavasani commented on #4579
Thanks a ton @Evangelink for all the analyses. Seems the auto-merge from `master` to `release/6.0.1xx-preview1` are blocked on merge conflicts in https://github.com/dotnet/roslyn-analyzers/pull/4527. I'll go ahead and get that PR fixed up.

Given your confirmation of the fix on master, I am going to close out this issue.

[2020-12-16 16:58] #4579 closed

[2020-12-16 17:00] Evangelink commented on #4076
@cristianosuzuki77 Are you still blocked on this translation?

[2020-12-16 17:04] sharwell commented on #615
The current approach relies on implementation details of the JIT to have the analyzers run during builds. Cases have been observed in the past (no longer have links handy) where analyzer worked on .NET Framework/.NET Core, but silently failed on Mono builds due to differences in this space. There is no good way to predict whether this situation will/will not occur, and the possibility of silent fa

[2020-12-16 17:10] Evangelink commented on #615
Except for the number of projects (and nuget packages) we will end-up with, I don't see any technical difficulty. Is there anything preventing this change to happen?

[2020-12-16 17:12] mavasani commented on #615
@Evangelink Personally, my stance mentioned in https://github.com/dotnet/roslyn-analyzers/issues/615#issuecomment-644132155 still holds. I think most of the planned repo changes have been done, but I see 0 user tickets or bug reports that would cause us to invest in such a heavy refactoring. Note that any changes to split assemblies would need follow-up changes to .NET SDK targets as well as all p

[2020-12-16 17:15] Evangelink commented on #615
Makes total sense :)

[2020-12-16 17:17] sharwell commented on #615
Agree that deprioritization seems better than closing.

[2020-12-16 17:42] Evangelink commented on #3492
@damieng can you think of any case that would be covered by excluding `Expression<Func<T...>>` which wouldn't be covered by checking that the `IQueryable`?

[2020-12-16 17:43] #4337 closed

[2020-12-16 17:44] Evangelink opened #4580 "Simplify CompareSymbolsCorrectlyFix when analyzers target new version of Roslyn"
Do you want to file a follow-up issue to simplify this code and directly use Roslyn public API once we move to the new Microsoft.CodeAnalysis in future? Actually, having said that, I think it is about time to move some of analyzer packages to newer Microsoft.CodeAnalysis API, I can do that next week.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn-analyzers/pull/4534#r54449526

[2020-12-16 17:48] damieng commented on #3492
Expressions aren't tied to IQueryable and I can think of a number of scenarios where you might have standalone expressions - a comprehensive unit test suite for a LINQ provider might look at translation of expression parts themselves independently of IQueryable.

Is there some limitation in the analyzer that makes it harder for it to ignore Expression<Func<T...>> over a method chain of IQueryable<

[2020-12-16 17:51] Evangelink commented on #2994
@sharwell On PR #3328, I have explicitly added a unit-test for the case mentioned before and there is no diagnostic reported. Until I have some reproducible code, I don't know how to fix the issue.

[2020-12-16 17:53] Evangelink commented on #3492
I don't think it is any harder, I was just trying to add a meaningful test that would prevent the analyzer to be changed in the future. I will just add a call to some dummy method taking `Expression<Func<T...>>`.

[2020-12-16 21:12] #3492 closed

[2020-12-16 22:32] JamesNK opened #4584 "Duplication between PublicAPI.Shipped.txt and PublicAPI.Unshipped.txt with nullable attributes"
PublicAPI.Shipped.txt:

[code]

PublicAPI.Unshipped.txt:

[code]

Analyzer correctly reports an error:

[code]

But if there is ~ present on APIs in one of the files, then the duplication is not detected. PublicAPI.Unshipped.txt:

[code]

The warning should still happen to prevent duplication (which could happen because of a bad merge, etc)

[2020-12-16 23:27] buyaa-n commented on #4545
Fixed with #4577

[2020-12-16 23:27] #4545 closed

[2020-12-17 02:19] jmarolf opened #4586 "Audit all tests that require `WindowsOnlyFact` and make them work on linux"
the `WindowsOnlyFact` attribute was applied to several tests in https://github.com/dotnet/roslyn-analyzers/pull/4444 to unblock merging. We should audit the remaining tests and figure out how to enable them again on linux.

[2020-12-17 02:25] jmarolf opened #4587 "GenerateDocumentationAndConfigFiles does not work on linux"
The tool located [here](https://github.com/dotnet/roslyn-analyzers/tree/master/src/Tools/GenerateDocumentationAndConfigFiles) relies on windows specific line endings to work correctly and was disabled in linux builds in https://github.com/dotnet/roslyn-analyzers/pull/4444. We should fix this and enable validation on linux builds

[2020-12-17 03:18] meziantou opened #4589 "CA1822 should exclude members decorated with the JsonPropertyName attribute"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822)

### Describe the improvement

[code]

In this case, changing the property to a static property would change how the object is serialized. The `System.Text.Json.JsonSerializer` doesn't serialize static properties.

I currently use `[SuppressMessage]` on this property. Howeve

[2020-12-17 04:07] yaakov-h opened #4590 "CA1508 false positive in pattern matching"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

### Steps To Reproduce

Compile the fol

[2020-12-17 09:38] Evangelink commented on #4589
Relates to #2983.

We did a change to avoid reporting on settable properties which explains why you have the issue only on the `Type => "ImageObject";` property.

@mavasani I would suggest to close this issue as duplicate but I'll let you decide.

[2020-12-17 09:50] Evangelink commented on #4587
@jmarolf I can't find anything windows specific in these files. Could it be something that was fixed in between versons?

[2020-12-17 10:17] Evangelink commented on #1128
Relates to #4564 and #615

[2020-12-17 10:48] Evangelink commented on #3331
@mavasani Is it ok to use the helper here now?

[2020-12-17 10:56] Evangelink commented on #4178
@mavasani Looks like this can be closed, doc is no longer under the Visual Studio hood.

[2020-12-17 11:35] quasarea opened #4593 "Azure pipeline task does not discover build task properly"
### Describe the bug
When running vsbuild or msbuild task in pipeline
[code]

auto discovery based on build definition does not work, I think you are querying wrong payload:
[code]

when using one by one fallback to timeline payload works, as seen above. unfortunatelly that does not work when using templates and/or multiple jobs on different agents:
[code]

### Expected behavior
Get-VstsEnabledBui

[2020-12-17 13:26] Evangelink commented on #1812
@mavasani I have just made a new try at removing the workaround and we still have a couple of tests failing with `Specified argument was out of the range of valid values. (Parameter 'anonymousFunction')` (e.g. test `LambdaMultipleCallsOsDependentMember_MixedGuardedCalls`).

I am wondering if there is still a bug on roslyn's side.

[2020-12-17 13:35] Evangelink commented on #2891
I confirm that with version `5.0.1` and `6.0.0-preview1.20609.1` it is still not possible to suppress the issue.

@mavasani I am right to assume that the `Suppress or Configure issues` menu for a rule is handled on roslyn's side? I think that's the real issue behind this ticket.

[2020-12-17 14:00] Evangelink commented on #3210
As far as I understand there are 3 cases discussed in this issue:

## No lightbulb option

I understand the performance issue but I don't think the experience is nice from a user point-of-view. I even forgot about this and couldn't understand what was going-on.

First of all I don't understand why we don't see at least the `Configure` part as it shouldn't have any performance impact.

Second, don'

[2020-12-17 14:30] Evangelink commented on #2009
Testing on `master`, it seems we now have 4 children: the variable, the return and the 2 implicit operations `Label` and `Return` mentioned in the `Expected behavior` section.

[2020-12-17 15:18] Evangelink commented on #314
Probably needs to get through the `runtime` team check, cc @mavasani

[2020-12-17 15:20] Evangelink commented on #2890
`CA1062` correctly respects the `excluded_symbol_names` and `excluded_type_names_with_derived_types` user option so I am going to close this ticket.

[2020-12-17 15:20] #2890 closed

[2020-12-17 15:23] Evangelink commented on #2026
@mikadumont @mavasani It's been over a year, I don't know if there is something you do plan to do about it but I think this ticket could be closed as `Won't Fix`.

[2020-12-17 16:27] mavasani commented on #2026
@mikadumont @jmarolf already wrote blog posts about analyzers in the .NET SDK, and we have very good official documentation also on this top at docs.microsoft.com:

## Blogs

- https://devblogs.microsoft.com/dotnet/automatically-find-latent-bugs-in-your-code-with-net-5/
- https://devblogs.microsoft.com/dotnet/how-to-write-a-roslyn-analyzer/
- https://devblogs.microsoft.com/dotnet/write-better-code

[2020-12-17 16:27] mavasani commented on #2026
Closing this issue.

[2020-12-17 16:27] #2026 closed

[2020-12-17 17:12] mavasani commented on #3210
This is a Roslyn feature request to allow diagnostics from last build, which cannot be produced from intellisense, to have associated code actions (at least the suppress and configure ones). This is non-trivial work, and given we have very few compilation end/build-only analyzers, it has always felt like there is not enough value for doing such a feature. Feel free to open a Roslyn issue if you st

[2020-12-17 17:14] mavasani commented on #3210
I think that is sufficient to close this issue.

[2020-12-17 17:15] mavasani commented on #2891
@Evangelink Lets close this as duplicate of the Roslyn feature request that you cited in https://github.com/dotnet/roslyn-analyzers/issues/3210#issuecomment-747455459

[2020-12-17 17:28] #2891 closed

[2020-12-17 17:29] #3210 closed

[2020-12-17 17:30] #4178 closed

[2020-12-17 17:33] mavasani commented on #3331
Seems fine to me.

[2020-12-17 17:37] mavasani commented on #4239
Yes, that is correct. `Microsoft.CodeAnalysis.AnalyzerUtilities` needs  Visual Studio 2019 version 16.3 (16.8 recommended) and `Microsoft.CodeAnalysis.FlowAnalysis.Utilities` needs Visual Studio 2019 version 15.9

There are no plans as of now to publish a fully supported package with guaranteed no API breaks in future. This package is mainly a helper package which will likely have APIs breaks as y

[2020-12-17 17:38] mavasani commented on #4239
I believe that is the case, the CFG will not have any breaking API changes, though the underlying CFG operations and basic block structure can change between Roslyn versions. Feel free to file a new issue on Roslyn repo if you have more questions about CFG API or structure itself.

[2020-12-17 17:53] mavasani commented on #3314
Both VS2017 and VS2019 Microsoft CodeAnalysis VSIX extensions have been removed from the market place. Please refer to https://docs.microsoft.com/visualstudio/code-quality/install-net-analyzers?view=vs-2019 to enable CA rules from the .NET SDK or via `Microsoft.CodeAnalysis.NetAnalyzers` NuGet package.

[2020-12-17 17:53] #3314 closed

[2020-12-17 17:54] #3112 closed

[2020-12-17 17:58] #4568 closed

[2020-12-17 19:53] Evangelink commented on #4239
@andrei-epure-sonarsource I will let you close this ticket if you think all your questions have been answered.

[2020-12-17 21:15] #1602 closed

[2020-12-17 21:44] cristianosuzuki77 commented on #4076
Please consider closing this issue if you are modifying the string and removing the mention to this "that take one".

[2020-12-17 21:56] mavasani commented on #4076
Agreed, we should just remove the `that take one` from the message.

[2020-12-17 21:57] #4323 closed

[2020-12-18 09:06] Evangelink commented on #2915
@mavasani I don't see much to do here.

[2020-12-18 09:08] Evangelink commented on #3135
Ping @jcouv

[2020-12-18 09:13] Evangelink commented on #2934
@mavasani I don't know if we want to do something about this or not. It does bother me sometimes but at the same time I do think there is an increased complexity for local methods, especially when there are some captures.

[2020-12-18 09:25] Evangelink commented on #3030
Is there something we want to do on this rule? I see it is disabled and meant to be replaced by a compiler warning.

Do we want to deprecate this rule and remove it on the `release/6.0.1xx-preview1` branch?

cc @mavasani

[2020-12-18 09:27] Evangelink commented on #3232
@mavasani @dotpaul What's the plan for this ticket?

[2020-12-18 11:05] Youssef1313 opened #4599 "DoNotUseStackallocInLoopsAnalyzer should exist in C# layer only"
It's currently defined here:

https://github.com/dotnet/roslyn-analyzers/blob/126490755be34c24351341b896b4efb84a1de1fe/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/DoNotUseStackallocInLoopsAnalyzer.cs#L10

with a single class that sub-types it.

[2020-12-18 11:58] Youssef1313 opened #4600 "Review RS1004 suppressions"
There are some RS1004 suppressions currently, all of them are in "Core" layer. Consider moving these analyzers to the language-specific layers and see if the warning will go away.

[2020-12-18 12:30] mavasani commented on #4599
This was done to ensure single AnalyzerReleases file in the core layer has all rules.

[2020-12-18 12:30] mavasani commented on #4599
Closing out..

[2020-12-18 12:30] #4599 closed

[2020-12-18 16:34] mavasani commented on #2915
Please see https://github.com/dotnet/roslyn-analyzers/issues/2026#issuecomment-747549515 for links to new and better official documentation on first-party and third party analyzers and blog posts.

[2020-12-18 16:34] #2915 closed

[2020-12-18 16:36] mavasani commented on #4600
I do not think we want to move analyzers to language-specific layers just to workaround suppressions. In fact, I feel the suppression comments that @Evangelink added on each RS1004 suppression acts as a valid documentation on why the support was not added for the second language.

[2020-12-18 16:37] #4600 closed

[2020-12-18 16:42] mavasani commented on #2934
It would be fine to add an option (both for the analyzer and the command line Metrics tools) to control whether or not local functions are reported separately or clubbed with containing top level method. We probably want the default to match the current behavior to avoid breaking change.

[2020-12-18 16:45] mavasani commented on #3030
I do not think we want to deprecate CA1062. I am also not sure if it is planned to be replaced with a compiler warning. It is disabled by default as it uses dataflow analysis, and hence can be noisy + expensive to be enabled by default.

I think we certainly want to update CA1062 messaging to remove the words that recommend use of Code contracts.

[2020-12-18 17:22] mavasani commented on #4076
@cristianosuzuki77 I see that you closed the issue, but the resource strings are still not fixed: https://github.com/dotnet/roslyn-analyzers/blob/5b9114fd4de2cbfba4b9b3dc979b6f48cf91de6c/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/MicrosoftNetCoreAnalyzersResources.resx#L1353-L1361

Re-opening to get the resx strings fixed, I'll create a PR.

[2020-12-18 17:23] cristianosuzuki77 commented on #4076
Apologies.

[2020-12-18 17:23] Youssef1313 commented on #4317
@mavasani The currently used version in the repository seems to have the fix, but there is still an issue as there is no warning due to outdated links.

See:

https://github.com/dotnet/roslyn-analyzers/blob/126490755be34c24351341b896b4efb84a1de1fe/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md#L123-L125

CA2014 has the correct link (because it was recently updated due to another modification),

[2020-12-18 17:28] mavasani commented on #4317
@Youssef1313 Analyzer allows manual changes to last column (NOTES), any changes to first three columns will be verified. It seems fine to update all the analyzer releases file to have up-to-date doc links.

[2020-12-18 18:52] mavasani commented on #3983
Alright, so I think I'd like to get opinions on few more folks here - tagging @sharwell @jmarolf @stephentoub

IMO, the pattern described in the issue where an abstract type seals off `bool Equals(object)` seems very weird to me, and certainly not something I have seen often. The more common and recommended pattern would be that `bool Equals(object)` will be an unsealed override for unsealed types

[2020-12-18 19:00] jcouv commented on #3135
@Evangelink @mavasani Not sure what we could do here. The `ToDisplayString` printing `ValueTuple` instead of `System.ValueTuple` was incorrect.
We could try to do something fancy (have publicAPI analyzer recognize this and offer to fix the file), but that feels much riskier than just recommending to do a search&replace to fix the file for people who run into this issue.

[2020-12-18 19:07] mavasani commented on #3983
NOTE: I am fine with tightening the CA1067 to bail out on type chains where unsealed type seal `bool Equal(object)` to avoid the false positive assuming user is doing something wonky. However, this pattern does not seem to warrant a new analyzer rule CA1071 as proposed in https://github.com/dotnet/roslyn-analyzers/pull/3992 to detect and verify such patterns.

[2020-12-18 21:13] #4076 closed

[2020-12-18 22:23] #3331 closed

[2020-12-19 00:59] manfred-brands commented on #3983
The sealing of the method is irrelevant and only done so derived classes cannot add a useless override.
The concept is that every derived class has to override the immediate base class `bool Equals(BaseClass)` not always `bool Equals(object)`.

Let me try a different example:
[code]

I then have two derived classes: Banana and Lemon both Yellow.
Both implementing the suggested override `bool Equal

[2020-12-19 07:51] Youssef1313 commented on #4600
@mavasani If I understood correctly, that means that analyzers in language-specific layers shouldn't sub-type DiagnosticAnalyzer directly, but should instead sub-type an abstract DiagnosticAnalyzer in the "Core" layer. That's currently not maintained for some analyzers. So the Shipped analyzers file in "Core" layer contains "some" language-specific analyzers, but not all.

For example, CA2224 is o

[2020-12-19 20:50] hrkeni commented on #4537
I would like to take a crack at this

[2020-12-20 00:52] xtqqczze commented on #4537
@hrkeni It would be great if you could. I am happy to help with tests.

[2020-12-20 18:39] xtqqczze opened #4614 "Analyzer proposal: Use String.Contains(char) instead of String.Contains(String)"
**Category:** Microsoft.Usage

**Fix is breaking or non-breaking:** Non-breaking

### Cause

This rule locates calls to `Contains(String)` when the string consists of a single `char`, and suggests using `Contains(char)` instead

### Rule description

When `Contains(String)` is used with a single `char`, the call can be safely substituted with `Contains(char)`.

### Additional context

dotnet/runti

[2020-12-20 19:08] #4317 closed

[2020-12-21 08:00] stortina opened #4618 "Add analyzer to support Microsoft coding guidelines about when not to use implicit typing"
Analyzers for these Microsoft coding conventions:

- _Do not use var when the type is not apparent from the right side of the assignment._
- _Do not use implicit typing to determine the type of the loop variable in foreach loops._

Found here: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions

[2020-12-21 09:15] Evangelink commented on #3030
My comment was based on the comment left next to the `Disabled` state of the rule (see
https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/ValidateArgumentsOfPublicMethods.cs#L27)

Do we want to simply remove this mention or change it to recommend [System.Diagnostics.Contracts.Contract](https://docs.microsoft.com/dotnet/api

[2020-12-21 09:28] Evangelink commented on #3983
Equality in the context of inheritance is always a bit of a nightmare...

Reading again at all thread, I don't know if I wouldn't be more inclined to tweak the rule to force having all overloads of `Equals` on a non-sealed type `virtual`/`abstract` and to force any sub-type adding any field to override the various equality overloads. So in the case of the `Fruit`, `Banana` and `Lemon` would have t

[2020-12-21 09:35] Evangelink commented on #4569
Ping @Mikejo5000 and @gewarren

[2020-12-21 10:16] Evangelink commented on #4513
@mavasani @Youssef1313 I will do a PR to fix the `IReadOnlyCollection` and `ISet`, if you still want to go on with allowing the various suffixes when implementing collection and enumerable, please create a separate ticket.
As said previously, I am not really a big fan of this. If you want to implement a set then you should implement `ISet` or accept the suppression.

[2020-12-21 11:22] Evangelink commented on #4268
Not sure whether there is any interest in keeping this ticket open. We usually try to suggest the new API during reviews.

Shall we ban the use of the other overload and add suppressions for all existing methods?

cc @mavasani

[2020-12-21 13:51] SebastianSchumann commented on #3451
I still have the problem using VS 16.8.3 with Microsoft.CodeAnalysis.NetAnalyzers 5.0.1.
The build error list does not list this error but if I open a file that contains such a null-guard test method the error is still reported as an error.

[2020-12-21 16:15] sharwell commented on #4268
That could work as a starting point.

Seems like we could keep this issue open for someone to eventually fix the existing cases and remove the suppressions.

[2020-12-21 16:21] Evangelink commented on #4268
One case which isn't easy with the inline markup is when we test user-option and for some of them we have the error and for others we don't. @sharwell Do you think it could be worth to update the test sdk to allow some kind of `.EnableWhen(Func<bool>)` which would allow to always define the markup syntax but control whether or not the issue is reported?

[2020-12-21 16:30] sharwell commented on #4268
The `{|#0:...|}` markup works for that case. If there is no corresponding explicit diagnostic with `WithLocation(0)`, then location `0` in markup is simply ignored.

[2020-12-21 16:32] Evangelink commented on #4268
I have had test failures saying it cannot find any diagnostic for the markup ID XXX

[2020-12-21 16:47] Evangelink commented on #4345
@NN--- Could you please try again with the latest version of the analyzers? I cannot reproduce using your example on `master` not on the released analyzers. Maybe there is an extra call or something you trimmed from your example.

[2020-12-21 16:53] Evangelink commented on #3707
@mavasani @sharwell We are stuck on this issue which seems to affect 2-3 analyzer, would it be possible for you to have a look or ping someone who could help here?

[2020-12-21 16:56] Evangelink commented on #4414
Seems to relate to #4470 and #4568, issues have been fixed and I have just tested on master, there is no longer any issue.

I am closing the issue, if you are still affected, could you please ping us and ideally provide some reproducer and the version of the analyzer you are using?!

[2020-12-21 16:59] Evangelink commented on #4399
Hey @haacked sorry for the delay in reviewing this issue. I am not really familiar with the use-case you are describing, I am just supposed to copy-paste the code in a new project?

Also, would you mind giving a shot with the latest version of the analyzer?

[2020-12-21 17:10] Mikejo5000 commented on #4569
Regarding features like AnalysisMode, the VS docs generally specify that VS 2019 16.8 is required. For <5 .NET SDK, the wording seems OK to me. I would be inclined to leave it as-is.

[2020-12-21 17:12] NN--- commented on #4345
Is the latest published with .NET 5 ?

[2020-12-21 17:18] Youssef1313 commented on #4618
This should fall into the IDE `var` preferences rule. Related issue https://github.com/dotnet/roslyn/issues/29657

[2020-12-21 17:21] sharwell commented on #4618
This is implemented as [IDE0007 and IDE0008](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0007-ide0008) in [dotnet/roslyn](https://github.com/dotnet/roslyn).

[2020-12-21 17:21] #4618 closed

[2020-12-21 17:24] sharwell commented on #3707
I'm not sure you'll be able to use `LookupSymbols` alone here, but if you can, I'm guessing you could pass the position right before the `}`.

[2020-12-21 17:37] sharwell commented on #4268
That would occur for the syntax `{|ID:...|}` and `[|...|]`, but would not occur for `{|#0:...|}`.

[2020-12-21 17:42] sharwell commented on #3983
As best I can tell, the derived type should not be adding `IEquatable<DerivedClass>`. Does this analyzer still report a warning for this case?

[code]

[2020-12-21 18:35] NN--- commented on #4345
Trying with .NET 5.

I have a stream wrapper and have a warning on invocation.
Can this be recognized as a special case ?

[code]

[2020-12-21 18:51] sharwell commented on #4513
It seems reasonable to _allow_ the `Set` suffix for `IEnumerable<T>` even though it would not be the _preferred_ suffix. If `PooledConcurrentSet` doesn't need (or use) the complexity of the members added by `ISet<T>`, it shouldn't be required to implement them. The result is still a set-like type.

If the type implements `ISet<T>` or [`IReadOnlySet<T>`](https://docs.microsoft.com/en-us/dotnet/api/

[2020-12-21 20:47] meziantou opened #4623 "CA1822 / CA1024 False-positive for awaitable pattern"
### Analyzer

- **Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822)
- **Diagnostic ID**: [CA1024](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1024)

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**:

[2020-12-21 23:01] sharwell opened #4624 "RS1025 false positive for overridden initialize method"
RS1025 should not report a diagnostic on the following code:

[code]

[2020-12-21 23:02] sharwell opened #4625 "RS1026 false positive for overridden initialize method"
RS1026 should not report a diagnostic on the following code:

[code]

[2020-12-21 23:27] CodeBlanch opened #4626 "CA1508 false positive on "Create" methods in nullable context"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508)

### Analyzer source

[code]
### Describe the bug

There seems to be some cheating going on with CA1508 where if a method is named `Create*` the rule assumes the return will be non-null.

![image](https://user-images.githubusercontent.com/28367120/102831403-95ae7980-43a0-11e

[2020-12-22 02:09] Bosch-Eli-Black opened #4627 "CA1309 reported for string.Equals(string)"
### Analyzer

**Diagnostic ID**: [CA1309](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1309): `Use ordinal StringComparison`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

This following piece of code produces

[2020-12-22 11:38] motz-art opened #4628 "Ignore parameters used to initialize read-only properties of custom Exceptions."
### Analyzer

**Diagnostic ID**: [CA1032](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1032)

### Describe the improvement

Consider Exception with required read only property that have to be initialized from constructor e.g.:

[code]

As of now this code will trigger CA1032, but according to https://github.com/dotnet/docs/issues/22046 it is absolutely ok to s

[2020-12-22 12:40] Evangelink commented on #4513
Looking back at the implementation we do allow the `Collection` suffix for `Queue`, `Stack` and other specialized collections so I am fine with allowing specialized suffix for generic collections. I will update the PR.

[2020-12-22 14:56] ackginger opened #4629 "Globalization rules should not be raised when InvariantGlobalization is set"
### Analyzer

https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/globalization-warnings

### Describe the improvement

Currently these rules are all firing (e.g. CA1310 Specify StringComparison for correctness) despite having InvariantGlobalization turned on in the project file

[code]

as per https://github.com/dotnet/runtime/blob/master/docs/design/features/globaliz

[2020-12-22 16:19] Evangelink commented on #4629
Interesting, I wasn't aware of this option. I think this suggestion makes sense.

@mavasani there is a little helper (I think you wrote it) to read project option, do you know if it also reads the json and environment variables?

[2020-12-22 16:36] Evangelink commented on #4628
I don't know about that, [this documentation page](https://docs.microsoft.com/dotnet/standard/exceptions/how-to-create-localized-exception-messages) seems to suggest that the 3 standard constructors should still be available, you can create additional constructors if you want.

@mavasani I don't remember who was part of the people writing the guideline book who could give some advice here.

[2020-12-22 16:52] Evangelink commented on #4627
I think the idea of this rule is not only to catch incorrect configurations but also to require an explicit intent to be written. So I would think that this isn't really a false-positive.

@mavasani WDYT? We can go into a middle-ground option by introducing a user-option that would prevent the issue on known good cases.

[2020-12-22 17:05] Evangelink commented on #4345
Thanks for the test and the new code snippet. The warning is not raised on the `ReadAsync` override but on the call (last line of code). I don't see any problem with that, could you please explain why do you think there is a problem? You could replace `buffer, offset, count` with `buffer.AsMemory(offset, count)`.

@carlossanlop Could you confirm that I am not saying something stupid here?

[2020-12-22 17:07] Evangelink commented on #3983
No complain with `"Microsoft.CodeAnalysis.NetAnalyzers" Version="5.0.1"`.

[2020-12-22 17:08] NN--- commented on #4345
My intent is to make a Stream wrapper, therefore I want to forward to the exact method signature.

[2020-12-22 17:08] Evangelink commented on #4268
I am pretty sure I saw this behavior but I can't repro it so sorry for the comments :s

[2020-12-22 17:10] Evangelink commented on #4345
I would suggest to suppress the issue in this case then. But I will let @carlossanlop decide.

[2020-12-22 17:10] #4569 closed

[2020-12-22 17:18] JuanZamudioGBM opened #4630 "CA2225: named alternates, allow 'As' instead of 'To'"
### Analyzer

**Diagnostic ID**: [CA2225](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2225)

### Describe the improvement
It appears that using `As` as prefix for methods that convert an object is used increasingly in .NET (AsSpan, AsMemory, AsReadOnlySpan, etc.). So, the rule should allow methods named ToObject and AsObject.

### Describe suggestions on how

[2020-12-23 07:58] Youssef1313 commented on #4628
@Evangelink I was the author of that documentation page, and to be honest, I don't remember why I don't have a studentName parameter in all constructors :smile:

I think we need to find some examples from the .NET runtime and see what they do, and update both the rule and the doc page.

[2020-12-23 08:07] Youssef1313 commented on #4626
@mavasani This was probably fixed in #4554
A test will be needed to confirm and prevent regressions.

[2020-12-24 12:52] Youssef1313 commented on #4630
That sounds reasonable to me.

@Evangelink @mavasani What are your opinions?

[2020-12-24 15:38] Evangelink commented on #4630
I would say this makes sense too but I am wondering if we should always allow `As` or if we should do it only for some types. I can't say if that's the rule but it seems that all `AsXXX` are related to either `struct` or non-concrete types (there is a specific word which I forgot about) like `AsEnumerable`.

Let's wait for @mavasani or @sharwell

[2020-12-24 20:32] Evangelink commented on #4623
Thanks for reporting these cases!

I really hate magic methods... It just make everything insanely complex to handle.

[2020-12-24 22:50] sharwell commented on #4630
It seems like `As` is used more for extension methods where concession operators do not apply. Are there clear examples of the BCL adopting the new prefix in place of `To` in the context of this rule?

[2020-12-25 21:09] mihe opened #4634 "CA1024: False positive for special method GetPinnableReference"
### Analyzer

**Diagnostic ID**: [CA1024](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1024): Use properties where appropriate

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

Rule CA1024 doesn't treat `GetPinnableRefe

[2020-12-28 10:23] skrysmanski opened #4636 "CA2000: False-positive when IDisposable is passed to wrapper object"
### Analyzer

**Diagnostic ID**: [CA2000](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000): `Dispose objects before losing scope`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

CA2000 is reported (for `new HttpClie

[2020-12-29 11:59] Denis535 commented on #3427
@sharwell

What's wrong here?

    var symbols = new HashSet<ISymbol>( SymbolEqualityComparer.Default );

Also how does it work? Isn't NRT compile time only? Or it's used only by analyzers?

[2020-12-29 12:20] KrisVandermotten commented on #3427
@Denis535

Nothing. That's a known bug, see #4568.

[2020-12-30 03:05] AtOMiCNebula opened #4637 "CA1508 false positive with for-loop on .NET 5"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

.NET 5.0.101 SDK (and VS 2019 v16.8.3), repros with or without NetAnalyzers v5.0.1 package manually installed.

### Describe the bug

I was writing out some code for a personal project using the new .NET 5 SDKs that were j

[2020-12-30 13:09] JohanLarsson opened #4638 "CA1508 should not warn when pattern matching with type parameter"
[code]

![image](https://user-images.githubusercontent.com/1640096/103353230-9f269880-4aa8-11eb-9a4f-f372c24e3439.png)

[2020-12-31 03:55] austinw-fineart opened #4640 "Microsoft.CodeAnalysis.NetAnalyzers doesn't work on old csproj projects after migrating to PackageReference"
### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.1 (Latest)

### Describe the bug

Microsoft.CodeAnalysis.NetAnalyzers doesn't work on old csproj projects.

### Steps To Reproduce

1. Create new ASP.NET Web Application (.NET Framework)
2. Add the Microsoft.CodeAnalysis.NetAnalyzers pa

[2020-12-31 11:03] Evangelink commented on #4640
Seems to be working for me for ASP.NET, console and WPF projects (I haven't tried others).

[2020-12-31 17:16] jnm2 opened #4645 ""Do not catch general exception types" should recognize common exception marshaling patterns"
### Analyzer

**Diagnostic ID**: [CA1031](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1031)

### Describe the improvement

Certain well-known patterns should not need suppression because it is clear that the exception is being necessarily marshaled for handling somewhere else. For example:

[code]

### Describe suggestions on how to achieve the rule

If the c

[2020-12-31 19:41] bartdesmet opened #4651 "CA1822 - Indexers cannot be marked as static"
Using .NET 5.0 in VS2019 16.8.3:

[code]

More version info:
[code]

[2021-01-01 12:15] bartdesmet opened #4652 "CA1829 - Use "Count" property instead of Enumerable.Count() edge case when implementing IEnumerable<T>"
The real context is an `IQueryable<T>` implementation where an `int Count` property is implemented by calling `Queryable.Count(this)`, which triggers remote query execution based on an expression tree that has the `Count()` method call in it, thus resulting in a service-side execution. The simpler repo is shown below:

[code]

Applying the quick fix here results in a recursive invocation of the `C

[2021-01-01 20:02] JohanLarsson opened #4653 "CA1508 should not warn when string.IsNullOrWhiteSpace(string!)"
[code]

![image](https://user-images.githubusercontent.com/1640096/103445463-a7cbca00-4c74-11eb-9385-09e1ff317376.png)

[2021-01-02 00:59] Kuinox opened #4654 "Inline temporary variable produce invalid code with the new instantiation shorthand."
Hello, I don't know if this is the correct repo because I don't know if this codefix is a Roslyn Analyzer or a Visual Studio thing.

### Analyzer

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.101](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bug

[2021-01-02 05:52] Youssef1313 commented on #4653
This was already fixed in #4439

Related unit test:

https://github.com/dotnet/roslyn-analyzers/blob/e8d8d621d066bbf199e4f7c34fbedbefc6c9ea2d/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/AvoidDeadConditionalCode_NullAnalysis.cs#L6887-L6914

[2021-01-02 13:43] JohanLarsson opened #4655 "Should CA1825 warn when multitargeting?"
[code]

When `<TargetFrameworks>net45;netcoreapp3.1</TargetFrameworks>`

Suppressing it via pragma brings up IDE0079

The way I found to satisfy both is on the clumsy side:

[code]

[code]

Is probably cleanest.

[2021-01-02 14:21] Youssef1313 commented on #4655
Yes, I think it should warn when multitargeting.

The correct fix IMO is:

[code]

[2021-01-02 14:27] #4655 closed

[2021-01-02 15:09] JohanLarsson opened #4656 "AvoidDeadConditionalCode sloing down build"
![image](https://user-images.githubusercontent.com/1640096/103460199-af42b000-4d14-11eb-8bb2-052ced617ba8.png)

Smal project, couple of thousand lines of code.

Repro: https://github.com/DotNetAnalyzers/WpfAnalyzers/tree/fc0a133b50d1c7b5741cf2ea9187f955ee56cd65

[2021-01-03 19:06] huoyaoyuan commented on #4636
CA2000 is very problematic because there's no correct annotation for ownership and wrapping. The inferred annotation is probably wrong for service consumers.

[2021-01-04 02:15] austinw-fineart commented on #4640
Oh that's right, it's been migrated to PackageReferences as well.

[2021-01-04 02:54] austinw-fineart commented on #4640
Hm, I can't actually reproduce this with a clean project setup so something else is likely causing it. I'll be closing this then.

[2021-01-04 02:54] #4640 closed

[2021-01-04 11:59] rcatley opened #4657 "PureAttribute in another assembly ignored by DoNotIgnoreMethodResultsAnalyzer CA1806 during the build"
This is an update on https://github.com/dotnet/roslyn-analyzers/issues/3265.
While I haven't tested against v3.3.0, it is still an issue in 3.3.1.
3.3.2 is deprecated in favour of .NETAnalyzers integrated into the 5.0 SDK. (Visual studio 2019 version 16.8 or higher required)
For this new approach, reproduction here: https://github.com/rcatley/CrossAssemblyAnalysisMissed

[2021-01-04 16:47] mavasani commented on #4651
I am still trying to understand what realistic user code requires to write an indexer that does not access instance data. I feel we should Won't fix this issue until we have a valid use case.

[2021-01-04 16:56] Evangelink opened #4658 "CA1823 and IDE0052 overlap"
The 2 analyzers above have overlapping behaviors, I would suggest to keep only one to reduce support.

[2021-01-04 16:56] Evangelink commented on #4658
Tagging @mavasani

[2021-01-04 16:59] mavasani commented on #4658
Agreed: https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/Maintainability/AvoidUnusedPrivateFields.cs#L31

As we discussed in the past, unnecessary code rules are a grey area on whether it belongs to style or quality, and we have decided to stick with them being IDE rules in unnecessary rules bucket as mos

[2021-01-04 17:00] mavasani commented on #4658
Please target https://github.com/dotnet/roslyn-analyzers/tree/release/6.0.1xx-preview1 for any rule removal.

[2021-01-04 17:07] Evangelink opened #4659 "Bump code style package to v3.9.x after VS2019 16.9 is released"
Build enforcement needs us to move to 3.9.x code style package after VS2019 16.9 is released.

https://github.com/dotnet/roslyn-analyzers/pull/4643#pullrequestreview-560610357

[2021-01-04 18:21] carlossanlop commented on #4345
@NN--- since your intention is to explicitly call the wrapped method with the same signature, the best approach is to suppress the message, as @Evangelink suggested, because the analyzer does not know that you actually want to call the obsolete `ReadAsync/WriteAsync` methods.
Let us know if you have any more questions. I'm closing this since it's a Won't Fix.

[2021-01-04 18:21] #4345 closed

[2021-01-04 18:44] bartdesmet commented on #4651
This was caught in two independent places:

1. A configuration component that's using indexers to read settings but is backed by a global configuration facility internally (originally the registry). It doesn't need to access instance state and because C# doesn't have static indexers, it was built as `config.Settings["bar"]` where `Settings` is an object that has a `string this[string]` indexer tha

[2021-01-04 18:51] mavasani commented on #4651
Is there a reason that this needs to be an indexer as opposed to a static method with a string parameter? Note that if we feel such coding style of using indexers for accessing settings backing store instead of instance data is common, @Youssef1313's current PR would indeed make sense and we can completely avoid analyzing indexers.

[2021-01-04 19:06] #4258 closed

[2021-01-04 19:39] bartdesmet commented on #4651
This particular concrete case is more of a compat thing; it started out that way and we can't change it anymore because we'd break folks on the public API front. Also, at the time this was designed, it felt like the most natural way to access settings which are dictionary-like.

I once suggested static indexers to the LDM (back in late 2007), but that didn't go anywhere. General indexed properties

[2021-01-04 19:41] mavasani commented on #4651
Yes, absolutely. Even if we continue reporting an analyzer warning with a different message here, the code fix has to be fixed to never be offered on indexers.

[2021-01-04 23:03] bartdesmet commented on #4651
Cool; glad to hear. Then it's just a matter of deciding how "common" a use case like this is.

[2021-01-04 23:59] vvuk commented on #3427
I think part of the issue here is that the message -- `Compare symbols correctly` -- is both aggressive (e.g. read it with an implicit "... you idiot" at the end of it) and unhelpful.  Perhaps:

`Symbol comparison should explicitly use SymbolEqualityComparer.Default or SymbolEqualityComparer.IncludeNullability to indicate proper intent`

[2021-01-05 00:07] ChadNedzlek commented on #3427
The unhelpfulness is the biggest problem for me.  Requiring some having an IDE available to dechiper the correct action to take to fix an error message is rough.  Sometimes I'm developing with VIM over SSH... code fixes are a great and very helpful feature, but they can't be required to compile a program without errors, at least, not for me.  I've started just disabling analyzers for this reason.

[2021-01-05 02:41] CyrusNajmabadi commented on #3427
PRs always welcome :-)

[2021-01-05 06:38] bartdesmet opened #4665 "CA1825 - Avoid unnecessary zero-length array allocations deemed dangerous in expression trees"
[code]

suggests changing to using `Array.Empty<int>()` which LINQ query providers may not expect. In fact, the C# compiler avoids optimization of `new int[0]` to `Array.Empty<int>()` for empty `params` arrays inside expression trees, see https://github.com/dotnet/roslyn/issues/1103. Therefore it's questionable than any analyzer suggests such a rewrite, even for manual empty "new array initializat

[2021-01-05 13:22] #4651 closed

[2021-01-05 13:23] mavasani commented on #4651
@bartdesmet Thank you for the feedback - we have taken your suggestion and excluded indexers from CA1822 analysis, so no CA1822 diagnostic or code fix will be offered for indexers.

[2021-01-05 13:27] #1508 closed

[2021-01-05 13:31] #4623 closed

[2021-01-05 13:39] mavasani commented on #4665
@Evangelink Another case you may want to handle excluding in expression tree context.

[2021-01-05 18:03] Youssef1313 opened #4670 "Banned API Analyzer: Ban all overloads once."
@Youssef1313 That would be a feature request for the Banned API analyzer. Feel free to file one on the roslyn-analyzers repo.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn/pull/50031#discussion_r552092400_

[2021-01-05 18:10] jmarolf commented on #3427
We should update the error message to be more clear and offer a code fix. I would appreciate it if everyone that doesn't see the codefix appear would file a bug. The message change should be trivial lets also do that.

[2021-01-05 18:13] weltkante commented on #3427
already did, #4539

[2021-01-05 19:06] Youssef1313 commented on #4670
The asterisk `*` may be used to denote that, the same way it's done for xref links in documentation repos (e.g. dotnet/docs)

[2021-01-05 19:18] mavasani commented on #4670
Another couple of possible approaches:
1. Treat doc IDs beginning with `M:`, i.e. methods, but without any parentheses `(` and `)`, as indicating all overloads.
2. Allow complete wild-card pattern matching: @Evangelink implemented a regex based mechanism for matching doc comment IDs in https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/Compiler/Options/SymbolNamesWithValueOption.

[2021-01-05 20:40] bartdesmet opened #4672 "CA1508 - False positive for null check in finally block"
[code]

The constructor of `D` can throw and leave `d` to be `null`, so the `finally` block correctly checks for `null`. However, CA1508 suggests to remove the null check.

[2021-01-05 21:24] bartdesmet commented on #1649
FWIW, I've just hit several instances of this for the double-checked locking pattern, e.g.:

[code]

Maybe some typical popular patterns could be checked for even if not every single multi-threaded scenario can be addressed in a general manner?

[2021-01-06 00:28] bartdesmet commented on #4638
Hit some instances of this today as well. Similar example:

[code]

[2021-01-06 11:03] Youssef1313 commented on #4658
Before removing CA1823, I'd suggest enabling it in roslyn repo to see if it detects any cases that IDE0052 doesn't

[2021-01-06 17:47] twastvedt commented on #4429
I had some success looking at the titles for the various pages nested next to this one: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/. Same for the neighboring style rules. For example, there's a page "Performance rules" which lists the rules in the "-performance" category. Not sure how that translates to the categories with multiple words in their names. I also

[2021-01-06 18:36] avivanoff opened #4673 "Missing CA5394 rule"
It looks like Microsoft.CodeAnalysis.NetAnalyzers is missing [CA5394](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca5394).

[2021-01-06 18:42] Youssef1313 commented on #4673
The rule is disabled by default, have you enabled it?

[2021-01-06 18:48] mavasani commented on #4673
I do see this rule include in the package. Can you double check?

[2021-01-06 18:50] avivanoff commented on #4673
Just. It has to do with "inheritance" of global analyzer config, or to be correct, the luck of inheritance the way it works with rulesets.

[2021-01-06 19:34] mavasani commented on #4673
@avivanoff To be clear, you were able to enable the rule and this issue can be closed?

[2021-01-06 19:36] avivanoff commented on #4673
Yes.

[2021-01-06 19:36] #4673 closed

[2021-01-07 09:06] huoyaoyuan opened #4676 "CA1010 should not fire if readonly interface implemented"
### Analyzer

**Diagnostic ID**: [CA1010](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1010)

### Describe the improvement

Sometimes, a type implements `IReadOnlyList<T>` instead of `IList<T>` to clarify readonly-ness. However, there are not readonly version for non-generic `IList`. CA1010 will fire for this case, and can be avoided.

### Describe suggestions on ho

[2021-01-07 22:32] thomaslevesque opened #4677 "CA1812 false positive on internal static class with only private members"
### Analyzer

**Diagnostic ID**: [CA1812](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1812): `Avoid uninstantiated internal classes`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.101](https://dotnet.microsoft.com/download/dotnet/5.0)

##

[2021-01-08 00:23] mavasani commented on #3427
Let's use this issue to improve the diagnostic message.

[2021-01-08 00:25] mavasani commented on #4410
Tagging @Evangelink

[2021-01-08 00:31] mavasani commented on #4677
Tagging @Evangelink - this might have been fixed recently. Can you please verify?

[2021-01-08 00:41] mavasani commented on #4670
@Youssef1313 @Evangelink Feel free to pick it up if you are interested.

[2021-01-08 02:38] DataJuggler opened #4678 "CA 1416 Should not be turned on by default for .Net 5 Projects."
I converted a project that has worked on WinForms for 15 years, and now you decide to show a message wrongly that says 'This project is supprted on Windows 7.0 and later. I am on Windows 10, and I created a new .Net5 Class Library to hold my project:

Nuget
DataJuggler.Win.Controls

Git Hub:
https://github.com/DataJuggler/DataJuggler.Win.Controls

I completely converted this to .Net 5 before I rea

[2021-01-08 03:48] mavasani commented on #4678
See https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#analysismode to disable all CA rules by default.

[2021-01-08 03:50] DataJuggler commented on #4678
Thank you. I closed Visual Studio and reopened it and the issue went away.

Sorry to vent. 3 beers and a stolen election and I didn’t storm the white house, but I vented to you.

Less harm.

Thanks again

From: Manish Vasani <notifications@github.com>
Sent: Thursday, January 7, 2021 9:49 PM
To: dotnet/roslyn-analyzers <roslyn-analyzers@noreply.github.com>
Cc: Corby Nichols <corby@datajuggler.com>;

[2021-01-08 10:41] Youssef1313 commented on #4677
https://github.com/dotnet/roslyn-analyzers/pull/4395 excluded static classes from analysis. Most likely this is already fixed.

[2021-01-08 12:35] thomaslevesque commented on #4677
Where can I get this fix? Do I have to install the package? Or will it be included in the .NET 5 SDK?

[2021-01-08 14:13] mavasani commented on #4677
Please install the 5.0.3 version of the NetAnalyzers NuGet package.

[2021-01-08 18:30] Evangelink commented on #4677
I cannot reproduce with your example even on FxCop 3.8.0, could you confirm that the code sample is correct and/or using NetAnalyzers 5.0.3 fixes the issue?

[2021-01-08 22:52] jcouv commented on #3135
Confirmed with @mavasani that search&replace is the recommended course of action to address the issue.
I'll go ahead and close this issue as Won't Fix. Sorry for the trouble.

[2021-01-08 22:52] #3135 closed

[2021-01-08 23:40] thomaslevesque commented on #4677
I can reproduce it using the SDK's built-in analyzers, or with the NetAnalyzers 5.0.0 package, with `<AnalysisMode>AllEnabledByDefault</AnalysisMode>`. I no longer reproduce it with NetAnalyzers 5.0.1 or 5.0.3.

So I guess the problem is fixed, just not in the SDK built-in analyzers yet... Will the fix be included in a future update of the SDK?

[2021-01-08 23:44] mavasani commented on #4677
It will be available in the .NET 6.0 SDK. It will not be available with patch releases/updates for .NET 5.0 SDK, because this analyzer is not a warning by default, hence will not meet the bar.

[2021-01-08 23:44] #4677 closed

[2021-01-09 03:04] carlossanlop commented on #3427
I'm also reproing this as well when defining a dictionary with `ISymbol` as the `TKey`:

![image](https://user-images.githubusercontent.com/1175054/104081539-292adb80-51e4-11eb-90b5-6e8621e74f59.png)

[2021-01-10 18:49] Youssef1313 commented on #4678
In the repository you linked, I see your TFM as `net5.0-windows`, so AFAIK, the warning shouldn't occur.

Tagging @buyaa-n

[2021-01-10 18:52] DataJuggler commented on #4678
There is a bug now if you create a new Windows Forms .Net project, which is supposed to be for .Net 5, creates the new project as as .Net Core 3.1.

This might have something to do with the error. I have to change every new WinForms .Net project to .Net 5.

The error did go away when I closed Visual Studio so at least I know what to do. I have trained myself that is the first thing I do if any thi

[2021-01-10 19:18] Youssef1313 commented on #4678
@DataJuggler So the issue is that when you create a WinForms project from the template shown in the following image, the created project isn't .NET 5.0, but a .NET Core 3.1 app.

![image](https://user-images.githubusercontent.com/31348972/104132707-bc504680-5387-11eb-94aa-876e7265b921.png)

I verified this using 16.8.2, and it indeed looks like a bug. This needs to be redirected to the appropriate

[2021-01-10 20:56] sharwell opened #4682 "Prefer 'token.IsKind(None)' to 'token == default'"
### Describe the problem you are trying to solve

Comparing a `SyntaxToken` to `default(SyntaxToken)` is much slower than comparing `SyntaxToken.RawKind` to `0`. The latter should be preferred.

### Describe suggestions on how to achieve the rule

Detect cases where a `SyntaxToken` is directly compared with `default(SyntaxToken)`, and offer to convert the code to either `token.IsKind(SyntaxKind.No

[2021-01-11 09:15] andrei-epure-sonarsource commented on #4239
thank you @mavasani for the answers and @Evangelink for the help!

[2021-01-11 09:15] #4239 closed

[2021-01-11 19:16] buyaa-n commented on #4678
I am not sure if .net5 is available in that version, when i create same project with VS preview version i see an option to choose target framework from .Net 5.0 or  .NET Core 3.1 app.
![image](https://user-images.githubusercontent.com/45579687/104227114-bdbc5600-53fd-11eb-990a-c7efd74014fd.png)
Plus don't see any warnings for both targets, used Version 16.9.0 Preview 3.

That is right, it should n

[2021-01-11 19:29] DataJuggler commented on #4678
As I mentioned, once I closed Visual Studio and reopened it went away.

I am on the latest Visual Studio, 16.8.3. Is this the screen the option for Target Framework is on in the Preview version? (Just making sure I am looking in the right place).

I have seen the Target Framework option for other templates, but I do not see a place to enter Target Framework for a new .Net 5 WinForms project:

I am

[2021-01-11 19:36] buyaa-n commented on #4678
Yes in preview version

if you are not seeing this issue anymore could we close this issue?

[2021-01-11 19:38] DataJuggler commented on #4678
Yes you can close it. Any idea when this preview feature will be released into the main Visual Studio?

Thank you. Sorry I vented.

From: Buyaa <notifications@github.com>
Sent: Monday, January 11, 2021 1:37 PM
To: dotnet/roslyn-analyzers <roslyn-analyzers@noreply.github.com>
Cc: Corby Nichols <corby@datajuggler.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn-analyzers] CA 14

[2021-01-11 20:12] buyaa-n commented on #4678
Thanks, closing

Sorry i do not know that, but seems you can enable the preview features from options https://docs.microsoft.com/en-us/dotnet/desktop/winforms/migration/?view=netdesktop-5.0#prerequisites

[2021-01-11 20:12] #4678 closed

[2021-01-12 22:12] #4634 closed

[2021-01-13 00:10] bartdesmet opened #4690 "IDE0078 - Use pattern matching removes necessary side-effects in some cases"
Consider the following fragment from some parser using a `reader` to get characters:

[code]

IDE0078 suggests to rewrite this as:

[code]

which removes the `Read()` side-effect, and is immediately followed by another diagnostic that indicates that the pattern always matches.

Some more constraints may have to be enforced on the common expression (here `reader.Read()`) to filter out false positiv

[2021-01-13 02:33] Jebarson opened #4691 "CA1812 false report even when the class is initialized in xaml"
Warning	CA1812	XXX is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, make it static (Shared in Visual Basic).

.Net Core 3.1
VS 2019 Enterprise

The warning pops up even when the class is initialized in the xaml. In this specific case, it was a class implementing IValueConverter that is re

[2021-01-13 05:11] Youssef1313 opened #4692 "CA1812 message needs to be updated"
https://github.com/dotnet/roslyn-analyzers/blob/60fec5c28143441c2311e14c77f032a7c21cc19b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersResources.resx#L1106-#L1108

There are no 'Shared' classes in VB. Modules are the most similar thing. The current message suggests making a class 'Shared'.

[2021-01-13 06:23] pakdev opened #4693 "Add support for Deprecated/Compound terms to CodeAnalysisDictionary"
### Analyzer

**Diagnostic ID**: [CA1704](https://docs.microsoft.com/visualstudio/code-quality/ca1704)

### Describe the improvement

Currently, only `Recognized`/`Unrecognized` words are supported by CA1704. To fully implement CA1704, `Deprecated` and `Compound` terms must be considered in custom CodeAnalysisDictionaries.

[2021-01-13 18:45] maxkoshevoi commented on #3535
@Evangelink, @mavasani @sharwell Hi again =)
So, what do you think about analyzer in the comment above? It still have the benefits of warning user about data loss and doesn't have drawbacks of disabling JIT optimizations without valid reason (user can refactor method so it doesn't change first argument instead of adding `ref`).

[2021-01-13 20:50] bartdesmet opened #4696 "IDE0058 - Questionable behavior when the return value of some functions is discarded"
[code]

triggers IDE0058. There are many similar cases where it's typical to discard a result and the suggestion is a nuisance. Though deciding for which cases it's valuable to have the suggestion is a different matter...

Some other examples I ran into:

* `Interlocked.Increment`
* `MethodBase.Invoke` if the target method happens to be `void`-returning
* `bool`-returning `Remove` methods for coll

[2021-01-13 21:13] sharwell commented on #3535
I tried doing this, but it was much more difficult than expected. There were two primary problems:

1. Many types that are effectively read-only are marked as though they were mutable, and in many cases the analyzer can't tell the difference.
2. Many _members_ that could be marked `readonly` are not, and in many cases the analyzer can't tell the difference.

This led to an overwhelming number of f

[2021-01-14 06:57] bartdesmet commented on #4690
@mavasani this may be in the wrong repo as well. Can you check if this belongs in the roslyn repo instead?

[2021-01-14 13:42] msallin opened #4763 ".NET Analyzers: CA1508 false positive"
The line `bool nullable = IsNullable(objectType);` of the following code block emits a CA1508, which is wrong.

[code]

[2021-01-14 17:42] mavasani commented on #4692
We should also add single ticks around the placeholder.

[2021-01-14 17:50] #4653 closed

[2021-01-14 18:03] mavasani commented on #4636
Mark as a duplicate of ownership transfer isue.

[2021-01-14 18:24] bartdesmet opened #4697 "CA1801 - Remove unused parameter code fix should not attempt to fix custom operators"
For the following fragment:

[code]

CA1801 suggests to remove the parameters, resulting in invalid code with

[code]

The same holds for unary operators of course. While the warning for CA1801 is good, it's unactionable in terms of a code fix for special members like operators.

[2021-01-14 18:33] mavasani commented on #4697
Kindly use discard symbol names, such as `_`, `_1`, `_2`, etc. for cases where parameters are intentionally unused: https://github.com/dotnet/roslyn-analyzers/blob/edf95f72a20ed1c090a1639c8ec85bb5854fe09e/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/MicrosoftCodeQualityAnalyzersResources.resx#L1073-L1075

[2021-01-14 18:39] bartdesmet commented on #4697
Cool; I didn't know this was in already. I had seen the discussion on it and remember that it was also going to be brought up as a language feature to be able to use `_` as a discard for intentionally unused parameters.

[2021-01-14 18:40] bartdesmet commented on #4697
Should the code fix provider be adjusted not to offer an invalid fix though?

[2021-01-14 18:46] mavasani commented on #4697
Sounds reasonable.

[2021-01-14 20:05] AraHaan commented on #4697
How about this have the code fix provide an option to replace the unused param with a discard param esp when you use a trash param to provide an overload due to adding overloads with different params but all taking in the same types of information as the other versions do just to avoid a compile error saying the method was duplicated when in fact it takes in different inputs.

[2021-01-14 20:27] mavasani commented on #4697
That sounds like a good suggestion!

[2021-01-15 08:10] Rand-Random opened #4699 "CA1416 in Wpf projects"
### Analyzer

**Diagnostic ID**:
Severity	Code	Description	Project	File	Line	Suppression State
Warning	CA1416	'Utils.Foo4(object, string, BindingMode, IValueConverter, object, UpdateSourceTrigger, string)' is supported on 'Windows' 7.0 and later	WpfApp12 (net5.0-windows)	C:\Users\rfa\source\repos\WpfApp12\WpfApp12\Class1.cs	15	Active

### Analyzer source

**SDK**: Built in
**Version**: 5.0

### De

[2021-01-15 10:09] Youssef1313 commented on #4699
@buyaa-n, The image shows warnings reported when the TFM is net5.0-windows

[2021-01-15 15:01] shadow-cs commented on #4567
@avivanoff I feel your pain. But I also do understand @mavasani that not a lot of people use FxCop but for a few of us that do, I don't feel the migration to be easy to do. We're also migrating from `ruleset` to `.editorconfig` and one doesn't know which step of the migration caused the rule to stop reporting.

When in doubt one should first consult https://github.com/dotnet/roslyn-analyzers/blob/

[2021-01-15 15:28] Youssef1313 commented on #4697
@mavasani, Should *both* fixes (the existing one and the new suggested one) be offered for normal methods (not operator overloads)?

[2021-01-15 15:31] mavasani commented on #4697
@Youssef1313 It makes sense to offer the old fix (parameter removal) only for non-operator methods and new fix (rename parameter to have a discard symbol name) for all methods.

[2021-01-15 15:32] mavasani commented on #4697
@Youssef1313 Also note that we likely want to port the code fix to the corresponding IDE rule, as CA1801 will be deprecated starting .NET 6.0 SDK. See https://github.com/dotnet/roslyn-analyzers/issues/4498

[2021-01-15 17:32] buyaa-n commented on #4699
@Rand-Random, it would be helpful if you could attach/share this sample project, i am not familiar with WPF so it would take time to wire them u pmyself, thanks.

[2021-01-16 09:40] Youssef1313 commented on #4682
I'm working on this.

[2021-01-16 16:36] Youssef1313 opened #4705 "Enable or delete skipped tests"
The purpose of the following skipped tests is unclear to me.

https://github.com/dotnet/roslyn-analyzers/blob/1ead3c96987ec6200209ab602529b9bab573833d/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/OverrideGetHashCodeOnOverridingEqualsTests.cs#L60-L78

Code in them generates couple compile errors. e.g:

[code]

[2021-01-16 17:04] Youssef1313 commented on #4425
Pinging @gewarren

[2021-01-16 17:11] Youssef1313 commented on #4682
@sharwell I just found https://github.com/dotnet/roslyn-analyzers/issues/3496 while looking through issues.

- The other issue suggests the same as this, as well as other forms too.
- Your PR for the other issue, https://github.com/dotnet/roslyn-analyzers/pull/3537, doesn't seem to *currently* handle the `== default` case.

Should the case in this issue be handled by the analyzer in your PR (eithe

[2021-01-16 17:32] Youssef1313 commented on #2285
This is a Roslyn API issue. https://github.com/dotnet/roslyn/issues/17753.
Note: When the issue is fixed and the test is enabled, VB should be re-enabled again in:

https://github.com/dotnet/roslyn-analyzers/blob/abf4867b7a138180a0184421856e166022e164eb/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/QualityGuidelines/SealMethodsThatSatisfyPrivateInterfaces.Fixer.cs#L18

[2021-01-16 20:10] sharwell commented on #4682
I think it makes sense to use one analyzer for all of these cases

[2021-01-16 20:13] Youssef1313 commented on #4682
@sharwell Great. Since you made much more progress in your PR, I'm going to close mine.

[2021-01-17 12:35] Youssef1313 commented on #4672
@bartdesmet Because there is no `catch` clause, the above program should crash and the finally block won't be reachable with `null` value.

[2021-01-17 12:39] Youssef1313 commented on #4672
Ok I now see that if `Repro` is called in a `try` clause that has a `catch` the null check will be making a difference.

[2021-01-17 13:12] Youssef1313 commented on #4672
@mavasani Should the following check be done regardless it's compiler generated or not?

https://github.com/dotnet/roslyn-analyzers/blob/60fec5c28143441c2311e14c77f032a7c21cc19b/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/Maintainability/AvoidDeadConditionalCode.cs#L155-L156

[2021-01-17 14:06] Evangelink commented on #4705
Ticket on roslyn side is about implicit class. I have to admit I don't know enough VB.NET to know if we can have an implicit interface implementation with this syntax in VB.NET.

[2021-01-17 14:19] Youssef1313 commented on #2810
Shouldn't this be handled by CA2208 (if not already handled)

[2021-01-17 15:00] Youssef1313 commented on #4705
@Evangelink I think VB.NET doesn't support this.

[2021-01-17 16:23] Youssef1313 commented on #4657
I tried to write a test for this and it passed.

[code]

Maybe I'm not writing the test in the correct way?

[2021-01-17 18:29] Youssef1313 commented on #4652
A similar issue was fixed in https://github.com/dotnet/roslyn-analyzers/pull/3708 (commit: https://github.com/dotnet/roslyn-analyzers/pull/3708/commits/41c172b8d32a5f459bedf705dac21cdb2bae2f13)

[2021-01-18 16:20] Youssef1313 commented on #4705
Tagging @amcasey who wrote the analyzer and these tests in #743 and may have some information.

[2021-01-19 11:02] Youssef1313 commented on #4657
@mavasani It appears that "ISymbol.GetAttributes" method is returning an empty ImmutableArray. Hence, `IsPureMethod` is returning false. Is it a roslyn bug?

[2021-01-19 11:42] Youssef1313 opened #4710 "Feature: Adhere to ContractVerification attribute"
I found [ContractVerification](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.contracts.contractverificationattribute?view=net-5.0) attribute by chance :smile:

The description says:

So I believe we should adhere to it, or at least, have an option to that.

This should be applied to most (all?) analyzers.

[2021-01-19 11:55] Youssef1313 commented on #4657
Alright! Finally found the issue. The attribute is conditionally compiled:

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Contracts/Contracts.cs#L31-L35

When I define `CONTRACTS_FULL`, it works as expected.

[2021-01-19 12:27] Youssef1313 commented on #4710
This could even be a Roslyn feature, that is all analyzers (first-party and third-party) are configurable to whether to adhere to the attribute or not.

[2021-01-19 12:46] Youssef1313 commented on #4710
Tagging @terrajobst @stephentoub since this is related to .NET API usage.

[2021-01-19 12:53] stephentoub commented on #4710
This attribute is specific to the System.Diagnostics.Contract system and rewriter. It is not related to Roslyn analyzers.

[2021-01-19 13:06] Youssef1313 commented on #4710
@stephentoub Should `Pure` attribute be the same? It's currently checked by CA1806.

[2021-01-19 13:19] stephentoub commented on #4710
Personally,  I don't think CA1806 should be paying attention to it.
https://github.com/dotnet/runtime/issues/34098#issuecomment-604439020

[2021-01-19 13:29] Youssef1313 commented on #4657
Based on https://github.com/dotnet/roslyn/pull/50601#issuecomment-762832098, it seems that defining `CONTRACTS_FULL` isn't a good/correct solution for this.

[2021-01-19 13:40] Youssef1313 commented on #4710
Yes, I'm one of those who wanted to add the attribute anywhere it could benefit from CA1806.

@mavasani Are you okay with dropping Pure from CA1806?

Tagging @sharwell @333fred as well (https://github.com/dotnet/roslyn-analyzers/issues/1164 https://github.com/dotnet/roslyn-analyzers/pull/1171)

@stephentoub I think it also makes sense for the API docs of Pure to be clear about the actual intent of

[2021-01-19 14:13] rcatley commented on #4657
Excellent work Youssef1313. Thank you for your efforts.
While the change you have in mind for the roslyn source may not become an accepted solution, it has provided a (permanent?) workaround. -Any library using a PureAttribute needs to be compiled with CONTRACTS_FULL defined. This definition works at project level. I have updated https://github.com/rcatley/CrossAssemblyAnalysisMissed to show it wo

[2021-01-19 15:59] NN--- opened #4711 "False warning CA2248"
### Analyzer

**Diagnostic ID**: [CA2248](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2248): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.102](https://dotnet.microsoft.com/download/dotnet/5.

[2021-01-19 16:43] Youssef1313 commented on #4711
Probably fixed in #4575

[2021-01-19 16:49] #4665 closed

[2021-01-19 16:55] mavasani commented on #4672
Yes, that is correct. We cannot assume that first block of finally cannot have redundant null checks. For example, if the original repro is adjusted a bit such that `d` is guaranteed to be non-null prior to try block, `d?.Dispose()` indeed has a redundant `?.` which needs to be flagged.

This issue likely needs further debugging through the dataflow analysis for try/catch/finally blocks in https:/

[2021-01-19 17:00] mavasani commented on #2810
Yes, this may likely have been handled in CA2208 by @buyaa-n's recent updates to that analyzer. Buyaa, can you please verify/triage?

[2021-01-19 17:00] mavasani commented on #2810
@buyaa-n Feel free to port it to dotnet/runtime for triage if you feel this is not already covered by your enhancements to CA2208

[2021-01-19 17:03] mavasani commented on #4652
https://github.com/dotnet/roslyn-analyzers/pull/4707 has been created by @Youssef1313 for this issue.

[2021-01-19 17:07] #4537 closed

[2021-01-19 17:16] NN--- opened #4712 "False CA1508"
### Analyzer

**Diagnostic ID**: [1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/1508): `Do not use ReferenceEquals with value types`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.102](https://dotnet.microsoft.com/download/dotnet/5.0)

[2021-01-19 17:18] mavasani commented on #4711
Yes, confirmed this is fixed with https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3. Please also remove `<EnableNETAnalyzers>true</EnableNETAnalyzers>` when using the NuGet package, as that property renders the NuGet package redundant causing built in analyzers in the SDK to be preferred over the ones from the NuGet package.

[2021-01-19 17:18] #4711 closed

[2021-01-19 17:21] amcasey commented on #4705
That was 5 years and 2 teams ago, but my guess is that the test was supposed to confirm that the new analyzer did not report diagnostics for those code fragments.  Of course, it's quite possible that the fragments produce _other_ diagnostics.  I may have left those out of the baseline on the assumption that a new baselines would be generated when they were unskipped.  https://github.com/dotnet/ros

[2021-01-19 17:37] mavasani commented on #4710
We are not going to add support for ContractVerification.

[2021-01-19 17:37] #4710 closed

[2021-01-19 17:40] mavasani commented on #4705
Let's delete these tests and close the linked Roslyn issue as we are not planning to support scripting in VB.

[2021-01-19 17:46] mavasani commented on #4630
Sounds good - won't fix as per Sam's comment above.

[2021-01-19 17:46] #4630 closed

[2021-01-19 17:47] mavasani commented on #4630
If someone finds counter examples in the BCL, we can reopen this issue.

[2021-01-19 17:49] buyaa-n commented on #2810
There is an existing analyzer/fixer for [nameof(...)](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1507) which is more generic not only for ArgumentException and covering the above scenario. I think all scenarios in this issue are covered by [ArgumentException analyzer](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2208) an

[2021-01-19 17:53] mavasani commented on #4628
Tagging @stephentoub - what is the recommended ordering of the required parameters, when additional parameters are required for construction?

[2021-01-19 18:02] mavasani commented on #4626
Agreed. @genlu can you verify with a unit test?

[2021-01-19 18:13] mavasani commented on #4590
Verified that this has been fixed in master and does not repro on https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3

[2021-01-19 18:13] #4590 closed

[2021-01-19 18:42] buyaa-n commented on #2810
@mavasani i don't see any scenario not covered with updated [ArgumentException analyzer](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2208) and existing [ nameof(...)](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1507) analyzers, gonna close this issue, thanks

[2021-01-19 18:42] #2810 closed

[2021-01-19 21:43] mavasani commented on #3133
@genlu In case you are interested in writing a new dataflow based analyzer.

[2021-01-20 09:28] paulomorgado opened #4715 "Fix editorconfigs for Microsoft.CodeAnalyzis.NetAnalyzers"
Comparing microsoft.codeanalysis.netanalyzers\5.0.3\editorconfig\AllRulesEnabled\.editorconfig with microsoft.codeanalysis.fxcopanalyzers\3.3.2\editorconfig\AllRulesEnabled\.editorconfig shows that, while the severity is `warning` for all diagnistics in Microsoft.CodeAnalyzis.FxCopAnalyzers, it is `silent` or `suggestion` for several diagnostics in Microsoft.CodeAnalyzis.NetAnalyzers.

That defeat

[2021-01-20 14:10] Youssef1313 opened #4717 "Remove workaround and make fixer language-agnostic"
https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/CSharp/Microsoft.CodeQuality.Analyzers/Maintainability/CSharpUseNameofInPlaceOfString.Fixer.cs#L18-L28

The SyntaxGenerator bug was fixed in https://github.com/dotnet/roslyn/pull/42214

[2021-01-20 14:38] #4705 closed

[2021-01-20 14:54] Youssef1313 commented on #4715
https://github.com/dotnet/roslyn-analyzers/blob/4ce9cd5efe21ab9e0eabfd4eb3565cd2dde76b35/src/Tools/GenerateDocumentationAndConfigFiles/Program.cs#L1052

I haven't went into debugging this, but the above line is suspicious. It indicates that the default severity will be used:

https://github.com/dotnet/roslyn-analyzers/blob/4ce9cd5efe21ab9e0eabfd4eb3565cd2dde76b35/src/Tools/GenerateDocumentationAnd

[2021-01-20 14:57] mavasani commented on #4715
Yes, that sounds correct. This tooling was primarily designed for FxCopAnalyzers package where the rules were all Warning by default, some enabled and others disabled. This is no longer the case with NetAnalyzers, so we now need to bump up the severity to warning for enabled editorconfigs and rulesets.

[2021-01-20 16:23] #3496 closed

[2021-01-20 16:33] paulomorgado commented on #4715
If I can get a specification of what would be a good strategy, I can add it to https://github.com/paulomorgado/dotnet-analyzer-docmtr

[2021-01-20 17:02] #3826 closed

[2021-01-20 17:04] carlossanlop commented on #3826
Fix merged.
@mavasani do Roslyn analyzers get shipped on the same cadence as the SDK? Will this fix show up in Preview 1 when it gets shipped?
cc @jeffhandley

[2021-01-20 17:57] mavasani commented on #3826
Changes into master will get shipped with faster cadence as NuGet package: https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/

Additionally, these changes automatically flow into https://github.com/dotnet/roslyn-analyzers/tree/release/6.0.1xx-preview1, which merges into the SDK repo's master branch target .NET 6.0 Preview1.

[2021-01-20 18:35] Youssef1313 commented on #4544
This appears to be the same issue as https://github.com/dotnet/roslyn/issues/45877

[2021-01-21 11:33] Youssef1313 opened #4721 "Performance sensitive analyzers package"
I'm having some questions (and one suggestion) regarding this package:

- (suggestion) The package currently supports C# only and is based on syntax analysis. It could be improved to support VB using operation analysis, or add VB syntax analysis as well.
- Currently all rules are in `AnalyzerReleases.Unshipped`, is there any work to release it?
- It appears that this package was a direct port from

[2021-01-21 16:29] #4717 closed

[2021-01-21 17:01] #4715 closed

[2021-01-21 17:11] mavasani commented on #4721
Tagging @genlu @sharwell

IMO, this is still an experimental package, with no concrete plans at the moment towards a release.

[2021-01-21 17:13] #4589 closed

[2021-01-21 17:40] mavasani commented on #4518
We can do couple of things here:
1. Extend the analyzer to also analyze StringBuilder.Append method
2. Expose an editorconfig option to allow custom user-defined methods to be included in analysis.

Tagging @Evangelink who has helped in implement similar features in the past.

[2021-01-21 17:46] mavasani commented on #4508
Tagging @terrajobst @stephentoub - we likely need to revisit this rule based on the latest API design guidelines.

[2021-01-21 17:51] mavasani commented on #4493
The compiler should already generate an error when a code path has a missing return. Can you please clarify the request?

[2021-01-21 18:09] Youssef1313 commented on #4721
@mavasani Is it worth attempting to re-write these analyzers as operation analyzers for now? or let this task when some plans regarding release are made?

[2021-01-21 18:20] mavasani commented on #4721
@Youssef1313 We have https://github.com/dotnet/roslyn-analyzers/pull/3016 and https://github.com/dotnet/roslyn-analyzers/pull/2228 to already kick start that effort. Would need someone to help review/drive those PRs to start with.

[2021-01-21 19:12] buyaa-n opened #4727 "PooledConcurrentDictionary<K,V>.GetInstance(...) assertion failure in certain conditions"
### Analyzer

**Diagnostic ID**: [CA1416](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1416): `Validate platform compatibility`

### Analyzer
**Version**: 6.0.0-preview1.21054.10

### Describe the bug

While using the above version in debug mode for runtime repo and after enabling browser TFM build attribute for the repo then you would see warnings for APIs unsuppor

[2021-01-21 19:36] sharwell commented on #4482
The `IDisposable` pattern covered by the code analysis rules accounts for the possibility of derived types adding a finalizer if the base type does not have one. Since under this pattern `GC.SuppressFinalize` is the final line of the non-virtual implementation of `IDisposable.Dispose()`, it needs to be added in the base class whether or not a finalizer is added.

Derived types which override `Disp

[2021-01-21 19:36] #4482 closed

[2021-01-22 03:54] drewnoakes opened #4728 "Invalid CA1508 dead conditional code diagnostic on using statement"
### Analyzer

**Diagnostic ID**: [CA1508](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1508): `Avoid dead conditional code`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

**Version**: 5.0.3

### Describe the bug

Seen here in the .NET Project System:

https://github.

[2021-01-22 03:59] drewnoakes commented on #4728
Another example in VB.NET code, also related to a `Using` statement:

![image](https://user-images.githubusercontent.com/350947/105444685-6aca8480-5cc2-11eb-9393-46d5b460f13d.png)

[2021-01-22 04:36] ReubenBond commented on #3427
![image](https://user-images.githubusercontent.com/203839/105446976-1ecb0180-5c28-11eb-80e6-3829b6bbe1e5.png)

What am I doing wrong?

As a matter of usability, could the default equality comparer implementation be made to work 'correctly' for all `ISymbol` implementations?

@carlossanlop, I believe you should be passing the correct IEqualityComparer instance to the Dictionary's constructor.

[2021-01-22 08:12] weltkante commented on #3427
you're probably on the wrong issue, the PR #4571 was for issue #4568 (which has been mentioned [above](https://github.com/dotnet/roslyn-analyzers/issues/3427#issuecomment-752056546))

@ReubenBond Same question was asked earlier above, this was issue #4568, you probably don't have the fix frm PR #4571 yet

[2021-01-22 09:08] Youssef1313 commented on #4728
A similar issue: https://github.com/dotnet/roslyn-analyzers/issues/4526 was claimed to be fixed in 5.0.1.

[2021-01-22 14:46] ghost opened #4730 "AD0001: Analyzer 'Microsoft.NetCore.Analyzers.InteropServices.PlatformCompatibilityAnalyzer' threw an exception of type 'System.ArgumentException' with message 'An element with the same key but a different value already exists. Key: 'Microsoft.CodeAnalysis.Operations.LocalReferenceOperation''."
**Version Used**:
.Net 5 SDK 5.0.102
Visual Studio Build Tools 2019 16.8.4

**Steps to Reproduce**:
Updating the code base of our program from .net core 3 to 5.
When compiling a clean build the compiler throws this warning when running exact same build.
We run the compilation using the command line and the build tools for visual studio.
However when building the program with the Visual Studio IDE

[2021-01-22 15:19] Youssef1313 commented on #4712
Following is where this operation was assigned `PredicateValueKind.AlwaysTrue` in case that helps fixing the issue faster.

https://github.com/dotnet/roslyn-analyzers/blob/c72e1d6b634d2467a8026a0ab8ee7ba3ff7097bc/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs#L1309-L1320

[2021-01-22 15:56] jnm2 commented on #4518
@mavasani Would you consider building in knowledge of TextWriter.Write/Line and Console.Write/Line as well as StringBuilder.Append?

[2021-01-22 16:04] Youssef1313 commented on #4712
Another part of the code that does seem to be involved:

https://github.com/dotnet/roslyn-analyzers/blob/c72e1d6b634d2467a8026a0ab8ee7ba3ff7097bc/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs#L1541

https://github.com/dotnet/roslyn-analyzers/blob/c72e1d6b634d2467a8026a0ab8ee7ba3ff7097bc/src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOper

[2021-01-22 16:08] AArnott opened #4729 "RS0017 claims APIs are not public when they are created by Source Generators"
### Analyzer

**Diagnostic ID**: RS0017 Symbol '{0}' is part of the declared API, but is either not public or could not be found

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)

**Version**: 3.3.2 (Latest)

### Describe the bug

When a PublicAPI.Shipped.txt file contains an API that is pr

[2021-01-22 16:11] sharwell commented on #4729
Does this happen during command line builds, inside the IDE, or both?

[2021-01-22 16:17] AArnott commented on #4729
The two seem to agree.

[2021-01-22 16:19] mavasani commented on #4730
@ohgrad Would you be able to share either a repro project or the exception stack trace (you can get the stack trace by expanding the error in the error list)?

[2021-01-22 16:20] mavasani commented on #4730
@ohgrad Can you also try installing https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/5.0.3 and see if that fixes your issue?

[2021-01-22 16:21] mavasani commented on #4729
Tagging @jasonmalinowski. Could be related to https://github.com/dotnet/roslyn/issues/50357

[2021-01-22 16:24] mavasani commented on #4518
@jnm2 Yes, it would be fine to special case and analyze by default any BCL methods which fall in this bucket.

[2021-01-22 16:53] Youssef1313 commented on #4728
I attempted to use 5.0.3 in https://github.com/dotnet/project-system/pull/6855, but this false positive is still there unfortunately.

[2021-01-22 17:49] Youssef1313 commented on #4728
Ah, found it.

https://github.com/dotnet/project-system/blob/39a73df453543ed68120066a8f156775f06a387b/build/import/Packages.targets#L113

It's still using the deprecated package.

[2021-01-22 17:57] mavasani commented on #4728
Thanks @Youssef1313.

@drewnoakes You can follow steps at https://docs.microsoft.com/visualstudio/code-quality/migrate-from-fxcop-analyzers-to-net-analyzers to migrate to newer analyzer package.

[2021-01-22 20:25] drewnoakes commented on #4728
Thanks. I found those docs easily enough (as feedback on the usability of the change between packages). For this CA there were loads of false positives beyond the one mentioned here (such was failures in definite assignment analysis), so I disabled it.

Locally I have an attempt at not just upgrading the package but also setting AllEnabledByDefault and latest analysis level, which produced ~600 di

[2021-01-22 21:07] Youssef1313 commented on #4728
I see most of them are around `Debug.Assert`s followed by an `if` condition. Will try to write a minimal repro soon.

[2021-01-22 21:26] KylePolansky opened #4732 "CA1802 false positive on static readonly interpolated strings in Visual Studio 16.9 Preview 3 targeting net472"
🔗 Also filed as [AB#1287517](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1287517)

### Analyzer

**Diagnostic ID**: [CA1802](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1802): `Use Literals Where Appropriate`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers)

[2021-01-22 21:52] Youssef1313 commented on #4732
@mavasani This would be easy enough to fix here. But I feel like it's a roslyn issue. An `IInterpolatedStringOperation` should not have a `ConstantValue` when the target language version doesn't support constant strings. Currently, the compiler produces constant value for it.

[2021-01-23 10:55] manfred-brands commented on #4248
This works on platforms that have `NotNullAttribute` defined (netstandard2.1, netcoreapp3.1, net5.0), but not on platforms that use [Nullable](https://www.nuget.org/packages/Nullable/), [ReferenceAssemblyAnnotator](https://www.nuget.org/packages/TunnelVisionLabs.ReferenceAssemblyAnnotator/1.0.0-alpha.160) or otherwise define an `intern` version of `NotNullAttribute` to get nullable support for oth

[2021-01-23 18:19] Pilchard123 commented on #4493
The will currently generate an error if there is a path that does not return. I'm asking if it's possible to identify _which_ path(s) don't return.

[2021-01-23 18:34] Pilchard123 commented on #4493
As an example, the code below gives the error "'Program.Main()': not all code paths return a value". Could it instead (or as well) say something like "'Program.Main()' will not return a value if line 16 is reached"?

[code]

[2021-01-24 05:03] neilcawse commented on #4730
We have the same problem and using the very latest 5.0.3 version. It reproduces with this:
if (OperatingSystem.IsWindows())
{
    new FileSecurity(fileInfo.FullName, AccessControlSections.Access).
        SetAccessRule(new FileSystemAccessRule(new SecurityIdentifier(WellKnownSidType.WorldSid, null), FileSystemRights.FullControl, AccessControlType.Allow));
}

CSC : error AD0001: Analyzer 'Microsoft

[2021-01-24 06:35] skrysmanski commented on #4248
@manfred-brands

Back in the day (CA1062 is very old) you would create your own `ValidatedNotNullAttribute`. You can still do this today. And you won't get any conflicts because the namespace of the attribute doesn't matter.

[2021-01-24 09:41] aelij opened #4733 "CA1822 false positive for partial methods with attributes"
### Analyzer

**Diagnostic ID**: [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/CA1822): Mark members as static

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.102](https://dotnet.microsoft.com/download/dotnet/5.0)

### Describe the bu

[2021-01-25 05:51] manfred-brands commented on #4248
@skrysmanski Yes, that is what he had done in the past. We were hoping with the nullability changes we no longer needed this in every assembly with a validator. Now the [NotNull] attribute check only works for >= netstandard2.0. Unfortunately we all still have to maintain compatibility so that code can run on net framework 4.8. Even though nullability works there, CA1062 seems to be the only that

[2021-01-25 09:42] ohgrad commented on #4730
@mavasani
[stacktrace.txt](https://github.com/dotnet/roslyn-analyzers/files/5865589/stacktrace.txt)

[2021-01-25 09:58] ohgrad commented on #4730
@mavasani using the package reference that you have mentioned did not solve the problem, same .csproj still throws the same problem.

[2021-01-25 10:32] ohgrad commented on #4730
like @neilcawse we also use the `OperatingSystem.IsOSPlatform()` check for windows in the exact .csproj that throws the compiler warning.

[2021-01-25 21:51] buyaa-n commented on #4699
@Rand-Random I was not able to repro the warnings you are seeing after creating a solution with projects same as in your description. Building from VS or console, adding a new method into Utils.cs and using them in App.xaml.cs not triggering any warning, i might miss something you didn't mention, here is my sample project [WpfApp1.zip](https://github.com/dotnet/roslyn-analyzers/files/5869822/WpfAp

[2021-01-25 22:04] nir-yurman opened #4735 "False positive for CA2100"
### Analyzer

**Diagnostic ID**: [CA2100](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2100): `Review SQL queries for security vulnerabilities`

### Analyzer source

**SDK**: [Built-in CA analyzers in .NET 5 SDK or later](https://docs.microsoft.com/dotnet/fundamentals/productivity/code-analysis)

**Version**: [SDK 5.0.100](https://dotnet.microsoft.com/download

[2021-01-25 22:31] mavasani commented on #4735
Ah this might be due to the fact that string interpolation, i.e. `$` was not always treated as a non-constant string by the C# compiler, even if all its constituents parts are all constants. I believe this might have changed recently with the recent C# language changes, and this no longer holds. I am not sure if this needs a fix in our DFA framework OR needs the users to move to a newer C# langaug

[2021-01-26 08:57] Rand-Random commented on #4699
I am facing the error with your application, hope this video helps to demonstrate it:
https://user-images.githubusercontent.com/9868626/105822732-b039cb00-5fbc-11eb-8094-893c8096a375.mp4

[2021-01-26 15:38] roji opened #4736 "Allow filtering out certain APIs from the Public API analyzer"
In EF Core, we have a "pubternal" policy whereby almost everything is exposed publicly, but types are marked as internal by placing them under a `*.Internal` namespace, and specific members can be marked via a special attribute. We have an analyzer that flags accidental usages of these APIs in code outside the assembly.

In order to effectively use the Public API analyzer, we'd need the ability to

[2021-01-26 15:46] skrysmanski commented on #4672
@bartdesmet

I think this is wrong. The `finally` block is always executed - even on exceptions (that's what `finally` is for).

[2021-01-26 15:49] skrysmanski commented on #4672
On a different note: I'm getting CA1508 for this code:

[code]

This is wrong because the constructor of `X509Certificate2` can throw exceptions in which case `pubCert` would be `null`.

I'm guessing this is the same problem as in this issue? Or should I create a separate issue for this?

[2021-01-26 18:11] genlu commented on #4672
I think it's likely the same issue, no need to create a separate one for now.

[2021-01-26 18:42] vsfeedback opened #4737 "A Possible Improvement for Unreachable Code Detection about String Comparison in C #"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/A-Possible-Improvement-for-Unreachable-C/1316259)._

---
[Compiler warning CS0162] (https://docs.microsoft.com/zh-tw/dotnet/csharp/misc/cs0162) provides unreachable code detection feature. I think that there is a possible improvement for unreachable code detection.

Let's take a look at

[2021-01-26 20:46] drewnoakes commented on #4736
Could this be done with editorconfig? So long as the internal namespaces are also physically located within one or more folders, it should be possible to disable the analyser in those folders altogether.

On a phone now but can dig out an example later if that would be helpful.

[2021-01-26 20:48] drewnoakes commented on #4736
Oh you call this out in your post.

Why would that not be adequate?

[2021-01-26 20:53] roji commented on #4736
I'm not sure it's a code idea to hard-code the assumption that namespaces and directories correspond - different users may have different code layouts etc. Other than that, I'm assuming it should be relatively simple to add an option to editorconfig to hold the patterns to be applied, just as we have options for specifying other kinds of lists (e.g. public/internal/private scope setitngs).

[2021-01-26 22:32] drewnoakes commented on #4736
It seems like namespace-level control of analyzers could be a more general request for all analyzers.

.editorconfig only provides file-path level control as far as I know. It'd have to be a via a new rule, as you say. Complex rules would need long values on a single line. Using file/path level control does feel more elegant, if it would work.

Another alternative could be a suppression attribute

[2021-01-26 23:05] mavasani commented on #4728
I am closing this out as the original reported issue with using statement has been fixed. Please file separate issue(s) for other false positives.

[2021-01-26 23:05] #4728 closed

[2021-01-26 23:09] mavasani commented on #4736
We can potentially this editorconfig option to specify exclusions: https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#excluded-symbols. Need a more concrete proposal.

Tagging @Evangelink

[2021-01-26 23:11] mavasani commented on #4733
This could either be a Roslyn bug in analyzer execution on source generated files OR may need a fix in the analyzer.

[2021-01-26 23:12] mavasani commented on #4733
One thing to check would be any behavior difference in command line build case and IDE intellisense case.

[2021-01-26 23:15] mavasani commented on #4732
We think the IOperation tree is fine to report a constant value here, but the analyzer should be updated to handle and bail out for this case.

[2021-01-26 23:25] mavasani commented on #4450
We can potentially use an editorconfig option to allow specifying custom method symbols to analyze, we would need a proposal for this. Tagging @Evangelink.

[2021-01-26 23:40] genlu commented on #4721
Yes, this is tracked by an umbrella issue https://github.com/dotnet/roslyn-analyzers/issues/2120

Tracked by https://github.com/dotnet/roslyn-analyzers/issues/2259. I'm inclining to have new IDs (but not with prefix "CA", probably "PS"). @sharwell thoughts?

One thing that blocks the publication of this package is editorconfig support. When I ported it over from `RoslynClrHeapAllocationAnalyzer`,

[2021-01-27 00:49] genlu commented on #4626
Verified with code above this is fixed. Given we already have a test go though exact same code path, I didn't add a new test for it.
https://github.com/dotnet/roslyn-analyzers/blob/1ead3c96987ec6200209ab602529b9bab573833d/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/AvoidDeadConditionalCode_NullAnalysis.cs#L7013

[2021-01-27 00:49] #4626 closed

[2021-01-27 02:02] lakeman commented on #4730
I can reproduce the FlowCaptureReferenceOperation exception by wrapping the test in a loop;

[code]

In this case, moving the loop body into another method may be a viable workaround.

[2021-01-27 04:34] mavasani commented on #4730
Thank you, that helps! I'll investigate.

[2021-01-27 05:17] buyaa-n commented on #4699
Thank you @Rand-Random i was able to repro, will investigate

[2021-01-27 08:39] aelij commented on #4733
If I set `CA1822` to a warning, I see it in `dotnet build`, so not an IDE issue.

[2021-01-27 08:42] aelij commented on #4733
My mistake - it's unrelated to generators. Just a bug in the analyzer:

[code]

[2021-01-27 08:43] Youssef1313 commented on #4721
I'll try to look into that.

[2021-01-27 13:50] roji commented on #4736
@mavasani thanks for the link to `excluded_symbol_names`, I wasn't aware of it.

For filtering by namespaces, it seems like it's already possible to specify `excluded_symbol_names = N:.Internal*` to exclude all APIs under a namespace ending with `.Internal` - so is this simply a matter of making excluded_symbol_names supported by the Public API Analyzer?

For attribute-based filtering it seems lik

[2021-01-27 14:04] Youssef1313 opened #4742 "CA1508: False positive using Debug.Assert"
[code]

![image](https://user-images.githubusercontent.com/31348972/106001971-3f2c0d80-60b9-11eb-92eb-34edf3b7255c.png)

The condition can still be reachable in release builds.

This is related to most (if not all) diagnostics by this rule produced on project-system.

FYI @drewnoakes

[2021-01-27 14:07] Youssef1313 opened #4743 "CA1508: False negative using DoesNotReturnIf"
[code]

If `Test` is conditionally compiled, there shouldn't be a diagnostic (see #4742). Both issues are closely related, I'd expect both of them to be fixed together.

[2021-01-27 14:30] Youssef1313 opened #4744 "Consider enabling CA2100 (security analyzer) against generated code"
### Analyzer

**Diagnostic ID**: [CA2100](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2100)

Consider enabling CA2100 against generated code. It's currently not enabled:

https://github.com/dotnet/roslyn-analyzers/blob/b148fa89c974a72c28184931767835709f34d1fa/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Data/ReviewSqlQueriesForSecurityVulnerabilities.cs#L41

A

[2021-01-27 14:46] Youssef1313 commented on #4735
I believe it only needs moving to a newer compiler version only. No need to upgrade to a newer language version.

I also think we won't be able to reproduce this issue in tests if #4741 gets merged. See https://github.com/dotnet/roslyn-analyzers/pull/4741#discussion_r565197259

[2021-01-27 16:20] SetTrend opened #4745 "CA1816: Call GC.SuppressFinalize correctly -- Redundant suggestion?"
### Analyzer

**Diagnostic ID**: [CA1816](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1816)

### Describe the improvement

From the documentation:

<br/>

**I believe this part of the rule makes too many assumptions**
<br/>

### Describe suggestions on how to achieve the rule

The following cases may occur:

1. No class will derive from current class
2. A cla

[2021-01-27 17:07] GF-Huang commented on #1089
Similar issue.

![image](https://user-images.githubusercontent.com/4510984/106026764-2cd7c100-6105-11eb-8a76-a5be4d3ef7dc.png)

Win10 20H2
VS2019 16.8.4
.NET 5

[2021-01-27 17:55] genlu commented on #4721
@Youssef1313 That'd be awesome! Thanks!

[2021-01-27 18:41] mavasani commented on #4730
So I verified this issue does not repro on the latest bits. https://github.com/dotnet/roslyn-analyzers/commit/20676de948ac550979776914f5fdff0a850cf527 should have resolved this exception, we replaced the `Add` call on the dictionary with an explicit overwrite, so the exception in the given stack trace is no longer possible.

This fix first went into `release/5.0.2xx` branch, so if your analyzer as

[2021-01-27 18:43] buyaa-n commented on #4699
It seems VS Intellisense issue not the analyzer, it is not happening after build, only after rebuilding errornous code and fixing the errors. @mavasani could we transfer this issue to VS Intellisense team?

[2021-01-27 18:47] mavasani commented on #4699
@buyaa-n Can you please upload a zip file with the project where you can repro the issue? That would make it much easier for the next person to investigate to get the investigations going fast.

[2021-01-27 18:49] mavasani commented on #4699
@buyaa-n @Rand-Random Can you folks also mention the Visual Studio version where you are seeing the issue?

[2021-01-27 18:49] Youssef1313 commented on #4699
@mavasani It's already in https://github.com/dotnet/roslyn-analyzers/issues/4699#issuecomment-767135598

[2021-01-27 18:52] buyaa-n commented on #4699
Yes, I have uploaded above, thanks @Youssef1313 , FYI it only reproducable after certain steps showed in the @Rand-Random 's [recording ](https://user-images.githubusercontent.com/9868626/105822732-b039cb00-5fbc-11eb-8094-893c8096a375.mp4)

[2021-01-27 18:54] buyaa-n commented on #4699
My VS is: `Visual Studio Enterprise 2019 Preview, Version 16.9.0 Preview 2.0`

[2021-01-27 18:56] mavasani commented on #4699
Perfect, thanks @buyaa-n. I'll investigate.

[2021-01-27 18:58] Youssef1313 commented on #4699
I just looked at the attached zip. I found `<TargetFrameworks>net47;net5.0-windows</TargetFrameworks>` in `WpfApp1.csproj`. Isn't the diagnostic correct in this case?

[2021-01-27 19:04] buyaa-n commented on #4699
Not correct, the analyzer should be off for net47, anyway i can repro it even without net47, i.e. with `<TargetFrameworks>net5.0-windows</TargetFrameworks>`.